[2022-06-21 00:28] chlowell commented on #18352
I think I understand what's happening here. Before I get into that, how do you intend to authenticate? For `DefaultAzureCredential`, all that's left after managed identity is the Azure CLI--is that available to GitHub Actions? If you want to authenticate a service principal, you need to set the right [environment variables](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/azidentity#readme

[2022-06-21 05:09] Rohitrajak1807 opened #18443 "Add Log analytics query execution API support"
### Feature Request

Currently working on a project that requires us to track resource usage on an ACI virtual node within an AKS cluster. Log analytics workspaces allows us to execute KQL queries to get the usage, but we require programmatic access to this feature.

[2022-06-21 06:02] tadelesh commented on #18354
@kany Thanks for the log. Nothing return from HTTP for subscription `85513e74-2aae-4f6d-bb54-0549a72dcacd`. I'll let service team to have a look.

[2022-06-21 06:04] tadelesh commented on #18354
@navba-MSFT You could find `X-Ms-Request-Id` from the log. Could you help to let service team to check this request's result?

[2022-06-21 06:11] navba-MSFT commented on #18426
@yonsken Could you please share the failing Server request id here ? while reproducing the issue with SharedKeyCredential. Awaiting your reply.

[2022-06-21 06:17] navba-MSFT commented on #18434
Adding Service team to look into this.

@azureSQLGitHub Could you please look into this issue and provide an update ? Awaiting your reply.

[2022-06-21 07:47] lirenhe commented on #18428
cc @xboxeer

[2022-06-21 10:01] lmejbar opened #18445 "List function results do not match the CLI"
### Bug Report

- github.com/Azure/azure-sdk-for-go/sdk/azcore v1.0.0
- github.com/Azure/azure-sdk-for-go/sdk/internal v1.0.0 // indirect
- github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resources/armresources v1.0.0
- github.com/AzureAD/microsoft-authentication-library-for-go v0.5.1 // indirect
- output of `go version` go 1.18

- What happened?
1. When I use the CLI and call `az vm list  -

[2022-06-21 14:58] jhendrixMSFT commented on #18445
When creating the client, you need to use the same cloud configuration as the credential (it defaults to `cloud.AzurePublic`).
[code]

[2022-06-21 15:02] jhendrixMSFT commented on #18443
The data-plane spec for this is https://github.com/Azure/azure-rest-api-specs/blob/main/specification/operationalinsights/data-plane/Microsoft.OperationalInsights/stable/v1/OperationalInsights.json

[2022-06-21 19:01] yonsken commented on #18426
@navba-MSFT Of course,
`2cf1f042-101e-004f-18a0-8596bd000000`

Additional if required:
`87afe93c-001e-0021-5aa0-85c392000000`
`696759b0-101e-005f-12a1-8553d5000000`

[2022-06-21 20:12] sheivin commented on #18278
@navba-MSFT Thank you for getting back with mode details. My questions are specific to VMSS created for AKS. What is the timeline to support flex orchestration for scale sets within AKS? Is this already a feature request?

[2022-06-22 03:24] navba-MSFT commented on #18426
@yonsken Apologies for the late reply. Thanks for getting back. I am looking into this. I will provide an update soon.

[2022-06-22 03:25] navba-MSFT commented on #18423
@ng-druid Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-06-22 06:38] navba-MSFT commented on #18423
@ng-druid Did you try the sample code present [here](https://github.com/Azure-Samples/azure-sdk-for-go-samples/tree/main/sdk/resourcemanager/appservice/staticsite) ? Awaiting your reply.

[2022-06-22 10:00] navba-MSFT commented on #18426
@yonsken I looked at the backend logs for the above failing request ID. Please follow the below 2 actions plans and let me know if that helps:

**Plan 1:**
Could you please change the access level of your container "cXXXs0" to `public` and test again?

More Info [here](https://docs.microsoft.com/en-us/rest/api/storageservices/put-block-from-url).

**Plan 2:**
If the above Plan 1 doesn't help, then

[2022-06-22 10:31] lirenhe commented on #18436
@bganapa,  as this is the ask for azurestack, could you help to check whether this behaviour is expected? Thanks

[2022-06-22 13:31] WTIGER001 commented on #18321
Worked! Sorry it took a while for me to get back to you... Thanks for the help.

[2022-06-22 14:02] CecileRobertMichon commented on #18436
@lirenhe this is not azurestack related. This error occurred in Azure Public Cloud.

[2022-06-22 14:05] CecileRobertMichon commented on #18436
Here is the HTTP response if it helps:

[code]

[2022-06-22 17:54] #16644 closed

[2022-06-22 18:19] chlowell commented on #18324
Closing this because we decided to remove the `Properties` type.

[2022-06-22 18:19] #18324 closed

[2022-06-22 18:48] chlowell commented on #18288
Closing this because we decided to remove the crypto client (the generated keys client has all its capabilities).

[2022-06-22 18:48] #18288 closed

[2022-06-22 18:50] chlowell commented on #18319
Closing this because we decided to remove the handwritten API in question.

[2022-06-22 18:50] #18319 closed

[2022-06-22 19:46] chlowell opened #18460 "Remove azkeys convenience API"

[2022-06-22 19:47] chlowell opened #18461 "Remove azcertificates convenience API"

[2022-06-23 02:56] Alancere commented on #17470
@magodo Fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v66.0.0

[2022-06-23 02:56] #17470 closed

[2022-06-23 03:39] lirenhe commented on #18436
@tadelesh, could you follow up on this?

@bganapa, could you help to check whether 'compute.VirtualMachineImagesClient.ListSkus' is a valid API for AzureStack?

We are released track2 GO SDK and all track 1 libraries except azure stack are now deprecated. https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/compute/armcompute is the latest library.

[2022-06-23 03:55] magodo commented on #17470
@Alancere We are using the sdk for multiple resources, though the issue is fixed in v66.0.0,  as the same commit removed a lot of packages that are under used by us, it means we can't upgrade the SDK to this version.

[2022-06-23 03:58] tadelesh opened #18464 "Refine mgmt. test util to adapt latest azcore"
1. Upgrade to azcore/v1.1.0
2. Replace custom poll method with azcore test support

[2022-06-23 05:29] tadelesh commented on #17470
@magodo Do you mean some removed preview version in v66 are used (v65 also removed some, the package size is over limit, all removed version seems to have newer stable version)? As we are trying to increase the adoption rate for new version, we are trying to limit the release of the old version, only for deprecation/severe security issue.

[2022-06-23 06:07] tadelesh commented on #18436
Thanks @CecileRobertMichon. We'll involve service team to see whether only location `canadacentral` is case-sensitive. BTW, is there any other API which has the same location problem?

[2022-06-23 08:24] navba-MSFT commented on #18436
Adding Service team to look into this.

@Drewm3, @avirishuv, @Vaibhav-Agar, @amjads1 Could you please look into this issue ?

[2022-06-23 13:45] PramodValavala-MSFT commented on #18439
@mrozitron The SDK uses the [Alerts - List REST API](https://docs.microsoft.com/en-us/rest/api/securitycenter/alerts/list) under the hood, which doesn't support any filtering of any kind.

You will have to filter them in your code. Feel free to raise a feature request for it over [here](https://feedback.azure.com/d365community/forum/45d643ce-2025-ec11-b6e6-000d3a4f0f84).

[2022-06-23 13:48] #18439 closed

[2022-06-23 13:54] mrozitron commented on #18439
Done: https://feedback.azure.com/d365community/idea/2e59c3d0-fbf2-ec11-a81b-6045bd796569

[2022-06-23 16:15] dibrinsofor opened #18467 "Messages failing to send"
### Bug Report

- import path `.../sdk/messaging/azservicebus`
- SDK version`latest`
- go-version `1.18`

Setup azure app service to send messages to a queue using
[code]
on the azure portal, it reflects that requests are coming through but is not registering the messages. I have tried to lookup logs but cannot pinpoint where the problem is coming from. the queue name is accurate, and I am generat

[2022-06-24 06:53] navba-MSFT commented on #18354
@kany @tadelesh Apologies for the late reply. I tried to run the same above sample and I am able to list all the resources just fine.

My request also used the same API version (2021-04-01) and it did load. However the AzCLI used api version (2021-02-01-preview). This shouldn't make much difference AFAIK.

Before I involve the Service Team, could you try with the below sample code and check if tha

[2022-06-24 14:23] kany commented on #18354
@navba-MSFT I've updated the code to resemble what you have above.
[code]

I see this error:
[code]

The credentials I'm using have `read` access at the SQL Server level and at the Resource Group level.
<img width="834" alt="Screen Shot 2022-06-24 at 9 21 59 AM" src="https://user-images.githubusercontent.com/172834/175555613-1f7f79c6-1d14-4652-9f7b-7b97178017d2.png">

[2022-06-24 16:05] navba-MSFT commented on #17809
@kabal2010 This is pending with Service team now.

@josephkwchan @jennyhunter-msft Could you please provide an update on this ?

[2022-06-24 16:14] kabal2010 commented on #17809
@navba-MSFT
Thank you

[2022-06-24 21:47] richardpark-msft commented on #18467
Hi @dibrinsofor,

Let's try a few things, see if we can flush this bug out of hiding. :)

First, can you turn on debug logging for the package? This'll give us a bit more information about what's happening internally, and might give us the context we need to see where the failure is.

https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/messaging/azservicebus/README.md#logging

This should give

[2022-06-26 08:31] VirajSalaka commented on #17408
Hi @richardpark-msft ,

we are already on to SDK version: v0.4.0, golang version 1.18.1, and we observed the same issue a couple of times recently. This time we had the sdk debug logs enabled too.

Let me explain the nature of this issue. From our application logic what we does is we call the `receiveMessages` method and we iterate each message and add to a go channel (with no buffer). And once go

[2022-06-26 08:41] VirajSalaka opened #18480 "[azservicebus] ASB client stopped receiving messages"
### Bug Report

pkg: github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus

- SDK version 0.4.0

- GO version 1.18.1

- What happened?

ASB client stopped receiving messages forever in its lifetime.

Since it same as a previous issue reported by me, I have added a comment. https://github.com/Azure/azure-sdk-for-go/issues/17408#issuecomment-1166454090

- What did you expect or want to happen

[2022-06-26 20:59] ng-druid commented on #18423
@navba-MSFT The sample you provided appears to be exactly what I was looking for. Thanks

[2022-06-26 20:59] #18423 closed

[2022-06-27 04:00] navba-MSFT commented on #18354
@kany Thanks for getting back. This below error is related to the RBAC permissions.

  "error": {
    "code": "AuthorizationFailed",
    "message": "The client '4b00e810-f4a3-4149-aa3b-36ae361939c3' with object id '4b00e810-f4a3-4149-aa3b-36ae361939c3' does not have authorization to perform action 'Microsoft.Sql/servers/read' over scope '/subscriptions/85513e74-2aae-4f6d-bb54-0549a72dcacd/resource

[2022-06-27 04:10] navba-MSFT commented on #18426
@yonsken I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you  had a chance to try the above suggestions. Awaiting your reply.

[2022-06-27 15:16] chrislinan commented on #16716
Hi @Alancere, I have the same question with @vijayrajah since it has passed 6 months. Do you have any updates for this?
I am using the SDK: "github.com/Azure/azure-sdk-for-go/profiles/latest/resourcehealth/mgmt/resourcehealth"
I can only find operations and availability clients in this SDK, the other three are missing.
But I want to read the events information and impacted resources from the SDK.

[2022-06-27 17:33] richardpark-msft opened #18482 "[azservicebus] Use the cancellation features of go-amqp, rather than cancelling manually"
go-amqp has updated to take contexts, and should handle cancellation properly, so we can eliminate some of the code that we've got like in PR#18479.

The original scenario for this particular fix was when we were doing an `ServiceBusClient.AcceptNextSesssion()` - this leads to a wait for about 60 seconds (or until a session actually arrives). If the user were to cancel then we'd need to make sure

[2022-06-27 18:47] richardpark-msft commented on #18480
From your log, I think you're seeing some of the fallout from this particular bug (#18323), where we weren't properly cleaning up our network connection. This was fixed in v1.0.1, so upgrading would be your easiest course, especially since this package has released its official GA.

There were two other fixes that you will get that could also be part of this problem:
- #17893 - fixes an issue wher

[2022-06-28 02:31] tkent commented on #15615
I hope this is added soon. This is pretty important feature since [azure-workload-identity](https://github.com/Azure/azure-workload-identity) is replacing the prior method of k8s identity assignment (aad-pod-identity](https://github.com/Azure/aad-pod-identity), which does work with the existing SDK)

Getting `azure-workload-identity` setup is straightforward enough, but once you do you quickly rea

[2022-06-28 04:21] navba-MSFT commented on #18354
@kany Yes, opening a support ticket should help to quickly isolate the issue as this needs some detailed troubleshooting. Once the RBAC permission issue is isolated then you can test the [above suggestions](https://github.com/Azure/azure-sdk-for-go/issues/18354#issuecomment-1165261691).

[2022-06-28 04:21] #18354 closed

[2022-06-28 15:22] benjamin37 commented on #16192
@ArcturusZhang Any news here?

[2022-06-28 16:03] #18445 closed

[2022-06-28 19:33] marwan-at-work opened #18490 "[Blob Storage] InvalidBlockList when concurrently writing to the same key"
This issue is copied over from https://github.com/Azure/azure-storage-blob-go/issues/263

### Which version of the SDK was used?
v0.11.0

### Which platform are you using? (ex: Windows, Linux, Debian)
Darwin

### What problem was encountered?
Given the below code snippet (using gocloud.dev, which uses this library):

[code]

Only 1 of the 3 writes succeeds while the other 1 or 2 will almost certai

[2022-06-28 20:13] kabal2010 commented on #17809
@navba-MSFT

I think the issue here has to do with using the *`HEAD`* method for querying for the resource as seen in [https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/resourcemanager/resources/armresources/zz_generated_client.go#L139](url). I've tested again with another resource and got the error in the snip below.

[code]

The test code as as below.
[code]

Changing the method to *`http.

[2022-06-28 21:08] kurtzeborn commented on #17594
This is done now (per @benbp)

[2022-06-28 21:08] #17594 closed

[2022-06-28 23:21] benbp commented on #17594
Resolved by https://github.com/Azure/azure-sdk-for-go/pull/18468

[2022-06-29 00:52] gaoyp830 commented on #17741
Hi @[JulesCohonner](https://github.com/JulesCohonner)
There is a bug that the Go sdk tries to convert datetime into date format. To unblock, can you please make the following change in Go sdk code:
In [this ](https://github.com/Azure/azure-sdk-for-go/blob/sdk/resourcemanager/reservations/armreservations/v0.4.0/sdk/resourcemanager/reservations/armreservations/zz_generated_models_serde.go#L323)line,

[2022-06-29 01:04] jhendrixMSFT commented on #17741
@gaoyp830 this is _not_ a bug in the Go SDK.  Per [swagger](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/reservations/resource-manager/Microsoft.Capacity/stable/2022-03-01/reservations.json#L2034-L2038), `PurchaseDate` is incorrectly defined as having format `date`.  Given what's coming over the wire, the format should be `date-time`.  Note that such a change is breaking,

[2022-06-29 01:16] gaoyp830 commented on #17741
I am _not_ saying the bug is from Go SDK side, what I meant is there is a bug that convert datetime into date format. The fix should be on Reservations side which is gonna take a while because of the ARM review etc. At the meantime customer can use the workaround I have suggested above.

[2022-06-29 02:55] navba-MSFT commented on #18426
@yonsken Please let me know if you have any update on this. Awaiting your reply.

[2022-06-29 03:06] navba-MSFT commented on #18278
@sheivin This is on the roadmap, yes, but likely an year away. So no fixed ETA. A couple of additional features AKS requires of vmss flex before it can fully onboard. Hope this helps.

[2022-06-29 03:11] navba-MSFT commented on #18072
@dnssuppgithub Could you please look into this issue and provide an update?

[2022-06-29 09:49] lirenhe commented on #16716
@Alancere, could you help to follow up with the service team?

[2022-06-29 13:59] yonsken commented on #18426
@navba-MSFT Sorry for a delayed response, the Plan 1 worked. To be clear, I was aware of this solution but it doesn't work for my application since blobs being private is a security requirement.

I have a few questions:
1. Is there a way to make this request succeed with a service client that was created with shared key credentials without making the container public?
2.  Is it expected that the s

[2022-06-29 17:10] tombuildsstuff commented on #17788
@owenfarrell looks like this now exists: https://github.com/Azure/azure-sdk-for-go/blob/abf2708557c0fdb644f98e35091abec45abc2b65/services/keyvault/mgmt/2021-10-01/keyvault/models.go#L2411

[2022-06-30 02:02] Alancere commented on #17788
released in: https://github.com/Azure/azure-sdk-for-go/tree/v64.1.0

[2022-06-30 04:15] navba-MSFT commented on #18426
@yonsken Thanks for getting back. Please find below the answers inline to your questions.

Yes it is possible. See the Plan 2 mentioned [above](https://github.com/Azure/azure-sdk-for-go/issues/18426#issuecomment-1162899397). You can use the test case sample from [here](https://github.com/Azure/azure-sdk-for-go/blob/f242365bc5fff8417eb32dbaaead37cb63b63122/sdk/storage/azblob/zt_block_blob_client_te

[2022-06-30 06:10] zezha-msft commented on #18490
Sorry for the delayed reply @marwan-at-work.

I took at look and this appears to be an implementation choice by the gocloud.dev package: it uses the [UploadStreamToBlockBlob](https://github.com/google/go-cloud/blob/60d79299da9fb31d6bd022ae834b6766f45b55b1/blob/azureblob/azureblob.go#L1103) method which takes in a reader, stages blocks as it reads from the reader, and then commit the block list whe

[2022-06-30 06:10] #18490 closed

[2022-06-30 09:54] fridgepoet opened #18501 "azidentity v0.13.2 Managed Identity on App Service authentication returning error (usage in Grafana)"
Description:

An App Service on Azure with Grafana v8.5.0 is unable to authenticate with Managed Identity ([see original issue reported in Grafana](https://github.com/grafana/grafana/issues/50397)).
Grafana is installed using image from the Docker Hub.
**Only for Grafana deployed on App Service**, unable to reproduce issue on VM.
We suspect the `0.13.2` version of `github.com/Azure/azure-sdk-for-g

[2022-06-30 15:26] jhendrixMSFT commented on #18501
This is an old version of `azidentity`, the latest is `v1.1.0`.  Can you confirm if this is still broken with the GA'ed version?

[2022-06-30 15:54] lmejbar commented on #18445
@jhendrixMSFT
Hello Joel,
Thank you for your answer, it's working. Do you have any recommandations to get additional information about compute services.
I'm using :

[code]

Location, Tags, ID, Name, Type are provided is it possible to get the kind of information such as:
VmType: Standard_D2s_v3
InstanceState: VM running
MemoryDisk: 64
OsVersion:
PrivateIPAddress: 10.70.96.36
PublicIPAddress:

[2022-06-30 15:57] jhendrixMSFT commented on #18445
You'll want to use the `armcompute` module for compute-specific needs.

[code]

We have a handful of [samples](https://github.com/Azure-Samples/azure-sdk-for-go-samples/tree/main/sdk/resourcemanager/compute) too which you might find useful.

[2022-06-30 16:59] tkent commented on #15615
For other folks stuck dealing with this, the code below is what we ended up using for our application. It's been working for the past few days in our AWS EKS clusters using Azure Workload Identity.

[code]

[2022-06-30 18:43] vcolin7 opened #18505 "Update Key Vault documentation"
We need to update the Key Vault documentation in a few places:

- [ ] **Authentication in Samples:** Our samples should show the use of Managed Identity instead of Service Principals with Client Secrets as the default authentication method. We can still show how to use the former for scenarios where the use of Managed Identity is not possible.
- [ ] **Cryptographic operations using CBC and CBCPAD:

[2022-06-30 18:53] #18289 closed

[2022-06-30 20:09] m-rcl opened #18506 "Add support for postgres 14 flexible server"
### Feature Request

Azure is offering [postgres 14](https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-supported-versions) flexible server but the sdk is currently limited to Versions 11 12 and 13.

https://github.com/Azure/azure-sdk-for-go/blob/sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/v1.0.0/sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/zz

[2022-06-30 22:56] TravisCragg-MSFT commented on #18436
@CecileRobertMichon This seems like a typo

"Location in request URI 'canadacentral,' does not match location of the service 'CanadaCentral'"

Try removing the trailing comma and attempt deployment again. The other issue seems to concur with this.

[2022-06-30 23:28] chlowell commented on #12180
It's not in our current plans and to my knowledge no one else has asked for it. At first glance I don't see where it would fit in the Azure SDK or how a client would be better than a simple GET here. The endpoint is intended to provide this metadata to anyone who wants it, so it doesn't require authentication, its format is documented, and it doesn't--so far as I can tell, anyway--expose an API fo

[2022-06-30 23:50] xqi-aviatrix opened #18508 "Successfully Authenticate AzureChina with an Azure Public Credential"
https://github.com/Azure/azure-sdk-for-go/blob/e1d15b65278a1c714f2dd1349fa4098d72d0fe7b/sdk/azidentity/client_secret_credential.go#L33

I try to authenticate Azure_China with an Azure_Public credential. I expect authentication errors returned, but no error returns and authentication succeeded as if the authentication endpoint was Azure_Public

![Screen Shot 2022-06-30 at 4 43 33 PM](https://user-i

[2022-07-01 00:16] chlowell commented on #18508
Authentication happens in the credential's `GetToken` method, not its constructor, so you won't see an error in a case like this until the first `GetToken` call. I don't see anything in your screenshot that would call `GetToken`. Does your program work when you add this?
[code]

[2022-07-01 00:28] xqi-aviatrix commented on #18508
Thanks for the quick reply. Yes, after adding the code above, I got the error stating the application cannot be found

However, In my original code I could use the new created `cred` to create a client like below and then read resource under Azure public with the client, althought the credential is created with Azure China option.

      `credential_options := &azidentity.ClientSecretCredentialOpt

[2022-07-01 00:32] chlowell commented on #18501
Thanks for reporting this! What changed in 0.13.2 is that we upgraded to a newer version of the App Service managed identity API (moving from a 5-year-old version to a 3-year-old one 🙄). It appears this newer version isn't supported for web app containers. This may be a relatively quick thing to fix in App Service's MSI sidecar, but I'll have to investigate further with someone from the App Servic

[2022-07-01 05:02] tkent commented on #16088
@richardpark-msft - I went through the exercise of running a small golang app using`v1.0.1` against a dedicated test service bus queue for about 13 days. When I put messages into the bus this evening, just as before, the app failed to receive new messages. I had to restart the app and then the messages showed up as expected.

I'll file an issue separately for this, but I'm going to put my workarou

[2022-07-01 05:25] tkent opened #18517 "[azservicebus] Receiver indefinitely "stuck" after a long idle period"
### Bug Report

After a long period of inactivity, a receiver will stop receiving new messages. A "long period" is sometime more than 8 hours and less than 13 days, but exactly how long is unknown.

(The problem was originally brought up [in this comment](https://github.com/Azure/azure-sdk-for-go/issues/16088#issuecomment-1094537898))

This is very straightforward to demonstrate if you are willing

[2022-07-01 05:45] lirenhe commented on #18506
@tadelesh, this seems to be a service ask, could you follow up with the service team? Thanks

[2022-07-01 09:35] lmejbar commented on #18445
Thank you @jhendrixMSFT

[2022-07-01 14:07] chlowell commented on #18508
Clients are similar to credentials in that they don't attempt to authenticate until necessary. You won't get an error about your invalid service principal configuration until you call a method that sends a request to the service (methods that do this have a `Context` parameter).

[2022-07-01 14:22] prochac commented on #18209
May I ask, why is the repo so heavy?
After running `go clean --modcache` and redownloading all modules I use,
Azure SDK makes **34%** of my `$GOPATH/go/mod` size.
Only competitor is github.com/aws/aws-sdk-go with 10%.

[2022-07-01 16:09] xqi-aviatrix commented on #18508
I also try the method that have Context parameter from the client created with this problematic `cred`. It returns Azure Public resource without returning error
is it the same method with Context parameter as you mentioned?

`//eventTimestamp le '2022-06-15T23:59:59.6407898Z' and
	var selectFilter string = "eventTimestamp,operationName,resourceId,resourceType,resourceGroupName,status,level,categor

[2022-07-01 16:21] xqi-aviatrix commented on #18508
I also try VirualMachinesClient which has method with Context parameter directly. The same behavior without error returned

`vmClient, err := armcompute.NewVirtualMachinesClient(currentSubscription, cred, nil)
	if err != nil {
		log.Fatalf("virtual machine client creation failed %s", err)
		return
	}

	statusOnly := "true"
	var instanceViewExpand armcompute.InstanceViewTypes = "instanceView"
	page

[2022-07-01 17:25] richardpark-msft commented on #18517
Hi @tkent, thank you for filing this issue. I know it's frustrating to deal with a bug, so I appreciate you working with me on this.

We have tests for these kinds of scenarios but clearly, since you're seeing a bug, I'm missing something. I'll see what I'm mising there.

[2022-07-01 17:39] tkent commented on #18517
@richardpark-msft  - Hey, I appreciate you looking into it. Frustrating, yes, but it would be much more frustrating if we didn't have a work around or we filed an issue that gets dismissed/ignored.

Priority wise, since we have a work around it's not high on our list. That said, I'd imagine others don't want to have to go through the learning process on this one.

[2022-07-01 17:50] chlowell commented on #18508
Sounds like you have the credential and client configured for the public cloud (which is the default). Can you share more of the code you're running, showing credential and client construction?

[2022-07-01 18:06] xqi-aviatrix commented on #18508
Hi, here are most of my sample code without credential details. currentSubscription is subscription under an Azure Public tenant

`credential_options := &azidentity.ClientSecretCredentialOptions{ClientOptions: policy.ClientOptions{Cloud: cloud.AzureChina}}
	cred, err := azidentity.NewClientSecretCredential(
		tenant_id_auzre_public,
		client_id_auzre_public,
		client_secret_auzre_public,
		credent

[2022-07-02 12:44] dmytrohridin opened #18520 "Add function for CosmosDB SDK to create client with connection string."
### Feature Request

Currently CosmosDB SKD does not support creating client from the connection string.
For .NET SDK this feature is present. Also, for example, servise bus go SDK support creating client from connection string.
It would be nice if CosmosDB SDK for Go also will support this

[2022-07-03 12:22] dmytrohridin commented on #18520
if there will no objections - I can try to add this one

[2022-07-04 04:35] navba-MSFT commented on #18426
@yonsken I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you  had a chance to follow the above suggestion. Awaiting your reply.

[2022-07-04 04:47] navba-MSFT commented on #18506
@m-rcl Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-05 02:39] ArcturusZhang commented on #18506
Hi @m-rcl we will update the SDK once the swagger update is merged. And for your information, to workaround this, you do not have to wait for us to update the SDK, you could still send the corresponding value in this way:
[code]

[2022-07-05 15:16] jhendrixMSFT commented on #18209
Azure uses date-based API versions in the query string to partition updates to a service that aren't backward-compatible (I don't believe AWS has such a mechanism).  Our legacy SDK, which predates Go modules, releases all of these API versions side-by-side to reduce/remove breaking changes across service updates.  You can see an example of this [here](https://github.com/Azure/azure-sdk-for-go/tree

[2022-07-05 19:28] ealsur commented on #18520
Sounds like a good idea, should be fairly easy to implement

[2022-07-05 21:05] CecileRobertMichon commented on #18436
Oh wow, you're right, I completely missed that... sorry for the noise!

[2022-07-05 21:05] #18436 closed

[2022-07-05 22:42] richardpark-msft opened #18531 "[azservicebus] Flaky test "TestReceiverDeferWithReceiveAndDelete""
=== RUN   TestReceiverDeferWithReceiveAndDelete
    receiver_test.go:319:
        	Error Trace:	receiver_test.go:319
        	Error:      	Target error should be in err chain:
        	            	expected: "context deadline exceeded"
        	            	in chain:
        	Test:       	TestReceiverDeferWithReceiveAndDelete
--- FAIL: TestReceiverDeferWithReceiveAndDelete (7.58s)

It's possible w

[2022-07-05 23:48] #18460 closed

[2022-07-05 23:50] #18461 closed

[2022-07-06 08:03] #18201 closed

[2022-07-06 12:02] vishwakalyanaraman opened #18537 "Unexpected Error when trying to create PostgreSQL Flexi Server"
I'm trying to create a PostgreSQL Flexi server using the SDK but I am running into an unexpected error when trying to do so.

This is the code that I'm using to create the server:
[code]

This is the response from the API call:
[code]

I'm using `github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/postgresql/armpostgresqlflexibleservers v1.0.0` in my code

I am also able to successfully create a

[2022-07-06 16:23] matthchr opened #18538 "Some services DELETE APIs cannot be called with GenericClient BeginDelete"
### Bug Report

package: https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/resourcemanager/resources/armresources/zz_generated_client.go
sdk version: `master`/`latest`

I am using [GenericClient BeginDelete](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/resourcemanager/resources/armresources/zz_generated_client.go#L287) to issue deletes for a bunch of resources including Event Hub

[2022-07-06 17:59] xqi-aviatrix commented on #18508
Thanks a lot for your investigation.

[2022-07-06 17:59] #18508 closed

[2022-07-06 18:46] kany commented on #18354
Drew Garrett in the ["Ask an Azure Architect"](askazure.slack.com) slack channel helped me resolve this issue.

Here are the steps I used:
1) Create a service principal using the Azure CLI
[code]

Output
[code]

2) Visit Subscriptions in the Azure Portal
3) Open the subscription you're working (example: `my-subscription-id` as used in the `--scopes` option in the `az ad sp create-for-rbac` command

[2022-07-06 21:10] ealsur commented on #18520
I don't see why not. It would require API reviews but I guess if the API name follows the Service Bus one, it should work.

[2022-07-07 02:12] #18276 closed

[2022-07-07 04:24] vishwakalyanaraman commented on #18537
Looks like this was an error due to the parameters I was passing for `SKU`.
There doesn't seem to be validations for which `Tier/Name` combinations work as defined by this document: https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-compute-storage#compute-tiers-vcores-and-server-types

It would be great to add these validations to the library instead of sending across an `

[2022-07-07 04:54] navba-MSFT commented on #18426
@yonsken The action is currently pending on you to follow the above plan and provide an update. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-07 04:54] #18426 closed

[2022-07-07 05:24] navba-MSFT commented on #18506
@m-rcl I wanted to do quick follow-up to check if you had a chance to look at the above comment and try the suggestion of using version using `version := ServerVersion("14")`. Please let us know if you are still facing this issue. Awaiting your reply.

[2022-07-07 05:25] tadelesh commented on #18537
@vishwakalyanaraman Thanks for your feedback. All our Go mgmt. SDKs are auto generated from service swagger definitions. In swagger, sku name is just a string. I'll let service team to take a look. @navba-MSFT I think there are two things here: 1. service need to return a clearly error to indicate the sku name is not valid instead of an internal server error. 2. either change sku name into an un-s

[2022-07-07 06:02] navba-MSFT commented on #18537
@vishwakalyanaraman @tadelesh Thanks for bringing this to our attention. I am adding the service team to look into this.

@sunilagarwal, @lfittl-msft, @sr-msft, @niklarin @DaeunYim  Could you please look into this and provide some pointers when you get a chance ? Awaiting your reply.

[2022-07-07 07:33] tadelesh commented on #18538
@matthchr Thanks for your feedback. We do have some logic to handle such sync operation with poller. The error happens when we try to unmarshall the response to a response object. Commonly, the service should return an `{}` instead of `""` with no swagger response defined. Then SDK could unmarshall it to an empty response struct. @jhendrixMSFT What do you think?

[2022-07-07 09:21] navba-MSFT commented on #18506
@m-rcl Thanks for getting back. I see that there is a pending PR with terraform already. see https://github.com/hashicorp/terraform-provider-azurerm/pull/17517

[2022-07-07 09:22] m-rcl commented on #18506
@navba-MSFT  thanks for the hint! I didn't realize the PR was opened for Terraform!

[2022-07-07 14:59] jhendrixMSFT commented on #18538
If there's no response schema defined, then the service shouldn't return anything.  Is there a link to the swagger?

[2022-07-07 15:19] montaler opened #18547 "[servicebus] why messages received from service bus sdk with unexpected prefix before json data"
### Bug Report
- package: https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus
- SDK version : v1.0.0
- go version: 1.18.3

- What happened?
   I am trying use sdk to receive service bus message and json.Unmarshal it to struct, but I found that the return message with unexpected prefix `@strin2http://schemas.microsoft.com/2003/10/Serialization/` before real json data.
  -

[2022-07-07 16:53] xqi-aviatrix opened #18548 "Is internal package publicly usable ?"
https://github.com/Azure/azure-sdk-for-go/blob/dbfd8d07e92683015bd51568fa9991cff499b170/sdk/resourcemanager/internal/testutil/helper.go#L7

I am trying to write test cases for code using Azure Go SDK. This internal testutil package seems useful but I cannot import it locally. Is there any other tools from Azure SDK that I can use for developing test cases, specially about simulating the behavior o

[2022-07-07 20:04] #18520 closed

[2022-07-07 21:30] montaler commented on #18547
Hi @richardpark-msft,
the sender is azure devops service hooks https://docs.microsoft.com/en-us/azure/devops/service-hooks/overview?view=azure-devops, could you help to contact azure devops team to upgrade the **older .NET Service Bus packages** ?

[2022-07-07 23:50] richardpark-msft commented on #18547
That is interesting, I'm guessing there's a backwards compatibility issue with changing it by default.

I did find this page, which I believe talks about that task (apologies, as Azure DevOps is far outside of my wheelhouse):
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/publish-to-azure-service-bus?view=azure-devops#open-source

That page does link to their repo, which sho

[2022-07-07 23:50] #18547 closed

[2022-07-08 02:28] tadelesh commented on #18538
@jhendrixMSFT Swagger is [here](https://github.com/Azure/azure-rest-api-specs/blob/2794e65131c037cb2bb19362582098db9bde3a56/specification/eventhub/resource-manager/Microsoft.EventHub/stable/2021-11-01/consumergroups.json#L93). In `armeventhub` package, we will not unmarshall the response because no response schema defined, thus no error will happen. But for `armresource` package, the common deleti

[2022-07-08 03:46] navba-MSFT commented on #18506
@m-rcl You're welcome. You could also follow-up on this PR https://github.com/hashicorp/terraform-provider-azurerm/pull/17517 to check the ETA for the release.

[2022-07-08 06:12] lirenhe commented on #18548
@tadelesh, could you take a look? thanks

[2022-07-08 15:07] jhendrixMSFT commented on #18538
Thanks for the links.  Given that the 200 response doesn't define a model, it really looks like a bug that they're returning anything.  Can you please follow up with the event hubs team about this?  Worse case we can harden against this, but I'd like to avoid that as I think their behavior is broken.

[2022-07-08 15:13] matthchr commented on #18538
Thanks @tadelesh for the investigation. Yes you have seen exactly what I was getting at. It's fine for their SDK because you never attempt to read the body, but in the generic client you do (via `NonPoller`).

@jhendrixMSFT did you want me to contact the eventhub team? Or @tadelesh? I don't have any contact on their team but I assume that you guys might? I do agree that this looks more like a serv

[2022-07-08 15:20] jhendrixMSFT commented on #18538
Sorry, that was meant for @tadelesh.

[2022-07-08 17:57] xqi-aviatrix opened #18565 "Expand the returned VMs' fields from VM List Call"
As the title asks.
Some VM fields (e.g., vm.Properties.InstanceView.OSName; vm.Properties.InstanceView.OSVersion; vm.Properties.NetworkProfile; vm.Tags) are nil when they are returned from this list call. I have to fetch the missing field values through a Get call for each single VM.
The list option does not have `expand` field for us neither.

https://github.com/Azure/azure-sdk-for-go/blob/9adda3

[2022-07-09 18:02] erlisb opened #18567 "InvalidResourceType when requesting quota usage list"
### Bug Report

- Module: github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/quota/armquota `v0.5.0`
- SDK version : `v65.0.0`
  - commit : 7393edcd0c85ff6a71dc7b30e28d48629bc69f6b
- go version `go1.18.3 linux/amd64`

- What happened?

A quota [NewUsagesClient ](https://github.com/Azure/azure-sdk-for-go/blob/a32e468782b79017ac47b9a3bf0383416f1df7a3/sdk/resourcemanager/quota/armquota/zz_generate

[2022-07-10 21:42] mblaschke opened #18568 "AzureCLICredentialOptions doesn't provide azcore.ClientOptions"
### Bug Report

golang version: `go version go1.18.3 darwin/arm64`
sdk version:
[code]

`azidentity.NewAzureCLICredential` uses `AzureCLICredentialOptions` and this struct doesn't provide `ClientOptions`:
[code]

where `azidentity.NewDefaultAzureCredential` uses `DefaultAzureCredentialOptions`:
[code]

so there is no way to set following settings:
[code]

[2022-07-10 22:40] mblaschke commented on #18568
ClientOptions are only used for authentication calls which are happening via azurecli `azidentity.NewAzureCLICredential` so it doesn't make sense to have `ClientOptions` with azurecli credentials.

[2022-07-10 22:40] #18568 closed

[2022-07-11 02:09] lirenhe commented on #18565
@tadelesh, could you help to follow up on this? Thanks.

[2022-07-11 02:11] lirenhe commented on #18567
This seems to be a service issue.  @tadelesh, could you help to take a look?

[2022-07-11 05:11] tadelesh commented on #18538
@matthchr @jhendrixMSFT I'll follow up with service team. @navba-MSFT Could you help to involve eventhub team?

[2022-07-11 05:14] navba-MSFT commented on #18538
@tadelesh Adding Service team to look into this.

[2022-07-11 06:04] tadelesh commented on #18565
@xqi-aviatrix Thanks for your feedback. According to my test, at least `Tags` of the virtual machine can be both returned by `list` and `get` method. Could you please paste the HTTP log for the two options? You could refer this [doc](https://github.com/Azure/azure-sdk-for-go/blob/main/documentation/new-version-guideline.md#logging) to config log options.

[2022-07-11 06:11] tadelesh commented on #18567
@erlisb Thanks for your feedback. It seems the service use the wrong api-version for the resource query. I'll involve service team to have a look.

[2022-07-11 07:14] JorisVandenbroeck commented on #18501
I was one of the original reporters on the Grafana issue thread, in my case the identity is system-assigned.
I believe this to also be the case for others.

[2022-07-11 07:34] lpWeaveIndia commented on #16924
Hey,
We're using this library. In our case, websocket get's closed for some reason (don't know) and then receiver timed-out.
`failed to get reader: WebSocket closed: read timed out: context canceled`

Is that something related to this issue?

[2022-07-11 07:35] #18327 closed

[2022-07-11 08:02] astafan8 commented on #18501
dear @chlowell, it is the "system-assigned identity" that is not working. However, it did work in an older grafana version, so this should indicate that the setup between services on azure is correct.

we are looking forward to your help :) once you figure this out together with grafana folks, we'd be able to migrate to the latest greatest grafana which would be amazing for our users.

-------

on

[2022-07-11 08:21] fridgepoet commented on #18501
Hi, sorry I seem to have missed all the notifications for this issue. It was indeed system-assigned.

[2022-07-11 16:50] xqi-aviatrix commented on #18565
Thanks for testing it locally. I can confirm that when I remove the list option `StatusOnly: to.Ptr("statusOnly")` from my list call. Then I can get non-nil tags.

But the vm.Properties.InstanceView related fields (like OSName, OSVersion, NetworkProfile, Statuses) are still nil. It would be helpful to have a list option to expand instance view.

I have not issue with the get method.

[2022-07-11 16:58] xqi-aviatrix commented on #18565
I would like to provide http log. I made the calls from visual code, are there any instructions to get the http logs from visual code?

[2022-07-11 17:34] RyanLettieri opened #18570 "Missing Parameter Support for Query"
### Feature Request

The new SDK doesn't appear to support parameters. This is a blocker for updating Dapr to the new SDK. Below is a link to the query object.
https://github.com/Azure/azure-sdk-for-go/blob/9bad9e693795bc693b08844fedf947486610ec80/sdk/data/azcosmos/cosmos_client.go#L180

[2022-07-11 18:03] #18570 closed, assigned to nobody

[2022-07-11 18:10] ItalyPaleAle commented on #18332
+1 on this. It's currently a blocker to migrate Dapr to the azcosmos SDK.

[2022-07-11 18:47] chlowell commented on #18501
Okay, then the problem is Grafana requesting tokens for a user-assigned identity despite your intention. You can see this happening in the log output:

This token request is for an unspecified user-assigned identity and will receive the "no identity found" error from App Service. A request for the system-assigned identity should omit `client_id`. The empty value suggests the application explicitly

[2022-07-11 19:06] ItalyPaleAle commented on #18332
Hi @ealsur  the previous library (a8m/documentdb) does have parameter support. We need to maintain compatibility with the current capabilities (@RyanLettieri is working on this migration).

As a security feature, it's important because it allows preventing (No-)SQL injections.

[2022-07-11 20:48] ealsur commented on #18332
@RickWinter @JeffreyRichter currently the query method supports only `string`:

[code]

The Cosmos DB Service already supports queries with parameters on the REST API level: https://docs.microsoft.com/en-us/rest/api/cosmos-db/query-documents#body

## Option 1

Leave the public surface API as is (using string) but create a struct `Query` with the query text and parameters (similar to https://github

[2022-07-11 21:03] JeffreyRichter commented on #18332
Do Option #1; not Option #2.

[2022-07-11 21:10] ItalyPaleAle commented on #18332
Can I propose option #3 as an alternative that is backwards-compatible too? Keep `query` as string, and add the ability to pass parameters as `QueryOption` values.

[2022-07-11 21:30] jhendrixMSFT commented on #18332
Or this.
[code]

[2022-07-11 21:35] ItalyPaleAle commented on #18332
IMHO I wouldn't use `url.Values` because they are not meant to be serialized in a URL. But yes. That's an option.

No strong preference on option 1 or 3. Just wanted to toss it on the table too :)

[2022-07-11 21:53] jhendrixMSFT commented on #18332
Maybe I'm missing something here, but that's what the [`Encode()`](https://pkg.go.dev/net/url#Values.Encode) method is for.

[2022-07-11 21:58] ealsur commented on #18332
The query parameters are not sent in the REST API URL, but as part of the body: https://docs.microsoft.com/en-us/rest/api/cosmos-db/query-documents#body

[2022-07-11 22:00] ItalyPaleAle commented on #18332
There's also option #4 now that I think of it, which is to use generics to pass either a string or a struct :)

[2022-07-11 22:04] JeffreyRichter commented on #18332
So the method would take both a string and values in an options struct? If both were passed, what should the method do? If this is what is being proposed, I'm against it.

If the values is ultimately turned into a string which the current operation expects, then we could add a new method that calls the method we already have

[2022-07-11 22:24] ealsur commented on #18332
From the REST API perspective, queries should always be executed as a POST with the query in the body (not url).

Looking at queries from the REST API payload, queries can be simple queries (not parametrized):

[code]

Or parametrized:

[code]

The service will do the parameter replacement on their end, there is no need for the client to do the parameter replacement.

The current SDK public API ta

[2022-07-11 22:27] fadyanwar opened #18572 "Go on Azure"
### Feature Request
Hi, I was wondering that with this SDK release if there will be future support for Go applications to run natively on Azure as in on Azure functions and Azure Apps so we can host applications or services using this SDK that talks to Azure from within Azure.

Thanks,
Fady

[2022-07-11 22:29] JeffreyRichter commented on #18332
I see. What is the value that the service is providing by allowing the "parameters" property in the JSON body? This just lets teh service do the replacement instead of the client? If so, why is this useful?

[2022-07-11 22:32] ealsur commented on #18332
According to the service docs: https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-query-parameterized-queries

From a REST API caller perspective, I guess it reduces the work a caller needs to do to validate and verify against injection attacks by unifying it as a service operation regardless of the language of the caller.

[2022-07-11 22:52] ItalyPaleAle commented on #18332
@JeffreyRichter For us (Dapr), passing parameters to queries, rather than doing string replacements, is almost a strict requirement as it's the most effective way to prevent SQL injection.

I am not sure how things work internally in Cosmos DB, but for example in the case of databases like Postgres, when queries use parameters the database does not (to my understanding) ever perform a string repla

[2022-07-11 23:00] JeffreyRichter commented on #18332
Thanks, I understand the situation better now. So yes, we can add a Parameters property to the QueryOptions structs. It should be a []struct{ name, value string }

[2022-07-11 23:13] ealsur commented on #18332
Will send a PR tomorrow

[2022-07-11 23:14] ItalyPaleAle commented on #18332
One quick thing: per docs:

Can you make Value of type `any` please?

[2022-07-11 23:23] JeffreyRichter commented on #18332
Sure, []struct{ name string, value any} is fine. The SDK will have to JSON serialize each and every value in the slice and serialization may fail returning the error back to the client.

[2022-07-12 02:00] tadelesh commented on #18565
I'll let service team to have a look.

[2022-07-12 06:27] ms-henglu commented on #18352
Hi @matt-FFFFFF , @chlowell ,

Thank you so much for the investigation! Really appreciate it.

I raised a PR to fix it on the azapi side, which won't set `AZURE_CLIENT_ID` if it's empty.

Totally agreed, but I think maybe specifying an empty client id should not be a fatal error? I'm not sure if it's a good idea to add a not-empty check on
https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/az

[2022-07-12 07:45] xboxeer commented on #18572
Hi @fadyanwar , what do you mean by run natively? A VM image that has Golang runtime? Do you have an example scenario that can help describe this?

[2022-07-12 08:04] #18435 closed, assigned to tadelesh

[2022-07-12 08:59] magodo commented on #18352
I think we shall only set the client id when it is non empty. So instead of using `os.LookupEnv()`, we can simply use `os.Getenv()` and then check whether the client id is empty.

[2022-07-12 11:21] fadyanwar commented on #18572
Hi @xboxeer as in to have the Golang runtime available for Azure App Service. Currently only these runtimes are available.

fady@Azure:~$  az webapp list-runtimes --os linux
[
  "DOTNETCORE:6.0",
  "DOTNETCORE:3.1",
  "NODE:16-lts",
  "NODE:14-lts",
  "PYTHON:3.9",
  "PYTHON:3.8",
  "PYTHON:3.7",
  "PHP:8.0",
  "PHP:7.4",
  "RUBY:2.7",
  "JAVA:11-java11",
  "JAVA:8-jre8",
  "JBOSSEAP:7-java11",

[2022-07-12 14:17] xboxeer commented on #18572
@fadyanwar app service is not owned by SDK team so I'm not sure if they have a plan to support golang natively, you can rasie a feature request in [App Service share your ideas](https://feedback.azure.com/d365community/forum/b09330d1-c625-ec11-b6e6-000d3a4f0f1c)

[2022-07-12 14:46] ealsur commented on #18332
@JeffreyRichter @jhendrixMSFT PR with API View with diff is now ready https://github.com/Azure/azure-sdk-for-go/pull/18577

[2022-07-12 15:47] #18332 closed

[2022-07-12 16:55] rkilburn opened #18578 "CosmosDB: Allow running queries without Partition Key"
### Feature Request

In [PR #17657](https://github.com/Azure/azure-sdk-for-go/pull/17657/files), support was added for running an CosmosDB SQL query against a single partition in CosmosDB. However, in the Data Explorer UI and in other SDKs, a query can be run without specifying a partition key, and run across the entire container.

Could this functionality be added for feature parity with the othe

[2022-07-12 21:01] matthchr opened #18581 "New Generic Poller doesn't correctly handle case where Poll request succeeds, but with failed state"
### Bug Report

I was specifically testing with `github.com/Azure/azure-sdk-for-go/sdk/azcore v1.1.1-0.20220609210213-3e53bd32358a` but I think any current version of `Poller[T]` will have this issue.

This shows up most obviously as a change in behavior of the `Poll` function of the `Poller[T]`. In the old, non-generic implementation, a `Poll` that recieved a valid HTTP response (HTTP status code

[2022-07-12 21:29] ealsur commented on #18578
While this is in the horizon, it won't be available anytime soon (probably next 12 months).

[2022-07-12 21:35] ealsur commented on #18578
Just to clarify, there are other more important and critical deliverables that take precedence, such as failover support.

[2022-07-12 22:50] jhendrixMSFT commented on #18581
Per offline discussion, the pattern is now as follows.

[code]

[2022-07-12 22:50] #18581 closed

[2022-07-12 22:50] gaoyp830 commented on #17741
@JulesCohonner service team has made a fix to return the data format from `date-time` to `date` to unblock other go customers. Please revert this workaround I suggested:

[2022-07-13 02:44] navba-MSFT commented on #18567
@erlisb Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-13 02:48] #18506 closed

[2022-07-13 04:53] navba-MSFT commented on #18565
@xqi-aviatrix Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-13 09:37] aangelisc commented on #18501
Hi @chlowell, it looks like you hit the nail on the head.

I've found pretty much these exact lines:

[code]

Appreciate the help with this! Unfortunately, it's my understanding that the stable versions require go v1.18+ which we do not currently support. However, the suggested fix will be sufficient!

[2022-07-13 16:26] ealsur commented on #18520
Will be included in the 0.3.2 release on the August 9th release train

[2022-07-13 16:26] ealsur commented on #18332
Will be included in the 0.3.2 release on the August 9th release train

[2022-07-14 01:27] tadelesh commented on #18548
@xqi-aviatrix, sorry for the delayed reply. Unfortunately, all the test utils we used for SDK in under internal packages which cannot be imported outside the package. Could you elaborate more about your requirements? I don't quite get the idea of simulating in large scale.

[2022-07-14 04:20] navba-MSFT commented on #18567
@erlisb The QuotaRP is in private preview, and the Compute RP is not supported, only network RP is supported.

[2022-07-14 05:00] navba-MSFT commented on #18565
@xqi-aviatrix I am yet to look into this. But before that I wanted to check if you have tested using the below sample and confirm if that helps ?

[code]
Awaiting your reply.

[2022-07-14 05:46] tadelesh opened #18587 "Refine release tools to support create pr from release request"
1. migrate track1 request fetch tool to track2
2. handle all kinds of version pump
3. use pipeline to create pr and label release request

[2022-07-14 09:44] mdnix opened #18590 "Unable to expand planInformation on Reservation Order"
### Bug Report

- import path of package `github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/reservations/armreservations v1.0.0`
-  go version `go1.18 darwin/arm64`

I'm trying get more information about a Reservation Order. In particular I'm interested in the planInformation which can be expanded.

[code]
This doesn't work since the expand parameter seems to be wrong. It contains an unnecessa

[2022-07-14 14:30] jhendrixMSFT commented on #18590
The OpenAPI [definition](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/reservations/resource-manager/Microsoft.Capacity/stable/2022-03-01/reservations.json#L320) includes the `$` but the service appears to reject it.

[2022-07-14 16:24] xqi-aviatrix commented on #18565
Thanks @navba-MSFT.

The issue I face is to reduce the number of calls to azure. The lack of expand option in the vm list call that forces me to use the vm get call you wrote above to fetch vm instanceview for each vmId returned from the vm list call.

suppose I have 200 vms under a subscription and vm list call returns 100 vms per page. I need 202 calls  (2 list calls + 200 get calls) to get all

[2022-07-14 16:27] xqi-aviatrix commented on #18548
Thanks for the reply @tadelesh

We want to make a test case that simulates, for example, a vm client fetched 10k vms from Azure.

I find the record playing functions in your internal package is useful in this case that I can put 10k vms info into a json and let the record playing function read those vms and consumes them as if they are read from azure backend by vm client.

[2022-07-14 20:29] ianeal commented on #14632
Updated to the latest Azure SDK (ie v66.0.0) and changed my go dependencies

from "github.com/Azure/azure-sdk-for-go/services/preview/reservations/mgmt/2020-10-25/reservations"
to "github.com/Azure/azure-sdk-for-go/services/reservations/mgmt/2022-03-01/reservations

I compared the models and I agree that for archived and capabilities the properties are there.

However, I still do not see Propertie

[2022-07-14 21:38] ianeal commented on #14632
Swap source and swap destination are shown in the following microsoft documentation so I'd expect it to be reflected in the SDK

https://docs.microsoft.com/en-us/rest/api/reserved-vm-instances/reservation/list?tabs=HTTP

[2022-07-15 03:04] tadelesh commented on #18548
Got it. @jhendrixMSFT Is that possible we expose the recording related helper in `github.com/Azure/azure-sdk-for-go/sdk/internal/recording`?

[2022-07-15 03:19] navba-MSFT commented on #18565
@xqi-aviatrix Thanks for your reply. I am adding the Service Team to look into this issue.

[2022-07-15 04:17] navba-MSFT commented on #18567
@erlisb The Compute RP will be supported for Quota API in a couple of weeks tentatively. Hope this helps.

[2022-07-15 19:00] ianeal commented on #14632
@ArcturusZhang @rkapso Swap source and swap destination are shown in the following microsoft documentation so I'd expect it to be reflected in the SDK

https://docs.microsoft.com/en-us/rest/api/reserved-vm-instances/reservation/list?tabs=HTTP

[2022-07-16 15:03] mblaschke commented on #18443
Is there any ETA for this feature? Would be good to know when this API can be expected in the new SDK.

[2022-07-18 04:53] navba-MSFT commented on #18567
@erlisb I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-07-18 08:23] Rohitrajak1807 commented on #18443
Well, it'd be great to get it ASAP. I don't have a particular ETA. For now, we're using this feature by making a plain HTTP request to Query Execute endpoint.(I works, but still looks hacky)

[2022-07-18 08:24] franckbleyer1 commented on #18443
Le lun. 18 juil. 2022 à 10:24 AM, Rohit Rajak ***@***.***> a
écrit :

[2022-07-18 10:05] franckbleyer1 opened #18603 "### Version Information"
### Version Information

Server Version: 2.8.0

### Environment

Self hosted, `docker-compose.yaml`:

[code]

### What is the current behaviour?

### What is the expected behaviour?

When view is renamed, the left side of data tab still holds the old view name

### How to reproduce the issue?

1. Create a view using `CREATE VIEW view AS something`
2. Rename the view with `ALTER VIEW view RENAME TO

[2022-07-18 20:36] franckbleyer1 opened #18604 "Could you explain why the feedback should only be triggered when the selection isn't collapsed?"
Could you explain why the feedback should only be triggered when the selection isn't collapsed?

__Originally posted by @LongCatIsLooong in https://github.com/flutter/flutter/pull/105797#discussion_r915460627__

[2022-07-18 20:38] franckbleyer1 opened #18605 "Could you explain why the feedback should only be triggered when the selection isn't collapsed?"
Could you explain why the feedback should only be triggered when the selection isn't collapsed?

__Originally posted by @LongCatIsLooong in https://github.com/flutter/flutter/pull/105797#discussion_r915460627__

[2022-07-18 20:38] franckbleyer1 opened #18606 "When the selection is collapsed there are some other feedbacks already (for example long-press word selection). This can result in double feedback in some cases.t"
When the selection is collapsed there are some other feedbacks already (for example long-press word selection). This can result in double feedback in some cases.

__Originally posted by @markusaksli-nc in https://github.com/flutter/flutter/pull/105797#discussion_r916015837__

[2022-07-18 20:52] franckbleyer1 opened #18607 "Could you explain why the feedback should only be triggered when the selection isn't collapsed?"
Could you explain why the feedback should only be triggered when the selection isn't collapsed?

__Originally posted by @LongCatIsLooong in https://github.com/flutter/flutter/pull/105797#discussion_r915460627__

[2022-07-18 21:01] franckbleyer1 opened #18613 "Could you explain why the feedback should only be triggered when the selection isn't collapsed?"
Could you explain why the feedback should only be triggered when the selection isn't collapsed?

__Originally posted by @LongCatIsLooong in https://github.com/flutter/flutter/pull/105797#discussion_r915460627__

__Originally posted by @franckbleyer1 in https://github.com/Azure/azure-sdk-for-go/issues/18612__

[2022-07-18 23:51] lmorchard opened #18615 "Support for CosmosDB Change Feed Processors in go?"
### Feature Request

Azure Cosmos DB [supports a Change Feed](https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed).

I've found support for Change Feed Processors in the C#, Node.js, and Java flavors of the Azure SDK. But, there doesn't seem to be support for it in this SDK for go.

We have a project that's currently using a Change Feed Processor implemented in C#. We'd like to move it to

[2022-07-19 07:19] erlisb commented on #18567
@navba-MSFT , I will check it again and provide you a feedback. Thanks.

[2022-07-19 07:23] navba-MSFT commented on #18567
@erlisb Thanks for getting back. Like I mentioned above The Compute RP will be supported for Quota API in a _couple of weeks_ tentatively. So you might have to try it then.

[2022-07-19 07:57] ralfwanninkhof commented on #17591
@zjalexander Did you got any response? We would love to have this issue fixed, is there anything we can do to help?

[2022-07-19 08:03] #18467 closed

[2022-07-19 08:03] #17853 closed

[2022-07-19 10:29] hermanschaaf opened #18619 "Tenants List should return all the fields available in the API"
### Feature Request

The [TenantIDDescription](https://github.com/Azure/azure-sdk-for-go/blob/v61.6.0/services/subscription/mgmt/2020-09-01/subscription/models.go#L459-L465) struct returned by calls to `TenantsClient.ListComplete` contains only two fields: `ID` and `TenantID`:

[code]

However, the [underlying API](https://docs.microsoft.com/en-us/rest/api/resources/tenants/list?tabs=HTTP) returns

[2022-07-19 10:45] hermanschaaf opened #18620 "Subscriptions List should include all the fields available in the API"
### Feature Request

The subscriptions [Model struct](https://github.com/Azure/azure-sdk-for-go/blob/v61.6.0/services/subscription/mgmt/2020-09-01/subscription/models.go#L293-L308) includes a number of fields, but not all the fields available in the REST API according to the documentation. Specifically, the following fields are missing in the Go struct:

- `tenantId` - The subscription tenant ID.

[2022-07-19 10:59] hermanschaaf commented on #18620
After digging a bit more, I can see that this is because the fields are not part of the OpenAPI definition here: https://github.com/Azure/azure-rest-api-specs/blob/0c21498807897f2d523f3b63166a75e278ca0c64/specification/subscription/resource-manager/Microsoft.Subscription/stable/2016-06-01/subscriptions.json#L210

However, these fields are returned by the API and are documented here: https://docs.m

[2022-07-19 13:32] franckbleyer1 opened #18621 "Implement the scenario and service action calls to create examples for each SDK."
Implement the scenario and service action calls to create examples for each SDK.

## Service actions

Service actions can either be pulled out as individual functions or can be incorporated into the scenario, but each service action must be included as an excerpt in the SOS output.

ConfirmSignUp
ConfirmDevice
AssociateSoftwareToken
AdminGetUser
ListUsers
ResendConfirmationCode
RespondToAuthChalle

[2022-07-19 13:33] #18621 closed

[2022-07-19 15:04] jhendrixMSFT commented on #18604
@franckbleyer1 was this issue opened in error?  I don't see how this is related to the Go SDK.

[2022-07-19 15:07] franckbleyer1 opened #18622 "```"
[code]

__Originally posted by @aam in https://github.com/dart-lang/sdk/issues/49480__

[2022-07-19 15:33] lmorchard commented on #18332
Also, belated thanks to everyone for implementing my feature request!

[2022-07-19 15:53] franckbleyer1 opened #18623 "<!-- DO NOT THROW THIS AWAY -->"
- Laravel Version: 9.21.0
- PHP Version: 8.0.11
- Database Driver & Version: mysql (mariadb 10.3.31)

### Description:

When running `model:show` command I get this error:

![image](https://user-images.githubusercontent.com/92947803/179793846-f2ea7553-1096-4f1b-bca0-a6d0d3dd4d2c.png)

Maybe these unpacking arrays also work with string-key arrays only in **PHP 8.1**? If true then it should not be u

[2022-07-19 15:54] franckbleyer1 opened #18624 "<!-- DO NOT THROW THIS AWAY -->"
- Laravel Version: 9.21.0
- PHP Version: 8.0.11
- Database Driver & Version: mysql (mariadb 10.3.31)

### Description:

When running `model:show` command I get this error:

![image](https://user-images.githubusercontent.com/92947803/179793846-f2ea7553-1096-4f1b-bca0-a6d0d3dd4d2c.png)

Maybe these unpacking arrays also work with string-key arrays only in **PHP 8.1**? If true then it should not be u

[2022-07-19 15:54] franckbleyer1 opened #18625 "<!-- DO NOT THROW THIS AWAY -->"
- Laravel Version: 9.21.0
- PHP Version: 8.0.11
- Database Driver & Version: mysql (mariadb 10.3.31)

### Description:

When running `model:show` command I get this error:

![image](https://user-images.githubusercontent.com/92947803/179793846-f2ea7553-1096-4f1b-bca0-a6d0d3dd4d2c.png)

Maybe these unpacking arrays also work with string-key arrays only in **PHP 8.1**? If true then it should not be u

[2022-07-19 16:16] RickWinter commented on #18620
The package you are using is part of the previous versions.  The most recent version is available here:
https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/subscription/armsubscription

[2022-07-19 19:09] hermanschaaf commented on #18620
@RickWinter Thanks, I wasn't aware that I should be using the more recent version there.

Having checked that implementation, it seems like the new version is also missing subscription fields from the API like `tenantId` and `tags`: https://github.com/Azure/azure-sdk-for-go/blob/77190ec7d546094c51ff1b61073dd9580394a579/sdk/resourcemanager/subscription/armsubscription/zz_generated_models.go#L445-L4

[2022-07-19 19:13] abdullah-lt commented on #16916
Hi. Is there any update on this?
Is there a way where I can generate SAS token without  SharedKeyCredential  as this requires the use of storage account key. But I want to use manage identity with `NewDefaultAzureCredential`

[2022-07-19 20:16] erlisb commented on #18567
Hi @navba-MSFT, it seems that neither of RPs (Compute, Network & Storage) is working in the current armquota version :

Microsoft.Compute :

[code]

Microsoft.Network :

[code]

Microsoft.Storage :

[code]

Do you know if there is an actual ETA for this fix ?  A _couple of weeks_ doesn't seem very optimistic.

Thank you,
Erlis

[2022-07-19 20:35] vcolin7 commented on #18505
You can refer to [this Java PR](https://github.com/Azure/azure-sdk-for-java/pull/29996) for the second item (CBC crypto).

[2022-07-19 21:39] richardpark-msft commented on #18482
Checekd in, will go out with the next stable release.

[2022-07-19 21:39] #18482 closed

[2022-07-19 21:41] richardpark-msft commented on #16924
@lpWeaveIndia - I don't believe so. The release that's pending was to update an outdated dependency for security, not stability.

Is this with the Azure Service Bus SDK? If so, please feel free to file an issue - it'll walk you through what we need to troubleshoot.

[2022-07-20 04:30] navba-MSFT commented on #18567
@erlisb Thanks for getting back. As mentioned in my above comment, Compute RP is yet to be supported. So the above error is expected now. There are a few more RPs along with Compute RP which will be supported. I didn't get a fixed ETA from the Product Owners. So I can only provide the tentative ETA as of now which is in next 2 - 4 weeks.

[2022-07-20 05:28] lpWeaveIndia commented on #16924
Yeah, It's with `Azure Service Bus SDK` when trying to receive messages.

[2022-07-20 10:32] serbrech opened #18636 "Missing func/wrong doc: doc comment says to use NewRetryOptions but it does not exists"
// RetryOptions configures the retry policy's behavior.
 // **Call NewRetryOptions()** to create an instance with default values.

https://github.com/Azure/azure-sdk-for-go/blob/b386adc15c2e60e3812956f68d244b608330c479/sdk/azcore/policy/policy.go#L70-L78

There is no NewRetryOptions constructor that sets any defaults.
Looking at the code, passing nil or the empty struct will use the defaults value

[2022-07-20 10:38] serbrech opened #18637 "azcore/policy : Missing default referenced in doc comments: StatusCodesForRetry"
StatusCodesForRetry seems to be in autorest? I suppose this is a mistake?

https://github.com/Azure/azure-sdk-for-go/blob/b386adc15c2e60e3812956f68d244b608330c479/sdk/azcore/policy/policy.go#L93-L98

[2022-07-20 10:54] serbrech opened #18638 "azcore/policy retry: missing documentation about handling of retry-after header"
https://github.com/Azure/azure-sdk-for-go/blob/b386adc15c2e60e3812956f68d244b608330c479/sdk/azcore/runtime/policy_retry.go#L173-L177

I was surprised to see no mention of the handling of retry-after header by the client.
I had to look at the code to find the above code snippet.
This behavior is not documented in the RetryDelay option that can be set on the clients:

https://github.com/Azure/azure-

[2022-07-20 16:17] #18636 closed

[2022-07-20 16:36] jhendrixMSFT commented on #18638
Fixes will ship in the August release.

[2022-07-20 16:36] #18638 closed

[2022-07-20 16:36] jhendrixMSFT commented on #18637
Fixes will ship in the August release.

[2022-07-20 16:36] #18637 closed

[2022-07-20 17:00] chlowell commented on #18352
😆 I'm not sure either but here's my argument for keeping the current behavior. The SDK's only evidence of user intent is whether the variable is set. Our managed identity abstraction supports several platforms with different APIs and semantics. It's possible that in some scenario it makes sense for a user to specify an empty client ID (I don't know of one). Ignoring the empty value may mean not su

[2022-07-20 17:07] RickWinter commented on #17985
In the reimagined new KeyVault SDKs this may not be an issue anymore.  Lets investigate to confirm, if this issue is no longer relevant, please close.

[2022-07-20 20:45] xqi-aviatrix commented on #18548
Got it. thanks

[2022-07-20 20:45] #18548 closed

[2022-07-20 20:51] jhendrixMSFT commented on #8399
CC @sandeep-sen

[2022-07-21 07:59] navba-MSFT commented on #18620
@hermanschaaf Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update. I have created the above PR and it is currently under review.

[2022-07-21 19:03] richardpark-msft commented on #16924
Ah, okay. Can you file an issue and we can start troubleshooting what's going on.

[2022-07-21 19:44] jaylabell commented on #18565
@Drewm3 can you please look into this VM issue?

[2022-07-21 20:40] chlowell commented on #17985
I've forgotten the details of this one. @jhendrixMSFT, do you remember whether you copied that link verbatim? If so, one problem is that the test used an apparently live vault URL in playback instead of the fake one in the recording, and I believe I sorted that out while rewriting the test setup code.

[2022-07-21 20:46] jhendrixMSFT commented on #17985
The fix I made in https://github.com/Azure/azure-sdk-for-go/pull/17984/commits/7de085806c4fa5b602887cb84e5075a94359307f (and one other) was to modify the host so it matched the host from other recordings within the same file.

It would appear that the URL for the paging GET request was sanitized in the recording (as expected), however, the value of `nextLink` was not.

[2022-07-21 21:15] chlowell commented on #17985
I see, thank you. Definitely a test bug then. It doesn't happen anymore because we now replace the live Key Vault URL wherever it appears in bodies.

[2022-07-21 21:15] #17985 closed

[2022-07-21 22:46] chlowell commented on #17803
Closed by #18446, #18494, #18502. Purges are now batched, requested after test runs, and not recorded.

[2022-07-21 22:46] #17803 closed

[2022-07-22 02:53] navba-MSFT commented on #18619
@hermanschaaf Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-22 02:56] navba-MSFT commented on #18590
@mdnix Apologies for the late reply. Thanks for reaching out to us and reporting this issue. I am adding the Service team to look into this.

@rkapso Could you please look into this issue and provide an update ?

[2022-07-22 07:22] navba-MSFT commented on #18619
The above PR has been filed and it is currently under review.

[2022-07-22 08:03] #12180 closed

[2022-07-22 09:30] mblaschke-daimlertruck opened #18674 "[armauthorization] switch to newer apiversion for RoleDefinitions (dataActions, notDataActions) and RoleAssignments (description support)"
Currently apiversion "2015-07-01" is used which doesn't support following features (and maybe more):

`RoleDefinitions`
- dataActions
- notDataActions

`RoleAssignments`
- description

[2022-07-22 21:10] RickWinter commented on #18674
Can you clarify which package you are referring to.  The latest [armauthorization](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/authorization/armauthorization) package is generated from `Microsoft.Authorization/preview/2021-11-16-preview`

[2022-07-23 18:41] mblaschke commented on #18674
@RickWinter
In the latest version there is no RoleDefinition or RoleAssignment anymore 🤔
That's also mentioned in changelog:
[code]

[2022-07-24 02:02] marwan-at-work commented on #18578
Hi there,

Are there any alternatives while we wait in the next 12 months?

Thanks

[2022-07-24 02:59] aldudko opened #18679 "migrating device code workflow from adal without refresh token"
Hello,

Kubernetes CLI ([kubectl](https://github.com/kubernetes/kubernetes/blob/release-1.19/staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/azure.go#L430)) and [Azure/kubelogin](https://github.com/Azure/kubelogin/blob/master/pkg/token/devicecode.go#L38) currently rely on adal's [the device code authentication workflow](https://github.com/Azure/go-autorest/tree/main/autorest/adal#device-

[2022-07-24 14:07] marwan-at-work opened #18682 "CosmosDB: Add Patch/Increment method"
It looks like CosmosDB has a distributed counter through its patch method: https://docs.microsoft.com/en-us/java/api/com.azure.cosmos.models.cosmospatchoperations.increment?view=azure-java-stable

I'm hoping this SDK has it or plan on adding as it's a common feature in most databases I work with such as Google Cloud Firestore with Go.

Thanks!

[2022-07-25 04:32] navba-MSFT commented on #18567
@erlisb I hope you had a chance to look at the above comment. We will proceed with archival of this GitHub thread. The fix will be released in couple of weeks, post that if you see the same issue, feel free to reopen this thread. We would be happy to help.

[2022-07-25 04:33] #18567 closed

[2022-07-25 05:59] navba-MSFT commented on #18619
@hermanschaaf Did you try to list tenant using the below package and check if that helps ?

https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resources/armsubscriptions#TenantsClient

[2022-07-25 06:48] lirenhe commented on #18674
@tadelesh, could you follow up with this issue?  Thanks

[2022-07-25 07:15] hermanschaaf commented on #18620
Hi @navba-MSFT, I see this issue has the `needs-author-feedback` tag attached to it--is there something I can help with at this stage?

[2022-07-25 07:17] hermanschaaf commented on #18619
Hi @navba-MSFT, ah thanks, yes this SDK looks like it would work--it definitely contains the fields, at least! From the comment on the linked PR it sounds like the one I was using is actually deprecated? I will use the new one, thanks so much for your help.

[2022-07-25 07:17] #18619 closed

[2022-07-25 07:17] tadelesh commented on #18674
@mblaschke-daimlertruck This preview version is generated from service default config and it seems not a complete preview version. I'll let service team to have a check and I think the [stable version 1.0.0](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/authorization/armauthorization@v1.0.0) is a more reasonable version to use.

[2022-07-25 08:10] mblaschke-daimlertruck commented on #18674
@tadelesh
But in stable version 1.0.0 RoleAssignments doesn't offer `description` (because of API version), same with RoleDefintions with `dataActions` and `notDataActions`.

[2022-07-25 15:00] ealsur commented on #18578
Cross-partition query support is not a trivial feature. The service (REST API) does not support cross-partition queries, it is a complete orchestration from the client, especially with aggregates (like SUM, COUNT, DISTINCT, etc) it's not something that can be easily done.

This same problem applies if you want to implement it yourself.

You can certainly do multiple queries if you already know all

[2022-07-25 15:02] ealsur commented on #18682
Support for Patch (including Increment) is part of the future deliverables.

[2022-07-25 16:43] chlowell commented on #18679
Thanks for opening this issue. You understand correctly. `azidentity` credentials return only access tokens, so a CLI that caches these must interactively reauthenticate users as their access tokens expire. The intended migration path is a new user authentication API and persistent caching feature that enables securely storing and accessing authentication data across process executions (#16643). T

[2022-07-25 17:56] aldudko commented on #18679
Thank you for the explanation! I've subscribed to #16643 for updates.

Today `kubectl` keeps everything in a local file in user's home directory (~/.kube/config). For example:
[code]

[`kubelogin'](https://github.com/Azure/kubelogin) uses similar approach with different file location and format.

[2022-07-25 21:00] #18679 closed

[2022-07-25 21:13] #16843 closed

[2022-07-25 22:00] richardpark-msft opened #18686 "[azeventhubs] API review for beta.1"
Need to get a review for the Event Hubs surface.

[2022-07-25 22:16] drem-darios commented on #9714
Is there any update on this issue?

[2022-07-26 08:58] ephrain1021 opened #18688 "x-ms-version is not changed when using a different storage profile for Azure Stack Hub"
### Bug Report

- import path of package in question: github.com/Azure/azure-sdk-for-go/profiles/2020-09-01/storage/mgmt/storage
- SDK version: latest
- output of `go version`:  go version go1.17.5 darwin/amd64

- What happened?

I am trying to use azure-sdk-for-go/tree/main/sdk/storage/azblob to access container of storage account on Azure Stack Hub.
However, that does not work and returns follow

[2022-07-26 09:47] tadelesh commented on #18688
@ephrain1021 Profile only affect control plane (create resource group, create storage account, etc.). The version `2019-02-02` is the data plane request api version which is bind with `github.com/Azure/azure-storage-blob-go/azblob`. If you use `v0.10.0`, then is will always be `2019-02-02`.

[2022-07-26 15:53] SandraGiacco commented on #18445
Hi @jhendrixMSFT, I'm using the armcompute module and the armcompute.NewVirtualMachinesClient() function and it works great. However, I would like to know how I could retrieve the public and the private IPs. I was wondering whether I could use the armnetwork module and the IPConfigurationPropertiesFormat, but I'm not sure how to proceed to do so.

Do you have any example, or at least an explanatio

[2022-07-26 16:30] RickWinter opened #18690 "Add tests for error messages"
Add tests to ensure the message format is correctly propagated to the user.
https://github.com/Azure/azure-sdk-for-go/commit/bfeed7ad8870ca65bd8a1d65cc9b47d6f5862a84

[2022-07-26 16:41] marwan-at-work opened #18691 "[CosmosDB]: Optimistic Concurrency Control"
Hi there,

Can this client be used for optimistic concurrency control for Upsert-ing a document? If so, are there any examples to follow?

Thanks!

[2022-07-26 22:39] ealsur commented on #18691
Yes, the examples are in the `example_test` file: https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/data/azcosmos/example_test.go#L507 also on the Pkg Go site: https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/data/azcosmos#example-ContainerClient.ReplaceItem-OptimisticConcurrency

[2022-07-26 22:39] #18691 closed

[2022-07-26 22:40] ealsur commented on #18691
Basically the flow is the same as any other SDK. Read the document, get the Etag, send the replace with the Etag, if you get 412, read the document again, apply the changes, repeat the replace with the new Etag

[2022-07-27 01:29] ephrain1021 commented on #18688
Hi @tadelesh, thanks for your explanation.

Another question: Does azure-sdk-for-go/tree/main/sdk/storage/azblob supports Azure Stack Hub 2102 or 2108 update, or we can only use github.com/Azure/azure-storage-blob-go/azblob to access?

Thank you very much.

[2022-07-27 02:30] tadelesh commented on #18688
@jhendrixMSFT Could you help to answer?

[2022-07-27 06:10] AmaliMatharaarachchi opened #18696 "[azservicebus] Durable subscription with multiple consumers not working"
### Bug Report
Trying to work with durable subscriptions, but the subscription is not providing all messages, observing a severe message loss.
(FYI there are no filters applied to this subscription)

- SDK version - 	github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus v1.0.1
- output of `go version` - ```go version go1.18.2 darwin/amd64```

## What happened?
Not all messages were received

[2022-07-27 09:52] malt3 opened #18704 "Unsupported api-version for armnetwork GetVirtualMachineScaleSetNetworkInterface() method"
### Bug Report

- import path of package in question: `github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/network/armnetwork`
- SDK version `v1.0.0`
  - Commit `181cbed626787fe2f850e573babd3169d56d5050`
- go version `go1.18.3 linux/amd64`

After updating the armnetwork module from `0.5.0` to `1.0.0`, the `GetVirtualMachineScaleSetNetworkInterface()` method returns the following error:

[code]

[2022-07-27 13:08] SandraGiacco opened #18705 "How can I get VM Private and Public IP addresses"
Hi @jhendrixMSFT, I'm using the armcompute module and the armcompute.NewVirtualMachinesClient() function and it works great. However, I would like to know how I could retrieve the public and the private IPs. I was wondering whether I could use the armnetwork module and the IPConfigurationPropertiesFormat, but I'm not sure how to proceed to do so.

Do you have any example, or at least an explanatio

[2022-07-27 14:54] jhendrixMSFT commented on #18688
@mohsha-msft can confirm but I don't believe that `azblob` supports any of the stack profiles.

[2022-07-27 15:15] mohsha-msft commented on #18688
Hey @jhendrixMSFT

Yes, I've never tested it. I'm quite certain we don't as of now.

[2022-07-27 15:44] jhendrixMSFT commented on #18705
For things like this where the question is "how do I do X like the CLI", I take a look at how the Azure CLI does it.  The source for the `az vm list` command is [here](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/vm/custom.py#L1302).  This calls [`get_vm_details`](https://github.com/Azure/azure-cli/blob/e52c1e93840d7525033d2caee7f13eec5fa61def/src/azure-cli/a

[2022-07-27 18:50] jhendrixMSFT opened #18706 "Generated test assets import older version of a module"
Note the import to the `v1` `armcompute` module.
https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/resourcemanager/compute/armcompute/go.mod#L8

This is due to live test importing it.
https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/resourcemanager/compute/armcompute/virtualmachinescalesets_client_live_test.go#L16

It should be importing the latest major version (`v3` at this time).

[2022-07-27 22:30] jhendrixMSFT commented on #18706
Same is true for `go get` installation instructions in the README.  https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/resourcemanager/compute/armcompute/README.md

[2022-07-28 09:12] hongbin opened #18712 "Cannot set access policy"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`

github.com/Azure/azure-sdk-for-go/sdk/storage/azblob

- SDK version e.g. `master`, `latest`, `18.1.0`

master

- output of `go version`

go version go1.18.1 linux/amd64

- What happened?

Cannot set access policy. Azure returned 400. According to the SDK log, the "Start" and "Expiry" field in

[2022-07-29 06:02] vijayrajah opened #18759 "Doc cmd for module import is incorrect"
### Bug Report
the current (as of 29-Jul-2022), mentions this
[code]

This imports old V1 version of the module (2022-05-16)

Instead it should  be
[code]
This will import the current v3.0.0 Version

The same is true for `resourcemanager/machinelearning/armmachinelearning/v2`

I haven't checked others

[2022-07-29 19:16] GavinFrazar opened #18761 "armresources client list pager responses have nil properties"
### Bug Report

- import path of package in question:
  - `github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resources/armresources`
- SDK version
  - `1.0.0`
- output of `go version`:
  - `go version go1.18.3 darwin/arm64`

- What happened?
  I used `armresources.Client` to get a list pager. The results returned all have `nil` Properties. There is no `Expand` setting to expand Properties.
- W

[2022-07-29 20:20] chlowell opened #18763 "Make recording package concurrency safe"
Live tests would run significantly faster if they executed test cases in parallel. That isn't possible today because our recording infrastructure isn't concurrency safe. Making it so would require at least synchronizing `testSuite` access (both reads and writes):
https://github.com/Azure/azure-sdk-for-go/blob/caf1a9cd893389d2200709f6d3dd67d244f2e053/sdk/internal/recording/recording.go#L515

[2022-07-30 04:48] charlesATswin opened #18766 "Build Problems"
Hello,

I am trying to create my own Dapr middleware and thus need to build Dapr. I am having the same issues with both `dapr` and `components-contrib`, when I go to build I get the following error at the end of the build processes.

`build github.com/Azure/azure-sdk-for-go/sdk/azcore/to: cannot load github.com/Azure/azure-sdk-for-go/sdk/azcore/to: no Go source files
make: *** [Makefile:64: test]

[2022-07-30 07:31] rainmaker2022 opened #18767 "Typo for the error code "IncrementalCopyOfEarlierVersionSnapshotNotAllowed""
### Bug Report
The error code "IncrementalCopyOf**Eralier**VersionSnapshotNotAllowed" here has a typo. It should be "IncrementalCopyOf**Earlier**VersionSnapshotNotAllowed".

https://github.com/Azure/azure-sdk-for-go/blob/39b49a59b5db52c5a2761ed2d53b7e0676c72ae0/sdk/storage/azblob/zz_generated_constants.go#L619

If the user uses it to parse the error code, they will never succeed unless the server

[2022-07-31 13:00] sameershivle opened #18770 "Azure blob container - missing support for ETags in Set Container Metadata API"
### Feature Request

Current azure go sdk implementation of Set Container Metadata (https://docs.microsoft.com/rest/api/storageservices/set-container-metadata) does not have support for "IfMatch" parameter.
The Rest API documentation for azure (https://docs.microsoft.com/en-us/rest/api/storageservices/specifying-conditional-headers-for-blob-service-operations) says  that there is support for condi

[2022-08-01 02:40] tadelesh commented on #18759
@vijayrajah Thanks for your feedback. We've noticed this issue and will fix with this [PR](https://github.com/Azure/azure-sdk-for-go/pull/18760).

[2022-08-01 02:44] navba-MSFT commented on #18704
Removing CXP attention label since Service attention label has been added already

[2022-08-01 02:49] tadelesh commented on #18761
Need service team to check the common resource list operation could not get non-nil properties. Such problems have been raised from many customers.

[2022-08-01 02:54] tadelesh commented on #18766
It seems the path of the package `github.com/Azure/azure-sdk-for-go/sdk/azcore/to` is correct. What do you mean "the URI structure has changed"?

[2022-08-01 02:55] #18587 closed

[2022-08-01 03:07] tadelesh opened #18772 "Remove suffix `.exe` of `pwsh.exe` in any scripts and to be cross platform compatible"
For some historical reason, we have a weird suffix `.exe` of `pwsh.exe` in some tools using powershell.
1. Remove it and resolve cross platform compatibility
2. Go through all the related scripts and change accordingly
3. Remove SDK automation for track1

[2022-08-01 03:52] #18706 closed

[2022-08-01 03:52] #18759 closed

[2022-08-01 05:16] tadelesh commented on #18772
Resolve comment of https://github.com/Azure/azure-sdk-for-go/pull/18635

[2022-08-01 07:29] ShourieG opened #18775 "Ability to fetch blobs from a given timestamp"
### Feature Request

The ability to fetch blobs based on timestamps would be a great addition to the current feature set of the sdk.

Currently if you use the **ListBlobsFlat** construct to fetch blob pagers and iterate on them , usually the blobs are ordered lexicographically.

A feature where we could construct a pager with a **timestamp** , similar to how we currently pass a marker & a prefix v

[2022-08-01 18:13] RickWinter opened #18776 "Azure Monitor Query for GO"
### Azure Monitor Query

Add support for Azure Monitor Query

[2022-08-01 21:31] charlesATswin commented on #18766
When I go to `github.com/Azure/azure-sdk-for-go/sdk/azcore/to` I get a 404. Going through the browser I need to go to `https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/azcore/to`. I figured that might be why I am getting the error?

[2022-08-01 22:46] Drewm3 commented on #18565
This is by design currently. The reason is that the instance view for a machine changes minute-by-minute which means that each instance must be queried directly to get the current status. We therefore require a query per instance to make this check. We are moving to a pub/sub model internally that will enable more instance status details in a single API call like this, but we are not ready to roll

[2022-08-02 04:34] #18766 closed

[2022-08-02 07:03] #18772 closed

[2022-08-02 14:58] hongbin opened #18777 "SAS token is not correctly signed with old api version"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`

github.com/Azure/azure-sdk-for-go/sdk/storage/azblob

- SDK version e.g. `master`, `latest`, `18.1.0`

master

- output of `go version`

go version go1.18.1 linux/amd64

- What happened?

SAS token is incorrectly signed if I specified an older API version.

- What did you expect or want to ha

[2022-08-02 16:38] ianeal commented on #14632
Any update on why swap properties was not included in the fix for this ticket?

[2022-08-02 23:29] mblaschke commented on #7352
@jhendrixMSFT
Sorry for bringing up this topic again but there is currently no real solution for accessing Azure AD from go. The old azure-sdk is now deprecated, the new azure-sdk doesn't have any AzureAD API support and msgraph-sdk is still in preview and currently not really useable manly due to the package size issue (see https://github.com/microsoftgraph/msgraph-sdk-go/issues/129).

As a devel

[2022-08-03 04:11] navba-MSFT commented on #18761
@GavinFrazar Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-03 07:58] tadelesh opened #18780 "Refine migration guide and guildlines for mgmt. plane SDK"
- Add all pattern changes from track1 to track2 to migration guide
- Add some compared examples to migration guide
- Add major version change pump help doc to guideline

[2022-08-03 09:32] navba-MSFT commented on #18761
@GavinFrazar I was able to fetch the `fullyQualifiedDomainName` of my database resource. Could you please run the below sample code ?

[code]

![image](https://user-images.githubusercontent.com/57353862/182575437-1559edfa-1942-4460-b662-caee2dfe51ba.png)

[2022-08-03 10:51] navba-MSFT commented on #18674
@mblaschke-daimlertruck Apologies for the late reply. Thanks for reaching out to us and reporting this issue. Could you please elaborate your requirement ? Also share details about your use case and what are you trying to achieve ? Awaiting your reply.

[2022-08-03 16:11] GavinFrazar commented on #18761
I'll try that code to see if it works for me, but I would like to use the ListPager, not a specific resource

[2022-08-03 16:58] mblaschke-daimlertruck commented on #18674
As mentioned above, the current used apiversion doesn't support following features:

RoleAssignments: `description`
RoleDefinitions: `dataActions`, `notDataActions`

I want to create/maintain RoleAssignments with custom descriptions and RoleDefinitions with the full feature set (dataActions/notDataActions).

[2022-08-03 18:12] mblaschke-daimlertruck commented on #18674
Also the list of roleAssignments includes RoleAssignments via managementgroups but falsely set the scope of these roleAssignments to the subscription in API version "2015-07-01".

This is fixed in newer API versions as managementgroups are not really supported in "2015-07-01".

[2022-08-04 03:36] tadelesh opened #18783 "Update ci to add Go 1.19"
As Go 1.19 has released, we need to change back to support the latest two major version for our SDK. This task will change the ci config to add 1.19 env for build and test.

[2022-08-04 03:42] navba-MSFT commented on #18761
@GavinFrazar Sure, please let me know if the above sample works. Also you could try to check if the below sample helps ?

[code]

[2022-08-04 10:36] balram2697 opened #18785 "[azservicebus] NewListRulesPager not working with Custom Properties in Correlation Filter"
### Bug Report

NewListRulesPager not working with Custom Properties in Correlation Filter

- SDK version - github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus v1.0.2
- output of `go version` - go version go1.18.1 linux/amd64

- What happened?
listRulesPager.NextPage(ctx) gives below error when the rule filter is of type Correlation filter and contains Custom Properties.
Error: type d5p1:

[2022-08-04 16:49] GavinFrazar commented on #18761
Example 1 code: I get
[code]
When I try setting provider namespace to `Microsoft.DBforMySQL` I get:
[code]
Setting the API version to "2017-12-01-preview" I get back generic resource with nil `Kind` but non-nil `Properties`.

[2022-08-04 16:56] GavinFrazar commented on #18761
Example 2 code: What client are you using? The snippet doesn't specify and I'm only familiar with clients that have pager methods like `NewListPager`

[2022-08-04 16:57] RickWinter opened #18786 "Stop providing snippets in markdown"
All snippets and samples should be compiled to ensure correctness.  The Go tooling provides this validation when the code is contained in documentation examples.

For each package, we need to ensure

1. Readme samples are references to Examples in documentation on pkg.go.dev
2. Example code in markdown is removed.
3. All Champion scenarios have corresponding examples in doumentation.

[2022-08-04 19:50] Drewm3 commented on #18565
Reopening and closing for this to pickup in the MSFT tracking system.

[2022-08-04 19:50] #18565 closed

[2022-08-05 00:58] veerun14 opened #18787 "Should I make the creation of a new client a singleton?"
PR https://github.com/Azure/azure-sdk-for-go/pull/17742 adds support for AAD authentication by use of azcore.TokenCredential.

My question is should the client created this way be made a singleton across your app?
The Performance guide in the documentation [here ](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/performance-tips?tabs=trace-net-core) suggests use of a singleton, but that is for

[2022-08-05 03:25] hongbin commented on #18712
ping for update.

[2022-08-05 03:45] navba-MSFT commented on #18674
@mblaschke-daimlertruck Could you please confirm if you have used the most recent version of Azure Authorization module and see if that serves your requirement?

Awaiting your reply.

[2022-08-05 04:37] navba-MSFT commented on #18761
@GavinFrazar Regarding the `Example 1 code`, You are right, changing the provider namespace to Microsoft.DBforMySQL and api-version to "2017-12-01-preview" should help here. See the below screenshot:

![image](https://user-images.githubusercontent.com/57353862/183001617-b7cb8bba-fc8c-43b9-8aa9-4db08257da38.png)

`FQDN` and `Location` details are available in the response as shown above.  The `Kind

[2022-08-05 06:52] mblaschke-daimlertruck commented on #18674
@navba-MSFT You mean version`github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/authorization/armauthorization@2.0.0-beta.1`?
This version is not working at all it removed `RoleAssignments` and `RoleDefinitions` at all. There is NO support anymore: https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/resourcemanager/authorization/armauthorization/CHANGELOG.md

I already mentioned it in https

[2022-08-05 07:13] rht-b commented on #18674
@navba-MSFT There are issues with both Azure Authorization module v1.0.0 and v2.0.0-beta.1:

 - The latest version of Azure Authorization module (v2.0.0-beta.1) doesn't have RoleAssignmentClient, which used to be present in lower versions(< v63.2.0 tag). We need funcs from this client in order to do role assignments.

 - The RoleAssignmentClient in v1.0.0 uses api-version:2015-07-01 and it doesn't

[2022-08-05 16:22] #18690 closed

[2022-08-05 16:23] GavinFrazar commented on #18761
I can of course use these methods - for instance I could list all resource groups and then use your example 2 code for each group. I would prefer not to do that many API calls though,and I would also prefer to use a pager client - the generic `armresources` client would be perfect if it returned resource properties in the response.

[2022-08-05 16:27] chlowell commented on #18787
Our clients for HTTP services (including AAD) share a single `http.Client` by default. If you aren't replacing that `http.Client`, I doubt there's much to be gained by using a singleton `azcosmos.Client`.

The Cosmos client and `azidentity` credential handle retries and token refreshing internally. When a Cosmos client method returns an authentication error, the error is either not retriable (thin

[2022-08-05 20:06] patrickdillon commented on #16638
@chlowell I see that azidentity for go has moved to stable. Is Azure Stack supported?

[2022-08-05 21:22] chlowell commented on #16638
Depends on the authentication provider for your Stack. azidentity supports Azure AD but not ADFS. We're tracking ADFS support with #14405.

I see I never came back to update this issue! Let me do that now: the PR I mentioned above shipped, and the current cloud configuration API is covered in the documentation for [azcore/cloud](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/azcore@v1.1.

[2022-08-07 04:21] serbrech opened #18799 "[track2] Provide a way to redact fields based on pattern when logging response body"
### Feature Request

When we enable logging of response body, everything is logged and we can't parse/filter it easily.
even the client handshake is logged, logging the token :

[code]

Logging the body of service to service communication is very useful in test environments, but we need ways to do this safely.

We'd like a way to redact property values based on property name. For example, redact a

[2022-08-08 04:22] navba-MSFT commented on #18674
@mblaschke-daimlertruck @rht-b Thanks for your reply. I am looking into this and doing some more research. I will get back on this thread, once I have more details on this.

[2022-08-08 06:16] navba-MSFT commented on #18761
@GavinFrazar Thanks for getting back. Looking at the REST API https://docs.microsoft.com/en-us/rest/api/resources/resources/list
I could see that the `properties` field itself is not exposed in response. Hence it is shown as nil while calling it from SDK.

[2022-08-08 06:51] tadelesh opened #18801 "Chicken-and-egg problem for `Link verification check`"
When we release packages with a major version pump and major version is larger than v1, we will meet a chicken-and-egg problem for `Link verification check`. In the `readme.md` file, there is a package reference link which need to have version suffix in the URL. When package is not released, the URL is unreachable which result in blocking the release pipeline. The approach that releasing without v

[2022-08-08 16:33] RickWinter commented on #18801
I do not want to remove the check entirely.  Perhaps we want a special flag to bypass when doing major version updates?

Note: I would hope this is a rare occurrence :)

[2022-08-08 18:21] richardpark-msft commented on #18785
Hi @balram2697, I'm looking at this.

[2022-08-08 19:53] jhendrixMSFT commented on #18783
Done

[2022-08-08 19:53] #18783 closed

[2022-08-08 20:59] jhendrixMSFT opened #18809 "URL-encode query params when creating a request"
URL-encode the `nextLink` value for a pageable operation as required.

Example value.
`
https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/usageDetails?$expand=meterDetails&$filter=properties/usageStart ge '2021-07-01' and properties/usageEnd lt '2022-07-02'&$top=2&api-version=2021-10-01&sessiontoken=&$skiptoken=ABC123&skiptokenver=v1&id

[2022-08-08 22:06] wenjungaogaogao opened #18811 "Read Only Fields in DenyAssignmentProperties and Missing Clients"
### Bug Report

- import path of package in question:
  - "github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-09-01-preview/authorization"
  - And other apiversions as well.

- SDK version e.g. `master`
  -  master

- output of `go version`
  - go version go1.18.2 linux/amd64

- What happened?
  1. The principal field is marked as [read only](https://github.com/Azure/azure-

[2022-08-08 22:58] jhendrixMSFT commented on #18799
This should be achievable today with a custom log listener, so no need to change the pipeline policy.  Granted, this filter would apply to the entire output to be logged, not just the response body.

[code]

[2022-08-08 22:59] jhendrixMSFT commented on #18809
Fixed in upcoming `azcore@v1.1.2`

[2022-08-09 03:21] #18785 closed

[2022-08-09 03:24] tadelesh commented on #18801
Agree with adding some special logic for the first onboard of major version.

[2022-08-09 09:17] tadelesh commented on #18811
@wenjungaogaogao We have deprecated `github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-09-01-preview/authorization`. A replacement package is available [github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/authorization/armauthorization](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/authorization/armauthorization). See [Migration Guide](https://

[2022-08-09 19:55] #18809 closed

[2022-08-09 20:43] jhendrixMSFT commented on #7352
Unfortunately, I don't have a good answer at present.  I brought this up in our scrum yesterday but nothing concrete has been formed yet.

[2022-08-09 20:59] tiny-dancer commented on #7352
If helpful, another community SDK can be found here https://github.com/manicminer/hamilton, which is used by the azure ad terraform provider.

(I can’t speak to its relation/strategy to the aforementioned preview go sdk, just have followed the azure ad terraform provider progress to MS Graph)

[2022-08-09 21:22] #18505 closed

[2022-08-10 00:44] #17417 closed

[2022-08-10 02:15] richardpark-msft commented on #18696
Hi @AmaliMatharaarachchi,

All load balancing is handled by the service here. How many messages are you asking for with each ReceiveMessages() call? Is it 10, as in your example? Do you typically get all 10 messages? If not, you might want to lower it so you don't have a single consumer greedily consuming all available messages.

With regards to the rest of the issues we should try two things:
- I

[2022-08-10 02:20] richardpark-msft commented on #18393
Implemented in #18694

[2022-08-10 02:20] #18393 closed

[2022-08-10 06:42] simongottschlag opened #18835 "armlocks api-version issue"
### Bug Report

Hi!

I'm using armlocks (`github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resources/armlocks`) version `v1.0.0` in the following way:
[code]

I get the following error:
[code]

I am able to work around the issue by doing the following:
[code]

There seems to be some kind of issue with the default version being used. I've specifically seen the issue with locks on storageAccoun

[2022-08-10 06:48] tadelesh opened #18836 "Calculate the version distribution for usage of Go track2 mgmt. SDK"
1. Go version distribution
2. Package version distribution

[2022-08-10 15:56] mblaschke-daimlertruck commented on #7352
even if https://github.com/manicminer/hamilton is a good alternative I would be happy if the https://github.com/microsoftgraph/msgraph-sdk-go gets more attention from Microsoft as official product. @baywet is working hard to provide a good sdk.

@jhendrixMSFT
is there any possibility to address this internally to try to get more staff for msgraph-sdk-go? This sdk is as important as azure-sdk-for-g

[2022-08-10 16:24] jhendrixMSFT commented on #7352
I agree that getting a solid msgraph-sdk-go is the right long-term solution.  While I can't make any promises, I will pass this info along to management in hopes of getting more traction.

[2022-08-10 17:14] chlowell commented on #15615
We published 1.2.0-beta.2 today with a new credential type, `ClientAssertionCredential`, that does most of what's required for Workload Identity. I expect to have full Workload Identity support in v1.2.0 but it didn't make the cut for this beta because we're still discussing where it fits in the public API. In the meantime, it's easy to leverage `ClientAssertionCredential` for Workload Identity. F

[2022-08-10 18:45] wenjungaogaogao commented on #18811
@tadelesh Thanks for the quick response.
However DenyAssignment related model and client are not available in the auth sdk.

[2022-08-10 18:47] brphelps opened #18845 "Server issues don't result in request-id showing up in error message"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`

` 	"github.com/Azure/azure-sdk-for-go/sdk/storage/azblob" `

- SDK version e.g. `master`, `latest`, `18.1.0`

` github.com/Azure/azure-sdk-for-go/sdk/storage/azblob v0.4.1 `

  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github

[2022-08-11 02:35] tadelesh commented on #18835
Need service team to check why `2020-05-01` not work for `locks` API (defined in: https://github.com/Azure/azure-rest-api-specs/blob/80065490402157d0df0dd37ab347c651b22eb576/specification/resources/resource-manager/Microsoft.Authorization/stable/2020-05-01/locks.json#L5).

[2022-08-11 04:57] navba-MSFT commented on #18835
@simongottschlag Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-11 08:03] #18352 closed

[2022-08-11 09:56] navba-MSFT commented on #18835
@simongottschlag I am able to reproduce the issue at my end. I tried to invoke [this](https://docs.microsoft.com/en-us/rest/api/resources/management-locks/get-at-resource-level) REST API using api-versions 2016-09-01 and 2017-04-01 and it worked. However, the `api-version='2020-05-01'` is failing while we invoke the [Get the management lock of a resource rest api](https://github.com/Azure/azure-re

[2022-08-11 16:06] jhendrixMSFT commented on #18845
Looks like DNS failed to resolve the host name, so the request was never made which is why there's no request ID.  This specific error message comes from the standard library.

https://github.com/golang/go/blob/master/src/net/dnsclient_unix.go#L44

[2022-08-11 16:32] #17943 closed

[2022-08-11 16:32] jhendrixMSFT commented on #17943
Fixed in upcoming `azblob@v0.5.0`

[2022-08-11 16:47] jhendrixMSFT commented on #17823
Fixed in the refactor, will ship in `azblob@v0.5.0`

[2022-08-11 16:47] #17823 closed

[2022-08-11 16:49] jhendrixMSFT commented on #17801
Fixed in upcoming `azblob@v0.5.0`

[2022-08-11 16:49] #17801 closed

[2022-08-11 17:35] richardpark-msft opened #18859 "[azservicebus] Snippets and examples cleanup"
We've changed how we want to present snippets and examples. We can take advantage of this in azservicebus.

1. Convert any snippets in the readme to Example_Test files. It makes sense that these would end up as whole-file examples instead.
2. Change the credentials authentication to be similar to what I've done in the azeventhubs readme. A bullet point list, pointing to the individual examples in

[2022-08-11 17:46] richardpark-msft commented on #18686
Done. And we're about to release the first beta.

[2022-08-11 20:00] jhendrixMSFT commented on #17650
Fixed in upcoming `azblob@v0.5.0`

[2022-08-11 20:00] #17650 closed

[2022-08-12 02:59] richardpark-msft opened #18869 "[az(eventhubs|servicebus)] Create New*ClientWithSASKey constructor functions"
Both packages have similar requirements and similar authentication. We need to add an overload that allows you to directly pass a SAS key, and not just a connection string.

[code]

[2022-08-12 23:44] richardpark-msft commented on #18531
This test hasn't failed in at least 30 days. Closing.

[2022-08-12 23:44] #18531 closed

[2022-08-12 23:44] richardpark-msft commented on #18383
Released in beta.1

[2022-08-12 23:44] #18383 closed

[2022-08-12 23:45] richardpark-msft commented on #18390
Beta.1 readme written, using new style (no snippets, purely examples)

[2022-08-12 23:45] #18390 closed

[2022-08-12 23:47] richardpark-msft commented on #18386
Done as of beta.1

[2022-08-12 23:47] #18386 closed

[2022-08-15 06:01] tadelesh opened #18875 "Consolidate package name uploaded to API View"
Change SDK automation's output to consolidate to CI API View output:
[code]

[2022-08-15 06:20] tadelesh commented on #16830
@bganapa For the resource type issue, if we want to do some resource type filter by adding some logic into generators, do we have some common way to know which operation we need to add. For the current profile config, I found it's hard to pair the config with operation/operation group. For example, which operation belong to storageAccounts/blobServices in the [spec](https://raw.githubusercontent.c

[2022-08-15 06:22] #18836 closed

[2022-08-15 16:34] bganapa commented on #16830
@tadelesh Thanks for asking. We do not filter out any operations/operation groups for the supported api version. This means that all the operations are included even though it may not be supported in Azure Stack. Hope that clarifies your query.

[2022-08-15 19:09] jhendrixMSFT commented on #18249
The CVE is in yaml.v3, however we are using yaml.v2.  The CVE was incorrectly flagged in v2 which has since been fixed.

[2022-08-15 19:09] #18249 closed

[2022-08-15 20:06] weshaggard commented on #18801
Our general link guidance can be found at https://aka.ms/azsdk/guideline/links. In general, we don't want to release any links that we think will be valid in the future because there is never any guarantee, and it is always better to have no link then a broken link. We should ask whether or not the links are needed and if so perhaps have them commented out on first release and then add them in in

[2022-08-15 23:49] richardpark-msft commented on #18869
(as a note, I went through and did some exploring here. It shouldn't be difficult, but there's some debt as we tried to move away from the older azservicebus to the newer. Will need to be cleaned up in both packages).

[2022-08-16 02:03] scottaddie opened #18879 "Create Azure Monitor Query library for Go"
Ship an Azure Monitor Query library for Go. The library should have the same features at the .NET, Java, JavaScript, and Python libraries. Checklist of items to address before GA:

- [ ] Document champion scenarios in README (same scenarios documented in the other languages' libraries)
- [ ] Create a troubleshooting guide

[2022-08-16 02:51] tadelesh commented on #18801
The broken link for Go is the reference doc badge in the package readme file and the link is linked with the package version. Also, this readme file will be showed in `pkg.go.dev` site. As you suggested, we could comment it before any major version first release and add back after release. But it will be an extra manual work out of our toolchain.

[2022-08-16 05:03] navba-MSFT commented on #18835
@simongottschlag I had reached out to the Product owners in the background and we’ve run into similar issues in the past where the API version listed as being supported in the resource provider’s manifest doesn’t align to what’s in swagger (or vice versa). We are now tracking this issue in our backlog, but we can’t yet commit to when it will be fixed.
In the meantime if you have any follow-up ques

[2022-08-16 05:14] simongottschlag commented on #18835
Thanks @navba-MSFT!

I have a workaround and mostly created the issue to make sure others who hit the same issue doesn't have to figure it out themselves as well as making sure it's resolved in the end. 😊👍

[2022-08-16 05:17] navba-MSFT commented on #18835
@simongottschlag I am glad that you are unblocked for now. Thanks for reporting this issue and providing the feedback.  Please let us know have any follow-up questions, feel free to ask.

[2022-08-16 08:18] tadelesh opened #18881 "Add major version upgrade method to all mgmt. SDK module readme"
Ref: https://github.com/Azure/azure-sdk-for-go/pull/18880

[2022-08-16 08:45] tadelesh commented on #18811
@Alancere Please help to release a new version for authorization with tag `package-2022-04-01`.

[2022-08-16 09:04] tadelesh opened #18882 "Fix bug for changelog generation for mgmt. SDK"
Fix release tool bug: changelog does not contain the type definition besides struct or interface, e.g., string type of enum.

[2022-08-16 19:04] RickWinter commented on #18879
Duplicate issue, https://github.com/Azure/azure-sdk-for-go/issues/18776

[2022-08-16 19:04] #18879 closed

[2022-08-16 23:40] richardpark-msft opened #18883 "[azeventhubs] epoch/owner level is used incorrectly"
The epoch is not formatted as part of the link path, it should be passed as part of the parameters when a receiver link is created.

[2022-08-17 01:14] GavinFrazar commented on #18761
/unresolve

[2022-08-17 01:18] GavinFrazar commented on #18761
@navba-MSFT I accept your answer, but I'm reopening this to ask if there is any reason I shouldn't use armresourcegraph? It seems this API (https://docs.microsoft.com/en-us/rest/api/azureresourcegraph/resourcegraph(2021-03-01)/resources/resources?tabs=HTTP) does respond with "properties", but I see that [the sdk](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resourcegrap

[2022-08-17 03:15] #18801 closed

[2022-08-17 04:12] navba-MSFT commented on #18835
@simongottschlag No ETA for the fix release just yet. We have got the workitem details too internally to keep a track on this Bug.  So proceeding with archival of this thread.

[2022-08-17 04:12] #18835 closed

[2022-08-17 05:17] wenjungaogaogao opened #18885 "ResourceGroupPatchable Field not Patchable"
### Bug Report

- import path of package in question
  - https://github.com/Azure/azure-sdk-for-go/blob/cf4e6a06bdd67435e431f42d4ddb1d8423907c85/sdk/resourcemanager/resources/armresources/zz_generated_models.go#L1411
- SDK version e.g. `master`, `latest`, `18.1.0`
  - master
- output of `go version`
  - go version go1.18.2 linux/amd64

- What happened?
  - When update a resource group ([client def

[2022-08-17 06:18] navba-MSFT commented on #18761
@GavinFrazar You can use the `armresourcegraph` package to achieve your requirement. I didn't suggest this earlier since you were preferring to use _pager client_. I am sending you the sample code below for `armresourcegraph` to achieve your ask, if that helps:

[code]
More Info [here](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/resourcegraph/armresourcegraph#azure-reso

[2022-08-17 07:26] tadelesh opened #18888 "Opt-in new codegen feature with mgmt. plane SDK release tool"
1. Build script: add `removeUnreferencedTypes` flag.
2. Release tool: for new onboard package release, set flag of `removeUnreferencedTypes` and `alwaysSetBodyParamRequired` to `true`; other release to `false`.
3. For all the preview package, set flag of `removeUnreferencedTypes` and `alwaysSetBodyParamRequired` to `true` in `build.go`.

[2022-08-17 07:53] malt3 commented on #18704
Resolved by https://github.com/Azure/azure-sdk-for-go/pull/18795

[2022-08-17 07:53] #18704 closed

[2022-08-17 18:55] RickWinter commented on #17159
Blocked on [[Feature Request] Enable changing tenant after client construction](https://github.com/AzureAD/microsoft-authentication-library-for-go/issues/296)

[2022-08-17 19:24] jhendrixMSFT commented on #18252
Closing as this is by design.

[2022-08-17 19:24] #18252 closed

[2022-08-17 21:05] richardpark-msft opened #18892 "[azeventhubs] Make amqp:link:stolen a non-recoverable error"
In Event Hubs the owner level (or epoch) can be used by consumers to enforce exclusive ownership of a partition. There are basically two ways of using this:

- If nobody uses an owner level any receiver can open up and receive from a partition.
- If any receiver uses an owner level then any receivers that use a lower owner level (or don't specify one) will be disconnected from the partition with a

[2022-08-18 03:19] #18780 closed

[2022-08-18 05:24] #18882 closed

[2022-08-18 07:39] #18881 closed

[2022-08-18 18:40] #18883 closed

[2022-08-18 19:50] #17390 closed

[2022-08-18 21:35] garimakhulbe02 opened #18895 "ListByResourceGroupComplete not showing resource id correctly"
### Bug Report

- Import
[code]

- SDK version
  v66.0.0

- Output of `go version`
1.17

- Description
I am using ```ListByResourceGroupComplete``` with tags as filter to get list of resource in resource group for specified tag. I have a gallery image version in resource group which I need to delete, so I am listing it in tagged resources and then try to delete it. The issue is the resource ID com

[2022-08-18 22:03] #18845 closed

[2022-08-19 02:45] navba-MSFT commented on #18885
Adding Service team to look into this.

@armleads-azure could you please look into this and provide an update ?

[2022-08-19 03:42] navba-MSFT commented on #18674
@mblaschke-daimlertruck @rht-b This PR https://github.com/Azure/azure-sdk-for-go/pull/18890 has been created to fix this issue. It is currently under Review.

[2022-08-19 16:37] Nishant-Kumar07 commented on #18799
My team is trying to access the response error returned here - https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azcore/internal/exported/response_error.go#L99

As part of the RawResponse, I do see the bearer token being displayed, is there a way or plan to redact/hide the bearer token?

Will this "Github issue" take care of the problem or should i raise a new github issue?

[2022-08-19 19:18] onionhammer commented on #17850
This seems to be the source for a lot of downstream blockers; any update?

[2022-08-19 23:54] vladimirjoanovic commented on #18885
appears that the managedBy property is readonly after the RG create PUT. in what scenario are you trying to edit/change it?

[2022-08-21 19:43] imperugo opened #18915 "EventGrid subscription validation on Webhook example"
### Feature Request

Hi,
in my scenario I've few EventGrid subscription in different HTTP endpoints served by an go application using Gin.
In order to be sure that the request is coming from a trusted source (Azure in this case), I'm going to validate the request using a middleware.

Looking online I didn't found any example that explain how to do that.

[code]

Do you have any hint?

[2022-08-22 03:38] navba-MSFT commented on #18620
The above PR is pending for quite sometime now. Adding Service team to look into this and take this forward.

[2022-08-22 05:58] calmh commented on #18578
Can one not set the `x-ms-query-enable-crosspartition` query option in the REST API? This appears to work for me.

[2022-08-22 15:22] ealsur commented on #18578
You can certainly set that header, it does not mean the REST API is actually performing the query across partitions.
Just to give a basic understanding of how it works:

1. The SDK (any SDK supporting cross-partitioning queries) needs to fetch the partition map of the account
2. Issue the query across all partitions
3. Grab all the results across partitions and apply aggregations, ordering, etc. T

[2022-08-22 16:38] bmayfi3ld opened #18920 "Autogenerated Container Instance Model Is Not Up To Date"
### Bug Report

The field for dnsNameLabelResusePolicy was updated to AutoGeneratedDomainNameLabelScope in the latest swagger spec. (after the release of version 2021-10-01?)

https://github.com/Azure/azure-rest-api-specs/pull/18081/files

But this is not reflected in the current Go model.

[	DNSNameLabelReusePolicy *AutoGeneratedDomainNameLabelScope `json:"dnsNameLabelReusePolicy,omitempty"`](htt

[2022-08-22 18:01] jhendrixMSFT commented on #17850
Our updated `azblob` should be released in the upcoming weeks (ideally week of 8/29, but it might slip to the first week of September).

[2022-08-22 20:04] calmh commented on #18578
Thank you for clarifying that!

[2022-08-22 20:46] xstephen95x opened #18921 "Support `showonly` parameter for azure blob storage LIST API, in `ContainerListBlobsFlatOptions`"
### Feature Request

We are trying to use the new `azblob` package in this SDK to access ADLSGen2 / "hierarchical namespaces".

In the documentation:
https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-known-issues
It says

This is troublesome because the SDK currently provides no means of determining what is a file and what is a directory in the LIST results. There is no distin

[2022-08-22 21:15] garimakhulbe02 commented on #18895
@ArcturusZhang can you taka a look?

[2022-08-22 23:53] wenjungaogaogao commented on #18885
It's ok if I can't change it. It's just confusing on how this field works. Could you update the documentation and the ResourceGroupPatchable type if it's not intended to be patchable?

[2022-08-23 05:31] tadelesh commented on #18895
@garimakhulbe02 It seems a service issue. But we have deprecated package `github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2021-12-01/compute`. A replacement package is available [github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/compute/armcompute](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/compute/armcompute/v3). See [Migration Guide](https://aka.ms/azsdk

[2022-08-23 05:36] tadelesh commented on #18915
@imperugo We have deprecated `github.com/Azure/azure-sdk-for-go/services/eventgrid/mgmt/2021-12-01/eventgrid` package. A replacement package is available [github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/eventgrid/armeventgrid](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/eventgrid/armeventgrid). See [Migration Guide](https://aka.ms/azsdk/golang/t2/migration) for g

[2022-08-23 05:38] tadelesh commented on #15802
Close as track1 automation has been removed.

[2022-08-23 05:38] #15802 closed

[2022-08-23 05:49] navba-MSFT commented on #18920
@bmayfi3ld Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-23 06:37] navba-MSFT commented on #18920
@bmayfi3ld I have created a SDK release request, hoping it will be reviewed soon: https://github.com/Azure/sdk-release-request/issues/3107

[2022-08-23 09:33] imperugo commented on #18915
Hi @tadelesh
thanks for the quick answer.
I just replaced the packaged and took a look to your link suggestion but I didn't find what I was looking for.

In my scenario some applications are raising events into EventGrid and other applications are subscribers for that events thanks to the web-hook.

As far as I understood reading the documentation the first thing to do in order to have the subscri

[2022-08-23 09:33] tadelesh commented on #18920
@navba-MSFT it is not an SDK discrepancy from swagger. The issue is from the property name `dnsNameLabelReusePolicy` not the enum name. Please contact service team to figure out if it is a service bug. I've closed the release request you created.

[2022-08-23 09:41] navba-MSFT commented on #18920
Thanks @tadelesh for clarifying.

@bmayfi3ld  May I know your use case ? What are you trying to accomplish ?

[2022-08-23 13:00] bmayfi3ld commented on #18920
I'm trying to use the field AutoGeneratedDomainNameLabelScope but currently it is incorrectly named (and json tagged) DnsNameLabelReusePolicy in the github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerinstance/armcontainerinstance v1.0.0 package.    When used it gives the error in the original post.

From how I read the armcontainerinstance package, it is autogenerated. It looks like it

[2022-08-23 15:55] jhendrixMSFT opened #18933 "azblob: uncomment the commented-out tests"
There are a lot of tests currently commented out.  Assuming they are salvageable, uncomment them.

[2022-08-23 17:52] jhendrixMSFT opened #18935 "azblob: what to do with "unrecorded" tests"
Tests are currently split into two buckets, recorded and unrecorded.  It might simply be the case that the tests in the unrecorded bucket work and just need to be run/recorded.  At any rate, these tests aren't being executed at present, so we need to figure out what to do with them.

[2022-08-23 18:41] AlexPykavy opened #18936 "Is it possible to validate model objects on client side (without calling Azure API)?"
Does Azure SDK for Go support running client-side validation (without calling Azure API) on the model object to quickly verify its fields?

For example, to check the VM properties for length and allowed characters.

[2022-08-23 22:11] JoshLove-msft opened #18937 "[Service Bus] Create Troubleshooting Guide"
Here is the [template]( https://gist.github.com/JoshLove-msft/4b3ffbc041067602612a2d81fe514a97) that each language can follow to ensure all topics are covered in a consistent way.

As part of this work, we should update relevant exceptions to link out to aka.ms links that point to the corresponding section of the Troubleshooting guide, similar to what we did for [Identity](https://azure.grep.app/s

[2022-08-24 02:56] tadelesh commented on #18920
@bmayfi3ld I got it. Sorry for the wrong interpretation. It seems after service team fix the swagger correctness issue, there is no release request for this RP. @navba-MSFT Could you help to let service team to fire the request as this will also affect other languages' SDK.

[2022-08-24 03:42] navba-MSFT commented on #18920
@tadelesh Just to confirm, Are you asking me to create an SDK release request again ?

[2022-08-24 05:04] tadelesh commented on #18920
I don't know the reason why service team did not raise the release request after the swagger change. So, it could be better that we confirm with service team first.

[2022-08-24 07:37] tadelesh commented on #18811
Meanwhile, @wenjungaogaogao feel free to share your experience using the Azure SDK in this [survey](https://aka.ms/azsdk/go/issuesurvey).

[2022-08-24 07:46] tadelesh commented on #18915
@imperugo Thanks for the clarify. @jhendrixMSFT Could you help as it seems related to data plane?

[2022-08-24 11:58] erlisb commented on #18567
Hi @navba-MSFT,

is there any update on this issue ?

Thanks,
Erlis

[2022-08-24 12:01] navba-MSFT commented on #18567
@erlisb Are you still facing the same issue ? If Yes, let me know. I will follow-up with the product owners and update the status. Awaiting you reply.

[2022-08-24 22:39] georgejdli opened #18941 "Unable to Update AKS Nodepool to Enable Autoscaling Because of Erroneous Error Message"
### Bug Report

- import path of package in question, `"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice" v1.0.0`
- SDK version `v66.0.0+incompatible`
- output of `go version`: go1.19 darwin/arm64

- What happened? I get an error that is incorrect from the API when trying to update an AKS nodepool to enable autoscaling.

[code]
The nodepool is using Virtua

[2022-08-25 06:10] #18875 closed

[2022-08-25 08:25] Alancere commented on #17881
https://github.com/Azure/azure-rest-api-specs/pull/20381

[2022-08-25 15:43] georgejdli commented on #18941
Looks like you need to explicitly set the "AgentPoolType" for azure-sdk-go whereas in the azure cli it defaults to "VirtualMachineScaleSets".

I guess this is more of a documentation issue: the error message is confusing and the sdk docs don't say "Type" param is required for autoscaling.

The below configuration worked for me after adding the "Type" field to the properties struct
[code]

[2022-08-26 02:01] wuxu92 commented on #17591
@zjalexander hi is there any update on this issue? looking forward to having this issue fixed asap.

[2022-08-26 02:55] navba-MSFT commented on #18920
@bmayfi3ld @tadelesh I had reached out to the service team and got their reply. This fix had been put off due to changes needed to be made in swagger. If you want to use this field, please create your container in portal in the meantime.

Also, for the release you created I see you used version 2021-11-01, but should instead be 2021-10-01. Hope this answers.

[2022-08-26 06:48] magodo opened #18960 "Update track2 armmonitor package to 2021-08-01 to support Azure Monitor Log Alert V2"
### Feature Request

Azure Monitor Log Alert is a monitor resource under API path: `/SUBSCRIPTIONS/{}/RESOURCEGROUPS/{}/PROVIDERS/MICROSOFT.INSIGHTS/SCHEDULEDQUERYRULES/{}`. Current `armmonitor` is using API version 2018-04-16, which corresponds to the "old" version of that resource. While there is a new version (v2) for it since 2020-05-01, which has breaking changes on the data model, see [this]

[2022-08-26 16:02] zjalexander commented on #17591
I have forwarded your comment to the Automation service owners.

[2022-08-27 08:03] #18787 closed

[2022-08-28 01:38] bmayfi3ld commented on #18920
Looks like that PR fixes the problem.

[2022-08-29 04:55] navba-MSFT commented on #18920
@bmayfi3ld Thanks for your reply. If you have any further queries or concerns, feel free to reopen this issue. We would be happy to help on this.

[2022-08-29 04:55] #18920 closed

[2022-08-29 11:29] tadelesh commented on #18960
@xboxeer Monitor contains preview swagger in tags that prevent us release the stable SDK. Could you help to contact with service team to see if the service is GA? Also, I wonder when will .NET SDK release stable monitor?

[2022-08-29 11:37] tadelesh commented on #18941
@xboxeer Can we have some more user-friendly method to help customer to understand how to use the API? For DPG, I know service doc or rest doc will be attached to API doc though I don't find related info of this customer's issue from swagger spec.

[2022-08-29 18:58] haitch commented on #16613
please priority this request, this is blocking AKS from moving to track2 API.

we rely on interface for our unittest too.

[2022-08-30 01:34] magodo commented on #18960
@tadelesh Can you release 2021-08-01, which is a stable version from its naming?

[2022-08-30 03:21] tadelesh commented on #18960
`2021-08-01` may only contains a sub-set of monitor operation and we need to release SDK module with complete RP operations. We are working with monitor team to see how to release the stable version.

[2022-08-30 06:30] xboxeer commented on #18941
@tadelesh AKS is a complex resource and I can find out that create or update AKS managed cluster is defined [here](https://docs.microsoft.com/en-us/rest/api/aks/managed-clusters/create-or-update?tabs=Go%2CHTTP#managedclusteragentpoolprofile), however it does not specified any information about when should we setup the `Type` property in agent pool profile: https://docs.microsoft.com/en-us/rest/api

[2022-08-30 08:04] #18480 closed

[2022-08-30 08:04] #17727 closed

[2022-08-30 11:13] floriankramer opened #18975 "azblob: Canno't upload files of more than 4MiB * 50000 (roughly 200GiB)"
### Bug Report

- import path: `"github.com/Azure/azure-sdk-for-go/sdk/storage/azblob"`
- azblob version `v0.4.1`
- `go version go1.18.4 linux/amd64`

When uploading a file  that is larger tan `4MiB * 50000` to a block blob with automatically determined block size the block size is too small. The upload then fails with:
[code]

The problem is this part of code inside of `uploadReaderAtToBlockBlob`

[2022-08-30 13:58] georgejdli commented on #18941
@xboxeer I saw the "type" property being sent in the CLI debug output even though I did not explicitly set that option in the CLI command. I tried it with azure-sdk-for-go and it worked.

Would it be possible to make the "type" default to AgentPoolTypeVirtualMachineScaleSets when not set?
Looking at the generated client code I see that "type" is omitted from the request if not set.

[2022-08-30 15:23] bmorck opened #18976 "Support `UserDelegationCredential` in BlobSASSignatureValues.NewSASQueryParameters and on ServiceClient"
### Feature Request

Within the previous [azblob SDK](https://pkg.go.dev/github.com/Azure/azure-storage-blob-go/azblob), there was support for a UserDelegationCredential. This credential could be supplied to [BlobSASSignatureValues.NewSASQueryParameters](https://github.com/Azure/azure-storage-blob-go/blob/v0.15.0/azblob/sas_service.go#L45) and is returned from [ServiceURL.GetUserDelegationCredenti

[2022-08-30 15:23] bmorck opened #18977 "Support GetSASURL for User Delegation SAS within ContainerClient"
### Feature Request

Currently [ContainerClient.GetSASURL](https://github.com/Azure/azure-sdk-for-go/blob/sdk/storage/azblob/v0.4.1/sdk/storage/azblob/zc_container_client.go#L234) only supports Service SAS. This means that `ContainerClient.GetSASURL` will only supply a SAS if the client was authenticated using a Shared Key.

We would like to be able to call `GetSASURL` and receive a User Delegatio

[2022-08-30 15:37] RickWinter opened #18978 "Add tests for defaultCredentialErrorReporter"
Add tests surrounding
func (d *defaultCredentialErrorReporter) GetToken(ctx context.Context, opts policy.TokenRequestOptions)

[2022-08-30 16:01] RickWinter opened #18980 "Test improvements surrounding nil returns"
The error return paths could use additional tests and coverage throughout the library.

[2022-08-30 18:35] ealsur opened #18982 "Cosmos DB: Add LocationCache"
LocationCache mantains a cache (https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/data/azcosmos/async_cache.go) of the Locations available to an account.

We need to:

* Implement ReadAccount as an internal operation
* Create a LocationCache that uses the async cache (reference https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Routing/LocationCache.cs) to

[2022-08-30 18:36] ealsur opened #18983 "Cosmos DB: Add GlobalEndpointManager"
Add internal GlobalEndpointManager to handle:

Requires https://github.com/Azure/azure-sdk-for-go/issues/18982

* Periodic account information refresh (5M)
* Marking regions as unavailable

Reference: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Routing/GlobalEndpointManager.cs

[2022-08-30 18:37] ealsur opened #18984 "Cosmos DB: Support for Preferred Regions"
Support Preferred Regions on configuration to route operations to the selected regions.

Same feature exists on other SDKs: https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-sdk-availability

Requires https://github.com/Azure/azure-sdk-for-go/issues/18983

Requirements:

* Have a **Public API** surface in ClientOptions that allows the user to set the PreferredRegions. This step require

[2022-08-30 18:39] ealsur opened #18985 "Cosmos DB: Add ClientRetryPolicy for cross-region failover"
Add ClientRetryPolicy that leverages GlobalEndpointManager to do cross region failover

Reference: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs or https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientRetryPolicy.java (the same policy exists in other languages,

[2022-08-30 18:43] ealsur opened #18986 "Cosmos DB: Diagnostics for operations"
Similarly to other Cosmos DB SDKs, expose Diagnostics for each operation that includes relevant troubleshooting information.

Initially it can be scoped to:

* Relevant client configuration (like which Preferred Regions)
* All requests involved in an operation, including retries handled by cross-region management

[2022-08-30 18:44] ealsur opened #18987 "Cosmos DB: SessionContainer"
Add SessionContainer to help with accounts with Session Consistency.

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/SessionContainer.cs
[code]

[2022-08-31 06:58] deepanshumarwah opened #18992 "Automation rule Trigger Logic Enums for Incident Created, Updated and Alert Created"
### Feature Request

Currently there are no enums for Sentinel `AutomationRuleTriggerLogic` for `when` and `on` condition. The portal currently supports 3 trigger cases as per below screenshot.
![image](https://user-images.githubusercontent.com/55777311/187612092-5aa25b8f-1241-43af-8fa3-cd6d3f0f7468.png)

However, the SDK doesn't contain logic for these 3 cases. It should be something similar to `

[2022-08-31 20:11] weinong opened #18996 "azure cli credential is broken on Windows"
### Bug Report

- azidentity, latest

- What happened?
  azure_cli_credential on Windows lauches `az` cli using `cmd.exe` [under `%SYSTEMROOT%`](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azidentity/azure_cli_credential.go#L112-L117) which is actually wrong. `cmd.exe` is under `%SYSTEMROOT%\system32` instead.

this issue causes https://github.com/Azure/kubelogin/issues/129

[2022-08-31 20:19] jhendrixMSFT commented on #18351
Fixed in `azcore@v1.1.1`

[2022-08-31 20:19] #18351 closed

[2022-08-31 21:58] jhendrixMSFT commented on #18996
Changed in https://github.com/Azure/azure-sdk-for-go/pull/15928

[2022-08-31 22:54] chlowell commented on #18996
`AzureCLICredential` doesn't exec `%SYSTEMROOT%\cmd.exe`. It execs `cmd.exe` with `%SYSTEMROOT%` as the working directory: https://github.com/Azure/azure-sdk-for-go/blob/5e92ba59cc5ec18aedb05e95bda3b8d6775a4ace/sdk/azidentity/azure_cli_credential.go#L112-L117

So, the requirement is that `cmd.exe` be somewhere on `%PATH%`, not necessarily in `%SYSTEMROOT%`.

This makes the error message in the lin

[2022-08-31 23:39] jhendrixMSFT opened #18998 "Automatically update code coverage floor as part of release pipeline"
As part of the release pipeline, specifically the stage that updates a module's version number, it would be great if we could update the code coverage floor if the coverage has increased.

E.g. for https://github.com/Azure/azure-sdk-for-go/blob/main/eng/config.json#L5

If the last release of `azappconfig` has increased the code coverage percentage, have the release pipeline update the floor with t

[2022-09-01 00:10] weinong commented on #18996
@chlowell you are right. I actually cannot repro it, either. Though, my setup is Win 11.
@DaleyKD thoughts?

[2022-09-01 02:59] wuxu92 commented on #17591
there is another similar break change in the `runbook.GetCotent` from `2018-06-30` to `2019-06-01`. could you please forward this to the service team too? @zjalexander  or should I raise another issue to track this

https://github.com/Gizachew-Eshetie/azure-rest-api-specs/blob/55458b642a7cdc8dd9b2928942d13c6f076399bc/specification/automation/resource-manager/Microsoft.Automation/stable/2018-06-30/

[2022-09-01 04:05] navba-MSFT commented on #18992
Adding Service team to look into this.

@amirkeren Could you please look into this and provide an update once you get a chance ?

[2022-09-01 04:27] drkennetz opened #19002 "CostManagement Pagination Increase from 1000"
### Feature Request

Hi team,

I have recently been writing a CostManagement app that can report on all the costs in my subscription. Using my App, I have been able to tease out a nice results set for date, cost by resourceId on that day, resource group, resource type, resource id:

[code]
The issue is, the app only gives me the first 1000 results from the QueryDefinition. I then tried to overcome

[2022-09-01 07:04] drkennetz commented on #19002
I have a working PR for this, but I don't know how to update the autorest.go to include changes and these are generated files. Any help would be appreciated!

[2022-09-01 12:41] DaleyKD commented on #18996
I can't explain it, but the idea that `cmd.exe` be somewhere in your `%PATH%` is not fully accurate.  My machine most definitely has `cmd.exe` there, but that's not what it was thinking.  (I don't know how Go works, so I can't comment as to what it's supposedly doing with `CommandContext`.)

I'm testing this on Windows 10.

[2022-09-01 17:10] sid6mathur opened #19005 "[azcore] Pretty printer for structs with lots of pointers"
### Feature Request

Similar to the `to.Ptr()` utility function, please add a pretty printer function to `azcore` to help render contents of a struct that has a [lot of pointers](https://github.com/Azure/azure-sdk-for-go/blob/6afe23aa128951800363ac5cdf73a0b3799bb9ea/sdk/resourcemanager/apimanagement/armapimanagement/zz_generated_models.go#L7027) as members:

Examples like this one from `armapimana

[2022-09-01 19:47] mega-alex opened #19007 "ContainerServicesClient.ListOrchestrators is no longer available"
### Service Package Request

https://docs.microsoft.com/en-us/rest/api/aks/container-services/list-orchestrators?tabs=HTTP

This used to be available in the older `"github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-09-01/containerservice"` package as `ContainerServicesClient.ListOrchestrators(...)` but appears to be missing from the new ARM packages.

[2022-09-01 20:21] richardpark-msft opened #19008 "[azeventhubs] trim and update the vendored blob package"
We're currently vendoring blobs to avoid versioning issues as it goes through it's beta cycle.

The blob package is pretty big, since it encompasses multiple types of blobs, as well as different functions for APIs that we are not using.

So we can do this:
- Update to the latest azblob
- Since we're not going to update frequently, trim the models that we no longer need or use.

This work is very m

[2022-09-01 21:36] RickWinter commented on #14684
@ArcturusZhang Can this issue be closed now that that new resource manager modules are released?

[2022-09-01 21:37] RickWinter commented on #14669
@ArcturusZhang Can you update the status on this bug.

[2022-09-01 21:38] RickWinter commented on #14628
@ArcturusZhang @leni-msft , Is this issue still active?

[2022-09-01 21:39] RickWinter commented on #14571
@msaranga , @WodansSon Can you update this issue please

[2022-09-01 21:42] RickWinter commented on #14506
@ArcturusZhang Is this resolved?

[2022-09-01 21:43] RickWinter commented on #14311
Any update?

[2022-09-01 21:44] RickWinter commented on #12639
@anuragdalmia Any update?

[2022-09-01 21:46] #5710 closed

[2022-09-01 21:58] RickWinter commented on #18537
Any update?

[2022-09-01 23:59] vladimirjoanovic commented on #12639
the RP here is Microsoft.Subscription

[2022-09-02 08:04] #18696 closed

[2022-09-02 08:58] astingengo commented on #8654
Can someone add a full code example for this please.
I'm unable to create a client for this specific tasks.

Thanks

[2022-09-04 10:02] ayalonsivan opened #19020 "supporting latest version of eventhub.namespace"
### Service Package Request

Hi,

I am currently trying to get all the properties for Microsoft.EventHub namespaces.
According to Azure API , the latest stable version (2021-11-01)  properties supports encryption and private endpoint connection :

@ https://docs.microsoft.com/en-us/azure/templates/microsoft.eventhub/2021-11-01/namespaces?pivots=deployment-language-bicep

In the SDK, the latest sup

[2022-09-04 20:16] simongottschlag opened #19021 "SDK support for Metrics (Data plane)"
Hi!

I've been trying to figure out if the SDK supports Metrics (Data plane) but haven't found anything about it: https://docs.microsoft.com/en-us/rest/api/monitor/metrics%20(data%20plane)/create?tabs=HTTP

Am I missing something obvious or doesn't it exist?

Thanks!

[2022-09-05 05:14] tadelesh commented on #17591
@dz-sourced We've depreacated `services/preview/automation/mgmt`. A replacement package is available [github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/automation/armautomation](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/automation/armautomation). See [Migration Guide](https://aka.ms/azsdk/golang/t2/migration) for guidance on upgrading. And in the new version, the

[2022-09-05 07:35] wuxu92 commented on #17591
but we can not migrate to the new SDK package in the short term(or even in the long term)

[2022-09-05 08:32] lirenhe commented on #17591
Please consider the migration and we could help if you have any specific asks.  We already stopped regular release of old version of the SDKs.
cc @xboxeer

[2022-09-05 08:40] lirenhe commented on #19002
@drkennetz,  as this ask is for service team, could you create a support ticket directly for your ask?
https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request

[2022-09-05 09:49] akankshakumari393 opened #19026 "Restore from File share snapshot"
Is there a way create a new volume from a file share snapshot.

I am looking for a way to take snapshot of a Flle share and then use the same snapshot to restore in some file share.

[2022-09-05 10:24] tadelesh commented on #19007
@mega-alex Thanks for your feedback. Firstly, we've deprecated the package `github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-09-01/containerservice`. A replacement package is available [github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontaine

[2022-09-05 11:32] tombuildsstuff commented on #17591
@wuxu92 since this is related to a Terraform issue, this method is now available in [`hashicorp/go-azure-sdk`](https://github.com/hashicorp/go-azure-sdk/blob/ff5f76c500abe991c7c13cc5e2e6574649f1c60f/resource-manager/automation/2019-06-01/dscconfiguration/method_getcontent_autorest.go#L21) - so it'd be worth confirming if that works for this issue.

[2022-09-05 18:48] drkennetz commented on #19002
@lirenhe It is both a service request and a feature request. You can get around the pagination issue by adding a `Skiptoken` to the `QueryClientOptions` struct, which allows you to receive the next result. I have this implemented locally, but I don't know how (or where) to make the change in the code that auto-generates this code, and I was wondering if you all could help out with that (even if it

[2022-09-06 02:47] wuxu92 commented on #17591
@tombuildsstuff hashicorp/go-azure-sdk generated the same code by autorest, so [the line ](https://github.com/hashicorp/go-azure-sdk/blob/ff5f76c500abe991c7c13cc5e2e6574649f1c60f/resource-manager/automation/2019-06-01/dscconfiguration/method_getcontent_autorest.go#L64)`autorest.ByUnmarshallingJSON(&result.Model),` will always cause an error.

[2022-09-06 03:55] deepanshumarwah commented on #18992
Hi Team

Any eta on this ?

[2022-09-06 05:33] amirkeren commented on #18992
I'll contact the relevant team and have them follow up here

[2022-09-06 13:19] mega-alex commented on #19007
I followed the migration guide, but what I was saying is there is no equivalent way to list all available orchestrator versions in the new ARM SDKs. I can't find any reference to that endpoint or similar method names anywhere in the new packages. There is a way to list available upgrades to a cluster, but no way to just list what versions of kubernetes are available without a cluster provisioned.

[2022-09-06 14:56] jhendrixMSFT commented on #19020
I believe this is supported in our latest `armeventhub` module.

https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/eventhub/armeventhub

[2022-09-06 14:59] jhendrixMSFT commented on #19021
I believe this is being tracked in https://github.com/Azure/azure-sdk-for-go/issues/18776.  @scottaddie is this correct?

[2022-09-06 15:52] tasherif-msft commented on #16781
Hi @deiter!
Azure Core introduced https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azcore/errors.go#L14 which can be cast using:
[code]
Let me know if solves the issue.
I will close this in the meantime.

[2022-09-06 15:53] tasherif-msft commented on #16987
Hi @ArnavPrasadMicrosoft!
Azure Core introduced https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azcore/errors.go#L14 which can be cast using:
[code]
Let me know if solves the issue.
I will close this in the meantime.

[2022-09-06 16:06] jhendrixMSFT commented on #16987
This is correct.  However, we haven't yet released an updated `azblob` that returns this error type.

[2022-09-06 16:57] tasherif-msft commented on #16987
@jhendrixMSFT you're correct, I have reopened the issue and updated my comment that this change should be available in the next release

[2022-09-06 17:59] NatashaDorfman commented on #18992
Hi @deepanshumarwah & @amirkeren

1. SDKs were released last time 6 months ago. Triggers for _update incident_ and _alert created_ were introduced later. I'll update this issue, when next version of SDKs will be released.
2. API does support all 3 trigger conditions. _On_ condition is defined [here](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/securityinsights/resource-man

[2022-09-06 20:25] JoshLove-msft opened #19036 "[Service Bus] Respect TryTimeout when opening next available session link"
The service hardcodes a max of 1 minute and 5 seconds when accepting a session. This means the TryTimeout that the user specifies in the client is ignored if they specify a value higher than this. We should specify the timeout property in the link settings properties when opening a link for next available session to support long polling. In the .NET library, we've found that using long polling res

[2022-09-06 21:32] richardpark-msft commented on #19020
Yeah, this is purely an ARM (management plane) feature, as we don't export an ATOM layer for EH. Removing myself for now, but I can re-add if there's something I can provide here.

[2022-09-06 21:40] arussellf5 opened #19039 "[azservicebus] timeout error when accepting next session is not exported type"
pkg: github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus
version: v1.1.0
go version: go 1.18.5

In testing, if I call the `azservicebus` client's `AcceptNextSessionForSubscription()` method and there is no session to accept, I get the following timeout error:

[code]

This timeout error formerly contained a `*amqp.Error` which allowed for type checking. The timeout error is no longer expo

[2022-09-06 21:42] arussellf5 commented on #19039
Also as a footnote, the timeout occurred over 7 minutes after the request was made, not "within the allotted timeout of 00:01:04.9800000" as reported on the error message.

[2022-09-06 22:21] scottaddie commented on #19021
Joel's comment above is accurate. Keep an eye on that issue for tracking purposes. The current GA target for the Azure Monitor Query library for Go is November. The library [already exists for .NET, Java, JavaScript, and Python](https://devblogs.microsoft.com/azure-sdk/announcing-the-new-azure-monitor-query-client-libraries/).

[2022-09-06 22:24] jhendrixMSFT commented on #19021
Closing as this is being tracked already.

[2022-09-06 22:24] #19021 closed

[2022-09-06 23:13] annatisch opened #19043 "[Tables] Support geo-redundancy for Cosmos and Storage"
Add support for Geo-redundancy in the Tables SDK.
This is supported by Cosmos as multiple failover regions for both read and write.

Initial proposal suggests exposing two client configuration settings:
- `read_regions`: A list of strings with the regional account URLs, in the order that they will be attempted.
- `write_regions`: Same but for write operations.

This should likely be implemented as

[2022-09-07 02:56] tadelesh commented on #19007
@mega-alex Thanks for your explanation. We'll reach out container service team to see why they remove the swagger for the recent version.

[2022-09-07 03:02] tadelesh commented on #19020
@ayalonsivan You could try . It uses the API version `2021-11-01`.

@ayalonsivan This package use API version `2021-11-01`. You could try it. If any further questions, feel free to leave a comment.

[2022-09-07 05:20] simongottschlag commented on #18776
Hi!

I created https://github.com/Azure/azure-sdk-for-go/issues/19021 which was closed in favor of this issue for tracking.

The main question from my side was (even though it may have been vague) if it is possible to set metrics (not query) for a resource using this SDK.

Looking at the JS/TS SDK as a reference, it doesn't seem to support it and the same goes for the current PR for this SDK.

@sc

[2022-09-07 06:50] navba-MSFT commented on #18674
@mblaschke-daimlertruck @rht-b This issue has been added to this milestone https://github.com/Azure/azure-sdk-for-go/milestone/62. Track this PR https://github.com/Azure/azure-sdk-for-go/pull/18890 for the fix release . If any further assistance is required feel free to reopen this issue. We would be happy to help.

[2022-09-07 06:50] #18674 closed

[2022-09-07 13:31] scottaddie commented on #18776
@simongottschlag Thanks for clarifying your ask. The Azure Monitor Query library doesn't support setting of metrics. It's intended to be a tool for querying only. Can you please provide a little more detail on your use case?

[2022-09-07 14:24] machen382847508 opened #19058 "how to request on proxy"
how to LIST by proxy
such as:
client.List(resourceGroup,nil)
it request by no proxy.
how to use proxy to request

[2022-09-07 17:21] rht-b opened #19060 "RoleAssignmentsClient.Create in armauthorization is not idempotent"
Creating the same role assignment twice results in success the first time, but the second time results in an error: `The role assignment already exists.` The input to roleAssignmentsClient.Create has same (`Scope`, `RoleAssignmentGuid`, Properties{`PrincipalId`, `RoleDefinitionId`}) in different invocations.

It happens with `github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/authorization/arma

[2022-09-07 19:25] richardpark-msft opened #19062 "[azeventhubs] Look deeper into "stolen partition" robustness"
In the Processor there are two sources of ownership:
- The checkpoint store, which has a blob per partition and has a distinct owner (a `Processor` instance)
- At the AMQP link level, by virtue of owning a live link. When you use an epoch only _one_ link can be alive at a time (last one in) and the other links that exist are automatically detached.

When partitions are being assigned it's possible

[2022-09-07 20:59] dtsao commented on #18777
@hongbin Thanks for your detailed bug report which helped my figure out how to correctly create and test a container client from a SAS URL that was generated via portal.azure.com for an azblob container.

I used `azblob.NewContainerClientWithNoCredential` to create the `containerClient`. My mistake was using `containerClient.getProperties()` to test if the `containerClient` was working.  `getPrope

[2022-09-08 01:58] #18888 closed

[2022-09-08 04:47] simongottschlag commented on #18776
@scottaddie ok, thanks! I would like to set custom metrics using the SDK. To be more specific, I would like a Container App in this case set custom metrics on itself.

[2022-09-08 05:17] serbrech commented on #16613
I really don't think we need interfaces for all clients. these can be written by the consumer.
as long as the sdk allows for testability, there is no blocker.
if you do end up providing interfaces, please don't put them in the same package as the client. I personally wouldn't want these interfaces when I import the client.

what does help testability is some test fakes for some particular construc

[2022-09-08 05:31] deepanshumarwah commented on #18992
Thanks @NatashaDorfman

[2022-09-08 05:43] navba-MSFT commented on #18992
Thanks @NatashaDorfman .

@deepanshumarwah Please let us know if you have any follow-up questions on this.

[2022-09-08 08:07] #17884 closed

[2022-09-08 14:20] Gadnief commented on #4828
Issue seems to be still open... instanceview objecct is still nill

[2022-09-08 15:56] alexg-axis commented on #16916
@mohsha-msft Hi! Is there any timeline on when this will be fixed?

[2022-09-08 19:33] jhendrixMSFT commented on #4828
@tadelesh do we need to release an updated module?

[2022-09-08 22:04] #17741 closed

[2022-09-08 23:50] #18776 closed

[2022-09-09 08:01] mblaschke commented on #18443
@Rohitrajak1807
want to share the code? is there any good way to use the new azure-sdk to send requests?

[2022-09-09 08:52] Rohitrajak1807 commented on #18443
https://gist.github.com/Rohitrajak1807/b1605d8ec8dc0fb8a58faa1e14ed9943
This is a working example.

[2022-09-09 10:59] pravinpushkar opened #19081 "[azappconfig]Support for Watching (Subscribe) and Unsubscribe to changes configurations items"
### Feature Request

I can see the supported features here - https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/data/azappconfig

My question is -

1. What would be the recommended way to implement a `Subscribe` and `Unsubscribe` features which notifies the changed configuration object whenever it gets updated/modified. I check the below link[1] to make this work with `eventgrid` but I am exp

[2022-09-09 14:59] jeruly opened #19084 "azidentity: import cycle not allowed`"
I follow the manual and get error:
`package command-line-arguments imports github.com/Azure/azure-sdk-for-go/sdk/azidentity imports github.com/Azure/azure-sdk-for-go/sdk/azidentity: import cycle not allowed`

What may help me to fix this?

Code:
`package main import ( "context" "fmt" azidentity "github.com/Azure/azure-sdk-for-go/sdk/azidentity" a "github.com/microsoft/kiota-authentication-azure-go

[2022-09-09 15:42] StickNitro opened #19085 "RoleDefinitionClient: preparing request failed"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`
import path: github.com/Azure/azure-sdk-for-go/services/authorization/mgm

[2022-09-09 18:16] scottaddie commented on #18776
The initial beta release shipped yesterday. For more details, see https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/monitor/azquery.

[2022-09-09 19:03] haitch commented on #16613
we definitely need ```type Poller[T any] struct``` to have a interface.

and all BeginCreateOrUpdate/BeginDelete return this Interface, instead of concrete type.

[2022-09-09 23:46] richardpark-msft commented on #19084
Hi @jeruly, I can't reproduce this - this is my code:

[code]

and my go.mod:

[code]

From the error message it looks like the `command-line-arguments` package might be involved - is that a public package?

[2022-09-10 00:53] richardpark-msft commented on #18892
This shipped in azeventhubs@v0.1.1

[2022-09-10 00:53] #18892 closed

[2022-09-10 02:00] richardpark-msft opened #19088 "[azeventhubs] Stress test leaks memory because of how it tracks events"
The infinite test tracks all the received messages by storing its sequence numbers in a map. This is pretty small, but we run the test over the course of many days with many messages and it eventually consumes way too much memory.

This particular test just goes for a period of time, not a set number of events, so there's a few ways we can handle this that would probably be nice:

1. Send a set am

[2022-09-10 02:10] richardpark-msft commented on #15733
Closing this as we've arrived on a design that we like and are trying it out in the azeventhubs@v0.1.1.

[2022-09-10 02:10] #15733 closed

[2022-09-11 10:45] drkennetz commented on #19002
@tadelesh happy to help with this, I just need some help with the autorest part. It's a really easy implementation.

[2022-09-11 13:44] jeruly commented on #19084
Thanks a lot . The issue was in mod file . Module name was set as "github.com/Azure/azure-sdk-for-go/sdk/azidentity". So this caused and issue

[2022-09-11 13:44] #19084 closed

[2022-09-12 02:47] navba-MSFT commented on #19007
@mega-alex Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-12 04:03] tadelesh commented on #4828
@jhendrixMSFT It seems a service side behavior change. Our model has such property but service return nothing.

[2022-09-12 06:47] navba-MSFT commented on #19007
@mega-alex In the package [github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice), We have the **type** [**ManagedClusterPoolUpgradeProfile**](https://github.com/Azure/azure-sdk-for-go/blob/sdk/resourcemanager/containerservice/armcontainerservice/v1.0.

[2022-09-12 12:41] shai-binyamin-sysdig opened #19089 "armsecurity.ContactsClient is using an old API version"
### Feature Request
armsecurity.ContactsClient is currently implemented using API version 2017-08-01-preview, while a new API version exists (2020-01-01-preview) which returns more properties.
Would it be possible to use the newer API version?

[2022-09-12 12:57] mega-alex commented on #19007
You need to have an active cluster already to check that correct? In previous versions of the SDK there was a method to list orchestrator versions that would list all K8s version regardless of if you had a deployed cluster or not.

This functionality was previously available with
[code]

But there does not seem to be an equivalent way to get that information, the actual API it would need to hit is

[2022-09-12 13:12] yaminSapir opened #19090 "Diagnostic Settings - Category on the logs is null"
### Bug Report
- SDK function: armmonitor.NewDiagnosticSettingsClient
- apiVersion: "2021-05-01-preview"
- output : "logs": [
                    {
                        **"category": null,**
                        **"categoryGroup": "audit",**
                        "enabled": true,
                        "retentionPolicy": {
                            "enabled": false,

[2022-09-12 15:50] jhendrixMSFT commented on #16613
Returning an interface is not versioning tolerant, and we explicitly chose not to do that here for this reason.

Here's an example of how you could create a mock `Poller[T]` https://gist.github.com/jhendrixMSFT/530e6ddad752cd46ac5075a39ae73030

[2022-09-12 17:15] haitch commented on #16613
1. for API defined on each resource-provider, yes, it is not versioning tolerant, but you can publish interface per version just as what you do on track 1 sdk.
2. for Poller, I think publish interface is benefiting both side of us, you would have flexibility to change the implementation, even add more implementation, we can mock it without re-define the sdk method we are invoking.

[2022-09-12 17:16] richardpark-msft commented on #19084
Nothing wrong with an easy solution, glad you were able to figure it out. :)

[2022-09-12 17:19] richardpark-msft commented on #19036
We don't have a preexisting property that would work here - our retry policies don't dictate the max time an operation can take, only how long we delay between operations. This would be a new feature altogether, although not a difficult one. Will need to think about how this happens, if at all.

[2022-09-12 17:31] jhendrixMSFT commented on #16613
A `Poller[T]` interface would still not be versioning tolerant.  You can't add a new method to an interface in a non-breaking way (yes you can use non-publicly implementable interfaces but it's a code smell).  In addition, adding this extra level of indirection in public surface area, specifically for mocking (which not everybody uses), is a bit of an anti-pattern.

We can (and do) change the impl

[2022-09-12 21:22] jhendrixMSFT commented on #18786
I agree with this.  However, I think there's value in having very targeted _examples_ (not end-to-end samples) inline with the docs.

That said, we should take this one step further.  Remove all samples/docs from README.md and keep things in `doc.go` or the like ([example](https://github.com/golang/go/blob/master/src/net/net.go)).

[2022-09-12 23:09] Drewm3 commented on #4828
This is the expected behavior with statusOnly set to true. If you need to get both the storage profile and the status, then you will need to make two API calls. The general pattern for the VM GET API is that you can get either the "model view" or the "instance view", but not both in a single call. In the list all VMs API you can get the model view for all VMs or you can get the status for all VMs.

[2022-09-12 23:49] dmitsh commented on #4828
@Drewm3 , please reopen this issue.

Sending 2 API requests is not a solution. It causes throttling during Prometheus service discovery for clusters with multiple VMs.
Ideally we should be able to specify what information we want to get (we don't need ALL information, but a only certain fields)

[2022-09-13 00:27] serbrech commented on #16613
as I said, the only part that felt less test friendly was the poller. but with a little helper, it became quite straight forward.
you can provide your own implementation of a poller, so we just wrote a generic FakePollerHandler that we can configure on our fake clients :

	p, _ := runtime.NewPoller(nil, runtime.Pipeline{}, &runtime.NewPollerOptions[v20220602preview.FleetMembershipsClientDeleteResp

[2022-09-13 00:29] serbrech commented on #16613
The gist from @jhendrixMSFT also works by decorating the real client. it's probably simpler than our own setup in fact.

[2022-09-13 00:35] serbrech commented on #16613
No matter how you go, the interface changes completely between track1 and track2, so in the scope of a migration from track1 to track2, asking for the interfaces in track 2 does not reduce the work of the migration at all.

you might as well generate the minimal interface you need yourself. That will ensure that you control how they look, and you are still free to put an adapter in between if you

[2022-09-13 00:37] serbrech commented on #16613
I do think that the SDK team should spend time writing client tests, and documenting how they expect the end user to fake the clients.
that would force you to think about testability from the end user perspective. maybe it will drive some API changes, or drive the creation of a test helper package.

[2022-09-13 06:58] navba-MSFT commented on #19007
@mega-alex Thanks for getting back. I will check this further and get back to you.

[2022-09-13 09:42] fudanzz opened #19103 "zonal feature support when creating ppg"
### Feature Request
need below feature:
--intentvmsizes to support one or more VM sizes and --zone to support specifying availability zone where the ppg should be created

[2022-09-13 10:13] pravinpushkar commented on #19081
Another issue that I am facing is with `OnlyIfChanged` paramater. According to the document, we can set this parameter to true and response will come only if the value gets modified. I have the below code for `getSettings` -

[code]
But I always get the response. I can see the *sentinelKeyResponse.Etag and can see its value.
My understanding is if the value gets updated, it should give the respons

[2022-09-13 17:45] richardpark-msft opened #19106 "[azservicebus] stress test (mostly idle receiver) quits early with 'success'"
The mostly idle receiver test seems to stop around hour 34 with a failure but the exit of the test marks it as a success. So two things to fix:

1. Figure out what's special about hour 34.
2. Figure out why the failure is being marked as a success.

[2022-09-13 17:47] richardpark-msft commented on #15091
This has all been completed - our long running tests are running as part of the standard stress test run for the repo.

[2022-09-13 17:47] #15091 closed

[2022-09-13 17:48] richardpark-msft commented on #18385
Implemented in #18999

[2022-09-13 17:48] #18385 closed

[2022-09-13 17:49] richardpark-msft commented on #18384
Implemented in #18870

[2022-09-13 17:49] #18384 closed

[2022-09-13 18:38] jhendrixMSFT opened #19107 "Geo-redundancy retry policy for storage"
Current implementation is missing primary/secondary storage locations in retry policy.

[2022-09-13 21:19] nagyesta opened #19109 "Resource verification in WWW-Authenticate causes failures when using test doubles"
### Bug Report

- Using these dependencies:
  - github.com/Azure/azure-sdk-for-go/sdk/azcore v1.1.3
  - github.com/Azure/azure-sdk-for-go/sdk/keyvault/azkeys v0.7.0
  - github.com/Azure/azure-sdk-for-go/sdk/keyvault/azsecrets v0.10.0
- output of `go version`: go version go1.18.2 linux/amd64

- What happened?

Renovate opened a PR for updating azsecrets to v0.10.0. The tests [started to break](http

[2022-09-13 23:47] jhendrixMSFT commented on #16613
We've done this to some degree, and it did end up slightly changing some of the APIs (earlier iterations of the Poller weren't mocking friendly at all).

For mocking, there are various tools floating around can be used to generate interfaces/stubs, so we didn't feel the need to generate them ourselves.  I can put together a doc/sample of how this would work.

Internally, we've been using recording

[2022-09-13 23:50] haitch commented on #16613
fake/mock on transport layer would require us to carry raw request payload.

while we prefer fake/mock on client layer, so we can just mock/fake the object directly.

[2022-09-13 23:54] jhendrixMSFT commented on #16613
It doesn't have to, and my current prototype doesn't require raw payloads.

[2022-09-14 01:18] helayoty opened #19112 "[Go SDK] Azure Germany is missing in azcore/cloud"
### Bug Report

Not all Azure clouds are in the go SDK. `AzureGermany` is missing [here](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azcore/cloud/cloud.go).

- SDK version (`azcore` +v1.0.0 )
- output of `go version`
   - go version go1.17.9 darwin/amd64

- What happened?
   - Not all Azure clouds are in the go SDK. `AzureGermany` is missing [here](https://github.com/Azure/azure-sdk-fo

[2022-09-14 01:36] richardpark-msft commented on #19039
Hi @arussellf5, I've got a fix for this. We do have an exported error type (*azservicebus.Error), which has a Code field. There's a few examples in the example*.go's in that PR if you want to see what it will look like.

To your second question:

This is happening because we consider the com.microsoft:timeout error a retryable error, which means the error message you're seeing is a result of the l

[2022-09-14 01:37] #18620 closed

[2022-09-14 04:26] navba-MSFT commented on #19007
@mega-alex I had reached out to the product owners and got their reply. As far as I know, the list orchestrator versions method is not included in the track 2 Go SDK. The reason behind this is that the track 2 go SDK no longer supports multi api, and always uses the latest API tag defined in swagger to generate the SDK. Unfortunately, the specification corresponding to the list orchestrator API is

[2022-09-14 08:04] #18895 closed

[2022-09-14 09:35] lirenhe commented on #19090
@tadelesh could you help to take a look?

[2022-09-14 14:02] mega-alex commented on #19007
Is there any timeline for supporting this? It is pretty essential for us to be able to list available kubernetes versions.

[2022-09-14 14:23] jhendrixMSFT commented on #19112
The Azure Germany cloud has [closed](https://docs.microsoft.com/previous-versions/azure/germany/germany-welcome) so we never added it.

[2022-09-14 17:39] #19039 closed

[2022-09-14 18:37] jhendrixMSFT commented on #19058
Can you please clarify the ask here?  What client/APIs are you using, what proxy, etc.

[2022-09-15 02:16] tadelesh commented on #19089
@shai-binyamin-sysdig Thanks for reaching out. I've asked service team to raise the SDK release request. Please wait for the next SDK version.

[2022-09-15 03:57] navba-MSFT commented on #19007
@mega-alex Thanks for your reply. For the list orchestrator API, Our Product Owners have opened this [PR](https://github.com/Azure/azure-rest-api-specs/pull/20709) to add a new version of the locations.json file, which is based on the [file in version 2019-04-01](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/containerservice/resource-manager/Microsoft.ContainerService/stabl

[2022-09-15 19:43] Drewm3 commented on #18017
Fixing this to be Machine Learning as compared to standard VM computing.

[2022-09-15 20:00] scottaddie opened #19130 "[Monitor Query] Add samples/docs for running big queries and overcoming API limits for size and record count"
For details of the ask, see https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1597918.

[2022-09-15 22:35] yewmsft opened #19131 "Data fields are missing from VirtualMachineScaleSetVMInstanceView data model"
### Bug Report

- import path of package: `".../services/compute/mgmt/2021-12-01/compute"`
- SDK version: all versions including `master`
- output of `go version`: go version go1.18 darwin/arm64

- What happened?
   VirtualMachineScaleSetVMInstanceView data model does not include all data fields return by http response.
   When calling REST API: `GET https://management.azure.com/subscriptions/{sub

[2022-09-15 23:18] jhendrixMSFT commented on #16613
This is my fake server proof-of-concept.

https://gist.github.com/jhendrixMSFT/efd5bcc94f2d545b5cb3a4f5e66446f4

It fakes three APIs from `armresources`.

[2022-09-16 02:54] navba-MSFT commented on #19002
Adding Service team to look into this.

[2022-09-16 02:55] navba-MSFT commented on #19002
@ccmixpdevs  Could you please look into this and provide an update ? Thanks in advance.

[2022-09-16 03:45] navba-MSFT commented on #18835
@simongottschlag As an update, we’ve determined that the api-version ‘2020-05-01’ isn’t valid and was wrongly incremented. We are updating the related documentation and Swagger so that the lock docs reflect the appropriate version.

[2022-09-16 10:37] pravinpushkar opened #19135 "[azappconfig] GetAll configuration settings returns older data"
### Bug Report

We want to retrieve all configuration settings data from the `config store`.  Code is similar to the suggested sample code provided at this link - https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/data/azappconfig#list-configuration-setting-revisions

See our implemented code here - https://github.com/dapr/components-contrib/blob/42fc9ae0f2115db22b758aefd056d2ad1c56be4f/confi

[2022-09-16 11:09] serbrech commented on #16613
I like this direction @jhendrixMSFT. you provide testability without compromising the API, and the consumer still have all the flexibility they want.

As a consumer, if you're ok generating mocks for your tests, you might as well generate the interfaces too.

[2022-09-16 15:08] jhendrixMSFT commented on #19131
The packages under `/services` are from the legacy SDK and no longer updated.  Can you try module `github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/compute/armcompute/v3`, I believe this has the content you're looking for.

[2022-09-16 15:33] StickNitro opened #19137 "Add Filter for NewListForScopePager on RoleManagementPoliciesClient"
### Feature Request

I am creating a Terraform resource to manage RoleManagementPolicies through terraform. I am looking to use the RoleManagementPoliciesClient to list role management policies for a given `scope` and `roleDefinitionId` to then load the existing RoleManagementPolicy. However, the `NewListForScopePager` does not allow specifying a `Filter`.

There is `Filter` support on other List

[2022-09-16 16:47] arussellf5 commented on #19039
@richardpark-msft thanks for responding so quickly to this! Truly appreciated.

[2022-09-16 17:24] chlowell commented on #18996
Sorry for the delay, I was out on vacation. I'm superstitious enough to try this on Windows 10 and it works for me there as well. As I showed above, we rely on `exec.CommandContext` to find `cmd.exe` on the path. I'm at a loss to explain how it could resolve `cmd.exe` to a nonexistent path but perhaps there's some quirk of the environment that causes it to behave incorrectly (I don't know what tha

[2022-09-16 18:03] RickWinter commented on #19135
The API you are calling is NewList**Revisions**Pager.  That API returns all the revisions of settings which match the filter.  If I understand correctly, you only want the current revisions.  Those can be retrieved by using NewList**Settings**Pager

[2022-09-16 18:24] drkennetz commented on #19002
@navba-MSFT Thanks for the follow up Adding a SkipToken to the QueryClientUsageOptions and adding the URI parsing to zz_generated_query_client.go can at least allow users to retrieve all results for a time frame with some additional code, even if pagination isn't increased by the service.

[2022-09-16 18:28] yewmsft commented on #19131
Thanks @jhendrixMSFT. Currently, there are some gaps (such as cross-tenant auth, interface for mock unit testing, and etc.) for AKS to fully migrate to Track 2 SDK clients, especially vmss clients. Is it possible we could get this fix in a special release for track 1 SDK?

[2022-09-16 19:49] cjoakim opened #19139 "Customer Feedback 2022/09/16"
### Service Package Request

I'm submitting this request, with the following questions, on behalf of a customer of ours.

1) Is "direct mode" supported in the Go SDK for CosmosDB SQL API?   If not, what is the timeline?
2) Are cross-partition queries supported, with the x-ms-documentdb-query-enablecrosspartition header?
3) Are "Bulk Executor" operations supported, similar to the C# and Java SDKs?

[2022-09-16 20:55] chlowell opened #19140 "Document how to convert azkeys.JSONWebKey to a standard library PublicKey"
As shown in #18582, an application can convert `azkeys.JSONWebKey` to one of the `crypto` module's `PublicKey` types (but note we can't say the same for `PrivateKey` because Key Vault doesn't release private key material). We're reluctant to add API for that at this time, but it would make a good example in the docs. We should test that such examples are correct in addition to being buildable (may

[2022-09-16 21:24] ealsur commented on #19139
1. No, there are only 2 Cosmos SDKs that have Direct mode: .NET and Java. There are currently no plans to provide Direct mode on the Go SDK.
2. See https://github.com/Azure/azure-sdk-for-go/issues/18578
3. No. There are no planned timelines yet, see https://github.com/orgs/Azure/projects/103/views/13 for more details on upcoming planned work. If a customer wants this feature, they can create the f

[2022-09-16 21:24] #19139 closed

[2022-09-19 03:01] tadelesh commented on #19060
@rht-b Thanks for your feedback. Our SDK is generated from the service API definition and will not add any specific logic which is a little bit different from the CLI. We'll let service team to help to resolve the idempotent issue from the service backend.

[2022-09-19 03:02] tadelesh commented on #19060
@navba-MSFT Could you help to reach out to the correct team.

[2022-09-19 04:51] tadelesh commented on #19002
@drkennetz Thanks for your feedback. From the [swagger definition](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2021-10-01/costmanagement.json#L950), it seems this API is not defined as a pageable operation. But the response model has `nextLink` property which always belong to a pageable result. And if we wan

[2022-09-19 05:33] navba-MSFT commented on #19060
@tadelesh Adding Service team to look into this.

 @darshanhs90, @AshishGargMicrosoft please look into this issue and provide your pointers. Thanks in advance.

[2022-09-19 06:21] tadelesh commented on #19131
From the [swagger definition](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-03-01/virtualMachineScaleSet.json) of `2022-03-01`, I could not find the properties `hyperVGeneration, computerName, osName, osVersion` either. I'll let service team to have a check.

[2022-09-19 07:03] magodo opened #19149 "More function on generic resources for `armresources` package"
### Feature Request

We are currently building a library based on the track2 SDK. The tool aims to fill in the gap that Azure resource list API only returns ARM tracked resources, but not the proxy resources. In order to discover the proxy resources, we will recursively call `GET` (i.e. list) on the *known" child resource types of the existing tracked resources. E.g. given a vnet, we will call `GE

[2022-09-19 08:28] pravinpushkar commented on #19135
@RickWinter I can see the this API is not available with v0.4.0 and saw this got merged only few days back here - https://github.com/Azure/azure-sdk-for-go/pull/19120

Any suggestion on how to use this API or when will the next release be available ?

[2022-09-19 09:52] tadelesh commented on #19090
@yaminSapir Sorry for delayed reply. The API-version in the SDK is not `2021-05-01-preview`, but `2017-05-01-preview`. We will let service team to update the release tag and release the new version.

[2022-09-19 11:40] drkennetz commented on #19002
@tadelesh oh I see, thank you for the clarification. I look forward to hearing back!

[2022-09-19 14:11] #18975 closed

[2022-09-19 16:40] RickWinter commented on #19135
Go allows you to grab the latest change or in fact any change.  For this particular change you can pull the module using this command:
`go get github.com/Azure/azure-sdk-for-go/sdk/data/azconfig@4d445978fe75fae0e41b43100591da3cd1746722`

[2022-09-19 17:50] richardpark-msft opened #19152 "[azeventhubs] ConsumerClientOptions has obsolete options for start position and owner level but those should be deleted."
Current breakdown for client responsibilities is:
- ConsumerClient: AMQP connection
- PartitionClient: AMQP _link_ parameters

I moved OwnerLevel and StartPosition (both link parameters) into PartitionClient, but didn't delete them from ConsumerClient. They're getting ignored there but they should be deleted altogether as they are link level parameters.

[2022-09-19 19:06] richardpark-msft opened #19154 "[azeventhubs] Some properties cannot be round-tripped using raw AMQP support"
Noticing a few properties that don't seem to round-trip properly if you're using AMQP raw messages (note, these aren't even accessible with plain EventData attributes):

- 'delivery annotations'
- header

Want to look into this more. It might be some interaction with the fact that we only allow sending batches.

[2022-09-19 21:34] #16765 closed

[2022-09-19 23:27] jhendrixMSFT commented on #19149
Given that our SDKs are generated from OpenAPI specs, if the spec doesn't describe such a contract, we won't generate it.

[2022-09-19 23:31] #19152 closed

[2022-09-19 23:51] magodo commented on #19149
Understand this fact. In this case, I have to vendor the code from SDK and modify based on it. E.g. https://github.com/magodo/azlist/tree/main/armresources.

[2022-09-20 00:05] jhendrixMSFT commented on #19149
I see.  Presumably the only thing that prevents you from wrapping the generated client and adding your own method(s) is that you don't have access to the client's pipeline yes?

[2022-09-20 00:27] Drewm3 commented on #19131
I will work with @am4234m and the VMSS swagger owners to get the swagger files updated so that this issue will be fixed in the SDKs.

[2022-09-20 00:38] magodo commented on #19149
Probably yes, and also the `client.host`.

[2022-09-20 02:56] navba-MSFT commented on #19090
@yaminSapir Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-20 04:06] tadelesh commented on #19089
@navba-MSFT I've reached out to @simanor on Teams but has not got response yet.

[2022-09-20 04:51] lirenhe commented on #19137
@StickNitro, could you provide the link of the package you are using?

[2022-09-20 05:03] pravinpushkar commented on #19135
@RickWinter I am getting the following error while trying to use the commit -

[code]
I have github.com/Azure/azure-sdk-for-go v65.0.0+incompatible and tried with v66.0.0 but same error.
Is it possible for a new beta release v0.4.1 ?

[2022-09-20 06:06] tadelesh commented on #19137
@StickNitro From authorization [swagger](https://github.com/Azure/azure-rest-api-specs/blob/3751f321654db00858e70649291af5c81e94611e/specification/authorization/resource-manager/Microsoft.Authorization/stable/2020-10-01/RoleManagementPolicy.json#L194), service team does not provide such filter param. I'll transfer this issue to swagger repo.

[2022-09-20 07:54] navba-MSFT commented on #19090
Adding the Service team.

@sameergMS, @dadunl  Please look into this ask and provide an update once you get a chance. Thanks in advance.

[2022-09-20 08:14] lirenhe commented on #19085
The library you are using is our old SDK that we are deprecating. The old SDK is relying on some deprecated packages like ADAL and our new SDKs are more secure and comply with the latest SDK guidelines. You can use this migration guidance: https://github.com/Azure/azure-sdk-for-go/blob/main/documentation/MIGRATION_GUIDE.md to start your migration now.

[2022-09-20 10:01] SivM commented on #19089
ACK.
ETA - end of October (due to local holidays).

[2022-09-20 12:30] pravinpushkar commented on #19135
Thank you very much for the help @RickWinter. I have pointed our sdk to this commit and getAll works as expected.

[2022-09-20 15:19] smartaquarius10 opened #19166 "How to run query in log analytics workspace?"
Team,

Could you please suggest the procedure to run Kusto query in log analytics workspace using this sdk.. As per my understanding we need to import operationalinsights package but, its been hours I'm unable to to find the url to it.

How to consume its go module. Should I import this one
`github.com/Azure/azure-sdk-for-go/services/operationalinsights/v1/operationalinsights
`
Is there any doc av

[2022-09-20 15:20] lzap opened #19167 "Missing resources.subscriptions REST client"
### Service Package Request

Hello,

I am unable to find Go client for resources.subscriptions REST call: https://learn.microsoft.com/en-us/rest/api/resources/subscriptions/get?tabs=HTTP

Is it possible that this hasn't been implemented yet? Thanks!

[2022-09-20 16:02] AlexPykavy commented on #18936
Hello @tadelesh, thank you for your response. It explains why this functionality is missing.

I'm just wondering 🤔 maybe you know how Azure Portal performs such a validation in a web browser? Is it hardcoded in JavaScript or client sends some requests to API to validate fields? Or at least know where to ask this question.

[2022-09-20 16:03] AlexPykavy commented on #18936
And I'm closing the issue anyway because the initial request was considered.

[2022-09-20 16:03] #18936 closed

[2022-09-20 17:09] nthandeMS commented on #18017
Inline scripts are not supported right now, per the Compute Instance team. We will update the API accordingly.

[2022-09-20 17:12] jhendrixMSFT commented on #19167
I think this is the module you're looking for.

https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/resources/armsubscriptions

[2022-09-20 17:58] chlowell commented on #19109
Thanks for opening this. We released new Key Vault clients today with an option to disable this verification. For example, using `azkeys`:
[code]
(the API is the same for `azcertificates` and `azsecrets`)

See https://aka.ms/azsdk/blog/vault-uri for more information about what motivated us to add this verification. It's okay to disable it in local testing but please consider carefully before disab

[2022-09-20 18:02] rushabh268 commented on #19090
We are looking for category in the diagnostic setting response and not seeing it - any update would be helpful!

[2022-09-20 18:16] smartaquarius10 commented on #19166
@gracewilcox oh great. Thank you so much. By any chance is it possible to authenticate it with AAD pod identity for using in AKS..

Actually I am writing custom metrics server in AKS where I have to use this.

[2022-09-20 18:16] smartaquarius10 commented on #19166
/unresolve

[2022-09-20 18:30] nagyesta commented on #19109
Thank you @chlowell ! Just seen the release notes for all of them, I think it should work. Thank you for the flexibility and helping local test double usage!

[2022-09-20 18:31] zezha-msft commented on #18976
Thanks for the feature request, it is being actively worked on.

[2022-09-20 18:32] shubham1172 opened #19172 "[azservicebus] Make defaultTimeAfterFirstMsg configurable in Azure Service Bus Receiver"
### Feature Request

https://github.com/Azure/azure-sdk-for-go/blob/31ef2b8995177ed199449960cfff6f73ef3ea762/sdk/messaging/azservicebus/receiver.go#L392

`defaultTimeAfterFirstMsg` is used to create a `context.WithTimeout`, to receive as many messages as possible within that time once the first message is received. Currently it's not configurable and the value is too low (20ms) for some use cases.

[2022-09-20 18:33] zezha-msft commented on #16916
Update: this feature is being actively worked on here -> https://github.com/Azure/azure-sdk-for-go/pull/19141

[2022-09-20 18:34] zezha-msft commented on #19026
This seems to be a management plane question.

[2022-09-20 18:36] zezha-msft commented on #18977
Thank you for the feature request. It is being addressed in this PR: https://github.com/Azure/azure-sdk-for-go/pull/19141

[2022-09-20 20:23] gracewilcox commented on #19166
No problem! You should be able to authenticate with ADD pod identity with our [azidentity](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/azidentity) library using the [ManagedIdentityCredential](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/azidentity#managed-identity) or the [DefaultAzureCredential](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/azidentity#defaultazur

[2022-09-20 20:28] gracewilcox commented on #19166
Azquery also includes a separate metrics client for [querying the metrics](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/monitor/azquery#metrics-query) of a specific resource.

[2022-09-20 20:43] nagyesta commented on #19109
Thanks again @chlowell , I have updated all example projects and they are working well! The only minor issue I have noticed was with the blog post you have linked. The Java example says:
[code]
The real code does not receive the boolean parameter, so it should look like this instead:
[code]

Anyway, it worked well, thank you for fixing it!

[2022-09-20 20:43] #19109 closed

[2022-09-20 21:28] heaths commented on #19109
@nagyesta thanks for pointing that out. It was changed last minute. I will update the blog post.

[2022-09-20 22:41] georgejdli commented on #18941
Doesn’t sound like there’s a satisfactory way of resolving this documentation issue but at the very least there’s this GitHub issue to refer back to in case others run into the same problem.

[2022-09-20 22:41] #18941 closed

[2022-09-21 03:23] tadelesh commented on #18936
AFAIK, portal logic is always implemented by the service team separately. @xboxeer Do you know where to fire the issue?

[2022-09-21 03:49] navba-MSFT commented on #19089
Thanks @SivM
 @shai-binyamin-sysdig  @tadelesh  Hope you had a chance to look at the above comment about the ETA for the release. If you have any follow-up question, please feel free to ask.

[2022-09-21 03:59] tadelesh commented on #19089
Thanks @navba-MSFT. We'll release the new version after receiving the release request.

[2022-09-21 05:01] smartaquarius10 commented on #19166
@gracewilcox , Bingo.. You're super awesome.. Thank you so so so so much.. Nailed it..

Will start working on this immediately. Will reach out to u if stuck.. Hope you don't mind :)
Have a great day

[2022-09-21 06:12] zezha-msft commented on #18921
Thanks @xstephen95x  for reaching out!

We haven't quite caught up to the latest service version. In the meantime, an easy way to tell directories apart from files is that the directories have a special metadata: "hdi_isfolder": "true". Please try it out and let us know if it is a reasonable mitigation for now.

[2022-09-21 06:13] zezha-msft commented on #17102
Thanks @patrickrad for the feature request. We will prioritize this feature once the library becomes GA.

[2022-09-21 06:16] zezha-msft commented on #18767
Thanks @rainmaker2022.

@siminsavani-msft  looks like the typo is still in the main branch: https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/storage/azblob/internal/generated/zz_constants.go#L518

[2022-09-21 06:19] zezha-msft commented on #18775
Thanks @ShourieG for this feature request!

Unfortunately, we must reject it for now, as it requires service-side changes to provide an efficient implementation. If the SDK just performs list calls under the cover until blobs satisfying the condition show up, it'll be a non-transparent amount of cost that has both IO and billing implications, hence why we don't think it should be implemented right

[2022-09-21 06:19] #18775 closed

[2022-09-21 06:23] zezha-msft commented on #18770
Thanks @sameershivle for reaching out.

To clarify, if you read further in this doc https://learn.microsoft.com/en-us/rest/api/storageservices/specifying-conditional-headers-for-blob-service-operations#Subheading2:

Set Container Metadata | Write | If-Modified-Since
-- | -- | --

So If-Modified-Since is the only one supported for the Set Container Metadata API.

[2022-09-21 06:23] #18770 closed

[2022-09-21 06:59] lzap commented on #19167
Ah, how I could miss this one, thanks!

Unfortunately, the documentation is a bit off. The main example does not work as `NewClient` no longer accepts two but three arguments. I don't know how to provide a token, credential type does not seep to implement such interface. I guess I will have to figure this out somehow:

[code]

[2022-09-21 06:59] #19167 closed

[2022-09-21 07:05] lzap commented on #19167
Ah figured it out, examples in Go documentation are correct! Thanks.

[2022-09-21 14:15] smartaquarius10 commented on #19166
@gracewilcox , one small thing forgot to ask.. Can we use it this library in production as I need to run horizontal pod autoscaler for which I have to use it.

[2022-09-21 14:16] smartaquarius10 commented on #19166
/unresolve

[2022-09-21 15:13] jhendrixMSFT commented on #18915
Sorry for the delay.

We don't, at present, have a Go SDK for event grid.  I will follow up on what our plans are for releasing this.  In the meantime, you'll have to directly use the REST endpoints (not super helpful, but the best we have at present).

I'm not very familiar with the event grid service but can try to help you through this if you have questions.

[2022-09-21 17:10] gracewilcox commented on #19166
Hi! This library should work in your production environment, but azquery is currently unstable. There may be breaking changes in the coming months, as we work towards the stable release.

For running the above query, please try the [QueryWorkspace](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/monitor/azquery#logs-query) function from the LogsClient. That function runs a Kusto query agai

[2022-09-21 18:00] harriblex opened #19183 "azcosmos: how to leave partition key unset?"
The azcosmos container client calls all require a partition key:

[code]

I have a container where the partition key values are undefined that I have to interact with, it is unclear how to construct an undefined partition key. Default object gives http 400.

Thanks

[2022-09-21 19:01] smartaquarius10 commented on #19166
@gracewilcox , Oh ok.. No issue.. if there is any notification channel please let me know for the updates regarding stable release. Meanwhile, I'll try writing my custom metrics server and use it in our environment. In case of any issue will contact you. Have a nice day.. Take care. :)

[2022-09-21 20:33] HarryVolek commented on #19183
Hello, I believe I have the same issue.

For context the partition key path in the container is `/_partitionKey`, however the field is unset in all the document bodies inside the container (the key value pair does not exist). Unclear how to interact with these documents using the go sdk

[2022-09-21 20:41] gracewilcox opened #19184 "[azquery] Update docs for Monitor Query"
Improve the READMe with better examples and include handling of results

[2022-09-21 20:46] Drewm3 commented on #4828
Please open a feature request here: https://feedback.azure.com/d365community/forum/ec2f1827-be25-ec11-b6e6-000d3a4f0f1c
because this is a general feature request for the service as compared to a feature request that is specific to an individual SDK. Thanks.

[2022-09-21 21:10] HarryVolek commented on #19183
In the event this is impossible with the go sdk, could guidance be given on how to construct the http request?

Does the `X-Ms-Documentdb-Partitionkey` header need set in this case? If so, what does the value need to be?

[2022-09-21 21:32] HarryVolek commented on #19183
Ok, a default `azcosmos.PartitionKey{}` does work in this case. I was testing against a newly created cosmos with a partition key path set to `_partitionKey` to replicate the behavior of the old system, however this does not behave the same as a cosmos instance that was actually migrated: https://learn.microsoft.com/en-us/azure/cosmos-db/sql/migrate-containers-partitioned-to-nonpartitioned?tabs=do

[2022-09-21 22:21] ealsur commented on #19183
I guess that we would need to support setting the None/Null partition key values as explicit types, like `NewPartitionKeyNone` and `NewPartitionKeyNull`.

[2022-09-22 05:27] xboxeer opened #19186 "[Feature Request] Azure SDK for Go Readme optimize"
### Feature Request

There are some issues we find when customer trying to use our new version SDK, please include below content in Golang SDK readme
1. An individual part/document of upgrading Golang to 1.18 version, and a link to this document in Golang SDK Readme
2. Add a link/Replace the SDK Reference link at the top of the Readme and navigate customer to actual Track 2 libraries list -> https

[2022-09-22 05:52] pravinpushkar commented on #19135
@RickWinter Re-opening this again for a query. Is it possible to release 0.4.1 or next version with this fix ? We have a release in a week's time and it will be great to use a release instead of a commit.