[2016-07-21 21:25] paulmey commented on #90
:+1:  very much in favor of dropping /core/

[2016-07-21 21:35] ahmetalpbalkan commented on #90
🔜  go1.7 will come out.

[2016-07-22 09:08] bcc commented on #351
The patch in my comment above certainly works for GetBlobProperties and CopyBlob with a SAS url for blobs with spaces. I've not tested with a new blob yet.

[2016-07-22 09:57] matryer commented on #351
@bcc do you want to do a pull-request with https://github.com/bcc/azure-sdk-for-go/commit/026382a38077a643c99412f44cf04e038b465ec6 - I'd be happy to test it?

[2016-07-22 16:50] ahmetalpbalkan commented on #351
@bcc it's super easy to write a test (check blob_test.go). Again, if you send a PR we're happy to accept!

[2016-07-22 17:27] bcc commented on #351
@ahmetalpbalkan Sure, I've already updated the tests in my fork - I'll go over them again later and make sure they make sense, then submit a PR. I've also fixed the missing ContentType in GetBlobProperties - do you want that as a separate PR?

[2016-07-22 17:34] ahmetalpbalkan commented on #351
Preferably, thanks. If you could also add assertion for this to the relevant test, that'd be great.

[2016-07-23 00:05] devigned commented on #283
@SiddharthChatrolaMs can you point us in the right direction?

[2016-07-26 00:27] colemickens opened #363 "Clarify how to do paging (+ fix auto-gen'd godoc comments)"
---

---

First, "Do this till next Link is not null" - `s/till/until/g` or at least 'til, if we must contract it.

Second, I'm pretty sure it should be "Do this until nextLink is null" but even then, that's not really how we want people to consume paging at the Go SDK level.

As is, I'm just going to keep calling ListAllNextResults until the list returned is nil or empty.

[2016-07-26 00:27] colemickens commented on #363
I'd suggest that we should autogenerate ListAll functions.

[2016-07-26 10:35] stack72 opened #364 "More File Storage Share operations"
hi,

According to the MSDN docs, there are many activities you can perform on a file share:

https://msdn.microsoft.com/en-us/library/azure/dn166997.aspx

the only actions available in the SDK are:

* Create
* CreateIfNotExists
* Delete
* DeleteIfExists

After I have created a share, how can i read the properties of a share / make sure that share exists on subsequent requests?

Thanks

Paul

[2016-07-26 16:08] ahmetalpbalkan commented on #364
@stack72 this is mostly because we implemented only the parts we needed in other projects. Is your requirement just to make sure share exists?

[2016-07-26 17:55] stack72 commented on #364
Hi @ahmetalpbalkan

Thanks for getting back to me on this. Ideally, I would be able to set the ACLs and Metadata on the share. So I think ideally, needing the full operations that are documented would be useful here

Paul

[2016-07-26 17:56] ahmetalpbalkan commented on #364
@stack72 hmm we have the similar methods in blob.go, porting them to file.go should not be a big deal. Would you be willing to send a PR?

[2016-07-26 23:10] stack72 opened #365 "Container Service Package"
Hi

According to the release notes for v.3.1.0-beta

[code]

Unfortunately, this isn't the correct namespace. The files in the container service folder are actually marked as `package compute`

Therefore, when I try to import these packages using govendor, nothing happens. I have tried:

[code]

Do these need to be in the compute tree? Shouldn't they just be in a location of their own so they can

[2016-07-27 01:27] garimakhulbe commented on #365
We have kept container service inside compute because other sdks have it like this(in compute). I will discuss this with my team and update it accordingly by end of this week.

[2016-07-27 01:41] ahmetalpbalkan commented on #365
Would just fixing the `package` declaration work? I agree that it should be at the arm/containerservice but it appears like azure-rest-api-specs repo also put it under compute. I don't know why but I opened an issue there. It's a top level RP and I believe it should be generated as such.

[2016-07-27 02:20] colemickens commented on #365
(I thought package declaration had to match the directory it lived in? hence needing to actually rearrange layout as well)

[2016-07-27 04:47] garimakhulbe commented on #365
Container service is kept in compute because both APIs are managed by same team/org. I got this from one of devs worked on container service swagger.

We can put container service code directly in compute directory if we update file naming convention to like model_<api>.go, client_<api>.go because code generation from two swaggers in same directory overwrites common files.

[2016-07-27 04:50] colemickens commented on #365
I'd prefer to see it just put it in its own package. I really don't see why it's worth the effort to special case the ContainerService just because the Compute team happens to own both. As Ahmet said, they're both top level RPs...

[2016-07-27 08:46] stack72 commented on #365
Thanks for looking into this folks! Nice to see that i'm not the only one that feels this is weird :)

[2016-07-28 12:59] pmcatominey commented on #358
Looked into this again and the error occurs in the status polling request:

Successful call to DELETE the resource:
[code]

Error from call to GET the result:
[code]

I'm using the version from the commit 2cdbb8553a20830507e4178b4d0803794136dde7.

[2016-07-28 14:58] pmcatominey opened #366 "SKU param missing from Create Service Bus Namespace call"
According to the documentation: https://msdn.microsoft.com/en-us/library/azure/mt639408.aspx#Anchor_0 I should be able to specify SKU options when creating/updating the namespace resource. There isn't a field on the `NamespaceProperties` struct to set this value, it is however included in the `NamespaceResource` struct which comes from the response.

The REST docs also have the `sku` parameter lis

[2016-07-29 08:04] pmcatominey opened #367 "Kind param missing from Create Service Bus Namespace call"
According to the Microsoft documentation https://msdn.microsoft.com/en-us/library/azure/mt639408.aspx#Anchor_0 I should be able to set the `Kind` parameter when creating/updating a service bus namespace. However there isn't a field to set it on the `NamespaceProperties` struct.

Looking at the definitions it seems the `Kind` type is also missing a value compared to the `NamespaceType` type: https:

[2016-07-29 16:52] garimakhulbe commented on #367
I have raised this to internal team.

[2016-07-30 20:54] rootfs opened #369 "`dataDisk.createOption` must be provided"
datadisk create option can be omitted in this [api](https://github.com/Azure/azure-sdk-for-go/blob/master/arm/compute/models.go#L413), but I got this error return when I used empty create option:

Attach volume "https://xxxx.blob.core.windows.net/vhds/test7.vhd" to instance "xxxx" failed with compute.VirtualMachinesClient#CreateOrUpdate: Failure responding to request: StatusCode=400 -- Original Er

[2016-07-31 00:32] colemickens commented on #369
Does it work if you pass the appropriate CreateOption type? It seems like the API is telling you you need to specify it.

[2016-07-31 15:56] rootfs commented on #369
yes, after setting CreateOption = "attach", the error was gone.

[2016-07-31 20:51] #369 closed

[2016-08-02 17:40] ahmetalpbalkan commented on #351
This should be fixed with patch #361. Please pull from `master`

[2016-08-02 17:42] ahmetalpbalkan opened #370 "[docs] Instructions on how to create service principal account"
Apparently Node SDK maintains a doc here: https://github.com/Azure/azure-sdk-for-node/blob/master/Documentation/Authentication.md

We should link to this instead of blog posts etc in https://github.com/Azure/azure-sdk-for-go/tree/master/arm#first-a-sidenote-authentication-and-the-azure-resource-manager

[2016-08-02 17:43] ahmetalpbalkan commented on #315
Closing this issue as it is not directly related to the Go SDK and more about the platform.

[2016-08-02 17:43] #315 closed

[2016-08-02 17:44] ahmetalpbalkan commented on #226
We no longer maintain ASM code. Closing.

[2016-08-02 17:44] #226 closed

[2016-08-02 17:44] ahmetalpbalkan commented on #259
@colemickens do you know if this is fixed?

[2016-08-03 07:18] stack72 opened #371 "Generation of Client for ServiceBus"
Hi

the Specs for ServiceBus were just added (6 hours ago) - please can we get an SDK generated for it? :)

Thanks

Paul

[2016-08-03 15:14] rootfs opened #372 "list storage account and access key?"
I want to list storage accounts and access keys to implement something similar to Azure CLI `storage account list` and `storage account key list`, but it seems storage account list is not implemented in  [storage service entities](https://github.com/Azure/azure-sdk-for-go/blob/master/management/storageservice/entities.go)

@ahmetalpbalkan @colemickens

[2016-08-03 15:26] rootfs commented on #372
found, it.

[2016-08-03 15:26] #372 closed

[2016-08-04 16:58] rootfs opened #373 "storage base url"
The default storage base URL is defined [here](https://github.com/Azure/azure-sdk-for-go/blob/master/storage/client.go#L24). Are there any other base URLs in different environments (e.g. USGovernmentCloud/GermanCloud/etc)?

@ahmetalpbalkan @colemickens

[2016-08-04 16:59] colemickens commented on #373
The storage account suffixes are defined in `go-autorest`: https://github.com/Azure/go-autorest/blob/master/autorest/azure/environments.go#L50

[2016-08-04 17:00] rootfs commented on #373
thanks!

[2016-08-04 17:00] #373 closed

[2016-08-05 00:04] stack72 commented on #365
Hi all

Is there any status on this?

Paul

[2016-08-09 14:26] pmcatominey opened #377 "Virtual Network Peering"
I've noticed that the peering resource is defined in the rest specs and has been made available in other SDKs.

It appears that the Go SDK isn't updated automatically like the others?

[2016-08-09 22:56] colemickens opened #378 "Generate GraphClient"
See: https://github.com/Azure/azure-sdk-for-go/issues/360

There is a Graph API Swagger, I assume for a subset of the Graph API related to SP/Apps. We should gen the client(s) for this.

[2016-08-09 22:57] colemickens opened #379 "Generate KeyVault Client"
See this for the python sdk: https://github.com/Azure/azure-sdk-for-net-pr/pull/702

Looks like there is a Swagger spec for KeyVault now. https://github.com/Azure/azure-rest-api-specs/pull/387

I think it's control plane only, but we should still support it.

[2016-08-10 22:09] colemickens commented on #259
Not really. The other thread: https://github.com/Azure/azure-rest-api-specs/issues/305 has open questions about if this has been addressed appropriately. I'll ping that thread.

[2016-08-11 22:27] garimakhulbe commented on #379
This is added in new version _v3.2.0-beta_ of Azure Go SDK.

[2016-08-11 22:27] #379 closed

[2016-08-11 22:30] garimakhulbe commented on #377
Added in Azure Go SDK new release _v3.2.0-beta_.

[2016-08-11 22:30] #377 closed

[2016-08-11 22:32] garimakhulbe commented on #371
This is in Azure Go SDK new release now.

_Version v3.2.0-beta._

[2016-08-11 22:32] #371 closed

[2016-08-11 22:33] colemickens commented on #379
woot! Thanks @garimakhulbe !

[2016-08-11 22:41] garimakhulbe commented on #367
Kind and SKU parameters have been added in spec and new release of Azure Go SDK - _v3.2.0-beta_. Take a look.

https://github.com/Azure/azure-sdk-for-go/blob/master/arm/servicebus/models.go#L185

[2016-08-11 22:41] #367 closed

[2016-08-11 22:42] garimakhulbe commented on #366
Added in new release of Azure Go SDK - _v3.2.0-beta_. Please take a look.
https://github.com/Azure/azure-sdk-for-go/blob/master/arm/servicebus/models.go#L185

[2016-08-11 22:42] #366 closed

[2016-08-11 23:01] garimakhulbe commented on #365
Sorry for delay. We are still working on this. According to new specifications container service methods are now merged in computeClient so we are updating Go SDK for that. Will update you soon.

[2016-08-11 23:08] garimakhulbe commented on #358
Are you still getting this issue?

[2016-08-11 23:10] garimakhulbe commented on #340
Api-version is not exposed to users now. Closing this.

[2016-08-11 23:10] #340 closed

[2016-08-11 23:12] garimakhulbe commented on #353
Seems you find the solution. Closing this.

[2016-08-11 23:12] #353 closed

[2016-08-11 23:18] garimakhulbe commented on #337
This snippet is removed in updated README. Closing this.

[2016-08-11 23:18] #337 closed

[2016-08-11 23:22] garimakhulbe commented on #184
Old issue. DNS is in Azure Go SDK. Closing it.

[2016-08-11 23:22] #184 closed

[2016-08-11 23:25] garimakhulbe commented on #183
Old issue. This is added in Azure Go SDK. Closing this.

https://github.com/Azure/azure-sdk-for-go/tree/master/arm/trafficmanager

[2016-08-11 23:25] #183 closed

[2016-08-11 23:28] garimakhulbe commented on #283
@SiddharthChatrolaMs @devigned Any update on this? Customer is looking for MSDN documentation for redis.

[2016-08-12 00:57] colemickens commented on #259
This is resolved. See here for the details: https://github.com/Azure/azure-rest-api-specs/issues/305#issuecomment-239336420

[2016-08-12 00:57] #259 closed

[2016-08-16 03:52] ahmetalpbalkan commented on #274
@garimakhulbe are you going to be taking a stab at it soon? The current README does not reflect the state of things and what's actually used.

[2016-08-16 03:53] #90 closed

[2016-08-16 15:17] stack72 commented on #283
*ping*

[2016-08-16 18:21] garimakhulbe commented on #358
No response. Assuming it resolved. Closed.

[2016-08-16 18:21] #358 closed

[2016-08-16 19:56] pmcatominey commented on #358
Hey, apologies I missed this.

It appears to have been resolved, cheers.

[2016-08-17 18:17] garimakhulbe commented on #274
cc @mcardosos

[2016-08-26 07:11] liamjbennett opened #387 "Support for Event Hub"
We now have the swagger, can we update?

https://github.com/Azure/azure-rest-api-specs/pull/481

[2016-08-26 16:38] #351 closed

[2016-08-26 18:15] garimakhulbe commented on #387
Thanks for reporting. We are working on new release. It will be out probably by early next week.

[2016-08-27 00:53] mischief opened #388 "add IconUri to OSImage"
https://msdn.microsoft.com/en-us/library/azure/jj157192.aspx says OSImage should have IconUri, but https://godoc.org/github.com/Azure/azure-sdk-for-go/management/osimage#OSImage lacks it.

[2016-08-27 00:58] ahmetalpbalkan commented on #388
@mischief we manually authored the `./management` pkgs. Therefore the fields on some types may be incomplete, and some endpoints might be missing altogether.

Do you need this field? If so, we are open to contributions for this package or we can add it if you like.

[2016-08-30 18:16] #388 closed

[2016-08-31 08:29] isaacegglestone commented on #284
Robbyt did this ever get completed? I would also like to use trophosphere with Azure.

[2016-09-01 18:25] ajbeach2 opened #393 "unknown tls.Config field 'Renegotiation' in struct literal"
My code is the following:

[code]

When I run go install, i get the following error message:
[code]

I am using go version go1.6.3 darwin/amd64

Am i doing something wrong?

[2016-09-01 18:35] ajbeach2 commented on #393
upgrade to 1.7 fixed my issue.

[2016-09-01 18:35] #393 closed

[2016-09-01 19:04] garimakhulbe commented on #378
@mcardosos is looking into this.

[2016-09-06 07:56] enieuw commented on #364
I've opened up a PR at #395 in which I ported most of the blob operations to file which I needed to create a terraform file share resource

[2016-09-06 08:20] zlepper opened #396 "Option to specify what disk letter a data disk gets"
When creating a virtual machine i would like to have the option to specify exactly what drive letter a datadisk gets. Right now it seems to be mostly random. Say the sql server gets a datadisk on F, while a datadisk i just tried to add when creating my machine got the letter E.

Have i missed the parameters to do this in the sdk, or is it simply not possible right now?

[2016-09-07 17:21] garimakhulbe commented on #396
Can you put more details in comments? Which API are you using with examples?

[2016-09-07 19:24] zlepper commented on #396
I'm creating a vm using the compute api like so:
[code]

The machine is created successfully.
When i RDP into the machine i see the following disks:

| Letter  | Disktype  |
| ------- | ------ |
|  C:   |  OS Disk  |
|  D:  |  Temporary disk  |
|  E:  |  Datadisk  |
|  F:  |  CD drive  |

I don't even know what that CD drive is doing.
I would like to have my datadisk be attached on F: at creation,

[2016-09-09 09:27] zlepper opened #397 "List storage containers in containers"
Is there any way to list the containers of a container in Azure Blob Storage?

I can list the containers in the root of the azure storage by doing this:
[code]

However i have containers in the containers listed there, and there doesn't seem to be a way to get the children of those.

On the azure portal i have this structure going on:
![chrome_2016-09-09_11-23-21](https://cloud.githubusercontent.c

[2016-09-10 22:16] ajbeach2 opened #398 "CloudMediaContext and creating content keys"
I am trying to convert the .NET example for creating content keys in the go. Is the CloudMediaContext object available in the go-sdk?

[code]

[2016-09-11 03:35] axw opened #399 "Listed template deployments lack error details"
[arm/resources/resources.DeploymentPropertiesExtended](https://godoc.org/github.com/Azure/azure-sdk-for-go/arm/resources/resources#DeploymentPropertiesExtended) lacks an "error" field, as described in the docs here: https://msdn.microsoft.com/en-us/library/azure/dn848363.aspx.

[2016-09-12 19:02] ahmetalpbalkan opened #400 "Relative links broken"
There are some links here and there, such as `[...](/examples)` in arm/README.md but those are broken right now. That one should be `(/arm/examples)` instead (or maybe `(./examples)`, I'm not sure).

Somebody should go through these links and validate them ideally.

[2016-09-12 20:17] garimakhulbe commented on #400
@mcardosos Please look into this.

[2016-09-12 22:11] mcardosos commented on #400
PR sent :3

[2016-09-12 23:49] #400 closed

[2016-09-13 20:41] mcardosos commented on #397
Hi!
The folders you see on the portal are simulated on the blobs' names. These blobs' names could be something like this: `Microsoft.Compute/Images/yourblob`
To be able to list folders inside containers use the `Delimiter` and `Prefix` fields on `ListBlobParameters`.
[code]
This should output this:
[code]

This is better explained in [TestListBlobsTraversal](https://github.com/Azure/azure-sdk-for-

[2016-09-14 21:52] mcardosos commented on #399
Hello!
I think the model you are looking for is [DeploymentValidateResult](https://godoc.org/github.com/Azure/azure-sdk-for-go/arm/resources/resources#DeploymentValidateResult), which includes [ResourceManagementErrorWithDetails](https://godoc.org/github.com/Azure/azure-sdk-for-go/arm/resources/resources#ResourceManagementErrorWithDetails). It is returned by [Validate](https://godoc.org/github.com

[2016-09-14 22:44] axw commented on #399
@mcardosos No, I'm not looking to validate a template - I want to know about its status after starting it. We want to be able to start deployments and then asynchronously poll their status.

[2016-09-14 22:50] colemickens commented on #399
Looks like it's missing in the Swagger spec: https://github.com/Azure/azure-rest-api-specs/blob/master/arm-resources/resources/2016-09-01/swagger/resources.json#L1883

Can you file an issue over in the `azure-rest-api-specs` repo?

[2016-09-14 23:08] axw commented on #399
@colemickens done, thanks.

[2016-09-15 17:08] zlepper commented on #397
When i run this against a storage account it says there are no folders:

[code]

This exactly is what gets outputted:
[code]

I know there is blobs in that storage account, so I find this very strange, any pointers?

[2016-09-20 17:55] #274 closed

[2016-09-21 17:04] pmcatominey opened #402 "Error creating service bus topic due to bad date format"
I get the following error when trying to create a topic with the SDK:
[code]

The error is caused due to the createdAt field in the JSON response missing a `Z` from the end of the timestamp, this is not the case for a Get request issued after creation.

I have created a [gist](https://gist.github.com/pmcatominey/f759fd9569d5edea8ece80189c50269d) which shows how to reproduce the error.

Tested agai

[2016-09-21 22:42] vishrutshah opened #403 "Azure KeyVault list operation doesn't work"
As per the swagger file method [Vaults_list](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-keyvault/2015-06-01/swagger/keyvault.json#L192) takes `api-version` parameter with only possible value of `2015-11-01` but generated Go sdk method's `ListPreparer` [overrides it](https://github.com/Azure/azure-sdk-for-go/blob/master/arm/keyvault/vaults.go#L282) from the client.

@mcardosos :

[2016-09-21 22:56] colemickens commented on #403
What even is this pattern? Why do we publish the KeyVault API under a certain version and then have certain paths that have to be called with a different API version. Seems needlessly confusing, especially if anyone else is hand-writing calls against Azure endpoints. Can someone explain this? Otherwise I can take it to the rest specs repo....

[2016-09-21 23:01] mcardosos commented on #403
[code]
If I change the APIversion to 2015-11-01 (just like in the swagger), the operation also lists storage accounts.

[2016-09-21 23:02] vishrutshah commented on #403
@pomortaz Could you please throw some lights on this pattern and requirements from the service side to help us understand this scenario better. Thanks!

[2016-09-22 00:43] garimakhulbe commented on #403
I agree with @colemickens and also confuse why api version is mentioned in two places in swagger. SDK only has one api version which is top level swagger version tied to the API and users see this [version ](https://github.com/Azure/azure-sdk-for-go/blob/master/arm/keyvault/client.go#L32)in SDK. We can not have version defined locally in swagger for endpoints.

  "info": {
    "title": "KeyVaultMa

[2016-09-22 01:23] pomortaz commented on #403
The reason for having a different API version for listing all key vault resources is that for this case we are calling ARM directly instead of being redirected to Key Vault Resource Provider. Please see [this](https://github.com/Azure/azure-rest-api-specs-pr/blob/master/arm-keyvault/2015-06-01/swagger/keyvault.json#L215).
The path for Vaults_List is "/subscriptions/{subscriptionId}/resources" whic

[2016-09-23 17:26] mcardosos commented on #402
Hello!
I was able to reproduce the issue. Let's see what I can find :3
Thanks for reporting

[2016-09-26 20:06] jhendrixMSFT commented on #402
@mcardosos I hit this issue as well when writing the sample for managing web apps.  I have a tentative fix, we should discuss.

[2016-09-27 09:29] bcc opened #404 "Connection Reuse issue for PUT operations"
The calls that make use of an HTTP PUT are not properly closing the body, which is preventing reuse of HTTPS connections. This badly hurts performance, and can cause ephemeral connection exhaustion on the client. This is most obvious if you call something like PutBlob, SetBlobProperties or CopyBlob a lot of times.

I've bodged around this for now by adding `io.Copy(ioutil.Discard, resp.body)` afte

[2016-09-27 18:42] jhendrixMSFT commented on #402
Hi @pmcatominey just letting you know I merged a fix for this issue, thanks for reporting it.

[2016-09-27 18:43] #402 closed

[2016-09-27 20:01] pmcatominey commented on #402
Thanks @jhendrixMSFT.

Does the fix require a bump of the vendored go-autorest package?

[2016-09-27 21:00] jhendrixMSFT commented on #402
@pmcatominey yes thanks for pointing this out, it's been resolved in https://github.com/Azure/azure-sdk-for-go/pull/405.

[2016-09-28 10:50] pmcatominey opened #406 "Acquiring a lease on a storage blob"
I can't find any methods in the storage package which provides the ability to gain a lease, is it missing?

A code sample in [this article](https://azure.microsoft.com/en-us/documentation/articles/storage-concurrency/#managing-concurrency-in-blob-storage) indicates that it is available as a method in the .NET SDK:

[code]

[2016-09-28 10:52] pmcatominey commented on #320
I believe this is fixed now as of v4 beta

[2016-09-28 19:34] garimakhulbe commented on #320
@michaelbironneau we have servicebus in version v4 now.
@pmcatominey thanks for reminding on this.

Closed.
cc: @jhendrixMSFT @mcardosos

[2016-09-28 19:34] #320 closed

[2016-10-04 05:00] colemickens opened #408 "v5.0.0 is not tagged on Github"
One side effect: `glide` can't tell that v5-beta is released, so it offers me to lock to `v4-beta` instead.

[2016-10-04 05:08] colemickens opened #409 "feature req: Auto-generate interface and fake implementation"
I've observed two things regarding usages of the `azure-sdk-for-go`:
1. Creation of an interface that covers the surface of the various clients exposed. (For testing/mocking purposes)
2. Implementation of a faked out implementation of those interfaces.

I'm wondering if those could be auto-generated for the user?

(If someone can send me a DL for the SDK team I can forward an internal link to a PR

[2016-10-04 14:21] stack72 commented on #364
Closed via #395

[2016-10-04 14:21] #364 closed

[2016-10-04 17:18] garimakhulbe commented on #409
@mcardosos @jhendrixMSFT

[2016-10-05 01:39] mcardosos commented on #408
Fixed :3

[2016-10-05 01:39] #408 closed

[2016-10-05 01:43] garimakhulbe commented on #387
This is in SDK now.

cc: @mcardosos @jhendrixMSFT

[2016-10-05 01:43] #387 closed

[2016-10-06 04:51] colemickens commented on #365
What's the latest here? This one's been open a while. CC: @mcardosos, @jhendrixMSFT.

[2016-10-06 10:38] stack72 commented on #365
@colemickens I believe that it has been removed form the 5.0.0-beta release - https://github.com/Azure/azure-sdk-for-go/pull/394#issuecomment-249946367

[2016-10-06 10:42] stack72 commented on #283
Ping again on this

[2016-10-06 21:42] colemickens commented on #365
Yeah, I think so as well... just want to know what the status for it returning.

[2016-10-07 11:05] pmcatominey opened #412 "Application Gateway WAF"
Hi,

The Swagger specs for network appear to support WAF SKU configuration for tge Application Gateway resource as of version [01-09-2016](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-network/2016-09-01/swagger/network.json). However the corresponding code isn't there even thought the `arm/network` package claims to implement that version.

Is this due to the service being in prev

[2016-10-09 07:26] tombuildsstuff opened #413 "Bug in the Event Hubs SDK"
Thanks for adding the EventHub SDK recently.

I've been working on adding support for them into Terraform - and I believe I've found an SDK bug with one of the types is defined incorrectly. I'm getting the following error - (I've masked the Subscription ID for obvious reasons):

[code]

I believe this error to be with the Partition ID's - which is returned as an array of strings and not Int's. For

[2016-10-12 18:28] mcardosos commented on #413
Hello! Thanks for reporting this :D
Yeah, as it is AutoRest generated, the best thing to do is update the swagger and then regen the SDK :(

[2016-10-14 21:14] rjtsdl opened #415 "Azure/azure-sdk-for-go/storage/table.go CreateTable failed"
I am on v5.0.0 beta.

I keep getting the failure for this CreateTable call. Here is the error message i got.

Error: _storage: status code from service response is 400 Bad Request; was expecting 201 Created_

Here is how i call this function
`tsc := i.client.GetTableService()`
`err := tsc.CreateTable((azureStorage.AzureTable)(table))`

Any idea ?

[2016-10-14 21:15] colemickens commented on #415
What is `table` here?

[2016-10-14 21:18] rjtsdl commented on #415
`table` here could be any string

[2016-10-14 23:14] kpfaulkner commented on #406
Have forked the repo and have started to implement these at https://github.com/kpfaulkner/azure-sdk-for-go  if anyone is interested.

Currently acquire, release, break, renew and change are working.
Once I add unit tests I'll submit for a PR, but if anyone wants a quick snoop/comment on the changes, please have a look. Although I'm a long time dev I'm fairly new to GO so would appreciate any feedb

[2016-10-14 23:24] garimakhulbe commented on #415
@rjtsdl Can you send full request formed by sdk (using fiddler)?

@mcardosos @jhendrixMSFT Not sure. Might be date issue mentioned [here](http://stackoverflow.com/a/14866888).

[2016-10-15 16:07] tombuildsstuff commented on #283
Hey @garimakhulbe @SiddharthChatrolaMs @devigned

Is this going to be added anytime soon? I'm trying my best to implement Redis support - but I've only got a few usage examples, which makes it hard to ensure I've covered all the edge cases

[2016-10-17 02:32] kpfaulkner commented on #14
Just to clarify, is this talking about public/private access to containers or talking about generating SAS Urls?

[2016-10-17 08:13] zlepper commented on #397
I have tried running the unit tests in mention, and they all work fine, at least they don't throw errors around, so do you have any input as to why the above code is not working?

[2016-10-17 16:04] rjtsdl commented on #415
Reason found, the root cause is, the table name i used didn't conform with table name rules.
![image](https://cloud.githubusercontent.com/assets/10858648/19445324/a75121bc-9448-11e6-84ea-138d3ba71139.png)
I will mark this as resolved

[2016-10-17 16:05] #415 closed

[2016-10-17 16:51] ahmetalpbalkan commented on #14
@kpfaulkner this is about ACLs not SAS URIs.

- https://msdn.microsoft.com/en-us/library/azure/dd179391.aspx
- https://msdn.microsoft.com/en-us/library/azure/dd179469.aspx

[2016-10-17 21:04] kpfaulkner commented on #406
Have submitted PR for this (have signed CLA but taking a while to register).

[2016-10-17 21:35] rjtsdl opened #417 "Unexpected CreateTable and DeleteTable result."
I encounter an issue that the multiple create and delete of a table result into unexpected results.

Here is the scenario. I have

[code]
The expected result would be no error occur, since i always "create" after clearing all the tables in the account.
However, the results is, i either failed in creating the first table, or failed in creating the second table. They either return 409 conflict, whic

[2016-10-17 21:44] colemickens commented on #417
@garimakhulbe @mcardosos Are table deletes long running operations? And does the Storage client have any knowledge of polling on LROs? If not, that could be the cause of this issue.

[2016-10-18 11:48] zlepper commented on #397
Not quite sure what is happening with the above code, but it's not working.

I Stole some code from the unit tests, and that works fine, so i'm closing this issue.

[2016-10-18 11:48] #397 closed

[2016-10-18 12:05] zlepper opened #418 "Azure Automation Account"
I don't see any way of interacting with the azure automation accounts right now.

Currently I need it for simply adding another scheduler to my runbook, so it can run against multiple things.

I have checked in both /arm and /management, neither seems to contain anything related to this.

[2016-10-18 16:12] rjtsdl commented on #417
I tested out the potential LROs issue. Looks like it is not the case. I put enough sleep time between each of the operations above. Except taking longer to run my demo code, the output error doesn't change. So it would be better to get the sdk-for-go experts to take a look.

Meanwhile, i am trying to double test the same scenario by using C# sdk. I will get back with what i found.

[2016-10-18 23:33] rjtsdl commented on #417
Take deletion take at least 40 seconds. So lesson learnt here is NOT do table deletion. From the sdk, no explicit way to verify the table is completely deleted or not.

[2016-10-18 23:33] #417 closed

[2016-10-19 09:44] SeTriones opened #419 "bug in blobSASStringToSign"
stringToSign should contain SIGNED_IP and SIGNED_PROTOCOL, but currently not.
This causes GetBlobSASURI returns an invalid url.

[2016-10-19 15:43] rjtsdl opened #420 "Bug: InsertOrReplaceEnitity return nil in error when it should 400 bad request"
I was confused when i successfully insert something in the table, but it is not shown in the explorer. Later i found out there is some partitionKey or rowKey limitation. It cannot be anything. In my case i have "/" in them, that is why it is not inserted sucessfully. However, it expose some **bug in the function "InsertOrReplaceEnitity"** of table storage. Developer like me do expect err message w

[2016-10-19 18:05] amanohar opened #421 "storage: Support for queue UpdateMessage operation in Go SDK"
Does the current SDK for Go support UpdateMessage operation?:
https://msdn.microsoft.com/en-us/library/azure/hh452234.aspx

Looking at the code looks like it doesn't. Can you confirm?

[2016-10-19 18:16] colemickens commented on #421
cc: @ahmetalpbalkan any idea on this one?

[2016-10-19 18:26] garimakhulbe commented on #421
We don't have this in SDK currently.

[2016-10-19 19:07] ahmetalpbalkan commented on #421
True, it is not implemented. Shouldn't be hard to contribute given the examples.

[2016-10-19 19:08] amanohar commented on #421
Thanks for confirming. I will add it and send a PR.

[2016-10-20 17:46] mcardosos commented on #406
Awesome! Thanks @kpfaulkner ! :D

[2016-10-20 17:46] #406 closed

[2016-10-21 07:29] kpfaulkner commented on #420
Currently I'm getting back a 403 when trying to use / in a PK or RK.
Are you able to post a repro?

[2016-10-21 20:37] kpfaulkner commented on #14
Added a PR for this covering Container ACLs. Hope it's some use.

[2016-10-22 00:30] #413 closed

[2016-10-23 19:29] tombuildsstuff commented on #413
@amarzavery @mcardosos thanks for fixing the bug in the Swagger.. any idea when the SDK will be re-generated to account for this? Would it be possible to @ me in that PR? Many thanks :)

[2016-10-24 01:02] kpfaulkner commented on #208
Is this still desired? Have blobutil.PutBlockBlob that does the chunking and putList for you?

[2016-10-24 01:50] kpfaulkner commented on #419
@SeTriones  Are you referring to https://msdn.microsoft.com/en-us/library/azure/dn140255.aspx#Anchor_8 ?

[2016-10-24 02:31] SeTriones commented on #419
@kpfaulkner yes.
You can see this in that page: 'Version 2015-04-05 adds support for the signed IP and signed protocol fields. These must be included in the string-to-sign. '  And I'm using version of 2015-04-05.

[2016-10-24 06:30] kenegozi commented on #208
It's been a while, and I've been away from doing golang/azure work recently, so if you have a good way to provide the usage to users that you are happy with then this can be closed as "no thanks"

[2016-10-24 06:30] #208 closed

[2016-10-24 17:18] colemickens opened #423 "storage: Support a storage emulator"
It would be very useful to have a storage emulator for testing Go projects without needing to use a real storage server.

[2016-10-24 17:47] rjtsdl commented on #420
Thanks, working now.

[2016-10-24 17:47] #420 closed

[2016-10-24 18:07] mcardosos commented on #423
Hello Cole :D Actually I added this some weeks ago :D
You should be able to use [Azure Storage Emulator](https://azure.microsoft.com/en-us/documentation/articles/storage-use-emulator/) with some lines like this ones...
[code]

[2016-10-24 18:07] #423 closed

[2016-10-24 23:24] kpfaulkner commented on #419
@mcardosos / @ahmetalpbalkan  I've written up a local solution to this, will submit a PR soon but have a question about preferred approach to this.

Currently I check if the API Version the user is >= "2015-04-05", if the user supplies the signedIP/protocols then I populate them.

If the API version was < "2015-04-05" then I don't use the signedIP/protocols even if they're supplied.

BUT I've noti

[2016-10-25 08:51] kpfaulkner opened #424 "Abort Copy Blob operation."
Currently the library supports the starting of a copy blob operation (CopyBlob function) which starts a single copy and then waits.

I'd like to propose a new function for Aborting such a copy (see https://msdn.microsoft.com/en-us/library/azure/jj159098.aspx) as well as modifying the existing code a tiny bit.

Currently the exported function CopyBlob calls a non-exported (still trying to get my Go

[2016-10-25 13:01] stack72 commented on #412
@garimakhulbe / @ahmetalpbalkan any chance we could get the client regenerated for this? I believe that @pmcatominey wants to add support for this to Terraform :)

[2016-10-25 13:40] garimakhulbe commented on #412
@mcardosos can you look into this?

[2016-10-25 14:03] tombuildsstuff commented on #283
@brendandixon @garimakhulbe @devigned @ahmetalpbalkan is there any kind of update on this? This issue's been open for over 6 months without any real response?

![inline](https://i.makeagif.com/media/7-23-2015/RbsnpX.gif)

I'm adding support for [Redis to Terraform](https://github.com/hashicorp/terraform/pull/9537) - but it's hard when all I've got is the ARM templates, which aren't complete - and

[2016-10-25 19:17] tombuildsstuff opened #426 "Probable Bug in the Redis SDK"
Some context: I'm trying to implement Redis support within Terraform. I've been able to work back from the ARM templates to get Basic/Standard working _relatively_ smoothly - but I've encountered issues trying to support the Premium tier.

Within the Redis SDK - the field `shardCount` is defined as being an int32:

[code]

However it's actually being returned by the API as a string - as shown belo

[2016-10-25 19:26] colemickens commented on #426
Another option is to extend the struct tag to tell Go that it will be a string-wrapped integer. Like so: http://stackoverflow.com/a/21152548/472873 But that would need to be communicated through Swagger...

[2016-10-25 22:37] jhendrixMSFT opened #428 "Ensure that errors don't go unchecked"
We should scrub the SDK to ensure that we don't have unchecked errors, see https://github.com/Azure/azure-sdk-for-go/pull/427 for more info.

[2016-10-26 06:53] tombuildsstuff commented on #34
@ahmetalpbalkan given it's been a while, are there any expanded thoughts on testing as a whole for the SDK?

I can't help feeling the bugs that I'm raising (e.g. #413 / #426) would be caught by some basic Integration/usage tests. As I can see it right now there's a few hand-rolled tests for a few isolated components of the SDK - but not much else.

Whilst I hate to suggest generating more code - w

[2016-10-26 06:56] ahmetalpbalkan commented on #34
@mcardosos can answer.

[2016-10-26 18:29] kpfaulkner opened #429 "Add Snapshot for blob request"
Currently Snapshotting blobs (https://msdn.microsoft.com/en-us/library/azure/ee691971.aspx) isn't implemented.

Have coded up solution and will submit PR soon.

[2016-10-26 21:30] TimLovellSmith commented on #426
This is actually a bug server-side - Azure *is* intended to return an int, but it currently returns a numeric string.

[2016-10-26 21:46] amarzavery commented on #283
@brendandixon @garimakhulbe @ahmetalpbalkan
I came across this issue via internal email. Every language SDK is supposed to have some kind of documentation story of the client side API.
All the azure sdks should have links to the docs right at the top of the repo.

The REST API docs that will be generated from swagger (rest-api-specs) repo is a separate and independent project. I am not aware about

[2016-10-26 21:48] ahmetalpbalkan commented on #283
@amarzavery it looks like godoc.org is currently having some issues. it often caches the documentation and updates periodically. If the issue persists, please report them to https://github.com/golang/gddo/issues

[2016-10-26 21:54] colemickens commented on #283
@amarzavery I believe the problem in this thread is the fact that we are missing the actual REST documentation on MSDN.

Aka, where is the Redis equivalent of this page: https://msdn.microsoft.com/en-us/library/azure/mt163647.aspx

[2016-10-26 22:56] amarzavery commented on #283
@ahmetalpbalkan - We upload our docs at this site http://azure.github.io/azure-sdk-for-node/
The https://azure.github.io/projects/sdks/ provides docs for different language SDKs in Azure. It would be nice if GO sdk can also publish their docs over here.

This is the github repo https://github.com/Azure/azure.github.io that powers azure.github.io

[2016-10-26 23:03] ahmetalpbalkan commented on #283
@amarzavery I don't think any go developer will go to to that website to read SDK docs. The canonical way to read any go package documentation is to navigate to godoc.org/[package-name].

[2016-10-27 02:14] amarzavery commented on #426
@TimLovellSmith - Can you provide an ETA for this fix? Looks like it should be an easy fix on the service side.

[2016-10-27 18:47] mcardosos commented on #34
Hello @tombuildsstuff
About testing the SDK, our plan is to test it in three different points. Take into account this is a WIP
- Test the swaggers against the APIs. This way we can find if the swagger is reflecting correctly the API behavior. The issues you have reported would be found this way :)
- Test AutoRest.
- Test the SDK, in a similar way in which you are suggesting. This would catch bugs

[2016-10-27 19:14] TimLovellSmith commented on #426
@amarzavery Indeed. We'll roll it out in next week or two - PM me if you have any more specific need around ETA.
// @tombuildsstuff

[2016-10-28 12:43] tombuildsstuff commented on #426
@timlovellsmith @amarzavery

Great thanks. Any idea if that'll be an in place fix - or a new version?

[2016-10-28 13:11] tombuildsstuff commented on #283
The main problem here for me isn't so much where the documentation belongs - but what is required for each usage tier (Basic/Standard/Premium); which presumably would work best as an msdn page?

An example here is that the default Redis configuration - which appears to be 3 values, but given it's a map of values, I can only guess that those 3 key/value combinations are the defaults? Simply adding

[2016-10-28 18:33] jhendrixMSFT commented on #365
This is now resolved as of https://github.com/Azure/azure-sdk-for-go/pull/425 merged today.

[2016-10-28 18:33] #365 closed

[2016-10-28 18:46] mcardosos commented on #412
Added in `v6.0.0-beta` :D

[2016-10-28 18:46] #412 closed

[2016-10-28 18:57] mcardosos commented on #418
Hello!
We cannot generate the Automation SDK until we get its [swagger](https://github.com/Azure/azure-rest-api-specs) spec.
It would be included in the `arm` folder.

[2016-10-28 19:00] pmcatominey commented on #412
@mcardosos @garimakhulbe cheers!

[2016-10-28 23:39] colemickens commented on #418
Related Issue: https://github.com/Azure/azure-rest-api-specs/issues/476

[2016-10-31 17:22] ahmetalpbalkan opened #432 "Stop releasing as "-beta""
Is there a plan to stop using suffix `-beta` in release names/tags? I know we still make a ton of breaking changes but that does not make it a `-beta` really.

Many products and customers are using Go SDK in production for quite a while, as well as some of the new internal services that are ramping up nowadays. We feel confident using it just fine. And it's in top 3 in terms of requests sent to th

[2016-10-31 17:23] ahmetalpbalkan commented on #419
@kpfaulkner we already have date distinctions in SAS logic if I recall correctly. Any patch would be appreciated, as long as we don't break old clients or something.

[2016-10-31 17:23] ahmetalpbalkan commented on #424
@kpfaulkner sounds good. Folks can help you review if you submit a patch (with tests).

[2016-10-31 17:24] ahmetalpbalkan commented on #429
@kpfaulkner awesome!

[2016-11-01 17:58] rootfs opened #435 "disk resize"
Is there any plan to support a data disk resize?

From the [API doc](https://msdn.microsoft.com/en-us/library/azure/ee691966.aspx), updating blob size can be done by updating blob properties. Not sure if that's all it takes to change the vhd size though, since vhds also set sizes in their footers.

[2016-11-01 20:01] tombuildsstuff opened #436 "v6 SDK: Unable to set Version of Redis to use"
Unfortunately it looks like the release of the V6 SDK the other day has removed the ability to specify the Redis Version when creating or updating an instance.

Code sample from the relevant SDK's:

Before (v5):
[code]

Now (v6):
[code]

As you can see the `RedisVersion` field has gone from the (now split) Create and Update methods. Given that it's still possible to retrieve this information as pa

[2016-11-01 23:24] mcardosos commented on #436
Hello @tombuildsstuff
It is not a bug. It is included in the GET response because sometimes Redis can be patched server side, so the version changes.

[2016-11-01 23:24] #436 closed

[2016-11-02 01:15] mcardosos commented on #435
Hi @rootfs !
You can do something like this...
[code]
More on updating VMs [here](https://msdn.microsoft.com/en-us/library/azure/mt163591.aspx).

[2016-11-02 01:15] #435 closed

[2016-11-02 05:17] tombuildsstuff commented on #436
Hi @mcardosos

Thanks for the prompt reply :)

Given that it was previously possible for an end user to specify this (e.g. 2.8 or 3.0)

Just to clarify two other questions (perhaps this is the wrong place for them:
1) I'm presuming this now defaults to the latest version at creation time?
2) What happens for users on older versions, is the intention that they auto-upgraded?

Thanks!

[2016-11-02 07:13] tombuildsstuff opened #438 "v6 SDK: Unable to retrieve the SKU for a Redis instance"
In addition to the other Redis bug I've filed (#436) - it appears that the v6 SDK has also removed the ability to obtain the current SKU for a Redis instance?

Using v3-v5 of the SDK it was possible to both Create, Update and Get/List the Redis SKU - however v6 has removed the functionality from the Get/List - so it's only available when Creating or Updating a Redis instance.

Relevant code:
[code

[2016-11-02 07:22] tombuildsstuff opened #439 "v6 SDK: Usage Clarification for the Container Service"
Context: I'm trying to implement support for the Container Service into Terraform

Perhaps this isn't the right place to file this bug - but given I was trying to implement it using the Go SDK it seemed sensible - happy to open this elsewhere if needed :)

I've imported v6 of the Container Service SDK - and [built up a sample object](https://gist.github.com/tombuildsstuff/050d4f166c43ff477e2776801

[2016-11-02 16:58] pmcatominey opened #440 "arm/resources/locks: missing Get method, unclear param"
Hi, I've encountered a few issues when trying to user resource locks.

## Get misnamed

I believe the Get function should be called GetAtSubscriptionLevel, looking at the code it performs a Get for locks under the subscription scope.

## GetAtResourceLevel missing

This function doesn't exist, I can't see any other functions to use for this purpose instead.

## Unknown `parentResourcePath` param

[2016-11-02 19:15] TimLovellSmith commented on #436
@tombuildsstuff Hi! Despite what past versions of the API would lead you to believe, it's never really been possible to request a specific version during create time - you will always get a default version when you create, and you get auto-upgraded to the latest version on some arbitrary schedule (or a schedule of your choosing if you are Premium SKU and opting in to scheduled patching). You can o

[2016-11-02 19:31] robbyt opened #441 "Request for simplified & commented ARM examples/docs"
I need to write a system to do some ARM automation- including creating, discovering, reading tags, deleting, etc.

However, this is a bit hard for me to get started because the examples are a bit complicated (and outdated), and the documentation about authenticating assumes a lot of prior knowledge.

Here's an example of what I consider good developer-friendly documentation: http://docs.pythonboto

[2016-11-02 20:28] tombuildsstuff commented on #438
Coming back to this with fresh eyes a few hours later I notice the Sku within the `CreateResponse` which is being returned from a Get - which is what I think threw me off.

Closing the bug - sorry for the inconvenience

[2016-11-02 20:28] #438 closed

[2016-11-03 01:07] mcardosos commented on #439
Hi @tombuildsstuff  :D
Right now it is limited to Linux, so you can ignore the Windows Profile

[2016-11-03 01:07] #439 closed

[2016-11-03 01:37] mcardosos opened #442 "Generate a function to get a resource ID without calling Azure"
Right now, some methods will [require a resource ID](https://github.com/Azure/azure-sdk-for-go/blob/bd73d950fa4440dae889bd9917bff7cef539f86e/arm/resources/resources/resources.go#L123), and the way to get it is with [Get](https://github.com/Azure/azure-sdk-for-go/blob/master/arm/compute/virtualmachines.go#L423) methods that will return a struct containing the ID. Still, the resource ID can be built

[2016-11-03 01:46] colemickens commented on #442
A fluent construction would be interesting as well.

`azure.Subscription(subId).ResourceGroup(rgId).Network.PublicIP(pipName)` might be interesting.

[2016-11-03 08:23] tombuildsstuff commented on #439
@mcardosos 👍🏼 ok cool - thanks!

Is there any plan to split the API into multiple calls btw? One giant call to manage the cluster makes life challenging to split this out into smaller resources like a resource per pool :)

[2016-11-03 09:27] tombuildsstuff commented on #436
@TimLovellSmith ok cool, thanks for letting me know :)

Are there plans to do some kind of deprecation messaging around this, because this is the first I've heard of it? (but then to be fair - I also hadn't noticed that our Redis instances (currently created through ARM) as 2.8 had auto-upgraded =])

[2016-11-03 17:16] mcardosos commented on #438
No worries :D

[2016-11-03 17:45] mcardosos commented on #439
Do you mean have a method to update only the `MasterProfile`, another method for `LinuxProfile` only, etc?

[2016-11-03 17:48] colemickens commented on #439
cc: @Azure/acs

[2016-11-04 00:16] mcardosos commented on #440
Hello @pmcatominey !
Thanks for reporting the missing functions. I already sent a PR to the [azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs) repo, so the SDK can be regenerated later.
The `parentResourcePath` parameter is to be used when you need some extra stuff in the path... For example [SQL Databases](https://msdn.microsoft.com/en-us/library/azure/mt163685.aspx). For other

[2016-11-04 00:19] mcardosos commented on #432
:D
Our plan is to release a non beta version in spring

[2016-11-04 09:49] tombuildsstuff commented on #439
@mcardosos @colemickens indeed - right now it's a lot of configuration to update in one API call. it'd be nice to be able to provision the Core with any default configurations, then say "add a linux pool with 5 agents" as a separate API call

e.g. I'd love to be able to have this as separate resources in Terraform:
[code]

[2016-11-04 14:43] amanohar commented on #439
@tombuildsstuff, ACS does support specifying OS Type on AgentPool with a field called "osType". Allowed values are "Linux" and 'Windows'. Default is Linux

ACS currently does not support PATCH but you can send a partial object as part of your PUT (update) if you call the rest API. E.g. if you needed to scale up/down you could just provide agentpoolprofile in the request body. Note, however that AC

[2016-11-04 17:49] #419 closed

[2016-11-04 18:40] amanohar commented on #421
UpdateMessage operation added to the Go SDK. Closing issue.

[2016-11-04 18:40] #421 closed

[2016-11-05 16:12] tombuildsstuff commented on #439
@amanohar thanks for clarifying that - I'll look into just adding Linux support for the moment :)

Perhaps I'm looking in the wrong resource, but I don't believe that the [`osType` field is exposed via the SDK](https://github.com/Azure/azure-sdk-for-go/blob/master/arm/containerservice/models.go#L136) at this point?

[2016-11-05 21:10] tombuildsstuff opened #446 "v6 SDK: Missing 'archiveDescription' object within Event Hubs"
Hello!

Thanks for all the recent support :)

I'm working my way through adding EventHub support to Terraform - and comparing the result against some corresponding ARM Templates to validate that I've ported a real-world use-case.

In particular I'm trying to work out how to replicate the Archiving functionality provided by the following EventHub ARM:

[code]

For context, this functionality is als

[2016-11-07 07:45] amanohar commented on #439
@tombuildsstuff thanks for the feedback.

[2016-11-07 09:48] stack72 commented on #432
Spring 2017? That means that the SDK will have been in beta for well over a year - why is this the case?

[2016-11-07 19:19] eduardkoller commented on #432
We have a set of internal criteria for lifting the beta tag. Once the criteria are met, we will release without the beta.

[2016-11-07 19:37] mcardosos commented on #446
Hey @tombuildsstuff , thanks for reporting this.
Already opened the specs issue.

[2016-11-07 21:13] tombuildsstuff commented on #432
@eduardkoller out of interest - are the criteria that you refer to publicly available?

[2016-11-07 22:58] mcardosos commented on #441
Hello!
For authenticating, you will need your `subscriptionID`, `tenantId`, `clientId` and `client secret`. You can get them following [this tutorial](https://azure.microsoft.com/en-us/documentation/articles/resource-group-create-service-principal-portal/) (there, the client secret is referred to as authentication key). I would recommend to set this IDs and keys as environment variables.
To use th

[2016-11-08 07:12] tombuildsstuff commented on #446
Thanks @mcardosos :)

[2016-11-08 19:18] brjohnstmsft opened #447 "Generated code for Search needs to be updated"
There is a new Swagger spec available for the Azure Search Management API: https://github.com/Azure/azure-rest-api-specs/tree/master/arm-search/2015-08-19/swagger

Please update the generated code using this new Swagger.

[2016-11-08 21:19] jhendrixMSFT opened #448 "Come up with a servicing story for a given SDK version"
Need to define a servicing story for a given SDK version (branch structure, code flow, versioning etc).

[2016-11-08 21:27] jhendrixMSFT opened #449 "Increase test coverage in CI"
We have very limited test coverage in CI so we don't have a super-high confidence level on the quality of SDK updates outside of manual ad-hoc testing.

[2016-11-08 21:51] jhendrixMSFT opened #450 "Create sample for Management - NetworkInterface"
Be sure to include the following operations.

get (withId)
updateNSG

[2016-11-08 21:51] jhendrixMSFT opened #451 "Create sample for Management - NetworkSecurityGroup"
Be sure to include the following operations.

get (withId)
updateRules

[2016-11-08 21:53] jhendrixMSFT opened #452 "Add support for Storage - FileStorage"
Be sure to include support for the following operations.

getShare
createShare
deleteShare
getDir
createDir
deleteDir
downloadFile
uploadFile
deleteFile
setContentMD5
getContentMD5

[2016-11-08 21:54] jhendrixMSFT commented on #452
Also be sure to create a matching sample.

[2016-11-08 21:55] jhendrixMSFT opened #453 "Publish sample for Management - StorageAccount"
I had a chat with @mcardosos and we have a sample for StorageAccount we just need to get it published.

[2016-11-09 05:31] kpfaulkner commented on #452
Has this been started on already? Or can anyone pick it up and start working on it?

[2016-11-09 08:55] colemickens commented on #432
+1 for being open about the exit criteria for moving from beta to stable.

[2016-11-10 05:06] kpfaulkner commented on #172
@ahmetalpbalkan  Is it planned that SharedKey and SharedKeyLite will both be available (bool toggle?) or we'll simply go for "SharedKeyLite all the things" ?

Have already implemented this previously by having everything use Lite, just want to check that's the agreed approach? If so, I'll refactor a little over the weekend and submit a PR.

[2016-11-10 17:32] ahmetalpbalkan commented on #172
@kpfaulkner I opened this issue to switch to SharedKeyLite and get rid of the SharedKey code back in the day when we had issues with it. So right now I'm not sure if there's a real need to switch.

[2016-11-10 17:57] kpfaulkner commented on #172
Fair enough, I'll stash the code away for a rainy day.

Cheers

Ken

[2016-11-10 18:14] vishrutshah commented on #34
@mcardosos Please update test strategy into README.

[2016-11-10 18:18] vishrutshah commented on #50
Closing this one as basic support has been merged. Feel free to reopen if you find any issues. Thanks

[2016-11-10 18:18] #50 closed

[2016-11-10 18:26] vishrutshah commented on #180
Closing this one as it has been inactive for a while. Feel free to reopen if you find any issues. Thanks!

[2016-11-10 18:26] #180 closed

[2016-11-10 18:28] vishrutshah commented on #209
Closing this one as it has been inactive for a while. Feel free to reopen if you find any issues. Thanks!

[2016-11-10 18:28] #209 closed

[2016-11-10 18:29] ahmetalpbalkan commented on #396
@zlepper I don't think Azure APIs let you specify letter drives for the specified disks at the moment.

[2016-11-10 18:31] vishrutshah commented on #261
Closing this one as it has been inactive for a while. Feel free to reopen if you find any issues. Thanks!

[2016-11-10 18:35] vishrutshah commented on #283
@eduardkoller Could you please follow up on documentation with Redis team. Thanks!

[2016-11-10 18:37] stack72 commented on #261
@vishrutshah so is this fixed? From what I can tell it's Inactive as no one has updated the documentation

[2016-11-10 18:43] vishrutshah commented on #311
@mcardosos Please verify first whether this has been implemented in runtime or not.

[2016-11-10 18:44] vishrutshah commented on #316
Closing this one as seems to be fixed. Feel free to reopen if you find any issues. Thanks!

[2016-11-10 18:44] #316 closed

[2016-11-10 19:06] vishrutshah commented on #261
@stack72 Thanks for getting back. No I am not 100% sure whether documentation has been fixed or not. If you think it's not i'll reopen it. Thanks!

@eduardkoller Could you please follow up internally to find out what are the action items.

cc:
@jhendrixMSFT @mcardosos

[2016-11-10 19:46] mcardosos commented on #14
Functionality added by @kpfaulkner PR. Thanks for your contribution!

[2016-11-10 19:46] #14 closed

[2016-11-10 23:49] mcardosos commented on #207
Functionality already added.

[2016-11-10 23:49] #207 closed

[2016-11-11 18:48] kpfaulkner commented on #452
Just to clarify, looking at https://msdn.microsoft.com/en-us/library/azure/dn167006.aspx I don't see any immediate equivalent to "getShare" and "getDir". Am I right in assuming the "list" functionality is what's desired here?

[2016-11-11 18:50] jhendrixMSFT commented on #452
You are correct.  I've started work on this yesterday, you can see my progress in my fork at https://github.com/jhendrixmsft/azure-sdk-for-go/tree/filestorage if you're interested.

[2016-11-11 18:55] kpfaulkner commented on #452
Ah cool. I was going to start having a go at it, but if you're already on it I'll leave it be :)

[2016-11-11 19:18] kpfaulkner commented on #424
Closing. PR merged

[2016-11-11 19:18] #424 closed

[2016-11-14 15:32] TamalSaha opened #455 "Add support for GraphRbac api"
We would like to call GraphRbac api via GO. I noticed that it was commented out in the gen.go file.
https://github.com/Azure/azure-sdk-for-go/blob/master/Gododir/gen.go#L118

Can we get this api added to GO SDK?

Thanks.

[2016-11-15 02:11] FrenchBen opened #457 "SDK should match MSDN reference"
It seems there's a fair amount of discrepancy between what the MSDN Azure Reference says a call should return and what the Azure SDK for Go actually gives you.

Take for example the process of getting the list of NIC associated with a VM Scale Set:
https://msdn.microsoft.com/en-us/library/azure/mt712626.aspx

This should provide a response with an array of `value`, which includes things like `Name

[2016-11-15 02:53] colemickens commented on #457
The MSDN doc page here doesn't even make any sense. It's showing the GET for a VMSS, and then the response only shows NIC information. Let me see if I can get someone to chime in.

In the meantime, you're expected to keep going down the rabbit hole.

Unfortunately, it looks like at the bottom there is just a `VirtualMachineScaleSetIPConfigurationProperties` that doesn't even have the private ip fi

[2016-11-15 03:10] FrenchBen commented on #457
Thanks @colemickens for the quick response!

I'm guessing what I should be looking for networking details; something along the lines of:
https://github.com/Azure/azure-sdk-for-go/blob/bd73d950fa4440dae889bd9917bff7cef539f86e/arm/network/loadbalancers.go#L190

To get the loadBalancer properties, defined here:
https://github.com/Azure/azure-sdk-for-go/blob/bd73d950fa4440dae889bd9917bff7cef539f86e/ar

[2016-11-15 03:17] colemickens commented on #457
For what it's worth, I'd never looked at those particular bits before either. I was just starting here and then following the rabbit hole: https://godoc.org/github.com/Azure/azure-sdk-for-go/arm/compute#VirtualMachineScaleSet

If you follow the right links, you'll eventually end up at the nested struct `VirtualMachineScaleSetIPConfigurationProperties` which I think is what you're after.

So there'

[2016-11-15 03:18] colemickens commented on #457
Actually, it gets more confusing... the `network` package itself has other functions that relate to VMSS: https://godoc.org/github.com/Azure/azure-sdk-for-go/arm/network#InterfacesClient.ListVirtualMachineScaleSetNetworkInterfaces

[2016-11-15 03:22] colemickens commented on #457
I guess the logic here is: the compute/VirtualMachineScaleSet contains properties that are common to the VMSS Profile and apply homogenously across all of the member VMs.

The NIC's specific configuration, including the IPConfig, is unique per-VM in the VMSS, so you need to go through the `network` package to access the relevant private ip fields.

Let me know if that's enough extra info to get yo

[2016-11-15 18:35] FrenchBen commented on #457
Thanks for chasing this all down for me, as it should allow me to get what I need.
This however doesn't make this SDK very friendly.

I hate to compare things, but the EC2 instance SDK gives you all that you want all at once.
http://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstances.html

[2016-11-16 04:38] kpfaulkner opened #458 "Cognitive Services API"
Just a general query. Do any FTEs/anyone know anything about a Go SDK/client-lib for the Azure Cognitive Services?

I've looked at the REST APIs (eg https://dev.projectoxford.ai/docs/services/56f91f2d778daf23d8ec6739/operations/56f91f2e778daf14a499e1fa ) and am thinking of writing up a Go lib.

I'm wondering if anyone knows if there are Swagger definitions of this (which might then auto generate a

[2016-11-16 04:41] colemickens commented on #458
The top right-hand corner of that page links to a Swagger spec. Presumably it would work with go-autorest.

From the looks of it, this isn't terribly Azure related, so it might make sense in a separate library, but again, I'll defer to @mcardosos and co.

[2016-11-16 04:47] kpfaulkner commented on #458
hahaha cant believe I missed that link. Doh!
Was wondering about the applicability of Azure here.... but an example URL is https://azure.microsoft.com/en-us/services/cognitive-services/

It IS being offered by Azure itself.

But you're right, if the swagger is already there then not sure I'll bother coding anything.

[2016-11-16 04:49] colemickens commented on #458
In that case, I would go look at [Azure/azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs) and see if they have the Swagger for it. If not, I'd start in that repo and ask them to add the relevant Swagger, and then it would make sense to auto-gen the client in this project.

[2016-11-16 16:09] tombuildsstuff opened #459 "Redis SDK: Schema doesn't match on Read"
Hello Again! 👋

I believe I've found another bug in the Redis SDK. When calling a Get request - the API returns the following JSON:
[code]

The SDK contains the following Schema which doesn't match - meaning that the Properties object in the ResourceProperties class is nil. This is the relevant code from the SDK:
[code]

Given the two don't marry up, Properties is nil - and fails my tests :(

I ta

[2016-11-16 18:39] colemickens commented on #459
For these sorts of bugs, can you file a corresponding bug against the [Azure/azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs) where the Swagger specifications live? Then they can be pulled and used to update this SDK. Thanks.

[2016-11-16 19:19] vishrutshah commented on #458
Regarding: https://github.com/Azure/azure-rest-api-specs/issues/731
cc:
@daniel-ms

[2016-11-16 19:27] vishrutshah opened #460 "Verify correctness and completeness of x-ms-odata extension for Go Generator"
https://github.com/Azure/autorest/blob/master/docs/extensions/readme.md#x-ms-odata

[2016-11-16 21:09] TimLovellSmith commented on #459
@tombuildsstuff @colemickens The response JSON looks as expected, unless you've noticed a specific issue with the swagger, I would assume this is a bug specific to the GO sdk generated code.

[2016-11-16 21:12] colemickens commented on #459
@TimLovellSmith I don't understand, the structs in the parent post are generated from Swagger and don't align with the actual response posted.

[2016-11-16 21:15] TimLovellSmith commented on #459
@colemickens Yes they're generated from swagger, but I don't see anything in the swagger [ https://github.com/Azure/azure-rest-api-specs/blob/master/arm-redis/2016-04-01/swagger/redis.json
] that looks wrong. It specifies that the response of a PUT operation returning 201 is a RedisResource... which should be correct.

[2016-11-16 21:18] colemickens commented on #459
But the OP is doing a GET operation. The structs in Go look to be properly mapped to the Swagger spec that I'm looking at. The Swagger spec for a GET just doesn't match what the OP has posted above.

[2016-11-16 21:20] TimLovellSmith commented on #459
@colemickens How doesn't it match? GET also returns a RedisResource, same as PUT.

[2016-11-16 21:20] colemickens commented on #459
For example, according to the Swagger, the "sku" and "redisConfiguration" fields are NOT supposed to be sibling fields to "provisioningState". Yet they are siblings in the real response returned and shown above.

[2016-11-16 21:22] TimLovellSmith commented on #459
@colemickens
Ah, I think the problem is only I am interpreting the "x-ms-client-flatten": true directive in the swagger.

[2016-11-16 21:23] colemickens commented on #459
Ah-ha, thanks! In this case, I think I might agree then, it's possible the Go generator doesn't respect the `x-ms-client-flatten` field. @mcardosos can you tell us if this is the case?

[2016-11-16 21:25] mcardosos commented on #459
Flattening is not currently supported in the Go generator

[2016-11-16 21:47] colemickens commented on #459
Thanks for letting us know.

Can we get an issue to track the addition of flattening then?

[2016-11-16 22:14] mcardosos commented on #459
Looking again at this, shouldn't `Create` also return a `RedisResource`? Right now it returns an `autorest.Response`.

[2016-11-17 06:06] tombuildsstuff commented on #459
thanks @colemickens / @mcardosos / @TimLovellSmith - will do.

[2016-11-17 22:06] mcardosos opened #462 "Generate container registry SDK"
[Swagger](https://github.com/Azure/azure-rest-api-specs/tree/master/arm-containerregistry) is available!
~~Note: it requires [x-ms-client-flatten](https://github.com/Azure/autorest/issues/1620)~~

[2016-11-18 00:29] mcardosos commented on #129
@jhendrixMSFT

[2016-11-18 18:01] moadben opened #464 "blob storage support via SAS key"
Hello everyone,

I was thinking about implementing some sort of SAS key authentication for the blob storage library. Like maybe create an interface that the current Client satisfies and creating a separate, smaller Client object that sends api requests via SAS instead and have the blobstorageclient object be able to take both? I started working on something like that locally to use personally and

[2016-11-18 20:21] moadben commented on #464
So if you guys are interested the only conflict I have right now is the whole generate a SAS key with a BlobStorageClient thing which you can't really do with a SAS Authenticated Client.

[2016-11-21 08:44] alukyan opened #465 "Storage unit test is failing when running tests under Linux against real storage account"
I suspect this failure is related to using storage emulator for running unit tests vs using real storage account (local time vs UTC). I am not aware of storage emulator for Linux so I was running unit tests for my fork against real storage account. I have [a fix in my fork](https://github.com/alukyan/azure-sdk-for-go/commit/201b3fc48d395b5a810f8a79ce07fbca8303749a#diff-380f97775176bea8267283dcb409

[2016-11-21 08:56] alukyan opened #466 "Storage tables - support for ETags as optimistic concurrency tokens and OData JSON format for explicit property types"
Current implementation of TableServiceClient only provides one operation with "IfMatch" parameter that should contain entity ETag, but it is unclear how to get ETag for the entity in the first place.
Update operations do not support ETags. Is there plan to support this feature or I should just do something about it in my own fork?

Also, is there plan to support OData JSON format for inserting and

[2016-11-21 09:31] kpfaulkner opened #467 "Table ACLs not supported"
Cannot set or get Table ACLs as per https://docs.microsoft.com/en-us/rest/api/storageservices/fileservices/get-table-acl   and https://docs.microsoft.com/en-us/rest/api/storageservices/fileservices/set-table-acl

About to submit a PR

[2016-11-21 17:07] brendandburns commented on #462
Can I help with this?  What needs to be done (I'd love to get this in soon-ish as it's blocking some upstream work...)

Thanks!
--brendan

[2016-11-22 01:17] mcardosos commented on #283
@tombuildsstuff @stack72
Here it is the [documentation](https://docs.microsoft.com/en-us/rest/api/redis/).

[2016-11-22 06:33] kpfaulkner commented on #465
Co-incidentally I've got that UTC() fix in. PR waiting review at the moment

[2016-11-22 11:55] #283 closed

[2016-11-22 18:28] kpfaulkner commented on #429
PR accepted and merged.

[2016-11-22 18:28] #429 closed

[2016-11-22 21:49] mcardosos opened #469 "Some documentation links are deprecated"
I am talking about those links that live in the storage dataplane code as comments.

[2016-11-22 22:54] jhendrixMSFT opened #470 "Clean up storage APIs"
In implementing the new file storage APIs we noticed there is a lot of room for improvement in the other APIs.  E.g. in blob.go GetBlobRange() we use an "extraHeaders" parameter to specify well-defined options (which then requires that the consumer goes to the docs and reads through the request headers section; every consumer has to do this over again).  We should use well-defined params (e.g. str

[2016-11-22 23:02] jhendrixMSFT opened #471 "Discuss splitting ARM and dataplane into separate repos"
Other SDKs have them split, we should discuss if it makes sense for Go.

[2016-11-22 23:19] colemickens commented on #471
Is there a benefit to doing so?

Can you link me to some examples of this pattern in the other SDKs? I had
thought they were still in the same GitHub repo.

On Nov 22, 2016 5:02 PM, "Joel Hendrix" <notifications@github.com> wrote:

[2016-11-22 23:33] jhendrixMSFT commented on #471
That's what we need to figure out.  It would allow the two stacks to version independently which could be useful in the context of breaking changes.
The Ruby SDK is split in this way, see https://github.com/azure/azure-sdk-for-ruby and https://github.com/Azure/azure-storage-ruby.  I will follow up with them on details.

[2016-11-23 08:31] tombuildsstuff commented on #432
@eduardkoller is there any update on this?

[2016-11-23 19:32] mcardosos commented on #471
Does glide allow to use a different tagged version for each subpackage?

[2016-11-25 07:02] kpfaulkner opened #474 "Official Release versions."
Hi

Just wondering about how versioning, API stability/consistency etc are handled in this project?
I'm sort of under the impression that the GO SDK is still in adhoc development mode and once it gets to a certain "level" (what exactly that means, I'm not sure) then it would be stabilised and released.

Is this correct? Also is there any rough roadmap of where this SDK is headed? Knowing roughly t

[2016-11-29 20:07] jhendrixMSFT commented on #452
The bulk of this was implemented in commit https://github.com/Azure/azure-sdk-for-go/commit/9a8a7d6ebdf934c3b5d3b82cbcd1c5a5b37eef05.  Only remaining item is support for content MD5.

[2016-11-29 23:37] mcardosos opened #476 "Add swagger-to-sdk for automatic PRs"
I guess we'll need to modify our `gen.go` file, but [this](https://github.com/lmazuel/swagger-to-sdk) would be really useful.

[2016-11-30 00:41] brjohnstmsft commented on #447
Looks like this is done: https://github.com/Azure/azure-sdk-for-go/releases/tag/v7.0.0-beta

Thanks!

[2016-11-30 00:41] #447 closed

[2016-11-30 17:58] jhendrixMSFT commented on #462
This was resolved in the latest beta.  https://github.com/Azure/azure-sdk-for-go/releases/tag/v7.0.0-beta

[2016-11-30 17:58] #462 closed

[2016-11-30 18:43] salameer commented on #451
@marstr

[2016-11-30 18:57] salameer commented on #469
@mrstr

[2016-11-30 18:59] salameer commented on #467
@marstr

[2016-11-30 18:59] salameer commented on #467
THANKS for the PR Ken, assigning folks to take a look at it

[2016-11-30 19:08] salameer commented on #466
Hi Andrey, we'll need sometime to investigate this and get back to you

[2016-11-30 19:12] salameer commented on #464
Hi Moad, thanks for contacting us, assigning someone to take a look at this and hopefully get back so to you

[2016-11-30 19:17] salameer commented on #465
hi Ken, can you please point us to the PR that  you're reffering to here?

[2016-11-30 19:19] salameer commented on #457
@marstr to check on this

[2016-11-30 19:27] kpfaulkner commented on #465
Hi

In https://github.com/Azure/azure-sdk-for-go/pull/468 I added a UTC check to the blob test.

I believe it's related to what's discussed here.

Thanks

Ken

[2016-11-30 20:11] tombuildsstuff opened #477 "v7 of the SDK is Unusable"
Hello! 👋🏻

So I’ve just tried migrating to v7 of the SDK from v6, including the source changes required. I’ve then tried to Create Redis Instance through the API - which fails for validation reasons.

Digging into the SDK - it looks like the property has changed so you’re using the type name as the property name; but the validation still references the old name. I took a couple of minutes to go th

[2016-11-30 22:50] mcardosos commented on #477
Hello @tombuildsstuff
7.0.1 is merged with the fix. We are so sorry for the inconvinience

[2016-11-30 22:50] #477 closed

[2016-12-01 06:15] tombuildsstuff commented on #477
Thanks a lot @mcardosos - I'll give it a whirl :)

[2016-12-01 07:00] colemickens opened #479 "v7.0.1 still contains a number of surprising changes"
Even with 7.0.1, there are a lot of changes that cause a lot of churn.

@brendandburns updated Kubernetes to use commit 0984e0641ae43b89283223034574d6465be93bf4 (aka, )  of azure-sdk-for-go and had to make this many changes: https://github.com/kubernetes/kubernetes/pull/37783/commits/ea14bba4b2412c3403c4a1036348ae745bb93331

Is this expected? It looks like in a number of places, `Properties` was r

[2016-12-01 11:44] tombuildsstuff commented on #477
@mcardosos looks a lot better - thanks a bunch! :)

[2016-12-05 19:34] mcardosos commented on #479
All that is because of flattening, yes.

[2016-12-05 19:50] tombuildsstuff commented on #479
@mcardosos @colemickens is this also going to become an issue when more API's are migrated towards Composite Swagger's out of interest?

There's a couple of really painful unannounced changes in v7.x - particularly with regards to CDN's - where the method signature has changed from `(name, profileName, resourceGroupName)` to `(resourceGroupName, profileName, name)`. Given they both have the same t

[2016-12-05 20:12] mcardosos commented on #479
Reopening for further discussion

[2016-12-05 20:17] mcardosos opened #481 "Reimplement parameter validation code"
Right now [validation](https://github.com/Azure/go-autorest/blob/master/autorest/validation/validation.go) code relies on strings and the `reflect` package to work. Because validation only works at runtime, it would be cool to change it so problems there can be found by Travis instead. It shouldn't introduce breaking changes to the SDK, but to [go-autorest](https://github.com/Azure/go-autorest); a

[2016-12-05 22:42] mcardosos opened #483 "[KeyVault] Family type not generated"
I don't exactly know why it is caused, but AutoRest is not generating a type for [Sku Family](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-keyvault/2015-06-01/swagger/keyvault.json#L239)

[2016-12-05 23:38] garimakhulbe commented on #481
what do you mean by

[2016-12-05 23:40] mcardosos commented on #481
With `go build`

[2016-12-06 08:19] tombuildsstuff commented on #481
@mcardosos great idea. Is there any reason why they couldn't be a split out into a separate re-usable 'validation' method so that validation errors could be picked up before trying to create an object?

[2016-12-07 06:21] marstr opened #485 "Continuous Integration Failing Erroneously"
[Repro in PR](https://github.com/Azure/azure-sdk-for-go/pull/484)

When submitting even trivial pull-requests, continuous integration is failing. Digging in a little, it seems that the "gas" component started mistakenly detecting security vulnerabilities in example files that have hard-coded faux passwords. The cause of this regression is unknown, but I suspect that it was a bug introduced by an e

[2016-12-07 16:54] dothebart commented on #328
hm, I just saw this over here when creating an image with packer.

[2016-12-07 19:52] marstr commented on #485
I have mitigated this issue by temporarily disabling gas checks during continuous integration. IT IS NOT YET SOLVED. However, because it is no longer blocking PRs, I'll lower the priority to P1.

[2016-12-07 21:56] marstr commented on #485
After digging into gas, I discovered that they changed the engine they use to resolve globs passed as arguments. This resulted in a slight change in behavior where, basically the regex used to evaluate paths changed from `/<somePattern>$/` to `/^<somePattern>$/`. I submitted an issue in the gas repository because of the breaking change, but also updated out .travis.yml file to accommodate this cha

[2016-12-07 21:58] marstr commented on #485
Assigning to salameer to close.

[2016-12-07 22:37] salameer commented on #485
Thanks Martin! Closing

[2016-12-07 22:37] #485 closed

[2016-12-08 10:17] dothebart commented on #328
ok, scratch that - my packer was to old.

[2016-12-09 17:48] marstr opened #490 "Newly referenced packages should be added to Glide def or an ignore list"
In pull request #489, Glide definitions were updated to accommodate new packages in the auto-generated code. It's great that we caught this, but we should have an automated means of protecting ourselves moving forward.

It would be fairly easy to write a script that tears through all of the import statements in our repositories, then compares the union to what exists in our glide definition file.

[2016-12-09 17:52] marstr commented on #490
Alternatively, there may already be a package that does such things. Heck, it's probably built into glide already. Mostly, we just need to figure out how to ensure that glide stays up-to-date as part of our integration testing.

[2016-12-13 19:24] #428 closed

[2016-12-13 23:44] colemickens opened #491 "How to List all resources in a given resource group?"
https://godoc.org/github.com/Azure/azure-sdk-for-go/arm/resources/resources#Client.List

So, I want to list all resources in a resource group. What do I pass for `filter` and `expand`? I don't care if anything is expanded and I don't want to filter?

Also, this text: *"top is the number of results to return. If null is passed, returns all resource groups."* is **completely** confusing and misleadi

[2016-12-13 23:46] colemickens commented on #491
For `Client` type in the `resources/resources` package, I expected a method with signature:

    func (client Client) List(resourceGroupName string, filter *string, expand *string, top *int32) (result ResourceListResult, err error)

rather than:

    func (client Client) List(filter string, expand string, top *int32) (result ResourceListResult, err error)

Note that the two optional string args ar

[2016-12-14 00:15] colemickens commented on #491
Aha! I wanted this: https://github.com/Azure/azure-sdk-for-go/blob/master/arm/resources/resources/groups.go#L505

I guess the other function I found really is a subscription wide List. Maybe these could cross-link each other for confused souls like myself. All other arm operations in this SDK are resourcegroup-based except these two `List`/`ListResources`.

[2016-12-14 22:13] mcardosos commented on #467
Thanks for your contribution! @kpfaulkner

[2016-12-14 22:13] #467 closed

[2016-12-15 12:51] shyam2j commented on #334
Hello All,

I am getting similar error. Can someone suggest me where to check for more detailed error logs?
Below is the error I am getting. I tried giving image_version, but couldnt help.

--> azure-arm: resources.DeploymentsClient#CreateOrUpdate: Failure sending request: StatusCode=200 -
- Original Error: Long running operation terminated with status 'Failed': Code="DeploymentFailed" Me
ssage="A

[2016-12-15 15:03] pmcatominey opened #492 "arm/resources: can't create a tag"
Using the TagsClient.CreateOrUpdate method I get the following error:

[code]

It appears the error is due to the value being returned by the API as an integer but it's expected to be a string:
[code]

The root cause appears to be an incorrect type in the Swagger spec.

[2016-12-15 15:17] pmcatominey opened #493 "large API surface from internal methods"
Each API call exposed usually calls 3 other methods:

* Preparer
* Sender
* Responder

Is it necessary for those methods to be exported by packages? It ends up creating a rather large API surface.

[2016-12-16 18:55] jhendrixMSFT commented on #483
I believe this is by design as this enum type is modeled as a string type.  I see the same pattern for other SDKs.  Please reopen if you disagree.

[2016-12-19 23:57] salameer opened #494 "Running the Management example "example.go" throws an internal server error"
When I run the "example.go" in the management\examples\ folder I get the following output:

Create client
Create hosted service
Create storage account
Create virtual machine
Deploy
panic: Error response from Azure. Code: InternalError, Message: The server encountered an internal error. Please retry the request.

goroutine 1 [running]:
panic(0x25e440, 0xc42037b560)
	/usr/local/go/src/runtime/panic.

[2016-12-22 04:46] salmanbukhari opened #495 "Publish Sample for Creating VM using ARM"
I am trying to create VM using ARM but could not find an end to end tutorial to create and deploy VM using ARM in Azure Restful API documentation or here. Can someone post an example to create VM?

[2016-12-22 20:51] marstr commented on #495
Thank you for filing this. It just so happens that we are finishing up exactly this sample, expect it to be posted shortly after new years.

[2016-12-22 23:57] salmanbukhari commented on #495
Can you point me to some tutorial or documentation where I could figure out the flow? Or give me little overview for now? I am kind of struck.

[2016-12-23 19:27] mcardosos commented on #495
Hello @salmanbukhari !
For the flow, I find [this tutorial](https://docs.microsoft.com/en-us/azure/virtual-machines/virtual-machines-linux-create-cli-complete) for the Azure CLI really helpful. A shorter flow would be like this:
- Create resource group
- Create storage account (you will need it for the VM disks)
- Create virtual network and subnet
- Create public IP address and network interface
-

[2016-12-27 14:58] zlepper opened #496 "Manual start and await blobcopy"
Can the storage.BlobStorageClient.startBlobCopy and waitForBlobCopy made public, so it's possible to manually start and wait for the copy operation? Considering how the rest of the ARM api is structured, i don't see the big issue in making the start and wait methods public too.

[2016-12-27 15:03] zlepper commented on #496
Closing as I apparently was on a very old branch.

[2016-12-27 15:03] #496 closed

[2016-12-30 21:39] mcardosos commented on #483
Reopened (and better explained too: [AutoRest issue](https://github.com/Azure/autorest/issues/1667))

[2017-01-04 18:45] salameer opened #499 "[Challenge] Drop Issues Count < 10 by March 1st 2017"
Samer Will be buying lunch  (External Contributers Welcome).

PLease note (Tickets to not Redmond will not be provided LOL)

[2017-01-04 20:45] jhendrixMSFT commented on #307
@brendandixon Following up on this old issue.  What are the next steps here?  Also it sounds like this issue isn't specific to the Go SDK yes?  If so then it seems like this should be tracked elsewhere.

[2017-01-04 20:48] brendandixon commented on #307
@jhendrixMSFT Correct. It is not specific to the Go SDK, but I do not know where else we can track this. Perhaps somewhere with ARM?

[2017-01-05 11:08] pmcatominey commented on #440
Hi @mcardosos

Thanks for sending the PR to the specs repo!

Would it be possible to reopen this issue until the fix has landed in the SDK?

[2017-01-05 17:16] jhendrixMSFT commented on #307
@amarzavery can you help us find the correct place to move this issue?

[2017-01-05 19:08] amarzavery commented on #307
A similar issue was filed by a customer using the ruby sdk. @sarangan12 and me discussed the problem and we have a PR https://github.com/Azure/azure-rest-api-specs/pull/814 that adds the terminal response code and it's schema to the operation. I have made some comments in the PR and waiting on them to be resolved.

[2017-01-05 21:20] mcardosos commented on #492
Hello @pmcatominey ! Thanks for reporting this.
Already submitted a PR to the swaggers repo.

[2017-01-05 22:15] mcardosos commented on #453
Sample is [here](https://github.com/Azure-Samples/storage-go-resource-provider-getting-started)!

[2017-01-05 22:15] #453 closed

[2017-01-10 15:50] pmcatominey opened #501 "resources/policy: update to latest api version (01-12-2016)"
The latest version includes parameters as part of the policy definition resource.

[2017-01-11 18:20] salameer commented on #501
Thanks @pmcatominey .

Our next should contain these changes but we'll double check

[2017-01-11 19:21] salameer opened #502 "Adding telemetry to the SDK"

[2017-01-11 19:23] salameer commented on #502
we should check with @vishrutshah on the amount the data that is logged in the Ruby SDK

[2017-01-11 22:21] marstr commented on #491
Howdy @colemickens, I like the idea of adding hints to similar functions. I've opened [issue 862]( https://github.com/Azure/azure-rest-api-specs/issues/862) in the swagger repository to update the documentation to help folks in this situation.

[2017-01-11 22:23] marstr commented on #491
@colemickens  If you think the issue that I opened up sufficiently captures your suggest, please close out this issue at your earliest convenience. Thanks for bringing this up!

[2017-01-11 22:27] #491 closed

[2017-01-13 21:17] mcardosos opened #504 "Hardcoded Base URL in storage dataplane"
Some environment stuff is [hardcoded](https://github.com/hashicorp/terraform/issues/11136) in storage dataplane, so [NewBasicClient](https://github.com/Azure/azure-sdk-for-go/blob/1620af6b32398bfc91827ceae54a8cc1f55df04d/storage/client.go#L124) is only helpful when using the public cloud.

[2017-01-14 21:21] moritzheiber commented on #360
This is pretty essential, especially for tools trying to support a completely "Infrastructure as Code" approach. Is there any work being done on it?

[2017-01-15 23:46] axw commented on #360
@moritzheiber I ended up hand-crafting just the bits I needed. I've licensed it the same as the azure-sdk-for-go code, feel free to use it if it's useful: https://github.com/juju/juju/tree/staging/provider/azure/internal/ad. It was a while ago that I wrote it now, but IIRC the only reason why I couldn't just auto-generate it was because of the difference in result structures from the AD API (i.e.

[2017-01-16 20:25] uthark opened #505 "Question: How often this SDK is updated to match changes in azure-rest-api-specs?"
Hi!

Sorry for creating an issue, I wasn't able to quickly find other way to connect with the developers.

My question is the following: how long does it take to update SDK for GO to be update to match changes in Azure REST API Specs?

I submitted pull request (https://github.com/Azure/azure-rest-api-specs/pull/789)  which was merged month ago but I don't see the changes propagated to this repo.

[2017-01-17 10:52] vosst opened #506 "devtestlabs: Using LabVirtualMachine.ComputeId requires knowledge of dynamic resource group"
I'm trying to dynamically create and destroy testing environments with `devtestlabs.LabOperationsClient`. The resulting `devtestlabs.LabVirtualMachine` contains the ComputeID of the `compute.VirtualMachine` instance. However, when trying to query properties (specifically, the public ip) of the vm assuming the resource group that the lab is contained within, the call fails due to an unknown resourc

[2017-01-18 00:55] marstr commented on #505
Howdy @uthark,

To answer your question: In general, we generate a new SDK from the current api's once every month. We are slated to do so again in a couple of weeks on January 31st. As you pointed out however, your changes haven't been picked up because due to the holidays we didn't release in December.

However, there is a more important point here, which is: "Why wasn't it easy to find the answ

[2017-01-18 09:03] vosst opened #508 "devtestlabs: Resolving values in formulas"
When using formulas in devtestlabs to create environments, it is unclear how to resolve placeholder values (like LabVirtualNetworkID or Password) to actual values. For example, when passing in the `LabVirtualNetworkID` to `VirtualNetworkOperationsClient.GetResource(...)` an error is produced, as the ID is appended as is to the query.

[2017-01-18 12:58] uthark commented on #505
Hi Martin,

My thoughts are the following:

1. Having documented process of how the changes are propagated to this repo is good.
1. As a I see, some parts of the repo are auto-generated from `go-autorest`, so it would be nice at least to have this documented (i.e. if you find issue in the API, then spec should be fixed, I had to figure out it manually, although I found repo https://github.com/Azur

[2017-01-18 12:58] #505 closed

[2017-01-18 18:23] salameer commented on #506
Hey @vosst,  can you please provide some sample code on how your  using this API?

[2017-01-18 19:43] vosst commented on #506
Hey @salameer, code looks like:
[code]
Hope that helps. Let me know if you want me to provide a distilled main that actually works.

[2017-01-18 22:51] mcardosos commented on #450
The very (fantastic sample)[https://github.com/Azure-Samples/network-go-manage-network-interface].

[2017-01-18 22:51] #450 closed

[2017-01-19 21:52] marstr opened #509 "Storage package doesn't automatically retry."
With all packages auto-generated from Swagger, the [go-autorest](https://github.com/Azure/go-autorest) library is used and automatically retries requests that fail in transient ways. However, being manually maintained for now, the storage package doesn't automatically pick up this value.

The Storage package should be refactored to use  [go-autorest](https://github.com/Azure/go-autorest)  where po

[2017-01-19 21:59] marstr commented on #508
Howdy @vosst, could you show me a snippet/gist of how you're instantiating the LabVirtualNetworkID?

[2017-01-19 23:25] marstr commented on #465
@alukyan Have we confirmed that this issue is fixed after the Pull Request above?

[2017-01-19 23:39] marstr commented on #458
Closing this issue, as it seems that this made its way into the arm packages:
[/azure-sdk-for-go/arm/cognitiveservices/
](https://github.com/Azure/azure-sdk-for-go/tree/master/arm/cognitiveservices)

If you fell that this is in error, feel free to reopen so that we can triage again.

[2017-01-19 23:39] #458 closed

[2017-01-19 23:51] alukyan commented on #465
I think this issue is fixed. Closing it

[2017-01-19 23:51] #465 closed

[2017-01-20 00:01] marstr commented on #56
@vishrutshah It seems to me that BlobProperties already has `Cache-Control` and and `Content-Type`. What else is required for us to be able to resolve this issue?

[2017-01-20 14:54] vosst commented on #508
Hey @marstr, thanks for getting back to my question. Please see https://github.com/snapcore/spread/pull/18/files, azureProvider.Allocate for the respective code. Right now, I pass in the network name via an env var as I fail to query it correctly.

[2017-01-20 18:16] lienmeat opened #510 "Entity Group Transactions with Table Storage"
I don't see how to do entity group transactions on table storage currently.  Is this missing functionality, or how would I go about this?

For instance, if I wanted to insert entities, and they all had the same partition key, instead of using func (*TableServiceClient) InsertEntity which inserts an entity at a time, it should be possible to create a batch of entity insert operations and transact t

[2017-01-20 19:29] vishrutshah commented on #56
@marstr  That's great then, we should just notify the customer then and close the issue then 👍

[2017-01-20 19:46] politician commented on #56
That's good news.  Thanks @marstr.

[2017-01-20 19:46] #56 closed

[2017-01-20 20:46] marstr commented on #396
I agree with @ahmetalpbalkan. According to the [Virtual Machine documentation](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines), you must name a drive, but I don't see an option to assign it a drive letter.

I'm going to close this for now, but feel free to re-open if you feel that this was in error.

[2017-01-20 20:46] #396 closed

[2017-01-20 20:50] marstr commented on #474
Howdy Ken, there's another thread about this same topic. Please see #432.

Note, we're working on a real answer to that thread too, and plan to respond next week.

I'm going to close this for now, but feel free to re-open if you think this is a distinct conversation.

[2017-01-20 20:50] #474 closed

[2017-01-20 20:53] marstr commented on #418
Howdy, it seems like this request is fully handled by Azure/azure-rest-api-specs#476. For that reason, I'm going to close this bug. If you feel this was in error, please feel free to re-open.

[2017-01-20 20:53] #418 closed

[2017-01-20 21:02] marstr commented on #129
This is something that should be considered as part of @jhendrixMSFT's refactor as seen in #470.

In an effort to consolidate issues, I'm going to close this one. If folks feel there is further independent conversation to have here, or if #470 doesn't encapsulate this, feel free to re-open.

[2017-01-20 21:02] #129 closed

[2017-01-20 21:06] marstr commented on #409
I like this idea a lot! However, I believe it belongs in the backlog. Thoughts, @colemickens?

[2017-01-20 21:24] marstr commented on #479
Hey @tombuildsstuff,

I think your point is really **really** valid. As a team, we're working on some proposals that should address this and some of the other broader related issues. Expect to see some news next week.

For now, I'm going to close this issue. If you feel there is further discussion that needs to happen specifically with the v7.0.1 changes, feel free to open it back up.

[2017-01-20 21:24] #479 closed

[2017-01-20 21:27] marstr commented on #483
Is there any reason to have this open as a duplicate issue to Azure/autorest#1667? If possible, I'd like to close this out.

[2017-01-20 21:49] mcardosos commented on #483
I like to have both, one explaining the "symptom" and other for the "cause". I do the same when the Swaggers are incorrect (I keep the SDK issue open until we regen, but close the issue in the swaggers repo as soon as the changes in swaggers are merged).
If you feel issues should not be added in both places, feel free to close one.

[2017-01-20 22:00] mcardosos commented on #409
Yessss! I looked into Cole's code, and yes, I think it is possible to auto-gen :D
Sill, I agree this belongs in the backlog.

[2017-01-24 17:01] marstr commented on #471
We're going to open a new issue here shortly with a new proposal around package management. I'm going to close this issue for now.

[2017-01-24 17:01] #471 closed

[2017-01-24 17:21] marstr commented on #370
Fixed. If you do not feel my PR truly fixed your issue, feel free to reopen.

[2017-01-24 17:21] #370 closed

[2017-01-24 19:00] jhendrixMSFT opened #513 "Investigate adding pre/post API call hooks in storage"
The management plane APIs (auto-generated stuff) have hooks for pre/post API calls which is lacking in the dataplane APIs.  Investigate adding such hooks.

[2017-01-24 19:07] marstr commented on #509
In order to fix this, this plan is to refactor the storage api to use the go-autorest library instead of having its own mechanisms for executing and handling requests. The main advantages of this rewrite would be consistency between planes, and adoption of functionality like that mentioned above and request timeout.

[2017-01-24 20:13] marstr opened #514 "Update gas to run only on master branch"
Gas has failed intermittently, preventing PR CI from completing. These failures can discourage contributions. To prevent this, we'll only run gas on the master branch.

[2017-01-25 17:50] marstr commented on #492
This issue appears to have been fixed by the issue and PR mentioned above. I'm going to close this issue for now, but if you feel it has not yet been resolved, please re-open.

[2017-01-25 17:50] #492 closed

[2017-01-25 20:03] vosst commented on #508
Ping :)

[2017-01-25 20:03] vosst commented on #506
Ping :)

[2017-01-25 21:27] colemickens opened #516 "Generation logic should dynamically pull Swagger specs (or they should be vendored into this repo)"
Example:

The KeyVault swagger was updated to include the data plane, but newest versions of the Go SDK don't have the new functionality.

Looking at this: https://github.com/Azure/azure-sdk-for-go/blob/master/Gododir/gen.go it seems that the Swaggers are downloaded manually.

 It seems that someone pulled the Swagger spec for KeyVault down, but missed the fact that it's since been updated. Since

[2017-01-25 21:28] colemickens commented on #516
cc: @mbearup

[2017-01-25 22:03] marstr commented on #329
This thread seems to have gone neglected, and for far too long. You can find examples of how to do this operation here: [Sample](https://github.com/Azure/azure-sdk-for-go/blob/master/management/examples/example.go)

In general, I suspect you'd be better served now by using the new ARM model. You can find an example of how to do a lot of these examples by heading over to [Azure-Samples for Go](http

[2017-01-25 22:03] #329 closed

[2017-01-25 22:21] marstr commented on #493
The short answer to your question is: yes, it is necessary. However, I know that's not really a satisfying answer. The whole story is that we're attempting to expose an easy way for folks to inject their own logic for each component of a request if desired. For instance, if you have custom Retry timing logic that you've implemented, you could use the stock Preparer and Responder, but swap in your

[2017-01-25 22:21] #493 closed

[2017-01-25 22:24] marstr commented on #516
Totally agreed. We're actively looking at ways to improve this story. Ideally, we wouldn't have a manual monthly release, but rather react to changes in swaggers with automatic releases. There is a similar thread that is open here: #476.

For now, I believe this is a duplicate suggestion to the issue above. If you agree, please close out the issue.

[2017-01-25 22:27] colemickens commented on #516
makes sense. thanks!

[2017-01-25 22:27] #516 closed

[2017-01-25 22:29] marstr commented on #404
@salameer This needs to be re-triaged.

[2017-01-25 22:34] jhendrixMSFT commented on #452
The work was completed in the dev branch in commit https://github.com/Azure/azure-sdk-for-go/commit/3e97528bc3e487a719b8001f31e914ea02ca8fcf#diff-ddecebdea58b5f264d27f1f7909bab74.

[2017-01-25 22:34] #452 closed

[2017-01-25 22:35] jhendrixMSFT commented on #307
Fantastic I'm going to close this issue.

[2017-01-25 22:35] #307 closed

[2017-01-25 22:37] jhendrixMSFT commented on #455
This is dependent on fixing support for composite swaggers in the Go generator, see https://github.com/Azure/autorest/issues/1746.

[2017-01-25 22:38] marstr commented on #398
To the best of my knowledge, this is currently unavailable in the Azure SDK for Go.

[2017-01-25 22:39] #398 closed

[2017-01-25 22:53] marstr commented on #296
Your assumption is true. It returns to you a `ResourceListResult` of which the definition looks like this:
[code]
_Above code from [arm/resources/resources/models.go](https://github.com/Azure/azure-sdk-for-go/blob/master/arm/resources/resources/models.go#L353)_

If `NextLink` is not **nil** then there are additional values that still need to be iterated over.

That said, I believe the whole Azure

[2017-01-25 22:56] colemickens commented on #296
Hm. I guess if it was optional, maybe. A `GetAll` set of functions that do the paging would be fine. The channel would be an optimization on that for really huge results lists, I suppose. Interesting idea!

[2017-01-25 23:36] marstr commented on #508
Sorry for the delay, and thank you for providing that snippet. It definitely aided this conversation! I'm still confused about your question, so please forgive me if I miss the mark here.

In general, the pattern that our APIs will follow is fetching a Resource given a handful of names and its respective `Get` method. Like you mentioned, for virtual networks in devtestlabs, the method that one use

[2017-01-26 00:06] marstr opened #517 "Versioning Proposal: Customer Feedback Requested"
We've been thinking a lot about improvements that we could make to improve upon our current package management story. There are three problems in particular that have jumped out to us, which think need to be tackled head on in order to improve our story:

1. The version numbers need to actually conform to [semver 2.0](http://semver.org/spec/v2.0.0.html) in order to integrate best with glide and ot

[2017-01-26 00:30] marstr commented on #517
Another thought, storing these repositories in GitHub doesn't allow us to add any depth to the tree of repositories i.e. in all of the proposed package names above, there are precisely three levels: GitHub, Azure, and the repository.

Which is sort of annoying because:
[code]
would have to become:
[code]
The new pattern may be slightly more awkward to get setup, and IDE tooling may be less helpful

[2017-01-26 00:37] colemickens commented on #517
cc: @brendandixon

[2017-01-26 01:21] mcardosos opened #518 "Operations on Account missing"
The ones in [here](https://docs.microsoft.com/en-us/rest/api/storageservices/fileservices/operations-on-the-account--table-service-)

[2017-01-26 03:18] marstr commented on #457
Sorry that this is still unresolved. Reading through, this is a really interesting thread. Clearly, there is some unintuitive overlap between the compute and network packages. I'm not really sure that it is an actionable thing for us at the moment, but definitely good that you brought it to our attention. Really the way to chase that part down is to head over to the [Azure/azure-rest-api-specs](ht

[2017-01-26 03:18] #457 closed

[2017-01-26 17:32] marstr commented on #432
I've just opened up issue #517 which I hope, at least when resolved, answers this question.

For now, I'm going to close this issue, because I hope that the conversation I just mentioned addresses the community's concern about both release status and transparency. Feel free to re-open or start a new thread if you do not feel this has been properly addressed.

[2017-01-26 17:32] #432 closed

[2017-01-26 17:36] marstr commented on #481
I believe this issue should be in Azure/go-autorest, to compliment Azure/go-autorest#112. Alternatively, if we would like to solve it by change our codegen, then perhaps it would make more sense in [Azure/autorest](https://github.com/Azure/autorest).

[2017-01-26 17:40] marstr commented on #501
I have confirmed that in our next release `func UserAgent() string` for arm/resources/policy returns "2016-12-01"

[2017-01-26 17:40] #501 closed

[2017-01-26 17:54] brendandixon commented on #517
@marstr @colemickens I don't agree with the proposal and believe it will make matters worse, not better.

The root of the problem lies in trying to correlate the SDK version to a *specific* set of service APIs.
Since those APIs are in varying states and will continually vary from one another, that attempted correlation makes creating a sane version for the SDK very difficult. This binding decision

[2017-01-26 18:13] mbearup opened #519 "KeyVault Dataplane Operations"
The KeyVault SDK does not support getting secrets from KeyVault. The other SDKs (e.g. Java) support these operations, and the Go SDK should be updated to support this scenario.

[2017-01-26 18:41] marstr commented on #517
@brendandixon I agree with the principle of separating the version of the Azure Service that we're targeting from the version number that identifies our Go packages. Basically, I think we agree that the service version that we use is an implementation detail. However, I believe that this is a tangential concern.

The primary concern that we're working to address in the proposal above is that chang

[2017-01-26 18:45] mcardosos commented on #481
If we fix this, the changes would be in AutoRest and in go-autorest, but the affected code would be in this repo.

[2017-01-26 18:46] brendandixon commented on #517
@marstr I guess I disagree. The introduction of a new service API version *should not* impact those already existing. I've used this strategy in other SDKs to good success. We can chat offline if needed.

[2017-01-26 18:47] mcardosos opened #520 "Validation code chunk to have its own func"
As suggested by @colemickens in this [go-autorest issue](https://github.com/Azure/go-autorest/issues/112).

[2017-01-26 19:18] marstr commented on #261
Howdy @stack72, I'm going to transfer this issue over to [Azure/azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs). As @brendandixon pointed out, this is an issue stemming from the Swagger file and will be impacting all AutoRest generated Azure SDKs.

Once I've transferred the issue, I'll close out this one.

[2017-01-26 19:23] #261 closed

[2017-01-26 19:26] marstr commented on #348
@garimakhulbe has moved on to another team, and this issue needs to be re-triaged.

[2017-01-26 19:27] marstr commented on #348
@salameer : Please take note of this for our next triage meeting.

[2017-01-26 19:44] marstr commented on #506
Howdy @vosst, this is a really interesting point. I think you are absolutely correct that this should be included in the `labVm` environment that is returned from `labsClient.CreateEnvironment(...)`. I suspect that this means that the Swagger and maybe the service will need to be updated. If this does turn out to be the case, I'll create a corresponding issue in the [Azure/azure-rest-api-specs](ht

[2017-01-26 19:44] #506 closed

[2017-01-26 21:34] marstr commented on #481
Chatted offline with @mcardosos and moved to the autorest repository. Please see the conversation linked above for further discussion.

[2017-01-26 21:34] #481 closed

[2017-01-26 21:58] jhendrixMSFT commented on #517
I think the vectors for breaking changes are elsewhere.  Here are some that come to mind (I have witnessed all of these).

1. RPs (inadvertently) make a breaking change to an existing API (e.g. change order of parameters).
2. Changes in tooling like AutoRest.
3. Intentional breaking changes (e.g. the APIs for storage are horrible so we're redoing them).

I believe the question we mainly want to an

[2017-01-26 22:48] marstr commented on #448
Well, there are handful of givens that I think we might as well enumerate.
Assuming that #517 resolves to have some sort of semantic versioning:

- The latest major version will be in support unless the whole product falls out of support.
- Individual patches are never altered, the support story is to adopt the most recent patch in the support band.
- We may allow ourselves to have multiple suppor

[2017-01-26 23:15] marstr commented on #363
@salameer @jhendrixMSFT @mcardosos

How would everybody feel about placing this in the backlog? I think this is something we should try to burn-down, and probably soon but not in the next release.

In addition to ListAll, we could try to device a channel based return value.

[2017-01-27 00:07] marstr commented on #517
After chatting with @jhendrixMSFT and @devigned, I'd like to also propose adding support handling multiple versions of the Azure APIs targeted by our SDK as mentioned by @brendandixon. The way that we could achieve this would be adding the azure version in the namespace of the package. That would mean that the layout of the each repository (no matter which strategy from above that is employed) wou

[2017-01-27 00:12] brendandixon commented on #517
@marstr Outstanding. :)

[2017-01-27 01:27] colemickens commented on #517
👍

[2017-01-27 17:04] marstr commented on #311
This is a great idea, but for the moment I'm going to throw it on the backlog.

[2017-01-27 17:27] marstr commented on #508
I'm going to close this issue, if you feel this is unresolved, feel free to open it back up.

[2017-01-27 17:27] #508 closed

[2017-01-27 18:44] mcardosos commented on #518
Also the ones in [file service](https://docs.microsoft.com/en-us/rest/api/storageservices/fileservices/operations-on-the-account--file-service-)

[2017-01-27 21:03] marstr commented on #451
This had gone on the backburner for a while, so progress was paused. However, I've resumed working on it as of this morning.

[2017-01-29 03:07] salameer commented on #517
@brendandixon  & @colemickens  thanks FOr the AWESOME feedback.. Looking forward to hearing from our MVPs :) @tombuildsstuff  @kpfaulkner

[2017-01-29 05:53] kpfaulkner commented on #517
Sorry I'm late to the party.
Interesting suggestions so far, I have to admit that I haven't thought too
much about the SDK from an ARM templates point of view that much. My main
use case for the SDK is for runtime as opposed to "provisioning stuff". ie
I want to create a container, upload a blob etc...  as opposed to provision
a storage account of some sort etc.

I do have a question regarding the

[2017-01-29 20:49] brendandixon commented on #517
@kpfaulkner In my view, the date-based API version should apply to all *service* APIs. Helper methods, for example, an ease-of-use helper class, would be versioned separately, as part of the entire SDK.

[2017-01-30 20:02] #514 closed

[2017-01-30 20:45] marstr commented on #476
Once we have a resolution to #517, it'll be easier to make progress here. In general, the more granular the repositories that we can get, the more sense automatic PRs will make.

[2017-01-31 13:39] hopoffbaby opened #523 "Add support for RateCard API for getting cost information from Azure"
Hi,

Would it be possible to add support for the following in order to be able to query rate information from Azure?

https://msdn.microsoft.com/en-us/library/azure/mt219004

Thanks,
hopoffbaby

[2017-01-31 15:04] moritzheiber opened #525 "Update API version of ARM compute client to 2016-08-30 (at least)"
Working with Virtual Machine Scale Sets with Ubuntu using this SDK isn't very easy since it neither allows for Scale Sets to carry extensions, nor, [since the compute API is using an outdated version](https://github.com/Azure/azure-sdk-for-go/blob/master/arm/compute/client.go#L29-L35), modification of `customData` passed to each instance.

However, `customData` is the only way of passing data to S

[2017-01-31 17:57] kirthik commented on #523
@hopoffbaby - Thank you for contacting us. We will work with Billing team to create swagger for their APIs. Once we have a swagger, we should be able to add support for the same in Go SDK. I will respond here once we have concrete plan and timeline.

[2017-01-31 22:07] marstr commented on #525
Thanks for raising this issue. Unfortunately, this issue is outside of this scope of this repository for now. I've gone ahead and transferred this to the Azure Swagger repository, and we will follow up with the relevant teams.

For now, I'll close this issue. If you believe that the linked item above doesn't represent your issue, feel free to re-open this issue.

[2017-01-31 22:07] #525 closed

[2017-02-01 00:29] mcardosos opened #527 "Not all storage clients are named in the same way"
Super nit

[code]
vs
[code]

[2017-02-01 01:59] colemickens commented on #409
Would it be possible to split this? If it were just "generate an interface for all clients" it should just be a matter of outputting the function prototypes into an interface type for each client.

Presumably that would be a short, simple task, certainly compared to generating an actual fake client somehow. As is, today, it's hard to use the Go SDK in places where you'd like to write good tests. I

[2017-02-01 18:37] salameer opened #529 "Documenting plans for 9.0"
This will invovle posting the upcoming changes in 9.0 Beta release in March

[2017-02-01 18:42] salameer commented on #523
Can you kindly open an issue on the API specs repo instead

[2017-02-01 18:49] salameer commented on #517
@tombuildsstuff any thoughts before we summarize and close down :)

[2017-02-01 18:57] salameer opened #530 "Generated the Api Management SDK"
Adding support for the API Management SDK

[2017-02-01 18:59] salameer commented on #530
@devcfgc THANKS for your contribution!

We heard you and we're going to add support for this API in our next release

We'll be closing the PR that you submitted

[2017-02-01 19:37] tombuildsstuff commented on #517
@salameer yes, I'll try and get a reply out later tonight, busy week - sorry!

[2017-02-03 12:26] kpfaulkner commented on #509
So does this mean that storage as we know it will be gone and completely replaced by a go-autorest generated version?

Admittedly I'm not completely familiar with what exactly go-autorest generates (whether its 99% completely usable code or just provides a decent framework to begin with).

If it generates a fairly complete client library, should we be holding off on working on any storage related

[2017-02-03 16:38] marstr commented on #509
Hey Ken, not to worry, we're not to the point of auto-generating the Storage package yet. Mostly, we'd just like it to be take advantage of some of the existing helper methods. Feel free to take on some bugs. :)

[2017-02-03 19:10] mcardosos opened #533 "Headers often do not use variables"
Would be a good idea to get all consts in a single file, as suggested by @jhendrixMSFT [here](https://github.com/Azure/azure-sdk-for-go/pull/526#pullrequestreview-20080426).

[2017-02-03 23:18] mcardosos commented on #172
Fixed

[2017-02-03 23:18] #172 closed

[2017-02-03 23:20] mcardosos commented on #212
Fixed in dev branch

[2017-02-03 23:20] #212 closed

[2017-02-05 05:22] kpfaulkner opened #535 "File Storage CopyFile implementation"
Azure File storage doesn't currently implement CopyFile ( https://docs.microsoft.com/en-us/rest/api/storageservices/fileservices/copy-file )

I've implemented this and will be submitting a PR soon. I have a question about the preferred approach for timeout parameters.

The timeout parameter for most of the functionality in file.go is missing. I'm assuming this is by choice and will be implemented

[2017-02-06 17:50] jhendrixMSFT commented on #535
I wouldn't add it as a stand-alone parameter, instead I'd make it part of some type that is passed to the copy operation (take a look at the C# implementation).

[2017-02-07 09:06] kpfaulkner commented on #535
Thanks, will check that out.

[2017-02-07 09:54] tombuildsstuff commented on #517
@salameer 👋🏻

Sorry for the delay responding to this!

To reply to @marstr's comments first:

I don't think so - I actually think it'd actually make things more painful for both the Go SDK team (in terms of context switching/repo's) and consumers (in terms of the upgrade path) - given the Common/Helper functions would be versioned/shared across multiple versions of the SDK.

If we were to follow t

[2017-02-07 10:26] kpfaulkner commented on #517
Couple of comments to @tombuildsstuff

Regarding versioning I was initially thinking dates simply because all the Azure APIs are tied to a date "version" already  (ie "2015-02-21"). But the more I think about it the more SemVer is nice but I'd still want to know about the "date version" that is used. Does that make sense?

ie, I know that version "2015-02-21" has a feature I want, but how do I kno

[2017-02-08 18:26] mcardosos commented on #535
Hello @kpfaulkner :D
If you can do this in February we can include it in the next release.
Please make sure to submit the PR against the dev branch.
Thanks for your enthusiasm!

[2017-02-08 18:28] #502 closed

[2017-02-08 18:28] mcardosos commented on #502
Fixed in v8.0.0

[2017-02-08 21:10] kpfaulkner commented on #535
The copying side of things is already working. Just need to add in the FileRequestOptions idea from @jhendrixMSFT . Hopefully sort it out on the weekend.

[2017-02-10 04:13] davidobrien1985 opened #538 "managed disk support"
Hi guys,

couldn't find any reference to `managed disks` in the code or any PRs.
Is this in your backlog already?
This is really needed to get `packer` to work with managed disks.

If nobody's working on it, then I will just have to learn go well enough to do it myself or just whip something up in PowerShell :)

[2017-02-10 04:18] colemickens commented on #538
I think we want this for Kubernetes as well. I think for now @khenidak wrote the calls manually.

[2017-02-10 04:25] colemickens commented on #538
Relevant: new Disk swagger spec, and updated Compute swagger spec: https://github.com/Azure/azure-rest-api-specs/issues/924

[2017-02-10 04:53] davidobrien1985 commented on #538
Cool, however, I think that's a bit over my head... any takers? :)

[2017-02-10 13:39] stack72 opened #539 "Latest release doesn't adhere to naming convention"
Current release:

`8.0.1-beta`

last release

`v8.0.0-beta`

Please can this be made consistent?

[2017-02-10 13:41] stack72 opened #540 "Release notes missing for v8.0.0-beta release"
The v7.0.0-beta had release notes that gave insight into what had actually [changed](https://github.com/Azure/azure-sdk-for-go/releases/tag/v7.0.0-beta)

The v8.0.0-beta didn't have anything [similar](https://github.com/Azure/azure-sdk-for-go/releases/tag/v8.0.0-beta) - where do we find what changed in this release?

[2017-02-10 16:47] marstr commented on #540
Ah, sorry for this oversight.

You can find a table similar to that found in former releases in [CHANGELOG.md](https://github.com/Azure/azure-sdk-for-go/blob/master/CHANGELOG.md). However, I'll investigate updating the Release tag to include those changes. Thanks for your input.

[2017-02-10 16:51] stack72 commented on #540
Thanks @marstr :)

[2017-02-10 16:51] #540 closed

[2017-02-10 16:55] marstr commented on #539
Shoot, this is sloppy stuff. I don't want to break anybody who added a reference to "8.0.1-beta" (even though tools like glide probably make this largely irrelevant.) I can add a second tag "v8.0.1-beta" which should help ease the situation.

[2017-02-10 16:56] marstr commented on #539
Alright, even better, I was able to update the Release Name while keeping both tags.

[2017-02-10 16:59] stack72 commented on #539
Thanks so much :)

[2017-02-10 16:59] #539 closed

[2017-02-10 17:16] marstr commented on #517
Thanks for the input from everybody. This has been a valuable conversation for our planning and roadmap for the product. I'm going to close out this ticket for now, but spend some time tinkering with our generator and experimenting with the improvements mentioned here.

To summarize quickly:

The biggest take away from this conversation is a pretty simple idea that will mean real changes, **there

[2017-02-10 17:16] #517 closed

[2017-02-10 17:19] marstr commented on #538
Howdy folks, we actually already generated this for the v8.0.0-beta release. You can take a look at what we generated here:
https://github.com/Azure/azure-sdk-for-go/tree/master/arm/disk

[2017-02-10 17:21] marstr commented on #527
I'm not sure that this warrants a breaking change. It seems pretty mundane to me. What are your thoughts, @jhendrixMSFT?

[2017-02-10 17:54] jhendrixMSFT commented on #527
I think there is some value in uniformity, however I wouldn't introduce such a breaking change just for that sake.  However since we'll be refactoring the blob storage APIs anyways (and introducing breaking changes) we can fix the client name at that time.

[2017-02-10 20:40] marstr commented on #538
I'm going to close this issue for now, but feel free to reopen this issue if your needs aren't addressed.

[2017-02-10 20:40] #538 closed

[2017-02-10 20:56] marstr commented on #527
Sweet, what's the milestone we're going to be using there? Is that scheduled for 9.0?

[2017-02-10 20:57] marstr commented on #527
(Tagging the PR associated with this conversation) #532

[2017-02-10 22:24] tombuildsstuff commented on #517
@kpfaulkner sorry, missed your reply:

Yes it does. However given it's published in the changelog and exposed as a constant in the SDK (in the `version.go` for each API) - does it need to be exposed further?

In that context I was referencing testing the Swagger, where I was hoping for something Swagger specific - with some quick Googling I found:
 - [Swagger Test](https://github.com/earldouglas/s

[2017-02-10 22:29] tombuildsstuff commented on #517
@marstr thanks :)

Out of interest are there plans on the Swagger's team roadmap for improving the testing story? (Is it worth opening an issue on that repo with a summary of this too?)

[2017-02-13 12:50] stack72 opened #542 "Breaking changes in v8.0.1-beta"
Hi

It looks as though some packages are missing in the 8.0.0/8.0.0-beta releases. The terraform codebase is now complaining as follows:

[code]

This relates to the following code:

[code]

Where have these clients disappeared to?

Paul

[2017-02-13 18:38] mcardosos commented on #542
`UsageOperationsClient` got renamed to `UsageClient`.
In resources, `Client` got renamed to `GroupClient`.
In redis, `Client` got renamed to `GroupClient`.

[2017-02-13 18:58] marstr commented on #542
To add to what @mcardosos pointed out correctly:
We're going to be publishing more information on this soon, but when we generated the latest release there were a lot of name changes introduced. We backed out all of the changes where there was no additional value brought. However, the packages you mentioned above had the some changes (largely removing blocking validation changes) that warranted pu

[2017-02-13 19:03] stack72 commented on #542
Hi @mcardosos / @marstr

So are you saying I shouldn't change my code yet? Or should i change now and then be prepared for more changes later?

Paul

[2017-02-13 19:05] marstr commented on #542
The changes mentioned above will not be backed out. There will be additional packages that have similar name changes next month.

[2017-02-13 19:06] stack72 commented on #542
k thanks - when it comes to the release notes, please can these be marked on them?

Thanks

[2017-02-13 19:16] marstr commented on #542
Request noted, thanks @stack72

[2017-02-13 19:17] #542 closed

[2017-02-13 21:52] marstr commented on #403
There were a handful of actions that we could take to address this issue: (Note, not all of them are in conflict.)
1. Push on the Services Team to expose their own version of this function in their own API Version. (Not expedient)
2. Manually polish the auto-generated Key-Vault code to make this work out for each release. (Too expensive, error prone)
3. Demonstrate the means of using the Resources

[2017-02-13 21:52] #403 closed

[2017-02-13 22:02] marstr commented on #442
This is a great idea, but we'll need to figure out how this relates to the Swaggers to prevent adding too tight of a coupling between our generator and Azure Swaggers. Perhaps this is an example of a place where a Swagger extension could be helpful?

For now, this goes on the Backlog.

[2017-02-13 22:18] marstr commented on #348
(Triaging) This is a solid idea, but without external interest is low enough pri that it belongs on the Backlog.

[2017-02-13 22:20] marstr commented on #499
^One addendum to this that we've agreed on at team meetings is that this doesn't include items that are on the Backlog. Only active issues.

[2017-02-13 22:25] marstr commented on #440
The above was released with version `v8.0.0-beta`.

[2017-02-13 22:25] #440 closed

[2017-02-13 22:31] marstr commented on #523
This issue has been cloned and can be found here: Azure/azure-rest-api-specs#916

I'll close this copy of the issue. If folks feel there is additional Go specific conversation to be had, feel free to re-open this issue.

[2017-02-13 22:31] #523 closed

[2017-02-13 22:32] marstr commented on #523
Many thanks to @hopoffbaby for creating the new issue in the azure-rest-api-specs repository.

[2017-02-13 22:48] marstr commented on #426
@TimLovellSmith, @tombuildsstuff

Reading through this thread, it seems as though this has been resolved. Is that true?

[2017-02-13 23:16] TimLovellSmith commented on #426
@marstr @tombuildsstuff  Yes, it got fixed (server side fix).

[2017-02-13 23:17] marstr commented on #426
Thanks for the timely response. I'll close this issue.

[2017-02-13 23:17] #426 closed

[2017-02-13 23:25] marstr commented on #322
Clearly, as discussed above and in the other thread, this is just a Band-Aid for a larger issue. However, this is not a "Won't Fix" as it would make a meaningful improvement in the short-term if we could fix it. I'll put this on the Backlog.

[2017-02-13 23:33] marstr commented on #399
Seeing as this has been opened in the Azure/azure-rest-api-specs repo, I'll close out this copy. If folks believe there is Go specific conversation to be had, feel free to open this issue back up.

[2017-02-13 23:33] #399 closed

[2017-02-13 23:51] marstr commented on #459
We've just checked, and it seems that this has been thoroughly solved. We'll close this issue out. If there is need for further work, feel free to reopen this issue.

[2017-02-13 23:51] #459 closed

[2017-02-14 00:22] marstr commented on #451
I believe I'm at code-complete for this sample. Last step will be writing the README.

[2017-02-14 16:45] xchapter7x opened #543 "Calling List and/or ListAll on a VirtualMachinesClient yields nil response object"
`VirtualMachine.VirtualMachineProperties.InstanceView.Statuses` is always nil when calling List and/or ListAll on a `VirtualMachinesClient`. However, when I call a `Get` using the same client targeting the same resourceGroup and VM, I **DO** get a Statuses object with valid values.

Is this expected? Seems like returning nil or incomplete objects is a bug.

ex. from calling a `Get` on each result

[2017-02-14 16:46] marstr commented on #441
@kirthik is spending some time strategizing on how to improve our samples, and many of us feel like the authentication story needs to be improved.

Given @mcardosos 's example above, I'm going to close out this issue.

[2017-02-14 16:46] #441 closed

[2017-02-14 18:09] marstr commented on #404
I've spent some time this morning investigating, and I can confirm that this is a real issue. The root of the issue can be seen here: [godoc http.Response](https://golang.org/src/net/http/response.go) which says:

For the vast majority of the methods in Azure/azure-sdk-for-go/storage, we call `resp.body.Close()` but never read the body; thus we complete only half of the contract that would result

[2017-02-14 21:53] mcardosos commented on #518
Ok, all services are missing operations.

[2017-02-14 22:44] marstr commented on #404
This issue has now been fixed in storage (as mentioned in the original issue) and a PR is out to fix it in Azure/go-autorest.

Azure/go-autorest#118

I'll close this issue out for now. If the issue you were experiencing wasn't resolved, feel free to re-open.

[2017-02-14 22:44] #404 closed

[2017-02-15 18:12] salameer commented on #543
Hello @xchapter7x

thanks so much for reaching out, we will be looking at this and getting back to you

[2017-02-15 23:28] marstr commented on #360
Howdy folks,

We're scheduled to add the Graph API in the next monthly release. We have a couple of related issues tracking the concerns brought up in this thread:
- Azure/go-autorest#103
- Azure/azure-sdk-for-go#455
Because there are more immediately actionable requests in those items, I'm going to close this issue in favor of the others. If folks think there is unresolved discussion unique to th

[2017-02-15 23:28] #360 closed

[2017-02-15 23:33] marstr commented on #378
Howdy Cole, there is another issue tracking this one: #456

Strictly because it has more references to it from PRs, other issues etc, I'm going to close this one. Know in your heart that the other one should have been closed as a duplicate of this one!

[2017-02-15 23:33] #378 closed

[2017-02-15 23:34] marstr commented on #469
Seeing as this isn't actually a problem (links are forwarded) I'm just going to close this issue.

[2017-02-15 23:34] #469 closed

[2017-02-15 23:52] axw commented on #360
Thanks for the update, @marstr.

[2017-02-16 00:06] marstr commented on #296
Alright, we've talked a little about what we could do to improve the results of List operations in general. At the end of the day, it basically means refactoring/rewriting the ms-pageable extension. At the moment, that would go on the backlog. (Though, personally, that's something that I would love to knock out as a hack-a-thon project or something.)

In terms of the original question, which is th

[2017-02-16 00:06] #296 closed

[2017-02-16 00:10] colemickens commented on #296
Hm, not sure what all was discussed, but I can leave the docs bugs be for now - the API signature makes it pretty obvious that there is paging the user needs to handle.

But... I still think it'd be pretty easy to generate a a real GetAll function that implements the same loop that every single consumer of the SDK is probably writing today as it were.

Will you keep an Issue open for that? :) Or d

[2017-02-16 00:11] marstr commented on #296
That is totally legit! I'll open one up against the AutoRest repository and see what I can do about it. :)

[2017-02-16 00:24] marstr commented on #446
Howdy folks, it seems like this is taken care of, given that linked work-items in the specs repo above. Any changes to the swagger will automatically get pulled into our release, so there are no more action-items for this issue on our team.

I'll close this issue out, feel free to re-open if there is some subtlety that I'm missing.

[2017-02-16 00:24] #446 closed

[2017-02-16 00:32] marstr commented on #448
To close this issue, we'll need to modify the README to have a section on our servicing story.

[2017-02-16 03:13] mcardosos commented on #504
Added a method for creating clients for any cloud easily here https://github.com/Azure/azure-sdk-for-go/pull/536

[2017-02-16 03:13] #504 closed

[2017-02-16 12:08] pmcatominey opened #548 "Unable to acquire an infinite blob lease"
There as a check added in #430 which only sets the lease duration header if the provided value is > 0, this prevents infinite leases from being acquired as the request is rejected for missing the header.

[2017-02-16 17:07] marstr commented on #548
Nice catch.

Relevant documentation can be found here: [Microsoft Docs, storageservices/fileservices/lease-blob](https://docs.microsoft.com/en-us/rest/api/storageservices/fileservices/lease-blob)

[2017-02-16 17:43] colemickens opened #549 "Documentation for Generating my own SDK"
Hi all.

There's a bug in the Compute Swagger. Someone has provided me with a one-off fixed copy of the Swagger. I need to test the whole thing end-to-end, so I need to generate this SDK myself.

Is this process documented? I'd be happy to contribute it if not... as long as someone can provide me with some help getting started...

[2017-02-16 18:01] marstr commented on #548
PR #550 solves this issue.

[2017-02-16 18:02] kirthik commented on #549
@colemickens - we are working on documenting the process. It is work in progress. I will share it with you offline. Any feedback would be great!

[2017-02-16 18:47] #548 closed

[2017-02-16 23:08] mcardosos opened #551 "Fluent storage API"
While working in the refactor, it looks like the APIs could be fluent.

[2017-02-21 18:31] marstr commented on #490
Things that are in Backlog shouldn't have an Assignee unless there is active development on them.

[2017-02-21 18:32] marstr commented on #451
I'm actively working on completing this task, so I'm taking it out of the Backlog.

[2017-02-21 18:39] marstr commented on #494
It seems that the service itself is broken. I do not think the suggested remedy from the error message is appropriate, just retrying into perpetuity.

Having a non-functional example isn't really appropriate. I believe we should close this issue by deleting the example script and throwing an item on the backlog to fix this at some-point.

[2017-02-21 18:44] marstr commented on #494
Just spoke offline with @mcardosos, she agrees with this assessment.

[2017-02-21 18:48] marstr commented on #551
For the uninitiated: https://en.wikipedia.org/wiki/Fluent_interface

[2017-02-22 01:32] #494 closed

[2017-02-22 18:16] salameer commented on #549
Hi Cole,

I'm guessing @kirthik shared the link with where the documentation is, one thing @kirthik I think we should make this page eventually public

[2017-02-22 18:16] #549 closed

[2017-02-22 18:17] salameer commented on #535
Closing the PR is merged that Captain @kpfaulkner for the contribution!!!

[2017-02-22 18:17] #535 closed

[2017-02-22 18:34] salameer opened #553 "Generate Network: API watchers"

[2017-02-22 20:27] stack72 opened #554 "Storage Account Request Issues with Go 1.8"
Hi Team

Over in Terraform land, since we moved to Go 1.8, we are seeing the following issues in our code:

[code]

Any thoughts would be great

thanks

Paul

[2017-02-22 21:43] mcardosos opened #555 "Add telemetry for ASM"

[2017-02-22 22:51] marstr commented on #554
Howdy @stack72, I'm experimenting with moving to Go 1.8 now and will update you if I find anything to help out.

[2017-02-23 02:18] mcardosos commented on #554
Hello!
@stack72 , could you provide more info please? I haven't been able to repro, and I don't know the ins and outs of the net/http package.
As create storage account is a [long running operation](https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/swagger-extensions.md#x-ms-long-running-operation) which in the Go SDK has a cancel channel as parameter, could the issue have to

[2017-02-23 18:45] marstr commented on #551
For further conversation, please see the issue in the newly created storage repository above^

[2017-02-23 18:59] marstr commented on #510
For further conversation around this issue, please see the issue linked above.

[2017-02-23 18:59] #510 closed

[2017-02-23 19:03] marstr commented on #527
For further conversation on this topic, please see this issue linked above.

[2017-02-23 21:16] katcipis opened #559 "Code generated by AutoRest has race conditions"
Hi,

The following code generated by AutoRest:

[code]

Is producing a race condition detected by my tests as can be seen here:

[code]

I run tests in parallel because this kind of tests are particularly slow. I never had this problem with the SDK until I updated it today (used for months before with no race at all).

Is the API not safe for concurrency ?

[2017-02-23 21:22] marstr commented on #518
For further conversation around this topic, please see the issue linked above.

[2017-02-23 21:23] marstr commented on #470
For further conversation on this topic, please see the issue linked above.

[2017-02-23 21:23] #470 closed

[2017-02-23 21:26] marstr commented on #464
For further conversation on this topic, please see the issue linked above.

[2017-02-23 21:29] marstr commented on #466
For further conversation on this topic, please see the issue linked above.

[2017-02-23 21:29] #466 closed

[2017-02-23 21:31] marstr commented on #533
For further conversation on this topic, please see the issue linked above.

[2017-02-23 21:33] marstr commented on #513
For further conversation on this topic, please see the issue linked above.

[2017-02-23 21:40] marstr commented on #509
For further conversation around this topic, please see the issue linked above.

[2017-02-23 21:40] #509 closed

[2017-02-24 03:28] salameer commented on #499
5 days to Go

[2017-02-24 18:04] marstr commented on #559
Howdy, good catch. While this is a benign race condition as the result will always be the same, we should clean it up. In addition, this bug shouldn't be closed until we've added race detection into our CI.

[2017-02-24 22:28] marstr commented on #553
A few of us retriaged this offline. @mcardosos is going to handle this one alone. :)

[2017-02-24 22:36] marstr commented on #555
This was solved by the User-Agent PR above.

[2017-02-24 22:36] #555 closed

[2017-02-27 04:36] rrudduck opened #560 "Managed Disks for VMs"
Is creating VMs and Scale Sets with managed disks currently supported?

Looking at the current sdk, it appears the compute provider has not been updated to api version 2016-04-30-preview yet, which would explain the Bad Request and validation errors I'm running into. Any timeline on that happening?

Thanks.

EDIT: Specifically I'm talking about the implicit create support. Not creating disks thems

[2017-02-28 07:33] TeppeiIshii opened #562 "Enable large block blob support"
It seems this package assumes the block blob size == 4MB; however, with recent update, Azure Blob Storage now supports block size up to 100MB.

General Availability: Larger Block Blobs in Azure Storage
https://azure.microsoft.com/ja-jp/blog/general-availability-larger-block-blobs-in-azure-storage/
------------------
We have increased the maximum allowable block size from 4 MB to 100 MB, while main

[2017-03-01 01:02] brandontosch commented on #560
FYI, looks like there is a pull request open for this: #561

[2017-03-01 22:20] marstr commented on #451
Done. The sample can be found here:
[Azure-Samples/network-go-manage-network-security-group](https://github.com/Azure-Samples/network-go-manage-network-security-group)

[2017-03-01 22:20] #451 closed

[2017-03-01 22:58] marstr commented on #562
For further conversation on this topic, please see Azure/azure-storage-go#18

[2017-03-01 22:58] #562 closed

[2017-03-01 23:59] marstr commented on #560
Howdy folks. As @brandontosch mentioned, support for this is currently in review and should be approved and released in the next several days.

[2017-03-02 00:17] colemickens commented on #560
15 minutes later... 😉. Thanks for this!

[2017-03-02 00:18] marstr commented on #560
under-promise over deliver! What can I say :)

[2017-03-02 00:30] #560 closed

[2017-03-02 00:31] mcardosos commented on #553
Fixed in https://github.com/Azure/azure-sdk-for-go/pull/561

[2017-03-02 00:31] #553 closed

[2017-03-02 00:31] mcardosos commented on #519
Fixed in https://github.com/Azure/azure-sdk-for-go/pull/561

[2017-03-02 00:31] #519 closed

[2017-03-02 00:33] mcardosos commented on #455
Fixed in https://github.com/Azure/azure-sdk-for-go/pull/561
I should add that it is not using composite swaggers, so some operations might not be supported. Feel free to reopen the issue if you think it is not correctly solved.

[2017-03-02 00:33] #455 closed

[2017-03-02 00:38] mcardosos commented on #530
Fixed in https://github.com/Azure/azure-sdk-for-go/pull/561

[2017-03-02 00:38] #530 closed

[2017-03-02 00:42] mcardosos commented on #499
@salameer ! Today we dropped to 10 non backlog issues!
Of course we are not counting the ones we moved to https://github.com/Azure/azure-storage-go lolol!

[2017-03-02 19:04] marstr opened #564 "MERGE http verb used without const"
As mentioned in #563 review, there are a couple instances of hardcoded "MERGE " values being used as http verbs. Documentation for "MERGE" can be found [here](https://msdn.microsoft.com/en-us/library/dd541276.aspx).

It is not included in the stdlib's http library, so it didn't make sense to replace those instances until we decide on the best place to put `const MethodMerge = "MERGE"`.

[2017-03-02 19:05] marstr commented on #564
@mcardosos & @jhendrixMSFT, thoughts on putting it in Azure/autorest?

[2017-03-02 19:12] jhendrixMSFT commented on #564
There is a work item on my plate (I can't find it right now) to refactor constants into their own source file so they aren't duplicated; I think we can include it there yes?

[2017-03-02 19:13] mcardosos commented on #564
https://github.com/Azure/azure-storage-go/issues/9 It is this one

[2017-03-02 19:15] marstr commented on #564
^Nice. Yeah, lets go ahead and use that bug to track this item. I'll close this out.

[2017-03-02 19:15] #564 closed

[2017-03-02 22:11] mcardosos commented on #562
Fixed in https://github.com/Azure/azure-storage-go/pull/19

[2017-03-03 22:52] salameer commented on #554
Hi @stack72,

We haven't heard back from you and we'll be closing this ticket if we having heard from you by next Wednesday (8th of March 2017)

[2017-03-06 04:37] vinler opened #565 "Cannot create an empty block blob"
Hi,

Using CreateBlockBlob ( and so CreateBlockBlobFromReader with size:0 and reader:nil) results in an Authentication (403) error:

`
storage: service returned error: StatusCode=403, ErrorCode=AuthenticationFailed, ErrorMessage=Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.
RequestId:XXX,Time:TTT, RequestId=XXX,

[2017-03-06 13:08] stack72 commented on #554
Hi @salameer

I am still trying to work out what the issue is here - so please keep this open - this is a real issue right now in the terraform repositiory

Paul

[2017-03-06 18:45] jhendrixMSFT commented on #460
There appears to be some support for this extension, e.g. if you look at the following.
https://github.com/Azure/azure-sdk-for-go/blob/master/arm/apimanagement/apis.go#L390
The last three parameters are for OData queries.  I don't know if this is complete though and the extension is a bit light on details.  @vishrutshah what do you think?

[2017-03-06 20:25] jhendrixMSFT commented on #483
This behavior is by (poor) design and manifests because the enum has only one element (see the linked issue in AutoRest for details).

[2017-03-06 20:25] #483 closed

[2017-03-06 21:51] vishrutshah commented on #460
@jhendrixMSFT That's a great question. I'd look into how .net handles it and then see whether we need all of those in Go generator or not.

[2017-03-07 10:04] AdallomRoy opened #566 "DataDisk does not support encryption"
Looks like only the OSDisk type has the encryption options type.
As far as I understand it's currently not supported to create an encrypted data disk?

[2017-03-07 13:23] razsha opened #567 "Linux Os disk encryption for Ubuntu14.0.4"
Hi,
Today linux OS disk encryption is supported on Ubuntu 16.04, is it an option to add support for Ubuntu 14.04?

Thanks,
Raz.

[2017-03-07 19:29] yuwaMSFT2 opened #568 "Incorrect error may be returned in storage driver when response body couldn't be parsed for ServiceError"
In the following func in storage client:
func (c Client) exec(verb, url string, headers map[string]string, body io.Reader, auth authentication) (*storageResponse, error)

line 361, when the parsing the response to ServiceError fails, we will set a zero'ed AzureStorageServiceError with statuscode to be 0. This seems incorrect. Actually if the response body couldn't be deserialized correctly, we can

[2017-03-07 20:23] yuwaMSFT2 commented on #568
@marstr @DavidObando @SajayAntony

[2017-03-07 21:37] SajayAntony commented on #568
@yuwaMSFT2 Do you already have a PR for this?

[2017-03-07 21:52] yuwaMSFT2 commented on #568
@SajayAntony @marstr It's a simple change...if you want I can prepare a PR...

[2017-03-08 09:09] #567 closed

[2017-03-08 12:54] #565 closed

[2017-03-08 18:18] salameer commented on #568
Hi @yuwaMSFT2

Thanks so much for brining this to our attention, @mcardosos will be looking into this, if you can do a PR it will certainly help with the investigation and speed up matters.

Btw for future refference we have now a seprate repo for GO Storage here:
https://github.com/Azure/azure-storage-go/tree/7c36d244fc8bf27bcf9785b0b37d6beef2949296

You can submit your pr there in the Dev branch

[2017-03-08 18:23] salameer commented on #566
Hello @AdallomRoy

Thanks for reaching out...

So this is a bit tricky there  are a couple  of possibilities here:
- We're missing support for some  feature of operation on GO
- THe swagger representing the Service might be missing specs for the Encryption
- This might not be exposed for the service.

First step we'll try to understand under what bucket does this belong. if you have any more insig

[2017-03-08 19:41] mcardosos commented on #554
Hello @stack72
From digging in the http package, it looks like the cancel channel is no being correctly replaced in the request. I will continue investigating.
Does this only happen in funcs that happen to be long running operations? Just to know if I'm in the right path.

[2017-03-08 19:42] stack72 commented on #554
Hi @mcardosos yes, this seem to only be long running operations - this is great that you are in the right area

Thanks

Paul

[2017-03-09 18:40] marstr commented on #559
I was a little too optimistic when I said this. @jhendrixMSFT is currently working on adding acceptance test generation. Until that work is done, we can't add the "-race" flag into our tests. For that reason, I don't want to gate this issue getting closed on whether or not CI uses this flag.

The fix to the generator above should take care of this particular issue.

[2017-03-09 20:08] katcipis commented on #559
thanks @marstr :+1:

[2017-03-09 23:16] mcardosos commented on #554
Hello @stack72
Digging some more: this error, `net/http: request canceled` comes from the net/http package, but in fact, it can arrive from 2 different places in the package. As I mentioned above, one of them is when the cancel chan, if you happened to provide it as a parameter in the SDK func, is not replaced correctly in the request.
The other place this very same error could come from is when t

[2017-03-09 23:38] colemickens opened #570 "Regenerate from latest CRP Spec"
They just merged (minutes ago) a fix to the Compute spec that I need in Kubernetes.

Is there any chance that this could be included in the pending V9? https://github.com/Azure/azure-rest-api-specs/pull/980

[2017-03-10 01:22] mcardosos commented on #570
@marstr

[2017-03-10 02:33] marstr commented on #570
Absolutely.

I created the PR so that folks could get a heads up about breaking changes. I'll wait at least two weeks before pulling it in. I'll keep re-generating until that happens.

-Martin

[2017-03-10 19:13] mcardosos commented on #568
Fixed in the dev branch in https://github.com/Azure/azure-storage-go
Thanks for catching this issue!

[2017-03-10 19:13] #568 closed

[2017-03-13 13:40] AdallomRoy commented on #566
Hi @salameer
I'm not sure what is supported by the REST APIs, but it is definitely supported by PowerShell, see:
https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption

[2017-03-14 19:18] marstr commented on #529
Howdy Folks, in order to both allow for high-level discussion and comment, and very granular detail I opened PR #569. Please navigate there for conversation of upcoming changes.

I'll leave this issue open until V9 is released to increase visibility.

[2017-03-14 19:54] marstr commented on #566
I did some digging, thanks for pointing out this gap in capability, @AdallomRoy. It looks like there are a handful of things that are going to need to be fixed. As can be seen [here](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/virtualmachines-create-or-update), the capability to encrypt data disks via REST is not yet documented. Before we can get the fix into the _Azure SDK f

[2017-03-14 20:02] marstr commented on #566
I'll close out this copy of the issue, as all actionable items will be represented in the issue noted above.

[2017-03-15 17:18] mcardosos commented on #554
Hello again @stack72
Is the issue solved in your side? If not, could you provide us some more context please? Maybe the stack trace or a link to the Terraform issue?

[2017-03-15 18:56] stack72 commented on #554
Hi @mcardosos

Let's close out my issue for now and we will see what happens with the cancel chan

Paul

[2017-03-15 18:56] #554 closed

[2017-03-16 01:50] colemickens commented on #570
Gentle ping, any chance I can convince you to regenerate and push sometime this week? Thanks!

[2017-03-16 16:35] marstr commented on #570
I’ll regenerate and push to the marstr/v9 today. We’d like to keep it out of master for another week so that people have time to get a heads up about breaking changes.

-Martin

From: Cole Mickens [mailto:notifications@github.com]
Sent: Wednesday, March 15, 2017 6:50 PM
To: Azure/azure-sdk-for-go <azure-sdk-for-go@noreply.github.com>
Cc: Martin Strobel <marstr@microsoft.com>; Assign <assign@norepl

[2017-03-17 16:41] esell opened #571 "VirtualMachine.VirtualMachineProperties.InstanceView returns nil?"
Not sure if I am missing something here but when running the following code the VirtualMachine.VirtualMachineProperties.InstanceView is returning nil. Is this expected or am I using it incorrectly? This is with the latest version from master `4897648e310020dae650a89c31ff633284c13a24`

        spt, err := helpers.NewServicePrincipalTokenFromCredentials(c,
        azure.PublicCloud.ResourceManagerEn

[2017-03-17 16:53] esell commented on #571
never mind, seems to be a duplicate of https://github.com/Azure/azure-sdk-for-go/issues/543

[2017-03-17 16:53] #571 closed

[2017-03-17 17:10] marstr commented on #570
Done. (A little later than I mentioned yesterday, my apologies.)

[2017-03-21 17:48] mcardosos commented on #543
Hello @xchapter7x , @esell
According to @hyonholee , this is the expected behavior. Instance view is not included in list operations. As list is a heavier operation, this info is not included.

[2017-03-21 17:48] #543 closed

[2017-03-28 00:01] etsangsplk opened #572 "Missing parameter in storageimportexport/client.go funcNewWithBaseURItion"
Function expects: AcceptLanguage: acceptLanguage but it is not defined anywhere in scope

https://github.com/Azure/azure-sdk-for-go/blob/master/arm/storageimportexport/client.go#L55
https://github.com/Azure/azure-sdk-for-go/blob/master/arm/storageimportexport/client.go#L62

[2017-03-28 20:29] jhendrixMSFT opened #573 "Investigate ways to simplify making async API calls"
The current implementation requires consumers to write an amount of boiler-plate code to make async API calls.  For common cases we can have the generator spit out such code, while leaving the lower-level APIs in-place allowing for more customization as required.

[2017-03-29 17:15] salameer commented on #572
Thanks @etsangsplk we will be taking a look at it!

[2017-03-29 17:17] salameer commented on #570
Ping @colemickens can you verify if this is resolved on your side?

[2017-03-29 17:19] salameer commented on #529
Completed, Closing

[2017-03-29 17:19] #529 closed

[2017-03-29 17:23] colemickens commented on #570
I'm working on it, but KubeCon is interrupting me. I'll try to reply back in the next 48 hours.

[2017-03-30 01:15] whiskeyjay opened #576 "LocalNetworkGatewaysClient.Get doesn't validate parameters"
In localnetworkgateways.go, the Get function doesn't validate parameters for special cases.

For example, if the value of localNetworkGatewayName is an empty string, the REST call won't fail, it actually becomes a different request:

expected request - .../providers/Microsoft.Network/localNetworkGateways/**&lt;name&gt;**?apiVersion=... This is to return the information of the specified LNG.

actua

[2017-03-30 02:13] salameer commented on #576
Yup agreed

[2017-03-30 16:44] marstr commented on #566
I'm re-opening this issue until I can verify that Anu's solution from Azure/azure-rest-api-specs#1035 works with the Go SDK:

Now, there is a more convenient way of doing this for the OS Disk, as can be seen here:
https://github.com/Azure/azure-rest-api-specs/blob/be22ed1cacc8cfa2d75e4ab8ae867ef13fb68da7/arm-compute/2016-04-30-preview/swagger/compute.json#L3656

[2017-03-30 22:23] marstr commented on #576
In order to fix this, we're going to need to put constraints in the Swagger that ensure that an empty localNetworkGatewaysID is not permissible. ([Here is the relevant swagger](https://github.com/Azure/azure-rest-api-specs/blob/c683f6510a689e1629adb5d8e9e21848c68f2ca3/arm-network/2016-09-01/swagger/virtualNetworkGateway.json#L818)).

Further more, it's pretty clear that this is a categorical probl

[2017-03-30 22:35] salameer commented on #576
That's correct Martin,

this is actaully implemented in some swaggers such as this one:

https://github.com/Azure/azure-rest-api-specs/blob/master/arm-storage/2016-12-01/swagger/storage.json#L69

We can create an issue in API Specs repo and tag it to networking as an improvement. but from what I'm seeing it's a common behavior across alot of swaggers to not include this, and maybe we should be add

[2017-03-30 22:47] marstr commented on #576
Beat you to it @salameer! I have already spun up a Linter issue and submitted a PR to add that min code. Next, we have to validate that the generator actually does anything with those criteria.

[2017-03-30 23:03] marstr commented on #576
Chatting with @mcardosos offline, it sounds like our generator already supports parameter minLength validation.

[2017-03-31 11:07] ppanyukov opened #577 "Bug: BlobStorageClient.AcquireLease fails with infinite lease time"
When using lease time set to `-1`, the call to `BlobStorageClient.AcquireLease` fails with:

[code]

The reason is `AcquireLease` sets the mandatory `x-ms-lease-duration` header only when the supplied lease time is positive. However, this header must always be set, and it must be set to `"-1"` when lease is infinite. See docs: https://docs.microsoft.com/en-us/rest/api/storageservices/fileservices/

[2017-03-31 18:39] marstr commented on #499
We're well past this now. Closing!

[2017-03-31 18:39] #499 closed

[2017-03-31 19:42] marstr commented on #577
Moving this issue to the Storage repository.

[2017-03-31 19:46] #577 closed

[2017-03-31 23:17] marstr commented on #517
Jeez, just saw this comment @tombuildsstuff; sorry about the ridiculous delay! Anyway, yes: @jhendrixMSFT has been off working hard with some other folks on a story for improving our testing story for the generated SDKs. The issue tracking those efforts as they relate to this repository is https://github.com/Azure/azure-sdk-for-go/issues/449.

[2017-03-31 23:25] kpfaulkner opened #580 "Official DocumentDB Go SDK?"
Hi All,

Just wondering if anyone has had some thoughts around an official Go SDK/client-lib for DocumentDB?
I know there are a few 3rd party ones, but was wondering if anything official will start?

This might not be the best place to ask the question, but I have to start somewhere ;)

Thoughts?

Ken

[2017-04-03 16:35] vikstrous opened #581 "submodule file conflicts break glide/git"
We use glide to vendor this repo and a recent change broke glide's ability to depend on old versions of this repo.

The issue is that glide clones the latest version of Azure/azure-sdk-for-go and then tries to check out an old version. When it does that, it gets the following errors:

[code]

This happens because the storage directory was replaced with a submodule.

See https://github.com/Mastermi

[2017-04-03 17:57] xchapter7x opened #582 "Copy Blob in sdk?"
is there any `copy blob` functionality built into the SDK currently?

https://docs.microsoft.com/en-us/rest/api/storageservices/fileservices/copy-blob

I might just be totally missing the package, but I can't seem to find a way. Any help would be much appreciated. thanks.

[2017-04-03 21:03] xchapter7x commented on #582
nevermind, i found the new repo... my bad

[2017-04-03 21:03] #582 closed

[2017-04-04 17:49] marstr commented on #581
Howdy, @vikstrous sorry you're running into trouble.

**Assuming you don't have any alterations to the SDK that you need to keep**, the _easiest_ way forward is to checkout a fresh copy of the SDK. For the benefit of others who have found this thread, I'll include instructions for folks using glide and otherwise.

## Glide
1. `cd <project directory>/vendor/github.com/Azure`
2. `rm -rf azure-sdk-fo

[2017-04-04 18:11] vikstrous commented on #581
This is not sufficient. `glide update` works by cloning the repo first, running get submodule init/update, then checking out the version specified in the glide.yaml file. By the time it has cloned master, and initialized submodules it's too late and checking out an old version will fail unless the submodule directory is deleted. There is no workaround without code changes to glide from what I can

[2017-04-04 19:17] marstr commented on #581
Sorry @vikstrous, I'm having trouble repro'ing your issue. When I go to migrate our samples (e.g. [Azure-Samples/network-go-manage-network-security-group](https://github.com/Azure-Samples/network-go-manage-network-security-group)) to the latest version, I don't get a conflict. Mind sharing some details about the version of glide your using, maybe send me a link to the repository where you're runni

[2017-04-04 22:58] colemickens commented on #570
Let's close this out, the updated generated code has been pushed to master. If there's an issue with it, it's almost surely with the swagger spec...

[2017-04-04 22:58] #570 closed

[2017-04-05 11:16] rogpeppe commented on #581
We also have been running into problems from this issue. We use a different
dependency management system, but the issue is the same - git submodules
make it very hard to checkout different commits when the submodules change.

For example:

    git clone git@github.com:Azure/azure-sdk-for-go
    cd azure-sdk-for-go
    git submodule update --init --recursive              # "go get" does this.
    g

[2017-04-05 16:39] hh opened #583 "NetworkInterfaceDnsSettings.dnsServers requires IPs but ZoneProperties.nameServers return hostnames"
[ZoneProperties.nameServers](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-dns/2016-04-01/swagger/dns.json#L1057) returns a list of name servers as hostnames.

[NetworkInterfaceDnsSettings.dnsServers](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-network/2017-03-01/swagger/networkInterface.json#L425) requires a list of IP addresses.

When creating an internal dns zo

[2017-04-05 17:22] salameer commented on #580
Hi Ken,

For now we don't have it  on our road-map, but we'll definitely be taking this request as feedback. we'll poke around on our side and see if there's something intermediate that you can go with

Thanks,

Samer

[2017-04-05 18:29] marstr commented on #581
I just updated my first comment. After clearing my glide cache I'm running into the same issue. Thanks for bringing this to my attention, @vikstrous and @rogpeppe.

[2017-04-05 19:00] marstr commented on #581
Alright, my knee-jerk plan here is that we NEED to revert the addition of the submodule and replace it with the actual source files in order to unblock folks using older versions. We'll release that as version v9.1.0-beta.

The plan will still be to move storage into its own repository. But we'll have to do something else to support folks still using it through this repository.

[2017-04-05 20:55] marstr commented on #581
Alright, this should be resolved for now. Can you confirm @vikstrous and/or @rogpeppe?

[2017-04-05 22:13] vikstrous commented on #581
works for me!

[2017-04-05 22:23] #581 closed

[2017-04-06 10:59] rogpeppe commented on #581
Works for me too. Thanks very much for the quick fix.

[2017-04-06 13:25] xchapter7x commented on #543
Understood. The actual API response object does not contain these elements when making a `list` call.
The issue I am raising is that the response object struct in the sdk when making a `list` call contains all elements for an instance as if it were a `get` call response. This means you get an response object with elements that will never be populated when making a `list` call.

as an example this

[2017-04-06 15:56] #559 closed

[2017-04-06 22:18] marstr commented on #490
After spending a few more months in the Go ecosystem, I can say pretty emphatically that this is not a problem. The Travis environment will already fail if one doesn't have the right glide settings. Arguably, we should have a process for running a `glide up` when we release, but that feels pretty substantially different from the reason that I opened this bug in the first place. I'm closing this ou

[2017-04-06 22:18] #490 closed

[2017-04-07 21:28] marstr commented on #583
Thanks for raising this issue, @hh. I've reached out to @henry416 on the Azure Networking team to see if there's a more direct way of doing this when uses the service directly.

Depending on what they have to say, there are a few possibilities:
  1. There is already a more convenient way that already exists and is documented in the [Azure/azure-rest-api-specs](https://github.com/Azure/azure-rest-a

[2017-04-07 21:59] henry416 commented on #583
Hi @hh. I can confirm from the arm-network side, the network interface only supports IP addresses or azure-provided DNS. I will follow up with the arm-dns side.

[2017-04-07 22:17] yushwang commented on #583
@anavinahar

 Could you take a look or redirect?

[2017-04-07 23:54] nkindberg commented on #583
Hi @hh - we don't yet provide the capability to create private DNS zones. It remains a high priority item in our feature backlog to support private DNS zones: https://feedback.azure.com/forums/217313-networking/suggestions/10737696-enable-split-dns-for-providing-both-public-and-int

Azure DNS authoritative name-servers are for authoritative purposes only and therefore not designed for use as a DNS

[2017-04-10 16:43] marstr commented on #576
My attention is still on this issue. We're currently working on chasing down the correct folks to approve Azure/azure-rest-api-specs#1088.

[2017-04-11 07:01] michaelsync commented on #93
Has it been fixed?

I've tried the following commands and didn't work.

[code]

[2017-04-11 15:44] marstr commented on #576
Specs repo updated. I'll mark this bug resolved, but keep it open until we can generate a new version of the API with the validation in it.

[2017-04-11 15:44] #576 closed

[2017-04-12 07:46] mjibson opened #584 "Verify client account name instead of panicing"
The following program panics at `service.CreateBlockBlob` because of the newline in the client account name. NewBasicClient should perhaps verify the account name is a valid format and return an error if it is not, instead of ignoring it and causing a panic later on.

[code]

[2017-04-12 10:54] tombuildsstuff opened #585 "Support updating customData on Azure RM VM Scaling Sets"
👋 hey

An [issue's been opened on the Terraform repo](https://github.com/hashicorp/terraform/issues/13547) enquiring about updating customData for VM Scale Sets.

The current version of the Compute API used in the Go SDK (`2016-04-30-preview`) doesn't support updating customData - is it possible to update the SDK to use a newer version of the API which supports this functionality?

I've checked th

[2017-04-12 13:24] tombuildsstuff opened #586 "HTTP 412 / Preflight validation check timed out"
👋 hey folks

Our nightly acceptance tests have failed with a transient error from the Container Service API:

Currently the SDK handles both polling for completion and retrying - given this is a temporary error, would it make sense for the SDK to handle retrying automatically for this status code?

Thanks!

[2017-04-12 23:29] khenidak opened #587 "KeyVault - Bad data types used for ints"
the values for NotBefore, Created and Updates are incorrect and cause unmarshmaling errors [here]( https://github.com/Azure/azure-sdk-for-go/blob/master/dataplane/keyvault/models.go#L518). They should be json.Number

Edit: This apply on SecretBundle:SecretAttributes & KeyBundle:KeyAttributes
Edit #2: also applies on CertificateBundle

[2017-04-14 17:24] whiskeyjay opened #588 "429 Retryable error when creating Subnet with Route Table"
1. Create a Route Table using the RouteTablesClient.CreateOrUpdate() method. Verified the op’s status was “Succeeded”.
2.	Create a Route using the RoutesClient.CreateOrUpdate() method, which adds the Route to the Route Table created in step 1. Verified the op’s status was “Succeeded”.
3.	Create a Subnet using the SubnetClient.CreateOrUpdate() method, with Route Table ID from step 1.

Intermittentl

[2017-04-17 18:38] shhsu opened #589 "Unable to go get the sdk"
I run into the same issue as
https://github.com/Azure/azure-sdk-for-go/issues/93

Same as @michaelsync, I tried
`go get github.com/Azure/azure-sdk-for-go`
`go get -u github.com/Azure/azure-sdk-for-go`
`go get -d github.com/Azure/azure-sdk-for-go`
`go get github.com/Azure/azure-sdk-for-go/...`

For the first 3 commands, I get the error message
`package github.com/Azure/azure-sdk-for-go: no buildabl

[2017-04-18 16:24] marstr commented on #587
At the moment, it looks like our generator doesn't support "unixtime" format when it is seen in Swagger. (The defintions in question can be found here: [Azure/azure-rest-api-specs/keyvault/2015-06-01/swagger/keyvault.json](https://github.com/Azure/azure-rest-api-specs/blob/c0c9d6353a7d87ada601a609460a11b67f6f15ae/keyvault/2015-06-01/swagger/keyvault.json#L1805)) When that happens, we bomb out into

[2017-04-18 16:44] marstr commented on #589
Howdy @shhsu, I'm sorry you're running into trouble.

The good news here is that despite the error message, `package github.com/Azure/azure-sdk-for-go: no buildable Go source files in c:\go\src\github.com\Azure\azure-sdk-for-go` you've acquired the SDK. The error message is stating that it is not able to continue on to pull down build dependencies or install the package into your $GOPATH/bin direc

[2017-04-18 18:05] shhsu commented on #589
I tried
`go get -u  github.com/Azure/azure-sdk-for-go/arm/resources/subscriptions`
and the process exits without issue.

However, I am getting the same error when I `go build`
`can't load package: package github.com/Azure/azure-sdk-for-go: no buildable Go source files in c:\go\src\github.com\Azure\azure-sdk-for-go`

Also, I am not using `github.com/Azure/azure-sdk-for-go/storageimportexport`

[2017-04-18 18:10] marstr commented on #589
I'm glad to hear you're not using `storageimportexport`, that eases this issue quite a bit.

The behavior that you describe above is the expected behavior of the `go get` tool and just telling you that `github.com/Azure/azure-sdk-for-go` is not an independent package. Rather, it is a repository that is host to 40+ packages. You have successfully acquired the SDK :) let us know if you have trouble

[2017-04-18 18:18] marstr commented on #93
Howdy @michaelsync, to avoid getting the error messages you can target the individual packages that you need. (i.e github.com/Azure/azure-sdk-for-go/arm/compute)

The error message about having no buildable Go files is expected behavior of the `go get` tool when targeting a whole repository instead of the particular package/packages that you need.

[2017-04-18 18:32] shhsu commented on #589
Getting independent packages indeed works. I am currently unblocked.
Would you like to close the issue or keep it open until this error is resolved when users tried to restore the whole bundle?
`can't load package: package github.com/Azure/azure-sdk-for-go: no buildable Go source files in c:\go\src\github.com\Azure\azure-sdk-for-go`

[2017-04-18 20:20] marstr commented on #589
I'll close it out, thanks though @shhsu!

[2017-04-18 20:20] #589 closed

[2017-04-18 21:05] mcardosos commented on #588
This SDK has [automatic retries](https://github.com/Azure/go-autorest/blob/master/autorest/client.go#L178), yes. But not for that status code.
This is one of those cases in which writing a custom `CreateOrUpdateSender` func is the best thing to do. In that custom Sender you can add 429 as a valid status code for retrying.

[2017-04-18 21:21] jrwren opened #590 "There doesn't seem to be a way to get-blob and get content length."
There doesn't seem to be a way to get-blob and get content length without resorting to multiple calls.

storageResponse isn't exposed. GetBlobProperties is a separate call.

It would be nice if there were a call like GetBlob(...) exposed which included access to all of the Response Headers as listed at `https://docs.microsoft.com/en-us/rest/api/storageservices/fileservices/Get-Blob?redirectedfrom=

[2017-04-18 22:13] shhsu opened #592 "Tenant ID is nil for subscriptions"
Hi

This is regarding subscriptions api. It seems that all the subscriptions has nil as its tenant ID, I.E

[code]

[2017-04-19 12:17] tombuildsstuff opened #593 "Regenerate the Service Bus SDK"
👋 hey Azure SDK for Go team!

I've been going through trying to upgrade us to v9 of the SDK - and noticed a blocker 😞

When previously dry-running the SDK upgrade - I'd commented out a breaking change in the Service Bus SDK, where the Location field has been removed from the Response models. Unfortunately this meant that I'd only reported 1 of the 2 issues with the Service Bus SDK, which means we'

[2017-04-19 17:20] marstr commented on #588
We're going to leave this issue open until the issue above (Azure/azure-rest-api-specs#1124) has a resolution. At the moment, without figuring out what is the right behavior up the stack, there isn't really anything actionable to do here.

[2017-04-20 22:59] jhendrixMSFT commented on #590
This has been fixed and will be included with the v10 release of the SDK.

[2017-04-20 22:59] #590 closed

[2017-04-20 23:00] marstr commented on #593
Thanks for taking care of submitting a PR the API Specs Repo! Given that this is strictly additive to what exists in v9, we may as well add it in as a v9.1.0. We're going to turn our sights to v10 shortly, but given how useful it would be to v9 to have this added back in, we'll try to include it in both.

[2017-04-20 23:20] mcardosos commented on #592
Hello @shhsu !
I looked into how the response body looks like and yes, TenantID was not included.
@tfitzmac @vivsriaus Is there something we are mising here?

[2017-04-20 23:38] shhsu commented on #592
Actually I think it is expected according to what the REST api returns.

Should we somehow fix this or communicate this in our documentation?

[2017-04-20 23:42] mcardosos commented on #592
If this is the expected result in all calls, then the swagger should be updated. Creating issue in the swaggers repo...

[2017-04-20 23:45] shhsu commented on #592
Not sure about the full context of why this filed is there and always null. Even on the Azure CLI side, it seem to expect that subscription objects not having the tenant id
This following code actually appends a tenant id to the subscription object that it returns.
https://github.com/Azure/azure-cli/blob/master/src/azure-cli-core/azure/cli/core/_profile.py#L453

[2017-04-21 13:22] jrwren commented on #590
I can't find the fix/feature in this repo or at https://github.com/Azure/azure-storage-go. Will you please link me to the commit with the feature?

[2017-04-21 16:48] jhendrixMSFT commented on #590
It was fixed in this PR https://github.com/Azure/azure-storage-go/pull/46

[2017-04-21 19:19] mcardosos commented on #584
Fixed!

[2017-04-21 19:19] #584 closed

[2017-04-25 17:55] mcardosos commented on #592
Hello @shhsu :D
The subscriptions swagger has been modified so it does not include the tenantID in the subscription model. This value is never returned.
Will this be included in the next SDK version @marstr  ?

[2017-04-25 22:10] marstr commented on #592
@mcardosos, it should be! I'll make sure to check for it when we generate.

[2017-04-25 22:28] #592 closed

[2017-04-26 14:48] devigned opened #596 "Service Principal Create for RBAC"
Creating a service principal and authentication are fraught with difficulty using the SDK. Service Principals and AAD applications are core pieces of functionality when using Azure for non-trivial automation scenarios. It would be helpful to provide higher level abstractions such as what is currently done in the Azure CLI with `az ad sp create-for-rbac`. See: https://github.com/Azure/azure-cli/blo

[2017-04-26 15:27] stack72 commented on #593
Hi @marstr

Is there any ETA on 9.1? We are currently waiting on it to support web_apps in terraform

Thanks

Paul

[2017-04-27 08:55] tombuildsstuff opened #598 "Redis Cache Premium: Backups"
👋 hey!

An issue's been opened on the Terraform repository to [add support for Backup Settings on a Premium Redis Cache](https://github.com/hashicorp/terraform/issues/14016) instance.

Taking a quick look at the Redis SDK - I can't see it in either v8 or v9 (which appear to be using the same API version `2016-04-01`) - would it be possible to add functionality for this in a future version?

Thanks

[2017-04-27 21:06] jhendrixMSFT commented on #573
This has been implemented in the generator in https://github.com/Azure/autorest/pull/2201.  For LROs the operations are executed inside a go routine and the results communicated via channels.

[2017-04-27 21:06] #573 closed

[2017-05-03 05:47] tombuildsstuff commented on #588
:wave:

An [issue's been opened in the Terraform Repository](https://github.com/hashicorp/terraform/issues/13934) about a similar issue in the `network` package which I believe is related. Out of interest, is this status code reused across the networking API's?

Thanks :)

[2017-05-03 17:14] marstr commented on #598
@TimLovellSmith,

Do you have any insights on whether or not the above is exposed via REST? We were looking at [the Swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-redis/2016-04-01/swagger/redis.json#L966) and suspect that this is covered, but want you to verify.

[2017-05-03 19:15] tombuildsstuff commented on #593
@marstr I'm not sure if it's helpful or going to cause a ton of pain with the v10 release - but I had some spare time tonight and ended up attempting this in #601 :)

[2017-05-04 22:58] marstr commented on #587
This is fixed in #602

[2017-05-04 23:00] marstr commented on #587
Thanks for bringing this to our attention @khenidak! I believe I have it fixed.

[2017-05-04 23:00] #587 closed

[2017-05-05 17:07] mcardosos commented on #572
Fixed in v10.0.0

[2017-05-05 17:07] #572 closed

[2017-05-05 17:08] mcardosos commented on #593
Fixed!

[2017-05-05 17:08] #593 closed

[2017-05-05 18:16] mcardosos opened #605 "Race Condition in File.WriteRange"
Original text here https://github.com/Azure/azure-storage-go/issues/39
@MarkSonghurst says:

I get a race condition warning reported by go test --race

[2017-05-05 18:21] mcardosos opened #606 "Suggestion: GetContainerReference returns a pointer of Container"
Original text here https://github.com/Azure/azure-storage-go/issues/51
@jkawamoto says:

[2017-05-05 20:22] mcardosos commented on #606
Fixed in https://github.com/Azure/azure-sdk-for-go/pull/604

[2017-05-05 20:22] #606 closed

[2017-05-06 21:26] Trane9991 opened #609 "Storage error cannot be parsed"
Hello, I'm trying out the storage package, and getting next error messages:
[code]
The error itself is expected, but it could not be unmarshalled in proper struct :(
How my code looks like:
[code]

[2017-05-08 15:49] tombuildsstuff opened #610 "Regenerate the Event Hubs SDK"
:wave: Happy Monday!

I've opened a PR to [Rest API Specs](https://github.com/Azure/azure-rest-api-specs/pull/1199) which adds the Location field back to the Event Hub SDK Response. Turns out this field's mandatory - so the Event Hubs functionality in v10 currently doesn't work for us :(

I felt adventurous, so I've regenerated the SDK in anticipation of that change being merged, and bumped everyt

[2017-05-09 10:58] ppanyukov commented on #464
We actually hit a scenario today when we'd want to use SAS with this library. So yes, SAS support would be very nice indeed.

@marstr : I'm not sure there are issues linked above that you refer to?

[2017-05-09 13:07] edevil opened #612 "Accept a timeout parameter for Get calls"
It would be great if we could specify how long we are willing to wait for Get() calls on the *Clients. Specifically:

VirtualMachinesClient.Get()
RouteTablesClient.Get()
SecurityGroupsClient.Get()
LoadBalancerClient.Get()
PublicIPAddressesClient.Get()
SubnetsClient.Get()

These methods are used by the Kubernetes Azure Cloudprovider and it is important to be able to have a timeout since they are us

[2017-05-09 14:28] jdelobel opened #613 "[azure blob storage] No container for blobs (from ListBlobs)"
Shouldn't my blobs be filled with a `Container` when fetched with `Container.ListBlobs()`?

[code]

[2017-05-09 16:05] marstr commented on #464
Ah, it looks like the issue it was referring to has been deleted so my comment has been orphaned.

This issue resumes being the appropriate place for conversation. Sorry about the confusion, @ppanyukov!

[2017-05-09 17:33] moadben commented on #464
Hey @ppanyukov,

I have a forked version of the azure-sdk with a fully functional SAS client implemented. However given that this was something I worked on 6 months ago I'm sure there would be a ton of issues attempting to integrate it with the current SDK.

I'd be more than happy to look into updating it though if this is something both you and the dev team would be interested in!

Thanks,
Moad.

[2017-05-09 18:35] ppanyukov commented on #464
Yes definitely @moadben, this should be very useful.

The use case for us was, if this helps:

- use SAS to control access to a specific container in a storage account;
- the user of this container needs to list blobs, create blobs etc;
- we did not need capabilities to generate SAS tokens in golang for our scenario;
- the users of the containers are both .NET and golang programs;
- we couldn't us

[2017-05-09 19:42] xtophs opened #614 "Examples are broken"
Refactoring into the adal package broke the examples. Proposed fix with Azure/azure-sdk-for-go#600

[2017-05-09 22:12] jhendrixMSFT opened #615 "Create a sample for long-running operations"
I don't think we have a sample showing how the new LRO APIs work, let's create one.

[2017-05-10 00:36] colemickens commented on #614
This breaks `go get github.com/azure-sdk-for-go/...` for example:

[code]

[2017-05-10 00:40] colemickens opened #616 "`resources` package(s) needs attention / how to use Subscriptions client?"
RE:
https://godoc.org/github.com/Azure/azure-sdk-for-go/arm/resources/subscriptions in particular "TenantsClient"

* Huh? What is this trying to say here:  `TenantsClient is the all resource groups and resources exist within subscriptions. These operation enable you get information about your subscriptions and tenants` How is it meant to be used? Is this supposed to help me determine the list of a

[2017-05-10 00:42] colemickens commented on #616
The `NewGroupClient` has the exact same confusing description as `NewTenantClient`:

`GroupClient is the all resource groups and resources exist within subscriptions. These operation enable you get information about your subscriptions and tenants. A tenant is a dedicated instance of Azure Active Directory (Azure AD) for your organization.`

And I'm still unclear on what client (is there one?) I sh

[2017-05-10 16:42] jchauncey opened #617 "fetching kubernetes api version and kubeconfig"
I need a way to get the kube api version and the kubeconfig of a running container service using the kubernetes orchestrator. Is that possible?

[2017-05-10 17:09] marstr commented on #610
Thanks for doing this Tom! Joel is going to finish up getting the new tag on this release shortly.

[2017-05-10 17:32] marstr commented on #616
There's a lot of good feedback to unpack here! There are a few action-items that we can get started on:
- The descriptions in the Azure/azure-rest-api-specs repo (specifically in the resources/subscriptions directory) need another look.
- The generator needs to be evaluated to ensure that we're not confusing things further.
- We should add a sample on fetching resources.

[2017-05-10 17:36] marstr commented on #617
@colemickens do you happen to have any insights here?

[2017-05-10 17:58] jhendrixMSFT commented on #610
v10.0.1-beta release has been created and tagged.

[2017-05-10 19:06] jchauncey commented on #617
Alright so @colemickens replied to my email and said this was not supported yet. Is this something that would be possible to add? (I'm assuming its possible to fetch this information because the az cli can already get this information)

[2017-05-10 19:30] tombuildsstuff commented on #610
Awesome! Thanks both :)

[2017-05-10 21:07] tombuildsstuff commented on #610
@marstr @jhendrixMSFT just tried to upgrade to 10.0.1, but it appears that the release was done from the master branch, whereas I the PR was sent the `dev` branch :(

Sorry to be a pain here, but would it be possible to re-release with these changes included?
Thanks!

[2017-05-10 21:41] jhendrixMSFT commented on #610
Epic fail on my part, will fix...

[2017-05-10 22:17] jhendrixMSFT commented on #610
@tombuildsstuff I've released v10.0.2 that contains the fix (for real this time :)).  Sorry for the hassle.

[2017-05-10 22:17] #610 closed

[2017-05-10 23:53] #613 closed

[2017-05-11 00:03] mcardosos commented on #613
@jdelobel fixed!

[2017-05-11 01:33] colemickens commented on #617
The information is simply not available in the API period...

On May 10, 2017 12:06 PM, "Jonathan Chauncey" <notifications@github.com>
wrote:

[2017-05-11 02:11] jchauncey commented on #617
dang well time for plan b =)

[2017-05-11 16:48] #617 closed

[2017-05-12 23:07] marstr commented on #566
I'm putting the finishing touches on an example of how to encrypt Data and/or OS disks using the Azure SDK for Go. I'll leave this issue open until that sample is published.

This process has proved to not be very straight-forward, and as of the time of writing this comment, the documentation is _sparse_ to say the least. The best article I found on it is [here](https://docs.microsoft.com/en-us/az

[2017-05-13 01:54] #566 closed

[2017-05-15 07:39] poohsleep opened #623 "When azure-sdk-for-go could turn from beta to stable"
Our project couldn't be compiled correctly due to azure-sdk-for-go's frequent change.
https://github.com/MindFlavor/ftpserver2

Currently we're about to change our code to meet with the latest azure-sdk-for-go/storage.
However it would to lovely to know when we could get a stable version so that we could avoid these kind of change in the future.

[2017-05-15 16:59] #609 closed

[2017-05-15 17:34] marstr commented on #623
Howdy @poohsleep,

We don't have an exact timeline yet, but we're planning on removing the beta tag and being more stable this summer.

The main features that we'd like to finish before we remove the beta tag are:
 - Modifying the package structure that the generator produces to truly support all multiple API Versions of an operation group.
 - Generating tests for swaggers to help ensure consisten

[2017-05-15 17:34] #623 closed

[2017-05-17 11:18] tombuildsstuff opened #624 "[Feature Request] Deployments Functionality"
:wave: howdy

I've been meaning to file this bug for _forever_ but never found the time until now..

When viewing a Resource Group in the AzureRM Portal - a Deployments section is visible - which contains the operations created through ARM Template Deployments and through the Portal:

<img width="717" alt="screen shot 2017-05-17 at 11 21 51" src="https://cloud.githubusercontent.com/assets/666005/2

[2017-05-17 13:54] weinong opened #625 "keyvault package should use go-uuid instead"
I believe https://github.com/satori/go.uuid is the proper package to be imported for keyvault package. Although https://github.com/satori/uuid seems equivalent to go.uuid, we don't want to import the same package in two different names.

[2017-05-18 06:34] radu-matei opened #626 "CreateBlockBlobFromReader fails due to missing content length parameter"
Usage:
`blob.CreateBlockBlobFromReader(reader, nil)`

Output:
`storage: service returned error: StatusCode=411, ErrorCode=MissingContentLengthHeader, ErrorMessage=Content-Length HTTP header is missing`

`fmt.Printf("Content length: %d", blob.Properties.ContentLength)` - this outputs 0

[2017-05-18 07:14] radu-matei commented on #626
Quick fix - https://github.com/radu-matei/azure-sdk-for-go/commit/7bfa39141a170036a54ae46c1c89ad92a539c570

[2017-05-18 07:20] radu-matei commented on #626
PR #627

[2017-05-18 19:51] marstr commented on #626
Howdy @radu-matei,

I'm investigating this issue now, thanks for bringing this to our attention. I'll get back to you ASAP on how we should move forward.

My gut reaction is that this should be solved by better calculating blob.Properties.ContentLength, not making that calculation the responsibility of the caller.

-Martin

[2017-05-18 20:30] marstr commented on #626
For the life of me, I'm not sure why our client.go is even setting Content-Length. It seems to me that if we just leave it unset, the HTTP stack in go will correctly set it.

[2017-05-18 20:51] marstr commented on #625
Did this package get renamed? As far as I can tell, they are one and the same. Is GitHub just redirecting us?

[2017-05-18 21:25] marstr commented on #625
It looks like this is going to have to be more of a global change, or else the build system in Go complains. For now, it seems to work to just target "github.com/satori/uuid", Github handles this correctly.

In the long term, I do agree, we should adjust to use the more up-to-date name.

[2017-05-18 21:30] marstr commented on #517
Update: I've added an experimental branch with the SDK re-hashed to support multiple API Versions. You can find that here: https://github.com/Azure/azure-sdk-for-go/tree/experimental/allAPIVersions

Please note, as an experimental branch, breaking changes will come un-announced as I have time to work on it.

[2017-05-18 21:56] marstr commented on #624
I'm going to have to dig on this a little, but I'll update this thread as I learn more about how the Portal picks up activity and whether or not it is feasible for us to have our activity picked up.

[2017-05-18 21:56] radu-matei opened #629 "Create resource group"
Using the new version of the API, how would you create a resource group?

It appears that `resources.ResourceGroup` no longer exists...

[2017-05-18 22:02] marstr commented on #629
Howdy @radu-matei,

A couple of versions ago, there were naming changes introduced by the [Autorest](https://github.com/Azure/autorest) Modeler in an attempt to reduce stuttering. You can work with Resource Groups by using [resources.Group](https://github.com/Azure/azure-sdk-for-go/blob/eb9eddfb7d680dca671221dba9e47626dd5fb464/arm/resources/resources/models.go#L226)

-Martin

[2017-05-18 22:30] marstr commented on #629
I'm going to close this issue out for now. If I haven't sufficiently answered your question, feel free to open it up again.

[2017-05-18 22:30] #629 closed

[2017-05-18 23:01] radu-matei commented on #629
And still use the `GroupClient`?

[2017-05-19 14:47] z4ce opened #630 "VirtualMachinesClient.CreateOrUpdate Failed with Could not find member 'resources' on object of type 'ResourceDefinition'"
We are seeing the error  `The request content was invalid and could not be deserialized: 'Could not find member 'resources' on object of type 'ResourceDefinition'` when attempting to create a VM in the same likeness of another VM. See Azure case #117050515698595.

basically the code looks like:
[code]

For more detail you can view the actual call in the tool at:
https://github.com/pivotal-cf/cliaa

[2017-05-19 16:47] marstr opened #631 "Support All API Versions"
As discussed way back in #517, we would like to support all API Versions that are supported by Azure Services. At the moment, if there are breaking changes to the service in terms of API Version, we must release a new version of the SDK with breaking changes. However, this conflates breaking changes that have been made to target the most recent version of Azure Services and changes that we've made

[2017-05-19 17:30] marstr commented on #626
@radu-matei, can you confirm that this issue is fixed by v10.0.3-beta?

[2017-05-19 17:35] marstr commented on #588
Good question, @tombuildsstuff. @DeepakRajendranMsft, is that something you can speak to?

[2017-05-19 17:36] marstr commented on #527
I don't think this is worth fixing. I'm going to close it out.

[2017-05-19 17:36] #527 closed

[2017-05-19 19:36] marstr commented on #630
This issue was discussed internally and the following context was provided:

Tim Basham says:

He continues to say:

Essentially when the Go SDK does a get it needs to prune the resources node/property prior to doing a subsequent put to avoid this issue. ...I have been informed this fix was implemented in Azure Cloud Provider Interface, and Azure Java SDK already, but appears to be missing from Az

[2017-05-19 20:22] z4ce commented on #630
@xchapter7x

[2017-05-19 20:34] radu-matei opened #632 "Error in creating resources"
This is how I create the client for resource groups:
[code]

Then, when I use it:
[code]

resources.GroupsClient#CreateOrUpdate: Failure preparing request: StatusCode=0 -- Original Error: autorest: No scheme detected in URL

The same happens for the storage and network clients.

(Strangely, this doesn't happen for the VM client)

[2017-05-19 23:41] radu-matei opened #633 "CheckExistence for resource groups should return bool"
`func (client GroupsClient) CheckExistence(resourceGroupName string) (result autorest.Response, err error)`

This function should return a boolean value wheter the resource group exists or not.

[2017-05-20 00:02] #632 closed

[2017-05-21 09:20] radu-matei opened #634 "Get shared key of storage account"
How could you get the storage account shared key after you just created the storage account?

Thanks!

[2017-05-21 22:22] #634 closed

[2017-05-22 17:16] marstr commented on #633
Howdy @radu-matei,

 Thanks for all of your interest lately! We appreciate all of the feedback. This one is particularly interesting, because it really exemplifies an idiosyncrasy of our project's architecture. Forgive me for articulating any of this that you already know, I mostly want to write it out for anybody who stumbles upon this issue. The Azure service teams write markup descriptions of t

[2017-05-22 17:16] #633 closed

[2017-05-22 17:50] marstr commented on #632
I see you closed this, @radu-matei. Has it been resolved?

[2017-05-22 17:51] marstr commented on #634
Did this get resolved, @radu-matei?

[2017-05-23 10:04] ouziel-slama opened #635 "dns.RecordSetsClient#CreateOrUpdate fails with "The location property is required for this definition.""
I try to create a DNS record following the example here https://github.com/Azure/azure-sdk-for-go/pull/600/files (@xtophs) and I get this error:

[code]
(Here the code: https://github.com/symbiont-io/external-dns/blob/4f2c85e30da9edcdf73a9effac45943ae6d17a93/provider/azure.go#L175-L197)

[2017-05-23 16:04] xtophs commented on #635
You may want to connect with @peterhuene, who's also working on an external DNS provider: https://github.com/peterhuene/external-dns

I haven't see this error when creating a RecordSet, only creating zones. What parameters are you passing to the CreateOrUpdateCall?

[2017-05-23 17:43] peterhuene commented on #635
We're about to submit the work from the [azure branch](https://github.com/peterhuene/external-dns/tree/azure) as a PR once I finish up a few more unit tests.  Ideally the PR will go up this afternoon.

I also have not seen this error when creating records sets, only zones (which have a location property).

[2017-05-23 20:37] peterhuene commented on #635
For reference, the PR is up at https://github.com/kubernetes-incubator/external-dns/pull/214

[2017-05-25 09:03] ouziel-slama commented on #635
@peterhuene great !! Will try to test your branch today. Only me get the error so closing the issue for now. Will re-open if happen again with the @peterhuene branch.

[2017-05-25 09:03] #635 closed

[2017-05-25 20:11] Blackbaud-ChrisJenkins commented on #626
@marstr I just ran into this issue, running
[code]

so I think the answer to your question is no

[2017-05-25 20:55] radu-matei commented on #626
@Blackbaud-ChrisJenkins - until there is a fix in the SDK you can pass the size yourself, as in https://github.com/Azure/azure-sdk-for-go/pull/627

[2017-05-26 14:23] radu-matei commented on #634
Yes, fixed this

[2017-05-26 14:23] radu-matei commented on #633
Ok, I understand.
Thanks!

[2017-05-27 00:05] weinong opened #639 "Deployments' CreateOrUpdate's return does not match the response body"
`CreateOrUpdate` in https://github.com/Azure/azure-sdk-for-go/blob/master/arm/resources/resources/deployments.go currently returns `DeploymentExtended` channel.
However, upon inspecting the http response, it is not `DeploymentExtended` at all. So the returned `DeploymentExtended.Properties` is always nil.

The concern is that why do we return `DeploymentExtended` at all? It simply adds confusion t

[2017-05-30 06:30] radu-matei commented on #626
Any updates on this issue? I am unable to use the SDK because of it (I have to use my fork instead)

[2017-05-30 17:58] marstr commented on #626
Howdy, I didn't get to this. I've been on vacation without internet access for the last 5 days or so. @mcardosos and I will look into this today and get another patch out to really get this issue fixed.

[2017-05-30 18:58] marstr commented on #639
Howdy @weinong, sorry for the delayed response here, we've been away on a holiday weekend!

Since moving to the channel model, this is something that jumped out to me as bizarre as well. First and foremost, the reason that it is setup that way is because of the Swagger documents which can be found here: [Deployments Put Swagger Definition](https://github.com/Azure/azure-rest-api-specs/blob/5591167

[2017-05-30 23:09] marstr commented on #626
To mitigate this, @mcardosos wrote up another Pull Request that counts the size of the blob before submitting a request, you can see it in #638. In the long run, I really think this is something that should get pushed off on the Go standard library as much as possible. However, we'll do this in the spirit of unblocking folks.

[2017-05-31 18:24] marstr commented on #626
How about 10.0.4-beta, has that addressed this issue?

[2017-05-31 23:46] marstr commented on #630
Howdy folks, we've discussed this in triage and decided the first step is to validate that this is a scenario that is uniquely attributable to the Go SDK. As much as possible, we'd like to solve this in the same way that other languages have. @mcardosos is going to start the investigation off by reaching out to the Ruby SDK folks.

[2017-06-01 00:24] colemickens commented on #639
This was quite confusing to me as well. Is there an issue tracking this on the azure-rest-api-specs repo?

[2017-06-01 13:41] ideahitme opened #640 "Batch update of the Recordset"
Hello,

From what I found RecordSet can be updated/deleted only individually using sdk. Is there a way to create a batch request for multiple RecordSets within a DNS zone, i.e. so that a batch request will succeed, only if change for each of the RecordSet succeeds. Otherwise no changes are applied.

Thanks,

Yerken

[2017-06-01 19:38] marstr commented on #639
Not that I'm aware of. However, I'm trying to drive some conversations internally about this to understand what their reasoning is.

[2017-06-01 19:46] marstr commented on #640
Howdy @ideahitme,

I am unaware of batch functionality for DNS RecordSets. However, you may try posting this in the [Azure/azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs) repo to cast a wider net.

-Martin

[2017-06-01 19:46] #640 closed

[2017-06-01 20:22] Blackbaud-ChrisJenkins commented on #626
it's working for me now, thanks!

[2017-06-01 20:23] mcardosos commented on #626
Awesome! closing this then :)

[2017-06-01 20:23] #626 closed

[2017-06-01 23:22] marstr commented on #631
Time for an update!

The experimental branch with the changes necessary to support all API Versions has been updated, and I've used the code in in to rewrite the VM Management sample. You can find the work I've done on that in the following branch: [Azure-Samples/virtual-machine-go-manage adoptExperimental](https://github.com/Azure-Samples/virtual-machines-go-manage/tree/adoptExperimental).

The e

[2017-06-07 19:51] marstr commented on #625
I have a PR open to fix this issue in the generator which can be found here:
Azure/autorest#2329

[2017-06-07 20:07] marstr commented on #585
Sorry this has been inactive for a while!

Does [2017-03-30 solve your issue](https://github.com/Azure/azure-rest-api-specs/blob/b86684441ae014cd58c924081488b6a71e92dba0/arm-compute/2017-03-30/swagger/compute.json#L5104)? If so, that should be [the one that we're using in the SDK](https://github.com/Azure/azure-sdk-for-go/blob/eb9eddfb7d680dca671221dba9e47626dd5fb464/arm/compute/models.go#L1164).

[2017-06-07 20:13] marstr commented on #598
Alright, I'm going to go ahead and assume that the Swagger mentioned above is accurate, and that is the mechanism for configuring Redis instances is exposed via our [SDK here](https://github.com/Azure/azure-sdk-for-go/blob/eb9eddfb7d680dca671221dba9e47626dd5fb464/arm/redis/models.go#L114). Now that said, to my knowledge we've never tested this scenario where we have an object of type string in swa

[2017-06-07 20:15] marstr commented on #598
To follow up, I'll try to create a Redis instances with some configuration passed through our SDK. If this fails for syntactic reasons, I'll have to reach out to other generators to see what they do. If it doesn't work anywhere, we can probably get away with changing the Swagger without it being a breaking change. (You can't break what never worked!)

[2017-06-07 22:10] TimLovellSmith commented on #598
@marstr @tombuildsstuff
It is intended to be possible via the 'redisConfiguration' property of the redis cache:

See the note on https://docs.microsoft.com/en-us/rest/api/redis/redis

"Few possible keys: **rdb-backup-enabled**,**rdb-storage-connection-string**,**rdb-backup-frequency**,maxmemory-delta,maxmemory-policy,notify-keyspace-events,maxmemory-samples,slowlog-log-slower-than,slowlog-max-len,

[2017-06-08 09:34] tombuildsstuff commented on #598
Hey @TimLovellSmith / @marstr

Thanks for confirming that - at this point we're explicitly defining the keys in the `redisConfiguration` object - so I'll update this to include the missing values. As such I'll close this issue for the moment - and re-open it if there's any issues :)

Thanks! :)