[2021-09-03 11:50] sriarush opened #15476 "merge and update succeeds even with mismatching etag ("") and force flag = false"
https://github.com/Azure/azure-sdk-for-go/blob/fbb66cedeb94af0a56ff6e8f31a44314af3ef114/storage/entity.go#L410

[2021-09-03 12:17] sriarush commented on #15476
it works fines with mismatching etag but correct format but not with etag=""

[2021-09-06 11:17] adhiraj-g commented on #12452
Hi There,

Any update on when the 2019-10-01 version of consumption APIs would likely be available for Azure module billing metricset?

[2021-09-07 06:27] amishra-dev commented on #14655
@akhilesh2410 Akhilesh, could you kindly raise a service request since this will need someone from the service to take a look.

[2021-09-07 15:58] jhendrixMSFT commented on #15447
If we go this route I would also suggest that the URL be all lower-case characters as this has impact on systems with case-sensitive file systems (the capital 'A' in "Azure" is a real bummer).

[2021-09-08 13:48] timja opened #15504 "Release Microsoft.ApiManagement/preview/2021-01-01-preview"
### Service Package Request

Hi can https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview please be released to this SDK?

`2020-12-01` is the latest available currently https://github.com/Azure/azure-sdk-for-go/tree/main/services/apimanagement/mgmt

Blocks https://github.com/hashicorp/terraform-provi

[2021-09-08 14:44] #15114 closed

[2021-09-08 14:44] #15064 closed

[2021-09-08 17:36] #14908 closed

[2021-09-08 17:37] #15063 closed

[2021-09-08 18:15] chlowell opened #15507 "Decide how to replace azcore.Credential"
We've decided to shift responsibility for knowing how to use a credential from the credentials themselves to clients. This entails removing the `azcore.Credential` interface and its implementations (azidentity's `NewAuthenticationPolicy` methods). Clients will then need another way to distinguish credential types. This issue tracks exploring the proposed alternatives and choosing one to implement:

[2021-09-08 22:52] RickWinter opened #15512 "Add cgmanifest files to the repo"
We need to to add cgmanifest files to the repo to get proper coverage.  Until we seperate track2 from track1, it makes the most sense to have cgmanifests for both.

Update Notice.txt where applicable

[2021-09-08 22:55] jhendrixMSFT commented on #15048
Fixed in `v0.19.0`

[2021-09-08 22:55] #15048 closed

[2021-09-08 22:55] jhendrixMSFT commented on #15050
Fixed in `v0.19.0`

[2021-09-08 22:55] #15050 closed

[2021-09-08 22:55] jhendrixMSFT commented on #15051
Fixed in `v0.19.0`

[2021-09-08 22:55] #15051 closed

[2021-09-08 22:55] jhendrixMSFT commented on #15052
Fixed in `v0.19.0`

[2021-09-08 22:55] #15052 closed

[2021-09-08 22:56] jhendrixMSFT commented on #15053
Fixed in `v0.19.0`

[2021-09-08 22:56] #15053 closed

[2021-09-08 22:56] jhendrixMSFT commented on #15055
Fixed in `v0.19.0`

[2021-09-08 22:56] #15055 closed

[2021-09-08 22:56] jhendrixMSFT commented on #15057
Fixed in `v0.19.0`

[2021-09-08 22:56] #15057 closed

[2021-09-08 22:56] jhendrixMSFT commented on #15395
We will leave it as an interface.

[2021-09-08 22:56] #15395 closed

[2021-09-09 06:48] msaranga commented on #14571
@WodansSon : We are not notified about this issue previously. I just encountered when jeffrey cline pointed. we will be working on fix in upcoming sprints. NO concrete ETA yet. Please contact Bhanu Prakash on timeline.

[2021-09-09 11:22] grzn commented on #15108
any updates?

[2021-09-09 17:32] RickWinter opened #15522 "Generate Do method"
### Feature Request

Add a Do method on each client.

[code]

[2021-09-10 02:23] 804873052 commented on #15475
Hi @dylanmorley thanks for this issue!

Releasing a new package will require the service to submit a new SDK release request, I have added the label on this issue so that the corresponding service team could take this a look.
I also sent some internal emails to the contact of the corresponding service team about this.

[2021-09-10 02:48] 804873052 commented on #15504
Hi @timja thanks for this issue!

Releasing a new package will require the service to submit a new SDK release request, I have added the label on this issue so that the corresponding service team could take this a look.
I also sent some internal emails to the contact of the corresponding service team about this.

[2021-09-10 05:05] 804873052 commented on #15407
Hi @dmedeiros204  thanks for this issue!

Releasing a new package will require the service to submit a new SDK release request, I have added the label on this issue so that the corresponding service team could take this a look.
I also sent some internal emails to the contact of the corresponding service team about this.

[2021-09-10 06:10] magodo opened #15528 "CDN 2020-09-01 is missing the `CustomHTTPSParameters` in model `CustomDomainProperties` (which exists in 2019-04-15)"
In the Azure/azure-rest-api-specs, there is a commit: [Add missing customHttpsParameters field of CustomDomainProperties](https://github.com/Azure/azure-rest-api-specs/commit/162aac8f049496e8b4dd411c1a9dcc2a9e80da9c). The issue here is that in the currently used Go SDK, the model generated for 2019-04-15 has the [HTTPS parameters](https://github.com/Azure/azure-sdk-for-go/blob/51cec6163ccae3560113

[2021-09-10 07:43] lirenhe commented on #15098
Seems we need to refresh the SDK

[2021-09-10 07:45] lirenhe commented on #15108
@jhendrixMSFT , could you help to take a look?   Is this issue fixed in track2?

[2021-09-10 07:47] lirenhe commented on #15020
We need to release a new version of the SDK for this.

[2021-09-10 07:48] lirenhe commented on #15002
This seems to be a swagger issue, need the service team to update the swagger.

[2021-09-10 07:51] lirenhe commented on #14993
Need to refresh the GO SDK to catch the latest change in Swagger.

[2021-09-10 07:52] lirenhe commented on #14768
Close it as this is not a GO SDK issue. Please create a new issue in https://github.com/Azure/azure-cli/issues

[2021-09-10 07:54] lirenhe commented on #14459
The issue should be related to the network issue which we are unable to control.
Close it as there is no action that we could take

[2021-09-10 07:54] #14459 closed

[2021-09-10 07:57] lirenhe commented on #14409
@jhendrixMSFT , do you have any thinking for this ask?

[2021-09-10 07:58] lirenhe commented on #14032
Close this item as Go SDK does not support MS Graph operations.

[2021-09-10 07:58] #14032 closed

[2021-09-10 08:00] lirenhe commented on #1810
Close it as no action needed for this item. @jim-minter, please reopen this if you still need this design.

[2021-09-10 08:00] #1810 closed

[2021-09-10 08:03] lirenhe commented on #5974
@jhendrixMSFT, do we already support this?

[2021-09-10 08:04] lirenhe commented on #5871
Close it as there is function is not provided by Swagger and SDK is generated by Swagger.

[2021-09-10 08:04] #5871 closed

[2021-09-10 08:14] lirenhe commented on #3155
Close it as this is a service team decision. There is no action needed on SDK team

[2021-09-10 08:14] #3155 closed

[2021-09-10 08:16] lirenhe commented on #2177
@lfshr, as this issue was reported a couple of years ago, does this issue still occur?

[2021-09-10 08:18] lirenhe commented on #2176
@lfshr, as this issue was reported a couple of years ago, does this issue still occur?

[2021-09-10 08:20] lirenhe commented on #12562
Close it as ms-graph SDK will not be included in this repo.

[2021-09-10 08:20] #12562 closed

[2021-09-10 08:25] lirenhe commented on #11763
@run1et, do you still have this issue now?

[2021-09-10 08:26] lirenhe commented on #10446
@mbfrahry, does this problem still there?

[2021-09-10 08:27] lirenhe commented on #9409
@feiyushi, does the workaround provided by @ArcturusZhang work for you?

[2021-09-10 08:30] lirenhe commented on #8767
@ppanyukov，do you still face this issue?

[2021-09-10 08:31] lirenhe commented on #8376
Close it as the API is not documented is Swagger.

[2021-09-10 08:31] #8376 closed

[2021-09-10 08:37] ArcturusZhang commented on #15295
Hey @jarrodd07 , since this is caused by mismatch between swagger and actual response, this should be an issue of the swaggers instead of our SDK. Could you please open an issue in the azure-rest-api-spec repo?

[2021-09-10 08:58] ArcturusZhang commented on #15229
Hi @veezhang 😢unfortunately in your case, the error does not come from the validation in the SDK, it comes from the service, therefore we cannot do anything to improve the error message. I tagged this issue with service attention so that some one from the service team might take this a look

[2021-09-10 13:04] wilsonehusin commented on #14768
@lirenhe the original issue is a Go SDK issue, but the comment from someone else was on a CLI problem which was redirected by @ArcturusZhang. I believe this should still be an open issue, no?

[2021-09-10 13:17] dmedeiros204 commented on #15407
Thanks @804873052!
I'd really appreciate using this functionality when available to create a terraform resource on the azurerm provider to enable teams to set the retention on the table level for their LogAnlaytics workspaces.

[2021-09-10 15:45] feiyushi commented on #9409
Currently I just set it on the client level with `RequestInspector`.

[2021-09-10 20:34] danieladams456 commented on #5974
If I remember correctly, it turned out to be an issue in the keychain trust settings of one of the certs.  Sorry I forgot to close this.  Thanks!

[2021-09-10 20:34] #5974 closed

[2021-09-10 21:12] richardpark-msft opened #15536 "[service-bus] Implement ReceiveDeferredMessages"
We can currently defer messages using the receiver, but cannot receive deferred messages.

[2021-09-10 21:40] richardpark-msft commented on #15172
Added support in go-amqp here: https://github.com/Azure/go-amqp/pull/56

[2021-09-10 21:40] #15172 closed

[2021-09-10 21:48] richardpark-msft commented on #15171
This is the SB side of the story and is being handled in https://github.com/Azure/azure-sdk-for-go/pull/15480

[2021-09-10 21:49] richardpark-msft commented on #15171
Handled as part of our go-amqp PR: https://github.com/Azure/go-amqp/pull/56

[2021-09-10 21:49] #15171 closed

[2021-09-10 21:54] richardpark-msft commented on #15536
Oops, duplicate of https://github.com/Azure/azure-sdk-for-go/issues/15166. Closing this one.

[2021-09-10 21:54] #15536 closed

[2021-09-12 03:01] richardpark-msft opened #15542 "[service-bus] Adjust negotiateClaim's call to be calculated based on token expiration"
Currently our negotiateClaim refresh takes place every 15 minutes (this is just baked into the code, it's not calculated).

Other track 2 SDKs do a calculation. For instance, this is JS's:

For SAS tokens:
[code]

For AAD based tokens:
[code]

(C# has a similar calculation)

We should do something similar since these have been proven to be practical.

[2021-09-12 03:03] richardpark-msft opened #15543 "[service-bus] Connections are being created more frequently than needed"
(found while looking through the code a bit)

In other track 2 SDKs there is only a single connection created for an entire set of links (management, cbs, or otherwise).

Currently each link type appears to create it's own client (including the management link). This is wasteful (there's extra spin up time). We should eliminate these in favor of a single connection with multiple links.

[2021-09-12 08:14] adeturner commented on #15384
Thanks

[2021-09-12 10:14] adeturner commented on #15384
Apologies, I had to reopen this; whilst the original issue is fixed (go get everything) the latest build is still problematic for me. Is there an easy workaround?  Starting with an empty cache...

sudo rm -rf ./pkg/mod/github.com/*azure* ./pkg/mod/cache/download/sumdb/sum.golang.org/lookup/github.com/*azure* ./pkg/mod/cache/download/github.com/*azure*

$ grep -i azure go.mod go.sum
<no results>

[

[2021-09-13 01:51] 804873052 commented on #15020
Hi @OmnipotentOwl thanks for this issue!

Releasing a new package will require the service to submit a new SDK release request, I have added the label on this issue so that the corresponding service team could take this a look.
I also sent some internal emails to the contact of the corresponding service team about this.

[2021-09-13 02:04] 804873052 commented on #14993
Hi @ramondeklein thanks for this issue!

Releasing a new package will require the service to submit a new SDK release request, I have added the label on this issue so that the corresponding service team could take this a look.
I also sent some internal emails to the contact of the corresponding service team about this.

[2021-09-13 02:37] 804873052 commented on #15303
Hi @stephybun thanks for this issue!

Our SDK is generated based on swagger. I checked swagger after 2019-10-01 and there is no eTag attribute in BudgetProperties. Sorry for that.

[2021-09-13 02:47] 804873052 commented on #15274
Hi @haflidif thanks for this issue!

released in https://github.com/Azure/azure-sdk-for-go/tree/main/services/batch/mgmt/2021-06-01/batch.

[2021-09-13 02:48] #15274 closed

[2021-09-13 02:56] 804873052 commented on #15098
Hi @ramondeklein  thanks for this issue!

released https://github.com/Azure/azure-sdk-for-go/tree/main/services/iothub/mgmt/2020-03-01/devices.

[2021-09-13 02:56] #15098 closed

[2021-09-13 03:06] 804873052 commented on #3682
Hi @tariq1890  thanks for this issue!

The latest monitor is https://github.com/Azure/azure-sdk-for-go/tree/main/services/preview/monitor/mgmt/2021-07-01-preview/insights

[2021-09-13 03:06] #3682 closed

[2021-09-13 05:28] lirenhe commented on #15295
Close this item as this is a Swagger issue. After the swagger is fixed, the new release of CosmosDB would contain the fix.
@jarrodd07, feel free to reopen it if you have further questions. Thanks

[2021-09-13 05:28] #15295 closed

[2021-09-13 18:16] ramondeklein opened #15545 "Problem creating eventhub consumer-group (IOT-hub, 2021-03-03-preview API)"
The [`IotHubResourceClient.CreateEventHubConsumerGroup`](https://github.com/Azure/azure-sdk-for-go/blob/29ced4e3f93c031a29fed3ce86cd5420cd5661fe/services/preview/iothub/mgmt/2021-03-03-preview/devices/iothubresource.go#L123) function requires a [`EventHubConsumerGroupBodyDescription`](https://github.com/Azure/azure-sdk-for-go/blob/29ced4e3f93c031a29fed3ce86cd5420cd5661fe/services/preview/iothub/mg

[2021-09-13 19:10] RickWinter commented on #14996
@catalinaperalta, @JeffreyRichter What changes are left that need review?

[2021-09-13 19:17] RickWinter commented on #14284
@chlowell please review this ask and update the cost for the work.

[2021-09-13 19:33] RickWinter commented on #14295
The new blob package is available.
https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob

[2021-09-13 19:33] #14295 closed

[2021-09-13 19:56] RickWinter commented on #8328
Need to review our EndPoint usage.  The SDK needs to follow design guidelines for talking to many clouds

[2021-09-13 19:58] RickWinter commented on #8400
to package was moved to internal and will be replaced when Go formally supports Generics.

[2021-09-13 20:01] RickWinter commented on #8917
@lirenhe Can you review and ensure this is addressed in your latest management SDKs

[2021-09-13 20:22] seankane-msft commented on #15236
@RickWinter do you know of an example policy in other languages that takes care of this?

[2021-09-13 20:25] RickWinter commented on #12365
Available in preview
https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/azidentity

[2021-09-13 20:26] #12365 closed

[2021-09-13 20:28] #13339 closed

[2021-09-13 20:37] chlowell commented on #10815
azidentity itself doesn't support authenticating users through WS-Trust. MSAL for Go does, however, so azidentity should implicitly support it after #14920.

[2021-09-13 20:37] #10815 closed

[2021-09-13 20:54] catalinaperalta commented on #14996
I think this can be closed, I believe Jeff reviewed the multi-tenant PRs.

[2021-09-13 21:12] JeffreyRichter commented on #14996
Yes I reviewed this and we're good.

[2021-09-13 21:12] #14996 closed

[2021-09-13 21:15] JeffreyRichter commented on #8328
@jhendrixMSFT This is a very old issue. I believe that our clients support multiple clouds simply by requiring the customer to pass an endpoint when creating each client and also by allowing them to override the authentication scope. Do you think there is anything else we need to do?

[2021-09-13 21:17] seankane-msft commented on #15236
I think the addition to clients will have to be done by autorest, @jhendrixMSFT is there another way to do this? I'm willing to learn enough autorest to make that change if you're willing to sit down with me for a bit.

[2021-09-13 21:20] JeffreyRichter commented on #14329
The swagger should define a model that describes (and documents) all possible fields. $expand should just indicate which of these fields should be initialized by the service. A client should not be broken by changes here. If the swagger is bad, then it should be fixed but I do not think the SDK should change its ways.

[2021-09-13 21:43] #15372 closed

[2021-09-13 21:58] richardpark-msft commented on #15090
(@chlowell, @RickWinter will ping you about this issue)

[2021-09-13 22:10] mihaitodor commented on #14295
@RickWinter Thank you for the update, but I'm not sure I follow... I thought that github.com/Azure/azure-sdk-for-go/storage is getting deprecated in favour of https://github.com/Azure/azure-storage-blob-go. Can you please explain how this new `azblob` package relates to https://github.com/Azure/azure-storage-blob-go?

[2021-09-14 00:43] nickzhums commented on #15345
@lirenhe this seems an engineering issue - could you help to investigate?

[2021-09-14 03:28] magodo commented on #15528
@ArcturusZhang Would you please take a look at this and route it to the service team? Thanks!

[2021-09-14 06:58] tullydwyer commented on #5974
Do you remember which environment variable you used @danieladams456 ?

I am having issues setting a custom CA for Terraform Azure Provider. I have `REQUESTS_CA_BUNDLE` set for the Azure CLI and the CLI works. But Terraform gives SSL errors.

[2021-09-14 07:39] tombuildsstuff commented on #15345
@RickWinter to clarify - this issue isn't specifically regarding Track1 - Track2 merely works around it - this is a data issue which needs to be fixed within the Swagger itself. I'd suggest moving this issue to the Swagger repository [but](https://github.com/Azure/azure-rest-api-specs/issues/8335) [issues](https://github.com/Azure/azure-rest-api-specs/issues/8952) [on](https://github.com/Azure/azu

[2021-09-14 08:18] lirenhe commented on #5091
@dbaroncelli,  from the latest swagger, https://github.com/Azure/azure-rest-api-specs/blob/main/specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/networkInterface.json, only the list operation is supported.  As the SDK is generated from Swagger, we are unable to provide 'amend' if this is not supported by service.   You could create an issue in https://github.com/Azure/azu

[2021-09-14 08:32] lirenhe commented on #4867
@sopatwar, I checked the Swagger https://github.com/Azure/azure-rest-api-specs/blob/main/specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/metrics_API.json and currently, only resource URL is supported by the monitor service.  As SDK is generated by SDK, we are unable to provide an API that is not supported in service side.
Could you create an issue in https://github.com/

[2021-09-14 08:53] lirenhe commented on #4086
We don't have microsoft.graph in https://github.com/Azure/azure-rest-api-specs/.    The openAPI specs are maintained by MicrosoftGraph team in a separate repo https://github.com/microsoftgraph/msgraph-metadata.  The GO SDK would not use the openapi specs in that repo. So if you still have this request, please contact msgraph team directly. Thanks

[2021-09-14 08:53] #4086 closed

[2021-09-14 18:27] seankane-msft commented on #15116
This was added with #15505

[2021-09-14 18:27] #15116 closed

[2021-09-15 01:22] richardpark-msft commented on #15156
Fixed as of #15480

[2021-09-15 01:22] #15156 closed

[2021-09-15 01:22] richardpark-msft commented on #15156
Fixed as of #15480

[2021-09-15 01:27] richardpark-msft opened #15562 "[azservicebus] Make our batch size calculation consistent with other implementations"
Just a small check - our batch size calculation should match the other implementations.

[2021-09-15 01:33] richardpark-msft opened #15563 "[service-bus] MessageID is required to be set (internal investigation only)"
This is just a running list of small things that we should look into.

Some fields appear to be required in our stack, that are optional (from what I can tell) in others:
- MessageID is _required_ to be set (not sure where in the stack this is failing). I believe this field is supposed to be optional - currently we fill this out on behalf of the user if they do not.

[2021-09-15 06:27] lirenhe commented on #12227
Our library for the new version will GA this year and we already have the preview https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/network/armnetwork.  Please have a try on whether it could solve your problem. We won't fix it in old version of the SDK.

[2021-09-15 06:28] ArcturusZhang commented on #15528
Hi @cdnfdsuppgithub can you please submit a release request to refresh this api-version in order to unblock our terraform work?

[2021-09-15 08:51] anttikes commented on #15275
As an update to the matter, our team decided to put the CosmosDB resource definitions into a JSON file. So, fixing this issue is no longer any priority for us. But perhaps other Golang users might be interested in getting this feature?

[2021-09-15 09:32] ArcturusZhang commented on #9409
Since `RequestInspector` works, I would close this PR.

[2021-09-15 09:32] #9409 closed

[2021-09-15 09:48] lirenhe commented on #9216
Data plane package, @RickWinter could you help to check?

[2021-09-15 11:16] ppanyukov commented on #8767
I will need to check @lirenhe , I assume there were changes to the SDK which should help resolve this?

[2021-09-15 16:16] chlowell commented on #14405
AzureCliCredential simply execs the CLI, which then gets a token from whatever tenant it's logged in to. That means there's nothing special about this case for the credential: it just works with ADFS when the CLI is configured appropriately, and there's no special azidentity behavior or API to test.

However, we do need to document that other credentials require a magic "adfs" tenant, so rather th

[2021-09-15 18:19] RickWinter opened #15568 "Keyvault Secrets SDK"

[2021-09-15 18:39] seankane-msft opened #15569 "[KeyVault] Azure SDK Arch Board Review"

[2021-09-15 18:41] seankane-msft opened #15570 "[KeyVault] Secret Client APIs"
There are 12 operations under the [rest API](https://docs.microsoft.com/en-us/rest/api/keyvault/#secret-operations)
- [ ] Backup Secret
- [ ] Delete Secret
- [ ] Get Deleted Secret
- [ ] Get Deleted Secrets
- [ ] Get Secret
- [ ] Get Secret Versions
- [ ] Get Secrets
- [ ] Purge Deleted Secret
- [ ] Recover Deleted Secret
- [ ] Restore Secret
- [ ] Set Secret
- [ ] Update Secret

[2021-09-15 18:43] seankane-msft opened #15571 "[KeyVault] Secrets testing"

[2021-09-15 18:44] seankane-msft opened #15572 "[KeyVault] Documentation for Secrets (doc.go and README)"
Writing basic README and more detailed use cases in doc.go

[2021-09-15 18:45] seankane-msft opened #15573 "[KeyVault] Samples"
Write samples and verify they are integrated with `godoc` properly

[2021-09-16 04:39] lirenhe commented on #1826
@katbyte, as this item has been there or long time, did you still face this issue? If so, could you provide more detail?

[2021-09-16 04:44] lirenhe commented on #1828
@tombuildsstuff, as this item has been there or long time and it seems to be a service issue, did you get some other report of this issue recently? If so, could you provide more detail?

[2021-09-16 04:58] lirenhe commented on #3192
@shelleybess, as the issue have been there for long time, do you still face the same issue again? If so, could you provide the code that could reproduce this issue?

[2021-09-16 05:03] lirenhe commented on #3805
@katbyte, as this issue has been there for long time, could you still reproduce this issue by using the latest version of Go SDK?

[2021-09-16 05:52] lirenhe commented on #5563
@jhendrixMSFT, as the serviceRequestId  should be part of the response header based on ARM guideline, is it possible to update codeGen to expose that value?

[2021-09-16 06:04] lirenhe commented on #12024
@rogercoll, the latest version of GO SDK contains the fix. Close this issue and please let us know if you have this issue again.

[2021-09-16 06:04] #12024 closed

[2021-09-16 06:42] lirenhe commented on #12249
@brondum, Msgraph team has their repo https://github.com/microsoftgraph/msgraph-metadata for the api definition.
As the SDK of msgraph is not handled in this repo, please contact MSGraph team directly.

[2021-09-16 06:42] #12249 closed

[2021-09-16 06:51] lirenhe commented on #11574
@rushabh268 , please help to check whether the latest version of GO SDK could solve your problem? Thanks

[2021-09-16 06:54] lirenhe commented on #9851
@manicminer, we don't release the SDK for msgraph API, for any feature ask, please create new issue in https://github.com/microsoftgraph/msgraph-metadata. thanks

[2021-09-16 06:54] #9851 closed

[2021-09-16 07:01] richardpark-msft commented on #15136
Implemented in #15561

[2021-09-16 07:01] #15136 closed

[2021-09-16 07:02] richardpark-msft commented on #14907
The 'manual credits' portion has been implemented now.

[2021-09-16 08:12] manicminer commented on #9851
This feature request was for AAD Graph as per the issue title

[2021-09-16 09:12] lirenhe commented on #8663
The latest release of Sql already contains this feature. Close this item and @katbyte please let us know if you still face the problem.

[2021-09-16 09:12] #8663 closed

[2021-09-16 16:17] dmedeiros204 opened #15581 "[app-service] Support Listing Publishing Profile"
### Feature Request

Support the ability to use these endpoints to list the publishing profile of an web app or azure function

https://docs.microsoft.com/en-us/rest/api/appservice/web-apps/list-publishing-profile-xml-with-secrets

With Slot support

https://docs.microsoft.com/en-us/rest/api/appservice/web-apps/list-publishing-profile-xml-with-secrets-slot

[2021-09-16 16:52] seankane-msft opened #15582 "[Tables] Fix ClientOptions"
Rename `PerCallOptions` => `PerCallPolicies`
Add a `PerTryPolicies` option

[2021-09-16 18:01] a-santamaria commented on #15120
This should be available on the next release of the sdk. The cahnges are already in for v57.1.0 https://github.com/Azure/azure-sdk-for-go/pull/15435

[2021-09-16 22:58] jaylabell commented on #12309
@Drewm3 Do you mind taking a look at this issue please?

[2021-09-17 01:20] chlowell commented on #10567
Instead of adding public API as described in the gist, we (identity v-team) decided to implement the behavior internally with a fixed default configuration. Specifically, we wanted a credential / bearer token auth policy (which one depends on SDK implementation) to behave like this when asked for a token / authorizing a request:
- if no access token on hand: acquire a new one; use that
- if access

[2021-09-17 03:47] tadelesh commented on #15545
Thank you for your feedback. As for the CreateEventHubConsumerGroup unmarshall crash, we will resolve it by next SDK release which will upgrade iothub api version to 2021-03-31.

[2021-09-17 06:04] lirenhe commented on #8767
We are working on the preview of the next version of Go SDK. And we started to preview a couple of packages. you could have a try of https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/web/armweb to check whether it solves your problem.

[2021-09-17 06:33] lirenhe commented on #8917
@RickWinter, it seems the problem is not addressed in track 2. Will you consider to handle that in future releases?

[2021-09-17 06:40] lirenhe commented on #14768
@wilsonehusin, you are correct. I reopen this one and we will ask service team for a new release of MarketplaceOrdering.

[2021-09-17 06:52] 804873052 commented on #14768
Hi @wilsonehusin  thanks for this issue!

Releasing a new package will require the service to submit a new SDK release request, I have added the label on this issue so that the corresponding service team could take this a look.
I also sent some internal emails to the contact of the corresponding service team about this.

[2021-09-17 06:54] lirenhe commented on #15173
@RickWinter, as there is only azcore now, will this be a task for Joel to handle? Please let me know if you need help on this. Thanks.

[2021-09-17 07:08] lirenhe commented on #14261
@MirzaSikander, as the GO SDK is generated from Swagger, we are unable to adjust the behaviour defined in the Swagger spec.
I will close this issue and if you still have concern on this Swagger change, please create an issue in https://github.com/Azure/azure-rest-api-specs/issues

[2021-09-17 07:08] #14261 closed

[2021-09-17 07:19] lirenhe commented on #14396
@jhendrixMSFT, I think for track 2, we have decided to use single api version in one module. In general, we will release one module for one RP except for some special RP like resources.
 Is there any additional action items still needed for this issue

[2021-09-17 07:32] lirenhe commented on #14090
@ross-p-smith, could you help to check the latest released GO sdk for insights? There are a couple of releases this year and the change should be already included. Let me know if you have any questions. Thanks

[2021-09-17 13:22] shueybubbles opened #15586 "Please document how to get a token with impersonation_scope to connect to an Azure SQL Database"
### Feature Request

I am trying to implement the equivalent of [sqlcmd -G](https://docs.microsoft.com/sql/tools/sqlcmd-utility?view=sql-server-ver15), using the token-based access connector of the [go-mssqldb](github.com/denisenkom/go-mssqldb) driver.

The driver doesn't yet negotiate with the server to provide the tenant id and authority URLs so I know I have to use defaults for now, or have the

[2021-09-17 14:17] jhendrixMSFT commented on #14396
Closing as this is POR for track 2.

[2021-09-17 14:17] #14396 closed

[2021-09-17 14:55] jhendrixMSFT commented on #8400
It was moved to `azcore/to`.

[2021-09-17 14:55] #8400 closed

[2021-09-17 14:58] jhendrixMSFT commented on #8328
@JeffreyRichter while we do support this today via custom endpoints, you have to match them when authenticating and creating a client.  What I was conceptually envisioning was that you could indicate "use USGov cloud" and the correct endpoints would be wired up.

[2021-09-17 15:03] jhendrixMSFT commented on #14329
Closing as we have moved optional params to the "optional params struct" to avoid method sig breaking changes (we can't omit this).

[2021-09-17 15:03] #14329 closed

[2021-09-17 15:11] jhendrixMSFT commented on #5563
Is this uniform across all ARM RPs?  Ideally this would be modeled in the swagger so that the code generator would include this field in the error type (we codegen the modeled error types in track 2 only).

CC @JeffreyRichter

[2021-09-17 15:22] jhendrixMSFT commented on #8917
Also, for track 2, should we be using the `azcore.ETag` type in code generation?

[2021-09-17 17:58] seankane-msft opened #15587 "[Core] Add documentation of `azcore.HTTPResponse` interface"
[code]

[2021-09-17 18:05] chlowell commented on #15586
You call the credential's `GetToken` method. `azidentity` uses the Azure AD v2 endpoint, so you would request a token for the v2 scope `/.default`, which has the same permissions as the v1 resource:
[code]

[2021-09-17 18:17] AlexGhiondea opened #15588 "Azure SDK MQ 2021 work for Go"
This tracks the Azure SDK MQ 2021 work for Go

General investment themes

- Documentation
  - Doxygen comment consistency
  - Readme improvements
  - Create a vibrant set of Samples
- Test Improvements
  - Increase code coverage %
  - Perf framework
  - Add performance tests
  - Add stress tests
- Other
  - Easier code reviews with public surface area change highlighting in PRs
  - Dogfood the SDK

[2021-09-17 18:33] RickWinter commented on #15586
@chlowell Lets add this snippet to the identity README.md docs

[2021-09-17 18:49] #2060 closed

[2021-09-18 02:01] lirenhe commented on #15581
@dmedeiros204, to clarify your ask, is it about you could listing Publishing profile by api documented but you are unable to use it in GO SDK or the rest API also does not have this ability?

[2021-09-18 02:07] shueybubbles commented on #15586
Is there a way to provide a login hint for the interactive login?

[2021-09-18 03:27] 804873052 commented on #14892
Hi @magodo thanks for this issue!

Releasing a new package will require the service to submit a new SDK release request, I have added the label on this issue so that the corresponding service team could take this a look.
I also sent some internal emails to the contact of the corresponding service team about this.

[2021-09-18 14:57] dmedeiros204 commented on #15581
I'd like the go sdk to support this existing rest API functionality, unless I missed something it currently does not.

[2021-09-20 15:17] chlowell opened #15599 "login_hint support for InteractiveBrowserCredential"
Seems sensible to finish #14920 first and let MSAL handle this but it's uncertain when that will be possible because MSAL doesn't yet allow setting login_hint (https://github.com/AzureAD/microsoft-authentication-library-for-go/issues/271). Adding it to our own auth code flow would create a blocker for  transitioning to MSAL.

[2021-09-20 15:22] chlowell commented on #15586
Not today, but we intend to enable that. I created #15599 to track it.

[2021-09-20 15:50] #15587 closed

[2021-09-20 17:18] #15582 closed

[2021-09-20 20:18] JeffreyRichter commented on #5563
If they wrap our error and we return the entire response headers, then it is trivial for them to just grab the header value they desire.

[2021-09-20 22:48] takekazuomi opened #15600 "Wiki Image link is broken in Set-up-Your-Environment-for-Authentication"
### Bug Report

The link to the image is broken in the document below.

https://github.com/Azure/azure-sdk-for-go/wiki/Set-up-Your-Environment-for-Authentication#enable-applications-for-device-code-flow

![image](https://user-images.githubusercontent.com/73158/134086173-4edfc692-264c-4d6b-a375-54b67f488e2e.png)

Although it is described as a link like the one below. `/blob/master/` is a mistake in

[2021-09-20 23:56] savaradh opened #15601 "Please provide documentation on how to use paginated response from armauthorization client"
### Feature Request

I am trying to use ListForResource from armauthorization client. It is returning a new type PermissionsListForResourcePager which has NextLink and PageResponse. Requesting clear documentation on how to navigate through this PermissionsListForResourcePager.
[code]

[2021-09-21 04:15] fitzgeraldsteele opened #15602 "GET VMSS expand parameter not required"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
/services/compute/mgmt/2021-07-01/compute/virtualmachinescalesets.go#L553

- SDK version e.g. `master`, `latest`, `18.1.0`
latest
Release v57.0.0 1630045276 (#15400)

  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azur

[2021-09-21 16:20] RickWinter commented on #15600
Thank you for taking the time to report this issue.  I've updated the wiki links.

[2021-09-21 16:21] #15600 closed

[2021-09-21 22:08] chlowell opened #15605 "Support ESTS-R"
Would be easiest with MSAL handling the details (MSAL adoption is tracked by #14920).

[2021-09-22 02:42] 804873052 commented on #15504
released in https://github.com/Azure/azure-sdk-for-go/tree/v57.3.0/services/preview/apimanagement/mgmt/2021-01-01-preview/apimanagement

[2021-09-22 02:42] #15504 closed

[2021-09-22 03:43] t-bzhan commented on #15528
Ack

[2021-09-22 06:07] fitzgeraldsteele commented on #15602
@RickWinter @lirenhe is there any way to get an RCA for this one? How is possible that an optional parameter in the API gets made as required in the SDK? Is there something we need to do differently in swagger?

[2021-09-22 06:12] richardpark-msft opened #15610 "[service-bus] Error handling needs work to be consistent and reliable"
As part of a recent refactor it's become more obvious that the error handling in Service Bus needs to be made more consistent. There are some good classification functions in the older code (which needs to be brought forward) and basically we just need to have enough information to say:

- This link is dead and needs to restart
- There is a retryable issue here (transient) and we should just try i

[2021-09-22 07:21] #15602 closed

[2021-09-22 07:23] ArcturusZhang commented on #15602
And BTW, in track 1 SDK, you will have to assign an empty string to it if you do not want to pass `expand` parameters.

[2021-09-22 07:23] ArcturusZhang commented on #15601
Hi @804873052 could you help on this?

[2021-09-22 07:25] vijayrajah opened #15612 "Auth Interop between sdk/ & /services sdks"
Currently not all RP modules are available in the new SDK. So for some APIs we need to use the 'old' SDK. (EX: subscriptions client)

The new sdk use different auth mechanism compared to the old (authorizer )

Is there a doc on how can we use `azcore.TokenCredential` with old `autorest.Authorizer` ( or the other way)

Thanks
Vijay

[2021-09-22 07:28] ArcturusZhang commented on #15581
Hi @dmedeiros204 I would like to clarify that would like a new-version SDK in the `sdk` directory, or an old-version SDK in the `services` directory? BTW we should already support this API in our new-version of SDKs. You can find it in this file: https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/web/armweb/zz_generated_webapps_client.go (unfortunately it cannot be rendered on the github page

[2021-09-22 07:32] ArcturusZhang commented on #15612
Hi @vijayrajah thank you for this issue!

We actually have a sample to convert a `azcore.TokenCredential` to `autorest.Authorizer` here: https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/samples/azidentity/SDKV1Adapter

[2021-09-22 09:28] 804873052 commented on #15601
@savaradh You can refer to https://github.com/Azure-Samples/azure-sdk-for-go-samples/pull/308/files#diff-fc361b82c4b795bb9dd57ffe0d1131ea0e36bafc44e7596488b0013305f6262bR121

[2021-09-22 09:29] tadelesh commented on #15227
Thank you for your feedback. In 2021-02-01 web mgmt SDK, ManagedServiceIdentity can be updated by UpdateSlot API with siteEnvelope param (siteEnvelope -> Identity -> UserAssignedIdentities).

[2021-09-22 09:30] vijayrajah commented on #15612
@ArcturusZhang  -- Thanks for the reply.

The example does not work anymore, as the azcore module has been refactored in multiple modules.

I tried to fix the issue, based on the example from [https://github.com/jongio/azidext/blob/master/go/azidext/azure_identity_credential_adapter.go](here)

The `azcore.Request` has been refactored into `pipeline.NewRequest` ( `github.com/Azure/azure-sdk-for-go/

[2021-09-22 15:59] jhendrixMSFT commented on #15384
I think the problem here is that your path to `armservicebus` is incorrect.  It should be `github.com/Azure/azure-sdk-for-go/sdk/servicebus/armservicebus`

See https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/servicebus/armservicebus

[2021-09-22 16:12] adeturner commented on #15384
Thanks Joel... I did get it working but forgot to update. I'll be honest, I didn't really understand how to use the servicebus library so gave up and wrapped az cli to get the job done, and then azure-service-bus-go for the client+topic/sub building.

If there is any documentation or samples that explains how to use the auto-generated APIs with a local service principal I've love to see it.  That

[2021-09-22 16:13] #15384 closed

[2021-09-22 16:23] chlowell opened #15614 "Add VisualStudioCodeCredential"
This is blocked on a design for the integration with VS Code.

[2021-09-22 16:31] chlowell opened #15615 "Support workload identity federation"
~Blocked on #17417~

Workload Identity isn't yet supported out of the box but my comment below (https://github.com/Azure/azure-sdk-for-go/issues/15615#issuecomment-1211012677) has an implementation you can copy in the meantime for use with azidentity v1.2.0-beta.2 or later.

[2021-09-22 18:23] scottadamsmith opened #15616 "Add service package for cognitiveservices/v3.1/textanalytics"
### Service Package Request

Service: CognitiveServices > TextAnalytics > v3.1
Language: Golang

I started using the golang package github.com/Azure/azure-sdk-for-go/services/cognitiveservices/v2.1/textanalytics to integrate with the DetectLanguage and Sentiment apis, but I overlooked the fact that it was using the older 2.1 api. I realized this once I tried to handle the output and saw that the p

[2021-09-23 07:22] tadelesh commented on #15545
@ramondeklein We have released [v57.4.0](https://github.com/Azure/azure-sdk-for-go/releases/tag/v57.4.0), you can try new api version: github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2021-03-31/devices. Have fun, thanks.

[2021-09-23 11:51] ramondeklein commented on #15545
Works fine.

[2021-09-23 11:51] #15545 closed

[2021-09-23 12:54] ripa1993 opened #15624 "The resource type 'roleAssignments' could not be found in the namespace 'Microsoft.Authorization' for api version '2020-10-01-preview"
### Bug Report

- import path: `github.com/Azure/azure-sdk-for-go/sdk/authorization/armauthorization`
- SDK version: 5.74.0
[code]
- output of `go version`:
[code]

- What happened?
It's not possible to create role assignments via `armauthorization.RoleAssignmentsClient` due to
[code]

- What did you expect or want to happen?
I would expect to successfully create the role assignment

- How can we

[2021-09-23 15:36] RickWinter commented on #15605
We will not be adding this directly.  This will be added/addressed as part of the MSAL adoption.

[2021-09-23 18:36] richardpark-msft opened #15626 "[service-bus] Abandoning a deferred message doesn't put it back in the queue"
(revising somewhat)

I've got a PR out with this failure in a reproducible state. It looks like the bug is specific to when I abandon a message that's been deferred. It doesn't work quite how I expect - the message does not reappear in the previous queue it was in.

(this code repros it. It might be that I'm misunderstanding what should happen here, but this seems to work just fine in the JS SDK):

[2021-09-23 20:58] MoAhuja opened #15627 "Support for Purview Scanning API - 2018-12-01-preview"
### Service Package Request

Need Support for: [Purview Scanning API 2018-12-01-preview](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/purview/data-plane/Azure.Analytics.Purview.Scanning/preview/2018-12-01-preview)

Will be used in Terraform, but no issue opened yet on the azurerm provider.

[2021-09-24 05:47] lirenhe commented on #15248
Azure AD Graph API is now deprecated. We do not support SDK and sample fixes to this product anymore. Please refer to this issue for additional way to get support to move to Microsoft Graph API:
https://github.com/azure-deprecation/dashboard/issues/60

[2021-09-24 05:47] #15248 closed

[2021-09-24 05:48] lirenhe commented on #9216
Azure AD Graph API is now deprecated. We do not support SDK fixes to this product anymore. Please refer to this issue for additional way to get support to move to Microsoft Graph API:
https://github.com/azure-deprecation/dashboard/issues/60

[2021-09-24 05:48] #9216 closed

[2021-09-24 08:56] favoretti commented on #15042
@toddysm still running into the same issue. Any updates?

[2021-09-24 11:24] lfshr commented on #2176
I don't really have my environment set up to test. As it was a few years ago, and AKS now supports Kubenet with Calico, I'd assume this could be closed.

[2021-09-24 11:26] lfshr commented on #2177
Same story with this one. I'd assume it could be closed.

[2021-09-24 15:34] chlowell commented on #15507
Option 2 won't do because failing to pass a necessary credential to a constructor should be a build error. If the constructor gets its credential via a variadic parameter, this would be a runtime error instead. Having one constructor for each credential type makes the credential and its type a clear part of the API contract, and uses the compiler to enforce that contract.

So, we'll go with more c

[2021-09-24 15:34] #15507 closed

[2021-09-24 16:21] larsmaes opened #15631 "Support Tags on App Service Environments"
### Feature Request
Please support defining tags on the app service environments api

[2021-09-24 16:56] chlowell opened #15632 "InteractiveBrowserCredentialOptions.RedirectURL doesn't work"
`InteractiveBrowserCredential.GetToken()` starts a redirect server only when `InteractiveBrowserCredentialOptions.RedirectURL` has no value:
https://github.com/Azure/azure-sdk-for-go/blob/6ff991256abe3ac3c5b5c43a977f34f230782a02/sdk/azidentity/interactive_browser_credential.go#L128-L132

Acquiring a token is therefore impossible when the option has a value. Fixing this is more complex than simply

[2021-09-24 21:15] rushabh268 commented on #11574
@ArcturusZhang Let me see if I get the Domain and DisplayName in the API now. I will have to update the SDK version

[2021-09-24 22:40] richardpark-msft opened #15638 "ServiceBus client should accept Azure Identity as an authentication mechanism"
ServiceBusClient accepts a connection string, but should also accept a TokenCredential, like the ones from Azure Identity

[2021-09-26 02:07] 804873052 commented on #14993
iothub stable latest version 2021-03-01 released in: https://github.com/Azure/azure-sdk-for-go/tree/v57.4.0/services/iothub/mgmt/2021-03-31/devices

[2021-09-26 02:07] #14993 closed

[2021-09-26 20:28] richardpark-msft opened #15642 "[service-bus] Unify all the various retry mechanisms"
We've got a mixture of amqp-common Retry and the nice Backoff package that Joel used in EventHubs.

I added in a retrier.go that blends together Backoff with a limited retry count that has a simpler flow since it's just used in a normal for loop, rather than a callback.

I need to do a couple of things:
- Remove usages of amqp-common Retry, replace with retrier
- Establish some reasonable defaults

[2021-09-27 05:32] richardpark-msft opened #15644 "[service-bus] amqp-common's retryableRPC method returns string errors"
The retryableRPC() function returns errors as strings.

There's enough information in the underlying RPC call that should give us some more programatically actionable fields in the error. We should fix it so it does just that, rather than forcing us to parse strings to figure out what the error is.

[2021-09-27 06:39] tombuildsstuff commented on #3805
@shemers did you hear back from the engineering team on this one?

[2021-09-27 07:40] magodo opened #15645 "ACR model not align with Swagger: non-exist field `StorageAccount` defined in model `RegistryProperties`"
### Bug Report

In side the ACR code in current main branch, there defined a non-exist field `StorageAccount` (in turns of [Swagger definition](https://github.com/Azure/azure-rest-api-specs/blob/06a8e3f942ff066ea1eeed1d777c162d312114e2/specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2020-11-01-preview/containerregistry.json#L3994)) defined in model [`RegistryPr

[2021-09-27 08:42] 804873052 commented on #15624
Hi @ripa1993 thanks for this issue!

Releasing a new package will require the service to submit a new SDK release request, I have added the label on this issue so that the corresponding service team could take this a look.
I also sent some internal emails to the contact of the corresponding service team about this.

[2021-09-27 09:33] aristosvo commented on #15475
@lirenhe This is also required for https://github.com/hashicorp/terraform-provider-azurerm/issues/13514. Would be great to have!

[2021-09-27 15:36] stephybun commented on #15303
Thanks for the response @804873052, could you then please add the field to the swagger spec so that it can be generated in the SDK?

[2021-09-27 16:57] RickWinter commented on #15616
Thank you for using the Go SDK and providing feedback.  We are working to provide support for all of Azure in Go.  I can't say specifically when this service will be available in the Go SDK.

[2021-09-27 17:57] richardpark-msft opened #15646 "[amqp-common] Migrate Azure/azure-amqp-common-go into monorepo"
Service Bus (track 0 and track 2) as well as the GA'd Event Hubs package both depend on this external dependency.

This is purely an internally used package (unlike `go-amqp`) so moving this into the monorepo (azure-sdk-for-go) makes sense.

For SB, which is in the monorepo, this isn't a problem. However, we are probably stymied from doing this immediately because of Event Hubs, which is in an ext

[2021-09-28 02:20] 804873052 commented on #15303
@stephybun  Swagger is maintained by the service team and I cannot modify it directly. I found that Budget has a root level ETag field, you see https://github.com/Azure/azure-sdk-for-go/blob/main/services/consumption/mgmt/2019-10-01/consumption/models.go #L232

[2021-09-28 06:13] lirenhe commented on #982
@joshgav, as there is still a gap for swagger, please follow up on https://github.com/Azure/azure-rest-api-specs/issues/4408

[2021-09-28 06:13] #982 closed

[2021-09-28 06:16] lirenhe commented on #1823
This item has been there for 3 years with no action from service team. Close this one and @katbyte, please let us know if the issue is still there and you need a fix for it.

[2021-09-28 06:16] #1823 closed

[2021-09-28 06:17] lirenhe commented on #1825
This item has been there for 3 years with no action from service team. Close this one and @katbyte, please let us know if the issue is still there and you need a fix for it.

[2021-09-28 06:17] #1825 closed

[2021-09-28 06:18] lirenhe commented on #2176
Thanks @lfshr.  Close this item.

[2021-09-28 06:18] #2176 closed

[2021-09-28 06:19] lirenhe commented on #2177
Thanks @lfshr, close this one.

[2021-09-28 06:19] #2177 closed

[2021-09-28 06:24] lirenhe commented on #2397
The issue was last updated about 2 years ago and as described, such APIs already existed.
As the GO SDK is generated from Swagger, I expected the function is also there. Please let me know if you still have issue.

[2021-09-28 06:24] #2397 closed

[2021-09-28 06:48] bigdatasourav opened #15652 "Service Bus Namespace list API returns error if encryption is set."
### Bug Report

- "github.com/Azure/azure-sdk-for-go/services/preview/servicebus/mgmt/2018-01-01-preview/servicebus"
- SDK version v55.4.0+incompatible
- output of `go version` -go version go1.17 darwin/amd64

Service Bus Namespace list API returns an error if encryption is set. The API returns KeyVaultProperties of Encryption as an array of objects whereas in azure go SDK in the model it is defin

[2021-09-28 08:46] 804873052 commented on #15645
Hi @magodo thanks for this issue!

Releasing a new package will require the service to submit a new SDK release request, I have added the label on this issue so that the corresponding service team could take this a look.

[2021-09-28 09:21] sundowndev commented on #15384
Hi, I have the same issue with package `github.com/Azure/azure-sdk-for-go/sdk/resources/armresources`.

[code]

I don't get why the error is about `github.com/!azure/azure-sdk-for-go/sdk/armcore` but it only happens when importing `armresources`. Is there a workaround for this ?

[2021-09-28 09:23] lirenhe commented on #12452
From https://github.com/Azure/azure-rest-api-specs/issues/11849, I believe the issue was fixed from service side. Close this item and please let me know if you have other asks.

[2021-09-28 09:23] #12452 closed

[2021-09-28 09:28] lirenhe commented on #3921
@kpfaulkner, this item has been there for years so i will close it.
As the SDK is auto generated from Swagger, you may check the rest API directly for the solutions.
Please let us know if you still have problem.

[2021-09-28 09:28] #3921 closed

[2021-09-28 09:32] lirenhe commented on #4248
@avarabyeu, close this item as it has been there for more than 1 year with no reply.
Please let us know if you have further comments.

[2021-09-28 09:32] #4248 closed

[2021-09-28 09:33] lirenhe commented on #5222
Azure AD Graph API is now deprecated. We do not support SDK fixes to this product anymore. Please refer to this issue for additional way to get support to move to Microsoft Graph API:
azure-deprecation/dashboard#60

[2021-09-28 09:33] #5222 closed

[2021-09-28 09:51] lirenhe commented on #5563
@ehashman  to get the serviceRequestId, you could leverage RawResponse returned in API call get grab the header value if needed.

[2021-09-28 09:51] #5563 closed

[2021-09-28 13:43] rebecca-makar commented on #14944
@ArcturusZhang anything I should do for a work around?
Tried some things out last week, was able to get it to build, but not run.

[2021-09-28 14:33] adeturner opened #15656 "SDK documentation for consumers"
Apologies, I'm going to ask an almost certainly naïve question....

For the autogenerated SDKs like armcosmos and armservicebus, please can you point me to the client documentation?

E.g. https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/cosmos/armcosmos

Here there are zz_ files, but no instruction at all on how to use them other than limited methods for authentication.

Sleuthing around au

[2021-09-28 22:47] richardpark-msft opened #15661 "MQ: generate a simple "public API" file to make it simpler to see when we change or expose new symbols"
It's good to have a handle on what the public symbols are for a package.

Some ideas:
- Upload changes to apiview. It has a built-in diff as well as comment support, which can be useful for collaborating on changes after a PR.
- Auto-generate a readable text file and check that in, along with a CI step that validates that what's committed into the branch/PR matches what gets generated. This is nic

[2021-09-28 23:10] richardpark-msft commented on #15638
Implemented in https://github.com/Azure/azure-sdk-for-go/pull/15639

[2021-09-28 23:10] #15638 closed

[2021-09-28 23:10] richardpark-msft commented on #15542
Implemented in https://github.com/Azure/azure-sdk-for-go/pull/15639

[2021-09-28 23:10] #15542 closed

[2021-09-29 00:59] richardpark-msft commented on #15164
Moving session support to November.

[2021-09-29 01:00] richardpark-msft commented on #15164
Actually, all the work is done for this.

Session support is covered in https://github.com/Azure/azure-sdk-for-go/issues/15163.

[2021-09-29 01:00] #15164 closed

[2021-09-29 02:46] lirenhe commented on #5082
@juho9000, as this item has been created 2 years, i will close this item. If you still face this issue and want this issue to be fixed, please reopen this item.

[2021-09-29 02:46] #5082 closed

[2021-09-29 08:00] shemers commented on #3805
Hi @tombuildsstuff,
yes, we are working with the engineering teem regarding this request,
unfortunately, this is not straightforward fix as originally hopped,
the case conversion is done as part of the write process, and not the fetch process.
as such we are collaborating with other teams to make sure that the fix won't cause an issue in other areas.
also, even after the fix is implemented, we can

[2021-09-29 08:35] ArcturusZhang commented on #15631
Hi @larsmaes thanks for this issue!

We already supported tags on the AppServiceEnvironment API: https://github.com/Azure/azure-sdk-for-go/blob/68917a8081b5b2362b75be7fd985d50004621fa1/services/web/mgmt/2021-02-01/web/appserviceenvironments.go#L263 (I cannot give you a link to the corresponding models since that file is too big for Github to render)

[2021-09-29 09:16] tombuildsstuff commented on #15631
@ArcturusZhang this needs to be added to the Patch API too, the PUT endpoint can cause an outage iirc

[2021-09-29 11:45] eliecharra commented on #15384
It seems that it worked by removing `armcore` and use `azcore/arm` instead. I also have to update `armstorage` to be able to pass `azcore.arm.Connection` to client constructor

[2021-09-29 18:23] #15011 closed

[2021-09-30 10:57] stephybun commented on #15303
@804873052 thanks for pointing the field out on root level, must have missed it. Unfortunatel the reason we thought we needed the ETag was for toggling the `thresholdType` in the notification for a budget, but even when sending the ETag along in the request the field still isn't properly updated. You can close this issue - I will raise a new one in the swagger repo.

[2021-09-30 12:30] AbelHu opened #15675 "Need help to investigate the failure in swagger PR for AKS new API version 2021-09-01"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

- What happened?
- What did you expect or want to happen?
- How can we r

[2021-09-30 18:24] richardpark-msft opened #15676 "Migration guide moving from ARM track 1 to track 2"
It's useful for customers if they can get a good estimate of how much change is required in their code as well as something we can point to when customers ask.

It also gives us a chance of people finding it via search, organically, when they look for why an old symbol doesn't exist anymore.

As an example, for Service Bus, we wrote guides like this: https://github.com/Azure/azure-sdk-for-js/blob/

[2021-09-30 19:18] richardpark-msft opened #15678 "[service-bus] Tracing"
This issue tracks adding in distributed tracing using our `azcore/tracing` package, which has an adapter so it can report to OpenTelemetry.

Main issue: https://github.com/Azure/azure-sdk-for-go/issues/19280

There are some features missing to do linking and to generate diagnostic IDs, which are detailed in this comment: https://github.com/Azure/azure-sdk-for-go/issues/19280#issuecomment-166490202

[2021-09-30 19:42] devigned commented on #15678
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/azuremonitorexporter is what we are using in Cluster API Provider Azure. You can see it used in [comparison with Jaeger and App Insights here](https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1575). There is some work to be done for metrics and log events, but it's not too far off. The comparison

[2021-09-30 19:47] lmolkova commented on #15678
Azure Monitor plans in Go do not include an in-process exporter, but they are going to have an official collector-based exporter (out-of-process agent) in the long term. As @devigned  just commented there is [unofficial](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/azuremonitorexporter) one.

I'm curious to learn what API we'd want to expose to users for tra

[2021-09-30 20:40] lmolkova opened #15679 "Keep span names short"
### Bug Report

**What happened?**
Got my eyes on this beautiful screenshot here https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1575
Span names include package name that's a bit long and not very useful. We keep them to className.methodName across other languages

![image](https://user-images.githubusercontent.com/2347409/135526998-129eb9a8-e2fe-42fb-9840-524f3f09d6fc.png)

**W

[2021-10-01 03:55] tadelesh commented on #15652
Thanks for your feedback. KeyVaultProperties parameter type has been changed from object to array since api version: 2021-01-01-preview. Could you please upgrade the go sdk version to v58.0.0+incompatible and use the new preview api verison for service bus: github.com/Azure/azure-sdk-for-go/services/preview/servicebus/mgmt/2021-06-01-preview/servicebus. Thanks

[2021-10-01 03:58] tadelesh commented on #15656
Thank you for your feedback. Since we are working on the preview of new go SDK version, examples for each RP as well as detailed API doc are on the way before GA. I've added our PM to this issue and will keep you in touch with the new update. Thanks.

[2021-10-01 12:21] AbelHu commented on #15675
ping! This blocks AKS new API version 2021-09-01. We need your help.

[2021-10-01 14:57] devigned commented on #15678
Any thoughts on why we wouldn't continue to build upon the "unofficial" exporter? Seems to work pretty well thus far. Also, how long is long term? Are we talking days, months, years?

[2021-10-01 16:14] lmolkova commented on #15678
I don't really know if it will be built on top of an unofficial one or will be rebuilt from scratch for some reason. There is no timeline, so unoffical exporter is as good as it gets in the near future.
Here's the source: https://techcommunity.microsoft.com/t5/azure-monitor/opentelemetry-azure-monitor/ba-p/2737823

[2021-10-01 16:58] chlowell opened #15682 "azidentity live tests"

[2021-10-01 18:26] jhendrixMSFT commented on #15675
Per internal conversation this was introduced in https://github.com/Azure/azure-rest-api-specs/pull/15054 which way likely intentional so that the swagger matches what comes over the wire.  The CI failure is non-blocking so you can proceed.

@ArcturusZhang will this continue to show up in future PRs?

[2021-10-01 18:43] jhendrixMSFT opened #15684 "Proposal: Include a resource group when creating clients"
Please add a 👍 reaction if you support this proposal. If you do not, please leave a comment describing why.

**Hypothesis**
The majority of ARM clients are used to perform operations within a single resource group.

We're considering a change that would fold the resource group name parameter into the client constructor.  This means that the clients would implicitly perform their operations within

[2021-10-01 22:49] chlowell opened #15686 "Prototype an authorization policy for ARM"
Goals:
- support cross-tenant authentication
- remove AuxiliaryTenants from runtime.AuthenticationOptions
- reuse as much of the existing bearer token policy as possible
- investigate how we might add challenge handling in the future

[2021-10-01 23:08] chlowell opened #15687 "Revise error types and usage"
AuthenticationFailedError and CredentialUnavailableError would be more flexible as interfaces (see e.g. https://github.com/jhendrixMSFT/azure-sdk-for-go/blob/azidentity_msal/sdk/azidentity/errors.go).

These errors are also sometimes returned when a simple `errors.New()` would be better. For example, constructors often return CredentialUnavailableError.

[2021-10-01 23:31] chlowell opened #15688 "Rename HTTPClient -> Transport"

[2021-10-01 23:46] chlowell commented on #15396
Also would be best not to call `getMSIType()` in NewManagedIdentityCredential, because this may entail sending a request.

[2021-10-03 18:59] richardpark-msft opened #15691 "[service-bus] Support sending an slice of messages"
The Service Bus package currently supports sending a MessageBatch (multiple messages, .Add'd one at a time) and a Message, but not an slice of messages.

The 'slice of messages' is basically a convenience function for sending a MessageBatch. It would be on a azservicebus.Receiver, and would, internally, create a message batch.

There is no "partial failure" with the sending of the slice. Either al

[2021-10-03 19:00] richardpark-msft commented on #15093
The work for this has been completed, with a separate issue carved out for the 'send array of messages' work.

[2021-10-03 19:00] #15093 closed

[2021-10-03 19:02] richardpark-msft commented on #15210
Implemented as part of https://github.com/Azure/azure-sdk-for-go/pull/15629

[2021-10-03 19:02] #15210 closed

[2021-10-03 19:42] lukiffer commented on #14800
@dosegal @lirenhe @804873052 could we get a status on the 2021-09-01 preview spec and corresponding SDK updates? We're looking to make use of the the Terraform resource @kaovd mentioned and are trying to get an idea of timing to plan our own implementation work.

[2021-10-03 20:08] richardpark-msft commented on #15310
All items completed and any other fixes come in via go-amqp or azure-amqp-common-go, both of which are shared.

[2021-10-03 20:08] #15310 closed

[2021-10-03 20:09] richardpark-msft commented on #15245
CI has worked, live testing still needs work (mostly in porting the terraform template).

Release pipelines haven't yet been tried yet.

[2021-10-03 20:18] richardpark-msft commented on #15610
I'm taking a first stab at this for beta 1 (October release).

The big things:
- The processor type brings in built-in infinite retrying, which should be more durable than the previous APIs.
- Our error classification has been improved - much thanks to the go-shuttle project (and @serbrech). I've added in some further checking and also allow for link and connection level recovery (we fallback to c

[2021-10-03 20:56] richardpark-msft commented on #15166
Work completed with https://github.com/Azure/azure-sdk-for-go/pull/15629

[2021-10-03 20:56] #15166 closed

[2021-10-03 20:57] kaovd commented on #14800
@lukiffer as a hack you can currently use a combination of TF and Script Provisoners to make the neccesary PATCH calls to some of the stray APIs to achieve entities, custom details etc and the like but obviously its better if a RP.

As now october has rolled around a status update would be much appreciated

[2021-10-03 21:01] richardpark-msft commented on #15089
Logged sessions under a separate issue: #15163

All other work for this has been completed.

[2021-10-03 21:01] #15089 closed

[2021-10-03 21:02] richardpark-msft commented on #15543
This is fixed as of beta.1 through several PRs.

There is now only a single *amqp.Client for any instance of a `azservicebus.Client`

[2021-10-03 21:02] #15543 closed

[2021-10-03 21:05] richardpark-msft commented on #15092
We have the two major receiving types - batch receiving via Receiver.ReceiveMessages(), non-destructive read (via Receiver.PeekMessages() and streaming via the Processor.

The iterative method was optional, so dropping for track 2.

[2021-10-03 21:05] #15092 closed

[2021-10-03 21:08] richardpark-msft commented on #15170
I'm taking a first stab at this for beta 1 (October release).

The big things:
- The processor type brings in built-in infinite retrying, which should be more durable than the previous APIs.
- Our error classification has been improved - much thanks to the go-shuttle project (and @serbrech). I've added in some further checking and also allow for link and connection level recovery (we fallback to c

[2021-10-04 12:38] dylanmorley commented on #15475
I think now available, from this PR https://github.com/Azure/azure-sdk-for-go/pull/15672 and available on v58

[2021-10-04 20:58] #15236 closed

[2021-10-05 07:43] nfoerster opened #15701 "Queue Storage not usable when connecting with SAS token"
We are trying to connect the queues of our storage account in Azure. For the connection we want to use a SAS token generated with the Azure UI. However, when we try to publish a test message, we get `http: read on closed response body`. After debugging we recognized that the internal HTTP response was not correctly returned to the application: `Status: "403 Server failed to authenticate the reques

[2021-10-05 15:55] bigdatasourav opened #15702 "API version '2021-01-25' for type 'guestConfigurationAssignments' does not support location 'eastus'"
### Bug Report

- import path of package in question - `.github.com/Azure/azure-sdk-for-go/services/guestconfiguration/mgmt/2021-01-25/guestconfiguration`
- SDK version `latest` - 58.0.0
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

- What happened?
- Error: guestconfigur

[2021-10-05 16:01] jhendrixMSFT commented on #15701
Hello!

Per our [README](https://github.com/Azure/azure-sdk-for-go/tree/main/storage), the storage package has been replaced with other packages.  For queues, please have a look the [`azqueue`](https://github.com/Azure/azure-storage-queue-go) module which has support for SAS authentication.

[2021-10-05 19:15] jhendrixMSFT commented on #15476
Hello!

The contents of the `/storage` package have been deprecated.

For tables, please check out our new [`aztables`](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/data/aztables) module which should have this fixed.

[2021-10-05 21:24] richardpark-msft opened #15714 "[service-bus] Live testing"
Live testing needs to be setup - mostly just translating the older .tf file that had the resources into a standard ARM template.

[2021-10-06 07:32] #15581 closed

[2021-10-06 08:06] nfoerster commented on #15701
The package is outdated from 2019, I suggest to add full SAS support to this package.

[2021-10-06 09:32] #15227 closed

[2021-10-06 11:24] tombuildsstuff commented on #3805
This is still waiting on the Engineering Team

@jhendrixMSFT heads up I think this is a bug in the close-bot?

[2021-10-06 18:15] seankane-msft opened #15728 "[Docs] Improve documentation"
- [ ] Docs for releasing
- [ ] Fix links on documentation/README.md

[2021-10-06 18:38] #15714 closed

[2021-10-06 20:26] #15572 closed

[2021-10-06 20:26] #15573 closed

[2021-10-06 22:09] richardpark-msft opened #15733 "[azservicebus] Processor design discussion"
# Design considerations/differences for the azservicebus Go SDK

There are some idioms and design decisions I'd like to discuss, to make sure we understand and agree that these differences are idiomatic and that they make sense overall.

## Changes and discussion points

## Processor Start

### Background

The `Processor` type in our messaging SDKs is intended to be a simple "forever listener" con

[2021-10-07 01:55] richardpark-msft opened #15736 "[azservicebus] panic() after 11,758,797 messages sent/received, after 3d19h"
This process was running for 3d19h, with an artificial network outage every minute for 5 seconds.

021/10/06 14:17:26 Received: (p:11758797,r:0), Sent: 11759493, Errors: (p:0,r:0,s:2)

Prior to this we were in the process of recovering due to the connection being reported as `amqp: connection closed`.

[code]

[2021-10-07 23:42] #15691 closed

[2021-10-07 23:43] richardpark-msft commented on #15165
Implemented in #15742

[2021-10-07 23:43] #15165 closed

[2021-10-08 01:55] #15601 closed

[2021-10-08 02:25] 804873052 commented on #14892
latest version https://github.com/Azure/azure-sdk-for-go/tree/ec2ed6d8450ad53978efa96822bf9c9431a63ab4/services/preview/monitor/mgmt/2021-07-01-preview

[2021-10-08 02:25] #14892 closed

[2021-10-08 02:47] richardpark-msft opened #15745 "[azservicebus] Automatic lock renewal in the processor"
The Processor should automatically renew locks for callers. This renewal happens in the background once a message has been received, and continues until the user settles the message.

As part of this there should also be a RenewLock call available on the Processor.

[2021-10-08 05:51] lirenhe commented on #15475
Close it as the package 2021-06-01-preview was released.

[2021-10-08 05:51] #15475 closed

[2021-10-08 06:25] lirenhe commented on #15676
@richardpark-msft, are you asking for this guide? https://github.com/Azure/azure-sdk-for-go/blob/main/documentation/MIGRATION_GUIDE.md

[2021-10-08 06:48] lirenhe commented on #14250
The latest update fixed this issue: https://github.com/Azure/azure-sdk-for-go/tree/main/services/virtualmachineimagebuilder/mgmt/2020-02-14/virtualmachineimagebuilder

Close this item. Thanks

[2021-10-08 16:33] seankane-msft opened #15752 "[KeyVault] Key Vault Keys API Surface"
- [x] KeyClient
  - [x] NewKeyClient
  - [x] BackupKey
  - [x] BeginDeleteKey
  - [x] BeginRecoverDeletedKey
  - [x] CreateECKey
  - [x] CreateKey
  - [x] CreateOCTKey
  - [x] CreateRSAKey
  - [x] GetKey
  - [x] GetDeletedKey
  - [x] ImportKey
  - [x] ListDeletedKeys
  - [x] ListKeyVersion
  - [x] ListKeys
  - [x] PurgeDeletedKey
  - [x] RestoreKeyBackup
  - [x] UpdateKeyProperties
- [x] Cryptogra

[2021-10-08 21:07] RickWinter opened #15753 "Release process documentation improvements"
- github.io docs
- docs.ms docs

[2021-10-08 21:09] RickWinter opened #15754 "Release process improvement: Auto update core versions"
- Update local package version references in the repo

[2021-10-08 21:10] RickWinter commented on #15226
Split last two items into separate issues.

- https://github.com/Azure/azure-sdk-for-go/issues/15753
- https://github.com/Azure/azure-sdk-for-go/issues/15754

[2021-10-08 21:10] #15226 closed

[2021-10-08 21:22] RickWinter opened #15755 "Azure.Core code coverage improvements"

[2021-10-08 21:22] RickWinter opened #15756 "ServiceBus code coverage improvements"

[2021-10-08 21:22] RickWinter opened #15757 "KeyVault code coverage improvemetns"

[2021-10-08 21:23] RickWinter opened #15758 "ServiceBus stress tests"

[2021-10-09 05:24] MinRam commented on #6206
It is property because you added the body parameter to the "get" restful request.

The wrong invoke of powershell

[code]

[2021-10-09 06:32] lonegunmanb opened #15764 "Release Request For RecoveryServices 2021-08-01"
### Service Package Request

There are a bunch of new features in the latest recoveryservices RP version 2021-08-01, comparing to the currently available 2016-06-01. Appreciate if we can have that latest version in the Go SDK.

[2021-10-09 06:45] 804873052 commented on #15764
Hi @lonegunmanb thanks for this issue!

Releasing a new package will require the service to submit a new SDK release request, I have added the label on this issue so that the corresponding service team could take this a look.
I also sent some internal emails to the contact of the corresponding service team about this.

[2021-10-09 08:02] #14090 closed

[2021-10-09 08:02] #5091 closed

[2021-10-09 08:02] #3192 closed

[2021-10-09 08:02] #1826 closed, assigned to ArcturusZhang

[2021-10-09 08:33] adeturner commented on #15656
@lirenhe thanks for the info and the insight into the new-version, much appreciated.
I've taken to wrapping az cli as a holding point/workaround and will circle back when available
Please let me know if I should leave this open or not

[2021-10-11 15:58] jon-rosado-sp opened #15769 "Azure AD Graph is being deprecated"
It looks like the [Azure AD Graph is being deprecated](https://docs.microsoft.com/en-us/graph/migrate-azure-ad-graph-overview) in favor of Microsoft Graph. Since `"github.com/Azure/azure-sdk-for-go/services/graphrbac/1.6/graphrbac"` references `graph.windows.net`, does the team currently have plans to migrate?

[2021-10-11 21:25] JeffreyRichter commented on #15733
Set up a meeting to discuss this.

[2021-10-12 08:12] richardpark-msft opened #15773 "Add Set/GetSessionState support to SessionReceiver"

[2021-10-12 09:15] lonegunmanb opened #15776 "Release Request For KeyVault 2021-04-01-preview"
Since terraform-provider-azurerm is using KeyVault api version 2020-04-01-preview, and a new feature requests invoking api in [keys.json](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-06-01-preview/keys.json) and [managedHsm.json](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/keyvault/resource

[2021-10-13 03:36] lirenhe commented on #15769
Azure AD Graph API is now deprecated. Please refer to this issue for additional way to get support to move to Microsoft Graph API:
https://github.com/azure-deprecation/dashboard/issues/60

[2021-10-13 03:36] #15769 closed

[2021-10-13 03:39] lirenhe commented on #15684
@joheredi, do you have any code snippet on how this would look like?

[2021-10-13 03:53] 804873052 commented on #15776
Hi @lonegunmanb thanks for this issue!

Releasing a new package will require the service to submit a new SDK release request, I have added the label on this issue so that the corresponding service team could take this a look.
I also sent some internal emails to the contact of the corresponding service team about this.

[2021-10-13 07:47] xingtanzjr opened #15784 "[Postgresql] Get error when creating pg and setting firewallrule"
We are using the sdk to create Azure Postgresql. Recently we met some issues when using the APIs. The details are:

When we trying to create pg by the sdk, we got following error:
[code]
The code to create PG is:
[code]

And we also encounter another issue when setting the firewall rule using the SDK, the error is:
[code]

The code to set firewall rule is:
[code]

The code worked well before but i

[2021-10-13 09:03] #15631 closed

[2021-10-13 17:08] aristosvo opened #15787 "Release request for `keyvault/data-plane/v7.2`"
### Service Package Request

I would like the [KeyVault Dataplan SDK v7.2](https://github.com/Azure/azure-rest-api-specs/tree/main/specification/keyvault/data-plane/Microsoft.KeyVault/stable/7.2) to be released, as it contains fixes for [this `azurerm` issue](https://github.com/hashicorp/terraform-provider-azurerm/issues/13706) regarding Octet keys.

[2021-10-14 15:18] KuljitAthwal opened #15798 "The resource type 'Query' could not be found in the namespace 'Microsoft.CostManagement' for api version '2020-06-01'"
### Bug Report

- Impacted Package : github.com/Azure/azure-sdk-for-go/services/costmanagement/mgmt/2020-06-01/costmanagement
- SDK version `master`
- go version go1.16.3 windows/amd64

- What happened?

Hi there. I'm using the costmanagement library but when attempting to get Usage I get the following error back

I'd like to use the most recent recommended one, however when looking at the branch

[2021-10-14 23:51] richardpark-msft opened #15799 "[design] Representing ISO8601 durations in Go"
## Conclusion

Durations are a bit tricky to represent properly and in a loss-less way if we use time.Duration. To avoid this potential loss we will leave the durations as strings for now (ISO formatted, as they are).

## Previous discussion

Some services (ex: Service Bus's ATOM API) specify durations using an ISO8601 duration (ex: PT10M).

In .NET code this is typically deserialized using the bu

[2021-10-15 01:27] magodo commented on #15528
@t-bzhan Any update for this? IIRC this should be a S360 issue.

[2021-10-15 04:37] richardpark-msft commented on #15245
Release pipelines also worked and we released beta.1 using it. Closing :)

[2021-10-15 04:37] #15245 closed

[2021-10-15 04:38] richardpark-msft opened #15801 "[azservicebus] Report proper status codes and errors from our http ATOM layer"
Basically, we'll have the same bug that the old code had here: https://github.com/Azure/azure-service-bus-go/pull/258

We just need to check and return, based on the http response.

[2021-10-15 04:43] tadelesh opened #15802 "[GO] Refactor SDK automation init script"
- Change SDK automation init script from bourne shell to powershell.
- Consolidate track1 and track2 init script.
- Leverage common semver comparison logic for GO version check.

[2021-10-15 06:14] tombuildsstuff opened #15805 "Support Tags on App Service Environments (Reopen #15631)"
As requested [in this comment](https://github.com/Azure/azure-sdk-for-go/issues/15631#issuecomment-942106445) since this is a feature request for the Service Team can this be reopened?

Thanks.

[2021-10-15 14:26] ealsur opened #15812 "[Cosmos] [API Review] Rename CosmosClient to Client"
1. Rename `type CosmosClient struct` to `type Client struct`
2. Remove the public `Endpoint` property and expose it as a getter `Endpoint()`

[2021-10-15 14:50] ealsur opened #15813 "[Cosmos] [API Review] Rename CosmosContainer to Container"
1. Rename `type CosmosContainer struct` to `type Container struct`
2. Rename `type CosmosContainerProperties struct` to `type ContainerProperties struct`
3. Rename `type CosmosContainerRequestOptions struct` to `type ContainerRequestOptions struct`
4. Rename `type CosmosContainerResponse struct` to `type ContainerResponse struct`

All methods that mention CosmosContainer in their name should be Co

[2021-10-15 14:57] ealsur opened #15814 "[Cosmos] [API Review] Change getters to fields on Responses"
Responses that have helper methods to access common headers like:

[code]

Should be fields populated when creating the struct and not getter methods.

This also applies to `CosmosResponse`, `ThroughputResponse`

[2021-10-15 15:00] ealsur opened #15815 "[Cosmos] [API Review] Rename SharedKeyCredential to KeyCredential"
[code]

Should be `KeyCredential`.

`func NewSharedKeyCredential(accountKey string) (*SharedKeyCredential, error)`

Should be:

`func NewKeyCredential(accountKey string) (*KeyCredential, error)`

`func (c *SharedKeyCredential) SetAccountKey(accountKey string) error`

Should be:

`func (c *KeyCredential) Update(key string) error`

`func NewClientWithSharedKey(endpoint string, cred *SharedKeyCredent

[2021-10-15 15:03] ealsur opened #15816 "[Cosmos] [API Review] ThroughputRequestOptions - Use azcore.Etag"
[code]

Should be `*azcore.ETag` and not `string`

[2021-10-15 15:43] ealsur opened #15817 "[Cosmos] [API Review] Optional arguments go into options"
## Container

[code]

`throughputProperties` is optional and it should be into the options.

[code]

[code]

## Database

[code]

`throughputProperties` is optional and it should be into the options.

[code]

[code]

[2021-10-15 16:32] ealsur opened #15818 "[Cosmos] [API Review] CosmosClientOptions embed policy.ClientOptions"
[code]

Contains a lot of properties that are already defined in `policy.ClientOptions`, we can reduce this surface by embedding and renaming `CosmosClientOptions` to `ClientOptions` and `CosmosClientOptionsRateLimitedRetry` to `RateLimitedRetryOptions`:

[code]

[2021-10-15 17:09] ealsur opened #15819 "[Cosmos] [API Review] CosmosItemResponse and byte content"
[code]

This represents the response on an item operation returning the document body. We need to understand what other alternatives are similar to what `aztables` has done.

In other languages we would use Generics but they are not yet available in Go.

[2021-10-15 17:12] ealsur opened #15820 "[Cosmos] [API Review] Rename CosmosDatabase to Database"
1. Rename `type CosmosDatabase struct` to `type Database struct`
2. Rename `type CosmosDatabaseProperties struct` to `type DatabaseProperties struct`
3. Rename `type CosmosDatabaseRequestOptions struct` to `type DatabaseRequestOptions struct`
4. Rename `type CosmosDatabaseResponse struct` to `type DatabaseResponse struct`

All methods that mention CosmosDatabase in their name should be Database, l

[2021-10-15 19:02] #15814 closed, assigned to ealsur

[2021-10-15 21:50] #15813 closed, assigned to ealsur

[2021-10-18 08:58] suhanishri opened #15833 "JSON unmarshalling error"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

- What happened?
- An error written in json format in GO did not unmarsh

[2021-10-18 13:40] shaobovaltix opened #15835 "How to unmarshal virtual machines returned from resource graph query"
### Feature Request

We found the Azure defined virtual machine property structure is like below:
[code]

We build and run a resource graph query to get a list of virtual machines, and for each of them we want to parse and get the power state. However, one example of the returned virtual machine property is like this:
[code]

We checked different go sdk versions, but look like we didn't find a str

[2021-10-18 14:52] #15817 closed

[2021-10-19 09:01] ArcturusZhang commented on #15835
Hi @shaobovaltix thanks for this issue!

This issue looks like that the struct in the SDK does not align with what the service is returning. I just checked the corresponding swagger: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/compute/resource-manager/Microsoft.Compute/stable/2021-07-01/compute.json#L11986
this means that the SDK aligns with the SDK.
Could you please shar

[2021-10-19 09:53] #15275 closed

[2021-10-19 16:49] devtrap opened #15851 "Not able to create secret client like keys client"
### Bug Report

I'm trying to get list of secrets from vault but there is no any functionality to  create secrets client in key-vault or even secret package!!

kindly please help me to find if this feature exist in azure sdk and how I can implement GetSecretList functionality using sdk.

Thanks

[2021-10-19 16:50] #15728 closed

[2021-10-19 20:29] jhendrixMSFT opened #15855 "MQ: add CI step to ensure all exported content has doc comments"
All public surface area should have doc comments, so add a CI step that validates that.

[2021-10-19 21:57] #15815 closed, assigned to nobody

[2021-10-20 08:05] lirenhe opened #15872 "[GO] MQ: Integrate Mock Test generation and execution into mgmt SDK release process"
Verify the result of executing autogen mock tests against mock-service-host before merging the PR for release

[2021-10-20 15:26] #15851 closed

[2021-10-20 15:38] #15568 closed

[2021-10-20 16:52] RickWinter opened #15876 "AZURE_AUTHORITY_HOST should be a constant."
AZURE_AUTHORITY_HOST should be a constant.  Pre-existing so you don't have to fix it in this PR, but good to clean up (probably worth checking for other cases).

_Originally posted by @jhendrixMSFT in https://github.com/Azure/azure-sdk-for-go/pull/15759#r732030038_

[2021-10-20 20:54] seankane-msft opened #15884 "[Identity] Update go.mod and ci.yml"
- [ ] Update go.mod to use go version 1.16. Bump the `internal` dependency and remove the replace directive for `azcore`
- [ ] Remove the `RunTests: true` parameter from `ci.yml` file.

(These were blocking #15874 and were left for later change, azidentity needed an update at the time to latest version of core, bypassed to merge)

[2021-10-20 21:23] seankane-msft commented on #15113
Closed with #15167 and #15784

[2021-10-20 21:23] #15113 closed

[2021-10-20 22:39] Erouan50 commented on #3080
Hi,

I had the same issue navigating between resources using the ID instead of the name until I found this issue. While you may work on a solution to accept ID and name in the `Get` method, it might be a good idea to add in the documentation an example that shows how to properly extract the ID from the name with the function `ParseResourceID`. It took me a while to find this issue and document it

[2021-10-21 00:40] jhendrixMSFT opened #15887 "Revisit PollUntilDone() taking a default polling duration"
The PollUntilDone() methods take a `freq time.Duration` for a default polling duration.  Nobody knows what to pass for this.  At the very least we need to document this, but let's revisit how we want to handle this.

[2021-10-21 01:07] chlowell opened #15888 "Remove environment variable usage"
azidentity reads environment variables it shouldn't:
- AZURE_CLI_PATH
- AZURE_CLIENT_ID (in `NewManagedIdentityCredential`)
- AZURE_RESOURCE_ID

[2021-10-21 01:11] chlowell opened #15889 "Embed azcore.ClientOptions in azidentity options structs"

[2021-10-21 01:15] chlowell commented on #15688
This will be addressed by #15889

[2021-10-21 01:15] #15688 closed

[2021-10-21 05:47] tadelesh opened #15893 "[GO] MQ: Refine mgmt. SDK release pipeline and toolset"
1. Setup new process of version upgrade and changelog update according to center eng sys (including fix problem of existed pipeline forget to change version of autorest.md)
2. Use apiview tool to generate changelog to replace existed changelog generation tool
3. Fix pipeline failure for GO track2 SDK automation of multi-package RP in release-v2 tool
4. Fix doc replacement for client placeholder in

[2021-10-21 05:52] tadelesh opened #15894 "[GO] Setup example generation and ci check for mgmt SDK"
1. Add example generation process into release-v2 tool
2. Add ci step to check mgmt. SDK release with examples
3. Leverage doc gen process for msdoc

[2021-10-21 09:23] ArthurMa1978 opened #15895 "[Go] Remaining Issues clean up for mgmt. SDK"
1. Prioritize customer-reported PRs.
2. Prioritize customer-reported issues.
3. Clean up staled issues and PRs.

[2021-10-21 14:22] #15392 closed, assigned to seankane-msft

[2021-10-21 16:54] jhendrixMSFT commented on #15887
Dupe of https://github.com/Azure/azure-sdk-for-go/issues/14683

[2021-10-21 16:54] #15887 closed, assigned to nobody

[2021-10-21 16:56] #15018 closed

[2021-10-21 16:56] #14906 closed

[2021-10-21 17:00] jhendrixMSFT commented on #15408
Fixed, will release `azcore/v0.20.2`

[2021-10-21 17:00] #15408 closed

[2021-10-21 17:48] seankane-msft opened #15902 "[Keys] Update to 7.3-preview swagger"
- [x] `azkeys.Client`
  - [x] NewCryptoClient
  - [x] GetKeyRotationPolicy
    - [x] Tested
  - [x] GetRandomBytes
    - [x] Tested
  - [x] ReleaseKey
    - [x] Tested
  - [x] RotateKey
    - [x] Tested
  - [x] UpdateKeyRotationPolicy
    - [x] Tested

[2021-10-22 08:08] Alancere opened #15912 "[Track2] Bug in `azcore.recursiveCloneWithoutReadOnlyFields`: Reflect error"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

- What happened?

I am using the following code snippet to create AppSer

[2021-10-22 08:15] Alancere opened #15913 "[Track 2] Unmarshal error happened while unmarshalling `time.Time`"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

- What happened?
### use AppServicePlansClient.BeginCreateOrUpdate to cr

[2021-10-22 11:40] aristosvo opened #15914 "Release request for `FrontDoor/stable/2020-11-01`"
### Service Package Request

Terraform provider for Azure `azurerm` needs a release of `FrontDoor/stable/2020-11-01` for [new sku's in the Azure FrontDoor Policy](https://github.com/hashicorp/terraform-provider-azurerm/issues/13836).

REST API docs: https://docs.microsoft.com/en-us/rest/api/frontdoorservice/webapplicationfirewall/policies/create-or-update#skuname
REST API specs: https://github.com

[2021-10-22 14:23] #15912 closed, assigned to nobody

[2021-10-22 16:57] heaths opened #15916 "SKR changes from Arch Board meeting"
After discussion with the Key Vault and Managed HSM teams on Secure Key Release, we have arrived at the following changes for SKR models to be done in the SDK (the service will not be renaming in the swagger):

* `KeyReleasePolicy.Data` -> `KeyReleasePolicy.EncodedPolicy`
* The `target` parameter in `KeyClient.ReleaseKey` -> `targetAttestationToken`

The `ReleaseKeyResult.Value` property should be

[2021-10-22 18:17] richardpark-msft opened #15917 "[azservicebus] Add in support in the AdminClient for MaxMessageSizeInKilobytes"
The AdminClient is currently targeting an older API version of the ATOM API, which doesn't have this property.

So some little things:
- Create an SB premium as part of our test-resources.json since this property only exists in that tier.
- Update/change the API version (unsure if we need to support swapping back and forth)

[2021-10-22 23:19] #15884 closed, assigned to chlowell, seankane-msft

[2021-10-22 23:19] #15889 closed, assigned to chlowell

[2021-10-23 23:44] 0x2b3bfa0 opened #15920 "compute: vmss: no method for listing virtual machines"
## Bug report

The following method doesn't seem to be part of this module, but is documented in the official REST API reference:

[`GET https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines`](https://docs.microsoft.com/en-us/rest/api/compute/virtual-machine-sca

[2021-10-24 00:13] 0x2b3bfa0 commented on #15920
[Layer–8 issue](https://en.wikipedia.org/wiki/Layer_8): this funtionality is part of [`VirtualMachineScaleSetVMsClient`](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2021-07-01/compute#VirtualMachineScaleSetVMsClient) and not of [`VirtualMachineScaleSetsClient`](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2021-07-01/compute#VirtualMachin

[2021-10-24 00:13] #15920 closed

[2021-10-24 12:41] alexwilcox9 opened #15921 "Add Support for Desktop Virtualization Scaling Plans"
### Feature Request

Please add support for Azure Virtual Desktop Scaling Plans:
https://docs.microsoft.com/en-us/rest/api/desktopvirtualization/scaling-plans/create

[2021-10-25 15:13] #15816 closed, assigned to jay-most

[2021-10-25 16:46] chlowell opened #15923 "Improve DefaultAzureCredential diagnosability"
DefaultAzureCredential only adds to its chain the credentials it can instantiate, and surfaces instantiation failures only when it can't instantiate any credential. That never happens because AzureCLICredential is at the end of the chain. This means that DefaultAzureCredential never surfaces problems with environment configuration or managed identity. Its constructor can always instantiate AzureCL

[2021-10-25 17:46] #15913 closed, assigned to nobody

[2021-10-25 18:24] richardpark-msft opened #15925 "[azservicebus] Some more API changes"
Some more API cleanup:

- [x] #15981
- [x] Prefix the lock mode constants with ReceiveMode (mentioned by @seankane-msft)
- [x] Unembed the Receiver in SessionReceiver if to remove the extraneous RenewMessageLock() function

[2021-10-25 18:41] seankane-msft opened #15926 "[KeyVault] KV Keys Challenge Policy"
- [x] Update azcore and azidentity to latest versions
- [ ] Replace standard policy with challenge policy

[2021-10-25 22:42] #15818 closed, assigned to jay-most

[2021-10-25 22:42] #15819 closed, assigned to ealsur

[2021-10-26 17:57] #15888 closed, assigned to chlowell

[2021-10-27 14:37] KuljitAthwal opened #15957 "Ability to batch Rest API requests using the GO SDK"
### Feature Request

When using the Azure portal, it is possible to see many requests being sent inside a request array, normally a single request. Looking at C# and TypeScript SDKs it is possible to submit batch requests to the Azure REST API. Is this also possible in the Go SDK? I do not see any documentation around this there. Is this potentially a new feature request for the Go Azure SDK?

To

[2021-10-27 17:45] peterzeller opened #15963 "Make maxWaitTimeAfterFirstMessage configurable for Servicebus Receive function"
### Feature Request

The field `maxWaitTimeAfterFirstMessage` in https://github.com/Azure/azure-sdk-for-go/blob/47db7e2935fc81ededd911e1b268c8729d5af38d/sdk/messaging/azservicebus/receiver.go#L150 should be made public so that I can use batch receives with a latency below 1 second.

[2021-10-28 08:09] aristosvo opened #15968 "Unmarshalling error on `Microsoft.DocumentDB/sqlRoleAssignments` (cosmos-db/mgmt/2021-06-15/documentdb)"
### Bug Report

- import path of package in question: `github.com/Azure/azure-sdk-for-go/services/cosmos-db/mgmt/2021-06-15/documentdb`
- SDK version: `v58.0.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- `go version`: `go version go1.16.6 darwin/amd64`

- What happened?
An error showed up whe

[2021-10-28 20:49] richardpark-msft opened #15972 "[azservicebus] Allow for recreating pagers in the ATOM API"
A pager, which is returned from operations like ListQueues(), should also support serialization. To support this a Pager should also export two fields ('CurrentPageToken' and 'NextPageToken'). These can be retrieved from the pager and stored by the user, and then passed into a function on the AdminClient so a pager can be recreated (this is the serialization/deserialization aspect).

References:
*

[2021-10-28 22:38] chlowell opened #15973 "Add live test recordings"
For the current live tests, and also add new tests for managed identity.

[2021-10-29 17:53] richardpark-msft opened #15979 "[azservicebus] Remove dependency on track 1"
I haven't dug into why we're depending on track 1 but we need to remove it as it should be unneeded for track 2.

It's possible this is dependent on removing some of our older dependencies. It doesn't look like I'm using it directly.

[2021-10-29 22:09] richardpark-msft opened #15981 "Remove the timeout parameter for ReceiveMessages() in favor of just letting the user use the passed in context"
Using the context for this kind of timeout is perfectly idiomatic, and doesn't compromise the functions intention at all.

[2021-10-29 22:47] serprex opened #15982 "fails to be a dependency on go 1.13, works on 1.17"
Using go 1.13, building [my wal-g branch](https://github.com/citusdata/wal-g/tree/azure-sdk-for-go) failed with

`build github.com/Azure/azure-sdk-for-go/sdk/azcore: cannot load github.com/Azure/azure-sdk-for-go/sdk/azcore: no Go source files`

I updated infra to use go 1.17 & it worked, just as it worked locally where I'm using 1.17

Personally, I'll just use 1.17, but you might want to bump the

[2021-10-29 22:59] #15981 closed

[2021-10-29 23:15] chlowell opened #15983 "Verify in CI that modules require azidentity only for tests"
We don't want any client module to depend on azidentity. Customers should be free not to use azidentity, and to upgrade it as they please. However, client modules need azidentity in live tests. Fortunately, Go tooling identifies modules which are needed only in tests, and doesn't acquire them until the first test run. This means client modules can require azidentity without compelling dependents t

[2021-10-30 22:26] richardpark-msft opened #15986 "[azservicebus] Add in 'nil' + 'options' parameters to every function/method that might possibly have one in the future."
This is just future proofing - there are a few API calls that should just have arbitrary options parameters, even if the ultimate options struct is empty.

This can be applied sparingly.

[2021-10-31 00:17] syedhassaanahmed opened #15987 "[scheduledqueryrules] Support API Version 2021-02-01-preview"
### Feature Request

The current API version of resource `scheduledqueryrules` used in Azure SDK for Go is [2018-04-16](https://github.com/Azure/azure-sdk-for-go/blob/ba766374b894413a94ee10f8729251369e6047a4/services/preview/monitor/mgmt/2021-07-01-preview/insights/scheduledqueryrules.go#L99). The latest version available in Azure REST API is [2021-02-01-preview](https://docs.microsoft.com/en-us/r

[2021-11-01 02:47] ArcturusZhang commented on #15979
Hi @richardpark-msft that part of dependency is kind of a dummy dependency and might be mandatory when we convert a non-module into multiple modules - that dependency line ensures the rest part of non-module SDK does not have anything that has already been included into a module.
But it is truly annoying. I am also looking forward to getting rid of it.
cc @jhendrixMSFT for comment here

[2021-11-01 09:19] lirenhe commented on #15987
@804873052, could you help to follow up on this?

[2021-11-01 15:03] dylan-arts opened #16039 "github.com/Azure/azure-sdk-for-go/sdk/internal/uuid failing in Github Actions"
### Bug Report

I am currently using the azure key vault package to get secrets from my Azure Key Vault. This all works fine when I run it. However when I push my code to github it crashes on the following package: [`link`](github.com/Azure/azure-sdk-for-go/sdk/internal/uuid). I'm running it on the latest version.

go version: go1.17.2 windows/amd64

To reproduce it you should be able to use the s

[2021-11-01 15:04] jhendrixMSFT commented on #15979
[code]

[code]

[2021-11-01 19:01] #15773 closed

[2021-11-01 19:39] alvaradojl opened #16041 "Using continuation token to retrieve records from Azure Storage Table fails with status 415 Unsupported Media Type and error.data.message contains AtomFormatNotSupported"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
"github.com/Azure/azure-sdk-for-go/storage"

- SDK version
github.com/Azure/azure-sdk-for-go v59.0.0
f92de54510280b0eba246b54113abcdbc65fc239

same behaviour with v52.5 as well.

- output of `go version`
go version go1.16 linux/amd64

- What happened?
Querying a table using the continuationTok

[2021-11-01 19:42] baywet commented on #15222
FYI we have a Microsoft Graph Go SDK on the way that relies on Azure Identity https://github.com/microsoftgraph/msgraph-sdk-go (might give you a 404 right now as it's private)

[2021-11-01 19:50] baywet opened #16042 "publish azure identity 0.12.0 for azcore alignment"
### Bug Report

At time of writing:
[azcore 0.20.0](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/azcore?tab=versions)
[azidentity 0.11.0](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/azidentity?tab=versions) -> azcore 0.19.0

This becomes an issue if you have a transitive dependency on azcore 0.20.0 and an direct dependency on azidentity 0.11.0 as it seems that azcore 0.20.

[2021-11-01 20:10] #15403 closed

[2021-11-01 20:10] #15876 closed

[2021-11-01 20:57] chlowell commented on #15404
Closing this because we've refactored the certificate auth API such that it's no longer necessary for azidentity to support all private key encryption schemes directly. `NewClientCertificateCredential()` requires a standard library `rsa.PrivateKey`. When `azidentity.ParseCertificates()` is unable to parse a key, for example because it's PEM encrypted, applications are free to use their own code or

[2021-11-01 20:57] #15404 closed

[2021-11-01 22:00] richardpark-msft opened #16045 "[azservicebus] AdminClient - Rule management functions"
#15090 covered the primary entities (Queues,Topics,Rules). There are two small bits of work remaining:
- [x] GetNamespaceProperties (added)
- [ ] Topic Rule management (#17616)
- [ ] Authorization rule management (#17616)

[2021-11-01 23:39] jhendrixMSFT opened #16046 "CI should fail modules that contain replace directive in their go.mod"
Having a `replace` directive in go.mod file should be banned as it allows code to compile against non-released modules.  This can lead to shipping releases that are broken.

[2021-11-02 10:45] devtrap opened #16050 "Can not get application domains from azure ad"
I'm trying to get list of applications and application domains from azure active directory using azure-sdk-for-go.
The library which I used is : github.com/Azure/azure-sdk-for-go/services/graphrbac/1.6/graphrbac

here is the code which I used for getting the list :
[code]
But I'm not able to get the list ,because each time I want to get the list I faced with below error:
[code]

I checked the cred

[2021-11-02 15:24] chlowell opened #16054 "Update aztemplate"
It at least needs to upgrade azcore. No urgency, we haven't shipped (won't ever ship?) this module, may as well wait until after GA to bring it up to date.

[2021-11-02 17:46] jhendrixMSFT commented on #15982
Hello!  We do specify version 1.16 in our go.mod file.  From the [docs](https://golang.org/doc/modules/gomod-ref#go), the `go` directive doesn't prevent compilation on older versions of Go, but aids in compilation failures.  In this case, the compilation failures aren't present due to usage of build constraints that prevent compilation on versions earlier than 1.16.

[2021-11-02 17:46] jhendrixMSFT commented on #15982
Hello!  We do specify version 1.16 in our go.mod file.  From the [docs](https://golang.org/doc/modules/gomod-ref#go), the `go` directive doesn't prevent compilation on older versions of Go, but aids in compilation failures.  In this case, the compilation failures aren't present due to usage of build constraints that prevent compilation on versions earlier than 1.16.

[2021-11-02 17:46] #15982 closed

[2021-11-02 18:41] jhendrixMSFT opened #16058 "azartifacts doesn't work with the latest azcore and azidentity"
module `github.com/Azure/azure-sdk-for-go/sdk/synapse/azartifacts`

This is built with an early track 2 code generator and thus is not compatible with the latest previews of `azcore` and `azidentity`.

[2021-11-02 19:48] richardpark-msft commented on #15963
Let me see what the team thinks, but I agree it'd be useful.

[2021-11-02 20:32] chlowell commented on #16042
azidentity 0.12.0, which requires azcore 0.20.0, is available now. There are a number of API changes, detailed in the [changelog](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azidentity/CHANGELOG.md), so you may need to update your code, depending on which credentials you use. Please open another issue if you find something that doesn't work.

[2021-11-02 20:32] #16042 closed

[2021-11-02 20:56] chlowell commented on #15682
Closed by #15974

[2021-11-02 20:56] #15682 closed

[2021-11-02 22:29] devtrap commented on #16050
Is there any update for this issue ?

[2021-11-03 02:30] magodo commented on #15528
This is now fixed in the v59 release.

[2021-11-03 02:30] #15528 closed

[2021-11-03 04:02] #15701 closed

[2021-11-03 04:02] #15476 closed

[2021-11-03 07:25] dylan-arts commented on #16039
I solved the issue, The Github Actions pipeline for Go is automatically on 1.16. After upgrading to 1.17.2 the issue was solved. The error log could be improved however to find this in the future

[2021-11-03 08:02] #12227 closed

[2021-11-03 16:48] cmahlert commented on #14875
It's pretty frustrating that nothing is happening here.

@niklarin: Can you give an approximate estimate of when the REST APIs will be released? The year is almost over again.

@favoretti: I'd be interested in your "band-aid solution". Is there any way you could share it?

[2021-11-03 17:28] favoretti commented on #14875
@cmahlert basically an ARM template wrapped in TF. Happy to share tomorrow my morning, have just my phone with me atm.

[2021-11-03 19:22] baywet commented on #16042
Thanks for the quick turnaround on this one!

[2021-11-03 20:06] #16046 closed

[2021-11-03 20:15] richardpark-msft opened #16072 "[azservicebus] Release pipeline warns that there are no test results"
Noticed when doing releases:

##[warning]No test result files matching /mnt/vss/_work/1/go/src/github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus/**/report.xml were found.

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1176982&view=results

[2021-11-03 20:25] #15569 closed

[2021-11-03 21:19] benbp commented on #16072
This should be resolved by https://github.com/Azure/azure-sdk-for-go/pull/15583 (see my [comment](https://github.com/Azure/azure-sdk-for-go/pull/15583#issuecomment-960091219)).

[2021-11-03 22:29] jhendrixMSFT commented on #7278
We've released a beta of our new tables package, [`aztables`](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/data/aztables).  This is the package you want to use going forward.

[2021-11-03 22:29] #7278 closed

[2021-11-03 22:31] jhendrixMSFT commented on #14750
Sorry for the delay.

The tables functionality in the `storage` package has been deprecated in favor of our new [`aztables`](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/data/aztables) module.  Can you please see if this resolves your issue?

[2021-11-03 22:39] jhendrixMSFT commented on #15787
Hello!

We are in the process of releasing an updated SDK.  As such, we are not releasing any new data-plane packages that use the soon-to-be-legacy model (i.e. content under `/services`).

We have a new [`azsecrets`](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/keyvault/azsecrets) for key vault available, and `azkeys` is in progress (https://pkg.go.dev/github.com/Azure/azure-sdk-for-g

[2021-11-03 22:42] jhendrixMSFT commented on #14402
Sorry for the delay.

The tables functionality in the `/storage` package has been deprecated in favor of our new [`aztables`](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/data/aztables) module.  Can you please try it and see if it resolves your issue?

[2021-11-03 22:43] jhendrixMSFT commented on #16041
Sorry for the delay.

The tables functionality in the /storage package has been deprecated in favor of our new [`aztables`](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/data/aztables) module. Can you please try it and see if it resolves your issue?

[2021-11-04 00:06] benbp opened #16078 "Update smoke tests to auto-generate dependency checks for all t2 SDKs"
The goal for smoke tests is to catch and block on dependency issues before release.

Delete the legacy smoke tests for each language (applies to net, python, java).
Pull in all track 2 packages to a single project and install/compile (nightly versions, GA/beta versions).
Run the project and instantiate clients from each package, where useful (for detecting lazy loaded runtime dependency issues).

[2021-11-04 00:08] richardpark-msft opened #16079 "Processor for sessions"
The `Processor` type is still being designed, but it'll apply for Sessions as well.

Some challenges that are unique to sessions:
- A session processor will typically iterate over a series of sessions, rather than being tied to a single session. This implies multiple receivers, and some form of multiplexing underneath.
- How will a customer settle messages? Will we need to go to an "active args" a

[2021-11-04 00:19] #15090 closed

[2021-11-04 00:34] #15801 closed

[2021-11-04 00:34] richardpark-msft commented on #15801
Fixed (generically) as part of #16044

[2021-11-04 03:36] lirenhe commented on #15968
@aristosvo, as I know, there are some API change in the latest API version, could you use 2021-10-15 to have a try?

[2021-11-04 05:37] aristosvo commented on #15968
Hi @lirenhe! Thanks for picking this up.

I tried it already, https://github.com/Azure/azure-rest-api-specs/issues/16560#issuecomment-953937851. Unfortunately this didn't solve the problem.

The problem is that the backend is returning numbers (which probably relate to enum values). This is therefore not solvable here tbh.

If you'd be able to promote [that issue](https://github.com/Azure/azure-re

[2021-11-04 11:14] alvaradojl commented on #16041
@jhendrixMSFT  thanks for the suggestion,
I tried the new library but funny enough the question still remains, how to pass the continuation token?
below an example:

[code]

I couldn't see any option in the code to pass the continuationtokens **before** the call happens,
which means I can only either "query all entities" or query the first page.
I cannot use the continuationTokens returned

Do you

[2021-11-04 11:17] kierxn opened #16086 "InsertMerge/InsertReplace fails if record doesn't exist already in aztables"
### Bug Report

- Package in question: `github.com/Azure/azure-sdk-for-go/sdk/data/aztables`

- SDK version e.g. `master`, `latest`, `18.1.0`: `github.com/Azure/azure-sdk-for-go/sdk/data/aztables v0.3.0`
- output of `go version`: `go version go1.17.2 windows/amd64`

- What happened?
Trying to batch insert records with `aztables.InsertMerge`/`aztables.InsertReplace` will always return a `Code: Reso

[2021-11-04 12:38] favoretti commented on #14875
@cmahlert

module that refers to labels is [terraform-null-label](https://github.com/cloudposse/terraform-null-label)

[code]

[2021-11-04 15:24] jhendrixMSFT commented on #16041
@seankane-msft do you have an example of how to do this?

[2021-11-04 16:44] seankane-msft commented on #16041
Hi @alvaradojl, the current SDK does not have this functionality. I've added it in #16087 and after our team reviews will probably be able to release this on Tuesday. If this doesn't address your needs please let me know.

[2021-11-04 17:43] richardpark-msft opened #16088 "[azservicebus] amqp-common's link.RetryableRPC() retries an entity does not exist"
This can lead to a series of retries that will not work. It'd be nice to be able to pass in an error handling strategy per RPC call so we can provide better error handling when we know what the context of the call is and just fail early.

The underlying error is:

Code: 404
Description: "The messaging entity 'sb://<mysb>.servicebus.windows.net/samples' could not be found. To know more visit https:

[2021-11-04 18:38] RickWinter commented on #8328
We need to ensure we can add this in the future without making a breaking change

[2021-11-04 19:07] Drewm3 commented on #12309
Correct, you only need to set the storage account type in the VM create. No storageAccountClient.Create() is needed.

[2021-11-04 19:07] #12309 closed

[2021-11-04 19:35] jhendrixMSFT commented on #15330
Fixed in pending `azcore` release (post `v0.20.0`).

[2021-11-04 19:35] #15330 closed

[2021-11-04 20:26] richardpark-msft opened #16090 "[azservicebus] Batches can exceed link size, causing errors when sending"
As part of a test I'm creating messages, adding them to batches and sending them.

It looks like we've got a miscalculation in how the message size gets encoded, which causes a failure in `Sender.SendMessageBatch`:

[code]

Depending on whether we have an encoding bug, this might be fixed by reconciling our batch calculation in https://github.com/Azure/azure-sdk-for-go/issues/15562

[2021-11-04 23:30] peterzeller opened #16092 "[azservicebus] Data race on link.err when closing connection"
### Bug Report

This race is detected by the race detector when running the tests in https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus with `go test -race -v`:

[code]

Even if it is just in the close method, this bug means we cannot run our integration tests using ASB with the race detector enabled.

[2021-11-05 02:52] tadelesh commented on #16050
@devtrap Could you help to provide the implementation of azureAD.Authorizer.

[2021-11-05 03:52] alvaradojl commented on #16041
@seankane-msft  thanks a lot, yes, those were the parameters I was looking for, thanks a lot!
May I also suggest to include documentation in the README ? It seems to me a pretty frequent use case.
Also I found the [Create the client documentation](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/data/aztables#create-the-client) is incorrect,
the documentation shows this:

[code]

when it sh

[2021-11-05 14:48] seankane-msft commented on #16041
I updated our documentation in #16102

[2021-11-05 16:24] #16072 closed

[2021-11-05 18:45] richardpark-msft opened #16104 "[azservicebus] Add support for named key credentials and SAS credentials."
This came up in the Azure SDK review.

These types exist in the core components for other languages but, based on talks with @chlowell, it sounds like we would not need to do that here.

So there would be two new credentials types, both of which would enable rotation of values without having to restart/recreate your client.

[2021-11-05 19:42] kaovd commented on #14800
Hi @dosegal

I see NRT rules are also on the 2021-09-01-preview API, can i check these are also going to be in the spec as they have recently gone public preview?

[2021-11-05 20:24] chlowell commented on #15612
We updated the adapter in https://github.com/jongio/azidext/pull/47, please try its [version 0.2.0](https://pkg.go.dev/github.com/jongio/azidext/go/azidext).

[2021-11-05 22:11] mikekistler opened #16108 "Add an `ErrorCode()` method to azcore.HTTPResponse"
### Feature Request

The [Azure API Guidelines](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#handling-errors) require that all error responses should contain an `error` object that contains a string `code` and string `message` fields.  The `code` field is what we want customers to use when checking for specific errors; the `message` field is just an English descriptio

[2021-11-06 04:28] richardpark-msft commented on #15736
With our simpler API (ReceiveMessages) we've now reached:
6d22h
2021/11/04 06:00:42 Received: (r:3739890), Sent: 3739899, Errors: (r:0,s:1)

Which is actually the entire time that was allocated for the test to run (it stops itself).

[2021-11-06 11:22] larsakerlund opened #16109 "Request: Add support for policy API-version 2021-06-01"
### Service Package Request

API-version 2021-06-01 has support for `nonComplianceMessages`, which improves the policy experience dramatically.

Terraform provider AzureRM requires an update to the SDK in order to implement support for this, since it is not available in 2019-09-01: https://github.com/hashicorp/terraform-provider-azurerm/issues/10401

[2021-11-07 09:27] devtrap commented on #16050
@tadelesh Here is my Authorizer func :

[code]

[2021-11-07 18:22] devtrap commented on #16050
Is there any update for this issue ?

[2021-11-08 01:30] richardpark-msft commented on #16092
Thank you @peterzeller, I'll be looking at this.

[2021-11-08 06:45] tadelesh commented on #16050
@devtrap , you may try another authorizer as following as a workaround. As the Azure AD Graph API will [deprecated](https://github.com/azure-deprecation/dashboard/issues/60) soon, you can try to migrate to use Microsoft Graph API instead.
`package main

import (
	"context"
	"fmt"

	"github.com/Azure/azure-sdk-for-go/services/graphrbac/1.6/graphrbac"
	"github.com/Azure/go-autorest/autorest"
	"githu

[2021-11-08 15:23] AdallomRoy commented on #15108
@jhendrixMSFT @lirenhe Any updates?

[2021-11-08 16:50] RickWinter opened #16112 "Enable race detection configuration"
### Feature Request

Go has a built in race detector:
https://golang.org/doc/articles/race_detector

Enable this as a configuration in the pipelines

[2021-11-08 17:05] #15752 closed

[2021-11-08 17:06] #15926 closed

[2021-11-08 17:06] #15902 closed

[2021-11-08 18:47] jhendrixMSFT commented on #15108
Sorry for the delay.

I'm trying to piece this together.  In your example, is the first `nextLink` value you provided (the one without any URL-encoded query params) the "raw" value that's sent from the service endpoint when attempting to iterate to the third page?

[2021-11-08 18:53] seankane-msft commented on #16086
Hi @kierxn apologies on the bug and thank you for reporting it. I fixed the bug in #16114 just now, barring approval from the team this should go out tomorrow and fix your issue. If you'd like to review the PR I added a test case for this scenario to confirm that it is the same as your issue

[2021-11-08 18:53] grzn commented on #15108
Yes, it is

[2021-11-08 19:11] jhendrixMSFT commented on #15108
What API is returning the second URL that you provided?  In my condensed repro, the returned URL without encoded query params fails to parse in the call to `NextWithContext`.  I'm probably missing something in my repro though.

[2021-11-08 19:22] grzn commented on #15108
This is how we call it
[code]

Where
[code]
and resourceId is a storage account id

[2021-11-08 20:31] jhendrixMSFT commented on #15108
I get that part.  Unfortunately I don't have any resources in my test subscription with enough events to get that far, so I'm trying to construct a targeted repro.  In my repro, I return a fake `EventDataCollection` with its `NextLink` field set to the value you provided.  However, when I call `NextWithContext` it fails when parsing the query parameters [here](https://github.com/Azure/go-autorest/

[2021-11-08 20:32] jhendrixMSFT commented on #15108
Also might help if you enable debug logging via `$env:AZURE_GO_SDK_LOG_LEVEL="debug"` and provide the spew.

[2021-11-08 20:42] grzn commented on #15108
I ran it with dlv and took out the url from there.

I’ll run it tomorrow with the debug env var tomorrow and paste here the output.

[2021-11-08 22:52] chlowell opened #16116 "NewManagedIdentityCredential shouldn't send an HTTP request"
`NewManagedIdentityCredential` probes IMDS for availability when the hosting environment doesn't contain configuration for any other managed identity implementation. This entails sending an HTTP request, which is problematic for a couple reasons, e.g. `NewManagedIdentityCredential` doesn't have a `Context` parameter. Fix would be to defer the probe until `GetToken()`.

[2021-11-09 02:27] chlowell opened #16118 "Remove azcore.ClientOptions copying"
After #16091, it isn't necessary for credential constructors to copy `azcore.ClientOptions` parameters, because `runtime.NewPipeline` protects them from mutation.

[2021-11-09 10:17] grzn commented on #15108
Here's the debug output, I just deleted the values from the response body as its huge and I don't think you need it.
[code]

[2021-11-09 17:51] seankane-msft commented on #16086
This has been fixed in `v0.4.0` which is now available in a beta release [here](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/data/aztables).

[2021-11-09 17:51] #16086 closed

[2021-11-09 18:28] jhendrixMSFT commented on #15108
Thanks this was helpful.

There are a few issues at play here.

- The server shouldn't be returning a non-encoded semicolon in the query parameter as it's a reserved character.
- Starting with Go 1.17, query parameters that contain a semicolon are now rejected by `url.ParseQuery` which is why I couldn't repro this (see [release notes](https://golang.org/doc/go1.17#semicolons)).

I think we can wor

[2021-11-09 19:04] jhendrixMSFT commented on #15108
Would you be able to test the fix to ensure there's no other things lurking?  Simply add the following `replace` directive to your go.mod file.
[code]

[2021-11-09 21:32] seankane-msft opened #16129 "[Test] Add Variable Storage for random names in tests"
Link to test proxy documentation: https://github.com/Azure/azure-sdk-tools/tree/main/tools/test-proxy/Azure.Sdk.Tools.TestProxy#storing-variables

This is useful for random items (tables, keys, messages) that can be stored in the recordings and delivered on test set up.

[2021-11-09 22:15] grzn commented on #15108
Thanks for the quick response.
I'll test it in the morning and will update.

[2021-11-09 23:31] #14440 closed

[2021-11-10 08:42] grzn commented on #15108
Same result:
[code]

[2021-11-10 08:44] FreFre commented on #10830
#bump

Our Azure Fabric Explorer is secured using AD. As described in the following page : https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-setup-aad

We got the whole setup in terraform, but miss out on one thing: replyUrlsWithType as we need it to define

`$nativeApp = @{
    publicClient = "true"
    displayName = $NativeClientApplicationName
    replyUrls =

[2021-11-10 09:08] ripa1993 commented on #15624
any update?

[2021-11-10 12:15] alvaradojl commented on #16041
@seankane-msft really sorry for coming at this after you close the issue,
unfortunately I'm still having issues:
using the following code:

[code]

Could it be something else missing?

thanks again and sorry again for not testing before

[2021-11-10 15:02] seankane-msft commented on #16041
@alvaradojl can you give a fully working snippet? I don't know where/how you pull `continuationNextPartitionKey` or `continuationNextRowKey` and that could be the issue. If you'd like to see a sample, I have a test for this situation [here](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/data/aztables/client_test.go#L389-L423) that you should be able to mostly copy paste into your code for

[2021-11-10 15:29] jhendrixMSFT commented on #15108
Thanks for the info, at least we know it's not due to unencoded query params.  I'll follow up with the service team about this as it's pretty clear at this point the issue is on their side.

[2021-11-10 16:46] syedtahaaziz opened #16135 "Azure Storage Account Client returning Unmarshalling Error on call for List method"
### Bug Report

github.com/!azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage@v0.1.0/zz_generated_models.go

unmarshalling type *armstorage.StorageAccountListResult: parsing time “NULL” as “\”2006-01-02T15:04:05.999999999\“”: cannot parse “NULL” as “\”"

Throwing error in zz_generated_models for keyCreationTime.

unmarshalling type *armstorage.StorageAccountListResult: parsing time “NU

[2021-11-10 18:14] richardpark-msft commented on #16092
Just an update, we're discussing a fix for this in the go-amqp repo. Really appreciate you reporting this.

[2021-11-10 18:23] richardpark-msft commented on #15963
This spurred some interesting discussion in our team, so thank you for submitting it!

In the immediate term, I've changed the the default wait time after first message to 20ms, rather than 1 second. We've got some good practical evidence (given that this is the value that the .NET stack uses) that this should work better in practice.

This will be released in the next beta (coming out in the next

[2021-11-10 20:12] alvaradojl commented on #16041
@seankane-msft  so this is my snippet:

[code]

The continuationTokens I get them from the first request (or first page) then I when I pass the same values to the second request, I get empty rows.

The difference with your test is that I'm always passing a filter (you were passing nil options but that would bring more rows than a UI can digest)

[2021-11-10 21:10] seankane-msft opened #16137 "[Storage] Upgrade test infrastructure to new test proxy"
Upgrade from using `go-vcr` library to the internal libraries held in `internal/recording`. This will require adding the correct policy and transport to the clients before testing. This is the last library before we can remove the `go-vcr` dependency from `internal`.

[2021-11-10 21:23] seankane-msft commented on #16041
I am having trouble re-producing your issue. I wrote another test for using filters you can see in [this PR](https://github.com/Azure/azure-sdk-for-go/pull/16138). My best guess for you is to make sure that there are more entities in the first pager before you give the second pager the continuation tokens. Do both pagers use the same filters?

[2021-11-10 23:16] grzn commented on #15108
Great.
Id there a public issue tracker for that we can follow or should we expect updates from you on this thread?

[2021-11-11 09:22] lirenhe commented on #16109
@804873052, could you help to follow up with service team?

[2021-11-11 10:59] alvaradojl commented on #16041
@seankane-msft you were absolutely right, the code is working fine, it was my own testing parameters that produced the error.  This issue has been solved, many thanks!

[2021-11-11 10:59] #16041 closed

[2021-11-11 16:14] jhendrixMSFT commented on #15108
I will post back here as I have more info.

[2021-11-11 19:24] seankane-msft opened #16153 "[KeyVault] Add Managed HSM Live Tests for crypto client and CI"

[2021-11-12 13:08] uditgaurav opened #16155 "Is there any function in Go SDK or API to add restricted rules in azure web app?"
### Feature Request

- Hi, Can we perform the following CLI using Azure Go SDK?

[code]

refer: https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions

 I'm able to start and stop web app using go sdk but how to add the access-restriction rule to the web app?
 Thanks

[2021-11-12 22:01] #15612 closed

[2021-11-13 06:18] richardpark-msft commented on #16088
Another example - when attempting to complete a message it will retry on 410 (message lock lost) which should be considered terminal and non-retryable.

[2021-11-13 17:25] uditgaurav commented on #16155
This article helped me to do this https://kpfaulkner.wordpress.com/2019/02/05/go-azure-sdk-network-restrictions/ thanks!!

[2021-11-13 17:25] #16155 closed

[2021-11-13 17:26] ior308 opened #16159 "Overriding HTTP transport"
### Feature Request

How to override http transport to azblob.NewServiceClientWithSharedKey API.

Thank you
Best Regards

[2021-11-14 07:40] edoboker opened #16160 "Event grid maximal message size seems to be lower than documented"
### Bug Report

- Import path of the package: `github.com/Azure/azure-sdk-for-go/profiles/latest/eventgrid/eventgrid`
- SDK version: `v59.1.0+incompatible`
- Go version is `go1.16.4 linux/amd64`

- As documented [here](https://docs.microsoft.com/en-us/azure/event-grid/quotas-limits), the event size limit is 1MB. However, when I tried sending large events I received `Error 413 size too large` on mu

[2021-11-15 21:55] richardpark-msft opened #16164 "[azservicebus] Sender links should recover on common events (like link detach)"
Currently the Receiving side of the azservicebus library recovers if the underlying link is detached.

Senders don't currently do this, but should.

There are some other situations where retries were intended to kick in and aren't - for instance, if a sender is throttled some retries would normally occur.

[2021-11-15 21:56] richardpark-msft commented on #16164
Note that this was filed in the original azure-service-bus-go repo as https://github.com/Azure/azure-service-bus-go/issues/223

[2021-11-16 00:55] richardpark-msft commented on #15745
@marstr had a feature request in the original azure-service-bus-go repo covering this, but as a separate utility:

https://github.com/Azure/azure-service-bus-go/issues/68

We might want to consider breaking out that feature from the processor.

[2021-11-16 02:24] richardpark-msft commented on #15644
Note, a customer request was logged here for the older package but it is equally relevant here: https://github.com/Azure/azure-service-bus-go/issues/95

[2021-11-16 02:45] 804873052 commented on #16109
Hi @larsakerlund thanks for this issue!

Releasing a new package will require the service to submit a new SDK release request, I have added the label on this issue so that the corresponding service team could take this a look.
I also sent some internal emails to the contact of the corresponding service team about this.

[2021-11-16 10:07] ior308 commented on #16159
I need to set a custom http transport for socks proxy.

Best Regards

[2021-11-16 10:09] ior308 opened #16191 "Rename blob object"
### Feature Request

Dear,

is there a "rename" API to rename a blob into a container ? Or I  must read/write to a new blob and delete the old ?

Best Regards

[2021-11-16 12:30] favoretti opened #16192 "`service/monitor`: Invalid API version used"
### Bug Report
[code]

It seem that this might be a typo here?
https://github.com/Azure/azure-sdk-for-go/blob/v59.0.0/services/preview/monitor/mgmt/2021-07-01-preview/insights/diagnosticsettings.go#L86

[2021-11-16 12:44] alex-goncharov commented on #16192
This happens on the API diag settings. When there are no diag settings present, terrafrom creates them just fine. And they are created like so:

![image](https://user-images.githubusercontent.com/1196389/141987265-302017fc-d705-4f58-aaa8-e8b7ba874fbb.png)

If the diag settings are modified to be this:

![image](https://user-images.githubusercontent.com/1196389/141987326-4c55cb99-48f7-4798-a575-311

[2021-11-16 12:50] favoretti commented on #16192
// cc @ArcturusZhang

[2021-11-16 14:49] yvespp opened #16193 "azblob.GetSASToken wrong singed resource"
### Bug Report
- import path of package in question: `github.com/Azure/azure-sdk-for-go/sdk/storage/azblob`
- SDK version: `azblob v0.2.0`
- output of `go version`: `go version go1.17 linux/amd64`

- What happened?
  [GetSASToken](https://github.com/Azure/azure-sdk-for-go/blob/697b41367d206549adbf8668d4a0a924851e9332/sdk/storage/azblob/zc_blob_client.go#L226) creates an invalid SAS token, error wh

[2021-11-16 16:40] RickWinter commented on #16191
Renaming a blob involves copying the blob from the old name (location) to the new name (location) and then deleting the old blob.

[2021-11-16 16:55] ior308 commented on #16191
/unresolve

[2021-11-16 16:59] ior308 commented on #16191
Yes, but consider renaming bigger file... 1T etc... it would be better to have an API to rename the object without having to copy and remove, right ?

[2021-11-16 17:35] #16092 closed

[2021-11-16 20:19] berndverst opened #16195 "For SDK runtime stability guarantees do *not* use Generics upon Go 1.18 release"
**Generics are scheduled to be released with Go 1.18. This feature may not be ready for production use according to the Golang team.** As such we should take a **conservative approach** and **hold-off on the use of Generics** with the release of Go 1.18.

I propose not to use Generics until later minor (not patch) Go language releases, (e.g. 1.20+)

https://groups.google.com/g/golang-dev/c/iuB22_G

[2021-11-16 20:20] berndverst commented on #16195
FYI I work on Dapr

[2021-11-16 20:23] berndverst commented on #16195
cc @greenie-msft @paulyuk

[2021-11-16 20:31] berndverst commented on #16195
Dapr makes guarantees about component (integration) stability and runtime performance. We cannot migrate to the new "Track 2" SDKs if they were to use Go language features that aren't guaranteed to be stable.

If the use of Generics were to introduce problems - either in memory consumption, latency or unexpected errors (especially the kind not observable in unit tests) neither Dapr nor the Azure S

[2021-11-16 22:08] richardpark-msft commented on #16092
@peterzeller, this fix has been released in azservicebus@v0.3.1.

Once again, thank you for reporting this. If you have a second I'd be very interested in how you found this package - do you follow the Azure SDK repo, did you find a pointer to it from the old repo, etc..?

[2021-11-16 22:16] richardpark-msft commented on #16045
(also customer reported via https://github.com/Azure/azure-service-bus-go/issues/204 for the older service bus package)

[2021-11-16 22:29] richardpark-msft opened #16198 "[azservicebus] Add Go to Aggregate Repository"
As mentioned in an issue submitted by @marstr here: https://github.com/Azure/azure-service-bus-go/issues/45

(original issue text)

The repository [Azure/azure-service-bus](https://github.com/Azure/azure-service-bus) contains a list of official Microsoft Service Bus libraries across many languages. Today, that repository has no reference to the Go assets in this repository.

To close this issue, t

[2021-11-16 22:34] richardpark-msft commented on #15925
All of this work is done as of the 3 linked PRs.

[2021-11-16 22:34] #15925 closed

[2021-11-16 22:54] richardpark-msft commented on #15610
Some of this work has been incorporated by not requiring the user to intervene. We still report the error but the next call to Receiver.ReceiveMessages() will repair it.

We still want to add in some classification, as that will help customers if they want to decide to make that next call or not,.

[2021-11-16 23:18] richardpark-msft commented on #15642
Mentioned here by @jhendrixMSFT: https://github.com/Azure/azure-service-bus-go/issues/220

[2021-11-16 23:22] peterzeller commented on #16092
Thanks for the fix.

I found this package via the pinned issue in the old repo. My colleague reported the data race in the old repo, that's why I was looking at the issue tracker.

[2021-11-16 23:23] JeffreyRichter commented on #16195
I have been tracking Google's Go team and the compiler/language/tools very closely in regards to many things including Generics. They have very high confidence in the generic language syntax and the compiler support. They have lower confidence in producing new standard library generic functions/types due to the lack of experience you site.

The Azure SDK has very few constructs:
- We define Client

[2021-11-16 23:35] JeffreyRichter opened #16199 "Consider adding support for TCP RST in Azure Core retry policy"
### Feature Request

The retry policy should retry if the server resets the connection.
To see how to do this, see https://gosamples.dev/connection-reset-by-peer/

#### Details

When an unexpected TCP packet arrives at a host, that host usually responds by sending a reset packet back on the same connection. A reset packet is simply one with no payload and with the RST bit set in the TCP header fla

[2021-11-16 23:49] richardpark-msft commented on #15610
Note, another interesting discussion was here:
https://github.com/Azure/azure-service-bus-go/issues/96

When applicable, we should return a structured error. The equivalent of a 404 here would be useful.

[2021-11-17 00:31] richardpark-msft commented on #15986
Missing:
- [] `Sender.SendMessage`

[2021-11-17 00:32] richardpark-msft commented on #15563
Draft PR in the go-amqp repo showing what the underlying change would be for an empty session ID (among other optional fields): https://github.com/Azure/go-amqp/pull/93

[2021-11-17 00:35] richardpark-msft commented on #14907
Drain also implemented.

[2021-11-17 00:38] ArcturusZhang opened #16200 "The code snippets in README of `recording` package is out-of-date"
Since we have gotten some breaking changes in the `recording` package, the code snippets in [README.md](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/internal/recording/README.md) is out-of-date. Could we have an update on that?

And maybe we need to use other mechanism to ensure that they are always up-to-date, like using an external tool, or using example files.

[2021-11-17 00:39] richardpark-msft opened #16201 "[azservicebus] Expose websocket support"
We have some code in the azservicebus package that's not exposed, which will allow for websocket support.

Currently we're not exposing it but before we do I'd like to consider exposing an interface to allow the customer to inject their own websocket provider. We can still provide the 5 lines of code to do the link up themselves, but this would remove a required dependency in our library.

[2021-11-17 00:39] richardpark-msft commented on #16201
In addition, there was this interesting idea submitted by @rovangju in the azure-service-bus-go repo: https://github.com/Azure/azure-service-bus-go/issues/228.

More discussion would be required, but didn't want to lose the feature request if it aligns with what we're doing.

[2021-11-17 00:40] ArcturusZhang opened #16203 "The `internal` module does not have `LICENSE.txt`"
The `internal` module does not have a license yet, therefore `pkg.go.dev` is refusing to show the documentation of this package currently: https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/internal@v0.8.2/recording

[2021-11-17 00:45] ArcturusZhang opened #16204 "Add a step in our pipeline template which ensures the auto-generated code not to have manual manipulations"
### Feature Request

A large part of our SDK is auto-generated, and if they have some parts that are manually written, those will be lost in the next iteration of generation. Therefore I am asking here to add a new step in our pipeline template to ensure that the auto-generated code in a PR does not have manual modifications. This can be done by running the `go generate` (in mgmt plane which invok

[2021-11-17 01:07] richardpark-msft opened #16205 "[azservicebus] Ensure associated-link-name is properly set"
Propagated from https://github.com/Azure/azure-service-bus-go/issues/226

[2021-11-17 02:58] 804873052 commented on #16109
@larsakerlund this released in https://github.com/Azure/azure-sdk-for-go/tree/main/services/preview/resources/mgmt/2021-06-01-preview/policy

[2021-11-17 02:58] #16109 closed

[2021-11-17 07:30] larsakerlund commented on #16109
Completely missed the preview section. Thank you!

[2021-11-17 07:51] zezha-msft commented on #16191
@ior308 That's a fair point, there is a rename API on the dfs endpoint (ADLS Gen2 API). Once we develop the datalake SDK you'll be able to leverage that rename API instead of copying and deleting blobs. We are currently targeting Q1 2022 for that new SDK.

Please let us know if you have any question.

[2021-11-17 08:02] #15833 closed

[2021-11-17 08:02] #14306 closed

[2021-11-17 08:02] #8767 closed

[2021-11-17 08:02] #6483 closed

[2021-11-17 08:11] ior308 commented on #16191
Thanks this is good news

[2021-11-17 08:11] #16191 closed

[2021-11-17 08:58] richardpark-msft commented on #15094
Message, as the simple azservicebus version, is done. Direct AMQP message access will come in https://github.com/Azure/azure-sdk-for-go/issues/15260

[2021-11-17 08:58] #15094 closed

[2021-11-17 09:37] tadelesh commented on #16135
@syedtahaaziz We've fixed this bus in the new version. Please try `github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage v0.2.0` with `github.com/Azure/azure-sdk-for-go/sdk/azcore v0.20.0`.

[2021-11-17 15:33] #16203 closed

[2021-11-17 16:54] RickWinter commented on #16199
@JeffreyRichter Would the desired behavior be to restart the request whent the Reset is received?

[2021-11-17 17:11] JeffreyRichter commented on #16199
Yes, just do a retry. This will be hard to test because services do this almost never but it does happen.

[2021-11-17 19:06] chlowell commented on #16159
In v0.2.0 you can set the `Transporter` field on [`azblob.ClientOptions`](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob#ClientOptions):
[code]
`Transporter` can be a `net/http.Client` with your configuration or, if you need something more custom, anything that has a `Do` receiver with the same signature as `net/http.Client.Do`. For example, here's the SDK's default client

[2021-11-18 00:35] richardpark-msft opened #16209 "[azservicebus] Enhancement: listsessions API"
Adding this to our backlog, as it does come up in discussions.

Currently, we don't have the ListSessions API in any of the latest SDKs for the major languages. I just want to track the customer feature, requested in the older azure-service-bus-go and provide updates if/when this makes it into a release.

Issues (same customer for both):
* https://github.com/Azure/azure-service-bus-go/issues/210
*

[2021-11-18 04:26] richardpark-msft commented on #15676
Yes, I think those are the guides we're thinking of. For any area where we're migrating from a previous package we supported to a new one we want people to adopt, basically.

(I believe at the time we talked about ARM was one of the areas we were talking about, so this sounds covered to me).

@RickWinter, are there any other packages you can think of where we might want a guide?

[2021-11-18 04:35] #15646 closed

[2021-11-18 07:50] syedtahaaziz commented on #16135
Yes it is working now! Thanks for the support.

[2021-11-18 07:50] #16135 closed

[2021-11-18 16:45] seankane-msft opened #16217 "[Internal] Investigate whether custom Transport can replace policy and transport"
Currently there is a transport and recording policy that has to be passed in to the `ClientOptions` struct. It's worth investigating whether it is possible to extend the transport to implement the `Do` method and route the request before sending it.

[2021-11-18 17:13] #16153 closed

[2021-11-18 18:58] RickWinter opened #16219 "Cosmos needs a constructor taking TokenCrendentail"
Add in a client constructor for AAD support

[2021-11-18 20:10] dmyyy opened #16220 "Azcosmos Core/SQL API Query support"
### Service Package Request

Hello!

I am looking to use the [azcosmos Core/SQL API](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/data/azcosmos#crud-operation-on-items) and was wondering if/when querying with SQL will be supported. It seems to be implemented for [ReadThroughputIfExists()](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/data/azcosmos/cosmos_offers.go#L40) but not

[2021-11-19 07:14] ArcturusZhang commented on #16192
Hi @favoretti  thanks for this issue.
The swagger of monitor is now not in a good state. Every package in track 1 SDK is generated from a tag which consists quite a few swaggers from different api-version, and this composition is created by the service team.

The API that is complaining about API versions, comes from this file [here](https://github.com/Azure/azure-rest-api-specs/blob/main/specific

[2021-11-19 11:08] pdsdjkdsfksdnf opened #16223 "[azblob] HttpRange does not expose its fields"
### Bug Report

- import path of package in question: `github.com/Azure/azure-sdk-for-go/sdk/storage/azblob`
- SDK version: main
- go version go1.16 darwin/amd64

- What happened:
  `PageBlobClient` methods accept range options in form of `HttpRange`, all fields of which are unexported and thus are unable to be set by the consumers of `azblob` package.
- What did you expect or want to happen:
  I

[2021-11-19 17:42] richardpark-msft opened #16228 "[azservicebus] Review the Dapr components, see what we need to add"
Dapr is a popular project, with several contrib components built on top of Service Bus.

We should look at the code, see if there's anything interesting that we could add to make SDK/integrators authors lives easier.

Some things we appear to be missing:
- [x] Ability to set the user agent (this would just append, not entirely replace the agent)
(more to come)
- [ ] Prefetch
      NOTE: will need

[2021-11-19 19:52] richardpark-msft commented on #15979
I'm hoping this isn't totally the case. I think I can get away with not having it since I was never included in the original track 1 SDK (last time I talked with @jhendrixMSFT that was my understanding).

[2021-11-19 21:29] ThorstenHans opened #16230 "Unable to create an ACR instance using `armcontainerregistry.RegistriesClient.BeginCreate`"
### Bug Report

[code]

## What happened?

When trying to create a new ACR instance, the error `error invalid character 'A' looking for beginning of value` is thrown.

[code]
## What did you expect or want to happen?

A new instance of ACR should be created

## How can we reproduce it?

Use this code

[code]

## Anything we should know about your environment.

Intel based MacBook on latest macOS

[2021-11-20 03:16] richardpark-msft commented on #16228
@kimprice , @mikekistler - just FYI, using this issue to collect any problems/issues/requests that come up as we look at Dapr.

[2021-11-22 17:40] JeffreyRichter commented on #16223
Looks like a bug to me. The fields should be publicly exported

[2021-11-22 19:44] Coffee-007 opened #16240 "Sentinel Automation Rule Creation"
### Bug Report

- import path of package in question: services/preview/securityinsight/mgmt/2019-01-01-preview/securityinsight
- SDK version: `latest`

In the Azure Sentinel interface there is the ability to define an "Analytic rule name" condition, but this does not appear to be an option in the conditions enum.

Can you please let me know if there is actually a way to restrict the Automation Rul

[2021-11-22 19:58] #16200 closed

[2021-11-22 21:49] kurtzeborn commented on #16204
The core implementation of language checking should be owned by the language team.  If you need help plugging it into the pipeline, please reach out to @benbp.

Also, a similar check has been implemented by @pakrym so there may be an opportunity to share ideas there (though his .NET implementation probably won't be reusable directly).

[2021-11-22 23:06] zezha-msft commented on #16223
Thanks @pdsdjkdsfksdnf @JeffreyRichter it indeed is a bug. I've logged an item to get it fixed.

[2021-11-23 00:33] chlowell commented on #15632
Switching to MSAL's implementation will fix this for the common case. However, an application that has registered `https://localhost` but not `http://localhost` for a redirect URI (which is unusual) won't be able to authenticate users until https://github.com/AzureAD/microsoft-authentication-library-for-go/issues/281 is fixed.

[2021-11-23 01:12] #15979 closed

[2021-11-23 07:22] lirenhe commented on #16240
@Coffee-007, could you help to provide some sample code for your question?

[2021-11-23 10:20] ior308 opened #16254 "Issue passing reader to upload BlockBlobClient"
### Feature Request

Dears

if I pass a reader instead of a readseek descriptor to upload BlockBlobClient API as in case of streaming from network and not from local file (for instance ftp, sftp, http etc as sources) I get an error during compilation (descriptor is not seekable).

To work-around I define a reader with a fake seek interface that simulates the operation required by API, in particula

[2021-11-23 19:13] Coffee-007 commented on #16240
Hi @lirenhe I was using this via the Terraform template (azurerm_sentinel_automation_rule), so not directly using the Azure SDK.

This is the resource that I was trying to create:
[code]
I reached out the the maintainers of the Terraform repo and they suggested there was no way in the API to achieve what I was trying to achieve. For your reference here is the question there: https://github.com/has

[2021-11-24 13:11] MSSedusch opened #16266 "Release request for Insights 2021-09-01"
### Feature Request

I would like to implement an Event Hub Receiver in Terraform which was added in the latest Monitor (Insights) API version 2021-09-01.
Can you please create the code for
https://github.com/Azure/azure-rest-api-specs/tree/main/specification/monitor/resource-manager/Microsoft.Insights/stable/2021-09-01

Thanks

[2021-11-24 16:56] devtrap commented on #16050
@tadelesh

still not resolve
error:

error : graphrbac.ApplicationsClient#List: Failure responding to request: StatusCode=403 -- Original Error: autorest/azure: Service returned an error. Status=403 Code="Unknown" Message="Unknown service error" Details=[{"odata.error":{"code":"Authorization_RequestDenied","date":"2021-11-24T16:49:55","message":{"lang":"en","value":"Insufficient privileges to comp

[2021-11-24 23:43] chlowell opened #16268 "ChainedTokenCredential prefers its first successful constituent"
An instance of ChainedTokenCredential should iterate over its constituents only until one provides a token, and request tokens only from that credential thereafter. This is the default behavior of DefaultAzureCredential in other SDKs, and because azidentity is still unstable, we have the flexibility to make it the default behavior of ChainedTokenCredential as well. This will make the credential mo

[2021-11-25 07:42] rickychew77 commented on #2060
hey @botondev , know it's been a while, trying luck but could you elaborate more how that `x509_certificate_properties` helps? We have configured that too in Terraform but still giving error below:

`Error: keyvault.BaseClient#CreateCertificate: Failure responding to request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="BadParameter" Message="Proper

[2021-11-26 06:20] Robert-Stam commented on #14915
H i @ArcturusZhang,

Do you have any news?

Regards,
Robert

[2021-11-26 07:30] ThorstenHans commented on #16230
Thanks for clarification @jhendrixMSFT

I guess the problem was related to Azure CLI version `2.30` and python `3.10` release on macOS.This combination causes many problems with Azure CLI. After uninstalling python `3.10` and going back to `3.9` everything works as expected.

[2021-11-26 07:30] #16230 closed

[2021-11-26 10:21] ior308 commented on #16159
/unresolve

[2021-11-26 10:22] ior308 commented on #16159
sorry

[2021-11-26 10:22] #16159 closed

[2021-11-26 11:20] an2deg opened #16295 "Problem with listing blobs by using of ListBlobsHierarchy()"
### Bug Report

- import path of package in question `github.com/Azure/azure-sdk-for-go/sdk/storage/azblob`
- SDK version
	github.com/Azure/azure-sdk-for-go/sdk/azidentity v0.12.0
	github.com/Azure/azure-sdk-for-go/sdk/storage/azblob v0.2.0
	github.com/Azure/azure-sdk-for-go/sdk/to v0.1.1 // indirect
	github.com/aws/aws-sdk-go v1.40.45
- Go version: go version go1.16.6 darwin/amd64
- Azurite: mcr.

[2021-11-26 12:01] dennis-menge commented on #16266
for reference: https://github.com/Azure/sdk-release-request/issues/2259

[2021-11-26 12:42] davidandradeduarte commented on #14750
Thanks, I'll have a look!

[2021-11-26 12:50] an2deg commented on #16295
I have just checked on real Azure env and the problem is the same: after requesting the second page I get :

[code]

[2021-11-26 13:36] davidandradeduarte commented on #14750
Having a hard time trying to make it work.

Following this guide:
https://devblogs.microsoft.com/azure-sdk/announcing-the-preview-release-for-azure-tables-for-go/

I've updated the code as follows:
https://github.com/davidandradeduarte/azurite-insert-batch-bugs/blob/main/go-sdk/14750-aztables-fix/main.go

But fails with a _400 - Bad Request_ when I call `client.Create` (https://github.com/davidand

[2021-11-26 14:30] davidandradeduarte commented on #14750
Following up,

Using the `aztables.NewServiceClientFromConnectionString` seems to go further.

Now I'm getting:
`
"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<Error>\n  <Code>InvalidOperation</Code>\n  <Message>Invalid storage account.\nRequestId:0f03ae6e-6929-40b4-8c0d-6e414a137857\nTime:2021-11-26T14:28:06.603Z</Message>\n</Error>\nunmarshalling type *internal.TableServiceErr

[2021-11-26 17:29] baywet opened #16296 "outdated wiki for client certificate credentials"
Hi from the Microsoft Graph team 👋

The following wiki section instructs people to pass-in a path for to the certificates when the actual code only accepts a certificate object.
The wiki should be updated to provide an example of loading the certificate in memory and pass it to the credentials.

https://github.com/Azure/azure-sdk-for-go/wiki/Azure-Identity-Examples#authenticating-a-service-princip

[2021-11-27 04:24] magodo opened #16297 "BotService model doesn't align with its definition in Swagger"
The BotService model in current SDK has a property [`isIsolated`](https://github.com/Azure/azure-sdk-for-go/blob/8a696eee495ea9373f6853a9d1574e7db356d7ff/services/botservice/mgmt/2021-03-01/botservice/models.go#L361), which is renamed to `publicNetworkAccess` in the Swagger: https://github.com/azure/azure-rest-api-specs/commit/c4d6f92d3fd35a69ebce68f4c73c35c4238c2ac5.

[2021-11-27 05:27] magodo opened #16298 "DatasetCompression model doesn't align with its Swagger definition"
The `DatasetCompression` in the [models.go](https://github.com/Azure/azure-sdk-for-go/blob/8a696eee495ea9373f6853a9d1574e7db356d7ff/services/datafactory/mgmt/2018-06-01/datafactory/models.go) was a discriminator but is changed to be a regular model in the Swagger in the commit: https://github.com/azure/azure-rest-api-specs/commit/a159bb4420f176c580480d7ef344fe5716c2ef38

[2021-11-29 03:16] tadelesh commented on #16050
@devtrap From the error message, it seems that you don't have proper permission in your token. You may check your client api permissions for azure ad from: Azure Portal > Azure Active Directory > App Registration > All Applications > Client ID > Api Permissions > Add a permission > Microsoft Graph > Delegated permissions.

[2021-11-29 16:38] ealsur commented on #16220
ReadThroughputIfExists does not use Query per-se, it just uses the REST API for Offers: https://docs.microsoft.com/en-us/rest/api/cosmos-db/offers

Support for queries will be down the road, there is no ETA atm. We have a tracking item in the Project: https://github.com/Azure/azure-sdk-for-go/projects/4#card-67521440 for single partition queries, which will be the first type we will implement.

[2021-11-29 17:09] seankane-msft commented on #14750
@davidandradeduarte thanks for reporting this issue. I was able to get your latest snippet working by changing the connection string slightly:

Currently you have: `DefaultEndpointsProtocol=http;AccountName=dummyaccountname;AccountKey=secretkeykey;TableEndpoint=http://localhost:10002/TestTable;`.

I used `DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLl

[2021-11-29 18:09] davidandradeduarte commented on #14750
Yep, it works. Thank you @seankane-msft.

I think I grabbed that connection string from the sdk tests, if I'm not mistaken.

This solves the issue and allows us to connect to Azurite using the `aztables` package, which is what we want 👍

Good work on the docs [here](https://github.com/Azure/azure-sdk-for-go/pull/16320/files)!

This is more a nice-to-have rather than anything else, but anyway we wo

[2021-11-29 18:59] seankane-msft commented on #14750
Glad this solved the issue, I see how the test is misleading, hopefully the update to the docs will prevent confusion for future users.

We don't have any plans right now to support a config from like `UseDevelopmentStorage=true`, this feels more like a C# feature than a Go feature. We also don't plan on adding a `NewEmulatorClient` method, but I will bring it up during our team meetings.

[2021-11-30 06:34] #3080 closed

[2021-11-30 08:17] an2deg commented on #16295
@kenegozi may I ask you to take a look to this issue? Labels in this issue are incorrect: it's not a question but a bug report and the issue is a serious one.

[2021-11-30 08:40] flexarts opened #16340 "azservicebus receiveMessages never finishes when network is lost, gets stuck in drainLink"
This bug is regarding the azservicebus data plane API.
I'm using `github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus v0.3.1`

I am having a problem with the following code:

[code]

When during the timeout of 20 sec a network interruption happens the code is stuck in the following part of `receiver.go` in `receiver.DrainCredit(context.Background())`(Line 376).

[code]

The parameter `ctx

[2021-11-30 17:19] ealsur commented on #16219
Already tracked by https://github.com/Azure/azure-sdk-for-go/projects/4#card-64859516

[2021-11-30 17:41] richardpark-msft commented on #16340
Hi @flexarts,

I'll take a look at this. The underlying AMQP stack is supposed to signal us that the link is dead/detached so there must be something missing there.

To your other question about propagating the context - this is a spot where we typically don't want to interrupt it since it can leave messages in an internal queue without your knowledge. So the drain is needed to leave the link in a

[2021-11-30 18:01] #16217 closed

[2021-11-30 18:25] TheOnlyWei opened #16352 "Future#WaitForCompletion: context has been cancelled: StatusCode=200 -- Original Error: context deadline exceeded"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
"github.com/Azure/azure-sdk-for-go/profiles/2020-09-01/compute/mgmt/compute"

- SDK version e.g. `master`, `latest`, `18.1.0`
Not sure what SDK version refers to. I use:
"github.com/Azure/azure-sdk-for-go/profiles/2020-09-01/compute/mgmt/compute"
So I assume "v58.0.0"?

- Specify the exact com

[2021-11-30 18:26] #14902 closed

[2021-11-30 22:58] adreed-msft commented on #16295
Currently looking.

[2021-11-30 23:12] adreed-msft commented on #16295
Looks like the generated code is incorrect. Seems to be supplying the entire marker as the new URI. I'm going to shoot out a PR to override this incorrect behavior.

[2021-12-01 11:48] Rikonimo opened #16371 "Timeout SDK Go for AKV when trying an inexisting AKV"
We use the Azure SDK for GO to call the Azure Rest API for the key-vault to help us in getting the secrets and sync them into the K8s secrets in our namespaces.

However we found that incase of a non-existing Keyvault (for Example due to a wrong configuration by the user ) , the API keeps on trying to reach this wrong address until it times out after quite long time (7-8 minutes) giving a DNS erro

[2021-12-01 16:48] manalivaltix opened #16373 "RoleAssignmentsClient ListComplete with filter = principalId eq {id} returns empty list"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

- What happened?
- What did you expect or want to happen?
- How can we r

[2021-12-01 18:34] RickWinter commented on #16371
@Rikonimo Can you clarify which SDK you are using.  Is it [azsecrets ](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/keyvault/azsecrets)?

[2021-12-01 19:49] seankane-msft commented on #16371
Assuming you are using the new libraries ([azkeys](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/keyvault/azkeys) and [azsecrets](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/keyvault/azsecrets) here) you can use the `context.Context` parameter to set a timeout. Here is a code snippet that shows how to set a 10 second timeout:

[code]

[2021-12-02 06:29] josh-barker opened #16388 "Add new version of recovery service vault API"
### Service Package Request

Hi, I'd like to work on updating the `azurerm_recovery_service_vault` resource to support storage_replication_type, as per [this](https://github.com/hashicorp/terraform-provider-azurerm/issues/8709) issue.

From what I can [see](https://github.com/Azure/azure-rest-api-specs/tree/main/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stabl

[2021-12-02 08:26] an2deg commented on #16295
Thank you @adreed-msft for looking at this issue. I cannot test your PR as there are broken dependencies. Will test when your PR be merged.

[code]

[2021-12-02 14:23] kaovd opened #16389 "Request to add 2021-06-01 Stable Microsoft.Authorization Package"
### Service Package Request

The 2021-06-01 Stable package provides similar functionality to currently released preview package in the Authorization / Policy scope - although stable is preferred where possible.

https://github.com/Azure/azure-rest-api-specs/tree/main/specification/resources/resource-manager/Microsoft.Authorization/stable/2021-06-01

[2021-12-02 16:19] sadasant commented on #15447
What about something like `go.azure.com/core` ?

[2021-12-02 16:52] RickWinter commented on #16389
There is the new release version of this package available at:
https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/authorization/armauthorization

[2021-12-02 16:55] RickWinter commented on #16388
Thank you for using the SDK and the willingness to contribute to making it better.  We're in the process of refreshing all our ResourceManager pkgs to be complient with the new Azure SDK guidelines.  You can find the preview of the RecoveryService package at:
https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/recoveryservices/armrecoveryservices

[2021-12-02 17:13] TheOnlyWei commented on #16352
Seems to be caused by vmClient.Client.PollingDuration configuration. This was confusing since `cntx := context.Background()` creates a default context with no deadline, but the Client object still cancels the context using its own timeout functionality.

I added the following code:
[code]

And now I have a new error:
[code]

[2021-12-02 17:41] sadasant opened #16390 "What about adding subpackages*?"
(Hello, Go team!)

Go developers might want to import a single section of an SDK package directly. For example, regarding `azidentity`, developers might rather import a specific credential, like `github.com/Azure/azure-sdk-for-go/sdk/azidentity/environmentcredential`.

Submodules in Go might help as follows:

- Binary size, since a specific submodule will likely make the resulting package to be sm

[2021-12-02 18:44] JeffreyRichter commented on #16390
Our plan is that each service gets its own module because they version independently of each other.
We then keep azcore & azidentity in their own modules also for versioning and for dependency management. That is, azidentity depends on azcore but not vice versa. All azidentity credentials share (depend on) a single pipeline policy and we wants these to all be versioned together and they are tightl

[2021-12-02 19:54] sadasant commented on #16390
@JeffreyRichter thank you for your response!

I understand and agree that each service gets its module! But what about sub-modules for services? This might not be a problem present in the existing surface of the Go SDK (I mentioned `azidentity` as an example). Still, based on my limited experience, SDK packages tend to grow over time, so I am inclined to propose we think of _service modules_ as fo

[2021-12-02 20:07] JeffreyRichter commented on #16390
We can have sub-packages within a module, and we take advantage of this now (keyvault is an example).
I'm not opposed to sub modules within a service, but the value this would provide is about independent versioning and a service itself versions all at once. I do not think there is any other value of having sub modules; it would not impact compiled binary size as the Go linker already removes all

[2021-12-02 20:26] sadasant commented on #16390
Good point! thank you! I was mixing things up.

You are correct! I meant to say sub packages all this time.

When you say that keyvault is an example, do you mean the `crypto` folder in `azkeys`?

I think I understand the approach now! And it makes sense to me. Part of what feels like there’s something missing is that the packages are currently rather small.

Anyway, thank you for your responses!

[2021-12-02 20:26] #16390 closed

[2021-12-02 22:16] tombuildsstuff commented on #16388
@RickWinter any plans to add a Track1 SDK for this?

[2021-12-02 22:30] josh-barker commented on #16388
@RickWinter Could we also look at publishing the following endpoint too?

`https://management.azure.com/subscriptions/xxx/resourceGroups/xxx/providers/Microsoft.RecoveryServices/vaults/xxx/monitoringConfigurations/notificationConfiguration?api-version=2017-07-01-preview`

This relates to https://github.com/hashicorp/terraform-provider-azurerm/issues/5423

[2021-12-03 02:03] richardpark-msft opened #16394 "[szservicebus] Unauthorized access. 'Listen' claim(s) are required to perform this operation."
Bug reported by internal customer:

[code]

This is a bug we've seen before, and it appeared to be related to connection idleness. We added in a connection keep-alive, and in addition all the links that are created from a client are now consolidated into one connection, making it even less likely that a connection would be invalidly claimed to be "idle".

One other thing to note is that when this

[2021-12-03 03:05] jaswinder6991 opened #16397 "Azure key vault signature encoding and decoding format documentation not clear, probably causing issues."
Using Keyvault for storing my Secp256K1 keys and using the sign API to sign my messages. The signature that I get from Azure back fails in a custom JS verification function intermittently. It succeeds 50% of the times mostly. I am thinking this is a problem with encoding and decoding my input and output respectively.
I am receiving a hash in hex format from an upstream application so this is what

[2021-12-03 06:04] mohsha-msft commented on #16295
Hey @an2deg ,

Can you try
[code]
`dev-azblob` is our development branch and I've merged the changes there.

[2021-12-03 12:55] grzn commented on #15108
Hi @jhendrixMSFT  do you have an update on this?

[2021-12-03 19:55] seankane-msft commented on #16397
Hi @jaswinder6991 thanks for reporting this issue. Could you provide a code snippet for this situation? That will help me reproduce and debug the situation. What is the error code you are receiving from the service when you do this as well? If it helps, [here](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/keyvault/azkeys/crypto/crypto_client_test.go#L113-L141) is the test that we use to

[2021-12-06 04:58] lukiffer commented on #14800
@dosegal any update on the ETA for this? Thanks!

[2021-12-06 10:21] an2deg commented on #16295
Hi Mohit,

I tried to do so but in my project and even in empty project I alway get
error message:

✔ ~/Projects/test
11:18 $ go get github.com/Azure/azure-sdk-for-go/sdk/storage/dev-azblob
go get: module ***@***.*** found
(v60.0.0+incompatible), but does not contain package
github.com/Azure/azure-sdk-for-go/sdk/storage/dev-azblob
✘-1 ~/Projects/test
11:19 $

On Fri, Dec 3, 2021 at 7:05 AM Mohit S

[2021-12-06 10:35] mohsha-msft commented on #16295
Hey @an2deg ,

What's the version of Golang you're using?
Can you try `go get github.com/Azure/azure-sdk-for-go/sdk/storage/azblob@b76e8f674ad2125742c244cfc8faa417202525bf`

or `go get github.com/Azure/azure-sdk-for-go/sdk/storage/azblob@dev-azblob`

[2021-12-06 11:20] an2deg commented on #16295
Hi Mohit,

Ok, go get ***@***.***
works.
However, I still have problems with the fix. I have the following function
to load fixtures to Azurite:

var containerClient azblob.ContainerClient

func setUp() {
   if azblobHost == "" {
      log.Fatalf("AZBLOB_HOST env variable is required to run
depository/azure tests\n")
   }
   if azblobPort == "" {
      log.Fatalf("AZBLOB_PORT env variable is requi

[2021-12-06 16:02] asafg6 opened #16400 "Getting AuthenticationFailed when trying to use Path Update on Azure Data Lake Storage."
### Bug Report

- import path of package in question: github.com/Azure/azure-sdk-for-go/services/storage/datalake/2019-10-31/storagedatalake
- SDK version: 58.3.0
- output of `go version`: go version go1.17 linux/amd64

- What happened?
 While trying to update and 'flush' a file got authentication failed
[code]
The client was ,making other API requests without any issue before and after this happe

[2021-12-06 16:11] asafg6 opened #16401 "Wrong json model on Data Lake Storage "Path""
### Bug Report

- import path of package in question: github.com/Azure/azure-sdk-for-go/services/storage/datalake/2019-10-31/storagedatalake
- SDK version: 58.3.0
- output of `go version`: go version go1.17 linux/amd64

- What happened?
 While trying to list paths got json parse error
[code]

- What did you expect or want to happen?
 To get the list of paths from the api
- How can we reproduce it?

[2021-12-06 19:04] richardpark-msft commented on #16088
@mikekistler noted that our retry policies just plain don't match the azcore retry numbers (and need to). This can cause some pretty bad retry behavior.

[2021-12-07 11:23] Scarlettliuyc opened #16488 "Service Bus Golang could not connect constantly"
### Bug Report

- import path of package in question, e.g. [`.../services/compute/mgmt/2018-06-01/compute](https://github.com/Azure/azure-service-bus-go)`
- SDK version latest
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

- What happened?
- When using for loop to receive

[2021-12-07 12:17] vijayrajah opened #16489 "how to refresh token (using azidentity)"
I get a new credential using `azidentity.NewClientSecretCredential` like

[code]

I'm able to auth to azure ... This works well.

What happens when the token lifetime expires. (by default after 3600 Secs)

How do I renew the token?
Is there a way to do that?

[2021-12-07 12:35] vijayrajah commented on #16489
on further reading.. I think according to #10567 I do not need to worry about this. This is handled automatically in background.

Is this correct? Is this behavior enabled in current azidentity release?

[2021-12-07 13:39] asafg6 commented on #16401
I have this pull request that solves this issue
https://github.com/Azure/azure-sdk-for-go/pull/16403

[2021-12-07 15:35] #16129 closed

[2021-12-07 15:57] RickWinter commented on #16489
Correct, The Identity package handles refreshing the token slightly prior to expiration.

[2021-12-07 16:09] RickWinter commented on #15957
@KuljitAthwal Thank you for using the Go SDK.  Can you please provide links to the feature in C# and TS SDKs.

[2021-12-07 16:53] vijayrajah commented on #16489
thanks for the confirmation @RickWinter

[2021-12-07 16:53] #16489 closed

[2021-12-07 19:17] jeremymeng opened #16491 "[Doc] package landing page not expanded by default"
- What happened?
Go to https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/keyvault/azsecrets
Notice that the doc landing page of a package is not expanded by default
![image](https://user-images.githubusercontent.com/7583839/145091758-6138a829-0508-4634-a217-914b69f8e335.png)

- What did you expect or want to happen?
Why not expand it by default? I need to click to expand it.

- How can we r

[2021-12-07 19:26] jeremymeng opened #16492 "[Doc] inconsistent package name for azidentity in KV secret README"
- What happened?

package name for identity is "azure-identity"

![image](https://user-images.githubusercontent.com/7583839/145093304-41e7a288-9a1a-41f8-bb63-3c27076bcb2b.png)

- What did you expect or want to happen?

`azidentity` to be consistent with `azsecrets`

- How can we reproduce it?
Go to https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/keyvault/azsecrets#section-readme

[2021-12-07 19:29] jeremymeng opened #16493 "[Doc] add button to copy code to clipboard"
### Feature Request
It would be nice to be able to click a button to copy the code

[2021-12-07 19:47] mccoyp opened #16494 "[Tables] Old Storage package doesn't link to aztables"
As part of the docs bug bash, I attempted to find the Tables SDK from the root of the repo. After searching for "tables" and finding a Table service client in the [old Storage package](https://github.com/Azure/azure-sdk-for-go/tree/main/storage) I learned that the package is going to be deprecated. Since there's no link to the `aztables` package, though, it made me think that the Table service cli

[2021-12-07 20:15] jeremymeng opened #16495 "[Doc][azsecrets] outdated code sample for Update Secret metadata"
- What happened?
copy and paste code snippet from Update Secret metadata sample but it doesn't build

- What did you expect or want to happen?
correct code:
[code]

logging sample is also incorrect
![image](https://user-images.githubusercontent.com/7583839/145115722-8e009516-1345-472c-9ccc-2e2a52004d16.png)

[2021-12-07 20:20] mccoyp opened #16496 "[Tables] Ask users to log into Azure CLI before running commands"
We tell users that they can run an Azure CLI command in the [Create the client](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/data/aztables#create-the-client) section of the Tables readme, but we don't specify that `az login` needs to be run first to avoid an auth error. It's a minor detail, but new users might not know how to resolve the issue.

[2021-12-07 21:06] jeremymeng commented on #16495
Now I am hitting a nil point deref
[code]

https://github.com/Azure/azure-sdk-for-go/blob/88d611e9ded5369c62e0776a641d1e019ad22ecc/sdk/keyvault/azsecrets/models.go#L93

[2021-12-07 22:28] #16201 closed

[2021-12-07 23:40] tg-msft opened #16498 "[Blobs] [Docs] azblob SEO"
I struggled to find the latest Blobs docs for Go when getting started with the bug bash.  The README shows `NewServiceClientWithSharedKey` but everything I find when searching things like "go azblob docs" is for older versions where we used the `URL` pattern instead of `Client`.  I eventually gave up and asked for help.

There are a couple of things we need to fix:
- Add link to our ref docs from

[2021-12-07 23:42] tg-msft opened #16499 "[Docs] Add reference documentation to docs.microsoft.com"
I struggled to find the docs for the latest version of azblob per https://github.com/Azure/azure-sdk-for-go/issues/16498 but I would have felt confident I landed in the right spot if there was something at docs.microsoft.com.  While it won't be as idiomatic for go devs as https://pkg.go.dev/, it'll be very idiomatic for any Microsoft developers experimenting with go.

[2021-12-08 00:03] tg-msft opened #16500 "[Blobs] [Docs] README feedback"
General feedback about https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/storage/azblob/README.md

### Create the client
1. In [Create the client](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/storage/azblob/README.md#create-the-client) you list the types of resources, but it'd be helpful to include the type of client like `Azure storage accounts, represented by ServiceClient.`
1.

[2021-12-08 01:08] tg-msft opened #16502 "[Blobs] [Docs] Ref docs structure"
High level feedback about https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob@main

1. I don't really know what to make of this page as it includes a verbatim README followed by the real documentation.  Is this standard practice in go?  It doesn't feel like it flows super well from the README into the ref docs.  I also think folks looking up our ref docs are potentially a diffe

[2021-12-08 01:22] tg-msft opened #16503 "[Blobs] [Docs] Ref docs feedback"
Detailed feedback about https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob@main

### [Constants](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob@main#pkg-constants)
1. Why are these grouped into so many different chunks?  Why are BlockBlobMaxUploadBlobBytes, BlockBlobMaxStageBlockBytes, and BlockBlobMaxBlocks together but BlobDefaultDownloadBlockSize  i

[2021-12-08 06:13] vijayrajah opened #16504 "Azure API version used by Modules"
I have a hard time to find the exact Azure API version used by Go module. Can we document it, please?

in the old SDK, this was explicit (in the import path).

Example:

I'm using `armcompute.NewVirtualMachineRunCommandsClient` From `v0.2.0` of the `armcompute` module. In the doc there is no mention of what Azure API version this corresponds to (as of 8-Dec-2021 -- It should be `2021-07-01`)

This

[2021-12-08 07:37] #15894 closed

[2021-12-08 07:38] #15872 closed

[2021-12-08 08:14] haolingdong-msft opened #16521 "[Docs Bug Bash] Feedback on Go Service Bus SDK"
Hi,
Below are my feedbacks on Go Service Bus bug bash.
1. For service bus management plane SDK readme: https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/servicebus/armservicebus, it is better that we have samples about how to create a service bus, currently I only find sample code to create a client.
2. For service bus data plane SDK readme: https://github.com/Azure/azure-sdk

[2021-12-08 09:10] matt-FFFFFF opened #16528 "Add stable API version for Azure Policy to support non-compliance messages"
### Feature Request

Please can we add either of the following stable API versions for `services/resources/mgmt` to support Azure Policy non-compliance messages. Currently these only exist in the SDK as preview.

For use in the Terraform provider, where the preference is to use stable API versions as opposed to preview.

Stable policy versions supporting non-compliance messages are:

* 2020-09-01

[2021-12-08 17:43] richardpark-msft commented on #15563
Draft PR went in! PR incorporating that into azservicebus here: https://github.com/Azure/azure-sdk-for-go/pull/16530

[2021-12-08 19:45] #16496 closed

[2021-12-08 22:56] #16340 closed

[2021-12-08 22:56] #15163 closed

[2021-12-09 06:26] Leavrth opened #16542 "azblob: StorageError might be empty for the current implement `UnmarshalXML` in the azurite environment."
### Bug Report

- import path of package in question: `import github.com/Azure/azure-sdk-for-go/sdk/storage/azblob`
- SDK version `master`
- output of `go version`
[code]

- What happened?
This is my code, and the azurite is running.
[code]
In fact, container `test254` is not exsit in the Azurite. So we will see the error print in the terminal.
But terminal show this,
[code]
- What did you expect

[2021-12-09 14:50] jjcollinge commented on #16228
One issue that I spoke to @richardpark-msft about internally was the fact it's not currently possible for us to migrate [this Dapr test](https://github.com/dapr/components-contrib/blob/4bf0dcbfcfa38f668e3b014078e7758381c11321/pubsub/azure/servicebus/message_test.go#L128) as there is no way to construct the `ReceivedMessage` with a body as it's internal. We might be able to cover this scenario in t

[2021-12-09 21:08] oWretch commented on #9393
@ArcturusZhang Did you hear anything back from the `web` swagger owners on getting these included in the SDK? As others in this chat we are keen to get this into the Terraform provider which has a prerequisite on this issue.

It's sad to see an issue that seems to be a trivial fix languishing for 6+ months without any feedback. /cc @azureappservicecli @antcp

[2021-12-09 22:10] sadasant commented on #15923
I think it should be enough to return errors if there are errors at the end of NewDefaultAzureCredential. I could be missing something 🤔

[2021-12-10 14:36] MartinForReal opened #16613 "Fakes Support"
I'm wondering if there will be  support for mock client because it will help end user develop unit test case.

[2021-12-10 16:39] #14920 closed

[2021-12-10 16:39] #15632 closed

[2021-12-10 16:39] #15973 closed

[2021-12-10 16:39] #16118 closed

[2021-12-10 18:52] chlowell commented on #15923
I worry that would imply the credential isn't useable. I expect applications to do this:
[code]
What I'm looking for here is more detailed log output when DefaultAzureCredential.GetToken fails. Every component of the default chain should be represented so a user who expected e.g. EnvironmentCredential to work gets some hint about why it didn't.

[2021-12-11 00:46] sadasant commented on #15923
I’ll explore some ideas next week before I make a PR! I’ll continue to comment here if I find anything interesting.

[2021-12-11 01:01] sadasant commented on #15923
I do believe that it is natural in Go to have good results besides errors. This is a fundamental part of the language that should be used as an advantage.

[2021-12-11 01:31] sadasant commented on #15923
AWS has custom error types with partial results: https://github.com/aws/aws-sdk-go/blob/main/service/s3/s3manager/upload.go#L44-L52

I don’t see a clear guide stating that valid results should not be sent in case of partial errors.

I will focus my efforts on logging for now in any case.

[2021-12-11 07:42] sidheshdivekar29 opened #16616 "VirtualHubRouteTableV2sClient: Get/List function doesn't really get anything."
Hi,

Trying to use VirtualHubRouteTableV2sClient but its not really retrieving anything.

[2021-12-11 08:00] #16616 closed

[2021-12-11 08:00] sidheshdivekar29 commented on #16616
Using client from hubroutetables.go helped.
~/workspace/azure-sdk-for-go/services/network/mgmt/2020-06-01/network$ ls *routetab*
hubroutetables.go		routetables.go			virtualhubroutetablev2s.go

[2021-12-11 22:24] flexarts commented on #16340
Thanks @richardpark-msft the patch works like charm. Reconnecting is now possible in the outer code!
Have a wonderful Christmas time :)

[2021-12-13 16:56] #16495 closed

[2021-12-13 16:56] #16492 closed

[2021-12-13 16:56] #16494 closed

[2021-12-13 16:57] seankane-msft commented on #16491
I believe this is out of our control. @jhendrixMSFT any idea on how to make this change?

[2021-12-13 17:08] jhendrixMSFT commented on #16491
This is by (their) design.  If you look at the docs for AWS it's the same thing.

https://pkg.go.dev/github.com/aws/aws-sdk-go

[2021-12-13 17:36] chlowell commented on #15923
The error message returned from GetToken is also important, probably more so than logging.

I still think we shouldn't return a non-nil error when the credential might work. Doing so would burden developers with figuring out whether the error matters. I imagine that would involve logic like "if the application is deployed to a VM, ignore the error unless it's about managed identity", which erodes

[2021-12-13 17:40] ior308 commented on #16254
Dear, any news ?

[2021-12-13 19:42] jhendrixMSFT opened #16638 "Document how to interact with sovereign/private clouds"
We support non-public clouds but don't have any docs/samples on how to connect to them.  This comes up periodically and has been a pain-point in the past.

[2021-12-13 21:17] sadasant commented on #15923
Let’s say `DefaultAzureCredential` is deployed in a VM and it fails, checking the right error should be as easy as `if errors.Is(err, ManagedIdentityCredentialError) {`.

Moreover, without a concrete error for success cases, users won’t be able to deploy programs reacting to specific authentication methods if they deploy to environments where more than one authentication is available.

Let’s say t

[2021-12-13 22:29] chlowell commented on #15923
Well, there's no ManagedIdentityCredentialError. But if there were, I think expecting customers to handle spurious constructor errors makes DefaultAzureCredential too painful to use. This:
[code]
is tantamount to this, which I would recommend instead:
[code]
And we're begging the question of whether recovery is possible, though it's moot at construction anyway because constructors rarely return er

[2021-12-13 23:09] sadasant commented on #15923
I’m always torn by DefaultAzureCredential 😅.. I’ll focus my PR on logging 👍 (I thought the failure error message was ok but I’ll also review it again)

[2021-12-13 23:16] chlowell commented on #15222
I would rather leave this implicit in the documentation. Applications can use `azidentity` independently from the SDK, if it has the necessary features, but I don't want to encourage that. `azidentity` has a narrow focus: authenticating Azure SDK clients. Developers looking for a general purpose authentication package should prefer [MSAL for Go](https://github.com/AzureAD/microsoft-authentication-

[2021-12-13 23:16] #15222 closed

[2021-12-13 23:41] chlowell commented on #15923
Environment variable configuration illustrates my complaint. When DefaultAzureCredential.GetToken fails, I want the error message to say something about each inner credential, to help developers debug the ones they care about. However, when environment configuration is incomplete, `NewEnvironmentCredential()` returns a nil pointer which doesn't go on the chain, so ChainedTokenCredential's error me

[2021-12-14 00:07] chlowell opened #16640 "Add offline managed identity tests"
i.e. validate the client creates the correct request for each platform:
- [x] App Service (2017-09-01)
- [x] Arc #16771
- [x] Cloud Shell #16771
- [x] IMDS
- [x] Service Fabric #16267

[2021-12-14 01:05] balogal opened #16641 "[azservicebus] Authorization using Shared Access Signature Token"
### Feature Request

Hi, with other SDKs, e.g. python or C#, I'm able to connect to an Azure Service Bus using a connection string that contains a [shared access signature token](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-sas#generate-a-shared-access-signature-token) for authorization.

if I try to do the same with the `azservicebus` package, I run into the following

[2021-12-14 01:48] chlowell opened #16642 "On-Behalf-Of authentication"

[2021-12-14 01:54] chlowell opened #16643 "User authentication and cache persistence API"
Add an `Authenticate` method to user credentials, and persistent token caching options. Looks like this in Python: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/samples/user_authentication.py

~~Blocked on a persistent token cache implementation from MSAL for Go (https://github.com/AzureAD/microsoft-authentication-library-for-go/issues/58).~~

[2021-12-14 01:56] chlowell opened #16644 "Reach feature parity with other SDKs"

[2021-12-14 02:05] jhendrixMSFT commented on #15108
Sorry for the delay.  I've had a hard time tracking down the owner of this API.  Still looking.

[2021-12-14 03:14] TheOnlyWei commented on #16352
Turned out to be an issue with our environment. It has since been mitigated. Not sure if the error message could be improved as "context deadline" has been cancelled doesn't tell what cancelled it.

[2021-12-14 03:14] #16352 closed

[2021-12-14 09:11] tadelesh commented on #15893
Cut 2, 6.

[2021-12-14 09:12] #15893 closed

[2021-12-14 11:48] tombuildsstuff commented on #14571
@msaranga https://github.com/hashicorp/terraform-provider-azurerm/issues/14606 highlights that these Tags also need to be propagated to the managed resource group too fwiw

[2021-12-14 20:57] #15757 closed, assigned to seankane-msft

[2021-12-15 03:33] ArcturusZhang commented on #16401
Hi @asafg6 thank you for your issue!

But unfortunately your PR cannot be merged, because our SDK is auto-generated from the corresponding swaggers, your changes will be overridden on your next release.
We will report this issue to the corresponding service team so that they can fix their swagger accordingly and this issue will be resolved then.

[2021-12-15 05:21] Alancere commented on #16528
@matt-FFFFFF package-2020-09-01 and package-2021-06-01 are both preview versions, I did not find a stable version about them

[2021-12-15 05:29] Alancere commented on #16388
@josh-barker Does recoveryservices backup stable 2021-07-01 meet your needs(track1)?https://github.com/Azure/azure-sdk-for-go/tree/a51bae68638fee14f4fbc2f1003ea719119cfdd7/services/recoveryservices/mgmt/2021-07-01/backup

[2021-12-15 05:59] lirenhe commented on #16638
@jhendrixMSFT , I suggest adding one page in https://docs.microsoft.com/en-us/azure/developer/go/ for this work.

[2021-12-15 09:10] lirenhe commented on #16521
@haolingdong-msft, the samples for armservicebus could be found under https://github.com/Azure-Samples/azure-sdk-for-go-samples/tree/new-version/servicebus.  We need to improve how users could find samples for GO SDK

[2021-12-15 18:51] danieljurek opened #16658 "Add spell check for modified files"
Warns on spelling error detection

This change will turn the Analyze pipeline yellow if there is a spelling error detected in a modified file in a PR. It does not block merging and logged warnings will appear in the summary of the pipeline run and in pipeline status emails.

[2021-12-15 19:59] matt-FFFFFF commented on #16528
Thanks for looking. Those API versions work when I do a GET request to the RPs. Is there another dependency that you need that isn't available?

[2021-12-15 22:24] JeffreyRichter commented on #15923
DefaultAzureCredential (DAC) exists for users to more easily get started with our SDKs. Customers should not use it in production environments for the reason you mention above: in a deployment, the app should know exactly what credential it is using and whether it is successful at creating/using it.

During development, the "contract" of DAC is that it is successfully created if it can latch on to

[2021-12-16 04:04] sadasant commented on #15923
While I agree with that, I am not sure if that’s the intention across languages. It’s showcased as if it should be used on production environments, I believe.

[2021-12-16 04:05] sadasant commented on #15923
Thank you both for your help! I understand I should focus on logging. I’ll try to have a PR out this week!

[2021-12-16 07:44] mohsha-msft commented on #16542
Hey @Leavrth ,

Thanks for reporting the issue. @johnstairs has fixed the issue and I've merged it in `dev-azblob` branch.
Can you please try `go get github.com/Azure/azure-sdk-for-go/sdk/storage/azblob@dev-azblob`.

Please reach out if the issue persists.

[2021-12-16 07:45] mohsha-msft commented on #16542
Once we do the next release of `azblob`, we'll include this change and close this issue.

[2021-12-16 07:49] mohsha-msft commented on #16193
Hey @yvespp ,

Thanks for reaching out and I sincerely apologize for the delay from my side. Let me check this once and get back to you. I'll include the fix in the `dev-azblob` branch once it is ready. Once we make next release of azblob, it'll be available to you.

[2021-12-16 07:52] mohsha-msft commented on #16254
Hey @ior308 ,

I sincerely apologize for replying late on this thread.
I'm aware of this issue and I think it was reported in [this PR](https://github.com/Azure/azure-sdk-for-go/pull/15958/files) as well. Let me fix that. I'll keep you informed.

[2021-12-16 10:09] daniel-weisse opened #16676 "Unable to interact with managed HSM using `azkeys` and `azkeys/crypto` packages"
### Bug Report

- import path of package in question:
[code]
- SDK version: `v60.0.0`
- output of `go version`: `go version go1.17.5 linux/amd64`

I'm trying to create a Key Encryption Key in an Azure managed HSM using the Go SDK.
Once the key is created I want to use the key for key wrapping and unwrapping.

- What happened?
`azkeys.Client.CreateOCTKey`, `crypto.Client.WrapKey`, and `crypto.Clien

[2021-12-16 15:29] jhendrixMSFT opened #16677 "Cannot set custom scopes when creating a pipeline"
In the case of ARM, we calculate the scopes based on the provided endpoint.  While this works in most cases, when a service is in private preview it might not.  Here's a snippet from the customer.

For data-plane, scopes look to be hard-coded.

[2021-12-16 19:49] dnozay opened #16678 "QuotaRequestDetails (preview/reservations/mgmt/2020-10-25/reservations) does not unmarshal properly"
### Bug Report

Mini repro script:
[code]

`go.mod`:
[code]

- import path : `"github.com/Azure/azure-sdk-for-go/services/preview/reservations/mgmt/2020-10-25/reservations"`
- SDK version : latest, `github.com/Azure/azure-sdk-for-go v60.1.0+incompatible`
- output of `go version`

[code]

- What happened?

   `QuotaRequestDetails` does not unmarshall correctly.

response body:
[code]

- What did yo

[2021-12-16 20:00] jhendrixMSFT commented on #16677
We can add a `Scopes []string` to each credential option, then use this instead of the value passed to `GetToken()`.

[2021-12-16 23:31] josh-barker commented on #16388
@Alancere

recoveryservices backup stable 2021-07-01 supports the needed `StorageType` values.

However, I cannot find the 2nd endpoint - `https://management.azure.com/subscriptions/xxx/resourceGroups/xxx/providers/Microsoft.RecoveryServices/vaults/xxx/monitoringConfigurations/notificationConfiguration?api-version=2017-07-01-preview`

Would you prefer me to raise a separate issue to publish the 2n

[2021-12-17 00:00] RickWinter commented on #16388
We will not be publishing an update to the old mgmt plan for this service.  It will be available based on the new design guidelines in the upcoming months.  There is a PR in progress to add it.

https://github.com/Azure/azure-sdk-for-go/pull/16518.

[2021-12-17 00:26] sadasant commented on #15923
So, what about something like this? https://github.com/sadasant/azure-sdk-for-go/commit/68a1d0bd47a87e435899c299c5e749685a94438c

- We do have logs at the end if there’s a failure in the chained token credential, but not throughout the progress of the chained token credential.
- Besides logging errors throughout the progress of the chained token credential, we add a property to chained token crede

[2021-12-17 01:32] lirenhe commented on #16678
@dnozay , based on the swagger definition and sample provided by service team, https://github.com/Azure/azure-rest-api-specs/blob/main/specification/reservations/resource-manager/Microsoft.Capacity/stable/2020-10-25/examples/getQuotaRequestStatusById.json, the response body should not contain duplicate 'properties', as our SDK is generated by Swagger, could you open an issue in https://github.com/

[2021-12-17 01:45] lirenhe commented on #16528
@matt-FFFFFF, the reason we release preview SDK is that the package definition contains preview freatures https://github.com/Azure/azure-rest-api-specs/blob/main/specification/resources/resource-manager/readme.md#tag-package-policy-2021-06
We will release stable version when the APIs defined in Microsoft.Authorization/preview/2020-07-01-preview/policyExemptions.json become stable.

[2021-12-17 01:46] jkowalski opened #16679 "Azure Blob: Unable to access Metadata when listing blobs"
### Bug Report

- import path of package in question, e.g. `github.com/Azure/azure-sdk-for-go/sdk/storage/azblob`

require github.com/Azure/azure-sdk-for-go/sdk/storage/azblob v0.2.0

require (
	github.com/Azure/azure-sdk-for-go/sdk/azcore v0.20.0 // indirect
	github.com/Azure/azure-sdk-for-go/sdk/internal v0.8.1 // indirect
	github.com/stretchr/objx v0.2.0 // indirect
)

- output of `go version`

[2021-12-17 01:57] lirenhe commented on #16389
The package definition https://github.com/Azure/azure-rest-api-specs/blob/main/specification/resources/resource-manager/readme.md#tag-package-policy-2021-06 contains preview feature so we released preview package.

[2021-12-17 02:05] jkowalski commented on #16679
In case this helps anybody, here's a quick-and-dirty XML parsing workaround that works and allows me to read the one metadata I'm interested in:

[code]

[2021-12-17 02:07] lirenhe commented on #16388
@josh-barker, our stable package should not contain preview features.  If you need this API, could you create an issue in https://github.com/Azure/azure-rest-api-specs/issues/new to ask service team to put this API into the latest API version?

[2021-12-17 02:48] lirenhe commented on #16373
@manalivaltix, do you have the sample code for the problem you face?

[2021-12-17 03:05] ArcturusZhang commented on #16401
Hey @asafg6 for normal cases we have cut the new features for data plane packages now, but considering your change is a bug fix, and there is really no alternative of this package out there now, we will have a review and merge your PR to unblock you.
Sorry for the inconvenience

[2021-12-17 03:07] Alancere commented on #16298
released in https://github.com/Azure/azure-sdk-for-go/releases/tag/v60.0.0

[2021-12-17 03:24] #16298 closed

[2021-12-17 04:00] Scarlettliuyc commented on #16488
Thanks the issue fixed when update to latest version of SDK

[2021-12-17 04:00] #16488 closed

[2021-12-17 04:23] Alancere commented on #16297
Hi @magodo thanks for this issue!

Releasing a new package will require the service to submit a new SDK release request, I have added the label on this issue so that the corresponding service team could take this a look.
I also sent some internal emails to the contact of the corresponding service team about this.

[2021-12-17 05:08] lirenhe commented on #15987
The targeting API version to use is defined by service team in https://github.com/Azure/azure-rest-api-specs/blob/main/specification/monitor/resource-manager/readme.md#tag-package-2021-09.   We will close this item and please submit your request in https://github.com/Azure/azure-rest-api-specs/issues/new.

[2021-12-17 05:08] #15987 closed

[2021-12-17 05:13] lirenhe commented on #15968
thanks @aristosvo for the clarification. Yes, this seems to be a Swagger issue instead of GO SDK problem.  So let's use https://github.com/Azure/azure-rest-api-specs/issues/16560 to track the progress.   Close this one.

[2021-12-17 05:13] #15968 closed

[2021-12-17 05:20] ArcturusZhang commented on #16266
Opened a [PR](https://github.com/Azure/azure-rest-api-specs/pull/17128) for this request.
I have to emphasize that the generated code from this version will be buggy for some APIs, since we have some model name collisions on the swaggers. This bug comes from a malformed swagger and our old code generator (which generates everything in the `services` directory) cannot handle this case properly.
But

[2021-12-17 05:35] vijayrajah commented on #16504
consider if we need to filter response using odata filter ($filter). it is not documented in the SDK docs on the valid filters are. We need to check the api docs on the filter details.

Example:
I'm currently investigating azure Resource health API.

[doc here](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resourcehealth/armresourcehealth#AvailabilityStatusesClient.ListB

[2021-12-17 06:13] lirenhe commented on #15798
@KuljitAthwal, as we provided the API version of https://github.com/Azure/azure-sdk-for-go/tree/main/services/costmanagement/mgmt/2019-11-01/costmanagement, could you try that to check whether it could solve your problem?

[2021-12-17 08:00] matt-FFFFFF commented on #16528
No problem. Thanks for looking into it!

[2021-12-17 10:27] andrewbaxter opened #16685 "Migration doc references missing `arm.NewDefaultConnection`"
### Bug Report

https://github.com/Azure/azure-sdk-for-go/blob/main/documentation/MIGRATION_GUIDE.md

contains the following example:

[code]

However `NewDefaultConnection` doesn't appear in the code base at this time.