[2014-12-01 22:41] stevvooe opened #4 "Functions, Types and Methods are undocumented"
All the objects in the SDK packages are completely undocumented, making it hard to understand how to use the API. This is most obvious when reading the [godoc](http://godoc.org/github.com/MSOpenTech/azure-sdk-for-go/clients/storage) for the package.

[2014-12-01 23:00] stevvooe opened #5 "Explain fork of http and tls in azure sdk"
It looks like `net/http` and `crypto/tls` have been forked for use in the SDK. It would be nice to get an overview of why this was done, what changes were made and a road map to get the required changes into Go standard library, if possible.

The worry here is that it will be hard to vet the implementation for security and problematic to ensure fixes are backported from the standard library.

[2015-01-19 06:08] jf opened #10 "Latest commit (7aa5789ab87c3f816829ab0ad4ffe6899484fdb4) has broken blob_test.go"
https://github.com/MSOpenTech/azure-sdk-for-go/blob/master/clients/storage/blob_test.go#L637 should now be
```if expected := base64.StdEncoding.EncodeToString([]byte(fmt.Sprintf("%011d", 0))); thatBlock.Name != expected {```

Commit in question: 7aa5789ab87c3f816829ab0ad4ffe6899484fdb4

[2015-01-19 19:50] hopetobelievein commented on #10
@ahmetalpbalkan

[2015-01-19 19:58] ahmetalpbalkan commented on #10
ah forgot to update the tests. my bad. @jf wanna submit a pr or want me to do it. fix looks lgtm.

[2015-01-19 21:01] jf commented on #10
Thanks for asking, @ahmetalpbalkan. I'll do a PR shortly. I may end up following development somewhat closely, so it's just as well.

[2015-01-19 21:03] ahmetalpbalkan commented on #10
@jf ok feel free to submit a PR. @hopetobelievein can help merging.

[2015-01-20 03:50] hopetobelievein commented on #10
Fixed by https://github.com/MSOpenTech/azure-sdk-for-go/pull/11

[2015-01-20 03:50] #10 closed

[2015-01-26 12:08] jf opened #14 "Functionality/code for Get/Set/Delete blob/container ACLs?"
Is there any functionality or code for this, and if so, why not?

[2015-01-26 18:41] ahmetalpbalkan commented on #14
Thanks for bringing this up. I assume you mean blob/container ACLs.

Currently, the blob storage client is written to be used in our other projects (like docker-registry azure driver, or packer-azure) and is not a full client (I should probably create a readme for the package). The mentioned projects do not require the ACL calls, therefore these are omitted.

Do you need them? I may look into thos

[2015-01-26 21:35] jf commented on #14
thanks, @ahmetalpbalkan for the quick reply. Yup, I do need them. I'm looking into using SAS at the moment. The ACLs will be for setting storage access policies.

[2015-01-26 21:37] ahmetalpbalkan commented on #14
SAS is implemented for blobs if you like to use it. it might not be there for containers

[2015-01-26 21:38] #5 closed

[2015-01-26 22:34] jf commented on #14
My understanding of SAS is that you'll need to use ACLs if you want to use stored access policies. Am I right?

[2015-01-26 22:41] ahmetalpbalkan commented on #14
I don't think generating SAS URL for a container requires setting ACL on container. Read this: http://azure.microsoft.com/en-us/documentation/articles/storage-dotnet-shared-access-signature-part-2/

[2015-01-27 00:27] jf commented on #14
What if I want to use a stored access policy? I'll need to set ACLs, right? That's according to https://msdn.microsoft.com/en-us/library/azure/dn140257.aspx

[2015-01-27 00:28] ahmetalpbalkan commented on #14
That's right. Implementing this sh

[2015-01-27 01:21] jf commented on #14
ok. Should I define these as methods on BlobStorageClient?

[2015-01-27 02:14] ahmetalpbalkan commented on #14
Sounds about right.

[2015-01-27 23:05] #4 closed

[2015-01-27 23:22] stevvooe commented on #4
@ahmetalpbalkan Thanks! This is much better!

As an aside, we use golint during our build to check exported documentation for each PR. Its obnoxious, at first, but ensures that everything gets some docs.

[2015-01-30 19:39] jen20 opened #27 "Consider having a stateful client object"
I know the current design is similar in design to the node CLI tools, but I'd like to open up a discussion about moving to having a stateful client object which represents the subscription currently being worked on and has methods for the various operations.

This would greatly assist automation which affects multiple subscriptions simultaneously (which at the moment would need to be in separate p

[2015-01-30 22:44] ahmetalpbalkan commented on #27
cc: @paulmey
we were thinking of the same, storage client is currently stateful and does not contain any globals. however other parts usually work with globals, which prevents working with multiple subscriptions in the same process.

[2015-02-02 05:06] jf commented on #14
Btw, I believe the "ISO 8061" mentioned at https://msdn.microsoft.com/en-us/library/azure/dn140255.aspx: that should be ISO 8601?

[2015-02-02 05:09] ahmetalpbalkan commented on #14
Haha that's a nice catch.

[2015-02-02 05:09] ahmetalpbalkan commented on #14
Haha that's a nice catch. :joy: I will forward this feedback. Yes it should be 8601.

[2015-02-02 05:56] jf commented on #14
Thanks. I cried too about this. :}

[2015-02-02 21:04] paulmey commented on #27
Yes, this has been a silent wish of mine too. I agree it's probably a big refactor and most probably breaks current consumers, so we'll probably have to start versioning the codebase. We could keep both models side-by-side for a while to help consumers transition.

[2015-02-03 18:21] jen20 opened #34 "Testing"
Currently as I'm implementing new features I'm writing local test harnesses. What is the current testing story to get these more automated?

[2015-02-09 22:53] jen20 opened #38 "Remove Logic from Hosted Service Client"
When creating a hosted service, there is a call made to check the name availability. My opinion is that we should remove this call and make it a user responsibility, since they have to handle the `ConflictError` which can result from the race between checking the availability and creating the hosted service.

However, the check being present makes it very difficult to find out what actual error ge

[2015-02-09 23:06] hopetobelievein commented on #38
I don't mind.

[2015-02-09 23:16] jen20 commented on #38
It would be reasonable to have the logic elsewhere, but I think we should expose a way of making the individual calls directly, and then have some blocking API (which waits for the result) for other uses. It becomes much easier to use with something like `.SetPartial()` when using the API to write a Terraform provider if the API calls are actually exposed.

[2015-02-09 23:29] ahmetalpbalkan commented on #38
:+1:  Makes sense. there should be a method to check HS name availability which makes only 1 REST API request and another method to create HS with specified name, again something makes only 1 REST API call.

Historically we probably added the logic to get something done quickly but it would be good to fix it now. Having this extra logic would also confuse the caller and make them look into the cod

[2015-02-11 21:50] anweiss opened #40 "Add support for additional Azure environment endpoints"
Should include support for additional Service Management endpoints for both Azure Government and Azure China. Constants block should include those endpoints.

[code]

Will be best to wait until #39 is merged before making this add. The `NewClient` functions could include some sort of `Environment` argument to denote which environment should be used.

[2015-02-11 22:21] ahmetalpbalkan commented on #40
This should be configurable rather than having China also hardcoded, that's the practice I followed in blob storage package and what other SDKs do.

Public cloud is hardcoded by default and users can provide their own base URLs.

[2015-02-11 22:25] anweiss commented on #40
Agreed.

[2015-02-11 22:41] ahmetalpbalkan commented on #40
@anweiss wanna make a PR after we merge #39?

[2015-02-11 22:43] anweiss commented on #40
Sure thing!

[2015-02-14 00:52] ahmetalpbalkan opened #43 "Go over WaitForOperationStatus calls and use their error result"
Some `WaitForOperationStatus()` calls discard the returned error and just proceed. This shouldn't be the case.

[2015-02-14 00:55] ahmetalpbalkan opened #45 "Proposal: rename 'azure' directory to 'clients'"
Current status results in a weird import path like:

    go get github.com/MSOpenTech/azure-sdk-for-go/azure/storage

that's better off  as `/clients/` as it used to be like in v1.x

[2015-02-14 01:21] jen20 commented on #43
This is fixed in #44.

[2015-02-14 01:58] ahmetalpbalkan commented on #43
Ah, very well. Thanks :smile:.

[2015-02-14 01:58] #43 closed

[2015-02-14 02:00] ahmetalpbalkan commented on #38
Fixed in #44?

[2015-02-14 02:24] jen20 commented on #38
Not fixed yet afaik.

[2015-02-14 02:42] ahmetalpbalkan commented on #45
Better idea:

[code]

how's that sound? cc: @jeffmendoza @hopetobelievein @brendandixon

[2015-02-14 02:59] jen20 commented on #45
That looks better to me, certainly.

[2015-02-14 18:39] jen20 commented on #27
Closed by #41.

[2015-02-14 18:39] #27 closed

[2015-02-16 18:38] jeffmendoza commented on #38
This sounds good

[2015-02-18 18:53] hopetobelievein commented on #45
Yeah, that makes much more sense.
And we should probably update readme, it still uses 'azure' directory.

[2015-02-18 20:38] #45 closed

[2015-02-25 06:58] dhanunjay opened #50 "Support for Table/Queue service"
Is there any plans for supporting table and queue services?

[2015-02-25 07:28] ahmetalpbalkan commented on #50
@dhanunjay currently the storage part of the Go SDK is maintained on a per-need basis and we didn't really need it yet in any of our projects. If you're interested in implementing there must be plenty of common code/tests you can make use of. Any interest?

[2015-02-25 10:11] dhanunjay commented on #50
I am interested. Please let me know some pointers on where i should look for common code.

[2015-02-28 00:10] ahmetalpbalkan opened #55 "Add User-Agent header"
We must add User-Agent header while making queries to management APIs. It should be configurable but should have a default. We can get the UA convention from other language sdks we have.

[2015-02-28 12:19] dstpierre commented on #50
I would also be interested in contributing since I also need the table and queue service. How can I help?

[2015-02-28 20:39] ahmetalpbalkan commented on #50
You folks might want to look at the `storage/` package and start creating `table.go`, `table_test.go` and `queue.go`, `queue_test.go` by taking the blob storage implementation as a reference. Most of the authentication and HTTP request etc stuff is already there. All you need to do is creating the methods you need and preparing the request. If you can send small PRs, I would love to help our. Just

[2015-03-01 14:21] dstpierre commented on #50
Great, I can start with the queue[_test].go since I need this first. Thanks

[2015-03-02 04:52] politician opened #56 "Support for setting blob properties"
It doesn't look like the current library supports setting blob properties.  Ensuring that the Cache-Control and Content-Type properties are set correctly is an important use case when using Azure CDN to serve content from Blob Storage.

[2015-03-02 21:35] ahmetalpbalkan commented on #56
@politician Interested in contributing the method yourself? The implementation should be rather simple if you're familiar with Go. We also have a full unit test suite for blob storage code which you can help you understand the code.

The current state of blob storage package is, we add methods based on our needs in other projects and we happily accept contributions from the community.

[2015-03-03 08:42] waitingkuo opened #57 "Import PublishSettings from File"
It seems that there's a private function for importing the publishsetting file
[https://github.com/MSOpenTech/azure-sdk-for-go/blob/master/management/publishSettings.go#L31]

But I can't find another function that use the private function. Will it be public or have a NewClientFromPublishSettingsFile constructor?

[2015-03-03 08:53] waitingkuo opened #58 "management.NewClientFromPublishSettings is undefined"
According to README.md
We can use

    client, err := management.NewClientFromPublishSettings(SUBSCRIPTION_ID, SUBSCRIPTION_CERTIFICATE)
        if err != nil {
            fmt.Println(err)
            os.Exit(1)
        }

to create a client.

But NewClientFromPublishSettings is undefined.

[2015-03-03 19:10] hopetobelievein commented on #58
Updated readme.
Now we can use:
<code>subscriptionCert, err := ioutil.ReadFile(SUBSCRIPTION_CERTIFICATE_PATH)
    if err != nil {
        fmt.Println(err)
        os.Exit(1)
    }

    client, err := management.NewClient(SUBSCRIPTION_ID, subscriptionCert)
    if err != nil {
        fmt.Println(err)
        os.Exit(1)
    }
</code>

[2015-03-03 19:33] waitingkuo commented on #58
Thanks, it works!
Is it possible to use the publishsettings file to create the client?
#57

[2015-03-03 19:35] hopetobelievein commented on #57
It was removed here: https://github.com/MSOpenTech/azure-sdk-for-go/commit/63430b193b5e705cfe3e00054c4e6a3fcf5bd3b8
@anweiss can you please address this issue?

[2015-03-03 19:41] anweiss commented on #57
so not sure on this yet. we left the private functions in there just in case. I'll let @ahmetalpbalkan chime in.

[2015-03-03 19:43] anweiss commented on #58
@ahmetalpbalkan Since we made cert handling the responsibility to the caller, how do we want to provide for .publishsettings handling?

[2015-03-03 22:14] waitingkuo commented on #57
It seems that we have to create a client then import the publishsettings later.
3c9cf2fecccf6bbbedbc117ac48c12f381536e02

[2015-03-03 22:16] jen20 commented on #58
@anweiss In my opinion this library should handle the `.publishsettings` files as it's Azure specific.

[2015-03-04 00:16] ahmetalpbalkan commented on #58
@jen20 +1. We need the wa

[2015-03-05 19:23] waitingkuo commented on #58
According to the current architecture, i've made a patch
3c9cf2fecccf6bbbedbc117ac48c12f381536e02

[2015-03-05 20:56] ahmetalpbalkan commented on #58
@waitingkuo can you please send a pull request? We should probably add another constructor that takes Config as well and one should call another (just like what we have today)

[2015-03-05 23:26] ahmetalpbalkan opened #60 "rename AddAzureLinuxProvisioningConfig"
this should be NewAzureLinuxProvisioningConfig. anyone?

[2015-03-06 00:08] hopetobelievein commented on #60
Well it takes VM configuration and adds Linux provisioning config to it. Result is updated VM config, not Linux provisioning config.
I named it identically to Add-AzureProvisioningConfig cmdlet from Azure powershell.

[2015-03-06 00:16] ahmetalpbalkan commented on #60
Sounds fair except we should eventually remove such client side logic eventually.

[2015-03-06 00:16] #60 closed

[2015-03-19 22:27] ahmetalpbalkan opened #68 "GetStorageServiceByLocation should be removed"

[2015-03-21 05:00] ahmetalpbalkan opened #71 "storage/blob: Remove PutBlockBlob"
`putBlockBlob`/`PutBlockBlob` methods are convenience methods with special logic and we shouldn't have those in the same package (maybe move to `blobhelper`).

[2015-03-26 18:01] paulmey commented on #57
fixed in #65 /  ea0d561

[2015-03-26 18:02] paulmey commented on #58
fixed in #65 /  ea0d561

[2015-03-26 18:08] paulmey commented on #55
Looks like in the .NET SDK, only HDI is setting useragent?

https://github.com/Azure/azure-sdk-for-net/search?utf8=%E2%9C%93&q=useragent

[2015-03-26 18:09] paulmey commented on #55
How about something like this:
https://github.com/Azure/azure-sdk-for-node/blob/a06932a8b536318a49b65fa4d26f4aed0bc18c40/lib/common/lib/services/filters/useragentfilter.js#L42

[2015-03-26 18:13] ahmetalpbalkan commented on #55
@paulmey hmm interesting. I thought they have it. this is good to have for tracking from our side e.g. how much docker-machine uses the API or how popular go sdk is.

e.g. python sdk has `pyazure`:
![](http://cl.ly/image/070x1I3E1U3X/Image%202015-03-26%20at%2011.12.59%20AM.png)

[2015-03-26 18:19] ahmetalpbalkan commented on #55
@paulmey updating version on each release is a bit hard, other than that I'm down for `azure-sdk-for-go` string (we should also make it configurable through `Config` type so other software can pass their identity).

[2015-03-26 18:20] paulmey opened #87 "Provide cancellation and progress channels in WaitForOperationStatus"

[2015-03-26 18:20] #58 closed

[2015-03-26 18:21] ahmetalpbalkan opened #88 "Allow specify x-ms-api-version in client configuration"
`NewClient*WithConfig` methods should accept `ApiVersion` string to override the default hard-coded version.

[2015-03-26 18:33] paulmey opened #89 "Poll interval should be configurable"
For WaitAsyncOperation polls every 30 seconds by default. This should be configurable.

[2015-03-26 21:02] ahmetalpbalkan opened #90 "Eliminate stdlib forks living at core/"
`core/` currently has `net/http` and `crypto/tls` vendored (with some changes we don't entirely know). We must watch out if we can make feature requests to golang about these and eventually get rid of those (nobody will vendor our entire repo like this) :smile:

[2015-03-26 21:17] paulmey commented on #90
:+1:

[2015-03-26 21:20] ahmetalpbalkan commented on #90
@paulmey can you dump here what you know about those (i.e. why we have them) it'd be nice to know where exactly we modified if we can.

[2015-03-26 21:25] hopetobelievein commented on #90
t

[2015-03-26 21:30] ahmetalpbalkan commented on #90
@hopetobelievein sure it will, thanks! Was that the only patch for vendoring `crypto/tls` package here?

Any ideas about `net/http`?

[2015-03-26 21:47] hopetobelievein commented on #90
Yes, that is the only thing that changed, plus references to changed packages.
I've added <code>net/http</code> because it has references to <code>crypto/tls</code> in some places:
https://github.com/MSOpenTech/azure-sdk-for-go/blob/master/core/http/response.go
https://github.com/MSOpenTech/azure-sdk-for-go/blob/master/core/http/transport.go
So final code in <code>./management/http.go</code> uses

[2015-03-26 23:28] ahmetalpbalkan commented on #90
@hopetobelievein thanks for clarifications. it took us some time in the past to dig deep and understand what's the diff'ed part.

[2015-03-31 10:35] allomov opened #93 "go-get problem: no buildable Go source files in the repo"
I try to run `go get github.com/MSOpenTech/azure-sdk-for-go` as it is written in README file, but I get following error message:
[code]

[2015-03-31 10:36] ahmetalpbalkan commented on #93
You're right this must be fixed. Meanwhile, try go get -d.

[2015-03-31 12:12] allomov commented on #93
Thank you for your answer, I was able to fix it by fetching `v1.2` tag.

[2015-03-31 17:51] paulmey commented on #93
Alternatively, `go get github.com/MSOpenTech/azure-sdk-for-go/...` will get you all packages and their dependencies under that path...

[2015-03-31 19:11] paulmey opened #94 "Rename IsAvailable to CheckStorageAccountNameAvailability"
https://github.com/MSOpenTech/packer-azure/pull/57#discussion_r27445873
Change: https://github.com/MSOpenTech/azure-sdk-for-go/blob/master/management/storageservice/client.go#L146

[2015-04-29 02:27] ahmetalpbalkan commented on #50
@dstpierre Hey! Did you have any progress on that? If you created something we love to pick that up and add upon.

[2015-04-29 21:03] #93 closed

[2015-04-29 21:03] #71 closed

[2015-04-30 05:16] ahmetalpbalkan opened #112 "Add gofmt/golint/go vet checks in CI"

[2015-05-01 15:09] anweiss opened #114 "Add Azure Resource Manager support"
Need to include support for Azure Resource Manager

[2015-05-06 12:02] dstpierre commented on #50
no did not have any time at all for this yet.

[2015-05-07 11:36] aznashwan opened #115 "OSimage get operation fails."
The osimage.Client.GetImageList() operation consistently fails with:

[code]

[2015-05-07 16:49] aznashwan commented on #115
Update:
I get that for

[2015-05-07 18:39] paulmey commented on #115
Thanks @aznashwan
"local error" point to a transport level error (HTTPS/TLS)...
Is it just this method or all methods?
Are you using a proxy?

[2015-05-07 20:29] aznashwan commented on #115
Hello @paulmey, and thanks for the response.

Yes, everything was returning the same 'internal server error' for me up to now.

Upon looking further into the matter, it seems the problem was on my end with the format and encoding of my certificates. Weirdly enough; it granted me access just fine but afterwards it kept yielding the above error.
It works fine with a .publishsettings file, unfortunat

[2015-05-07 20:29] #115 closed

[2015-05-07 20:51] paulmey commented on #115
No problem. For certificate handling, we use the 'standard' go pem/tls crypto packages, so anything that those support should work. The reason for vendoring the tls and http packages is to support a renegotiation feature that Azure needs, but is not in the upstream go libraries yet.
See https://github.com/golang/go/issues/5742 for more info...

[2015-05-07 20:57] aznashwan commented on #115
Thank you very much, and my apologies again for all the bother.

[2015-05-11 20:24] #57 closed

[2015-05-11 20:26] ahmetalpbalkan commented on #40
closed with #48

[2015-05-11 20:26] #40 closed

[2015-05-12 08:18] aznashwan opened #117 "Delete virtualnetworks."
Not sure whether Set simply nuke-and-paves the current configuration and applies the new one, thus semi-providing this functionality.
If so, the docstrings could use an upgrade, if not, a Delete function would be awesome.

https://github.com/Azure/azure-sdk-for-go/blob/master/management/virtualnetwork/client.go

[2015-05-12 08:21] ahmetalpbalkan commented on #117
@aznashwan there's no delete virtual network operation in the Azure REST APIs: https://msdn.microsoft.com/en-us/library/azure/jj157182.aspx

That's a known limitation of the API unfortunately. User is supposed to get the configuration, modify it and send it back. I have an outgoing feedback thread about this. Feel free to +1 here: http://feedback.azure.com/forums/217313-networking-dns-traffic-mana

[2015-05-12 08:21] #117 closed

[2015-05-12 09:55] aznashwan commented on #117
@ahmetalpbalkan thanks for the answer. Seems decent enough.

[2015-05-12 17:34] ahmetalpbalkan commented on #14
Hey @jf do you still need these methods around or are you planning to implement them?

[2015-05-12 17:36] ahmetalpbalkan commented on #34
@jen20 current story is we have unit tests for "logic" parts in the management SDK. Other than that we have an integration suite that covers important methods but one must set up the environment and certs correctly to run these tests (and it will run on user's machine) but that's the best we came up with lately.

Storage SDK is blob-only and all the functionality is tested against the real API in

[2015-05-12 17:50] #38 closed

[2015-05-12 22:36] ahmetalpbalkan opened #121 "CreateHostedService must take parameters as struct"
CreateHostedService currently takes only a few string parameters, but instead must take a parameters struct (like CreateStorageAccount) and give user option to use all available parameters.

[2015-05-14 03:08] jf commented on #14
hi, sorry @ahmetalpbalkan, but I am no longer using Azure. Haven't for quite some time now, actually. I do need help with something else related to Microsoft, though. I'll email you, if that's ok with you.

[2015-05-14 03:23] ahmetalpbalkan commented on #14
@jf I'm hardly the right person for all things microsoft but shoot me an email. :)

leaving the issue open if it grabs someone's interest.

[2015-05-14 03:24] jf commented on #14
:) thanks, @ahmetalpbalkan ! You've got good timing - I just sent you the email... :)

[2015-05-14 05:53] ahmetalpbalkan commented on #114
@anweiss This is currently in progress. Most likely it will be auto-generated code and will go under `resourcemanager/` pkg.

[2015-05-14 08:03] prabirshrestha commented on #114
looking forward to this. is it being worked on somewhere?

[2015-05-14 08:03] ahmetalpbalkan commented on #114
@prabirshrestha currently internally. Hit me up on IM.

[2015-05-15 04:55] ahmetalpbalkan commented on #112
Mostly done (except ~100 godoc suppressions from golint) and this is part of the CI now.

[2015-05-15 04:55] #112 closed

[2015-05-15 05:21] ahmetalpbalkan commented on #56
@politician Do you still need this?

[2015-05-15 06:04] #89 closed

[2015-05-15 07:19] ahmetalpbalkan commented on #87
@paulmey I'm thinking about this and we can do something like for cancellation: http://play.golang.org/p/TgIwmKxsad Please review.

We can modify WaitAsyncOperation(opID) to take an extra cancellation `chan`. User is allowed to pass nil to chan (user doesn't want to use cancellation). Or if they want to use it, they must close the cancellation `chan`.

The return value from `WaitAsyncOperation` is

[2015-05-15 07:22] ahmetalpbalkan commented on #87
@svanharmelen I appreciate your input here as well.

[2015-05-15 07:42] ahmetalpbalkan opened #129 "storage/blobutil package to make it easy to upload blobs"
We recently removed helper methods from `storage/blob` pkg so that users won't be fooled by methods containing special client-side logic.

Now we must have a good client library for handling blob uploads (typically block blobs) from user's point of view easily.

Main areas for consideration for `PutBlob()` functionality (We must write logic to handle these cases):
1. Block ID generation strategy f

[2015-05-15 10:02] svanharmelen commented on #87
@ahmetalpbalkan overall approach sounds good to me. Do have 2 questions/remarks...

1. Do I read/understand correctly that the return value of `WaitAsyncOperation` would be a channel? I would not do that and I also don't see why you would want to do that in this case? Why not just return an error and a bool? Seems much more appropriate and clear in relation to what your actually are trying to do h

[2015-05-15 17:05] #94 closed

[2015-05-15 17:11] #55 closed

[2015-05-15 17:24] #68 closed

[2015-05-15 19:37] ahmetalpbalkan opened #132 "Return response structs from methods"
There are still a few methods on the SDK where the return values from the operations are stripped down into more basic types like string or slice. That damages extensibility (without breaking) and introduces inconsistencies.

Ideally a method must map 1:1 to a REST API call and should be like

    func(f FooClient)VerbBar([r requiredParams...], params VerbBarParams) (VerbBarResponse, error)

in th

[2015-05-15 20:12] ahmetalpbalkan commented on #88
Resolved via #127

[2015-05-15 20:15] ahmetalpbalkan commented on #87
@svanharmelen

1. You're right I'm overengineering here I guess. We can still return `error` from the method and yet can still support cancellation.

2. Closing channel is smarter, because that way multiple goroutines can wait on the same ch, and all will be closed, however if you do `<-ch` only one will be closed and others will be locked forever.

[2015-05-15 20:18] ahmetalpbalkan commented on #87
@svanharmelen check this, much simpler: http://play.golang.org/p/JidsbU1gdl

[2015-05-15 22:01] paulmey commented on #87
That last one is pretty cool. I'm all for it.

[2015-05-15 22:05] ahmetalpbalkan opened #135 "Long running operations must not be waited in client method"
Another step in cleaning up custom client side logic.

Long running operations must return `(OperationID,error)` and user is supposed to wait on that either themselves or using WaitForOperation.

[2015-05-15 22:08] ahmetalpbalkan opened #136 "Remove XMLName from returned response structs"
I see quite many XMLName fields in response structs returned from client methods. These are not particularly useful to the user and they're confusing. Let's get rid of those –––assuming they're not needed for parsing those structs with `encoding/xml`.

cc: @paulmey

[2015-05-16 04:13] #88 closed

[2015-05-17 17:51] svanharmelen commented on #87
Yes, that looks a lot cleaner to me as well...

[2015-05-17 18:05] politician commented on #56
Yes, we still need to ability to control the mimetype of files uploaded to
blob storage to be served over HTTP. AFAICT, setting blob properties is the
way to do that, but I haven't had time to jump on this myself.

On 10:21pm, Thu, May 14, 2015 Ahmet Alp Balkan <notifications@github.com>
wrote:

[2015-05-18 03:44] ahmetalpbalkan commented on #87
Sent PR for this at #137.

[2015-05-18 22:49] #121 closed

[2015-05-19 04:13] #87 closed

[2015-05-19 16:31] aznashwan opened #147 "No delete for storage services (aka storage accounts) from sdk."

[2015-05-20 20:54] svanharmelen opened #153 "Error trying to add a disk to a deployment..."
The XML looks just fine, but still I receive the following error: `The specified disk size value of 0 GB is invalid. Disk size must be between 1 GB and 1023 GB.`

Strange enough the call itself looks just fine, so doubt if it's related to the SDK but wouldn't know what else it could be:

[code]

[2015-05-20 23:14] paulmey commented on #153
This might be one of those obscure XML element order thingies...
Compare the order of the elements with the MSDN docs...

[2015-05-21 10:58] svanharmelen commented on #153
@paulmey turns out your right! So thanks for the pointer...

Must admit I'm really flabbergasted the API is so fragile, but at least I can move on now :wink: Will send in a PR in a few which fixes this one.

[2015-05-21 10:58] #153 closed

[2015-05-21 17:53] paulmey commented on #153
Yeah, I really think it's a bug to return these kinds of messages for wrong order of XML. I'd expect to get some feedback from the serializer. Anyhow... that's a bit of the value of this SDK, I guess... :smile:

[2015-05-21 17:55] #147 closed

[2015-05-21 20:50] paulmey opened #155 "Creating a VM from a VM image fails with "In order to use extension reference, ProvisionGuestAgent must be set during virtual machine provisioning.""
From the integration tests:
[code]

[2015-05-21 20:50] paulmey commented on #155
This may be because of the empty ResourceExtensionReferences element, I'll investigate...

[2015-05-21 21:18] paulmey commented on #155
Yep... if I rename the XML element the test succeeds... This was introduced by https://github.com/Azure/azure-sdk-for-go/pull/120/files#diff-1fa4f35573c334c3564b4beebfd085eeL228

I'll see if I can fix it without introducing pointers... :-) @svanharmelen @ahmetalpbalkan

[2015-05-21 21:19] svanharmelen commented on #155
@paulmey hmm... Nasty... So maybe we need a custom xml marshal func after all.

[2015-05-21 21:23] paulmey commented on #155
That, or maybe just a second level there...

[2015-05-21 23:51] paulmey commented on #155
@svanharmelen in this particular case, I think it makes sense to distinguish between an empty array of 'resource extension references' and no array at all (nil). Especially in the case of an 'Update Role' operation.
An empty array means that you want to remove all extensions, whereas no array (nil) means that you do not wish to update this aspect of the Role.
Let me test out with some integration

[2015-05-26 22:34] igorgatis commented on #50
Interested.

[2015-05-27 16:02] paulmey commented on #155
After doing some hands on tests (paulmey@c7b4d1d), it appears that for `UpdateRole`, nil and empty array are semantically equivalent (ie. I was wrong above). Extensions are deleted by updating the status to `uninstall`.

[2015-05-27 16:57] ahmetalpbalkan commented on #155
@paulmey wow interesting.

[2015-05-27 20:53] paulmey commented on #155
well... that's an upbeat reaction... :wink:

[2015-05-28 06:48] ahmetalpbalkan commented on #135
This is done apparently.

[2015-05-28 06:48] #135 closed

[2015-05-28 15:24] rprakashg opened #159 "Backlog?"
I was wondering if there is a prioritized backlog for this that I can take a look at to see what features are being worked on or planned?
I don't want to start something when someone else is already working on it

Thanks,
</Ram>

[2015-05-28 16:46] paulmey commented on #159
All items that are worked on are supposed to be in issues. If they are really small, they might just be a pull request only, but usually, when we notice a gaping hole, we create an issue... :wink:

[2015-05-28 17:31] ahmetalpbalkan commented on #129
@paulmey ping again. I'll start after your input on this.

[2015-05-28 22:38] paulmey commented on #129
Sounds good indeed, go for it!

[2015-05-29 16:23] ahmetalpbalkan commented on #159
@rprakashg thanks for asking, generally they are as Issues under the [`help-wanted`](https://github.com/Azure/azure-sdk-for-go/labels/help%20wanted) tag.

[2015-05-29 16:23] #159 closed

[2015-05-29 17:08] aznashwan opened #161 "Input validation functions for specific parameter sets."
The way strings are used for some options which have a finite set of possible inputs (ex: storage service types), makes it very inconvenient for people writing software that takes input directly from users.

I propose the implementation of functions which either take individual configuration options (ex: storageservice.ValidateAccountType), or for the whole structs used for passing parameters to t

[2015-05-29 17:17] ahmetalpbalkan commented on #161
@aznashwan thanks for the suggestion. My question is what do you mean for "validation"? (e.g. is it a check for required parameters, input format of certain fields etc?)

[2015-05-29 17:52] aznashwan commented on #161
Most prevalent example are all the string configuration options scattered around the various resources.
By validation; I mean a way to be ensure that the inputs are valid (prefferably even without making API calls at all).
ex:
[code]

This can be applied further to a bunch of of other things (ex: given hosted service name contains disallowed characters, given disk size is preposterous etc...)

[2015-05-29 18:03] ahmetalpbalkan commented on #161
@aznashwan unfortunately we consciously removed those checks from the client and we don't want to have those. Here are the reasons:

1. We think client library should be dumb enough and not be aware of the server's logic.
2. Adding validation to the client “duplicates” the functionality. (e.g. in both cases, we return an error anyway)
3. Having such logic at the client makes it possible to easily

[2015-05-31 10:38] aznashwan commented on #161
All very fair points indeed; some of them having crossed my mind as well.

[2015-05-31 10:38] #161 closed

[2015-06-06 00:23] paulmey commented on #155
fixed by #165

[2015-06-06 00:23] #155 closed

[2015-06-06 00:24] paulmey commented on #50
First set of queue API implementations in #164. Thanks @ahmetalpbalkan !

[2015-06-08 16:28] ahmetalpbalkan commented on #136
@paulmey looks like XMLName is mostly unnecessary  unless we're parsing an element that is deeper than the root object.

http://play.golang.org/p/u0MXkE0X0D

[2015-06-08 18:50] paulmey commented on #136
yes, indeed it is. :+1:

[2015-06-11 18:44] mvanotti opened #168 "Add history on changes over http and tls package"
Inside the core folder, there are two folders: http and tls, which are forks of the stdlib packages. It would be really nice to have the initial go version there where it diverged, as well as some comments on what has changed.

How do you plan on keeping those packages up to date?

Maybe adding the initial go version and then reapplying the current changes, so the diff is easier to spot, and also

[2015-06-11 20:04] ahmetalpbalkan commented on #168
@mvanotti Thanks for opening up the discussion. It's a duplicate of #90 and you can see more context over there.

[2015-06-11 20:04] #168 closed

[2015-06-11 20:24] mvanotti commented on #90
Hi!

Is it possible to add the patch as a separate commit? That way the differences are more visible, and also it adds more context.

It would be: One commit with the changes of the original repo (to revert everything), and one commit adding the patch and some context.

[2015-06-11 21:22] mvanotti commented on #87
Hi,

Have you considered [go's context](https://blog.golang.org/context) for cancellation? It looks really easy to use :)

[2015-06-11 23:07] paulmey commented on #90
Well, that history is sorta gone. This project was passed around a bit before ending up here. From my own archeology, the tls package looks like go1.2: ([full diff](https://gist.github.com/paulmey/8fc5722f1bb825ddeac8))
[code]
The http package looks like go1.3:
[code]

Note that the only changes to the http package are to reference the modified tls package.

[2015-06-14 02:32] ahmetalpbalkan commented on #87
@mvanotti quite honestly we didn't. :-) Although I doubt use case within this library would go beyond a simple cancellation channel, if that is becoming the standard way between Go libraries and programs to operate on cancellation and pipelines, we'd love to use that as well.

Feel free to open up a proposal issue, or better– prototype and send a pull request. :-)

[2015-06-16 02:21] ahmetalpbalkan opened #172 "Use SharedKeyLite"
Using SharedKeyLite scheme will make `storage` package code a lot cleaner. self-assigning as a cleanup task.

https://msdn.microsoft.com/en-us/library/azure/dd179428.aspx

Update (5/4/16): we just merged the storage/table client, which uses sharedkeylite signing. we shall convert queue/blob clients to it as well.

[2015-06-16 18:26] ahmetalpbalkan commented on #172
this will also improve the REST call functions by removing the code setting the `Content-Length` header explicitly for the requests with a body.

[2015-07-12 12:08] mnbbrown commented on #114
@ahmetalpbalkan any update on this feature request?

[2015-07-13 03:37] brendandixon commented on #114
We have a pre-alpha client with ARM Storage and Network support. However, it will be changing substantially.

[2015-07-28 02:25] stonevil opened #180 "issue with sshPubkeyCertificateThumbprint"
Error response from Azure. Code: BadRequest, Message: The certificate with thumbprint [my_thumbprint] was not found.

[2015-07-28 02:32] ahmetalpbalkan commented on #180
@stonevil can you please more details? The method you're calling (`ConfigureForLinux`) is a convenience method and has a few assumptions.

When you specify a certificate thumbprint we look at your `/home/{user}/.ssh/authorized_keys` for a public key with the specified thumbprint.

Also if the certificate is not uploaded to Azure in advance, I believe you will be getting that error.

[2015-07-29 14:47] stonevil commented on #180
?
I do not think that is the right option for this like procedure.

Any automation project must be self contained and self managed.
I use a separate folder for all project related stuff to do not mix my key, know_hosts, cloud-config.yaml, etc.
It will more convenient to pass keys like []byte or path to folder with same base_name for keys.
base_name_id_rsa
base_name_id_rsa.pub
base_name_id_rsa.pem

[2015-07-30 15:26] ahmetalpbalkan commented on #180
@stonevil please ignore my earlier answer, I wasn't entirely familiar with what this configuration set does. It looks like the path is actually on the created VM, so the `/home/{user}/.ssh/authorized_keys` should be okay.

However it looks like in order to specify a public key, the certificate must be already associated with the cloud service and thumbprint is the SHA1 fingerprint of the certifica

[2015-08-03 14:29] stonevil commented on #180
One or another way it just doesn't work.

Keys generated with:
BASE_NAME ?= test01
KEY_NAME ?= $(BASE_NAME)_id_rsa
genkey:
	if [ ! -f $(KEY_NAME) ]; then \
		echo "Generate secure keys for $(BASE_NAME)" ; \
		ssh-keygen -f $(KEY_NAME) -t rsa \
		&& openssl req -x509 -key $(KEY_NAME) -nodes -days 3650 -newkey rsa:2048 -out $(KEY_NAME).pem -subj "/C=$(C)/ST=$(ST)/L=$(L)/O=$(O)/OU=$(OU)/CN=$(CN)" \

[2015-08-03 14:59] stonevil commented on #180
Anyway. Why this procedure so different from azure-cli?

[2015-08-04 11:01] dhilton opened #183 "Feature request: Support for traffic manager / Load balancer"
We have a use case where we'd like to use Terraform to create traffic managers / load balancers in Azure. To support this we need this client library to support it, so terraform can then support it via the stable library that it currently depends on.

I've seen mention in some of the other issues of a auto API code generation, does that mean that you wouldn't accept a PR to add this?

[2015-08-04 11:08] dhilton opened #184 "Feature request: Support for dns service"
http://azure.microsoft.com/en-gb/documentation/services/dns/

We'd like to be able to manage DNS entries via Terraform (so that we can create for example an API endpoint) so that we can version control our infrastructure.

We understand that DNS is still in preview but assume that the API is pretty static by now?

Again if you'd accept a PR, happy to help do the work.

[2015-08-05 07:33] dhilton commented on #183
It is - any idea on when that code generation will merge into master? Because that solves a couple of other issues I have or rather enables them to be solved rather quickly.

[2015-08-05 07:33] ahmetalpbalkan commented on #183
cc: @brendandixon to give an update.

[2015-08-05 16:01] brendandixon commented on #183
We hope to have an early alpha sometime in the next three weeks. However, what will be included is still being worked out. Our code generation process is still underdevelopment.

[2015-08-05 16:04] dhilton commented on #183
Ah cool - thanks for the update, if there is anything I can do to help please just point at a repo/branch here. Good luck with the coding.

[2015-08-05 16:12] brendandixon commented on #183
Thanks. We'll likely post a blog somewhere (possibly at https://ahmetalpbalkan.com) once it's available. Stay tuned!

[2015-08-06 08:36] proffalken commented on #183
We're also very interested in this.

We're in the process of moving some of our Terraform code from AWS to Azure and load-balancing/traffic managers are definitely something that we need! :)

[2015-08-06 08:57] dhilton commented on #183
Waves @proffalken we should swap notes some time, our code is here: https://github.com/alphagov/tsuru-terraform

[2015-08-06 19:38] ahmetalpbalkan commented on #184
@dhilton this is pretty much the same discussion as #183. We need to generate code for the DNS service as well and that's currently work in progress. We're planning to have some alpha bits soon. Will update this issue once that's the case.

[2015-08-07 22:41] boonep commented on #129
Wanted to check on PutBlob() status, let me know if I can do anything to help.  Thanks!

[2015-08-12 19:03] ahmetalpbalkan commented on #129
@boonep sorry I didn't have time to get back to this. There's pretty much a spec of what I wanted to build above and your help is greatly appreciated and welcomed. If you like to put out a `blobutil` package prototype, I'd be happy to proactively review and help iterate.

[2015-08-13 21:58] ahmetalpbalkan commented on #114
@anweiss @prabirshrestha @mnbbrown We have first bits of ARM generated code over at pull request #185. Please feel free to join in reviewing the looks of the generated code and provide input.

[2015-08-21 21:11] ahmetalpbalkan commented on #114
@anweiss @prabirshrestha @mnbbrown first bits are now in master branch `arm` directory. Please take a look and give feedback as it is still alpha.

[2015-08-25 16:33] brendandixon commented on #183
@dhilton We've released the initial set of ARM Go packages. They are generated from Swagger definitions found here: https://github.com/Azure/azure-rest-api-specs. We do not yet have a Swagger definition file for the DNS REST API (see https://msdn.microsoft.com/en-us/library/azure/mt163862.aspx), but you can use ARM templates through the arm/resources package. I would go that route for now.

[2015-08-25 16:34] brendandixon commented on #184
@dhilton I commented on #183. See my thoughts there.

[2015-08-26 20:40] vgarg opened #193 "Confusing error message upon 400 Bad Request"
I am using the StorageAccountsClient to create a new Storage Account. It's working pretty well in most cases. However, in case wrong values are passed e.g. wrong location (uswest instead of westus), the SDK throws an error message of the type:

It would be nice for the SDK to bail out with the actual error message e.g. 400 Bad Request. Invalid Location.

Here is the code snippet being used:

	cp :

[2015-08-26 20:44] brendandixon commented on #193
@vgarg I'll look into it. The initial call *should* have returned an error which would prevent the call to poll. Likely a simple logic error on my part.

[2015-08-26 21:24] brendandixon commented on #193
@vgarg I see the bug. I had intended to expand the logic evaluating HTTP return codes and it, somehow, got left out of the generated code. I'll try to regenerate and get a fix out soon.

[2015-08-27 14:58] vgarg commented on #193
@brendandixon awesome. thanks.

[2015-08-27 23:21] #193 closed

[2015-08-27 23:21] brendandixon commented on #193
@vgarg I just pushed #195 which addresses this. Enjoy and let me know of any other issue you find.

[2015-08-29 21:15] ahmetalpbalkan opened #196 "Enable gofmt/govet/golint for ./arm/..."
@brendandixon please feel free to edit .travis.yml accordingly when you feel comfortable enabling those checks for the `arm` package.

[2015-08-29 22:43] gblmarquez commented on #50
+1

[2015-08-30 12:23] dhilton commented on #183
OK cool - what's the versioning approach with that repo? I.e. If it's used as a dependency, is it likely to add any breaking changes or will it simply be a matter of adding extra API's to the client library? Is this the new preferred client lib to Azure?

[2015-08-30 17:59] brendandixon commented on #196
@ahmetalpbalkan It's on the to-do list.

[2015-08-31 01:22] kenegozi opened #197 "Dealing with some benign errors"
When a call returns UnexpectedStatusCodeError, there is no programatic way to tell what status code was actually return to let the user code decide how to proceed.

solution proposed is to expose .Got() (returning .got)

An example scenario: when creating a queue that already exist, user code might decide this is fine, but have no way to be sure of that. The Queue service doc say in this case the

[2015-08-31 04:00] ahmetalpbalkan commented on #197
for that generally you can use `GetQueue`. But the patch makes sense.

[2015-08-31 05:38] kenegozi commented on #197
you mean 'QueueExists'? a race condition would still potentially yield that error.

[2015-08-31 05:42] ahmetalpbalkan commented on #197
Agreed. Most convenience methods such as DeleteBlobIfExists, or CreateContainerIfNotExists here and in our SDKs such as Python, .NET etc also rely on making two requests (one HEAD and then [POST/PUT/DELETE]) to determine existence of the resource. That's one of the reasons I followed the same pattern developing similar methods in the ./storage/... package. However, your patch makes sense, we can e

[2015-08-31 05:52] kenegozi commented on #197
oh man don't get me started on these ..IfExists methods. I've code-reviewed naive usages of these inside and outside of Microsoft so many times ... In recent versions of the .NET SDK they started to silently discard the "already exists" case in the IfExists methods (breaking changes ftw). I'm glad that the go SDK is shaping up with much less of a surprise factor (which is very go-i, one of the rea

[2015-08-31 06:22] ahmetalpbalkan commented on #197
@kenegozi that's great. By the way the Go SDK is not settled in the stone, we appreciate feedback in all packages. `storage` and `management` are hand-written but `arm` package is auto-generated. If you happen to encounter any surprise behavior please let us know ––we are deliberately trying keep any client-side logic outside the SDK to avoid such surprises and expect users to know about the endpo

[2015-08-31 13:14] gblmarquez commented on #50
Guys any plans for the Table Storage? I'm looking forwarding to migrating a REST API from .NET to Go.

[2015-08-31 16:38] ahmetalpbalkan commented on #50
@gblmarquez there's a prototype of table storage in my fork (check branches) however I got stuck somewhere about request signing and gave up (just run go test storage). I'll revisit again to see if I can deliver.

[2015-09-02 00:17] gblmarquez commented on #50
@ahmetalpbalkan that will be awesome. I check the branch it seems have many things ready.

[2015-09-02 03:54] #197 closed

[2015-09-02 04:00] ahmetalpbalkan commented on #183
@dhilton right now none of the packages have a backwards compatibility or versioning story. If you take a look at the repo it consists of several totally independent packages `storage`, `arm` and `management (asm)`. Among those, `storage` and `management` have been fairly stable in the past 3-4 months and they had an almost complete rewrite recently so I don't expect those to break. OTOH, `arm` is

[2015-09-02 22:14] kenegozi opened #199 "Queues - get approximate message count"
per the rest api: https://msdn.microsoft.com/en-us/library/azure/dd179384.aspx

[2015-09-02 22:14] ahmetalpbalkan commented on #199
@kenegozi want to implement?

[2015-09-02 22:16] kenegozi commented on #199
PR on it's way :)

[2015-09-02 22:17] kenegozi opened #200 "Queues - Get/Set metadata with user defined data"
per https://msdn.microsoft.com/en-us/library/azure/dd179384.aspx and https://msdn.microsoft.com/en-us/library/azure/dd179348.aspx

[2015-09-03 16:51] #199 closed

[2015-09-03 16:51] #200 closed

[2015-09-09 06:33] tianon opened #204 "New release tag?"
Do you think a `v1.3` (or more?) would be warranted, especially since #111 basically broke everything? :smile:

(It's also worth noting that `We currently do not have any releases yet.` is in `README.md`, but isn't exactly true anymore: https://github.com/Azure/azure-sdk-for-go/tags)

[2015-09-09 06:35] ahmetalpbalkan commented on #204
@tianon yeah we started to break things **massively** after those tags. The docker-machine and docker-registry repos vendor one of those tags.

We'll be doing some 2.0 soon, please read my comment here for the current status: https://github.com/Azure/azure-sdk-for-go/issues/183#issuecomment-136931588

[2015-09-09 06:37] tianon commented on #204
Heh, docker-registry is actually the very reason I'm here -- they currently pull in https://github.com/Azure/azure-sdk-for-go/commit/97d9593768bbbbd316f9c055dfc5f780933cd7fc, which comes after `v1.2` (https://github.com/docker/distribution/blob/7a305cc8cdf1427455fc7021e51629498332c965/Godeps/Godeps.json#L20-L23).

[2015-09-09 06:38] tianon commented on #204
So do you want to keep this issue open as a clear pointer for folks looking for newer tag, or just close it?  I don't mind either way. :+1:

[2015-09-09 06:43] ahmetalpbalkan commented on #204
Heh I just remembered that we had to take a hotfix due to a memory leak in the Blob Storage SDK. Are you having any issues with the vendored code in docker-registry right now?

Let's keep it open as a work item. Thanks for bringing this up.

[2015-09-09 06:48] tianon commented on #204
Naw, I'm actually working on some Debian packaging, and was trying to figure out what to package.  From our conversation here, I think I'll just package a snapshot instead of 1.2 for now until 2.0 drops. :+1:

[2015-09-09 06:49] ahmetalpbalkan commented on #204
@tianon if you're packaging docker registry, you should probably keep the same vendored commit number?

[2015-09-09 06:50] tianon commented on #204
We only get one commit/snapshot for the whole of the Debian archive (regardless of which packages build-depend on it), which is why I was hoping for something more "sanctioned" than some random commit somewhere. :smile:

[2015-09-09 06:57] tianon commented on #204
(So if that commit is pretty "decent", why not tag it as `v1.3` in the interim?)

[2015-09-09 06:58] tianon commented on #204
FWIW, docker-machine is using https://github.com/Azure/azure-sdk-for-go/commit/515f3ec74ce6a5b31e934cefae997c97bd0a1b1e, which isn't even quite `v1.2` (https://github.com/docker/machine/blob/08208bd1415f26e5bc2e5339f002fb7954b70e50/Godeps/Godeps.json#L10-L14)

[2015-09-09 06:59] ahmetalpbalkan commented on #204
We can do that but it doesn't help much other than docker-registry, which also works with the commit number for now. When we tag `v2.0`, I'll be bumping that as well.

The case with `docker-machine` is it nearly predates all the code that's currently in the repo. We basically rewrote all that. Historically, this SDK was created just for docker-machine, and it was pretty hacky.

At some point in th

[2015-09-10 01:50] axw opened #205 "ARM REST methods fail on 201 response"
I am testing out the ARM APIs, and have observed frequent (but not 100%) failures from methods due to "201 Created" being returned (e.g. by ResourceGroupsClient.CreateOrUpdate).

Looking at the code, I think the second-last "autorest.Respond" in each method that expects status codes other than 200 is invalid: in each, it uses WithErrorUnlessOK; I think it should be using WithErrorUnlessStatusCode,

[2015-09-10 02:00] ahmetalpbalkan commented on #205
@axw are the respective REST calls actually returning 200/201 depending on the situation? If an endpoint returns both status codes we should not be failing. Or are we checking for the wrong status code?

[2015-09-10 02:20] axw commented on #205
@ahmetalpbalkan The resource-group creation is responding with 201.

If you look here:
    https://github.com/Azure/azure-sdk-for-go/blob/master/arm/resources/resourcegroups.go#L202
the initial check on response status will not error if it's 201. But then it continues on to here:
    https://github.com/Azure/azure-sdk-for-go/blob/master/arm/resources/resourcegroups.go#L211
and will return an error

[2015-09-10 02:32] brendandixon commented on #205
@axw Good catch! Your suggestion is correct. The code to support multiple "Ok" return codes came late and, obviously, missed a statement. We'll make changes to the needed changes to the generator. Thank you for finding this!

[2015-09-10 02:36] axw commented on #205
@brendandixon No worries, thank you.

[2015-09-10 03:26] axw opened #206 "ARM model struct-type fields should be pointer-to-struct"
I've just debugged an issue with creating subnets using the ARM APIs. I've successfully created a vnet, and then attempted to create a subnet for it, filling in only the address prefix field. This fails with "400 Bad Request", no further explanation.

Tracing the request, I see the body is serialised as:

[code]

I had previously noticed that struct-type fields of ARM model types (e.g. arm/network

[2015-09-10 03:33] axw commented on #206
Ah... but that poses another problem. The field types are anonymous, so they'll then be nil-pointers, and you'll have no way to set them (no name to refer to). I was going to suggest separately that fields not be anonymous, because it makes constructing parameters a bit tedious. You can't initialise struct-type (or pointer-to-struct-type) fields in a struct literal if the type is anonymous.

I'm n

[2015-09-10 03:34] brendandixon commented on #206
@axw Let me give this some thought.

[2015-09-10 04:56] ahmetalpbalkan commented on #206
@axw +1. We use this practice in `management` package a lot.

[2015-09-10 04:58] ahmetalpbalkan commented on #206
I just recalled this article https://willnorris.com/2014/05/go-rest-apis-and-pointers

[2015-09-10 05:12] kenegozi opened #207 "storage - implement SetBlobProperties API"
see https://msdn.microsoft.com/en-us/library/azure/ee691966.aspx

some blobs need these to be useful. for example Content-Type for various media files must be set for clients (including browsers) to treat them correctly.

[2015-09-10 05:14] ahmetalpbalkan commented on #207
@kenegozi want to contribute? Shouldn't be that hard.

[2015-09-10 05:14] kenegozi opened #208 "storage - implement PutBlockBlob API"
When uploading a smaller blob, it is much simpler in many cases to use the PutBlob API call with body (as described here https://msdn.microsoft.com/en-us/library/azure/dd179451.aspx)  and avoid the need for multiple requests uploading blocks and committing them.

Per the official documentation the upper limit is 64 MB ... A common scenario with much smaller sizes is uploading images and thumbnails

[2015-09-10 05:16] kenegozi opened #209 "storage - allow setting headers on PutBlob request"
Add an argument to the PutBlockBlob call suggested in issue #208 to allow the user to set custom headers. The most important one is Content-Type, e.g. without this one images that are uploaded to blob storage cannot be treated as images by browser requests.

Since PutBlockBlob is a new API call on the SDK, it should be fine to add the trailing argument to it and not the others. Also the others can

[2015-09-10 05:18] ahmetalpbalkan commented on #208
@kenegozi this is actually very similar to #129. What a user ideally wants is an API just uploads the blob whatever the size is.

I don't think we should provide two APIs such as `PutSingleBlockBlob` (the one that you described that accepts up to 64 MB) and a `PutBlockBlob` (described over at #129). Ideally there should be only one.

If you'd like to take a stab at it, there's a planned design at

[2015-09-10 05:22] ahmetalpbalkan commented on #209
@kenegozi we can still break. Reiterating my comment on #208, we will come up with a non-existing method, so we can potentially get a `BlobProperties` parameter in the method.

Also, in case of block uploads and then commits with PutBlockList, the PutBlockList call also takes all those properties (such as x-ms-content-type, as you said) so we should probably add that parameter initially to `PutBlo

[2015-09-10 05:29] kenegozi commented on #208
I appear as if the philosophy of the SDK is to avoid surprised, and map rest API calls to SDK methods. a PutBlockBlob should just call the PutBlob REST API with BlockBlob type and a body.

A helper that potentially magically break things down to multiple calls is super cool but belong in a separate, higher level package (blobutil is a good suggestion, similar to std package's 'io' and 'ioutil').

[2015-09-10 05:36] axw commented on #206
@ahmetalpbalkan I personally find the "everything must be a pointer" thing painful, but as was brought up in the aws-sdk-go comments, it's necessary if omitting means something other than the zero value in Go. I don't know the API all that well, so I'll leave it in capable hands :)

[2015-09-10 05:38] ahmetalpbalkan commented on #208
@kenegozi Agree with your “no surprises” argument. IMO the problem with accepting a 1 GB blob and then transmitting that over the wire and seeing the REST call to fail might be a bit frustrating. On the other hand adding the 64 MB check to the client SDK is also one of the things we want to avoid (duplicating the validation).

But let's go with your idea, storage.PutBlockBlob and blobutil.PutBlock

[2015-09-10 05:40] ahmetalpbalkan commented on #206
@axw agreed. _Everything is a pointer_ is one of the solutions to PATCH (merge) requests problem in the article I sent above... We probably don't need that here in the most calls. It seems like what we need here is just `omitemtpy` on strings and structs. I'll let @brendandixon come up with a solution.

[2015-09-10 06:13] kenegozi commented on #207
@ahmetalpbalkan why is BlobProperties.LastModified a string and not a time.Time?

[2015-09-10 07:41] ahmetalpbalkan commented on #207
@kenegozi good question, I don't remember to be honest. Might be a mistake. Looks like Go supports RFC1123 just fine, so we can change.

[2015-09-10 08:10] bingosummer opened #210 "arm/storage - CheckNameAvailability failed"
I got the failue when I ran "go test" in arm/examples. But it worked a few days ago.
[code]

It seemed that the server responded with a wrong value.
https://github.com/Azure/azure-sdk-for-go/blob/master/arm/storage/storageaccounts.go#L71

[2015-09-10 15:54] kenegozi commented on #207
hmm there is no apparent way for xml unmarshal to deal with non rfc3339 dates.

It is easy peasy when working with headers, it's just that pesky ListBlobs operation that makes this a no-go.

For now I'll keep dates as strings, and will come up with another solution for dates throughout the package separately.

[2015-09-10 17:16] brendandixon commented on #210
@bingosummer Does this recur for you? I ran the tests this morning and worked as expected. The code does follow the API documentation (see https://msdn.microsoft.com/en-us/library/azure/mt163642.aspx). Unless there was some other error (e.g., network glitch, service sending a malformed response), it should be correct.

If this recurs, could you, please try to capture the JSON output? Thank you. Fe

[2015-09-10 17:32] ahmetalpbalkan opened #211 "arm: Better debugging for json errors"
As seen in #210, it happens.

We should append the body (to be decoded as json) as %q to the errors from the json package. Otherwise they'll be impossible to debug with just a "decoding failed" message.

[2015-09-10 17:37] brendandixon commented on #211
@ahmetalpbalkan Seems reasonable.

[2015-09-10 17:37] brendandixon commented on #211
@ahmetalpbalkan Noted and will add in next release.

[2015-09-10 17:38] ahmetalpbalkan commented on #211
We don't close issues without fixing them.

[2015-09-10 17:46] brendandixon commented on #210
@bingosummer I should have left this open to better track. Re-opening.

[2015-09-10 19:21] ahmetalpbalkan opened #212 "storage: Add User-Agent header to requests"

[2015-09-10 19:21] ahmetalpbalkan opened #213 "arm: Add User-Agent header to queries"

[2015-09-10 20:27] brendandixon commented on #212
@ahmetalpbalkan I suggest we consider using a dynamic UA string that includes the tag / version level of the package making the request. Otherwise, the data will be too ill-specified to be useful (e.g., it could implicate code that's not at fault and / or miss implicating code that is). Thoughts?

[2015-09-10 20:27] brendandixon commented on #213
@ahmetalpbalkan See my comments on #212

[2015-09-10 20:28] ahmetalpbalkan commented on #212
Yep we should probably do that way once we start versioning.

[2015-09-10 20:30] brendandixon commented on #212
@ahmetalpbalkan I strongly suggest we start versioning now. It's inexpensive to do once we have defined what we mean by it and the tags we'll use. I realize Go lacks (at present) the facilities to pull by version, but clever developers who care that their code does not suddenly fail, can and will manually vendor at the right tag level.

[2015-09-10 20:31] ahmetalpbalkan commented on #212
@brendandixon works for me. Which one first? Adding UA or tagging a version?

[2015-09-10 20:33] brendandixon commented on #212
@ahmetalpbalkan We could add UA first since it's quick and will get us our first round of data. Then we can settle on tagging.

Tagging with nested packages is the perennial problem with languages such as Go (or, say, Ruby): Does the tag represent the whole thing or the specific thing. Specific tag references provide greater control and is the direction broadly shared packages have tended to go (i

[2015-09-10 20:35] brendandixon commented on #212
@ahmetalpbalkan Note, by the way, that Ruby addressed this problem by introducing Gemfiles into gems so each could specify its dependencies. Sadly, no such support for Go.

[2015-09-11 03:29] bingosummer commented on #210
It recurs.

I am new to Golang. I just printed resp and result just like the following, and got a output. Not sure if it is what you want.
[code]

output:
[code]

[2015-09-13 09:54] bingosummer commented on #210
@brendandixon
My step is:
1. go get github.com/Azure/azure-sdk-for-go
2. edit ~/.azure/credentials.json
3. cd azure-sdk-for-go/arm/examples; go test

Then it failed.

[2015-09-14 16:31] brendandixon commented on #210
@bingosummer Ok. Let's get some more information. In the examples/check.go file do the following:

1. Add imports for "io/ioutil" and "strings"
2. Add the following lines to the "ByInspecting" RespondDecorator just after the fmt.Printf statement:
[code]
3. Then run "go test --run TestCheckName -v > output.txt"
4. Paste the output here (after editing out your subscription ID if you desire).

This w

[2015-09-14 19:06] vgarg opened #214 "Subnet creation fails with 400 Bad Request"
I have an existing VNET called "virtualNetwork1" with CIDR range of 10.0.0.0/19. I am trying to create a new Subnet called "vivekazcluster1-subnet" with CIDR 10.0.0.0/24 within this VNET using the Go SDK.

Here is the code snippet that I am using:

	// create a subnet
	snProps := network.Subnet{}
	snProps.Properties.AddressPrefix = cidrBlock
	subnet, err := subnetsClient.CreateOrUpdate(
		resGroup

[2015-09-14 19:19] brendandixon commented on #214
@vgarg The returned message (thank you for including it!) says that, despite the documentation stating otherwise (see https://msdn.microsoft.com/en-us/library/azure/mt163621.aspx), the service is expecting an Id within the NetworkSecurityGroup of the Properties portion of the Subnet struct.

Did you try providing an Id? Can you trace the JSON sent from the CLI? Does it include the Id?

Either way,

[2015-09-14 19:19] ahmetalpbalkan commented on #214
Thanks for reporting @vgarg. Looks like this is the same issue as #206, please subscribe to the discussion there.

[2015-09-14 19:19] ahmetalpbalkan commented on #214
Oops reopening I might be wrong.

[2015-09-14 19:20] brendandixon commented on #214
@ahmetalpbalkan Different issue than #206.

[2015-09-14 19:46] vgarg commented on #214
@brendandixon I did try setting the Id value (	snProps.Properties.NetworkSecurityGroup.Id = "None") and (snProps.Properties.NetworkSecurityGroup.Id = "") but both times it failed with the same error.

I haven't tried tracing the output from CLI. Is there an option I can turn on? I tried providing -v, but that doesn't provide the JSON.

[2015-09-14 19:52] ahmetalpbalkan commented on #214
@vgarg please try -vv on cli.

[2015-09-14 19:59] vgarg commented on #214
@ahmetalpbalkan thanks. Looks like azure CLI is not sending any Id. Here is the output:

warn:    using default address space 10.0.0.0/22
verbose: Creating subnet "ghi"
silly:   requestOptions
silly:   {
silly:       rawResponse: false,
silly:       queryString: {},
silly:       method: 'PUT',
silly:       headers: {
silly:           Content-Type: 'application/json',
silly:           Content-Lengt

[2015-09-14 20:38] brendandixon commented on #214
@ahmetalpbalkan @vgarg I wonder if we have a Swagger error. The URL the CLI uses differs slightly from that used in the SDK (note the final path component is not submitted in the CLI). This makes some sense: The PUT to create, in a sense, does not yet have a name whereas an update would. If the server made assumptions, such as expecting an Id for an Update, the error becomes clear.

@vgarg We can

[2015-09-14 21:01] vgarg commented on #214
@brendandixon perhaps I am misunderstanding your comment above, but from the output I posted from CLI above, the CLI URL does include the subnet name as a final segment in the URL. Its "ghi".

I tried removing the last segment and got the following error:
autorest:DoErrorUnlessStatusCode PUT https://management.azure.com/subscriptions/***/resourceGroups/vivekmockpdc/providers/Microsoft.Network/virt

[2015-09-14 21:17] brendandixon commented on #214
@vgarg My mistake. I apologize. I misread the URL. Let's get the JSON sent from the SDK.

First, create an "inspector" in your code:
[code]
Then, add the inspector to the client:
[code]
Then, run the code and save the output. It should emit the JSON to stdout.

Thank you,

[2015-09-14 21:38] vgarg commented on #214
@brendandixon thanks. I tried two different tests. One with no value for Id. And another with Id="None". Both cases fail with the same error. Here is the output:

Case 1:
Body: {"properties":{"addressPrefix":"10.0.0.0/24","networkSecurityGroup":{}}}
Error: autorest:DoErrorUnlessStatusCode PUT https://management.azu
re.com/subscriptions/ddc30f29-55a6-445a-8e84-f43efa7ec295/resourceGroups/vivekmockp

[2015-09-14 22:04] vgarg commented on #214
Just as a way to temporarily get around, I changed the NetworkSecurityGroup to be a pointer based on the suggestion in #206 as follows:

NetworkSecurityGroup *struct {
	Id string `json:"id,omitempty"`
} `json:"networkSecurityGroup,omitempty"`

With this change, the subnet got created, however I still received the following error:

autorest:WithErrorUnlessStatusCode PUT https://management.azure.com

[2015-09-14 22:13] ahmetalpbalkan commented on #214
@vgarg this new error sounds like #205.

[2015-09-14 22:40] brendandixon commented on #214
@vgarg Great. I am working on both #206 and #205. Fixing #206 will be a breaking change. The #205 is a simple error that misinterprets a success code.

Since there are no issues, I suspect you can close this and track them.

[2015-09-15 01:32] bingosummer commented on #210
[code]

[2015-09-15 07:02] bingosummer commented on #210
I change the type of `NameAvailable` from `bool` to `string`, and everything is OK.
https://github.com/Azure/azure-sdk-for-go/blob/master/arm/storage/models.go#L79

IMO, the behavior of ARM REST API should be the same. I'm wondering why it only happens in my test environment.

[2015-09-15 07:40] ahmetalpbalkan commented on #210
@bingosummer turns out the Swagger API spec is misspecified hence the generated code is wrong: https://github.com/Azure/azure-rest-api-specs/issues/19 it's bool vs string as you found out.

[2015-09-15 07:58] bingosummer commented on #210
@ahmetalpbalkan Thanks for your confirmation.
This issue is quiet wired because it does work about two weeks ago.
in the last few weeks, Is there any change to the Swagger API spec or ARM REST API about the return value of `NameAvailable`?

[2015-09-15 13:22] vgarg commented on #214
@brendandixon @ahmetalpbalkan thanks guys. Marking it closed.

I am currently thinking of temporarily working around both #206 and #205 while waiting for the real fixes. Is there a change I can make in my copy of the code for that would prevent #205?

[2015-09-15 13:22] #214 closed

[2015-09-15 16:28] brendandixon commented on #210
@ahmetalpbalkan @bingosummer Something larger is amiss here. The service had been returning a boolean (despite the documentation). In fact, if I run this and print the JSON, I get a boolean:

[code]

[2015-09-15 16:32] ahmetalpbalkan commented on #210
@brendandixon let's start an internal thread with the product team. I can hardly imagine it's returning string for some users even though it's the same API version. I'm guessing this has been a string at some point in the past, that's what the docs are hinting partially.

[2015-09-15 16:35] brendandixon commented on #210
@ahmetalpbalkan I already have. I agree the behavior is odd. However, it is occurring. I *reliably* get a boolean, not a string, and have received a boolean for some time. Frankly, I do not trust the documentation to this level of detail.

[2015-09-15 17:22] brendandixon commented on #214
@vgarg Yes. Change line 218 from:

[code]
to

[code]

That should do it!

[2015-09-15 18:11] vgarg commented on #214
Thanks @brendandixon . That worked.

Do you have any ballpark guidance on when the #205 and #206 may be fixed? Hours or days or weeks?

[2015-09-15 19:42] brendandixon commented on #214
@vgarg There are a number of changes pending I'd like to roll up into a tagged beta release. I'd guess maybe a week?

[2015-09-15 20:02] vgarg commented on #214
OK. Thanks @brendandixon

[2015-09-15 22:53] brendandixon commented on #210
@bingosummer The service team would like to debug this further. To do so they need your subscription ID along with the full Request / Response. I can give you inspectors that will capture the Request / Response. To protect your subscription, perhaps you could send it to me directly? brendand at microsoft dot com. Ok?

[2015-09-17 20:08] vgarg commented on #205
@brendandixon just FYI, noticing a similar behavior when deleting subnets. Current SDK throws the following error upon deletion call:

Error: autorest:WithErrorUnlessStatusCode GET https://management.azure.com/subscriptions/***/providers/Microsoft.Network/locations/westus/operationResults/eddb29d0-f856-403a-bba1-233cafaaf706?api-version=2015-05-01-preview failed with 204 No Content

Note that the

[2015-09-17 20:13] brendandixon commented on #205
@vgarg What method did you use? SubnetsClient#Delete? If so, then this is the same issue. As the code is generated, it's either all correct or all wrong. :)

[2015-09-17 20:27] vgarg commented on #205
Yep, I used SubnetsClient#Delete.

[2015-09-17 20:51] brendandixon commented on #205
@vgarg Ok. Should be the same issue then. The sender has the correct set of return codes (e.g., 204 - No Content), but the responder does not.

[2015-09-17 21:10] vgarg commented on #205
:+1: Yeah, applying a similar fix to my copy. Frankly can't wait to get the official fixes for these as wrangling with godeps unhappiness is not fun :)

[2015-09-24 23:22] ahmetalpbalkan commented on #50
A proposal for Table Storage is at #217, please check out and leave comments if you are interested in using.

[2015-09-29 13:38] tomclegg commented on #209
This feature would make it possible to supply [conditional headers](https://msdn.microsoft.com/en-us/library/azure/dd179371.aspx), which I currently need to use with `DeleteBlob`. If an `addHeaders map[string]string` argument is going to be the way to do this, eventually we'll need it for every API method. Perhaps it should all get added to all methods at once?

[2015-09-29 15:49] ahmetalpbalkan commented on #209
@tomclegg I doubt if this should be a map[string]string. I prefer to have it a type (just like BlobProperties) or perhaps since it's really common we can come up with something separate, like `AccessCondition` that also exists in C# Storage SDK (https://github.com/Azure/azure-storage-net/blob/f525e18b485f65577d5528f20437a79977b084c3/Lib/Common/AccessCondition.cs#L26) and plumb that all the way dee

[2015-09-29 16:48] kenegozi commented on #209
three possible solutions:

1. passing map[string]string (or map[string]interface{} and properly
dealing with dates)
    and providing consts for the various header values
pros: simplest solution to implement, minimal breaking changes, no
surprises and magic to users, forward-compatible with new headers, easy to
cover metadata as well
cons: less discoverability (although a set of consts such as
sto

[2015-09-29 16:56] brendandixon commented on #209
The generated parts of the SDK rely on https://github.com/Azure/go-autorest which uses Decorators (vs. Fluent) builders. Its model does allow for exactly this kind of request modification.

[2015-09-29 17:06] tomclegg commented on #209
IMO built-in support for known headers would be great (proper `time.Time` types, func/field names instead of strings), and it should also be possible to set arbitrary headers. Having access to the `http.Request` somewhere along the way would let you log it, pass it to your own `http.Client` to `Do`, munge its URL, etc., in addition to setting headers. I suppose this would just have to be done in s

[2015-09-29 17:09] ahmetalpbalkan commented on #209
@tomclegg I bet we can find such a place to do this in the existing model without changing a lot of things. A more pluggable/flexible model probably would require a bigger change. I'm open to both.

[2015-09-29 17:27] kenegozi commented on #209
Auth headers could be added at the last minute (just before Do/Send/Execute)

Ken Egozi.
http://kenegozi.com/ <http://kenegozi.com/blog>
http://www.activegiver.com/

On Tue, Sep 29, 2015 at 10:06 AM, Tom Clegg <notifications@github.com>
wrote:

[2015-09-29 19:45] ahmetalpbalkan commented on #209
Does anyone want to take a stab at it? If not I can try.

[2015-10-02 17:21] brendandixon commented on #213
@ahmetalpbalkan The issue is addressed in the latest. Please take a look.

[2015-10-02 17:22] brendandixon commented on #211
@ahmetalpbalkan The latest release includes the JSON in error messages when parsing (or other) errors occur. Please take a look.

[2015-10-02 17:23] ahmetalpbalkan commented on #213
We can close this now. Pardon my ignorance, what do we return as UA string now? :-)

[2015-10-02 17:24] brendandixon commented on #210
@bingosummer My understanding is that the Service team resolved the issue for you? Is that correct? If so, let us know. Thanks.

[2015-10-02 17:25] brendandixon commented on #206
@axw The latest update converts the structures to use pointer fields and introduces (via the go-autorest package) helpers to ease manipulating them. Why not take a look and let me know what you think.

[2015-10-02 17:26] brendandixon commented on #205
@vgarg @axw This issue is addressed in the latest changes. Why not take a look and let us know. Thanks!

[2015-10-02 17:26] ahmetalpbalkan commented on #211
Cool. (Fixed in #221)

[2015-10-02 17:26] #211 closed

[2015-10-02 17:37] brendandixon commented on #211
Changes merged from PR #221

[2015-10-02 17:37] brendandixon commented on #213
Changes merged from PR #221

[2015-10-02 17:38] brendandixon commented on #210
@bingosummer Try again using #221

[2015-10-02 17:38] brendandixon commented on #206
Changes merged from PR #221

[2015-10-02 17:38] brendandixon commented on #205
Changes merged from PR #221

[2015-10-02 17:40] brendandixon commented on #213
Each package sets the UA string to:

Azure-SDK-for-Go/%s;Package/%s;API/%s

With the semantic version filling the first %s, the package name the second, and the API version the third. For example:

"Azure-SDK-for-Go/0.1.0-beta;Package/authorization;API/2015-01-01

[2015-10-02 18:00] ahmetalpbalkan commented on #213
Hmm there's no mention of arm here. in this case wouldn't arm/storage potentially collide with storage/?

[2015-10-02 18:05] brendandixon commented on #213
@ahmetalpbalkan Ah, good point! I'll get a new PR ready. It'll be the same that lights up golint / govet Travis for the ARM packages.

[2015-10-03 00:02] bingosummer commented on #210
Yes. The issue is resolved. Thanks.

[2015-10-03 00:02] #210 closed

[2015-10-03 01:15] axw commented on #206
@brendandixon Thanks, the changes look good. I'm travelling next week so might not get to test it thoroughly for a little while.

I'm curious to know what the reason for not making enumerator fields pointers. Just because it's a pain to set the value? It doesn't matter as long as they all have an underlying string type, because "" will be omitted anyway; just curious.

[2015-10-03 04:12] brendandixon commented on #206
@axw I keep enums for two reasons: First, if they're truly an enumerated type, then the set of values is all the type can legally hold. Second, Go's strict typing makes creating an easy-to-use helper, as we now have for strings and such, a pain (you'd need a lot of them). Though Go does allow taking the address of the string constant. I don't have strong feelings about this. It felt better than th

[2015-10-03 04:50] axw commented on #206
@brendandixon Fair enough. Thanks!

[2015-10-05 19:09] vgarg commented on #205
Thanks @brendandixon . Looking forward to trying this new release.

[2015-10-07 14:31] vgarg opened #224 "Subnet struct does not support the routeTable property"
As per the documentation at [1] the the properties JSON for a subnet looks as follows:

[code]

We know this approach works as we have used the same approach within an ARM template.

Now we have a need to create another subnet at runtime and I am using the GO SDK to do so. However there does not appear to be a way to specify the routeTable for the subnet using the SDK.

On our end, we need the fix

[2015-10-07 15:17] brendandixon commented on #224
@vgarg I took a quick look at the Swagger that backs the SDK (see https://github.com/Azure/azure-rest-api-specs). I could find no references to "routeTable" in the arm-network Swagger. Could you, please, look it over as well? You are likely more familiar with the Network ARM templates than I am.

@devigned @vgarg's issue appears to be a Swagger problem.

[2015-10-07 16:01] vgarg commented on #224
@brendandixon Indeed, I see no mention of routeTable in the swagger JSON. Looks like the swagger JSON and the actual REST API documentation are out of sync. Or perhaps the routeTable property is new, and did not cause a version change?

[2015-10-07 18:43] brendandixon commented on #224
@vgarg Unclear. Let me follow-up with @devigned as he oversees the Swagger.

[2015-10-13 20:58] Trane9991 opened #226 "Load Balanced Endpoint"
Hello,
is it possible to create Load Balanced Endpoint or add endpoint to existing LoadBalancer Set?
Can't find functionality for this.

[2015-10-13 20:59] ahmetalpbalkan commented on #226
@Trane9991 are you looking for Azure Service Management APIs or Azure Resource Manager APIs in this context? If you have a documentation to REST API documents on MSDN we can easily check.

[2015-10-13 21:05] Trane9991 commented on #226
@ahmetalpbalkan
I think this is Azure Service Management APIs. I believe this functionality are described by link below:
https://msdn.microsoft.com/en-us/library/azure/dn469417.aspx

[2015-10-13 21:09] ahmetalpbalkan commented on #226
@Trane9991 You're right. I don't think we implemented this endpoint. You can see implemented endpoints of this class here: https://github.com/Azure/azure-sdk-for-go/blob/master/management/virtualmachine/client.go I think it should be easy to add taking the existing ones as implementation reference if you would like to take a look at it.

[2015-10-17 21:39] fatih opened #228 "Cloudinit support"
Hi,

Azure has support for CloudInit: https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-how-to-inject-custom-data/ and according to the documents it's currently only available via the CLI.

I couldn't find in the documents how to pass a custom script via a `user_data`, because I've assumed may be the SDK for go might have a support. Is there any support for CloudInit in the

[2015-10-17 23:50] ahmetalpbalkan commented on #228
Hi @fatih, the cloud-init data is passed to the Azure Compute REST APIs through the `osProfile.customData` field in the VM configuration struct.

* REST API reference for this call is here: https://msdn.microsoft.com/en-us/library/azure/mt163591.aspx
* In the Go SDK this corresponds to the following struct/field: https://github.com/Azure/azure-sdk-for-go/blob/3dcabb61c225af4013db7af20d4fe430fd09e3

[2015-10-18 19:21] fatih commented on #228
Hi @ahmetalpbalkan, I've looked for the keyword `cloudinit` or `user_data` (as this is the norm for others, such as AWS or DO). Never thought it was something called `CustomData`. The rest should be fairly easy on our side. Thanks for your detailed response, much appreciated.

[2015-10-18 19:21] #228 closed

[2015-10-20 08:28] dhilton commented on #204
Is there a feel for when v2.0 might drop? Before christmas? Just trying to get a feel for when it's worth revisiting #183 and the cascade of features to Terraform and others upstream.

[2015-10-20 16:48] brendandixon commented on #204
@dhilton The ARM portion of the SDK is bounded by how fast we can get good specs into the https://github.com/Azure/azure-rest-api-specs repository. We had a good start, but they've dragged a bit lately. We're looking into what's holding things up.

[2015-10-21 01:15] axw commented on #206
@brendandixon Apologies for the delay in getting back to you. I've updated my code with the latest azure-sdk-for-go, and things are workable now. Thank you.

My only concern is that the use of pointers for *all* types makes things a bit clumsy and error-prone in some circumstances; namely when it comes to maps and slices. The results of "List" calls now return pointer-to-slice, so you have to do a

[2015-10-21 02:21] brendandixon commented on #206
@axw Thanks for the comment. I struggled with that as well. I decided to make them pointers so that the entire slice could be removed. The case I considered was removing all tags from a resource. Perhaps pushing an empty slice would suffice? Perhaps you could experiment and let me know?

[2015-10-21 10:43] axw commented on #206
@brendandixon Right, I see. omitempty will omit both a nil and a non-nil but empty map. That's a pain.

I think the only real alternative would be to write your own marshalling. e.g.:

[code]

That's possible going too far. I can suck it up.

[2015-10-21 10:44] axw commented on #206
@brendandixon The core issue is resolved anyway, so please close this issue at your discretion.

[2015-10-24 20:30] brendandixon commented on #206
@axw All right. Closing.

[2015-10-24 20:30] #206 closed

[2015-10-28 01:33] axw commented on #205
@brendandixon It seems there's still some issues. I just got a similar error, deleting a resource group. It works most of the time.

Error:
[code]

[2015-10-28 03:21] brendandixon commented on #205
@axw Exactly which API did you use? The standard Delete method for a ResourceGroup (https://github.com/Azure/azure-sdk-for-go/blob/master/arm/resources/groups.go@216) *appears* to properly handle 202 Accepted.

[2015-10-28 03:55] axw commented on #205
@brendandixon Sorry, should have been clearer. Yes, GroupsClient.Delete is the one. I did see that in the code, so I'm not sure why it would have happened. My local clone is up-to-date.

I'm digging into the code now to understand how the operationresults query is made.

[2015-10-28 04:23] axw commented on #205
@brendandixon It's possible that the deletion attempt took > 15mins, the default polling duration. If it happens again, I'll report back.

[2015-10-28 17:09] brendandixon commented on #205
@axw All good. I think I understand why you saw the error: 15 minutes is the default (pulled out of thin air) polling time (that is, the maximum amount of time the request polls for success). If the request failed to complete within that window, then the code returns whatever the last response code was (in this case, 202 Accepted).

Treating a 202 as success does not feel exactly right, since succ

[2015-10-28 22:37] axw commented on #205
@brendandixon Yes, understood. I think it might be most useful to return an error indicating that the operation has taken too long, and the sender is giving up waiting. The last response is probably not that interesting, since it's always going to be 202 (I think?)

I don't think it's OK to assume success on acceptance unless it's guaranteed that that implies it will succeed. After previous email

[2015-11-03 10:30] axw opened #230 "arm/compute.VirtualMachinesClient.Deallocate errors on 200 OK"
When using the VirtualMachinesClient.Deallocate method, a 200 OK response causes an error. The code is only allowing for 202 Accepted.

[code]

[2015-11-03 11:02] axw opened #231 "arm/compute.VirtualMachinesClient.Get fails with 503 Service Unavailable"
Mostly I'm using the List method, but I'd like to optimise a case where we're only interested in querying a single instance. To that end, I've attempted to use the Get method, only to find it doesn't seem to work.

The Get method has a mysterious "expand" parameter, which AFAICT, does not correspond to anything documented against the compute REST API. The only reference I could find for $expand (w

[2015-11-03 11:03] axw commented on #231
I haven't tested with VirtualMachineExtensionsClient.Get, but it also passes $expand.

[2015-11-03 18:08] brendandixon commented on #230
@axw This is certainly a bug. I need to see if the Swagger is incorrect (likely), but even if it is, the code generator can do better (e.g., always include 200 in the suite of accepted return codes). Let me dig a bit and I'll try to get a new build out soon.

[2015-11-03 18:11] brendandixon commented on #231
@axw $expand is part of the OData support used across the APIs (see http://www.odata.org). However, those values are optional. The SDK has a bug in that it is failing to distinguish between required and optional parameters. I will try to get a build out that addresses this soon.

[2015-11-04 03:24] axw commented on #231
@brendandixon Thanks, and sorry, I now see there's a doc-comment in the Go code about it accepting a value of "instanceView". It's a shame I can't use this when listing all VMs, as I'd like to be able to get the power state without having to query VMs individually.

[2015-11-04 05:00] brendandixon commented on #231
@axw One of the features missing from the Go SDK is OData support. Many of the APIs accept those parameters. But, sadly, it does not appear that ARM Listing of VMs is one of those. That's odd in my mind. Let me look into this more.

[2015-11-09 07:17] colemickens opened #232 "arm/resources: DeploymentProperties object seems slightly off for template/parameters fields"
Take, as an example:

https://msdn.microsoft.com/en-us/library/azure/dn790564.aspx

That page describes Template and Parameters as "complex types". The example shows the fields as being set to the actual JSON content of the template and deployment.

Hence, where `azure-sdk-for-go` currently defines DeploymentProperties:

[code]

I would have expected:
[code]

This also applies to DeploymentPropert

[2015-11-09 18:50] brendandixon commented on #232
Agreed. I am in the midst of making changes to the Autorest generator for Go anyway. I'll add this. Thanks!

[2015-11-09 18:52] brendandixon commented on #232
BTW: This will be a general change. The challenge is that the Swagger defines such fields "objects" (in the JSON sense). The closest analogue in Go is a map[string]xxxx. I do not know why I chose to map to "map[string]string". It should be map[string]interface{}. (The pointer to string within the map was to handle JSON serialization in Go which, due to default values, cannot distinguish between th

[2015-11-11 00:02] brendandixon commented on #224
@vgarg It looks like the ARM Network Swagger was recently updated. It now includes the routeTable. See https://github.com/Azure/azure-rest-api-specs/blob/master/arm-network/2015-05-01-preview/swagger/network.json#L6039. We're working an update to the ARM packages that will include these changes.

[2015-11-11 00:07] brendandixon commented on #213
Change added a while ago. Closing.

[2015-11-11 00:07] #213 closed

[2015-11-11 00:11] brendandixon commented on #205
@axw I'm reviewing our open issues and took another look at this. It appears that, in all cases, the http.Response is returned. If the code directly invokes the generated xyzSender, the http.Response is returned directly. If the code invokes the helper-wrapper, the http.Response is either returned directly or as an embedded member of the returned "result." So, in all cases, I believe the calling c

[2015-11-11 01:45] axw commented on #205
@brendandixon OK. I think it's going to be a pain to wrap each and every call to check for 202 and convert to a timeout error, but perhaps others will want to react differently. I'll close this, thanks.

[2015-11-11 01:45] #205 closed

[2015-11-13 16:19] devigned commented on #224
@brendandixon we need to automate the codegen pipeline... We should talk about this soon.

[2015-11-13 17:06] brendandixon commented on #224
@devigned Sounds good to me. :)

[2015-11-18 19:10] andrewduch opened #239 "ARM Support for SQL"
Looking forward to future iterations of the auto-generated ARM packages. In the current version, I don't see SQL present anywhere. Are there plans to generate an ARM package for SQL? There are some ARM-only commands I'm looking to take advantage of.

Thanks!

[2015-11-19 02:21] axw commented on #231
@brendandixon Thanks. I've pulled the latest azure-sdk-for-go, and the models seemed to have changed a fair bit. Some of the field types don't match up to enum types any more. For example, compute.HardwareProfile.VMSize is now a string, whereas previously it was VirtualMachineSizeTypes. Is this intentional?

[2015-11-19 18:01] brendandixon commented on #231
@axw Let me take a closer look.

Enums in Swagger are tricky. Core Swagger defines enumerations, but does not provide a means to clearly type them. That is, it supports restricting a field to a set of values, but lacks some of that necessary to expose those values as a set (e.g., an enumeration). The Autorest work, which is generating the Go ARM packages, relies on an Microsoft extension to Swagge

[2015-11-19 22:43] akromm commented on #239
I have started working on the spec.  I will try to get it done soon, but I'm not sure how long it will take with other obligations I have.

[2015-11-19 22:48] devigned commented on #239
:+1: @akromm you are awesome!

[2015-11-19 23:31] axw commented on #231
@brendandixon Apart from losing types on enum fields, and map[string]\*string -> map[string]interface{} here's the changes I've needed to make in Juju.

**arm/network**
ManagementClient -> ResourceProviderClient
SecurityRuleProtocolTCP -> TCP
SecurityRuleProtocolUDP -> UDP

**arm/resources**
Group -> ResourceGroup (client is still called GroupsClient)

------------

The change in name of network.M

[2015-11-20 00:01] brendandixon commented on #231
@axw Thank you much for this. I'll look into these.

I did make changes that could, and appears did, affect client names. Prior to this latest change, the generator hard-coded "ManagementClient." That is actually incorrect and does not follow how the other generators worked. I changed the code to correctly derive names, but to do so in a way not likely to generate changes (which I could see via th

[2015-11-20 20:24] brendandixon commented on #231
@axw I poked around a bit and found a couple of interesting items. First, I made a change to the generator to address one problem, but its effect was to lose the enumeration type names within structures. I can and will fix that. Second, the Network swagger changed. But it was an odd change. Their is a new Swagger that uses the correct client name (i.e., ManagementClient), but the old Swagger (whic

[2015-11-20 21:59] brendandixon commented on #231
@axw Take a look at PR #241. I believe it fixes both issues.

[2015-11-24 02:17] axw commented on #231
@brendandixon Indeed it does, thank you.

[2015-11-24 02:17] #231 closed

[2015-11-24 02:18] axw commented on #230
Thanks! This is fixed on master.

[2015-11-24 02:18] #230 closed

[2015-11-27 18:48] aznashwan opened #243 "Mistyped LoadBalancer::OutNatRule struct field/typo."
The issue is concerning [this](https://github.com/Azure/azure-sdk-for-go/blob/master/arm/network/models.go#L1189) line of code.

Either there is a plural typo in the fields name or the respective field should have been an `*[]int`.

[Sorry for the barebones issue report; I have not had the opportunity to read the API specs yet and thus cannot say which of the above it really is...]

[2015-11-27 20:13] brendandixon commented on #243
@aznashwan Good catch! The problem, however, is in the underlying Swagger from which we generated the ARM packages. I believe this line -- https://github.com/Azure/azure-rest-api-specs/blob/master/arm-network/2015-06-15/swagger/network.json#L5343 -- is needs correcting.

Would you mind filing an issue against it?

[2015-11-30 12:12] aznashwan commented on #243
@brendandixon: thanks a lot for pointing that out. I've taken the liberty of creating a [PR](https://github.com/Azure/azure-rest-api-specs/pull/80) on the issue (which will at the very least raise awareness in case it's approach is flawed).

Thanks again!

[2015-11-30 16:53] brendandixon commented on #243
@aznashwan Thanks!

[2015-12-01 01:58] colemickens opened #245 "List action documentation implies a return of complete results rather than the first page [nit]"
From https://godoc.org/github.com/Azure/azure-sdk-for-go/arm/network#RoutesClient.List:

But it doesn't retrieve all the routes. It returns the first page and then one can use `ListNextResults` to get the subsequent page(s). Also, the generated sentence doesn't really parse in English correctly.

The confusion worsens when one sees the `ListAll` and reads the description:

But it also doesn't "ret

[2015-12-01 16:43] brendandixon commented on #245
@colemickens All of this derives from the Swagger. File a PR against the ARM Network Swagger files (https://github.com/Azure/azure-rest-api-specs/tree/master/arm-network).

[2015-12-01 18:20] colemickens commented on #245
Makes sense. I'll file an issue over there. Thanks.

[2015-12-01 18:20] #245 closed

[2015-12-05 11:48] jerbob92 commented on #129
It would be great to have this in, it would make file uploads much easier.

[2015-12-05 11:50] jerbob92 commented on #207
Way I fixed that in my own application:
[code]

[2015-12-07 21:33] jen20 opened #246 "ARM Network API version mismatch?"
I'm trying to make requests using the ARM virtual network client.

According to [master](https://github.com/Azure/azure-sdk-for-go/blob/master/arm/network/version.go#L37) the version is currently `2015-05-01-preview`, but responses to API calls suggest this is not a valid version:

[code]

Am I missing something obvious here or is it not currently possible to use the ARM API client for network res

[2015-12-12 23:02] paulmey commented on #180
Not sure if this is still open... but here goes.
The .cer files should be uploaded to the 'cloud service' not to 'management certificates'. You can use the [AddCertificate](https://github.com/Azure/azure-sdk-for-go/blob/master/management/hostedservice/client.go#L105) method.

The cli hides all this hideousness from the user, but does the same thing eventually.

[2015-12-15 20:21] jen20 commented on #246
This appears to have been fixed (I assume the endpoint was turned back on).

[2015-12-15 20:21] #246 closed

[2015-12-15 22:42] colemickens opened #254 "ARM: Create Resource Group fails (bad url construction)"
https://github.com/Azure/azure-sdk-for-go/blob/master/arm/resources/groups.go#L130

The CreateOrUpdatePreparer doesn't pipe "resourceGroupName" into the pathParameters as needed.

[2015-12-15 22:45] colemickens commented on #254
Hit enter too soon; user error.

[2015-12-15 22:45] #254 closed

[2015-12-17 01:49] colemickens opened #255 "Generate the rest of the Authorization clients"
https://github.com/Azure/azure-rest-api-specs/blob/master/arm-authorization/2015-07-01/swagger/authorization.json

That swagger spec references actions relating to role assignments. I don't see equivalent generated code in this project.

Where can I see what swaggers were consumed when generating this sdk? Where does the build script for this repo live since the arm packages are autogenerated?

[2015-12-17 02:41] brendandixon commented on #255
@colemickens The version used to generate the code is defined in the rake file accompanying the Autorest branch of my fork (https://github.com/brendandixon/autorest/blob/beta-gosdk/AutoRest/Generators/Go/rakefile.rb). That file says version  2015-01-01 was used to generate the code.

[2015-12-29 14:45] aznashwan commented on #243
@brendandixon: thanks again for pointing out the problem so precisely; the fix has gotten in for a while now; but the sdk hasn't been updated yet.

Were you guys planning a re-gen of the arm packages soon anyhow or should I just submit a quick manual patch myself?

[2016-01-03 11:47] Misterhex commented on #209
+1

[2016-01-10 00:30] stack72 opened #259 "Specifying Multiple IP Configurations per Network Interface"
I am trying to make the following call to the API:

[code]

I get the following response:

[code]

The struct for the network interface looks as follows:

[code]

The `Primary` is outside of the IPConfigurations. Therefore, we cannot pass `primary: true` for any of the IPConfigurations. The correct request should look as follows:

[code]

[2016-01-10 01:28] jen20 commented on #259
I haven't looked into the Swagger yet but can verify the structures in the generated client do not match what is running in production, and it is therefore impossible to create a network interface with multiple IP configurations without hacking around the SDK at present - for now we've just documented it as a bug in the Terraform docs, and will update when this is fixed.

[2016-01-11 18:56] brendandixon commented on #259
The issue comes from the Swagger. I've verified that it is in both the Network/2015-06-15 and prior version. See https://github.com/Azure/azure-rest-api-specs/blob/master/arm-network/2015-06-15/swagger/network.json#L5849.

If you would not mind, please, post an issue against that repository. I'll poke around as well.

[2016-01-11 19:00] colemickens commented on #255
This was resolved with #258.

[2016-01-11 19:00] #255 closed

[2016-01-11 20:18] DeepakRajendranMsft commented on #259
Hi @stack72,

Thanks for pointing this out. The "primary" flag outside IPConfiguration is valid since we support MultiNic scenario. So the flag will tell the user whether the nic is a primary or not.

Yes, though we have IPConfiguration as a list, we are currently working on Multiple IPConfiguration support (once that is done, we will update the schema and the client with the "primary" field). Thi

[2016-01-11 23:42] colemickens commented on #232
I can confirm the deployment functionality works as expected. Thanks!

[2016-01-11 23:42] #232 closed

[2016-01-13 15:17] stack72 opened #260 "DNSZone Client"
According to the [docs](https://msdn.microsoft.com/en-us/library/mt130622.aspx) for creating or updating a zone, the request body should be:

[code]

The go-sdk has changed this as follows:

[code]

This makes the request look as follows:

[code]

This throws an error as follows:

[code]

This feels like the `CreateOrUpdate` func is incorrect **OR** the docs are incorrect

Thoughts?

Paul

[2016-01-13 17:25] brendandixon commented on #260
The DNS Swagger (see https://github.com/Azure/azure-rest-api-specs/blob/master/arm-dns/2015-05-04-preview/swagger/dns.json#L383 and https://github.com/Azure/azure-rest-api-specs/blob/master/arm-dns/2015-05-04-preview/swagger/dns.json#L894) disagrees with the documentation. Please file a Github issue against the Swagger and I'll poke around internally.

Thank you raising this issue.

[2016-01-13 19:06] stack72 commented on #260
Hi @brendandixon

Thanks for the response. Even if the docs are wrong, by following the code in the SDK, the request returns an error. What should the actual request struct look like?

Thanks

Paul

[2016-01-13 19:50] brendandixon commented on #260
@stack72 My guess is that the documentation is correct and the SDK is wrong (meaning, the underlying Swagger is wrong). I forwarded the issue to someone on the ARM DNS team. They should respond with better guidance.

[2016-01-15 18:09] stack72 opened #261 "Virtual Network Gateway"
there are differences between the SDK and the documentation for the virtual network gateway. Currently, the [docs](https://msdn.microsoft.com/en-us/library/mt130667.aspx) suggest that we pass the following style of request to the API:

[code]
1. Documentation suggests that GatewayType should be `StaticRouting` or `DynamicRouting`. When looking at the SDK, all I can see for GatewayType is as follow

[2016-01-17 09:51] jen20 opened #262 "Dependency Vendoring"
Hi all. I appreciate this is a contentious issue, but it would be _very_ helpful to people using the library for ARM if you would stop vendoring Autorest and use the mainline version of it instead. The rationale for this is twofold:

1. The apparently accepted practice in the Go world if vendoring is required at all, only applications should vendor their dependencies and libraries should not. Sinc

[2016-01-17 17:08] ahmetalpbalkan commented on #262
I feel the same for (1). We're doing path rewriting mostly because for any release of azure-sdk-for-go, we would like to snapshot all its dependencies as well. This makes me think maybe we should host `go-autorest` repository in this very repo and tag these altogether.

Other projects using `go-autorest` would still use godeps etc to vend only `go-autorest` directory from this repo and they'd be j

[2016-01-19 05:51] ahmetalpbalkan opened #263 "ARM: Body closed if error response"
In arm/... packages we have the following responder pattern:

[code]

If the server returns an error response, we return an `autorest.Error` which contains the HTTP status code. However `ByClosing()` closes the `Body` in the returned `autorest.Response` whether `err` variable is nil or not.

[code]

Therefore if a service error occurs, the default responders in the SDK (`[operation]Responder()`) w

[2016-01-19 17:17] brendandixon commented on #261
@stack72 Paul -- Unfortunately, all the variances you've described exist in the underlying Swagger (see https://github.com/Azure/azure-rest-api-specs/blob/master/arm-network/2015-06-15/swagger/network.json). The ARM Network service did change their API from version 2015-05-01-preview to 2015-06-15. Is it possible that the documentation you've found is for the prior version?

Why don't you poke aro

[2016-01-19 18:50] brendandixon commented on #262
@ahmetalpbalkan @jen20 I loathe path rewriting. I understand why it can be sometimes necessary, but it is a hack around Go's immature vendor strategy. If Go packages had a package.info or some such file defining dependencies and versions and so forth (as does nearly every other library available) this problem would not exist.

Ok. Stepping off of my soapbox.

I agree we should remove the path rewr

[2016-01-19 18:57] jen20 commented on #262
:+1: @brendandixon - I'm in agreement.

My view here is that if you want to snapshot the dependencies at the point of release the best approach might be to use `Godep` as part of the release generation process and commit the file - similar to the approach we take [with Terraform](https://github.com/hashicorp/terraform/tree/master/deps) such that interested people can restore them. For the most par

[2016-01-19 19:12] ahmetalpbalkan commented on #262
@jen20 I agree. I guess we don't have many options to snapshot the release with its dependencies other than the method you mentioned from Terraform.

People should ideally `go get ./...` this repo and its dependencies, vend them, `godep save` them and stick to them until they need a fix or a new feature. When that happens, they can remove this repo (and its dependencies) and then `go get ./... &&

[2016-01-19 20:49] brendandixon commented on #263
@ahmetalpbalkan I believe the best answer is https://github.com/Azure/go-autorest/pull/13 on which I've commented.

[2016-01-19 20:52] ahmetalpbalkan commented on #263
@brendandixon I don't think this has anything to do with that issue yet. I'm saying I think we should keep body open `if err != nil`.

[2016-01-19 21:04] brendandixon commented on #263
@ahmetalpbalkan Not sure I agree, but I prefer flexible libraries so....instead of modifying and changing the semantics of this responder, let's add a new one:

[code]

autorest.ByClosingIfError covers the opposite case.

[2016-01-19 21:06] ahmetalpbalkan commented on #263
@brendandixon Okay do we agree on the that we should add this method to autorest and this SDK should switch to it? If so, I'll send a PR right away.

[2016-01-20 09:31] ahmetalpbalkan opened #264 "Inspection missing for polling initiating responses"
When I add a RequestInspector and a ResponseInspector to my `storage.AccountsClient` and call `Create(...)` to create a storage account I see that the inspection is missing for the response of the initial call which is used to start the polling:

[code]

1. Request=PUT (create storage account)
2. Request=GET (Polling)
3. Response=GET (Polling)

I think between 1 and 2, there is a Response=PUT is m

[2016-01-20 18:17] brendandixon commented on #264
@ahmetalpbalkan Lost am I. Let's chat.

[2016-01-20 18:18] ahmetalpbalkan commented on #264
@brendandixon ok, my main point is there is no response inspection happening for [1].

[2016-01-20 18:20] brendandixon commented on #264
@ahmetalpbalkan I cannot tell what you are tracing from your brief text. Let's chat.

[2016-01-20 18:24] brendandixon commented on #263
@ahmetalpbalkan Sure.

[2016-01-20 21:23] ahmetalpbalkan commented on #264
addressed in https://github.com/Azure/go-autorest/pull/22 . closing.

[2016-01-20 21:23] #264 closed

[2016-01-20 21:46] ahmetalpbalkan opened #265 "Nil dereference panic in network issues where resp==nil"
Related: https://github.com/Azure/go-autorest/pull/20

I have a piece of code like:

[code]

and if **I disconnect my internet** during sleep (net.Dial should be returning an error), it panics with nil dereference panic.

It panics in evaluating `resp.StatusCode` expression in the call to autorest.NewErrorWithError:

[code]

I think we should just pass `resp` to `NewErrorWithError` and let it hand

[2016-01-20 21:46] colemickens commented on #265
+1

[2016-01-20 21:50] ahmetalpbalkan commented on #263
ok so https://github.com/Azure/go-autorest/pull/13 does not need any closing (so `ByClosing()` in case of error would be met by `NopCloser`). If we get that in the only change we'd need to make as far as this problem goes is `autorest.WithError... --> azure.WithError...`.

[2016-01-20 22:12] brendandixon commented on #265
@ahmetalpbalkan @colemickens Agreed.

[2016-01-20 22:44] stack72 commented on #260
Hi @brendandixon, is there any update on this? It is currently a blocking feature for me right now

thanks

Paul

[2016-01-21 18:13] brendandixon commented on #260
@stack72 Let me check on this. There was internal chatter and I had asked folks to respond here. It seems they've not yet had the chance. Thanks for the "ping."

[2016-01-21 19:32] brendandixon commented on #260
@stack72 I just updated the arm/dns package (see #266). The changes *should* address your problem. Please let us know otherwise. Thank you.

[2016-01-21 19:49] stack72 commented on #260
@brendandixon thanks so much for pushing this out. I have gotten further:

[code]

[2016-01-21 20:55] brendandixon commented on #260
@stack72 Odd. Those values come from the Swagger as well. Sigh. Let me look into this.

[2016-01-21 20:59] stack72 commented on #260
Thanks @brendandixon - fwiw, I see this from [another commit](https://github.com/Azure/azure-sdk-for-go/commit/897283e274c7d21bee11ea1f9d695a76e71b8e02):

[code]

So DNS *should* be `2015-05-04-preview`

When I changed it locally, I got a much more friendly error :)

[code]

This means it will then work when we change that const

thanks for all the work here

Paul

[2016-01-21 21:19] brendandixon commented on #260
@stack72 Yes, but the DNS Swagger contains this:

[code]

Notice the incorrect version. That is the bug. Sigh.

[2016-01-21 21:20] stack72 commented on #260
got it - thanks for finding the issue!

[2016-01-23 07:13] ahmetalpbalkan opened #267 "RetryableError is not retried"
I just got an error saying

does swagger spec actually specify retryable errors and do we make use of any retry logic in the SDK. I have been getting TLS handshake and network timeouts from Network RP all the time in the past week and it immediately fails.

Maybe we could make use of some retries in case of connectivity issues even if we don't have retryable codes specified in swagger specs.

[2016-01-24 21:07] stack72 opened #268 "Search Management Service ID missing"
The [search service](https://msdn.microsoft.com/en-us/library/dn911001.aspx) returns the following response object:

[code]

This doesn't follow the normal convention of having the ID as part of the response. The documentation suggests the ID will be part of the return:

[code]

[2016-01-24 21:12] stack72 commented on #268
I believe this may be due to the missing ID in this part of the Swagger definition:

https://github.com/Azure/azure-rest-api-specs/blob/master/arm-search/2015-02-28/swagger/search.json#L380

IF this is the case, then I will open a PR to add it

[2016-01-25 09:22] Misterhex commented on #209
#257

[2016-01-25 17:06] brendandixon commented on #268
@stack72 Yup, that'd be the reason. Opening a PR would help. Thanks.

[2016-01-25 17:24] stack72 commented on #268
@brendandixon I will open a PR as soon as I find an example of a swagger doc with an ID :)

[2016-01-25 17:25] brendandixon commented on #267
@ahmetalpbalkan There is no default retry for errors today. The 429 you received ("too many requests") suggests you may have been thrzottled. A retry under, in that case, would require a moderate delay. Retrying general errors, say HTTP 500, is a bit risky. We can consider adding the support.

[2016-01-25 17:26] brendandixon commented on #268
@stack72 Look at this line https://github.com/Azure/azure-rest-api-specs/blob/master/arm-search/2015-02-28/swagger/search.json#L421. I believe that is what's missing.

[2016-01-25 18:05] stack72 commented on #268
@brendandixon thanks :) https://github.com/Azure/azure-rest-api-specs/pull/120

[2016-01-25 19:30] ahmetalpbalkan commented on #265
addressed in autorest. Generated code should now use `autorest.NewErrorWithResponse`.

[2016-01-25 21:19] ahmetalpbalkan commented on #267
It's very unlikely that I got throttled (doesn't throttling a different status code?). I tend to think HTTP 500s are meant to be retried on the user and with a reasonable backoff. Unless we have such retries (especially in operation status checks via polling), the entire operation might seem like failed yet it actually would succeed.

I think we should consider reducing flakiness somehow. Based on

[2016-01-25 21:34] brendandixon commented on #267
@ahmetalpbalkan I'm happy to adjust the ARM packages based on observed behavior. Let's chat and come up with what we should do.

[2016-01-27 01:06] brjohnstmsft commented on #268
@stack72 -- Very cool that you're working on a Go client for Azure Search. However, please keep the change in your own fork for now. We are using this Swagger spec for generating a C# pseudo-client that we use for testing the Azure Search .NET SDK, and as you can see, it's not ready for prime time. Changing this spec will likely break our tests.

[2016-01-27 01:14] colemickens commented on #268
@brjohnstmsft I'm confused. If the API returns this field, why are you not interested in taking this change? The Swagger specs are used by other Azure teams as well - it's important that they reflect the actual live service.

Either [the REST documents](https://msdn.microsoft.com/en-us/library/dn832694.aspx) should be updated, or the Swagger spec should be, No?

[2016-01-27 02:03] brjohnstmsft commented on #268
@colemickens It depends. Is the purpose of these Swagger specs to exactly capture Azure APIs, or is it to provide a model from which to generate high-quality client libraries? Sometimes these goals are in conflict. In this case, we (the Azure Search team) chose to omit ID since it didn't seem like it would serve a useful purpose in the client library (name is used as a unique identifier for resour

[2016-01-27 04:02] colemickens commented on #268
The Swagger spec intentionally doesn't describe the service accurately because you're using the Swagger spec to generate some test code? I'm not sure I understand how making the Swagger spec accurate could have any impact on tests, or rather, why tests would rely on something so fragile as "whether or not a field named `id` is surfaced in the object that is created".

An API that doesn't return an

[2016-01-27 06:31] brjohnstmsft commented on #268
Let's unpack this, because we're starting to cover a lot of ground.

First off, thanks for the examples of practical usage of the ID field in the networking stack. I also buy the consistency argument, so in this case I agree we should add ID. My bad for having the PR closed before we had a chance to have this discussion. @stack72 , I'll have it re-opened and merged tomorrow (can't do it myself bec

[2016-01-27 10:24] stack72 commented on #260
@ahmetalpbalkan or @brendandixon the DNS API version has been updated - any chance the sdk can be regenerated now? This will unblock a lot of my DNS based work :)

[2016-01-27 14:48] stack72 commented on #268
thanks @brjohnstmsft and @colemickens - FWIW, not having the ID actually breaks the convention so it's good to have this agreed on :)

Look forward to the merge coming!

P.

[2016-01-27 17:08] brendandixon commented on #268
@brjohnstmsft I believe these is a misunderstanding regarding the Swagger. It *must* define the public API correctly, including all accepted and returned data. It cannot arbitrarily omit fields since that will, by definition, create code that breaks the API.

[2016-01-27 17:17] brendandixon commented on #260
@stack72 Got it. We have a couple of other changes we'd like to get in at the same time. For example, we will no longer vendor packages we rely on, we're additional factory methods, we're improving errors, and so forth. Could you give us a day or so?

[2016-01-27 17:40] brjohnstmsft commented on #268
@stack72, your PR has been merged. Sorry for the delay while we sorted this out.

@brendandixon Let's follow up offline on the question of the role of service teams in this spec work.

[2016-01-27 17:53] brjohnstmsft commented on #268
One final comment: In the future, let's try to keep issues related to Swagger specs filed in the azure-rest-api-specs repo. I missed this thread because I wasn't watching this repo (I am now). Thanks.

[2016-01-27 17:56] brendandixon commented on #268
@brjohnstmsft Agreed. Simple oversight this time.

[2016-01-27 19:25] stack72 commented on #260
@brendandixon this upcoming release sounds great. Thanks for letting me know.

[2016-01-28 10:24] stack72 opened #270 "Question: SQL Database ARM Package"
Hi,

On the Azure [documentation](https://msdn.microsoft.com/en-us/library/mt163571.aspx) it seems to suggest that SQL Servers and Databases can be controlled by the ARM part of the SDK. This doesn't seem to be the case though

Is this a missing package or is the documentation wrong?

Paul

[2016-01-28 18:05] brendandixon commented on #270
@stack72 Sigh. The documentation is likely thinking in terms of the .NET SDK only. The Go SDK relies, for all ARM services, wholly upon the Swagger available at https://github.com/Azure/azure-rest-api-specs/. We do not yet have a Go package since the SQL ARM Swagger is not yet present and / or ready.

[2016-01-29 18:45] #270 closed

[2016-02-01 23:21] ahmetalpbalkan opened #274 "Update readme"
We should rewrite the README in a way it links to separate independent SDKs we have:

* arm
* storage
* management

and each of those can have their own readmes/samples. It currently shows only the `management/` package examples in the root.

Also the examples are going out of date for arm/ as we develop, we should bring them up to date.

We should probably also have a note on vendoring for this p

[2016-02-01 23:25] brendandixon commented on #274
@ahmetalpbalkan Agreed.

[2016-02-02 12:15] dovreshef opened #275 "storage - add support for blob type 'Append'"
As detailed here: http://blogs.msdn.com/b/windowsazurestorage/archive/2015/04/13/introducing-azure-storage-append-blob.aspx

[2016-02-02 17:59] ahmetalpbalkan opened #276 "add package godoc for arm/"
generated docs are missing synopsis for arm/... packages

![image](https://cloud.githubusercontent.com/assets/159209/12758981/a41d00ea-c993-11e5-8551-6d73e5fe0107.png)

[2016-02-02 18:13] brendandixon commented on #276
@ahmetalpbalkan Odd. Any ideas? The comments remain in the packages and nothing in the build has changed (that I know of). What drives creation of GoDoc?

[2016-02-02 19:16] ahmetalpbalkan commented on #276
@brendandixon well as far as I can tell none of these packages have godoc. There should be a file in the pkg like:

[code]

[2016-02-02 19:25] brendandixon commented on #276
@ahmetalpbalkan Very odd. I know we had GoDoc at one time, yet I cannot find when / where the package comments were removed. I'll take this up with @garimakhulbe.

[2016-02-16 17:37] brendandixon commented on #260
@stack72 We pushed the change. Could please let us know if the issue is now addressed. Thanks!

[2016-02-17 16:33] xnox opened #282 "go test -v github.com/Azure/azure-sdk-for-go/core/tls Fails"
On ubuntu:

$ go test -v github.com/Azure/azure-sdk-for-go/core/tls

fails like so:

[code]

[2016-02-17 21:46] #276 closed

[2016-02-17 21:54] ahmetalpbalkan commented on #282
@xnox that's very likely. This package is a fork of a very old version of `crypto/tls` we locally host because of this issue: https://github.com/golang/go/issues/5742 and if the cipher algorithms or some implementation has changed in the meanwhile that produces a different output, that is probably normal. I don’t think there is anything to worry about that.

[2016-02-19 13:23] stack72 commented on #268
Closing this - have written our own implementation to allow us to proceed

[2016-02-19 13:23] #268 closed

[2016-02-19 13:23] stack72 commented on #260
Looks like the issue is address - thanks @brendandixon

[2016-02-19 13:23] #260 closed

[2016-02-19 13:40] stack72 opened #283 "SDK Has redis functionality but there are no docs to support it"
This SDK has [Redis](https://github.com/Azure/azure-sdk-for-go/tree/master/arm/redis) functionality - but the docs are no where to be found on the MSDN documentation site

https://msdn.microsoft.com/en-us/library/mt420159.aspx

Paul

[2016-02-19 17:13] brendandixon commented on #283
@stack72 That's odd. I'll raise the point internally. Thanks!

[2016-02-20 15:26] stack72 commented on #283
Thanks @brendandixon

[2016-02-22 13:58] robbyt opened #284 "Question about ARM template generation"
I'd like to use this SDK to programmatically generate ARM templates, but not send requests to the Azure api. Similar to the Troposphere for CloudFormation. Is this possible?

[2016-02-22 17:53] ahmetalpbalkan commented on #284
@robbyt Technically it is possible but I don't this I have seen anyone generating templates from Azure language SDKs. People mostly author them by hand. Do you have an example?

[2016-02-22 17:59] robbyt commented on #284
@ahmetalpbalkan thanks for the quick response!

JSON, (and XML) is a file format that is best when humans don't have to write it. :)

For example, when working with Troposphere, this bit of Python code: https://github.com/cloudtools/troposphere/blob/master/examples/EC2InstanceSample.py will generate this CloudFormation template: https://github.com/cloudtools/troposphere/blob/master/tests/examples_

[2016-02-22 18:01] ahmetalpbalkan commented on #284
@robbyt I see. Yes, this is technically possible. Our packages have models with json field name tags and API versions for resources, you should be able to marshal the topology into an ARM template JSON.

[2016-02-22 18:05] robbyt commented on #284
Great!

Is it possible to give me a simple example? I'm happy to help write some docs for this project if you can give me a bit of guidance.

[2016-02-22 18:09] ahmetalpbalkan commented on #284
You can find example templates at https://github.com/Azure/azure-quickstart-templates
The model classes are named `models.go` under each package here: https://github.com/Azure/azure-sdk-for-go/tree/master/arm

You will just create the JSON object for the template in Go, it'll have `parameters`, `resources` fields etc. `"resources"` will be an array of

[code]

and you will just `json.Marshal(objec

[2016-02-22 18:10] ahmetalpbalkan commented on #284
@robbyt I strongly suggest getting familiar with ARM template language and actually writing your template manually by hand first. Go part will be trivial.

[2016-02-22 18:13] robbyt commented on #284
@ahmetalpbalkan thank you for the example, and recommendation.

I've written a lot of CloudFormation code for AWS- are you familiar? Do you think it's conceptually similar to ARM templates? (obviously, with different resource primitives)

[2016-02-22 18:22] ahmetalpbalkan commented on #284
@robbyt from what I can see, they're really similar. I suggest going through 101-* 201-* examples in the quickstart repo.

[2016-02-23 09:50] preetpalS commented on #275
Isn't this issue solved? (https://godoc.org/github.com/Azure/azure-sdk-for-go/storage#BlobType)

[2016-02-23 17:51] ahmetalpbalkan commented on #275
@preetpalS Ah, right. This is contributed in #278. Closing.

[2016-02-23 17:51] #275 closed

[2016-02-28 09:55] colemickens opened #285 "Return azure.RequestError instead of error where possible"
Would be nice to not have to try and cast to azure.RequestError for errors coming from the SDK.

[2016-02-28 10:49] colemickens commented on #285
Or I suppose DetailedError once it's regenerated.

[2016-02-29 19:20] brendandixon commented on #285
@colemickens We originally returned azure.RequestError...but that causes challenges for Go's type system when other code is expecting only an "error". Hence, we now return error and callers must cast.

[2016-02-29 19:22] colemickens commented on #285
I'm not sure I follow. Does `azure.DetailedError` not implement the `error` interface? If it does, why would callers be confused?

[2016-03-01 22:47] #282 closed

[2016-03-01 22:47] ahmetalpbalkan commented on #284
@robbyt closing this as I'm assuming this answers your question.

[2016-03-01 22:47] #284 closed

[2016-03-01 22:47] ahmetalpbalkan commented on #285
I'm not understanding the issue or responses here.

[2016-03-01 22:59] colemickens commented on #285
Alright, I'm convinced this was not a good idea. Thanks all.

[2016-03-01 22:59] #285 closed

[2016-03-01 23:02] robbyt commented on #284
@ahmetalpbalkan thanks, it was super helpful :+1:

[2016-03-01 23:09] robbyt commented on #212
@brendandixon how many projects handle dependencies in go is by using the `/vendor` directory, which can be managed by godep or glide.

Glide seems to be the most similar to rubygems: https://github.com/Masterminds/glide - (it's also my preferred tool)

The `/vendor` directory should then be omitted from the git repo, and only used for local development.

[2016-03-01 23:15] brendandixon commented on #212
@robbyt Unclear. The support for /vendor in 1.6 will likely raise the number. Regardless, we no longer include the vendor directory. Consumers need to vendor as they see fit.

[2016-03-01 23:20] robbyt commented on #212
@brendandixon Sorry, just making a suggestion from the community how we consume this library :)

I think the topics of versioning this library, and and setting the version identifier for the user agent are two separate (but dependent) issues. And I understand the need for both.

[2016-03-01 23:23] brendandixon commented on #212
@robbyt No worries. We added the Glide manifest because, when we removed the /vendor directory, we wanted some kind of manifest declaring that which we had tested against. Go, in general, is quite immature in this area.

[2016-03-01 23:27] robbyt commented on #212
Ahh, I'm using an old checkout, and I overlooked that the Glide manifest has been added to this project. Thanks.

[2016-03-02 00:07] #265 closed

[2016-03-02 00:07] ahmetalpbalkan commented on #267
this won't happen when we poll correctly, so closing.

[2016-03-02 00:07] #267 closed

[2016-03-02 00:08] ahmetalpbalkan commented on #263
this has been fixed lately with azure.WithErrorUnless.

[2016-03-02 00:08] #263 closed

[2016-03-02 18:09] ahmetalpbalkan commented on #274
assigning @garimakhulbe it's a good exercise :wink:

[2016-03-07 18:45] ahmetalpbalkan commented on #114
This mostly happened. We now have a comprehensive set of Azure Resource Manager packages in `arm/` directory that are actively used by some projects already. Closing.

[2016-03-07 18:45] #114 closed

[2016-03-07 18:47] ahmetalpbalkan commented on #196
apparently done. :)

@brendandixon GitHub protip: If you add your commit message something like "Fixes #xxx" or "Closes #xxx", when commit is merged, issue(s) will close automatically once the commit is merged. https://help.github.com/articles/closing-issues-via-commit-messages/

[2016-03-07 18:47] #196 closed

[2016-03-07 18:47] #224 closed

[2016-03-07 18:48] ahmetalpbalkan commented on #224
Apparently fixed, closing.

[2016-03-07 19:04] brendandixon commented on #196
@ahmetalpbalkan Sweet. I did not know that.

[2016-03-07 21:01] ahmetalpbalkan opened #293 "Godoc for functions that handle polling for the user"
If we're dolling polling for x-ms-long-running stuff for the user, godoc should indicate that.

[2016-03-07 21:14] brendandixon commented on #293
@ahmetalpbalkan Agreed, but the documentation for the SDK (unlike go-autorest) is generated. We cannot safely infer such behavior without injecting commentary whenever we see the x-ms-long-running attribute. I'm not sure how to squeeze that in...maybe append?

[2016-03-07 21:24] ahmetalpbalkan commented on #293
I'm not familiar with how we generate code, but just appending a paragraph to godoc describing the behavior would be very useful.

[2016-03-08 09:34] ahmetalpbalkan commented on #204
We have tags now. Closing.

[2016-03-08 09:34] #204 closed

[2016-03-08 09:36] ahmetalpbalkan commented on #262
I believe we solved this. We no longer vendor dependencies in azure-sdk-for-go and go-autorest. Instead we provide glide.lock files. Please close as you see fit @jen20.

[2016-03-08 17:58] brendandixon commented on #293
@ahmetalpbalkan I'll have @garimakhulbe inject some commentary on our next build.

[2016-03-08 18:02] garimakhulbe commented on #293
Yes, its straightforward. I will add in next build.

On Tue, Mar 8, 2016 at 9:58 AM, brendandixon <notifications@github.com>
wrote:

[2016-03-09 09:57] stack72 commented on #283
@brendandixon any update on this?

[2016-03-09 17:19] brendandixon commented on #283
@stack72 Not that I've heard. I pinged them again.

[2016-03-11 18:01] brendandixon commented on #283
@stack72 So, I've heard: The documentation is coming, but I would not hold your breath. :) Do you have a specific question or issue?

[2016-03-12 21:29] stack72 commented on #283
@brendandixon thanks for the information  - I guess i was looking for some indication on how to use that part of the API.

[2016-03-15 03:08] colemickens opened #294 "DeploymentsClient CreateOrUpdate stopped returning a typed response"
[code]

[code]

Why did this happen? Can we get the typed version back?

[2016-03-15 03:14] colemickens commented on #294
https://github.com/Azure/azure-sdk-for-go/pull/281#discussion_r52695500

I think this blocks me from upgrading.

[2016-03-15 04:04] colemickens opened #295 "LRO: Resource Group Deployment: creation now polls, but deletion polling regressed"
Before. Creation of a resource group deployment did not poll, but deletion did.
[code]

After: Creation of a resource group deployment polls for completion of the deployment. However, deletion is now an instantaneous return.
[code]

This is the response from the delete resource group call with the current/"after" versions:
[code]

[2016-03-15 04:05] colemickens commented on #294
(I'm still upgrading anyway since I don't need the response, still think this should be fixed if it can be)

[2016-03-15 06:28] garimakhulbe commented on #294
Sdk sends back last response in autorest.Response for long-running operations. We changed typed to autorest.Response for uniformity in lro.

[2016-03-15 06:40] colemickens commented on #294
Does the last response usually contain data? Is there a way for the caller to read the response body? Or does the LRO not return a useful body in these cases?

[2016-03-15 16:05] brendandixon commented on #294
@colemickens No, it does not. The long-running operations vary in their behavior, but generally, they do not return the full response upon success. You'll need to issue a subsequent GET to obtain the details.

[2016-03-15 16:15] brendandixon commented on #295
@colemickens Which API are you using (package/method)? Have you checked the corresponding Swagger to see if the x-ms-long-running attribute is attached? If it's not, then the generator does not know to generate polling logic.

[2016-03-15 18:14] colemickens commented on #294
Okay, thanks for the information.

[2016-03-15 18:14] #294 closed

[2016-03-15 19:07] colemickens commented on #295
This is the method: https://github.com/Azure/azure-sdk-for-go/blob/master/arm/resources/resources/groups.go#L175

To be honest, I can't find the Swagger spec for it in the [spec repo](https://github.com/Azure/azure-rest-api-specs). ??

Either way, the generated code looks like it installs the LRO support when it Sends: https://github.com/Azure/azure-sdk-for-go/blob/master/arm/resources/resources/g

[2016-03-15 19:07] ahmetalpbalkan commented on #295
@colemickens https://github.com/Azure/azure-rest-api-specs/blob/244f3bf801273039d9faa2484c1938a142b88c9b/arm-resources/resources/2015-11-01/swagger/resources.json#L593-L624

[2016-03-15 19:49] garimakhulbe commented on #295
Is it sending location header back? It seems from the logs. If yes, Sdk does not do polling for location header currently. We are in process of updating code for this.
Not sure how it was polling earlier for the same call.

[2016-03-15 19:53] colemickens commented on #295
@garimakhulbe Okay, thanks!

[2016-03-15 21:37] colemickens opened #296 "Godoc for List operation is potentially misleaiding"
func (Client) List

[code]

filter is the filter to apply on the operation. top is query parameters. If null is passed returns all resource groups.

---

I don't think it really turns all resource groups. I think this only returns the first page as the server sends it. (I'm assume that in OData the server can set a maximum page size that forces the client to page.)

Is my assumption true?

If so,

[2016-03-16 16:14] brendandixon commented on #296
@colemickens This might be because we have to implement the OData support.

[2016-03-16 16:17] brendandixon commented on #283
@stack72 I have no idea. :)

[2016-03-16 16:17] brendandixon commented on #283
@stack72 The perils of generated code...

[2016-03-23 17:29] gdhagger opened #297 "InvalidApiVersionParameter creating subnets"
Received the following response from Azure when trying to create a subnet.

[code]

Other network related operations seem to success with that API version

[2016-03-23 19:11] gdhagger commented on #297
I was mistaken. The error message is caused by some broken data in the request.

[2016-03-23 19:11] #297 closed

[2016-03-23 19:15] ahmetalpbalkan commented on #297
@gdhagger did you omit the name or something like that? If so we probably should return a friendlier error message.

[2016-03-23 19:25] gdhagger commented on #297
Sort of...

The values are being computed by [Terraform](https://www.terraform.io/) and a bug/feature on that side was resulting in either nothing or nonsense being entered for the resource group name.

[2016-03-23 19:27] ahmetalpbalkan commented on #297
@gdhagger was it the empty resource group name caused this problem? I appreciate any details, we may have a chance surfacing a better error message if we get a better sense of the issue.

[2016-03-23 19:28] gdhagger commented on #297
Yes, I believe so.

On Wed, Mar 23, 2016 at 3:27 PM, Ahmet Alp Balkan <notifications@github.com>
wrote:

[2016-03-24 17:52] stack72 opened #299 "Exposing Error Messages"
Hi

Currently the SDK returns messages as follows:

[code]

To debug this, I need to use charles proxy when my API calls are happening. This error was actually:

[code]

Using the SDK would be a lot easier if the error messages were exposed. IS this something that can be done?

Paul

[2016-03-24 17:55] ahmetalpbalkan commented on #299
I remember we fixed this but apparently there's a regression (assuming you're on tip of master). We should be returning a typed error struct containing those details included in the response. @garimakhulbe @brendandixon PTAL.

[2016-03-24 17:57] stack72 commented on #299
@ahmetalpbalkan

Was it a recent fix or quite a while ago? Thanks for the info

Paul

[2016-03-24 17:59] ahmetalpbalkan commented on #299
@stack72 that was like 2 months ago. https://github.com/Azure/go-autorest/blob/master/CHANGELOG.md#v300 If your copy of the SDK uses `go-autorest-3.0.0` (`azure.WithErrorUnlessStatusCode()` in SDK methods) then you probably have the fix.

[2016-03-24 20:34] andrewduch opened #300 "Errors in Latest Release?"
I've done a clean go get of azure-sdk-for-go and the go-autorest packages. azure-sdk-for-go is filled with all of these errors:

github.com/Azure/azure-sdk-for-go/arm/web/hostingenvironments.go:106: too many arguments in call to azure.DoPollForAsynchronous
github.com/Azure/azure-sdk-for-go/arm/web/hostingenvironments.go:175: too many arguments in call to azure.DoPollForAsynchronous
github.com/Azur

[2016-03-24 20:38] ahmetalpbalkan commented on #300
@andrewduch we develop the `go-autorest` and `azure-sdk-for-go` projects independently, therefore using tip of master branch from these projects are not necessarily going to be compatible. As our README.md highlights:

You can find what version of go-autorest works with the current version of azure-sdk-for-go at [`glide.lock`](https://github.com/Azure/azure-sdk-for-go/blob/master/glide.lock) file.

[2016-03-24 20:38] #300 closed

[2016-03-25 22:39] esell commented on #274
Just piggybacking onto this, I can open up a new issue though if you want...

Would it make sense to also update the README with regards to the SDKs usage of glide? I have been playing with go for a bit but had never heard of glide so it wasn't quite obvious to me why things were breaking when I tried to pull this SDK into a new project.

Doing a simple `go get` as is documented in the README ende

[2016-03-26 05:08] ahmetalpbalkan commented on #274
@esell Thanks for bringing this up, I think we should just bring the docs in the repo up-to-date in general.

[2016-03-26 05:21] garimakhulbe commented on #274
Sorry for replying late. Good suggestion. Thanks. Its next in my TODO list.
Will keep this in mind.

On Friday, March 25, 2016, Ahmet Alp Balkan <notifications@github.com>
wrote:

[2016-03-29 19:51] rmasci opened #306 "azure-sdk-for-go doesn't install"
Many packages in SDK fail to install giving an error similar to this one:
Azure/azure-sdk-for-go/arm/network/applicationgateways.go:103: too many arguments in call to azure.DoPollForAsynchronous

When you look at the function, it only accepts one argument:
Azure/go-autorest/autorest/azure/async.go:
     func DoPollForAsynchronous(delay time.Duration) autorest.SendDecorator {

While the file above

[2016-03-29 19:57] brendandixon commented on #306
@rmasci The SDK is not guaranteed to work against the tip of go-autorest master. The Glide file contains the specific version / commit last tested. Basically, this is the Go vendoring challenge.

However, there is a pending update to the ARM packages that will bring them into line with the latest go-autorest.

[2016-03-29 20:52] boumenot opened #307 "Capture Operation Returns Valuable Output that is Discarded"
The capture operation returns valuable information, but the SDK discards these data.  There is no way to reconstitute this data either.

The C# SDK does the same thing.
### Initial Request

POST /subscriptions/112ffcad-4258-4d8c-b660-45124afff157/resourceGroups/packer-Resource-Group-lyrkcktr6z/providers/Microsoft.Compute/virtualMachines/pkrvmlyrkcktr6z/capture?api-version=2015-06-15 HTTP/1.1 --> 2

[2016-03-29 20:54] brendandixon commented on #307
@boumenot Is it returning anything that cannot be retrieved via a GET against the resource? The operating assumption of the SDKs is that all data lost due to asynchronous handling is available through a GET.

[2016-03-29 20:55] ahmetalpbalkan commented on #307
@brendandixon that unfortunately seems to be the case. This is the `/capture` operation, I don't think we can GET that from another URL.

[2016-03-29 20:56] ahmetalpbalkan commented on #307
cc: @huangpf maybe he knows if there's a way to get the result of `/capture` via GET from an endpoint that's not `/operationstatus/...?monitor=true`.

[2016-03-29 20:59] brendandixon commented on #307
@boumenot @ahmetalpbalkan Hmm. That's not good. I do not believe the Swagger has sufficient metadata to tell the generator that it can / should return the final response. First, consider the case when we're polling due to Azure-AsyncHeader presence, in that case, we've lost the original URI and the object returned is always an OperationResource. When we use the Location header URI, we again lose t

[2016-03-29 21:14] ahmetalpbalkan commented on #307
yes, that was one of the biggest motivators in discarding the final response in long-running operations (along with C# SDK doing the same). But I can GET Storage Account, in this case.

I'm not sure if the result of `/capture` is available on some other endpoint for GET or Swagger tells us what gets returned from this endpoint.

[2016-03-29 21:55] boumenot commented on #307
@brendandixon If there's a way to re-GET the response I am not aware of what it is. :frowning:  I could locate the data by if I had the vmId, but this is also not available.  Here's the relevant [bug](https://github.com/Azure/azure-rest-api-specs/issues/188) for the vmId issue.

##### Gory Details
The capture eventually returns a sample ARM template that can be used to deploy the image just captur

[2016-03-29 22:43] brendandixon commented on #307
@boumenot This is completely gross. No API should *ever* return data that cannot be obtained later (except, say error state and status codes). This is just simply lame. Big. Heavy. Sigh.

I'm not sure what we can do here. Without additional metadata, we'd have to implement returns for all asynchronous operations. And, as I point out above, many of those would break...badly.

[2016-03-30 19:27] garimakhulbe commented on #299
@stack72 Is this working for you now?

[2016-03-30 19:30] garimakhulbe commented on #293
This has been added in latest release. Please check.

[2016-03-30 19:34] ahmetalpbalkan commented on #293
hah this looks great, thanks

[2016-03-30 19:34] #293 closed

[2016-03-30 19:35] garimakhulbe commented on #295
@colemickens...New release will fix this issue. Let us know if issue persists.

[2016-03-30 19:36] brendandixon commented on #293
@ahmetalpbalkan @garimakhulbe The latter part is our hand-crafted text. The poor preceding sentence fragment is pulled, sigh, directly from the Swagger.

[2016-03-30 19:40] ahmetalpbalkan commented on #293
@brendandixon yeah I figured, no big deal though.

[2016-03-30 19:46] garimakhulbe commented on #293
Yeah. Not a high priority issue for now. Will see if we can improve it any way in next release.

[2016-03-30 19:48] brendandixon commented on #293
@ahmetalpbalkan @garimakhulbe The improvement is to lean on the service teams and get them to write real English in their Swagger. Further, they'll need to adopt conventions (e.g., how the text begins) so that each generator can massage the text as needed to idiomatically fit it's documentation style (e.g., Go requires that all documentation begin with the method name...therefore, we need either a

[2016-03-30 21:26] stack72 commented on #299
@garimakhulbe / @ahmetalpbalkan

I am having to bump our version of the repo. We pinned the dep when master was broken for weeks and now there are a huge amount of changes needed since the change to the vendored packages and autorest

So having to trawl through those changes first

P.

[2016-03-30 21:30] brendandixon commented on #299
@stack72 Ah, the joys of consuming beta code. Let us know how it goes!

[2016-03-30 22:50] jen20 commented on #299
@brendandixon for clarity here: is the Go client beta, or is the ARM API in its entirety considered beta?

[2016-03-30 23:06] brendandixon commented on #299
@jen20 Just the Go SDK ARM packages. The ARM services are in varying states evident in the API version exposed (e.g., 2015-06-15-preview).

[2016-03-31 17:19] boonep opened #308 "GetBlobSASURI doesn't work with Non-UTC Timezones"
If GetBlobSASURI is called with an expiry value that is in a non-UTC timezone, the generated signedExpiration is of the format:  2009-11-10T18:00:00-05:00

example:

[code]

Outputs:
[code]

...Which doesn't work with the micrososft Shared Access Singature URLS, which need to be in the second format: https://azure.microsoft.com/en-us/documentation/articles/storage-dotnet-shared-access-signature-pa

[2016-03-31 17:22] ahmetalpbalkan commented on #308
@boonep thanks for reporting this. The value `2009-11-10T18:00:00-05:00` should be working as the doc you pointed out says `Specified in an ISO 8601 format.` for `st`/`se` arguments. If you're getting a particular error, could you please paste it here?

[2016-03-31 17:28] boonep commented on #308
Yeah, not sure.  Trust me this took a long time to figure out.  The document specifies the 8601 format, but their access controls only accepts ISO 8601 values expressed in UTC

[2016-03-31 17:28] boonep commented on #308
#309 Fix here.  Simple, but will save someone else a lot of work tracing out.

[2016-03-31 17:31] ahmetalpbalkan commented on #308
@boonep you're right I just realized I reported this issue back in Sept 2015 and the docs are still not fixed.

[2016-04-05 00:59] ahmetalpbalkan opened #310 "ARM: error messages from long running operations are not useful"
If I trigger an operation that I know that it will fail after the long running operation is started, it gives error message:

    azure:DoPollForAsynchronous 0 Polling terminated with status 'Failed'

couple of issues with this:

- in non-polling methods we clearly specify where (pkg+method) the error comes from
- there's probably an `"error"` field in the response that says `"status":"Failed"`, w

[2016-04-05 16:09] brendandixon commented on #310
@ahmetalpbalkan We'll happily take pull requests. :)

[2016-04-05 16:46] ahmetalpbalkan commented on #310
I believe the changes need to be done at the generator as well as go-autorest, is the generator code upstream?

[2016-04-05 16:47] boumenot opened #311 "Correct Way to Express the Concatenation of Decorators"
Small issues, but I'm trying to figure out the correct way to express an idiom using the SDK that concatenates decorators, and presents them as one.  For example, I am currently decorating a client with an inspector that logs the response data.

[code]

I would like to add another decorator in addition to the logging decorator, and I'm not sure that the SDK provides anything for this out-of-the-bo

[2016-04-05 16:53] brendandixon commented on #310
@ahmetalpbalkan Not yet. @garimakhulbe can make all the necessary changes. I can work with her.

[2016-04-05 16:55] brendandixon commented on #311
@boumenot At present the SDK, and go-autorest, does not expose this directly. However, I like the idea. We could easily formalize your approach (which, by the way, is the correct way to do this). I would rename the "Inspectors," making them basic decorators that we could apply. Nice idea.

[2016-04-05 16:56] garimakhulbe commented on #310
Yes, both will change. Lets hold on this. I will soon complete the generator tests and we will able to merge it to upstream. Will look into this after that.

[2016-04-05 17:04] ahmetalpbalkan commented on #311
@boumenot that's a cool hack. +1 for renaming the field and providing the concat decorators in go-autorest.

[2016-04-05 17:42] brendandixon commented on #311
@boumenot @garimakhulbe can pick this up. I'll work with her as needed.

[2016-04-06 20:41] ahmetalpbalkan commented on #310
@garimakhulbe please prioritize this one, people already started hitting the issue. (see reference above)

[2016-04-07 00:32] colemickens commented on #295
This is fixed. Thanks!

[2016-04-07 00:32] #295 closed

[2016-04-12 18:56] simonwistow opened #314 "Support for Event Hub"
It'd be great to be able to get support for Event Hubs (or at least a util library for generating SAS Authorization headers easily).

[2016-04-12 19:24] ahmetalpbalkan commented on #314
@simonwistow Looks like Event Hub team manages SDKs at their own centralized repo: https://github.com/Azure/azure-event-hubs Could you please consider opening an issue there?

[2016-04-13 18:53] simonwistow commented on #314
https://github.com/Azure/azure-event-hubs/issues/113

[2016-04-13 20:06] ahmetalpbalkan commented on #314
@simonwistow thanks!

[2016-04-15 20:41] garimakhulbe commented on #310
@ahmetalpbalkan This is fixed.

[2016-04-15 20:42] #310 closed

[2016-04-18 18:26] #308 closed

[2016-04-20 20:32] #262 closed

[2016-04-20 21:06] stack72 commented on #299
FYI, trying to use the newer version of the SDK is a complete nightmare. I have been trying to do this for 3 weeks now. The code has changes *so much* as the functionality has changed. the return types from the api are now `autorest.Response` - how can this be turned into an actual response?

[2016-04-20 21:09] brendandixon commented on #299
@stack72 The APIs have returned autorest.Response objects for quite some time. autorest.Response wraps the http.Response object (see https://github.com/Azure/go-autorest/blob/master/autorest/client.go#L34).

[2016-04-20 21:17] stack72 commented on #299
So how do i get the ID of the resource?

Before I could do the following:

[code]

I could then access the ID by saying `resp.ID`

What's the new way? the examples folder have had this removed - https://github.com/Azure/azure-sdk-for-go/commit/9c6d88ffd9d12fac21805c33ad10b1716aabe355

[2016-04-20 21:27] ahmetalpbalkan commented on #299
@stack72 This operation is a long-polling operation, just like Create Virtual Machine. The response does not actually return the ID, but the status of the long running operation. So internally this method's requests go like:

    PUT CDN Profile - GET status - GET status - GET status

The response of `PUT` contains ID, however it is an incomplete CDNProfile object, because the resource creation is

[2016-04-20 21:28] brendandixon commented on #299
@stack72 Got it. This change came because we had to completely rewrite handling of Azure asynchronous operations, of which cdn.ProfilesClient.Create is one (you can tell since it accepts a cancelation channel).

Azure asynchronous operations are not guaranteed to return the full state upon completion. For example, most of the ARM APIs poll against an OperationResource which conveys only completion

[2016-04-20 21:33] stack72 commented on #299
Thank you both very much. I wasn't able to find anything about this in documentation and have been trying all sorts

[2016-04-20 21:35] brendandixon commented on #299
@stack72 Ah, come on! We put a one line comment in the CHANGELOG! :P

We're hoping the SDK will begin stabilizing soon. We're actively working compatibility tests used by the other SDKs.

[2016-04-26 23:29] ahmetalpbalkan commented on #90
Heads up go1.7 probably will ship with TLS renegotation support https://github.com/golang/go/issues/5742#issuecomment-214900065 and we confirmed that fix works with Azure Service Management REST APIs. So we'll finally have a way to fix forks of `crypto/tls` and `net/http`. 🎉

[2016-04-26 23:33] colemickens commented on #90
Are we comfortable saying azure-sdk-for-go is only compatible with the very latest Go compiler/stdlib? (Not that I'm against removing unneeded code...)

[2016-04-26 23:35] ahmetalpbalkan commented on #90
@colemickens well first of all we expect all users to use vendoring, they always can go back. second is, this is `management/**` packages only. so ARM users won't get broken with this.

[2016-04-27 18:58] rootfs opened #315 "DataDisk addressing is ambiguous"
Per this [post](https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-linux-classic-attach-disk/#how-to-initialize-a-new-data-disk-in-linux), locating newly attached data disk is to look for the LUN number on the Linux host. But I find this simple addressing scheme very ambiguous.

There are could be same LUNs under the different scsi hosts.

Below is a screenshot of a RHEL 7 V

[2016-04-27 20:08] ahmetalpbalkan commented on #315
@rootfs This is unfortunately a pain point we are aware of and we hope to address this in the future.

 We do not have a way to map data disks to desired device names on Linux and once you are inside the VM it is hard to tell which one is which disk. The only way we currently have is the LUN number shown in the CLI/API response is the last segment shown in the `lsscsi` output in `[*:*:*:LUN]` form

[2016-04-27 20:08] sedouard commented on #315
From my experience, its always been SCSI host 5. This has be consistent with pretty much every linux I've used on Azure.

[2016-04-27 20:11] boumenot opened #316 "Guard Against Empty Query Parameter Values"
I have had two people report strange errors in packer.

[code]

I was discussing the issue with @ahmetalpbalkan, and he mentioned that this is caused by query parameter values being empty.  The error message is unintuitive, and difficult to debug.  It would be better if these issues could be flagged, and a proper error message surfaced.

I assume not all parameters need a value, and empty is perfe

[2016-04-27 20:23] ahmetalpbalkan commented on #316
@boumenot it's still crucial to come up with a minimal repro URL so that we can see if it's missing URL segments or missing query strings or something else causing us to build up a malformed URL.

If the URL we generate is bad enough that ARM can't really parse the query arguments, then it's our problem. Otherwise we can take it up to the ARM team to provide a better error message.

[2016-04-27 20:27] brendandixon commented on #316
@boumenot @ahmetalpbalkan Uh, the message says that the _passed_ API version is incorrect. The ARM packages hard-coded (as part of code generation) the API version for a Service and pass that among the query parameters. The value comes from the Swagger.

Which service is failing? What API calls? This should not be a possible error (assuming correct Swagger).

[2016-04-27 20:28] ahmetalpbalkan commented on #316
@brendandixon empty string or missing argument is incorrect argument for them. This can be all services as api-version is checked at the ARM layer and if you provide malformed URL to ARM you'll get this error from all RPs.

[2016-04-27 20:31] ahmetalpbalkan commented on #314
Closing this to continue discussion on azure-event-hubs repo. Thanks for reporting!

[2016-04-27 20:31] #314 closed

[2016-04-27 20:43] garimakhulbe commented on #316
@boumenot About the errors, they are for arm-storage. Storage spec is updated to new api version recently so I will regenerate the sdk. This will resolve this issues.
![image](https://cloud.githubusercontent.com/assets/9362976/14867487/95ec8b8a-0c7d-11e6-9b82-282c187f4cd2.png)

[2016-04-27 20:43] brendandixon commented on #316
@ahmetalpbalkan The error reports back an API version. That suggest to me the string is not blank, but incorrect. How are you inferring that the string is blank?

[2016-04-27 20:58] ahmetalpbalkan commented on #316
@garimakhulbe I don't think you should regenerate.  I am almost sure this is a malformed URL bug but I was not able to repro. The API version is not wrong and we don't delete API versions easily. As Chris reported, it works most of the time and issues he pointedshow that in case of wrong user-supplied argument they get this error.

I'm just leaving my 2 cents experience here, but until you have a

[2016-04-27 21:01] ahmetalpbalkan commented on #316
There is one thing that is certain, if an user input goes to `pathParameters := map[string]interface...` and thus `autorest.WithPathParameters`, it should be checked if the string is empty or not. @garimakhulbe this is something we can improve right away.

[2016-04-27 21:04] brendandixon commented on #316
@ahmetalpbalkan @garimakhulbe Not clear. It is legal to pass query parameters without a value. :)

[2016-04-27 21:05] ahmetalpbalkan commented on #316
I'm talking about path components like `/{subscriptionID}/resourcegroups/}{resourceGroupsName}`

[2016-04-27 21:06] brendandixon commented on #316
@ahmetalpbalkan Ah, those should not be empty / null.

[2016-04-27 21:08] garimakhulbe commented on #316
@brendandixon Yes, Its legal pass query with no value.
[code]

[2016-04-27 21:08] ahmetalpbalkan commented on #316
@garimakhulbe I didn't say query argument.

[2016-04-27 21:10] garimakhulbe commented on #316
Version 2015-06-15 is coming from swagger but listed in version list.

[code]

[code]
I think we need to report this ARM team.

[2016-04-27 21:11] ahmetalpbalkan commented on #316
@brendandixon

![image](https://cloud.githubusercontent.com/assets/159209/14868320/da48afee-0c81-11e6-9519-a38ae90758a9.png)

There is nothing checking for that now https://github.com/Azure/azure-sdk-for-go/blob/a1883f7b98346e4908a6c25230c95a8a3026a10c/arm/resources/resources/groups.go#L263-L280

[2016-04-27 21:12] ahmetalpbalkan commented on #316
@garimakhulbe unless we confirm what full URL triggers this error first, no we do not need to. That's the first thing they are going to ask you.

[2016-04-27 21:24] boumenot commented on #316
I cannot reproduce the exact error message any more in packer-azure.  I suspect we're now robust against these failures.  (I think.)  I was able to reproduce the issue with Fiddler and manually changing the URL.

The URL in question for the above failures looks like this.

Note the double slash between resourceGroups and providers.  If I remove the resource group from the URL path the error messag

[2016-04-27 21:32] boumenot commented on #316
When I set the api-version to an expected value the error message changes.

Yields this for an error.  This is a much more reasonable and understandable error.

{"message":"No HTTP resource was found that matches the request URI 'https://management.azure.com/subscriptions/112ffcad-4258-4d8c-b660-45124afff157/resourceGroups/providers/Microsoft.Storage/storageAccounts/paitcus43/listKeys?api-version=

[2016-04-28 13:36] rootfs commented on #315
thank you @ahmetalpbalkan  @sedouard. I hope scsi host 5 is the magic number but it is not guaranteed. AWS EBS and GCE PD are have their associated udev rules so they can be addressed uniquely and easily. I hope vhd can also get the same capability.

[2016-04-28 23:31] rdhakne commented on #129
I see that in C++ Azure SDK there are functions to 'upload from file' (void upload_from_file(const utility::string_t &path)). I dont see the same in golang SDK.
Am I missing something or they will be coming soon? :)

[2016-05-03 04:30] sharminakteranee opened #318 "panic: Error response from Azure. Code: BadRequest, Message: The location constraint is not valid"
I'm facing the problem while Creating a Linux Virtual Machine.

"panic: Error response from Azure. Code: BadRequest, Message: The location constraint is not valid

goroutine 1 [running]:
panic(0x761640, 0xc8203ce860)
	/usr/local/go/src/runtime/panic.go:464 +0x3e6
main.main()
	/home/tiger123/Desktop/azure.go:32 +0x319
exit status 2"

Any one know why this error appearing to me ??

[2016-05-03 04:41] colemickens commented on #318
What value are you putting in the `VirtualMachine` struct for `Location`?

[2016-05-03 04:54] sharminakteranee commented on #318
I used "West US"

[2016-05-03 05:31] ahmetalpbalkan commented on #318
Do you see west us in "azure location list" command? It might not be available to your subscription.

[2016-05-03 06:11] sharminakteranee commented on #318
I got this---
$ azure location list
error:   'location' is not an azure command. See 'azure help'.

[2016-05-03 14:48] ahmetalpbalkan commented on #318
@sharminakteranee hmm maybe run `azure config more arm` first and then run it?

[2016-05-03 18:30] michaelbironneau opened #320 "Azure Service Bus Topics/Queue SDK"
Hello,

Would you entertain a PR for Service Bus Topics/Queue client implementation? I cobbled one together for a project (see [here](https://github.com/michaelbironneau/asbclient)). It could certainly do with some improvement but roughly speaking is this something you'd consider including?

Thanks

[2016-05-05 04:24] ahmetalpbalkan commented on #318
@sharminakteranee have you been able to find out the locations available to your subscription?

[2016-05-05 04:43] ahmetalpbalkan commented on #320
@michaelbironneau I think we are generally open to it, although I believe most of us (Go SDK authors) have not used Service Bus before.

Our north star is to code-generate the data plane SDKs (blob, table, queue and servicebus), however that is something we are not actively pursuing and rest of the `storage/` package is currently hand written. We also have merged a community-contributed Table SDK

[2016-05-05 04:48] sharminakteranee commented on #318
"West Europe" was default, But I also created for "West US".

[2016-05-05 04:51] ahmetalpbalkan commented on #318
@sharminakteranee I'm not sure I follow. So did you see "West US" in the locations list available to your subscription? Does your code work now?

[2016-05-05 05:06] sharminakteranee commented on #318
no, not working. I think I've to change my default subscription.

[2016-05-06 06:30] colemickens opened #322 "Helpers for resource identifier manipulation"
Maybe someone can stop me if there's an easier way.

I need to get the private ip of a running VM. As far as I can tell, I have to retrieve the VM and inspect the [`VirtualMachineProperties`](https://godoc.org/github.com/Azure/azure-sdk-for-go/arm/compute#VirtualMachineProperties) which only includes a reference to the nic [`NetworkInterfaceReference`](https://godoc.org/github.com/Azure/azure-sdk-

[2016-05-06 23:22] stack72 opened #324 "Azurerm Virtual Machine casing for availability_set_id between Create and Read"
I have the following request being used to create a VM:

[code]

Notice the availabilitySet: `/subscriptions/34ca515c-4629-458e-bf7c-738d77e0d0ea/resourceGroups/testavilset/providers/Microsoft.Compute/availabilitySets/test`

When reading back the VM information, I get the following response:

[code]

Notice the availabilitySet here: `/subscriptions/34ca515c-4629-458e-bf7c-738d77e0d0ea/resourceGrou

[2016-05-07 12:26] ahmetalpbalkan commented on #324
@stack72 I believe Azure Resource Manager APIs reserve right to change casing of the resource name. It sounds like a very silly idea to me as well but this is what it is. Network APIs do it even more aggressively. This is not an SDK issue.

[2016-05-09 06:07] #318 closed

[2016-05-09 18:16] stack72 commented on #324
I find this crazy - i am really hoping there is documentation so that I can try to work around this. I understand that URLs should be case insensitive but when it's not documented, it feels crazy

Do you know if the URLs that the API changes the casing of is available? I.e. is availability_set name always UPPERCASE?

P.

[2016-05-09 18:17] brendandixon commented on #324
@stack72 Paul, let me look into this. There was an earlier discussion (another thread, another project) where this came up.

[2016-05-09 18:18] stack72 commented on #324
thanks @brendandixon

[2016-05-10 02:40] johngossman commented on #324
Hi @stack72

This has been an endless source of amusing (not) internal conversations about case sensitivity in our URLs and ids. The ARM architecture consists of a frontend that enforces a certain level of consistency and a bunch of individual services. Unfortunately, we didn't catch this one in the frontend and several services choose to normalize segments to their own preferences. Over time I ho

[2016-05-11 05:25] axw opened #326 "arm: "Create" API methods no longer return model types"
As of f704479992cd6232ab22c70717feb4ba6532f2b0, Create(OrUpdate) methods only return autorest.Response, and never the model types that are being created.

e.g. arm/compute.VirtualMachinesClient.CreateOrUpdate used to return a compute.VirtualMachine, but now returns only an autorest.Response.

Was this intentional? What's the rationale? What's the correct/recommended way to obtain the details of th

[2016-05-11 11:02] ahmetalpbalkan commented on #326
@axw yes this was very much an intentional decision. I will try to explain the rationale rather in detail, hoping this will serve as a reference to similar discussions in the future:

When you make a call the REST API corresponding to the `VirtualMachinesClient.CreateOrUpdate`, we often return you 201 Created response with a JSON object reflecting _partial_ details of the VM you just requested to

[2016-05-11 23:14] axw commented on #326
@ahmetalpbalkan Thanks for the explanation. We really only care about the IDs returned, so I think we'll just create them "by hand" now. It would be nice if they at least could be returned from Create(OrUpdate) calls, so clients don't have to choose between crafting them and making an additional HTTP request.

[2016-05-11 23:14] #326 closed

[2016-05-13 17:01] boumenot opened #328 "Azure Polling Error - Unable to obtain polling URI for POST"
A user of Packer reported the following error in his [PR](https://github.com/mitchellh/packer/pull/3528)

[code]

He's reported that he's seen this issue a couple of time.  Capture is a long running task, and the code just waits  for it to complete.

[code]

I suspect the SDK's polling has an edge case that it isn't handling.

[2016-05-13 21:25] brendandixon commented on #328
@boumenot Can we get more details? It's not really possible to address this without more data.

[2016-05-13 21:49] boumenot commented on #328
I'll reach out for details, and see if I can reproduce this on my end.

[2016-05-15 12:56] valeravorobjev opened #329 "How to create/delete resources group by azure-sdk-for-go/management"
Hi! Please, tell me how to create/delete resources group by azure-sdk-for-go/management

And I want to create vm, hosted service, storage service etc **at one resource group**!

[2016-05-16 09:00] tasquith commented on #328
Hi,

I've just ran the same case again, with the debug flag set.

Please find the gist below containing my output from Charles Proxy.

https://gist.github.com/tasquith/de1a91fe08e852e1c680988e5dc61baf

The error on the command line is as follows:

==> azure-arm: Capturing image ...
==> azure-arm:  -> ResourceGroupName : 'packer-Resource-Group-5kykx0hyl1'
==> azure-arm:  -> ComputeName       : 'pkr

[2016-05-16 10:43] tasquith commented on #328
Looking at the GIST, it seems like the container name containing caps caused it - I changed it to lowercase and it ran again with no issues.

[2016-05-16 15:42] boumenot commented on #328
Argh.  I will add appropriate checks to Packer to ensure we catch, and handle this better.  Let me find the right internal team to, and ask them about this.  We should have been able to catch this sooner.

[2016-05-16 17:54] boumenot commented on #328
After further review, this is my issue.  The Packer code checks for an error, but discards the HTTP response.

The code looks like this

[code]

The error contains this message.

[code]

But the response contains this error message.
[code]

I always **assumed** (and you know that's bad) that the error would always contain the error, but it does not.  The code must account for both cases.

@brendan

[2016-05-16 18:42] boumenot commented on #328
Here's a snippet from a capture.

[code]

[2016-05-17 14:17] manojvas opened #330 "Support for Azure Stack endpoints"
It looks like the Environment endpoints are hard-coded all over the code. Is there a way or support in SDK to point to Azure stack endpoints ? For e.g. In xPlat CLI and Powershell, you can change enpoints by using command

 azure account env add AzureStack --resource-manager-endpoint-url "https://api.azurestack.local" --management-endpoint-url "https://api.azurestack.local" --active-directory-endp

[2016-05-17 16:07] brendandixon commented on #330
@manojvas The ARM packages definitely allow you to set the base URI to use. Each client created (e.g., such as the VirtualMachinesClient) has a factory method accepting a base URI (e.g., https://github.com/Azure/azure-sdk-for-go/blob/master/arm/compute/virtualmachines.go#L41). That should do it!

I hope this helps.

[2016-05-17 16:42] manojvas commented on #330
@brendandixon  Thank you for the prompt response. Glad to know that the support exists today. I will try this out today with with Azure Stack.

[2016-05-18 20:55] colemickens commented on #259
@DeepakRajendranMsft

I don't understand. When I query for my NIC in resources.azure.com, I can see the ipConfiguration itself has a primary field that is populated.

On the other hand, when I query my VM and inspect the NetworkProfile, the Primary field is NOT populated on the interface.

This indicates to me that the Swagger does not conform to the actual behavior of the API. I'm actively having

[2016-05-18 20:58] colemickens commented on #259
[code]
GET https://management.azure.com/subscriptions/27b750cd-ed43-42fd-9044-8d75e124ae55/resourceGroups/colemick-kube-ubuntu-0/providers/Microsoft.Network/networkInterfaces/master815?api-version=2016-03-30

[...]
"ipConfigurations": [
      {
        "name": "ipconfig1",
        "id": "/subscriptions/27b750cd-ed43-42fd-9044-8d75e124ae55/resourceGroups/colemick-kube-ubuntu-0/providers/Microsoft.N

[2016-05-18 23:40] boumenot commented on #328
Thanks!

[2016-05-18 23:40] #328 closed

[2016-05-19 22:39] mcardosos opened #331 "Got InvalidHeaderValue with PutPage"
PutPage returns an InvalidHeaderValue error.

StatusCode=400, ErrorCode=InvalidHeaderValue, ErrorMessage=The value for one of the HTTP headers is not in the correct format.

What could I be doing wrong?

[2016-05-19 23:10] colemickens commented on #331
Can you show us the code you're executing or the request/response?

[2016-05-19 23:11] colemickens commented on #331
Additionally, if it's helpful, here's an example of someone using PutPage: https://github.com/Microsoft/azure-vhd-utils-for-go/blob/7db4795475aeab95590f8643969e06b633ead4ec/upload/upload.go#L82

[2016-05-20 05:53] ahmetalpbalkan commented on #331
@mcardosos make sure you read the documentation at https://msdn.microsoft.com/en-us/library/azure/ee691975.aspx People often make mistake and put random values to the Range header, it should be multiples of 512 bytes such as 0-511, 512-1023 etc.

[2016-05-20 16:14] #324 closed

[2016-05-20 16:15] stack72 opened #332 "Deleting a Virtual Machine"
Hi

when i specify the parameters for a virtual machine, a storage blob gets created for the disk. When the VM is Deleted, the storage blob doesn't get deleted

Is Delete the correct method to call for VMs? Or should we use something like Deallocate first?

Paul

[2016-05-20 17:18] brendandixon commented on #332
@stack72 Good question. We don't know. You may try filing the same question against the related Swagger. If you do not get a response, re-raise it here and we'll see what we can learn.

[2016-05-20 21:55] mcardosos commented on #331
Ok, I read the documentation more carefully. Thanks.

[2016-05-20 21:55] #331 closed

[2016-05-21 23:13] colemickens commented on #330
@manojvas Do all Azure Stack installations use the same set of endpoints? Or are the hostnames customized to the user's environment? If the same DNS names are use for all Azure Stack setups, we could add an Azure Stack Environment definition.

[2016-05-23 14:51] manojvas commented on #330
I believe the host names(alteast the ARM endpoints) are customized for users environment as these endpoints reside on-prem. Adding and environment definition which can be modified easily will be a helpful.

[2016-05-23 22:51] colemickens commented on #330
If the endpoints are all different then there's not much point in adding it to the SDK. You can simply define a new AzureEnvironment struct with the appropriate values and begin using it the same way the existing Environments are used.

[2016-05-24 17:17] boumenot opened #333 "Appropriate Structs to Represent an ARM Template"
There is no type that represents an ARM template in the SDK.  I can approximate an ARM template type with a little bit of effort, and using the models (read types) that ship with the SDK.

This may be an issue that for Swagger...

I am approximating an ARM template using the following code.

[code]

[2016-05-24 18:03] brendandixon commented on #333
@boumenot Yup, Swagger issue. :)

[2016-05-25 02:33] boumenot opened #334 "Display the Best Error Message"
This is similar to a previous [issue](https://github.com/Azure/azure-sdk-for-go/issues/328) that I logged.

Azure returns a better error message than the one returned by the SDK.  Unfortunately, it returns a status of 200/OK, which means you have to look inside the body to determine that it's an error. :frowning:

### Request
This request is part of the polling that occurs when doing a deployment.

[2016-05-25 15:45] ahmetalpbalkan commented on #334
@boumenot what's the error message SDK is giving you in this case? this particularly looks odd as it's HTTP 200 and status:Failed.

[2016-05-25 16:24] boumenot commented on #334
It is similar to this.

[code]

[2016-05-27 23:51] sangeethkumarp opened #335 "storage.BlobProperties should include Lease status of the Blob"
Particularly in case of a Page Blob, this property is useful in determining if the VHD is being used by a VM or not.

[2016-05-30 04:15] boumenot commented on #334
Yet another instance of this.  The code was trying to fetch a secret from KeyVault.  Azure returned a 403, but the SDK did not return an error.

[2016-05-30 04:56] colemickens commented on #334
The SDK has KeyVault support? [I thought we were still lacking even a Swagger spec?](https://github.com/Azure/azure-rest-api-specs/issues/67) Or is it that hitting KeyVault API using `go-autorest` exhibits this undesired behavior too?

[2016-05-31 03:15] boumenot commented on #334
Oh snap!  You're right @colemickens.  I took the code from you originally - I should have known that.  Disregard my KeyVault addendum, but the original issue still stands.

[2016-05-31 07:18] #335 closed

[2016-06-01 20:15] jen20 opened #337 "Incorrect example code for ARM - azure.AzureResourceManagerScope is missing"
The example code in the README for the ARM library shows the following for initializing:

[code]

Where the `azure` namespace comes from the following import:

[code]

The `azure.AzureResourceManagerScope` symbol was removed in Azure/go-autorest#053f51b, in favour of nesting it inside Environment structures.

[2016-06-01 20:53] ahmetalpbalkan commented on #337
related: #274, we should update READMEs and examples to bring them up to date.

[2016-06-01 21:01] colemickens commented on #337
I  agree we should fix this. @jen20 if it helps in the meantime, you can consult this example which is built as part of the CI for go-autorest. https://github.com/Azure/go-autorest/blob/master/autorest/azure/example/main.go

[2016-06-02 12:33] #299 closed

[2016-06-08 20:23] colemickens opened #338 "Azure Polling Error - Unable to obtain polling URI for DELETE"
This is the error I'm seeing:

[code]

This is on DELETE for public ips.

First request:

[code]

First response:
[code]

First poll:
[code]

First response:
[code]

But my application receives the error above...

[2016-06-08 20:24] ahmetalpbalkan commented on #338
It would be useful to get commit numbers of SDK & go-autorest.

[2016-06-08 20:26] ahmetalpbalkan commented on #334
Yeah this is mostly because all Resource Providers introduce their own `error` object schema, often not defined in the Swagger specs.

C# SDK does manual work creating certain error types from Swagger and manually mapping them to responses of RPs. We currently don't do that. Perhaps in the `error` object we can save the full JSON string and offer that in the string dump?

[2016-06-08 20:28] colemickens commented on #338
[code]

[2016-06-08 21:50] garimakhulbe commented on #338
@colemickens Try latest commit ```4bdf29b```. We made some changes around this logic. It might resolve this issue.

[2016-06-09 05:51] paulmey commented on #316
I have a repro of this on my MSDN account: https://gist.github.com/paulmey/715979f6482e8534ecee58524af5a5f8#file-gistfile1-txt

[2016-06-09 06:37] paulmey commented on #316
I think I figured it out. This is failing because the uri is broken. The resource group name is empty and hence, the path becomes `.../resourceGroups//providers/Microsoft.Storage/storageAccounts`. Not sure which part of ARM would pick that up, but if you then use one of the proposed versions, it replies `autorest/azure: error response cannot be parsed: "{\"message\":\"No HTTP resource was found th

[2016-06-09 07:40] paulmey opened #339 "Return detailed error on deployment failure"
On a deployment `CreateOrUpdate`, a possible error return JSON looks like this:
[code]
However useful, the `details` get lost in translation. This object is deserialized into a `operationResource` by `DoPollForAsynchronous`/`updatePollingState`, the error ends up being deserialized as a `ServiceError` struct, which does not handle the `details` array.

[2016-06-09 08:09] paulmey commented on #316
+1 empty resourceGroup parameter is never valid

[2016-06-09 08:30] paulmey commented on #339
Would this fix it in the generated code?
https://github.com/Azure/azure-rest-api-specs/pull/267/commits/18935a975900118c8517c4600b7499cb85c12821

[2016-06-09 16:03] brendandixon commented on #316
@paulmey I believe @garimakhulbe is adding input parameter validation that may cover this case. Check with her to see.

[2016-06-09 16:46] garimakhulbe commented on #316
I added null check for required parameter for some tests in generator. I will add the same for empty parameter.

[2016-06-14 07:40] zlepper opened #340 "ARM Resource ignores api version param"
Looking at the following line of code: https://github.com/Azure/azure-sdk-for-go/blob/master/arm/resources/resources/resources.go#L81

The apiVersion parameter that is passed to the call is completely ignored.
This seems like quite an oversigt, as it prevents user from using other versions of the api, even though the code seems to be should be able to support it.

[2016-06-14 08:35] zlepper opened #341 "Unable to create virtual machine"
I seem to be having some issues creating vms using the arm resource library.

This is the code i'm using:
[code]

Whenever that runs i end i the panic call with this error:
panic: resources.Client#CreateOrUpdate: Failure responding to request: StatusCode=400 -- Original Error: azure: Service returned an error. Code="BadRequest" Message="The request message is invalid." Status=400

It might be beca

[2016-06-17 22:26] paulmey commented on #334
This error and its `details` property are actually [defined in swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-resources/resources/2016-02-01/swagger/resources.json#L1630). So no reason not to have it... :wink:
I think @ahmetalpbalkan's proposal to save the raw json of the error response to allow lazy decoding should work excellently in most cases.

[2016-06-17 23:07] ahmetalpbalkan commented on #334
@paulmey unfortunately, not for all RPs... We can define a nillable field for details and print it in the error if there is data... Please feel free to send a PR to go-autorest.

[2016-06-21 11:39] zlepper commented on #341
Ended up solving this in another using the actual compute part of the arm api.

[2016-06-21 11:39] #341 closed

[2016-06-21 11:43] zlepper opened #342 "DevTest Labs api"
I cannot seem to find anything about the DevTest Labs api in the ARM folder.

Have I overlooked it, or is it not yet available?

[2016-06-23 16:24] ahmetalpbalkan opened #344 "storage: user-friendly error message for wrong storage keys"
If the storage key is malformed b64 string we return: `illegal base64 data at input byte 8`. it can be more human friendly.

[2016-06-23 21:37] stack72 commented on #283
Any word on this?

P.

[2016-06-23 21:38] stack72 opened #345 "Documentation for Container Service Exists..."
but there is nothing in the go sdk?

Is this something that is planned?

P.

[2016-06-23 22:11] ahmetalpbalkan commented on #345
@rgardler @anhowe any timelines for a Swagger spec for Container Service RP?

[2016-06-23 22:12] ahmetalpbalkan commented on #283
@stack72 it would be nice if you could open an issue for Missing Redis Service Specs at https://github.com/Azure/azure-rest-api-specs/ and we can forward internally.

[2016-06-23 22:13] ahmetalpbalkan commented on #283
oops ignore my comment. @brendandixon it appears like there is arm-redis at specs: https://github.com/Azure/azure-rest-api-specs/ should we incorporate?

[2016-06-23 22:18] brendandixon commented on #283
@ahmetalpbalkan Sure. @garimakhulbe can handle that.

[2016-06-23 22:44] stack72 commented on #283
Thanks all. Does each set of arm specs need to be individually converted?

[2016-06-25 00:50] ahmetalpbalkan commented on #322
+1 on the pain point, however I don't think this should be requiring extra tooling. I feel like there is a gap in the design (apparently nobody gave a serious thought about doing these operations).

[2016-06-25 00:52] ahmetalpbalkan commented on #332
@stack72 In Azure Resource Manager mode (`Microsoft.Compute` resource provider), there is no option to delete the blob (at least as of today). This was a little bit disappointing for me as well when I figured it out.

I advise inspecting the VM first, figuring out its OS disk, deleting the VM itself and finally deleting its OS disk.

[2016-06-25 18:10] stack72 commented on #332
Hi @ahmetalpbalkan

thanks for the response here. So I don't think it's quite that simple. All we have for a VHD is a uri - are you suggesting we try and split the URI to find the resource group and the storage account and the container name? That could work (but it's very hacky). We need all of those pieces to delete a blob.

I guess, for me, the functionality I would expect would be to be able t

[2016-06-25 21:38] colemickens commented on #322
https://github.com/Azure/azure-rest-api-specs/issues/328

[2016-06-27 19:55] stack72 opened #346 "DNS Zone"
Is there any way that the DNS Zone nameservers can be exposed when we make a request to `Get` a zone?

The Azure SDK for .net supports this https://github.com/Azure/azure-sdk-for-net/blob/master/src/ResourceManagement/Dns/DnsManagement/Generated/Models/ZoneProperties.cs#L53

Thanks

Paul

[2016-06-27 19:58] ahmetalpbalkan commented on #346
@garimakhulbe it looks like this property is introduced in DNS swagger's new 2016-04-01 version. https://github.com/Azure/azure-rest-api-specs/blob/master/arm-dns/2016-04-01/swagger/dns.json#L1073-L1079

It appears like we'll need to make a release with newly generated code.

[2016-06-27 20:04] ahmetalpbalkan commented on #333
@boumenot closing this as this does not seem very much related to the Go SDK. It might make sense to start an internal discussion with ARM folks (lmk if u need contacts) to create Swagger spec(s) for the ARM templates.

[2016-06-27 20:04] #333 closed

[2016-06-27 20:06] ahmetalpbalkan commented on #330
@manojvas it appears like @colemickens reply answers your question. You should be able to use the `AzureEnvironment` struct to configure the API endpoints. Let us know if this does not solve your problem.

[2016-06-27 20:06] #330 closed

[2016-06-27 20:57] garimakhulbe commented on #340
API parameter should never be exposed to user and we will remove it from method parameters. Every new release of SDK always ties to a single version of api and you can find that version inside client.go for each resource provider.
https://github.com/Azure/azure-sdk-for-go/blob/master/arm/authorization/client.go#L30

[2016-06-27 21:51] garimakhulbe commented on #339
@paulmey this is done.

[2016-06-27 21:56] paulmey commented on #339
Thanks, I'll update my dependencies and profit from your hard work! :+1:

[2016-06-27 21:56] #339 closed

[2016-06-27 22:00] garimakhulbe commented on #338
@colemickens This is working now I guess.

[2016-06-27 22:04] colemickens commented on #338
Yes it is. Thank you @garimakhulbe !

[2016-06-27 22:04] #338 closed

[2016-06-27 22:08] garimakhulbe commented on #334
"details" text is added to response error object in sdk. We can close this issue.

[code]

[2016-06-27 22:08] #334 closed

[2016-06-27 22:11] boumenot commented on #334
w00t!

[2016-06-28 03:13] ahmetb opened #348 "Have operation id in long running operation failures"
When we return an error that has a message like:

The inner error that says `Long running operation terminated with status 'Failed': Code=...`.

So can we add something like `OperationID=` there, reflecting the `x-ms-operation-id` header. That would help us correlate the issues the customers are seeing directly from the error message.

Example here: https://github.com/docker/machine/issues/3542 If

[2016-06-28 04:24] #344 closed

[2016-06-28 14:47] isamuelson commented on #346
How soon can a new release happen?

[2016-06-28 17:32] garimakhulbe commented on #346
today EOD.

[2016-06-28 17:42] isamuelson commented on #346
great! thank you.

[2016-06-29 05:57] ahmetalpbalkan commented on #136
meh. we can live with this.

[2016-06-29 05:57] #136 closed

[2016-06-29 05:57] ahmetalpbalkan commented on #132
No need to fix this ASM stuff

[2016-06-29 05:57] #132 closed

[2016-06-29 05:58] ahmetalpbalkan commented on #129
To anyone interested having this blobutil package: You can now use `AppendBlob` type which is super easy to just keep uploading chunks of data to a blob. It doesn't have the complexity of `BlockBlob`s or anything like that.

[2016-06-29 13:38] isamuelson commented on #346
any news?

[2016-06-29 15:42] ahmetalpbalkan commented on #346
@isamuelson it is under code review at https://github.com/Azure/azure-sdk-for-go/pull/350 , we'll probably tag it later today, feel free to grab the code from there and start using in the meanwhile.

[2016-06-29 16:43] garimakhulbe commented on #342
New SDK version 3.0.0-beta has DevTestLabs api now.

[2016-06-29 16:46] #342 closed

[2016-06-29 17:02] ahmetalpbalkan commented on #346
@isamuelson Please check the `v3.0.0-beta` release.

[2016-06-29 17:02] #346 closed

[2016-07-03 13:36] avatar29A opened #351 "GetBlob for blob names contain spaces fail"
Hi.

I confused. I try to execute this code:

[code]

Invokes two API methods the **ListBlobs** and **GetBlob**. **ListBlobs**'s execution result is OK, but when I execute **GetBlob**, I get error:

storage: service returned error: StatusCode=403, ErrorCode=AuthenticationFailed, ErrorMessage=Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly

[2016-07-03 16:32] ahmetalpbalkan commented on #351
Did you do CreateContainer(user1)?
Container is not the same thing as Storage Account. It is like a folder/directory.

[2016-07-03 18:21] avatar29A commented on #351
Container "user1" was created before.

I executed CreateContainerIfNotExists and got **false**

[code]

[2016-07-03 18:26] avatar29A commented on #351
May be anyone might to write right code, how download files from container?

[2016-07-03 18:33] ahmetalpbalkan commented on #351
@avatar29A ah sorry I missed the part that ListBlobs has succeeded for you. Hmm one thing that stands out from your output is, your blob names contain spaces. That might be causing a bug... Does `GetBlob` fail with the blob names without spaces as well?

@avatar29A there are 2 ways to download a blob:

1. with [`GetBlob`](https://godoc.org/github.com/Azure/azure-sdk-for-go/storage#BlobStorageClien

[2016-07-03 19:24] avatar29A commented on #351
@ahmetalpbalkan thanks for answered. I uploaded with files from .net framework, he worked is fine. Tomorrow, I will check your the idea about spaces.

[2016-07-04 06:32] zlepper opened #352 "VMs created for DevTest-labs does not appear in VM list"
It seems that vms created using the DevTest-labs ARM api are not added to the vm list for the Lab they were created under.
The seem to respect any rules set for the lab, such as schedules, so it's only a visual thing, it does however prevent you from editing Labs specific configurations for the machine using the Azure Portal.

I created the machines with the NewVirtualMachineClient using the Creat

[2016-07-04 09:04] avatar29A commented on #351
I checked it. Yes, if I try to invoke

blob, err := storageClient.GetBlob("user1", "alibra/demo.txt")

It works is fine, but if we'll change blob name on "alibra/Unit 2.1.mp3" for example, we'll get error

[code]

To my mind it's bug. I worked with Azure Storage through .net sdk and didn't get same errors.

[2016-07-04 13:12] zlepper opened #353 "DevTest Labs vms completely ignore resourcegroup"
It seems any vms created in the DevTest-Labs using the api completely ignore the assigned resourcegroup, and instead create a new one.
To confirm my suspision I attached a request inspector to the client. This is what I got:

[code]

This definetely doesn't seem to be what is intended, but rather the vm should be created in the specified resourcegroup.

[2016-07-05 07:37] avatar29A commented on #351
@ahmetalpbalkan, It seems, I found bug.

Bug in the **getEndpoint**.

File:

[code]

Method **getEndpoint** returns a wrong uri.

For example:

**container**: user1
**name**: alibra/Unit 2.1.mp3

**Returns URI**: https://mellodyblob.blob.core.windows.net/user1/alibra/Unit%202.
**Expected URI**: https://mellodyblob.blob.core.windows.net/user1/alibra/Unit%202.1.mp3

[2016-07-05 18:07] garimakhulbe commented on #353
In which api you are getting this issue? What exactly you were trying to do? I can see resourcegrp name 'test-lab7' in snippet. Can you put more details like RG name you set in request and new name you got and also some code on how you are doing it?

[2016-07-05 19:20] zlepper commented on #353
The devtest-labs api.

This is what i'm doing to create the vm itself.
I call this method with the name of a resourcegroup (resourcename) i have created at another point. However the resourcename is not the resourcename under which the machine is created.
[code]

In the snippet in the op, the resourcegroupname set was 'test-lab7', that is however not what resourcegroup the vm gets when created.

[2016-07-06 05:30] ahmetalpbalkan commented on #351
@avatar29A I think I understood the problem, however it appears like the escaping parts the URL and generating the access signature has turned out to be more complicated than I anticipated when I tried to fix this. I'll leave this open and mark this as a bug. In the meanwhile, I can suggest using blob names not containing spaces as a mitigation.

[2016-07-06 05:33] ahmetalpbalkan commented on #353
@zlepper what's the resource group you are getting instead?

[2016-07-06 05:36] ahmetalpbalkan commented on #352
@zlepper can you please provide more info? VirtualNetworkOperationsClient does not sound right. Have the calls succeeded? Can you see anything on Azure Portal or Azure CLI? Any more inputs are appreciated. I don't think we clearly understand the problem on your side. The developers of Go SDK team are not really familiar with DevTest Labs product, but if you could provide more info, we can route yo

[2016-07-06 06:12] zlepper commented on #353
Something like this: test-machine71301072542

[2016-07-06 06:17] zlepper commented on #352
Sorry, was supposed to be NewVirtualMachineClient instead of VirtualNetworkOperationsClient.
The calls succeed and the machine is created as intended, with all templates and schedules and such attached. The machine appears in the Virtual Machine list in the Azure portal.
However when I select the lab it is supposed to be in in the Azure Portal, then it's not in the labs list.

[2016-07-06 23:34] ramankumarlive commented on #353
@zlepper Your finding is correct but it is as per design. We wanted to make the developer experience of creating a VM as simple as possible without needing a developer to know about resource groups. But few our customers have already raised their concern about the implementation. We are going to improve the implementation by allowing you to specify RG for your machine at the time of VM creation. L

[2016-07-06 23:43] ramankumarlive commented on #352
@zlepper Are you using a service principal credential to create the VM? If yes, then you can find the VM under Settings --> All VMs

[2016-07-07 03:48] zlepper commented on #353
That would certainly help.
Is there any ETA for that change? Or should I just go ahead and implement a workaround for now in our source?

[2016-07-07 03:53] ramankumarlive commented on #353
Any reason why you want to create all the VMs in same resource group?

[2016-07-07 03:57] zlepper commented on #353
Yes. After I have created the vms, I need to configure octopus an octopus tentacle, which is installed as an artifact. To configure it I need the dns label of the server, so I can tell my octopus server where to look for the tentacle.
We then use octopus to manage deployments to the server and to update programs.

Having it all under one resourcegroup also makes it easier to delete everything when

[2016-07-07 05:58] zlepper commented on #352
Yes i do, and they are there, thank you.

But may I know why they don't appear on the first vm list?

[2016-07-07 05:58] #352 closed

[2016-07-07 06:03] ramankumarlive commented on #352
You will see the VMs created using your credentials only in the lab dashboard by default. You can see all the lab VMs created by all other lab users by going to All VMs. This is to ensure that the default dashboard is not cluttered with many VMs and also to give you a better performance.

[2016-07-07 06:08] zlepper commented on #353
Which leads me to the question, how do I move something from one resourcegroup to another?
I would imagine all the CreateOrUpdate methods would give me a 404 of called with another resourcegroup, instead of actually moving the resource.

[2016-07-11 22:36] boumenot opened #356 "subscriptions.NewClientWithBaseURI no longer exists"
I updated to v3.0.0-beta, and the only issue I hit was that subscription.NewClientWithBaseURI no longer exists.  This method was being used to construct a subscription appropriate to the target cloud, which may be any of the sovereign clouds already supported or for Azure Stack.

I can recreate it like so, but the convenience was nicer the other way.

[code]

Is this expected?  Is this the best wa

[2016-07-11 22:43] colemickens commented on #356
I had noticed the same thing and pointed it out, but apparently it was by-design.

It bloated my code a bit, https://github.com/colemickens/kubernetes/blob/9e6a86b013765e564332dfc786ce939cfec78eb5/pkg/cloudprovider/providers/azure/azure.go#L80 an extra 8 lines since I have to have 8 different clients. Not the end of the world, but not great either - somewhat of an unnecessarily breaking change.

[2016-07-11 22:51] brendandixon commented on #356
@colemickens What was the "by design" reason given? Removing the convenience method does not, at first blush, feel like the right choice.

[2016-07-11 22:59] colemickens commented on #356
My comment: https://github.com/Azure/azure-sdk-for-go/pull/350#issuecomment-229238954

Follow-up: https://github.com/Azure/azure-sdk-for-go/pull/350#issuecomment-229391112

I guess it wasn't explicitly declared as by-design...

[2016-07-14 04:01] brendandburns commented on #239
@ahmetalpbalkan looks like this is now present:

https://github.com/Azure/azure-sdk-for-go/tree/master/arm/sql

Should we close this issue?

[2016-07-14 04:10] brendandburns commented on #243
@brendandixon I believe that the name is actually correct.  The [documentation in the swagger](https://github.com/Azure/azure-rest-api-specs/tree/master/arm-network/2016-06-01#L6019) says: "Gets or sets the number of outbound ports to be used for SNAT"

So having this be plural is correct.  If that is true, I think we can close this issue.

[2016-07-14 04:17] brendandburns commented on #345
/sub

[2016-07-14 05:27] ahmetalpbalkan commented on #239
@brendandburns sounds about right.

[2016-07-14 05:27] #239 closed

[2016-07-14 16:40] brendandixon commented on #243
@brendandburns Let's close then.

[2016-07-14 16:40] #243 closed

[2016-07-14 22:23] rgardler commented on #345
The Swagger specs for ACS were published on 6/28

https://github.com/Azure/azure-rest-api-specs/blob/master/arm-compute/2016-03-30/swagger/containerService.json

[2016-07-14 22:24] ahmetalpbalkan commented on #345
@garimakhulbe do you think we can code generate using the new specs soon?

[2016-07-18 13:11] pmcatominey opened #358 "Unable to delete Service Bus Namespace"
Hi,

I'm getting the following error when attempting to delete a Service Bus namespace with the arm package:
[code]

From what I can see the API Versions don't match as the day component is missing in the error message.

[2016-07-18 15:26] stack72 commented on #345
Hi all

Any thoughts on this?

P.

[2016-07-18 16:04] garimakhulbe commented on #345
@stack72 We will add this by end of this week.

[2016-07-18 16:31] garimakhulbe commented on #358
Thats odd because sdk is set to correct version(with day). Have you checked request url using fiddler if final request formed has wrong version? We will also investigate at our end and get back to you soon.

[2016-07-18 21:31] garimakhulbe commented on #358
Can you also provide sdk and go-autorest versions you are using?

[2016-07-19 22:54] axw opened #360 "Azure AD API"
We (Juju) would like to automate the process of creating an application/service principal in Active Directory. Essentially we want to replicate the process described at https://azure.microsoft.com/en-us/documentation/articles/resource-group-authenticate-service-principal-cli/, in Go.

[2016-07-19 22:59] colemickens commented on #360
I've written code to create an AD App, AD ServicePrincipal and assign ARM RBAC Roles to the SP. If you want to take a look and/or borrow code: https://github.com/colemickens/azkube/blob/master/util/ad.go

The Azure SDK for Go can handle the role assignment, but the AD side interacts with the Graph API and we don't have an ADAL library for Go, so I implemented the Graph API calls "manually" using `

[2016-07-19 23:07] axw commented on #360
@colemickens Thanks very much, I will take a look.

[2016-07-20 05:35] garimakhulbe commented on #356
NewxxxxClientWithBaseURI methods are added back in latest release.

[2016-07-20 05:35] #356 closed

[2016-07-20 05:37] garimakhulbe commented on #345
This is added in sdk version v3.1.0-beta.
https://github.com/Azure/azure-sdk-for-go/tree/master/arm/compute/containerservice

[2016-07-20 05:37] #345 closed

[2016-07-20 12:41] bcc commented on #351
I also came across this issue - it seems that SharedKeys and SAS Tokens rely on differing escapes depending on the protocol version. I've forked and fixed at https://github.com/bcc/azure-sdk-for-go/commit/026382a38077a643c99412f44cf04e038b465ec6 - and while this has resolved the issue for my use case and the tests still pass, I'd not assume it's a perfect fix...

[2016-07-20 23:51] #332 closed

[2016-07-20 23:52] stack72 commented on #283
Hi @brendandixon / @ahmetalpbalkan / @garimakhulbe

Any idea if we can get some docs on this?

Thanks

Paul

[2016-07-21 01:14] ahmetalpbalkan commented on #283
cc: @devigned do you know where we might REST API docs for the Redis service?

[2016-07-21 15:15] matryer commented on #351
Also having this problem - really need a fix for it. I am passing in the name that Azure gives me:

[code]

NOTE: the above code uses github.com/cheekybits/is for testing.

[2016-07-21 15:21] matryer commented on #351
Can help with a fix but I'm not entirely sure what needs doing? I tried escaping the resource path when it builds the signature, but that didn't work, and you don't get any feedback other than "it's still wrong".

[2016-07-21 15:24] aaronedell commented on #351
We are signing on customers who have Azure blob storage with spaces onto our platform in the next few weeks. We need a fix for this Microsoft, please, this could cause lots of lost opportunity and revenue for both of us.

[2016-07-21 15:31] ahmetalpbalkan commented on #351
@matryer if you have a patch which seems to be working, we're happy to accept that.

Sorry for the problem here folks. The main issue is, Go net/http library does extra escaping of certain characters while making the HTTP request, and the path we pass down to Go libraries is what we use to sign the request. In the Azure Storage backend, even though escaped vs. non-escaped versions are equivalent,