[2019-11-19 14:52] fiunchinho commented on #982
No news in nearly two years?

[2019-11-19 23:51] jhendrixMSFT opened #6387 "Add tests for pipeline policies"
Need to add tests for each pipeline policy.

[2019-11-20 00:01] jhendrixMSFT opened #6388 "Finish unique request ID policy"
The policy is incomplete, needs UUID generation and tests.

[2019-11-20 02:05] onlyjob opened #6391 "sloppy vendoring of unreleased "github.com/Azure/go-autorest""
`github.com/Azure/go-autorest/tracing` is not provided even by the latest [release](https://github.com/Azure/go-autorest/releases) v13.3.0 (released in October) yet _azure-sdk-for-go_ uses the import all over.

For the sake of best practice please only ever vendor tagged semantic releases instead of random commits.

[2019-11-20 02:39] zxDiscovery opened #6393 "How to use the parameter filter?"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

- What happened?
I saw the code `resourceskus.go` has been changed, and

[2019-11-20 18:43] jlian commented on #6336
@nberdy ?

@brunhil sorry, I don't understand the question. It seems that you've already linked to the relevant REST API? Do you need something else?

[2019-11-20 19:22] nberdy commented on #6336
I'm not sure either. @brunhil would love to get details about what's missing.

[2019-11-20 19:23] brunhil commented on #6336
Hi @jlian , the current Go SDK doesn’t seem to support this functionality of the REST API that I’ve linked. Sorry if I wasn’t clear initially.

[2019-11-20 20:25] katbyte commented on #3007
Hi @chlahav,

Yes this would be for a new workspace. If that is the case shouldn't the create function be a future that doesn't return success until the workspace ID has been supplied and is available?

[2019-11-20 20:30] katbyte commented on #2822
@pvrk,

Any updates on this?

[2019-11-20 20:57] kowsalyapalaniappan opened #6396 "InterfacesClient.ListVirtualMachineScaleSetNetworkInterfaces returns empty list"
I have two VMs in the VM Scale Set. I am trying to list the network interfaces of the VMs using InterfacesClient.ListVirtualMachineScaleSetNetworkInterfaces, but it always returns empty list.
I don't get any auth error, the call is successful. What will cause it to behave in this way ?

[2019-11-21 03:34] maggiepint commented on #6391
@mozehgir are you able to route this?

[2019-11-21 23:07] jhendrixMSFT commented on #6391
@onlyjob can you please clarify what you're seeing.  Release v13.3.0 of go-autorest contains the tracing package.

[2019-11-22 01:54] ArcturusZhang commented on #6393
Yes, the doc is for old api-version. I did not find any new doc for 2019-03-01 either.
Let me find someone to help and then come back to you.

[2019-11-25 01:25] onlyjob commented on #6391
Apologies for my mistake - I must have accidentally checked a prior release than v13.3.0.

All good.

[2019-11-25 01:25] #6391 closed

[2019-11-25 19:55] jhendrixMSFT commented on #6388
Fixed in https://github.com/Azure/azure-sdk-for-go/pull/6404

[2019-11-25 19:55] #6388 closed

[2019-11-25 19:56] jhendrixMSFT commented on #6387
Fixed in https://github.com/Azure/azure-sdk-for-go/pull/6410

[2019-11-25 19:56] #6387 closed

[2019-11-25 19:57] jhendrixMSFT opened #6417 "azcore: add tests for request, response, and progress reporting"

[2019-11-26 00:04] jhendrixMSFT opened #6421 "azcore: instrument code with logging"

[2019-11-26 00:20] rachel-msft commented on #6305
Thanks for reaching out @katbyte and providing details about this experience.

For this api, we request that lowercase format be used for inputting letters.
As it stands, we will continue to convert to lowercase format if that's not entered.

[2019-11-26 00:30] ankanjan commented on #6244
As noted in the documentation here https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-schedule-trigger, we only support UTC for now. The value of the timezone property does not matter.

"timeZone | The time zone. Currently, only the UTC time zone is supported."

[2019-11-26 07:31] tombuildsstuff commented on #6305
@rachel-msft thanks for confirming this is a bug - is there a timeline to fix this bug in the API?

[2019-11-26 14:13] shafqut commented on #5082
Not sure if this is related to the API deletion, but encountering this scenario.
If you deploy ACI using json template, you can redeploy fine UNLESS you change the networkprofile, in our case we are adding a tag.
Assuming that the networkprofile is linked to the container instance and so is the reason it fails.

[2019-11-26 18:00] catalinaperalta opened #6433 "Add Device Code Credential"
Implement and test Device Code Credential in azidentity

[2019-11-26 18:01] catalinaperalta opened #6434 "Add UsernamePassword Credential"
Implement and test in azidentity

[2019-11-26 18:03] catalinaperalta opened #6436 "Add Interactive Browser Credential"
Look into if it is possible to implement securely in azidentity. If so then implement and test.

[2019-11-26 18:32] brunhil commented on #6336
Looks like there are no REST API Specs for API Version 2019-03-31 in [azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable).

Would you like me to create an issue in that repository @nberdy / @jlian ? I can close this one and recreate in that repository if so.

[2019-11-27 15:14] midacts opened #6441 "AzureAD: Application Proxy and Single Sign On"
### Feature Request

Please add the ability to create/manage AzureAD application proxies.

Also being able to configure the single sign on portion is required.
(once an app proxy is created they exist under enterprise applications in AzureAD).

[2019-11-28 01:58] ArcturusZhang commented on #6393
Hi @zxDiscovery I did not get any feedback from the internal teams, but I found this [example](https://github.com/Azure/azure-rest-api-specs/blob/c649e5edeccb4152f44e4d32ffe12ae34bb2938f/specification/compute/resource-manager/Microsoft.Compute/stable/2019-04-01/examples/ListAvailableResourceSkusForARegion.json#L5) for filter, which you might find useful.

[2019-11-28 02:11] zxDiscovery commented on #6393
@ArcturusZhang Thank you for your replay. It's useful for me. Now I know the current API only can filter the location. The filter parameter just as you give the example.

[2019-11-28 02:15] #6393 closed

[2019-11-28 02:21] zxDiscovery commented on #6393
https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/vm/custom.py#L774

Here is proof that the current AZ CLI only filter the location. The other data analysis will be done on the client-side when it gets the data from the server.

[2019-12-02 16:58] #6417 closed

[2019-12-02 17:34] jlian commented on #6336
I think the 2019-03-31 is the data plane version? @nberdy

[2019-12-02 17:35] jlian commented on #6336
Do we even have Go SDK for DPS data plane SDK?

[2019-12-02 18:38] nberdy commented on #6336
@jlian I didn't think we had one for DPS, but it seems this is about a missing REST API/swagger. @gregman-msft for FYI.

@brunhil Could you please file an issue about the lack of REST API spec in the repo you mentioned please?

[2019-12-02 18:44] brunhil commented on #6336
Created #[7870](https://github.com/Azure/azure-rest-api-specs/issues/7870) in [azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs)

[2019-12-02 18:46] jlian commented on #6336
@nberdy The linked repo [azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable) is meant for ARM APIs and therefore control plane only.

If @brunhil is asking for Create or Update Enrollment Groups in Go, I imagine there are two options

1. Add this API into control plane and have Go SDKs a

[2019-12-02 18:49] mayurid opened #6463 "Migrating Service Bus code for the latest SDK to the central repository"
Move code from https://github.com/Azure/azure-service-bus-go to https://github.com/Azure/azure-sdk-for-go/

[2019-12-02 18:54] devigned commented on #6463
What about Azure Storage? Will that be moved into this repo as well?

[2019-12-02 18:55] catalinaperalta commented on #6348
This has been checked in this PR: https://github.com/Azure/azure-sdk-for-go/pull/6432

[2019-12-02 19:21] brunhil commented on #6336
I specifically need Create/Update/Get/Delete, but it may be easier to capture all possible interactions. I'm hoping to implement basic functionality with Terraform for Enrollment Groups, hence the need for exposure in Go SDK.

[2019-12-02 20:58] chlahav commented on #3007
Hi @katbyte,
The workspace and its ID are available, but it takes a little time to be able to return it through this specific API.
since the setting was saved and started to work as expected immediately we feel confident to return a success status.
we will work to make the ID available to the API as well and eliminate this edge case.
thanks for pointing out this issue

[2019-12-02 21:23] KarenHammons commented on #5921
@ArcturusZhang is this still persistent?  Haven't seen an update on the workaround from @njuCZ

[2019-12-03 00:58] WodansSon opened #6466 "Private Link Service returns success before values are persisted to Azure"
### Bug Report
- Import Path: `.../services/network/mgmt/2019-09-01/network`
- SDK Version: `36.2`
- Go Version: `go1.12.5 linux/amd64`

### Description
#### What Happened:
While creating the `Private Link Service` resource for the Terraform Azure Provider I noticed that the API was returning success before the values were actually persisted to the Azure resource. In Terraform once a resource repo

[2019-12-03 01:23] WodansSon opened #6467 "Unable to remove Tags from Private Link Endpoint"
### Bug Report
Import Path: `.../services/network/mgmt/2019-09-01/network`
SDK Version: `36.2`
Go Version: `go1.12.5 linux/amd64`

### Description
#### What happened:
I set a tag on the private link endpoint resource, I then attempt to remove the tag by removing the tag block from my request message. The API returns success, but on a Get the tag is still there.

#### What did you expect or want to

[2019-12-03 03:00] ArcturusZhang commented on #6336
Is there a plan for adding your api into the spec repo? Actually there are plenty of data plane apis in the spec repo already, for instance [eventgrid](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/eventgrid/data-plane) and [graphrbac](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/graphrbac/data-plane)

[2019-12-03 05:09] njuCZ commented on #5921
@KarenHammons the workaround is rewite the `future.Result` method
[code]

[2019-12-03 07:38] ArcturusZhang commented on #6396
Hi @kowsalyapalaniappan thanks for the issue.
I have a brief test on my machine, but it seems that I can list the network interfaces of a vmss correctly.
First I created an vmss using Azure CLI:
[code]
Then I wrote the following go code to list the network interfaces within it:
[code]
The output is the same as I run cli command `az vmss nic list -g MyResourceGroup --vmss-name MyVmss`

I am closing

[2019-12-03 07:38] #6396 closed

[2019-12-03 07:39] ArcturusZhang commented on #6244
Close this issue since this is by design of the service side.

[2019-12-03 07:39] #6244 closed

[2019-12-03 09:03] ArcturusZhang commented on #1204
This apparently got fixed in #103 but not closed. Close it now

[2019-12-03 09:03] #1204 closed

[2019-12-03 09:06] ArcturusZhang commented on #1428
This issue should be staled now, closing...

[2019-12-03 09:06] #1428 closed

[2019-12-03 09:08] ArcturusZhang commented on #1437
This issue should be resolved now, closing

[2019-12-03 09:08] #1437 closed

[2019-12-03 09:09] ArcturusZhang commented on #1466
This issue should be staled, closing

[2019-12-03 09:09] #1466 closed

[2019-12-03 09:11] ArcturusZhang commented on #1659
This issue is not resolved, but part of the design now, closing this issue.

[2019-12-03 09:11] #1659 closed

[2019-12-03 09:15] ArcturusZhang commented on #2031
This issue should be staled now, closing

[2019-12-03 09:15] #2031 closed

[2019-12-03 09:15] ArcturusZhang commented on #1922
This issue should have been resolved, closing

[2019-12-03 09:15] #1922 closed

[2019-12-03 16:08] benjamin37 commented on #5899
Hi @zhusijia26,

any new from the appropriate team? This ticket has been open for a while now.

Kind regards
Benjamin

[2019-12-03 16:44] zhusijia26 commented on #5899
@kartikshah9 to help take a look.

[2019-12-03 20:38] zezha-msft commented on #5899
Hi @benjamin37, pagination is a very common pattern, since if there are 10000 accounts, the service can't return all of them in a single call.

Does @ArcturusZhang's response answer your question?

[2019-12-03 22:33] rachel-msft commented on #6305
@tombuildsstuff I wasn't saying that it is a bug. The server name is expected to be lower case and converts other entries into this format. There isn't any change planned.

[2019-12-04 01:29] hepais-microsoft opened #6483 "Request: support for Azure Marketplace Billing API"
### Service Package Request

Hello,

The Azure Marketplace Billing API is used by several ISV's to publish and maintain their offerings on Azure marketplace. It is a RESTful API but we don't have a go SDK for it.

Would it be possible to add it to your roadmap? Here is the link to the documentation:

https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/marketplace-metering-serv

[2019-12-04 02:56] neil-yechenwei opened #6485 "Failed to delete resource NetApp Pool when the delete API of NetApp Volume returns 404"
### Bug Report

- Import path of package in question: https://github.com/Azure/azure-sdk-for-go/tree/master/services/netapp/mgmt/2019-06-01/netapp
- SDK version: v35.0.0
- Output of `go version`: go version go1.12.7 windows/amd64

- What happened?
The resource NetApp Volume depends on the resource NetApp Pool. Although the delete API returns 404 which means the NetApp Volume resource has been dele

[2019-12-04 07:37] benjamin37 commented on #5899
Hi @zezha-msft,

just saw that the method `listNextResults` is now also available in storage account in the sdk, comitted by @ArcturusZhang on 30.09. This seems to be fine now. The issue can be closed.

[2019-12-04 07:37] #5899 closed

[2019-12-04 13:47] surajmb commented on #5051
Can you post feature requests at https://feedback.azure.com/forums/217313-networking?category_id=134448 for tracking?

That's open to public voting and we usually update the status there.

[2019-12-04 13:47] surajmb commented on #5051
@ArcturusZhang , should we close this here?

[2019-12-04 18:25] catalinaperalta commented on #6342
Added in linked PR #6432

[2019-12-04 18:25] #6342 closed

[2019-12-04 18:26] catalinaperalta commented on #6344
Added in linked PR #6432

[2019-12-04 18:26] #6344 closed

[2019-12-04 18:26] catalinaperalta commented on #6346
Added in linked PR #6432

[2019-12-04 18:26] #6346 closed

[2019-12-04 18:26] catalinaperalta commented on #6348
Checked in linked PR #6432

[2019-12-04 18:26] #6348 closed

[2019-12-04 18:27] catalinaperalta commented on #6360
Added in linked PR #6432

[2019-12-04 18:27] #6360 closed

[2019-12-04 18:28] catalinaperalta commented on #6363
Added in linked PR #6432

[2019-12-04 18:28] #6363 closed

[2019-12-04 18:29] catalinaperalta commented on #6362
Added in linked PR #6432

[2019-12-04 18:29] #6362 closed

[2019-12-04 18:32] catalinaperalta commented on #6345
Added in linked PR #6432

[2019-12-04 18:32] #6345 closed

[2019-12-05 01:01] disrani-px commented on #6483
We are working on integration with the Azure marketplace and adding these APIs would be really helpful for us. We are having to write our own wrappers for the REST APIs for now

[2019-12-05 01:16] allegradomel commented on #4829
@dmitsh, thanks for the feedback - I'm tracking the issue and we'll followup soon

[2019-12-05 01:23] allegradomel commented on #5091
@dbaroncelli, thanks for this feedback! We'll look into this as a possible option.

[2019-12-05 03:09] #5051 closed

[2019-12-05 05:27] mayurid commented on #6463
@devigned : Answering the questions in order:-
1) Yes we will be looking into that
2) Yes we will look into that
3) Right now the only one's in our list are Storage, EH and Service Bus. Please let us know if there are more which we should look into
4) We are planning to move the Go repo to version with Go Modules. We are working on phased plan for that. To begin with the we will make sure newer to

[2019-12-06 00:39] allegradomel commented on #6466
@WodansSon, thanks for bringing this to our attention. Looking into this - will update soon!

[2019-12-06 01:42] tiwood opened #6498 "web/CertificatesClient should not force a value for the "password" property"
### Bug Report

- import path of package
`"github.com/Azure/azure-sdk-for-go/services/web/mgmt/2019-08-01/web"`
- SDK version `master`
- `go version go1.13.4 darwin/amd64`

You can now create `App Service Managed Certificates` by providing a `Certificate` struct with the following properties to the `CertificatesClient.CreateOrUpdate` function:

[code]

Note that `Password` is not required and shou

[2019-12-06 02:01] alexeldeib opened #6499 "SDK refactor deleted appinsights/v1 data plane packages"
### Bug Report

- import path of package in question: services/appinsights/v1/insights
- SDK version: v34.4.0, this commit: https://github.com/Azure/azure-sdk-for-go/commit/8c372e6e1243e0427dffb2d750099ee3ed161a44#diff-616e7389a9af172905133b3d95de4379
- output of `go version`: irrelevant

- What happened? During an apparent refactor by the SDK team, the only data plane package available for queryi

[2019-12-06 09:02] ArcturusZhang commented on #6498
Hi @tiwood thanks for opening this issue!
I just checked the corresponding swagger for this service. It turns out that the `password` field is marked as `required` in the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/a6f20ec7547f17a355aafee2ec2ad7a4fa78412a/specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/Certificates.json#L315).
I have tagged this issue, so the co

[2019-12-06 09:09] ArcturusZhang commented on #6499
Hi @alexeldeib  thanks for the issue.
Actually, there is also a package `appinsights` in
[code]
I am wondering if this package is the same as the one get deleted?

[2019-12-06 19:27] alexeldeib commented on #6499
That does seem to be the same one, sorry I didn’t see it under preview! Wonder why it was moved?

[2019-12-06 19:27] #6499 closed

[2019-12-06 19:34] renpengzhang opened #6504 "How to add existing VM into Backend Pool of Load balancer using Golang SDK?"
I want to use Golang SDK to **add existing VM into Backend Pool of Load balancer**. But I am not sure how to achieve this.

 I tried to use **LoadBalancersClient .CreateOrUpdate()** function, and specify the VM's private IP in the params, but it doesn't work.

[2019-12-06 21:35] mayurid opened #6505 "Ship Azure Identity Preview 1"
- [x] Add UsernamePassword Credential #6434
- [x] Add Device Code Credential #6433
- [x] Identity Arch Review fixes #6506

[2019-12-06 21:39] catalinaperalta opened #6506 "Pending Identity Review Fixes"
- Create private struct for AccessToken unmarshaling
- Change AuthenticationFailedError to include a pointer to an error and add AuthenticationResponseError
- MSI retry policy consider removing 503 errors from acceptable retry codes...look into this case

[2019-12-06 23:25] catalinaperalta commented on #6351
Added tests for:
- ClientSecretCredential
- ClientCertificateCredential
- EnvironmentCredential
- DefaultTokenCredential
- ChainedTokenCredential
- UsernamePasswordCredential
- ManagedIdentityCredential

Tests were added in the following PRs:
#6493
#6496
#6497
#6502
#6503

[2019-12-06 23:25] #6351 closed

[2019-12-06 23:26] mayurid opened #6507 "Ship Azure Core Preview 1"

[2019-12-06 23:26] mayurid opened #6508 "Ship Azure Core Preview 1"

[2019-12-06 23:26] mayurid opened #6509 "Ship Azure Core Preview 1"

[2019-12-06 23:26] catalinaperalta commented on #6347
This is related to #6506

[2019-12-06 23:28] #6509 closed

[2019-12-06 23:28] #6508 closed

[2019-12-07 01:40] katbyte commented on #6305
@rachel-msft, if the server name is expected to be lowercase they API should be validating and rejecting any server names that are not lowercase? this is very much a bug that should fixed...

[2019-12-09 03:19] ArcturusZhang commented on #6504
I found this [tutorial](https://docs.microsoft.com/en-us/azure/load-balancer/tutorial-load-balancer-standard-manage-portal) that you may find useful.

[2019-12-09 03:46] toddysm opened #6512 "Unable to build Go project that uses keyvalt SDK"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`

[code]
Same happens with:
[code]
- SDK version e.g. `master`, `latest`, `18.1.0`
[code]
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`
[code]

- What happened?
When bu

[2019-12-09 04:37] ArcturusZhang commented on #6512
That is weird, this method `autorest.GetSendDecorators` is used by every method that would send a rest request.
I did not reproduce your issue on my machine. Could you please clean your local cache in `$GOPATH/pkg` and try again?

[2019-12-09 05:19] ArcturusZhang commented on #6499
The `services/appinsights/v1/insights` package is hand-written or generated by the early version of autorest, therefore it got deleted in v34.0.0. And the package under preview directory is generated by a newer version of autorest.

[2019-12-09 07:02] nikoma commented on #894
2 years? It would be great to see this rolling into production now.

[2019-12-09 11:14] pvrk commented on #2824
@katbyte : Now, the subscription ID is returned in lower case and for all other resource IDs, case is preserved. I hope I can close this issue.

[2019-12-09 18:03] #6347 closed

[2019-12-09 18:37] toddysm commented on #6512
Nope, cleaning the cache didn't solve it.

Just curious - what is the meaning of the `+incpmatible` in the package name (this immediately raises red flags to me)? Also, what is the correct import for the KeyVault packages because the samples are very conflicting?

[2019-12-09 18:41] renpengzhang commented on #6504
Can you clarify how to do this using Azure Golang SDK?

[2019-12-09 19:15] catalinaperalta opened #6516 "Update CloudShell testing process documentation"

[2019-12-10 02:52] ArcturusZhang commented on #6512
Weird... SDK is using that function all over the place. Every function that sends rest api request will call that. Could you please give a more detailed snippet of code that could reproduce this problem? Have you ever tried other packages in the SDK, would them work?

BTW, the profile in keyvault dataplane `"github.com/Azure/azure-sdk-for-go/profiles/latest/keyvault/keyvault"` is actually equivale

[2019-12-10 05:57] ArcturusZhang commented on #6504
You could try this [snippet](https://gist.github.com/ArcturusZhang/e371228283cd7e9438c03a8537330391)
My reference: https://docs.microsoft.com/en-us/azure/load-balancer/scripts/load-balancer-linux-cli-sample-zonal-frontend

[2019-12-10 05:57] #6504 closed

[2019-12-10 10:29] talhers commented on #5435
Hi,
Could not reproduce. Can you check if the issue is still happening?
Thanks,
Tal

[2019-12-10 11:51] benjamin37 commented on #5435
Hi,

no Microsoft fixed this bug meanwhile.

Kind regards
Benjamin

[2019-12-10 11:52] #5435 closed

[2019-12-11 00:43] catalinaperalta commented on #6506
These fixes should be quick to implement, however they depend on the design we land on.

[2019-12-11 22:01] hixichen opened #6520 "Allow to use an arbitrary credential provider endpoint"
**What is expected:**
[code]

**Why:**
- In multi/hybrid cloud world, external creds provider is needed.
- Let the SDK handle the creds rotation work instead of the services.

**Refer:**
https://github.com/aws/aws-sdk-go-v2/issues/451

[2019-12-12 02:01] andyw248 commented on #4780
Closing as per the above comment.

[2019-12-12 02:01] #4780 closed

[2019-12-12 06:57] ArcturusZhang commented on #6520
Hi @jhendrixMSFT could you please help on this?

[2019-12-12 20:53] abelal83 commented on #894
Come on guys it's been years, we're holding back on azure funcs until golang support! Please make make available!!

[2019-12-13 14:27] petems opened #6533 "Gremlin Database and GremlinGraph within Azure CosmosDB"
### Service Package Request

Terraform already ships with resources to access Azure CosmosDB's MongoDB, CassandraDB and Table API. However, analogous resources for GremlinDB are still missing.

They don't seem to be available in the SDK as far as I can see.

docs.microsoft.com/en-us/azure/cosmos-db/graph-introduction
docs.microsoft.com/en-us/azure/cosmos-db/create-graph-gremlin-console

### Terraf

[2019-12-13 19:47] devigned commented on #6463
3. [Application Insights](https://github.com/microsoft/ApplicationInsights-Go) is one that comes to mind and would be super useful.
5 / 6. Perhaps, leaving the repos as archived would be a kinder approach than deleting.

It would be really helpful to publishing proposals for wide impacting work like this. I'd imagine it would be surprising if things like this happened abruptly.

[2019-12-16 02:14] ArcturusZhang commented on #6533
Hi @petems thanks for this issue!
I am wondering if [this](https://github.com/Azure/azure-sdk-for-go/blob/ab2c50cd6e8d2d1552c9ba3c376e5eb405515ddd/services/cosmos-db/mgmt/2019-08-01/documentdb/gremlinresources.go#L30) or [this](https://github.com/Azure/azure-sdk-for-go/blob/ab2c50cd6e8d2d1552c9ba3c376e5eb405515ddd/services/preview/cosmos-db/mgmt/2019-08-01-preview/documentdb/gremlinresources.go#L3

[2019-12-17 00:50] catalinaperalta commented on #6516
CloudShell testing process can be found in: https://github.com/Azure/azure-sdk/issues/795

[2019-12-17 00:50] #6516 closed

[2019-12-17 06:52] artii15 opened #6543 "Can't unmarshal AzureIaaSVMJob.actionsInfo of type backup.JobSupportedAction'"
### Bug Report

- `../services/recoveryservices/mgmt/2019-05-13/backup`
- SDK version 37.1.0
- go version go1.12.5 linux/amd64

I was trying to get a virtual machine backup job status using `JobDetailsClient`. Calling the `Get` method resulted with an error. While debugging I've noticed that the API responded with 200 status, but the SDK is not able to parse the response body.
The error suggests t

[2019-12-17 10:07] scivm commented on #4478
This is not a stale issue and is relevant to those trying to deploy applications using the sdk for go (terraform)

[2019-12-17 14:19] tiwood commented on #6498
Hi @ArcturusZhang, can you provide an update?

[2019-12-18 01:25] ArcturusZhang commented on #6543
Thanks for the issue!
But this issue is duplicated with [this](https://github.com/Azure/azure-sdk-for-go/issues/5339). This is a service or swagger bug, but the service team still did not provide a fix for this. I am very sorry for the inconvenience. I will push the service team to provide a fix for this. Thanks!

[2019-12-18 01:25] #6543 closed

[2019-12-18 01:35] kulkarnisonia16 commented on #894
Thank you for the comments on this github issue. We evaluated this and decided on exploring alternative ways of bringing your own language workload to Azure Functions which Go developers can benefit from. This will be different from the go-language-worker that we had previewed earlier. I will update this when we have more to share. Thanks again for your patience and involvement.

[2019-12-18 05:32] mbfrahry opened #6547 "Kusto Database Principal - Unexpected issues"
### Bug Report

- import path of package in question `github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-05-15/kusto`
- SDK version e.g. `36.2.0`
- `go version go1.13.4 darwin/amd64`

I'm attempting to use [AddPrincipal](https://github.com/Azure/azure-sdk-for-go/blob/master/services/kusto/mgmt/2019-05-15/kusto/databases.go#L52) for Kusto Database Principal but was hitting issue after issue

[2019-12-18 20:02] catalinaperalta opened #6549 "Remove ChainedCredentialError from Azure Identity"

[2019-12-18 23:06] paulomarquesc commented on #5853
Hi @jfggdl and @ramya-rao-a, this is not happening only in this module, I needed to use resources/go module in my code and I found out the same problem, I placed a PR https://github.com/Azure/azure-sdk-for-go/pull/6551 to fix the issue for the resources.go. Not sure why the SDK is hard coding the API version in the REST API request since it will vary by resource provider, a simple Get of the resou

[2019-12-18 23:58] katbyte commented on #2824
Hi @pvrk, it looks like the azure file share backup APIs are still returning `subscription` in the wrong case. Was it fixed for all api endpoints? do we need to upgrade to a newer version of the API?

[2019-12-19 00:35] jhendrixMSFT commented on #5853
@loveship00 in what region are you calling this API?  It could be that this API version has not yet been deployed to the region you're using.

[2019-12-19 00:37] ramya-rao-a commented on #5853
@jhendrixMSFT,
We had a similar issue in the JS library which turned out be due to a wrong value being passed to the the methods on the client. https://github.com/Azure/azure-sdk-for-js/issues/6578.

@loveship00, @paulomarquesc Can you share if you passed the service bus namespace name or the complete url to the client methods?

[2019-12-19 16:56] paulomarquesc commented on #5853
Hi @ramya-rao-a , I didn't test this particular module, just the resources module but wanted to share that the same api-version hard-coding is also happning there.

[2019-12-19 18:01] CecileRobertMichon opened #6559 "ListComplete is missing from the ResourceSkusClientAPI"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/computeapi`
- SDK version e.g. `master`, `latest`, `18.1.0`
`v34.2.0`

- What happened?
`s.Client.ListComplete undefined (type "github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/computeapi".Res

[2019-12-19 19:27] catalinaperalta commented on #6506
Added in #6536

[2019-12-19 19:27] #6506 closed

[2019-12-19 21:07] AliMohsen commented on #5893
Hi @katbyte ,

What Shubha is saying is that you can delete the namespace itself and as a result, the DR Config for that namespace will be deleted as a result.

You will not be able to delete the DR Config alone, if you have set the DR Config name (alias) to be the same as the primary namespace name. The only way is to delete the namespace itself.

[2019-12-19 21:38] catalinaperalta commented on #6350
Included in this PR: #6560

[2019-12-19 21:44] catalinaperalta commented on #6434
Implementation and testing for this credential was finalized in this PR: #6503
Also a manual live test was carried out against a testing tenant set up Azure.

[2019-12-19 21:44] #6434 closed

[2019-12-19 21:47] catalinaperalta commented on #6349
The MSI Credentials now have a custom pipeline with retry policies specific to MSI credential needs. The timeout is handled by creating a context with an appropriate timeout for the IMDS case.

[2019-12-19 21:47] #6349 closed

[2019-12-20 05:31] ArcturusZhang commented on #6498
I am afraid that I cannot provide a fix directly in go SDK. This is written in the swagger which is managed by the service team.
Would you please open an issue in the [azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs) repo about this and referring this issue then?

[2019-12-20 05:33] ArcturusZhang commented on #4478
Could you please open a new issue about this? It would be better if you can provide more context about the terraform usage in the new issue.

[2019-12-20 12:59] vjtm opened #6562 "Unauthorized error then listing the repositories in ACR"
Hi,

I get an "unauthorized error" when trying to listing the repositories from ACR.

NOTE: I use the Azure CLI properly configured because the `az acr  repository list -n test-repo` shows the repositories.

imports:
[code]
snippet code:
[code]

When I run it I get an Unauthorized message error. But from `az cli` it works fine.
[code]

Thanks!

[2019-12-23 14:13] aido123 opened #6572 "Creating a ListResultPage struct as part of Unit Tests issue"
### Feature Request

I'm trying to create a ListResultPage struct with some test data which I aim to use in a mocked subscriptions list method https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/subscription/mgmt/2018-03-01-preview/subscription/subscriptions.go#L118.

The following is an initial attempt but when I try to call the Vaules() method on the ListResultPage struct I ge

[2019-12-23 14:33] aido123 commented on #6572
lrp := subscription.NewListResultPage(a)
lrp.Next() <- This was required
return lrp

[2019-12-23 14:33] #6572 closed

[2019-12-23 18:59] katbyte commented on #5893
@AliMohsen,

I'm not setting the alias to the same name as the primary? Actually i'm not sure what the alias is because the API doesn't have any property called alias - just alternate name. we set that to something different: `acctest-EHN-DRC-12345-alt` and the primary namespace is `acctest-EHN-12345-a`. If i don't set the alternate name to anything it deletes just fine.

For clarification what AP

[2019-12-23 19:38] AliMohsen commented on #5893
Hi @katbyte

Sorry for the confusion. When you create a disaster recovery config through the SDK, you pass in an alias parameter. See here: https://godoc.org/github.com/Azure/azure-sdk-for-go/services/servicebus/mgmt/2017-04-01/servicebus#DisasterRecoveryConfigsClient.CreateOrUpdate

This basically just maps to the DR Config name, this is the name parameter you've referenced here:

[code]
Here you

[2019-12-24 02:19] ArcturusZhang commented on #6559
Hi @CecileRobertMichon thanks for opening this issue!
The `XXXAPI` interface is designed to correspond to every method defined in swagger (in your case, is this [swagger](https://github.com/Azure/azure-rest-api-specs/blob/49ca3623a8d853be17a604091a7df03c1f68307d/specification/compute/resource-manager/Microsoft.Compute/stable/2019-04-01/skus.json#L43)). In the swagger definition, `ResourceSkus` onl

[2019-12-24 02:30] ArcturusZhang commented on #6562
Hi @vjtm  thanks for the issue.
Based on my observation on `azure-cli` acr command group, they will do a lot of credential working before actually call the rest api. You can find those procedure [here](https://github.com/Azure/azure-cli/blob/5d66e768c230e824b6329f2defdff6d43367a549/src/azure-cli/azure/cli/command_modules/acr/_docker_utils.py#L283).
I am not familiar with how to authorize the Conta

[2019-12-24 02:34] ArcturusZhang commented on #6547
Hi @mbfrahry thanks for opening this issue!
Sadly I am not familiar with `kusto`. Have you ever tried other tools to see if they are working well? Such as calling the `rest api` directly. Usually this kind of problem is caused by the service side.
Or if you can provide more information, I can do the investigation for you. Thanks!

[2019-12-24 08:31] neil-yechenwei opened #6577 "Cannot get tags after created NetApp Snapshot resource with tags successfully"
### Bug Report

- Import path of package in question: https://github.com/Azure/azure-sdk-for-go/tree/master/services/netapp/mgmt/2019-08-01/netapp
- SDK version: v36.2.0
- Output of `go version`: go version go1.13 windows/amd64

- What happened?
I cannot get tags after created NetApp Snapshot resource with tags successfully.

- What did you expect or want to happen?
I should be able to get tags fr

[2019-12-25 05:38] ArcturusZhang commented on #6577
Hi @leonardbf would you please help on this?

[2019-12-25 05:39] ArcturusZhang commented on #6374
Hi @leonardbf could you please help on this NetApp issue?

[2019-12-25 05:40] ArcturusZhang commented on #6485
Hi @leonardbf could please help on this issue?

[2019-12-26 06:57] katbyte commented on #5893
@AliMohsen,

Sorry that is my mistake, i am not entirely familiar with the terms of this API. So it appears i have to set the alias to the same name as the primary because otherwise i cannot set an alternate name. You get the error `Alternate name is supported only if alias and primary namespace are same.`. So this comes back to my original problem & question: how does one delete a DRC when the al

[2019-12-26 13:29] pvrk commented on #5339
@ArcturusZhang : I see that the new issue you created in swagger repo is now closed. So, should I track this issue there or continue here?

[2019-12-26 17:12] kowsalyapalaniappan commented on #6396
I am able to list the interfaces of VMSS instances now. When I created this issue, my AD account did not have right role to access VMSS . But I did not get an 403 error , instead I was getting empty list. Thanks for looking into this. But the right way is to return 403 instead of empty list.

[2019-12-26 18:54] devigned commented on #6559
Hi @ArcturusZhang and @jhendrixMSFT, I think the omission of `ListComplete` was probably an oversight when enumeration / paging was implemented. The interface should probably included this to provide a more accurate representation of the struct.

[2019-12-26 20:10] AliMohsen commented on #5893
@katbyte

You can go back to my original answer for the answer to that question :). The alternate name is only there as a workaround for cases where the alias and primary namespace name are the same. If you do set the primary namespace and alias to be the same, then it is impossible to delete the DRC and this is by design. The reason for this is in my reply [here](https://github.com/Azure/azure-sd

[2019-12-27 03:04] ArcturusZhang commented on #5339
I suggest you track this issue at the [swagger repo](https://github.com/Azure/azure-rest-api-specs/issues/7268), since the root cause is in rest api.

[2019-12-27 03:06] ArcturusZhang commented on #6396
Well, that may be the service side bug I think. Sorry for the inconvenience. I will try to present this issue to the service team if they are interested.

[2019-12-27 15:19] leonardbf commented on #6374
Yes we will look into this. We have seen some issues previously due to lag in clearing the cache. Including a short delay after the get pool returns 404 would normally allow the account to be deleted.

[2019-12-27 21:31] thesunwave opened #6586 "There is a bug with typecasting in Azure Cognitive part"
### Bug Report

- import path `.../services/cognitiveservices/v1.0/face"`
- SDK version: `34.0.0`
- Go Version: `go1.13.1 darwin/amd64`

#### What happened?
When I try to call AddPhoto method of Cognitive through a picture that includes more than 1 face remote service returns me an error with description like "there is more 1 face", after that I call the Detect method to get coordinates of require

[2019-12-28 23:57] katbyte commented on #5893
@AliMohsen,

And this is what I see as a bug in the API :) I would expect to be able to delete the DRC without having to delete the primary namespace, IE remove this resource without having to remove an entirely separate one. Not be able able to remove a DRC sounds like a bug to me. As it appears the code to detect this condition exists, should the API not just conditionally remove the DNS entry?

[2019-12-29 00:00] katbyte commented on #3007
Thanks! look forward to this being fixed

[2019-12-29 00:06] katbyte commented on #4780
@andyw248,

While i understand that it may be risky, it doesn't really make this not a bug or something that should be addressed at some point by the product in a future API or version. Thus i'm not sure it should be closed.

[2019-12-30 02:16] #6512 closed

[2019-12-30 02:16] #6533 closed

[2019-12-30 03:24] ArcturusZhang commented on #6586
Hi @thesunwave thanks for opening this issue!
I do not think this is a code gen problem, more of the probability is the service side bug.
When I am checking the [swagger definition](https://github.com/Azure/azure-rest-api-specs/blob/4dc4ff6b562d666782e11b66aaa5fefe3ebef399/specification/cognitiveservices/data-plane/Face/stable/v1.0/Face.json#L4112) for this service, the `targetFace` is defined as:

[2019-12-30 06:47] thesunwave commented on #6586
Hi @ArcturusZhang, thanks for the answer. You are right, but `autorest.Encode` which using for convert int32 to string can't do it, there is a bug, or feature (I really don't know) and the function which has to converts types to string just use a reflection package and make this
[code]

`v.Index(i).String()` is a reflection and the String() method can't return value from non-string types, instead

[2019-12-31 07:57] neil-yechenwei opened #6589 "Failed to get resource Managed Application Definition after created this resource successfully"
### Bug Report

- Import path of package in question: https://github.com/Azure/azure-sdk-for-go/tree/master/services/resources/mgmt/2018-06-01/managedapplications
- SDK version: v35.0.0
- Output of `go version`: go version go1.12.7 windows/amd64

- What happened?
It failed to get resource Managed Application Definition and threw below error message after created this resource successfully. After i

[2019-12-31 08:03] ArcturusZhang commented on #6589
Hi @olsoro could you please check on this?

[2019-12-31 08:30] pvrk commented on #2824
@katbyte : Thanks for the feedback. Will check and let you know.

[2020-01-01 01:21] ArcturusZhang commented on #6586
I see. I will see what I can do about this after the new year's vacation! Happy new year!

[2020-01-03 22:51] joshfree opened #6597 "Create Test Automation for Azure.Identity running in Azure Hosted Environments"
**Epic: Create Test Automation for Azure.Identity running in Azure Hosted Environments**

- [x] Azure Cloud Shell
  - [x] /sdk/e2e test assets checked-in so that they can be referenced from Vendor Instructions
  - [x] Language-specific instructions added to https://github.com/Azure/azure-sdk/issues/795
- [x] Azure VM
  - [x] /sdk/e2e test assets checked-in so that they can be referenced from Vendo

[2020-01-03 23:04] joshfree opened #6598 "Azure.Identity Conceptual Docs (with language-specific code samples)"
This is a tracking item to finish writing Conceptual Documentation for Identity.

This is something @ellismg is driving, but it needs to be expanded with language-specific code samples as well.

Per offline discussion, this conceptual docs will be PR'd to all  azure-sdk language repos and each language-specific package owner will fill-in the language-specific portion in the markdown / docs

[2020-01-03 23:12] joshfree opened #6599 "Make Azure.Identity Errors Simple, Consistent, and Actionable"
Tracking Issue for the Error Message Consistency push that we'll be doing in Azure.Identity

Related Items
- Simplify and consistent error messages across all Credential classes and all SDKs.
 https://github.com/Azure/azure-sdk-for-net/issues/8936
- POC PR Here: https://github.com/Azure/azure-sdk-for-net/pull/9038/files
- Help the user diagnose what is wrong. https://github.com/Azure/azure-sdk-for

[2020-01-03 23:23] joshfree opened #6600 "Make the User/Client-side Application Golden-Path for Azure.Identity Easy"
Tracking issue for addressing UX feedback on User/Client-side Application "Golden path" scenarios with Azure.Identity.  Easy scenarios are still too complicated, require referring to documentation for too many conceptual topics, and it's not clear to new users how best to get started.

This work item tracks adding new simple one-shot or golden-path APIs specific to the User/Client-side Application

[2020-01-03 23:38] joshfree opened #6601 "Make the Service/Server-side Application Golden-Path for Azure.Identity Easy"
Tracking issue for addressing UX feedback on Service/Server-side "Golden path" scenarios with Azure.Identity. Easy scenarios are still too complicated, require referring to documentation for too many conceptual topics, and it's not clear to new users how best to get started.

This work item tracks adding new simple one-shot or golden-path APIs specific to Service/Server-side authentication flow sc

[2020-01-03 23:41] joshfree opened #6602 "Create an Amazing Dev-time Credential Experience for Azure.Identity"
Tracking issue for feature work specific to Developer-time Azure.Identity Credential Experience

- [ ] Bring back file based auth for Management Plane: https://docs.microsoft.com/en-us/dotnet/azure/dotnet-sdk-azure-authenticate?view=azure-dotnet#mgmt-auth AZURE_AUTH_LOCATION (see https://github.com/Azure/azure-sdk-for-net/pull/9312) (@ellismg driving design requirements)

- [ ] Add Support for wri

[2020-01-05 19:56] SebRosander opened #6603 "API returns different result than what's show in the SDK."
### Bug Report

- import path of package in question:
"github.com/Azure/azure-sdk-for-go/services/cosmos-db/mgmt/2015-04-08/documentdb"

- SDK version:
v36.3.0

- output of `go version`:
go version go1.13.5 darwin/amd64

- What happened?
The API returns "none" instead of "None"" as show in the SDK.
https://github.com/Azure/azure-sdk-for-go/blob/781d9fb592a1818cb7fb8e0855ea9c00b095a9e9/services/cos

[2020-01-06 05:04] ArcturusZhang commented on #6603
Hi @SebRosander thanks for this issue.
I have tagged this issue so that the corresponding service team member will see.

[2020-01-06 16:17] cchildress opened #6605 "Several client creator functions have the same doc string."
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`services/resources/mgmt/2019-05-01/resources`
- SDK version e.g. `master`, `latest`, `18.1.0`
v31.0. Current master appears to be the same.
- output of `go version`
`go version go1.13.1 darwin/amd64`
- What happened?
There are several NewFooClient() functions that also have matching function

[2020-01-06 16:29] jhendrixMSFT commented on #6559
@devigned is correct, it was an oversight when the mock interface was added to the code generator.  I'll get this fixed.

[2020-01-06 21:38] katbyte opened #6606 "app configuration breaking change: the api now returns the resource group name in the ID in lowercase now"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`"github.com/Azure/azure-sdk-for-go/services/appconfiguration/mgmt/2019-10-01/appconfiguration"`
- SDK version e.g. `master`, `latest`, `18.1.0`
[code]
- output of `go version`
[code]

- What happened?
Sometime in the last couple days the `appconfiguration` api behaviour changed how it handles

[2020-01-07 02:11] ArcturusZhang commented on #6559
Closed since this has been fixed in autorest.go v2.1.140

[2020-01-07 02:11] #6559 closed

[2020-01-07 02:12] ArcturusZhang commented on #6605
Close this issue, since this has been fixed in autorest.go v2.1.140
This change will take effect in next major version of go SDK

[2020-01-07 02:12] #6605 closed

[2020-01-07 03:12] #6547 closed

[2020-01-07 03:12] #6562 closed

[2020-01-07 05:52] ArcturusZhang commented on #6606
Hi @jimmyca could you please have a look at this?

[2020-01-07 22:55] LukeCarrier opened #6682 "Expose App Service inbound IP address properties"
### Feature Request

The Rest API recently (I don't know what version -- hints on how to find out would be appreciated) started including two properties I need to implement terraform-providers/terraform-provider-azurerm#5333:

`GET /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/my-rg/providers/Microsoft.Web/sites/my-site`:

[code]

How do we go about getting these exposed via t

[2020-01-07 23:10] shurd commented on #6603
Hi @SebRosander thank you for opening this issue. We are still investigating the capitalization discrepancy. It looks like our service returns the indexing mode with the first letter capitalized and at some point it gets converted to lower-case. I will update once we decide how to proceed.

[2020-01-08 02:45] ArcturusZhang commented on #6682
Hi @LukeCarrier thanks for the issue!
What is the import path of the go SDK package you are now using? This could be a good start to investigate exactly what rest api spec you need.
By doing a thorough search for the request URL in the spec repo, I found several candidates:
1. https://github.com/Azure/azure-rest-api-specs/blob/8c16b5389045dbecce0a966d385e699330555370/specification/web/resource-man

[2020-01-08 10:23] LukeCarrier commented on #6682
@ArcturusZhang the path we're currently using is `github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web`:

https://github.com/LukeCarrier/terraform-provider-azurerm/blob/2642118c55618ac3491179049af38f7f8f07916b/azurerm/internal/services/web/client/client.go#L4

This batch request made by the portal suggests that the field has been available since at least `2018-11-01`:

[code]

[2020-01-09 05:06] ArcturusZhang commented on #6682
Well, I searched in 2018-02-01's swagger for inboundIPAddress, but got nothing, either do some newer api versions.
You can find the corresponding swaggers [here](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/web/resource-manager/Microsoft.Web/stable)
If this field is not in the swagger, it cannot exposed by the SDK.

[2020-01-09 05:14] ArcturusZhang commented on #6682
I just did a search in the azure-rest-api-specs repo, there are no PRs for Microsoft.Web in progress now.

[2020-01-09 10:44] LukeCarrier commented on #6682
@ArcturusZhang yep, that was my result too. Wouldn't additional fields in responses that aren't documented in Swagger constitute API breakage in the `Microsoft.Web` service, or does this only apply to documented fields?

This seems like an oversight as, without that field, I can't automate configuring the A records I need to point the apex of a domain at a Website or Functions App.

I'm not sure w

[2020-01-09 13:51] ArcturusZhang commented on #6682
Well, I do not really catch your point. but if you are saying that there is a field called `inboundIPAddress` in the response, but the swagger definition of the response do not have this field, this should be a rest api bug, which goes to the [azure rest api spec](https://github.com/Azure/azure-rest-api-specs) repo. You can file your issue there with some context.

[2020-01-09 14:11] ArcturusZhang commented on #6336
Close this issue since this is not a go specific issue. Please track status of this issue [here](https://github.com/Azure/azure-rest-api-specs/issues/7870) in the spec repo

[2020-01-09 14:11] #6336 closed

[2020-01-09 14:21] #5443 closed

[2020-01-09 14:21] ArcturusZhang commented on #5443
Close this issue since it has been tracked at other place

[2020-01-09 14:24] ArcturusZhang commented on #2060
Hi @carlpett it has been long for this issue, does this issue still exist?

[2020-01-09 14:41] carlpett commented on #2060
@ArcturusZhang It has indeed been long, and I'm no longer working with the client where I used Azure, so I cannot validate it. Perhaps you have some MS-internal change log you can check if the error messages have been improved? The problem, as I recall, was that the error is `Message="Property has invalid value\r\n"`, rather than something like `Message="Property "Algorithm" has invalid value\r\n"

[2020-01-09 16:46] timja opened #6758 "[Service Package Request] azure front door 2019-10-01"
### Service Package Request

I'm looking for the API version 2019-10-01 of front door included in this pull request
https://github.com/Azure/azure-rest-api-specs/pull/7221

There's support in the .net and python SDKs but it appears to be missing here
https://github.com/Azure/azure-sdk-for-go/tree/master/services/frontdoor/mgmt

[2020-01-09 20:48] WodansSon opened #6762 "Front Door: The casing of the HealthProbeSettings is not consistent"
### Bug Report
- import path: `azure-sdk-for-go/services/frontdoor/mgmt/2019-04-01/frontdoor`
- SDK version: `v35.0.0`
- go version: `go1.12.5 linux/amd64`

### Description:
The casing of the HealthProbeSettings is not consistent:

In the backendPools block the casing of the HealthProbeSettings is (notice the lowercase 'h'):
portal-front-door/ -> healthProbeSettings/healthProbeSettings-15711006693

[2020-01-09 22:52] allegradomel commented on #2794
Hi @pdumais, was [this thread ](https://github.com/terraform-providers/terraform-provider-azurerm/issues/4730)helpful? If your issue is resolved we can close this issue.

[2020-01-09 22:57] catalinaperalta opened #6763 "Check AccessToken implementation for AAD credential types"
Look into whether it would be best to change azcore.AccessToken to an interface to allow certain credentials to implement it with refresh tokens or additional fields that might be necessary.

[2020-01-10 00:29] ArcturusZhang commented on #6758
Hi @timja thanks for the issue. I will release this package soon.

[2020-01-10 02:12] ArcturusZhang commented on #2060
Sometimes for other services I have seen this kind of error responses:
[code]
But I do not know how it is in key vault. Let me find a way to check with this.

[2020-01-10 03:42] ArcturusZhang commented on #2060
Hi @RandalliLama @schaabs @jlichwa do we have any updates on this?

[2020-01-10 09:48] ArcturusZhang commented on #6758
Hi @timja the requested packages will be released in [this pr](https://github.com/Azure/azure-sdk-for-go/pull/6776)

[2020-01-10 10:00] LukeCarrier commented on #6682
I'll chase this in the API spec repository then, thanks @ArcturusZhang.

FWIW I think a bit of signposting would go a long way in these SDK repositories -- the layers of abstraction are quite difficult to follow when you're outside of Microsoft and don't have access to the documentation that's kept behind closed doors.

[2020-01-10 10:00] #6682 closed

[2020-01-11 01:02] shaobovaltix opened #6792 "apimanagement client.ListComplete() returned empty list"
### Bug Report

- import path of package in question
"github.com/Azure/azure-sdk-for-go/services/apimanagement/mgmt/2019-01-01/apimanagement"

- SDK version
v33.4.0

- output of `go version`
go1.13.4 darwin/amd64

- What happened?
I imported the apimanagement package mentioned above, and first got a service client, then used the client to call ListComplete(). However, the API returned me an empty

[2020-01-13 07:42] #6758 closed

[2020-01-13 07:43] ArcturusZhang commented on #6758
These packages has been released: https://github.com/Azure/azure-sdk-for-go/releases/tag/v38.1.0

[2020-01-13 08:01] ArcturusZhang commented on #6792
Hi @shaobovaltix would you please share the go code you are using?

[2020-01-13 21:25] shaobovaltix commented on #6792
Hi @ArcturusZhang , thank you for responding to the issue. You mean the go code that calls the apimanagement API?

[2020-01-13 22:29] rebecca-makar opened #6846 "go get on master branch fails."
### Bug Report

- go get on entire directory. Following README.md
- SDK version - master

- What happened?

[code]

- What did you expect or want to happen?
Before January 10th, everything installed as expected.
I think these lines are the problem or pointing out the problem (maybe)??:
[code]

- How can we reproduce it?
On a VM that does not have any azure go files already installed.
Clean environ

[2020-01-14 00:02] catalinaperalta opened #6847 "ScopesVsResource strings for Credentials"
Consider scenarios where we need to send resource strings vs scopes strings for various credentials and how we handle this internally. Consider possibly adding a specific field for resource strings or adding further documentation

[2020-01-14 06:01] ArcturusZhang commented on #6792
Yes, the go code you are using. I had a try yesterday. But I do not have any api management in my subscription, both CLI and go code on my side give me empty results.
You can also export these two environment variables for verbose logging, which may help us diagnose the problem.
[code]

[2020-01-14 09:29] timja opened #6882 "FrontDoorTlsProtocolType missing after 2019-04-01"
### Bug Report

- import path of package in question, e.g. `.../services/frontdoor/mgmt/2019-11-01/frontdoor`
- 38.1.0
- output of `go version`
go version go1.13 darwin/amd64

Hi 👋

I'm trying to upgrade terraform to the newest version of the SDK, it seems that FrontDoorTlsProtocolType is missing after 2019-04-01.
But it still appears to be in the rest api spec?

Something wrong in the generation?

[2020-01-14 19:00] shaobovaltix commented on #6792
Here is part of the code that called the apimanagement API:

[code]
Please let me know if this is what you want.

[2020-01-15 01:32] #6206 closed

[2020-01-15 04:43] ArcturusZhang commented on #6846
I believe this is because you are not using golang 1.13.
The reported error `req.Request.Header.Clone is not defined` is caused because the `Clone` method is introduced in golang 1.13. I remember I have seen this in the CI failure.
Hi @jhendrixMSFT how could we resolve this?

[2020-01-15 04:58] ArcturusZhang commented on #6882
Hi @timja thanks for the issue.
You are correct, the spec for frontdoor is the same as 2019-05-01, you can find the corresponding spec definition in the [readme file](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/frontdoor/resource-manager/readme.md#tag-package-2019-11)
As for the `FrontDoorTlsProtocolType` type, as you see in the sdk repo, the `model.go` file has not bee

[2020-01-15 05:00] ArcturusZhang commented on #6882
Hi @jhendrixMSFT could you please have an explanation from the code gen side why it differs from [2019-04-01](https://github.com/Azure/azure-sdk-for-go/blob/a667766659ee442f09a8695ae8c675ebf0e1d188/services/frontdoor/mgmt/2019-04-01/frontdoor/models.go#L775) and [2019-05-01 (and higher)](https://github.com/Azure/azure-sdk-for-go/blob/a667766659ee442f09a8695ae8c675ebf0e1d188/services/frontdoor/mgmt

[2020-01-15 05:45] Drewm3 commented on #4828
We are in the process of providing a way to get the status of a large number of VMs without needing to query the instance view for each one of them. Generally the status is the property which customers want to get in bulk most frequently. Will providing the status of these instances in bulk meet your needs or do you need to have more than the status property?

There is a solution that will provide

[2020-01-15 07:12] timja commented on #6882
(As you can see in the linked PR I’ve hard coded it with a link to this issue)

[2020-01-15 08:53] mwieczorek commented on #4086
@jhendrixMSFT I'd like to get this in the sdk too.
You suggested to `contact the endpoint owner` - how can I do that? I mean: how can I find the endpoint owner?

[2020-01-15 16:19] pdumais commented on #2794
It's been a while, but I remember ending up using some workaround. I'm ok with closing

[2020-01-15 16:19] #2794 closed

[2020-01-15 16:25] jhendrixMSFT commented on #6846
Will add go1.13 build constraints to the sources under ./sdk, sorry about that.

[2020-01-15 16:47] jhendrixMSFT commented on #4086
@maggiepint do you know who to follow up with about this?

[2020-01-15 17:05] jhendrixMSFT commented on #6882
This enum has one value and is required.  In this case the codegen is supposed to treat it as a constant, i.e. you shouldn't be able to even set the field, the value is sent without user intervention.  This works for constant parameter values but is apparently broken for model properties.  Will work on a fix.

[2020-01-15 18:31] jhendrixMSFT commented on #6846
Should be fixed now.

[2020-01-15 18:31] #6846 closed

[2020-01-15 21:02] dmitsh commented on #4828
Hi Drew,
Thank you for replying.
We need to get the list of VMs with the following properties:
- VM ID
- VM name
- VM type
- location
- OS type
- tags
- scale set (if belongs to VMSS)
- power state
- private IP (if the VM is running)
- public IP (if exists)

Appreciate your response!

[2020-01-15 21:34] catalinaperalta commented on #6549
Removed in the referenced PRs.

[2020-01-15 21:34] #6549 closed

[2020-01-15 21:35] catalinaperalta commented on #6433
Completed in referenced PR #6560

[2020-01-15 21:35] #6433 closed

[2020-01-16 00:51] juliusl opened #6971 "Update Container Registry SDK"
### Service Package Request

Hi I'm from ACR. I need to update our Container Registry SDK with the latest Swagger spec.

Creating this issue for tracking and discussion.

Is there an automated pipeline to get the new generated files or do I need to do this manually and submit a PR?

[2020-01-16 00:57] catalinaperalta commented on #6350
This was added in the referenced PR #6560

[2020-01-16 00:57] #6350 closed

[2020-01-16 02:04] juliusl commented on #6971
Spec:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerregistry/data-plane/Microsoft.ContainerRegistry/preview/2019-08-15/containerregistry.json

My fork with changes:
https://github.com/juliusl/azure-sdk-for-go/tree/pr/update-containerregistery

[2020-01-16 06:46] ArcturusZhang commented on #6792
Hi @shaobovaltix sorry that I did not reproduce this issue. Here is the code I am using:
[code]

Note that I changed your context from TODO to Background, but they are the same. And i also switch to `list.NextWithContext` method other than `Next`, since `Next` is marked as deprecated. BTW, in your way everything also works fine on my side.

Based on this, I suggest you check on your credential or

[2020-01-16 06:54] ArcturusZhang commented on #6971
Hi @juliusl thanks for this issue!
There is a automated pipeline for the SDK generation now.
For service package request from microsoft employees, please go to the [open api hub](aka.ms/openapihub) to submit a package request.
I notice that this api-version does not have a tag in the [readme.go.md](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerregistry/data-plane

[2020-01-16 07:01] ArcturusZhang commented on #6971
Hi @juliusl I have submitted a [PR](https://github.com/Azure/azure-rest-api-specs/pull/8171) for this.
Please submit the release request after this PR get merged.
Or wait for the end of month's major release also works.

[2020-01-16 15:07] rebecca-makar commented on #6846
Thank you!!! @j

[2020-01-16 18:51] juliusl commented on #6971
@ArcturusZhang Thanks!

[2020-01-16 18:52] juliusl commented on #6971
(@ArcturusZhang the open api hub link you have in your comment is broken)

[2020-01-17 02:16] ArcturusZhang commented on #6971
My bad. It should be https://aka.ms/openapihub

[2020-01-17 12:40] ArcturusZhang commented on #5418
Hi @andysworkshop sorry for this very late reply.
I have tested with the pure rest api with similar request body, and totally reproduced your issue.
The root cause of this is from the service side, therefore I submit a new issue in the azure-rest-api-specs repo [here](https://github.com/Azure/azure-rest-api-specs/issues/8183).
We could track this issue there since that is where the root cause lies

[2020-01-17 12:40] #5418 closed

[2020-01-17 20:42] jhendrixMSFT commented on #6586
Fixed in https://github.com/Azure/go-autorest/releases/tag/v13.3.2

[2020-01-17 20:42] #6586 closed

[2020-01-17 22:12] shaobovaltix commented on #6792
Hi @ArcturusZhang Thank you for testing this out.
Inside the function `s.GetAuthorizer()` we are calling this function provided by Azure:
[code]

Also, we call other APIs such as groupClient.ListComplete() to list resource groups, roleClient.ListComplete() to list authorization roles, and both calls use the same authorizer mentioned here and both worked. Only apimanagement List call didn't work. I

[2020-01-18 07:05] ArcturusZhang commented on #6792
@shaobovaltix could you please share a full log of this issue? I have tagged this issue, therefore the service team will have a look at this.

[2020-01-19 23:02] LorbusChris commented on #2993
There has been no movement in https://github.com/Azure/azure-sdk-for-go/projects/2 for 3 months. Is there anything that can be done to speed things up?

[2020-01-20 00:50] katbyte commented on #6305
@rachel-msft, it seems there is no validation on API inputs here at all. I have done a number of requests with invalid chars (#$!@) and the API just hangs.

[2020-01-23 17:02] aishukc opened #7141 "Create Azure website"
Hello all,
I am very new to azure-sdk-for-go and I am trying to create a static Azure website. However, I am not able to find right method/documentation for the job.
I am trying to replicate following command :
`az webapp up --sku F1 -n appname --html -l location`

It would of great help if you could point me to correct resources.

[2020-01-27 23:10] shaobovaltix commented on #6792
@ArcturusZhang Actually I'm afraid I don't have logs with good information.
[code]
Between these two lines there were no error logs printed. Please let me know if you need any other information.

[2020-01-28 07:35] ArcturusZhang commented on #7141
Hi @aishukc thanks for this issue.
Based on the cli command you gave, the description of that command says:
[code]
This seems to be a composite command designed in azure-cli to bring more convenient experience.
Go SDK currently does not support such method, all of the methods in the SDK is auto-generated from the rest api specs. Therefore if you are intending to use go SDK to achieve the same purp

[2020-01-29 14:52] boillodmanuel opened #7234 "Add modules to manage network.ApplicationGateway resources as done with network.LoadBalancer"
### Feature Request

Hello,

network.ApplicationGateway provides only 1 module :
- applicationgateways.go [MAIN]

network.LoadBalancer provides 7 modules :
- loadbalancers.go [MAIN]
- loadbalancerbackendaddresspools.go
- loadbalancerfrontendipconfigurations.go
- loadbalancerloadbalancingrules.go
- loadbalancernetworkinterfaces.go
- loadbalanceroutboundrules.go
- loadbalancerprobes.go

The Azure cl

[2020-01-29 21:03] jananivMS opened #7265 "Azure SQL Database SDK succeeds creating database of name "azure" which is prevented from portal as it is a reserved word"
### Bug Report

- import path of package in question : "github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2015-05-01-preview/sql"
- SDK version : master
- output of `go version`: go version go1.13.7 darwin/amd64

- What happened?
I am using the Azure SQL database client in the above package to create a SQL database given the resource group and SQL server. I expect the behavior I see when

[2020-01-29 21:14] jananivMS commented on #5598
@ArcturusZhang  We are hitting this unmarshall error continuously (also in one more case where we call CreateOrUpdate and then a Get). So what is the recommendation if we do not want to do a synchronous call and want the creation to be asynchronous. How do we see that the database is ready without getting this error?

[2020-01-29 21:25] jananivMS opened #7266 "KeyVault: CheckNameAvailability for KeyVault returns a value different from the enum defined for KeyVault"
### Bug Report

- import path of package in question: "github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2018-02-14/keyvault"
- SDK version: master
- output of `go version`: go version go1.13.7 darwin/amd64

- What happened?
I am using the above SDK to check the validity for a KeyVault name using the below snippet. KeyVault SDK has an enum defined as "keyvault.AccountNameInvalid" that is on

[2020-01-30 05:05] ArcturusZhang commented on #7234
Hi @boillodmanuel thanks for this issue.
But unfortunately this feature request cannot be addressed.
The go SDK is auto-generated from the [rest api specs](https://github.com/Azure/azure-rest-api-specs) by [autorest](https://github.com/Azure/autorest), and it is designed to be a library corresponding to the rest-api. If the rest api does not support those methods you listed, the go SDK cannot cont

[2020-01-30 05:05] #7234 closed

[2020-01-30 05:08] ArcturusZhang commented on #7266
Hi @jananivMS thanks for the issue.
I suspect this is caused because the keyvault service has changed their return value. A new major version of go SDK is on its way. After the new version is released, please update your SDK and have another try to see if this is resolved.

[2020-01-30 05:10] ArcturusZhang commented on #7265
Hi @jananivMS thanks for the issue.
I believe this is either swagger side or service side problem. Therefore I tagged this issue so the corresponding service team will have a look at this issue.

[2020-01-30 06:08] jaredmoo commented on #7265
Thank you for the feedback. Let me ask around to find out what the correct behaviour should be here.

[2020-01-30 10:29] boillodmanuel commented on #7234
I understand @ArcturusZhang, but in this case, this could worth to move the issue to correct github repository or ask me to create the issue in the correct repo.
Otherwise, feedbacks will be lost...
And it could be great to mention it in `README.md`

[2020-01-30 15:53] jananivMS commented on #7266
I can use the new one when it is released. But does that mean the current SDK will not be fixed? Any ETAs on when the next version will be released?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Arcturus <notifications@github.com>
Sent: Wednesday, January 29, 2020 10:08:35 PM
To: Azure/azure-sdk-for-go <azure-sdk-for-go@noreply.github.com>
Cc: Janani Vasudevan

[2020-01-31 01:56] #6971 closed

[2020-01-31 02:02] ArcturusZhang commented on #7234
Well, you could raise an issue ask for the api to create those resources independently in the [azure-rest-api-specs repo](https://github.com/Azure/azure-rest-api-specs/issues). I could tag your issue there so the service team will have a look at that issue.

[2020-01-31 02:08] ArcturusZhang commented on #5598
Well, I believe this issue is caused by skipping the `future.WaitForCompletionRef`. This method must be called before you can call `future.Result`. If you want a asynchronous call, just return the future struct, and use `future.DoneWithContext` to query whether the async operation has completed

[2020-01-31 02:10] ArcturusZhang commented on #7266
`v39.0.0` has been released. You can have a try with the same package using this new version of SDK.
To clarify, by "new SDK version", I mean the version of SDK itself, not the api-version you are using now (2018-02-14).

[2020-01-31 21:05] thinkdavid opened #7278 "Table Service SDK Deprecated"
### Question about Deprecation

Is there a plan for continuing the SDK for the Table Service? The README says the storage sdk for Go is being deprecated but contains links to new SDK's for files/blobs/queues but not for tables. If one wants to programmatically insert to tables -- what service should they use going forward?

Thanks,
David

[2020-01-31 22:10] katbyte opened #7279 "recovery service vault configs seem to be in the wrong package?"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
[code]

- SDK version e.g. `master`, `latest`, `18.1.0`
[code]
- output of `go version`
[code]

- What happened?
The vault config client and sdk seem to be in the backup package instead of the recovery services package. (also storage type doesn't seem to work but thats another issue). This see

[2020-02-02 11:51] timja opened #7281 "apimanagement 2019-12-01-preview"
### Service Package Request

https://github.com/Azure/azure-rest-api-specs/pull/8225

Terraform issue:
https://github.com/terraform-providers/terraform-provider-azurerm/issues/3203

[2020-02-04 02:16] ArcturusZhang commented on #7278
Hi @jhendrixMSFT do you have any comment about this?

[2020-02-04 02:31] takekazuomi commented on #7278
In my opinion, in .NET, the Table SDK has moved to the cosmos DB SDK and has been removed from the Azure SDK.
Azure golang SDK also removed table SDK, but golang cosmos DB SDK does not support Table API. This is a big problem.

[2020-02-04 02:36] ArcturusZhang commented on #7279
Hi @katbyte thanks for this issue.
Those two resources come from different folder in specs:
* Vaults come from [recoveryservices](https://github.com/Azure/azure-rest-api-specs/blob/b91c2b941d20647ccd41d5857d8a0b8ec020e2a0/specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2016-06-01/vaults.json#L193)
* BackupConfigs come from [recoveryservicebackup](https://github.co

[2020-02-04 02:47] ArcturusZhang commented on #7281
Hi @timja thanks for this issue.
I am working on this [now](https://github.com/Azure/azure-rest-api-specs/pull/8291) and it will be released soon.

[2020-02-04 03:43] katbyte commented on #7279
@ArcturusZhang, I understand they are in different areas in the specs, but i think configs is in the wrong place? The configs struct configures more then just soft delete, does enhanced security and storage type? So it seems like it would make more sense to reside in the recoveryservices folder/package?

[2020-02-04 07:48] ArcturusZhang commented on #7279
Well, without the changes from the swagger side, we cannot do this. Here is the reason:
When the code generator generates the go SDK from swaggers, it will generate some common files (for example the `client.go` and `model.go` files). One swagger directory has a set of those common files plus some other file with various of the actions (for instance `vaults.go` in `recoveryservices`). The problem

[2020-02-04 07:53] ArcturusZhang commented on #6021
Hi @tombuildsstuff does switching from `security/v1.0` to `security/v3.0` work? If so, I will close this issue.

[2020-02-04 08:03] tombuildsstuff commented on #7279
@ArcturusZhang I think @katbyte's point was that this method probably wants moving in the Swagger since it's related to Recovery Services as a whole, rather than Backup specifically - rather than renaming the directory?

[2020-02-04 15:48] boillodmanuel commented on #7234
Here is the azure-rest-api-specs issue: https://github.com/Azure/azure-rest-api-specs/issues/8252

[2020-02-04 16:21] jhendrixMSFT commented on #7278
There is still functionality for interacting with table storage in the `./storage` package, however this package isn't under active development.  The POR is to generate a new swagger-based package for table storage however this hasn't happened yet.  While I can't commit to any timeline I will follow up to see what happened to the swagger for table storage.  In the meantime are you able to use what

[2020-02-04 19:49] katbyte commented on #7279
yep, it seems like the method has ended up in the wrong package somehow

[2020-02-04 22:04] thinkdavid commented on #7278
In the meantime, yes the current one works. I just wanted to avoid running into issues down the road if I begin coding the service now using it.

[2020-02-04 22:51] jhendrixMSFT commented on #7278
Understood.  And to clarify my earlier statement, even though we're not actively adding features to this package we will continue to support it until we have a replacement ready.

[2020-02-05 01:17] scbedd opened #7296 "Update Existing Track 2 Build - Cross-Plat/Linting"
Currently, CI is triggered from a single [here](https://github.com/Azure/azure-sdk-for-go/blob/master/sdk/ci.yml)

However, notice that the triggers explicitly exclude the track 2 packages. We need to get one up and running that _does_ trigger off the track 2 packages. Not only this, but we'd also prefer that the builds scoped to just the relevant packages as well.

I'm going to take the opportuni

[2020-02-05 02:09] ArcturusZhang commented on #7279
Well, this is the root cause, but out of my scope. Please let me have a communication with the corresponding service teams about this.

[2020-02-05 11:26] ArcturusZhang commented on #7279
Hi @katbyte and @tombuildsstuff since the root cause of this issue is in the swagger, and out of the scope of go SDK, I have created an [issue](https://github.com/Azure/azure-rest-api-specs/issues/8308) in the rest api specs repo to track this.
Therefore I will close the issue here. Thanks!

[2020-02-05 11:26] #7279 closed

[2020-02-05 15:47] szymon3 commented on #4829
Hi, any progress on this?

[2020-02-07 00:48] scbedd commented on #7296
Current Steps. Checkmarks where I intend to transfer.

- [x] Vet
- [x] Build
- [x] Run Tests
- [ ] Display Breaking Changes
- [ ] Verify Package Directory
- [x] Copyright Header Check
- [x] Format Check
- [x] Linter Check

[2020-02-10 18:16] joshfree commented on #6597
Updating issue as Functions and App Services has been moved to the backlog

[2020-02-10 23:40] akshaybabloo opened #7321 "Question: File upload progress"
Is there an example on how to get the progress pipeline when uploading a file

[2020-02-10 23:45] #7321 closed

[2020-02-11 00:58] lilyjma opened #7322 "test issue"
testing if bot is triggered correctly.

[2020-02-11 02:30] #7281 closed

[2020-02-11 07:26] ArcturusZhang commented on #7281
This package has been released in v39.1.0

[2020-02-11 08:04] #7141 closed

[2020-02-11 16:34] jhendrixMSFT commented on #7296
The linter check will fail on `azcore` which is why I omitted it in the track 2 CI.  I want to look into using something like https://github.com/golangci/golangci-lint which is much more powerful, just haven't had the time yet.

[2020-02-12 01:36] Li-ReDBox commented on #894
Hope you would soon update this issue. Thanks.

[2020-02-13 21:27] annerajb opened #7344 "Missing Standard_DC2s and Standard_DC4s from models.go"
### Bug Report

- import path of package in question, e.g. `.../services/containerservice/mgmt/2018-03-31/containerservice/models.go`
- latest
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

- What happened?
Expected to find confidential compute vm sizes
- What did you expe

[2020-02-13 22:18] kwontae opened #7345 "Cosmos gremlin api support"
### Feature Request

[2020-02-14 02:29] #7266 closed

[2020-02-18 06:01] jdelforno opened #7352 "Azure Active Directory API Deprecated"
Make use of the Microsoft Graph API rather than updating the AAD API Endpoint.

You're effectively investing time that's going to be redundant as a rewrite will be required when the Azure AD API reaches EOL.

Learning some Golang atm to contribute but food for thought.

[2020-02-18 07:17] ArcturusZhang commented on #7344
Hi @annerajb thanks for this issue.
For the api-version you are using (`2018-03-31`), all supported vm sizes are listed here: https://github.com/Azure/azure-rest-api-specs/blob/70593ff618236611e2c3265711f385e9c44cb4a0/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2018-03-31/managedClusters.json#L787
I do not find any entry with value `Standard_DC2s`, you may nee

[2020-02-18 07:19] ArcturusZhang commented on #7345
Hi @kwontae what kind of feature are you requesting? Please feel free to complete your content, and then I will reopen this issue for you.

[2020-02-18 07:23] ArcturusZhang commented on #7352
Hi @jdelforno thanks for this issue, but I did not quite understand what you are referring to. Can you be more specific?

[2020-02-18 07:59] #6021 closed

[2020-02-18 13:17] annerajb commented on #7344
Can this be added to the latest API version?

On Tue, Feb 18, 2020, 2:17 AM Arcturus <notifications@github.com> wrote:

[2020-02-18 23:17] scbedd commented on #7296
I'll take a look at this Joel. The release furior should be ended now. When I add the linting stuff, I'll check this out.

[2020-02-18 23:31] joshfree opened #7358 "Azure-Core: Add OpenTelemetry Tracing Plugin Support for Track2 Go SDKs"
Tracking issue for adding OpenTelemetry tracing support for azure-core, azure-identity, and Storage Go SDKs

- See https://opentelemetry.io/docs/golang/tracing/
- See https://github.com/Azure/azure-sdk/issues/501
- See https://gist.github.com/lmolkova/e4215c0f44a49ef824983382762e6b92

/cc @lmolkova @pakrym

[2020-02-19 03:00] ArcturusZhang commented on #7344
Well, I recommend you to open a new issue in the spec repo [here](https://github.com/Azure/azure-rest-api-specs/issues) with more context about this new value since the root cause of this issue is there.
You can do it yourself, or if you can provide more information about this, I can do it for you. For instance, where can you find a full list of the vm sizes in the container services, and the list

[2020-02-19 16:53] vdamle opened #7363 "No compatible signing algorithm for curve SECP256K1"
### Bug Report

- import path:
[code]
- SDK version e.g. `master`, `latest`, `18.1.0`
[code]
- output of `go version`
[code]

## Problem Description

* `azure-sdk-for-go` does not support a compatible `JSONWebKeySignatureAlgorithm` for key created with curve `SECP256K1`, using the Azure KeyVault Portal.

[code]

* It appears that signing using `azure-sdk-for-go` can only work if the key was also c

[2020-02-19 21:06] kwontae commented on #7345
Hi @ArcturusZhang I see I didn't know it had to be supported by the azure rest api specs. I just wanted a feature(like an sdk for other packages such as eventhub) that will allow me to do aad authentication to my gremlin database using cosmos db and make queries. I know they have sdk for other languages such as java, .net, python and etc but not for Golang yet and it would be lovely if that is sup

[2020-02-20 02:08] ArcturusZhang commented on #7345
I am quite sorry that this kind of SDKs are manually written by the service team, while this repo stores mostly management plane which is auto-generated from the rest api specs. Therefore as far as I know, this kind of SDK will not be supported here. If the service team write a go SDK manually, usually it will not be placed in this repo. You can find some links of other data-plane SDKs in the READ

[2020-02-20 21:52] kwontae commented on #7345
@ArcturusZhang https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-java this is the link that talks about how to use the java sdk

[2020-02-21 03:37] jdelforno commented on #7352
Hey @ArcturusZhang

The Azure AD Graph API ( https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-graph-api ) has been deprecated by Microsoft.

As the code states it's using the Azure AD Graph API (graph.windows.net), it should be mentioned somewhere that a refactor is required against those items that require it and to make use of the MS Graph API in future (https://d

[2020-02-21 03:48] ArcturusZhang commented on #7345
Thanks. And hope you not mind that I am going to close this issue since this is irrelevant with go SDK.

[2020-02-21 03:48] #7345 closed

[2020-02-21 04:15] ArcturusZhang commented on #7352
Hi @jhendrixMSFT could you bring some context about this?

[2020-02-21 06:02] ArcturusZhang commented on #7345
Hi @jhendrixMSFT are you aware of any plans of GO data plane SDK for this service?

[2020-02-21 06:31] ArcturusZhang commented on #7363
Hi @vdamle thanks for this issue.
Go SDK is auto-generated from the [swaggers](https://github.com/Azure/azure-rest-api-specs), and the swagger corresponding to the go package you are using is [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/keyvault/data-plane/Microsoft.KeyVault/stable/7.0/keyvault.json).
If the enum value has conflicts with it description, that shoul

[2020-02-21 15:41] jhendrixMSFT commented on #7352
@jdelforno hello!  The contents of this SDK (excluding the `./storage` package) are auto-generated from swagger files in the azure-rest-api-specs repo.  If we want to mark the `graphrbac` package as deprecated it must come from being declared as such in the swagger.

@ArcturusZhang Do we have a swagger for the MS Graph APIs yet?

[2020-02-21 15:43] jhendrixMSFT commented on #7345
There are plans to add a module supporting CosmosDB but we don't have a firm timeline for when that will happen.

[2020-02-22 23:10] aristosvo opened #7498 "AKS Subnet is not available in output"
### Bug Report

- path: /services/containerservice/mgmt/2019-10-01/containerservice
- SDK version: `v39.2.0`

- What happened?
Subnet ID is not exposed
- What did you expect or want to happen?
I expected to have a Subnet ID exposed if I request my AKS cluster state
- How can we reproduce it?
`az aks list` or terraform:
[code]
- Anything we should know about your environment.

[2020-02-24 02:01] magodo opened #7499 "Update Logic App Workflow to support `FlowEndpoints`"
### Feature Request

Current available version of logic app workflow is **2016-06-01**, which lacks of `FlowEndpointsConfiguration` in `WorkflowProperties`, this has already been supported in the latest version **2019-05-01**.

So please bump the version (if feasible) so that user could refer to info like: `outgoingIpAddresses` or `accessEndpointIpAddresses`.

[2020-02-24 03:27] ArcturusZhang commented on #7352
Well, when I search the end point of MS Graph `graph.microsoft.com` in azure-rest-api-specs, I got nothing. I would say there is no swagger for MS Graph APIs yet

[2020-02-24 06:14] ArcturusZhang commented on #7498
Hi @aristosvo thanks for this issue.
I assume you are talking about the `Get` method of `ManagedClustersClient`?
It would help a lot if you can paste the log of terraform, or just append a `--debug` parameter to your azure cli command, to check whether the actual rest api response contains the field you want.
The management plane of go SDK is auto-generated from the [rest api specs](https://github

[2020-02-24 06:21] ArcturusZhang commented on #7498
After a brief search, would these two meet your requirement?
1. https://github.com/Azure/azure-sdk-for-go/blob/ee7c54530df34dd03f392562bcb869613fd7efdc/services/containerservice/mgmt/2019-10-01/containerservice/models.go#L1757
2. https://github.com/Azure/azure-sdk-for-go/blob/ee7c54530df34dd03f392562bcb869613fd7efdc/services/containerservice/mgmt/2019-10-01/containerservice/models.go#L1795

[2020-02-24 06:24] ArcturusZhang commented on #7499
This package will be released in the next minor version v39.4.0

[2020-02-24 06:28] ArcturusZhang commented on #7499
Well, this has been released here:
github.com/Azure/azure-sdk-for-go/services/preview/logic/mgmt/2019-05-01/logic
in v39.0.0 of the SDK, but it is located in the preview directory by mistake.
I will move this package out of the preview directory in the next major version release.

[2020-02-24 06:28] #7499 closed

[2020-02-24 06:44] ArcturusZhang commented on #7499
PR: https://github.com/Azure/azure-rest-api-specs/pull/8491

[2020-02-25 22:11] jhendrixMSFT opened #7542 "Don't retry non-idempotent operations when response body download fails"
Body download policy will trigger a retry if reading the response body fails.  We should not retry in the case of non-idempotent operations.  Still need to indicate to the caller that the operation succeeded.

[2020-02-27 03:30] annerajb commented on #7344
Please open since I don't have enough info to open this.

On Tue, Feb 18, 2020 at 10:00 PM Arcturus <notifications@github.com> wrote:

[2020-02-27 05:10] ArcturusZhang commented on #7344
Well, at least I should know where I can find this full list. Otherwise I cannot help you

[2020-02-27 17:14] annerajb commented on #7344
Oh. Hmm I don't know where azure publishes the full list of vm sizes.
I am not a go or powershell / CLI developer. I just noticed the missing
confidential compute ones.

So you need to find the swagger where this list comes from to file the
ticket?

On Thu, Feb 27, 2020, 12:10 AM Arcturus <notifications@github.com> wrote:

[2020-02-27 19:01] aristosvo commented on #7498
Yes, it meets my requirements, if these were always filled. I've opened an issue [here](https://github.com/Azure/azure-rest-api-specs/issues/8494) to check why these fields are not filled in the latest AKS clusters I created

[2020-02-27 19:01] #7498 closed

[2020-02-28 07:19] ArcturusZhang commented on #3395
Closed due to no response from the author

[2020-02-28 07:19] #3395 closed

[2020-02-29 01:15] katbyte opened #7738 "Microsoft.Network: `securityRule` resource group name not respecting case sensitivity"
opening as a copy of https://github.com/Azure/azure-rest-api-specs/issues/8309 as it was closed due to not being a rest API spec issue (its a service issue)
When creating a securityRule, the case of resource group name is inherited from the networkSecurityGroup ignoring case passed as a parameter.

Repro steps:

Create resource group with resourceGroupName = "test-rg"
Create network security group

[2020-02-29 21:30] jongio opened #7745 "[FEATURE REQ] Azure.Identity - Support KnownAuthorities like Python SDK"
Azure.Identity

It would be great if we provided a "KnownAuthorities" concept, like we have in the Python SDK.
https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/identity/azure-identity/azure/identity/_constants.py

Right now, in Go, devs have to provide the url for the environment they are targeting `https://login.microsoftonline.us` for Gov, for example.

With Python
[code]

It's uncl

[2020-03-02 04:24] ArcturusZhang commented on #7344
Well, this is not language specific, and that is why i am thinking this issue is not an issue for go SDK based on the context of that go SDK is totally equivalent with swaggers.
As for the vm sizes, I do find a similar VM size [here](https://docs.microsoft.com/en-us/azure/virtual-machines/dcv2-series). But this is for virtual machine in the compute service, not `containerservice` or AKS

[2020-03-02 11:57] nvelat opened #7757 "Version v40.0.0 doesn't build"
Hello,

I'm using the `subscriptions` and `graphrbac` packages. It appears that version v40.0.0 broke something such that these no longer build properly. I tried every version of the `subscriptions` package in case some were deprecated, but all failed with the same error. This looks like a problem with go-autorest, perhaps the packages depend on different versions?

[code]

I downgraded my repo ba

[2020-03-02 17:27] gitirabassi commented on #5226
Updates?

[2020-03-03 03:12] ArcturusZhang commented on #7757
Hi @nvelat thanks for this issue.
The reported function is introduced in `go-autorest` v13.4.0, and comes into go SDK since `v39.3.0`.
Are you also vendoring `go-autorest v13.4.0`?
@jhendrixMSFT could you please give some advices about the versioning of `go-autorest`?

[2020-03-03 17:09] jhendrixMSFT commented on #7757
@nvelat when upgrading the SDK you must also upgrade your go-autorest dependency to the minimum version specified in `Gopkg.toml`.  Can you please confirm this resolves your issue?

[2020-03-03 17:18] jhendrixMSFT commented on #7757
@ArcturusZhang can you update the README so it's clear that when upgrading the SDK you must also upgrade to the minimum version of go-autorest defined in Gopkg.toml?

[2020-03-04 02:19] ArcturusZhang commented on #7757
Sure, i will take care of this.

[2020-03-04 19:24] #7296 closed

[2020-03-04 23:35] ToruMakabe commented on #894
@kulkarnisonia16 Congratulations!

https://azure.microsoft.com/en-us/updates/azure-functions-support-for-custom-language-workers-over-http-is-now-in-preview/

Are there any technical docs about it?

[2020-03-04 23:40] kpfaulkner commented on #894
Definitely keen to try this out!

[2020-03-10 04:49] #7322 closed

[2020-03-10 14:38] WackPenguin opened #7823 "Backup Long Term Retention Policies model update"
### Feature Request

SDK models don't seem to match to what can be passed to the backup long term retention policies api. As per [documentation](https://docs.microsoft.com/en-us/rest/api/sql/backuplongtermretentionpolicies/createorupdate#backuplongtermretentionpolicy) you should be able to pass through:
![image](https://user-images.githubusercontent.com/3824689/76322668-95defc00-62db-11ea-9471-263

[2020-03-10 22:19] jongio commented on #7745
@catalinaperalta - Can we try to get this in the first release?  We'll have with all the other SDKs at that point, would be good to ship go with it from day 1.  Thanks

[2020-03-10 22:33] mbfrahry opened #7824 "Time Series Insights Environment - Error occurred unmarshalling JSON - Error = 'parsing time'"
### Bug Report

- github.com/Azure/azure-sdk-for-go/services/preview/timeseriesinsights/mgmt/2018-08-15-preview/timeseriesinsights
- github.com/Azure/azure-sdk-for-go/services/timeseriesinsights/mgmt/2017-11-15/timeseriesinsights
- Version - 38.1.0
- go version go1.13.4 darwin/amd64

I'm getting an error when trying to get a Get a Time Series Insights Environment that happens in both the preview a

[2020-03-11 16:59] katbyte opened #7857 "graphrbac: `GroupMembershipClaimTypes` missing `DirectoryRole` constant"
### Bug Report

- import path of package in question
`"github.com/Azure/azure-sdk-for-go/services/graphrbac/1.6/graphrbac"`
- SDK version
`v40.3.0`

- What happened?
the enum type GroupMembershipClaimTypes is missing the constant `DirectoryRole` which is supported by the API.

- What did you expect or want to happen?
the enum to be present, as you can see [from here](https://docs.microsoft.com/en-

[2020-03-11 18:05] katbyte commented on #4280
@ArcturusZhang, i can't seem to find support for directory roles in the SDK, am i just missing it? or should this not have been closed

[2020-03-12 11:18] ArcturusZhang commented on #7824
Hi @mbfrahry  thanks for the issue.
It seems that the SDK is trying to parse the returned time "Tue, 10 Mar 2020 22:21:46 GMT" into `date.time` but failed. I am not quite familiar with the format of a string of time, but I suppose "Tue 10 Mar 2020 22:21:46 GMT" just looks better to me.

Hi @jhendrixMSFT any thoughts? Is the time in right format?

[2020-03-12 11:21] ArcturusZhang commented on #7857
Hi @katbyte thanks for the issue.
I just checked the rest api specs, the spec is also missing this value. Therefore I will close this issue and open a new issue in the spec repo for this.

[2020-03-12 11:21] #7857 closed

[2020-03-12 11:30] ArcturusZhang commented on #7823
Hi @WackPenguin thanks for this issue!
The api-version you are looking at do have an unresolved problem on this field. I am still investigating this. But there is another api-version `v3.0` for the `sql` service which is a super set of every valid api-versions for `sql`. I recommend you switch to this api-version.

[2020-03-12 14:41] WackPenguin commented on #7823
@ArcturusZhang Thank you! I will switch to using v3

[2020-03-12 15:14] jhendrixMSFT commented on #7824
@ArcturusZhang this is a bug in the swagger.

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2018-08-15-preview/timeseriesinsights.json#L1199

The default format of `date-time` is RFC3339Nano however the value being sent over-the-wire is RFC1123.  Can you please work with the swagger owner to change t

[2020-03-12 16:32] jhendrixMSFT commented on #7823
I took a look,  the swagger longTermRetention.json isn’t in tag package-2017-03-preview which is used to build that package; it is in package-composite-* tags though which is why you see it.

[2020-03-13 01:03] v-jaswel opened #7869 "[BingLocal] Search method path is missing "/bing" component"
### Bug Report

For now I am creating this issue mostly for tracking, as I might need to change a code sample depending on changes to this behavior.

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
github.com/Azure/azure-sdk-for-go/services/cognitiveservices/v1.0/localsearch

- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if p

[2020-03-13 03:51] ArcturusZhang commented on #7824
No problem, I will take care of this.

[2020-03-13 04:24] ArcturusZhang commented on #7823
And @WackPenguin this issue is caused by the `2017-03-preview` api-version is not including the swagger you mentioned. But it is not practical for us to change the `input-files` in swagger, and since `v3` could solve your issue, therefore I will close this, thanks!

[2020-03-13 04:24] #7823 closed

[2020-03-13 04:31] ArcturusZhang commented on #7824
I have opened a new issue in the rest api specs repo, therefore I will close this issue for more clear track on this. Thanks!

[2020-03-13 04:31] #7824 closed

[2020-03-13 07:43] pvrk commented on #2824
@katbyte : We internally checked once more and saw that the fix is present even for AFS APIs. Can you please provide any particular API where you are still seeing the wrong case behavior?

[2020-03-13 18:36] mbfrahry commented on #7824
Thank you!

[2020-03-13 22:32] jongio commented on #7745
While Python uses the name KnownAuthorities, KnownAuthorityHosts looks like the better name for the other languages.

[2020-03-13 23:21] catalinaperalta commented on #7745
I will need to analyze how many changes this will require, but it might be possible to get it in the first release. Will get back to you about this.

[2020-03-16 02:38] dw511214992 opened #7890 "There is no function named "Send" but the codes use it [Code Bug in Master Branch]"
### Bug Report

- import path of package in question, e.g. `.../services/preview/customproviders/mgmt/2018-09-01-preview/customproviders`
- SDK version `master`

In the sdk of cusomproviders of master branch, there are two files named "associations.go" and "customresourceprovider.go". The two files have a bug.

Here, we just have a look at associations.go because customresourceprovider.go has the

[2020-03-16 04:46] #7344 closed

[2020-03-16 07:22] ArcturusZhang commented on #7890
Duplicate with #7757

[2020-03-16 07:22] #7890 closed

[2020-03-16 07:23] #7757 closed

[2020-03-16 07:25] ArcturusZhang commented on #7738
Hi @katbyte I have tagged this issue therefore the corresponding service team could have a look at this.

[2020-03-16 07:30] ArcturusZhang commented on #7869
Hi @v-jaswel thanks for this issue.
I have tagged this issue therefore the corresponding service team could have a look

[2020-03-16 08:58] UdiRaitblat opened #7893 "Add the expand flag for api calls in UsersClientAPI in graphrbac"
The expand flag allows the caller to expand the fetched data in the same call, not having to add a call per returned user.

These are the original calls in UsersClientAPI (https://github.com/Azure/azure-sdk-for-go/tree/master/services/graphrbac/1.6/graphrbac) :
List(ctx context.Context, filter) (result graphrbac.UserListResultPage, err error)
ListComplete(ctx context.Context, filter) (result graph

[2020-03-16 14:23] vdamle commented on #7363
Related issue reported in java-sdk: https://github.com/Azure/azure-sdk-for-java/issues/6262

[2020-03-16 14:30] vdamle commented on #7363
For anyone interested in a workaround (one specific case is trying to sign an ethereum transaction using a key in Azure keyvault), if the key is created with the following type:

`key.Kty == "EC" && key.Crv == "SECP256K1"`

using an existing defined value in `JSONWebKeySignatureAlgorithm` *does not* work. Instead, the following workaround could be used:

[code]

[2020-03-16 18:33] tnguyen14 commented on #7757
I'm seeing the same issue here. How can I get around it?

[2020-03-16 18:35] jhendrixMSFT commented on #7757
@tnguyen14 you need to update your version of `go-autorest` to at minimum v13.4.0.

[2020-03-16 18:45] tnguyen14 commented on #7757
@jhendrixMSFT Thanks for the quick response. How could I do that? (I'm very new to Go). I just have a reference to this package in my test code, and the `go.mod` file.

[2020-03-16 18:47] jhendrixMSFT commented on #7757
@tnguyen14 can you please provide the content of your `go.mod` file?

[2020-03-16 18:53] tnguyen14 commented on #7757
Sure thing:

[code]

[2020-03-16 18:56] jhendrixMSFT commented on #7757
Hmm there's no version of `go-autorest` mentioned.  You will need it at some point for authentication (maybe you haven't got that far yet).  If you use at minimum `autorest/v0.9.6` then it will work.

[2020-03-16 19:01] tnguyen14 commented on #7757
I see. I was following the example here https://github.com/gruntwork-io/terratest/blob/master/test/terraform_azure_example_test.go when I got the error mentioned at the top of this issue.

Will look into autorest then.

[2020-03-16 19:35] tnguyen14 commented on #7757
I added the `autorest` package to the `import` statement, but running `go test` still gives me these errors

[code]

[2020-03-16 20:06] jhendrixMSFT commented on #7757
Can you share the version of `go-autorest` that's being imported?  It's likely too old.

[2020-03-16 20:27] tnguyen14 commented on #7757
I don't think `go-autorest` was imported, even when I put it in the `import` block.

[2020-03-17 13:44] tnguyen14 commented on #7757
@jhendrixMSFT do you have any suggestion for how to get around this issue without using `go-autorest`?

[2020-03-17 13:47] tnguyen14 commented on #7757
The reason I'm asking is because I get a different error instead when importing `go-autorest` v0.9.6:

[code]

[2020-03-17 14:33] jhendrixMSFT commented on #7757
@tnguyen14 you have to use `go-autorest` as the SDK has a direct dependency on it.  The fact that it doesn't get automatically pulled in is because we haven't yet released SDK packages as modules.  The compile errors you see are because an older version of `go-autorest` is being included (unclear why).

The dependencies are already properly defined in the terratest [go.mod](https://github.com/grun

[2020-03-18 01:31] ToruMakabe commented on #894
I found it!

https://docs.microsoft.com/en-us/azure/azure-functions/functions-custom-handlers
https://github.com/Azure-Samples/functions-custom-handlers/tree/master/go

[2020-03-18 20:19] mbfrahry opened #7916 "Kusto Data Support"
I see sdks for Kusto Data across many languages but not for Go. https://docs.microsoft.com/en-us/azure/kusto/api/netfx/about-kusto-data

Right now, the lack of support is hindering Terraform's ability to support [data connections](https://github.com/terraform-providers/terraform-provider-azurerm/pull/5607) in Terraform as a Kusto Table needs to be setup/managed prior to creating a data connection.

[2020-03-19 08:13] ArcturusZhang commented on #7893
Hi @UdiRaitblat thanks for this issue. I have tagged this issue so the corresponding service team could have a look at this.
But in the meantime, have you tried the expand using the REST API call? If it works, maybe they just need to update their swagger. But if not, this may be a new feature request for them, which may take longer time.

[2020-03-19 08:19] UdiRaitblat commented on #7893
Hey,

Thanks for the reply, it would be really nice if this was added.
I have tried to submit this fix: https://github.com/Azure/azure-sdk-for-go/pull/7886
But was told this code is generated.
Right now we are working on a forked version but this is very simple and will be better if fixed on master/latest.

Thanks,
Udi
________________________________
From: Arcturus <notifications@github.com>
Sent

[2020-03-19 08:21] ArcturusZhang commented on #7916
Hi @mbfrahry thanks for this issue.
The features you are requesting should be some data-plane functionalities. Generally this go SDK repo only contains those are from management plane and a some amount of data-plane whose swagger is published in [azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs).

[2020-03-19 14:33] jhendrixMSFT commented on #7916
CC @mayurid

Kusto is on our radar but we don't have a firm release date at present.

[2020-03-19 16:41] lawrencegripper opened #7934 "More a query really: How big is too big for files in the SDK?"
### Bug Report

Hey this is a bit of a weird one and I'm not sure how to raise and what, if anything, needs to be done. Felt a bit wrong to me so wanted to check.

The `models.go` file for DataFactory is 8mb and around 200k lines long.

![image](https://user-images.githubusercontent.com/1939288/77090984-d9ceb100-69ff-11ea-9b05-5098b8b57beb.png)

![image](https://user-images.githubusercontent.com/1

[2020-03-20 03:03] ArcturusZhang commented on #7893
Hi @UdiRaitblat sorry about that. Because go SDK is generated from the swaggers, we cannot directly change the generated code in go SDK. We have to push the service team to modify their swagger if there are some features missing in the swagger.

[2020-03-20 10:51] ArcturusZhang commented on #7934
Thanks for the issue @lawrencegripper !
Here is some point that may help resolve your questions.
1. The go SDK (to be more specific, the `services` folder) is generated from the [azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs) using the [autorest](https://github.com/Azure/autorest) tool. And the go code is generated from its plugin [autorest.go](https://github.com/Azure/autore

[2020-03-20 11:04] lawrencegripper commented on #7934
@ArcturusZhang Thanks for taking a look at this one, that makes lots of sense to me and explains all the repeated blocks.

Fingers crossed newer generator can avoid this (tho not sure there is an easy answer to polymorphism in golang).

[2020-03-20 15:31] jhendrixMSFT commented on #7934
Agreed the current implementation for polymorphism is sub-optimal.  We have a better design for handling polymorphic types in our track 2 code generator which will eliminate the bulk of this code.  It's a pretty significant redesign, so no plans to back-port it to this version as it's a big breaking change.

[2020-03-21 02:13] ArcturusZhang commented on #7934
If we all agree, I would close this issue in advance. Please feel free to comment or reopen. Thanks!

[2020-03-21 02:13] #7934 closed

[2020-03-23 11:54] markthebault commented on #6466
Any update on this ?

[2020-03-23 15:22] dmitsh commented on #4828
@Drewm3 any update on this? We are getting more and more requests for this feature, and it's unfortunate that people are walking away from Azure because of that.

[2020-03-24 20:42] djsly opened #8014 "EventHub Dedicated Cluster support"
### Feature Request

https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-dedicated-overview

[2020-03-24 20:47] djsly opened #8015 "EventHub Namespace should allow a EventHub Cluster ID to be set"
### Feature Request

We want to create EventHub namespaces in a EventHub Cluster using the SDK, right now the EventHub Namespace don't allow to be added to a EventHub cluster ID.

[2020-03-25 05:21] himanshurraj opened #8021 "copy image to another region support is needed"
### Feature Request

I have an image in south central us and i want to copy the image in eastus.
I am not getting the proper method in the sdk.

[2020-03-25 23:50] rushabh268 commented on #322
This might not be the right issue related to the problem I am seeing but its the closest one. I am trying to get the name of the Network Interface reference but unable to parse the *i.NetworkProfile.NetworkInterfaces which gets printed as [{<nil> 0xc0002fbca0}]. Any help will be appreciated.

[2020-03-26 22:01] mbfrahry opened #8083 "Custom Provider Association - 301 Location Header is missing"
### Bug Report

- `services/preview/customproviders/mgmt/2018-09-01-preview/customproviders`
- SDK version `v40.3.0`
- output of `go version go1.13.4 darwin/amd64`

I'm trying to provision a custom provider association and I'm running into an issue where I'm getting
[code]

with the additional details of
[code]

I don't see where to set the Location header in the sdk or if that's even the issue. I

[2020-03-27 13:01] rocketraman opened #8086 "Support Managed Disk incremental snapshot"
### Feature Request

Incremental snapshots of managed disks are now in GA. Please support making these snapshots.

https://azure.microsoft.com/en-ca/blog/announcing-general-availability-of-incremental-snapshots-of-managed-disks/

[2020-03-27 20:28] jhendrixMSFT opened #8090 "Ensure that convenience layers reject unsupported credential types"
All credential types implement the `azcore.Credential` interface which means any credential type (shared key, bearer token, etc) can be passed to a client constructor.  However, since not all services will support all credential types, the client constructor should fail when passed an unsupported credential type.

One possible pattern is something like this: https://play.golang.org/p/N4JpENDzbrK

[2020-03-27 22:51] JeffreyRichter commented on #8090
https://play.golang.org/p/RU0_deaPAbN

package main

import (
	"fmt"
	"net/http"	// You can remove this import
	"reflect"
)

func main() {
        fmt.Println(IsSupportedCredentialType(http.Client{}, "http.Request", "http.response"))	// If you remove the import, pass something else here
	fmt.Println(IsSupportedCredentialType(http.Request{}, "http.Request", "http.response")) // And here but both te

[2020-03-30 06:53] ArcturusZhang commented on #8014
Hi @djsly thanks for this issue.
Is [this](https://github.com/Azure/azure-sdk-for-go/blob/797e8ede3a89e35d4a847127b5f1b7426bd42cd0/services/preview/eventhub/mgmt/2018-01-01-preview/eventhub/clusters.go#L586) related with the doc you posted here?

[2020-03-30 06:56] ArcturusZhang commented on #8015
Hi @djsly thanks for this issue!
Would [this](https://github.com/Azure/azure-sdk-for-go/blob/797e8ede3a89e35d4a847127b5f1b7426bd42cd0/services/preview/eventhub/mgmt/2018-01-01-preview/eventhub/models.go#L808) meet your requirement?

[2020-03-30 07:01] ArcturusZhang commented on #8021
Hi @himanshurraj thanks for this issue.
I am not quite sure whether there is direct support for this in REST API of azure. If there is not such a way, there will not be such a method in the go SDK. Sorry about this.

But you can try some work around of this. For instance, take a snapshot of that image, and recreate a new image in the new location: https://docs.microsoft.com/en-us/azure/virtual-mac

[2020-03-30 07:04] ArcturusZhang commented on #8083
Hi @mbfrahry thanks for this issue.
I am tagging this issue therefore the service team would see this.

[2020-03-30 07:11] ArcturusZhang commented on #8086
Hi @rocketraman thanks for this issue.
The feature you are requesting should be shipped in with this [PR](https://github.com/Azure/azure-rest-api-specs/pull/8195) and will be included in the next major release of go SDK (should be release very soon)

[2020-03-30 07:19] ArcturusZhang commented on #8083
@ramacasturi could you please have a look at this?

[2020-03-30 14:47] djsly commented on #8015
indeed! I didn't look at the -Preview since Terraform was not using this version of the API, I guess we should have all we need.

Do we know when this API will leave the Preview state ?

[2020-03-30 14:50] djsly commented on #8014
Looks like it indeed! thanks, I'm looking with Terraform folks to see if they are OK using a `-preview` API version.

[2020-03-30 15:44] catalinaperalta opened #8107 "Investigate how to add AzureKeyCredential"
Look into how to implement a common AzureKeyCredential in the azidentity module

[2020-03-30 23:13] ArcturusZhang commented on #8014
Glad to help. If you do not mind, I will close this issue then.

[2020-03-30 23:13] #8014 closed

[2020-03-30 23:17] ArcturusZhang commented on #8015
I suppose if a preview api-version have something other api-version do not, they will still have to take it.

It is hard to say when it will leave preview... sometimes they just release a newer api-version directly replace the preview one.

And if you do not mind, I will close this issue. Please feel free to reopen or comment if you have other concerns, thanks!

[2020-03-30 23:17] #8015 closed

[2020-03-31 10:42] ArcturusZhang commented on #8086
The new major version v41.0.0 has released. Therefore I suppose this should be resolved and I will then close this issue.
If this issue remains, please feel free to comment and I will reopen this issue.
Thanks!

[2020-03-31 10:42] #8086 closed

[2020-03-31 11:48] AdallomRoy commented on #7893
Where do these swaggers reside? Maybe we can publish a PR there to speed things up.

[2020-04-02 07:51] AmoebaCell opened #8132 "Consumption related properties should be updated."
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/c

[2020-04-03 05:08] ArcturusZhang commented on #8132
Hi @AmoebaCell thanks for this issue.
Since go SDK is generated from the azure-rest-api-specs, I just checked the rest api definitions corresponding to the code you are looking at [here](https://github.com/Azure/azure-rest-api-specs/blob/7070ddd988a69c63d0ea593d48d5512473accdb4/specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-10-01/costmanagement.json#L1131) and

[2020-04-03 05:10] ArcturusZhang commented on #7893
You could find those swaggers [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json)

[2020-04-03 05:54] phenixdotnet commented on #7352
Hi,
I don't know if you can move away swagger for some part of this sdk but may be should have a look at this project : https://github.com/microsoftgraph/MSGraph-SDK-Code-Generator
Looks like this tools is used to generate the code for others sdk, may be it can be used to generate the graph API part of this ?

[2020-04-03 15:02] hapticPaper commented on #2399
Im having the same issue using the python SDKs. (ConsumptionManagementClient)
`b'{"error":{"code":"400","message":"id query parameter is not a valid Guid (Request ID: ab3d3db2-42d3-40db-bea3-e99d1cb692ec)"}}'`
What was the solution so that I can try to reproduce it?

[2020-04-06 23:44] gpduck opened #8161 "Add support for the publicNetworkAccess property on sql server"
### Service Package Request

Please add support for the properties.publicNetworkAccess property of the sql/servers type.

https://docs.microsoft.com/en-us/rest/api/sql/servers/createorupdate#serverpublicnetworkaccess

I'm looking to get this added to terraform via https://github.com/terraform-providers/terraform-provider-azurerm/issues/6374

[2020-04-09 01:20] praveenvaltix opened #8224 "Unable to marshal insights.EventData"
### Bug Report

- import path of package in question: services/preview/monitor/mgmt/2019-06-01/insights/models.go
- SDK version: v40.0.0
- output of `go version`: go1.13.4

- What happened?
This issue is same as https://github.com/Azure/azure-sdk-for-go/issues/5379 but I cannot reopen.

- What did you expect or want to happen?
In json marshal, I want to see the full object. I am seeing a null stri

[2020-04-09 01:20] praveenvaltix commented on #5379
reopened as https://github.com/Azure/azure-sdk-for-go/issues/8224

[2020-04-09 09:09] MarkDordoy opened #8244 "graphrbac: "GroupMembershipClaimTypes" missing "ApplicationGroup" constant"
### Bug Report

- import path of package in question
   `"github.com/Azure/azure-sdk-for-go/services/graphrbac/1.6/graphrbac"`

- SDK version
   `v40.3.0`

- What happened?
The enum type GroupMembershipClaimTypes is missing the constant ApplicationGroup which is supported by the API.

- What did you expect or want to happen?
The enum to be present, as you can see from [here](https://docs.microsoft

[2020-04-09 13:00] dwizzle204 commented on #2822
I'm also getting this error when attempting to create a weekly backup in terraform

[code]

[2020-04-13 06:43] magodo opened #8276 "Update RP `SecurityInsights` to version: 2020-01-01-stable"
### Feature Request

Current supported `SecurityInsights` version in SDK is 2017-08-01-preview. While azure-rest-api-specs already released [2020-01-01-stable](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01) version. Is there any chance to get it implemented in Go SDK?

[2020-04-13 06:43] ArcturusZhang commented on #8244
This should be duplicate with https://github.com/Azure/azure-sdk-for-go/issues/7857, and you can track this issue [here](https://github.com/Azure/azure-rest-api-specs/issues/8692) in the specs repo which is the upstream of the go SDK

[2020-04-13 06:43] #8244 closed

[2020-04-13 06:50] magodo commented on #8276
The current [version](https://github.com/Azure/azure-sdk-for-go/blob/68d483faf640e457e33779443ebc5108b900d3ff/services/preview/securityinsight/mgmt/2017-08-01-preview/securityinsight/operations.go#L80) under 2017-08-01 directory is 2020-01-01-stable already.

[2020-04-13 06:50] #8276 closed

[2020-04-13 06:58] ArcturusZhang commented on #8161
Hi @gpduck thanks for this issue. But this property has already been supported by go SDK [here](https://github.com/Azure/azure-sdk-for-go/blob/68d483faf640e457e33779443ebc5108b900d3ff/services/preview/sql/mgmt/v3.0/sql/models.go#L18363) in a composite package.
I recommend to use this composite package of sql in terraform, since the separate api-versions of this service only supports a subset of al

[2020-04-13 07:10] ArcturusZhang commented on #8224
Hi @praveenvaltix thanks for this issue.
The reason of this marshal function returns nothing of this object is that all of its properties are marked as `read only` in its corresponding swagger.
What I am expecting here should be an `UnmarshalJSON` function which de-serialized the JSON in REST API response to a Go struct, since this is the return value of a `List` call here...

Hi @jhendrixMSFT wou

[2020-04-13 07:12] ArcturusZhang commented on #8161
And based on this I will close this issue since the requested package has already been released

[2020-04-13 07:12] #8161 closed

[2020-04-13 07:59] #8021 closed

[2020-04-15 05:01] neil-yechenwei opened #8314 "Failed to delete resource Shared Image when the delete API of Shared Image Gallery returns 404"
### Bug Report

- Import path of package in question: https://github.com/Azure/azure-sdk-for-go/blob/master/services/compute/mgmt/2019-07-01/compute/galleryimages.go
- SDK version: v41.2.0
- Output of `go version`: go version go1.12.9 windows/amd64

- **What happened?**
The resource Shared Image depends on the resource Shared Image Gallery. Although the delete API returns 404 which means the Share

[2020-04-15 13:01] jinxue-w opened #8317 "Filter does not allow to use `not` clause in the `usage` query request of cost-management"
# Bug Report

The [usage function](https://github.com/Azure/azure-sdk-for-go/blob/68d483faf640e457e33779443ebc5108b900d3ff/services/costmanagement/mgmt/2019-10-01/costmanagement/query.go#L65) does not support to use `not` in its filter parameter,

Error message:
[code]

[2020-04-15 13:06] jinxue-w opened #8318 "Enum has incorrect values in cost-management"
### Bug Report
A follow up for issue #8132

Instead of `Tag` , it should have the value of `TagKey` [here](https://github.com/Azure/azure-sdk-for-go/blob/68d483faf640e457e33779443ebc5108b900d3ff/services/costmanagement/mgmt/2019-10-01/costmanagement/models.go#L108)

[2020-04-15 13:10] jinxue-w opened #8319 "Support `skiptoken` and `top` in cost-management"
# Feature Request

Support `skiptoken` and `top` in the `Usage` request of cost-management [here](https://github.com/Azure/azure-sdk-for-go/blob/68d483faf640e457e33779443ebc5108b900d3ff/services/costmanagement/mgmt/2019-10-01/costmanagement/query.go#L65)

[2020-04-15 18:02] jhendrixMSFT opened #8328 "Make Azure environments pluggable"
It would get ideal to be able to seamlessly switch clouds, i.e. public cloud -> sovereign cloud.  In track 1 there is the [Environment](https://github.com/Azure/go-autorest/blob/master/autorest/azure/environments.go#L52) settings but it requires the caller to wire up all the endpoints themselves.
One idea is to add an Environment arg to client constructors that will contain all the endpoints and s

[2020-04-16 03:32] magodo opened #8367 "Better Support For "Discriminator" Types"
## Feature Request

### Problem

THE current SDK is able to handle `discriminator` defined in swagger and generate the corresponding interface and concrete structures together with implementation. Additionally, it will generate a "base" struct which contains only the common attributes shared among other concrete structs. I assume this "base" struct is serving the purpose that the user can always g

[2020-04-16 03:38] ArcturusZhang commented on #8367
Hi @jhendrixMSFT would you please have a look at this?

[2020-04-16 03:47] ArcturusZhang commented on #8318
Hi @jinxue-w could you please also provide the error message when you are assigning `Tag` to `QueryGrouping`?

[2020-04-16 03:55] ArcturusZhang commented on #8314
Hi @neil-yechenwei thanks for this issue. I have tagged this issue so the corresponding service team will have a look

[2020-04-16 04:00] ArcturusZhang commented on #8317
Hi @jinxue-w thanks for this issue.
Could you please also provide the request or code snippet when you are sending the request?
Also I have tagged this issue so that the corresponding service team will get noticed and have a look.

[2020-04-16 13:03] jinxue-w commented on #8317
{
    "type": "AmortizedCost",
    "timeframe": "Custom",
    "timePeriod": {
        "from": "2020-04-14T00:00:00Z",
        "to": "2020-04-14T00:00:00Z"
    },
    "dataset": {
        "aggregation": {
            "CostUSD": {
                "name": "CostUSD",
                "function": "Sum"
            },
            "UsageQuantity": {
                "name": "UsageQuantity",

[2020-04-16 13:05] jinxue-w commented on #8318
我已经修改了，问题已经解决，你们可以测试一下

[2020-04-16 13:10] jinxue-w commented on #8319
我按照https://github.com/jinxue-w/azure-sdk-for-go/commit/5b9efdba372583f738f3f11f7c168c9ebae5ea6b上面添加翻页功能之后，发现翻页统计结果和全量统计结果是不一样的，https://docs.microsoft.com/en-us/rest/api/cost-management/query/usage上面应该是和我自己修改后代码得出的结果是一样的，而且在dataset中添加sorting，得不到想要的结果

[2020-04-16 16:38] jhendrixMSFT commented on #8224
MarshalJSON is when we send a payload over-the-wire and per Azure rules R/O properties are required to be omitted from the payload.
What is the scenario here?  I'm guessing it's different then making an API call.

[2020-04-16 16:46] praveenvaltix commented on #8224
@jhendrixMSFT we at Valtix are building a cloud network security product. Our software has deep integrations with cloud providers including Azure and we use the Go SDKs for the integration. For the resources we manage on Azure, we would like to display the activity log back to the user. Because of the marshal issue, we are unable to do so. Infact, I made a deep copy of the EventData struct to our

[2020-04-16 16:47] jhendrixMSFT commented on #8367
We have redesigned how discriminated types will work for the track 2 SDK to be more idiomatic to the language.  Here's a very brief example.

[code]

Note that we won't be back-porting this to track 1 as it's a significant breaking change.

[2020-04-16 17:05] jhendrixMSFT commented on #8224
Thanks for the explanation.  Agreed making a deep copy isn't a great solution.  Something a bit easier would be to create your own type definition of `EventData` without a custom marshaller then cast `insights.EventData` to your type.

[code]
We're redesigning our Go SDK, maybe we can do something better here (will look into it).

[2020-04-16 17:12] praveenvaltix commented on #8224
@jhendrixMSFT thanks for your suggestion. Let me try this out.

[2020-04-16 17:38] #5900 closed

[2020-04-16 22:03] praveenvaltix commented on #8224
Thanks @jhendrixMSFT for your suggestion. That worked. I am closing the issue.

[2020-04-16 22:03] #8224 closed

[2020-04-17 00:01] Drewm3 commented on #8314
@axayjo, could you please take a look at this issue?

[2020-04-17 00:14] axayjo commented on #8314
@neil-yechenwei, do you have Image Versions under the Shared Image Definition?

[2020-04-17 03:39] magodo commented on #8367
@jhendrixMSFT Thank you for providing the illustration above. While I feel that still doesn't fix the case that once user got a whatever fish. He/she should be able to access the comment field like `ID` without type assertion. Shouldn't we just embed the `Fish` struct as an anonymous field inside `Salmon` or `Tuna`?

[2020-04-17 08:53] jaygridley opened #8376 "SendGrid accounts support"
### Service Package Request

We are in need of support of SendGrid account API https://schema.management.azure.com/schemas/2015-01-01/Sendgrid.Email.json#/resourceDefinitions/accounts in the SDK.

This could be later on leveraged in Terraform provider, see https://github.com/terraform-providers/terraform-provider-azurerm/issues/6510

[2020-04-17 14:44] jhendrixMSFT commented on #8367
I will discuss with the team about including the common fields as methods in the interface.  This came up before while working on this design however we decided against it (I forget why).

While using anonymous embedding of related types seems nice conceptually, the user experience is frustrating.  E.g. creating a `Salmon` literal becomes more verbose.

[2020-04-17 21:04] ingave commented on #5915
This is not SDK we own

[2020-04-18 06:32] magodo commented on #8367
Yes, in that case could we have some `NewSalmon()` function?

[2020-04-18 09:32] shaunco opened #8399 "Please add an azure-iot-sdk-go client iothub SDK"
Why is there no azure-iot-sdk for go? There are ones for C, Python, Node.js, Java, and .NET, but no go. On the management side there is this project (azure-sdk-for-go), but it doesn't do any of the client side things you'd want on a edge device talking to IoT Hub. Sure, I can cgo the azure-iot-sdk-c SDK, but that introduces a whole host of headaches for the average go developer, especially the par

[2020-04-18 20:17] JeffreyRichter opened #8400 "Generic version of the To package which will replace the To package someday"
I was teaching myself Go generics and so the entire To package can be rewritten with this 1 function:

func Ptr(type T contracts.Ordered) (l T) *T {
   return &l
}

Someday, we can replace the to package with this.

[2020-04-20 17:29] jongio opened #8465 "[FEATURE REQ] Add support for AZURE_CLIENT_ID environment variable to ManagedIdentityCredential"
**Library or service name.**
Azure Identity

**Is your feature request related to a problem? Please describe.**
Developers need to be able to specify which AZURE_CLIENT_ID Managed Identity Credential with an environment variable.

#6602

[2020-04-21 00:09] ArcturusZhang commented on #8465
Hi @jhendrixMSFT seems this should be added to go-autorest, could you please have a look?

[2020-04-21 00:16] ArcturusZhang commented on #8399
Hi @shaunco thanks for this issue.
This repo only contains those SDK that are generated from their corresponding swaggers (you can find the swaggers [here](https://github.com/Azure/azure-rest-api-specs))
Currently we do have a package of `iothub` [here](https://github.com/Azure/azure-sdk-for-go/tree/master/services/iothub/mgmt) and [here](https://github.com/Azure/azure-sdk-for-go/tree/master/servi

[2020-04-21 00:27] ArcturusZhang commented on #8376
Hi @jaygridley thanks for this issue.
A little awkward that I did not find the corresponding swagger in [this repo](https://github.com/Azure/azure-rest-api-specs), since this SDK (the `services` directory) is all auto-generated from their corresponding swagger. For something that does not have a swagger, unfortunately it cannot have its SDK supported by this repo.... Sorry about this...

[2020-04-21 09:06] shaunco commented on #8399
The two iothub packages you pointed to are for iothub management, not iothub edge devices (MQTT/AMQP, D2C, C2D, twin state, direct messages, etc). Same as azure-iot-sdk-c, but for go.

I originally asked this question in the azure-iot-sdk-c project, as azure-iot-sdks points to the c, python, node.js, java, and .net projects, and the azure-iot-sdk-c folks directed me here.

[2020-04-21 09:41] ArcturusZhang commented on #8399
Well, but this repo will only receive the auto-generated go SDK from the corresponding swaggers, therefore you cannot find those data-plane SDKs here...

Usually these kind of SDKs are manually written from a specific SDK team of that service, therefore could you please confirm this with them (whether the SDK is hand-written or not, and whether there will be golang support)? This question is out o

[2020-04-22 18:51] mbfrahry opened #8532 "services/preview/eventhub/mgmt/2018-01-01-preview/eventhub/ missing resources"
The preview package for eventhub is missing many of the resources found in `services/eventhub/mgmt/2017-04-01/eventhub/` including Consumer Groups, Disaster Recover Configs and Event Hubs.  Are there are plans for those resources to be included in the preview package?

[2020-04-22 19:40] mbfrahry opened #8533 "EventHub Cluster Put Failure"
### Bug Report

- `services/preview/eventhub/mgmt/2018-01-01-preview/eventhub`
- `41.2.0`
- go version go1.14 darwin/amd64

I'm looking to create an eventhub cluster using [PUT](https://github.com/Azure/azure-sdk-for-go/blob/v41.3.0/services/preview/eventhub/mgmt/2018-01-01-preview/eventhub/clusters.go#L586). And the response comes back with
[code]

[2020-04-23 01:31] BrendanThompson opened #8537 "Error when attempting to create a Resource Group client"
### Bug Report

I am attempting to retrieve a group object, however it seems to always error about not enough arguments etc as per below:

[code]

---

Below is the go code I am executing, I have mostly pilfered from the go SDK example assuming I was doing something completely wrong in my initial implementation. However, it seems as this returns the same results.

[code]

Here is my `go.mod` for t

[2020-04-23 17:58] jhendrixMSFT commented on #8367
We cannot have the common fields as methods in the interface as you cannot have a type with matching field (`ID`) and method (`ID()`) names.

Having a `NewSalmon()` is not really idiomatic to the language, considering that all the fields on `Salmon` are exported.

[2020-04-24 01:09] lilyjma opened #8555 "test"

[2020-04-24 01:52] magodo commented on #8367
How about combining these ideas together? Make the field (`ID`) to be private (`id`) and provide the method `ID()` as a getter. Meanwhile, have a function called `NewSalmon()` to allow user to instantiate.

[2020-04-24 05:55] xuzhang3 opened #8559 "ResourceGraph missing parameter"
### Bug Report

- SDK version v41.2.0

- What happened?
  - struct ```GraphQueryResource``` defined in ```services\preview\resourcegraph\mgmt\2018-09-01\resourcegraph\models.go```  missing required parameter ```location```
- What did you expect or want to happen?
  - add  required parameter ```location``` to  ```GraphQueryResource```
- How can we reproduce it?
   -  Use ResourceGraph CreateOrUpdat

[2020-04-24 11:44] jaygridley commented on #8376
@ArcturusZhang So should I create an issue in https://github.com/Azure/azure-rest-api-specs to add that? The API exists and I do not know why it is not documented.

[2020-04-24 14:32] jhendrixMSFT commented on #8367
We discussed this as well, it's just not really idiomatic Go.

Is there a customer scenario here that's we've overlooked?

[2020-04-26 02:01] magodo commented on #8367
Yes, the abstract use case is the one a mentioned at the very beginning. The actual use case is in context of terraform azurerm provider, we will invokes several `GET` call for example, each one will return a `BasicAlertRule`, sometimes what I want to do is to simply retrieve the `ID` of the it, but I have to write a long `type switch` to convert it to the correct type and retrieve the `ID`. It wo

[2020-04-26 03:28] ArcturusZhang commented on #8376
Sure thanks so much.

[2020-04-26 19:21] shaunco commented on #8399
As I stated previously, I originally asked this question in the azure-iot-sdk-c project (which is the SDK of the team of that service). They directed me here, see: [azure-iot-sdk-c issue #1512](https://github.com/Azure/azure-iot-sdk-c/issues/1512)

Perhaps @ericwol-msft and @ArcturusZhang can work out, inside of MSFT, who should make an Azure IoT Hub golang SDK?

[2020-04-27 02:43] ArcturusZhang commented on #8399
Hi @jhendrixMSFT is the iot-hub SDK in the plan of track 2? Since it should be a data-plane SDK

[2020-04-27 02:50] ArcturusZhang commented on #8532
Hi @mbfrahry the config of `2018-01-01-preview/eventhub` was just updated 4 days ago in [this commit of specs](https://github.com/Azure/azure-rest-api-specs/commit/59d2942cfd8bc5c4a7256dadaf18bd06b124b033#diff-1533b1772133e88bb3048c3c7108d5ee), and it will be released in go SDK in the next major version (working on it right now)

[2020-04-27 02:52] ArcturusZhang commented on #8533
Hi @mbfrahry thanks for this issue!
On my first glance, this error message does not give me much information about how this problem was raised... How about trying again after the new version of event hub SDK got out in the next major version of go SDK? It will be released in a day or two. The swagger of event hub changed quite a lot. Sorry for the inconvenience.

[2020-04-27 02:57] ArcturusZhang commented on #8537
Hi @BrendanThompson thanks for this issue!
The root cause of this issue is that the go SDK has to be used accompany by the corresponding version of `go-autorest` labeled in `Gopkg.toml`, aka `>v14.0.0+incompatible` (or equivalent module versions, such as `github.com/Azure/go-autorest/autorest v0.10.0`)

[2020-04-27 03:01] ArcturusZhang commented on #8559
Relative swagger: https://github.com/Azure/azure-rest-api-specs/blob/d1ae5dd8ae6803e1ca57dfba5934389df76fd77f/specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/graphquery.json#L246
There should be a `location` parameter in the `Resource` definition and it should be required.

[2020-04-27 09:22] ArcturusZhang commented on #4262
Since the vendor directory has been removed and README also has been updated, I suppose this issue should be considered as resolved and I will close this issue.

[2020-04-27 09:22] #4262 closed

[2020-04-27 15:08] jhendrixMSFT commented on #8399
I'm following up on this however I can't commit to anything at present.

[2020-04-27 19:00] #8555 closed

[2020-04-27 19:48] cdelacruzpinto opened #8608 "Register providers for subscriptions"
### Feature Request

At this moment, if one has a freshly created subscription, it is not possible to create certain resources. I.e: a KeyVault without registering the appropriate provider Microsoft.KeyVault. One needs to use the az resource register command from the CLI. There is an endpoint in the azure API for this, but there is no support for it in the SDK.

[2020-04-27 21:43] nkiest commented on #3990
Certain categories are not available via the current API version, including ResourceHealth and Policy. All activity logs can be streamed to a destination using diagnostic settings https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-settings

[2020-04-27 21:43] #3990 closed

[2020-04-28 08:13] click2cloud-tathagat opened #8654 "Suggestion: Azure Container registry Repository Client unable to fetch attributes"
Hello,

I am unable to fetch attributes for a particular container repository of Azure Container registry.

I have also tried weird combinations to run this.

Attempt 1
[code]

[code]
Attempt 2
[code]
Attempt 3
[code]

[code]

But still no luck while fetching attributes

Can anyone suggest the correct me away if I am doing something wrong here?
Is this the correct way of providing loginURI for Con

[2020-04-28 22:08] demyanenko commented on #8559
Thank you for reporting the issue. PR is out with the fix: https://github.com/Azure/azure-rest-api-specs/pull/9216/

[2020-04-28 22:15] johnthcall commented on #8559
This has also been brought up in Azure/azure-rest-api-specs#9136 and should be fixed with Azure/azure-rest-api-specs#9216

[2020-04-28 23:27] jhendrixMSFT commented on #8367
After more discussion and prototyping we'll be going with the following.
[code]

[2020-04-29 01:57] magodo commented on #8367
@jhendrixMSFT  thanks for the update!

The code looks pretty good and should solve my problem now! One little suggestion is that instead of defining a **Getter** (which is not so Go) for (e.g.) `Fish`/`Salmon`, we can just ensure that `Salmon` composes `Fish`. In this case, to allow `GetFish()` still returning a valid interface, we can define and implement the interface like:

[code]

So after the

[2020-04-29 03:54] katbyte opened #8663 "SQL Server API seems to ignore `minimalTlsVersion` sdk property"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
  `"github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/v3.0/sql"`

- SDK version e.g. `master`, `latest`, `18.1.0`
  `github.com/Azure/azure-sdk-for-go v41.2.0+incompatible`

- output of `go version`
1.14

- What happened?
i tried to set the `minimalTlsVersion` version but it seems to

[2020-04-29 06:08] ArcturusZhang commented on #8559
Thanks for the help @demyanenko and @johnthcall
Close this issue in favor of https://github.com/Azure/azure-rest-api-specs/issues/9136

[2020-04-29 06:08] #8559 closed

[2020-04-29 14:54] jhendrixMSFT commented on #8367
I renamed the "client APIs" to CatchA* as the names were ambiguous with the Get* methods on the interfaces.

Sorry I don't quite follow your example.  In my current draft, all derived types already are composed of `Fish`.  Also, which `GetFish()` and `GetSalmon()` are you referring to?  I think an end-to-end example would help.

The "Get" prefix is to avoid having a method with the same name as a

[2020-04-29 17:42] kawsark opened #8667 "Need a listing of Azure API endpoints"
### Feature Request

Hello,
To setup network access in order to use the Go SDK, would it be possible to provide what Azure endpoints need to be whitelisted? More specifically, we are using the following parts of the SDK:
[code]
Thank you.

[2020-04-30 00:22] Drewm3 commented on #4248
Fixing the team. This should go to the Bot Service, not compute.

[2020-04-30 00:38] sgellock commented on #4248
We don't ship Go support for the service.  Has this code path worked before?

[2020-04-30 01:33] magodo commented on #8367
The modified example based on yours is as below:

[code]

The main change is to modify the interface definition of `FishType` and `SalmonType`. Since I think there should be no case that users really needs to call the method of those interfaces. Instead, they only serve for the purpose to make some types to be as some interface.

[2020-04-30 02:13] jhendrixMSFT commented on #8367
So when iterating over a slice of `FishType` how do you get the `ID` of each fish without performing a type assertion (I thought you wanted to avoid that)?

[2020-04-30 03:18] magodo commented on #8367
@jhendrixMSFT Oh yes, you're right. The getter for the parent structure(s) are necessary for this use case.

[2020-04-30 04:22] ArcturusZhang commented on #8654
Hi @click2cloud-tathagat thanks for this issue!
The package you are using is a data-plane package which I am not quite familiar with...

Since profiles are just alias of some real packages, the real package for it should be `github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/runtime/2019-08-15-preview/containerregistry`. And for mgmt packages, the default login URI is just `https

[2020-04-30 04:24] ArcturusZhang commented on #8663
Hi @katbyte thanks for this issue!
This should be a service side issue, and I have tagged this issue so that the corresponding service team will receive message and have a look at this.

[2020-04-30 04:32] ArcturusZhang commented on #8667
Hi @kawsark thanks for this issue.

Unfortunately I do not have much knowledge about this... @jhendrixMSFT could you please have a look? Is it possible?

[2020-04-30 04:36] ArcturusZhang commented on #8608
Hi @cdelacruzpinto thanks for this issue.

I believe [this](https://github.com/Azure/azure-sdk-for-go/blob/3f64637acf66a92ee46a1987273ad740291d3c99/services/resources/mgmt/2019-05-01/resources/providers.go#L129)  may meet your requirement, could you please have a try?

[2020-04-30 04:42] ArcturusZhang commented on #8532
Hi @mbfrahry v42.0.0 has been released, and the resources have be added into the `eventhub/2018-01-01-preview` package (for instance the [consumer groups](https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/eventhub/mgmt/2018-01-01-preview/eventhub/consumergroups.go)).
Therefore I will close this issue, please feel free to reopen if there are any other concerns. Thanks!

[2020-04-30 04:42] #8532 closed

[2020-04-30 06:08] azureSQLGitHub commented on #8663
@Mike Wang<mailto:ziwa@microsoft.com> would you be able to own this one?

From: Arcturus <notifications@github.com>
Sent: Wednesday, April 29, 2020 9:25 PM
To: Azure/azure-sdk-for-go <azure-sdk-for-go@noreply.github.com>
Cc: Azure SQL GitHub issues notifications <sqldbghissues@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-sdk-for-go] SQL Server API seems to ignore

[2020-04-30 06:09] adeal commented on #8663
@ziwa-msft

[2020-04-30 06:27] ziwa-msft commented on #8663
@katbyte Thanks for reaching out to us. This is due to the fact that TLS Version Choice feature rollout got unexpectedly delayed due to Covid-19. The APis are released but we had to disable the feature in the backend. As of now, the plan is to roll out this feature by next month. Please stay tuned to our official feature announcement before trying it out. Thanks for your patience.

[2020-04-30 06:28] azureSQLGitHub commented on #8663
Replied.

Thanks Austin.

From: Austin Deal <adeal@microsoft.com>
Sent: Wednesday, April 29, 2020 11:08 PM
To: Azure/azure-sdk-for-go <reply@reply.github.com>; Azure/azure-sdk-for-go <azure-sdk-for-go@noreply.github.com>; Mike Wang <ziwa@microsoft.com>
Cc: Azure SQL GitHub issues notifications <sqldbghissues@microsoft.com>; Mention <mention@noreply.github.com>
Subject: RE: [Azure/azure-sdk-for-go]

[2020-04-30 07:35] cdelacruzpinto commented on #8608
Yes, this function was exactly what I needed. I looked at the documentation for some time and was unable to find something like this. We can close this issue. Thanks.

[2020-04-30 07:35] #8608 closed

[2020-04-30 14:45] jhendrixMSFT commented on #8667
Assuming you're using the public cloud (i.e. not one of the sovereign clouds) you should be able to search through the source code you include to find all the endpoints; there is no programmatic way to get this information.

[2020-05-01 13:33] kawsark commented on #8667
Thanks @jhendrixMSFT . Would you be able to provide an example endpoint? I can then try to write a script find these URLs.

[2020-05-01 14:47] jhendrixMSFT commented on #8667
Here are a few based on the packages you provided.

https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/authorization/mgmt/2018-01-01-preview/authorization/client.go#L29

https://github.com/Azure/go-autorest/blob/master/autorest/azure/environments.go#L85

[2020-05-01 16:28] kawsark commented on #8667
Thank you @jhendrixMSFT! Thats super valuable!

[2020-05-01 16:28] #8667 closed

[2020-05-02 00:25] jongio commented on #8465
Please follow up with @schaabs before implementing.

[2020-05-02 18:33] jakubigla opened #8701 "Importing keyvault packages produces a lot of "not enough arguments to return""
### Bug Report

- `go version go1.14.1 darwin/amd64`
- ```
   "github.com/Azure/azure-sdk-for-go/services/keyvault/2016-10-01/keyvault"
   "github.com/Azure/azure-sdk-for-go/services/keyvault/auth"
   "github.com/Azure/go-autorest/autorest/azure"
[code]

The way I'm using the SDK is pretty standard:
[code]

When I build the project I'm getting:
[code]

[2020-05-03 17:25] yossi-y commented on #3883
We currently ignore tags in all APIs. We also don’t support storing tags for linked services.

About the version question, you can find the latest version that consolidates operationalInsights API under 2020-03-01-preview: https://github.com/Azure/azure-rest-api-specs/tree/master/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2020-03-01-preview

[2020-05-04 13:28] martenbohlin opened #8705 "client.Get on missing network mapping returns StatusCode 400 instead of 404"
### Bug Report

- import path of package in question `azure-sdk-for-go/services/recoveryservices/mgmt/2018-01-10/siterecovery`
- SDK version v41.2.0
- output of `go version` `go version go1.13.7 darwin/amd64`

- What happened?
Invoking client.Get(ctx, fabricName, networkName, networkMappingName) where for a valid fabric and network but where no mapping has yet been created will return a response w

[2020-05-04 13:55] edguer commented on #8701
I have the same issue, and apparently it was working fine 2 days ago. The only way I could get it running was falling back to v39.2.0.

[2020-05-04 14:29] jhendrixMSFT commented on #8701
Your version of `go-autorest` is too old and is missing some changes that the SDK depends on.  Can you please update to at least `v13.4.0`.

Generally speaking, for the version of the SDK you consume, your version of `go-autorest` should match what's in [Gopkg.toml](https://github.com/Azure/azure-sdk-for-go/blob/master/Gopkg.toml).  Using `dep` will ensure your dependency graph is consistent as we

[2020-05-04 18:47] catalinaperalta commented on #7745
KnownAuthorities have been added in #8309.

[2020-05-04 18:47] #7745 closed

[2020-05-05 01:12] allenjzhang commented on #8705
Thank you for reporting this issue to us. Marking issues for service team to respond. Here is the link to the operation in [REST API spec.](https://github.com/Azure/azure-rest-api-specs/blob/698dd56aed277461ad3975deb78b3b78b5354ebf/specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2018-01-10/service.json#L1041)

[2020-05-05 14:49] ppanyukov opened #8767 "web.Site json round-trip serialisation is broken"
### Bug Report

- import path of package `"github.com/Azure/azure-sdk-for-go/services/web/mgmt/2019-08-01/web"`

- SDK version `v42.0.0`

- `go version go1.14.2 darwin/amd64`

- What happened?

Getting the list of web apps, serialise response into JSON, and then back.
Some properties are `nil` after this, namely `Name`.

- What did you expect or want to happen?

All properties in the original `[]w

[2020-05-05 15:15] ppanyukov commented on #8767
The workaround here is to bypass custom mashaller implemented by `web.Site` type (why is it needed anyway?) like so:

[code]

Very ugly but seems to resovle this particular issue. Not sure if anything else would be broken by this though.

[2020-05-05 19:22] jselleck opened #8771 "2019-03-1 resources/mgmt/resources refers to 2018-05-01 which is deprecated."
### Bug Report

- import path of package in question, .../profiles/2019-03-01/resources/mgmt/resources"
- SDK version  `latest`

- What happened?
Azure Stack requires profile 2019-03-01.  This profile for the mgmt/resources resource refers to service 2018-05-01.  This service has been deprecated from the latest version.  FYI - the network profile is referencing a valid service version.
- What did

[2020-05-05 19:31] #8771 closed

[2020-05-05 23:00] mbfrahry opened #8772 "Service Fabric Mesh Application - Resource Group Name ignores casing"
### Bug Report

- `/services/preview/servicefabricmesh/mgmt/2018-09-01-preview/servicefabricmesh/`
- SDK version `v41.2.0`
- go version go1.14 darwin/amd64

I'm working on adding Service Fabric Mesh Application support to Terraform and ran into an issue with the Resource Group Name ignoring the casing that I specify. For example,  I send out `thisIsAResourceGroupName` and then receive `THISISARESO

[2020-05-05 23:02] #8772 closed

[2020-05-06 06:54] sideeksh commented on #8705
This is a bug. We are issuing a fix in the next release (ETA 1st week of June 2020). Bug: https://msazure.visualstudio.com/One/_workitems/edit/6244666/

[2020-05-06 08:51] click2cloud-tathagat commented on #8654
Hi @ArcturusZhang
Thanks for your response

In my code I imported the package that you mentioned above and also used loginURI i.e

you can also find the below Sample code,

       err := os.Setenv("AZURE_CLIENT_ID", client_id)
	if err != nil {
		log.Printf("Error while setting env variable, %v ", err)

	}
	err = os.Setenv("AZURE_CLIENT_SECRET", client_secret)
	if err != nil {
		log.Printf("Error w

[2020-05-06 19:17] CecileRobertMichon opened #8917 "Guidance on using ETAGs / Conditional requests"
### Feature Request

I saw https://azure.github.io/azure-sdk/general_design.html#conditional-requests was recently added in the Azure SDK general design guidelines. Are there any plans to include this mechanism in the Azure SDK for Go?

We have a [use case](https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/578) where two different components of a Kubernetes cluster are updating

[2020-05-07 08:12] ArcturusZhang commented on #8701
Hi @jakubigla I believe bumping go-autorest version to v14.0.0 will resolve this issue, therefore I will close this issue in advance. Please feel free to comment or reopen if you still have more concerns or questions.

[2020-05-07 08:12] #8701 closed

[2020-05-07 08:16] ArcturusZhang commented on #8767
Hi @ppanyukov thanks for the issue!
Sorry for the inconvenience that this issue has caused, but the behavior is kind of by designed...
First thing is that the whole track 1 go SDK (almost everything in `services` directory) is auto-generated from [azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs). For a particular REST API, you will have to marshal the a go struct to JSON payloa

[2020-05-07 08:18] ArcturusZhang commented on #8917
Hi @CecileRobertMichon I believe the design doc you posted should be for track 2 SDK.

Hi @jhendrixMSFT do you have any insight on this?

[2020-05-07 08:57] ArcturusZhang commented on #8654
If it is the service that wants a password, just assigning it to env variable may not work, I suppose...

I am not an expert on how to use the ACR, therefore I have tagged this issue and someone from service team may come and give you some advice about this.

[2020-05-07 12:18] ppanyukov commented on #8767
Thanks. I can see your point. But. Consider that serialisation to JSON just drops the fields. This prevents caching (roundtrip is broken), and even printing things out in JSON format. Every time I need JSON output I must not forget to use alias. This does not feel quite right to me.

Now looking at this, *all* types are broken, not just `web.Site`, if they all follow the same design. For example `

[2020-05-07 12:34] ppanyukov commented on #8767
Oh and it just occurred to me -- what about the field in the top-level types? For example, `web.Site` has field `*SiteProperties`, and it has tons of read-only properties all of which I suspect will be missing in JSON output? Aliasing doesn't solve that.

[2020-05-07 13:16] ppanyukov commented on #8767
So, I found a sort of workaround for JSON printing at least.

The idea is to use response inspector to capture raw JSON response from API and use that :) As per docs: https://github.com/Azure/azure-sdk-for-go#writing-custom-requestresponse-inspectors

I assume that deserialising types from it should work too (but haven't tested that yet).

While this works, it's not pretty.

[code]

[2020-05-07 15:18] jhendrixMSFT commented on #8917
Presumably it's set to nil because the field is marked as read-only in the swagger.  @ArcturusZhang can you check?

Support for conditional updates is something that has to come from the RP and exposed in the swagger.

[2020-05-07 15:32] jhendrixMSFT commented on #8767
The omission of read-only properties when making a request to the REST endpoint is a hard requirement from ARM (Azure Resource Manager).  Unfortunately, at present I don't have a good solution other than aliasing types to remove the custom marshaller (which doesn't work for nested types as you pointed out).

We're working on an updated version of our Go SDK, I'll be sure to enable this scenario.

[2020-05-07 15:37] jhendrixMSFT opened #9038 "Implement auto-registration of providers for ARM"
For management plane, if invoking an API returns "provider not registered" we must register it then try the request again.  This would likely be a pipeline policy, however it's specific to ARM so must not be included by default.

[2020-05-07 23:01] katbyte commented on #8533
@ArcturusZhang - that's kinda the point, that error message should probably be fixes by the service team :/

we can try the newer SDK and see if its changed thou.

[2020-05-08 00:01] katbyte commented on #8244
@ArcturusZhang - this is not a duplicate, it is a different enum that is not included in that other issue. cuold you add it to the rest api issue to ensure its fxed at the same time? thanks!

[2020-05-08 00:31] FrancescoIlario opened #9063 "Cognitive Services - TranslatorText: for the list of Languages request, autorest gen-code is not Unmarshalling JSON response"
### Bug Report

I temporarily resolved modifing the vendored package like shown in [this commit](https://github.com/FrancescoIlario/why-so-serious-bot/pull/18/commits/0bed7fd4a9132f6cae9eba3934810b494e86b4a4#diff-393fa9a4e80d59fc7eccb107a197b973).

- import path
   - [github.com/Azure/azure-sdk-for-go/services/cognitiveservices/v3.0/translatortext/models.go](https://github.com/Azure/azure-sdk-for-

[2020-05-08 03:50] BrendanThompson commented on #8537
@ArcturusZhang apologies for terrible delay. That certainly did resolve the issue for me, thank you :)

[2020-05-08 03:50] #8537 closed

[2020-05-08 03:51] ArcturusZhang commented on #8244
Hi @katbyte I have updated the REST API specs issue accordingly

[2020-05-08 03:53] ArcturusZhang commented on #8533
Sure, I have tagged this issue so that the service team could take a look

[2020-05-08 04:05] ArcturusZhang commented on #8917
@jhendrixMSFT indeed it is read-only (https://github.com/Azure/azure-rest-api-specs/blob/e5c2528f173640be3d9dcaf9f7a5bafb64f6ff47/specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/networkSecurityGroup.json#L929)

[2020-05-08 20:49] mbfrahry commented on #8533
Hey @ArcturusZhang, I'm still seeing this issue with the latest version of the sdk. The reason there isn't much to go on is because there isn't much there. The only way to create a cluster in the sdk is by calling
[code]
which is from [here](https://github.com/Azure/azure-sdk-for-go/blob/v42.1.0/services/preview/eventhub/mgmt/2018-01-01-preview/eventhub/clusters.go#L585)

[2020-05-09 07:03] ArcturusZhang commented on #8533
It is quite curious that a PUT request does not have a body, which does not look good to me.

[2020-05-09 07:08] ArcturusZhang commented on #8533
After checking the swagger of eventhub cluster, I can confirm that this should be a bug in swagger in which the service team forget to add the body parameter in the definition [here](https://github.com/Azure/azure-rest-api-specs/blob/b25cd297c7cb5f6b5991127c2b96a9c56dff50c7/specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/Clusters-preview.json#L131)

The proof

[2020-05-09 07:10] ArcturusZhang commented on #8533
@jfggdl @v-Ajnava @sazeesha @dsouzaarun could you please have a look at this issue?

[2020-05-11 09:12] twendt opened #9216 "Implement missing service principal operations in graphrbac"
### Feature Request

Currently there is only a method to list the owners of a service principal in graphrbac, but no methods to add or remove owners.

It would be great if the same methods would be available as they are for applications.

I would also be great to have a possibility to configure the "User and Groups" assignments of the service principal.

[2020-05-11 09:59] #3165 closed

[2020-05-11 15:41] ms-premp commented on #8132
Thanks for bringing this to attention.
We wlill be fixing this by end of this month.

[2020-05-11 15:44] ms-premp commented on #8317
This is by design at present. Not is not supported on TagKey for filtering. We will be adding new way for handling this scenario by end of this month.

[2020-05-11 15:46] prem9in commented on #8318
Thanks for the feedback, we will be updating swagger by end of this month.

[2020-05-11 15:48] ms-premp commented on #8318
Thanks for the feedback, we will be updating the swagger by end of this month.

[2020-05-11 16:54] ppanyukov opened #9221 "Duplicate calls to ResponseInspector"
### Bug Report

I'm following the example "Writing Custom Request/Response Inspectors" here: https://github.com/Azure/azure-sdk-for-go#writing-custom-requestresponse-inspectors

Want: inspector is called once.
Got: inspector is called twice with the same response.

------

Looks like autorest already calls the inspectors, but then SDK calls then again.

~Full repro go project is here: https://gith

[2020-05-11 17:02] yugangw-msft commented on #8654
We are taking a look

[2020-05-11 17:10] ramaganesan-rg commented on #8317
Closing as per comments from Prem. Thank you for reaching out!

[2020-05-11 17:10] #8317 closed

[2020-05-11 17:11] ramaganesan-rg commented on #8132
Updated milestone date as per comments from Prem.

[2020-05-11 17:13] CecileRobertMichon commented on #8917
I used the example of network security group but this issue exists for all services that support etags from what I've seen.

[2020-05-11 19:16] mbfrahry commented on #8533
Thanks for finding that @ArcturusZhang!

[2020-05-11 23:37] ArcturusZhang commented on #9063
Hi @FrancescoIlario thanks for this issue!
Based on the changes you made (and it works), this should be a swagger issue - the definitions in the responses do not match the actual response returned from service. Therefore I tagged this issue so that the service could have a look.

[2020-05-11 23:41] ArcturusZhang commented on #9221
Hi @ppanyukov thanks for this issue!

Hi @jhendrixMSFT could you have a look at this?

[2020-05-12 11:13] StiviiK opened #9283 "DeploymentsClient.Validate builds invalid HTTP request"
### Bug Report
- import path of the package in question,
`github.com/Azure/azure-sdk-for-go/profiles/latest/resources/mgmt/resources`
- SDK version
`2a3fd68`
- output of `go version`
`go version go1.14.2 darwin/amd64`

- What happened?
Trying to validate an ARM template with `DeploymentsClient.Validate` method fails with the code Bad Request, after fiddling around with an HTTP Proxy it turns out t

[2020-05-12 11:43] ppanyukov opened #9284 "insights.WebTestLocationsClient.List fails with JSON deserialisation error"
### Bug Report

Full repro program here: https://github.com/ppanyukov/azure-sdk-for-go-issues/tree/master/issues/webtest-locations-json-error

---

Using code like this ends up with JSON desrialisation error.

[code]

error (formatted for bettter readability):

[code]

[2020-05-13 14:34] jrauschenbusch opened #9339 "kusto.DatabasesClient#Get unmarshal error: ReadWriteDatabaseProperties.isFollowed"
### Bug Report

- import path: `.../services/kusto/mgmt/2020-02-15/kusto/databases`
- go dep: github.com/Azure/azure-sdk-for-go v41.2.0+incompatible
- output of `go version`: go version go1.13.8 darwin/amd64

Following error occured while using the Kusto DatabasesClient:
`
kusto.DatabasesClient#Get: Failure responding to request: StatusCode=200 -- Original Error: Error occurred unmarshalling JSON

[2020-05-13 15:34] bingosummer opened #9340 "Does SQL server support VirtualNetworkRulesClient?"
### Service Package Request

MySQL has VirtualNetworkRulesClient in https://github.com/Azure/azure-sdk-for-go/blob/master/services/mysql/mgmt/2020-01-01/mysql/virtualnetworkrules.go.
Does SQL server have similar client to create/update virtual network rules for SQL server?

[2020-05-13 18:52] MSEvanhi commented on #6589
This has been fixed in later versions of the SDK:
github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-07-01/managedapplications
in v39.0.0

[2020-05-14 02:04] ArcturusZhang commented on #6589
Closed since this get fixed in a higher api-version 2019-07-01

[2020-05-14 02:04] #6589 closed

[2020-05-14 02:35] ArcturusZhang commented on #9283
Hi @StiviiK thanks for this issue.
Is it too elementary to ask that how to check the request in hastebin? When I open it, i just see an empty web page.

[2020-05-14 02:40] ArcturusZhang commented on #9340
Hi @bingosummer thanks for this issue!

This should be what you are finding: https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/sql/mgmt/v3.0/sql/virtualnetworkrules.go
v3.0 of `sql` is a super set of all other api-versions

[2020-05-14 03:53] ArcturusZhang commented on #9284
Hi @ppanyukov thanks for this issue!

While this issue should be a swagger or service issue, the response of this List request is defined [here](https://github.com/Azure/azure-rest-api-specs/blob/c18974133add20f6fea02092f5c3c85f954c52f5/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/webTestLocations_API.json#L80), therefore the SDK is expecting that the res

[2020-05-14 08:24] StiviiK commented on #9283
Oh that a weird issue, I have attached you the required files as an TXT to this comment:
[parameters.json.txt](https://github.com/Azure/azure-sdk-for-go/files/4626915/parameters.json.txt)
[template.json.txt](https://github.com/Azure/azure-sdk-for-go/files/4626916/template.json.txt)
[working.request.txt](https://github.com/Azure/azure-sdk-for-go/files/4626928/working.request.txt)
[not_working.reque

[2020-05-14 09:08] davidobrien1985 opened #9382 "Connection String not returned"
### Bug Report

The Go SDK seems to be doing different things when it comes to listing connection strings depending on whether it's a SQL or mongoDB account.

`ListConnectionStrings` is called for mongoDB:
https://github.com/Azure/azure-sdk-for-go/blob/master/services/cosmos-db/mongodb/client.go#L71

`DocumentDB` client.go does not have this implemented:

https://github.com/Azure/azure-sdk-for-go/

[2020-05-14 22:49] MECHANDR commented on #4968
@drosseau Planning to close this issue. Please let us know if you need any further clarifications.

[2020-05-15 01:42] yannart opened #9385 "Support for AKS uptime SLA"
### Feature Request

Please support the AKS optional flag uptime SLA:
https://docs.microsoft.com/en-us/azure/aks/uptime-sla

Example with az cli:
[code]

[2020-05-15 01:45] adewaleo commented on #8654
@click2cloud-tathagat

## TL:DR

You are trying to carry out a [dataplane registry operation](https://docs.microsoft.com/en-us/rest/api/containerregistry/#data-plane-rest-operation-groups-preview). **This requires using an ACR access token and not an AAD token.** NewAuthorizerFromEnvironment returns an authorizer that uses an AAD token directly. The solution is to implement a BearerAuthorizer that

[2020-05-15 01:52] adewaleo commented on #8654
Please let me know if you have any more questions and any way I can help

[2020-05-15 02:01] #9340 closed

[2020-05-15 02:49] ArcturusZhang commented on #9284
This issue is closed in favor of the upstream issue: https://github.com/Azure/azure-rest-api-specs/issues/9463
Thanks!

[2020-05-15 02:49] #9284 closed

[2020-05-15 02:59] ArcturusZhang commented on #9382
Hi @davidobrien1985 thanks for this issue!
Actually it is defined here: https://github.com/Azure/azure-sdk-for-go/blob/ac906323d9febf3349e9fd1e1e0adc75229237fa/services/cosmos-db/mgmt/2020-03-01/documentdb/databaseaccounts.go#L748

And the `ListConectionStrings` function in https://github.com/Azure/azure-sdk-for-go/blob/master/services/cosmos-db/mongodb/client.go#L71 is also defined in a file with

[2020-05-15 03:34] szaher opened #9393 "Support for Microsoft.web/connections (API Connections)"
### Feature Request

Can we add support for API Connections available here https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/examples/ListOperations.json#L581

      {
            "type": "Microsoft.Web/connections",
            "name": "[parameters('connections_servicebus_name')]",
            "apiVersion": "2016-06-01",

[2020-05-15 08:30] ArcturusZhang commented on #9283
I believe the problem should be your `parameters.json` file.
[Here](https://github.com/whiteducksoftware/azure-arm-action/blob/4db3f32c273ef2cb3a52ab23ae334ba56113e919/pkg/github/options.go#L70) you parsed the parameters using the function `util.ReadJSON`, therefore using the input you provided here:
[code]
There will be a JSON object with three entries `$schema`, `currentVersion` and `parameters`

[2020-05-15 09:36] davidobrien1985 commented on #9382
@ArcturusZhang okay, what do you make of the comment here from terraform? https://github.com/terraform-providers/terraform-provider-azurerm/issues/6939

[2020-05-15 10:10] ArcturusZhang commented on #9382
Well I do not have much context about the service itself. But the newer api-version does support listing of connection strings (based on the code).

I assume you should encounter this issue in terraform, could you please provide some more information for us to reproduce this? Based on my understanding, in your use case, the list api returns nothing. And we need more information to find the root ca

[2020-05-15 10:36] StiviiK commented on #9283
Ah I see, that makes sense. Thanks for pointing that out!
I have fixed the Issue now by checking if its wrapped, [here's](https://github.com/whiteducksoftware/azure-arm-action/commit/41247cc58f2c474db59563e5595d2e535b39faa7) the commit if anyone is interested.

[2020-05-15 10:36] #9283 closed

[2020-05-15 10:55] ArcturusZhang commented on #9385
Hi @yannart thanks for this issue!

I could see on azure-cli's doc page there indeed is an option `--uptime-sla` but after an upgrade of azure cli, I still cannot use this option.
I assume that azure-cli can implement this indicates that this feature must sit in the swaggers, therefore i want to use the debug functionality to see which this feature is called in the swagger, since I did a search in

[2020-05-15 11:20] click2cloud-tathagat commented on #8654
Thank you so much for the response and will let you know if any issue occurs again.
Will close the issue within 2 weeks if everything seems okay.

[2020-05-15 12:32] davidobrien1985 commented on #9382
@ArcturusZhang turns out, it works now. Not sure why it wasn't working before. I asked Terraform to update their documentation.

[2020-05-15 12:32] #9382 closed

[2020-05-16 00:24] feiyushi opened #9409 "How to set `Accept-Language` header in the SDKs"
### Feature Request
We'd like to get localized response from RPs by setting `Accept-Language` header.
Is there a way to do that now in azure-sdk-for-go?
Thanks!

[2020-05-16 06:08] feiyushi commented on #9409
I guess it can be done in the same way as logging:
https://github.com/Azure/azure-sdk-for-go/blob/32160a3836db46d7b3b6751f2c5566570e348516/README.md#writing-custom-requestresponse-inspectors

[2020-05-16 07:22] feiyushi commented on #9409
`RequestInspector` is on the client level for all requests. Is there a way to set the header on the request level?

[2020-05-16 13:23] hieumoscow commented on #9385
It looks like the sku tier in request body is the key to flag it is a SLA cluster, i.e:
[code]

See if this helps @ArcturusZhang, my debug logs:

"azure-cli": "2.5.1"
az aks create --resource-group myResourceGroup --name SLACluster --uptime-sla --node-count 1 --enable-addons monitoring --generate-ssh-keys --debug
...
`msrest.http_logger : Request URL: 'https://management.azure.com/subscriptions/..

[2020-05-17 06:26] feiyushi opened #9412 "ByInspecting() is called twice"
### Bug Report
I have implemented a `LogResponse()` ResponseInspector for `autorest.Client` and set it in the RP resource clients.
Example:
[code]
However, I have noticed that the same response logs are emitted twice.
I believe `ByInspecting()` called once in in the `autorest.Client.Do()`.
The other call is in the `Responder` method in the RP resource clients, if they are invoked.
The one client I

[2020-05-18 02:34] ArcturusZhang commented on #9385
Hi @yannart thanks for the effort!

Then we have already implemented this, see [here](https://github.com/Azure/azure-sdk-for-go/blob/ac906323d9febf3349e9fd1e1e0adc75229237fa/services/containerservice/mgmt/2020-03-01/containerservice/models.go#L2489) and the comment:
[code]

I will then close this issue since this should be resolved, hope you do not mind. Please feel free to reopen if you have othe

[2020-05-18 02:34] #9385 closed

[2020-05-18 02:40] ArcturusZhang commented on #9409
Hi @feiyushi thanks for this issue!

In my understanding, this should have the swagger supported beforehand. I happened to know one of them: the [migrate](https://github.com/Azure/azure-rest-api-specs/blob/087557f23f941df95cf10e188754b78b995cb1fd/specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/migrate.json#L112). But most of the swagger do  not support this...

[2020-05-18 02:41] ArcturusZhang commented on #9412
Hi @feiyushi thanks for this issue!

This should be a duplicate of #9221 therefore i will close this issue, hope you do not mind

[2020-05-18 02:41] #9412 closed

[2020-05-18 02:51] ArcturusZhang commented on #9393
Hi @szaher thanks for this issue!

Despite the example shows that they have the `Microsoft.Web/connections` related operations, but I searched all the swaggers for `web` about `Microsoft.Web/connections` but found nothing. This means that the service team must first give us the API in the swaggers then we can release those in the go SDK.

[2020-05-18 02:52] ArcturusZhang commented on #9339
Closing this issue in favor of the [spec issue](https://github.com/Azure/azure-rest-api-specs/issues/9450)

[2020-05-18 02:52] #9339 closed

[2020-05-19 05:28] #4968 closed

[2020-05-19 22:38] sidheshdivekar29 opened #9484 "Private Link: Cannot approve the private endpoint connection programatically"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`.../services/network/mgmt/2019-06-01/network
- SDK version e.g. `master`, `latest`, `18.1.0`
master
  - Specify the exact commit if possible; one way to get this is the REVISION
github.com/Azure/azure-sdk-for-go v39.3.0+incompatible h1:xGwpf9r9uVRjcfLYlyB7WIcgOAHX6izsTrQApAH9ewo=
github.com/A

[2020-05-20 06:52] botondev commented on #2060
Hi, I am receiving this using Terraform, but there I have no option for setting any algorithm. I am still looking for a solution. Does anyone know anything? Thank you.

[2020-05-20 08:40] botondev commented on #2060
Hi again!

I just found that setting up
"x509_certificate_properties" in terraform "azurerm_key_vault_certificate" resource, solves the problem.

Hopefully, this information helps someone in the future.

Thank you

[2020-05-21 06:39] ArcturusZhang commented on #9484
Hi @sidheshdivekar29 thanks for this issue!

But this is more of a question rather than a bug in SDK? I have tagged this issue therefore someone from the service could answer you this question.

[2020-05-21 07:22] njuCZ opened #9510 "the struct `ListResultIterator` does not work properly"
### Bug Report

- import path of package in question: `github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources`
- SDK version:  `latest`

generally, when we want to list all results, we would use `listcomplete` function, which returns a `ListResultIterator` response. We would use following codes to iterate all results.

[code]

But the implementation of `NotDone()` is not ri

[2020-05-21 12:16] magodo commented on #8367
@jhendrixMSFT FYI if we are using embedded fields, maybe need to look out the (un)marshal implementation, for cases like [this](https://github.com/golang/go/issues/39175)

[2020-05-21 14:38] jhendrixMSFT commented on #8367
I have this working end-to-end for the autorest test server, see https://github.com/Azure/autorest.go/tree/track2/test/autorest/generated/lrogroup for what the complete codegen looks like.

[2020-05-21 16:23] Drewm3 commented on #4828
The feature to expose the powerstate through the multi-VM APIs is being deployed now. This will be available to all customers in early June.

[2020-05-21 20:39] sidheshdivekar29 commented on #9484
I think its a bug where in its not working as expected. Lets wait for someone to take a look and confirm.

[2020-05-22 19:39] aristosvo opened #9561 "Unmarshal error of Future.Result() for network.VirtualNetworkGatewaysGetVpnProfilePackageURL"
### Bug Report

- import path of package in question: **`.../services/network/mgmt/2020-03-01/network`**
- SDK version: **42.1.0**
- output of `go version`: **go version go1.14.2 darwin/amd64**

- What happened?
An unmarshal error upon calling `future.Result(*client)` [(code)](https://github.com/terraform-providers/terraform-provider-azurerm/pull/7048/files#r429136946):
**`network.VirtualNetworkGa

[2020-05-22 19:42] aristosvo commented on #9561
Ah, seems to be a copy of https://github.com/Azure/azure-sdk-for-go/issues/5921, my bad. Needs a fix though!

[2020-05-22 19:55] aristosvo commented on #5921
What's the status here, when can we expect this to be fixed?

This bug is open for more than half a year and affects both `Generatevpnclientpackage` and `GetvpnprofilepackageURL` operations.

[2020-05-25 05:44] ArcturusZhang commented on #9561
Hi @aristosvo thanks for this issue!

Last time in internal emails, we have come an agreement with the service team that they would change their format of the response. But apparently they have not made that change yet...

Hi @jhendrixMSFT do you have some recommendation here? Is it valid for us to make some workaround on the code gen?

[2020-05-25 08:47] dw511214992 opened #9612 "A Model should contains a property instead of inherit the property"
In https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/peering/mgmt/2020-01-01-preview/peering/models.go#L870, according to swagger, the struct should contains a property named `properties` instead of inherit from `*Properties`

[2020-05-26 19:34] tracypholmes opened #9619 "SignalR SDK: default value doesn’t exist in the SDK"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`"github.com/Azure/azure-sdk-for-go/services/signalr/mgmt/2018-10-01/signalr"`

- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.

[code]

- output

[2020-05-26 23:50] jhendrixMSFT commented on #9561
@ArcturusZhang the swagger needs to be fixed.  Can you please follow up with the RP about it?

[2020-05-27 06:02] #9612 closed

[2020-05-27 23:47] mbfrahry opened #9667 "Time Series Insights Reference Data Set - 401 Unauthorized"
### Bug Report

- `github.com/Azure/azure-sdk-for-go/services/preview/timeseriesinsights/mgmt/2018-08-15-preview/timeseriesinsights`
- `v42.1.0`
- `go version go1.14 darwin/amd64`

I was looking at adding Terraform support for Time Series Insights Reference Dataset but any api call to that service just results in:

[code]

[2020-05-28 10:48] favoretti commented on #8533
Anxiously following this as we're waiting for EH Clusters support in TF provider! :)

[2020-05-28 20:09] mbfrahry opened #9696 "Time Series Insights Access Policy - 401 Unauthorized"
### Bug Report

- `github.com/Azure/azure-sdk-for-go/services/preview/timeseriesinsights/mgmt/2018-08-15-preview/timeseriesinsights`
- `v42.1.0`
- `go version go1.14 darwin/amd64`

I was looking at adding Terraform support for Time Series Insights Access Policy but any api call to that service just results in:

[code]

[2020-05-29 05:18] manicminer opened #9714 "graphrbac: property 'samlToken' does not exist on type 'Microsoft.DirectoryServices.OptionalClaims'"
### Bug Report

- `github.com/Azure/azure-sdk-for-go/services/graphrbac/1.6/graphrbac`
- `v42.1.0`
- `go version go1.14.2 darwin/amd64`

I'm trying to include `OptionalClaims` when creating an Application. I can submit claims for `AccessToken` and `IDToken`, but attempting to set claims for `SamlToken` I get a 400 error:

[code]

SDK is using the object key `samlToken` but I believe this is suppos

[2020-05-29 22:18] axayjo commented on #8314
@neil-yechenwei Checking in again. Was this issue resolved? Do you have any updates for us?

[2020-05-30 04:52] feiyushi commented on #9221
Any updates? thx

[2020-06-01 02:24] ArcturusZhang commented on #9221
Hi @jhendrixMSFT could you please have a look at this issue?

[2020-06-01 02:52] ArcturusZhang commented on #8533
Should be resolved by [this PR](https://github.com/Azure/azure-sdk-for-go/pull/9756)

[2020-06-01 03:22] ArcturusZhang commented on #9714
Hi @manicminer thanks for this issue!

This should be another bug in `graphrbac`'s swagger... I have tagged this issue so that the service team would have a look and probably update their swagger and then the SDK would pick up that update accordingly.

[2020-06-01 03:30] ArcturusZhang commented on #9696
Hi @mbfrahry thanks for this issue!

By checking the code, I spotted nothing suspicious... Could you please provide some logs during sending the request?

[2020-06-01 03:30] ArcturusZhang commented on #9667
Hi @mbfrahry thanks for this issue!

By checking the code, I spotted nothing suspicious... Could you please provide some logs during sending the request?

[2020-06-01 03:36] ArcturusZhang commented on #9619
Hi @tracypholmes thanks for this issue!

Unfortunately `signalr/2018-06-01` does not support this `EnableMessagingLogs` feature.
But in the next major version v43.0.0, a new api-version 2020-05-01 is introduced for `signalr` and `EnableMessagingLogs` is supported in the new api-version. I am working on that in [this PR](https://github.com/Azure/azure-sdk-for-go/pull/9756)

[2020-06-01 16:29] jhendrixMSFT commented on #9221
The response inspector is called from `client.Do` and the responder method in the generated code.  Will need to update the code generator to remove the extra call to `c.ByInspecting()`.

[2020-06-01 16:30] jhendrixMSFT commented on #9221
@ArcturusZhang can you please make this fix?  Should be somewhere in MethodGo.cs.

[2020-06-01 19:55] lilyjma commented on #9484
Hi @aznetsuppgithub, please take a look. Thanks!

[2020-06-02 01:51] gvilarino commented on #5222
Thanks please this is super important!

[2020-06-02 02:26] #8533 closed

[2020-06-02 02:26] #9619 closed

[2020-06-02 05:59] ArcturusZhang commented on #9221
PR opened [here] https://github.com/Azure/autorest.go/pull/413, please have a look @jhendrixMSFT thanks!

[2020-06-02 08:45] keithkroeger commented on #4485
Providing this support would not only allow those of us who use Templates to manage alerts to also configure health alerts but would also allow more consistent feature coverage.

Thank you for looking at this, @lewinski

[2020-06-02 15:01] #9221 closed

[2020-06-02 17:49] mbfrahry commented on #9667
Here's what the sdk is passing to the api.

[code]

The error message is that the authorization header is missing and I can't see it in the information passed here.

[2020-06-02 17:50] mbfrahry commented on #9696
I've answered on the other issue. We can just consolidate on the other issue for now since it looks like they're both caused by the same thing

[2020-06-02 20:38] nkiest commented on #4485
This is I believe an issue for the Azure Monitor Alerts team, not Essentials. However, I don't know what exact API is being called by the example code.

[2020-06-03 03:45] ArcturusZhang commented on #9221
This should have been resolved and go SDK will fetch that change in the next major version.

[2020-06-03 05:09] manicminer opened #9851 "Support `passwordPolicies` for `User` entity of AAD Graph API"
### Feature Request

Support listing, getting and setting the `passwordPolicies` attribute of the [User entity in the Azure AD Graph API](https://docs.microsoft.com/en-gb/previous-versions/azure/ad/graph/api/entity-and-complex-type-reference#user-entity).

Per the API documentation:

[2020-06-03 06:11] ArcturusZhang commented on #9667
Hi @mbfrahry I just run some dummy code for this resource and it works fine.

Code: (I am using the CLI authorizer)
[code]
Some log: (404 was expected since the environment does not exist)
[code]

Do you forget to assign the authorizer in the client?

[2020-06-03 06:13] ArcturusZhang commented on #9667
Hi @mbfrahry I just run some dummy code for this resource and it works fine.

Code: (I am using the CLI authorizer)
[code]
Some log: (404 was expected since the environment does not exist)
[code]

Do you forget to assign the authorizer in the client?

[2020-06-03 07:41] TamRuas commented on #4485
@lewinski Thanks for reaching out.

Activity Log Alerts already supports creating Alert rules with above fields (ContainsAny, Anyof)
I can see, via the links supplied- that the [documentation ](https://github.com/Azure/azure-rest-api-specs/blob/0bef2b99ad6d52781e3c308bc6b420f6eef59ef7/specification/monitor/resource-manager/microsoft.insights/stable/2017-04-01/activityLogAlerts_API.json) is indeed

[2020-06-03 07:49] ArcturusZhang commented on #3883
Hi @metacpp this issue should be resolved in the new api-version. Therefore I will close this now.
If it persists, please feel free to open a new issue about it. Thanks!

[2020-06-03 07:49] #3883 closed

[2020-06-03 07:53] ArcturusZhang commented on #4485
Hi @TamRuas it is missing in [this swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2017-04-01/activityLogAlerts_API.json), and it would be fine if these were added to a newer api-version.

[2020-06-03 08:19] TamRuas commented on #4485
@ArcturusZhang Thanks, Yes I'm opening a task to fix the swagger documented here.
Its not a new API version, just additional fields.

[2020-06-03 11:02] jackofallops opened #9891 "Cosmos DB CheckNameExists failing with 500 (again)"
### Bug Report
Issue #5157 appears to have resurfaced with the same symptoms.

[code]

https://github.com/terraform-providers/terraform-provider-azurerm/issues/7173

[2020-06-03 12:19] erikschlegel commented on #9891
JFYI, this issue is blocking my team from provisioning cosmos envionments. Verified this issue exists for eastus, centralus, westus and eastus2 regions.

[2020-06-03 12:53] lewinski commented on #4485
@TamRuas This issue is about the Go SDK. It still exists in the most recent SDK and API version available.

To explain more fully: An activity log alert has a Condition field. This is modeled by the ActivityLogAlertAllOfCondition type here:

https://github.com/Azure/azure-sdk-for-go/blob/4f14e3d53fba12172734d383af647730d06412d2/services/preview/monitor/mgmt/2019-06-01/insights/models.go#L938

This

[2020-06-03 13:10] keithkroeger commented on #4485
Exactly and thank you @lewinski

[2020-06-03 14:51] #9667 closed

[2020-06-03 14:52] #9696 closed

[2020-06-03 17:19] ms-premp commented on #8319
$top is supported in query API.
$skiptoken is by design not suppported. This is pretty standard with azure APIs, The response will include nextLink as continuous token, for clients to follow and get the desired page. $skiptoken is not supported.

[2020-06-03 18:51] markjbrown commented on #9891
We have identified the root cause for this and are actively working on a hot fix to the issue. ETA should be tomorrow.

Thanks.

[2020-06-03 23:48] markjbrown commented on #9891
We've deployed the fix for this and the issue is resolved.

[2020-06-04 02:34] ArcturusZhang commented on #9891
Hi @jackofallops could you please have a try if the fix works or not?

[2020-06-04 02:37] ArcturusZhang commented on #4485
Hi @lewinski our go SDK under the services directory is generated from the swaggers in the [azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs), therefore the go SDK should be equivalent to the REST API defined in the azure-rest-api-specs.
The portal may or may not be using the actual REST API of this service (for instance, they may be using the ARM Templates to provision this res

[2020-06-04 09:13] TamRuas commented on #4485
@lewinski , @ArcturusZhang-  Thanks for bridging the gap. Got it.
So the fix on our part is in the Swagger, I opened [Bug 7359079 ](https://msazure.visualstudio.com/DefaultCollection/One/_workitems/edit/7359079) for July.

[2020-06-04 10:38] #4485 closed

[2020-06-04 11:09] jackofallops commented on #9891
A quick test suggests this is resolved, thanks for the timely action!

[2020-06-04 11:10] #9891 closed

[2020-06-04 14:33] manicminer opened #9911 "Ability to update AAD groups"
### Feature Request

Currently the graphrbac package only enables creating and deleting groups. It would be great to also be able to update existing groups.

The API supports PATCH requests for groups, see https://docs.microsoft.com/en-gb/previous-versions/azure/ad/graph/api/groups-operations#update-a-group--

[2020-06-05 10:30] akshaybabloo opened #9956 "Feature request: Signalr client"
### Feature Request

It would be great to have an official signalr client

[2020-06-05 15:04] ms-premp commented on #8319
You can still achieve paging using the skiptoken.

[2020-06-05 20:53] rachel-msft commented on #6305
We haven't been able to receive the issue described with invalid chars. We get an error code with response when we attempted the chars you listed (#$!@). Closing this issue for now. Can reopen if repro steps are provided.

[2020-06-05 20:53] #6305 closed

[2020-06-08 02:59] ArcturusZhang commented on #9956
Hi @akshaybabloo thanks for this issue!

Are [these packages](https://github.com/Azure/azure-sdk-for-go/tree/master/services/signalr/mgmt) the ones you are looking for?

[2020-06-08 03:05] ArcturusZhang commented on #9911
Hi @manicminer thanks for this issue!

This should be another issue that requires the graph rbac team to update their swagger....

[2020-06-08 23:45] akshaybabloo commented on #9956
Isn't that used for management? I was thinking about using it on the web. For example to have a chat room like what you have with ASP.Net.

[2020-06-09 02:11] ArcturusZhang commented on #9956
Indeed those are mgmt plane SDK. But I am afraid we do not have signalr data plane SDK right now...

Hi @jhendrixMSFT do you have any information about this?

[2020-06-09 03:02] jhendrixMSFT commented on #9956
@mayurid do you know if there are plans for signalr data-plane swagger?

[2020-06-09 13:12] sirlatrom commented on #7352
@phenixdotnet See https://github.com/microsoftgraph/MSGraph-SDK-Code-Generator/issues/53, there is no Golang generator in that project and none has been made yet since it was suggested in 2016.

[2020-06-09 13:27] phenixdotnet commented on #7352
@sirlatrom yes I know that but if the MSGraph code generator is still the way to go (CF https://github.com/microsoftgraph/msgraph-sdk-design/issues/28), it could be possible to write the necessary t4 to get a go sdk. (actually I have a POC with that by the way).
Just need to be sure the MSGraph code generator is not dead and a PR with go lang support would be accepted.

[2020-06-09 18:33] kwontae commented on #7345
@jhendrixMSFT  any updates?

[2020-06-11 18:41] axayjo commented on #8314
@neil-yechenwei Closing this since there's been no update. Feel free to reopen the issue if it resurfaces.

[2020-06-15 17:40] mbfrahry opened #10446 "Time Series Insights Event Source IoTHub not being read into the sdk correctly"
### Bug Report

- `azure-sdk-for-go/services/preview/timeseriesinsights/mgmt/2018-08-15-preview/timeseriesinsights`
- `v42.1.0`
- `go version go1.14 darwin/amd64`

I've been working with Time Series Insights IoTHub Event Source. I've successfully created one but when I try to get it. It always comes back as an [EventSourceResource](https://github.com/Azure/azure-sdk-for-go/blob/master/services/pre

[2020-06-15 23:47] ArcturusZhang commented on #10446
Hi @mbfrahry thanks for this issue!

This response body has a discriminator, which is making it polymorphic. The discriminator is the `kind` attribute, and in this response, the value of the `kind` is `Microsoft.IoTHub` which corresponds to `IoTHubEventSourceResource`. In speaking of golang, you should be safe to cast the response to `IoTHubEventSourceResource` without panic, or `AsIoTHubEventSour

[2020-06-16 02:15] manicminer opened #10463 "graphrbac: Application homepage (signInUrl) cannot be cleared"
### Bug Report

- `github.com/Azure/azure-sdk-for-go/services/graphrbac/1.6/graphrbac`
- `v42.1.0`
- `go version go1.14.2 darwin/amd64`

- Trying to clear the `Homepage` property for an Application where it was previously set
- The property to be cleared (set to null in the application manifest)

Create an application with Homepage property set to some value
[code]

Then later try to clear the Hom

[2020-06-16 07:02] haani-niyaz opened #10501 "How to update GraphEndpoint to graph.microsoft.com from graph.windows.net"
As per the documentation I am trying to retrieve a list of users for a daemon application. I can successfully execute the following curl commands and get the results:

**Get Token**
[code]
**Request**

[code]
---

However executing the code snippet below results in an error:

<sub>The required environment variables are set.</sub>

[code]

**Error Message**

[code]

Further inspection by running in

[2020-06-16 07:27] lilyjma commented on #4125
@v1r7u do you still experience the problem?

[2020-06-16 08:05] v1r7u commented on #4125
@lilyjma I came here as a result of `azurerm` terraform thread: https://github.com/terraform-providers/terraform-provider-azurerm/issues/2919. At the moment, we've already found several workarounds.

Honestly, I do not know what is the current behavior of golang library.

One year ago, I was _surprised_ that ARM templates and golang library behave differently with default values. The entire built-

[2020-06-16 17:37] nauxliu opened #10566 "Ability to use Org hierarchy APIs"
### Feature Request

How can I call the [Org hierarchy](https://docs.microsoft.com/en-us/graph/api/user-post-manager?view=graph-rest-1.0&tabs=http) APIs using this SDK? Can this be supported?

[2020-06-16 21:08] catalinaperalta opened #10567 "Add TokenRefresh Offset functionality"
Specs: https://gist.github.com/jianghaolu/c56bd46dfa96dfff9bd7e5df8aca58e7

[2020-06-16 21:10] catalinaperalta opened #10568 "Update DAC to new design"
Specs: https://gist.github.com/jonathandturner/fc1f7a2bc4602c9ba58d55c45f3b42ba

[2020-06-17 05:41] ArcturusZhang commented on #10463
Hi @manicminer thanks for this issue!

Due to the nature of http verb of `PATCH`, when you are leaving an attribute empty, the service would assume that you are not updating that attribute. In go SDK, when you assigned some property to `nil`, go SDK will not marshal that into the request body (this is how `omitempty` works) therefore the homepage would not change.

And the service must be validati

[2020-06-17 05:44] ArcturusZhang commented on #10501
Hi @haani-niyaz thanks for this issue!

graphrbac package in this repo is the Azure graph APIs, and the end point of `graph.microsoft.com` belongs to MSGraph, which although has the similar name, but actually a different set of SDKs.

A valid go version of this SDK could be found [here](https://github.com/yaegashi/msgraph.go)

[2020-06-17 05:46] ArcturusZhang commented on #10566
Unfortunately these APIs belong to `msgraph` and will not be supported in this SDK.

You can find a valid msgraph go SDK [here](https://github.com/yaegashi/msgraph.go)

[2020-06-17 05:48] haani-niyaz commented on #10501
Thanks. I found this to be confusing until I cam across https://github.com/Azure/azure-sdk-for-go/issues/7352. Closing.

[2020-06-17 05:48] #10501 closed

[2020-06-17 10:40] manicminer commented on #10463
Hi @ArcturusZhang, thanks for the explanation. With the `Create` function, leaving the homepage `nil` omits it from the payload and the service does indeed set the property to `null`. This makes it possible to create applications with this property disabled, but once it has been set there seems to be no way to unset it using the SDK?

[2020-06-17 17:30] kidsil commented on #8537
In case anyone is looking for a quick fix -
`go get -u github.com/Azure/go-autorest/autorest`
worked for me.

[2020-06-17 17:30] kidsil commented on #7757
In case anyone is looking for a quick fix -
`go get -u github.com/Azure/go-autorest/autorest`
worked for me.

[2020-06-18 07:17] jdelforno commented on #7352
Given the Odata information is available here: https://graph.microsoft.com/v1.0/$metadata

Can we somehow convert it via: https://github.com/rbeauchamp/Swashbuckle.OData

To create what's required?

[2020-06-18 08:23] ArcturusZhang commented on #10463
Hi @manicminer could you post a full request body from the portal?

I suppose this may have something to do with the `omitempty` in golang. `omitempty` will leave corresponding attribute in the result JSON empty when `nil` is assigned, rather than an explicit `null` value. I am not so sure that in a RESTful API, the service should regard `null` value attribute the same as those absent attributes i

[2020-06-18 11:21] michaelbironneau commented on #2993
This is still an issue - do you have a timeframe on resolution?

[2020-06-18 22:50] manicminer commented on #10463
@ArcturusZhang The request body is the same as the one that's visible in the screenshot. I captured another request where in addition to the Homepage URL (`signInUrl`) I also cleared the Terms of Service URL and Privacy Statement URL.

[code]

It seems to depend on the particular property being set, but for some properties, setting a value to `null` is the canonical means for clearing or unsetting

[2020-06-19 01:20] jdelforno commented on #7352
The answer to the above was yes, use: https://github.com/oasis-tcs/odata-openapi/blob/master/tools#transformjs-for-nodejs

Which generates an OpenAPI 3.0 document.

Then use autorest from https://github.com/Azure/AutoRest

To start generating Go.

Fingers crossed..

[2020-06-19 02:52] ArcturusZhang commented on #7352
And for your information, there is a community SDK of msgraph in golang [here](https://github.com/yaegashi/msgraph.go)
MSgraph team develops their own code generator but it does not support golang: https://github.com/microsoftgraph/MSGraph-SDK-Code-Generator

[2020-06-19 02:55] jdelforno commented on #7352
AutoRest doesn't really like OpenAPI 3.0 yet it seems. Adding the -o 2.0 switch to the XLST transform. Trying again.

@ArcturusZhang I recognise and acknowledge both points. However, I won't be programming in Go, I'm only be hoping to have the Terraform Azure AD Provider updated.

Which to my knowledge, they won't use anything that's not part of the Azure repo as a whole =)

[2020-06-19 03:16] ArcturusZhang commented on #10463
Yeah...
I searched some doc and am trying to get some documented information for how the service should behave in PATCH request when a field is absent or is explicitly assigned to `null`. Currently I could only say that this is an undefined behaviour - the service could choose whether to ignore those field assigned to `null` in PATCH or regard it as an erase.

For the resource group service, the s

[2020-06-19 04:06] #8314 closed

[2020-06-19 12:58] jinxue-w opened #10681 "loadbalancers下的ListComplete接口异常"
### Bug Report
/Azure/azure-sdk-for-go/services/network/mgmt/2017-10-01/network/loadbalancers.go

最近调用的时候发现ListComplete接口在查询美东的负载均衡器的时候只返回55个（实际上有59个），nextlink非空，应该是分页了，但是查询西欧的时候就是全部63个个全部查到，没分页；之前使用一只是正常的，这个接口本来就应该可以查到所有的

- [ 美东]
![image](https://user-images.githubusercontent.com/57025085/85134757-963e4a00-b26f-11ea-8313-61f90c27fd34.png)

- [西欧]
![image](https://user-images.githubusercontent.co

[2020-06-19 14:44] cdelacruzpinto opened #10682 "Provide a way to test API's locally"
### Feature Request

In order to better test my code which uses the Azure SDK without needing to provision actual cloud resources, I would like to have a way to mock some of the APIs.

In the case of Amazon, there is this beautiful project: https://github.com/localstack/localstack which allows to mock the most used ones.

[2020-06-19 15:15] ctaggart opened #10683 "package should be named "avs", not "vmware""
The package should be named "avs", not "vmware". #10454 was merged before I had a chance to review. Please rename the package. See also https://github.com/Azure/sdk-release-request/issues/496.

Current location:
https://github.com/Azure/azure-sdk-for-go/tree/master/services/preview/vmware/mgmt/2019-08-09-preview/vmware

Should be:
https://github.com/Azure/azure-sdk-for-go/tree/master/services/prev

[2020-06-22 02:26] jinxue-w commented on #10681
我已经定位到这里了，只加了账户认证，而已，要代码的话就是下面，config后面是我调用自己的账户信息。
if err := readConfig(); err != nil {
		t.Fatal(err)
	}
	_ = os.Setenv("AZURE_TENANT_ID", config.Conf.AzureTenantId)
	_ = os.Setenv("AZURE_CLIENT_ID", config.Conf.AzureClientId)
	_ = os.Setenv("AZURE_CLIENT_SECRET", config.Conf.AzureClientSecret)
	authorizer, err := auth.NewAuthorizerFromEnvironment()
	if err != nil {
		logs.Error("Failed to get O

[2020-06-22 03:28] ArcturusZhang commented on #10681
Hi @jinxue-w thanks for this issue.

The difference between `List` and `ListComplete` is that the `ListComplete` function hides the details of the pagination from the user, while the `List` function would require you to do the paging yourself.

The `resp` in the return values of `ListComplete` is an `iterator` (you can take [this wiki page](https://en.wikipedia.org/wiki/Iterator_pattern) for refer

[2020-06-22 03:34] ArcturusZhang commented on #10682
Hi @cdelacruzpinto thanks for this issue!

You can always make some mock test for the SDK using the interface such like [this](https://github.com/Azure/azure-sdk-for-go/blob/master/services/aad/mgmt/2017-04-01/aad/aadapi/interfaces.go).

[2020-06-22 03:37] ArcturusZhang commented on #10683
Hi @ctaggart sorry for that... I will change it, release it and remove the wrong-named package in the next major version release (at the end of this month)

[2020-06-22 06:55] jinxue-w commented on #10681
Thanks for your reply, this method is ok. However, the description of your interface is to directly query all of them, which is actually not in line with expectations. This has been normal not long ago, but only recently.

And this URL：https://docs.microsoft.com/en-us/rest/api/load-balancer/loadbalancers/list,
It also falls short of expectations.

[2020-06-22 07:07] ArcturusZhang commented on #10681
Hi @jinxue-w the `ListComplete` function is a method introduced by go SDK to simplify the usage of the vanilla `List` API in the REST API definition which requires manual paging.
If you like the paging approach, you could always use the `List` function like this:
[code]
If you want to do anything else with the list results, you could always make a slice of results, first iterate the list result to

[2020-06-22 07:07] #10681 closed

[2020-06-22 17:33] mbfrahry commented on #10446
Unfortunately, `AsIoTHubEventSourceResource()` returns false with the above payload.

[2020-06-22 21:02] debben opened #10711 "GetSecretsComplete fails to page on empty first response"
### Bug Report

- import path of package in question
services\keyvault\v7.0\keyvault

- SDK version e.g. `master`, `latest`, `18.1.0`
Reproduced with v43.3.0, v39.1.0, v19.1.0
- output of `go version`
go version go1.11.4 windows/amd64

- What happened?
When calling client.GetSecretsComplete, some keyvaults will respond to the first request to `/secrets?api-version=7.0` with:
[code]

 the result ob

[2020-06-23 00:05] matthchr opened #10712 "SQL Server SDK doesn't validate that user provided a nonempty resource group"
### Bug Report

Go SDK version: `v38.0.0`
Import Path: `"github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2015-05-01-preview/sql"`

[code]

Produces the following request:
[code]

With the following strange response:
[code]

The Azure Storage SDK for Go in contrast has a check that the RG is specified baked into the SDK:
[code]

[2020-06-23 03:23] magodo opened #10732 "Track2: Additional model tags to keep some Swagger definitions"
### Feature Request

It would be helpful to add some additional tags in the generated model, to keep as more info as possible from Swagger.

Take the [`OutboundRulePropertiesFormat`](https://raw.githubusercontent.com/Azure/azure-sdk-for-go/track2/services/network/mgmt/2019-12-01/network/models.go) as an example:

[code]

[code]

### Benefit

Rather than keep this information in other forms (e.g. c