[2022-03-23 08:57] tadelesh commented on #17196
I see. Let me try to contact service team.

[2022-03-23 12:25] tombuildsstuff commented on #14571
@ArcturusZhang any update on this one?

[2022-03-23 15:59] RickWinter commented on #17338
Was this addressed by, https://github.com/Azure/azure-sdk-for-go/issues/17338, or did you have other changes to make?

[2022-03-23 16:00] seankane-msft commented on #17338
Yes, closing now.

[2022-03-23 16:00] #17338 closed

[2022-03-23 16:34] #16811 closed

[2022-03-23 16:35] #16812 closed

[2022-03-23 16:38] shana opened #17358 "Bot service slack channel doesn't save client id/secrets"
When creating or updating bot service slack channels, the `registerBeforeOAuthFlow` field must be set to true in order for the client id and secrets data to be saved. This field is incorrectly marked read-only in the spec, so generated clients don't include it when creating/updating slack channels, causing the `clientId`, `clientSecret`, `signingSecret` and `validationToken` fields to be ignored o

[2022-03-23 18:08] #16842 closed

[2022-03-23 19:29] seankane-msft opened #17362 "[Perf] Add performance tests for KeyVault"
- [ ] Certificates: https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/keyvault/Azure.Security.KeyVault.Certificates/perf/Scenarios
  - [ ] DownloadCertificate
  - [ ] GetCertificate
- [ ] Keys: https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/keyvault/Azure.Security.KeyVault.Keys/perf/Scenarios
  - [ ] GetKey
  - [ ] crypto tests
- [ ] Secrets: https://github.com/Azure/azure-sdk-for

[2022-03-23 19:39] seankane-msft opened #17363 "[Perf] Add performance tests for Tables"
- [ ] Add Simple entities
  - [ ] batch
- [ ] add complex entities
  - [ ] batch
- [ ] list complex entities
- [ ] list simple entities

[2022-03-23 19:40] #17095 closed

[2022-03-23 19:41] #17342 closed

[2022-03-24 11:18] davidandradeduarte commented on #14750
I've just tested it with the new Azurite build, and works as expected.
Closing the issue.
Thank you!

[2022-03-24 11:18] #14750 closed

[2022-03-24 13:32] ryepup opened #17369 "Data races detected with `log`"
### Bug Report

- import path of package in question: `github.com/Azure/azure-sdk-for-go/sdk/azcore/log`
- SDK version: azcore@v0.22.0
- output of `go version`: `go1.18 darwin/amd64`

- What happened?

I have many tests running in parallel that call `log.SetListener` and `log.SetEvents` before using other azure-sdk-for-go features. I run my tests with `-race` enabled.

Occasionally I'll get a data

[2022-03-24 14:52] bcvanmeurs commented on #17335
I can confirm I encountered the same bug.

[2022-03-24 14:53] mohsha-msft commented on #17335
Hey @andrewbaxter , @bcvanmeurs ,

Thanks for reaching out!
I've fixed the issue and I'll ship it in the next release.

[2022-03-24 15:04] bcvanmeurs commented on #17335
Great, thanks!

[2022-03-25 05:27] lirenhe commented on #17155
Share the contact info offline and close this item.
Let me know if there are further questions. thanks

[2022-03-25 05:27] #17155 closed

[2022-03-25 07:21] adityabalaji-msft commented on #2822
Thanks for the details. Am checking internally with the team on this and will get back with an update

[2022-03-25 08:22] AmaliMatharaarachchi commented on #17017
We have upgraded to v0.3.6. We observed that sometimes the server hangs on this line forever `receiver.CompleteMessage(context, message)` [1].
[1] https://github.com/Azure/azure-sdk-for-go/blob/79f8e1f4bbe3045dfed5d481e880a259c78fcd44/sdk/messaging/azservicebus/receiver.go#L305

[2022-03-25 17:29] richardpark-msft commented on #17017
@AmaliMatharaarachchi, I'm looking at that. I think that might be related to a bug where 410 (lock lost) is treated as retryable. It shouldn't hang forever but it will retry, which can appear to be a hang. I have a fix incoming for that.

[2022-03-25 17:47] richardpark-msft commented on #17017
@AmaliMatharaarachchi

Do you have logging enabled for these times? If not, can you try logging as well? It'll help confirm if you're seeing the bug I just mentioned or if you have found something new:

https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/messaging/azservicebus/README.md#troubleshooting

[2022-03-25 20:26] jhendrixMSFT commented on #16982
Most of this has been cleaned up.  The remaining bit is the fork of `gocov`.

[2022-03-25 23:32] joshfree opened #17383 "Radix - AAD Auth Sample"
Tracking issue for dogfooding and creating code samples (or documentation) to show best practices for how to use AAD Auth with popular 3rd party OSS Redis clients when connecting to Azure.

Depending on the outcome of the dogfooding:

**Possible Outcome 1:** 0-1 days of extra work (minimal sample code is required to enable the experience):
- Check-in a thin / simple code sample project to our sdk

[2022-03-25 23:32] joshfree opened #17384 "go-redis/redis - Microsoft Entra Auth Sample"
Tracking issue for dogfooding and creating code samples (or documentation) to show best practices for how to use AAD Auth with popular 3rd party OSS Redis clients when connecting to Azure.

Depending on the outcome of the dogfooding:

**Possible Outcome 1:** 0-1 days of extra work (minimal sample code is required to enable the experience):
- Check-in a thin / simple code sample project to our sdk

[2022-03-25 23:32] joshfree opened #17385 "Redigo - AAD Auth Sample"
Tracking issue for dogfooding and creating code samples (or documentation) to show best practices for how to use AAD Auth with popular 3rd party OSS Redis clients when connecting to Azure.

Depending on the outcome of the dogfooding:

**Possible Outcome 1:** 0-1 days of extra work (minimal sample code is required to enable the experience):
- Check-in a thin / simple code sample project to our sdk

[2022-03-25 23:52] joshfree opened #17386 "Collaborate on solution for validate_authority with MSAL team"
Tracking issue for collaborating with the MSAL team to expose consistent capabilities / APIs such that Azure Identity SDK can then expose a simple and easy to use API for enabling the use of custom domains.

Related Issues:
- expose "validate_authority" so user can explicitly disable the validation if they want to use custom domain. https://github.com/Azure/azure-sdk-for-python/pull/22786/
- [Clie

[2022-03-26 00:22] joshfree opened #17387 "Add Token Caching Support for Managed Identity"
**Intro**
When application developers use the developer SDKs and libraries provided by Azure to build apps that run on Azure, they expect built-in support for common and repeatable tasks. From Azure’s perspective, adding support to common patterns helps increase the resilience of the apps running on Azure.  Managed Identity token caching is a common task that’s currently missing in the Azure Ident

[2022-03-26 00:42] joshfree opened #17388 "Add Windows Web Account Manager (WAM) Brokered Authentication Support"
This is a tracking work item for creating/finishing the new Azure.Identity.BrokeredAuthentication client library (separate package from the existing Azure Identity client library).

Related:
- https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity.BrokeredAuthentication/README.md
- Default to a silent auth experience that doesn't show the account picker UX if a user is al

[2022-03-26 09:36] polys opened #17390 "Support version 4.2 in Cosmos DB API for MongoDB"
### Feature Request

See https://github.com/hashicorp/terraform-provider-azurerm/issues/15765

https://devblogs.microsoft.com/cosmosdb/azure-cosmos-db-api-for-mongodb-v4-2-is-here-three-reasons-to-upgrade-now/

[2022-03-28 23:56] richardpark-msft commented on #17349
(updating changelog with missing entries in https://github.com/Azure/azure-sdk-for-go/pull/17382)

[2022-03-29 00:31] richardpark-msft commented on #17017
The fix for that particular bug in coming in https://github.com/Azure/azure-sdk-for-go/pull/17382

[2022-03-29 00:44] #17325 closed

[2022-03-29 01:22] VirajSalaka commented on #17017
@richardpark-msft Sorry, we did not have azure-sdk-for-go debug logs enabled by the time this error was occurred.

[2022-03-29 01:49] #17351 closed

[2022-03-29 07:55] lirenhe commented on #17287
Already start the internal conversation for this item. The issue seems to be a service problem so close the issue in GitHub.
Let me know if you have further questions.

[2022-03-29 07:55] #17287 closed

[2022-03-29 08:59] youyu16 commented on #17358
@shana For null value returned, it is expected result, because we always exclude sensitive data. but you can check if Client ID changed after 15 mins.

[2022-03-29 09:00] ArcturusZhang commented on #17390
Hi @polys thanks for this issue.

The corresponding swagger has been released: https://github.com/Azure/azure-rest-api-specs/blob/568e394c3634d052ddec89f685b4afb5ab21aaec/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-10-15/cosmos-db.json#L8507
We will release a new version of cosmosdb very soon.
@Alancere could you please follow up on this?

[2022-03-29 09:20] Alancere commented on #17390
Hi @polys thanks for this issue!
Releasing a new package will require the service to submit a new SDK release request,
I also sent some internal emails to the contact of the corresponding service team about this.

[2022-03-29 09:30] AsafMah opened #17400 "How to create a Blob Block Client with null/anonymous credentials?"
### Bug Report

- import path of package in question - "github.com/Azure/azure-sdk-for-go/sdk/storage/azblob"
- SDK - azblob v0.3.0, azcore v0.21.1
- output of `go version`

I want to transfer from the old azblob library (that was in the other repo) to the new one.

I'm using blobs with SAS, so I don't need nor want any additional credentials.

When creating a client like so:
`azblob.NewBlockBlobC

[2022-03-29 17:13] #17213 closed

[2022-03-29 17:59] richardpark-msft commented on #17017
That's okay, it's hard to have the logs on at just the right moment. :)

I've made a recent fix in #17382 where we were retrying on expired tokens. Due to the retry logic (it's exponential) it could appear to be a hang. It wouldn't be forever though so it might not be what you were seeing.

If this is your issue this also means that the lock for that particular message was possibly expired - so th

[2022-03-30 03:58] ericshape commented on #16998
PR: https://github.com/Azure/azure-rest-api-specs/pull/18467

[2022-03-30 06:29] VirajSalaka opened #17408 "[azservicebus] ASB client stopped receiving messages for its subscription."
Bug Report
pkg: github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus

SDK version: v0.3.6

go version: go 1.16.13

What happened?

One of the ASB clients does not receive any messages for one of its subscriptions.

In the our environment, there are separate instances running where each instance subscribes to a set of topics. And for a given topic each instance creates its own subscription.

[2022-03-30 15:52] #16874 closed

[2022-03-30 15:53] jhendrixMSFT commented on #16964
Not going to do this.

[2022-03-30 15:53] #16964 closed

[2022-03-30 15:57] jhendrixMSFT commented on #17369
Would you mind sharing a little bit about your scenario?  When we wrote this, we envisioned that this is something that would be called by a program once during start-up and would remain static thereafter.  I'd like to hear about how you use this in case we need to reconsider.

[2022-03-30 16:03] jhendrixMSFT commented on #15108
Ping @azmonapplicationinsights

[2022-03-30 16:04] jhendrixMSFT commented on #15787
We have new key-vault SDKs based on the 7.2 API set (soon to be updated to 7.3).  Can you please give them a try?

https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/keyvault

[2022-03-30 16:06] jhendrixMSFT commented on #15799
I will point out that for generated code, we decided to _not_ parse the duration and simply return it as a string.  So, if we decided that's good enough for our generated SDKs, presumably it's good enough for SB too?

[2022-03-30 16:14] jhendrixMSFT commented on #16957
This is based on the older cognitive services version which returned a confidence level instead of a floating-point value (introduced in v3.0).

@RickWinter do we have a plan for releasing new SDKs for CS?

[2022-03-30 16:56] richardpark-msft commented on #15799
I could do that, it'd be good to be consistent.

There is a special value in SB where the TimeSpan.Max value actually means something special to the portal so it might be that I need to define something there to indicate "NEVER", basically. I don't think I can use 'nil' since that would (in some contexts) mean "don't update/change this value".

[2022-03-30 16:58] richardpark-msft commented on #15799
@jhendrixMSFT, @JeffreyRichter - also, I've updated the issue description with our conclusion. Let me know if it's inaccurate.

[2022-03-30 17:03] jhendrixMSFT commented on #15799
To play devil's advocate, I get that there is value in being able to accept/receive the values in `time.Duration` format (one of the benefits of an SDK after all).  If we think we can reliably parse this across all our SDKs I think it's a net win for the customer.

[2022-03-30 17:19] richardpark-msft commented on #15799
Parsing it is doable (to a time.Duration) but it's not lossless. Ie, PT1M (ie: 1 month) is not always equal to PT30D, depending on the month. Given our proximity to shipping at this point it's probably fine to leave it as a string and, if need be, add in some helpers at a later time to work with them.The lossy problem makes me think that doing this would require a custom type, not just "string <->

[2022-03-30 17:22] JeffreyRichter commented on #15799
We should not parse this

[2022-03-30 18:32] #16677 closed

[2022-03-31 00:45] richardpark-msft opened #17412 "[azservicebus] ReceiveMessages() does not always return the proper error when a context is cancelled"
ReceiveMessages() does a bit work to ensure that we don't return both an error and messages since Go users are accustomed to only checking one or the other (but not both - typically `err` being non-nil will take precedence).

In the code it looks like there are two spots where a cancellation error can be "erased" (harmlessly) and one where a cancellation error can be returned unnecessarily.

The e

[2022-03-31 04:01] VirajSalaka commented on #17408
Thanks for the reply. I have checked again and it is 0.3.6 tag we were using at that period.

[2022-03-31 08:02] #17195 closed

[2022-03-31 09:53] mjudeikis commented on #14915
I like how for last ~4 month we speak with BOT with zero progress :D

[2022-03-31 10:51] Robert-Stam commented on #14915
IMO this hasn't any prio or attention at all... really disappointing.

[2022-03-31 14:37] tkent commented on #17017
Just to chime in here - I also bumped into the exact same symptoms as @praminda. After running a small golang app to pickup messages for somewhere between 10-20 days, it just... stops working with the error messages similar to those originally posted. We're also running in AKS and restarting the pod will fix it.

In our case, the errors looked a little bit different. They were connection reset err

[2022-03-31 16:02] RickWinter commented on #16982
@jhendrixMSFT Should the title be changed to "remove gocov private fork"?   That's all that's left right?

[2022-03-31 16:10] #14904 closed

[2022-03-31 17:28] ryepup commented on #17369
My scenario is `go test -race ...` with integration tests that look roughly like:

[code]

That might be nice to add to the doc comments on `SetEvents` and `SetListener`. I could imagine someone implementing a feature to dynamically change log levels to support debugging live systems.

I understand this is not the expected usage patterns, but figured you might want to know about the race. Feel fre

[2022-03-31 17:32] jhendrixMSFT commented on #17369
Thanks for the info.  I'll discuss with the team how we want to proceed.  At the very least, I agree that we should at least update the docs indicating this isn't goroutine-safe if we leave it as-is.

[2022-03-31 17:41] jhendrixMSFT opened #17415 "Add support for final-state-via for data-plane pollers"
This isn't just for ARM.

As part of the work, change the `FinalStateVia` field to a `const` type with applicable values.

[2022-03-31 20:02] #17369 closed, assigned to jhendrixMSFT

[2022-03-31 21:07] aramase opened #17417 "Support for client assertions"
### Feature Request

In the [Azure Key Vault Provider for Secrets Store CSI Driver](https://github.com/Azure/secrets-store-csi-driver-provider-azure) we're using:

1. [adal](https://github.com/Azure/go-autorest/blob/master/autorest/adal/cmd/adal.go) for service principal (client secret), managed identity (user-assigned and system-assigned)
2. [msal](https://github.com/AzureAD/microsoft-authenticat

[2022-03-31 22:33] tg-msft opened #17419 "Tables should have an OData query builder to help customers properly escape input"
Per https://github.com/Azure/azure-sdk/issues/979, our min bar across languages is providing a helper to allow customers to safely construct queries with proper escaping.  [Relevant xkcd](https://xkcd.com/327/) for why we should add similar basic support in Go.

You can see .NET's version at https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/tables/Azure.Data.Tables/src/TableClient.cs#L1360

[2022-04-01 00:03] jhendrixMSFT commented on #17419
Can we get more info here?  We should already be escaping query params.  Generally speaking, "builders" are something of an anathema in Go.

[2022-04-01 00:05] jhendrixMSFT commented on #17419
CC @seankane-msft @JeffreyRichter

[2022-04-01 02:19] yubowen0525 opened #17420 "The ReceiveMessages function cannot receive the remaining messages in the queue"
### Bug Report

- pkg: `github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus`
- SDK version: v0.3.6
- go version: go 1.16.6
- What happened?
   When ReceiveMessages function timeout is set to 30s and maxMessages set 10, like the following, and there are actually 5 messages left in the queue of serivcebus. After waiting for 30s, the ReceiveMessages function cannot receive the remaining mess

[2022-04-01 02:22] #17420 closed

[2022-04-01 05:22] ketanpp opened #17421 "In FindBlobsByTags API it encode space character to + which result in error from Azure"
### Bug Report

- import path of package azblob/url_service.go
- SDK version e.g. `master`, `latest`, `18.1.0`

Description:

We are using FindBlobsByTags API in our application and we have an blob in Azure which have following tags
TagKey Tag1  TagValue Val 1

After executing API we are getting following error
FindBlobsByTag github.com/Azure/azure-storage-blob-go/azblob.newStorageError, /extsrc/g

[2022-04-01 08:02] #17259 closed

[2022-04-01 14:51] seankane-msft opened #17423 "[Storage] Drop "Type" suffix from `GeoReplicationStatusType`"
This came up during the `aztables` API review. We want `aztables` and storage libraries to align here.

[2022-04-01 15:59] ThorstenHans opened #17424 "[AppConfig]: Error while reading Settings from Azure App Configuration"
### Bug Report

**Environment**

[code]

**What happened?**

Reading settings from Azure App Configuration (AppConfig) does not work. When using a connection string for authentication,  requests fail with an HTTP `401` and `HMAC-SHA256 error="invalid_token", error_description="Invalid Credential"` provided as in the response header.

When authenticating with `azidentity` same underlying request fa

[2022-04-01 18:22] seankane-msft opened #17425 "[Keyvault] Add poller rehydration"
ResumeToken method on pollers, and token on options bag

[2022-04-01 19:09] jhendrixMSFT commented on #17415
Once the public surface area changes are in, we need to update autorest with data-plane scenarios to ensure we get the algorithm correct.

[2022-04-01 20:38] richardpark-msft commented on #17017
Hi @tkent :)

There are two bugs in this issue:

1. Timeout is not handled properly (ie, results in an endless set of connection reset errors)

    This was fixed in 0.3.6 - the basic cause is that our underlying protocol lib caches errors and this particular error requires an entire connection reset (we were only doing a link-level reset). So to fix this particular problem you can just upgrade. W

[2022-04-01 20:59] #17412 closed

[2022-04-01 21:39] juliusl commented on #15042
@favoretti  Good news, finally was able to test the change and it looks like it's working,

[code]

This change should start rolling out next week and should be complete the week after.

[2022-04-01 22:36] favoretti commented on #15042
@juliusl awesome! Thanks a bunch, will happily rebase my PR and hopefully get it into a release once the fix is rolled out.

[2022-04-02 08:08] weinong commented on #17145
Any update on this?

[2022-04-02 08:11] weinong commented on #16765
Can you link the issue from msal please, if there is any?

[2022-04-02 18:16] vangent commented on #16088
@richardpark-msft  I still don't see this fixed. I'm using `v0.3.6`.

* Sending to a nonexistent topic fails, but it takes a long time still.
* Receiving (`ReceiveMessages`) from a nonexistent topic doesn't fail, it just waits for the context to timeout.

Can we keep the issue open until there's a confirmed fix in a tagged version?

[2022-04-02 21:12] richardpark-msft commented on #16088
Reopened. I even added a test for this so I must be missing some circumstance here. I'll look and see on Monday.

[2022-04-02 21:23] richardpark-msft commented on #16088
Oh, I see what you mean, yes, it'll be out in 0.3.7. I'll update this when it goes out.

[2022-04-04 00:41] msft-adrianma commented on #17103
You are correct that version "2021-07-01" is not supported in ARM (azure resource manager) even though it is exposed in the Go SDK. We are working on fixing that.
To unblock you can update the version to in zz_generated_reservationorder_client.go (as you mentioned above) to the version
	reqQP.Set("api-version", "2019-04-01")
I was able to try your Go sample and see the reservation orders with this

[2022-04-04 05:45] diyor-uptycs opened #17430 "[VirtualMachineClient] ListComplete response (iter.Value()) is not consistent with Get API and Azure CLI"
### Bug Report

- `github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2021-12-01/compute`
- SDK version -`v61.4.0`, `v63.0.0`
- Go verion - `go version go1.17.8 linux/amd64`

- **What happened**?
**Resource** field (struct) has `properties`, `location` and `tags` fields set to `nil` for `VirtualMachine` response received from `ListComplete` call.
![Screen Shot 2022-04-04 at 10 35 16](https://

[2022-04-04 17:19] chlowell commented on #16765
https://github.com/AzureAD/microsoft-authentication-library-for-go/issues/302

[2022-04-04 19:04] chlowell commented on #17145
It's been on hold pending configuration API changes releasing this week. I expect to have it done this month.

[2022-04-04 19:55] seankane-msft opened #17441 "[Eng] Checks should not run on `testdata` directories"
@chlowell was blocked on releasing azcore because the testdata/perf directory referenced the local version of internal/perf. The testdata directory is ignored by the go tooling, so we can ignore it as well.

[2022-04-04 20:59] juliusl commented on #15042
@favoretti np, just curious is there a flag I can set to see what the ACC tests are doing?

[2022-04-04 21:01] favoretti commented on #15042
API-wise? TF_LOG=trace will spit out a LOT. TF_LOG_PATH=sometime will save it to a file you can inspect post-factum.

[2022-04-04 22:00] juliusl commented on #15042
@favoretti I think I found a bug,
https://github.com/favoretti/terraform-provider-azurerm/blob/bdd4e8e706968b2cae9dfe876c2b5ba46c01dece/internal/services/containers/container_registry_agentpool_resource.go#L231
[code]

Shouldn't this be,

[code]

[2022-04-04 23:45] favoretti commented on #15042
@juliusl I'll check tomorrow. The PR is old, so some stuff might have been renamed in new SDKs. I will rebase it tomorrow on the latest master and it will probably look a bit different :)

[2022-04-05 01:02] favoretti commented on #15042
@juliusl just looked at the code.. facepalmed myself with a keyboard. Thanks!

[2022-04-05 03:10] juliusl commented on #15042
@favoretti  cool beans! So I've tested this now in Canary Production,
[code]

The rollout should reach all regions sometime next week. I'll ping this thread again when it's complete :D

[2022-04-05 12:33] favoretti commented on #15042
@juliusl Fresh code: https://github.com/hashicorp/terraform-provider-azurerm/pull/16258

[2022-04-05 16:30] seankane-msft opened #17449 "[Tables] Add table error codes"
https://apiview.dev/Assemblies/Review/14024004d53648b6bc325087299aead9#Azure.Data.Tables.Models.TableErrorCode

[2022-04-05 17:07] SaurabhSharma-MSFT commented on #17421
@ketanpp We are looking into it and get back to you for any additional information.

[2022-04-05 17:24] chlowell opened #17450 "Reconsider exporting symbols from internal modules"
[`azcore/log`](https://github.com/Azure/azure-sdk-for-go/blob/a7dfae471f382c8e7bf80492cc054d2566ae4c9f/sdk/azcore/log/log.go#L15-L31) exports a type and constants from `sdk/internal/log`. This instance is low risk but the pattern is troubling in general because it makes `sdk/internal` not really internal. We should discuss whether to allow this pattern and, if we decide to allow it, what guard rai

[2022-04-05 17:44] JeffreyRichter commented on #17450
Sometimes we do this because of dependency management. Internal defines symbols we need low in the system (like by Core) and we also expose them publicly. I think that is the case here. Joel would know for sure.

-- Jeffrey Richter
________________________________
From: Charles Lowell ***@***.***>
Sent: Tuesday, April 5, 2022 1:24:18 PM
To: Azure/azure-sdk-for-go ***@***.***>
Cc: Jeffrey Richter *

[2022-04-05 22:43] richardpark-msft commented on #16939
(moving into backlog as this isn't going to happen for GA)

[2022-04-05 22:44] richardpark-msft commented on #15963
(moving to backlog as this hasn't resurfaced as a customer issue and we're just matching the existing timeout that appears to work well in .net)

[2022-04-05 23:52] #15986 closed

[2022-04-06 04:10] lirenhe commented on #17430
@tadelesh, could you help to take a look?

[2022-04-06 06:53] ThorstenHans opened #17458 "[Cognitive Search]: Roadmap for Cognitive Search client SDK"
### Feature Request

Hey team 👋🏼 ,

I'd love to interact with Azure Cognitive Search using the Azure SDK for Go. Are there any plans to bring support for

- creating / modifying the index
- managing documents in the index

to the new SDK?

Thanks

[2022-04-06 09:15] navba-MSFT commented on #17390
Discussed with @RickWinter and removed the CXP Attention label.

[2022-04-06 10:21] benjamin37 commented on #16192
@ArcturusZhang The PR you mentioned is merged. Can you tell what are the next steps? Is this issue solved by that?

[2022-04-06 15:43] jsquire opened #17459 "Event Hubs Troubleshooting Guide"
# Summary

In order to provide guidance for customers encountering difficulties with the client library, and support representatives working customer issues, a troubleshooting guide is needed.  The guide should be focused on common scenarios for the client library and not attempt to address service-specific issues.

# Scope

- Wait for the forthcoming [Java troubleshooting guide](https://github.co

[2022-04-06 15:43] jsquire commented on #17459
//fyi: @richardpark-msft

[2022-04-06 16:01] #14402 closed

[2022-04-06 18:08] mibo-fdc commented on #17357
I still get the same error unfortunately:

github.com/edeka-digital/nemo/pkg/queue imports
	github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus imports
	github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus/internal imports
	github.com/Azure/azure-sdk-for-go/sdk/messaging/internal/cbs: cannot find module providing package github.com/Azure/azure-sdk-for-go/sdk/messaging/internal/cbs

[2022-04-06 18:08] joshfree commented on #17388
Link to dependency - https://github.com/AzureAD/microsoft-authentication-library-for-go/issues/284

[2022-04-06 18:19] #16873 closed

[2022-04-06 18:20] RickWinter opened #17460 "Update performance testing documentation"
Add documentation on how to add/run/debug performance tests

[2022-04-06 18:28] chlowell opened #17461 "Pipeline flakiness due to test proxy initialization race"
Test runs occasionally fail because the test proxy isn't available before the module under test sends its first request ([for example](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1483554&view=logs&j=7c2e6c09-e0bf-5c90-9850-b294a30ca1c6&t=e00182e0-c89a-5584-1fee-0622017fb833&s=6884a131-87da-5381-61f3-d7acc3b91d76)). I guess this is a race because the pipeline continues to the ne

[2022-04-06 21:11] richardpark-msft commented on #17459
This is a good thing to have - I'd prioritize Service Bus over Event Hubs, primarily because we're releasing an SB GA and haven't committed to a track 2 verson of Event Hubs yet.

[2022-04-06 21:14] jsquire commented on #17459
Agreed on prioritization; Service Bus is part of the next wave of TSGs.  There will be an equivalent issue filed once those efforts kick off.

[2022-04-06 22:01] #15787 closed

[2022-04-07 00:13] antkmsft commented on #17424
Hi @ThorstenHans, can you check if you are using valid connection string?
I just checked locally, and I can run `client_test.go` against my App Configuration resource.
I also can run it with read-only connection string (commenting out the parts that modify setings).

A connection string should look this: `"Endpoint=https://....azconfig.io;Id=...;Secret=..."`

You can get it from here:
![image](htt

[2022-04-07 01:15] richardpark-msft commented on #17357
@mibo-fdc - sorry about that, I didn't see that the issue auto-closed.

https://github.com/Azure/azure-sdk-for-go/releases/tag/sdk%2Fmessaging%2Fazservicebus%2Fv0.4.0

We've released v0.4.0, which fixes this issue. We bumped the minor version now that we're using Go 1.18 specific features.

[2022-04-07 01:15] #17357 closed

[2022-04-07 05:46] ThorstenHans commented on #17424
Hey @antkmsft

I double-checked the connection string. It was correct. I've also

- tried the read-only connection string
- re-generated all keys and tried both (read-write and read-only) again
- verified that public network access is enabled

It's keeps on throwing:

[code]

[2022-04-07 05:47] ThorstenHans commented on #17424
since filing the issue, I've updated the version of go to `1.18`

[2022-04-07 09:04] magodo opened #17470 "`securityinsight` version 2022-01-01-preview can't compile"
The [`securityinsight`](https://github.com/Azure/azure-sdk-for-go/blob/35fb64f82ef3b3308f55b1da37c1fec36bdd4166/services/preview/securityinsight/mgmt/2022-01-01-preview/securityinsight) can't compile (introduced in [v62.3.0](https://github.com/Azure/azure-sdk-for-go/releases/tag/v62.3.0)):

[code]

[2022-04-07 11:07] SpaWn2KiLl commented on #17408
Faced the same issue, also using 0.3.6

I'm now updating to 0.4.0, hope it fixes

[2022-04-07 11:59] mohsha-msft commented on #17400
Hey @AsafMah ,

Thanks for reaching out!
We have client constructors such as [NewBlockBlobClientWithNoCredential](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/storage/azblob/zc_block_blob_client.go#L42) that can be used here.

[2022-04-07 11:59] #17400 closed

[2022-04-07 12:52] adeturner opened #17472 "azcore@v0.23.0 "build constraints exclude all Go files" due to // +build go1.18"
### Bug Report

- import path of package in question

https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azcore/core.go

- SDK version

azure-sdk-for-go/sdk/azcore@v0.23.0
azure-sdk-for-go/sdk/keyvault/azkeys@v0.5.0

- output of `go version`

[code]

- What happened?

1. go 1.17 environment
2. I upgraded packages with go get -u ./...
3. It seems azcore@v0.23.0 and keyvault/azkeys@v0.5.0 uses

[2022-04-07 14:14] adeturner commented on #17472
It is worth saying that having checked again, azkeys states "Go version 1.18 or higher".

The problem with this is that go 1.18 is new and reliability thought processes keep most people <1.18.

We should also note that Go Generics are provided with caveats/risk that mean we might want to avoid them in SDKs for a few releases:

In [https://go.dev/doc/go1.18](https://go.dev/doc/go1.18) it says:

_"T

[2022-04-07 14:29] adeturner commented on #17472
The change is also breaking other packages I'm using in the same program...

$ go build ./...
# github.com/Azure/azure-sdk-for-go/sdk/storage/azblob
...gopath/go/pkg/mod/github.com/!azure/azure-sdk-for-go/sdk/storage/azblob@v0.3.0/zc_blob_lease_client.go:25:16: undefined: to.StringPtr
...gopath/go/pkg/mod/github.com/!azure/azure-sdk-for-go/sdk/storage/azblob@v0.3.0/zc_block_blob_client.go:145:20:

[2022-04-07 15:35] #17425 closed

[2022-04-07 21:00] ItalyPaleAle opened #17476 "armresources fails to compile"
### Bug Report

Trying to run the code from this sample: https://docs.microsoft.com/en-us/azure/developer/go/deploy-azure-resource-manager-template

Copy/pasted as-is, and the code doesn't compile:

[code]

Go version: `go version go1.18 darwin/amd64`

Relevant deps and versions:

	github.com/Azure/azure-sdk-for-go/sdk/azidentity v0.14.0
	github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resou

[2022-04-07 21:14] ItalyPaleAle commented on #17472
This looks very similar to the issue I'm experiencing: https://github.com/Azure/azure-sdk-for-go/issues/17476 However, in my case I am using Go 1.18

[2022-04-07 22:01] chlowell commented on #17476
Thanks for opening this issue. Sorry the article has a major pitfall now. It's fallen into the gap between two waves of our releases. We released azcore v0.23.0 earlier this week, with some breaking changes vs. 0.22.0, and a new azidentity that requires it. However, we haven't yet released an updated armresources, so the latest version of that module isn't compatible with the latest azcore. If you

[2022-04-07 22:02] #16195 closed

[2022-04-07 22:09] ItalyPaleAle commented on #17476
Thanks for responding!

I did try downgrading to the prior versions and thankfully it does work now.

[2022-04-07 23:16] chlowell commented on #17472
Thanks for opening this issue. I see you've figured out a workaround, and I'm sorry you had to do it. Your EDIT2 is what I would have suggested: downgrade to the latest modules requiring azcore v0.22.0 until you can upgrade to Go 1.18 and we release a compatible azblob. (@mohsha-msft, do you have an ETA?)

Let me give some context to address your other concerns. We use major version 0 for the init

[2022-04-08 00:04] antkmsft commented on #17424
Thank you Thorsten, I was able to reproduce it - it has something to do with the region. It did not repro in West US, but does reproduce when using AppConfiguration deployed to Germany West Central.
The problem is still on the SDK size and not the Azure, because I wrote the identical code for .NET SDK, and it can work with the same connection string, when Go SDK fails. Connection string looks norm

[2022-04-08 01:04] mohsha-msft commented on #17152
Hey @ItalyPaleAle ,

Thanks for reaching out!
I have fixed this issue and will be releasing it in the next release.

[2022-04-08 01:05] richardpark-msft commented on #17450
I have a similar situation in `azservicebus` - I have a set of constants that represent the receive mode and I use them in both `azservicebus/internal` and `azservicebus` code.

[2022-04-08 03:00] lirenhe commented on #17470
@ArcturusZhang, could you take a look?

[2022-04-08 06:51] adeturner commented on #17472
Thanks @chlowell

Dont get me wrong the new SDK is great. Completely understand about beta status and I don't mind recoding things as required, however this feels like an alpha-like failure?  I think there's two things that would be great

1) a compatibility test suite which builds combinations of all elements of the new SDK to avoid this moving forward
2) an SDK that doesnt force my software arch

[2022-04-08 14:16] ryepup opened #17490 "azidentity: azure_cli_credential panics in kubernetes pods before aad-pod-identity assigns an identity"
### Bug Report

- import path of package in question: `azure-sdk-for-go/sdk/azidentity`
- SDK version: 0.13.2
- output of `go version`: `go version go1.17.6 linux/amd64`

- What happened?

We use kubernetes with [`aad-pod-identity`](https://github.com/Azure/aad-pod-identity) to assign managed identities (MI) to our pods, and then our code uses `azidentity.NewDefaultAzureCredential(nil)` to create

[2022-04-08 14:32] mohsha-msft commented on #17472
Hey @adeturner ,

Thanks for reaching out!

If you look at the go.mod file of azblob SDK, you'll find that it still uses azcore 0.22.0 and internal 0.9.1.

Please note that azcore 0.23.0 (Using Go1.18) is a major release and has breaking changes which azblob hasn't picked up yet. So, it's natural that it'll break because you're trying something which azblob hasn't adopted yet.I don't think it's az

[2022-04-08 15:28] ItalyPaleAle commented on #17152
Thanks for the update! This is great news

[2022-04-08 15:30] ItalyPaleAle commented on #17476
@chlowell Do you know when the updated "armresources" SDK will be released?

I am now faced with an issue due to the fact that another SDK I need (the for-now named "armapp" that @tadelesh is working on) requires azcore 0.23, and I can't use that or it will break "armresources".

[2022-04-08 18:04] chlowell commented on #17490
Thanks for opening this issue! I created a PR with a fix for the panic. That doesn't address the root cause of your app's authentication failure though, which is that by default Pod Identity doesn't respond to token requests before assigning an identity to the pod. It accepts requests and just leaves the connection open, often longer than our ManagedIdentityCredential is willing to wait for a resp

[2022-04-08 19:21] chlowell commented on #17476
It's available now ([v0.4.0](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resources/armresources))

[2022-04-08 19:38] chlowell commented on #17450
I think it's okay for a module to re-export things from its own `internal` subpackages when necessary. I'm concerned about internal modules like `sdk/internal`. These are nominally private, accessible only to SDK authors who may not know parts of them are functionally public due to being re-exported by some public module.

[2022-04-08 19:59] ItalyPaleAle commented on #17476
Great, thank you!

[2022-04-08 19:59] #17476 closed

[2022-04-08 22:02] #5603 closed

[2022-04-08 22:43] antkmsft commented on #17424
Thank you for finding this, @ThorstenHans! I have a fix (linked above), and there are reasons to think that Java, JS, and Python SDK may be also affected by this. .NET SDK is the only one that's ok. I will work with the other SDK teams, as well as the docs.microsoft.com team to correct code samples in this article: https://docs.microsoft.com/en-us/azure/azure-app-configuration/rest-api-authenticat

[2022-04-08 23:19] chlowell commented on #17145
I've opened a PR: #17494. Please let me know if my draft is missing content that would help you.

[2022-04-09 16:15] tkent commented on #17017
@richardpark-msft

Thanks for the details about what's going on, it's very helpful to have that clear explanation. For now, we've moved to  `v0.3.6` and have had it running for about a week. The first error you pointed out (which is what we kept hitting), hasn't popped up again. We'll keep an eye out for `0.3.7` and move to that when it comes out.

I follow that this public beta is still maturing,

[2022-04-10 07:10] haitch opened #17499 "azcosmos ContainerClient.ReadItem() api design flaws"
### Bug Report

- import path of package in question, github.com/Azure/azure-sdk-for-go/sdk/data/azcosmos
- SDK version 0.2.0
- output of `go version`: 1.17

## 1. ContainerClient.ReadItem() returns internal error (github.com/Azure/azure-sdk-for-go/sdk/data/azcosmos)

error type is github.com/Azure/azure-sdk-for-go/sdk/azcore/**internal**/shared.ResponseError, which cannot be used with [errors.As]

[2022-04-10 07:12] haitch commented on #17499
Proposal:
  1. expose github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/shared.ResponseError by remove the "internal" from package path
  2. capture this error and convert to a public typed error

[2022-04-10 09:33] DaddyBlues opened #17500 "bugs"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

- What happened?
- What did you expect or want to happen?
- How can we r

[2022-04-10 18:02] chkohner commented on #17472
Just as a note, the "avoid using generics in production comment" isn't just about the compiler being 1.18. There are supporting tools and the like that are not ready for generics. For example, going through and upgrading our project because of this issue, we still get the following in golangci-lint (even after upgrading it as well):

[code]

[2022-04-11 04:32] tkent commented on #16088
@richardpark-msft I'm curious if this issue also explains some behavior we're seeing.

We've been seeing that a receiver of a topic that has a long period of inactivity will stop receiving new messages. It's extremely hard to reproduce on demand, but what we've seen is that a topic that receives no messages for a few days (2+) will not pickup new messages when they are added and the call will hang

[2022-04-11 10:09] seveas opened #17515 "sdk/storage/azblob: BlobClient is missing a way to set a lease id in SetTags"
### Bug Report

When I try to call [SetTags](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob#BlobClient.SetTags) for a blob on which I hold a lease, I get the following error:

[code]

Looking at the [rest api docs](https://docs.microsoft.com/en-us/rest/api/storageservices/set-blob-tags), I see the lease id must be provided in this case. However, [SetTagsBlobOptions](https:

[2022-04-11 11:18] seveas commented on #17515
Patching with the patch below makes it work. This does not work as a PR though, as this changes a generated file and I have no idea how to properly update those:

[code]

[2022-04-11 15:27] jhendrixMSFT commented on #17499
We do publicly export `ResponseError` from the `azcore` package so you can use `errors.As` on it.

https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azcore/errors.go#L16

As for the long error message, we return the info as provided by the service, and I agree that this isn't great in some cases.  Maybe @ealsur can provide more info.

[2022-04-11 16:34] chkohner commented on #17450
Also, if you're going to export internals, please make sure they are fully exported. Atm, you export `azcore.TokenCredential = shared.TokenCredential` but not the corresponding TokenRequestOptions used as a parameter (thus making the interface unusable in practice). Also, it's unclear from a consumer perspective what the distinction between azcore and azpolicy is. (Which, btw, `azpolicy.TokenReque

[2022-04-11 16:41] chkohner commented on #17450
As an additional note, if you're considering NOT exporting key internals at all, that'd be really unfortunate. If they are exported (correctly), I can at least leverage key components (e.g. `azidentity` for managed identities) to make generic REST calls to Azure endpoints that don't have great Go SDK support yet.

[2022-04-11 16:49] ealsur commented on #17499
The error message is provided by the service, there is no generation or interference from the Go SDK into it. The message will vary in size and content depending on the error itself. I agree for this particular case, the content is rather large and including a lot of data from the service itself, this seems to be a service issue. For your case, the important part is the first sentence that points

[2022-04-11 16:50] haitch commented on #17499
thanks a lot! **azcore.ResponseError** does works for me.

[2022-04-11 16:51] #17499 closed

[2022-04-11 17:05] ajain-cldcvr opened #17520 "Unsupported api-version for armservicebus ListKeys() method"
### Bug Report

Recently I upgrade `github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/servicebus/armservicebus` to  `v0.3.1`

I am using `ListKeys()` method from the `NamespacesClient` which is defined [here](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/resourcemanager/servicebus/armservicebus/zz_generated_namespaces_client.go#L728)

But After the upgrade I started to receive error

[2022-04-11 17:55] richardpark-msft commented on #17408
If either of you is able to capture this failure in a log that would help. We did fix this particular issue in 0.4.0:

"Fixed issue where a message lock expiring would cause unnecessary retries. These retries could cause message settlement calls (ex: Receiver.CompleteMessage) to appear to hang. (#17382)"

Which could explain the reason why it seems to hang. What you'd see in the log (if this were

[2022-04-11 17:57] SpaWn2KiLl commented on #17408
Hello @richardpark-msft

I have a service running for 4 days and it is still consuming properly with 0.4.0. I think it fixed

[2022-04-11 18:04] ItalyPaleAle opened #17522 "sdk/azcore: TokenCredential should not be internal"
### Bug Report

In `sdk/azcore`, the `TokenCredential` interface, as well as related structs such as `TokenRequestOptions` are in an internal package and cannot be used by third-party code.

We are working with APIs that are not supported by the SDKs yet, including some that have no roadmap to be supported. In order to interact with them, we need to retrieve access tokens. Because the `TokenReques

[2022-04-11 19:43] richardpark-msft commented on #16088
hi @tkent, do you mind filing a separate issue for this? What you're mentioning is different than the original issue filed, and it's simpler to track yours separately.

[2022-04-11 19:43] richardpark-msft commented on #16088
@vangent , 0.4.0 has been released with this fix. Sorry about the earlyclose on that.

[2022-04-11 19:43] #16088 closed

[2022-04-11 20:40] #17424 closed

[2022-04-11 20:53] juliusl commented on #15042
@favoretti So this change has been deployed to all regions in the public cloud. I'm wasn't able to get your new branch to compile,

[code]
Looks like some module conflicts, but you should be able to re-run your testing again.

[2022-04-11 20:56] favoretti commented on #15042
@juliusl we released a rebased version this week, it seems it works! Thank you very much.

[2022-04-11 21:05] juliusl commented on #15042
@favoretti Awesome! Glad it is working.

[2022-04-11 21:25] chlowell commented on #17522
`TokenCredential` and `TokenRequestOptions` are exported, though from different packages, so it's possible to implement custom credential types and acquire a token from any credential type in `azidentity`:
[code]

[2022-04-11 21:41] ItalyPaleAle commented on #17522
Thanks for the explanation. I'll take a look at that and will let you know if I run into any issue.

[2022-04-11 21:49] jhendrixMSFT commented on #17450
I agree that `azcore` shouldn't be exporting content from `internal`.  I think some of this design predates when we refactored `azcore`.  The only wrinkle here is how to handle `Should()`, `Write()`, and `Writef()`.  The current implementation permits only SDK authors to call these funcs as they live in `internal` which at some point we thought was desirable.  How much do we really care about that

[2022-04-11 22:19] JeffreyRichter commented on #17450
These are for logging, right? If so, I think it still best that only client lib authores beable to call them. Our logging infrastrutue is for logging client lib operations and is not designed as a general purpose logging mechanism for customers to use themselves.

[2022-04-11 23:30] chlowell commented on #16728
Closing this because the remaining work is tracked elsewhere

[2022-04-11 23:30] #16728 closed

[2022-04-11 23:33] jhendrixMSFT commented on #17450
Correct, this is just for logging.

In essence, the `internal/log.Event` type is an extensible enum type, intended to be extended by SDK authors, and used by customers when programmatically selecting a subset of events to log.

Its APIs are split into two buckets.  One is intended to be called by customers, and the other to be called by SDK authors.  In order to enforce this dichotomy, the buckets

[2022-04-11 23:40] vangent commented on #16088
Works, thanks!

[2022-04-12 00:26] vangent commented on #17472
@richardpark-msft

I'm trying to pick up `github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus v0.4.0` for a bug fix, and am running into this problem. I also use `github.com/Azure/azure-storage-blob-go v0.14.0`.  I don't have any direct dependency on `azcore` or `azkeys`.

Is there any way to use these two Azure packages together with `go 1.17`?

[2022-04-12 00:27] vangent commented on #17472
[code]

[2022-04-12 01:20] juliusl commented on #15042
@ArcturusZhang I think we can close this issue now

[2022-04-12 05:51] tadelesh commented on #17430
@diyor-uptycs I've tried the API and it works fine. Could you please paste your code here?
![image](https://user-images.githubusercontent.com/1726438/162889712-a8e97fe3-7896-483d-9b15-4055645ee258.png)

[2022-04-12 06:06] ms-henglu opened #17539 "Increase User Agent Maximum length"
### Feature Request

Currently, the `user agent` only supports maximum length of 24 characters which is too short.
For example, we have a terraform provider, its name almost exceeds the limitation `terraform-provider-azapi` and there're more necessary information that we need to put into `user agent`. Would you please remove this limitation?

https://github.com/Azure/azure-sdk-for-go/blob/main/sdk

[2022-04-12 06:09] diyor-uptycs commented on #17430
@tadelesh Can you expand `Resources` field? Can you see `properties` and `location` fields being not nil?
Try to compare those two fields to the result (the same fields) from the CLI command (az vm list --resource-group {group_name}).
Result of the CLI command provides value to those fields.

[2022-04-12 08:05] ArcturusZhang commented on #17470
Hi @magodo thank you for this issue.
I confirmed this as a bug in the track 1 Go code generator. I will fix this in the generator and release a new version of this package ASAP.

[2022-04-12 09:50] tadelesh commented on #17430
@diyor-uptycs Sorry for misunderstanding. You are right. The HTTP response for list API seems lose some param. CLI might use some special logic to put back such param. I'll involve the service team to have a look. Thanks for the feedback.

[2022-04-12 15:30] jhendrixMSFT commented on #17539
The constraints on the application ID come from the [general SDK guidelines](https://azure.github.io/azure-sdk/general_azurecore.html#telemetry-policy), so this isn't something that we can just change without a highly compelling reason.  In addition, there's value in keeping User-Agent content short and concise.

If you need to add additional data to the User-Agent, you'll need to write your own p

[2022-04-12 16:48] jhendrixMSFT commented on #17458
@RickWinter who's the right person to follow up on this?

[2022-04-12 18:36] #17490 closed

[2022-04-12 19:15] sandeep-sen opened #17553 "Constants for azservicebus function azlog.SetEvents are not publicly accessible"
I was running through README for `azservicebus` and found that the sample code favored passing string literals in the `SetEvents` function.
`azlog.SetEvents("azsb.Conn",...)`
[azservicebus/README.md#L249](https://github.com/Azure/azure-sdk-for-go/blob/6b8b2d958181884c8aa5eedbab4170c8c7a92907/sdk/messaging/azservicebus/README.md?plain=1#L249)
As it is difficult for the user to remember these string

[2022-04-12 20:29] richardpark-msft commented on #17472
Hi @vangent , the upgrade to Go 1.18 is SDK-wide, so there isn't an azservicebus package that will work on an earlier version.

In your particular case, azcore is depended on by azservicebus.

[2022-04-12 21:15] RickWinter commented on #17458
@ThorstenHans Can you share which version of the library you are currently using.

[2022-04-12 21:20] vangent commented on #17472
@richardpark-msft OK. That is disappointing; forcing your users to update to the single latest version of `go` is pretty aggressive. I'm not willing to do it for my project (we've committed to supporting the latest 2 versions), which I guess means that I can't update any Azure packages until `go.1.19` comes out.

[2022-04-12 21:50] chlowell opened #17554 "Add authentication challenge support to BearerTokenPolicy"
Key Vault and Tables have vendored `BearerTokenPolicy` and `ExpiringResource` from `azcore` to implement their challenge protocols. It would be better if they could implement just their challenge handling logic and plug it in to `azcore/runtime.BearerTokenPolicy` with a callback, for example.

[2022-04-12 23:38] jhendrixMSFT commented on #5921
@ArcturusZhang I believe this has been resolved?

[2022-04-12 23:44] jhendrixMSFT commented on #10813
@seankane-msft do you know if this has been fixed in `aztables`?

[2022-04-12 23:45] jhendrixMSFT commented on #11916
@seankane-msft is this supported in `azkeys`?

[2022-04-12 23:54] jhendrixMSFT commented on #14944
From your devops pipeline, you're on a really old version of Go that's no longer supported.  In this specific case, we've taken a dependency on the `io/fs` package in the standard library that was introduced in [Go 1.16](https://go.dev/doc/go1.16).  You'll need to update to 1.16 or later in order to resolve this build failure.

[2022-04-12 23:58] jhendrixMSFT commented on #15799
We'll leave durations in string format.

[2022-04-12 23:58] #15799 closed

[2022-04-12 23:59] jhendrixMSFT commented on #15855
@seankane-msft I believe you implemented this?

[2022-04-13 00:47] zman-ms opened #17556 "Request for SQL query support and MSI support"
### Feature Request

1. We need to expose a way to send SQL queries from a client.

2. Auth with MSI is needed.

[2022-04-13 00:48] chlowell commented on #8328
Yes, this was closed by #16942

[2022-04-13 00:48] #8328 closed

[2022-04-13 07:44] orzel7 opened #17565 "Unable to cancel client.AcceptNextSessionForQueue(..) function"
pkg: github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus

SDK version: v0.4.0

go version: go 1.18

What happened?

function client.AcceptNextSessionForQueue(ctx, queueName, options) is not cancellable by context, passed as first argument. For example, if I want to interrupt this function by signal or by timeout, I need to wait about 1 minute before function exits with error "context canc

[2022-04-13 10:00] bingosummer opened #17569 "services/authorization/mgmt/2020-10-01/authorization uses the apiversion "2015-07-01""
### Bug Report

- What happened?

https://github.com/Azure/azure-sdk-for-go/tree/main/services/authorization/mgmt/2020-10-01/authorization still uses the apiversion "2015-07-01".
https://github.com/Azure/azure-sdk-for-go/blob/main/services/authorization/mgmt/2020-10-01/authorization/roleassignments.go#L93

- What did you expect or want to happen?

Since the directory is "2020-10-01/", I think, the

[2022-04-13 14:07] #15855 closed

[2022-04-13 14:12] seankane-msft commented on #11916
@connor4312 this has been added to the latest `azsecrets` release. The [`Secret`](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/keyvault/azsecrets#Secret) type returned by most methods involving secrets will have the Name and ID for each secret. The Name property is parsed from the ID. If you want to get the Version, the [`Properties`](https://pkg.go.dev/github.com/Azure/azure-sdk-for-g

[2022-04-13 14:14] seankane-msft commented on #10813
I'm not sure what the solution to this issue is. There is a slight delay by the service to delete a table, and you cannot create a table with the same name immediately afterwards. However, you can loop on a `CreateTable` call when the response is a 409, but there is not built in method in the SDK for retrying this operation.

[2022-04-13 14:16] jhendrixMSFT commented on #10813
Would it make sense to model Delete as an LRO?  What do the other languages do?

[2022-04-13 14:18] seankane-msft commented on #10813
Other languages do not model delete as an LRO, we have the same implementation as other languages. I don't believe other languages have a built in way to do any polling for this method.

[2022-04-13 17:15] jhendrixMSFT commented on #10813
I've updated the docs for `CreateTable` and `Delete` to explain the nuance here.

[2022-04-13 17:15] #10813 closed

[2022-04-13 19:40] #17460 closed

[2022-04-13 19:46] #17553 closed

[2022-04-13 22:25] chlowell opened #17580 "Decide what to do with vestigial ARM cross-tenant authentication API"
Cross-tenant authentication is particular to ARM and required for some uncommon scenarios. We have API for one possible implementation, though so far as I can tell it never worked:
- `azcore/arm.ClientOptions.AuxiliaryTenants` gives clients a list of auxiliary tenants
- `azcore/policy/TokenRequestOptions.TenantID` lets the ARM auth policy request a token for a tenant which may not be the one the c

[2022-04-14 00:17] jhendrixMSFT commented on #17565
I observe a hang waiting for an ack during link attachment.  I'm wondering if this is due to no sessions being available.
[code]
Eventually, service bus sends us a detach as the operation timed out.

@richardpark-msft is `AcceptNextSessionForQueue()` a blocking call until a session is available?  There's no doc comment explaining the behavior.

[2022-04-14 07:25] ketanpp commented on #17421
Just FYI. I have gone through code and one thing i found in  filterBlobsCreateRequest it is Encoding param for Url using Encode method as follows
req.Raw().URL.RawQuery = reqQP.Encode()
as Encode() converts space to + which making problem at Azure
I have tried to query blobs by tags using azure cli which invoke azure REST API and encode query parameter space to %20
So we can use url.PathEscape ins

[2022-04-14 13:59] dz-sourced opened #17591 "DscConfigurationClient.GetContent is broken since `2020-01-13-preview/automation` API version"
### Bug Report

**Summary:**
When trying to read back a DSC Configuration content using `func (client DscConfigurationClient) GetContent` an error happens in the version of the API `2020-01-13-preview/automation` and later while trying to unmarshall DSC Configuration content from JSON. DSC Configurations are not valid JSON objects and thus unmarshalling fails. This issue was not happening in `2018

[2022-04-14 14:16] jhendrixMSFT commented on #17103
@msft-adrianma is this API version going to be deployed soon, or should we revert our SDK to use 2019-04-01?

[2022-04-14 16:16] #17449 closed

[2022-04-14 16:40] jhendrixMSFT commented on #17565
Looking at the [docs](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs#L390) for the C# implementation, I believe this is the expected behavior.  We will need to update `go-amqp` to take a `context.Context` in these cases (probably should have been there from the start).

[2022-04-14 17:09] gaoyp830 commented on #17103
@jhendrixMSFT We have updated our manifest with 2021-07-01 version and it's currently in SDP. ETA is next Monday.

[2022-04-14 17:10] #17362 closed

[2022-04-14 17:21] bingosummer commented on #17569
cc @Alancere @lirenhe

[2022-04-14 18:02] richardpark-msft commented on #17565
Interesting, this would need to be up the entire chain:

[code]

In this particular case the "hanging" call is probably the worst offender. I don't think go-amqp itself is lazy, so adding cancellation into `NewReceiver()` initially and get the biggest bang for our buck there. I think this might be the first case in go-amqp where we cancel an operation that is actually in-flight with the service. S

[2022-04-14 21:07] chlowell opened #17594 "Add APIView approval release gate"
We want a step that blocks a stable release whose API hasn't been approved in APIView.

[2022-04-14 22:07] richardpark-msft commented on #17565
@orzel7, glad to see you again (although sorry it's because of a bug)

I'll be taking a look at this. At a high level we'll probably have to handle this cancellation within azservicebus, rather than go-amqp (like @jhendrixMSFT and I initiallly discussed) mostly because there's some state to rollback and that's a bit easier in azservicebus at this time.

I'll update with a PR soon.

[2022-04-14 23:48] chlowell commented on #17580
After discussing this offline we decided to remove the API ahead of the next release and restore it with a full implementation in the future.

[2022-04-15 03:40] lirenhe commented on #17569
@bingosummer, the SDK is generated based on the readme config in https://github.com/Azure/azure-rest-api-specs/blob/main/specification/authorization/resource-manager/readme.md#tag-package-2020-10-01

Some of the Swagger are with earlier version. So could you try to use another version or preview version of this SDK?

[2022-04-15 07:30] bingosummer commented on #17569
[code]

I hit the above error when assigning a role.

Seems the azure-sdk-for-go has only two versions for authorization (2015-07-01 and 2020-01-01). Is there a way to use another version or perview version of this SDK?

I checked the azure cli debug log, and found it's using api version `2020-04-01-preview`. azure-sdk-for-python has many versions for authorization. https://github.com/Azure/azure-

[2022-04-15 16:33] weinong commented on #15605
@chlowell is it implemented in msal-for-go? or it needs to be implemented in azidentity?

[2022-04-15 16:56] chlowell commented on #15605
We're waiting on https://github.com/AzureAD/microsoft-authentication-library-for-go/issues/240. Once that's done, I expect to follow the .NET SDK implementation in azidentity by reading an environment variable for the region and otherwise relying on MSAL's region discovery i.e., no new API in the SDK.

[2022-04-15 17:34] jhendrixMSFT opened #17613 "Storage error handling and docs need to be improved"
It's unclear what error type(s) are expected to be returned from API calls.  In addition, seems like `InternalError` can be removed.

It would be ideal if storage can just use `azcore.ResponseError` instead of a custom error type as this is against the design guidelines.

[2022-04-15 17:37] jhendrixMSFT commented on #17263
Dupe of https://github.com/Azure/azure-sdk-for-go/issues/16972

[2022-04-15 17:37] #17263 closed

[2022-04-15 18:50] weinong commented on #15605
it'd be very crucial for AKS to adopt the azidentity/msal for ests-R support. Do you happen to know when it will be done?

[2022-04-15 19:13] chlowell commented on #15605
I haven't discussed it with the MSAL team yet. I'll tell them it's a high priority for us.

[2022-04-15 19:20] jhendrixMSFT opened #17615 "Support password credentials flow for federated users"
Ported from https://github.com/Azure/go-autorest/issues/378

[2022-04-15 22:29] jhendrixMSFT commented on #17522
For some additional context, there are two reasons why we have internal types that are exported via type aliases.
- To break cyclic dependencies.
- To offer a type in one package (e.g. `azcore`) but its usage in another (e.g. `runtime`).

I've refactored the internal content that's actually exported under an `internal/exported` package to make it clear.  In this process, it was discovered that we

[2022-04-16 00:01] #17565 closed

[2022-04-16 00:09] richardpark-msft commented on #17565
Hi @orzel7, a fix has been merged. Our official package releases are monthly so this isn't tagged, but you can retrieve it using the commit itself:

go get github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus@63195b99ab9a611a0e5c9cb85a3a49390f4c6855

[2022-04-17 09:30] bingosummer commented on #17569
switched to template deployment with the version `2020-04-01-preview` as a workaround.

[2022-04-18 02:08] lirenhe commented on #17569
@bingosummer,  you could find the preview version here https://github.com/Azure/azure-sdk-for-go/tree/main/services/preview/authorization/mgmt/2020-04-01-preview/authorization

[2022-04-18 06:24] Avinodh opened #17634 "TextAnalysis GO SDK - Support for Opinion mining"
### Feature Request

[2022-04-18 06:28] Avinodh commented on #17634
More generally, it would be great to have full client feature parity in the GO SDK for textanalysis as compared to the [Python](https://github.com/Azure/azure-sdk-for-python/tree/azure-ai-textanalytics_5.1.0/sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics), C#, and other "first-class" language SDKs in the official docs.

[2022-04-18 17:51] SaurabhSharma-MSFT commented on #17634
@Avinodh We are looking into it and get back to you for any additional information.

[2022-04-18 20:10] matthchr commented on #17470
Any update on this? It seems broken in v63.3.0 as well.

[2022-04-18 22:40] chlowell commented on #14932
Waiting on https://github.com/AzureAD/microsoft-authentication-library-for-go/issues/296. Public API for this was prematurely implemented in `azcore` and removed by #17640.

[2022-04-18 22:57] #15686 closed

[2022-04-19 02:25] #17569 closed

[2022-04-19 06:22] adityabalaji-msft commented on #2822
Hi @jeffpatton1971 - sincere apologies for the delay as this was being investigated. To answer your question, currently many of the workload types shown in the above auto-generated doc are not actively supported today (these likely came up because of certain resources in our non-production environment - we will work on fixing our help texts etc. so that these types don't show up in the future).

T

[2022-04-19 07:53] ArcturusZhang commented on #17591
Hi @dz-sourced thank you for this issue!

By looking at the error message, it is very likely to be an issue that the service is returning something uncompatible with its swagger. But could you please paste the request log here so that we could confirm where does this issue come from?

[2022-04-19 09:45] mohsha-msft commented on #17613
Ack. Targeting for release `0.5.0`

[2022-04-19 09:48] mohsha-msft commented on #17515
Hey @seveas ,

Thanks for pointing this out!

I've fixed it and will release the it next release.

[2022-04-19 09:50] mohsha-msft commented on #17423
Done. Will be fixed in next release.

[2022-04-19 10:31] mohsha-msft commented on #17150
Done. Will be fixed in next release i.e. `0.4.0`.

[2022-04-19 11:39] 0x113 opened #17648 "ListClusterAdminCredentials returns empty list without any error."
### Bug Report

- import path of package: `github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2022-01-01/containerservice`
- SDK version: `master`
- output of `go version`: `go version go1.17.3 linux/amd64`

- What happened?
I wanted to list cluster admin credentials, but the `ListClusterAdminCredentials` retruns an empty list, though the API requested (made from postman) returns val

[2022-04-19 13:18] #15921 closed, assigned to Alancere

[2022-04-19 15:25] jhendrixMSFT opened #17650 "Review high-level upload/download APIs"
I see the following.

[code]

Why do we have separate APIs for this?  Seems like we should upload from an `io.Reader` and download to an `io.Writer` which covers both cases.

If there are legit cases where we need them that's fine, just want to make sure we enumerate the differences.

[2022-04-19 15:40] shana commented on #17358
@youyu16 @lirenhe That is not relevant for this issue. This is not about what the API returns, it's about how it handles the sensitive values.

1. The server side API only saves the sensitive values if `registerBeforeOAuthFlow` is set to `true`.
2. By default, `registerBeforeOAuthFlow` is set to be `false`.
3. `registerBeforeOAuthFlow` is marked `read only` in the API spec.
4. SDK clients see the

[2022-04-19 16:02] #17539 closed

[2022-04-19 16:35] chlowell commented on #17615
Closing this as a duplicate of #14405. Current status is that we're waiting on MSAL to support federated user authentication.

[2022-04-19 16:35] #17615 closed

[2022-04-19 17:23] jhendrixMSFT opened #17653 "Review Poller.PollUntilDone method"
[PollUntilDone](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azcore/runtime/poller.go#L134) takes a context and a `time.Duration` parameter that's used as the sleep interval between polls when there's no `Retry-After` header.  I have two concerns with this method.

1. It's not clear what value to use for `freq`.
2. There is no options bag to accommodate future expansion.

For the first

[2022-04-19 18:14] RickWinter opened #17654 "Add CredScan"
Similar [to how this is done in .NET](https://github.com/Azure/azure-sdk-for-net/blob/0eeac2c4bac280cea01e208938ee5d1db5fc3697/eng/pipelines/aggregate-reports.yml#L151)

[2022-04-19 19:43] dz-sourced commented on #17591
Hey @ArcturusZhang, do I need to initialize the logger in any way? I set then env variable as you asked, but I don't see any debug logs. You can see the code I'm using here https://gist.github.com/dz-sourced/11654206078fcc159c54564de6758659

[2022-04-19 20:46] #12183 closed

[2022-04-19 20:46] #17580 closed

[2022-04-20 04:01] #14944 closed

[2022-04-20 05:06] mohsha-msft commented on #17515
Hey @seveas ,

[azblob v0.4.0](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob#BlobClient.SetTags) is now publically available. I have fixed the issue [here](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob#BlobSetTagsOptions).

Please reach out and reopen the issue if it still persists.

Thanks a lot for your feedbacks!

[2022-04-20 05:06] #17515 closed

[2022-04-20 05:10] #17423 closed

[2022-04-20 05:17] mohsha-msft commented on #17188
Hey @hy3 ,

[azblob v0.4.0](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob) is now publically available. I have fixed the issue [here](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob#BlobURLParts) and [here](https://github.com/Azure/azure-sdk-for-go/blob/sdk/storage/azblob/v0.4.0/sdk/storage/azblob/zc_parsing_urls.go#L135).

Please reach out and reo

[2022-04-20 05:17] #17188 closed

[2022-04-20 05:22] mohsha-msft commented on #17335
Hey @andrewbaxter @bcvanmeurs  ,

[azblob v0.4.0](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob) is now publically available. I have fixed the issue [here](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob#ContainerClient.ListBlobsFlat).

Please reach out and reopen the issue if it still persists.

Thanks a lot for your feedbacks!

[2022-04-20 05:22] #17335 closed

[2022-04-20 05:33] mohsha-msft commented on #17152
Hey @ItalyPaleAle ,
[azblob v0.4.0](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob) is now publically available. I have fixed the issue [here](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob#BlockBlobClient.UploadStream) and [here](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/storage/azblob/chunkwriting.go#L197).

Please reach out and reo

[2022-04-20 05:33] #17152 closed

[2022-04-20 05:34] mohsha-msft commented on #17131
Hey @ItalyPaleAle ,

[azblob v0.4.0](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob) is now publically available. I have fixed the issue [here](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob#BlockBlobClient.UploadStream) and [here](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/storage/azblob/chunkwriting.go#L197).

Please reach out if it

[2022-04-20 05:35] mohsha-msft commented on #17061
Hey @patrickrad ,

[azblob v0.4.0](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob) is now publically available. I have fixed the issue [here](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob#BlockBlobClient.UploadStream) and [here](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/storage/azblob/chunkwriting.go#L197).

Please reach out and reop

[2022-04-20 05:35] #17061 closed

[2022-04-20 05:36] mohsha-msft commented on #17150
Hey @kimprice ,

[azblob v0.4.0](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob) is now publically available. I have fixed the issue [here](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/storage/azblob/highlevel.go).

Please reach out and reopen the issue if it still persists.

Thanks a lot for your feedbacks!

[2022-04-20 05:36] #17150 closed

[2022-04-20 05:38] mohsha-msft commented on #16972
Hey @chlowell ,

[azblob v0.4.0](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob) is now publically available. I have made the necessary changes.

Thanks a lot for your feedbacks!

[2022-04-20 05:38] #16972 closed

[2022-04-20 05:40] mohsha-msft commented on #16786
Hey @jhendrixMSFT ,

[azblob v0.4.0](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob) is now publically available. I have made necessary changes [here](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/storage/azblob/autorest.md).

Thanks a lot for your feedbacks!

[2022-04-20 05:40] #16786 closed

[2022-04-20 05:52] mohsha-msft commented on #16679
Hey @jkowalski , @berndverst , @evenh , and @deiter,

[azblob v0.4.0](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob) is now publically available. I have fixed the issue [here](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob#ContainerClient.ListBlobsFlat) and [here](https://github.com/Azure/azure-sdk-for-go/blob/8dce4d522a207952d9f0ac2b56b61b9b595b6

[2022-04-20 05:52] #16679 closed

[2022-04-20 05:58] mohsha-msft commented on #17472
[azblob v0.4.0](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob) is now publically available. Please take a look at [go.mod file](https://github.com/Azure/azure-sdk-for-go/blob/sdk/storage/azblob/v0.4.0/sdk/storage/azblob/go.mod). It required minimum Golang version >= 1.18. It points to azcore 0.23.

[2022-04-20 07:54] magnus-fors commented on #16219
Any ETA for when TokenCredentials might be supported?

[2022-04-20 11:35] navba-MSFT commented on #17648
@0x113 Thanks for reaching out to us and sharing this feedback. We will look into this and get back to you once we have an update.

[2022-04-20 11:39] 0x113 commented on #17648
Thank you @navba-MSFT.

[2022-04-20 11:52] navba-MSFT commented on #17648
@0x113 Could you share your complete sample code snippet here too ? So that we can debug the same code. Awaiting your reply.

[2022-04-20 13:32] 0x113 commented on #17648
Maybe not a full snippet, but I think the most crucial part:
[code]

I check and I use the same data in my API call. Also, I did some initial debugging, and I used `ListClusterAdminCredentialsPreparer` to see the request. From there, the URL matches the one I use in Postman to call Azure API. But, I tried to send that request with both `http.Client`, and `aksClient.Send` ( I did not use any decora

[2022-04-20 15:33] #17145 closed

[2022-04-20 16:02] #11916 closed

[2022-04-20 16:07] eccles opened #17670 "Azblob: DownloadBlobToWriterAt gets context cancelled"
### Bug Report
import azStorageBlob "github.com/Azure/azure-sdk-for-go/sdk/storage/azblob"
0.3.0
go version go1.17.7 linux/amd64

Attempts to download a blob with the following call:

[code]

when calling using a http.ResponseWriter as the io.Writer results in a context cancelled error **most** of the time.
About 1 in 4 attempts are successful.

The error is "copied to out with errors: context can

[2022-04-20 16:23] eccles commented on #17670
Note that various ctx args were tried such as context.Background() to no avail

[2022-04-20 16:42] JeffreyRichter commented on #17653
I'm fine with PollUntilDone taking a pointer to an options struct that (today) has just 1 freq field in it; nil would mean default.
Perhaps for ARM, you could set a default (30s). But for data-plane, I really struggle with allowing a default because it is so different across operations. In fact, even the same operation (like copy blob) could have a short delay for a small blob and a large delay fo

[2022-04-20 17:48] ealsur commented on #16219
It is currently a work item planned for this semester

[2022-04-20 18:09] benbp opened #17674 "Consolidate CI test strategy to use matrix generation"
- Consolidate CI test strategy to use matrix generation the way that live tests are currently configured
- Additionally, consolidate any outlier matrices, like `sdk/data/azcosmos/ci.yml`. I think we can ignore the track 1 matrix in `azure-pipelines.yml`

[2022-04-20 23:54] jhendrixMSFT opened #17679 "Make it easier for customers to figure out the API version used by a package"
### Feature Request

There's no easy way for a customer to figure out the API version in use by an SDK module.  You have to look at the implementing code (generated or otherwise) to figure it out.

Maybe this goes in the README.md for each module?

[2022-04-21 02:13] lirenhe commented on #17358
@youyu16, could you help to confirm whether the behaviour of 'registerBeforeOAuthFlow' is correctly defined in Swagger?
If not, please help to submit a PR for the Swagger fix and we could regenerate the SDK based on the updated Swagger spec. Thanks

[2022-04-21 07:15] andrholt opened #17686 "sdk/azservicebus: Set retry options in client on initalization"
### Set retryOptions in service bus client when initializing client

When initializing a new service bus client, a set of options can be provided. The retryOption property in client is never set from input parameter, it is only used to create namespace interface. When creating a new sender with client, default retryOptions is used, and not from clientOptions, and it is not possible to customize th

[2022-04-21 07:34] diyor-uptycs opened #17687 "[StorageBlob] Inconsistent Blob parameters between SDK and CLI output"
### Bug Report

- Package  -
     - **v63.0.0**
	`storage "github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage"`
	`storage "github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-08-01/storage"`
     - **v63.3.0**
	`storage "github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage"`
- SDK version -  `v63.0.0`, `v63.3.0 (latest)`
- Go version `go1.17.8

[2022-04-21 09:12] DaddyBlues commented on #17500
thank you for your concern. im still having an issue of duplication id expecially on Azure portal. i donno that there is another user on the same email which is setup as global admin which i though its my role. i need to get back to my account on Daddy Blues but not Daddy Rock. Daddy Rock is the hacker who been hacking me since 40 days. need suupport and i always given an old page year 2020 from h

[2022-04-21 10:08] lirenhe commented on #17687
@tadelesh, could you take a look?  Thanks

[2022-04-21 10:10] lirenhe commented on #17679
In mgmt SDK, the module may contain APIs with different apiversion, how to display that information in readme?

[2022-04-21 14:21] jhendrixMSFT commented on #17500
This appears to be spam so I'm locking the conversation.

[2022-04-21 14:21] #17500 closed

[2022-04-21 17:17] jhendrixMSFT commented on #17679
I agree, this has been a confusing aspect of our packages for years.  I don't know that composite packages will go away completely, but I would like to see that we don't include preview APIs with stable APIs and call the package "stable".

CC @mikekistler @JeffreyRichter

[2022-04-21 17:59] dz-sourced commented on #17591
Actually, I have figured it out, need to set AZURE_SDK_GO_LOG_LEVEL=DEBUG first. @ArcturusZhang you can find the log here https://gist.github.com/dz-sourced/050d6b14a80c231a13840171dcfd7a6b I have redacted the subscription id.

[2022-04-21 18:50] richardpark-msft commented on #17686
@andrholt, thank you for reporting this. Working on this now.

[2022-04-21 19:42] princjef opened #17694 "Moving go modules to v1+"
### Feature Request

Is there any plan as part of #14387 to move the inner packages to v1+ versions? We make use of multiple packages in this repo both directly and indirectly that have had multiple breaking releases on their v0.x releases. Any time we have to update one of them it creates immense pain because we have to try to find or force the various dependencies in our system to use the exact

[2022-04-21 20:34] jhendrixMSFT commented on #17694
The modules under the `/sdk` directory will indeed go to `v1.0.0` and follow semver rules once they're out of beta status.  I can't comment on when this will happen and will defer to others.

[2022-04-21 21:05] #15626 closed

[2022-04-21 23:55] jhendrixMSFT opened #17698 "Fold arm/runtime/poller.go logic into runtime/poller.go"
After the LRO refactoring, we might no longer need separate poller.go files.

To do:
Testing end-2-end
Flushing out the bugs :)

[2022-04-22 05:06] bobokids commented on #17358
@shana , currently it's be design to keep registerBeforeOAuthFlow as false. when you call the API, you can get the rediectAction URL in response payload, and that will trigger the Slack UI to validate user and consent scopes, after consent by Allow button, bot service will be called and get the validated token. Would you try if this flow works for you?
Would you let us know what the scenario is fo

[2022-04-22 08:46] eccles commented on #17670
I have reworked the code to get the Body and feed that as a Reader to io.Copy.

`       resp.BlobClient = azp.containerClient.NewBlobClient(identity)
        resp.CountToEnd = int64(azStorageBlob.CountToEnd)
        get, err := resp.BlobClient.Download(
                ctx,
                &azStorageBlob.DownloadBlobOptions{
                        BlobAccessConditions: &resp.blobAccessConditions,

[2022-04-22 11:49] shana commented on #17358
That flow doesn't work in an automation scenario, this is being used to manage channels with terraform in CI. Slack tokens are managed separately and provided to the API, having it redirect to a UI for manual interaction is not feasible, obviously, this is running in a headless automation environment.

The slack token information works just fine with any manual steps if I pass registerBeforeOauthF

[2022-04-22 11:53] csandanov opened #17707 "PostgreSQL single server db creation doesn't actually create a database"
### Bug Report

This is how I create it:

[code]

go version `go1.17.8 darwin/amd64`
sdk version: `v62.2.0`

It's PostgreSQL 11 (GP_Gen5_2), no error returned when I run the code but then I connect via `psql` to list databases I don't see my new db. I tried creating a db via azure cli and it worked fine.

[2022-04-22 16:54] #16220 closed

[2022-04-22 17:10] jhendrixMSFT commented on #17707
The `CreateOrUpdate()` API is a long-running operation (LRO) so it doesn't complete synchronously.  For LROs, we return a `Future` type to indicate this.

https://github.com/Azure/azure-sdk-for-go/blob/main/services/postgresql/mgmt/2020-01-01/postgresql/databases.go#L42

You'll need to call `WaitForCompletionRef()` on the future which will block until the LRO has reached a terminal state (success

[2022-04-22 17:26] jhendrixMSFT commented on #17653
Fixed in upcoming `azcore@v0.24.0`

[2022-04-22 17:26] #17653 closed

[2022-04-22 18:46] SaurabhSharma-MSFT commented on #17670
@eccles We are looking into it and get back to you for any additional information.

[2022-04-22 21:45] jsquire opened #17713 "Service Bus: Custom Endpoint Address Support"
# Summary

When using an Express Route circuit, there are some configurations which are not able to open the initial connection to the Service Bus service using the fully qualified namespace as the connection endpoint.  In these cases, a custom endpoint address is needed to ensure the correct routing for the connection but should only be used when first establishing the connection; after that poin

[2022-04-22 21:45] jsquire commented on #17713
//fyi: @richardpark-msft

[2022-04-23 01:35] #17686 closed

[2022-04-23 04:10] csandanov commented on #17707
Thank you! Turns out the issue is caused by the invalid charset/collation, but the error returned only when execute `WaitForCompletionRef`

[2022-04-23 04:10] #17707 closed

[2022-04-23 15:50] mikekistler commented on #17679
@jhendrixMSFT We absolutely should not include preview APIs with stable APIs and call the package "stable".  This is forbidden by the [general Azure SDK Guidelines](https://azure.github.io/azure-sdk/general_design.html#service-api-versions):

I think we should check for violations of this guideline in our PR pipeline and throw an error if there are any preview APIs included in a stable SDK.  Shoul

[2022-04-24 13:24] bobokids commented on #17358
@shana , thanks for the clarification. We will fix the issue per the description. An item in Bot Service repo was created to track the issue [here](https://github.com/microsoft/BotFramework-Services/issues/335).

[2022-04-25 06:53] navba-MSFT commented on #17648
@0x113 I tried to reproduce the issue using the sample code you had provided but it worked for me. I was able to fetch the Kubeconfig details:

![image](https://user-images.githubusercontent.com/57353862/165035553-cb154cb3-a7b7-4174-b57f-37a67e29e41f.png)

Sharing the screenshot here. Could you confirm if this is what you were looking for ? Awaiting your reply.

[2022-04-25 10:43] elahmo opened #17727 "Receive scheduled messages"
### Feature Request

If possible, it would be good to be able to receive scheduled messages.

[2022-04-25 16:50] StickNitro opened #17728 "ListForScope on RoleManagementPolicies Client to support filter"
### Feature Request

Currently the RoleManagementPolicies client does not support the ability to specify a `$filter` with the request. List for Scope will return ALL role management policies which could be hundreds of records when you are potentially only interested in a specific role management policy.

Microsoft sample indicates that this API can accept a `$filter` query string parameter where y

[2022-04-25 18:22] SaurabhSharma-MSFT commented on #17727
@elahmo We are looking into it and get back to you for any additional information.

[2022-04-25 19:56] richardpark-msft commented on #17727
CC: @jsquire, who would also be interested in customer feature requests.

[2022-04-25 20:02] richardpark-msft commented on #17727
@elahmo, can you give us an idea of what your scenario is for this?

[2022-04-25 22:15] jhendrixMSFT opened #17732 "Rename cloud.AzurePublicCloud to cloud.AzurePublic"
Per earlier discussion, remove the trailing "Cloud" which is redundant.

[2022-04-25 22:36] jhendrixMSFT commented on #17679
I think there needs to be more oversight and review of the README.md files in the specs repo.  For example, look at the following tag.

https://github.com/Azure/azure-rest-api-specs/blob/main/specification/automation/resource-manager/readme.md#tag-package-2022-01-31

Is building an SDK from this tag considered eligible for a stable release?  Given that it includes preview APIs in its set of inputs

[2022-04-26 07:26] tombuildsstuff commented on #17679
As a consumer of the SDK, I'd question why the API Version `2022-01-31` is calling out to different versions of the API at all?

My understanding is that the intention is to provide a single package for end-users to consume (e.g. a Go module/NuGet package etc) - containing whatever the latest and greatest of each version is - but in practice this masks which API version is being used by users. I f

[2022-04-26 08:51] tadelesh commented on #17687
@RickWinter I think this issue is about azblob. Could you help to triage? Thanks.

[2022-04-26 09:37] eccles commented on #17670
thank you for your attention - this is not urgent but will require a fix if we are to move to the new azure-sdk as recommended by yourselves.

[2022-04-26 09:57] JulesCohonner opened #17741 "NewListAllPager is failing to unmarshall type *armreservations.ListResult and return reservations"
### Bug Report

Module: "github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/reservations/armreservations@0.4.0"
SDK Version: v63.4.0+incompatible
Commit: https://github.com/Azure/azure-sdk-for-go/commit/4dbc884ed47f19c14c6beb157aa2efca9cd66c8d
Go Version: go1.18.1 darwin/amd64

- What happened?

Using the example from https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/rese

[2022-04-26 11:44] mikekistler commented on #17679
Cc: @Josephine ***@***.***>

Agreed and you are not the only one raising this concern. There are efforts underway to address this.

Mike

From: Joel Hendrix ***@***.***>
Date: Monday, April 25, 2022 at 5:36 PM
To: Azure/azure-sdk-for-go ***@***.***>
Cc: Mike Kistler ***@***.***>, Mention ***@***.***>
Subject: Re: [Azure/azure-sdk-for-go] Make it easier for customers to figure out the API version u

[2022-04-26 14:58] jhendrixMSFT commented on #17741
Looks like something in the [`ReservationProperties`](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/reservations/resource-manager/Microsoft.Capacity/stable/2022-03-01/reservations.json#L1951) that's specified as `date` is actually a `date-time`.

[2022-04-26 19:38] jhendrixMSFT opened #17743 "Provide abstraction for SDK authors to create custom polling trackers"
The current `runtime.Poller[T]` uses internal "polling trackers" to determine the behavior (Azure-AsyncOperation, Location, etc).  Some services might require custom polling trackers, e.g. the custom model trainer API for Form Recognizer uses a custom implementation (see python example [here](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/formrecognizer/azure-ai-formrecognizer/azure/a

[2022-04-26 21:10] mbfrahry opened #17744 "Service Fabric Cluster - ClientCertificateCommonName CertificateIssuerThumbprint is returning the wrong case"
### Bug Report

- `/servicefabric/mgmt/2021-06-01/servicefabric`
- `63.1.0`
- `go version go1.17.6 darwin/amd64`

When retrieving a service fabric cluster that is using ClientCertificateCommonName, the [CertificateIssuerThumbprint](https://github.com/Azure/azure-sdk-for-go/blob/main/services/servicefabric/mgmt/2021-06-01/servicefabric/models.go#L1140) is being returned as lower case. For additiona

[2022-04-26 21:43] #17732 closed

[2022-04-26 22:01] #17522 closed

[2022-04-27 09:50] navba-MSFT commented on #17687
@diyor-uptycs Apologies for the late reply. Thanks for reaching out to us and sharing this feedback.
Instead of using the packages at [github.com/Azure/azure-sdk-for-go/services/storage](https://github.com/Azure/azure-sdk-for-go/tree/main/services/storage) which is to manage storage accounts, Could you please use the below package which is for the data plane resources: containers, blobs and check

[2022-04-27 12:11] diyor-uptycs commented on #17687
@navba-MSFT Thank you for your reply.
We are already using [azblob](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/storage/azblob) package. The only problem is that BlobProperties struct doesn't contain `content`, `encryptedMetadata` and `requestServerEncrypted` fields. CLI output does have those fields.

[2022-04-27 14:28] jhendrixMSFT opened #17752 "Export ExpiringResource from /sdk/internal so SDKs can implement their own authentication policy"
### Feature Request

The bearer token policy uses a hard-coded format string for populating the `Authentication` header value.  This means that the policy can't be used for other services that use an OAuth token for authentication with a slightly different value (e.g. Cosmos).

We can add an option to the `BearerTokenPolicyOptions` type (which is current empty) that allows specifying an optional f

[2022-04-27 14:41] ealsur commented on #17752
For reference, in Cosmos we have a different Auth header format for AAD: https://github.com/Azure/azure-sdk-for-go/blob/4b68333d02a427eb47985a8c61b828fdc16b9dd4/sdk/data/azcosmos/cosmos_policy_bearer_token.go#L26

In the current state, the only alternative is to have a policy read the current Bearer Auth header and replace it with our format.

[2022-04-27 15:54] jhendrixMSFT commented on #17743
This prevents us from using the generic poller in `azcore` for things like key vault.

[2022-04-27 16:03] chlowell commented on #17752
Given that this wouldn't be generally useful, other languages haven't added a similar option, and that we have only one use case for it here, I think we should wait to see more need before adding it. Today's workarounds don't seem too bad to me. Here's another one:
[code]

[2022-04-27 16:24] jhendrixMSFT commented on #17752
This will preserve the `Bearer ` prefix though which is problematic for Cosmos.

https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azcore/runtime/policy_bearer_token.go#L61

[2022-04-27 16:49] jhendrixMSFT commented on #17752
Good point about the RFC.  I think then the best option is to expose the necessary primitives like `ExpiringResource` so that SDK authors can implement their own policy.

[2022-04-27 17:09] chlowell opened #17754 "Align user-assigned identity behavior with other SDKs"
When the application specifies a user-assigned identity in an environment known not to support user-assigned identities, send the identity's ID as a query parameter anyway and log a warning.

[2022-04-27 18:27] #16219 closed

[2022-04-27 20:17] jhendrixMSFT opened #17759 "Some key vault pollers have broken logic"
As a result, they might report that an LRO has completed when it's actually still in progress.

We've seen this with `azcertificates`, there might be other cases.

[2022-04-27 21:18] RickWinter commented on #17754
@chlowell @JeffreyRichter to discuss further

[2022-04-27 21:23] RickWinter commented on #17743
@jhendrixMSFT to post the PR

[2022-04-27 21:29] RickWinter commented on #17594
Changes for GA have been reviewed.  Required for all releases post-GA

[2022-04-27 22:01] jhendrixMSFT commented on #17450
These have been cleaned up and will be included in the `azcore@v0.24.0` release.

[2022-04-27 22:01] #17450 closed

[2022-04-28 01:05] SaurabhSharma-MSFT commented on #17741
@JulesCohonner Redirecting this to services team to look into it.

[2022-04-28 04:57] navba-MSFT commented on #17648
@0x113 A quick follow-up on this to check if you had a chance to look at the above comment. Awaiting your reply.

[2022-04-28 08:48] JulesCohonner commented on #17741
Great thanks for taking care of it

[2022-04-28 14:17] ealsur opened #17771 "Cosmos DB - TransactionalBatch support"
Add support for https://docs.microsoft.com/en-us/azure/cosmos-db/sql/transactional-batch

## Proposed API

The exposed new types are:

* TransactionalBatch - Represents the batch itself
* TransactionalBatchOptions - Options for execution of the batch
* TransactionalBatchItemOptions - Options at the individual operation level
* TransactionalBatchResponse - The batch response
* TransactionalBatchRes

[2022-04-28 20:01] #16045 closed

[2022-04-28 22:13] #17264 closed

[2022-04-29 04:32] Peirl opened #17780 "Azcore retry has context cancelled"
### Bug Report

- SDK version`latest`
- output of `go version` 1.17

- Potentially does not only affect azblob, but all parts of azure that uses https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azcore/runtime/policy_retry with retry
    - Meaning, anywhere that attempts retry and reads a larger payload, this context cancelled error will exist

- What happened?
    - Context cancelled error

[2022-04-29 04:33] Peirl commented on #17780
Possibly related to this issue too: https://github.com/Azure/azure-sdk-for-go/issues/17670, but not just for azstorage

[2022-04-29 07:31] mohsha-msft commented on #17687
azblob​ SDK is currently using service version 2020-10-02. I was looking at the fields you pointed out and we do publish these fields as well with name specified by the swagger definition here: [azure-rest-api-specs/blob.json at main · [Azure/azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/storage/data-plane/Microsoft.BlobStorage/preview/2020-10-02/blob.

[2022-04-29 12:45] alexwilcox9 opened #17783 "New API version: 2022-02-03 for desktopvirtualization"
### Feature Request

As advised in https://github.com/Azure/azure-sdk-for-go/pull/17669 I'd like to use the latest API version for desktopvirtualization.
Could you please reach out to the service team to look into this?

Many thanks,
Alex

[2022-04-29 16:27] tombuildsstuff commented on #17783
Related, the upstream Swagger PR has been merged for this: https://github.com/Azure/azure-rest-api-specs/pull/18748

[2022-04-29 18:57] RickWinter opened #17784 "Add a top level README.md for ResourceManager folder"
The resourcemanager packages need a top-level readme describing the structure and general patterns for all ResourceManager packages.  Something akin to https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/resourcemanager/Azure.ResourceManager/README.md

[2022-04-29 22:13] kriszentner opened #17785 "Fix List() in sample code in the Tables README"
### Bug Report

- `github.com/Azure/azure-sdk-for-go/sdk/data/aztables v0.8.0`
- SDK version `0.8.0`
- `go version go1.18.1 linux/amd64`

- What happened?
I tried following the documentation in the readme.md. Specifically at:
https://github.com/Azure/azure-sdk-for-go/tree/sdk/data/aztables/v0.8.0/sdk/data/aztables#listing-entities

- What did you expect or want to happen?
I wanted all methods to w

[2022-04-30 20:40] Avinodh commented on #17634
Thank you for taking a look @SaurabhSharma-MSFT . Any updates on this? Wanted to check if there is a possibility for this any time soon before writing a separate wrapper over HTTP for this!

[2022-05-01 13:09] navba-MSFT commented on #17648
@0x113 Thanks for getting back. Sharing my sample snippet here if that helps.

[code]

go version go1.18.1 windows/amd64

Please test this once you get a chance. Awaiting your reply.

[2022-05-02 02:19] owenfarrell opened #17788 "Generated Code for KeyVault Management is Out of Date"
### Service Package Request

As part of some work I've been doing on https://github.com/hashicorp/terraform-provider-azurerm/pull/13525, I'm looking for a refresh of the generated code for managing KeyVault instances (`services/keyvault/mgmt/2019-09-01`).

Selfishly, I'm interested in the `ID` field that gets added to the `PrivateEndpointConnectionItem` model. But when I regenerated the package lo

[2022-05-02 02:43] antkmsft opened #17789 "App Config: enable live test in CI"
App Config does have the live test, but it is not running in CI. Enable it.

[2022-05-02 04:16] navba-MSFT commented on #17687
Thanks @mohsha-msft.
@diyor-uptycs Could you please let me know if you had a chance to look at the above comment?  Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-02 04:54] navba-MSFT commented on #17783
PR https://github.com/Azure/azure-sdk-for-go/pull/17669 was created for this feature request and then the plan was to involve the Service Team to plan for the release (see [this](https://github.com/Azure/azure-sdk-for-go/pull/17669#issuecomment-1107700497) comment). So I am removing the CXP attention label from this and adding the Service Attention label.

[2022-05-02 18:51] RickWinter commented on #17789
@benbp Should this be enabled by default for anyone starting from the template?

[2022-05-02 18:54] benbp commented on #17789
@RickWinter @antkmsft app config does appear to have active live tests running: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1541229&view=results

The live tests only show up on the `internal` devops project, not the `public` one which is the default for PR builds. This is because we don't want to enable any random person to have access to our resource provisioning via the defau

[2022-05-02 18:57] benbp commented on #17789
@RickWinter I think it depends on whether you want it to be a pre-requisite for onboarding a new SDK? If people are copying their templates off core, then it won't have live tests enabled by default. It's also a bit more work to get the live tests working, so I don't know if it's optimal to keep it as a separate change for onboarding or not.

[2022-05-03 17:09] SaurabhSharma-MSFT commented on #17788
@owenfarrell We are looking into it and get back to you for any additional information.

[2022-05-03 17:21] richardpark-msft opened #17792 "[azservicebus] Use runtime.Pipeline for HTTP requests in the ATOM client (`admin.Client`)"

[2022-05-03 18:30] northtyphoon commented on #15605
We are from ACR. We has the same ask as AKS (@weinong) to adopt azidentity/msal for ests-R support in our golang code base.

[2022-05-03 19:19] jhendrixMSFT commented on #17698
Keeping this separate.

[2022-05-04 02:33] navba-MSFT commented on #17648
@0x113 Please let me know if you had any updates on this. Awaiting your reply.

[2022-05-04 08:02] #17458 closed

[2022-05-04 15:53] jhendrixMSFT opened #17801 "Usage of embedded, unexported types, makes for poor docs"
For example, the implementation of [`BlobGetPropertiesResponse`](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/storage/azblob/zm_blob_client_util.go#L215-L220) uses an anonymously embedded type that's not exported.  Unfortunately this breaks the documentation experience.

https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/storage/azblob#BlobGetPropertiesResponse

As you can see, no

[2022-05-04 16:00] s8mathur commented on #17801
I am a Go developer attempting to find the last modified timestamp of a file blob, and due to this issue, the `LastModified` value or ANY file metadata for that matter can't be accessed:
https://github.com/Azure/azure-sdk-for-go/blob/8dce4d522a207952d9f0ac2b56b61b9b595b67b6/sdk/storage/azblob/zz_generated_response_types.go#L712

Thanks much @jhendrixMSFT !

[2022-05-04 16:42] jhendrixMSFT commented on #17780
Fixed in the upcoming `azcore@v0.24.0` release.  Thanks for the detailed bug report.

[2022-05-04 16:42] #17780 closed

[2022-05-04 20:37] jhendrixMSFT commented on #17752
Fixed in upcoming `internal@v0.10.0` release.

[2022-05-04 20:37] #17752 closed

[2022-05-04 21:11] #17792 closed

[2022-05-04 22:49] chlowell opened #17803 "Don't record Key Vault test resource cleanup"
Key Vault tests clean up after themselves, purging the resources they create, and record the polling required to do so. For some tests, polling is most of the recording. This is unnecessary because purging is tested separately and needn't be done in playback.

[2022-05-04 23:26] jhendrixMSFT commented on #17415
Fixed in upcoming `azcore@v0.24.0`

[2022-05-04 23:26] #17415 closed

[2022-05-04 23:26] jhendrixMSFT commented on #17743
Fixed in upcoming `azcore@v0.24.0`

[2022-05-04 23:26] #17743 closed

[2022-05-05 05:43] navba-MSFT commented on #17687
@diyor-uptycs Please let us know if you have any pending questions on this. Awaiting your reply.

[2022-05-05 05:45] diyor-uptycs commented on #17687
Thank you @mohsha-msft and @navba-MSFT for the help.

@mohsha-msft 's explanation helped us a lot

[2022-05-05 05:46] navba-MSFT commented on #17687
@diyor-uptycs Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-05 05:46] #17687 closed

[2022-05-05 05:53] lirenhe commented on #17788
Looks this ask is related to the refresh requirement of the SDK so remove CXP attention now. @Alancere, could you work with service team for a new release request?  Thanks

[2022-05-05 06:03] lirenhe commented on #17783
@ArcturusZhang, could you help to follow up on this?  We will follow our own process for the SDK release so  PR https://github.com/Azure/azure-sdk-for-go/pull/17669 could not be merged.

[2022-05-05 07:02] adeturner commented on #17472
Thanks, appreciated. Confirmed it works fine now

[2022-05-05 07:02] #17472 closed

[2022-05-05 08:47] kabal2010 opened #17809 "CheckExistenceByID and CheckExistence always returning false with Get or GetByID confirming the resources exists"
### Bug Report

- Import path of package: `github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resources/armresources`
- SDK version: `v63.4.0`
- go version: `go1.18.1 windows/amd64`

 - What happened? I created a code shown below.
[code]

- When I executed the command `go test -v`, I got the error shown below.
[code]

- What did you expect or want to happen? I should have a successful output as

[2022-05-05 13:08] tadelesh commented on #17784
As `github.com/Azure/azure-sdk-for-go/sdk/resourcemanager` is not a package (`ResourceManager` is .Net SDK's core lib like `azcore` for go), it might not be so accessible to put a readme under it. I've added some detailed info into quickstart for mgmt. plane sdk in this [PR](https://github.com/Azure/azure-sdk-for-go/pull/17763). I think I can separate it into two docs: one for easy quick start, an

[2022-05-05 18:06] #17754 closed

[2022-05-05 20:54] #17283 closed

[2022-05-05 21:18] heaths opened #17822 "Add entityId to secrets, keys, and certificates"

[2022-05-05 21:48] jhendrixMSFT opened #17823 "azblob pager PageResponse() method returns an internal type"
[code]

Public APIs should never return a type that's not exported.

In addition, the paging APIs need to be updated to return a `*runtime.Pager[T]`, see example [here](https://github.com/Azure/autorest.go/blob/track2/test/storage/2020-06-12/azblob/zz_generated_container_client.go#L754).

[2022-05-06 01:38] PV99 opened #17827 "AZBlobStore BlobBlatch Operations in Golang SDK"
### Feature Request

Pulling up this feature request from the Old SDK https://github.com/Azure/azure-storage-blob-go/issues/201:

Though the blob service API docs [indicate](https://docs.microsoft.com/en-us/rest/api/storageservices/blob-batch) that a Blob Batch aggregation operation would allow us to delete multiple blobs with a single request, it appears that this isn’t implemented in the Go clie

[2022-05-06 05:30] magodo commented on #16728
@chlowell May I know where can I track the progress for "Support OpenID Connect (OIDC) Authentication Support"?

[2022-05-06 15:49] chlowell commented on #16728
That's part of #15615

[2022-05-06 18:19] MostefaKamalLala commented on #17679
Is it even possible to pass an APIVersion to the client?

[2022-05-06 18:24] jhendrixMSFT commented on #17679
@MostefaKamalLala not at present.  There's been some discussion on adding support for this, see https://github.com/Azure/autorest.go/issues/784 for more details (it's unclear if we'll actually implement this or not).

[2022-05-06 19:34] MostefaKamalLala commented on #17679
Ok, because in a sens it would respond to this current issue when you can pass the apiVersion you won't care anymore about which one is used in the package except if there is one by default.

I installed an exporter for Prometheus in my AKS which scrapes metrics from Azure. The exporter uses the azure skd which has the apiVersion 2018-01-01. There is many endpoints possible using different apiVers

[2022-05-06 23:24] jhendrixMSFT commented on #3042
Fixed in upcoming `azcore@v0.24.0` release (it only took us 3.5 years Vlad :p)

[2022-05-06 23:24] #3042 closed

[2022-05-06 23:37] chlowell opened #17842 "Add header replacement sanitizer API"
`recording` currently exposes header value replacement only through the test proxy's regex sanitizer. For example, if you want to replace the value of header "Foo" with "bar" in recordings regardless of the header's real value, you call `recording.AddHeaderRegexSanitizer`, passing an empty string for the regex. This behavior is documented but perhaps not intuitive. The test proxy has [another sani

[2022-05-08 08:17] 0x113 commented on #17648
@navba-MSFT, sorry for the late response, but I was really busy. I'll try your snippet and get back to you as soon as possible.

[2022-05-08 17:08] JeffreyRichter commented on #17771
This looks pretty good.
Have you considered a slight change where the customer code does this:

batch := NewTransactionalBatch(partitionKey)
// .. add items to batch here
batchResponse, err = container.ExecuteBatch(ctx, batch, nil)

Here, I create the batch first (not associated with any container) and then I execute the batch against the container. I prefer this (unless there is a good reason not

[2022-05-09 00:46] Avinodh commented on #17634
Following up on this @SaurabhSharma-MSFT

[2022-05-09 03:20] navba-MSFT commented on #17648
@0x113 Thanks for getting back. I shall wait for the updates from you.

[2022-05-09 05:19] ItalyPaleAle opened #17850 "azblob: first character of metadata key is automatically capitalized"
### Bug Report

- Package: `github.com/Azure/azure-sdk-for-go/sdk/storage/azblob@v0.4.0`
- output of `go version`: `go version go1.18.1 linux/arm64 `

When setting metadata (e.g. while uploading a blob with `BlockBlobClient.UploadStream`), the first character of the metadata’s key is automatically capitalized.

For example, if you set this object as metadata:

[code]

The created blob has metadata

[2022-05-09 06:33] Thz4UQgy commented on #17470
Hi, could you give me a status update of this feature request? Kind regards

[2022-05-09 07:16] ArcturusZhang commented on #17470
Sorry for the delay of response - we are fixing this here: https://github.com/Azure/autorest.go/pull/802

[2022-05-09 07:26] ArcturusZhang commented on #17591
Hey @dz-sourced based on the information you shared, it is pretty sure that this issue was introduced by the swagger changes - therefore I added some labels to loop the correct persons to answer your questions

[2022-05-09 07:29] ArcturusZhang commented on #17520
Hi @ajain-cldcvr sorry for the inconvenience, I am adding labels to loop the persons from the service side.

And in the future, we might add functionalities to allow you override the default api-versions
cc @jhendrixMSFT

[2022-05-09 07:30] antkmsft commented on #17789
Thank you Ben! If the test is running, then the situation is better than I thought. I think it may make sense to not run live tests for PRs. Maybe we should use recorded responses when running for PRs.

[2022-05-09 14:34] SpaWn2KiLl opened #17853 "[azservicebus] Receiving messages with lock expiration delay"
I'm having a weird issue where my service is receiving messages with delay. The delay corresponds (probably not a coincidence, might be related) to the message lock expiration.

My application logs if it fails to complete/defer/abandon a message, but I don't see any logs executing any of these operations, so I'm not receiving the events before.

My guess is that somewhere on the azservicebus lib t

[2022-05-09 16:12] ealsur commented on #17771
@JeffreyRichter Great point, I went ahead and adjusted the design, this makes it better because it removes any need for the TransactionalBatch struct to know how to send requests through the pipeline as you described and just limits to holding the operations.

[2022-05-09 16:16] RickWinter commented on #17789
@antkmsft Can you work with Ben to ensure that we are using recorded tests in the public CI and live tests in the internal CI.

[2022-05-09 16:53] #17785 closed

[2022-05-09 17:22] RickWinter commented on #16719
CG runs against all go.mod/go.sum packages.

[2022-05-09 19:00] benbp commented on #17789
@antkmsft It's not 100% clear to me in what mode the tests are running. The live test pipeline is running but I'm not sure whether the tests themselves are referencing the external resources, given that the runtime is the same as the CI pipeline. Please reach out to me when you get the chance and I can help advise.

[2022-05-09 19:13] benbp commented on #15753
Closing this for now. There are some larger discussions happening around docs direction that I think will result in a more comprehensive set of issues when resolved.

[2022-05-09 19:13] #15753 closed

[2022-05-09 20:37] jhendrixMSFT commented on #17850
This is due to use of `http.Header.Set()` which canonicalizes the HTTP header values.

https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/storage/azblob/zz_generated_blockblob_client.go#L104

While we could change the generated code to set the value directly, it would be ideal if there was a way for client libraries to control the behavior.  Unless we never want canonicalization.

[2022-05-10 06:30] navba-MSFT commented on #17827
@PV99 Apologies for the late reply. Thanks for reaching out to us. I am looking into this. I will update this thread once I have more details on this.

[2022-05-10 06:51] navba-MSFT commented on #17827
@PV99 Could you please refer the [BatchTransferOptions](https://github.com/Azure/azure-sdk-for-go/blob/9173b98cee6b07d29c9544a795d12be619f9c70f/sdk/storage/azblob/zm_highlevel_util.go#L195) Available in the [AzBlob](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/storage/azblob#azure-blob-storage-sdk-for-go) Storage SDK for go ?

BatchTransferOptions identifies options used by [DoBatchTran

[2022-05-10 10:04] frankwangnj opened #17868 "[azservicebus] GetQueueRuntimeProperties() panic due to response not containing "CountDetails" node"
I'm using azservicebus@v0.3.5, and ran into the panic issue. It might still exist in the latest version. Please help check it.

Sometimes, when I call GetQueueRuntimeProperties(), the program panic with following stack information.

[code]

I get the response from networking, and it does not contain "CountDetails" node in XML, which cause the panic in function newQueueRuntimeProperties().

[code]

[2022-05-10 15:43] jhendrixMSFT commented on #17850
The codegen change will be in `preview.41` of the code generator.

[2022-05-10 15:45] PV99 commented on #17827
Hey @navba-MSFT Thanks for the help! The issue with DoBatchTransfer is that it uses go routines to parallelize running operations in batch. This causes multiple http requests to be sent, whereas we would prefer to delete multiple blobs with a single http request like in the [blob batch api. ](https://docs.microsoft.com/en-us/rest/api/storageservices/blob-batch).

Are there plans for supporting the

[2022-05-10 20:38] jhendrixMSFT commented on #17850
Note that while this fixes _sending_ of metadata keys, the _receiving_ of keys is still broken due to the default transport canonicalizing the response.

[2022-05-10 20:57] richardpark-msft commented on #17853
Hi @SpaWn2KiLl,

Some questions for you:
1. Are you using sessions?
2. How often do you receive messages and ask for more than you get back? Ie, if you have Receiver.ReceiveMessages(ctx, 10) do you typically get 10 messages? Or does it tend to fall short?
3. What max message count do you pass to ReceiveMessages()?
4. Do you have a time limit or deadline set on the context you pass to ReceiveMessag

[2022-05-10 21:14] jhendrixMSFT commented on #17698
Fixed in upcoming release of `azcore`.

[2022-05-10 21:14] #17698 closed

[2022-05-10 22:07] SpaWn2KiLl commented on #17853
Hello @richardpark-msft, thanks for your availability!

No

I'm receiving messages on a for loop without sleep. As soon as it processes all messages it requests for more. I'm having about 15~20 events per minute so it definitely tends to fall short

30

No, I don't have deadline defined. The context stays active until explicit canceled, which is not happening.

[2022-05-11 01:49] jhendrixMSFT opened #17877 "ReceivedMessage exports fields and a method which breaks mocking"
Return types that mix exported fields and methods are not mockable and require a constructor.  We should avoid this.

[2022-05-11 01:50] jhendrixMSFT commented on #17877
We should audit all return types to ensure this invariant.

[2022-05-11 02:10] richardpark-msft commented on #17877
For further context:

ReceivedMessage is basically a wrapper over the top of an actual amqp.Message (from go-amqp). It matches the ReceivedMessage that exists in other languages, where the goal was just to have a simple message format that could take a []byte payload.

[code]

This simplified message type does not map 1:1 with AMQP concepts - there are some payload types it cannot represent. To av

[2022-05-11 12:46] tadelesh opened #17878 "Fix mgmt. plane mock test pipeline failure"
Change mock test pipeline to execute mock test only, ignore live test case.

[2022-05-11 12:56] tadelesh opened #17879 "Full test before GA for mgmt. plane SDK"
Full generation and mock test with the latest codegen, testgen, core lib.

[2022-05-11 12:57] tadelesh opened #17880 "GA release for mgmt. SDK"
1. ring0 before May 13th.
2. full coverage before May 18th.
3. sample, live test update

[2022-05-11 13:06] tadelesh opened #17881 "Write API scenario for ring1 RPs"
1. Use API scenario 1.2
2. Auto generate live test code

[2022-05-11 13:10] tadelesh opened #17882 "Resolve example problems for core RPs"
1. compute, network, storage, resource, keyvault
2. resolve mock test failure from example problems

[2022-05-11 13:13] tadelesh opened #17883 "Deprecate videoanalyzer"
Deprecation message: We’re retiring the Azure Video Analyzer preview service; you're advised to transition your applications off of Video Analyzer by 01 December 2022. This SDK is no longer maintained and won’t work after the service is retired.
Retract the previous version with wrong deprecation message.

[2022-05-11 13:15] tadelesh opened #17884 "Write CRUD API scenario for mgmt. SDK (ring0 RPs)"
1. 5 ring0 RPs
2. upgrade to API scenario 1.2
3. use test generation to generate test code

[2022-05-11 15:27] emardo opened #17885 "Possibility to disable SSL checks for azcosmos Client"
### Feature Request

I am developing an Azure Function which needs to communicate with an Azure Cosmos DB, and for the initial development steps I need to set it all up on my local machine. Since I am using a mac and cannot run the Cosmos DB Emulator directly on it, I use Docker. The container is running fine, I can create a sample database etc. I tested the database connection first with a sample

[2022-05-11 16:21] dany74q commented on #14704
@asheniam - Small bump - we could really use the more advanced filtering offered in 2017-03-01-preview (a-la filtering by operation type);
I haven't seen a new api version published, do you happen to know if the problems you'd mentioned were fixed in the same API version, and / or if there's an updated ETA for the new version ?

Thanks a ton !

[2022-05-11 18:54] richardpark-msft commented on #17877
Just to loop back on this - we're going to change the ReceivedMessage.Body() function back to a field. There were a small set of circumstances where it wouldn't work and the error that came back wasn't giving you much in any case.

In the cases where we can't convert it .Body will just be nil.

[2022-05-11 20:06] wkalt opened #17889 "azidentity.NewDefaultAzureCredential does not work as documented"
I followed a link on this page:
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-go?toc=%2Fazure%2Fdeveloer%2Fgo%2Ftoc.json&bc=%2Fazure%2Fdeveloper%2Fbreadcrumb%2Ftoc.json

to this sample application:
https://github.com/Azure-Samples/storage-blobs-go-quickstart

I have a blob container I can write to with the `az` CLI tool, so by my reading NewDefaultAzureCredential sh

[2022-05-11 20:50] #17877 closed

[2022-05-11 21:17] antkmsft commented on #17789
@antkmsft, note to self: boost code coverage to 90

[2022-05-11 21:55] ealsur commented on #17885
`azcosmos` uses the default Go HttpClient that exists in the `azcore` / Azure SDK pipeline, so you should be able to disable any SSL verification on the httpclient itself: https://stackoverflow.com/a/12122718/5641598

[code]

[2022-05-11 21:59] ealsur commented on #17885
Unless there is a way to customize the Transport of the httpClient in the Pipeline @jhendrixMSFT ?

[2022-05-11 22:02] jhendrixMSFT commented on #17885
Yes.  In the `ClientOptions` you can set your own HTTP transport in the [`Transport`](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azcore/policy/policy.go#L43) field.  Just create an `*http.Client` configured as required and assign it here.

[2022-05-11 22:09] #17771 closed

[2022-05-11 22:56] chlowell commented on #17889
That's how `DefaultAzureCredential` works as well. If you haven't set [the relevant environment variables](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/azidentity#environment-variables) and are running on your local machine (i.e. managed identity isn't available), it will request an access token from the Azure CLI. It appears that's succeeding for you, because you would see a different

[2022-05-12 03:03] wkalt commented on #17889
@chlowell thanks for confirming it should work as expected.

I may just be being thick here, but just to confirm:
I am able to access my container using the az CLI using `az storage blob upload` and `az storage blob download`. I can put objects into it, and read those objects out, and list contents with the CLI. However when I do the same things through the library (using CLI credentials as I unde

[2022-05-12 07:44] navba-MSFT commented on #17648
@0x113 Any update on this ?

[2022-05-12 07:55] navba-MSFT commented on #17827
@PV99 Thanks for getting back. I have got a reply from the product owners that they have plans on supporting the batch delete/set tier at some point, but it hasn’t been prioritized. Unfortunately there is no ETA that can be shared at this moment. Once it is released the details will be shared [here](https://github.com/Azure/azure-sdk-for-go/releases). Hope this answers.

[2022-05-12 07:55] #17827 closed

[2022-05-12 08:02] #17017 closed

[2022-05-12 09:18] emardo commented on #17885
@jhendrixMSFT & @ealsur thank you for your comments

This directed me in the right direction, the issue being the certificate not having been exported in pfx format. After importing the certificate into Keychain Access in the correct format and setting trust to Always, the connection to database succeeded without disabling SSL verification.

I will close the issue. Thank you guys!

[2022-05-12 09:18] #17885 closed

[2022-05-12 11:53] dav009 opened #17904 "Add Support for Updating functions"
### Feature Request

would it be possible to have the equivalent `UpdateClient` for the function below:
[code]

thanks

[2022-05-12 14:13] 0x113 commented on #17648
@navba-MSFT, I'm really sorry for not getting back. I've been quite busy in past last two weeks. I'll try to use your snipper during the weekend, and I'll get back to you.

[2022-05-12 15:21] jhendrixMSFT opened #17905 "Move azappconfig under data directory"
Per discussion we'll move `azappconfig`

Old location
`
github.com/Azure/azure-sdk-for-go/sdk/appconfig/azappconfig
`

New location
`
https://github.com/Azure/azure-sdk-for-go/sdk/data/azappconfig
`

[2022-05-12 15:23] jhendrixMSFT opened #17906 "Move keyvault under a security directory"
Per discussion we'll move all of the key vault modules.

Old location
`
github.com/Azure/azure-sdk-for-go/sdk/keyvault/...
`

New location
`
github.com/Azure/azure-sdk-for-go/sdk/security/keyvault/...
`

[2022-05-12 15:54] chlowell commented on #17889
No, that's unexpected, provided you're doing all this in the same environment and didn't log in a different identity in between. Contributors and Owners of a subscription don't inherit a write role for the subscripton's storage accounts--subscription and storage roles are separate--but if `az storage blob upload` works, an `azblobs` client authenticating with `azidentity.AzureCLICredential` should

[2022-05-12 16:02] chlowell opened #17907 "Update azkeys and azsecrets paging API"
Both have e.g. `ListDeletedSecrets()` instead of `NewListDeletedSecretsPager()`.

[2022-05-12 16:32] wkalt commented on #17889
I have modified the quickstart script to be a bit more concise, and adapted it to my specific storage account and container. Here's what I'm running:

[code]

the output is the same as yours as far as I can tell, except with the permission errors:

[code]

However, I can definitely upload with the CLI. Same terminal, same login session:

[code]

[2022-05-12 18:04] Duffney commented on #17889
I agree, and will get the article updated with instructions for adding the necessary RBAC role. Using the key is an alternate method, but not a good fix for the situation. Does the readme or article call specific attention to using AAD token auth as a work around? I couldn't find it mentioned other than in the issues for the repo.

[2022-05-12 18:24] wkalt commented on #17889
@chlowell Thanks for that clarification. With --auth-mode login it indeed does not work, so this makes sense to me now.

[2022-05-12 18:24] #17889 closed

[2022-05-12 19:33] richardpark-msft commented on #17907
Also, `ListPropertiesOfKeys`

[2022-05-12 19:49] richardpark-msft commented on #17907
azsecrets:
* ~~ListDeletedSecrets~~
* ListPropertiesOfSecretVersions
* ListPropertiesOfSecrets

[2022-05-12 21:03] richardpark-msft commented on #17868
Hi @frankwangnj,

Can you provide me with a time stamp and namespace/queue name where this occurred? This'll help us figure out if there was anything particular happening in Service Bus at the time.

If you're not comfortable putting that information here you can email it to me: ripark at microsoft.com

[2022-05-12 21:04] richardpark-msft commented on #17408
Hi all, I believe we're at the point where we've investigated and fixed the original issue. I'm closing this, but we can re-open in the future if this comes back.

[2022-05-12 21:04] #17408 closed

[2022-05-12 21:19] richardpark-msft opened #17915 "[azservicebus] Pagers can't reconstitute from a token"
Pagers should be able to be serialized to a token so they can be rehydrated later. I believe this requires some code but it wasn't done in time for GA.

[2022-05-13 01:25] jhendrixMSFT commented on #17915
Is this unique to service bus?  For our other SDKs we support this for pollers but not pagers.

[2022-05-13 03:31] navba-MSFT commented on #17648
@0x113 Thanks for getting back. I shall wait for your reply.

[2022-05-13 05:09] navba-MSFT commented on #17809
@kabal2010 Apologies for the late reply. I see that this PR has been filed Azure/autorest.go#819 to address this. As per [this](https://github.com/Azure/autorest.go/issues/818#issuecomment-1121293528) comment the Fix is in upcoming preview.41 release. If you have any follow-up questions please feel free to reopen this thread. We would be happy to address it.

[2022-05-13 05:12] navba-MSFT commented on #17853
@richardpark-msft Thanks for looking into this issue.
@SpaWn2KiLl I am removing the CXP Attention label from this tagging the Service Team.

[2022-05-13 05:58] tadelesh commented on #17809
@navba-MSFT The PR is to fix the wrong handling with 405 response from service. Actually, I think the root cause is this method has not implemented by service. Could you help to triage this issue to service team to have a look.

[2022-05-13 05:59] navba-MSFT commented on #17809
@tadelesh Thanks for clarifying this. I am adding Service Team to have a look into this further.

[2022-05-13 08:04] giacomo-pati opened #17938 "Golang symbol issue when upgrading to armcontainerservices v0.5.0"
### Bug Report

azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice@v0.5.0/zz_generated_agentpools_client.go:65:231: undefined: runtime.Poller
azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice@v0.5.0/zz_generated_agentpools_client.go:130:193: undefined: runtime.Poller
azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice@v0.5.0/zz_g

[2022-05-13 09:59] giacomo-pati commented on #17938
I've digged a bit into the code. I see that the actual version graph for armcontainerservice@v0.5.0 should result in:

github.com/Azure/azure-sdk-for-go/sdk/azcore v0.23.0
github.com/Azure/azure-sdk-for-go/sdk/azidentity v0.14.0
github.com/Azure/azure-sdk-for-go/sdk/internal v0.9.1

but when I issue a `go get-u -t ./...` in the module it upgrades to:

go: upgraded github.com/Azure/azure-sdk-for-go

[2022-05-13 14:28] jhendrixMSFT commented on #17938
Unfortunately we're in a transitional period with our releases.  We just released the `v1.0.0` of `azcore` and `azidentity` and not all of our other modules have caught up.  When upgrading `armcontainerservice`, if you omit the `-u` and use `@latest` it will avoid updating the transitive dependencies.  Sorry for the hassle, this is our last round of breaking changes before GA.

`
go get github.com

[2022-05-13 20:34] jhendrixMSFT opened #17943 "azblob: Test recordings are being shipped with the product"
All non-production assets must go under the `testdata` directory.  At present, `azblob` is shipping ~2MB of recording data in every release.

Looks like this is not currently configurable in `internal/recording`, this needs to be fixed too.

[2022-05-13 22:29] richardpark-msft opened #17945 "[azservicebus] constant_detachment bug with settlements/completion notifications not coming through"
When a queue is constantly detached (every 30 seconds we update it) we can settle/complete messages but not receive the confirmation on the client.

The `constant_detachment.go` stress test demonstrates this - you'll see a small "loss" of completions even though all messages have arrived.

There are some things we can look at:
1. We need to make sure we flush any intermediate state, if possible, f

[2022-05-15 11:02] bingosummer opened #17950 "Is there a plan to support key vault client for 2021-10-01"
### Feature Request

I'd like to disable public network access for the key vault. I found the version "2019-09-01" doesn't support the property. See: https://github.com/Azure/azure-sdk-for-go/blob/main/services/keyvault/mgmt/2019-09-01/keyvault/models.go

https://github.com/Azure/azure-rest-api-specs/tree/main/specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2021-10-01 supports th

[2022-05-16 02:16] lirenhe commented on #17938
@giacomo-pati, we are starting to release the latest version of the SDKs this week.  @tadelesh could help to provide the update when this effort is completed. Thanks

[2022-05-16 03:02] navba-MSFT commented on #17648
@0x113 The action is now pending on you to test the above sample and get back to us. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-16 03:02] #17648 closed

[2022-05-16 03:47] navba-MSFT commented on #17904
@dav009 Apologies for the late reply. Thanks for reaching out to us and sharing this feedback.
Could you please elaborate your ask ? What is your use case ? What configuration are you trying to update for your functionApp ? Once we get more details we will be able to assist you better. Awaiting your reply.

[2022-05-16 04:47] MartinForReal opened #17959 "Request sdk for service imds/dataplane"
### Service Package Request

imds/dataplane

https://github.com/Azure/azure-rest-api-specs/tree/main/specification/imds/data-plane

As requested in https://github.com/kubernetes-sigs/cloud-provider-azure/issues/1273

[2022-05-16 09:10] SpaWn2KiLl commented on #17853
Hello @richardpark-msft

Did you manage to reproduce the issue? do you have any news regarding to this issue? is there anything else I can do to help you find the issue?

[2022-05-16 09:16] #17878 closed

[2022-05-16 12:33] adeturner opened #17979 "azservicebus.Receiver.ReceiveMessages ignoring context timeout"
### Bug Report

github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus v0.4.1
go version go1.18.1 linux/amd64

- What happened?

From what I can see, azservicebus.Receiver.ReceiveMessages hangs when no messages are present in the queue. The call does not cancel according to context timeout setting (either customer set or internally). This makes it tricky to write KEDA driven serverless custo

[2022-05-16 14:16] jhendrixMSFT commented on #17959
I don't believe we'll be releasing any data-plane packages in our legacy SDK.

[2022-05-16 14:21] tadelesh commented on #17950
@bingosummer Thanks for your feedback. We've released the stable new version for `keyvault` which uses the `2021-10-01` api version. Could you please refer to this [migration guide](https://github.com/Azure/azure-sdk-for-go/blob/main/documentation/MIGRATION_GUIDE.md) and upgrade to the new module `github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/keyvault/armkeyvault`.

[2022-05-16 14:24] tadelesh commented on #17938
@giacomo-pati Thanks for your feedback. We've already released the stable version of `armcontainerservices` which will be compatible with the latest `azcore` and `azidentity`.

[2022-05-16 16:08] jhendrixMSFT commented on #17950
Our new SDK uses this API version.

https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/keyvault/armkeyvault

I don't know if this will be backported to the legacy SDK.

[2022-05-16 16:41] bingosummer commented on #17950
Thanks @tadelesh and @jhendrixMSFT . Will have a try.

[2022-05-16 21:19] #17907 closed

[2022-05-16 22:31] jhendrixMSFT opened #17985 "recording: nextLink for page failed to find entry"
For reference in PR https://github.com/Azure/azure-sdk-for-go/pull/17984

TestClient_ListDeletedCertificates would fail.

`
Unable to find a record for the request GET https://thething.vault.azure.net/deletedcertificates?api-version=7.3\u0026$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMDAhTURBd01ETXdJV05sY25ScFptbGpZWFJsTDBSRlRFTkZVbFF5TVRRNU16WXpNRE15T0NFd01EQXdNamdoT1RrNU9TMHhNaTB6TVZReU16bzFPVG8xT1M0NU9

[2022-05-17 03:22] tadelesh commented on #17744
@mbfrahry Thanks for your feedback. It seems a service problem. I'll involve service team to have a look.

[2022-05-17 04:15] a30004053 opened #18017 "azureml computeinstance API unclear on SetupScripts parameters when ScriptSource is set to "inline""
### Bug Report

Based on the comment on acceptable sources:
https://github.com/Azure/azure-sdk-for-go/blob/main/services/machinelearningservices/mgmt/2021-07-01/machinelearningservices/models.go#L3777-L3779
when the script is set to "inline" we get the following error

- What happened?
When `ScriptSource` is set to `"inline"`, the API returns

- What did you expect or want to happen?
Compute insta

[2022-05-17 14:00] sidheshdivekar29 opened #18072 "Azure backend has changed the record type for private hosted dns records"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
github.com/Azure/azure-sdk-for-go/services/privatedns/mgmt/2018-09-01/privatedns

- SDK version e.g. `master`, `latest`, `18.1.0`
master

  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
commit 2

[2022-05-17 15:49] chlowell opened #18073 "Consolidate Key Vault test helper code"
Key Vault modules contain duplicated test helper code that we could move into the `internal` module for easier maintenance.

[2022-05-17 23:48] richardpark-msft opened #18078 "[azservicebus] Update internal go-amqp"
Some fixes were in go-amqp past v0.17.4, which is the version we vendored before shipping azservicebus. We should update and do the burn-in testing with the latest release.

If possible it'd be great to _also_ get in the go-amqp fix that allows retrying on socket failures, as this could help us avoid having to even do recovery in the face of small network outages.

[2022-05-18 03:54] navba-MSFT commented on #17904
@dav009 Could you please provide us the above details so that we can assist you further ? Awaiting your reply.

[2022-05-18 13:05] vdamle opened #18165 "Azure Key Vault signatures fail verification"
### Bug Report

- `github.com/Azure/azure-sdk-for-go/services/keyvault/v7.0/keyvault`
- `v39.0.0+incompatible`
- `go version go1.16.15 linux/amd64`

### Problem description

This issue is being opened at the request of Azure Keyvault Support team as a follow up to a Sev 1 ticket opened against Azure Key Vault `2204280030001993`. We use `azure-sdk-for-go` to send [Sign](https://pkg.go.dev/github.co

[2022-05-18 13:07] baywet commented on #14284
Hi from the Microsoft Graph SDKs team 👋
We're working on the implementation of CA/CAE in the latest generation of our SDKs, so far the experience with azure identity has been great.
However, we need this dependency to fully close the loop on our end.
Do you have any timeline to ship CAE support in azure identity? Could we at least add the field in the next minor/patch so we can pass the informatio

[2022-05-18 19:00] baywet commented on #14931
related #14284

[2022-05-18 19:02] baywet commented on #14931
Additionally to passing the claim, azure identity should set the capabilities [in places like these](https://github.com/Azure/azure-sdk-for-go/blob/b386adc15c2e60e3812956f68d244b608330c479/sdk/azidentity/client_certificate_credential.go#L72) (`WithClientCapabilities(new [] {"cp1"})`) [source](https://docs.microsoft.com/en-us/azure/active-directory/develop/app-resilience-continuous-access-evaluatio

[2022-05-18 19:05] baywet commented on #14931
see the equivalent for dotnet https://github.com/Azure/azure-sdk-for-net/blob/c7f68fb15a2dc8dace6e61f78b5b0f7425ec2d4c/sdk/identity/Azure.Identity/src/MsalPublicClient.cs#L46

[2022-05-18 20:42] jhendrixMSFT commented on #17759
All pollers should be fixed now.

[2022-05-18 23:24] #17905 closed

[2022-05-18 23:53] jhendrixMSFT opened #18174 "Test failure TestReceiver_CanCancelLinkCreation"
[code]

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1576407&view=logs&j=b00d7691-30bb-5463-5d2e-705128f6b9cf&t=9bbb8036-2f2e-5985-8580-d91f37fbbc00

[2022-05-19 02:20] chlowell opened #18176 "ClientCertificateCredential error: Client assertion is not within its valid time range"
`ClientCertificateCredential` authentication can fail with an error like this:
[code]
The root cause is https://github.com/AzureAD/microsoft-authentication-library-for-go/issues/312

[2022-05-19 04:05] tadelesh opened #18179 "Fix ci `Install GoLintCLI and dependencies.` failure"
`Install GoLintCLI and dependencies.` may accidentally fail because of network issue. Add retry to avoid false alert for both daily and weekly ci.

[2022-05-19 05:21] RickWinter commented on #17959
Including @sandeep-sen, @mikekistler on this request

[2022-05-19 07:11] Alancere commented on #17882
network: https://github.com/Azure/azure-rest-api-specs/pull/18970
compute: https://github.com/Azure/azure-rest-api-specs/pull/18964
keyvault: https://github.com/Azure/azure-rest-api-specs/pull/18962
resources:https://github.com/Azure/azure-rest-api-specs/pull/18961
storage: https://github.com/Azure/azure-rest-api-specs/pull/18960

[2022-05-19 07:54] tadelesh opened #18182 "Migrate all samples of old version to new version"
1. ms-doc
2. repo readme
3. sample repo
4. others

[2022-05-19 08:16] qiaozha commented on #17883
completed

[2022-05-19 08:16] #17883 closed

[2022-05-19 08:17] qiaozha commented on #17880
completed.

[2022-05-19 08:17] #17880 closed

[2022-05-19 08:54] #17879 closed

[2022-05-19 10:46] SpaWn2KiLl commented on #17853
Hi @richardpark-msft

Quick update about this issue

I have been running an affected service for 24 hours with the library v1 and so far I didn't have any problems.

I also activated the debug logs and I noticed this:
[code]

From what I understand, the context is being cancelled not by me but by the library itself based on `defaultTimeAfterFirstMessage` [here](https://github.com/Azure/azure-sdk-f

[2022-05-19 13:21] csorzi opened #18186 "Cannot update tag of a recovery service managed group"
### Bug Report

- import path of package: `.../services/resources/mgmt/2020-06-01/resources`
- SDK version: v64.0.0
- go version: 1.18.x

- What happened?
Terraform azurerm provider version 3.6.0(using the above specified go sdk) throws the following error after importing a resource group created by Recovery Services Vault and trying to update its tags:
[code]

- What did you expect or want to hap

[2022-05-19 13:37] tadelesh opened #18188 "Update tool to handle major version upgrade of release"
Apply go package rule for major version. Need to use v2/v3/... sub-path for the major version upgrade.

[2022-05-19 14:20] jhendrixMSFT commented on #18188
We don't need to do this for the source code, just append it to the module's identity in `go.mod`.

[2022-05-19 16:42] jhendrixMSFT commented on #18188
The common case is bugs in the swagger where types are just incorrectly defined (should have been `int` but was marked `string`).  We see these all the time and will necessitate breaking changes.

[2022-05-19 18:00] mccoyp opened #18190 "[Key Vault] Ensure port numbers are preserved in vault URLs parsed from IDs"
See https://github.com/Azure/azure-sdk-for-python/issues/24446 for issue context, and https://github.com/Azure/azure-sdk-for-python/pull/24466 for Python's fix.

[2022-05-19 22:16] jhendrixMSFT commented on #16982
Done

[2022-05-19 22:16] #16982 closed

[2022-05-19 23:44] sfc-gh-llin opened #18194 "(*azblob.ContainerClient).ListBlobsFlat returns no error when using wrong cred"
### Bug Report
- What happened?
I was trying to listBlobs with azidentity.NewClientSecretCredential as credential. However, I didn't get any errors with wrong tenantID, clientID or clientSecret.
- What did you expect or want to happen?
pager.Err() should say something like "wrong auth" instead of nil when cred is wrong
- How can we reproduce it?
Here is my code
[code]
And the output is like:
[code

[2022-05-20 07:35] ninjadq opened #18199 "Cannot build the source code with library `azblob v0.4.x`"
### Bug Report

The import path is `github.com/Azure/azure-sdk-for-go/sdk/storage/azblob`
SDK version is `v0.4.1` and `v0.4.0`
Go version is `go version go1.17.7 linux/amd64`

- What happened?

When I build the source code, an error message occurred
[code]
And the building process stopped.
- What did you expect or want to happen?
The source code should work correctly to generate a binary
- How can

[2022-05-20 09:24] tadelesh commented on #18188
Among 13 preview we need to release, there are 7 have breaking changes. I went through all the changelogs and seems all from swagger breaking (e.g., string to enum, type change, remove operation, param name change). I've already hold the v2 beta release for more careful review.

[2022-05-20 13:57] miazamrai opened #18201 "Error while performing create role assigment"
I am trying to create role assignment but it is failing with the following error message.
 The role does have DataActions.

 authorization.RoleAssignmentsClient#Create: Failure responding to request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="UnsupportedApiVersionForRoleDefinitionHasDataActions" Message="Assignments to roles with DataActions and N

[2022-05-20 15:05] jhendrixMSFT commented on #18199
Per the quickstart [prerequisites](https://github.com/Azure-Samples/storage-blobs-go-quickstart#prerequisites), our SDKs require Go 1.18.

[2022-05-20 17:19] SpaWn2KiLl commented on #17853
I had the message consumption delay again, not sure if it is the same error since it wasn't a 5 minutes delay (the message lock duration)

<details>
  <summary>Logs</summary>

[code]
</details>

<details>
<summary>Suspicious logs</summary>

[code]

[code]

[code]
</details>

This application is consuming from two different topics using the same client. It uses a subscription (with the same name) o

[2022-05-20 18:33] jhendrixMSFT commented on #18201
What Azure region are you executing this in?

[2022-05-22 03:13] mohsha-msft commented on #18194
Hey @sfc-gh-llin ,

Thanks for reaching out!

Let me shine some light on the issue you raised. The function `conClient.ListBlobsFlat(&azblob.ContainerListBlobsFlatOptions{})` just creates a pager. But the actual request is sent when we try to fetch the first pager i.e. `pager.NextPage(context.TODO())`. Once we try to get the first pager, only after that can we expect err and resp to have non-null

[2022-05-22 03:14] mohsha-msft commented on #18194
Please reopen this if your query is not resolved.

[2022-05-22 03:14] #18194 closed

[2022-05-23 04:31] navba-MSFT commented on #17904
@dav009 Since we didn't hear back from you, We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please provide us more details and feel free to reopen this thread. We would be happy to help.

[2022-05-23 04:31] #17904 closed

[2022-05-23 06:57] shivamnutanix opened #18207 "Unable to get READ-ONLY fields of struct in Azure-go-sdk"
- What happened?
I am using the latest azure-go-SDK for compute `github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2021-12-01/compute` earlier when we were using +40.000 version we are getting the required fields but when we shifted to latest SDK , i am unable to get all the READ-ONLY fields because of the custom marshaller [here](https://github.com/Azure/azure-sdk-for-go/blob/cc8c0a5a1ddd9e

[2022-05-23 10:15] pangteypiyush opened #18209 "Cant 'go get' anymore"
### Bug Report

- What happened?
Trying to go get subscription module

[code]

- What did you expect or want to happen?
Finish without an error.
The last version which I didnt had this issue:

[code]

[2022-05-23 11:10] OscarVanL commented on #18209
I get this problem too when doing `go list -u -m -json all`

[code]

[2022-05-23 11:29] tombuildsstuff commented on #1969
x-post: https://github.com/Azure/azure-sdk-for-go/issues/18209

[2022-05-23 15:48] jhendrixMSFT commented on #18209
I believe we will need to prune old API versions to reduce the repo size.

[2022-05-23 16:43] jhendrixMSFT opened #18210 "Prevent unbounded growth in changelogs"
Since the CHANGELOG.md files aren't pruned from a module we need to ensure that their growth isn't unbounded.  E.g. for NRP the changelog is currently ~1.5MB which is much larger than the combined source files.  While this is a bit of an outlier, we must ensure the files aren't simply allowed to grow.

[2022-05-23 18:26] richardpark-msft commented on #17915
Ah, maybe this is an outdated requirement. It's not unique to Service Bus, I thought it was baseline. I'll close.

[2022-05-23 19:03] jhendrixMSFT commented on #18207
Unfortunately, this is a known limitation in our legacy SDK.  The good news is that we've fixed this in our newest SDKs.  To replace the `compute` package, you'd want to use the [`armcompute`](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/compute/armcompute) module instead.

[2022-05-23 20:13] jhendrixMSFT commented on #18209
While we're working on removing old content, you should be able to use `v64.1.0` instead (unless you need something specific in `v64.2.0`).

[2022-05-23 22:29] ceejatec commented on #1969
Indeed. If it was thought that 100MB was too big 3 years ago, how did it end up at 512MB+ today?

[2022-05-24 00:05] richardpark-msft commented on #18174
The panic() here is because we actually didn't get an error - we expected to, since it's being cancelled.

I remember thinking this test was probably a little dicey because of timing. I'll see what I can do to make it more reliable.

[2022-05-24 00:05] ceejatec commented on #18209
@jhendrixMSFT That's unfortunately not true - we have a module which references v64.1.0 in its go.mod, but when running `go list -mod=readonly -m -u -json all` in that directory, we get the above error message anyway. I don't know *why* go is still trying to download that newer version.

[2022-05-24 00:06] ceejatec commented on #18209
Only workaround I've found so far is to set the GONOSUMDB environment variable to `github.com/Azure/azure-sdk-for-go`.

[2022-05-24 00:34] jhendrixMSFT commented on #18209
Thanks for the data-point.  It works for me, so there must be some other bit we don't yet understand.  At any rate, we should have an update out soon that shrinks the size under the 500MB limit.

[2022-05-24 01:04] richardpark-msft commented on #17868
Hi @frankwangnj , if you pull the latest build (`go get github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus@HEAD` we've added some code to at least handle the failure gracefully. The CountDetails _should_ be there and I've not been able to replicate this bug locally so it might have been something specific to an instance of time. If you get a chance to send me some more details we can tak

[2022-05-24 02:18] #18209 closed

[2022-05-24 07:34] lootek commented on #18209
no, we're not able to freeze version in go.mod due to an error:

[code]

the workaround that worked was to replace to freeze to the latest commit hash instead (it's an ugly and hopefully a temporary one though)

[2022-05-24 14:28] jhendrixMSFT commented on #18207
The change was intentional as there are some services that will reject a request if you attempt to round-trip a data-structure that contains populated read-only fields, so we remove and read-only content from the payload (more services will work like this over time).

Unfortunately, we underestimated reliance on the JSON marshaller outside of the SDK which is why we took a different approach in ou

[2022-05-24 14:52] tadelesh commented on #18188
@jhendrixMSFT, among these six v2 version PRs breakings (18227-18232), there is a breaking: string change to modelAsString enum. For other SDK, it will not be a breaking. But it seems if we treat it as enum, the breaking is not avoidable in Go. What do you think?

[2022-05-24 17:37] scottaddie commented on #17417
Some MSAL work (https://github.com/AzureAD/microsoft-authentication-library-for-go/issues/292) must be completed before this feature can be added to Azure Identity.

[2022-05-24 19:44] t0lya commented on #5024
For future reference, endpointType should be just `endpointType := "externalEndpoints"
`, not `endpointType := "Microsoft.Network/trafficManagerProfiles/externalEndpoints"`.

[2022-05-24 22:02] #17938 closed

[2022-05-25 01:09] richardpark-msft commented on #17853
Hi @SpaWn2KiLl,

This is a great log, and I appreciate your patience on this. :)

It looks like we have a sequence of events that might explain part of this delay. From what I can see the issue boils down to some network/connection trouble. The azservicebus package handles recovering from these failures, transparently, but it can add additional delays as a result.

Here's where it appears to start

[2022-05-25 03:01] tadelesh opened #18237 "Reduce track1 package size and move to `legacy` branch"
1. Create `legacy` branch from `main`
2. Remove packages according to request data
3. Remove track2 content
4. Resolve eng sys for `legacy`
5. Release new track1 major version
6. Remove track1 content from `main`
7. Resolve eng sys for `main`

[2022-05-25 04:05] tadelesh commented on #18188
I mean change from type string to type enum with `modelAsString: true`.
E.g., for this [PR's](https://github.com/Azure/azure-sdk-for-go/pull/18228) breaking: `KeySource` changed from string to enum. The swagger's related PR is [here](https://github.com/Azure/azure-rest-api-specs/pull/17967). From the SDK automation result, it seems other SDK has no breaking for such change. It is a little special

[2022-05-25 09:33] tadelesh commented on #18210
The changelog is generated by tools, and it seems other mgmt. SDK do the same way. The problem is there existing too many legacy changelogs caused by code generator change. I suggest removing all the changelogs before GA and set the changelog of first GA version similar with [JS SDK](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/compute/arm-compute/CHANGELOG.md#1700-2021-12-07).

[2022-05-25 11:33] Tak1za opened #18245 "aztables@v1.0.0 "build constraints exclude all Go files" due to // +build go1.18"
### Bug Report

- import path of package in question: github.com/Azure/azure-sdk-for-go/sdk/data/aztables
- SDK version: `latest`
- output of go version: `1.18`

- I upgraded packages with `go get -u ./...`
- azure sdk got updated to the latest version i.e. 1.0.0
- Building my app now gives...
[code]

[2022-05-25 12:31] #18245 closed

[2022-05-25 19:12] #18174 closed, assigned to richardpark-msft

[2022-05-25 20:53] jhendrixMSFT commented on #17694
Our modules have hit `v1.0.0` and will follow SemVer rules going forward.

[2022-05-25 20:59] jhendrixMSFT commented on #17387
Dupe of https://github.com/Azure/azure-sdk-for-go/issues/16765

[2022-05-25 20:59] #17387 closed

[2022-05-25 21:02] jhendrixMSFT commented on #16058
This module has been deprecated and deleted.

[2022-05-25 21:02] #16058 closed

[2022-05-25 21:20] jhendrixMSFT opened #18249 "Fix Dependabot alerts for CVE-2022-28948"
Related https://github.com/dnaeon/go-vcr/issues/70

[2022-05-25 22:13] jhendrixMSFT commented on #14387
Given that `/services` has moved to maintenance mode and is superseded by our new, module-based SDKs, I don't think it's worth making this change to the legacy SDK.

[2022-05-25 22:13] #14387 closed

[2022-05-26 01:57] #18179 closed

[2022-05-26 03:56] navba-MSFT commented on #18165
Adding the Service team to look into this.

@RandalliLama, @schaabs, @jlichwa Could you please look into this on priority and provide an update on this ? Awaiting your reply.

[2022-05-26 05:12] mohsha-msft opened #18252 "azblob storage SDK | Functions should accept io.ReadSeeker instead of io.ReadSeekCloser"
A few of the customers have raised the request to make body io.ReadSeeker instead of io.ReadSeekCloser.  Closing should be done IF body supports it but it is not mandatory that body support it. So we can let go of this. I think the changes are required in the Autorest Golang generator

[2022-05-26 05:22] mohsha-msft commented on #18252
https://github.com/Azure/azure-sdk-for-go/issues/16714

[2022-05-26 09:02] navba-MSFT commented on #18186
@csorzi Apologies for the late reply. Thanks for reaching out to us and sharing the update.

Specify a backup resource group in Recovery Services Vault that will get created by RSV, try to update its tags via Go/terraform azurerm provider(v3.6.0)

Question:
Are you referring to the resource group of the recovery service vault ? Or Are you referring to the resource group of the backup  that you hav

[2022-05-26 09:07] navba-MSFT commented on #17707
Thanks for the update. If you face this issue again, feel free to reopen this issue.

[2022-05-26 09:16] navba-MSFT commented on #17744
@mbfrahry Apologies for the late reply. Thanks for reaching out to us and reporting this issue. Could you please share the sample code snippet you are using ? Awaiting your reply.

[2022-05-26 09:21] navba-MSFT commented on #18072
Adding the Service Team to look into this issue.

[2022-05-26 14:23] jhendrixMSFT commented on #18252
The requirement for `io.Closer` comes from the [`Request.Body`](https://pkg.go.dev/net/http#Request) field so we can't remove it.

[2022-05-26 14:59] csorzi commented on #18186
I meant the former: you specify an RG for the backup, and if its not created beforehand by any other way its created by Recovery Services Vault itself.

[2022-05-27 02:43] navba-MSFT commented on #18186
@csorzi Could you use the below sample code and check if that helps ?

[code]
Please test this and let me know. Awaiting your reply.

[2022-05-27 16:01] #18199 closed

[2022-05-27 23:53] chlowell commented on #18176
This is fixed in `github.com/AzureAD/microsoft-authentication-library-for-go` v0.5.1. Please upgrade to that version if you encounter this error.

[2022-05-30 06:18] navba-MSFT commented on #18186
@csorzi I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if the above sample helped in achieving your requirement. Awaiting your reply.

[2022-05-30 06:49] tombuildsstuff commented on #17591
ping @zjalexander

[2022-05-30 07:24] AdallomRoy commented on #15108
Any news on this? Almost a year now, very embarrassing bug... quite disappointing...

[2022-05-30 09:06] tadelesh opened #18276 "Problem for `Dump Package properties`"
This new added step cannot handle some internal tools under `eng/tools` folder. Log is [here](https://dev.azure.com/azure-sdk/public/_build/results?buildId=1607851&view=logs&j=730d91e9-ccca-5f92-9343-3b1124b19442&t=57014ab0-c321-5206-21d1-de9826f53695).

[2022-05-30 18:36] sheivin opened #18278 "Unable to update tags for VMs inside a Scale Set"
### Bug Report

- import path of package in question: `.../resourcemanager/compute/armcompute`
- SDK version: `sdk/resourcemanager/compute/armcompute/v0.5.0`
- output of `go version`: `go version go1.16 darwin/amd64`

This should be an accurate link to the exact function used - [github](https://github.com/Azure/azure-sdk-for-go/blob/sdk/resourcemanager/compute/armcompute/v0.5.0/sdk/resourcemanager

[2022-05-31 07:07] #18210 closed

[2022-05-31 09:52] tadelesh opened #18279 "Refine SDK automation to provide more reliable breaking change result"
For now, SDK automation for Go track2 only generate the default tag. But some swagger change is not related with default tag. Change tool's generation logic to generate SDK according to the swagger changed version.

[2022-05-31 11:14] AsafMah opened #18280 "Dependabot alert -Unhandled exception in gopkg.in/yaml.v3 #2"
### Bug Report

- import path of package in question,-`azure-sdk-for-go/tree/main/sdk/storage/azblob`
- SDK version -`0.4.1`
- output of `go version` - go version go1.18.2 windows/amd64

- What happened?
We depend on azblob, and now we got this error - https://github.com/Azure/azure-kusto-go/security/dependabot/2
running `go mod why` shows it comes from azblob.
- What did you expect or want to hap

[2022-05-31 15:09] jhendrixMSFT commented on #18280
Dupe of https://github.com/Azure/azure-sdk-for-go/issues/18249.  Needs an upstream fix in `go-vcr`

[2022-05-31 15:09] #18280 closed

[2022-05-31 15:28] zjalexander commented on #17591
I'm not the owner, but I've reached out to the responsible team to 1) get a response to this issue and 2) get my name taken off the owner list for this service.

[2022-05-31 15:34] jhendrixMSFT commented on #18188
I took a look at the swagger PR, and it looks to me that the cross-version breaking change didn't flag this.  Is this a bug?  For a single value enum, changing from `modelAsString: false` to `modelAsString: true` is a breaking change.

[2022-05-31 22:01] #18207 closed

[2022-06-01 07:24] kabal2010 commented on #17809
@navba-MSFT
Can I please ask if there has been any update regarding this issue?

Best Regards

[2022-06-01 08:34] navba-MSFT commented on #17809
@josephkwchan @jennyhunter-msft Could you please review this ask and help us loop in the right owners for this ? Thanks in advance.

[2022-06-01 18:22] chlowell opened #18288 "Run azkeys crypto.Client tests on MHSM"

[2022-06-01 18:45] #18190 closed

[2022-06-01 23:55] vcolin7 opened #18289 "[Key Vault] Add error logging for when downloading an HSM's security domain fails."
Downloading an HSM's Security domain sometimes fails for our live tests without us logging a possible error message from the Powershell cmdlet. We can leverage [.NET](https://github.com/Azure/azure-sdk-for-net/blob/79fddcfff8d895a19cbea334ccea6d1a20cc918a/sdk/keyvault/test-resources-post.ps1#L99)'s approach to alleviate this in [azkeys/test-resources-post.ps1](https://github.com/Azure/azure-sdk-fo

[2022-06-01 23:57] vcolin7 commented on #18289
Also, is there a particular reason we have a test-resources-post.ps1 script for both [Keys](https://github.com/Azure/azure-sdk-for-go/blob/a83e05e05cc3b384be29ee3ab2d8da762b1cf500/sdk/keyvault/azkeys/test-resources-post.ps1) and [Secrets](https://github.com/Azure/azure-sdk-for-go/blob/a83e05e05cc3b384be29ee3ab2d8da762b1cf500/sdk/keyvault/azsecrets/test-resources-post.ps1)?

[2022-06-02 03:30] tadelesh commented on #18188
Close this task as the tool has already updated. The breaking change issues are discussed in the mail thread.

[2022-06-02 04:31] tadelesh opened #18294 "Re-release some core RPs stable version"
|RP|Tag|Reason|
|---|---|---|
|SQL|package-composite-v5|CVP approved|
|Authorization|package-2020-10-01|Latest stable version tag|
|ContainerRegistery|package-2021-09-only|Latest stable version tag|
|Security|package-2022-03|Latest stable version tag|
|ApplicationInsights|package-2020-02-02|Latest stable version tag|

Retract the previous GA version, release new stable version and then release the

[2022-06-02 09:21] #18237 closed

[2022-06-02 17:22] chlowell commented on #15916
Closed by #16857 and #17398

[2022-06-02 17:22] #15916 closed

[2022-06-02 17:22] RickWinter commented on #15026
Closing this old Epic

[2022-06-02 17:22] #15026 closed

[2022-06-02 17:24] #14897 closed

[2022-06-02 17:25] #14898 closed

[2022-06-02 17:25] #14899 closed

[2022-06-02 17:26] RickWinter commented on #14900
This was a tracking Epic that is no longer needed with transition to GitHub Projects.

[2022-06-02 17:26] #14900 closed

[2022-06-02 17:28] #14903 closed

[2022-06-02 17:28] RickWinter commented on #14905
This was a tracking Epic that is no longer needed with transition to GitHub Projects.

[2022-06-02 17:29] RickWinter commented on #15010
This was a tracking Epic that is no longer needed with transition to GitHub Projects.

[2022-06-02 17:51] heaths commented on #17822
This comes direct from swagger. Generally, we open simple tracking items like this but it's often just regenerating. That said, whether `entityId` is going to remain in the 7.4-preview.1 swagger is up in the air. /cc @vcolin7 who is driving the KV releases.

[2022-06-02 18:43] richardpark-msft commented on #18078
We have some more changes we want to get into the next go-amqp release, then I'll do a merge into our internal area so we can be sync'd, and also give time for our long running tests to run.

[2022-06-02 18:45] richardpark-msft commented on #15756
Hey @RickWinter, do you remember what we specifically wanted for this? Was it to meet a particular bar/percentage of coverage?

[2022-06-03 00:50] #15972 closed

[2022-06-03 21:00] #15917 closed

[2022-06-06 07:28] navba-MSFT commented on #18186
@csorzi The action is currently pending on you to try the above sample. Please provide an update once you get a chance. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-06 07:28] #18186 closed

[2022-06-06 07:46] joey-laminar commented on #16987
Came upon this issue too, the solution was to define storageErr as a pointer:

[code]

[2022-06-06 09:03] tadelesh commented on #18279
Regarding it is hard to determine a tag with automation changed file list and other language use default tag to do the automation, this task is abandoned.

[2022-06-06 09:03] #18279 closed

[2022-06-06 17:35] chlowell opened #18319 "Test all updateable properties"
https://github.com/Azure/azure-sdk-for-go/pull/18309#pullrequestreview-995640373 points out that `azkeys` doesn't allow updating key operations (it should) and that its tests don't cover this scenario. There may be similar feature and test gaps in other Key Vault modules.

[2022-06-06 19:58] WTIGER001 opened #18321 "KeyVault Delete Failure"
### Bug Report / Question

I am trying to use `BeginDeleteSecret` in the `azsecrets.Client`. My KeyVault does not have Soft Delete turned on. My code is as follows:

My go mod contains

[code]

[code]

I am always getting an error of:
[code]

I have tracked this down to line 348 of the client.go file

[code]

The actual API method of `DeleteSecret` works, but it is the `GetDeletedSecret` that does

[2022-06-06 21:02] sapphire-sk opened #18322 "Error while specifying Ingestion as the data source type for linked storage accounts"
### Bug Report
I am trying to link storage accounts with data source type as Ingestion
The API version `2020-03-01-preview` supported DataSourceType enum with 'Ingestion' as one of the valid values for log analytics linked storage account.
However, this value was removed in `2020-08-01` leading to 'Invalid value' error when storage accounts are linked to a workspace where the data source type is s

[2022-06-06 23:55] chlowell opened #18324 "Flatten options bag Properties fields"
Several options bags have a `Properties` field. This should be flattened for a couple reasons:
- `Properties` has several read-only fields. Users have to check the docs to know which fields have an effect when set.
- `Properties` sometimes duplicates an options bag's fields. For example, `CreateKeyOptions` and `Properties` both have a `Tags` field.

[2022-06-07 04:28] RickWinter commented on #15756
It was to ensure we reviewed coverage and pushed the block coverage over 90.

[2022-06-07 07:07] tadelesh commented on #18278
@sheivin According to the service team reply, all VM in VMSS uniform share the same tags. It cannot be modified by update VMSSVM. All the tags will be ignored when updating. The only way is to update VMSS with new tags, and it will propagate to all VMs in VMSS.

[2022-06-07 09:08] tadelesh opened #18327 "Add deprecated messages for track1 mgmt. plane packages"
1. Add deprecated comment for all the mgmt. packages
2. Do not add comment to packages under 'profiles`
3. Close all track1 release request
4. Release last track1 version

[2022-06-07 16:51] sheivin commented on #18278
@tadelesh Thanks for the clarification. We are looking to add different tags to the individual VMs, so adding them all to VMSS cannot work unless there is some way to filter these tag values at the VM level. Is the team actively looking at supporting this flexible orchestration for individual VMs within a scale set inside AKS? The issue is related to this Stack Overflow post from 2018: https://sta

[2022-06-07 16:58] chlowell commented on #18176
If you encounter this error, you can also upgrade to `azidentity` v1.0.1, which requires the patched `microsoft-authentication-library-for-go`.

[2022-06-07 17:13] RickWinter commented on #18327
FYI, @mario-guerra for reference on the planned deprecation of previous versions of mgmt plane SDKs in GO.

[2022-06-07 17:15] RickWinter commented on #18324
Is there more you want to do beyond what PR #18309 fixed?

[2022-06-07 17:24] chlowell commented on #18324
Yes, this issue tracks another round of unrelated API changes.

[2022-06-07 20:40] richardpark-msft commented on #17868
Hi @frankwangnj,

I talked with the service team about this. There are apparently some windows of time where the queue's statistics are not available.  This is temporary.

I've added a fix so the code will no longer panic in this situation, and will just return an error instead. You can pick that fix up in this build, which just released:

https://github.com/Azure/azure-sdk-for-go/releases/tag/sdk

[2022-06-07 20:40] #17868 closed, assigned to richardpark-msft

[2022-06-07 21:30] #16788 closed

[2022-06-07 21:36] lmorchard opened #18332 "Add support for parameterized SQL queries for CosmosDB"
### Feature Request

Azure Cosmos DB [supports queries with parameters](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-query-parameterized-queries).

However, [ContainerClient.NewQueryItemsPager](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/data/azcosmos#ContainerClient.NewQueryItemsPager) in azcosmos only supports a query string without accompanying parameters.

It would be

[2022-06-08 05:21] tadelesh opened #18341 "Remove `zz_generated_` prefix for the mgmt. plane SDK"
1. update release tool to remove the prefix
2. update tool to use comment to delete auto-generated files

[2022-06-08 05:33] tadelesh commented on #18327
Message: (compute for example)

Please note, this package has been deprecated. A replacement package is available [github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/compute/armcompute](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/compute/armcompute). We strongly encourage you to upgrade to continue receiving updates. See [Migration Guide](https://aka.ms/azsdk/golang

[2022-06-08 05:46] tadelesh commented on #18278
You can update VMs resource instead of VMSS/VMs. I don't know if it can match your requirements.

[2022-06-08 06:53] navba-MSFT commented on #18321
@WTIGER001 Thanks for reaching out to us and sharing this feedback. We are looking into this issue. We will update this thread once we have more details on this.

[2022-06-08 07:05] navba-MSFT commented on #18322
@sapphire-sk Thanks for reaching out to us and sharing this feedback. We are looking into this issue. I will update this thread once I have more details on this.

[2022-06-08 10:27] navba-MSFT commented on #18321
@WTIGER001 I wasn't able to reproduce the issue. I was able to call the BeginDeleteSecret and delete my secret from KV.

More Info [here](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/keyvault/azsecrets#section-readme).
[code]

[2022-06-08 14:18] #18294 closed

[2022-06-08 18:05] ealsur commented on #18332
@RickWinter what is the guidance for Parametrized Queries? Is there a type that can be leveraged from azcore?

We could roll our own but I wonder if other SDKs would benefit from them.

[2022-06-08 19:49] RickWinter commented on #18332
We do not have a parametrized query pattern or type in azcore.  I agree it makes sense to have a solution that could be used by other services.  Do you have a proposed solution you want to kick start the design-discussion with?

cc: @JeffreyRichter @jhendrixMSFT

[2022-06-09 02:49] navba-MSFT commented on #18278
@sheivin Apologies for the late reply. I am discussing this with the Product Owners. I will get back to you with an update, once I have more details on this.

[2022-06-09 03:00] navba-MSFT commented on #18017
Adding the Service Team to look into this.

[2022-06-09 03:01] navba-MSFT commented on #17744
@mbfrahry Could you please let us know if you had a chance to look at my above comment ? Please share your sample code snippet once you get a chance so that we can debug it further.

[2022-06-09 07:15] #17882 closed

[2022-06-09 14:21] jhendrixMSFT opened #18350 "Dependency check tool doesn't handle v2 modules"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1629059&view=logs&j=b70e5e73-bbb6-5567-0939-8415943fadb9&t=bdeefc16-b669-5ebd-ad94-a2c19ade53b0

`
github.com/Azure/azure-sdk-for-go/sdk/depcheck imports
	github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/communication/armcommunication/v2: module github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/communication/armcommunication@

[2022-06-09 18:36] matthchr opened #18351 "Poller no longer short-circuits async operation polling if resource ProvisioningState is Succeeded in initial PUT response"
### Bug Report

In `azcore@v0.21.0`, the async poller had a check to see if the operation was already done and if so would mark itself as `Done`. See
azcore@v0.21.0/arm/internal/pollers/async/async.go

[code]

Now though, that check is gone: https://github.com/Azure/azure-sdk-for-go/blob/sdk/azcore/v1.1.0/sdk/azcore/internal/pollers/async/async.go#L74

This check was used by some resources. For ex

[2022-06-09 18:47] mbfrahry commented on #17744
Sure. I'm calling `CreateOrUpdate` with

[code]

The issue is that I'm sending

[code]

where `certificateIssuerThumbprint` is uppercased. But I'm receiving `3341db6cf2af72c611df3be3721a653af1d43ecd50f584f828793dbe9103c3ee` which is lower cased.

The other thumbprints are returned with the correct casing.

[2022-06-09 19:04] matt-FFFFFF opened #18352 "azidentity - `NewDefaultAzureCredential` fails to get MSI credentials in GitHub Actions runner"
### Bug Report

- import
`github.com/Azure/azure-sdk-for-go/sdk/azidentity v1.0.0`
- output of `go version`
`go version go1.18.3 linux/amd64`

- What happened?
Within a GitHub Actions workflow, running within [Azapi Terraform provider](/Azure/terraform-provider-azapi) the `NewDefaultAzureCredential` func failed to get a MSI credential from the default endpoint because MSI was not enabled. The GitH

[2022-06-09 19:38] kany opened #18354 "`sql.ServersClient` `List` function results do not match the CLI (`az sql server list`) results"
### Bug Report

- import path of package in question - `github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/v5.0/sql`
- SDK version - `65.0.0+incompatible`
- `go version go1.18.2 darwin/arm64`

- What happened?
1) When I use the CLI and call `az sql server list`, a list of SQL servers is returned.
2) When using the SDK, an empty list is returned.
[code]

- What did you expect or want to ha

[2022-06-09 20:00] chlowell commented on #18321
This is a bug. Polling is optional but `BeginDeleteSecret` [always calls `GetDeletedSecret`](https://github.com/Azure/azure-sdk-for-go/blob/sdk/keyvault/azsecrets/v0.7.1/sdk/keyvault/azsecrets/client.go#L348). Your intent is still realized because the client requests the deletion first, but you can't avoid this error when deleting from a vault with soft-delete disabled. This is fixed on our main b

[2022-06-09 20:39] jbald-insight commented on #14511
Was this resolved? I get the same error deploying Frontdoor from Bicep.

[2022-06-10 01:04] tkent commented on #16088
@richardpark-msft, we're going to let `v1.0.1` run for a few weeks without the work around we've had in place. If it shows up again, I'll file a separate issue. I'm hesitant to file an issue otherwise because we'll just get asked to try again with another version.

[2022-06-10 02:38] navba-MSFT commented on #18321
@chlowell Thanks for pointers.

@WTIGER001 Could you please try the [above suggested](https://github.com/Azure/azure-sdk-for-go/issues/18321#issuecomment-1151563277) workaround until the fix is released and let us know if that helps? Awaiting your reply.

[2022-06-10 02:48] navba-MSFT commented on #17744
@mbfrahry Thanks for clarifying the ask. I am adding the Service Team here to take a look into this ask.

[2022-06-10 03:06] ArcturusZhang commented on #17470
The corresponding fix has been merged. We will release a new version to apply this fix to the reported package.

[2022-06-10 03:46] tadelesh commented on #18350
I reran the pipeline and came with a sucess. It is a little tricky here. After we merge the v2 release code into main, we need wait for the release ci and approve for release, and then we can have tag and package can be indexed by `pkg.go.dev`. During the time before tag finished, there will be no v2 package can be get, so other ci which include this v2 source code will fail then. We will make thi

[2022-06-10 05:24] navba-MSFT commented on #18322
@sapphire-sk Could you please share your use case here ? Also what what scenario you are trying to fulfill with linked storage account for ingestion? Awaiting your reply.

[2022-06-10 05:43] magodo commented on #17470
@ArcturusZhang Isn't track1 stopping release for now?

[2022-06-10 17:29] chlowell commented on #18352
Can you double check your `azidentity` version? Since v0.13.0, `NewDefaultAzureCredential` doesn't do any I/O, making HTTP errors impossible. You could see this with an older version though.

[2022-06-10 18:14] ItalyPaleAle commented on #17850
Hi! Is there any update on when this issue will be fixed?

[2022-06-11 02:25] richardpark-msft opened #18383 "[azeventhubs] Add support for getting EventHub properties"

[2022-06-11 02:25] richardpark-msft opened #18384 "[azeventhub] Manage multiple links for consuming"

[2022-06-11 02:25] richardpark-msft opened #18385 "[azeventhub] Build a blob checkpoint store using Azure Storage"

[2022-06-11 02:25] richardpark-msft opened #18386 "[azeventhub] Get live tests running"

[2022-06-11 02:26] richardpark-msft opened #18387 "[azeventhub] Handle prefetching/internal buffering with Consumers"

[2022-06-11 02:27] richardpark-msft opened #18388 "[azeventhub] Create common `internal` package between Service Bus and Event Hubs"

[2022-06-11 02:28] richardpark-msft opened #18389 "[azeventhub] Write migration guide"
Most users will be coming to this library from the existing eventhubs package. We'll need to provide a migration guide to show how to map from the constructs in that library to the new ones here.

Some things to note:
- ATOM
- Changes between callback based and batch based

[2022-06-11 02:28] richardpark-msft opened #18390 "[azeventhub] Write readme"

[2022-06-11 02:28] richardpark-msft opened #18391 "[azeventhub] Buffered producer (design)"
The buffered producer was a post-track-2 designed component, but it can help in that it handles client side batching automatically.

There are some complexities with it, so it might not necessarily be part of the initial GA, but it's something we can stretch for.

[2022-06-11 02:28] richardpark-msft opened #18392 "[azeventhub] Receiver redirect"

[2022-06-11 02:28] richardpark-msft opened #18393 "[azeventhub] Batched sending"
Event Hubs, much like Service Bus, supports sending messages in a batch. This should be able to leverage the same code, as it uses the same encoding.

[2022-06-11 02:28] richardpark-msft opened #18394 "[azeventhub] Raw AMQP message support"

[2022-06-11 21:07] mblaschke opened #18395 "armsubscription.Subscription: missing Tags"
### Bug Report

import path: `/sdk/resourcemanager/subscription/armsubscription`
SDK version: `latest`
go version: `go version go1.18.3 darwin/arm64`

Subscription struct doesn't include `Tags`:

[code]

https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/resourcemanager/subscription/armsubscription/zz_generated_models.go

[2022-06-12 12:37] sapphire-sk commented on #18322
Linking storage accounts to Log Analytics workspace allows having your own managed storage account to store the logs instead of a service owned storage account.

- In previous API, it was possible to link a storage account where the data source type is 'Ingestion' meaning this allowed the logging agents to send 'Ingestion' data captured from the resources to the linked storage account. These logs

[2022-06-12 15:18] Avinodh commented on #17634
@SaurabhSharma-MSFT - I would really appreciate an update here, if it is a timeline. The request here is for feature parity in the GO textprocessing library as compared to the other languages.

[2022-06-13 03:10] tadelesh commented on #18395
@mblaschke Thanks for your feedback. The return body of `Get` operation of `subscription` does not contains `tag` for now. As this is a feature request, I'll involve service team to have a look.

[2022-06-13 03:14] navba-MSFT commented on #18395
Adding Service team to look into this feature request.

[2022-06-13 04:24] navba-MSFT commented on #18321
@WTIGER001 Could you please let me know if you have tried the above suggested workaround ? Awaiting your reply.

[2022-06-13 06:57] mblaschke commented on #18395
according to https://docs.microsoft.com/en-us/rest/api/resources/subscriptions/get it returns the tags

This is not really a feature as the old sdk also provides subscription tags.

[2022-06-13 08:28] tadelesh commented on #18395
Swagger default tag still using old 2016 api-version. @anyone from service team, please help to do the upgrade.

[2022-06-13 08:43] navba-MSFT commented on #18395
@tadelesh I will check with the Service team offline and update this github thread.

[2022-06-13 08:52] johanburati commented on #18321
I have the same issue, I tried @navba-MSFT  code with @chlowell's  work around:

[code]
If we do not handle the error at the `// nothing to do, got the expected error` line, then we get a panic:
[code]
Am I missing something ?

[2022-06-13 19:28] chlowell commented on #14932
Closing this because it's part of #17159 we don't need to track separately.

[2022-06-13 19:28] #14932 closed

[2022-06-13 19:38] chlowell commented on #14405
Related: #17386 (MSAL requires a tenant validation solution to support ADFS)

[2022-06-13 20:41] Grayer123 commented on #18395
You might want to use all the models under “resourcemanager/resources” instead of “resourcemanager” (might has the old version, not sure why it hasn’t been removed).

Please give it a try with https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/resourcemanager/resources/armsubscriptions/zz_generated_models.go (I do see “tags” in subscription struct) instead of https://github.com/Azure/azure-sd

[2022-06-14 01:07] richardpark-msft opened #18406 "[azservicebus] Change interface{} to any in API surface"
This was pointed out in an API review - we're a bit inconsistent here. We should standardize on just using 'any', which should be fine since our floor is Go 1.18.

[2022-06-14 02:22] tadelesh commented on #18395
@Grayer123 Is the package of `subscription/armsubsciption` replaced by `resources/armsubscriptions` totally? If so, we could deprecate the former one and let the customer use the later one.

[2022-06-14 02:53] tadelesh opened #18407 "Fix some release-v2 tooling problem"
1. remove beta version changelog when release stable
2. version replacement of `constant.go` for v2+ version bug
3. change onboard changelog
4. support onboard version set

[2022-06-14 04:16] tadelesh commented on #18350
I changed the script to use `tag` to verify the version and fall back to use `replace` if race.

[2022-06-14 04:49] navba-MSFT commented on #18278
@sheivin Apologies for the late reply. I have heard back from the Product group. Please clarify if this is [VMSS-Uniform](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-orchestration-modes?WT.mc_id=modinfra-31635-pierrer#scale-sets-with-uniform-orchestration) or [VMSS-Flex](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machi

[2022-06-14 06:01] #18341 closed

[2022-06-14 06:01] #18407 closed

[2022-06-14 06:12] navba-MSFT commented on #18322
@sapphire-sk I had filed this PR to address this https://github.com/Azure/azure-rest-api-specs/pull/19365

Once the swagger update  will be approved and merged by ARM, our product Owners will trigger the GO SDK generation.
Then it is a matter of a few days until it will be publicly available.

[2022-06-14 08:45] tadelesh commented on #18201
@miazamrai Thank you for the feedback. Please note, the package `github.com/Azure/azure-sdk-for-go/services/authorization/mgmt/2020-10-01/authorization` has been deprecated. A replacement package is available [github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/authorization/armauthorization](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/authorization/armauthorization)

[2022-06-14 12:02] navba-MSFT commented on #18395
@tadelesh  Got a confirmation from @Grayer123 that it should be replaced.

[2022-06-14 12:53] kany commented on #18354
@tadelesh I'm stilling seeing an empty result. Is a specific role required for the service principal/user. I'm using the same credentials between the CLI and the SDK. The CLI returns the expected results, the SDK returns an empty result set regardless of the `sdk/resourcemanager/**/arm**` package used.

[2022-06-14 18:39] sheivin commented on #18278
@navba-MSFT Thanks for your reply. I can confirm that these tag writes were attempted on a VMSS with Uniform orchestration model. Do you have a runbook that you can share for converting VMSS from Uniform to Flex model? Potential downtimes, cost changes, are a few of the factors more information on would be useful to determine the possibility of a change.
Secondly, are Uniform orchestration model V

[2022-06-14 20:26] xqi-aviatrix opened #18411 "ActivityLogsClient's List function does not return 400 with invalid selectParameter"
https://github.com/Azure/azure-sdk-for-go/blob/ca4d22fbbacf9ddc32b42a14113b13ea3feb9ccd/services/preview/monitor/mgmt/2021-09-01-preview/insights/activitylogs.go#L53

The function returns normally with the following inputs
eventsCollection, err := alClient.List(context.Background(),
		"eventTimestamp ge '2022-06-14T00:00:00.6407898Z' and eventTimestamp le '2022-06-14T23:59:59.6407898Z'",
		"eventT

[2022-06-14 23:32] benbp commented on #18276
@tadelesh not sure if this issue has been noticed or not? I'm going to add it to our engsys project so it comes past our planning meeting.

[2022-06-15 00:02] xqi-aviatrix opened #18412 "InterfacesClient.Get() returns nil for ipConfigurations[].publicIpAddress.ipAddress"
https://github.com/Azure/azure-sdk-for-go/blob/ca4d22fbbacf9ddc32b42a14113b13ea3feb9ccd/services/network/mgmt/2021-08-01/network/interfacesgroup.go#L199

as the title says

[2022-06-15 00:03] xqi-aviatrix commented on #4829
Any solution on this issue? Any fix would be helpful to me

[2022-06-15 02:53] navba-MSFT commented on #18322
@sapphire-sk The PR has been merged now. So our Product Owners will check this further and then  trigger the GO SDK generation. This will take few days to be available publicly. No fixed ETA can be shared for this now. With that we will proceed with archival of this thread. If you need any further assistance on this in future feel free to reopen this thread. We would be happy to help.

[2022-06-15 02:53] #18322 closed

[2022-06-15 03:36] navba-MSFT commented on #18278
@sheivin Thanks for getting back.

More Info [here](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-orchestration-modes).

The following table compares the Flexible orchestration mode, Uniform orchestration mode, and Availability Sets by their features:

Feature | Supported by Flexible orchestration for scale sets | Supported by Uniform orchestration fo

[2022-06-15 03:43] johanburati commented on #18321
I just enabled soft-delete on my vault and that fixed the issue for me.

[2022-06-15 03:51] tadelesh commented on #18395
@navba-MSFT Thanks. @mblaschke You could use package `github.com/Azure/azure-sdk-for-go/resources/armsubscriptions`.

[2022-06-15 04:17] navba-MSFT commented on #18321
@WTIGER001 Could you please let us know if you had a chance to try the above suggestion ? Please let us know if you need any further assistance on this or we are good to close this out. Awaiting your reply.

[2022-06-15 04:17] #18350 closed

[2022-06-15 04:21] tadelesh commented on #18411
@xqi-aviatrix Thanks for your feedback. Please note, the package `github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2021-09-01-preview` has been deprecated. A replacement package is available [github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/monitor/armmonitor](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/monitor/armmonitor). See [Migration Guide](htt

[2022-06-15 04:22] tadelesh commented on #18412
@xqi-aviatrix Thanks for your feedback. Please note, the package `github.com/Azure/azure-sdk-for-go/services/network/mgmt/2021-08-01` has been deprecated. A replacement package is available [github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/network/armnetwork](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/network/armnetwork). See [Migration Guide](https://aka.ms/azsd

[2022-06-15 06:33] navba-MSFT commented on #18278
@sheivin I hope you had a chance to look at my above comment. Regarding your pending question, we have no current plans to deprecate VMSS-Uniform, but we may reconsider this in the future if most VMSS customers end up migrating to Flex. We would not deprecate uniform without having a great migration experience available. Hope this answers..

[2022-06-15 17:39] Rohitrajak1807 commented on #16613
A mock client like in the case of `knative` package for GoLang would be helpful. They define a reactor(this object holds the logic of how the client would "react" given some input), and a mock client which then requests this reactor for some data.
To be specific: https://github.com/knative/client/blob/main/pkg/serving/v1/client_test.go

[2022-06-15 18:59] xqi-aviatrix commented on #18412
Thanks for the upgrade notification.

I have upgrade my code to use the new version of package. But I still face the problem that the PublicIpAddress in the returned NetworkInterce is nil.  I think I should use expand field to make it non-nill. Is there any example I can follow about how to use the Expand field?

niClient, err := armnetwork.NewInterfacesClient(currentSubscription, cred, nil)

[2022-06-15 19:11] #18411 closed

[2022-06-15 23:49] jhendrixMSFT commented on #17850
The canonicalization of received HTTP headers comes from the HTTP stack in the standard library.  At present, there's no way to disable this behavior.  This happens [here](https://github.com/golang/go/blob/master/src/net/textproto/reader.go#L515).

See also https://github.com/golang/go/issues/37834

[2022-06-15 23:50] ItalyPaleAle commented on #17850
@jhendrixMSFT thanks for sharing that. Why does the "track1" SDK not have this issue, then? I don't believe I've seen headers "canonicalized" there, unless I remember incorrectly.

[2022-06-15 23:56] jhendrixMSFT commented on #17850
We applied the same fix when sending headers.  Receiving them is still a problem though.

[2022-06-16 00:00] ItalyPaleAle commented on #17850
Ok, track1 is working fine for Dapr, so perhaps I can try even if the receiving side doesn't have that fix.

Is the fix on the sending side published now?

[2022-06-16 00:02] jhendrixMSFT commented on #17850
Not yet, I'll follow up on when this will happen.

Also note that we're evaluating some significant refactoring of the public surface area for `azblob`.  See [here](https://apiview.dev/Assemblies/Review/858fef15e4d24307a1372285fd35ce17) for what it might look like.  No guarantees that it will take this exact shape.  Feel free to send me any feedback on it offline.

[2022-06-16 00:04] ItalyPaleAle commented on #17850
Ok. We will wait. Link isn't working for me btw.

[2022-06-16 00:06] jhendrixMSFT commented on #17850
Must be a permissions issue (the link was to an API review).  I updated the link to just point to my fork where the work resides.

[2022-06-16 00:30] xqi-aviatrix commented on #18412
I find some hint in this page https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resources/armresources#section-readme and figure out the solution below

					networkInterface, err := niClient.Get(ctx, *event.ResourceGroupName, niName, &armnetwork.InterfacesClientGetOptions{Expand: to.Ptr("IPConfigurations/PublicIPAddress")})

[2022-06-16 00:30] #18412 closed

[2022-06-16 01:18] #15260 closed

[2022-06-16 03:41] ng-druid opened #18423 "Create and update static web app"
Hello,

I didn’t see anything that makes it possible to create or update a static web app using this sdk. Is that something that has been discussed.

Thanks

[2022-06-16 03:58] tadelesh commented on #18354
@kany , I've tested the SDK with our test subscription and all works fine. If it is an authorization issue, I think an error should return. Could you please refer [this](https://github.com/Azure/azure-sdk-for-go/blob/main/documentation/new-version-guideline.md#logging) to get the raw http request and response and paste here. We could dig it more.

[2022-06-16 05:26] berndverst opened #18424 "aztables incorrectly disallows empty rowkey resulting in unreadable data"
### Bug Report

- SDK version: `github.com/Azure/azure-sdk-for-go/sdk/data/aztables@v1.0.0`
- output of `go version`
`go version go1.18.3 darwin/arm64`

The `aztables` SDK and previous Azure Table Storage SDKs allow insertion of entities with empty row key - only a partition key is required. However, the `aztables` SDK (including v1.0.0) explicitly throws an error when performing a Get or Update r

[2022-06-16 12:04] yonsken opened #18426 "StageBlockFromURL() fails when copying within the same account with SharedKeyCredential"
### Package imports
[code]
### Go version
`go version go1.18 linux/amd64`

### Describe the bug
I am using (*azblob.BlockBlobClient).StageBlockFromURL to copy blobs within the same container. It works as expected when I use Service Principal credentials (azidentity.NewEnvironmentCredential) but fails when I use shared key credentials (azblob.SharedKeyCredential) to create the service client. Speci

[2022-06-16 14:22] kany commented on #18354
@tadelesh I updated my code to match the documentation you mentioned above. Here's the output.
[code]

Here's the updated code:
[code]

[2022-06-16 16:52] #18424 closed

[2022-06-16 16:54] jhendrixMSFT commented on #18424
Fix will roll out in `aztables@v1.01.`

[2022-06-16 17:00] Kronos11 opened #18428 "Ability to create private cluster in AKS"
### Service Package Request
Our team needs the ability to create [private AKS Clusters](https://docs.microsoft.com/en-us/azure/aks/private-clusters) using the go SDK so that it can be used in the [crossplane-azure provider](https://github.com/crossplane-contrib/provider-azure)

After this feature is added, it can be implemented in the crossplane azure provider to close [#235](https://github.com/cr

[2022-06-16 18:13] berndverst commented on #18424
Thanks for the quick turnaround @jhendrixMSFT

[2022-06-16 18:17] jhendrixMSFT commented on #17103
@Teiktos is this working for you now?

[2022-06-16 18:36] jhendrixMSFT commented on #18428
Looks like the `az` command for this is implemented [here](https://github.com/Azure/azure-cli/blob/a1b418c083cd7f671757ff32e4350e983192eedb/src/azure-cli/azure/cli/command_modules/acs/custom.py#L1473).  I didn't yet untangle which SDKs/APIs are involved.

[2022-06-17 10:44] navba-MSFT commented on #18321
@WTIGER001 The action is currently pending on you to test the above suggestion. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-17 10:44] #18321 closed

[2022-06-17 11:16] eissko opened #18434 "[sqlvirtualmachine] API http GET on sqlvirtualmachine returns wrong state of storageConfigurationSettings"
### Bug Report

- import path of package in question, e.g. `services\preview\sqlvirtualmachine\mgmt\2021-11-01-preview\sqlvirtualmachine\`
- SDK version e.g. `latest`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`: Go runtime version: go1.18.1 (terraform 1.2.1)

- What happ

[2022-06-17 13:29] eissko commented on #18434
For me it does not look like response to "sqlvirtualmachine" state but rather the state of SQL IAAS extension which only keeps the state of last operation executed but never the current state for sql virtual machine:

<img width="416" alt="image" src="https://user-images.githubusercontent.com/18594305/174307881-5c5512c2-4873-498a-a9ad-f63a8d458606.png">

[2022-06-17 14:00] eissko commented on #18434
your response should most likely fit more to "sqlStorageUpdateSettings" not "storageConfigurationSettings" like depcited below:

<img width="355" alt="image" src="https://user-images.githubusercontent.com/18594305/174313287-f3fb1b1b-05bc-41b0-92a0-1f171c8a02e8.png">

[2022-06-17 14:41] eissko commented on #18434
so as summary to this case. to mentioned GET I expect this response:
<img width="263" alt="image" src="https://user-images.githubusercontent.com/18594305/174320423-b9d735b5-264c-4fc5-8a7b-0555a08e93a7.png">

if this is fixed, also azure provider can be fixed #13356

[2022-06-17 16:33] nerddtvg opened #18435 "App Insights WebTestDefinition Missing Request and ValidationRules Structs"
Starting in REST API version 2018-05-01-preview, there was the addition of a `Standard` `kind` which required `Request` and `ValidationRules` structs and an optional `Configuration` field. This was also included in the 2020-10-05-preview version. Unfortunately the REST documentation itself is missing this information, but it is available in the ARM/Bicep docs. Can this be added into the Go SDK to

[2022-06-17 20:20] CecileRobertMichon opened #18436 "compute.VirtualMachineImagesClient#ListSkusLocation in request URI 'canadacentral,' does not match location of the service 'CanadaCentral'"
### Bug Report

Got the following error trying to list VM image SKUs with location "canadacentral".

[code]

I would expect the location to not be case sensitive and for "canadacentral" to be equivalient to "CanadaCentral". What's interesting is that this does not happen in any other location (all our regions are lowercase in code and we always use the same API call without any issue). Adding a ne

[2022-06-17 20:21] CecileRobertMichon commented on #18436
First observed in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2399

[2022-06-18 10:03] #18165 closed

[2022-06-18 14:05] matt-FFFFFF commented on #18352
Hey @chlowell,

Thanks for getting back to me!

The version of `azidentity` is v1.0.0. Of it's not azidentity doing this then it may be the policy client then that is. All I know is somewhere along the line the SDK is reaching out to get a MSI token and this fails on the public GitHub actions runners.

I've been able to work around it by putting in an iptables rule to block access to the endpoint.

[2022-06-18 23:41] Avinodh commented on #17634
Hi folks, it has been 2 months since your last update. I would really appreciate any form of timeline here.

[2022-06-19 08:13] eissko commented on #18434
@RickWinter btw, this looks like API problem because I did test out of the SDK GO and it behaves this buggy way on pure API via https://docs.microsoft.com/en-us/rest/api/sqlvm/2021-11-01-preview/sql-virtual-machines/get. I opened the issue on https://github.com/Azure/azure-rest-api-specs/issues/19517. I hope this right place.

Peter

[2022-06-20 02:09] lirenhe commented on #18428
@tadelesh, could you follow up on this?  Thanks

[2022-06-20 02:18] tadelesh commented on #18354
@kany I changed your code as follows. You don't need to set customer listener and event. Before you run your test, make sure you have set the environment `AZURE_SDK_GO_LOGGING=true`.
[code]

[2022-06-20 03:49] tadelesh commented on #18428
@Kronos11 Could you try `ManagedClustersClient` in `armcontainerserver` package [here](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice#ManagedClustersClient)?

[2022-06-20 04:02] navba-MSFT commented on #18278
@sheivin I hope that your queries are now addressed. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-20 04:02] #18278 closed

[2022-06-20 05:15] mrozitron opened #18439 "Security: armsecurity.AlertsClient to allow filtering when requesting alerts?"
Hi!  When paging over security alerts for a given subscription or resource group, is there a way to only request alerts that are, for example active, or have arrived since a given timestamp, etc?

Thanks!

[2022-06-20 07:23] tadelesh commented on #18435
@nerddtvg Thank you for the feedback. Please note, the package `github.com/Azure/azure-sdk-for-go/services/preview/appinsights/mgmt/2022-02-01-preview/insights` has been deprecated. A replacement package is available [github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/applicationinsights/armapplicationinsights](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/application

[2022-06-20 13:29] kany commented on #18354
Thank you for updating the code @tadelesh.

I set `AZURE_SDK_GO_LOGGING` to `all` instead of `true`. When set to `true`, no output is generated. After setting it to `all`, this is what is output.

[code]

[2022-06-20 17:39] Kronos11 commented on #18428
I do see it available as an option,I am working on a PR for crossplane to get this added. It was a little difficult to find, but after changing the version of the api to 2019-11-01 I was able to see this option.

Created PR in crossplane: https://github.com/crossplane-contrib/provider-azure/pull/343

[2022-06-20 19:07] jhendrixMSFT commented on #17741
@gaoyp830 @msft-adrianma can either of you help with this?