[2021-02-22 18:45] catalinaperalta commented on #14228
This environment doesnt require a sample, it depends on whether azure is used for it or not.

[2021-02-22 18:45] #14228 closed

[2021-02-22 20:21] jhendrixMSFT commented on #14295
While you are correct that we aren't investing in this package any more, I'm happy to review and merge a PR to support this if you feel inclined.  If not then you'll have to wait for the updated blob storage package to support connection strings (I have a meeting with them soon and will bring this up).

[2021-02-22 23:01] mihaitodor commented on #14295
@jhendrixMSFT Thanks for the offer! I think I'm OK for now with the workaround. Would definitely consider sending a PR if this Azurite bug https://github.com/Azure/Azurite/issues/702 can also be solved somehow (any insight there?), because it would motivate me to revisit this integration to enable a few more tests in [benthos](https://github.com/Jeffail/benthos). Otherwise, I'd rather leave it as

[2021-02-22 23:13] jhendrixMSFT commented on #14334
I can't repro this.

Can you please run your repro with [`DEBUG` logging enabled](https://github.com/Azure/azure-sdk-for-go#built-in-basic-requestresponse-logging) and share the trace please.

[2021-02-23 06:16] gowrisankar22 commented on #14334
The issue is fixed as per @ArcturusZhang suggestion.

[2021-02-23 06:25] jhendrixMSFT commented on #14334
@ArcturusZhang were you able to repro?

[2021-02-23 07:43] ArcturusZhang commented on #894
@majuansari sorry I do not have much context about this... This happens before I came to MS :laughing:
@jhendrixMSFT could you help?

[2021-02-23 08:42] ArcturusZhang commented on #14334
Well.. no...weird

[2021-02-23 14:33] krishna-birla commented on #14311
Thanks @ArcturusZhang

[2021-02-23 15:40] #14336 closed

[2021-02-23 15:45] jhendrixMSFT commented on #894
Unfortunately there's no update here at present.

[2021-02-23 15:46] jhendrixMSFT commented on #14334
I'm going to close this given the lack of info.  @gowrisankar22 I know you have a workaround but if you can share more info to help us root-cause the issue that would be great.

[2021-02-23 15:46] #14334 closed

[2021-02-23 15:55] #3158 closed

[2021-02-23 16:21] catalinaperalta opened #14343 "APIVIEW: fix receiver variables to reflect the ones actually in the code"
So instead of always being: (c Receiver) Foo() make it (\<variable actually in the code\> Receiver) Foo()

[2021-02-23 17:34] catalinaperalta commented on #14343
Other pending fixes: move the ToPtr() methods for enums up to their corresponding const definition.
Remove methods on unexported receivers. ex: (c time) Foo()

[2021-02-24 08:20] sebader commented on #13012
With the now announced deprecation of the non-workspace-attached AI, this should really be prioritized
https://azure.microsoft.com/en-us/updates/we-re-retiring-classic-application-insights-on-29-february-2024/

[2021-02-24 12:31] devigned opened #14351 "Change to Future Result from Func to Field"
### Bug Report

In https://github.com/Azure/azure-sdk-for-go/releases/tag/v50.0.0 the Future structs had a very abrupt breaking change from having a Result func to now having a Result field. This is unfortunate since the changes make it more difficult to deal with futures for a given resource.

A good example of this is how Cluster API Provider Azure interacts with VMSS. We have a reconcile loop t

[2021-02-24 12:48] devigned commented on #14351
I just dug a bit deeper and found: https://github.com/Azure/azure-sdk-for-go/issues/14010. The interface is an improvement, but I'm still deeply concerned about the Result field and it's func var not being able to be marshaled / unmarshaled.

[2021-02-24 12:54] devigned commented on #14351
@jhendrixMSFT, in track 2 are the pollers able to be marshaled / unmarshaled?

I'm guessing this is the mechanism for resuming, correct?
https://github.com/Azure/azure-sdk-for-go/blob/268147d542fc0a6101db6f2056fc7a4d43efaca3/sdk/arm/compute/2020-09-30/armcompute/zz_generated_pollers.go#L1140-L1144

[2021-02-24 15:56] jhendrixMSFT commented on #14351
Breaking marshallilng/unmarshalling was a (gross) oversight, we will look at how we can get this fixed.

Correct, the `ResumeToken()` is how pollers are marshalled/unmarshalled (we wanted to make it an explicit part of the contract in track 2).

[2021-02-25 09:10] federicobarera commented on #13012
Get we get an ETA on this feature please

[2021-02-25 18:08] jhendrixMSFT commented on #14351
@ArcturusZhang I have a solution for this.  We will need an unmarshaller for the generated future types, and we move the implementation of `Result()` to an unexported method on the future type then wire it up accordingly (this should be safe as we create separate future types for each operation).  I mocked this up for `redis` to test it out, and it's working as expected.  Take a look.

https://git

[2021-02-25 19:06] jhendrixMSFT opened #14360 "Add support for multi-tenant authentication"
This is a hard requirement for TF support.

[2021-02-25 19:07] jhendrixMSFT commented on #12184
Required for AKS.

[2021-02-25 19:08] jhendrixMSFT commented on #11875
Hard requirement for Terraform.

[2021-02-25 19:27] Drewm3 commented on #14014
Closing this issue because it appears to be by design. @DavidGOrtega, please let me know if my understanding from above is not correct.

[2021-02-25 19:35] DavidGOrtega commented on #14014
:wave @Drewm3 thanks for the support.

You are totally correct.

Can be implemented with this sdk?

[2021-02-26 02:41] #14283 closed

[2021-02-26 02:48] ArcturusZhang commented on #14351
I will take a look at this and make a fix on the code gen.

[2021-02-26 22:08] github-2407 commented on #13894
@DavidGOrtega , have you tried these to accept the terms and agreement? https://docs.microsoft.com/en-us/cli/azure/vm/image/terms?view=azure-cli-latest

[2021-02-28 05:43] #14211 closed

[2021-03-01 03:03] ArcturusZhang commented on #14014
This is achievable in SDK if we could do it using REST API. Could you confirm? @Drewm3

[2021-03-01 03:04] ArcturusZhang commented on #13012
Hi @federicobarera @sebader we are discussing this with the service team currently, will let you know the process very soon

[2021-03-01 06:41] tombuildsstuff commented on #14014
@Drewm3 for comparison other cloud providers do wait for the CloudInit to be completed here before marking the machine as "ready" - shouldn't this be a conditional behaviour that's exposed (in the same way as `RequireGuestProvisionSignal` is)?

[2021-03-01 11:51] manicminer commented on #12774
@ArcturusZhang Looks like this has been added, thanks!

[2021-03-01 16:44] rafalrygas opened #14369 "[Storage] Getting error "Could not insert data: invalid character '<' looking for beginning of value" while using batch operations on tables and sasToken client."
### Bug Report

Paths:
` github.com/Azure/azure-sdk-for-go/storage`

Version: v51.3.0

**What happened?**

After creating storage client using `NewAccountSASClientFromEndpointToken` everything works correctly.
When trying to create storage client using `NewAccountSASClientFromEndpointToken` there is always an error while using batch operations on tables (`Could not insert data: invalid character '

[2021-03-03 02:15] #12774 closed

[2021-03-03 02:28] ArcturusZhang commented on #14369
Hi @rafalrygas thanks for this issue!

@jhendrixMSFT could you please take a look at this?

[2021-03-03 14:03] shaobovaltix opened #14383 "Azure SDK ListLocations() returns locations including global, Asia, Europe"
Hi, I'm using Azure SDK version v47.0.0, and when I call subscription client.ListLocations(), it returns me a few locations that I cannot create resources in, such as global, Asia, Europe, Brazil, India. There are East Asia, Southeast Asia, South India, West India, Central India and those regions are the ones where resources are created. I'm wondering if there is an API which returns only those re

[2021-03-03 17:18] philbal611 commented on #3007
@chlahav
Any update on the resolution of this issue?

[2021-03-04 16:42] jhendrixMSFT opened #14387 "Proposal: Convert this repo to a Go module"
Please add a 👍 reaction if you support this proposal. If you do not, please leave a comment describing why.

Now that Go modules have solidified and are on by default in Go 1.16 we are considering how we migrate this repo to officially support them (this is for our track 1 content; track 2 already supports modules).

In keeping with our current release strategy and version, the natural option woul

[2021-03-04 20:28] Drewm3 commented on #14014
@tombuildsstuff, could you provide a pointer to how this is done elsewhere? CustomData itself is just a data channel. The platform doesn't actually know that the data is going to be handled by something like CloudInit because there is no guarantee that CloudInit is installed on 100% of VMs. I believe to actually have the platform wait for CloudInit would require that the customer certify in some m

[2021-03-04 20:28] #14014 closed

[2021-03-05 05:27] Tenseiga commented on #12700
Hey guys any tentative date for this feature?

[2021-03-05 08:04] NameOfGoy opened #14392 "TTS Service"
Hello，I can't find any message of TTS in package Services . So I want to know if this sdk has TTS service . If it has , please tell me which package it is in.  Thanks !

[2021-03-05 19:38] jhendrixMSFT opened #14396 "Convert track 2 to one module per RP"
Original plan was to release one module per RP/API version.  While this gives the greatest flexibility in terms of versioning, it creates an enormous amount of modules which is just too complex.

The new plan is to release one module per RP, so e.g. there will be separate modules for `compute`, `network` etc.  Each module will contain all API versions for its RP.

[2021-03-05 22:39] jhendrixMSFT commented on #14369
This is due to attempting to unmarshall an XML response as JSON.  It's been fixed in `v52.3.1`

[2021-03-05 22:39] #14369 closed

[2021-03-06 00:38] kosinsky opened #14399 "Support Gen2 for PowerBI Embedded"
### Feature Request

Current version of the SDK supports only Gen 1 for Power BI Embedded. Please, add support for Gen 2. ARM templates already support that: https://docs.microsoft.com/en-us/power-bi/developer/embedded/azure-pbie-create-capacity?tabs=ARM-template#embedded-gen2-preview

That will allow to add support for PBI Embedded Gen 2 to terraform azurerm provider https://registry.terraform.io

[2021-03-06 17:30] josephspurrier commented on #894
There is a December 2020 video on Azure custom handlers for Go in the meantime: https://www.youtube.com/watch?v=RPCEH247twU

[2021-03-07 17:32] majuansari commented on #894
@josephspurrier  Is there any performance impact in choosing custom handlers vs the languages that are supported natively?

[2021-03-08 12:36] rafalrygas opened #14402 "[Storage] Getting error "StatusCode=400, ErrorCode=InvalidHeaderValue, ErrorMessage=The value for one of the HTTP headers is not in the correct format." while using batch operations on tables and sasToken client."
### Bug Report

Paths:
` github.com/Azure/azure-sdk-for-go/storage`

Version: v52.3.1

**What happened?**

After creating storage client using `NewAccountSASClientFromEndpointToken` everything works correctly.
When trying to create storage client using `NewAccountSASClientFromEndpointToken` there is always an error while using batch operations on tables (`storage: service returned error: StatusCod

[2021-03-08 16:33] jhendrixMSFT commented on #14163
Current POR is to continue to support multiple API versions side-by-side.

[2021-03-08 16:33] #14163 closed

[2021-03-08 23:55] catalinaperalta opened #14405 "Support ADFS authentication"

[2021-03-09 05:30] dw511214992 opened #14408 "Resouce name is missed in go sdk"
resource name is missed in go sdk: https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/sql/mgmt/v4.0/sql/manageddatabasesensitivitylabels.go#L57
delete method has the same issue.

[2021-03-09 05:44] ArcturusZhang commented on #14408
@dw511214992 it is not missing - it is hard coded in the generated code because there is only one available value: https://github.com/Azure/azure-sdk-for-go/blob/5464e01dc592545520045c0a59751a893150d6c9/services/preview/sql/mgmt/v4.0/sql/manageddatabasesensitivitylabels.go#L98

swagger reference: https://github.com/Azure/azure-rest-api-specs/blob/8c6d9ca42b208961742596028f914b285a12021c/specificat

[2021-03-09 05:44] #14408 closed

[2021-03-09 07:20] ArcturusZhang commented on #11692
Hey @jmcshane and @kingli-crypto sorry for the delay of response.
Actually we have a way to send the request with customized headers like this (I am using a virtual machine client for demonstration here, but all clients are the same):
[code]

[2021-03-09 07:21] #11692 closed

[2021-03-09 07:43] tombuildsstuff commented on #11692
@ArcturusZhang these aren't HTTP headers, but a Key-Value field in the request/response called "custom headers" iirc

[2021-03-09 09:18] njuCZ commented on #11692
@tombuildsstuff after refer to the azure cli and aks team, unfortunately it's actually HTTP headers...So may I ask your opinion about issue https://github.com/terraform-providers/terraform-provider-azurerm/issues/6793? I am preparing a PR for it.

[2021-03-09 09:21] njuCZ commented on #11692
@tombuildsstuff after refer to the azure cli and aks team, unfortunately it's actually HTTP headers...So may I ask your opinion about issue https://github.com/terraform-providers/terraform-provider-azurerm/issues/6793? I am preparing a PR for it.

[2021-03-09 11:22] tombuildsstuff opened #14409 "Common Types for Managed Identities"
### Feature Request

Managed Identities are of a predefined type at this point in time (although they appear to be missing [from the API contracts](https://github.com/Azure/azure-resource-manager-rpc)) - they're some combination of:

- None
- System Assigned
- System Assigned, User Assigned
- User Assigned

As such these could form a common type in `Azure/go-autorest` which would enable both code

[2021-03-10 06:38] tombuildsstuff commented on #14014
@Drewm3 I don't have a direct link to that unfortunately, but here's a link to the EC2 documentation: https://docs.aws.amazon.com/ec2/index.html

[2021-03-10 08:35] ArcturusZhang commented on #14392
Hi @NameOfGoy  thanks for this issue!

May I know the full name of TTS?
If you are referring to [this](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-text-to-speech), unfortunately we do not suppose this service. This SDK repo only collects the management plane SDKs, all data plane SDKs are taken care of by the corresponding service team.

[2021-03-10 08:42] ArcturusZhang commented on #14402
Hi @rafalrygas thanks for this issue!

Add @jhendrixMSFT for help since this is a legacy storage package issue

[2021-03-10 08:53] NameOfGoy commented on #14392
Well, I don't know its certain name in Azure, but we often call it TTS, which mean Text To Speech, translate the text into Speech.
According to these day's using(rest api), I found some words maybe the service name , such as CognitiveServices、tts.speech(cut out from the host) etc.

[2021-03-10 08:57] NameOfGoy commented on #14392
I got ur point , thanks for ur response !

Ok, I got it , thanks for ur reply.

[2021-03-10 11:15] DavidGOrtega commented on #14014
@Drewm3 could you please leat me know if this can be achieved with this SDK? 🙏

[2021-03-10 15:48] jhendrixMSFT opened #14412 "Proposal: Convert the license from Apache 2.0 to MIT"
Please add a 👍 reaction if you support this proposal. If you do not, please leave a comment describing why.

This is to ensure that the project is compatible with all OSS communities.  We are planning to make this transition by the end of March 2021.

If this negatively impacts you, or you have questions about this transition, please post them here.

[2021-03-11 09:13] xingtanzjr opened #14418 "The future hangs when invoking `WaitForCompletionRef()`"
Hi all,

I encounter an issue when set administrator for Azure PostgreSQL. My code is as follows:
[code]

When I invoking the method `future.WaitForCompletionRef()`, the thread hangs here. But actually the request is successfully and the admin is also set successfully.

**I checked the source code for WaitForCompletionRef(), and found that the `delay` is `600s` inside this function**
[code]

It se

[2021-03-11 11:34] tombuildsstuff commented on #14418
Sounds like the API itself is returning a long Retry-After header, which would root-cause this issue, I guess? https://github.com/Azure/azure-rest-api-specs/issues/13115

[2021-03-11 22:00] catalinaperalta commented on #14405
Also investigate how to document ADFS usage with azidentity.

[2021-03-11 22:03] #11875 closed

[2021-03-11 23:46] WodansSon opened #14420 "RedisEnterprise missing values"
### Bug Report

- import path of package: `.../services/redisenterprise/mgmt/2021-03-01/redisenterprise`
- SDK version: `v52.3.0`
- output of `go version`: `go version go1.16.1 linux/amd64`

**Issue:**
The following attributes are not returned by the RP:
* `hostname`
* `version`

you are are also unable to set the `MinimumTLSVersion` value on the `ClusterProperties`

What happened?
* The values we

[2021-03-13 04:48] josephspurrier commented on #894
@majuansari From my quick testing, it's seems to be moving pretty faster, I don't notice a delay. It's looks around 70ms for a hello world app.

[2021-03-13 17:12] rapatchi commented on #14264
We add the required fix.

[2021-03-13 17:12] #14264 closed

[2021-03-13 23:54] Diastro opened #14423 "ARM template validation returns an error on bad template (change of behavior compared to past SDK versions)"
### Bug Report

 When using the latest version of the `SDK (v52.4.0)` the arm deployment client [Validate()](https://github.com/Azure/azure-sdk-for-go/blob/20a795df04f235f71d70edfb23b3d8e28bcfbb19/services/resources/mgmt/2020-06-01/resources/deployments.go#L3543) function will return an error on template validation failure. In previous SDK versions, the validate call wouldn't return an error for a

[2021-03-15 06:09] aim-for-better commented on #14238
Still need to wait some days.

[2021-03-15 09:09] meastp commented on #14305
FYI It's @pcwiese who maintains the current (in opentelemetry/opentelemetry-collector-contrib repo) Azure Monitor Exporter. Perhaps he can give more context on what is needed? :)

[2021-03-15 15:28] SaiKalyan28 opened #14426 "ContainerServices: nil returned for nextLink returning 500+ containers per page"
I used the List and ListByResourcegroup function for ContainerGroups to list all the containers available. There are 500+ containers under that resource group and all the 500 containers are returned on the first page and the 'nextLink' is nil.

import path of the package used
"github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-12-01/containerservice"

similar behavior observed w

[2021-03-15 19:16] katbyte commented on #7738
Hey @allegradomel @jhendrixMSFT @JeffreyRichter - This was closed without a fix or adequate response: Can we please reopen this until it has been resolved?

[2021-03-17 11:21] favoretti commented on #9393
HI @ArcturusZhang, it this still the case, or do you guys have swaggers for this already?

[2021-03-17 11:37] terrycain commented on #14420
Not sure if this is the right issue to add this, but I couldn't find a way in the SDK to get the access keys either. Would be nice to add so it can be exposed via terraform.

[2021-03-17 18:09] raypettersen commented on #12700
Hi! Any news regarding this feature?

[2021-03-18 01:11] plombardi89 opened #14433 "FutureAPI Confusion"
So I tried updating some older code to use the latest v52.4.0 release after reading through https://github.com/Azure/azure-sdk-for-go/issues/14010 and thinking the issue around the interface clients and future API requiring concrete types was resolved... but I think I am even more confused now than I was before.

Can we get an example of how one of these FutureAPI's is supposed to be used properly

[2021-03-18 07:30] Drewm3 commented on #13894
Hi @DavidGOrtega, could you please try the suggestion from @github-2407 and let us know if that resolves the issue.

[2021-03-18 20:18] DavidGOrtega commented on #13894
I tried to do that with this SDK without any luck and unfortunately I was not able to find an example or unit test to figure out what was wrong. Would you recommend me to read the code of azure-cli to figure it in go?

[2021-03-18 20:53] kriti-ms commented on #13894
@DavidGOrtega here's the REST API to get and sign the agreement https://docs.microsoft.com/en-us/rest/api/marketplaceordering/marketplaceagreements/get

[2021-03-19 01:35] ArcturusZhang commented on #14418
Hi @xingtanzjr thanks for opening this issue

Since this is caused by a long Retry-After header, I marked this issue by Service Attention so that the corresponding service team could see this issue.

[2021-03-19 01:37] ArcturusZhang commented on #14420
Hi @WodansSon thanks for this issue!

Sometimes this kind of issues happens, maybe the service team is keeping them reserved for the future, or simply mistakes in swaggers. I have tagged this issue as Service Attention so that the corresponding service team could take a look at this.

[2021-03-19 01:48] ArcturusZhang commented on #14423
Hi @Diastro thanks for this issue!

We did change the implementation of the future responder in past major versions - which might have unresolved issues.
CC @jhendrixMSFT for awareness.
Could you provide some more information on this so that we can investigate this more and perhaps provide a fix for this in the next major version?

[2021-03-19 01:56] ArcturusZhang commented on #14426
Hi @SaiKalyan28 thanks for this issue!

We first need to make sure that you are reporting issues of the List of `ContainerGroups` - but container groups come from the RP containerinstance instead of containerservices.
Could you confirm this?

And for this issue, we have two different circumstances:
1. This is a bug on the service side - they mark their List operation as pagable but do not return p

[2021-03-19 02:00] ArcturusZhang commented on #14433
Hi @plombardi89 thanks for this issue!

The `Result` method is not in the interface, therefore if you want to write code with the interfaces, I recommend that we do not use the `Result` method. After the `WaitForCompletionRef` function successfully returns, we could just simply invoke `Get` function on the client to get the result.
CC @jhendrixMSFT

[2021-03-19 04:14] jhendrixMSFT commented on #14433
I agree this is clunky.  It was a trade-off made to keep the API compatible while providing a way to mock the `Result()` method.  Since the `Result()` method is type-specific we can't place it in the interface (this will be fixed once we have generics).

[2021-03-19 04:30] jhendrixMSFT commented on #14423
The working version in the past was API version 2019-05-01 yes?  The `DeploymentsClient.Validate()` method for 2020-06-01 (the one linked) has always been a long-running operation thus it's always returned a future.

This is an interesting case.  The [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/re

[2021-03-19 17:17] jhendrixMSFT commented on #14433
Here's an example I came up with for mocking this.

[code]

[2021-03-19 22:51] g2vinay opened #14440 "Update Identity README"
Identity README Changes:
- [x] Update the DAC description to look like [this](https://github.com/g2vinay/azure-sdk-for-java/blob/update-identity-readme/sdk/identity/azure-identity/README.md#defaultazurecredential).
- [x] Add Detailed Identity examples in the wiki for Identity Scenarios mentioned [here](https://github.com/Azure/azure-sdk-for-java/wiki/Azure-Identity-Examples) and reference the link

[2021-03-20 14:16] SaiKalyan28 commented on #14426
Hi @ArcturusZhang, thanks for the response

I am little new to this terminology, can you please elaborate more.

To be more clear on what I did,
Created a VM client
`vmClient := compute.NewVirtualMachinesClient(subscriptionID)`

Using this client invoked apis
`vmClient.List(ctx,resourcegroupname)`  or
`vmClient.ListAll(ctx,statusOnly)`

which by description lists all of the virtual machines but al

[2021-03-21 16:47] mepand commented on #12024
@cohenjo We will get back on this by end of this month

[2021-03-22 02:55] ArcturusZhang commented on #14426
@SaiKalyan28 Your understanding is correct. There is one thing that you can tell whether this list operation supports pagable or not - we will always have a corresponding `ListXXXComplete` function along with the `ListXXX` if `ListXXX` supports paging.

In the source of truth of this SDK, the pagable attribute is defined in an extension of swagger `x-ms-pagable` (I am taking the compute RP as an e

[2021-03-22 05:36] SaiKalyan28 commented on #14426
@ArcturusZhang The function I am calling is `List` and the SDK also has the function `ListComplete`, so the List should support pageable response as per your comments.
The `List` function in the following link is what I am using and facing issues (https://github.com/Azure/azure-sdk-for-go/blob/master/services/containerservice/mgmt/2021-02-01/containerservice/containerserviceapi/interfaces.go).
Hop

[2021-03-22 07:53] ArcturusZhang commented on #14426
Do you mind changing the title of this issue to avoid the confusion here? Per your replies, I assume it is the List in `ManagedClustersClientAPI` that has this issue, which comes from container services instead of container groups - container group is a resource in another RP `containerinstance`.

As we have discussed, this issue is actually not an issue in the SDK but a service side issue, theref

[2021-03-22 08:14] ArcturusZhang commented on #9393
Hey @favoretti I need to correct my previous statement - we do have some swaggers of the connection resource here: https://github.com/Azure/azure-rest-api-specs/blob/e10fd5f5f0b3444e589cd816321fce7036e33554/specification/web/resource-manager/Microsoft.Web/stable/2016-06-01/logicAppsManagementClient.json#L753
But the problem is that this swagger is not included in SDK generation. I will write some

[2021-03-22 08:31] ArcturusZhang commented on #7738
Reopen this issue per request

[2021-03-22 08:42] majuansari commented on #894
Thanks @josephspurrier
Would like to get some confirmation from the azure team.   @ArcturusZhang  @joshgav

Do we lose any performance when writing azure functions using a custom handler using GO ? When compared to other languages like Nodejs which has first-class integrated support

[2021-03-22 08:55] ArcturusZhang commented on #12700
Hey, we have released the new api-version of container registry: https://github.com/Azure/azure-sdk-for-go/tree/master/services/preview/containerregistry/mgmt/2020-11-01-preview/containerregistry
which I assume supports CMK.
Could you please take a look? @mozts2005 @Tenseiga @raypettersen

[2021-03-22 09:20] SaiKalyan28 commented on #14426
Thanks @ArcturusZhang for updating the issue.

[2021-03-23 10:02] vijayrajah commented on #7278
@jhendrixMSFT Any updates on this ?

[2021-03-23 14:52] jhendrixMSFT commented on #7278
We've started work on a track 2 implementation of table storage, please see https://github.com/Azure/azure-sdk-for-go/pull/14441.  Sorry I don't yet have an ETA on when this would be tagged and consumable.

[2021-03-23 19:15] sivetic commented on #13012
@ArcturusZhang Any update on this task?  We are waiting on azurerm update to support the Workspace model, and it seems it keeps getting kicked down the line.

[2021-03-24 01:46] ArcturusZhang commented on #13012
Hi all, the service team is working on the swagger correctness issues now, once they finish their work, we could get a release on the new api-version.

[2021-03-24 05:31] SaiKalyan28 commented on #14426
Hi
I found this page https://docs.microsoft.com/en-us/rest/api/azure/#async-operations-throttling-and-paging and there mentioned `Typically, the response includes the nextLink property when the list operation returns more than 1,000 items`.
In this case is there any option to change the results per page?

[2021-03-24 15:14] jhendrixMSFT commented on #14396
In addition, each RP will have a separate module for preview API versions.

[2021-03-25 08:28] ArcturusZhang commented on #14426
Some API provides a `top` query parameter to control the number of items in one page, but this API does not provide such parameter, therefore we currently do not have any approach to do this using the SDK.

[2021-03-25 12:55] SaiKalyan28 commented on #14426
Thanks @ArcturusZhang for the details.
I found a similar issue https://github.com/Azure/azure-sdk-for-node/issues/2392. Can we follow the alternate approach provided in this issue using the `resources` package (https://github.com/Azure/azure-sdk-for-go/blob/master/services/resources/mgmt/2020-10-01/resources/resourcesapi/interfaces.go #L122)and filter the results using `resourceType` and `top` par

[2021-03-25 17:47] Candelit commented on #2822
Hi.
I just got this same wague error now, ading a SQL backup policy using the azure portal.
I'm trying to add a policy with weekly full retention 4 weeks, diff all other days retention 14 days.
And 1 yearly retained for 5 years.
Tried it twice.
{
  "code": "DeploymentFailed",
  "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see

[2021-03-26 13:12] siddjoshi opened #14459 "SDK Installation takes forever"
Hi,

I am trying to install the SDK with below command
go get -u github.com/Azure/azure-sdk-for-go/...

It takes hours and still does not complete. I tried multiple times on different machines with same result. Is there something I am doing wrong or there is known issue with it ? How long it usually takes to "go get" it.

Regards
Siddharth

[2021-03-26 13:17] siddjoshi commented on #14459
To reproduce the issue, please try building docker image with below dockerfile

`FROM golang:latest
RUN apt-get update
RUN go get -u github.com/Azure/azure-sdk-for-go/...
`

I also noticed that during the process, it makes my machine extremely slow, and consume huge disk space (5 GB+ and ongoing). I have never tried this SDK before so not sure if it is expected to consume this much space.

[2021-03-29 06:53] TonyDou opened #14465 "Support servicePublicIPAddress in PublicIPAddress properties."
### Service Package Request

[2021-03-30 00:04] CecileRobertMichon commented on #14351
@ArcturusZhang @jhendrixMSFT is this issue fixed in newer versions of the SDK?

[2021-03-30 06:57] ArcturusZhang commented on #14351
this will be fixed in the major version this week using the approach in this comment: https://github.com/Azure/azure-sdk-for-go/issues/14351#issuecomment-786097594

[2021-03-30 16:00] jhendrixMSFT commented on #11025
The POR is to use a file prefix like `zz_generated_` for generated content.  We will delete `zz_generated_*.go` and disable option `clear-output-folder`.

[2021-03-30 16:00] #11025 closed

[2021-03-31 08:15] ArcturusZhang commented on #14459
Hi @siddjoshi Thanks for this issue!

Hey @jhendrixMSFT could you please take a look?

[2021-03-31 08:19] ArcturusZhang commented on #14465
Hi @TonyDou thanks for this issue!

I assume the requested package should be `network`. The network team usually release a new SDK when they publish a new api-version.

[2021-03-31 08:28] njuCZ opened #14478 "if all properties in a struct are readOnly, do not serialize this struct when sending request"
### Feature Request

track1 go sdk
bug encountered: if a resource enable user assigned identity, it's common that we get the resource first, then modify the fields and fire the update api request.  The backend service will report error:
[code]

this cause a lot of trouble for users

https://github.com/terraform-providers/terraform-provider-azurerm/issues/10406

[2021-03-31 15:44] TonyDou commented on #14465
Yes, the package should be network. This new property is released in version "2019-09-01", a relatively old version now. But it's not added to this sdk yet.

[2021-04-01 06:05] #14351 closed

[2021-04-01 06:05] #14412 closed

[2021-04-01 11:38] ArcturusZhang commented on #14465
Did you check the latest api-version? Usually we do not regenerate the old api-versions once we have newer api-versions.

[2021-04-01 17:17] TonyDou commented on #14465
I just checked it does not exist in the latest version 2020-11-01.

[2021-04-01 22:42] greenms commented on #14420
@WodansSon @ArcturusZhang The RP now returns the `hostName` and `minimumTlsVersion` cluster properties.  The RP also now allows the `minimumTlsVersion` cluster property to be set at create time (however, in contradiction to the REST API, the RP is currently blocking the update of `minimumTlsVersion` after create time).  https://github.com/terraform-providers/terraform-provider-azurerm/issues/11199

[2021-04-02 02:02] #14423 closed

[2021-04-02 18:45] khenidak opened #14488 "Connection reset by peer"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
**github.com/Azure/azure-sdk-for-go/storage**
- SDK version e.g. `master`, `latest`, `18.1.0`
**v50.0.0+incompatible**
-Specify the exact commit if possible; one way to get this is the REVISION
**v50.0.0+incompatible**
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- out

[2021-04-04 14:45] rajdhandus opened #14489 "unexpected fault address -SIGBUS: bus error code=0x2"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
github.com/Azure/azure-storage-blob-go/azblob
- SDK version e.g. `master`, `latest`, `18.1.0`
github.com/Azure/azure-sdk-for-go v43.1.0+incompatible
github.com/Azure/azure-storage-blob-go v0.9.0
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by

[2021-04-05 07:37] jombetting opened #14490 "Sdk"

[2021-04-05 13:13] siddjoshi commented on #14459
The installation never got completed , so didn't get chance to run it.

[2021-04-05 18:19] pranavperfect commented on #13894
I've leveraged the "Get-AzMarketPlaceTerms" module to get and then eventually accept the terms. I'm still getting the invalid input error.

The part number in the
purchase information for VM '<<RESOURCEID>> is not as
expected. Beware that the Plan object's properties are case-sensitive. '

I use the command `Set-AzVMPlan -Name "netgate-pfsense-plus-azure-2102" -Product "netgate-pfsense-azure-245-1

[2021-04-06 00:29] bganapa commented on #3158
@jhendrixMSFT @ArcturusZhang  Could you please confirm this issue is fixed in V1 SDK and also point out the released version where the fix is?

[2021-04-06 10:36] reciproke79 opened #14493 "NewVirtualMachineRunCommandsClient references retired RunCommandPreview"
I experience a problem when utilising the **NewVirtualMachineRunCommandsClient** from the compute package, i.e. github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2020-06-01/compute

When using the **CreateOrUpdate** method I'm getting the response:

[code]

Microsoft confirmed, that the **Microsoft.Compute/RunCommandPreview** feature is no longer used/available. It seems that the RunCommandC

[2021-04-07 02:43] weshaggard commented on #12552
Tracking the general work with Azure/azure-sdk#1694

[2021-04-07 02:43] #12552 closed

[2021-04-07 03:08] aim-for-better commented on #14238
still need to wait, we will release it soon.

[2021-04-07 03:47] ArcturusZhang commented on #3158
The migration was done in v53.0.0: https://github.com/Azure/azure-sdk-for-go/releases/tag/v53.0.0

[2021-04-07 07:40] ArcturusZhang commented on #14493
Hi @reciproke79 thanks for this issue.

Based on the error message here, the error is returned from the service and not related with the SDK itself. Therefore I tagged this issue so that the corresponding service team could take a look at this issue.

[2021-04-07 07:44] #14490 closed

[2021-04-07 08:00] ArcturusZhang commented on #14489
Hi @rajdhandus thanks for this issue.

I notice that there is one line in the panic information here:
[code]
The azure-sdk-for-go (this repo) never uses this library in the implementation, therefore I suppose the panic should come from the storage SDK `github.com/Azure/azure-storage-blob-go`. Could you please open an issue in [that repo](https://github.com/Azure/azure-storage-blob-go)?
And since t

[2021-04-07 08:00] #14489 closed

[2021-04-07 08:06] ArcturusZhang commented on #14488
@khenidak thanks for this issue!

@jhendrixMSFT could you please take a look at this storage SDK issue?

[2021-04-07 18:11] avirishuv commented on #14493
hi @axayjo could you take a look at this?

[2021-04-08 08:38] #14433 closed

[2021-04-08 13:51] jstaffin-presidio opened #14506 "SecurityInsights GroupingEntityType PossibleType Values don't match API"
### Bug Report

Within /preview/securityinsight/mgmt/2019-01-01-preview/securityinsight/enums.go

The following defines the allowed values for the grouping entity types.  The API does accept these values but when they are then read back the "Ip" and "Url" types are returned as "IP" and "URL". As the values are different than what was set, software that is managing state will see this as a change a

[2021-04-09 10:39] Subhajit97 opened #14509 "Error: web.AppsClient#GetAppSettingsKeyVaultReferences: Failure responding to request: StatusCode=200 -- Original Error: Error occurred unmarshalling JSON - Error = 'json: cannot unmarshal string into Go struct field APIKVReferenceCollection.value of type web.ManagedServiceIdentity'"
### Bug Report

I would like to get the site key vault reference, therefore I am using `web.AppsClient.GetAppSettingsKeyVaultReferences`.
https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2019-08-01/web#AppsClient.GetAppSettingsKeyVaultReferences
However, the API cause the following error:
[code]

Indeed, in the JSON file that is reported in the error,
[code]
- What happened?

[2021-04-09 20:38] sidheshdivekar29 opened #14511 "Unable to create frontdoor service."
Hi,

I am trying to create new front door service.
The api I am using is as follows:-
[code]

I am getting following error from azure. Am forced to pass following two field.

[code]

 I thought there would be separate apis to create to create BackendPool, FrontendEndpoints, HealthProbeSettings & LoadBalancingSettings which I can use to create the resources and then pass their ids in above api. But

[2021-04-12 09:49] ArcturusZhang commented on #14509
Hi @Subhajit97 thanks for this issue!

We could confirm that this issue comes from the swagger from which this sdk is generated: https://github.com/Azure/azure-rest-api-specs/blob/273cebe601c137222c802504425047845d4be409/specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/WebApps.json#L21525
Unfortunately to fix this issue will introduce a breaking change to an existing api-version

[2021-04-12 09:52] ArcturusZhang commented on #14506
Hi @jstaffin-presidio thanks for this issue!

Unfortunately we have the wrong values in the SDK because we have incorrect values in [the swagger from which this SDK is generated](https://github.com/Azure/azure-rest-api-specs/blob/273cebe601c137222c802504425047845d4be409/specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json#L1161

[2021-04-12 09:54] ArcturusZhang commented on #14511
Hi @sidheshdivekar29 thanks for this issue!

The validation rules you encountered here come from the service side, therefore I have tagged this issue so that the corresponding service team could take a look at this issue.

[2021-04-12 11:38] Subhajit97 commented on #14509
Hi @ArcturusZhang,
I have tried with newer api-version
https://github.com/Azure/azure-sdk-for-go/blob/47e0b1d38a7da6bea826b885c2c605150d852d11/services/web/mgmt/2020-12-01/web/apps.go#L8413

https://pkg.go.dev/github.com/Azure/azure-sdk-for-go@v53.1.0+incompatible/services/web/mgmt/2020-12-01/web#AppsClient.GetAppSettingKeyVaultReference

Still I am getting the below error
`Error: web.AppsClient#G

[2021-04-12 20:50] sivetic commented on #13012
@ArcturusZhang Are there any further updates you could provide?

[2021-04-13 12:14] devigned commented on #14351
@jhendrixMSFT and @ArcturusZhang we've opened the PR to update Cluster API Provider Azure to v53.1.0 (linked above). It was a little clunky. I think it would have been a little easier if the `Result` field on the future struct was actually a method so that it could be part of an interface described by the consumer of the future. In our PR, we needed to create an adapter struct to implement our gen

[2021-04-13 12:52] magodo opened #14519 "[Track2] Discriminator Unmarshalling Discriminator Value Compare Bug"
### Bug Report

In Track2 generated code, e.g. https://github.com/ArcturusZhang/azure-sdk-for-go/blob/sdk/arm/network/v0.4.1/sdk/arm/network/2020-07-01/armnetwork/zz_generated_polymorphic_helpers.go#L22 (note that I'm using the fork from ArcturusZhang), the comparision between the `json.RawMessage` value and the enum const will never match, since their type are different. Therefore, the switch cas

[2021-04-13 15:20] jhendrixMSFT commented on #14351
I agree it's clunky, it was a trade-off made to keep it (i.e. future mocking fix) compatible with earlier versions.

Track 2 has improved on this by returning interface types directly, see an example [here](https://github.com/Azure/autorest.go/blob/track2/test/compute/2019-12-01/armcompute/zz_generated_pollers.go#L995).  Once we have generics, the `FinalResponse()` method can be moved to `azcore.P

[2021-04-13 15:29] devigned commented on #14351
I guess I was just surprised the future wouldn't work like this:
[code]

Then it would be easy to mock in your tests, and if you wanted to open it to other folks, just export the `resultFn` field. wdyt?

[2021-04-13 15:36] devigned commented on #14351
@jhendrixMSFT when should we move to track2?

[2021-04-14 08:13] magodo opened #14529 "[Track2] Return result in response envelope by value"
### Track2 Design Proposal

Currently, for non pager/poller api operations of the client, the generated code is like below:

[code]

In case of error, the users are expected to throw away to `FooResponse`.

However, in happy path, it is confusing for users to whether nil check the `resp.Foo` (same for `RawResponse`) before using it. Persumably, the nil check is not needed. Then shall we change the

[2021-04-14 11:13] tombuildsstuff commented on #14529
@magodo having access to the raw HTTP response can be helpful when working around limitations of the SDK, particularly with the complexity of doing that in AzCore I could see that being useful in the future tbh (for example parsing out headers, or unmarshalling into a more specific type if the model is omitting those fields).

Whilst the happy path would be made easier with these changes, ultimate

[2021-04-14 12:48] magodo commented on #14529
@tombuildsstuff That makes perfect sense given the complex reality, and thank you for providing these real examples here!

Meanwhile,  I think it still makes sense to change the types of the fields in the `FooResponse` to non-pointers.

[2021-04-14 13:30] tombuildsstuff commented on #14529
@magodo I can't speak to the original authors intentions, but my guess would be the HTTP Response is a pointer to avoid copying the (potentially large) body. Tbh the Response object itself makes sense as a pointer as it's not guaranteed to be returned, for example if there's an error with an http response but no model (because an error is returned). That allows consumers of the SDK to avoid bugs w

[2021-04-14 15:47] wheelerjl opened #14531 "Unable to peer two virtual networks that are in separate tenants using service principles"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
  github.com/azure/azure-sdk-for-go/services/network/mgmt/2020-11-01/network
- SDK version e.g. `master`, `latest`, `18.1.0`
  github.com/azure/azure-sdk-for-go v53.1.0+incompatible
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "

[2021-04-15 09:14] magodo commented on #14529
@tombuildsstuff

The `http.Response`'s heavy part are pointers (the map and the reader), which I feel is not too heavy to copy. Also, once users get the `FooResponse`, then one can pass on the address of the RawResponse along the way.

Regarding the response body, I agree with your point that this can avoid users ignore error and use the response anyway, and a panic is better than being silent. Bu

[2021-04-15 14:20] jstaffin-presidio opened #14537 "Create Azure-Sentinel Scheduled Alert Rule using SubscriptionID other than the client object SubscriptionID"
The CreateOrUpdate function on the AlertRules client within the SDK does not allow for passing a subscription ID as a parameter.  The CreateOrUpdatePreparer function is written such that it only gets the subscription ID from the client object

When using Azure Lighthouse delegated permissions, the targeted subscription may not be the same as the client subscription.  The SDK should allow for the d

[2021-04-15 16:39] jackofallops opened #14540 "Breaking Change: futures are no longer populating their Result() causing panic on access"
### Bug Report

This is a general approach to the generated SDK, so affects _many_ APIs and versions, if not all that use futures/LROs. The autorest result is no longer being assigned to the future.Response() which means on error, this causes a panic if checked for the response code:

e.g.
[code]

- What happened?
When an LRO errors, this value is checked to be able to surface the result / status

[2021-04-15 21:26] heaths opened #14542 "Missing CHANGELOG.md for affinitygroup is causing swagger repo build breaks"
From PR Azure/azure-rest-api-specs#13913, a build break in azure-sdk-for-go was caused by a missing CHANGELOG.md file for "affinitygroup":

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=840915&view=logs&j=0303ead4-2e3b-557b-303e-fe8735d4d18f&t=b29b24f0-8be9-5e66-edce-54fd3565c09c&l=129

[code]

[2021-04-15 23:27] jhendrixMSFT commented on #14488
The fix has been merged, assigning to @ArcturusZhang to track for the next release.

[2021-04-16 02:28] ArcturusZhang commented on #14540
Hi @jackofallops thanks for opening this.

The fix in autorest.go for this issue has been merged. And we are planning to release an extra minor version today to refresh every package in the sdk to resolve this.

[2021-04-16 02:32] ArcturusZhang commented on #14542
Hey @heaths this should have been fixed recently, and I just triggered a rerun on the pipelines to get the latest result.

[2021-04-16 02:38] ArcturusZhang commented on #14537
Hi @jstaffin-presidio thanks for this issue!

Unfortunately this behaviour is encoded in the swagger from which this SDK package was generated and by-design, we are not able to change this because this would be a big breaking change not only for the go SDK but also all other SDK of other languages.
On the other hand, the definition of a SDK "client" is just a method group on one particular subscri

[2021-04-16 02:44] ArcturusZhang commented on #14531
Hi @wheelerjl thanks for this issue!

Based on the description here, I suppose this is more likely to be a Azure CLI issue instead of an issue in azure-sdk-for-go, or is there anything I am missing here?

[2021-04-16 02:51] ArcturusZhang commented on #14542
The CI has passed in the swagger PR, therefore I am closing this issue. Thank you!

[2021-04-16 02:51] #14542 closed

[2021-04-16 04:15] jhendrixMSFT commented on #14537
If the API call needs to pass a subscription ID other than what the client was initialized with the swagger should be fixed.  Can you please follow up with the service team about it?

[2021-04-16 16:22] wheelerjl commented on #14531
I see the error in the current go sdk and in az cli version 2.20.0

I do not see the error in az cli verison 2.22.0

[2021-04-16 16:55] wheelerjl commented on #14531
Also for clarity. I do some preparatory cli commands in the secondary account to grant access to the service principle so that it can create the peerings in both tenants

`az login --tenant <SECONDARY_TENANT>`
`az ad sp create --id <SERVICE_PRINCIPLE>`
`az role assignment create --role "Network Contributor" --assignee <SERVICE_PRINCIPLE> --scope /subscriptions/<SUB>/resourceGroups/<RG>/providers/M

[2021-04-19 05:01] #14540 closed

[2021-04-20 02:57] norshtein commented on #14478
Hi @ArcturusZhang , any progress on this issue?

[2021-04-20 07:35] neil-yechenwei opened #14555 "There is no Resource.unmarshalInternal method"
Seems `unmarshalInternal` method isn't generated for `Resource` so that this method cannot be found when make build. If it's a bug, please fix it asap. Thanks in advance.

Code path of build failure:
https://github.com/Azure/azure-sdk-for-go/blob/166f6b80db342b21cccbdd4c554b60c5a6295bf0/sdk/arm/resources/2020-06-01/armresources/zz_generated_models.go#L1177

[2021-04-20 09:11] ArcturusZhang commented on #14509
Sorry for the delay of response, could you also attach the response body in this new api-version call?

[2021-04-20 09:20] ArcturusZhang commented on #9216
Hi @xinyi-joffre could you please open a release request on this RP so that we could carry your changes in the next release of the SDK?

[2021-04-20 11:01] pauska commented on #13012
@ArcturusZhang Hi - are there any updates on this issue that you could share with us?

[2021-04-20 21:46] catalinaperalta commented on #14519
Closed in https://github.com/Azure/autorest.go/pull/603

[2021-04-20 21:46] #14519 closed

[2021-04-20 21:55] jhendrixMSFT commented on #8090
Callers have to go out of their way to accidentally fall into this pit.  Will revisit if it becomes a problem.

[2021-04-20 21:55] #8090 closed

[2021-04-20 22:25] maggiepint opened #14559 "Planning and Roadmap Feedback - Second Half 2021"
Hello Azure SDK community!

The Azure SDK team is beginning our next planning cycle as part of Azure's twice a year planning process. As a part of this effort, we want to hear from you about what new features and services you are most interested in having as part of the New SDK. In general, we can separate requests into two categories:

1. Feature requests for various aspects of the SDK
2. Request

[2021-04-21 12:12] magodo commented on #14519
@catalinaperalta Thank you for the fix! I've verified that it works after I adopt the track2 SDK to Terraform provider for the resource containing discriminator models.

[2021-04-21 13:32] magodo commented on #14360
Adding more context:

Currently, AzureRM provider makes use of [auxiliary tenant](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/authenticate-multi-tenant) to allow users to provision resource crossing tenants (e.g. cross tenant vnet peering).

The reason why the AzureRM provider works is because it depends on Go SDK Track2, where it can construct a multi-tenant authorize

[2021-04-21 18:44] WodansSon opened #14571 "Databricks Workspace does not call Update(e.g. PATCH) when CreateOrUpdate function is called"
### Bug Report

- import path of package: `.../services/databricks/mgmt/2018-04-01/databricks`
- SDK version: `53.3.0`
- go version: 1.16

**Description:**
Currently in the API when you call the `CreateOrUpdate` function with a change only to the `tags` of the resource it will only update the `tags` for the workspace resource only and not the connected resources to the workspace. Ultimately this s

[2021-04-22 01:04] jstaffin-presidio opened #14573 "Support entityMappings and Custom key/value pairs on Scheduled Alert Rule Create or Update - Azure Sentinel"
### Feature Request

Azure Sentinel has added a new method for configuring Entity mappings and a method for defining custom details (key/value pairs).

This page describes the Azure Portal method for configuring the Entity Mappings on an alert rule
https://docs.microsoft.com/en-us/azure/sentinel/map-data-fields-to-entities

This page describes the Azure Portal method for configuring the custom det

[2021-04-22 01:07] mitchdenny opened #14574 "Announcement: Renaming "master" to "main" in this repository"
On the 18th of June, 2021 (PST) we will be renaming the ```master``` branch in this repository to ```main```. When this occurs there will be some disruption to the engineering system as we address any issues that earlier preparations did not address. Please read the following centralized issue for more background on what to expect:

Localized issues in this repository can be discussed here.

# Eng

[2021-04-22 02:27] ArcturusZhang commented on #14571
Hi @WodansSon thanks for this issue!

I have tagged this issue so that the corresponding service team could come and have this a look.
In the meantime, I suppose if this client supports `Update`, maybe we need to use `Update` function to handle the update procedure in terraform? What do you think?

[2021-04-22 03:35] ArcturusZhang commented on #14573
Hi @jstaffin-presidio thanks for this issue!

The repo mainly will contain the SDK that generates from the REST APIs [here](https://github.com/Azure/azure-rest-api-specs), therefore we cannot directly help on this until we actually have the REST API published. But I have tagged this issue so that the corresponding service team might see and help.

[2021-04-22 04:09] ArcturusZhang commented on #13012
Hi I am sorry it took this long, but the service team is trying to resolve the correctness and completeness issues in their swagger. We have to wait for them to complete these tasks to release the corresponding SDK. I will constantly ping them for updates.

[2021-04-22 06:38] WodansSon commented on #14571
@ArcturusZhang, yep, totally agree... that is exactly what I did as a temporary workaround for this issue to unblock our customers, but this scenario really should be handled by the RP as stated above in the issue. 🙂

[2021-04-22 07:01] ArcturusZhang commented on #14571
@WodansSon Agreed that this definitely needs to be fixed. Let us wait for the service team's response on this issue...

[2021-04-22 21:22] nexxai opened #14583 "Support OMS auditing for SQL Server"
### Feature Request

Now that Azure SQL Server supports auditing using a Log Analytics Workspace as a target, it would be nice if it could actually be configured via the SDK.

Thoughts?

![Screen Shot 2021-04-22 at 2 47 15 PM](https://user-images.githubusercontent.com/4316564/115786638-50b24800-a37e-11eb-954e-396b97ff48ae.png)

The two fields that are pointed to with red arrows show fields that ar

[2021-04-22 23:06] nexxai commented on #14583
For reference, I believe the offending block is here: https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/sql/mgmt/v4.0/sql/models.go#L5608

This code:
[code]
allows you to enable Azure Monitor targeting, but there's no property to define the OMS Workspace

[2021-04-23 09:03] aim-for-better commented on #14238
The Go SDK team is working on releasing. Hi @ArcturusZhang  could you please check the release request?

[2021-04-23 10:00] ArcturusZhang commented on #14238
This will be released in next week's major version.

[2021-04-23 10:05] ArcturusZhang commented on #14465
It is interesting that this `servicePublicIPAddress` does not exist in 2020-11-01 or 2020-07-01, but it exists in 2020-08-01. This will need an explanation from the corresponding service team.

[2021-04-26 05:47] magodo opened #14589 "Required enum in Swagger model misses the enum type definition in Go SDK"
### Bug Report

There are some enums defined in Swagger, which happens to be `Required` and with only one enum value, end up being a plain `*string` in the Go SDK.

Example: `securityinsight` - `AutomationRuleTriggeringLogic` ([swagger](https://github.com/Azure/azure-rest-api-specs/blob/ad5f2295c36461875b75f83e9579eadddf73d356/specification/securityinsights/resource-manager/Microsoft.SecurityInsig

[2021-04-26 06:01] ArcturusZhang commented on #14589
I have confirmed that this should be some logic in the modeler v1 - the modeler generated in this case will mark this field as a plain string instead of an enum type.

@jhendrixMSFT is the intention that modeler v1 is doing this because it is expecting the downstream SDKs could hard code this in the SDK?
How would modeler v4 behave in this case?

[2021-04-26 14:52] jhendrixMSFT commented on #14589
In track 2 we treat such values as constants and embed them directly into the generated code.

[2021-04-26 15:35] Subhajit97 commented on #14509
@ArcturusZhang Here is the full error that I am getting in this new api-version call
[code]

[2021-04-26 19:59] rmsilva1973 opened #14592 "Unable to create BOT"
### Bug Report

- import path of package in question:

**"github.com/Azure/azure-sdk-for-go/services/preview/botservice/mgmt/2018-07-12/botservice"**

- SDK version e.g. `master`, `latest`, `18.1.0`

_go.mod_ file shows this information: **github.com/Azure/azure-sdk-for-go v53.4.0+incompatible**

- output of `go version`

go version go1.16.3 windows/amd64

- What happened?

Tried to create a bot u

[2021-04-26 21:57] kurtzeborn commented on #14574
Removed date from title and updated description with new date.

[2021-04-27 08:29] yupwei68 opened #14598 "Track2 request break down"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

- What happened?
The polling call for creation of an AVS private cloud b

[2021-04-27 09:19] yupwei68 commented on #14598
Another reproduce log with request and response:

PUT /subscriptions/.../resourceGroups/acctestRG-Vmware-yupp2/providers/Microsoft.AVS/privateClouds/acctest-PC-yupp2?api-version=2020-03-20 HTTP/1.1
 Host: management.azure.com
 User-Agent: azsdk-go-armavs/2020-03-20/v0.1.0 HashiCorp Terraform/0.15.0 (+https://www.terraform.io) Terraform Plugin SDK/1.16.0 terraform-provider-azurerm/dev pid-222c6c49-

[2021-04-27 09:41] ArcturusZhang commented on #14598
Hi @jhendrixMSFT could you please take a look at this?

[2021-04-28 01:16] jhendrixMSFT commented on #14598
These two issues are slightly different, although I suspect they have the same root cause.  Can you tell me anything else about how the code is used, e.g. is there a custom HTTP transport or anything like that?

[2021-04-28 01:42] yupwei68 commented on #14598
Here I use a `BeginCreateOrUpdate` here https://github.com/ArcturusZhang/azure-sdk-for-go/blob/avs-track2/sdk/arm/avs/2020-03-20/armavs/zz_generated_privateclouds_client.go#L34.
Then I use a `PollUntilDone` here https://github.com/ArcturusZhang/azure-sdk-for-go/blob/avs-track2/sdk/arm/avs/2020-03-20/armavs/zz_generated_models.go#L595.

The code is like:
[code]

[2021-04-28 01:43] yupwei68 commented on #14598
Their panic log is different, the second is as here:

Stack trace from the terraform-provider-azurerm plugin:

[code]

[2021-04-28 03:16] ArcturusZhang commented on #14598
Hi @jhendrixMSFT here is the code we are using for building the `armcore.Connection`: https://github.com/ArcturusZhang/terraform-provider-azurerm/blob/4aca25d24933919176af7106b24494e6cb560c09/azurerm/internal/common/client_options.go#L60

[2021-04-28 03:20] ArcturusZhang commented on #14583
Hi @nexxai thanks for this issue!

I just checked the corresponding swagger for sql composite-v4 - they do not have this functionality in the swagger. Therefore I have tagged this issue so that the service team could know of this and update their swagger, after that we could release a new SDK with the new functionalities.

[2021-04-28 03:22] ArcturusZhang commented on #14592
Hi @rmsilva1973 thank for this issue!

I am sorry this happens, and the error message reads like this is something wrong in the service side - therefore I just tagged this issue so that the corresponding service team could take a look at this.

[2021-04-28 03:49] jhendrixMSFT commented on #14598
How long does it take to repro, is it immediate or are there several successful polls on the LRO endpoint?

[2021-04-28 03:57] jhendrixMSFT commented on #14598
Is there any code that replaces the `Body` field on a request as it goes through the pipeline?  It's strange that somehow it changes to an `io.NopCloser`.

[2021-04-28 06:13] yupwei68 commented on #14598
I've sent you the whole log by mail. I think it happens in the first create update.

[2021-04-29 03:45] ArcturusZhang commented on #14509
Hi @Subhajit97 by checking the responses above, this is still an issue that the service returns a model that is different from the one defined in swagger. In detail, the response was:
[code]
Please pay attention to the `identityType` here, it is a string in the response. But in swagger, it is defined as a model: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-m

[2021-04-29 04:34] feiyushi commented on #14250
hi @ArcturusZhang wonder if you got this in the next major version?

[2021-04-29 09:38] mepand commented on #12024
@cohenjo the latest version of the API has the fix for this. Can you please try leveraging the API directly? Ideally API version post 2020-10-01 should work.

[2021-04-29 21:18] axayjo commented on #13894
@kriti-ms do you know the resolution for the issue @pranavperfect is facing?

[2021-04-30 03:33] #14537 closed

[2021-04-30 18:14] sgellock commented on #14592
Hi @rmsilva1973.  Sorry you've run into this.  I own bot framework and supporting tools.  Bot Framework doesn't yet support Go language.  We currently support Python, Java, JavaScript and C#.  this looks like a migration effort by a team outside of my team.  Let me try and track down who owns this.  the code for the bot service api is autogenerated using openapi definitions.  that much I can see f

[2021-04-30 19:17] cleemullins opened #14627 "Bot Service SDK incorrectly uses "preview" swagger"
The SDK appears to be pulling an older (pre-GA) swagger file from 2018. This file is out-of-date and needs to be replaced.
"github.com/Azure/azure-sdk-for-go/services/preview/botservice/mgmt/2018-07-12/botservice"

The SDK is currently pulling the swagger file from here:
* https://github.com/Azure/azure-rest-api-specs/tree/master/specification/botservice/resource-manager/Microsoft.BotService/previ

[2021-04-30 19:19] cleemullins commented on #14592
Hi @rmsilva1973 Looking at this, it appears the underlying cause is the usage of an old Swagger file. I've filed #14627 to update this SDK to use the newest swagger file, at which point we can push a new release.

[2021-04-30 19:27] jhendrixMSFT commented on #14627
@hailiu2586 can you please go to http://aka.ms/openapiportal and request a release of the Go SDK using the latest swagger?

[2021-04-30 22:30] gargi opened #14628 "Azure Marketplace List and GetAgreement API returns errors"
### Bug Report

- import path:  `services/marketplaceordering/mgmt/2015-06-01/marketplaceordering`
- SDK version  `v46.0.0`
- Go version: `go version go1.14.2 darwin/amd64`

- What happened?
  - `MarketplaceAgreementsClient.List` and  `MarketplaceAgreementsClient.GetAgreement` API return errors
  - Here is my code
[code]
marketplaceordering.MarketplaceAgreementsClient#List: Failure responding to r

[2021-05-01 16:42] github-2407 commented on #13894
+@Amjad ***@***.***> FYI

Adding @Oren ***@***.***> and @Guy ***@***.***> to help with the thread - VMMarketplaceInvalidInput using a marketplace image * Issue #13894 * Azure/azure-sdk-for-go (github.com)<https://github.com/Azure/azure-sdk-for-go/issues/13894>

From: Akshay Joshi ***@***.***>
Sent: Thursday, April 29, 2021 2:19 PM
To: Azure/azure-sdk-for-go ***@***.***>
Cc: Kriti Shah ***@***.***>

[2021-05-02 06:54] github-2407 commented on #13894
You need to make sure the ImageReferance and the Plan object are pointing the same offer, the in the original question ImageReferance is: nvidia:tensorflow_from_nvidia:tensorflow_nvidia_20_03_1:20.03.1

But the plan object is
Set-AzVMPlan -Name "netgate-pfsense-plus-azure-2102" -Product "netgate-pfsense-azure-245-1" -Publisher "netgate"

If you can share the ARM template generated by this code it

[2021-05-05 17:51] ianeal opened #14632 "Azure reservations are missing fields in the reservations.Response"
Import path of package in question:
	"github.com/Azure/azure-sdk-for-go/services/preview/reservations/mgmt/2020-10-25/reservations"

SDK version: 54.0.0
	go.mod file shows this information: github.com/Azure/azure-sdk-for-go v54.0.0+incompatible

Output of go version
	go version go1.16 linux/amd64

What happened?

We are converting from an existing implementation which uses straight HTTP requests t

[2021-05-05 20:56] jhendrixMSFT commented on #14488
Fixed in v54.0.0

[2021-05-05 20:56] #14488 closed

[2021-05-05 21:05] jhendrixMSFT commented on #14598
The problem is [here](https://github.com/ArcturusZhang/go-azure-helpers/blob/track2-adoption/policy/logging.go#L27).  The use of [`httputil.DumpRequestOut`](https://golang.org/src/net/http/httputil/dump.go?s=2110:2175#L67) replaces the `Body` which breaks our invariant in the retry policy.

[2021-05-06 03:30] ArcturusZhang commented on #12024
Also could you please open a SDK release request to either refresh the existing SDK package or introduce a new package corresponding to the new api-version so that we could unblock the customers of azure-sdk-for-go?
You can submit a release request [here](https://aka.ms/openapihub)

[2021-05-06 03:36] ArcturusZhang commented on #14250
Sorry we forget to make the changes in azure-rest-api-specs. Here is the PR: https://github.com/Azure/azure-rest-api-specs/pull/14264
Also could you please also open a SDK release request for this package so that we could refresh the SDK? You can open SDK release requests [here](https://aka.ms/openapihub)

[2021-05-06 18:38] jhendrixMSFT commented on #14598
Fixed in `sdk/azcore/v0.15.1`

[2021-05-06 18:38] #14598 closed

[2021-05-06 20:01] axayjo commented on #14493
@reciproke79 We're currently adding new features to the Run Command Extension and you're running into one of those features. Can you please use only the documented features of [Run Command Extension](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/run-command)?

[2021-05-06 20:34] kosinsky commented on #14399
@ArcturusZhang Looks like PowerBI Dedicated is the next step. They recently added version 2021-01-01 to the swagger:

https://github.com/Azure/azure-rest-api-specs/tree/master/specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01 and it does support Gen2 (https://github.com/Azure/azure-rest-api-specs/blob/master/specification/powerbidedicated/resource-manager

[2021-05-07 02:35] ArcturusZhang commented on #14399
Unfortunately exposing a new package or updating an existing api-version should be initiated by the service team, so that we would know the corresponding swaggers are ready to ship SDKs.
I will try let the service team know about this package request in our SDK.

[2021-05-08 02:24] kostrse opened #14644 "ManagedIdentityCredential doesn't translate scopes to resource"
We are working on [support of managed identities in Grafana](https://github.com/grafana/grafana/pull/33807) and trying this library for token requests (both managed identity and client secret scenarios).

Looks like it's problematic to abstract over particular authentication mechanism using [TokenCredential](https://github.com/Azure/azure-sdk-for-go/blob/24b0cd86da44fcb99397bb8d83ac872ecfec5a79/sd

[2021-05-08 02:29] kostrse commented on #14644
Here is code from Azure SDK for .NET:
https://github.com/Azure/azure-sdk-for-net/blob/7227b59d252f93851103d7f6526edad41a90fefb/sdk/identity/Azure.Identity/src/ImdsManagedIdentitySource.cs#L86-L87

It does have trimming logic built-in to the request client.

[2021-05-08 04:54] aim-for-better commented on #14238
Hi @ArcturusZhang Is the Go SDK available now? Thanks~

[2021-05-10 04:19] neil-yechenwei opened #14645 "string type can’t be compared with custom type in unmarshalFirewallPolicyRuleCollectionClassification and unmarshalFirewallPolicyRuleClassification"
After tested, we found string type can’t be compared with custom type in [unmarshalFirewallPolicyRuleClassification](https://github.com/Azure/azure-sdk-for-go/blob/f531174e50dc985270a91713d205c6ddc449e378/sdk/arm/network/2020-07-01/armnetwork/zz_generated_polymorphic_helpers.go#L18) and [unmarshalFirewallPolicyRuleCollectionClassification](https://github.com/Azure/azure-sdk-for-go/blob/f531174e50d

[2021-05-10 07:01] #14645 closed

[2021-05-10 07:20] ArcturusZhang commented on #14628
Hi @gargi thanks for this issue!

The root cause of this issue is that the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2015-06-01/Agreements.json#L314) is defined differently from the actual JSON returned from the service. The JSON returned from the service looks like this:
[code]
which

[2021-05-10 14:12] #14478 closed

[2021-05-10 14:30] jhendrixMSFT commented on #14387
Unfortunately this places a significant burden on consumers that use a large number of packages from this SDK.  This was mentioned [here](https://github.com/Azure/azure-sdk-for-go/pull/14626#discussion_r623995504) on the negative impact it would have on Terraform.

[2021-05-10 16:31] #14555 closed

[2021-05-10 16:37] jhendrixMSFT commented on #14644
I think this ties in with https://github.com/Azure/azure-sdk-for-go/issues/12184

[2021-05-10 17:50] christianrowlands opened #14646 "Add v4 and v5 Azure VM Support for VirtualMachineSizeTypes"
### Feature Request

In looking at the [VirtualMachineSizeType options here](https://github.com/Azure/azure-sdk-for-go/blob/master/services/compute/mgmt/2021-03-01/compute/enums.go#L1201), I am not seeing any of the [v4](https://docs.microsoft.com/en-us/azure/virtual-machines/dv4-dsv4-series#dv4-series) or v5 D2 VM options. D2 v5 is in preview currently, so it makes sense not to support those quit

[2021-05-11 03:47] ArcturusZhang commented on #14478
We will enroll this change in this month's major version release.

[2021-05-11 05:36] #14238 closed

[2021-05-11 18:10] kaovd commented on #14106
Bump - last activity seems to be 4 months ago

[2021-05-11 20:10] vivgoyal commented on #14628
@ArcturusZhang can we prioritize this work?

[2021-05-11 22:01] jhendrixMSFT commented on #14529
After some discussion, we've landed on the following.  https://play.golang.org/p/BGBAPrVA_CO

[2021-05-12 00:17] jhendrixMSFT commented on #14529
Also here https://gist.github.com/jhendrixMSFT/1b982a7c93708a9ab78a37d089355d99

[2021-05-12 01:50] magodo commented on #14529
@jhendrixMSFT Would you please indicate some more details about how does this signature benefit the transition to generics? BTW, will generics come with other impacts to the language, which causes making the trasition seamless not necessarily a must have?

[2021-05-12 03:34] jhendrixMSFT commented on #14529
Generics will let us define a generic response type in `azcore`.

[code]

[2021-05-12 04:10] magodo commented on #14529
Good to know. While I guess this is not the reason to make the return type of `GetWidget()` not return a pointer? Also, does `GetWidget()` return an `error`?

[2021-05-12 04:55] jhendrixMSFT commented on #14529
Real API would return an error yes, it was omitted from the sample for brevity.

[2021-05-12 10:52] akhilesh2410 opened #14655 "func ListKeys() fails intermittently to list the keys for storage account"
### Bug Report

- import path of package in question:
 Facing issue due to :
 "github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage"

SDK version :
	github.com/Azure/azure-sdk-for-go v37.1.0+incompatible

Other package version:
	github.com/Azure/azure-sdk-for-go/sdk/to v0.1.4
	github.com/Azure/azure-storage-blob-go v0.10.0
	github.com/Azure/go-autorest/autorest v0.9.3
	github

[2021-05-12 21:16] catalinaperalta commented on #12691
Closing this since the instructions are complete in the related issue.

[2021-05-12 21:16] #12691 closed

[2021-05-13 00:08] kostrse commented on #14644
When `TokenCredential` used only via `AuthenticationPolicy` then yes, policy takes care of the conversion.

The problem is that `AuthenticationPolicy` is very opinionated for the Azure SDK usage:
- it closely tied to its own transport pipeline.
- the way it handles token caching is useful for Azure SDK scenario when it's only single credential and cached token paired with the pipeline, but it's pr

[2021-05-13 07:17] ArcturusZhang commented on #14646
Hi @christianrowlands thanks for this issue!

Currently the compute part in package `github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2021-03-01/compute` comes from compute api-version 2020-12-01 instead of 2020-03-01 (for instance you can find the api-version in one of the operation of compute: https://github.com/Azure/azure-sdk-for-go/blob/6b0c0e55132b69d19f47845d51910bb237191173/services

[2021-05-13 07:17] #14646 closed

[2021-05-13 08:59] #14627 closed

[2021-05-13 11:28] neil-yechenwei opened #14665 "The SubnetResponse property should return the resource id"
After tested, seems the [SubnetResponse](https://github.com/Azure/azure-sdk-for-go/blob/5ad85f38d4a1e7525820826072267a948b5db93f/sdk/arm/network/2020-07-01/armnetwork/zz_generated_models.go#L13629) property doesn't return the resource id when PollUntilDone is finished. I also tested other track2 APIs, seems they also don't return their resource ids.

[2021-05-13 12:56] ArcturusZhang commented on #14665
Hi @neil-yechenwei thanks for this issue!

Could you please provide some more information so that we could make some further investigation? For instance, which operation are you using? And the actual response from the REST API request.
You can get the request and response body by exporting the env variable `AZURE_SDK_GO_LOGGING=all`

[2021-05-13 13:55] gro1m opened #14666 "Upgrade Machinelearningservices to 2021-04-01"
### Feature Request

The REST API is on version **2021**-04-01 for `machinelearningservices`: https://github.com/Azure/azure-rest-api-specs/tree/master/specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01.
The GO SDK is one year behind (**2020**-04-01): https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/services/machinelearningservices/mgmt@v

[2021-05-13 14:37] jhendrixMSFT commented on #14592
The updated package was published in `v54.2.0`.  Please ping back if you're still having problems.

[2021-05-13 14:37] #14592 closed

[2021-05-13 15:33] neil-yechenwei commented on #14665
Sure. I am using the [BeginCreateOrUpdate](https://github.com/ArcturusZhang/azure-sdk-for-go/blob/d10982e8b3efefeff72b5ce375e34d1eb42b5da3/sdk/arm/network/2020-07-01/armnetwork/zz_generated_subnets_client.go#L34) operation of Subnet resource.

Request payload:
[code]

Response payload:
![image](https://user-images.githubusercontent.com/19754191/118148837-890bea00-b443-11eb-8133-f38877e5c034.png)

[2021-05-14 06:21] gro1m opened #14669 "Compute Cluster operation does not work in Machinelearningservices version 2020-04-01"
### Bug Report

- import path of package in question: "github.com/Azure/azure-sdk-for-go/services/machinelearningservices/mgmt/2020-04-01/machinelearningservices"
- SDK version: v54.2.0+incompatible
- output of `go version`: 1.16.3

- What happened?
Tried to update scale settings of compute cluster -> did not work.
- What did you expect or want to happen?
Successful update of scale settings of com

[2021-05-14 06:35] gro1m opened #14670 "Specifying Microsoft SSL Configuration does not work for Machine Learning Inference Cluster (AksCompute) in Machinelearningservices version 2020-04-01"
### Bug Report

- import path of package in question: "github.com/Azure/azure-sdk-for-go/services/machinelearningservices/mgmt/2020-04-01/machinelearningservices"
- SDK version: v54.2.0+incompatible
- output of go version: 1.16.3

- What happened?
I tried to specify the parameter `leaf_domain_label` only in my PR here: https://github.com/terraform-providers/terraform-provider-azurerm/pull/11550. T

[2021-05-17 08:46] favoretti commented on #14666
@ArcturusZhang would this be a trivial fix or?..

[2021-05-18 02:09] ArcturusZhang commented on #14666
Hi @gro1m @favoretti thanks for opening this issue.

The SDK team cannot release an api-version without the release requests from the corresponding service team - therefore I tagged this issue so that the corresponding service team could get a notice of this.

[2021-05-18 03:45] ArcturusZhang commented on #14669
Hi @gro1m thanks for opening this issue!

Unfortunately this schema error comes from the corresponding swagger here: https://github.com/Azure/azure-rest-api-specs/blob/03a759c3b3c86cecc1c6030cc5e4d6940437706a/specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-04-01/machineLearningServices.json#L3942
Please note this comes from the latest stable api

[2021-05-18 04:02] ArcturusZhang commented on #14666
Hey @gro1m and @favoretti I just found that this issue comes from the swagger and the new api-version cannot solve this issue. More details can be found in this issue https://github.com/Azure/azure-sdk-for-go/issues/14669

[2021-05-18 04:05] ArcturusZhang commented on #14670
Hi @gro1m thanks for this issue!

Could you please also provide some request body logging information here to confirm we are really sending the `key` in the request?

[2021-05-18 05:44] ArcturusZhang commented on #14665
I had some tests on this with the logging policy `IncludeBody=true` so that the request logging could show request and response bodies. The response for polling is just this:
[code]
Therefore you cannot get the proper response from `PollUntilDone`.
I am not sure whether this is an issue for track 2 - in functionality, `PollUntilDone` should compare with the `WaitForCompletionRef` function in track

[2021-05-18 06:33] favoretti commented on #14669
@ArcturusZhang Hmm, the swagger does show double property level, that's the payload that actually works (i.e. the one portal sends in the issue). When I use REST API UI - that payload works with any API version. How come Go SDK marshals it incorrectly though?

[2021-05-18 06:43] ArcturusZhang commented on #14669
The swagger does not have the double `properties`. Please see the comment below
[code]
If we want something with double properties in the swagger, we will have to write this:
[code]

[2021-05-18 06:48] favoretti commented on #14669
Oh nevermind, I should learn to read swagger in the morning.

[2021-05-18 06:49] ArcturusZhang commented on #14628
Hi @akning-ms do we include this kind of bugs in the S360 KPI?

[2021-05-18 06:51] ArcturusZhang commented on #14669
I have written some internal emails to inform the service team about this bug, waiting for their responses now.

[2021-05-18 07:25] akning-ms commented on #14628
Yes. it should be in our live validation report. but seems it is not shown due to no traffic. @leni-msft to help take a look

[2021-05-18 09:59] favoretti opened #14674 "Support User Assigned Identities for EventHub Namespace resources"
### Feature Request

I'm working on implementing BYOK encryption support for EventHub Namespaces in AzureRM terraform provider in this PR: https://github.com/terraform-providers/terraform-provider-azurerm/pull/10821

While trying to implement it, lack of User Assigned identities makes it quite a challenge:
CURRENT ISSUE with finalizing:
- `2018-01-01-preview` EventHub API version does not support

[2021-05-19 00:49] jhendrixMSFT commented on #14665
This is a bit weird.  The [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/virtualNetwork.json#L576) specifies a final state via [`azure-async-operation`](https://github.com/Azure/autorest/tree/master/docs/extensions#x-ms-long-running-operation-options) however the success response doesn't include an `Azu

[2021-05-19 13:44] gro1m commented on #14670
@ArcturusZhang
Well the problem is actually a bit different. I thought a configuration like this should work:
[code]
results in:
[code]
and I thought `leaf_domain_label` should suffice.

The adapted resource file `machine_learning_inference_cluster.go` (otherwise everything is as in https://github.com/terraform-providers/terraform-provider-azurerm/pull/11550) looks like:
[code]

Does this clarify

[2021-05-19 16:25] jhendrixMSFT opened #14683 "Consider how to handle default polling interval for LROs"
The current track 2 impl requires that callers pass a polling interval if the service doesn't return a retry-after header.  While this is an improvement over track 1, there is a concern that customers might have a difficult time in selecting an appropriate value.  To add to the complexity, there really is no universal one-size-fits-all value.  For reference, the [ARM RPC spec](https://github.com/A

[2021-05-19 20:17] ianeal commented on #14632
Hi, I was wondering if there are any updates on this one?
Is any additional information required?

[2021-05-19 22:59] matthchr commented on #13749
For what it's worth, a customer of ours just confirmed that the DNS suffix for sovereign clouds is different. MySQL _is_ supported there.

What's required to add this?

[2021-05-19 23:56] katbyte opened #14684 "netapp SecurityStyle constants differ in case from what the API returns"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`"github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2020-09-01/netapp"`

- SDK version e.g. `master`, `latest`, `18.1.0`
`github.com/Azure/azure-sdk-for-go v54.2.0+incompatible`
- output of `go version`
16

- What happened?
the netapp.SecurityStyle constant casing in the SDK is different

[2021-05-20 01:53] leni-msft commented on #14628
@ArcturusZhang This issue has already been detected in live validation report and created as S360 action item: https://portal.azure-devex-tools.com/amekpis/correctness/detail?errorId=580A0264-1553-4CA9-910D-C4891AFA65E2

[2021-05-20 02:36] ArcturusZhang commented on #14670
The error here
[code]
is returned by the service rather than a SDK side validation.

In your `expandSSLConfig` function, the status was set to Enabled when `leaf_domain_label` is not empty, and the error message said you have to specify a `ssl.cert` when the `status` is enabled.
Therefore I believe you need to either assign a `ssl.cert` in your configuration, or refine your status assigning logic

[2021-05-20 02:43] ArcturusZhang commented on #14632
Hi @ianeal sorry for the inconvenience but we are now waiting for the corresponding service team to response on this issue and they should either update the swagger accordingly so that we could regenerate our SDK, or they could provide some justification for not doing so.

[2021-05-20 04:50] ArcturusZhang commented on #14684
Hi @katbyte thanks for this issue!

This is an issue on the service side therefore I have tagged this issue so that the corresponding service team could have a look

[2021-05-20 04:55] ArcturusZhang commented on #14674
Hi @favoretti thanks for this issue!

I have once worked on the same work item, and it turned out to be blocked by a wrong schema in swaggers.
Eventhub has support for identities in this api-version: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/eventhub/resource-manager/Microsoft.EventHub/preview/2021-01-01-preview/namespaces-preview.json#L601
This is not released in azu

[2021-05-20 11:37] favoretti commented on #14674
Awesome news. Thank you!

[2021-05-20 16:11] timja opened #14690 "Missing CreateOrUpdateSwiftVirtualNetworkConnectionWithCheck in Microsoft.Web/stable/2020-12-01"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`

azure-sdk-for-go/services/web/mgmt/2020-12-01

- SDK version e.g. `master`, `latest`, `18.1.0`

master - 4291d7a5ce235e5390ea9d08af11bd5792533a4e

  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`

[2021-05-20 18:25] kostrse commented on #14644
@jhendrixMSFT can I send PR?

[2021-05-21 05:59] ArcturusZhang commented on #14665
I am seeing the same issue in LRO of create VM

[2021-05-21 06:58] ArcturusZhang commented on #14690
Hi @timja thanks for this issue!

It has been a while until we regenerate the SDK for `web` because we have not received any release request from the service team.
I have tagged this issue so that the corresponding service team could see

[2021-05-21 06:59] timja commented on #14690
Sure but why is it missing in 2020-12-01 ? Which is released here?

[2021-05-21 07:36] ArcturusZhang commented on #14690
I am not sure, but if you check this `_meta.json` file [here](https://github.com/Azure/azure-sdk-for-go/blob/master/services/web/mgmt/2020-12-01/web/_meta.json) which stores the commit hash from which this package was generated - at that commit [the swagger](https://github.com/Azure/azure-rest-api-specs/blob/e0f8b9ab0f5fe5e71b7429ebfea8a33c19ec9d8d/specification/web/resource-manager/Microsoft.Web/

[2021-05-21 15:29] christothes opened #14698 "azore should expose functionality to build a pipeline with default policies with config"
Currently it appears that generated code implements a method to build the default `Pipeline` which includes the standard `Policy` chain. Since the standard set of policies is common across all clients, azcore should expose a func that creates a new `Pipeline` with the default policies. It should also accept a slice of per-call and per-retry policies to be added in the appropriate position.

In add

[2021-05-21 16:34] kosinsky commented on #14399
@ArcturusZhang did you hear back form Power BI team? Python SDK was updated to use new version of the API ~2 month ago: https://github.com/Azure/azure-sdk-for-python/pull/17585

[2021-05-21 17:21] #14644 closed

[2021-05-21 17:39] catalinaperalta commented on #14644
@kostrse we moved the scopes to resource conversion to GetToken() on ManagedIdentityCredential in v0.9.0 of azidentity. Please note since we are still in preview there are several changes included in this release.

[2021-05-21 17:52] gro1m commented on #14670
@ArcturusZhang
During creation via the Azure portal I get:
[code]
After creating I get:
[code]
So looking at the *successful* creation payload, there is definitively no keys or certs passed:
[code]
The only question if the status "Auto" is not the same as "Enabled"?

[2021-05-22 06:01] #14698 closed

[2021-05-22 20:29] gro1m commented on #14670
@ArcturusZhang Seems to be indeed a difference, so using status Auto seems to change everything -> `terraform apply` works now. Still need to do the acctests to be really sure:) But already opened WIP PR here: https://github.com/terraform-providers/terraform-provider-azurerm/pull/11830

[2021-05-24 03:24] ArcturusZhang commented on #14399
Hi @kosinsky sorry for the delay but I just pinged the corresponding service team again using internal email.

[2021-05-24 13:29] gro1m commented on #14670
@ArcturusZhang Seems to work :) I just find it a bit misleading conceptually to have an SSL status "Auto" and an SSL status "Enabled" as in both cases SSL is enabled.

[2021-05-24 13:29] #14670 closed

[2021-05-24 15:25] AliAllomani opened #14700 "Web.CertificatesClient: Tags field has no effect on update and data is not being returned"
### Bug Report

- import path of package in question, e.g. `.../services/web/mgmt/2020-12-01/web`
- SDK version `master`

- What happened?
`Tags` field in web.Certificate model is not getting created/updated by `web.CertificatesClient.CreateOrUpdate` or read by `web.CertificatesClient.Get`

related to https://github.com/Azure/azure-rest-api-specs/issues/14529

[2021-05-25 10:11] drewandersonnz opened #14704 "ActivityLogs client needs API version update"
### Bug Report

Please update ActivityLogs client API version to `2017-03-01-preview` matching that used by https://portal.azure.com/

As per an error from the API: `The supported api-versions are '2014-04-01,2014-11-01,2015-04-01,2016-09-01-preview,2017-03-01-preview'.`

This could be by adding a new implementation version of the ActivityLogs section which targets the newer API version, leaving a

[2021-05-25 16:00] tj-corrigan commented on #14090
@ArcturusZhang I'm also a MS employee and interested in seeing this get implemented. I'm unfamiliar with the process to request a release. Can you provide any guidance?

[2021-05-26 00:04] cdmurph32 commented on #13749
Fix submitted https://github.com/Azure/go-autorest/pull/631, but we can't test the China or Germany Clouds.

[2021-05-26 18:28] matthchr commented on #13749
@jhendrixMSFT - can probably close this given that the linked PR merged? Unsure if there is more to do to resolve this bug but I don't think there is.

[2021-05-27 18:12] khaliddermoumi commented on #13012
Hi!
Meanwhile [here is an implementation of the app insights ws-based resource](https://github.com/khaliddermoumi/terraform-modules-azurerm/tree/master/app_insights) as a terraform module (using "az rest"):
Usage:
[code]

[2021-05-27 19:33] panchagnula commented on #14690
@timja & @ArcturusZhang the AppService team fixed the missing API & other updates as reported during .NET SDK generation here https://github.com/Azure/azure-rest-api-specs/pull/14018 sorry if we missed notifying you of this. Does this help? Thanks!

[2021-05-27 20:02] timja commented on #14690
I believe a release request is required? https://github.com/Azure/sdk-release-request/

[2021-05-28 03:41] ArcturusZhang commented on #14700
Hi @AliAllomani thanks for opening this issue!

As you dig out in https://github.com/Azure/azure-rest-api-specs/issues/14529, the root cause of this issue is in the service side, and since we already have an issue about this in the spec repo, I am going to close this one in favor of that.

The service side issue does not need a regeneration of SDK to fix. If the service team fixes this on their si

[2021-05-28 03:41] #14700 closed

[2021-05-28 03:50] ArcturusZhang commented on #14704
Hi @drewandersonnz thanks for this issue!

This is how our SDK generator and swaggers work:
The SDK is generated from a thing what we called it a `readme tag`, you can find it [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/readme.md#tag-package-2019-11). A readme tag combines some swagger files together and the code generator generates the S

[2021-05-28 03:51] ArcturusZhang commented on #14690
Could you please submit an SDK release request via https://aka.ms/openapihub

[2021-05-28 17:09] #13749 closed

[2021-05-31 03:34] ArcturusZhang commented on #14090
Please feel free to write an internal email about this, I could involve someone from the open api hub to explain the details of this.

[2021-06-01 01:37] yupwei68 opened #14729 "Track2 Poller crash"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

- What happened?
When trying track2, the plugin crash on poller.

- What

[2021-06-01 06:24] ArcturusZhang commented on #14729
Thanks @yupwei68 for this issue!

This looks weird. How could we know a request was complete with no response?

Hi @jhendrixMSFT could you please take a look at this issue?

[2021-06-01 06:53] ArcturusZhang opened #14730 "Long running operation in creating a VM does not return a final state URL"
### Bug Report

- import path of package in question
  `github.com/Azure/azure-sdk-for-go/sdk/compute/armcompute`
- SDK version
  `v0.1.0`
- output of `go version`
  `go version go1.16 windows/amd64`

- What happened?
  The response returned by `PollUntilDone` function is basically empty without any information of this resource.
- What did you expect or want to happen?
  We should get the full par

[2021-06-02 14:26] timja commented on #14690
@panchagnula just checking if you've created the release request above ^^?

[2021-06-02 15:37] panchagnula commented on #14690
@timja no I haven't, I didn't do the original request either. I can speak to my team if they still need this SDK or have another request already in progress. Thanks!

[2021-06-02 16:25] rkapso commented on #14632
Thanks for bringing this up we are actively working on pushing the new swagger out

[2021-06-02 19:52] jhendrixMSFT commented on #13749
Fixed in `autorest/v0.11.19`

[2021-06-02 20:25] jhendrixMSFT commented on #14729
What version of `azcore` are you using?

[2021-06-02 21:09] asheniam commented on #14704
There are known set of issues with the backend system for the api-version = 2017-03-01-preview in Activity Logs REST API.  The team is working to resolve the backend issues first before publishing this api-version more broadly.  At this time, this engineering work is very significant and multiple months.  Currently, we are targeting releasing the new backend system in the Fall timeframe.

[2021-06-02 21:09] #14704 closed

[2021-06-03 05:54] yupwei68 commented on #14729
`azcore` is v0.16.0, the branch link is here https://github.com/yupwei68/terraform-provider-azurerm/blob/storage-track2/go.sum

[2021-06-03 08:47] gosua opened #14739 "140 chars restriction of RequestMessage is not correct"
### Bug Report

- import path of package in question: `.../services/network/mgmt/2020-07-01/network/models.go`
- SDK version: `v52.5.0+incompatible`
- output of `go version`: `go version go1.16.3 darwin/amd64`

### What happened?
Creating a Private Endpoint for a native Azure service (e.g. PostgreSQL) with a specified `RequestMessage` that is 129 chars long resulted in an error message: `network.P

[2021-06-03 15:14] jhendrixMSFT commented on #14729
As an aside, I don't think your [logging policy](https://github.com/yupwei68/terraform-provider-azurerm/blob/storage-track2/vendor/github.com/hashicorp/go-azure-helpers/policy/logging.go) accurately distinguishes between a `nil` response and an error response.  I think it should look something like this.
[code]

[2021-06-03 18:25] JeffreyRichter commented on #14683
Let's not do anything now. But, let's add a comment to give customers a suggestion.
We can do something in the future if a customer problem arises.

[2021-06-04 01:47] yupwei68 commented on #14729
Thanks @jhendrixMSFT I think it's to be fixed in track2.

The usage to crash is here  https://github.com/yupwei68/terraform-provider-azurerm/blob/storage-track2/azurerm/internal/services/vmware/vmware_private_cloud_resource.go#L249 .

You could confirm if our usage is correct.

[2021-06-04 03:42] jhendrixMSFT commented on #14729
Your usage is fine, this is a bug in our polling logic that I hope to have fixed soon.

Are you saying you'll be fixing your logging policy in track 2?

[2021-06-04 07:57] yupwei68 commented on #14729
Yes

[2021-06-04 15:43] catalinaperalta opened #14742 "Add support for a resource ID env var"
Add an environment variable for the new resource ID support in mananged identity credential. Make sure it doesnt conflict with other known env vars.

[2021-06-07 11:23] davidandradeduarte opened #14746 "Table Storage (Azurite): ExecuteBatch doesn't return proper error (EOF) when table doesn't exist"
### Bug Report

- Package and file in question `storage/client.go`
- SDK version: `55.1.0`
- Go version: `1.16.4 darwin/amd64`
- Azurite version: `mcr.microsoft.com/azure-storage/azurite@latest`

### What happened?
When trying to insert into a table storage using batch mode, we get a `EOF` error string when the table doesn't exist.
This only happens in Azurite.

### What did you expect or want to

[2021-06-07 11:23] manicminer opened #14747 "Missing support for domainservices 2021-03-01 and 2021-05-01"
### Service Package Request

The latest version of domainservices supported by the SDK is 2020-01-01. There are two newer versions available: 2021-03-01 and 2021-05-01

https://github.com/Azure/azure-rest-api-specs/tree/master/specification/domainservices/resource-manager/Microsoft.AAD/stable/2021-03-01
https://github.com/Azure/azure-rest-api-specs/tree/master/specification/domainservices/resource

[2021-06-07 11:24] manicminer commented on #14747
Related: https://github.com/terraform-providers/terraform-provider-azurerm/pull/10782

[2021-06-07 18:19] davidandradeduarte commented on #14746
Since I've tested this with the C# SDK and got unexpected behaviour too, I've decided to open the bug ticket in Azurite Azure/Azurite#814 and close this one.

[2021-06-07 18:19] #14746 closed

[2021-06-07 18:29] davidandradeduarte opened #14750 "Table Storage - Batch Insert only inserts one record when using Azurite"
### Bug Report

- Package and file in question `storage/table_batch.go`
- SDK version: `55.1.0`
- Go version: `1.16.4 darwin/amd64`
- Azurite version: `mcr.microsoft.com/azure-storage/azurite@latest`

### What happened?
Trying to insert multiple records into a table storage using batch mode doesn't work as expected and only inserts one.
**This only happens when using Azurite**.

### What did you e

[2021-06-07 21:19] #12184 closed

[2021-06-07 21:34] catalinaperalta commented on #6598
Recent push to match cross language docs in these PRs: #14520, #14749. Closing for now. Please reopen if there's something missing.

[2021-06-07 21:34] #6598 closed

[2021-06-07 21:35] catalinaperalta commented on #6600
Can this be closed now @joshfree?

[2021-06-07 21:36] catalinaperalta commented on #6601
Also wondering if this can also be closed now @joshfree?

[2021-06-07 22:29] arunmahadevan opened #14751 "Please provide some samples for creating private endpoint connection for MySQL"
### Feature Request

Please provide some go samples that demonstrates how to create a private endpoint and associate it with azure MySQL service. The `azure-sdk-for-go-samples` does not contain any samples for private link.

[2021-06-08 08:42] timja commented on #14690
@panchagnula Just checking to see where this is at?

Thanks

[2021-06-08 09:33] madsd commented on #14690
@timja SDK is planned to be generated on Thursday.

[2021-06-09 07:13] carrymec opened #14759 "how to use azure repo api by this sdk"
i want to use azure api like this (https://docs.microsoft.com/en-us/rest/api/azure/devops/git/repositories/get%20repository?view=azure-devops-rest-6.0#security),how to use it by this sdk

[2021-06-09 08:28] chris-p-martin opened #14760 "Add support for new Policy API so that custom error messages can be used"
### Feature Request

Hello,

Is it possible to implement the latest version of the Azure Policy Assignment API (2020-09-01) so the custom non Compliance messages can be used on Policy Assignments.

Thanks,
Chris

[2021-06-09 22:08] axayjo commented on #13894
There's been no engagement on this thread for over 30 days. Closing this assuming the issue has been resolved. Please feel free to reopen the issue in case this warrants further discussion.

[2021-06-09 22:08] #13894 closed

[2021-06-09 22:17] axayjo commented on #14493
Closing this issue. Please reopen the issue in case this warrants further discussion. We'll be announcing a preview of the new version of Run Command by end of the year.

[2021-06-09 22:17] #14493 closed

[2021-06-10 09:06] gosua commented on #14739
Closing this since it is an API issue and the SDK is generated based on the API spec.

[2021-06-10 09:06] #14739 closed

[2021-06-10 20:00] catalinaperalta commented on #14440
Adding @elraikhm who can help with the MS Docs portion of this issue.

[2021-06-11 04:46] wilsonehusin opened #14768 "Accepting terms for VM image"
### Service Package Request

I would like to have a way to replicate the behavior of accepting terms for VM image from marketplace. This behavior exists in the CLI through:

[code]

I am aware of [`MarketplaceOrderingClient`](https://github.com/Azure/azure-sdk-for-go/tree/master/services/marketplaceordering/mgmt/2015-06-01/marketplaceordering) where there is a method called `Sign`, but that seems

[2021-06-11 05:08] neil-yechenwei opened #14769 "Cannot unmarshal string into Go struct field for NetworkVirtualApplianceSKU and NetworkVirtualApplianceSKUListResult"
SDK version: github.com/Azure/azure-sdk-for-go/sdk/network/armnetwork v0.1.0

- What happened?
It failed to call [VirtualApplianceSKUs.Get API](https://github.com/Azure/azure-sdk-for-go/blob/d279d9be648b29d3d6e23896b5410342b4ee3459/sdk/network/armnetwork/zz_generated_virtualapplianceskus_client.go#L35) and [VirtualApplianceSKUs.List](https://github.com/Azure/azure-sdk-for-go/blob/d279d9be648b29d3d

[2021-06-11 06:04] ArcturusZhang commented on #14769
Hi @neil-yechenwei thanks for this issue!

This looks like a service-swagger inconsistency. Could you please provide the response body to help us debug this issue?

[2021-06-11 06:12] ArcturusZhang commented on #14768
Hi @wilsonehusin thanks for this issue!

The API in Azure CLI corresponds to this swagger: https://github.com/Azure/azure-rest-api-specs/blob/9b0e13aa57f7fe7fcfa7624b792ed699a40ad88d/specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2021-01-01/Agreements.json#L37
We will work with the corresponding service team and release a new package for this as soon as pos

[2021-06-11 06:15] ArcturusZhang commented on #14760
Hi @chris-p-martin thanks for this issue!

Actually the requested package has been released as a preview package because it contains some preview features: https://github.com/Azure/azure-sdk-for-go/tree/master/services/preview/resources/mgmt/2020-09-01-preview/policy

[2021-06-11 06:15] #14760 closed

[2021-06-11 06:23] ArcturusZhang commented on #14759
Hi @carrymec thanks for this issue!

The link of the REST APIs comes from the Azure DevOps. This repo is for Azure Management, therefore there is no way that you can use something in this repo to call the APIs in the link.

@xuzhang3 do you know if there is an official Azure DevOps SDK for Go?

[2021-06-11 06:26] ArcturusZhang commented on #14750
Hi @davidandradeduarte thanks for this issue!

Hi @jhendrixMSFT could you please take a look?

[2021-06-11 06:27] ArcturusZhang commented on #14747
Hi @manicminer thanks for this issue!

We will work with the corresponding service team to release these new packages as soon as possible.

[2021-06-11 06:28] xuzhang3 commented on #14759
Hi @carrymec You can use Azure DevOps Go SDK: https://github.com/microsoft/azure-devops-go-api

[2021-06-11 06:29] carrymec commented on #14759
thank,this repo will support repo api later？

[2021-06-11 06:30] wilsonehusin commented on #14768
Thanks for the clarification @ArcturusZhang! I thought I was missing something obvious -- looking forward to the resolution!

[2021-06-11 06:30] carrymec commented on #14759
i used it，but this  repo cannot support some api

[2021-06-11 06:34] xuzhang3 commented on #14759
Current azure-devops-go-api SDK is based on v5.1,  some of the APIs are not available.

[2021-06-11 06:36] ArcturusZhang commented on #14759
Hi @carrymec since this repo is not designed to carry the APIs for DevOps, could you please open an issue there?

In the meantime, I am going to close this issue here.

[2021-06-11 06:36] #14759 closed

[2021-06-11 06:40] wilsonehusin commented on #12325
https://github.com/Azure/azure-sdk-for-go/issues/14768 might be relevant 😄

[2021-06-11 22:11] jhendrixMSFT commented on #14729
This has been fixed.  You'll need to rebuild the affected modules with v4.0.0-preview.22 of the code generator.

[2021-06-11 22:11] #14729 closed

[2021-06-13 07:27] theheatDK commented on #2822
Hi,
I am trying to use the Portal to create a backup policy for SQL Server in Azure VM. I am trying to use exactly the same policy as I have done for another customer, where it works fine. It is a bit difficult to figure out what is going wrong, with an error message like this.
`{
    "status": "Failed",
    "error": {
        "code": "BMSUserErrorInvalidPolicyInput",
        "message": "Input for

[2021-06-14 15:54] sivetic commented on #13012
@ArcturusZhang Can you share any progress update?

[2021-06-16 00:55] #6601 closed

[2021-06-17 01:44] DonovanCharpin commented on #7352
Hey @darrelmiller , do you have some news about the Go support for SDK generation?

Also, @phenixdotnet, you say you have a POC, could you share it?

[2021-06-17 19:39] joshfree commented on #11871
@catalinaperalta can this be closed now?

[2021-06-17 20:00] joshfree opened #14789 "Azure.Identity Improvements for Go (July-December 2021)"
Placeholder Identity Nickel epic for Go, parented under https://github.com/Azure/azure-sdk/issues/2538

[2021-06-17 20:01] murarisumit commented on #12365
@jhendrixMSFT is`DefaultAzureCredentials`  ready for general consumption ?

[2021-06-18 02:13] jhendrixMSFT commented on #12365
It's still in preview but should be stable, both in terms of public surface area and execution.

[2021-06-18 15:15] johgoe opened #14795 "Use new postgres API"
### Feature Request
Current Implementation still uses:
https://github.com/Azure/azure-sdk-for-go/tree/master/services/postgresql/mgmt/2017-12-01/postgresql
but a new version is already available
https://github.com/Azure/azure-sdk-for-go/tree/master/services/postgresql/mgmt/2020-01-01/postgresql

[2021-06-18 16:46] zx8 opened #14796 "`sdk/resources/armresources@latest` is incompatible with `sdk/armcore@latest`"
**Versions**
* `github.com/Azure/azure-sdk-for-go/sdk/resources/armresources@v0.1.0` (current latest)
* `github.com/Azure/azure-sdk-for-go/sdk/armcore@v0.8.0` (current latest)

---

Title is self-explanatory – I think the `zz_*.go` files need to be regenerated, seeing a bunch of these errors using the examples from [https://github.com/Azure/azure-sdk-for-go/blob/56e5c855/sdk/resources/armresources

[2021-06-18 22:09] jhendrixMSFT commented on #14730
Fixed in `armcompute@v0.2.0`

[2021-06-18 22:09] #14730 closed

[2021-06-18 23:20] kahing opened #14798 "Lease id validation for azure datalake gen 2"
https://github.com/Azure/azure-sdk-for-go/blob/4f37ebbcd228a0b5c49eb2cced17c8fa2c737f55/services/storage/datalake/2018-11-09/storagedatalake/path.go#L353

How should I generate this lease id to pass the validation? The hadoop implementation uses `java.util.UUID`: https://github.com/apache/hadoop/blob/51991c4907262716e522e327edf96bea1fd3c494/hadoop-tools/hadoop-azure/src/main/java/org/apache/hadoop

[2021-06-19 09:05] kaovd opened #14800 "Request to add services/preview/securityinsight/mgmt/2021-03-01-preview/securityinsight"
### Service Package Request

Please add the new Preview SecurityInsights API Specificaiton as a service package, 2021-03-01-preview into services/preview/securityinsight/mgmt/2021-03-01-preview/securityinsight

https://github.com/Azure/azure-rest-api-specs/tree/master/specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-03-01-preview

[2021-06-21 03:19] ArcturusZhang commented on #13012
We have [a on-going PR](https://github.com/Azure/azure-rest-api-specs/pull/14870) for the new package for application insights. Once we resolve the issues in that PR, we will release a new package.

[2021-06-21 03:21] ArcturusZhang commented on #14690
The fix for this has been released in v55.2.0

[2021-06-21 03:21] #14690 closed

[2021-06-21 08:06] ArcturusZhang commented on #14800
Hi @kaovd thanks for this issue!

We will work with the corresponding service team and release the new package soon.

[2021-06-21 08:07] ArcturusZhang commented on #14800
Hi @amirkeren could you please confirm the status of securityinsight swagger and submit a release request via https://aka.ms/openapihub?

[2021-06-21 08:12] ArcturusZhang commented on #14798
Hi @kahing thanks for this issue!

The SDK was generated from the corresponding swagger, hence the validation logic. Therefore to remove that validation we will have the changes on the swagger first.
For workaround, you can use `validation.Disable = true` to disable the validation: https://github.com/Azure/go-autorest/blob/master/autorest/validation/validation.go#L28

[2021-06-21 08:14] ArcturusZhang commented on #14796
Hi @zx8 thanks for this issue!

We recently just updated the resource RP: https://github.com/Azure/azure-sdk-for-go/releases/tag/sdk%2Fresources%2Farmresources%2Fv0.2.0
Could you please have a try using this new module?

[2021-06-21 08:16] ArcturusZhang commented on #14795
Hi @johgoe thanks for opening this issue!

Could you please specify the issue?

[2021-06-21 08:19] ArcturusZhang commented on #14574
The branch has been renamed

[2021-06-21 08:19] #14574 closed

[2021-06-21 08:49] zx8 commented on #14796
Thanks, all good now using `github.com/Azure/azure-sdk-for-go/sdk/resources/armresources@v0.2.0`

Closing!

[2021-06-21 08:49] #14796 closed

[2021-06-21 09:28] davidandradeduarte commented on #14750
hi 👋
@ArcturusZhang, @jhendrixMSFT any update on this?

[2021-06-21 12:47] dosegal commented on #14800
@ArcturusZhang Currently we don’t have a package that combines all the RP capabilities including the new preview APIs. This is because we are in the process of splitting the old swagger file (SecurityInsights.json which we used in 2020-01-01 and 2019-01-01-preview) into smaller swagger files, usually one per resource type.
Once all the APIs are extracted to separate swagger files, we can create a

[2021-06-21 15:21] #11871 closed

[2021-06-21 18:28] johgoe commented on #14795
I'm worried the old api will not be supported one day. That's why I think it's good to plan the switch to a newer api earlier.

[2021-06-22 03:23] sinbai commented on #14769
Additional information from Elena：
After debugging, I found the InstanceCount type is *int in [https://github.com/Azure/azure-sdk-for-go/blob/10a9ef8c19ec235f65d45bc30ed96fbb041a4c5f/sdk/network/armnetwork/zz_generated_models.go#L11083](url), but the type of response data is *string from API. Seems it is a bug. Would you help to fix it?

reponse body from API:
{
  "properties": {
    "vendor": "ci

[2021-06-22 07:02] kaovd commented on #14800
Right now its just alertrules package I need downstream so not sure if thats possible to get without a single combined spec?

[2021-06-22 09:47] favoretti opened #14875 "Support for Azure PostgreSQL HyperScale (Citus)"
### Service Package Request

Could we please add support for PostgreSQL Hyperscale (Citus)?
The service has been GA for a while, however REST API specs are still in privatepreview mode (https://github.com/Azure/azure-rest-api-specs/blob/b39d3318a9cba7203da3d56e4cdc69a7e14d3912/specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/postgresqlhsc.jso

[2021-06-22 11:14] tombuildsstuff commented on #14875
cc @JeffreyRichter for this one

[2021-06-22 14:25] kosinsky commented on #14399
We could close that. v55.1.0 added support for 2021-01-01 API for Power BI which includes Gen2 support: https://github.com/Azure/azure-sdk-for-go/pull/14727/files#diff-71e3b93c89042c183f656c256a4f0023bba0ac2987a70fa6db58504c916eed5e

[2021-06-22 14:25] #14399 closed

[2021-06-23 07:53] dosegal commented on #14800
@ArcturusZhang Is it ok to create a package that doesn't contain all the RP capabilities but only its subset? For example - "package-2021-03-preview-only" (which lacks the preview APIs of 2019-01-01).

[2021-06-23 16:45] #11878 closed

[2021-06-23 18:56] catalinaperalta commented on #12692
Closing, instructions were added in https://github.com/Azure/azure-sdk/issues/901

[2021-06-23 18:56] #12692 closed

[2021-06-23 19:17] TheYoxy commented on #8376
Hi,

Any status update for this issue ?

[2021-06-23 22:16] #14343 closed

[2021-06-24 03:03] ArcturusZhang commented on #14800
That is acceptable here, but as far as I know terraform might not accept that, but we could have a try

[2021-06-24 03:13] ArcturusZhang commented on #14875
Hi @favoretti and @tombuildsstuff thanks for this issue!

I will make some internal communication to get an answer/update for this. Thanks

[2021-06-24 03:25] niklarin commented on #14875
@favoretti thank you very much for interest in Hyperscale (Citus)! As you rightfully noticed the product is young and is growing very fast.

You're right, REST APIs are not released publicly yet (are in private preview). Due to multiple reasons we had to delay REST APIs release until we can be certain we have a final version. Please bear with us as we will be looking for any opportunity to finally

[2021-06-24 03:33] ArcturusZhang commented on #14795
The package for old api-version will stay in this repo until it finishes its official deprecation process. But currently we do not have any deprecation announcement on that api-version yet.
I am not sure if this could fulfill your worry.
If you are tracking that you should use the new package instead of the old one, maybe you need to open the issue in your project instead of here.

[2021-06-24 06:12] magodo opened #14892 "Release the monitor package of version 2018-04-16 to support `autoMitigate` on `LogSearchRule`"
### Service Package Request

Per https://azure.microsoft.com/en-au/updates/public-preview-stateful-and-1minute-frequency-log-alerts-in-azure-monitor/, there is a new property called `autoMitigate` added for `LogSearchRule`.

From the swagger spec [history](https://github.com/Azure/azure-rest-api-specs/commits/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2018-04-16/schedu

[2021-06-24 06:59] kaovd commented on #14800
Ideally please try, as this is needed to close https://github.com/terraform-providers/terraform-provider-azurerm/issues/11667

cc @magodo do you know if this would be acceptable downstream

[2021-06-24 08:19] magodo commented on #14800
@kaovd Normally we'd prefer using a single version for a certain RP in terraform. @dosegal May I ask if there is an ETA when the split up is expected to be done?

[2021-06-24 08:25] dosegal commented on #14800
@magodo The current ETA is August 20th

[2021-06-24 08:39] tombuildsstuff commented on #14892
Adding new, optional fields to the response in a stable version isn't a breaking change (since the existing payload keeps working), so that's fine - if they were Required that would be, however?

[2021-06-24 08:57] favoretti commented on #14875
@niklarin Thank you for your elaborate answer. Since I'm fairly active on azurerm terraform provider development - one could say I can be your terraform partner in implementation. :) We are using Citus currently in our projects and have to band-aid it with ARM templates wrapped in terraform for now, which works, but is sub-optimal.

I appreciate that API needs to be stabilized, however, since port

[2021-06-24 09:54] adityabalaji-msft commented on #12024
Removing service attention label since the bug is fixed from service side

[2021-06-24 21:52] AlexGhiondea opened #14897 "AppConfig Commitments for Go (July-March 2022)"
This tracks the AppConfig Commitments for Go for the Azure SDK team

[2021-06-24 21:53] AlexGhiondea opened #14898 "Azure.Core Fundamentals for GO (July-December 2021)"
This tracks the Azure.Core Fundamentals for GO for the Azure SDK team

[2021-06-24 21:55] AlexGhiondea opened #14899 "Azure Key Vault Commitments for GO (July-December 2021)"
This tracks the Azure Key Vault Commitments for GO for the Azure SDK team

[2021-06-24 21:56] AlexGhiondea opened #14900 "Azure Storage Commitments for Go (July-December 2021)"
This tracks the [Go]Support Blob Storage API work in Go for the Azure SDK team

[2021-06-24 21:56] AlexGhiondea opened #14901 "Azure Synapse for GO"
This tracks the Azure Synapse Commitments for GO for the Azure SDK team

[2021-06-24 21:56] AlexGhiondea opened #14902 "Azure Tables Commitments for Go (July-December 2021)"
This tracks the [Go]Azure Tables API for the Azure SDK team

[2021-06-24 22:00] AlexGhiondea opened #14903 "Azure Service Bus Commitments for GO (July-December 2021)"
This tracks the Service Bus Commitments for GO for the Azure SDK team

Track 2 work:

Monorepo+build standardization:
- #6463

API surface changes to match track 2:
- #15089
- #15090
- #15091
- #15092
- #15156
- #15093
- #15163
- #15094
- #15136
- #15164

Related:
- #14907 (AMQP support)

[2021-06-24 22:01] AlexGhiondea opened #14904 "Create App Configuration SDK"
Tracks adding the App Configuration library to the Go SDK.

[2021-06-24 22:09] AlexGhiondea opened #14905 "LLC client for Key Vault"

[2021-06-24 22:09] AlexGhiondea opened #14906 "Azure Core"

[2021-06-24 22:11] AlexGhiondea opened #14907 "AMQP Support"

[2021-06-24 23:00] elraikhm opened #14908 "Azure Tables user study action items"
### Feature Request
Per the user study discussion, we agreed to the following fixes (see  https://microsoft.sharepoint.com/:w:/t/AzureDeveloperExperience/EeJMTh2FU7RAllz3MekrpvoBQ8BXYVm5Dcs5Aou0hHJ1vg?e=J5Gxtp for details)

- [x] Ensure that options are always nullable ( for all methods)
- [ ] Improve documentation around pager pattern in both core and tables libraries, both readme and code docume

[2021-06-25 09:54] Robert-Stam opened #14915 "ContainerServicesClient is missing as of containerservice/mgmt/2020-11-01/containerservice"
### Service Package Request

As of github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-11-01/containerservice the ContainerServicesClient isn't available anymore.

In github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-09-01/containerservice and earlier this was available.

This client included ListOrchestrators, returning the list of supported K8s versions in A

[2021-06-25 12:32] drewmullen commented on #14768
just to add to this, the cli command reports that it is working but it doesnt actually work:

return says accepted but is still marked "disabled" in the GUI:
[code]
![image](https://user-images.githubusercontent.com/3812162/123425250-e2f9e680-d58f-11eb-909a-47f14ae0665f.png)

[2021-06-25 16:58] FernandoMiguel commented on #9216
is there any update on this new release with the new code ?

[2021-06-28 02:41] ArcturusZhang commented on #14768
Hi @drewmullen I am not quite sure about how azure cli works on this command, could you also open an issue for [Azure CLI](https://github.com/Azure/azure-cli/issues)?

[2021-06-28 17:09] jhendrixMSFT opened #14920 "Convert `azidentity` to use msal/go"
Switch the innards to use msal/go instead of our hand-written implementation.

[2021-06-29 21:24] catalinaperalta opened #14931 "Add support for CAE"
Use Azure Identity crew's CAE onboarding page for guidance in the OneNote.

[2021-06-29 21:26] catalinaperalta opened #14932 "Add support for challenge based multi-tenant authentication scenario"
Similar to: https://github.com/Azure/azure-sdk-for-net/pull/21378

[2021-06-29 22:02] kahing commented on #14798
@ArcturusZhang thanks will try that. It's a bit hard to parse the validation regex, do you also have an example of what would pass the validation?

[2021-06-30 07:46] ArcturusZhang commented on #14915
Hi @Robert-Stam thanks for this issue!

As far as I know, the AKS team is working on a new api-version, and we will release a new SDK package correpsonding to that new api-version. Please stay tuned.
Also I will contact the corresponding service team to see if they could update the swagger and refresh the SDK for the exisitng api-versions accordingly

[2021-06-30 08:46] Robert-Stam commented on #14915
Hi @ArcturusZhang, thanks for the reaction.

Do you have any ETA for those 2 action points?

Regards,
Robert

[2021-06-30 15:42] rebecca-makar opened #14944 "Go install on azure devops pipelines failing && newer version of go, messes with paths."
### Bug Report
We have been trying to debug this for quite some time. The first part of the bug is the initial error we ran into with go get all of the sudden failinging and not being able to install.

## First Topic
Go@0 task is failing. We have been using this daily for over year now and started failing last few days. Seems to have started on 6/5/2021 in Azure Devops Microsoft Hosted Pipelines A

[2021-06-30 16:19] mbfrahry opened #14945 "Support for SQL `2021-02-01-preview`"
Hello!

I'm just looking to see if we can get the `2021-02-01-preview` version of the SQL service supported by the sdk.

[2021-07-01 06:15] rahul-da opened #14951 "Use existing NSG for VMSS while creation of AKS Cluster"
Hello!

During the creation of AKS Cluster via GO SDK (using CreateOrUpdate in https://github.com/Azure/azure-sdk-for-go/blob/main/services/containerservice/mgmt/2018-03-31/containerservice/managedclusters.go), it creates a Virtual Machine Scale Set, which has a network security group created. Is it possible to avoid the creation of the NSG, and rather use a pre-existing NSG that could be attached

[2021-07-01 08:03] yupwei68 opened #14954 "API Management `SchemaContractProperties` `Document` is not to its swagger definition"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
"github.com/Azure/azure-sdk-for-go/services/preview/apimanagement/mgmt/2021-01-01-preview/apimanagement"

- SDK version e.g. `master`, `latest`, `18.1.0`
"55.5.0"

 - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/az

[2021-07-02 02:41] ArcturusZhang commented on #14944
Hi @rebecca-makar thanks for opening this issue!

This is a real issue in this repo right now, and sorry that we overlooked that.

@jhendrixMSFT do you have any suggestion on this? It seems that we also need to refresh the profiles in the sdk directory every time we do some changes to the track 2 packages?

[2021-07-02 03:00] ArcturusZhang commented on #14945
Hi @mbfrahry thanks for this issue!

The SQL is shipped in a composite package way in this package: https://github.com/Azure/azure-sdk-for-go/tree/main/services/preview/sql/mgmt/v5.0/sql
You could search the api-version in this directory and there are some resources/APIs are using the api-version `2021-02-01-preview` now, including `servers`, `databases`. Could you please take a look at this packa

[2021-07-02 03:06] ArcturusZhang commented on #14951
Hi @rahul-da thanks for opening this issue!

Sorry I did not find a way for us to specify the NSG during the creation of a managed cluster. It has a definition of `NetworkProfile` but it cannot specify the NSG.
I am deferring this question to the service team to answer.

[2021-07-02 04:11] ArcturusZhang commented on #14954
Since the swagger has changed on the `master` branch, the generated code is aligned with the swagger. Therefore closing this issue.
Thank you!

[2021-07-02 04:11] #14954 closed

[2021-07-02 04:35] jhendrixMSFT commented on #14944
The track profile was just a prototype and is incomplete.  Furthermore, it's not tagged so no module has been released for it.

It looks to me that you're not building in module-aware mode which is likely the source of the problem.  Can you please confirm, and if that's the case, can it be enabled?

[2021-07-02 07:56] favoretti opened #14967 "containerregistry 2020-11-01-preview fails to delete agentpool's ip configuration"
### Bug Report

I'm working on implementing ACR agentpools in terraform and during destroy I get the following:
[code]

It seems deleting the agentpool leaves a dangling ip configuration.

[2021-07-02 07:59] favoretti commented on #14967
Hmm, nevermind, it seems it's a timing issue...

[2021-07-02 07:59] #14967 closed

[2021-07-02 13:31] rebecca-makar commented on #14944
@jhendrixMSFT - for **bug1**, nothing had changed using the old version of go and doing our installs. We had been running that pipeline for almost a year and then the go get started to fail with no code changes on our side. Back in early June the second task in pipelines started to fail:
[code]

**bug2**
To try to fix that I updated versions, go get was good again.
Then run: `/opt/hostedtoolcache/

[2021-07-05 01:58] magodo opened #14972 "Update the MarketPlaceOrdering package for 2015-06-01"
### Bug Report

- import path of package in question: `.../services/marketplaceordering/mgmt/2015-06-01/marketplaceordering`
- SDK version: `master`

The Swagger has recently [changed its model for the Agreements related endpoints](https://github.com/Azure/azure-rest-api-specs/commit/24077a1b24f468dd86a5a224999e6e036c75e231#diff-14e78452177b8d700efcfc91fe4fca4ce660a932b5ce6fdd302a09d657d40af1), wh

[2021-07-05 02:45] ArcturusZhang commented on #14915
Hi @Robert-Stam I have sent some internal emails to draw their attention

[2021-07-05 02:56] ArcturusZhang commented on #14798
This regex stands for a UUID, with or without the hyphens, for instance, `00000000-0000-0000-0000-000000000000` fits this regex, and if you remove some or all of the hyphens in this one, it also fits this regex. In addition this regex allows you to add parenthesis around the value, for instance `(00000000-0000-0000-0000-000000000000)`, `{00000000-0000-0000-0000-000000000000}` can also fit the rege

[2021-07-05 08:44] dylan-asos commented on #13012
https://github.com/Azure/azure-sdk-for-go/releases/tag/v55.5.0 looks like it includes these changes now

[2021-07-07 13:03] ramondeklein opened #14993 "DeviceConnectionStateEvents is missing from IOT management API"
### Bug Report
`DeviceConnectionStateEvents` routing source is missing:
* Enumeration: https://github.com/Azure/azure-sdk-for-go/blob/862673ef08ed0598660f54db809772c921455c23/services/iothub/mgmt/2020-03-01/devices/enums.go#L326
* Possible routing-source values: https://github.com/Azure/azure-sdk-for-go/blob/862673ef08ed0598660f54db809772c921455c23/services/iothub/mgmt/2020-03-01/devices/enums.go#

[2021-07-07 21:10] catalinaperalta opened #14996 "Review multi-tenant work"
Get architect approval for multi-tenant additions in azcore and armcore

[2021-07-08 03:34] #14795 closed

[2021-07-08 11:53] jackofallops opened #15002 "`AppServicePlansClient.GetResponder` does not error on 404."
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

- What happened?
- What did you expect or want to happen?
- How can we r

[2021-07-08 16:22] seankane-msft opened #15004 "[Tables] Shared Access Signature Capabilities"
Adding SAS capabilities to the Tables SDK

- [ ] `GenerateAccountSas` method on the `TableServiceClient`
- [ ] `GenerateTableSas` method on the `TableClient`
- [ ] Parse SAS back to a struct method
- [ ] URI builder for Table URL parts

[2021-07-08 16:30] seankane-msft opened #15005 "[Tables] Add Access Policy functionality"
- [ ] `TablesAccessPolicy` object
- [ ] `TableClient.GetTableAccessPolicy` method
- [ ] `TableClient.SetTableAccessPolicy` method

[2021-07-08 16:35] seankane-msft opened #15006 "[Tables] Table Analytics Logging functionality"
- [ ] `TableAnalyticsLogging` object
- [ ] `TableMetrics` object
- [ ] `TableCorsRule` object
- [ ] `TableRetentionPolicy` object
- [ ] `TableServiceClient.SetServiceProperties` method
- [ ] `TableServiceClient.GetServiceProperties` method
- [ ] `TableServiceClient.GetServiceStats` method

[2021-07-08 16:38] seankane-msft opened #15007 "[Tables] List methods"
- [ ] `ListTables`
- [ ] `ListEntities`

[2021-07-08 16:39] seankane-msft opened #15008 "[Tables] Authenticate via TokenCredential"
`TableClient` and `TableServiceClient` should be able to use a `TokenCredential` from `azidentity`

[2021-07-08 16:44] seankane-msft opened #15009 "[Tables] Clients should be able to authenticate via connection strings"
- [ ] Connection string parser
- [ ] `CreateTableClientFromConnectionStr`
- [ ] `CreateTableServiceClientFromConnectionStr`

[2021-07-08 16:47] RickWinter opened #15010 "Azure Cosmos Commitments for Go (July-December 2021)"

[2021-07-08 16:55] seankane-msft opened #15011 "[Docs] Create developer onboarding documentation"
Create as two tracks:
- [ ] I am onboarding an entirely new service
- [ ] I am contributing to an existing package

Information needed:
- [ ] How to install Go (what versions)
- [ ] How to set up your development environment
- [ ] How to build a package
- [ ] How to run tests
- [ ] How to run code generator
- [ ] How to create a new package
- [ ] How to document code
- [ ] What information to incl

[2021-07-08 17:04] marchesir commented on #14387
well at some point go may force the change, so not easy on anybody. i for 1 have an issue azure-sdk-for-go is required by terratest but where i work we use artifactory and as there is no go.mod it makes downloading hard as artifactory assumes .mod.

[2021-07-08 17:12] jhendrixMSFT commented on #14387
I tend to agree.  It's a bitter pill but is likely inevitable.  In addition, I recall there was talk about tooling to simplify updating a major module version.

CC @tombuildsstuff

[2021-07-08 18:40] seankane-msft opened #15015 "[Tables] Add swagger.md to repo"
Add base swagger.md file and directive to change returned entities that are modeled as `map[string]interface{}` to `[]byte`

[2021-07-08 20:25] bcmills commented on #14387
Regarding upgrade automation, I am aware of at least https://github.com/golang/go/issues/32816 and https://github.com/golang/go/issues/32014, as well as a couple of existing tools (https://github.com/icholy/gomajor and https://github.com/marwan-at-work/mod, but others may exist too).

[2021-07-08 20:28] bcmills commented on #14387
I'm also planning to address module aliasing and renaming (golang/go#26904) for Go 1.18 (due out EoY this year), and it's possible that that will include a way for an existing module to leave a “fowarding address”.

(More design work is needed, but migrating from one module path to another — including from an unversioned path to a versioned one — is an important use-case that we're actively thinki

[2021-07-08 21:29] jhendrixMSFT opened #15018 "Refactor azcore to split user-specific code from codegen-specific code (and other cases)"
Investigate if we should partition content in `azcore` into separate sub-packages.  E.g. for artifacts used solely by codegen we could put them all in a `azcore/codegen` package.

[2021-07-08 21:47] sgoings opened #15019 "SubscriptionsClient api-version=2016-06-01 does not return EUAP locations"
### Description

azure-sdk-for-go does not use a modern api-version on the subscriptions/locations endpoint. It currently is using `2016-06-01` which does not support returning locations in the Early Access User Program.

### Environment

Import path: `"github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription"`
SDK version: `master`
go version: `go version go1.16.3 darw

[2021-07-08 22:15] OmnipotentOwl opened #15020 "Include Azure Automation rest api version 2020-01-13-preview"
### Service Package Request
Hello,

In investigating the ability to support Managed Identities on Azure Automation Accounts in Terraform it looks like the support which was last updated in the Azure Rest API specs repo with  Azure/azure-rest-api-specs/pull/12928 never made it into the Azure SDK for Go repo but the PR for it did get auto-created #14309 but was not moved forward for some reason.

Cu

[2021-07-09 04:04] ArcturusZhang commented on #15019
Hi @sgoings thanks for this issue.

The package you are using is generating out of these two swaggers documented [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/subscription/resource-manager/readme.md#tag-package-2020-09)
- Microsoft.Subscription/stable/2016-06-01/subscriptions.json
- Microsoft.Subscription/stable/2020-09-01/subscriptions.json
the "list locations" op

[2021-07-09 06:17] ambientlight opened #15024 "[Question] Should SharedKeyCredential be included in azidentity?"
### Feature Request

In addition to AAD authentication, Azure Maps supports [Shared Key Authentication](https://docs.microsoft.com/en-us/azure/azure-maps/azure-maps-authentication#shared-key-authentication) like:

[code]

I haven't found such policy in `sdk/azidentity/`. Should something like above (probably with query parameter name also parametrizable) be included in azidentity module, or we sho

[2021-07-09 15:29] jhendrixMSFT commented on #15024
The way it was explained to me is that `azidentity` is all about acquiring token credentials, so things like shared key are excluded.  Also, are all shared key implementations uniform?  My limited understanding is no.

For reference, `azblob` includes its own `SharedKeyCredential` [here](https://github.com/Azure/azure-sdk-for-go/blob/track2-storage/sdk/storage/azblob/shared_policy_shared_key_crede

[2021-07-09 16:49] RickWinter opened #15026 "Engineering System Improvements for Go"

[2021-07-09 18:17] CecileRobertMichon commented on #14351
@jhendrixMSFT any thoughts on the above?

[2021-07-09 18:21] jhendrixMSFT commented on #14351
Track 2 is still in development, although we've released a handful of preview packages (everything under the `/sdk` directory is track 2).
Unfortunately our LRO design has changed a bit, and might change again, so we haven't really solved this problem yet.

[2021-07-12 04:42] #15024 closed

[2021-07-12 09:03] SnoWolfT commented on #14951
Hi @ArcturusZhang ,

May I know whether you have any update from the service team? I encounter the same issue as rahul-da.

Thank you for your help!

[2021-07-12 14:10] jhendrixMSFT opened #15033 "Make linter CI step fail builds when applicable"
The current track 2 CI linter doesn't fail the build if linting fails.  I believe it was originally implemented like this because the repo wasn't lint-free.  We need to fix up the current track 2 bits and enable the linter.

[2021-07-12 16:16] #14742 closed

[2021-07-13 14:37] rebecca-makar commented on #14944
@ArcturusZhang @jhendrixMSFT anything I should be doing from above comment of what I am seeing?

[2021-07-13 15:54] RickWinter opened #15041 "Create a template package"
### Feature Request

Add a template project/package to the sdk folder.  This provides the bootstrap of files for new package authors and it provides a project Central-Engsys can use to verify infrastructure changes.

[2021-07-13 16:01] favoretti opened #15042 "`containerregistry` `2021-08-01-preview`: AgentPool's `Delete` method returns too early"
When trying to delete a containerregistry's agentpool, the API call returns completion too early, underlying VMSS ip configuration still stays for a few.

Trying to implement support for it in azure provider [here](https://github.com/terraform-providers/terraform-provider-azurerm/pull/12440).

Destruction during acceptance test fails with:
[code]

Deleting subnet from portal after 3-5 minutes succ

[2021-07-13 17:54] chamons opened #15043 "[Infrastructure] Building in parallel in build.ps1 and CI"
In my infrastructure work (https://github.com/Azure/azure-sdk-for-go/pull/15017 and others), I had to remove the [parallelization](https://github.com/Azure/azure-sdk-for-go/pull/15017/commits/acb98d730449689d4065a254d1703b06e5a08217) because go get was [hanging the CI consistently](https://dev.azure.com/azure-sdk/public/_build/results?buildId=994401&view=logs&jobId=f64480c0-ad91-5ea5-438f-d80031a5

[2021-07-13 20:07] doherty100 commented on #15020
Microsoft is recommending that customers stop using RunAs accounts for Azure Automation and move to managed identities so support for this is critical.

[2021-07-13 21:37] seankane-msft opened #15045 "[Discussion] Centralize on test libraries/methodology"
This is a discussion issue for clarifying/establishing the test process for all go libraries:

My original proposal is the following:
- [ ] Use the [`assert`](https://github.com/stretchr/testify/tree/master/assert) library for making assertions in tests
- [ ] Use the [`test-proxy`](https://github.com/Azure/azure-sdk-tools/tree/main/tools/test-proxy) from azure-sdk-tools to run tests in live and pl

[2021-07-13 22:04] RickWinter opened #15046 "Split Logger surface area"
### Feature Request

Split the logger surface area based on what customers use vs internal usage

[2021-07-13 22:07] RickWinter opened #15047 "Header constants cleanup"
### Feature Request

Get rid of unnecessary items.
Move what we can to internal

[2021-07-13 22:12] RickWinter opened #15048 "HttpResponse cleanup"
### Feature Request

Things to consider:

- [ ] Can we do better with the interface
- [ ] Perhaps we do a standard error type for HTTP errors
- [ ] NonRetriableError might move based on outcome

[2021-07-13 22:13] RickWinter opened #15049 "ReadSeekCloser"
### Feature Request

Supported now in Go 1.16.  Move to using the Go solution and remove from azcore

[2021-07-13 22:16] RickWinter opened #15050 "Policy cleanup"
### Feature Request

Move policies into a module

- [ ] TokenRequestOptions is “Options” the right thing to call this
- [ ] AuthenticationPolicyOptions
    - [ ] Field name may need to change
    - [ ] Possibly get rid of one of them
- [ ] Policies might be able to be in a modules
- [ ] Pipeline could perhaps be in SDK packages
- [ ] Check RetryOptions for name patterns

[2021-07-13 22:18] RickWinter opened #15051 "TelemetryPolicyOptions cleanup"
### Feature Request

Simply the implementation (C++ implementation is a good reference)
Validate the solution will work for armcore

[2021-07-13 22:20] RickWinter opened #15052 "JoinPaths API should be part of the codegen module"
### Feature Request

Move join path to CodeGen

[2021-07-13 22:22] RickWinter opened #15053 "Move Decode/Encode APIs"
### Feature Request

The decode/encode apis are for advanced scenarios.  Move to a less common place

[2021-07-13 22:22] seankane-msft commented on #15045
A nice to have would be reading secrets from a `.env` file in a library home.

[2021-07-13 22:23] RickWinter opened #15054 "NopCloser review feedback"
### Feature Request

Can perhaps be in codegen, might be available in 1.16 now
End user might need this for MemoryStreams

[2021-07-13 22:25] RickWinter opened #15055 "RetryAfter move to codegen"
### Feature Request

Investigate if RetryAfter should live with CodeGen

[2021-07-13 22:26] RickWinter opened #15056 "NewRequestBodProgress review"
### Feature Request

- [ ] Combine with NewResponseBodyProgress
- [ ] Suggestion move to Storage

[2021-07-13 22:27] RickWinter opened #15057 "NewResponseError should be internal"
### Feature Request

Customers do not need to use this method.  This should be in the package that SDK authors consume

[2021-07-13 22:31] RickWinter opened #15058 "AnonymousCredential pattern"
### Feature Request

Review the annoymouscredential pattern.

[2021-07-13 22:39] jhendrixMSFT commented on #15047
Fixed, will release in the next minor version rev.

[2021-07-13 22:39] #15047 closed

[2021-07-14 02:42] akning-ms commented on #15042
guess assigned to wrong person. reassign to dapeng for triage

[2021-07-14 18:00] RickWinter commented on #2254
@matt-gibbs Can this issue be resolved?

[2021-07-14 18:32] RickWinter opened #15062 "CodeCoverage needs to be reported in CI"
### Feature Request

- [ ] Add support to report codecoverage in CI
- [ ] Add minimum bars to prevent PRs from regressing

[2021-07-14 18:33] RickWinter commented on #15062
cc @seankane-msft

[2021-07-14 19:29] seankane-msft opened #15063 "[Tables] Convert test files to a separate package (aztable_test)"
- [ ] Convert package name
- [ ] Convert methods to use the exported `aztable.NewTableClient(...)` etc.

This assures when testing the tests use only exported methods, simulating user behavior more.

[2021-07-14 21:15] jhendrixMSFT commented on #15049
We've decided to leave this as-is to support older versions than 1.16.

[2021-07-14 21:15] #15049 closed

[2021-07-14 21:17] seankane-msft commented on #15050
Rename `Options` [here](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azcore/credential.go#L18) to `TokenRequest`

[2021-07-14 21:20] seankane-msft commented on #15050
AuthenticationPolicyOptions -> AuthenticationOptions

[2021-07-14 21:21] seankane-msft commented on #15050
Change [this](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azcore/credential.go#L24) to `NewAuthenticationPolicy`

[2021-07-14 21:30] marstr commented on #2254
Howdy - lot's has changed in the last few years. I actually ended up moving to work for @matt-gibbs on Notification Hubs, before he moved to GitHub.

Without getting into detail - enough has changed in our RP that there's no reason to believe that a bug this old is still applicable. We should close it as stale.

[2021-07-14 22:00] seankane-msft opened #15064 "[Tables] Add samples to documentation for public methods"
Add to docstrings so every public method has a sample for getting started

[2021-07-15 01:02] magodo opened #15065 "Ask for PostgreSQL Citus package"
### Service Package Request

There is currently no PG Citus Go package support in the track1 SDK, which is needed to implement the Citus related resources in Terraform AzureRM provider (see: terraform-providers/terraform-provider-azurerm#5040).

The Swagger: https://github.com/Azure/azure-rest-api-specs/tree/master/specification/postgresqlhsc/resource-manager

[2021-07-15 14:16] jsquire opened #15074 "Event Hubs: Client Identifier Support"
# Summary

When creating one of the Event Hubs client types, it can be useful for a host application to be able to uniquely identify the client instance.  The Event Hubs service also supports setting the identifier of an AMQP link, which it will associate with some error messages to make it easier to correlate errors with a given client instance.

The event processor types currently support an inf

[2021-07-15 14:16] jsquire commented on #15074
//fyi:  @richardpark-msft.   I'm not sure how relevant this is to the Go efforts, but opening for triage based on yesterday's conversation.   Please feel free to close out if not applicable for the language.

[2021-07-16 03:51] #14945 closed

[2021-07-16 16:20] seankane-msft opened #15082 "[EngSys] Merge public pipelines that do build and build test"
[12:09 PM] Joel Hendrix
I believe this is because the test step will fail if the package didn't contain any tests to run

[12:09 PM] Joel Hendrix
if we could fix this to just skip if no tests are found then we could merge them

cc: @benbp

[2021-07-16 20:29] #15033 closed

[2021-07-19 06:45] ArcturusZhang commented on #14951
Hi @Azure/aks @Azure/aks-pm any updates?

[2021-07-19 06:47] ArcturusZhang commented on #13012
This has been released in v55.5.0, therefore I will close this issue.

There is also a requirement that we want to make it stable, therefore in the next major version this preview will be removed and we will have a stable version of this by removing the preview APIs in it.

[2021-07-19 06:47] #13012 closed

[2021-07-19 07:33] zhongyi-zhang commented on #14951
As NSG can be associated with subnet, is it the same thing to use BYO subnet which applies your existing NSG? https://docs.microsoft.com/en-us/azure/aks/configure-kubenet#bring-your-own-subnet-and-route-table-with-kubenet

[2021-07-19 07:58] magodo opened #15087 "Release Request For Batch 2021-06-01"
### Service Package Request

There are a bunch of new features in the latest batch RP version 2021-06-01, comparing to the currently available 2020-09-01. Appreciate if we can have that latest version in the Go SDK.

[2021-07-19 16:36] #14559 closed

[2021-07-19 21:11] seankane-msft commented on #15082
First step is to combine [build](https://github.com/Azure/azure-sdk-for-go/blob/main/eng/pipelines/templates/steps/build.yml) and [build-test](https://github.com/Azure/azure-sdk-for-go/blob/main/eng/pipelines/templates/steps/build-test.yml) files. Then combine the archetype-sdk-client and archetype-sdk-client-samples file. The latter will be a shortened version of the first without any tests.

[2021-07-19 22:46] richardpark-msft opened #15089 "[service-bus] ServiceBusClient top-level object"
Track 2 SDKs all have a top-level ServiceBusClient that represents the connection to the Service Bus instance. All links (sender, receiver) are created using this client.

There are some key components to this class:
- [x] #15638
- [x] It accepts connection strings at the broker level and at the entity path level
- There are 4 paths to creating an AMQP link using the ServiceBusClient:
  - [x] Crea

[2021-07-19 22:49] richardpark-msft opened #15090 "[service-bus] ServiceBusAdministrationClient"
Track 2 SDKs should have a top level client that manages communication with the Service Bus ATOM endpoint (basically - a similar endpoint to what you can accomplish with ARM, but using a Service Bus connection string).

Work:
- [ ] Adding in Create/Delete/Get support for queues: https://github.com/Azure/azure-sdk-for-go/pull/15790
- [ ] GetQueueRuntimeProperties, ListQueues, UpdateQueues
- [ ] Sub

[2021-07-19 22:52] richardpark-msft opened #15091 "[service-bus] Long running test"
As part of the stress testing there should be a regularly scheduled test that runs (at a minimum) for two weeks, using a chaos-mesh policy that introduces varying levels of packet loss and failure.

As part of this work we'll need to create a Dockerfile, and a `stress` folder to contain our stress testing programs. These stress test programs should report to Application Insights, with the standard

[2021-07-19 22:57] richardpark-msft opened #15092 "[service-bus] Receiving"
The Service Bus receiver should allow for:

* A "receive forever" mode, where errors are reported to the user but recovery is automatic (and infinite - we can report errors to the user but we continue to try to recover even in the face of failures). This is the simple scenario, intended to work out of the box without much fuss. Sometimes this takes the form of a sample, but in JavaScript (and .net

[2021-07-19 22:57] richardpark-msft commented on #15092
NOTE: these are just placeholders as I do my review of the library. It's possible that some of this is already exposed in the compliant way and no work will need to be done. I'll update this issue as I go.

[2021-07-19 23:00] richardpark-msft opened #15093 "[service-bus] Sending"
There are two methods for sending messages in Service Bus:

- [x] Sending messages via a ServiceBusBatch. This batch tracks the maximum size allowed (received via Service Bus, when the link is initialized) and should NOT be hardcoded. The batch will have a method (TryAdd() bool) that lets you add a message and returns false if the message cannot be added due to size restrictions.

   This method i

[2021-07-19 23:07] richardpark-msft opened #15094 "[service-bus] Service Bus message"
Messages in Service Bus track 2 do not have settlement methods. Settlement is done on the Receiver instance. This avoids having an "active record" style pattern, which is non-idiomatic to the Azure SDK.

In addition field names have been standardized across the SDKs and will need to be here. Some examples:
- `Data` should now be `Body`
- `message` (private field) should be exposed as `RawAmqpMessa

[2021-07-20 13:20] ramondeklein opened #15098 "IOT DPS enrollment groups is missing from the SDK"
The administration of IOT hub's device provisioning service enrollment groups isn't in the Azure SDK for Go. This prevents the Terraform IOT DPS plug-in to allow the creation of enrollment groups. It seems that IOT DPS is low on the priority list, because the SDK also doesn't support the newer API (it's stuck on 2018-01-22).

[2021-07-20 14:38] dylanmorley commented on #13012
@ArcturusZhang in this version of the API, the [RetentionInDays ](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2020-02-02-preview/components?tabs=json) property is no longer documented and has become read only in the Go SDK.

For a bit of context on the problems this causes, [see this issue](https://github.com/terraform-providers/terraform-provider-azurerm/issues/7667) (see

[2021-07-20 14:51] timja commented on #13012
@dylanmorley best to raise an issue on the https://github.com/Azure/azure-rest-api-specs repo.

The service team will get notified, you may also want to escalate via your account manager if you have enterprise support.

[2021-07-20 15:05] khaliddermoumi commented on #13012
"Retention" is not needed anymore, as the retention is set and billed via the Log Analytics Workspace.
See: [Workspace-based Application Insights resources](https://docs.microsoft.com/en-us/azure/azure-monitor/app/create-workspace-resource):
"Data ingestion and retention for workspace-based Application Insights resources are billed through the Log Analytics workspace where the data is located."
Th

[2021-07-20 15:34] #15005 closed

[2021-07-20 17:03] dylanmorley commented on #13012
@khaliddermoumi yes, but only if you set the workspace id. If you don't, then you're creating a 'classic' mode insights resource, which is in support for a few years yet - data Retention still applies for those types of resources.

Thanks @timja, will raise an issue.

[2021-07-20 18:57] khaliddermoumi commented on #13012
The  "2020-02-02-preview" API version can only create workspace-based resources, at least according to [the docs](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2020-02-02-preview/components?tabs=json#applicationinsightscomponentproperties-object):
"WorkspaceResourceId: Resource Id of the log analytics workspace which the data will be ingested to. This property is required to

[2021-07-20 20:08] chamons opened #15102 "[Infrastructure] Build.ps1 could use some improvements"
See Ben's comments in https://github.com/Azure/azure-sdk-for-go/pull/15017 for a number of areas of improvement he or I should do.

[2021-07-20 20:11] favoretti commented on #15042
@ArcturusZhang Hey, could you have a look pls?

[2021-07-21 06:46] dylanmorley commented on #13012
Already reported here - https://github.com/Azure/azure-rest-api-specs/issues/14801

[2021-07-21 11:24] grzn opened #15108 "insights.ActivityLogsClient.ListComplete handling pagination incorrectly and gets 500 ISE on the 3rd page"
The following happens with azure-sdk-for-go v55.0.0, import path is _github.com/Azure/azure-sdk-for-go/profiles/2020-09-01/monitor/mgmt/insight_.

We noticed that there's an issue with the pagination in ListtComplete.
Consider the following iteration loop on the results:
[code]

Where _filter_ is _"eventTimestamp ge %s and eventTimestamp le %s and resourceId eq '%s'"_ and resourceId is a storage a

[2021-07-21 15:33] seankane-msft opened #15110 "[Identity] Remove golangci-lint skips"
Remove the `// nolint` comments that were added by this [PR](https://github.com/Azure/azure-sdk-for-go/pull/15109).

[2021-07-21 18:54] seankane-msft opened #15113 "[EngSys] Move build.yml pwsh blocks into a script for reproducibility"

[2021-07-21 20:09] #15082 closed

[2021-07-21 20:21] seankane-msft opened #15114 "[Tables] Create Samples"
- [ ] belong in the samples folder under `sdk/samples/aztables`
- [ ] Would be great to be able to test samples live

[2021-07-21 20:23] seankane-msft opened #15115 "[Tables] Document Champion Scenario"
Create gist for champion scenarios for Go Tables

[2021-07-21 20:25] #15015 closed

[2021-07-21 20:26] seankane-msft opened #15116 "[Tables] Add tests for secondary endpoint"
- [ ] Add tests for secondary endpoint to confirm working `GetStats` function

[2021-07-21 21:39] #15006 closed

[2021-07-22 11:53] hbuckle opened #15120 "ServiceFabric 2021-06-01"
### Service Package Request

Current version is 2019-03-01, features like [cross AZ zone](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cross-availability-zones) require a newer version

[2021-07-22 15:42] chamons commented on #1648
I just re-ran this against more recent autorest and we fail to generate https://pastebin.com/Gqc1PfFj with:

[code]

and the same with the second one.

I'm unsure if this makes this issue state @jhendrixMSFT

[2021-07-22 15:43] chamons commented on #14589
If this is marked wontfix, does that mean we should close it @ArcturusZhang @jhendrixMSFT?

[2021-07-22 15:45] chamons commented on #2111
Today this is generated as:

[code]

That is a []byte now, not a string as mentioned. @jhendrixMSFT does that make this fixed, or is there something deeper I'm missing?

[2021-07-22 16:07] chamons commented on #2201
I've reduced this down to a small test case:

https://gist.github.com/chamons/2151ed827a2d74219f9c5eaeeb01c34f

which produces:

[code]

when error should be `GraphError`, which is a produced model.

[2021-07-22 16:25] chamons commented on #2797
@jhendrixMSFT - Is validation a track 1 thing not done in track 2 go?

I isolated the example down to this json:

https://gist.github.com/f944b2a430f27a7669c4d1d50d24d74d

and got this generated code:

https://gist.github.com/chamons/00719b0ac596aa3b5fe87d94b394b6f9

which doesn't have any validate calls at all.

I also ran the entire file, and didn't see any either.

[2021-07-22 16:25] chamons commented on #2797
Same question applies to https://github.com/Azure/azure-sdk-for-go/issues/2182 as well

[2021-07-22 16:27] chamons commented on #2798
Confirmed we don't list the go specific help options:

https://gist.github.com/chamons/5ec2288fb83ea353412cbcad4a3a84a3

[2021-07-22 17:15] chamons commented on #6882
I just tested latest autorest.go and this is what it generated:

[code]

[2021-07-22 17:16] chamons commented on #14529
Given this note:

https://github.com/Azure/autorest.go/pull/658#issuecomment-881608381

I believe this is fixed, and am closing.

[2021-07-22 17:16] #14529 closed

[2021-07-22 17:24] chamons commented on #8367
Given that there is a checked [in test](https://github.com/Azure/autorest.go/blob/track2/.scripts/regeneration.js#L34) for this, is this issue resolved @jhendrixMSFT @magodo?

[2021-07-22 17:26] chamons commented on #8367
Also, the linked swagger is broken (as it was linking against master and not a hash).

https://github.com/Azure/azure-sdk-for-go/blob/3d1380634d6029820c1fc504da346e512fb36c87/services/securityinsight/mgmt/v1.0/securityinsight/models.go

I believe is what was referenced.

[2021-07-22 17:28] chamons commented on #3036
I believe this will be solved by moving to autorest.md files and supporting the existing _meta.json files with https://github.com/Azure/azure-sdk-for-go/pull/15111.

[2021-07-22 19:27] chamons commented on #2451
Is this still an issue @jhendrixMSFT ? I'm having trouble finding the preview directory, and folks on the call didn't have any context.

[2021-07-22 21:10] seankane-msft opened #15122 "[Tables] Update Transaction methods"
- [ ] Takes a `[]byte` instead of `map[string]interface{}`
- [ ] Remove `toOdataAnnotatedDictionary` method
- [ ] Clean up tests

[2021-07-22 23:44] richardpark-msft commented on #14907
Note, want to discuss adding in a 'add a fixed number of credits' to a link. It appears that go-amqp today only allows you to set a rolling window of credits, which makes some track 2 scenarios (like receiveMessages(5)) difficult to do properly.

[2021-07-23 00:28] ArcturusZhang commented on #15042
I heard that in some cases, the subnet has some delay to disjoint with other resources after it was successfully deleted.
Defer to the corresponding service team to get a confirmation.

[2021-07-23 00:31] chamons opened #15127 "[build.ps1] Specify output directory"
It would be useful to specify the output directory for -generate

[2021-07-23 00:36] ArcturusZhang commented on #15020
Hey @OmnipotentOwl and @doherty100 thanks for this issue and sorry for the delay of response.

We have an internal email to confirm the readiness of their swagger, once we get that, we will release a new package for this api-version of this RP

[2021-07-23 00:44] chamons opened #15128 "[build.ps1] Add argument for specifying configuration filename (not always autorest.md)"
It is useful for code generation purposes to sometimes generate different configuration settings.

Not having to overwrite the exising autorest.md would make that easier, so let's add a configuration setting to point to the markdown file.

[2021-07-23 00:45] chamons opened #15129 "[Infrastructure] azure-rest-api-specs automation for track 2 go"
https://github.com/Azure/azure-rest-api-specs has some amazing automation which regenerates proposed swagger changes against many languages and shows the results (and if they are breaking).

Today track 2 is not included. Track 1 go is powered by the generate tool found in azure-sdk-for-go\tools\generator.

To implement this work we would need to:

- Generate a temporary settings.md file with the

[2021-07-23 05:40] ArcturusZhang commented on #14655
Hi @akhilesh2410 thanks for this issue!

The error comes from the service instead of the SDK itself, therefore I have to defer to the corresponding service team's feedback here.

[2021-07-23 16:50] RickWinter opened #15134 "Cleanup files at root of repo"
Currently the top folder of the repo has scripts and various config files.  Ideally we should have the minimal number of files at the root.  All scripts and tooling files should reside in eng folder.

Valid files to be at root:
- .gitignore
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- LICENSE.txt
- NOTICE.txt
- README.md
- SECURITY.md
- SUPPORT.md
- cgmaniftest.json

[2021-07-23 18:27] richardpark-msft opened #15136 "[service-bus] Message batching"
Track 2 added in the ability to create a message batch - basically, it's a "append only" collection of messages which are encoded and sent as a single message. This can be a big efficiency boost for senders as it allows the combining of several small messages into one, eliminating some per-message send overhead which can add up.

Interfaces used for illustration - current policy for the Go SDK (fr

[2021-07-23 18:35] richardpark-msft commented on #15136
There is some code related to batching here: https://github.com/richardpark-msft/azure-sdk-for-go/blob/sb-track-2/sdk/servicebus/batch.go

It looks like it's hard coding the max message size based on the messaging tier, which should not be done (it can be dynamically retrieved from the link).

[2021-07-23 18:37] richardpark-msft commented on #15136
Even better - the .Add signature in the existing batch code already has the .Add() (bool, error) signature:

https://github.com/richardpark-msft/azure-sdk-for-go/blob/e68e55fb55079816240f0dab9991215d7d33885a/sdk/servicebus/batch.go#L106

[2021-07-26 14:51] seankane-msft opened #15152 "[Tables] Add benchmarks before GA"
- [ ] Use standard library for adding benchmarks of core functionality.

[2021-07-26 14:56] seankane-msft opened #15153 "[Core] Add an `ETag` type"

[2021-07-26 21:26] #15007 closed

[2021-07-26 21:27] #15122 closed

[2021-07-27 00:18] richardpark-msft opened #15156 "[service-bus] Batch receiving"
Batch receiving is receiving messages with a finite limit. This differs from streaming in that you should be able to request 5 messages and get no more than 5 messages.

In JS they also drain the link after the receive so no excess messages or internal cache is required, which removes a whole class of potential problems.

Both of these are not implemented in the go-amqp library today. You are alwa

[2021-07-27 13:19] #15102 closed

[2021-07-27 13:19] #15127 closed

[2021-07-27 13:19] #15128 closed

[2021-07-27 20:23] richardpark-msft opened #15163 "[service-bus] Sending and receiving messages using sessions"
Similar to #15093 but with sessions.

Work:
- [x] AcceptSessionFor(Queue|Subscription)(<session-id>) - accepts a session from a session-based entity with a specific ID. This method is _not_ lazy - the link is opened in this call.
- [x] AcceptNextSession(Queue|Subscription) - accepts the next available session from a session-based entity.
- [x] The Go Sender currently associates a session ID with t

[2021-07-27 20:41] richardpark-msft opened #15164 "[service-bus] Lazy initialization"
In Track 2 SDKs creation methods the following methods should be 'lazy' in that you can call them without any network I/O:
- [x] CreateSender()
- [x] CreateReceiver

These methods, however, will create and initialize a link:
- [ ] AcceptSession (accepts a session by name)
- [ ] AcceptNextSession (accepts the next available session)

The Accept* methods are non-lazy so developers can reasonably exp

[2021-07-27 21:32] richardpark-msft opened #15165 "[service-bus] Scheduling messages"
There are three parts of the scheduling messages feature:
- Setting the `ScheduledEnqueueTime` property on a message and then sending it
- An explicit function on the Sender (`ScheduleMessage`)
- A function that allows you to cancel a scheduled message via its sequence number.

[2021-07-27 21:33] richardpark-msft opened #15166 "[service-bus] receiving and deferring messages"
There is a API restructuring that has to happen here (for instance, in track 2 SDKs receiving deferred messages is treated as a batch operation, without a callback).

Beyond that there are quality issues we need to be aware of:
* (fixed) There's a bug currently in azure-service-bus-go where we can't properly retrieve deferred messages for a dead letter queue: [azure-service-bus-go: #241](https://g

[2021-07-27 21:43] richardpark-msft opened #15168 "[service-bus and event-hubs] perf test measurement"
The focus here would be to measure the basics just to get an idea of our baseline numbers.

Part of this issue will be to investigate if there already is a perf framework library (like with other languages) and to integrate with that, if possible.

There is a complementary issue that deals with stress testing. (#15091). If there is no standardized infrastructure by the time we tackle this issue th

[2021-07-27 21:44] richardpark-msft opened #15169 "[service-bus] adhoc stress testing"

[2021-07-27 21:46] richardpark-msft opened #15170 "[service-bus] Connection/network recovery"

[2021-07-27 22:00] richardpark-msft opened #15171 "Manual credit management for batch receivers"
The credit allocation in the current AMQP library appears to use a 'rolling credit' allocation. Basically, you set a maximum credit size and it's maintained throughout the link.

This can work well for a streaming receiver, as it acts as a prefetch mechanism. But for batching receivers this makes it difficult to properly specify a fixed set of credits and ensure that no more than an initial set wi

[2021-07-27 22:01] richardpark-msft opened #15172 "Allow for sending a 'drain' flag when sending a flow frame"
This is a feature we use in the JavaScript SDK when doing batched receives.

Basically, the flow in JS is:
1. Add 'n' credits to the link
2. Wait for, at most, 'n' messages
3. If time period expires then we initiate a drain
4. Wait for drain to complete and then return

Without this it would be possible for messages to arrive after the call to receiveMessages() has completed, requiring us to cache

[2021-07-27 22:19] catalinaperalta opened #15173 "Check nolint comments"
Go through and remove `nolint` comments.

[2021-07-28 15:06] Berbe opened #15178 "API Management API ID doesn't always contain the revision ID"
As [indicated in comments](https://github.com/Azure/azure-sdk-for-go/blob/109fc2e584ea018c02b187e41a5ee9da1817404b/services/apimanagement/mgmt/2020-12-01/apimanagement/api.go#L236-L237), the API ID does not include the revision ID when the revision is current.

This is a problem when the returned ID is used to track an object's state, as an API ID without a revision ID doesn't reference a single o

[2021-07-28 15:23] pascaldekloe opened #15180 "UUID is pseudo random"
The UUIDs don't use a cryptographically randomised source. Not doing so breaks the specification.

[2021-07-28 17:17] #14360 closed

[2021-07-28 22:33] RickWinter commented on #15180
Thank you for reporting this issue.  We will make a fix available soon.

[2021-07-28 22:44] pascaldekloe commented on #15180
The cryptographic random source can encounter errors, so you'd need to either change the name or use another UUID version.

[2021-07-29 10:18] KarlRanseier commented on #9561
Any news?

[2021-07-29 10:29] KarlRanseier commented on #5921
Any news here?

[2021-07-29 18:16] remhead opened #15188 "appconfigurationapi Service wildcard search returning paged list"
### Service Package Request

I am looking to build a Kubernetes Operator that builds ConfigMaps based on Azure App Configuration Key Value Pairs. In order to accomplish this I will need to use the Azure SDK for Go.

While inspecting the appconfigurationapi service in the SDK I have been unable to find a List command that will replicate the https://docs.microsoft.com/en-us/azure/azure-app-configura

[2021-08-01 02:38] SnoWolfT commented on #14951
Hi @Azure/aks @Azure/aks-pm any updates +1?

[2021-08-02 13:57] ghost opened #15199 "for Cosmos DB account creation, publicAccessEnabled = false being changed back to true"
### Bug Report

When using the dbAccountsClient.CreateOrUpdate method in the Azure SDK for GO to create CosmosDB accounts, if I specify PublicNetworkAccess = false but an empty [] IPAddressOrRange array, the account gets created with PublicNetworkAccess = true.

Need to check if this is an issue with Azure SDK for Go or are we doing something incorrectly

Here is the sample code that was used:

[c

[2021-08-02 15:10] #15056 closed

[2021-08-02 15:16] seankane-msft opened #15201 "[Tables] Fix polymorphic returns in InsertEntity method"
Responses are different for Merge and Replace methods

[2021-08-03 04:27] ArcturusZhang commented on #15199
Hi @yamandeepsingh thanks for this issue!

Is it possible that you could run your program again with the SDK logging enabled and paste the log here or in your github gist (please ensure you redacted all sensitive data)? In this way we can confirm whether the issue comes from the SDK or the service.

You can enable the request logging by exporting this env var: `AZURE_GO_SDK_LOG_LEVEL=DEBUG`

[2021-08-03 07:50] ArcturusZhang commented on #15178
Hi @Berbe thanks for this issue!

But I do not think it is correct behavior to let terraform to manage something that might be tempered by something else. You will get exactly the same situation if one of your terraform-managed resource get changed by some external sources - for instance you enlarged your os disk size of the VM managed by terraform, and run `terraform apply` again, it is for sure

[2021-08-03 07:53] ArcturusZhang commented on #15108
Hi @grzn Thanks for this issue!

@jhendrixMSFT could you please help on this issue?

[2021-08-03 16:52] yamandeepsingh commented on #15199
[go-output.txt](https://github.com/Azure/azure-sdk-for-go/files/6925809/go-output.txt)

Sharing the debug logs. This was raised as a support case by customer and they are looking for an answer by August 10.
If this is a bug in SDK or something else which needs code change or something, customer could wait, but they want to know about this by August 10

[2021-08-03 16:52] yamandeepsingh commented on #15199
Sharing the debug logs. This was raised as a support case by customer and they are looking for an answer by August 10.
If this is a bug in SDK or something else which needs code change or something, customer could wait, but they want to know about this by August 10.

Regards
Yamandeep Singh | Big Data Engineer
***@***.***<../../../../Pictures/picsign.gif>
Office: +1 (980) 7761094
Email: ***@***.**

[2021-08-03 17:12] seankane-msft commented on #15115
Completed here: https://gist.github.com/seankane-msft/edab80f992187d097821537447040ce7

[2021-08-03 17:12] #15115 closed

[2021-08-03 17:12] #15110 closed

[2021-08-03 18:35] seankane-msft commented on #15004
Python implementation: https://github.com/Azure/azure-sdk-for-python/pull/15946

[2021-08-04 08:00] Berbe commented on #15178
This is out of scope of this issue: I did not specify the way the current revision changes, as this has no impact on this particular issue, which is how the API behaves/answers.

All I am showing in the description are API queries and answers.
Terraform was merely there to explain the (reasonable) expectations on the the API and give a context as well as a use case to the issue. You can discard th

[2021-08-05 00:14] richardpark-msft opened #15210 "[service-bus] Implement defer in the new track 2 receiver"
Work:
- [x] Add in proper defer() settlement methods on both the processor and receiver.
- [x] Check if backup and receiver level settlement are enabled. It looks like we only do receiver settlement today.

Bug:
- [x] It looks like the received message doesn't have a valid 'receiver' property. Deferring (along with complete, abandon and others) can be thought of typical settlement methods. The inc

[2021-08-05 00:15] richardpark-msft commented on #15170
This task might be a bit large. Looking through the code base I see a few spots where retries are happening, but there are some bugs in the issue tracker (azure-service-bus-go) that show we seem to lose connections when there are network failures.

Adding this recoverability in JS was difficult, I expect this will be similar.

[2021-08-05 00:16] richardpark-msft commented on #15169
Shouldn't be too bad - most of this will just be onboarding and someone will need to eat some of the up-front cost of making sure CI works, etc...

[2021-08-05 06:55] ArcturusZhang commented on #14589
Close this since we will not introduce a fix for this in track 1 SDK

[2021-08-05 06:55] #14589 closed

[2021-08-05 22:00] richardpark-msft opened #15215 "[service-bus] Preview 1, process and documentation"
- [x] Readme update and samples [link](https://github.com/Azure/azure-sdk-for-go/pull/15689)
- [x] doc-comment review (basic comments are in place)
- [x] Architecture review (this can be simplified if we conform to decisions we made with our existing track 2 SDKs) (trying to get on calendar, arch board issue filed here: [link](https://github.com/Azure/azure-sdk/issues/3407))

[2021-08-06 14:33] sadasant opened #15222 "[Identity] Document the package can be used for more than the Azure SDKs"
Recently, the Azure SDK for TS/JS received requests from customers to improve our introductory paragraph in our Identity README to also mention that the Identity package could be used from applications not using the Azure SDK. We made the changes in our README here: https://github.com/Azure/azure-sdk-for-js/pull/16800. If you agree, we should do a similar change in the Identity README for Go.

[2021-08-06 20:35] ealsur opened #15223 "[Cosmos DB] Resource hierarchy - Database and Container"
Similar to C# or Java's CosmosDatabase and CosmosContainer

[2021-08-06 20:43] jhendrixMSFT commented on #5921
Sorry for the delay.

The code generator has been fixed, I'll defer to @ArcturusZhang about when the next release with this fix will happen.

[2021-08-06 20:43] RickWinter opened #15226 "Release Pipeline support for packages"
Automation improvements for releasing packages

[2021-08-06 20:44] jhendrixMSFT commented on #9561
This is a dupe of https://github.com/Azure/azure-sdk-for-go/issues/5921.  The code generator has been fixed, just waiting for a new release.

[2021-08-06 20:44] #9561 closed

[2021-08-06 22:50] #15223 closed

[2021-08-08 18:59] tamirkamara opened #15227 "App service to allow accessing KeyVault with user assigned managed identity"
### Feature Request

App service allows referencing KeyVault secrets directly via its config. This is usually done with a system assigned managed identity. However, when the app service is defined with a user assigned one special configuration has to be applied as [described here](https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references#access-vaults-with-a-user-assigned

[2021-08-09 07:15] veezhang opened #15229 "InvalidRequestFormat when create private link service"
### Bug Report

- import path `github.com/Azure/azure-sdk-for-go/services/network/mgmt/2021-02-01/network`
- SDK version `github.com/Azure/azure-sdk-for-go v55.0.0`
- output of `go version go1.16.2 darwin/amd64`

I create private link service with the following parameters:

[code]

I got an error `Failure sending request: StatusCode=0 -- Original Error: Code="InvalidRequestFormat" Message="Cannot

[2021-08-09 07:35] veezhang commented on #15229
I had create a support 2108090050000055.  He suggested me to use `Portal`, `Powershell`, `Cloud CLI` or `ARM template` to create resources.

But I would rather use the SDK to **dynamically** create resources.

[2021-08-09 08:12] veezhang commented on #15229
I found that the `Name` of `network.PrivateLinkServiceIPConfiguration` is required.
And is it possible to prompt a more friendly error message in `Details`?

[2021-08-09 09:32] favoretti commented on #15042
@ArcturusZhang any updates here by any chance? :)

[2021-08-09 14:50] #15153 closed

[2021-08-09 15:18] ealsur opened #15232 "[Cosmos DB] Indexing Policy and Spatial types"
On ContainerProperties

[2021-08-09 15:18] ealsur opened #15233 "[Cosmos DB] Authentication (keys)"
Master key based authentication

[2021-08-09 15:26] seankane-msft opened #15234 "[azcore] Add Changelog"
azcore should add a CHANGELOG.md file detailing previous release information

[2021-08-09 15:26] seankane-msft opened #15235 "[azidentity] Add Changelog"
Add changelog.md file to azidentity with backfilled information for previous releases.

[2021-08-09 15:30] RickWinter opened #15236 "Add request id policy"
Need to add the x-ms-client-request-id into headers.

Items

- Add new policy
- Add policy to clients
- Add tests for policy

[2021-08-09 15:58] mjudeikis opened #15237 "v0.18.0 broken"
### Bug Report

We are trying to migrate to AzCore Track2 for go. We tried new generator for autorest and found inconsistencies in the SDK being generated:

Generation:
[code]

Issue itself is in the `azcore` where generated client expects external type for `Connection`:
[code]

But `connection` type is internal only.
[code]

[2021-08-09 17:05] RickWinter opened #15238 "Update version scheme to match Azure SDK patterns"
### Feature Request

The current version scheme does not support notations of beta releases.  Go should adopt semantic version standards.
https://golang.org/doc/modules/version-numbers

As part of this we need to update the guidelines
https://azure.github.io/azure-sdk/policies_releases.html

[2021-08-09 17:43] seankane-msft commented on #15062
* Code coverage is reported under the "Code Coverage" tab in CI, example for [azcore](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1038562&view=codecoverage-tab)
* Pipelines will fail if the code coverage reported by `go test` is lower than the values stored in [eng/config.json](https://github.com/Azure/azure-sdk-for-go/blob/main/eng/config.json)

[2021-08-09 17:43] #15062 closed

[2021-08-09 17:44] seankane-msft opened #15241 "[EngSys] Add step to verify changelog has been updated"
Raised by Joel [here](https://github.com/Azure/azure-sdk-for-go/pull/15240#issuecomment-895413391)

[2021-08-09 20:27] #15235 closed

[2021-08-09 20:29] #15234 closed

[2021-08-09 20:30] jhendrixMSFT commented on #15237
Hello!  By default, the generated client are not exported (I can go into details why if interested).  To export them, you specify `--export-clients:true`.  Note that this switch might get renamed to `--public-clients`, see https://github.com/Azure/autorest.go/pull/657 for more info.

[2021-08-09 20:47] jhendrixMSFT opened #15243 "azcore.JoinPaths strips query params"
[code]

The query params in `rootURLWithQueryParams` will be removed.

[2021-08-09 21:30] jhendrixMSFT commented on #15046
Move some content from internal back to azcore.  Do we want to move logging to `log` package or keep in `azcore`?

[2021-08-09 22:03] jhendrixMSFT commented on #15054
Closing as type is needed.

[2021-08-09 22:03] #15054 closed

[2021-08-09 22:11] RickWinter commented on #15238
This scheme is in use for Go specific packages.  The general guidelines need to be updated

[2021-08-09 22:14] richardpark-msft opened #15245 "[service-bus] Integrate properly with CI (track2-servicebus)"
We'll be merging the initial drop of track 1 code (as a base for track 2).

azure-service-bus-go (which is where we're getting the code from) has some differences that need to be ported to the monorepo-way of doing things:

- Migrate our pipeline build YAML files over to the proper format for the monorepo. We currently have a makefile that we would probably remove at this point.
- Replace terrafor

[2021-08-10 00:51] valiparsa opened #15248 "graphrbac test fails with "Insufficient privileges to complete the operation""
### Bug Report

- path of package `graphrbac/1.6/graphrbac`
- SDK version `v48.0.0`
- output of `go version`
[code]

- What happened?
I cloned this repository `https://github.com/Azure-Samples/azure-sdk-for-go-samples` and executed go test for `graphrbac` package and it failed with this error: `Insufficient privileges to complete the operation`
- What did you expect or want to happen?
I expected a

[2021-08-10 01:10] richardpark-msft commented on #6463
Added in #15245 to deal with some of the mechanics of this transition.

We've pinned @devigned's issue discussing this in the azure-service-bus-go repo (https://github.com/Azure/azure-service-bus-go/issues/152). The repo's issue tracker is fairly low traffic, even for issues, so we're not expecting too much feedback via that channel at the moment.

Code for track 2 has 'started' (literally just co

[2021-08-10 01:55] serbrech commented on #6463
About 6. I agree with @devigned.
deleting the repo means existing software relying on it will stop compiling.
Comparing it to .NET, it would be the equivalent of deleting all nuget packages ever published for a project (not just deleting the repo)
Can we consider archiving the project instead?

[2021-08-10 06:32] richardpark-msft commented on #6463
@serbrech - Absolutely. Archiving is the _only_ path we're considering (and is what we've done in the past as we've transitioned repos into the monorepo).

[2021-08-10 06:33] mjudeikis commented on #15237
Thanks :) Overall would be good to make this more intuitive as basically with the settings generated above (we got them from SDK team for migration) client is unusable.

[2021-08-10 08:01] #2246 closed

[2021-08-10 08:16] #15237 closed

[2021-08-10 11:49] regardfs commented on #8654
I supposed that you may provide a example about how to use acr in go sdk.

[2021-08-10 14:12] #15232 closed

[2021-08-10 14:30] devigned commented on #15092
Definitely don't want to expose a channel through an exported interface. That why iterators in SB are the way they are.

[2021-08-10 14:30] devigned commented on #15092
Definitely don't want to expose a channel through an exported interface. That why iterators in SB are the way they are.

[2021-08-10 14:35] devigned commented on #15094
Standardizing field names to names that are different than the standard seem reasonable in the SB / EH code. Hopefully, the underlying protocol implementation will stay consistent with the AMQP spec.

[2021-08-10 16:59] benbp commented on #15241
Assigning to @chidozieononiwu, who knows the changelog scripts+steps best.

[2021-08-10 17:34] richardpark-msft opened #15260 "[azservicebus] Support "rawAnnotatedMessage" (AMQP message)"
The recent Service Bus SDKs have made it easier to both access and send messages that are a 1:1 translation of an AMQP message. This includes being able to encode the body to separate sections (data, value, or sequence).

Using an AMQPAnnotatedMessage (type name TBD in Go) is supported in these methods in the Sender:

- Sender.SendMessage()
- Sender.ServiceBusMessageBatch.TryAdd()
- Sender.Schedul

[2021-08-10 17:36] richardpark-msft commented on #15094
@devigned: same goal here for sure. We made some changes for the "above ground" portions with the SB/EH messages so that's all this particular is.

There's been some work in the Service Bus and Event Hubs SDKs to allow more direct AMQP integration, which we'd want to do as well. I submitted an issue to cover that - it is part of the modern Service Bus SDKs: #15260

[2021-08-10 17:38] richardpark-msft commented on #6463
Also, I've updated the title as it's less of a "move" and more of a "we're starting the new SDK development in the monorepo".

[2021-08-10 17:41] richardpark-msft commented on #15092
That was an off the cuff idea, but I'm interested. It sounds like you're saying it's an anti-pattern?

[2021-08-10 18:01] devigned commented on #15092
In this case, it would difficult to ensure a consumer were to read all of the items added to the channel. I think it would lead to really error prone code.

I don't see exposing channels as a 100% never do it thing (thinking about `Context.Done()`), but I think it is to be avoided as you are implying concurrency at the library level rather than letting the user of the library decide.

[2021-08-11 16:06] RickWinter commented on #2254
Marking this old issue as addressed.  If the bug still reproduces on current SDK and service please open a new issue

[2021-08-12 07:37] haflidif opened #15274 "[Azure-Batch] 2021-01-01 New User Assigned Managed Identity features for Batch Pool"
### Feature Request

Current version is **2020-09-01** there are new features regarding usage of User Assigned Managed Identity for Azure Batch Pool that are available in version **2021-01-01** https://docs.microsoft.com/en-us/azure/batch/managed-identity-pools is it possible to have it supported

[2021-08-12 08:26] anttikes opened #15275 "Communicate with the CosmosDB emulator"
### Feature Request

Microsoft provides a [CosmosDB emulator](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator), and it is possible to talk to this emulator with the .NET Azure SDK. The page even has samples on how to do it.

In the Azure SDK for Go, it seems that the Azure [subscription identifier](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/cosmos/armcosmos/zz_generate

[2021-08-12 13:49] jaydrue commented on #4829
Hi, do you have any progress on timeline on this?

[2021-08-12 16:01] RickWinter commented on #1369
Closing this old issue.  If you feel this issue is relevant to the new track2 Go SDK please open a new issue.

[2021-08-12 16:01] #1369 closed

[2021-08-12 16:04] #6507 closed

[2021-08-12 18:24] benbp commented on #15226
Adding some context here based on what we have in other languages:

Core release steps:
- Build
- Sign (doesn't seem relevant for go?)
- Verify changelog
- Verify no unreleased dependencies
- Create tags
- Release to feed (duplicate with tags?)
- github.io docs
- docs.ms docs
- update local package version references in the repo

Validation steps:

- Unit/CI testing
- Samples testing (live testing

[2021-08-12 20:12] #15008 closed

[2021-08-12 21:09] RickWinter commented on #864
Closing old issue, new Cosmos work can open a new issue if applicable

[2021-08-12 21:11] RickWinter commented on #894
cc: @elraikhm

[2021-08-12 21:12] #864 closed

[2021-08-12 21:17] RickWinter commented on #2111
This is fixed in track2 and will not be backported to the previous generator.

[2021-08-12 21:17] #2111 closed

[2021-08-12 21:18] RickWinter commented on #2182
Track2 generator considers the Service the source of truth and does not do client side validation logic.

[2021-08-12 21:21] RickWinter commented on #2414
This has been done in track2 and will NOT be backported to track1

[2021-08-12 21:21] #2414 closed

[2021-08-12 21:22] RickWinter commented on #2451
Addressed in track2 with semantic versioning of modules.

[2021-08-12 21:22] #2451 closed

[2021-08-12 21:22] #2564 closed

[2021-08-12 21:24] RickWinter commented on #2797
Track2 does NOT do client side validation.

[2021-08-12 21:24] #2797 closed

[2021-08-12 21:25] RickWinter commented on #2993
Completed in track2 will NOT be backported to track1.

[2021-08-12 21:25] #2993 closed

[2021-08-12 21:28] RickWinter commented on #3036
This is part of the Swagger->SDK work which is not being done

[2021-08-12 21:28] #3036 closed

[2021-08-12 21:32] RickWinter commented on #3148
Track2 supports MSAL and AADv2 with the azidentity package.

[2021-08-12 21:32] #3148 closed

[2021-08-12 21:33] RickWinter commented on #3220
Part of the swagger->sdk work.

[2021-08-12 21:33] #3220 closed

[2021-08-12 21:36] RickWinter commented on #3231
Track1 will not provide a GA library with datalake support.

[2021-08-12 21:36] #3231 closed

[2021-08-12 21:40] RickWinter commented on #4142
@ramaganesan-rg Please confirm the swagger was fixed for the missing skiptokenver and id query params in the swagger for manual paging.

Azure/azure-rest-api-specs#11351

[2021-08-12 21:42] RickWinter commented on #5226
Track2 supports this scenario.  This will NOT be backported to track1

[2021-08-12 21:43] RickWinter commented on #6421
This has been addressed.  New issues should be opened for specific places that should be enhanced further.

[2021-08-12 21:43] #6421 closed

[2021-08-12 21:46] RickWinter commented on #6520
Track2 azidentity allows for providing a custom authority host via code.

[2021-08-12 23:04] zezha-msft commented on #5226
@RickWinter no track1 already supports AAD, I think @omerlh was asking about the legacy package here: https://github.com/Azure/azure-sdk-for-go/tree/main/storage.

Track 1 is here: https://github.com/azure/azure-storage-blob-go

[2021-08-13 06:29] tombuildsstuff commented on #2182
@RickWinter reading through [the original comment](https://github.com/Azure/azure-sdk-for-go/issues/2182#issue-338444951) this appears to be more regarding the Enums changing names across versions (than the validation mentioned in Joel's comment, where this got renamed) - for which the root-cause appears to be missing `x-ms-enums` in the Swaggers - whilst this could be fixed in this SDK, is there

[2021-08-13 08:02] #8367 closed

[2021-08-13 08:02] #1648 closed

[2021-08-13 23:42] #15233 closed

[2021-08-15 06:31] jarrodd07 opened #15295 "Failing to parse JSON response from Cosmos ListSQLRoleDefinitions"
### Bug Report
I am trying to retrieve a list of SQL Role Definitions setup against a Cosmos DB. When I call ListSQLRoleDefinitions I'm getting the following error:
`documentdb.SQLResourcesClient#ListSQLRoleDefinitions: Failure responding to request: StatusCode=200 -- Original Error: Error occurred unmarshalling JSON - Error = 'json: cannot unmarshal number into Go struct field SQLRoleDefinitionLi

[2021-08-16 22:02] jhendrixMSFT commented on #15243
Fixed

[2021-08-16 22:02] #15243 closed

[2021-08-16 22:04] jhendrixMSFT commented on #15046
Fixed

[2021-08-16 22:04] #15046 closed

[2021-08-17 07:43] stephybun opened #15303 "Add eTag field for consumption API"
### Feature Request

[2021-08-17 19:38] #15004 closed

[2021-08-17 19:58] kostrse opened #15308 "ManagedIdentityCredential should not do in-place mutation of Scopes"
### Bug Report

`ManagedIdentityCredential` receives a list of scopes as input and internally converts them to a resource ID (#14693).

There's a problem that `ManagedIdentityCredential` is actually mutates the original array, which creates an unexpected side-effect for the calling code:

[code]

[This line](https://github.com/Azure/azure-sdk-for-go/blob/dcc9108ed8db94db491f10a08535e0b27a1a3087/sd

[2021-08-17 22:00] richardpark-msft opened #15310 "[service-bus] Port over the following fixes from azure-service-bus-go"
- [x] Retry refreshing credentials [https://github.com/Azure/azure-service-bus-go/pull/245](https://github.com/Azure/azure-service-bus-go/pull/245)
- [x] defer closing the management link (this one should be applied with some thought - the fix was the bare minimum) [https://github.com/Azure/azure-service-bus-go/pull/244](https://github.com/Azure/azure-service-bus-go/pull/244).
- [x] Multiplexing m

[2021-08-18 22:01] #2254 closed

[2021-08-19 02:32] #15180 closed

[2021-08-19 12:26] pascaldekloe commented on #15180
Thank you @RickWinter. The changes look good.

[2021-08-19 19:27] ausfeldt opened #15327 "AsycCache"

[2021-08-19 20:17] kostrse commented on #15308
I my opinion you should not do any transformations with scopes in `ManagedIdentityCredential` and instead convert the scopes to resource ID in `createXxxRequest` methods of `managed_identity_client`.

`managed_identity_client` supports several implementations of token endpoints and whether a given token endpoint supports scopes or not is implementation detail of that particular endpoint implementa

[2021-08-19 22:01] #6520 closed

[2021-08-19 22:01] #2838 closed

[2021-08-20 00:09] jhendrixMSFT opened #15330 "Provide log sanitizer functionality"
We have this in track 1.5.

https://github.com/Azure/azure-pipeline-go/blob/master/pipeline/core.go#L261

[2021-08-20 00:12] chlowell commented on #15308
Thanks, that's a good suggestion. I also find the division of responsibilities between `ManagedIdentityCredential` and `managedIdentityClient` somewhat awkward. I left that division alone in my PR because I would probably want to refactor more than the scope -> resource conversion, and there's no need for that today. One endpoint diverging from the others in the way you describe would be a good ex

[2021-08-20 01:02] richardpark-msft opened #15332 "[service-bus] Configurable cloud environments for ServiceBusClient"
@seankane-msft pointed out that I'm only allowing the public cloud environment [ref](https://github.com/Azure/azure-sdk-for-go/pull/15280#discussion_r692198417)

I need to go see what we did in track 2 for this with the other SDKs and see how it's exposed.

[2021-08-20 04:01] #5226 closed

[2021-08-20 10:01] #2182 closed

[2021-08-20 11:45] andyzhangx commented on #2182
this is not an issue now

[2021-08-20 12:18] tombuildsstuff opened #15345 "Swaggers omit `x-ms-enum` which causes spurious diff's"
Unfortunately the Azure Swagger quality is pretty variable, and whilst the majority of constants use `x-ms-enum`, some others don't. This leads to weird naming in the SDK as we've raised previously such as `Enum42` - which is an issue across the Azure SDK's.

As requested in #2182 - is there a plan to fix this data quality issue?

---

The original comment in #2182:

@RickWinter reading through [t

[2021-08-20 16:03] #15308 closed

[2021-08-20 19:54] ealsur opened #15351 "Cosmos DB - error on failed responses"
Currently the response from the pipeline in a case of an error just returns the error response with a failure status code.

We should be exposing them as actual errors leveraging `azcore.NewResponseError`

[2021-08-22 15:17] kaovd commented on #14800
@dosegal Any update on where the ETAs at?

[2021-08-22 16:53] dosegal commented on #14800
@kaovd A new preview version (2021-09-01-preview) is currently in development and is expected to be released by October. This version will contain all the RP capabilities from which we can create a proper SDK.

[2021-08-23 10:17] favoretti commented on #15065
Dupe of #14875?

[2021-08-24 04:24] ArcturusZhang commented on #15042
Hi @toddysm do we have some updates on this?

[2021-08-24 18:04] richardpark-msft opened #15371 "[event hubs] Stress testing checklist"
We need to write a simple Event Hubs test to simulate a customer scenario - constant message sending and receiving with network stress spplied.

This will use the standard stress testing checklist: [Checklist](https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/485/Stress-test-checklist)

[2021-08-24 19:38] benbp opened #15372 "Onboard SDKs to live testing pipeline"
The storage/blob SDK should be able to utilize the live testing pipeline via a `tests.yml` file following the engineering system conventions.

[2021-08-24 22:14] ausfeldt opened #15373 "### Caches"
Container cache, LocationCache, AccountCache

[2021-08-24 23:49] #15327 closed

[2021-08-24 23:50] ealsur opened #15374 "Cosmos DB - PartitionKey"
Add PartitionKey object support

[2021-08-25 07:14] jarrodd07 commented on #15295
Hey @lirenhe I'm assuming it's this line that's causing us issues [rbac.json](https://github.com/Azure/azure-rest-api-specs/blob/44017a20d8c022217b31e15643595fc7aff87926/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-06-15/rbac.json#L407).
The swagger spec defines the type as a string, but the API is actually returning an integer. What do we need to do to get this fixed?

[2021-08-25 08:38] ArcturusZhang commented on #14972
Hi @magodo thanks for this issue!

Releasing a new package will require the service to submit a new SDK release request, I have added the label on this issue so that the corresponding service team could take this a look.

[2021-08-25 16:57] RickWinter commented on #15188
Thank you for using Azure and the Azure SDK for Go.  At this time we do not have support for App Config in the Go SDK.  We've added this request to the backlog and will look into adding support in the future.

[2021-08-25 19:22] ealsur opened #15379 "Cosmos DB - item crud"
Add support for container item operations

[2021-08-26 08:37] adeturner opened #15384 "cannot find module providing package github.com/Azure/azure-sdk-for-go/sdk/internal/runtime"
In WSL2, I'm naively trying to install the SDK, it cant find sdk/internal/runtime package

$ go version

go version go1.16.5 linux/amd64

$ go get -u -d github.com/Azure/azure-sdk-for-go/...

go: downloading github.com/Azure/azure-sdk-for-go v56.3.0+incompatible
go: downloading github.com/Azure/azure-sdk-for-go/sdk/armcore v0.8.0
go: downloading github.com/Azure/azure-sdk-for-go/sdk/azcore v0.19.0

[2021-08-26 17:11] seankane-msft opened #15392 "[Test] Add Support for Sanitizers"
Right now there is only a URISanitizer, but the test-proxy supports many of them.

[2021-08-26 19:15] jhendrixMSFT opened #15395 "Change policy.Transporter to a func"
It's currently defined as an interface.

[2021-08-26 20:27] chlowell opened #15396 "Refactor managedIdentityClient.getMSIType calling pattern"
From https://github.com/Azure/azure-sdk-for-go/pull/15377#discussion_r696809162: `managedIdentityClient.createAuthRequest` has an error case for calls when `msiType == msiTypeUnknown`, presumably because a caller can in principle call `createAuthRequest` without first calling `getMSIType`. In practice this doesn't occur, and the case isn't meaningful because the client has a default msiType (IMDS)

[2021-08-27 14:46] #15379 closed, assigned to ealsur

[2021-08-27 17:48] chlowell opened #15403 "Expand ClientCertificateCredential tests"
- [ ] encrypted PEM
- [ ] PKCS12
   - [ ] encrypted
   - [ ] unencrypted
- [ ] SNI

[2021-08-27 17:49] chlowell opened #15404 "Support PEM certs with encrypted private keys"
`ClientCertificateCredentialOptions` carries a password but presently `ClientCertificateCredential` doesn't use it when given a PEM cert: https://github.com/Azure/azure-sdk-for-go/blob/7a0672beeb5c5d5818976c1447c84bbdf3860e3c/sdk/azidentity/client_certificate_credential.go#L175-L176

Passwords may work for PKCS12 certs but this is untested (#15403).

[2021-08-29 14:29] dmedeiros204 opened #15407 "Support tables in [LogAnalytics]"
### Feature Request

Please add support to update tables in your log-analytics workspace using the following API

https://docs.microsoft.com/en-us/rest/api/loganalytics/tables/update

[2021-08-30 02:47] 804873052 commented on #15120
Hi @hbuckle thanks for this issue!

Releasing a new package will require the service to submit a new SDK release request, I have added the label on this issue so that the corresponding service team could take this a look.
I also sent some internal emails to the contact of the corresponding service team about this.

[2021-08-30 07:44] 804873052 commented on #15087
This has been released in https://github.com/Azure/azure-sdk-for-go/releases/tag/v56.0.0

[2021-08-30 07:44] #15087 closed

[2021-08-30 15:18] jhendrixMSFT opened #15408 "Revisit grouping of in-box policy options"
Investigate if we can improve grouping of policy options into something common so that all clients automatically get all the in-box options and we don't have to duplicate them via codegen.

[2021-08-30 16:15] jhendrixMSFT commented on #5243
Closing as this has been fixed in the latest version of the SDK and `go-autorest`.

[2021-08-30 16:15] #5243 closed

[2021-08-30 17:04] RickWinter opened #15409 "Move EngSys scripts and tools into the eng folder"
There are currently yaml files and various scripts at the root of the repo.  These should be moved into the Eng folder.

All of these moves should be coordinated with mgmt sdk to avoid disruption to their process.

- [ ] Move `azure-pipelines.yml` into `eng` folder
- [ ] Move `tools` folder under `eng`
- [ ] Move all `*.sh` files to `eng` folder
- [ ] Move all `*.json` files to `eng` folder

[2021-08-31 14:52] ealsur opened #15421 "Cosmos DB - Throughput and Autoscale"
Add support for setting/getting throughput properties on dbs and containers supporting Autoscale

[2021-08-31 18:07] abelal83 commented on #15384
I'm facing this exact same issue today, various modules have this

[code]

and

[code]

[2021-08-31 18:14] jhendrixMSFT commented on #15384
@abelal83 do you see this when creating a new app, or is there more to it?  I'm guessing the latter as it works for me with a new app, but maybe I'm missing something (my repro is with Go 1.17).
[code]

[2021-08-31 18:34] #15421 closed

[2021-08-31 18:46] abelal83 commented on #15384
Yup brand new app,

[code]

I see the same result as you

[code]

However, the issue arises when I use with other imports

[code]

The error I get in VS Code is
[code]

The other 2 packages import and work just fine.

[2021-08-31 19:00] jhendrixMSFT commented on #15384
Ah I see.  We're in the middle of refactoring the `azcore` module and the SDKs (e.g. `armcosmos`) haven't caught up yet.  This "catching up" will happen this week.  In the meantime, here's what you need to do to get unblocked.

- Use `azcore@v0.16.2`
- Use `armcore@v0.8.0` in lieu of `azcore/arm` (`armcore` has been merged into `azcore/arm` starting with `v0.19.0`)
- Use `azidentity@v0.9.2`

We'll

[2021-08-31 19:54] #14214 closed

[2021-09-01 07:16] abelal83 commented on #15384
works perfectly now, thank you @jhendrixMSFT.

[2021-09-01 17:46] #15009 closed

[2021-09-01 20:33] #15201 closed

[2021-09-02 14:25] tombuildsstuff commented on #15345
/unresolve as this is still pending

[2021-09-02 14:46] jhendrixMSFT commented on #15409
Yeah `rungas.sh` can be deleted.

[2021-09-02 16:28] RickWinter opened #15447 "Import url cleanliness"
Go supports Vanity urls for mod imports.  This would enable us to do something to the tune of:
[code]

Among other repo considerations, its worth considering a cleaner import story.

[2021-09-02 21:03] jarrodd07 commented on #15295
Hey @lirenhe, should I be raising this as in issue in the azure-rest-api-specs github repo instead?

[2021-09-02 22:20] benbp commented on #15409
Looking at other repos, I realize this is not an uncommon pattern, so I don't see a need right now to delete the root swagger config for consistency reasons right now.

Sounds good. I have a PR up for step 1 at #15460.

[2021-09-03 10:05] dylanmorley opened #15475 "Support Service Bus 2021-06-01-preview"
### Service Package Request

The specification for service bus at [version 2021-06-01-preview](https://github.com/Azure/azure-rest-api-specs/tree/main/specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2021-06-01-preview) supports parameter 'trustedServiceAccessEnabled' which would enable Terraform to support a parameter, e.g. allow_trusted_microsoft_services_bypass_firewall

h