[2018-01-05 17:06] carolynvs commented on #947
To be clear, dep isn't built into the go toolchain yet. So even if a library has dep configuration files, when the consuming project doesn't use dep, running things like `go get` or `go build` won't pick up and use dep's configuration. The end-user needs to use dep as well.

[2018-01-05 17:14] joshgav commented on #944
Hi @feiskyer - I believe we don't have a method in the SDK which handles [the algorithm](https://github.com/Azure/vm-scale-sets/tree/master/preview/disk#attach-detach-rest-api-description) described in the doc you referenced. You'd have to implement that yourself at the moment by getting the VM, updating its properties, then putting it back. Something like this:

[code]

Unfortunately, we don't ye

[2018-01-05 17:27] joshgav commented on #947
awesome, thanks @carolynvs!

[2018-01-05 17:50] ritazh commented on #947
yea completely agree with @carolynvs we just need to update the readme

[2018-01-05 18:18] marstr opened #949 "Clean up GUIDs"
As covered in #947, the Satori UUID library broke underneath us.

Depending on how that is resolved (e.g. he adds a v2.0 label,) we can remove the code commited in #948.

Be careful though, as removing this code too early, or in response to an inadequate resolution by Satori could cause trouble for people installing directly, or targeting a version of `github.com/satori/go.uuid` from before the br

[2018-01-05 18:29] jhendrixMSFT commented on #949
Long-term we need to remove our dependency on this package.

[2018-01-05 19:34] carolynvs commented on #947
Let me know if I can help clear up any other confusion about how dep works. I see #948 is doing some work that sounds like its to avoid certain behaviors in dep, but I'm not clear on what?

[2018-01-05 20:56] jhendrixMSFT commented on #927
@radu-matei your understanding is correct, we just haven't yet updated our samples with this new functionality.  For completeness I would also like to point out that ```WaitForCompletion()``` is just a default implementation we provide; everything it uses is publicly exported so people can roll their own polling loop if this one doesn't meet their requirements.

[2018-01-05 21:01] vladbarosan commented on #947
@carolynvs that change you are mentioning is to help people using go get. The change was the only place where we were actually using the function with the breaking change so we switchted to another package for getting the UUID there so pretty much anyone using go get won't have problems with satori's breaking change with the go sdk.

[2018-01-05 21:56] carolynvs commented on #947
Gotcha, thanks! 👍

[2018-01-05 22:06] #947 closed

[2018-01-05 22:39] genevieve opened #950 "Using the azure-sdk-for-go to create a service principal without client id/secret"
Is there a supported way of using the azure-sdk-for-go to create a service principal without already having a client id and secret? It is possible to login with the azure cli (and going to the browser with single sign-on), but it doesn't seem this is possible with the sdk.

[2018-01-05 22:53] genevievelesperance commented on #950
It looks like it might be possible with this config: https://github.com/Azure/go-autorest/blob/cab8279ba5cd5e165c58201f798712f2ec0f49d6/autorest/adal/config.go#L47-L81

[2018-01-05 23:01] jhendrixMSFT commented on #938
Swagger bug?  The [statusMessage field](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable/2017-05-10/resources.json#L2742) is defined as an object.

[2018-01-05 23:03] jhendrixMSFT commented on #938
Here's the returned JSON in indented format.
[code]

[2018-01-05 23:21] feiskyer commented on #944
@joshgav @joshgav Thanks. Do you know when will PUT be supported?

[2018-01-05 23:37] jhendrixMSFT commented on #942
I *think* that Details should be defined as follows.
[code]
I'm working on setting up a repro to test this.

[2018-01-05 23:39] brendandburns commented on #944
@joshgav does this mean that it's not in the compute swagger spec?

[2018-01-06 00:02] jhendrixMSFT commented on #942
Changing it to map works but breaks a bunch of tests.  However changing it to be just ```*interface{}``` works as expected; this might be the way to go but I need to investigate further.

[2018-01-06 00:16] jhendrixMSFT commented on #942
Hmm looking at the [OData v4 spec](http://docs.oasis-open.org/odata/odata-json-format/v4.0/os/odata-json-format-v4.0-os.html#_Toc372793091) the Details field is supposed to be an array of JSON objects.

[2018-01-06 03:57] #941 closed

[2018-01-06 03:57] #888 closed

[2018-01-07 13:24] dominik-lekse opened #951 "[v11.2.2-beta] JSON unmarshalling error in monitor.AlertRuleResource"
While working on the pull request https://github.com/terraform-providers/terraform-provider-azurerm/pull/478, I encountered a JSON unmarshalling error when using the methods `AlertRulesClient.CreateOrUpdate` or ``AlertRulesClient.Get``. Both methods unmarshal JSON to a `monitor.AlertRuleResource` instance.

[code]

Using the method `AlertRulesClient.CreateOrUpdate` provided by `monitor.AlertRulesC

[2018-01-08 16:19] joshgav commented on #944
@brendandburns yes AFAI can tell. I believe it would be represented by an additional `put` operation in this section: https://github.com/Azure/azure-rest-api-specs/blob/9c8629c40c9a103b1a67e5d3dc99306b7fe036ea/specification/compute/resource-manager/Microsoft.Compute/stable/2017-12-01/compute.json#L3085 per the [list of fields](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.m

[2018-01-08 17:34] jhendrixMSFT commented on #927
Closing as this has been answered, please re-open if you have further questions.

[2018-01-08 17:34] #927 closed

[2018-01-08 17:36] jhendrixMSFT commented on #914
I'm going to close this as this has been answered, please re-open if you have further questions.

[2018-01-08 17:36] #914 closed

[2018-01-08 18:19] vladbarosan opened #953 "Stuttering for Container ServiceFuture in ContainerService package"
@jhendrixMSFT  after #941  I left one issue which happens in the container service .

Because there is a type `ContainerService` in the `containerservice` package it triggers stuttering on the LRU's types `ContainerServiceCreateOrUpdateFuture` and `ContainerServiceDeleteFuture` .

Was hesitant in removing it here since then on the imported package without an alias the types will be just `CreateOrU

[2018-01-08 20:48] brjohnstmsft commented on #919
@jhendrixMSFT Did your change enable Go code generation for the Azure Search data plane spec? Our data plane Swagger is not complete, so we are not ready for Go code generation yet. Please see this issue for details: https://github.com/Azure/azure-rest-api-specs/issues/1085

[2018-01-08 21:16] vladbarosan commented on #843
@marstr  ping

[2018-01-08 21:38] jhendrixMSFT commented on #460
In Go the OData parameters are treated like ordinary parameters, which is the right thing to do.

[2018-01-08 21:38] #460 closed

[2018-01-08 22:06] marstr commented on #843
The AST I'm referring to is built up here: [aliasPackage.go](https://github.com/marstr/goalias/blob/3026ca7e18e829805b990b41e4ce28c92cb80caa/model/aliasPackage.go). I've made you a contributor to the project, and am happy to work through it with you.

When the package above builds up the new types and things, it doesn't bother trying to modify the Pos fields as seen here: https://godoc.org/go/toke

[2018-01-08 22:08] jhendrixMSFT commented on #919
@brjohnstmsft Presumably this is not just for go but for all SDKs?  If so then it seems to me the swagger should never have made it to the public repo (the assumption is that swaggers in the public repo are fit for consumption).  Should we remove tags for all languages?
CC @marstr

[2018-01-08 22:11] jhendrixMSFT commented on #953
The type names would still be ```containerservice.CreateOrUpdateFuture``` yes?  Given that I think it would be ok to fix the stuttering.

[2018-01-08 22:27] vladbarosan commented on #843
@marstr thanks for the clarifications. will have a look in the following days and let you if there is anythign else.

[2018-01-08 23:33] joshgav commented on #950
related: https://github.com/Azure/azure-sdk-for-go/issues/596

@genevievelesperance you can use [Device Flow](https://tools.ietf.org/html/draft-ietf-oauth-device-flow-07) like the CLI as follows. You'll still need a client ID AFAIK but not a secret.

[code]

[2018-01-08 23:38] genevievelesperance commented on #950
That's interesting. So in order to get a client id, we would have to configure an applications client and create a new application. To configure that applications client with a token, we would still require a client id. It doesn't seem possible to use the sdk without plenty of intervention in the azure console or cli.

[2018-01-09 00:25] carlsoane commented on #804
Sorry to write a comment on a closed issue, but I went to  https://github.com/Azure/azure-sdk-for-go/wiki/Road-Map link and wasn't able to find any more information on the GA status of the SDK. Is there an update on when the SDK will be GA? Would it be correct to say that it is currently in Beta and a GA data has not been set?

Thanks,

[2018-01-09 00:27] carlsoane opened #955 "General Availability of the Azure Go SDK Revisited"
Sorry to revisit a closed issue, but I still have a question about the planned GA of the Azure Go SDK.

I went to https://github.com/Azure/azure-sdk-for-go/wiki/Road-Map link as recommended in https://github.com/Azure/azure-sdk-for-go/issues/804 but wasn't able to find any more information on the GA status of the SDK. Is there an update on when the SDK will be GA? Would it be correct to say that i

[2018-01-09 00:29] brjohnstmsft commented on #919
@jhendrixMSFT Yes, this is true for all language targets other than C#/.NET. Our Swagger specs have been around for a very long time, before much of the current processes around such specs were established.

[2018-01-09 00:31] vladbarosan commented on #950
@genevievelesperance  you can try using the Azure CLI client id" `04b07795-8ddb-461a-bbee-02f9e1bf7b46` .

I presume you have 2FA enabled. In that case, right now  you need a client id.

[2018-01-09 00:38] genevievelesperance commented on #950
Okay, sounds good. Will give that a try.

[2018-01-09 02:40] feiskyer commented on #944
@joshgav Yep, a PR (https://github.com/Azure/azure-rest-api-specs/pull/2180) is under reviewing for it.

[2018-01-09 16:42] joshgav commented on #944
thanks @feiskyer! we'll make sure that's in our next point release (cc @Azure/go-admins)

[2018-01-09 16:47] joshgav commented on #955
Hi @carlsoane - we're tracking our GA release in [the v14.0.0 milestone](https://github.com/Azure/azure-sdk-for-go/milestone/11) and currently aiming for Feb 12. We'll get the wiki updated, thank you for your patience!

[2018-01-09 17:50] jhendrixMSFT commented on #919
@brjohnstmsft Sorry I don't understand why it work work for C# but not other langues, could you please clarify?

[2018-01-09 19:11] brjohnstmsft commented on #919
@jhendrixMSFT We wrote custom C# code to cover the portions of our API that aren't included in our Swagger specs. There is no such code for any other language.

Our long term plan is:
  1. Complete our data plane Swagger specs.
  2. Upgrade to the latest AutoRest and make sure we can generate sensible code from our spec (this includes making improvements to AutoRest if necessary).
  3. Write custo

[2018-01-09 19:12] jhendrixMSFT commented on #919
@brjohnstmsft Ah ok that makes sense, I'll open a PR to remove this package from Go SDK generation with a note that this swagger is not yet ready for other languages.

[2018-01-09 19:13] brjohnstmsft commented on #919
@jhendrixMSFT Thanks!

[2018-01-09 20:05] jhendrixMSFT commented on #891
@yuwaMSFT2 Please note that we're deprecating the blob storage functionality in the storage package.  The preferred way to interact with blob storage is the new azblob package [here](https://github.com/Azure/azure-storage-blob-go).  We are also working on rolling up that package into this repo.

[2018-01-09 22:01] jhendrixMSFT commented on #889
Fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v12.2.0-beta.  Thanks for reporting this issue.

[2018-01-09 22:01] #889 closed

[2018-01-10 18:00] jhendrixMSFT commented on #902
Hello @begoldsm have you had a chance to review my assessment of the issue?

[2018-01-10 18:12] jhendrixMSFT commented on #938
@luanshixia Are you the owner of the resources swagger (I dug up your name from specs history)?  I'm trying to understand why the statusMessage field is defined as object when it's coming across the wire as a string.

[2018-01-10 18:28] jhendrixMSFT commented on #942
Indented error response for easy reading.
[code]

[2018-01-11 00:09] jhendrixMSFT commented on #951
@dominik-lekse This appears to be fixed in v12 as I can't repro this issue with it.  Is it possible for you to move to v12?  Also note that you want to be using content from under the services directory, the stuff under the arm directory has been deprecated.
https://github.com/Azure/azure-sdk-for-go/tree/master/services/monitor/mgmt/2017-05-01-preview/insights

[2018-01-11 10:49] dominik-lekse commented on #951
Hi @jhendrixMSFT, thanks for testing this for v12. I think the terraform provider will upgrade to v12 during this month so that I can test it again. Shall we keep this issue open until then?

[2018-01-11 16:19] jhendrixMSFT commented on #951
@dominik-lekse We can keep this open until you've had a chance to validate with v12 if that helps.

[2018-01-11 16:33] jhendrixMSFT commented on #926
As we cannot have the generator coalesce disparate return types into a simple boolean I'm closing this issue.

[2018-01-11 16:33] #926 closed

[2018-01-11 16:59] marstr commented on #804
To close the loop, @joshgav has answered this question in #955.

[2018-01-11 17:16] jhendrixMSFT commented on #899
This is apparently a known issue with godoc not recursively scanning for all packages, see https://github.com/golang/gddo/issues/494 for more details.

[2018-01-11 17:19] jhendrixMSFT commented on #899
For now the only option we have is to manually visit each package so it will get indexed (I did this for the advisor package, it's now indexed).

[2018-01-11 17:25] jhendrixMSFT commented on #899
I should be able to write a tool to automate this.

[2018-01-11 21:20] jhendrixMSFT commented on #875
When these are deleted we should be sure they get deleted from https://godoc.org/github.com/Azure/azure-sdk-for-go

[2018-01-11 23:34] begoldsm commented on #902
@jhendrixMSFT I both agree and disagree. For all other language parsers they can correctly turn this "string" value into an integer, which is what was asked of the client tools for this value. Changing the value in swagger would be a breaking change for all other SDKs in all other languages, which is pretty heavy. Is it difficult for the go json parser to do parseInt(<string>) or the equivalent fo

[2018-01-12 00:51] jhendrixMSFT commented on #902
@amarzavery what is your opinion here?  IMO it's unfortunate that other generators paper over such a defect; this is much more difficult to do in Go as the default unmarshaler expects the types to exactly match (emitting a custom unmarshaler would be tricky, how would we know for this case that we need to do so?).

[2018-01-12 02:39] amarzavery commented on #902
I think this is a spec bug. The node sdk also [expects a number](https://github.com/Azure/azure-sdk-for-node/blob/master/lib/services/dataLake.Store/lib/filesystem/models/aclStatus.js#L78). This will work for deserialization because the sdk is loose w.r.t type validation during deserialization (expect the server to do the right thing). However, this will not work during serialization as the type v

[2018-01-12 16:49] fearthecowboy commented on #902
:+1: for @amarzavery

**This is absolutely a spec bug**. If the content is a string, then we should absolutely not rely on lax behavior. Not all customers use AutoRest generated interfaces to talk to our services, and there is absolutely no benefit to having an incorrect OpenAPI spec and then relying on the deserializer to fudge the books.

If you want to prevent a breaking change in the other SDK

[2018-01-12 19:20] begoldsm commented on #902
@fearthecowboy @amarzavery and @jhendrixMSFT ack! You are all right, of course. I thought for a second that it might be that there was a change on the server side, and this was initially returning a number. However, looking at past recordings, it has always been returning a string (at least since August of last year for C#:  https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SDKs/DataL

[2018-01-12 19:22] begoldsm commented on #902
@amarzavery I like your idea as well. Do you have an issue tracking the additional customization for octal support? That would be ideal 🍻

[2018-01-12 19:52] vladbarosan opened #958 "Use new mongo for go driver"
As mentioned by @devigned  , the mongo driver we are using is currently unmantained : https://github.com/go-mgo/mgo/blob/v2-unstable/README.md

[2018-01-12 19:53] vladbarosan commented on #958
Marked is as for GA for visibility

[2018-01-12 20:14] jhendrixMSFT commented on #902
I've posted a PR to the specs repo, see https://github.com/Azure/azure-rest-api-specs/pull/2263.

[2018-01-12 20:48] amarzavery commented on #902
Merged!

Thanks,
Amar Zavery

________________________________
From: Joel Hendrix <notifications@github.com>
Sent: Friday, January 12, 2018 12:45:12 PM
To: Azure/azure-sdk-for-go
Cc: Amar Zavery; Mention
Subject: Re: [Azure/azure-sdk-for-go] [datalake-store-filesystem] JSON Unmarshal for ACLStatus fails (#902)

I've posted a PR to the specs repo, see Azure/azure-rest-api-specs#2263<https://na01.sa

[2018-01-13 00:22] rjtsdl opened #959 "Does function GetContainerReferenceFromSASURI really work?"
I tried the way using SA name and key, it worked. I am trying to create a `containerRef` by using `GetContainerReferenceFromSASURI`.

So far i have seen unexpected behavior.
I generate a sasuri in the format like this
`https://<storageaccountname>.blob.core.windows.net/<containername>?se=2018-12-31&sp=rwdl&sv=2017-04-17&sr=c&sig=<theSignature>`

Unexpected:
1. I tried to call `containerRef.Exists`

[2018-01-13 03:37] vladbarosan commented on #843
@marstr  to update what @marstr  updating `Positions` is not really the problem. The problem is that the golang library calls range on maps part of the AST which returns everytime in a random order.  Fix is the referenced PR

[2018-01-16 10:59] vladbarosan opened #962 "Client names are not checked for uniqueness"
Currently we cannot generate a client for `RecoveryServicesBackup` since a couple of errors show up.

[2018-01-16 11:01] vladbarosan opened #963 "generation cannot handle multiple folders after the version [impacts LUIS in Cognitive Services]"

[2018-01-16 11:23] dominik-lekse commented on #951
Hi @jhendrixMSFT, I can confirm that using the latest v12 SDK, this error is fixed. Many thanks.

[2018-01-16 17:48] vladbarosan opened #964 "Add master to Travis tests (for Go 1.10)"

[2018-01-16 17:49] vladbarosan opened #965 "support go 1.7 ?"

[2018-01-16 17:50] vladbarosan commented on #965
Part of this investigate to move dep to a binary instead of getting latest master version.

[2018-01-16 18:01] vladbarosan opened #966 "move generator CI to travis"

[2018-01-16 18:08] jhendrixMSFT commented on #951
Fantastic, thanks for letting me know.  :)

[2018-01-16 18:08] #951 closed

[2018-01-16 22:33] jhendrixMSFT commented on #959
Hello!  Are you sure your SAS query params are correct?  I tried this and it works for me using a SAS token generated via the Azure portal.

[2018-01-16 22:34] jhendrixMSFT commented on #959
Also note that we're working on a new package for blob storage, see https://github.com/azure/azure-storage-blob-go.

[2018-01-16 23:31] rjtsdl commented on #959
@jhendrixMSFT can you share the git-hash of azure-sdk-for-go you used?

[2018-01-16 23:34] jhendrixMSFT commented on #959
This was v12.2.0-beta, the hash is eae258195456be76b2ec9ad2ee2ab63cdda365d9.

[2018-01-17 06:41] feiskyer commented on #944
Update: https://github.com/Azure/azure-rest-api-specs/pull/2180 has been merged.

[2018-01-17 10:44] salmanbukhari opened #967 "Changing Azure VM Size"
I want to resize the VM. Is it possible using SDK? I tried deallocating the VM and calling CreateOrUpdate with a different size but I am getting exception

I am unable to find this anywhere in API/SDK documentation.

[2018-01-17 18:32] mcardosos opened #969 "Get rid of experimental/allApiVersions branch"
No longer experimental :D Now we have the all API versions support.
@marstr

[2018-01-17 18:43] jhendrixMSFT commented on #938
@vivsriaus Are you the owner of the resources swagger (I dug up your name from specs history)? I'm trying to understand why the statusMessage field is defined as object when it's coming across the wire as a string.

[2018-01-17 18:49] mcardosos commented on #877
There is already similar code [here](https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/820e6fb1ed79e7c39820feeed897e4a22092272e/_quickstarts/deployments.go#L93)

[2018-01-17 20:16] vivsriaus commented on #938
@jhendrixMSFT yes, this is because the statusMessage property is defined as a JToken in ARM, and it could potentially contain an ErrorMessage object (with its own "Code", "Message", "Target", "Details", "Innererror" properties)

[2018-01-18 01:26] vladbarosan commented on #962
The issue comes because client stuttering is handled separatley from enum and model types and uniqueness is handled.

[2018-01-18 01:28] vladbarosan commented on #846
the generator build fails when this happens. still another related issue came from recovery services which fail because stuttering handling is not together with the others and also not part of the assuring uniqueness. #962

[2018-01-18 01:28] #846 closed

[2018-01-18 18:02] vladbarosan commented on #967
@salmanbukhari can you please paste in a gist the code you are trying ? Also can you check if the new VM size is available in the region ?

[2018-01-18 18:16] salmanbukhari commented on #967
I deallocated the machine tried to update the node using following code

Current VM type is Standard_F1 and it is available in that US_EAST.

[2018-01-18 19:23] #843 closed

[2018-01-18 19:23] #937 closed

[2018-01-18 20:39] marstr commented on #969
Fine with me, but low pri. Costs us nothing to keep it around, but could potentially break people. :)

[2018-01-18 20:54] joshgav commented on #950
@genevievelesperance you can also use  `github.com/Azure/go-autorest/autorest/azure/auth.ClientSetup` ([docs](https://godoc.org/github.com/Azure/go-autorest/autorest/azure/auth)) wherever a BearerAuthorizer would work. That code is meant to handle resolving the location of the cached token from the CLI - it does rely on the user having logged on with the CLI at some point.

@mcardosos opened https

[2018-01-18 22:12] mcardosos commented on #829
Samples in the samples repo are running against canary and prod. However there are a couple resource providers for which we need additional whitelisting in canary.

[2018-01-18 22:38] #910 closed

[2018-01-18 22:51] joshgav commented on #739
tracking in https://github.com/Azure-Samples/azure-sdk-for-go-samples/issues/2

[2018-01-18 23:18] joshgav commented on #894
we're in fact going to track this here, so re-opening

[2018-01-18 23:22] joshgav opened #972 "Azure Web Apps support for Go"
Work has begun here: https://github.com/Azure-App-Service/go/pull/1. We're coordinating with Web Apps team on putting in production.

[2018-01-18 23:24] joshgav commented on #965
We won't officially support Go 1.7 at this time. If someone needs this please open a new issue, thanks!

[2018-01-18 23:24] #965 closed

[2018-01-18 23:51] joshgav opened #973 "Add OpenTracing sink to AppInsights for Go"
Since https://github.com/Microsoft/ApplicationInsights-Go has no automatic collectors it would likely be helpful to users to add a sink for a common open tracing protocol like [OpenTracing](http://opentracing.io/).

[2018-01-18 23:55] joshgav opened #974 "Include types and helpers for Event Grid events"
Our [specs](https://github.com/Azure/azure-rest-api-specs) include definitions of events which Event Grid will send to HTTP listeners (i.e. [webhooks](https://en.wikipedia.org/wiki/Webhook)), such as

* https://github.com/Azure/azure-rest-api-specs/blob/master/specification/eventgrid/data-plane/Microsoft.EventHub/stable/2018-01-01/EventHub.json
* https://github.com/Azure/azure-rest-api-specs/blob/

[2018-01-19 00:13] joshgav commented on #955
We're still on track with https://github.com/Azure/azure-sdk-for-go/milestone/11, so closing this now. Thanks!

[2018-01-19 00:13] #955 closed

[2018-01-19 01:10] #920 closed

[2018-01-19 01:12] vladbarosan commented on #966
Checked with Johannes. NodeJS moved to using Travis CI and they don't have any issues. Will try it out, maybe check it in as an allowed failure and see how it goes then we can move it to blocking and remove the other one.

[2018-01-19 02:05] vladbarosan commented on #972
Related PR's
- Kudu script : https://github.com/projectkudu/KuduScript/pull/90
- Kudu container: https://github.com/Azure-App-Service/kudu/pull/43
- Go container: https://github.com/Azure-App-Service/go/pull/1

[2018-01-19 02:05] vladbarosan commented on #972
To mention that:
1. After Kudu script is checked in -> we need to update the reference in the Kudu service
2. After kudu service is updated -> we need to update the version in the kudu service

[2018-01-19 17:19] jhendrixMSFT commented on #938
The problem here is that the server didn't return an object but a simple string which doesn't fit the definition.  @amarzavery do you have any thoughts on this?

[2018-01-19 18:51] vladbarosan commented on #962
@jhendrixMSFT  it seems that https://github.com/Azure/azure-rest-api-specs/pull/2208 changed the names of the client so we might not encounter the issue in the specific case of Recovery Services.

[2018-01-19 21:21] marstr opened #976 "Suggestion: Move `management` to `services/asm`"
to drive consistency of package naming, and removing noise from the top level, we could move the `management` package into `services/asm`.

[2018-01-19 21:26] jhendrixMSFT commented on #976
This is (obviously) a breaking change and would change the package name too.  While it's nice for us (the repo maintainers) I'm not convinced the annoyance to the few customers that use this is worth it.

[2018-01-19 21:41] jhendrixMSFT commented on #959
@rjtsdl Did you get this working?

[2018-01-19 22:45] rjtsdl commented on #959
@jhendrixMSFT

Didn't get time to try this yet. :(

How is the plan of having two storage repo? I guess https://github.com/azure/azure-storage-blob-go is one going forward, right?

Do you think it is time to move dependency from azure-sdk-for-go to the new repo? If the dependency only in storage.

[2018-01-20 00:27] jhendrixMSFT commented on #959
You are correct  azure-storage-blob-go is the future for the blob storage SDK (it has much better SAS support too).  If you can migrate to this new package that would be best future-proofing.

[2018-01-20 04:05] #964 closed

[2018-01-22 20:43] jhendrixMSFT commented on #962
This was introduced in https://github.com/Azure/autorest.go/pull/42.  We don't want to completely reinstate that behavior though as it introduces some poor client names.

[2018-01-23 02:17] vladbarosan opened #978 "Automatic deprecation messages"
See: https://github.com/Azure/autorest/issues/2812

[2018-01-23 16:08] meirf opened #980 "Unexpected Authorization header error"
My code does `PutBlock` followed by `PutBlockList`.

My http request for `PutBlockList` is:
[code]
(I've replaced shared key values with the count of letters and number since I wasn't sure if those need to be private.)

The error is:

**Am I correct in thinking this is not an auth issue but rather because** `x-ms-meta-x_amz_website_redirect_location: /foo/bar/-7\u00a0-` **has unicode**?

[2018-01-23 16:11] mbfrahry opened #981 "Inconsistent CosmosDB and Automation ClientWithBaseURI Initialization"
In the SDK Service Clients are fairly consistent following the pattern:

[code]

However, the CosmosDB and Automation clients have extra fields which need to be specified on the constructor to initialize the clients:

[code]

and

[code]

This is due to these fields being present on the ClientWithBaseURI. Upon further investigation these fields aren't used throughout all objects - as such we're wo

[2018-01-23 17:54] joshgav opened #982 "add support for VM Instance Metadata"
Add types and methods for querying [Instance Metadata](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service).

[2018-01-23 17:58] joshgav opened #983 "EventGrid event listener helpers"
Create types for specified [EventGrid][] events: [EventHubs][], [Resources][], [Storage][]. Also, create helper functions which users can use to transform the incoming message stream into a slice (?) of strongly-typed structs.

[EventGrid]: https://azure.microsoft.com/en-us/services/event-grid/
[EventHubs]: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/eventgrid/data-plan

[2018-01-23 19:46] joshgav opened #984 "add AMQP-based lib for Service Bus"
will depend on [vcabbage/amqp](https://github.com/vcabbage/amqp)

[2018-01-23 19:46] joshgav opened #985 "add AMQP-based lib for Event Hubs"
will depend on [vcabbage/amqp](https://github.com/vcabbage/amqp)

[2018-01-23 21:13] jhendrixMSFT commented on #980
In my reading of [RFC 822](https://tools.ietf.org/html/rfc822#section-3.1) I don't believe that Unicode characters are allowed in header values which is ultimately the root cause.  However, all headers in a request are used when calculating the [string-to-sign](https://docs.microsoft.com/en-us/rest/api/storageservices/authentication-for-the-azure-storage-services), so I suspect that the signature

[2018-01-23 21:38] sozercan opened #986 "ContainerService WindowsProfile adminPassword validation"
Getting error during adminPassword validation:
[code]

https://github.com/Azure/azure-sdk-for-go/blob/master/services/containerservice/mgmt/2017-09-30/containerservice/containerservices.go#L69
I don't believe Go supports lookaheads in regex, looks like invalid syntax

@marstr @mcardosos

[2018-01-23 22:21] genevievelesperance commented on #950
The `GetClientSetup` expects a json file be created with all of the credentials that we would hope to get after having created the first service principal for a user: https://github.com/Azure/azure-sdk-for-go/blob/c1ff18326387fa67ccc6e1b17c76e65773684227/arm/README.md#use-an-authentication-file

[2018-01-23 22:21] genevievelesperance commented on #950
Is it possible to skip the client id/client secret and still resolve the token after a user has logged in?

[2018-01-23 22:42] genevievelesperance commented on #950
Having the cli and being logged in is an acceptable requirement, our blocker is that we require the user to have a service principal in order to create a service principal with the sdk entirely.

We were looking for `az login` by the user to be all we need in order to have a go library that can create the service principal without the cli.

[2018-01-24 03:13] vladbarosan commented on #943
We decided to not pursue this for GA. With the release following GA we will have a new model which will make this not needed.

[2018-01-24 03:13] #943 closed

[2018-01-24 03:37] feiskyer commented on #944
@joshgav May I ask when will be the next release out?

[2018-01-24 17:49] #980 closed

[2018-01-24 17:52] jhendrixMSFT commented on #959
Given that this is working plus moving to the new storage is the way to go I'm going to close this.

[2018-01-24 17:52] #959 closed

[2018-01-24 18:16] vladbarosan opened #987 "Handle default values that are enums"
CS Computer Vision has enum values as default values which are not handled properly,

[2018-01-24 18:17] #987 closed

[2018-01-24 19:32] vladbarosan opened #988 "Multi status http code is not handled"
This impacts CS LUIS Programmatic

The spec here: https://github.com/Azure/azure-rest-api-specs/blob/90eb6bc7039911200f679ae7718717c2c9d69ea3/specification/cognitiveservices/data-plane/LUIS/Programmatic/stable/v2.0/LUIS-Programmatic.json#L607

The example here:. https://github.com/Azure/azure-rest-api-specs/blob/90eb6bc7039911200f679ae7718717c2c9d69ea3/specification/cognitiveservices/data-plane/LU

[2018-01-24 22:11] seyadava opened #989 "ActiveDirectoryResourceId is missing in the environment configs"
Looks like Go SDK uses ServiceManagementEndpoint parameter to refer to token audience. Other SDKs (Ruby/CLI/Python) call this parameter as ActiveDirectoryResourceId. Should we stick to the same name across different SDKs?

[2018-01-24 23:34] mcardosos opened #990 "Run CI with and without dep"
As discussed offline with @marstr , `go get` might cause problems with dependencies. So CI should run with and without `dep`. A cronjob would be healthy.

[2018-01-25 00:09] seyadava opened #991 "KeyVault service is missing in 2017-03-09 profile"
2017-03-09 profile does not have KeyVault service

[2018-01-25 00:12] jhendrixMSFT commented on #990
Can you please elaborate on the details from the offline discussion?

[2018-01-25 00:12] bganapa commented on #991
Azure stack supports the keyvault api version 2016-10-01. We need to include this SDK version part of the 2017-03-09 profile

[2018-01-25 00:16] jhendrixMSFT commented on #938
Ping @amarzavery.
@vivsriaus can you please clarify what you mean by "JToken in ARM".  The swagger, which is supposed to be the source of truth, defines this field as an object.  In this example it's clear that what was sent across the wire is not an object.

[2018-01-25 00:31] mcardosos commented on #990
OK, so what we said...
Right now, some users are not using `dep`, and instead are relying on `go get`. What `go get` does is, it pulls the specified package/repo to the `src` folder in the GOPATH. It also pulls the package dependencies. This are also downloaded in the `src` folder, not in a `vendor` folder right next to the package we gogetted.
All this dependencies are pulled from their master br

[2018-01-25 00:35] jhendrixMSFT commented on #990
I see your point, thanks for the explanation.  Can we start by adding this as a non-blocking task in CI?

[2018-01-25 00:39] vivsriaus commented on #938
@jhendrixMSFT Like I mentioned above, the statusMessage property in DeploymentOperation can either return a string (like the case above) or an [ErrorMessage](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable/2017-05-10/resources.json#L2068) object. Shouldn't autorest consider this as an object (which will then allow string

[2018-01-25 00:41] jhendrixMSFT commented on #986
It looks like this is the only service that depends on lookaheads which is good news.
There is package [regexp2](https://github.com/dlclark/regexp2) which is a port of the regex engine from .NET Core which does support lookaheads however I question taking a dependency on an entirely new regex engine to satisfy one package.  The other option would be to omit regex validation in such cases.

[2018-01-25 00:44] jhendrixMSFT commented on #938
I'm not an expert on the W3C spec but my understanding is that a JSON object is defined like [this](https://www.w3schools.com/js/js_json_objects.asp), so sending a simple string across the wire doesn't meet that definition.
CC @johanste

[2018-01-25 00:51] mcardosos commented on #958
Fixed on dev branch

[2018-01-25 00:51] #958 closed

[2018-01-25 01:12] johanste commented on #938
In swagger (and JSON schema), a `string` is not an `object`. You can mentally replace `object` with `dictionary` in most cases. It so happens to (accidentally) work in most languages simply due to strings pretty much always derive from object.

In this case, will the return type always be a string, or does it depend on the context?

[2018-01-25 01:30] jhendrixMSFT commented on #938
OK that's what I thought and is in fact how we model JSON objects in Go.
[code]
So it would seem that the service isn't honoring the contract defined in the swagger yes?

[2018-01-25 01:35] #988 closed

[2018-01-25 01:40] vivsriaus commented on #938
To answer @johanste 's question, yes, the return type depends on the context. I'll try to find a real world example where an object is returned for a DeploymentOperation

[2018-01-25 10:43] gunzip opened #992 "Cannot unmarshal string into Go struct field ManagedServiceIdentity.type of type map[string]interface {}"
I'm getting the following error using Terraform to create an App Service:

`Error making Read request on AzureRM App Service "agid-portal-test": web.AppsClient#Get: Failure responding to request: StatusCode=200 -- Original Error: Error occurred unmarshalling JSON - Error = 'json: cannot unmarshal string into Go struct field ManagedServiceIdentity.type of type map[string]interface {}' JSON
`

It lo

[2018-01-25 18:47] jhendrixMSFT commented on #992
This is due to a bug in the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/CommonDefinitions.json#L1038).  The type field is missing ```"type": "string"``` so the modeler incorrectly models this field as an object.

[2018-01-26 01:21] mcardosos opened #1000 "future.Result() is not working in some virtual machine operations"
Deallocate, Start, Restart, and PowerOff vm operations (all of them LROs), fail on `future.Result()` with ` autorest/azure: Service returned an error. Status=405 Code="" Message="The requested resource does not support http method 'GET'."`

cc @jhendrixMSFT

[2018-01-26 07:40] gunzip commented on #992
Thank you, I've filed an issue there https://github.com/Azure/azure-rest-api-specs/issues/2344

[2018-01-26 19:41] vladbarosan commented on #967
@salmanbukhari instead of defining a new vm can you do a get on the one that already exists modify that object and then call CreateOrUpdate with that one  ?

I noticed you are using an older version of the sdk. We will be be releasing our GA with the target of February. You might want to look to upgrade. if you plan to do it before GA to current release ( v12 preview) beware of the issue #1000

[2018-01-26 22:11] #963 closed

[2018-01-29 12:43] ppanyukov opened #1005 "Storage: occasional StatusCode=403"
We are seeing these errors occasionally:

[code]

We only see this when:

- we use channels to run things in parallel;
- we see this randomly sometimes.

We never seen this when things are completely serial.

I am wondering if there is some kind of race in storage SDK?  I know we had issues with SDK when we used pointeres (e.g. `*storage.Blob`) -- there definitely seems to be some shared state in

[2018-01-29 18:01] jhendrixMSFT commented on #938
@vivsriaus Any update?

[2018-01-29 18:08] vivsriaus commented on #938
@jhendrixMSFT I'll talk to our team and see if we can make a fix to always return either a string or an object for DeploymentOperationProperties.StatusMessage. Like I mentioned, currently, the statusMessage type returned depends on the context. I'm not sure if this is a common scenario in other object models, but it looks like autorest currently doesn't have a way to work with both types (string a

[2018-01-29 18:12] jhendrixMSFT commented on #938
This is not an autorest issue.  What you're asking for cannot be modeled in swagger as string and object are fundamentally different types.

[2018-01-29 18:19] jhendrixMSFT commented on #1005
It is likely a race condition in the SDK.  What API(s) are you using in parallel?  I would also like to point out that we're deprecating the blob storage functionality in this package, it will be replaced with the azblob package here https://github.com/azure/azure-storage-blob-go.

[2018-01-29 18:53] vladbarosan opened #1006 "Use binary version of dep"
Per @marstr  and @jhendrixMSFT  opening this to track dep GA to see if we want to
get dep from source.

From my side strongly opposing on taking a dependency on a random version that could break anytime because of bugs or because new behavior.

[2018-01-29 18:54] #966 closed

[2018-01-29 18:59] vladbarosan commented on #881
The previous mentioned PR was merged and will be available in the next SDK release. Also we decided not to follow up on including a parameter in the constructor ( See #943 )

[2018-01-29 18:59] #881 closed

[2018-01-29 19:20] meirf opened #1007 "azure blob etag unqouted"
Using `curl` against http://MY_ACCOUNT.blob.core.cloudapi.de/MY_CONTAINER/MY_PATH gives  header:

I thought [Etags need to be quoted][1].

  [1]: https://stackoverflow.com/questions/6719214/syntax-for-etag

[2018-01-29 23:04] jhendrixMSFT commented on #1007
@seguler any ideas?

[2018-01-29 23:42] vladbarosan commented on #989
Hi @seyadava a couple of things:
1. Changing this would be a big breaking change.
2. this endpoint should be use mostly for managing classic ASM resources ( cloud services ). Otherwise for ARM resources the endpoint would be `ResourceManagerEndpoint`.
3. The change to the name `ActiveDidrectoryResourceId` would be much more misleading than the current `ServiceManagementEndpoint`.
4. .NET is caliin

[2018-01-30 00:24] jhendrixMSFT commented on #986
This has been fixed in the generator and will show up in the v14 release.

[2018-01-30 12:18] ppanyukov commented on #1005
I think in this case we use these calls in parallel.

[code]

To be fair, we see these failures so rarely that we can live with them.

Don't know if it's worth fixing in this package since you are moving to new implementation?

@jhendrixMSFT I saw previous attempts at splitting out storage part into separate repo, how real is the deprecation this time?  Also haven't seen anything mentioned in the

[2018-01-30 12:48] djsly commented on #944
@joshgav any chance an ETA for the next release could be provided? We are waiting the VMSS support in k8s and the dead line is approaching.

From what I can get here, @feiskyer  seems to have all he needs to complete the missing piece, an official azure-sdk-fo-go release is what's left to get the ball rolling again.

Thanks!

CC: @brendandburns

[2018-01-30 17:51] seyadava commented on #989
+Bala

From: Vlad Barosan [mailto:notifications@github.com]
Sent: Monday, January 29, 2018 3:43 PM
To: Azure/azure-sdk-for-go <azure-sdk-for-go@noreply.github.com>
Cc: Ali Nikravesh <seyadava@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-sdk-for-go] ActiveDirectoryResourceId is missing in the environment configs (#989)

Hi @seyadava<https://na01.safelinks.protectio

[2018-01-30 21:24] dchw opened #1020 "Table Storage API (CosmosDB) Query Entities not working with OData filter parameter"
I am trying to query Cosmos DB (Table Storage api) via the storage api package. Every time I provide a filter parameter; I get the following response:

Here is how I am setting up the client:
[code]

Here is my query code. *I know the entities exist, and that I can at least get something, because when I make a query without a filter parameter, I can see the entity I want.* If I even reuse the valu

[2018-01-30 21:51] meirf commented on #1007
any chance this is a bug and not just a question?
looks like other folks are getting theirs quoted - https://stackoverflow.com/a/48515021/1168364

[2018-01-30 21:54] jhendrixMSFT commented on #1007
If it is a bug it's not with the SDK but with the service itself (i.e. the service will need to be fixed).

[2018-01-30 21:55] meirf commented on #1007
That's fair. (Sorry, forgot which context this question was in.)

[2018-01-31 18:41] vladbarosan opened #1023 "Client avoidance of duplicate names produces duplicate files"
After this PR : https://github.com/Azure/autorest.go/commit/3458098afd88db38c357921cbd964aa72685a61d

there is an unexpected behavior in the generation for example: ` azure-rest-api-specs\specification\automation `

It results in creating duplicate files with the same content the only difference is that one has the extra `Group` suffix.  ( **runbookdraft.go**, **runbookdraftgroup.go** )

As a side

[2018-01-31 18:57] jhendrixMSFT commented on #1023
Hmm it appears this is actually due to the following commit.
https://github.com/Azure/azure-rest-api-specs/commit/635c47960acb6787ebf2c4e1be6f8adc1a8d4256#diff-2849af3f8c6c51873d5b7924822a5074
When I remove the batch section the bug goes away.

[2018-01-31 21:22] joshgav commented on #944
@jhendrixMSFT is looking into this, we hope to get it in the next point release.

[2018-01-31 22:04] jhendrixMSFT commented on #978
The implementation in the modeler is still in progress, so for now I don't think there's much urgency until the design has finalized and been finished in the modeler.

[2018-02-01 02:16] vladbarosan commented on #989
@seyadava not sure what you mean by pasting that email here

[2018-02-01 03:10] mcardosos commented on #1000
Response looks like this...
Body:
[code]
Headers:
[code]

[2018-02-01 03:13] mcardosos commented on #1000
Added stuff @jhendrixMSFT

[2018-02-01 17:50] jhendrixMSFT commented on #1000
What about the response body before the GET is invoked?  If you look at the implementation for [Result()](https://github.com/Azure/azure-sdk-for-go/blob/master/services/compute/mgmt/2017-03-30/compute/models.go#L6283) it will change to GET based on the polling method.

[2018-02-01 18:36] #1023 closed

[2018-02-02 17:23] #939 closed

[2018-02-02 21:26] petitout opened #1040 "Storage container doesn't include access"
Hi,
the API to get storage container properties returns the container access (private, blob, container) : https://docs.microsoft.com/en-us/rest/api/storageservices/get-container-properties

However the sdk doesn't return this information : https://github.com/Azure/azure-sdk-for-go/blob/a75e7321dcb5045edbbdba24b594d8f3f1b31352/storage/container.go#L97

Is it possible to add the access in the Contai

[2018-02-02 21:47] marstr commented on #991
@bganapa, ARM or data-plane?

[2018-02-02 22:01] bganapa commented on #991
Thanks Martin for looking in to this . We need both, we support the version  2016-10-01 for both.

[2018-02-02 22:18] marstr commented on #875
Done in Dev.

[2018-02-02 22:18] #875 closed

[2018-02-03 00:12] jhendrixMSFT opened #1044 "Make the profile builder easier to use and document how to use it"
We need a push-button solution for the profile builder, perhaps a script, that makes it super easy to use.  Also document the different ways we invoke it (e.g. example command lines).

[2018-02-03 00:16] jhendrixMSFT commented on #944
This is now available in https://github.com/Azure/azure-sdk-for-go/releases/tag/v12.4.0-beta.

[2018-02-03 00:16] #944 closed

[2018-02-03 00:48] feiskyer commented on #944
@jhendrixMSFT awesome thanks

[2018-02-05 12:30] vadmeste opened #1049 "storage API: Account struct needs to contain the resource group name"
`AccountsClient.List()` is able to list all storage accounts under a given subscription. However, it is not possible to retrieve the resource group associated to a storage account. The resource group name is needed to call other APIs such as `AccountsClient.ListKeys(resourceGroupName string, accountName string)`

or am I missing something ?

[2018-02-05 17:07] marstr commented on #1044
Last week I was reading an [old blog post about the `generate` command](https://blog.golang.org/generate). How would you feel, @jhendrixMSFT, about me adding files into the `profiles` directory so that keeping the profiles up-to-date is as easy as running `go generate`?

[2018-02-05 17:13] jhendrixMSFT commented on #1044
I like it.  Presumably we can add something top-level so we only have to invoke it once and it spews out all the profiles?

[2018-02-05 17:13] marstr commented on #1044
Exactly :)

[2018-02-05 17:25] dak52 opened #1050 "'json: cannot unmarshal number into Go struct field UsageSample.quantity of type map[string]interface {}'"
https://github.com/Azure/azure-sdk-for-go/blob/f111fc2fa3861c5fdced76cae4c9c71821969577/arm/commerce/models.go#L342

[2018-02-05 17:26] dak52 commented on #1050
I believe this should be a float...

[2018-02-06 00:33] mcardosos commented on #1000
okok, when sending the deallocation, I get this response...
[code]
When polling, I get a response like this...
[code]

[2018-02-06 17:41] jhendrixMSFT commented on #1000
@amarzavery What is the correct was to determine whether or not we need to perform a final GET to retrieve the result of an async operation?  Originally we predicated this based on the polling method, i.e. if the method is Location (returns Location header) then the final response will contain the value, else if it's AsyncOperation (returns Azure-AsyncOperation header) then perform a GET.  In this

[2018-02-06 18:42] vladbarosan opened #1052 "Run nightly build on latest autorest.go breaking and latest rest api specs master"
Add functionality to regen all shipped packages with latest changes to autorest.go

[2018-02-06 18:44] vladbarosan opened #1053 "Generate sdk for latest branch with latest changes from azure rest-specs-api"
stable branch of  autorest.go and stable branch of specs

[2018-02-06 20:09] vladbarosan commented on #1052
generating and running build and vet is enough for the scope of this.

We can also generate code on a breaking branch in the sdk, ( no approved PR's or anything  just have the branch updated daily ).

[2018-02-06 20:11] vladbarosan commented on #1053
to decide
 - PR for each spec change or nightly
 - automatic merge into nightly branch or not ( to begin with )  (correlates with the first point)

[2018-02-07 01:16] #877 closed

[2018-02-07 21:50] joshgav commented on #989
@seyadava @vladbarosan  we agreed offline that we wouldn't remove the `ServiceManagementEndpoint` field but could still consider adding an `ActiveDirectoryResourceID` field.

Still, IMHO ActiveDirectoryResourceID is a generic name for a scope/resource (token audience) and @seyadava a more specific name should be used in other SDKs rather than adding a generic name here.

[2018-02-07 21:54] joshgav commented on #976
@jhendrixMSFT I think the top-level "management" and "storage" packages are misleading and they'd be more discoverable and consistent in the "services" directory.

We should also deprecate this library now (I'll open another issue) and I think it would make sense to deprecate and move at the same time.

[2018-02-07 22:27] vladbarosan opened #1057 "Get rid of the noisy PR's"
there are around 40 PR's dangling on our repo that are automatically generated. What is the status of these.

@marstr either merge those or close them please.

[2018-02-07 22:41] joshgav opened #1058 "deprecate legacy '/management' package"
The Azure Service Management API client (at `/management`) should be deprecated. Users should instead use one of the clients under `/services`. Thanks!

Related: #976

[2018-02-07 22:44] kirankumarbv opened #1059 "Does azure go sdk provide a boolean value indicating whether a DNS zone is private or public"
Hi,

I am trying to mimic some functionality in our application that currently uses aws route 53 feature. In particular I am interested to know if there is anything similar in azure go sdk to the below aws struct.

https://docs.aws.amazon.com/sdk-for-go/api/service/route53/#HostedZoneConfig

In the HostedZoneConfig struct above there is a boolean called PrivateZone which indicates whether the give

[2018-02-08 04:24] marstr opened #1060 "profileBuilder can't bind viper to string cobra arguments"
Quite embarrassingly, and for reasons that are completely unclear to me, I cannot get `github.com/spf13/viper` to bind to `github.com/spf13/cobra` `string` flags. `bool` flags seem to be working fine... for now I've worked around it, so this is a low-pri issue.

[2018-02-08 17:25] jhendrixMSFT commented on #1058
While I agree with the sentiment we did this [before](https://github.com/Azure/azure-sdk-for-go/commit/e1858f239d05a88aa4e1a6981c8f040c238ec6e8#diff-57d4c2c33fbc5543ebc2e6876898266a) and received some flames for it so we ended up reverting it.

[2018-02-08 17:28] jhendrixMSFT commented on #1053
For latest branch let's start with a 24 hour cadence.  Set up a cron job to sync latest specs, generate SDK and profiles, validate, and commit.  Note that as part of this automation we must include the commit hash of the specs repo and the generator version.

[2018-02-08 17:34] jhendrixMSFT opened #1061 "Create changes report generation tool for commits"
For an SDK commit we need a tool that will report on the changes introduced.

- APIs added
- Any breaking changes introduced

The tool should generate a categorized (and sorted!) report in either markdown or HTML.  It should also report an exit code that can be used in automation to determine if breaking changes were introduced.

[2018-02-08 17:36] jhendrixMSFT opened #1062 "Daily updates to SDK in master excluding packages with breaking changes"
Create a task that will update the SDK in master on a daily cadence.  Any packages that include breaking changes will be excluded.

[2018-02-08 17:36] jhendrixMSFT opened #1063 "Monthly updates to SDK in master"
Create a task that updates the SDK on a monthly cadence; this update will include all breaking changes.

[2018-02-08 17:40] jhendrixMSFT commented on #1057
I do see the value in having these PRs as it's convenient for the reviewer to understand how a specs change will affect the SDK.  However we need to ensure that for now these PRs do not get merged as it would interfere with our current plan of automated SDK updates.  If we want to continue to create these PRs then the tool that creates them should close them and delete the branch once the specs PR

[2018-02-08 17:42] jhendrixMSFT opened #1064 "Document Go SDK's Swagger -> SDK story"
Right now there are a bunch of discrete steps that are performed manually.

- Sync latest specs repo
- Run generation script
- Run profile builder once per profile

We need some kind of wrapper that handles the process end-to-end in one easy command.

[2018-02-08 17:58] mcardosos commented on #739
Fixed on https://github.com/Azure-Samples/azure-sdk-for-go-samples/pull/89

[2018-02-08 17:58] #739 closed

[2018-02-08 18:35] joshgav opened #1065 "coverage of web apps Kudu operations"
@tombuildsstuff informed us yesterday that some operations needed for setting up a web app come from [Kudu](https://github.com/projectkudu/kudu), specifically configuring source repos for automated deployments.

Let's figure out how to include Kudu operations in our SDK.

refs:
* https://docs.microsoft.com/en-us/rest/api/appservice/webapps
* https://github.com/projectkudu/kudu/wiki/REST-API

[2018-02-08 21:59] vladbarosan opened #1066 "Properly generate latest profile"
Fix remaining from https://github.com/Azure/azure-sdk-for-go/pull/1054

Currently the latest profile is not generated respecting the stable/preview folder stucture of the rest specs api.

[2018-02-08 23:05] marstr commented on #1057
I'll close out the existing ones, so that they don't interfere with the v14 release.

However, the idea from me, @salameer, and @lmazuel and was that we would use these PRs as the mechanism to commit changes to `master` ("fast-lane") or now the new "slow-lane" concept for Swagger-inspired breaking changes. These PRs would let us sort them, update our [CHANGELOG.md](https://github.com/Azure/azure-s

[2018-02-08 23:13] jhendrixMSFT commented on #1057
@marstr I think you mean committing them to the latest branch which is the fast lane, yes?

[2018-02-09 00:28] marstr commented on #1057
@jhendrixMSFT Errr, sorry I might be misusing the "fast-lane" and "slow-lane" terminology. Even though I'm a native-speaker, I'm bad at English idioms. I think we're on the same page here, but let me confirm by breaking it down a little more:

My position is that non-breaking changes like new API Versions, new services, and tweaks to Swaggers, are all merged to `master` with an official release ta

[2018-02-09 02:02] vladbarosan commented on #1057
@marstr i think on that we agree, my understanding of what @jhendrixMSFT is referring is what we discussed on Tuesday that for non-breaking changes to not merge automatically to `master` to begin with. first to test it for a while in some other branch.

[2018-02-09 13:45] glenjamin commented on #888
Is there a tracking issue for this feature in whatever other repository it's being tracked in now?

[2018-02-09 22:41] mcardosos opened #1072 "Is it possible to write my own poll mechanism?"
For long running operations.
cc @jhendrixMSFT

[2018-02-09 22:43] mcardosos commented on #1072
Related to https://github.com/Azure/azure-rest-api-specs/issues/1347

[2018-02-09 22:52] mcardosos commented on #1072
Futures have a `Response()` method, so from there, it should be easy to write a poller by hand in case it was needed.

[2018-02-09 22:52] #1072 closed

[2018-02-12 01:32] joshgav opened #1076 "document how to migrate from `arm/` to `services/`"
In a wiki doc:

* history of the `arm/` path and how it abstracted versions
* how to find the last version represented by the `arm/` path
* exceptions and what to do
* perhaps mention profiles but don't use them for now

[2018-02-12 18:55] kirankumarbv commented on #1059
It would be great if I could get any update on this? This is kind of a blocker for us.

[2018-02-12 19:15] vladbarosan opened #1077 "Support non-root discriminators"
Discriminators might not start at the root of the composition tree ( see https://github.com/Azure/azure-rest-api-specs/blob/master/specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2017-02-28-preview/timeseriesinsights.json )

[2018-02-12 22:18] joshgav commented on #1059
It looks like the [Zone](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/dns/resource-manager/Microsoft.Network/stable/2017-09-01/dns.json#L1183) and [ZoneProperties](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/dns/resource-manager/Microsoft.Network/stable/2017-09-01/dns.json#L1158) specs don't provide such an attribute, nor do I see it in the [D

[2018-02-12 23:54] ultimateboy opened #1082 "Tag and release a non -beta"
As this has gone GA, we should tag and release the first non -beta release.

[2018-02-13 00:28] #991 closed

[2018-02-13 00:28] #1044 closed

[2018-02-13 01:25] #976 closed

[2018-02-13 01:27] #671 closed

[2018-02-13 01:27] #857 closed

[2018-02-13 01:27] #891 closed

[2018-02-13 01:27] #897 closed

[2018-02-13 01:27] #902 closed

[2018-02-13 01:27] #905 closed

[2018-02-13 01:27] #917 closed

[2018-02-13 01:27] #934 closed

[2018-02-13 01:27] #942 closed

[2018-02-13 01:27] #953 closed

[2018-02-13 01:27] #962 closed

[2018-02-13 01:27] #978 closed

[2018-02-13 01:27] #986 closed

[2018-02-13 01:27] #1000 closed

[2018-02-13 01:39] vladbarosan commented on #1082
Hi @ultimateboy , we created it here: https://github.com/Azure/azure-sdk-for-go/releases/tag/v14.0.0 . We will update the release notes soon.

[2018-02-13 01:39] #1082 closed

[2018-02-13 03:17] jhendrixMSFT commented on #891
Fixed in v14.0.0.

[2018-02-13 03:18] jhendrixMSFT commented on #905
Fixed in v14.0.0.

[2018-02-13 03:18] jhendrixMSFT commented on #942
Fixed in v14.0.0.

[2018-02-13 03:19] jhendrixMSFT commented on #934
Fixed in v14.0.0.

[2018-02-13 03:20] jhendrixMSFT commented on #902
Fixed in v14.0.0.

[2018-02-13 03:20] jhendrixMSFT commented on #986
Fixed in v14.0.0.

[2018-02-13 17:30] jhendrixMSFT commented on #938
This should be fixed in v14.0.0.  The statusMessage field is now defined as ```interface{}``` so you will need to perform type assertion to determine if it's a string or JSON object.

[2018-02-13 17:30] #938 closed

[2018-02-13 17:36] jhendrixMSFT commented on #1050
The [Quantity field](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/commerce/resource-manager/Microsoft.Commerce/preview/2015-06-01-preview/commerce.json#L182) is missing a type specifier which means it's a wildcard type.  The Go generator didn't handle this properly in the past, it has been fixed in v14.0.0 (the field is now an interface).  I will follow up with the spec

[2018-02-13 17:43] amarzavery commented on #1050
Can you provide a snapshot of the response body? I would like to see how the quantity property looks like.

[2018-02-13 17:46] amarzavery commented on #1050
not required, i found an example from this doc https://msdn.microsoft.com/en-us/library/azure/mt219001.aspx

[2018-02-13 18:33] marstr commented on #1066
To elaborate, in order to fix this, I'm writing two command-line utilities:

1. A tool that inspects the specs repository, to find all "preview" and "stable" README and their tags.
1. A tool that determines the Go package names from a list of Azure REST API Spec READMEs and tags.

This modular approach will still sit behind `go generate` so no extra complexity should be exposed to the end users. H

[2018-02-13 18:35] kirankumarbv commented on #1076
Hi,

It would be helpful if there is some pointers on where the examples went? We were referencing **DNS** examples under arm/ till yesterday and now unable to find it.

[2018-02-13 18:45] vladbarosan commented on #1066
@marstr I think both of does are being done in the generator, you can pull them from there.

[2018-02-13 21:03] joshgav opened #1085 "remove Search data plane libs"
Azure Search data plane libs were included in 14.0.0 but they don't yet work. Can we remove them as soon as possible so no one tries to use them? Thanks!

cc @brjohnstmsft

[2018-02-13 21:07] joshgav commented on #1076
Hi @kirankumarbv - Samples are now at https://github.com/Azure-Samples/azure-sdk-for-go-samples, and in fact I'm responsible for porting the DNS sample :) in https://github.com/Azure-Samples/azure-sdk-for-go-samples/issues/87.

In the meantime you can go back to the last commit which included the `arm/` folder: https://github.com/Azure/azure-sdk-for-go/tree/21b68149ccf7c16b3f028bb4c7fd0ab458fe308f

[2018-02-13 22:04] jhendrixMSFT commented on #1050
Spec has been updated in https://github.com/Azure/azure-rest-api-specs/pull/2489.

[2018-02-13 22:30] kirankumarbv commented on #1076
Thanks a lot.

As soon as I commented here, I realized I could do that and have been using the example from the older version. Thanks.

[2018-02-13 23:04] jhendrixMSFT commented on #1085
Fixed in v14.0.1.

[2018-02-13 23:04] #1085 closed

[2018-02-13 23:11] marstr commented on #1066
I'll make sure to checkout the generator, to make sure I'm not duplicating any code.

[2018-02-14 00:19] krancour opened #1089 "Some management APIs lack ability to check server name availability"
The management APIs for some services (for instance, Postgres and MySQL) expose functions for checking the availability of server names (which must be globally unique).

Other management APIs (for instance, SQL or Redis) do _not_ expose this.

I'm pretty sure this is probably a function of the swagger specs for those services, but maybe this is a good place to start the conversation? I assume this

[2018-02-15 07:40] sepiroth887 commented on #950
bump. Interested to use az login context as well but the example above isn't working :(

[2018-02-15 22:24] jiany88 opened #1094 "Azure go sdk import path changes"
I noticed that Azure go sdk has been replacing the import path from "arm" to "services" recently, since our existing codes are not ready to switch to "services" yet. Is there any alternative for getting the old SDK with arm in the import path?

GO_DEPENDENCY_LIST      :=     github.com/Azure/azure-sdk-for-go/arm/compute \
                                github.com/Azure/azure-sdk-for-go/arm/networ

[2018-02-15 22:49] marstr commented on #1094
If you use [dep](https://github.com/golang/dep), or another package management tool, you can lock yourself to any version of the Azure-SDK-for-Go `v12` or before. That should allow you to use the `arm` folder until you're ready to adopt the new multi-api version paradigm.

[2018-02-15 22:49] #1094 closed

[2018-02-15 22:52] #1057 closed

[2018-02-16 00:11] kirankumarbv opened #1096 "Latest SDK version tracking is confusing and cumbersome"
Hi,

Earlier, I used to import compute, network etc in my files in a simplistic manner like show below

github.com/Azure/azure-sdk-for-go/arm/network
github.com/Azure/azure-sdk-for-go/arm/dns

Now with the latest move from arm/ to services/, Everytime there is a versioning change, I have to change all my files which import those services as the version number is not same for different services. As

[2018-02-16 00:44] marstr commented on #1096
### Short Answer

The old behavior can be achieved by taking a dependency on the `latest` profile. Your imports would become:

[code]

### Long Answer

**We do not recommend development without tying yourself to an API Version**. Between API Versions, services teams have no restrictions on the changes they make. Further more, **we make no guarantee that the `latest` profile will not have breaking

[2018-02-16 00:46] #1096 closed

[2018-02-16 00:58] vladbarosan commented on #950
@genevieve @sepiroth887 you can have a look at :
1. https://github.com/Azure/go-autorest/blob/master/autorest/azure/cli/token.go  and at
https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/helpers/authentication/config.

Note that the access token will expire in 1 hour. To refresh the go app ( or something ) will need to call
"az account get-access-token" in a sub

[2018-02-16 21:32] joshgav commented on #1059
Followed up with @kirankumarbv offline, this feature is in private preview so please reach out if you need it, thanks!

[2018-02-16 21:32] #1059 closed

[2018-02-16 22:55] joshgav commented on #1096
@kirankumarbv thank you for the feedback. I'm sorry for the additional step now required; we're working to make this easier in the future, stay tuned. Our previous behavior of only supporting the latest API versions failed to meet the needs of users who needed to use a specific version. In the meantime, you can move to the `latest` profile as @marstr recommended and gradually select a specific ver

[2018-02-16 23:03] kirankumarbv commented on #1096
@joshgav Thanks for this update.
 Is there a recommended version for each resource listed somewhere? One that is most stable or something along those lines?

[2018-02-19 19:09] vladbarosan commented on #950
@sepiroth887 , @genevieve will be closing this please reopen if there is anything else

[2018-02-19 19:09] #950 closed

[2018-02-19 22:24] gunzip commented on #992
is there any way to monkey patch the specs in this repo ? it looks like the issue won't be fixed son in the specs and this prevents deploying app services that uses managed service identity

[2018-02-20 10:00] Ycallaer opened #1099 "Authenticate and using 2017-11-01-preview/subscription"
Hi all,
Ok first off I am rather new to the Golang so I might misinterpreted something in the documentation, but I need some help.
I want to use Golang to do some actions on azure subscriptions.
I have used the following imports

`import (
"fmt"
"os"
"github.com/Azure/azure-sdk-for-go/profiles/latest/resources/mgmt/resources"
"github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2017-11-01

[2018-02-20 11:10] pixelicous commented on #748
@jhendrixMSFT @tombuildsstuff  i am still seeing this issue when trying to update an appservice, exactly like tom showed above!

[2018-02-20 12:50] Ycallaer commented on #1099
Ok found the solution after going in the source code
Seems there is an other way to authenticate by using the "github.com/Azure/go-autorest/autorest/azure/auth"

[2018-02-20 12:50] #1099 closed

[2018-02-20 15:53] jhendrixMSFT commented on #992
How are you consuming the SDK?  If you're checking in a vendored copy it might be easiest to change the type from map to string.  Also, if you are able to move to v14 this has been somewhat fixed in that version as the definition of this field has changed to the empty interface which shouldn't cause any unmarshaling failures.

[2018-02-20 16:03] gunzip commented on #992
Thank you, I'm running it though Terraform -> [azurerm provider](https://www.terraform.io/docs/providers/azurerm/). Maybe they should update as well.

[2018-02-21 00:15] marstr opened #1101 "Make profileBuilder work in swagger->sdk environment"
At the moment the following function assumes that Azure SDK for Go is located relative to the GOPATH environment:

https://github.com/Azure/azure-sdk-for-go/blob/1e334c402ea1460704b0263e5d188f28ad946ce1/tools/profileBuilder/model/defaults.go#L26

There are a few problems with doing it that way.
1. It will be increasingly common to use Go with an implicit value of GOPATH. If it is not set we should

[2018-02-21 00:17] marstr commented on #1101
Further problematic locations:
https://github.com/Azure/azure-sdk-for-go/blob/1e334c402ea1460704b0263e5d188f28ad946ce1/tools/profileBuilder/model/list.go#L48

[2018-02-21 16:16] lawrencegripper opened #1108 "Move from Glide to Dep: dep ensure -add fails"
Currently docs suggest the following method to import the SDK with `dep` however this fails with the latest version of dep

[code]

I created a new package with a `main.go` then ran `dep init` then tried to import the sdk:

[code]

It seems that adding a sub-directory succeeds.

[code]

This creates a gopkg.lock like so

[code]

I can then go into my go code and start using it, at which point the

[2018-02-22 16:52] jhendrixMSFT commented on #1089
@joshgav could you please route this to the correct service owners?

[2018-02-22 18:30] kirankumarbv opened #1131 "Sending bad credentials returns new Client instead of nil"
Hi,

I have negative tests that tries to get a Client using bad credential ( bad subscription id, bad tenant id etc). All of these calls return a nil Client because the credentials are bad/invalid.
However when I call the below methods, I do not get a nil client.

DNSRrsClient = dns.NewRecordSetsClient(creds.SubscriptionId)
DNSRrsClient.Authorizer = autorest.NewBearerAuthorizer(spToken)

The value

[2018-02-22 23:14] vladbarosan opened #1136 "Handle preview specs properly"
Right now in the https://github.com/Azure/azure-rest-api-specs specs go in 2 folders:
 - **stable** - spec is ready to be consumed and it is not expecting breaking changes.
 - **preview** - spec is ready to be consumed but breaking changes are acceptable and expected.

To handle this, for API version which are in the preview folder ( regardless if the api version is preview or not) we will put the

[2018-02-22 23:17] vladbarosan commented on #1136
@jhendrixMSFT , @joshgav here is the issue for handling previews.

[2018-02-24 00:10] pussinboots opened #1150 "Error json parsing of RunCommandResultProperties.output"
Hi,

i perform the RunCommand function with the following RunCommandInput

[code]

And i get the following parsing error.
Original Error: Error occurred unmarshalling JSON - Error = 'json: cannot unmarshal array into Go struct field RunCommandResultProperties.output of type map[string]interface {}' JSON = '{
  "startTime": "2018-02-23T23:37:09.9890716+00:00",
  "endTime": "2018-02-23T23:37:49.2150

[2018-02-24 19:15] ncw commented on #808
There still doesn't seem to be a way to set blob level tiering in either this library or [Azure/azure-storage-blob-go](https://github.com/Azure/azure-storage-blob-go) (see https://github.com/Azure/azure-storage-blob-go/issues/1)

Will it be added to this library?

Shall I send a PR?

[2018-02-26 17:26] ncw commented on #808
@jhendrixMSFT maybe I should swap to using the azblob package... Is it ready for production?

[2018-02-26 17:35] jhendrixMSFT commented on #1131
In which packages do you get a nil client?  AFAIK all of our generated code returns the client by value so it can never be nil.

[2018-02-26 18:10] kirankumarbv commented on #1131
I apologize. We were using return by pointer. I got it confused with the sdk's behaviour.
 In all other cases, we were validating the client using the list method. If list fails, we would return nil. However in case of DNS list requires lot of arguments, so we were not validating it. Hence since there was no validation, there was no error within our method and therefore returning the client as is.

[2018-02-26 18:13] seguler commented on #808
We are working on this feature and will publish as part of the azblob package. We could normally accept PR, but in this case we generate the APIs from the Swagger spec... So we'll update the swagger spec first, generate the protocol layer and then add the support which makes it hard for us to accept PRs on service features.

[2018-02-26 18:18] jhendrixMSFT commented on #1131
No worries!  I think there might be an easier way to verify the credentials.  After you create the service principal token you can call Refresh() on it and check for a non-nil error.  Something like this.
[code]
This used to hang and eventually fail however it should work now (you should get an adal.TokenRefreshError type back).  If you find bugs using this approach please open an issue in the [go

[2018-02-26 18:19] kirankumarbv commented on #1131
Thanks a lot. I will try that and open any issue if I find any.

[2018-02-26 18:19] #1131 closed

[2018-02-27 09:53] lawrencegripper opened #1159 "Azure Batch: "Consumes" ignored when generating go code. Service calls fail"
I'm currently working with the azure batch provider. The API requires a `content-type` of `application/json; odata=minimalmetadata` as defined [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/batch/data-plane/Microsoft.Batch/stable/2017-09-01.6.0/BatchService.json#L16) via `consumes` but the generated go code [here](https://github.com/Azure/azure-sdk-for-go/blob/maste

[2018-02-27 21:52] kirankumarbv opened #1161 "TTL and value for CNAME record does not get updated while creating a DNS zone record set"
Hi,

I referenced one of the DNS examples to create a CNAME record using SDK. It used to work perfectly in the pre 14 versions. But after the recent SDK change, I am hitting an error where the record created in a hosted zone does not have TTL or value information even though I send it through my CreateOrUpdate parameter.
Below is the snippet I use to create the record.

`cnameRecordParams := &dns.

[2018-02-28 17:22] marstr commented on #1058
Done.

[2018-02-28 17:22] #1058 closed

[2018-02-28 17:47] marstr commented on #1062
For this and the [monthly cadence of the same issue](#1063), we've agreed to use the PRs that are being automatically generated by the Swagger -> SDK bot. Each of the PRs is targeting the `latest` branch, and should be merged in as a soon as the original PR in the Specs repository has been merged into `master`. Anything that hasn't caused a breaking change should get cherry-picked and merged into

[2018-02-28 17:48] marstr commented on #1063
Closing as a duplicate of the conversation in #1062.

[2018-02-28 17:48] #1063 closed

[2018-02-28 20:59] joshgav commented on #1065
Following conversations with @davidebbo we will not include Kudu operations in a public SDK and will instead seek equivalent Azure RM operations. Please open issues here or in [the samples repo](https://github.com/Azure-Samples/azure-sdk-for-go-samples) if you need help figuring out how to do something. Thanks.

[2018-02-28 23:44] jhendrixMSFT opened #1176 "Push-button SDK generation"
Right now there are a bunch of discrete steps that are performed manually.

- Sync latest specs repo
- Run generation script
- Run profile builder once per profile

We need some kind of wrapper that handles the process end-to-end.

[2018-02-28 23:45] jhendrixMSFT opened #1177 "Port discriminated types fixes in v2 generator to v3 generator"
The storage team needs support for discriminated types in the v3 generator.

[2018-02-28 23:55] tombuildsstuff commented on #1177
@jhendrixMSFT 👋 purely out of interest, what's the difference between the v2 and the v3 generators?

[2018-03-01 00:02] jhendrixMSFT commented on #1177
@tombuildsstuff Hello!  In the v3 generator we've tried to make the underlying sending/receiving of the REST operation more configurable.  It dumps go-autorest in favor of a "pipeline" model and provides a lot more flexibility in how a request is sent/received over the wire (e.g. you can easily drop in your own retry policy handler).  Best bet would be to take a look at the new [azblob](https://gi

[2018-03-02 18:13] jhendrixMSFT commented on #992
@tombuildsstuff FYI

[2018-03-02 19:11] jhendrixMSFT commented on #1005
@ppanyukov Sorry for the delay.  I've been over these APIs and I haven't been able to see what could be causing the race.  Are there any other blob/container APIs in play here?  Sounds like it isn't a blocking issue for you so we can leave it be for now.
Regarding your question, the splitting out was a different effort; the new azblob package is owned by the Azure storage team.  We did update our

[2018-03-02 21:05] jhendrixMSFT commented on #1040
I will add this functionality.  Also note that we're in the process of deprecating the blob storage functionality in the /storage package; it's being replaced by the new [azblob](https://github.com/azure/azure-storage-blob-go) package.

[2018-03-02 22:31] ppanyukov commented on #1005
thanks @jhendrixMSFT , just one API for us. So it's a bit weird.  I must say it's *really* rare when it happens. I probably saw this maybe three times in total.  Could be bug in our code too :)

Feel free to close.

We will look to using new API for new projects.

[2018-03-02 22:35] #1005 closed

[2018-03-02 23:28] petitout commented on #1040
ok thanks !
Any particular reason for switching to azblob ?

[2018-03-03 01:43] nobiinu-and commented on #934
Thanks a lot!

[2018-03-05 18:57] jhendrixMSFT commented on #1040
If the /storage package is working for you as-is then there's no real urgency to switch.  That said all new SDK support for storage APIs is happening in the new package and will not be back-ported to /storage.

[2018-03-05 18:59] petitout commented on #1040
ok got it, thanks

[2018-03-05 20:27] jhendrixMSFT commented on #1040
Fixed in v14.2.0
https://github.com/Azure/azure-sdk-for-go/releases/tag/v14.2.0.

[2018-03-05 20:27] #1040 closed

[2018-03-05 20:41] #829 closed

[2018-03-05 20:42] mcardosos commented on #829
Samples have been running on Jenkins for a while

[2018-03-05 20:59] marstr commented on #1066
Part 1 of this is done (albeit with some polish missing.) For now, the code can be found here: https://github.com/marstr/az-rest-spec-finder

[2018-03-05 21:09] petitout commented on #1040
Awesome, thank you

[2018-03-05 21:35] marstr commented on #1064
This has been open for a while, and the answer is sorta: @lmazuel and I have been working for sometime on a tool called [Swagger -> SDK](https://github.com/lmazuel/swagge-to-sdk) that does the three steps @jhendrixMSFT mentioned. This issue should stay open until there is documentation, and our dev team understands how to use it.

[2018-03-05 22:14] jhendrixMSFT commented on #1176
Closing as it's a dupe of 1064.

[2018-03-05 22:14] #1176 closed

[2018-03-05 22:22] jhendrixMSFT commented on #1150
What version of the SDK are you using?  I believe this has been fixed in v14+, can you please try it?

[2018-03-05 22:47] jhendrixMSFT commented on #1161
Assigning ti Vlad as I think this is an issue with generating spurious marshalers/unmarshalers.

[2018-03-05 23:05] kirankumarbv commented on #1161
Hi @jhendrixMSFT It worked as expected when I removed JSON marshaler for RecordSetProperties.

[2018-03-06 00:04] jhendrixMSFT commented on #1049
@JasonYang-MSFT I dug up your name from swagger history, do you own this spec or know who does?

[2018-03-06 00:08] jhendrixMSFT commented on #967
Hello @salmanbukhari were you able to get this working?

[2018-03-06 00:10] jhendrixMSFT commented on #901
This has been fixed in v14.0.0, we now pass constants as described above.  If this is still an issue with the latest SDK please re-open and we can investigate further.

[2018-03-06 00:10] #901 closed

[2018-03-06 17:52] jhendrixMSFT commented on #969
Done.

[2018-03-06 17:52] #969 closed

[2018-03-06 19:59] vladbarosan commented on #1161
@kirankumarbv I think i know whats the issue can you try keeping it as it was originally ( without the change Joel mentioned )and add this to (https://github.com/Azure/azure-sdk-for-go/blob/master/services/dns/mgmt/2017-09-01/dns/models.go#L328):

[code]

[2018-03-06 21:42] Shwetap05 opened #1199 "AutoRest Go: Using autorest to generate Go Clients fails when Specification file have empty version"
Using autorest to generate go client fails with below error if **version** in the specification json file is empty

Error:
FATAL: System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection.
Parameter name: startIndex
   at System.String.LastIndexOf(Char value, Int32 startIndex, Int32 count)
   at AutoRest.Go.Model.CodeModelGo.PackageVe

[2018-03-06 22:29] jhendrixMSFT commented on #783
The updated generator with support for this is 2.1.88.

[2018-03-06 23:57] jhendrixMSFT commented on #1199
According to the OpenAPI 2.0 spec (which is what our generator supports) the version field is required.  But it seems that we shouldn't just throw an exception; there should be an good error message explaining the problem.  @fearthecowboy doesn't the modeler verify the spec before handing off to the generator?

[2018-03-07 00:05] salmanbukhari commented on #967
@jhendrixMSFT Yes, I just checked it now. It worked. @vladbarosan thanks for the help.

[2018-03-07 00:07] jhendrixMSFT commented on #967
Fantastic thanks for letting us know.  :)

[2018-03-07 00:07] #967 closed

[2018-03-07 00:27] vladbarosan opened #1204 "reduce number of custom unmarshall/marshall methods"
If we can get check the conditions for having custom unmarshall/marshall on the whole chain of
embedded types, we can reduce the number of those we have.

[2018-03-07 00:37] Shwetap05 commented on #1199
Yes looked at the spec but what was not clear was if the field should also not be empty b/c the document renders fine in swagger editor without any schema failures.

[2018-03-07 06:13] sjwaight commented on #748
I am seeing this error when attempting to update an existing App Service Plan, but the scenario seems to arise when you have multiple ways of updating the App Service using Terraform and each has its state file.

[2018-03-07 23:16] tombuildsstuff commented on #748
@sjwaight @pixelicous just to let you know that the App Service errors are related to a bug in the App Service API's ([which is being tracked here](https://github.com/Azure/azure-rest-api-specs/issues/1697)) - and not related to the SDK / this issue (which has been resolved).

[2018-03-08 07:01] lawrencegripper commented on #1159
Awesome, thanks. Should I download the latest generator and regenerate the service files then submit as a PR?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-08 08:56] pixelicous commented on #748
@tombuildsstuff thanks mate.. ill take a look

[2018-03-08 17:22] jhendrixMSFT commented on #1159
You certainly can however we'll have a refresh of the SDK later this month that will include this fix.

[2018-03-08 17:25] marstr commented on #748
Howdy folks, seeing as we've confirmed this issue as resolved and it's still triggering response, I'm going to lock the conversation. If you believe you're running into a related issue, and don't find the guidance you need in the issue @tombuildsstuff linked above, please open a new issue in this repository.

[2018-03-08 22:20] kirankumarbv commented on #1161
I apologize for the late reply. Yes it works with the changes you suggested.

[2018-03-09 20:48] jhendrixMSFT opened #1231 "Fix test ComplexGroupSuite.TestPutComplexPolymorphicComplicated"
The custom marshalers don't properly exclude empty enum types, so they end up sending empty values across the wire which is incorrect.

[2018-03-09 22:38] m4r10k opened #1233 "Unable to create DNS A-records, ipv4address and ttl not set"
Hi!

I am not able to create A-records. No errors reported, but no ipv4address is added to the DNS entry. Maybe it related to #1161 because TTL is not set too.

[code]

[2018-03-09 22:55] m4r10k commented on #1233
Update: It works with `~/go/bin/govendor fetch github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2017-09-01/dns@=v12.5.0-beta`. That drove me nuts the last few hours :smirk: but it's ok. Hopefully this helps someone. I didn't test with v14.*

[2018-03-09 23:22] vladbarosan commented on #1161
@kirankumarbv we will be releasing a fix soon.

[2018-03-09 23:26] jhendrixMSFT commented on #1231
The generator has been fixed and the test case enabled.

[2018-03-09 23:26] #1231 closed

[2018-03-09 23:27] jhendrixMSFT commented on #1061
Tool added in v14.3.0.

[2018-03-09 23:27] #1061 closed

[2018-03-09 23:28] jhendrixMSFT commented on #899
Indexer tool added in v14.3.0.

[2018-03-09 23:28] #899 closed

[2018-03-09 23:33] kirankumarbv commented on #1161
@vladbarosan  Thanks

[2018-03-09 23:45] vladbarosan commented on #1233
Hi @m4r10k this seems to be the same issue as #1161 ( there it was a CNAME and for you is an A record ). we are looking to release next week a fix for v14

[2018-03-09 23:48] vladbarosan opened #1234 "Add template for opening issues"
To request information like SDK version , code sample etc

[2018-03-10 07:22] m4r10k commented on #1233
@vladbarosan Thanks!

[2018-03-13 19:07] russellds opened #1246 "Add support for the Microsoft Security Center API"
Please add support for the Microsoft Security Center API to allow down level tools such as Terraform.

API: https://management.azure.com/subscriptions/{Subscription_ID}/providers/microsoft.Security/policies/default?api-version=2015-06-01-preview

[2018-03-13 21:08] jhendrixMSFT commented on #322
Closing as stale.  If this is still a real issue please reopen.

[2018-03-13 21:12] colemickens commented on #322
I think it would be good to keep this on the backlog. Look at any projects that non-trivially uses the Go SDK and they have to include these annoying-to-author/maintain helper utility functions for ripping apart and concatenating Azure identifiers. The Azure cloudprovider implementation in Kubernetes is a good example. I believe the azurerm module in Terraform has it's own set of them.

They're so

[2018-03-13 21:13] jhendrixMSFT commented on #616
Fixed by @mcardosos

[2018-03-13 21:13] #616 closed

[2018-03-13 21:15] jhendrixMSFT commented on #698
@marstr to port to specs repo

[2018-03-13 21:19] tombuildsstuff commented on #322
+1 to re-opening this - we're currently doing this by hand and it's painful, so some method for this would be really useful (both splitting of values out from the URI and for forming a URI for a resource without necessarily calling the Get method / making an HTTP call).

[2018-03-13 21:21] #879 closed

[2018-03-13 21:28] #949 closed

[2018-03-13 21:30] jhendrixMSFT commented on #972
Work is done, waiting to release.

[2018-03-13 21:34] tombuildsstuff commented on #972
@jhendrixMSFT out of interest is this being exposed in ARM or via a Kudu SDK?

[2018-03-13 21:41] jhendrixMSFT commented on #989
Closing as we aren't renaming this.

[2018-03-13 21:41] #989 closed

[2018-03-13 21:55] jhendrixMSFT commented on #1006
This is applicable to autorest.go, for the SDK we build dep from source.

[2018-03-13 22:07] jhendrixMSFT commented on #322
@colemickens @tombuildsstuff can either of you provide a link or two to your hand-written code that does this?

[2018-03-13 23:36] colemickens commented on #409
Yes. It's needed. See this for an example: https://github.com/kubernetes/kubernetes/blob/34001d8c6a0ed4edf02d91c5b45920a2676418f9/pkg/cloudprovider/providers/azure/azure_client.go

Please auto-gen interfaces for the clients for mocking/testing purposes.

[2018-03-13 23:40] #698 closed

[2018-03-13 23:40] colemickens commented on #322
* Deconstruct IDs:
    * https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_standard.go#L146

* Construct resource IDs:
    * https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_standard.go#L63
    * https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_standard.go#L72
    * ht

[2018-03-14 17:18] jhendrixMSFT commented on #409
@colemickens What do you think of the following.
[code]
I'm open to changing the interface type name.

[2018-03-14 21:00] colemickens commented on #409
Hm, some of these interfaces will be large enough that folks may not use them, due to not wanting or needing to implement every bit of them. And I don't think you'll be able to use a generic interface anyway, given Go's type system.

Let me come back to this and see who added the small kubenetes interfaces and see what they think about this.

[2018-03-15 00:28] mcardosos commented on #409
What about an interface per operation?
[code]

[2018-03-16 20:21] joshgav commented on #1089
Thanks for raising this @krancour, the services which you said don't provide early name checks don't offer an API for it, I'll check into how portal is achieving the early checking for them and see if we can implement that here too. Thanks!

[2018-03-16 20:48] joshgav commented on #1089
Hi @krancour! So I did some digging and it seems only Redis is lacking an early name check, and I'll look into that.

For SQL, the spec is [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/checkNameAvailability.json), can you use [github.com/Azure/azure-sdk-for-go/services/sql/mgmt/2014-04-01/sql#ServersClient.CheckN

[2018-03-16 20:57] joshgav commented on #1089
Good news, Redis has added an early name check to their [latest spec](https://github.com/Azure/azure-rest-api-specs/blob/69bc74ce8deed4b47b08825c7f1dc1557daa228c/specification/redis/resource-manager/Microsoft.Cache/stable/2017-10-01/redis.json#L62-L95)! Bad news, this doesn't seem to have come through in the Go SDK: https://godoc.org/github.com/Azure/azure-sdk-for-go/services/redis/mgmt/2017-10-01

[2018-03-16 21:52] jhendrixMSFT commented on #1089
@joshgav We're still working on the automation to flow recent changes into master.  The change is in the latest branch.

[2018-03-16 21:53] jhendrixMSFT commented on #1089
This will hit master in our v15 release due at the end of this month.

[2018-03-16 22:58] joshgav commented on #1108
Thanks for noting this @lawrencegripper. I think the solution may be to turn the root into a Go package by adding a `doc.go` file. Did so in #1310.

[2018-03-19 15:46] krancour commented on #1089
Thanks for being so on top of this, guys!!

[2018-03-19 17:09] lawrencegripper commented on #1108
Awesome that sounds like it will do the trick - good call

[2018-03-19 17:37] lawrencegripper opened #1333 "Operations Management client problems"
Hi,

### Context

I recently worked with a team who are using Terraform to deploy AKS and wanted to enable Log Analytics Container Monitoring solution as well. As part of the work I created a [Terraform resource](https://github.com/terraform-providers/terraform-provider-azurerm/pull/952) for the RP but spotted a couple of odd things along that way which I had to work around.

###  Issues

1. Creat

[2018-03-19 21:38] salameer opened #1341 "Support MSI Authentication through IDMS"
@yugangw-msft , might be a good person to chat with to get some context here.

@mcardosos  can you please get some context on what's required on top of what you've already done for MSI?

[2018-03-20 18:40] tombuildsstuff commented on #1161
@vladbarosan any idea when this fix will be available? Looking at the HTTP responses it appears this is due to the `properties` block being omited.

Here's the Go SDK code we're using:

[code]

and the Request sent using `v12.5.0-beta` of the Azure SDK / v9.7.0 of go-autorest:

[code]

and the Request sent via SDK v14.5.0 / go-autorest v10.2:

[code]

This behaviour seems to affect both the `2016-

[2018-03-20 19:26] vladbarosan commented on #1161
Hi @tombuildsstuff in 14.5 we introduced a new API version for DNS which has the fix. ( https://github.com/Azure/azure-sdk-for-go/tree/v14.5.0/services/dns/mgmt/2015-05-04-preview/dns )

Does it work for you to use the new API version ?

[2018-03-20 19:29] vladbarosan commented on #1341
tagging @jhendrixMSFT as he worked on the MSI support

[2018-03-20 19:30] vladbarosan commented on #1341
Is this to use IDMS to get the msi Path which is currently hardcoded ? ( https://github.com/Azure/go-autorest/blob/master/autorest/adal/msi_windows.go )

[2018-03-20 19:39] yugangw-msft commented on #1341
If it clarifies, the token endpoint should switch from `http://locahost:<port>` to `http://169.254.169.254/metadata/identity/oauth2/token`, and you need to take care of the throttling situation, as the current limitation is 10 requests per second from each VM

[2018-03-20 21:18] mcardosos commented on #1341
@yugangw-msft  So is IDMS used to authenticate, but with this slight differences (endpoint, throttling)?
Is IDMS replacing MSI?

[2018-03-20 21:40] vladbarosan commented on #1341
@mcardosos  I think to clarify ( correct me if I am wrong @yugangw-msft  ):

1. Right now to access the MSI service , there is an MSI extension provisioned in the VMs which is accessed through a localhost endpoint.

2. The plan is probably to remove the extension and just use an MSI endpoint in IDMS ( which is accessible from all VMs on 169.254.169.254 ).

Hence MSI is still used, just we need to

[2018-03-20 21:59] joshgav opened #1369 "evaluate new Mongo driver with CosmosDB"
MongoDB Inc. is preparing a new driver for Mongo's API in https://github.com/mongodb/mongo-go-driver. Can we evaluate this lib and if/how it works with Cosmos' Mongo API?

Should we replace `mgo` with this library? Or something entirely different?

[2018-03-20 22:08] joshgav opened #1370 "update vscode-go to Delve API v2"
Some issues are fixed and support for Mozilla's [rr](https://github.com/mozilla/rr) has been added to Delve's v2 API. We should ensure [vscode-go](https://github.com/Microsoft/vscode-go) is updated, and test with rr as a backend.

Once this works we can work with the VS Code team to enable record, replay and rewind options with rr if there's user demand.

Related issues from vscode-go repo:
* http

[2018-03-20 22:34] yugangw-msft commented on #1341
@vladbarosan, that is right. The additional thing is to add a re-try under throttling

[2018-03-20 22:35] mcardosos commented on #1341
Okok, so what should be done in the SDK is exactly what @yugangw-msft commented:
- Change endpoint
- Throttling

[2018-03-20 23:31] vladbarosan commented on #1341
@mcardosos yup
 also maybe handling possible errors returned in case we don't do it already

[2018-03-21 21:33] mydiemho opened #1388 "[Feature-request] queue doesn't have support for deleting a single message"
There's a [ClearMessages](https://github.com/Azure/azure-sdk-for-go/blob/master/storage/queue.go#L303) function that delete all messages in a queue.  However, there isn't one for [deleting a single message](https://docs.microsoft.com/en-us/rest/api/storageservices/delete-message2)

[2018-03-21 23:10] mydiemho commented on #1388
nvm, the [delete operation](https://github.com/Azure/azure-sdk-for-go/blob/master/storage/message.go#L149) is in the message class

[2018-03-21 23:10] #1388 closed

[2018-03-22 12:39] tombuildsstuff commented on #1161
@vladbarosan cool, thanks for confirming that, it does - is there a timeline to roll this fix out to the stable API versions too? I'd rather we didn't roll out a Preview API unless we need something contained within the Preview version if possible.

Thanks!

[2018-03-22 16:20] jhendrixMSFT commented on #1161
@tombuildsstuff Unfortunately there were a few breaking changes in the DNS swaggers so this will have to wait for the v15 release which is currently planned for next week.  Does that work for you?

[2018-03-22 21:30] tombuildsstuff commented on #1161
@jhendrixMSFT we're happy to wait a few for it, but given this SDK is now GA (and this functionality is currently broken) I think we could probably include a breaking change in a new version (e.g. `v14.6.1`) using the existing Swagger file?

[2018-03-22 21:40] jhendrixMSFT commented on #1161
@tombuildsstuff So this is something we've discussed internally, i.e. is introducing a breaking change that fixes a broken package really a breaking change.  We've been leaning towards not counting it as a breaking change, the only problem is there is no way for us to automatically differentiate the two cases (we're working on tooling to automatically flow non-breaking changes from latest into mas

[2018-03-22 22:17] tombuildsstuff commented on #1161
@jhendrixMSFT so I'm fine with that in a minor version, but I can understand why others could not be :)

From our side, at this point we've got 4 blockers for upgrading to SDKv14: https://github.com/terraform-providers/terraform-provider-azurerm/pull/1006. As such I don't believe we'll get to upgrading until next week either way, if it helps?

[2018-03-22 23:57] vladbarosan commented on #972
@tombuildsstuff can you detail what you mean by this ?
Creating them will be exposed through ARM and available in the SDK's .
For Kudu SDK I presume you are referring to the kudu rest api ? ( https://github.com/projectkudu/kudu/wiki/REST-API )

[2018-03-23 00:04] tombuildsstuff commented on #972
@vladbarosan sorry, ignore that comment (I was thinking this was to do with a Kudu SDK rather than integration with Kudu) - looks like I mis-read this issue when replying the first time around :(

[2018-03-23 16:52] #981 closed

[2018-03-23 21:05] jhendrixMSFT commented on #1101
After discussion with @lmazuel the POR is to have the swagger->sdk environment for Go be a well-defined Go build environment that defines GOPATH.

[2018-03-23 21:12] jhendrixMSFT opened #1425 "Scrub README files for missing tags for Go builds"
Look for new API versions that aren't building for Go swagger->sdk.

[2018-03-23 21:14] jhendrixMSFT opened #1426 "Automate cherry-picking non-breaking changes from latest into master"
Start by writing a script that will cherry-pick commits in latest that contain no breaking changes.

[2018-03-23 21:15] jhendrixMSFT commented on #1053
This has been superseded by the swagger->sdk work.

[2018-03-23 21:15] #1053 closed

[2018-03-23 21:16] jhendrixMSFT commented on #1426
Dupe of 1062.

[2018-03-23 21:16] #1426 closed

[2018-03-23 21:18] #1064 closed

[2018-03-23 21:20] jhendrixMSFT opened #1427 "Create CHANGELOG from apidiff tool output"
The apidiff tool will generate a JSON object containing the delta between two commits; we can use this output to generate a formatted markdown document that describes the changes in an SDK version.

[2018-03-23 21:21] jhendrixMSFT opened #1428 "Get autorest.go generator test coverage to 100%"
Our test coverage for the generator is not at 100%, it's especially low for the Azure-specific tests (e.g. LROs).

[2018-03-23 21:26] jhendrixMSFT commented on #1049
@JasonYang-MSFT ping

[2018-03-23 21:27] jhendrixMSFT commented on #1150
Closing as this has gone stale.  If you upgrade to v14 and this still happens please reopen and we'll investigate.

[2018-03-23 21:27] #1150 closed

[2018-03-23 21:29] jhendrixMSFT commented on #1199
ping @fearthecowboy

[2018-03-23 22:00] fearthecowboy commented on #1199
Weird. I'd have thought that the schema validation step should have caught that, but it appears that the schema just requires the presence of the field, not that the value has to be longer than zero characters.

We can add this to the schema

[2018-03-23 22:05] jhendrixMSFT commented on #903
Closing as we're not going to do this.

[2018-03-23 22:05] #903 closed

[2018-03-23 22:29] vladbarosan commented on #1052
Is this something you can have a look at it this sprint ? Sync with me regarding details

[2018-03-23 22:50] joshgav commented on #1234
will work on this.

[2018-03-26 07:19] bingosummer opened #1435 "How to assign a self-signed certificate for Azure Stack"
Azure Stack development kit uses a self-signed certificate. How to assign it when using azure-sdk-for-go?
If not specified, I got the following error:
[code]

[2018-03-26 17:58] jhendrixMSFT opened #1437 "Use a specific type for Azure resource IDs"
In https://github.com/Azure/go-autorest/commit/ed4b7f5bf1ec0c9ede1fda2681d96771282f2862 we added functionality for parsing Azure resource IDs.  We should investigate if our codegen can emit the azure.Resource type instead of a plain ol' string for resource IDs.

[2018-03-26 18:16] tombuildsstuff commented on #1437
@jhendrixMSFT so this'd be awesome to have 👍

We currently have an extended version of this behaviour within Terraform - where we parse all of the values out of the URI into [a dictionary/map[string]string](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/resourceid.go#L18) which allows us to key into particular values; which it'd be great to add to this implem

[2018-03-26 18:24] jhendrixMSFT commented on #1437
@tombuildsstuff If we can get this reliably working for the base resource ID we can certainly look at extending it for provider-specific properties as you've outlined.  We can also add a method to reconstitute the URI.
CC @vladbarosan

[2018-03-26 19:32] vladbarosan commented on #1437
@tombuildsstuff thanks for the feedback.

In the example you provided the ResourceId is for a `RedisFirewallRule` and our helper would should return the `{ruleName}` which is what the resource name is and what our helper would return.

Would it be enough for your use case to have the Resource Name and the complete Resource Name returned ( i.e. when they are scoped under another resource like in th

[2018-03-26 19:35] vladbarosan commented on #1435
@bingosummer can you please clarify what you mean ? (i.e. give a sample code of what you are trying to do ? ) Are you referring to using a self signed client certificate for auth  ?

[2018-03-26 19:40] vladbarosan commented on #1437
@tombuildsstuff or maybe a wrapper type around the resource name which can either return the qualified name as a string or the actual resource name as a string or a map of the qualified resource name like in the terraform code

[2018-03-26 20:59] tombuildsstuff commented on #1437
@vladbarosan so I was thinking it might be possible to generate a type for each API Type as from the Swagger, rather than just returning the name; since the `Get` calls require multiple values (e.g. Express Route Circuit Peerings which require the Resource Group Name, the Circuit Name and the Peering name)?

[2018-03-27 16:53] joshgav opened #1445 "add table of Azure packages to README"
e.g.:

* https://github.com/Azure/azure-event-hubs-go
* https://github.com/Azure/azure-storage-blobs-go
* https://github.com/Microsoft/ApplicationInsights-Go

[2018-03-27 16:57] joshgav commented on #1445
@seguler this is how we propose integrating other repos here today. we propose deferring other options till https://github.com/golang/proposal/blob/master/design/24301-versioned-go.md is finalized.

Thoughts?

[2018-03-27 20:03] jhendrixMSFT commented on #783
Fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v15.0.0

[2018-03-27 20:03] #783 closed

[2018-03-27 20:05] jhendrixMSFT commented on #992
Fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v15.0.0

[2018-03-27 20:05] #992 closed

[2018-03-27 20:06] jhendrixMSFT commented on #1050
Fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v15.0.0

[2018-03-27 20:06] #1050 closed

[2018-03-27 20:07] jhendrixMSFT commented on #1089
Fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v15.0.0

[2018-03-27 20:07] #1089 closed

[2018-03-27 20:07] jhendrixMSFT commented on #1159
Fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v15.0.0

[2018-03-27 20:07] #1159 closed

[2018-03-27 20:08] jhendrixMSFT commented on #1077
Fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v15.0.0

[2018-03-27 20:08] #1077 closed

[2018-03-27 20:09] jhendrixMSFT commented on #1161
Fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v15.0.0

[2018-03-27 20:09] #1161 closed

[2018-03-27 20:09] jhendrixMSFT commented on #1233
Fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v15.0.0

[2018-03-27 20:09] #1233 closed

[2018-03-27 20:42] devigned opened #1450 "Management operations should better respect the context"
I think I've run into a situation where the passed in context for a management operation will hang, or take a really long time to return, if the context has expired or will shortly expire.

For example, I am using the Azure Storage library to call `ListAccountSAS` with a context like the following:
[code]
That context is used to create the http request in the `ListAccountSASPreparer` using the pas

[2018-03-27 21:46] #1006 closed

[2018-03-27 22:07] tombuildsstuff commented on #1450
👋

I've not had time to open a bug report about this yet (sorry!) - but we're also seeing an issue here where any timeouts set on the Context passed into a method are ignored/overridden, unless we set these on the Clients themselves as the `MaxRetries` and `RetryDuration` fields.

Digging into the code it also appears the retry counts from the API override these values, such that we're unable to d

[2018-03-28 11:08] niksacdev opened #1458 "IoTHub Service package giving schema error"
I am trying to create a sample for the IoT Hub Mgmt client, the Service folder currently has three versions and I am using the "github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2017-07-01/devices" version.

however when I make a call to:
[code]
I get the following error:
*cannot create iothub: devices.IotHubResourceClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Er

[2018-03-28 15:16] TheoBrigitte commented on #935
Just came across this issue again today
`dns.RecordSetsClient#Get: Failure responding to request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="InvalidApiVersionParameter" Message="The api-version '2017-09-01' is invalid. The supported versions are '2018-02-01,2018-01-01,2017-12-01,2017-08-01,2017-06-01,2017-05-10,2017-05-01,2017-03-01,2016-09-01,201

[2018-03-28 17:47] sptramer opened #1462 "Empty Future response for successful DeploymentsClient.CreateOrUpdate"
When running the Go quickstart for VMs (https://docs.microsoft.com/en-us/go/azure/azure-sdk-go-qs-vm) against the latest SDK, the quickstart crashes because it makes the assumption that results returned from deployments will contain data. The offenders appear to be:

[code]

[code]

The deployment has completed, according to a CLI query:

[code]

This crash can be avoided by removing the `Printf`

[2018-03-28 19:30] vladbarosan commented on #935
@kopiczko can you provide the following details :
1. Have you noticed this only in west europe ?
2. Did you see the issue only for the 2016-04-01 api version of DNS ?
3. Also just for reference, what SDK version are you using ?

[2018-03-28 20:45] jhendrixMSFT commented on #409
@colemickens did you ever find out about this?
@tombuildsstuff would Terraform find this useful?

[2018-03-28 20:55] colemickens commented on #409
I think @brendandburns added the smaller interfaces. He might be more apt to tell you if this is a good idea or not. I've changed my desire for this quite a bit after considering how large the autorest interfaces are... it may well be the case that consumers would prefer to author their own interfaces for testingm etc.

[2018-03-28 21:22] tombuildsstuff commented on #409
@colemickens looking at the code in https://github.com/kubernetes/kubernetes/blob/34001d8c6a0ed4edf02d91c5b45920a2676418f9/pkg/cloudprovider/providers/azure/azure_client.go - I may be wrong, but I have a feeling that behaviour could be achieved using the Inspectors within AutoRest instead?

@jhendrixMSFT from Terraform's perspective, I don't believe we'd have a use for this functionality since we'

[2018-03-28 22:35] vladbarosan commented on #1108
Fixed by #1310

[2018-03-28 22:35] #1108 closed

[2018-03-28 23:31] jhendrixMSFT opened #1466 "Incorrect codegen for types with embedded constants"
In test [PutReferencedConstant](https://github.com/Azure/autorest.go/blob/master/test/src/tests/generated/body-string/enum.go#L300) the codegen expects the caller to pass a value for RefColorConstant.ColorConstant even though it's defined as a constant in the swagger.  For comparison, see the C# [codegen](https://github.com/Azure/autorest.csharp/blob/master/test/vanilla/Expected/BodyString/Models/

[2018-03-29 15:23] TheoBrigitte commented on #935
1. I do no have a way to easily test this in a different region
2. api version `2017-09-01` gave the exact same error
3. currently using SDK version `v12.1.0-beta`
4. This keeps happening, I saw the error today again at `18-03-29 13:13:43`, `18-03-29 13:34:24`, `18-03-29 14:58:41` and `18-03-29 15:03:56` (UTC time)

During the same time, a similar request succeed from a different environment. Some

[2018-03-29 16:27] TheoBrigitte commented on #935
Ok this was due to passing an empty `resourceGroupName` argument when calling `RecordSetsClient.Get()`

[2018-03-29 16:35] TheoBrigitte commented on #935
Here is how I reproduced it https://gist.github.com/TheoBrigitte/37bb318d0b6ad40f476ec33e6c755356

[2018-03-30 20:25] jhendrixMSFT commented on #1458
Hi @niksacdev, in what Azure region are you running this?
CC @kvish

[2018-03-30 22:48] jhendrixMSFT commented on #1007
Ping @seguler

[2018-04-02 16:23] jhendrixMSFT commented on #409
Given that the desire for this has changed I'm going to close this.

[2018-04-02 16:23] #409 closed

[2018-04-02 16:39] jhendrixMSFT commented on #1450
Fixed in https://github.com/Azure/go-autorest/releases/tag/v10.5.0

[2018-04-02 16:39] #1450 closed

[2018-04-02 17:32] seguler commented on #1007
What is the REST API version where you see this behavior ? I am unable to repro the issue.

[2018-04-02 18:28] seyadava opened #1487 "Install Go SDK fails"
Running bellow command to install Go SDK fails with the following error.

ERROR:

# github.com/Azure/azure-sdk-for-go/profiles/preview/preview/iotspaces/mgmt/iotspaces
DRIVE:\Users\USER\go\src\github.com\Azure\azure-sdk-for-go\profiles\preview\preview\iotspaces\mgmt\iotspaces\models.go:34:21: cannot use subscriptionID (type "github.com/satori/uuid".UUID) as type "github.com/satori/go.uuid".UUID in

[2018-04-03 02:13] krancour opened #1492 "Frequent issue deleting Redis caches"
This has been occurring frequently when we delete Redis caches:

I'm uncertain whether this points to a problem in the service or in the client.

cc @jeremyrickard

[2018-04-03 03:00] krancour commented on #1492
Closing this. While Redis _is_ slow to both provision and deprovision, I've discovered that we were setting an aggressively short deadline on the context and had overlooked that we were doing so.

[2018-04-03 03:00] #1492 closed

[2018-04-03 17:24] marstr commented on #974
I'm digging into this now that I'm back from vacation.

For the examples you give, I think we already have the types necessary to unmarshal easily:

For:

We have:
https://github.com/Azure/azure-sdk-for-go/blob/56332fec5b308fbb6615fa1af6117394cdba186d/services/eventgrid/2018-01-01/eventgrid/models.go#L225

For:

We have:
https://github.com/Azure/azure-sdk-for-go/blob/56332fec5b308fbb6615fa1af61173

[2018-04-03 17:24] #974 closed

[2018-04-03 21:02] marstr commented on #974
After chatting with @devigned offline this afternoon, I stand-by the position of closing this issue. However, he brought up some pretty interesting points about moving beyond adding some improved helper packages to the existing Azure SDK for Go.

The main thing we talked about, was that while EventGrid uses HTTP, creating a service that's wired-up takes a fair amount of boiler plate, regardless of

[2018-04-03 21:11] meirf commented on #404
@bcc did this actually fix the issue for you?

[2018-04-03 21:47] jhendrixMSFT commented on #404
@meirf which version of the SDK are you using?  The latest is v15.0.0.  Can you also paste the APIs you're using please?

[2018-04-04 00:55] meirf opened #1500 "Unexpected quantity of TCP connections"
I ran this code at https://github.com/Azure/azure-sdk-for-go/commit/56332fec5b308fbb6615fa1af6117394cdba186d

I'm seeing an unexpected number of TCP connections when copying files.

[code]

Because `MaxIdleConnsPerHost` is set to a high number we can reuse a lot more descriptors, but I still see more than what I expected.

**Expected**
I expected there to be a maximum of 200 connections since I as

[2018-04-04 00:57] meirf commented on #404
@jhendrixMSFT I created a separate issue https://github.com/Azure/azure-sdk-for-go/issues/1500 since I'm not sure if they're related.

[2018-04-04 07:31] svaroop opened #1501 "Instance location is empty in usage details"
Not getting information about instance location in usage details : github.com/Azure/azure-sdk-for-go/services/consumption/mgmt/2018-03-31/consumption package

[2018-04-04 17:46] rohrerb opened #1504 "Storage Soft Delete Support"
Hello,

Could we get support for Storage Soft Delete?

https://azure.microsoft.com/en-us/blog/soft-delete-for-azure-storage-blobs-now-in-public-preview/
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-soft-delete

Thank you.

[2018-04-05 11:39] tombuildsstuff opened #1512 "v15 of the Automation SDK doesn't compile"
👋

I've been trying to upgrade Terraform to use v15 of the Azure SDK - however I've encountered an error where the Automation SDK doesn't compile, either using the GA API/SDK version (`2015-10-31`) or using the Preview API version (`2017-05-15-preview`):

[code]

From what I can see (where ResourceGroupName isn't on the Client) - this looks to be because of broken Swagger - but it would be possibl

[2018-04-05 14:32] meirf commented on #1500
@jhendrixMSFT any ideas on this?

[2018-04-05 19:38] vladbarosan commented on #1512
Hi @tombuildsstuff there is a related issue #1487

[2018-04-05 22:24] marstr commented on #1487
This should be fixed in v15.0.1

[2018-04-05 22:25] marstr commented on #1487
Feel free to scream at us if you're still running into this issue!

[2018-04-05 22:25] #1487 closed

[2018-04-05 22:26] marstr commented on #1512
This should be fixed. :)

[2018-04-05 22:26] #1512 closed

[2018-04-05 22:30] vladbarosan opened #1517 "Run profile builder part of CI and diff with existing CI"
This is to valdiate that the profiles are always regenerated after a new sdk is genereated.

[2018-04-06 06:35] pareshverma91 opened #1520 "Generated go code ls"

[2018-04-06 08:40] tombuildsstuff commented on #1512
@marstr looks good at our end so far - thanks a lot :)

[2018-04-09 03:15] meirf commented on #1500
If I had some certainty around `azure-storage-blob-go` not having this same problem, I would probably switch, but it looks like there is a similar problem there. https://github.com/Azure/azure-storage-blob-go/issues/30

@jhendrixMSFT
I would be happy with uploading a PR if you could help me narrow down where the problem is. I appreciate any suggestions on this.

Thank you!!

[2018-04-09 16:25] jhendrixMSFT commented on #1517
This is tracked in https://github.com/Azure/azure-sdk-for-go/issues/1101

[2018-04-09 16:25] #1517 closed

[2018-04-09 16:37] jhendrixMSFT commented on #1520
You do this through the BasicBase interface.  Any operations that return this discriminated type will have their return type be a BasicBase.  You then use the As*() methods on BasicBase to convert to one of the possible types.  Does this answer your question?

[2018-04-09 16:42] jhendrixMSFT commented on #1504
The storage package in this repo is in maintenance mode, it's been replaced by the azblob package.  I've ported this issue to its repo, see https://github.com/Azure/azure-storage-blob-go/issues/37

[2018-04-09 16:42] #1504 closed

[2018-04-09 16:50] jhendrixMSFT commented on #1501
Hi!  Can you please provide a bit more info about this issue, i.e. what API you're calling (I'm guessing it's UsageDetailsClient.List) and what you mean by "not getting information", is the field nil or empty string?

[2018-04-09 21:48] mcardosos commented on #1341
Fixed on https://github.com/Azure/go-autorest/pull/263
Retries available on [go-autorest v11 branch](https://github.com/Azure/go-autorest/tree/v11)

[2018-04-09 21:48] #1341 closed

[2018-04-10 01:57] meirf commented on #1500
I'm not getting errors.

I've tried commenting out the wait (`return b.WaitForCopy(copyID)`) and
[code]

but I'm not seeing any benefits.

[2018-04-10 05:13] svaroop commented on #1501
Hi. yes. i'm using consumption.UsageDetailsClient. getting below json.

[2018-04-10 16:29] jhendrixMSFT commented on #1500
I found another potential issue, in [DefaultSender.Send()](https://github.com/Azure/azure-sdk-for-go/blob/master/storage/client.go#L112) the response body isn't read/closed when a retry happens.  If you add a call to ```readAndcloseBody(resp.body)``` after line 122 does it fix the issue?

[2018-04-10 16:53] jhendrixMSFT commented on #1501
@asarkar84 do you know why the instanceLocation isn't included in the response?

[2018-04-10 17:59] meirf commented on #1500
BINGO

@jhendrixMSFT, thanks for finding the problem!!

I've submitted https://github.com/Azure/azure-sdk-for-go/pull/1539 to the dev branch. If you think this warrants new release, I'd be happy if you created your own PR which does that. (I don't care if my PR makes it through - just happy the sooner this gets to the master branch.)

[2018-04-10 19:18] asarkar84 commented on #1501
InstanceLocation is currently not available for WebDirect subscriptions.

[2018-04-10 21:37] #1500 closed

[2018-04-10 21:39] jhendrixMSFT commented on #1500
Fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v15.1.1, thanks for helping!

[2018-04-11 16:26] jhendrixMSFT commented on #1101
This is working now.

[2018-04-11 16:26] #1101 closed

[2018-04-11 16:41] jhendrixMSFT commented on #1177
This has been fixed in the v3 generator.

[2018-04-11 16:41] #1177 closed

[2018-04-11 16:44] jhendrixMSFT opened #1550 "Fix sort order in profile builder"
Profile builder still doesn't properly sort the generated facades causing unnecessary diff noise in auto-generation of packages/profiles.  Update it to group entries as follows.

constants
types
funcs

Each group should be lexicographically sorted.

[2018-04-11 17:30] yugangw-msft opened #1555 "msi/imds auth: retry on a few more error codes"
We are retrying on 429. MSI team recommends also retry on 404 and all 5xx’s. Should get it done by the upcoming release.

[2018-04-13 05:34] feiskyer opened #1586 "New releases of v10.X"
I'm trying to fix a issue in kubernetes v1.8 (refer https://github.com/kubernetes/kubernetes/pull/62249 and https://github.com/Azure/AKS/issues/199). It requires an update to Azure SDK. k8s 1.8 vendors Azure SDK v10.0, but all versions of v10.X don't include `SourceAddressPrefixes` in LoadBalancer model.

If we update the SDK to a later version (e.g. v11), many files would be updated, e.g. 18,687

[2018-04-13 05:35] feiskyer commented on #1586
/cc @brendandburns @khenidak

[2018-04-13 09:12] Anmolgan81 commented on #667
Can I change the webspace if I want to change the app service plan to another app service

[2018-04-13 11:59] giampierod opened #1587 "Not able to get group members"
No matter what path I take, I cannot use the graphrbac to go from the current user logged in to the groups they are a member of. I have tried both of the following and the result is always nil. The user I am testing with is a member of 3 groups.

[code]

Given the lack of documentation around this particular thing, I assumed one of these would work.

[2018-04-13 17:30] marstr commented on #983
@devigned, @joshgav, @salameer and I have gone on quite a journey talking about this.

What we've concluded, is that the the existing packages that are provided today fulfill the basic functionality needed to interact with Event Grid.

However, the real pain in using Event Grid from Go is setting up a web-server that will listen and dispatch events to strongly typed handlers. There is some real po

[2018-04-13 18:39] jhendrixMSFT commented on #1586
Please note that v10 is a beta release.  Our first GA release is v14 so if you're to move to a new version it's highly recommended that you move to that one.

[2018-04-13 22:03] #741 closed

[2018-04-13 22:30] joshgav opened #1595 "instrument libs on behalf of users"
Instrument each HTTP call from generated libs with an [OpenTracing](http://opentracing.io) span, so that users can specify an OpenTracing reporter (?) and include info from our libs.

@devigned is implementing this in https://github.com/Azure/azure-amqp-common-go so please talk to him for best practices.

[2018-04-13 22:36] joshgav opened #1596 "enable consumption of OpenCensus events in App Insights"

[2018-04-13 22:42] marstr commented on #1435
Closing as stale, feel free to mention us and have it re-opened.

[2018-04-13 22:42] #1435 closed

[2018-04-13 22:47] marstr commented on #1076
Closing as stale. If someone has questions, reach out.

[2018-04-13 22:47] #1076 closed

[2018-04-13 22:49] marstr commented on #1007
Closing as stale. Feel free to re-open.

[2018-04-13 22:49] #1007 closed

[2018-04-13 22:51] marstr commented on #990
Chatting during triage, we agree that this is adding alerting for a problem we've never had trouble getting visibility into.

[2018-04-13 22:51] #990 closed

[2018-04-15 14:39] bingosummer commented on #1435
I figured it out. I need to put the self-signed certificate in `/etc/ssl/certs/ca-certificates.crt`.

[2018-04-16 15:54] jhendrixMSFT commented on #1501
Closing as it looks like this has been answered, please re-open if you have further questions.

[2018-04-16 15:54] #1501 closed

[2018-04-16 15:57] #1062 closed

[2018-04-16 17:47] jhendrixMSFT commented on #1550
This is due to how the package is walked.  When we call ast.Walk() we will end up ranging over n.Files in the package, and since this is a map the order is unspecified.

[2018-04-16 17:54] rojer opened #1603 "IoT Hub Device API"
I would like to be able to manage IoT devices - add, remove them and invoke Device Methods.
Currently the SDK only contains IoT hub management APIs.
I found that for other languages there are separate SDKs for IoT, listed [here](https://github.com/Azure/azure-iot-sdks). Should we expect one for Go as well?

[2018-04-16 21:26] jhendrixMSFT commented on #1550
Fixed!

[2018-04-16 21:26] #1550 closed

[2018-04-17 08:31] feiskyer commented on #1586
@jhendrixMSFT Kubernetes v1.8 has been using v10 for a long time. Could we release a new v10 release of kubernetes v1.8 only?

[2018-04-17 16:25] jhendrixMSFT commented on #1603
Hi @rojer, I don't know what our story is for this at present.  I'll work with @joshgav to get this figured out.

[2018-04-17 18:31] joshgav commented on #1603
@jseely @pierreca can you respond?

[2018-04-17 18:55] pierreca commented on #1603
@rojer thanks for chiming in. The IoT SDK is looking into Golang support right now (among other things) but we don't have anything ready as we're still figuring out how to balance resources to effectively support a new language.

I understand you'd need CRUD operation on devices, and Invoke Device Methods - anything else? Also, if you can share this information, when would do you intend to go to p

[2018-04-17 19:15] rojer commented on #1603
@pierreca thanks for your response. in addition to invoking device methods i would like to be able to send and receive device messages.

as for going to production - well, i sort of already have :) except at the moment i shell out to the `az` utility for management and rolled my own implementation of of direct message client over HTTPS, SAS token and all. however, az is kinda slow and is also an a

[2018-04-17 20:42] mcardosos commented on #1555
Merged to v11 branch

[2018-04-17 20:42] #1555 closed

[2018-04-17 23:40] pierreca commented on #1603
Understood, thanks for the details! @joshgav not sure if/how you want to track this in your repository or close the issue. I can come back and comment here when we have something (it'll be a few weeks I guess)

@rojer if you want a good place to gather steam and maybe follow up on our progress, I would very much encourage you to post the idea for a Go SDK [on our user-voice page](https://feedback.

[2018-04-18 01:47] feiskyer commented on #1586
@jhendrixMSFT kubernetes v1.8 is using SDK v10 only v1.8.X is using this SDK version. Newer kubernetes releases have already upgraded in their vendors.

[2018-04-18 04:40] jeremyrickard opened #1637 "Create CosmosDB Database/Collections"
Hi,

Looking through the existing CosmosDB functionality, it looks like I can only programmatically create database accounts, I'm not able to create the database itself or the collection (which have some parameters that can be tuned). Am I stuck calling the API myself or using the portal? It seems like it's possible to do this with the Node SDK and the Java SDK.

It would be super helpful if we pu

[2018-04-18 12:46] rohrerb opened #1638 "New Function for Attaching Disks to a VM"
Hello,

Would it be possible for you to build a separate function to allow attaching of disks outside of the create_or_update VM?

` az vm disk attach --help`

**AzureCLI** offers the ability to attach disks with single call which in the end calls into create_or_update.
https://github.com/Azure/azure-cli/blob/b9ac9ecdc5e62b1f8dee18be35bc9e8cdbfa6573/src/command_modules/azure-cli-vm/azure/cli/comma

[2018-04-18 12:56] rojer commented on #1603
https://feedback.azure.com/forums/321918-azure-iot/suggestions/32822650-go-sdk-for-azure-iot

upvoted.

ok, i'll close this issue then. hopefully we'll see Go SDK for IoT someday!

[2018-04-18 12:56] #1603 closed

[2018-04-18 22:21] jhendrixMSFT opened #1648 "Bad codegen when additionalProperties is a discriminated type"
As property:
Spec: https://pastebin.com/Gqc1PfFj
Codegen: https://play.golang.org/p/reEn65mm-vX

As discriminated type:
Spec: https://pastebin.com/GUvXd8iu
Codegen: https://play.golang.org/p/nFw_W4Zusy8

Note that in the second example we don’t generate UnmarshalJSON for the User type (see the very end of codegen in first example).

[2018-04-18 22:57] feiskyer commented on #1586
@jhendrixMSFT thanks

[2018-04-18 23:04] marstr opened #1651 "Add CODEOWNERS File"
See [Azure/azure-rest-api-specs:CODEOWNERS](https://github.com/Azure/azure-rest-api-specs/blob/7b0ce29d11fe462ebc5343c56f130eea30628b09/CODEOWNERS) as an example.

[2018-04-19 07:55] feiskyer commented on #1586
This is not required now, we will document this as a known issue for kubernetes v1.8.X.

[2018-04-19 07:55] #1586 closed

[2018-04-19 15:16] anaskhansherwani opened #1654 "ML Accounts List function giving error"
I am trying to call machine learning experimentation accounts List function. I am using the "github.com/Azure/azure-sdk-for-go/services/machinelearning/mgmt/2017-05-01-preview/experimentation" version.

When I make a call like this:
[code]
I get the following error:

[code]

I can see in the detailed JSON it returns that storage account is a string ID, however, in models section, Storage Account i

[2018-04-19 19:26] #1651 closed

[2018-04-19 21:41] jhendrixMSFT opened #1659 "Fix const names so they are consistent"
Adding in a new const with a name that collides with a preexisting one (usually due to fixing up stuttering but not always) can cause the preexisting ones to have their names change (it's a breaking change that could be avoided).  Here's a great example of that happening.
https://github.com/Azure/azure-sdk-for-go/pull/1652/files
In the v3 generator we solved this by always prefixing the const name

[2018-04-20 20:05] mcardosos opened #1666 "Polling requests with empty bodies have a content-length set to a different number than 0"
But not all of them
I fount the issue with [this operation](https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/fe370e65085dcae43d61029af087bff84267022c/compute/compute_test.go#L125).
cc @jhendrixMSFT

edit (by @marstr): Making link a permalink

[2018-04-20 20:08] jhendrixMSFT commented on #1654
Hello!  If you have the complete JSON body response handy could you please post it here?  Would help in our investigation.

[2018-04-20 20:55] jhendrixMSFT commented on #1666
What is the content-length being set to?  I don't believe any of  the polling requests should have bodies yes?

[2018-04-20 20:57] mcardosos commented on #1666
I dont believe they should have bodies.
This is the error I get...
`2018/04/20 13:58:51 cannot get the disk update future response: azure#WaitForCompletion: the number of retries has been exceeded: StatusCode=0 -- Original Error: Patch https://management.azure.com/subscriptions/11160a4e-7dc5-4c8e-a9d6-16251e5a4637/resourceGroups/azure-samples-go-CreateVM-XFPmb/providers/Microsoft.Compute/disks/az-

[2018-04-21 15:54] anaskhansherwani commented on #1654
This is the complete error I am getting (I replaced id values):

[code]

[2018-04-21 15:59] anaskhansherwani commented on #1654
I am just wondering, why is it necessary to pass an account to create a new ML Workspace? I cannot find this option from portal, where you can easily create a new workspace. May be I am not understanding the whole workflow here. Whatever is the case, to create a workspace I need a Team Account for which I need a KeyVaultId, VsoAccountId, StorageAccount accessKey. Where do I get these values, if I

[2018-04-23 21:30] giampierod commented on #1587
No dice

graphrbac.GroupsClient#IsMemberOf: Failure responding to request: StatusCode=403 -- Original Error: autorest/azure: Service returned an error. Status=403 Code="Unknown" Message="Unknown service error"

[2018-04-23 21:44] mcardosos commented on #1587
That is an authentication issue. Verify the logged in user has enough permissions to do that operation.

[2018-04-23 21:58] giampierod commented on #1587
The user logging in is checking that they are a member of a group. What am I missing?

[2018-04-23 22:11] mcardosos commented on #1587
The application might not have enough permissions.
[Dcoumentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-integrating-applications)

[2018-04-25 07:03] salmanbukhari opened #1695 "Panic in Future Done function"
My code is as following
[code]
I have checked the err returned from CreateOrUpdate and later on WaitForCompletion. This code works fine in success case but today a panic was called in this code. I checked everything all the fields are valid. The Panic was caused inside the WaitForCompletion.

[code]

If there is no error in CreateOrUpdate how this is possible that future.Done is nil pointer refere

[2018-04-25 08:13] salmanbukhari commented on #1695
Sorry, it was my mistake. My colleague added some print statement in the SDK and it was caused due to that.

[2018-04-25 08:13] #1695 closed

[2018-04-25 17:32] jhendrixMSFT commented on #1654
@ragargms I believe you own the [machineLearningExperimentation.json](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/machineLearningExperimentation.json) spec.

[2018-04-26 15:17] joshgav opened #1701 "[Cognitive] remove unneeded parameter in Account Create"
Per [./services/cognitiveservices/mgmt/2017-04-18/cognitiveservices/models.go#L371](https://github.com/Azure/azure-sdk-for-go/blob/fad8443a79b0e755c18c3bec29a8d2bedab0b421/services/cognitiveservices/mgmt/2017-04-18/cognitiveservices/models.go#L371), when a CognitiveServicesAccount is [created](https://godoc.org/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2017-04-18/cognitives

[2018-04-26 18:02] joshgav commented on #1638
Hi @rohrerb and thanks for the request. The Azure SDKs are a simple binding of the underlying HTTP APIs as described in [specs](https://github.com/Azure/azure-rest-api-specs/tree/master/specification) into various languages; we don't provide higher-level functionality in the SDKs, only in e.g. [samples](https://github.com/Azure-Samples/azure-sdk-for-go-samples) or tools like the CLI.

Can you and

[2018-04-26 20:26] marstr commented on #983
There is still a broader effort to improve the story here, but the first wave of listeners is done and can be seen here in the Buffalo-Azure eventgrid SDK:
https://github.com/Azure/buffalo-azure/tree/master/sdk/eventgrid

[2018-04-26 21:56] jhendrixMSFT commented on #1701
@felixwa why is an empty object required and will it be fixed any time soon?

[2018-04-26 21:57] jhendrixMSFT commented on #1701
Swagger reference [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/cognitiveservices.json#L702).

[2018-04-27 17:01] jhendrixMSFT opened #1716 "Group optional method parameters in a struct"
Sometimes RPs add optional parameters to APIs; ideally such a change wouldn't be a breaking change (they are optional) however with the codegen we have today it is.  I propose we group all optional parameters in a struct to avoid this issue.

[2018-04-27 23:48] kpfaulkner opened #1724 "Authentication for Service Bus (and others)"
Sorry if this is a silly question, but it's unclear to me how to use connection strings with the Go SDK. For example I have a connection string for a servicebus. In theory I should just be able to use those creds to start using the servicebus.

Looking at https://docs.microsoft.com/en-us/go/azure/azure-sdk-go-authorization I can see various options (certs etc)... but nothing about using connection

[2018-04-30 01:16] anaskhansherwani commented on #1654
Any progress on this issue? I also encountered the same issue upon successful creation of ML Team Account using CreateOrUpdate method.

[code]
And the exception I got was similar to above:
[code]
I also noticed that since properties like KeyVaultId and VsoAccountId are required to create Team Account, passing any dummy values work and account creates successfully (I verified from portal).

Firstly

[2018-04-30 07:08] tombuildsstuff commented on #1716
@jhendrixMSFT whilst I can see the benefits of this approach - my only concern with this is that it makes it harder to determine that new optional fields have been added in a particular release?

I'm assuming this would take effect in a major version of the SDK, rather than in a minor release?

Thanks :)

[2018-04-30 07:14] Ranjith9 opened #1726 "Getting Response as "{{0xc4201263f0} <nil> <nil> <nil> <nil> <nil> <nil> map[]}""
Hi,

I am creating Resources from Compute and Network. The response I am getting is like

" root@machine:~# go run  create.go
![image](https://user-images.githubusercontent.com/24772433/39417811-62f5cb2c-4c74-11e8-87d7-286ff1e43139.png) "

Here is my code for creating Microsoft.Network

func main() {
        vnetClient := network.NewVirtualNetworksClient(subscriptionID)
        vnetClient.Authoriz

[2018-04-30 12:46] danielhelfand opened #1727 "Feature Request: Azure Active Directory Groups"
I am looking to use Terraform to create and manage Azure Active Directory Groups. My main goal is to create groups and attach roles to those groups.

Creating groups and roles have implications for other Azure services, such as Key Vault. Since Terraform is developed using Go and relies on azure-sdk-for-go, I thought it would make sense to open this issue here.

[2018-04-30 15:50] jhendrixMSFT commented on #1716
You have a good point.  If the consensus is that obscuring new optional params isn't worth it then we wouldn't add this functionality.  I don't know how often this happens but it did happen recently which is why I opened this issue.
Making this change is a breaking change in itself so yeah wouldn't happen outside of a major version bump.

[2018-04-30 16:31] jhendrixMSFT commented on #1136
Scrub is done and merged into latest.

[2018-04-30 16:31] #1136 closed

[2018-04-30 19:57] #1425 closed

[2018-04-30 22:33] jhendrixMSFT opened #1733 "Investigate adding support for the pipeline as an opt-in feature"
As a transition step we should investigate adding support for the pipeline as an opt-in feature.  Current prototype is to add a Pipeline field to the generated clients along with non-exported preparers and responders.  If the Pipeline field is not nil then the API will use it instead of the regular preparer/sender/responder.

[2018-04-30 23:03] joshgav commented on #1727
Thanks @danielhelfand!

Can you meet your scenarios with [graphrbac#GroupsClient.Create](https://godoc.org/github.com/Azure/azure-sdk-for-go/services/graphrbac/1.6/graphrbac#GroupsClient.Create) and [authorization#RoleAssignmentsClient.Create](https://godoc.org/github.com/Azure/azure-sdk-for-go/services/authorization/mgmt/2015-07-01/authorization#RoleAssignmentsClient.Create)?

To get you started:

[2018-04-30 23:06] joshgav commented on #1724
Hi @kpfaulkner. Connection strings are typically for data plane operations while AAD auth is for ARM, can you describe what you're trying to do? Thanks!

cc @devigned

[2018-04-30 23:32] kpfaulkner commented on #1724
Hi

I'm purely wishing to use the servicebus (and not provision anything via ARM etc). As an example, I want to be able to connect to the servicebus, push some messages, get message counts etc. So purely a "using" rather than provisioning.

Thanks

Ken

[2018-05-01 17:42] jhendrixMSFT commented on #1726
What was the previous version of  the SDK you were using?  We've made some changes to how long-running async operations are handled, specifically they now return a future and you need to ask it for the result.  From your code sample I think you need to do the following.
[code]
Let me know how this works for you.

[2018-05-01 19:37] #1666 closed

[2018-05-02 05:48] Ranjith9 commented on #1726
Thanks for the reply.

I have also tried the above code you mentioned. In fact I have tried the examples from the https://github.com/Azure-Samples/azure-sdk-for-go-samples, specifically "CreateVirtualNetwork" function in network package.

func CreateVirtualNetwork(ctx context.Context, vnetName string) (vnet network.VirtualNetwork, err error) {
	vnetClient := getVnetClient()
	future, err := vnetCli

[2018-05-02 09:41] tombuildsstuff commented on #1733
out of interest, what’s the timeframe for moving across to the new Pipeline approach exclusively?

[2018-05-02 16:28] jhendrixMSFT commented on #1733
It will probably depend to some degree on any feedback obtained once we have opt-in support for it.  While I can't commit to a firm date I don't anticipate it happening until after summer of this year as it's a pretty big breaking change.

[2018-05-03 00:22] petitout opened #1772 "Getting missing MSI headers when updating storage account encryption"
Hi,
I'm trying to update a storage account encryption with the following code :

[code]

and I got the following error :

[code]

However this same code is working when I manually update the encryption in the Azure console.

I tried to use azure-sdk-for-go and go-autorest both in master and also go-autorest v11

[2018-05-03 22:44] jhendrixMSFT commented on #1462
I think this is a regression introduced in the fix for https://github.com/Azure/azure-sdk-for-go/issues/1000

[2018-05-04 15:41] marstr commented on #1458
Closing this as stale.

For folks who are reading this thread with the same problem:
Depending on the Azure Region you're targeting, the API Version of the Resource Provider you're using may or may not be available yet. Usually it sends back a message like above with a list of API Versions that should be easy to match-up in our SDK. However, if you target a region where that Resource Provider has

[2018-05-04 15:41] #1458 closed

[2018-05-04 19:08] vladbarosan opened #1795 "Document sdk release process"
We should document properly what is the process :
- for releasing a major version, minor version
- Releasing a generator fix/change ( brekaing and non breaking)

[2018-05-04 22:33] vladbarosan opened #1798 "How to handle preview api in specs stable folder"

[2018-05-04 23:50] danielhelfand commented on #1727
@joshgav As a follow up here, I think my understanding of RBAC with Azure might be misunderstood. I guess that roles aren't assigned to AD groups with Azure. It seems roles are more handled at the user, resource, and subscription levels.

However, groups do allow for controlling access to resources in Azure as documented [here](https://docs.microsoft.com/en-us/azure/active-directory/active-directo

[2018-05-06 06:46] yangl900 commented on #1462
This seems an issue for all clients, container instance has the same problem.

I see the referenced issue had this question

AFAIK Azure-AsyncOperation uri will never return the provisioned resource, regardless it is from a 202 response or 201 response. To get the resource properties, I think we should preform GET on the original resource uri itself.

[2018-05-07 17:41] vladbarosan commented on #867
@joshgav @marstr  is this something we are still chasing or  close ?

[2018-05-07 17:43] vladbarosan commented on #1234
@joshgav can you please have a look at this. I think should be high priority.

[2018-05-07 19:31] marstr commented on #867
This is still something we're chasing.

Truthfully, it probably makes sense to do this at the same time that we move to support `vgo` modules, which are supposed to land in February. I wouldn't mind setting up some time next sprint to experiment with `vgo` and make sure we're still on the right track.

[2018-05-07 19:53] vladbarosan commented on #867
@marstr  February 2019 ? that seems pretty far away and anything could change. I would just close this if that is the case.

[2018-05-07 20:12] marstr commented on #867
Works for me. It doesn't seem like we've been gathering any feedback by having this issue open, which is the only reason I would leave it open.

[2018-05-07 20:15] marstr commented on #867
I do want to qualify my statement above a little. Just because we didn't get feedback here, doesn't mean that there isn't good feedback to hear about this. We don't want to pull a "beware of the leopard"

[2018-05-07 20:32] vladbarosan commented on #867
everyone agrees closing and when vgo comes up we will start tracking issues related to that then.

[2018-05-07 20:32] #867 closed

[2018-05-07 20:51] vladbarosan opened #1804 "Move the VSTS CI to yaml files and check them in."

[2018-05-08 00:34] anaskhansherwani commented on #1654
Is there any progress on this issue? I am thinking of ignoring the exception for now, is this a safe approach?

[2018-05-08 01:00] meirf opened #1806 "unexpected InvalidBlockList error"
Here's my code:

[code]
Note `content` is very small and easily fits in one block.

Detailed request:
[code]

Any idea why my block list is invalid?

[2018-05-08 12:14] ragargms commented on #1654
Hello,

You need a team account in order to create a workspace. This is because workspaces are nested resources under accounts. As for the requirements for key vault, vso and storage account, we had those requirements earlier but key vault and vso got dropped soon after. We will update the model soon. However, you will still need to provide storage account and key for your storage account when you

[2018-05-08 13:17] anaskhansherwani commented on #1654
@ragargms Thank you for detailed reply. I will try workbench.

Also, since I am trying to automate these artifacts, is there any way to pro-grammatically create ML Studio workspace and ML model management account? In portal, for example, we have the option to create a studio workspace. Is it possible in Go SDK?

[2018-05-08 13:29] ragargms commented on #1654
Do you want to create Studio workspace (using Machine Learning Studio workspace) or a workspace within the Machine Learning experimentation account (using Machine Learning Experimentation)? Note: These are two different types of workspaces/resources in Azure. You can automate creation of both. Currently, we do not support Machine Learning Experimentation account workspace creation through portal b

[2018-05-08 13:38] anaskhansherwani commented on #1654
Yes I know these are different. I want to pro-grammatically create both of these (studio + within experimentation). However, I cannot find support for Studio workspace and model management in SDK. Can you please point out how it this possible using Go SDK.

[2018-05-08 14:09] ragargms commented on #1654
I see. Here's the swagger for Studio workspace:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/machinelearning/resource-manager/Microsoft.MachineLearning/stable/2016-04-01/workspaces.json

I will need to check about model management.

FYI: @hning86

[2018-05-08 14:13] anaskhansherwani commented on #1654
@ragargms thanks again. This is Rest API. Is it available in sdk as a function? Just like other CreateOrUpdate functions?

[2018-05-08 14:15] ragargms commented on #1654
Unfortunately not.

[2018-05-08 15:54] jhendrixMSFT commented on #1654
The fact that this package is missing from the SDK seems to be a bug as there is an entry for it in the config file.
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/machinelearning/resource-manager/readme.md#tag-package-workspaces-2016-04-and-go
I can build and add this to the SDK unless @ragargms says I shouldn't.

[2018-05-08 18:30] jim-minter opened #1810 "Go types representing ARM template and parameters"
It would be great if it were possible to marshal/unmarshal entire ARM templates and parameters files to strongly typed Go structs.  At the moment it seems like these are handled everywhere as `interface{}`, which makes validating/modifying these painful and error prone.  As an idea I'd like to be able to do something like:

[code]

[2018-05-08 18:31] jim-minter commented on #1810
@jackfrancis fyi

[2018-05-09 23:49] katbyte opened #1822 "Scheduler Job Collection: quota.MaxRecurrance incorrect description in SDK comments"
The property Interval comment states:
`// Interval - Gets or sets the interval between retries.`
when it really is the max interval between recurrences. Additionally the property above it: RecurrenceFrequency doesn't state its the max frequency, but this is less wrong.

instances:
- https://github.com/Azure/azure-sdk-for-go/blob/56332fec5b308fbb6615fa1af6117394cdba186d/services/scheduler/mgmt/2016

[2018-05-09 23:58] katbyte opened #1823 "scheduler: JobCollectionQuota.MaxJobOccurrence does not seem to do anything."
Setting this value:
https://github.com/Azure/azure-sdk-for-go/blob/56332fec5b308fbb6615fa1af6117394cdba186d/services/scheduler/mgmt/2016-03-01/scheduler/models.go#L755

does not seem to have any effect, I am unsure about the other packages.

[2018-05-10 00:03] katbyte opened #1824 "cosmosdb: client.ListKeys() only returns write keys, but appears to also return read keys."
Looking at `client.ListKeys()` it returns a `DatabaseAccountListKeysResult` that contains a `*DatabaseAccountListReadOnlyKeysResult` pointer:

https://github.com/Azure/azure-sdk-for-go/blob/fad8443a79b0e755c18c3bec29a8d2bedab0b421/services/cosmos-db/mgmt/2015-04-08/documentdb/models.go#L447

This pointer seems to always be nil, regardless of database type.

[2018-05-10 00:10] katbyte opened #1825 "scheduler: JobAction.RetryPolicy.RetryInterval silently fails if input is not in the correct format"
the scheduler job property `JobAction.RetryPolicy.RetryInterval` will silently fail if not in the correct format:

https://github.com/Azure/azure-sdk-for-go/blob/56332fec5b308fbb6615fa1af6117394cdba186d/services/scheduler/mgmt/2016-03-01/scheduler/models.go#L1319

It also seems to loosely accept and return the ISO 8601 format? "00:05:00" is accepted and then returned.

[2018-05-10 00:20] katbyte opened #1826 "scheduler: JobRecurrence.Count silently fails & produces odd results when > 2147483647"
scheduler: JobRecurrence.Count silently fails & produces odd results when > 2147483647.

Could not determine a pattern.

[2018-05-10 17:02] GarrettSYHampton commented on #894
+1 would love to see Go support for Functions!

[2018-05-10 20:27] tombuildsstuff commented on #1234
heads up you can now do multiple issue templates too: e.g. https://github.com/terraform-providers/terraform-provider-azurerm/issues/new/choose 😄

[2018-05-10 22:05] tombuildsstuff opened #1828 "Eventual Consistency bug in the Compute API"
👋🏻

Issue https://github.com/terraform-providers/terraform-provider-azurerm/issues/312 explains an issue when recreating Virtual Machines where the machine has been deleted and upon recreation the Create returns a 404.

An educated guess says this is the API caching that the VM Exists and trying to Upsert it rather than recreating it, but I may be wrong ¯\_(ツ)_/¯

Would someone be able to dig into

[2018-05-10 22:26] vladbarosan commented on #1234
@tombuildsstuff  oh nice , thanks for the heads up 👍

[2018-05-11 23:29] katbyte opened #1829 "Intermittent errors when creating new virtual machine (Disk is expected to have cookie value 'conectix')"
We have a test that is intermittently failing (9 time out of 21 over the last 10 days) with the following error:

[code]

Nothing is changing on our side, and half the errors below are from this error (others are from hitting our quota)
<img width="1069" alt="screen shot 2018-05-11 at 16 14 46" src="https://user-images.githubusercontent.com/1638467/39950592-0c8f1344-5537-11e8-8eb1-d5f2b9789f5d.png

[2018-05-14 20:38] katbyte opened #1830 "automation schedule interval property seems to have lost its type"
Hello,

So it appears that the automation schedule interval property is missing a type somewhere (probably in the swagger).

The portal only accepts decimal values but it fails to create/save them with the error:
<img width="371" alt="screen shot 2018-05-14 at 13 34 14" src="https://user-images.githubusercontent.com/1638467/40022000-8b6119e2-577b-11e8-9fbe-0a3de99f564b.png">

Looking at the [docs:

[2018-05-16 17:06] salmanbukhari opened #1840 "Getting error on deployment of market place image"
I am trying to deploy "SQL Server 2014 SP2 Enterprise on Windows Server 2012 R2" by Microsoft. There is no option to Enable Programmatically Deployment below the Create button so I assume that it will be enabled by default for this image. I got the SKU, OFFER, PUBLISHER, and VERSION  from the automation script.

![file](https://user-images.githubusercontent.com/6597538/40132086-cd13b4dc-5909-11e8-

[2018-05-16 21:41] salameer opened #1848 "Additional retry logic for 410 response"
There’s an additional retry logic that needs to be added to SDKs. This one is due to wireserver upgrades that happen once a month. Wireserver sits between the VM and IMDS service.
During the time of wireserver upgrade, token requests timeout with a 410 error code. The 90% percentile for the upgrade/restart is 2-3 minutes.

[2018-05-18 01:42] jeffreyCline opened #1862 "PostgreSQL returns malformed collation"
### Azure-sdk-for-go Version
[code]

### Expected Behavior
The SDK should be returning a valid collation (e.g. en_US).

### Actual Behavior
The SDK returns a malformed collation (e.g. en-US). The PostgreSQL resource is created by sending a valid collation (en_US), however when you read to object after creation the collation comes back malfored (en-US).

### Steps to Reproduce

[code]

### Referenc

[2018-05-22 21:48] soggysec commented on #1826
If I had to guess, it's because Count is defined as an Int32. 2147483647 = MAX_INT and incrementing it by 1 wraps it around to the MIN_INT, or -2147483648. An example is provided below. A better implementation would use an unsigned int, but you'll still have to account for wrapping

[code]
Running this:
[code]

[2018-05-23 11:47] tombuildsstuff opened #1895 "Role Assignments API fails for new roles"
👋

When attempting to use the Role Assignments API to create a role assignment for a new role (such as `Virtual Machine User Login`) - the API returns the following error message:

[code]

Whilst I can understand this behaviour, this is a poor user experience when users would expect the role assignment to silently handle calling the new API in the background. Would it be possible to reach out to t

[2018-05-24 10:26] tombuildsstuff opened #1904 "[Feature Request] Subscription Management"
👋

This is a feature request for the Service Team more than an SDK feature, but I digress - please let me know if this should be relocated to the Swagger repo?

It's now possible [to create Subscriptions through the API](https://docs.microsoft.com/en-us/rest/api/resources/subscriptionfactory) (I'm assuming, but haven't checked, that there's an SDK for this) - but there's no means of deleting them.

[2018-05-24 20:45] jhendrixMSFT commented on #1840
@jaredmoo is this something you can help with?

[2018-05-25 16:40] cjhpaul commented on #1724
Adding another note, I know .NET and javascript library supports creating service bus resources like queue, and topic with connection string from SAS: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dotnet-get-started-with-queues

However, it seems that AAD is the only option in the golang library. Can we make the library to support connection string as an alternative?

[2018-05-25 16:47] devigned commented on #1724
@kpfaulkner we are working on a Golang Service Bus library and should have a preview out soon. Here's some of the underpinnings we've worked on for Event Hub which also work for SB: https://github.com/Azure/azure-amqp-common-go/blob/master/sas/sas.go.

The https://github.com/Azure/azure-amqp-common-go packages provide much of the basics needed for accessing Service Bus and Event Hub.

Let me know

[2018-05-25 16:57] cjhpaul commented on #1724
@devigned Thanks. Can't wait to see that.

[2018-05-25 18:45] katbyte commented on #1826
I figured it was something to do with `MAX_INT`, as thats how I arrived at the value. However API should not silently fail when its encountered 🙂

[2018-05-29 15:04] joshgav commented on #904
I reviewed the content of the original README (https://github.com/Azure/azure-sdk-for-go/blob/v12.5.0-beta/arm/README.md). Most content is now part of the main README; the following items are available or tracked elsewhere:

* check name availability in Azure Storage: https://github.com/Azure-Samples/azure-sdk-for-go-samples/tree/master/storage
* create a new storage account: https://github.com/Az

[2018-05-29 15:04] #904 closed

[2018-05-29 15:12] joshgav commented on #596
Hi @devigned - We now offer the following samples on creating and assigning roles to a service principal:

* How to create a service principal programatically: https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/master/graphrbac/graph.go
* How to assign roles to that principal: https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/master/authorization/auth.go

If there are scen

[2018-05-29 15:12] #596 closed

[2018-05-29 15:15] joshgav commented on #932
Hi @sptramer - you've likely figured this out by now :), but the version numbers (dates) for profiles don't correlate or correspond with version numbers (dates) for APIs. They both just happen to use YYYY-MM-DD strings for versions; any overlap is coincidental. If you still have questions feel free to reopen this or reach out directly. Thanks!

[2018-05-29 15:15] #932 closed

[2018-05-29 15:20] joshgav commented on #982
Hi @jhendrixMSFT - assigning this to you to help figure out considerations such as only running on Azure instances. I believe we're still blocked on a proper spec though.

[2018-05-29 15:22] joshgav commented on #1020
Hi @dchw, so sorry for the delayed response! We'll need to investigate this with the Cosmos team. Are you still having this issue?

[2018-05-29 15:45] joshgav commented on #1246
Thanks @russellds, we'll look into how to support this API. It's documented at https://msdn.microsoft.com/library/mt704034(Azure.100).aspx but doesn't appear to be specified in the [Azure REST specs](https://github.com/Azure/azure-rest-api-specs) repo.

[2018-05-29 15:54] joshgav commented on #1638
Closing now per [comment](https://github.com/Azure/azure-sdk-for-go/issues/1638#issuecomment-384733952). Thanks for the feedback!

[2018-05-29 15:54] #1638 closed

[2018-05-29 15:58] joshgav commented on #1724
Thanks @kpfaulkner, @cjhpaul and @devigned. As @devigned alluded to, connection strings and SAS tokens are used for data-plane authentication. That is, the Service Bus *namespace* is created through the management library in this repo, but interacting with queues and topics is through a data-plane package which will be at [github.com/Azure/azure-service-bus-go](https://github.com/Azure/azure-servi

[2018-05-29 15:59] #1724 closed

[2018-05-29 16:02] #1637 closed

[2018-05-29 19:20] joshgav commented on #985
This is now available at https://github.com/Azure/azure-event-hubs-go.

[2018-05-29 19:20] #985 closed

[2018-05-29 19:21] joshgav commented on #973
closing in favor of #1596

[2018-05-29 19:21] #973 closed

[2018-05-29 20:05] jhendrixMSFT commented on #1726
I suspect this is the same issue as https://github.com/Azure/azure-sdk-for-go/issues/1462.  This should be fixed in the v17 release which should be released this week.

[2018-05-29 20:08] jhendrixMSFT commented on #1772
Hello!  Sorry for the delay.  How are you creating the authorizer that's associated with storageClient?

[2018-05-29 20:37] jhendrixMSFT commented on #1806
Hello!  Sorry for the delay.  Using the latest version of the SDK (16.2.2) I wasn't able to repro this issue however I didn't see any obvious bug fixes here that would explain the discrepancy.  Are you able to try this against the latest version?

[2018-05-29 20:53] jhendrixMSFT commented on #1806
Hmm I rolled back to v12.2.0 and I still can't repro the issue.

[2018-05-29 21:39] joshgav commented on #1596
in discussion with App Insights team about who will do this work

[2018-05-30 13:51] dchw commented on #1020
@joshgav No, not anymore. We moved to a C# and non-Cosmos backed solution, this was part of the reason

[2018-05-30 16:35] jhendrixMSFT opened #1922 "Poor support for extra headers in API calls"
There is no first-class support for including custom headers in API calls (e.g. see C# [impl](https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SDKs/RedisCache/Management.Redis/Generated/IRedisOperations.cs#L54) customHeaders param).  While this can be worked around for some APIs by calling preparer/sender/responder explicitly there is no way to do this for LRO polling operations as w

[2018-05-30 17:55] jhendrixMSFT commented on #1587
@joshgav Is there somebody from the RBAC team we can loop in?

[2018-05-30 17:59] jhendrixMSFT commented on #1701
This has been moved to the specs repo, see https://github.com/Azure/azure-rest-api-specs/issues/3157.

[2018-05-30 17:59] #1701 closed

[2018-05-30 17:59] jhendrixMSFT commented on #1733
After some discussion we've decided that we won't be doing this in the "v2" codegen.

[2018-05-30 17:59] #1733 closed

[2018-05-30 19:04] salmanbukhari commented on #1840
I was creating the VM in US East Virginia and yes I was able to create the VM using the portal.

[2018-05-30 19:12] tombuildsstuff commented on #1829
👋

So I've found a way of consistently reproducing this:

[code]

From our side it's possible to create a Blob within a Storage Account of a given size and then attempt to attach that to a Virtual Machine. I'm using the following Terraform configuration to create the required resources:

[code]

Once there's a VM - I'm then attempting to attach the disk via a new resource I'm working on - which lo

[2018-05-30 22:01] anilyela commented on #1840
This doesn't seem like a valid location in public azure. Can you double-check if this is the exact name of the region you were using in Portal. We have a region 'USGov Virginia' but that is only availalbe on Azure US gov cloud.

[2018-05-30 22:09] salmanbukhari commented on #1840
I am sorry I meant eastus.

[2018-05-31 13:08] lyda opened #1932 "Using this with golang.org/x/oauth2/microsoft ?"
I'd like to use the `oauth2` library for getting my OAuth token. Not clear on how to use an `oauth2.Token` with this SDK.

[2018-05-31 16:05] jhendrixMSFT commented on #1848
Fixed in https://github.com/Azure/go-autorest/releases/tag/v10.9.1

[2018-05-31 16:05] #1848 closed

[2018-05-31 22:21] jhendrixMSFT commented on #1840
@salmanbukhari do you have a small repro that I can take a look at?

[2018-06-01 05:57] vladbarosan commented on #1932
@lyda here is a gist which does what you might need: https://gist.github.com/vladbarosan/74019046b8e9c9a49ff67d6634e7736d#file-xoauth2example-go

Let us know if that is what you are looking for.

[2018-06-01 07:53] lyda commented on #1932
Not quite, but thanks for the reply. I can get the `oauth2.Token`, the issue is then using it with this SDK.

I need to implement a `autorest.Authorizer` using the `oauth2.Token` I guess? I need to do something like the following although I also need to get the groups my authorized user is a member of, but that seems simple enough.

[code]

[2018-06-01 12:20] tombuildsstuff opened #1943 "Container Registry API returns Storage Account ID in lower-case"
👋

Our automated tests have detected a change in the Container Registry API where the Storage Account ID field is now being returned in lower-case rather than matching the casing/format used by the Storage Accounts API (as is the convention in the rest of Azure). Specifically, when sending the value:

[code]

(which is the ID returned from the Storage Accounts Service) we get back the value:

[cod

[2018-06-01 13:26] tombuildsstuff commented on #1840
after looking into this briefly today / to provide some additional context here: it appears this particular kind of VM [requires a VM Extension to be installed for the SQL Server aspects to be fully configured](https://github.com/terraform-providers/terraform-provider-azurerm/issues/1325#issuecomment-393808762))

[2018-06-01 16:04] jhendrixMSFT commented on #1462
This has been fixed in v17.0.0 of the SDK, https://github.com/Azure/azure-sdk-for-go/releases/tag/v17.0.0

[2018-06-01 16:04] #1462 closed

[2018-06-01 16:05] jhendrixMSFT commented on #1654
@anaskhansherwani In v17.0.0 of the SDK the workspaces package has been added.
https://github.com/Azure/azure-sdk-for-go/tree/master/services/machinelearning/mgmt/2016-04-01/workspaces
Does this resolve your issue?

[2018-06-01 16:06] jhendrixMSFT commented on #1726
This should now be fixed in v17.0.0 of the SDK.  Please re-open if you're still seeing this problem with this version.
https://github.com/Azure/azure-sdk-for-go/releases/tag/v17.0.0

[2018-06-01 16:06] #1726 closed

[2018-06-01 21:21] arluca opened #1948 "Managed Identity/IMDS auth: Configurable retry time-out"
Currently, the retry logic in the Azure SDKs for Managed Identity token generation can make the current thread wait for as long as 15 minutes. For response time sensitive services this might not be acceptable. It could also result in service unavailability if all threads are blocked for a token to be generated when a sudden burst arrives after a cold start.
The developer may want to fast fail afte

[2018-06-02 08:46] salmanbukhari commented on #1840
@tombuildsstuff  I know that but I was just thinking that if that is the case then the error should be different. I will try using these parameters as well. Thanks

[2018-06-02 13:32] siddthota commented on #1840
Are you using Disk size as 127GB minimum? and also Managed disk expects it to be 1023GB.

In your case based on your error, I see your terraform is not able to recognize the image. I remember getting the same error earlier, but l again entered my subscription, service principal details and logged back onto Azure and it worked fine. I feel at times the caching can be an issue. Can you check how you

[2018-06-04 16:35] jhendrixMSFT commented on #1948
Do you have a sample I can investigate?  Until recently (see https://github.com/Azure/go-autorest/pull/281) the retry logic for refreshing an IMDS token had a cap of five iterations with a one second sleep in between.  If you're seeing delays up to 15 minutes there must be something additional at work here.

[2018-06-04 17:06] jhendrixMSFT opened #1954 "Add generator test for a pageable long-running operation"
Almost every time we touch pageable/LRO we break something where the two intersect due to zero test coverage.  Add a test to fill the hole.

[2018-06-04 19:53] siddthota commented on #1840
@salmanbukhari Did it work for you?

[2018-06-05 01:53] meirf opened #1961 "List metric statistic values"
AWS Cloudwatch has an api which allows fetching metric statistics:

 - [CloudWatch GetMetricStatistics REST](https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_GetMetricStatistics.html)
 - [CloudWatch GetMetricStatistics Go implementation](https://docs.aws.amazon.com/sdk-for-go/api/service/cloudwatch/#CloudWatch.GetMetricStatistics)

I have been able to find the REST definition f

[2018-06-05 16:53] #1954 closed

[2018-06-05 18:12] meirf commented on #1961
@jhendrixMSFT any thoughts on this?

[2018-06-05 18:52] rsc opened #1969 "repo is over 100 MB of Go source code and growing"
For vgo I put in a limit of 100 MB of uncompressed source code for any module, thinking surely that would be plenty. (There must be some limit, of course, or else we fill people's disks when receiving a zip bomb.)

It looks like this project recently crossed the 100 MB line, just for the go sources in it:

[code]

Sizes for recent major versions:

    v14.0.0 66,432,773
    v15.0.0 80,010,402

[2018-06-05 19:03] karthiksubraveti commented on #870
When i currently attempt using bad credentials in a negative test, i get back the response as invalid request - For example:
azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request to https://management.azure.com/subscriptions/TEST_AUTH_FAIL/resourcegroups?api-version=2018-02-01: StatusCode=400 -- Original Error: adal: Refresh request failed. Status Code = '400'. Response

[2018-06-05 19:05] jhendrixMSFT commented on #1961
@meirf I believe the package you want is located [here](https://github.com/Azure/azure-sdk-for-go/tree/master/services/preview/monitor/mgmt/2018-03-01/insights).  Let me know if this works for you.

[2018-06-05 19:14] jhendrixMSFT commented on #870
@karthiksubraveti You can call Refresh() on the ServicePrincipalToken and if err is non-nil it should be an adal.TokenRefreshError.  Here's an example.
[code]

[2018-06-05 20:08] karthiksubraveti commented on #870
Great. Thanks for the quick response.

[2018-06-05 20:43] dcopenhaver opened #1971 "expected element type <NetworkSecurityGroup> but have <NetworkSecurityGroups>"
Hello,

"github.com/Azure/azure-sdk-for-go/services/classic/management"
"github.com/Azure/azure-sdk-for-go/services/classic/management/networksecuritygroup"

`	qaMSDNSubID := "your azure sub id"

	certBytes, err := ioutil.ReadFile("/path/to/cert.pem")
	if err != nil {
		fmt.Println("Error reading file:")
		log.Fatal(err)
	}

	classicClient, err := management.NewClient(qaMSDNSubID, certBytes)
	if e

[2018-06-06 03:52] katbyte opened #1974 "Route Table is missing disableBgpRoutePropagation property"
Hello 👋

So it seems that the SDK is missing this property, I can see it in the portal:
<img width="317" alt="screen shot 2018-06-05 at 20 41 35" src="https://user-images.githubusercontent.com/1638467/41015901-2d32f588-6901-11e8-948a-3ee13973cf8f.png">

on resources.azure.com
[code]

But i can find no references to it [in the SDK](https://github.com/Azure/azure-sdk-for-go/search?q=BgpRoutePropagat

[2018-06-06 04:21] salmanbukhari opened #1977 "Creating a Managed Data Disk using blob as source"
There is an option to create a Disk using blob as a source. I want to create a VM with data disks from the specified blob. I cannot find any option in DataDisk to specify source blob URI. Can it be done in VM creation request? I know we can create a disk using blob and attach it to VM. I found two structs DataDisk and Disk. the later has the option to be created using source blob.

[2018-06-06 17:19] jhendrixMSFT commented on #1971
Hello @dcopenhaver thanks for reporting this, I have a fix ready https://github.com/Azure/azure-sdk-for-go/pull/1980, would you mind trying it out to ensure it resolves your issue?  It worked in my local testing.

[2018-06-06 17:40] dcopenhaver commented on #1971
Hello @jhendrixMSFT - Fix verified on my end. Thanks!

[2018-06-06 19:28] jhendrixMSFT commented on #1971
Thanks for verifying, the fix is in https://github.com/Azure/azure-sdk-for-go/releases/tag/v17.2.0.

[2018-06-06 19:28] #1971 closed

[2018-06-06 21:39] jhendrixMSFT commented on #1974
Hello Katie!  I see it [here](https://github.com/Azure/azure-sdk-for-go/blob/master/services/network/mgmt/2018-05-01/network/models.go#L12958), I didn't check the API version though.  Not sure why search doesn't find it.

[2018-06-06 21:43] jhendrixMSFT commented on #1977
@gatneil do you know the answer?

[2018-06-06 22:35] jhendrixMSFT commented on #1826
@pinwang81 I found your user ID in the specs repo history.  Do you work on this service or know who can help?

[2018-06-06 22:57] jhendrixMSFT commented on #1829
@hglkrijger is this something you can help route for investigation?

[2018-06-06 22:58] jhendrixMSFT commented on #1825
@pinwang81 can you help route?

[2018-06-06 22:59] jhendrixMSFT commented on #1823
@pinwang81 can you help route?

[2018-06-07 00:30] meirf commented on #1961
It looks like I'll end up using this to get data from Germany:
`github.com/Azure/azure-sdk-for-go/services/monitor/mgmt/2017-09-01/insights.NewMetricsClientWithBaseURI`

I'm closing this issue. You can see my reasoning below. (If you're feeling generous ptal at the below and let me know if I'm making a big mistake.)

Germany currently supports these api versions:

- 2016-06-01
- 2016-09-01
- 2017-

[2018-06-07 00:30] #1961 closed

[2018-06-07 04:11] gatneil commented on #1977
@singhkays, do we support this?

[2018-06-07 08:12] anaskhansherwani commented on #1654
@jhendrixMSFT thanks. This solves the problem.

[2018-06-07 09:27] lrxtom2 opened #1987 "How can I get "InternalFqdn" field value from NetworkInterface - InterfaceDNSSettings"
Hi team,
I want to use this field "InternalFqdn" in golang, but i can't get this field returned anything.
Could you please tell me that how to use this to get the field returned?

Thanks for all of that.

reference:
github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network
https://docs.microsoft.com/en-us/rest/api/virtualnetwork/networkinterfaces/get

[2018-06-07 16:11] jhendrixMSFT commented on #1654
Fantastic, thanks for letting me know.

[2018-06-07 16:11] #1654 closed

[2018-06-07 17:28] jhendrixMSFT commented on #1830
The interval doesn't specify the data type, see the swagger https://github.com/Azure/azure-rest-api-specs/blob/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/definitions.json#L2898.

[2018-06-07 17:31] jhendrixMSFT commented on #1830
This has been moved to the specs repo https://github.com/Azure/azure-sdk-for-go/issues/1830

[2018-06-07 17:31] #1830 closed

[2018-06-07 18:47] singhkays commented on #1977
Nope, cannot create a Managed VM with blob as source. Have to create the disk first and attach at VM creation.

[2018-06-07 19:35] jhendrixMSFT commented on #1987
@MikhailTryakhov it seems the API doesn't return anything for this field.  Is that expected?

[2018-06-07 20:54] MikhailTryakhov commented on #1987
Hi @jhendrixMSFT  could you please address this question to Mohammed Waqar from DNS team?

[2018-06-07 21:05] jhendrixMSFT commented on #1987
@muwaqar can you please help?

[2018-06-07 22:08] petitout commented on #1772
``
authorizer, err := auth.NewAuthorizerFromEnvironment()
``

[2018-06-08 02:16] jhendrixMSFT commented on #1772
Thanks.  Are you intending to use MSI authorization?  Per the docs for ```auth.NewAuthorizerFromEnvironment()``` it attempts to create an authorizer based on the environment variables you have set in the following order.
1. Client credentials
2. Client certificate
3. Username password
4. MSI
If your intent is not to create an MSI authorizer then either we have a bug or your missing an environment

[2018-06-08 14:27] rickard-von-essen opened #1993 "Compilation fails on any 32-bit architecture with: constant 4294967295 overflows int"
[code]

[2018-06-08 17:04] rickard-von-essen commented on #1993
Trying compiling this on any 32-bit architecture fails with:

[code]

[2018-06-08 17:06] rickard-von-essen commented on #1993
Switching to `int64` is probably going to fix this.

[2018-06-08 17:11] joshgav commented on #1969
Thanks for letting us know @rsc. This will be a consideration for us as we adopt modules here.

[2018-06-08 17:30] joshgav commented on #1648
We don't yet have specs which utilize this feature so we haven't prioritized yet.

[2018-06-08 17:33] EtienneDeneuve opened #1996 "Lack of Ha port in LoadBalancer"
According to terraform azure rm provider the go SDK don’t support yet the new load balancer with HA Ports.
https://github.com/terraform-providers/terraform-provider-azurerm/issues/372

[2018-06-08 17:38] thetonymaster opened #1997 "Missing Primary Attribute for InterfaceIPConfigurationPropertiesFormat"
**InterfaceIPConfigurationPropertiesFormat** is missing the Primary Attribute for the 2017-03-09, profile. The request fails if this attribute is not set.

[2018-06-08 18:51] bganapa commented on #1997
linked issue https://github.com/Azure/azure-rest-api-specs/issues/2578
This needs change in the swagger spec of network version 2015-06-15

[2018-06-08 18:59] knithinc commented on #1997
This is because the "Primary" property is not present in the REST Spec for NRP API version 2015-06-15 which is in the 2017-03-09 Profile.  We'll submit a PR to fix the spec.

[2018-06-08 21:54] petitout commented on #1772
Hi,
we're setting :
- AZURE_TENANT_ID
- AZURE_CLIENT_ID
- AZURE_CLIENT_SECRET
- AZURE_SUBSCRIPTION_ID

that's all.

Thanks !

[2018-06-08 23:12] marstr commented on #1969
Howdy @rsc, thanks for thinking of us!

We've been thinking about splitting up this repository for sometime, but have balked at the overhead of managing a repository per Azure Resource Provider. Modules present a solution that we're excited about. Tentatively, we intend on shipping each of the subfolders in "services" and "profiles" as its own module with its own semver.

[2018-06-09 00:58] katbyte commented on #1822
@jhendrixMSFT: Is that supposed to link to the specs repo? 🤔 links back here

[2018-06-09 00:58] katbyte commented on #1830
@jhendrixMSFT: Is that supposed to link to the specs repo? 🤔 links back here

[2018-06-11 14:51] jhendrixMSFT commented on #1822
Ooops!  Here's the correct link https://github.com/Azure/azure-rest-api-specs/issues/3193

[2018-06-11 15:59] jhendrixMSFT commented on #1772
Hmm I can't repro this with a simple app.  Do you have a simplified repro handy?  Also what version of go-autorest are you using?

[2018-06-11 17:28] jhendrixMSFT commented on #1997
This is fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v17.3.0

[2018-06-11 17:28] #1997 closed

[2018-06-11 17:36] petitout commented on #1772
Hi,
I tried again using latest go-autorest (v10.11.0) and latest azure-sdk-for-go (v17.3.0).
And still have the issue with the following code snippet :

[code]

[2018-06-11 19:13] jhendrixMSFT commented on #1772
Thanks a lot I can repro this issue.  I suspect this has something to do with the ```Identity``` field in ```AccountUpdateParameters``` but the documentation doesn't specify how it should be set, nor is the response error documented.  :(
@blueww can you please help with this issue or route to somebody that can?  To summarize, when calling the update API we receive the following response.
[code]
I

[2018-06-11 19:46] jhendrixMSFT commented on #1806
Hello @meirf is this still an issue for you?  If so do you have a simple repro handy?

[2018-06-11 19:47] jhendrixMSFT commented on #1840
Hello @salmanbukhari any update?

[2018-06-11 19:48] jhendrixMSFT commented on #1977
Hello @salmanbukhari does this answer your question?

[2018-06-11 19:52] jhendrixMSFT commented on #1996
https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-ha-ports-overview

[2018-06-11 19:53] jhendrixMSFT commented on #1996
@seyadava do we have swagger for this yet?

[2018-06-11 20:19] siddthota commented on #1840
@jhendrixMSFT Hi, I'm working on similar item, My Terraform script is spinning up the vm, but not the SQL Config options.

Please do let me know if I need to add anything to make it work - https://github.com/terraform-providers/terraform-provider-azurerm/issues/1325

Thanks!

[2018-06-11 21:12] seyadava commented on #1996
@anzaman I see you have committed some changes on Network specs. Can you weigh in on this? Or include people who can help?

[2018-06-12 02:14] blueww commented on #1772
@petitout
Have you follow all the steps in https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption-customer-managed-keys before enabled Keyvault in Storage Account?

I have tried to set keyvault with the above doc, and it works.

Please note, if your account don't have identity, you need to update it by set the identity as following, and you need to give the account identi

[2018-06-12 03:08] salmanbukhari commented on #1977
Yes @jhendrixMSFT thanks.

[2018-06-12 03:08] #1977 closed

[2018-06-12 06:57] katbyte commented on #1974
Hi @jhendrixMSFT,

Thank you for finding this! It is a bit odd search doesn't return any results even if I search `DisableBgpRoutePropagation` 🤷‍♀️

Was looking at `github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network` and just totally missed it.

[2018-06-12 06:57] #1974 closed

[2018-06-12 20:16] jhendrixMSFT commented on #1587
@jillcary I found your alias in the specs repo, is this something you can help with?

[2018-06-12 20:41] jhendrixMSFT commented on #1948
@arluca Do you have a repro you can share?

[2018-06-12 20:47] jhendrixMSFT commented on #1772
@blueww can we get the docs updated with the ```MissingMsiHeaders``` error code?

[2018-06-12 21:05] jillcary commented on #1587
Hello, are you referring to the PR for adding User Roles to the sdk [here](https://github.com/Azure/azure-rest-api-specs/pull/3165)?
I am working on the [CLI for the Azure IoT Remote Monitoring Accelerator](https://github.com/Azure/pcs-cli) and we found that User Roles were missing from the current API.

[2018-06-12 21:24] joshgav opened #2027 "generate 2018-03-01 profile"
Please use https://github.com/Azure/azure-rest-api-specs/blob/master/profile/2018-03-01-hybrid.json to generate a new hybrid profile. Thanks!

[2018-06-12 21:26] joshgav opened #2028 "PATCH/dictionary change for Managed Identities"
Verify that updates to managed identities are handled by a PATCH (and not PUT) operation.

cc @arluca

[2018-06-12 21:59] joshgav opened #2031 "exclude doc.go from ever being overwritten"
We'd like to add at least a package-level doc for many services. To start we'll put these in `doc.go` files in the package folder. Can we configure autogeneration not to touch or overwrite doc.go files? Thanks.

[2018-06-13 16:42] vladbarosan commented on #1333
@lawrencegripper we reached out to the OperationsManagement team and indeed the spec is out of date.   Adding  @dashimi16 who added the initial spec to provide an ETA of when the spec is expected to be updated.

[2018-06-13 16:44] vladbarosan commented on #1049
@vadmeste right now there is no very convenient way of obtaining the resource group from a storage account. We reached out to the storage team for this.

Meanwhile you can try to use `ParseResourceID` on the resource id of the storage account to obtain the resource group https://github.com/Azure/go-autorest/blob/ed4b7f5bf1ec0c9ede1fda2681d96771282f2862/autorest/azure/azure.go#L163

Let us know if

[2018-06-13 18:29] joshgav commented on #1969
related: https://github.com/golang/vgo/commit/0cf06bb651c56f86ec7b7685f39092ddb7daba39

[2018-06-13 20:12] joshgav opened #2037 "deprecate old storage package when others are GA"
and make sure Table API isn't removed

[2018-06-13 23:52] sajayantony commented on #1943
Not sure why this would have regressed. @ehotinger took a look quickly and will follow up.
But I wasn't unable to repro this either -
https://github.com/sajayantony/acr-mgmt-test/blob/master/main.go

[2018-06-14 00:30] lrxtom2 commented on #1987
Hi,
Thanks for working.
Any update?

[2018-06-14 01:09] SteveLasker commented on #1943
We should also add that we are working towards deprecating Classic, which is the only tier that supports a storage account.
If this is for completeness, understood and we’ll see how/if this is a regression.
From an investment perspective, we haven’t done any recent work in classic and ask customers to use basic, standard or premium. Aka.ms/ACR/skus

[2018-06-14 07:23] ehotinger commented on #1943
@tombuildsstuff can you provide a minimal self-contained repro for this? Just a gist or whatever to show how you're utilizing the SDK. And/or source code for your tests. Feel free to @ me and I'll look at it further.

[2018-06-14 12:22] EtienneDeneuve commented on #1996
Hi Guys,

In terraform we have made it working using the following :

From our side, we have successfully deployed a Azure Load Balancer with HA Ports with the following configuration :
[code]

And it's working ! We simply add "All" in protocol.

Maybe there's nothing to code in go sdk.

[2018-06-14 22:13] jhendrixMSFT commented on #1987
Ping @muwaqar

[2018-06-15 19:51] marstr commented on #2027
The 2018-03-01 profile is a different enough beast, with the granularity set at Resource Types, that I'm not going to be able to get to this item until we tinker with the profileBuilder pretty significantly. I'm going to move this back into the backlog for now as blocked.

[2018-06-17 19:14] carlpett opened #2060 "Broken error message on Key Vault encrypt without algorithm"
(This is probably more of an issue in Key Vault itself, rather than this library, but not clear where to report)

If the `Algorithm` field of `keyvault.KeyOperationsParameters` is left blank in a call to `Encrypt`, the error message given is:
`keyvault.BaseClient#Encrypt: Failure responding to request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="Ba

[2018-06-18 15:38] devigned commented on #984
Here's where the library lives: https://godoc.org/github.com/Azure/azure-service-bus-go

[2018-06-18 15:41] devigned commented on #1724
Hi folks, here's a link to the [Golang Service Bus library](https://github.com/Azure/azure-service-bus-go) as promised.

@kpfaulkner here's how we handle connection strings: https://github.com/Azure/azure-service-bus-go/blob/master/namespace.go#L71-L88

[2018-06-18 17:35] yhere commented on #1020
@joshgav  @vladbarosan  @marstr
We are having the same problem
We can't do basic call's:
1) table.QueryEntities(...
2) entity.Get(...

Can you help?
Tx.

[2018-06-18 19:05] kpfaulkner commented on #1724
awesome, cheers!

[2018-06-18 21:22] jhendrixMSFT commented on #1993
This has been fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v17.3.1

[2018-06-18 21:22] #1993 closed

[2018-06-19 11:07] tombuildsstuff opened #2069 "Container Service API 2018-03-01"
👋

I noticed that version 2018-03-01 is now available in the latest branch: https://github.com/Azure/azure-sdk-for-go/tree/fa8ed08ed42917b9f3a3f27f1096ec92a81de65c/services/containerservice/mgmt/2018-03-31/containerservice

Since it's a new/additive SDK version - would it be possible to include this in the next SDK release? We're looking to upgrade to it to be able to unblock a few issues for us:

[2018-06-19 14:28] tombuildsstuff commented on #1943
@ehotinger sure, here's the code we use to [create the Container Registry](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/resource_arm_container_registry.go#L119-L155), the code used to [Get the Container Registry](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/resource_arm_container_registry.go#L238-L262) and [the Accep

[2018-06-19 15:35] vladbarosan commented on #1049
Let us know if the workaround works for you, otherwise SQL team was made aware of the request and they will decide on how to proceed.

[2018-06-19 15:35] #1049 closed

[2018-06-19 16:46] ehotinger commented on #1943
@tombuildsstuff a minimal repro would be extremely helpful if you don't mind. Can you also cross-reference @sajayantony's example he shared above with your own sub id? His example's more or less identical to the `client.Get` call you have, which I can't repro bad casing for.

[2018-06-19 19:55] vladbarosan commented on #2069
Hi @tombuildsstuff we have it already in the latest branch if you want to try it out [here](https://github.com/Azure/azure-sdk-for-go/tree/latest/services/containerservice/mgmt/2018-03-31/containerservice)

We will be looking to release 17.4 soon which will include `Container Service API 2018-03-01`.

[2018-06-19 23:48] arluca commented on #1948
@jhendrixMSFT : Apologies for the delay. I don't have a repro on this. My understanding is that all SDKs had the same retry logic; however, that might not be true. @yugangw-msft can chime in.

Ideally, the retry logic shouldn't be as simple as waiting one second between each try. There should be some randomization.

[2018-06-20 09:15] akskap commented on #762
@mcardosos Can you please point to the correct link ? Looks like the original page has moved

[2018-06-20 10:57] koalalorenzo commented on #2069
Any ETA on this? :) When this will be ready?
It would be really nice to have AAD + RBAC in Terraform: https://github.com/terraform-providers/terraform-provider-azurerm/issues/1389

[2018-06-20 15:13] jhendrixMSFT commented on #1948
@arluca Recent implementations no longer have this simple one-second cap, specifically we follow the [recommended guidelines](https://docs.microsoft.com/en-us/azure/active-directory/managed-service-identity/how-to-use-vm-token#retry-guidance) (see my previous comment).  Do we still need to make this configurable?

[2018-06-20 15:38] jhendrixMSFT commented on #1716
Should include OData filter parameters.

[2018-06-20 16:34] tombuildsstuff opened #2085 "Container Service SDK doesn't return an error message for 400 errors"
👋

We've noticed that [the Container Service SDK](https://github.com/Azure/azure-sdk-for-go/tree/v16.2.1/services/containerservice/mgmt/2017-09-30/containerservice) doesn't return a complete error message when an `err` object is returned (here's the relevant issue on our side, but we've seen this for other issues too](https://github.com/terraform-providers/terraform-provider-azurerm/issues/1416)):

[2018-06-20 17:34] arluca commented on #1948
@jhendrixMSFT : Yes, it would be great to have the ability to set the max retry limit. This is based on customer feedback, where they want to limit it to a 1-2 seconds and fail, rather than wait for the token.

[2018-06-20 17:57] jhendrixMSFT commented on #2069
v17.4.0 is now available https://github.com/Azure/azure-sdk-for-go/releases/tag/v17.4.0

[2018-06-20 17:57] #2069 closed

[2018-06-20 18:21] koalalorenzo commented on #2069
@jhendrixMSFT what about AAD set up? Is there an issue already for this? (I can't see anything useful into the changelog... )

[2018-06-20 18:31] jhendrixMSFT commented on #2069
@koalalorenzo I'm not sure what you mean by this part, can you please clarify?  If it's something separate from adding the new container service API version we should track it in a separate issue.

[2018-06-20 18:33] koalalorenzo commented on #2069
Since AKS went GA with new features, it would be nice to know if there is already the possibility to use the API to create a new AKS cluster with these new features (one of those is Azure Active Directory + RBAC).

Is this a possibility? Is there already an API to deploy a kubernetes cluster with Azure Active Directory enabled?

[2018-06-20 18:36] jhendrixMSFT commented on #2069
@joshgav do you know, or know who we can follow up with about this?

[2018-06-20 19:23] jhendrixMSFT commented on #2085
@tombuildsstuff I don't suppose you have the response body handy, or even better a simple repro?  I've been having a hard time putting a repro together.  :(

[2018-06-20 19:45] joshgav opened #2089 "[AKS] configure AAD integration"
@koalalorenzo in [2069#comment](https://github.com/Azure/azure-sdk-for-go/issues/2069#issuecomment-398852391):

I believe you'll need to follow instructions [here][4] to create the principal, then use the properties of that principal to populate the [ServicePrincipalProfile][1] within the [Properties][2] struct of [containerservice.CreateOrUpdate][3].

@NeilPeterson is the author of that article -

[2018-06-20 19:46] joshgav commented on #2069
Opened a new issue to discuss further: https://github.com/Azure/azure-sdk-for-go/issues/2089

[2018-06-20 19:52] vladbarosan commented on #2069
@koalalorenzo please follow up on the seperate issue https://github.com/Azure/azure-sdk-for-go/issues/2089 that @joshgav  referenced.

[2018-06-20 19:56] vladbarosan commented on #2089
A couple things to add
 - note that although AKS is GA this specific feature is in preview
 - a small correction to what @joshgav  linked, you need to configure [ManagedClusterProperties](https://godoc.org/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice#ManagedClusterProperties) and use the `enableRBAC` flag.

[2018-06-20 20:11] katbyte opened #2090 "AppsListPublishingCredentialsFuture.Result() panics after 16.2.1 -> 17.x.x upgrade"
Hello,

Looking to update to v17 of the SDK but it appears `AppsListPublishingCredentialsFuture.Result()` now panics. Switching back to `16.2.1` causes the code runs just fine.

I have now tried versions 17.0.0, 17.1.0, 17.2.0, 17.3.0, 17.4.0 and they all panic.

The Panic:
[code]

Calling code:
[code]

(changing to `WaitForCompletionRef` does not put a pause to the panic)

[2018-06-20 20:43] tombuildsstuff commented on #2085
@jhendrixMSFT not to hand, in this case the error came from using an incorrect machine size - however I’ll try and put one together in the morning :)

[2018-06-20 20:45] jhendrixMSFT commented on #2090
@katbyte what version of go-autorest are you using?  There were some changes to the futures implementation in v17 that requires an updated go-autorest as well (v10.9+).

[2018-06-20 22:01] katbyte commented on #2090
Oh sorry @jhendrixMSFT, I should have thought to include that. Here is what we are using:

[code]

[2018-06-20 22:48] neilpeterson commented on #2089
I was able to hack together something using the Azure CLI, not sure it would be helpful or how it would translate to the go client.

Create the following file:

[code]

Run this script:

[code]

@amanohar may know more.

[2018-06-20 23:28] jhendrixMSFT commented on #2090
Thanks I can repro this.  The HTTP response is a 200 and there are no async operation headers which leads me to believe this operation isn't really a LRO.  Still investigating.

[2018-06-21 12:01] Ycallaer opened #2099 "Feature Request: Support "Kafka Enabled" flag EventHub"
Hi,
Currently there is a flag "kafka enabled" on eventhub which is currently under global preview.
This flag is however not reflected in the Go sdk, blocking also the exposure through terraform.
Would it be possible to make this flag available in the SDK ?

Thank you

[2018-06-21 15:49] tombuildsstuff commented on #2085
@jhendrixMSFT I've added a repro in this repo: https://github.com/tombuildsstuff/azure-sdk-for-go-bug-2085

[2018-06-21 15:50] jhendrixMSFT commented on #2085
Thanks a lot, will dig into this today.

[2018-06-21 17:03] tombuildsstuff commented on #1943
@ehotinger I've added an example in this repro: https://github.com/tombuildsstuff/azure-sdk-for-go-bug-1943

e.g.

[code]
Hope that helps :)

[2018-06-21 18:02] joshgav commented on #2089
Thank you @neilpeterson! We'll try to turn that into Go code and add it to the samples repo in https://github.com/Azure-Samples/azure-sdk-for-go-samples/issues/197.

[2018-06-21 19:49] jhendrixMSFT commented on #2090
@katbyte I have a fix for this in go-autorest, should be merged later today.

[2018-06-21 21:10] jhendrixMSFT commented on #2090
Fix is now available in https://github.com/Azure/go-autorest/releases/tag/v10.11.4

[2018-06-21 21:10] #2090 closed

[2018-06-21 21:38] jhendrixMSFT commented on #2085
The good news is this is fixed in recent builds.  I'll figure out which commit fixed it.

[2018-06-21 21:44] jhendrixMSFT commented on #2085
This was fixed in go-autorest v10.9.0 in the future state machine rewrite.  If possible I would recommend moving to v17 of the SDK in conjunction with v10.9 of go-autorest as the futures rewrite included some changes to our code generator which debuted in v17 of the SDK (this didn't introduce breaking changes for consumers, just the internals of some methods).

[2018-06-21 21:44] #2085 closed

[2018-06-21 22:31] jhendrixMSFT commented on #1587
@giampierod sorry for the delay, still trying to find an answer.  Regarding permissions have you seen [this](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/group_getmembergroups)?

[2018-06-21 22:40] jhendrixMSFT commented on #1772
@petitout have you tried the steps recommended by @blueww and if so did it resolve your issue?

[2018-06-21 22:40] jhendrixMSFT commented on #1806
Please reopen if this is still an issue and provide a minimal repro.

[2018-06-21 22:40] #1806 closed

[2018-06-21 22:43] jhendrixMSFT commented on #1840
Please reopen if this has not been resolved.

[2018-06-21 22:43] #1840 closed

[2018-06-21 23:41] joshgav commented on #2099
@ShubhaVijayasarathy this seems to not be available in the API spec: https://github.com/Azure/azure-rest-api-specs/tree/master/specification/eventhub/resource-manager/Microsoft.EventHub. Can you help? Thanks!

[2018-06-22 01:28] petitout commented on #1772
Hi @jhendrixMSFT and @blueww,
sorry for the delay.

I tried this : I went in the Azure web console and went to encryption configuration of the keyvault. I selected "Use my own key" , selected a key and saved (equivalent to step 3 in the doc @blueww pointed to). This worked fine.
Then I unselected "Use my own key" to use Microsoft.storage encryption and saved.
After that I was able to update the en

[2018-06-22 01:42] blueww commented on #1772
@petitout

Good to know you find a way to make the feature work.

I am not the feature owner, so I might not be the best person to answer the feature questions.
(Our team owns storage SDK, but you question is more for feature itself instead of storage SDK.)

If you would like to know the rest API for the pre-requisite step, or any other questions for the feature, you might can open a question in h

[2018-06-22 06:27] waytai opened #2109 "resourceGroupLocation"
where  I can find resourceGroupLocation if am not westus ?
I can't find my resourceGroupLocation

[2018-06-22 07:01] waytai opened #2110 "/github.com/azure-samples/azure-sdk-for-go-samples/quickstarts/deploy-vm$ go run main.go"
failed to create group: resources.GroupsClient#CreateOrUpdate: Failure responding to request: StatusCode=404 -- Original Error: autorest/azure: Service returned an error. Status=404 Code="SubscriptionNotFound" Message="The subscription '47000f32-1714-4b72-b022-aa1b21cfa03f' could not be found."

[2018-06-22 15:37] jhendrixMSFT opened #2111 "Add support for Base64Url primary type in generator"
We haven't implemented support for Base64Url types, we simply emit them as strings.  This leads to confusion about the contents of such fields, see https://github.com/Azure/azure-rest-api-specs/pull/3286 for an example.

[2018-06-22 15:41] jhendrixMSFT commented on #2111
Looks like keyvault data-plane swaggers are the only ones affected.

[2018-06-22 19:33] marstr commented on #2109
There's a list of Azure Regions taht can be found here:
https://azure.microsoft.com/en-us/global-infrastructure/regions/

If you are using the Azure CLI, you can get a list with a dynamically populated list of locations and API Versions supported by each Azure resource provider by running:

[code]

[2018-06-22 19:37] marstr commented on #2110
Make sure to check your subscription ID. You can find this in the Portal or using the Azure CLI by running:

[code]
or

[code]

[2018-06-22 19:37] #2110 closed

[2018-06-23 15:30] joshgav commented on #2089
related: https://github.com/terraform-providers/terraform-provider-azurerm/issues/1429

[2018-06-23 15:34] joshgav commented on #2099
related: https://github.com/terraform-providers/terraform-provider-azurerm/issues/1417

[2018-06-25 14:14] ncw opened #2119 "storage.GetContainerReferenceFromSASURI doesn't seem to work properly"
If I try this program with a SAS URL generated from the Azure portal for a single container I get this error

    GetProperties failed: Head http://.blob./myorganization-test1/hello.txt: dial tcp: lookup .blob.: no such host

The identical code works if I use an account/key or connection string, which leads me to think there must be something from with `storage.GetContainerReferenceFromSASURI`.  S

[2018-06-26 16:03] ehotinger commented on #1943
Thanks @tombuildsstuff, we're looking at it.

[2018-06-26 17:47] vladbarosan commented on #2109
@waytai does this solve your problem ?

[2018-06-26 20:33] ShubhaVijayasarathy commented on #2099
this is not a API specification. Enabling this flag, lets you talk to Event Hubs like you would talk to Apache Kafka. This means, the producers and consumers talking to Apache Kafka can now do the same with just configuration change with Event Hubs. This feature gives you the PaaS Kafka flavor in Azure. Here's more details on this - https://docs.microsoft.com/azure/event-hubs/event-hubs-for-kafka-

[2018-06-26 20:42] vladbarosan commented on #2089
Closing this we are tracking the issue in the Samples repo Azure-Samples/azure-sdk-for-go-samples#197.

[2018-06-26 20:42] #2089 closed

[2018-06-26 22:39] joshgav commented on #2099
This depends on https://github.com/Azure/azure-rest-api-specs/pull/3294.

[2018-06-26 23:46] featheredtoast opened #2130 "postgres 10 support"
Azure supports version 10 of Postgres, but currently this is not supported via this sdk. Please allow "10" as a valid postgres version parameter.

[2018-06-27 01:27] vladbarosan commented on #2130
Hi @featheredtoast the specs have not been updated to reflect that the new version is available. We will reach out to the service team for that.

Meanwhile, the underlying type of the `ServerVersion` is a string, can you try to just specify version `10.0` ?

[2018-06-27 02:17] featheredtoast commented on #2130
Hi @vladbarosan thanks for the quick response - I should note I'm trying to trace this issue through [Terraform](https://github.com/terraform-providers/terraform-provider-azurerm) and it appears to be depending on the azure-sdk lib to determine valid input.

For reference, Terraform reports the following:

`Error: azurerm_postgresql_server.server: expected version to be one of [9.5 9.6], got 10.0`