[2020-06-23 07:36] shemers commented on #3805
Hi @katbyte,
My apologies for the delay in response,
We have involved the engineering team, they have started investigating this issue.
I will keep you posted.

[2020-06-23 19:39] jhendrixMSFT commented on #10732
I like this idea although I wouldn't use the term `swagger` in the tag (we will work on a better term).  This would also be useful for expressing things like read-only properties so we can omit them when sending over-the-wire.

[2020-06-23 20:39] jhendrixMSFT commented on #10463
Unfortunately this is a known limitation with our current design.  As noted, the `omitempty` tag gets in the way here, preventing the sending of `null` across the wire to clear a value.  We have some thoughts on how to fix it, however it's been relatively low priority given the small number of APIs that require this functionality.

[2020-06-24 18:24] Drewm3 commented on #4828
The ListAll API has been updated and deployed to all commercial cloud regions. Listing all VMs will now return the statuses in the instanceview for each VM to expose the PowerState and ProvisioningState for each VM. This is available using the version header of 2019-03-01 or later.

[2020-06-24 18:24] #4828 closed

[2020-06-24 20:59] pabowers opened #10813 "How to tell if a table has successfully been deleted"
Deleting a table is asynchronous so even though the REST endpoint returns as success the table might not actually be deleted at that point.

[2020-06-24 21:13] snobu opened #10814 "auth.NewAuthorizerFromCLI() missing an audience parameter"
I'm trying to get an access token for Azure Key Vault:

[code]

[code]

Looks like ` auth.NewAuthorizerFromCLI()` takes no arguments and we're calling `az account get-access-token` without specifying audience, thus defaulting to `https://management.azure.com`.

[code]
[code]

Is this the expected behavior? `az account get-access-token` has a `--resource` argument we could use here.

[2020-06-24 21:54] jhendrixMSFT commented on #10813
According to the [docs](https://docs.microsoft.com/en-us/rest/api/storageservices/delete-table), if the table is in process of being deleted, any future operations on that table will return a 409 (status conflict) with additional info that the table is being deleted.

[2020-06-24 22:49] jhendrixMSFT commented on #10813
Apparently there is some corner-case where GET will return a 404 (not a 409 as doc'ed) however when you subsequently try to recreate the table it fails with a 409 as the delete is still in progress.

[2020-06-24 23:46] catalinaperalta opened #10815 "Check support for federated users for AAD"
Related to: https://github.com/Azure/go-autorest/issues/378

[2020-06-25 15:47] wsupernor commented on #9510
We have created a script to reproduce this problem on demand - please see comments in https://github.com/Azure/autorest.go/pull/401

[2020-06-25 23:19] scgbear opened #10829 "Azure SDK's Go SDK documentation should provide guidance for asynchronous usage for SQL API scenarios"
### Feature Request

Problem Statement: Azure SDK's Go SDK documentation does not provide guidance for asynchronous usage for SQL API scenarios.

Desired Experience: Update documentation to provide clear guidance for asynchronous usage across different services. Ability for asynchronous usage to work across different services as expected.

Azure SQL server APIs were difficult to use in an asynchro

[2020-06-26 01:37] manicminer opened #10830 "graphrbac: support the replyUrlsWithType property for Applications"
### Feature Request

Looking at the Azure Portal when configuring reply/redirect URLs for applications, it makes use of the `replyUrlsWithType` property of the application resource, available with v2.0 of the API. This property is [undocumented](https://docs.microsoft.com/en-gb/previous-versions/azure/ad/graph/api/entity-and-complex-type-reference#application-entity).

How can we get support for t

[2020-06-26 09:50] tombuildsstuff commented on #6498
@ArcturusZhang is there a timeframe for this Swagger getting fixed?

[2020-06-26 13:03] drdamour commented on #6498
Is this the upstream issue https://github.com/Azure/azure-rest-api-specs/issues/5029 ?

[2020-06-26 20:26] jhendrixMSFT commented on #10732
Current proposal is to use `attr` for the key in the tag.

[2020-06-26 22:37] catalinaperalta commented on #6763
Closing this, the work is checked in to the track2 branch.

[2020-06-26 22:37] #6763 closed

[2020-06-28 03:06] ArcturusZhang commented on #6498
Indeed, thanks for reminding me this. I have tagged the upstream issue to inform the corresponding service team.

[2020-06-28 03:08] ArcturusZhang commented on #6498
Sorry that I do not have a timeframe for this issue...
I will try to make some internal email directly to the corresponding service team

[2020-06-28 05:32] panchagnula commented on #6498
@ArcturusZhang AFAIK password for a cert is always a required property if you are uploading a certificate - for a managed certificate we create the certificate & how are you trying to use this for managed certs? Can you refer to the CLI command here & check how are using the API terraform scripts to use this?  https://docs.microsoft.com/en-us/cli/azure/webapp/config/ssl?view=azure-cli-latest#az-we

[2020-06-28 08:40] ms-premp commented on #5843
this is fixed.

[2020-06-28 09:35] ms-premp commented on #8318
Thanks for the feedback. We will update the swagger in coming month.

[2020-06-28 13:06] jbinko opened #10941 "IntegrationServiceEnvironmentClient, Delete wait for delete completion"
### Feature Request

Currently the SDK has only non blocking Delete operation in IntegrationServiceEnvironmentClient.
The call Delete correctly deletes ISE in async mode but next get operation for status returns immediately NotFound so not possible to check for delete completion.

Please provide the workaround/example how to wait for delete completion of ISE with existing SDK or provide
Integratio

[2020-06-29 00:36] ramaganesan-rg commented on #8319
Closing this issue since its by-design,

[2020-06-29 00:36] #8319 closed

[2020-06-29 06:05] ArcturusZhang commented on #10829
Hi @scgbear thanks for this issue.

We have a [separated repo](https://github.com/Azure-Samples/azure-sdk-for-go-samples) which stores some samples of some of the RPs in the go SDK. And there are some samples related with SQL server [here](https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/master/sql/sql.go).

Go SDK is using the async framework from [go-autorest](https://github.com/Az

[2020-06-29 06:15] ArcturusZhang commented on #10814
Hi @snobu thanks for this issue!

Actually `go-autorest` should have provided this functionality, but well, it is not documented. Go through the code, first we find [this resource parameter](https://github.com/Azure/go-autorest/blob/9210cb7ab0b17b380b7eb28d6a48c96f858d8f0a/autorest/azure/auth/auth.go#L272), and it is read from [here](https://github.com/Azure/go-autorest/blob/9210cb7ab0b17b380b7eb2

[2020-06-29 06:29] ArcturusZhang commented on #10712
Hi @matthchr thanks for this issue!

Our SDKs under the `services` directory is auto-generated using `Autorest` from the [azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs) and so does this SQL package. In some RPs, the service team will add some validations for some of the parameters, but most of them will not and leave the service to panic when received unexpected requests.

Us

[2020-06-29 06:31] ArcturusZhang commented on #10711
Hi @debben thanks for this issue!

But I have to close this issue because this issue is a duplicate of issue #9510 and I have made a PR to the code generator that tries to fix this. Could you please track this issue in #9510 ? Thanks!

[2020-06-29 06:31] #10711 closed

[2020-06-29 07:45] ArcturusZhang commented on #10941
Hi @jbinko thanks for the issue!

Actually the implementation of the deletion of ISE is sync - which should be blocking. But based on your description, this deletion should be async. To resolve this, we will have to first modify the corresponding swagger to mark this operation as `long-running-operation` and usually this should be done by the service team.

In the meantime, could you please provid

[2020-06-29 07:58] jbinko commented on #10941
Basically this call:
resp, err := client.Delete(ctx, id.ResourceGroup, id.Name)
initiates deletion process and returns quickly like in 5 seconds (it is OK) but real deletion of ISE can take 1-2 hours and is in progress in the background. I need to have mechanism to be blocked somehow until the real deletion really finishes. Reason is ISE is occupying my VNET resource and VNET cannot be deleted unt

[2020-06-29 14:29] jhendrixMSFT commented on #10814
You can also call [NewAuthorizerFromCLIWithResource()](https://github.com/Azure/go-autorest/blob/master/autorest/azure/auth/auth.go#L280), or there is a keyvault-specific authorizer you can use [here](https://github.com/Azure/azure-sdk-for-go/blob/master/services/keyvault/auth/auth.go) which basically does the same thing.

[2020-06-29 16:59] ramaganesan-rg commented on #8132
closing the issue. please feel free to reopen if you still see the issue.

[2020-06-29 16:59] #8132 closed

[2020-06-29 17:02] matthchr commented on #10712
@ArcturusZhang

This isn't true.

AutoRest traditionally generates checks automatically for required fields like resourceGroup in most languages - for example [here](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ServersOperations.cs#L272) is the autogenerated validation in C#.
[In Python](https://github.com/Azure/azu

[2020-06-29 17:02] ramaganesan-rg commented on #5843
Closing as per Prem's comments. If you still find the issue persisting, please feel free to reopen.

[2020-06-29 17:02] #5843 closed

[2020-06-29 17:32] matthchr opened #10975 "Use of ptr embedding in KeyBundle (and possibly other types) causes hard to debug nil dereference"
### Bug Report
Go SDK version: v38.0.0
Import Path: "github.com/Azure/azure-sdk-for-go/services/keyvault/v7.0/keyvault/client.go"

I think that this issue could happen on any version and possibly with any SDK though, so it may be generic to AutoRest and not specific to this particular SDK.

AutoRest defines:
[code]

The KeyVault SDK then defines:
[code]

`CreateKey` has the following signature:
`f

[2020-06-30 04:13] ArcturusZhang commented on #10712
Hi @matthchr
The C# code you referenced only checked if the resource group is null or not, which is a firm requirement of avoiding NPE since the string is a reference type in C#. But it does not check whether it is empty.
In golang, string is a value type, which could never be nil, therefore we do not to check if it is nil. I assume python SDK should have checked if the parameter is `None` or not

[2020-06-30 04:19] ArcturusZhang commented on #10712
And finally for your question:

This constraint comes from [here](https://github.com/Azure/azure-rest-api-specs/blob/2e3a8082cbf34602fcf8e544618d57b6d1399d2f/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#L3607), and comparing with the same thing in SQL [here](https://github.com/Azure/azure-rest-api-specs/blob/2e3a8082cbf34602fcf8e544618d57b6d1399d2f/specif

[2020-06-30 04:29] matthchr commented on #10712
@ArcturusZhang  - thanks, that does answer my question very well!

Agree with your original response then that this is something for the service team - thanks for taking the time to look into the above and explain it to me.

[2020-06-30 04:30] ArcturusZhang commented on #10941
@jbinko based on what I am seeing in the response and the status code, this request is not a long-running-operation. Therefore we cannot introduce a Future struct for this function.

It interested me that if after the delete call returns, a immediate get request returns 404, does this mean the delete has been completed? This behaviour sounds very reasonable to me. Or is there any other context?

[2020-06-30 05:45] #8654 closed

[2020-06-30 06:50] jbinko commented on #10941
Correct and this is the challenge I'm referring to. You call delete, it takes 5 seconds to successfully finish with status code 200. The ISE resource disappears from Azure (even from Portal) and you cannot control it/polling it. However the delete operation is still in progress for like next 60 minutes and is still effectively occupying your VNET and you cannot delete VNET until the ISE is truly d

[2020-06-30 16:44] snobu commented on #10814
`NewAuthorizerFromCLIWithResource()` is beautiful, thanks!
Should i add it to the README via PR, somewhere around where `auth.NewAuthorizerFromCLI()` gets mentioned?
I would go one step further and only mention `..FromCLIWithResource()` instead of `..FromCLI()`, as the former only adds confusion right now.

[2020-06-30 16:53] jhendrixMSFT commented on #10814
Glad it worked for you.  Feel free to open a PR and link it to this issue.

[2020-06-30 18:44] jhendrixMSFT opened #11025 "Investigate ways to seamlessly integrate hand-written content alongside generated content"
We don't have a mechanism to integrate hand-written content alongside generated content as AutoRest will delete the contents of the destination directory (you can work around it with with some git magic but it's annoying).

Perhaps if we specify a prefix for generated content, e.g. `generated_`, AutoRest can be made to delete only the destination contents with that prefix so that any other source

[2020-06-30 18:45] jhendrixMSFT commented on #11025
This will be especially problematic for data-plane as there will always be generated content living side-by-side with hand-written content.

[2020-06-30 19:30] snobu commented on #10814
I confirm exporting `AZURE_AD_RESOURCE="https://vault.azure.net` as env var works with `auth.NewAuthorizerFromCLI()`.
Will add this to the readme as well, seems useful.

[2020-06-30 20:42] snobu commented on #10814
This is ready to merge from my perspective:
https://github.com/Azure/azure-sdk-for-go/pull/11023

[2020-06-30 21:02] jhendrixMSFT commented on #10814
Thanks for the PR.  Closing as I believe this is now resolved.

[2020-06-30 21:02] #10814 closed

[2020-07-01 03:23] ArcturusZhang commented on #10975
Hi @matthchr thanks for this issue!

You suggestion is very reasonable. In the current implementation, if the request has some problem and never been sent, the `bundle.Response.Response` would be `nil`, but `bundle.Response` would never be `nil` since it is a struct not a pointer. In your code, there is an implicit property prompt - `bundle.Response.Response` -> `bundle.Response`, which is quite d

[2020-07-01 08:16] aristosvo commented on #9561
@lilyjma @ArcturusZhang Can you please give me an update on the progress?

[2020-07-01 09:07] AbelHu opened #11094 "Failed to create an Azure firewall when adding a network rule with a destinationFqdn"
### Bug Report

- import path of package in question, `services/network/mgmt/2019-09-01/network/azurefirewalls.go`
- SDK version `2019-09-01`
- output of `go version`
 `go version go1.13.8 linux/amd64`

- What happened?
We want to build a firewall with below network rule.
[code]
Below response is returned
[code]

We tried to set `RequireProxyForNetworkRules`, `requireProxyForNetworkRules`, `DNSReq

[2020-07-01 15:04] jhendrixMSFT commented on #10975
Hello!  Agreed that this current pattern is non-intuitive.  However, as @ArcturusZhang points out, changing it would be a significant breaking change so unfortunately we are stuck with it in our track 1 SDK.  For track 2, `KeyBundle` will be returned by pointer, and in the case of an error will be `nil` (e.g. return value would be `(nil, <some error>)`).

However you can still access the underlyin

[2020-07-01 16:22] scgbear commented on #10829
<details>
<summary>Internal Tracking</summary>
CSEF365082
</details>

[2020-07-01 16:23] scgbear commented on #7265
<details>
<summary>Internal Tracking</summary>
CSEF365118
</details>

[2020-07-01 16:24] scgbear commented on #7266
<details>
<summary>Internal Tracking</summary>
CSEF365120
</details>

[2020-07-03 15:41] AbelHu commented on #11094
ping

[2020-07-06 03:23] ArcturusZhang commented on #11094
Hi @AbelHu thanks for this issue!
Unfortunately I do not have much knowledge about this resource, therefore I have tagged this issue so that the service team could have a look at this and answer your question.

[2020-07-06 03:37] ArcturusZhang commented on #10683
Should be resolved in v44.0.0

[2020-07-06 03:37] #10683 closed

[2020-07-06 18:40] ctaggart commented on #10683
thank you @ArcturusZhang ! ❤️

[2020-07-08 06:29] AbelHu commented on #11094
Could anyone from network firewall team help this?

[2020-07-08 21:00] autom8ter commented on #10830
Highly interested in this since its preventing anyone from using terraform to automate the creation & management of single paged AD applications that use the PKCE oauth2 flow.

[2020-07-09 03:45] TonySh127-ms opened #11351 "SDK for Go v38.0.0 KV decryption latency"
### Bug Report
- import path of package in question https://github.com/Azure/azure-sdk-for-go
- SDK version V38.0.0
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
keyValutAlgorithm = keyvault.RSA15

//Client is one interface to define Decrypt function
typeClientinterface {
Decrypt(ctx context.Conte

[2020-07-09 05:25] ArcturusZhang commented on #11351
Hi @TonySh127-ms thanks for this issue!

This looks like some behaviour on the service side rather than the SDK side.
Could you please provide more information about this issue? For instance, some code snippet that could reproduce this issue, and if you can provide some log it would be the best. To get the logs, you can export an environment variable `AZURE_GO_SDK_LOG_LEVEL=DEBUG`

[2020-07-09 08:16] TonySh127-ms commented on #11351
thanks @ArcturusZhang, we will explain with customer side to collect the debug log if it is possible from their end. I will also consult PG side to have further investigation at service side. Based on comment from PG, they still recommend to upgrade the SDK version.

[2020-07-09 08:16] #11351 closed

[2020-07-09 16:59] sideeksh commented on #8705
We are still reviewing and will respond with an update shortly.

[2020-07-09 23:22] dmitsh commented on #4828
@Drewm3, I'm trying to use the new API, and I'm seeing the following issue.
If I set `statusOnly` to "true" in `ListAll`, then the returning compute.VirtualMachine object has `StorageProfile=nil`.
With `statusOnly` set to empty string, the returned `StorageProfile` point to a valid object.
I'm using `StorageProfile` to extract OS type: `osType := string(vm.StorageProfile.OsDisk.OsType)`

Is this a

[2020-07-10 14:31] neil-yechenwei opened #11475 "Failed to delete resource NetApp Volume when the delete API of NetApp Snapshot returns 404"
### Bug Report

- Import path of package in question: https://github.com/Azure/azure-sdk-for-go/tree/master/services/netapp/mgmt/2019-10-01/netapp
- SDK version: v43.2.0
- Output of `go version`: go version go1.12.7 windows/amd64

- What happened?
The resource NetApp Snapshot depends on the resource NetApp Volume. Although the delete API returns 404 which means the NetApp Snapshot resource has bee

[2020-07-11 00:47] jhendrixMSFT commented on #9038
Fixed.

[2020-07-11 00:47] #9038 closed

[2020-07-14 05:55] Petermarcu commented on #5226
@schaabs do you know the answer?

[2020-07-14 19:53] rushabh268 opened #11574 "List Tenants returns nil for DisplayName & Domains instead of its actual values"
### Bug Report

- import path of package in question
services/resources/mgmt/2019-11-01/subscriptions/

- SDK version
44.0.0

  - Specify the exact commit if possible;
     github.com/Azure/azure-sdk-for-go  ^44.0.0        v44.0.0        c536f2d   v44.0.0  15
     github.com/Azure/go-autorest           ^14.0.0         v14.1.1         778ae56   v14.2.0  10
- output of `go version`
go version go1.14

[2020-07-14 21:18] zezha-msft commented on #5226
Hi @omerlh, to confirm, are you using azblob?

[2020-07-14 21:32] fnocera opened #11575 "SQLVirtualMachinesClient.Get returning 500"
### Bug Report

- import path of package in question: `azure-sdk-for-go/services/preview/sqlvirtualmachine/mgmt/2017-03-01-preview/sqlvirtualmachine/sqlvirtualmachineapi/`
- SDK version: `github.com/Azure/azure-sdk-for-go v44.0.0`

- What happened?
We are using the `azurerm_mssql_virtual_machine` terraform provider which recently got a dependency update to `azure-sdk-for-go v44.0.0` in this [commi

[2020-07-14 23:16] jongio commented on #11575
@mayurid @jhendrixMSFT - Thoughts on who could have a look at this?

[2020-07-15 01:22] fnocera commented on #11575
As an update we have also tried with azurerm provider version 2.10.0 but we are getting the same error.

[2020-07-15 02:29] ArcturusZhang commented on #11475
Hi @neil-yechenwei thanks for this issue!
Step 6 when you delete the netapp snapshot, it returns 202, which sounds this should be async to me. If a delete request succeeds and returns, typically it should return 200 instead of 202.

And I just checked the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/115dee0d25929469490cd314f24349ebeff4ea89/specification/netapp/resource-manager/Micr

[2020-07-15 02:40] ArcturusZhang commented on #11574
Hi @rushabh268 thanks for this issue!

Usually the List API returns a result with pagination, which means only call `tenantList.Values()` may not get the full result, you have to check if there is a next page. You can use the function `tenantList.NextWithContext(ctx)` to move to next page, and so on. By accumulating all the results in every page, you would get  your full list of the results.
In so

[2020-07-15 02:58] rushabh268 commented on #11574
@ArcturusZhang Thank you for the quick response. I tried ListComplete as well but my problem is different. I understand the issue with pagination. My issue is - I have a single tenant in a subscription - It is not returning the DisplayName & Domains for that tenant. I get the TenantId, TenantCategory and Id but not the DisplayName & Domains using the Golang SDK.

I tried the REST API (https://docs

[2020-07-15 03:45] ArcturusZhang commented on #11574
I see. Could you please make some log of the SDK and posted here?
You can enable logging referring to [this](https://github.com/Azure/azure-sdk-for-go#built-in-basic-requestresponse-logging) by exporting an environment variable `AZURE_GO_SDK_LOG_LEVEL=DEBUG`

[2020-07-15 04:11] rushabh268 commented on #11574
@ArcturusZhang Here's the log from the SDK request:

[code]

[2020-07-15 04:12] rushabh268 commented on #11574
As you can see above, there is no Domain or DisplayName attribute set in the response even when it should be as documented here: https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-11-01/subscriptions?tab=doc#TenantIDDescription

[2020-07-15 05:15] mybayern1974 commented on #11575
A service rest api issue got filed: https://github.com/Azure/azure-rest-api-specs/issues/10144. Per investigation this is not something abnormal on Terraform or GO SDK, but at the service behavior.

[2020-07-15 05:36] ArcturusZhang commented on #11574
Well, based on the given response, it is unlikely caused by the SDK itself, since the service never returns them in the response. Therefore the SDK surely cannot get them.

I noticed that in the doc you posted, the example is using api-version 2020-01-01. This may be the problem.

[2020-07-15 05:50] ArcturusZhang commented on #11574
Hi @rushabh268 I just tried on the doc page changing the api-version to 2019-11-01, I could properly get the DisplayName and Domains.
Also I wrote this little piece of testing program
[code]
Debugging it and get the following output on `DisplayName` and `Domains`:
![image](https://user-images.githubusercontent.com/10554446/87508402-e6a79c80-c6a1-11ea-8796-b2037a940dfb.png)

Based on the above repr

[2020-07-15 06:13] #10682 closed

[2020-07-15 14:45] fnocera commented on #11575
We have continued our investigation on this to understand the exact API calls being made by the go sdk. This is the exact GET request being made
[code]

The "expand" query params are being incorrectly encoded as `%24expand=` instead of `$expand=`. Running the above API call directly returns a 500 error `{    "error": {        "code": "InternalServerError",        "message": "An unexpected error oc

[2020-07-15 15:58] jongio commented on #11575
@ArcturusZhang - Looks like this is not service issue, can you try to repro with @fnocera steps above?

[2020-07-15 16:42] rushabh268 commented on #11574
Hi @ArcturusZhang Thank you for directing it to the right team. On my Golang SDK, I am using  api-version as 2019-11-01 because that's the latest available version of subscriptions package. I doubt the problem is on the service because when I use  https://docs.microsoft.com/en-us/rest/api/resources/tenants/list for the same subscription, I see DisplayName & Domains being returned correctly and I c

[2020-07-15 17:16] fnocera commented on #11575
As an update on the above @jongio and @ArcturusZhang: We have realized that the API call works correctly if the params are: `$expand="*"` but does not work if it is `$expand=*` ie without the expand being passed as a string.

Perhaps then it is an issue with the sdk not converting this to a string. Let me know your thoughts.

We used this to repro https://docs.microsoft.com/en-us/rest/api/sqlvm/sq

[2020-07-16 05:25] vasundhara785 opened #11691 "Upload files to adls using go code"
### Service Package Request

Hi,

I want a sample go application to upload files from on premises to ADLS gen1 .

Thanks in advance.

[2020-07-16 12:08] jmcshane opened #11692 "Support custom headers for AKS"
### Feature Request

Provide a way to specify aks-custom-headers during the creation of a cluster. This is required for setting OS level configuration as described [here](https://docs.microsoft.com/en-us/azure/aks/cluster-configuration).

[2020-07-17 05:59] ArcturusZhang commented on #11575
Hi @fnocera the special symbol `$` is encoded to `%24` when sending the request and it should be decoded when reach the service. (actually go SDK is doing this in every package)

And I also tried to reproduce by using this https://docs.microsoft.com/en-us/rest/api/sqlvm/sqlvirtualmachines/get#code-try-0. But I could get 200 either use `$expand=*` or `$expand="*"` and if the I use a random sql vm n

[2020-07-17 06:02] ArcturusZhang commented on #11575
And I also wrote following simple code to reproduce this:
[code]
And I just normally get a 404
[code]
The request:
[code]

[2020-07-17 07:56] run1et opened #11763 "ListAllByDNSZoneComplete (services/dns/mgmt) doesn't return all records in case of pagination"
# Bug Report

- related issue: https://github.com/StackExchange/dnscontrol/issues/770
- import path of package in question, e.g. `services/dns/mgmt/2018-05-01/dns`
- SDK version e.g. `master` (tested on `v43.3.0`): `github.com/Azure/azure-sdk-for-go v42.3.0+incompatible`
- output of `go version`: `go version go1.14.2 darwin/amd64`

## What happened?

I am using https://github.com/StackExchange/dns

[2020-07-17 09:19] meowingtons commented on #11763
It seems like this may be related?

https://github.com/Azure/azure-sdk-for-go/issues/9510

There is a PR to fix that issue - https://github.com/Azure/autorest.go/pull/433

Not sure though, if these are the same problem.

[2020-07-17 17:09] rnagpal commented on #6603
@shurd : Do you have any updated ETA for this?

[2020-07-17 17:21] ncole opened #11764 "API for Deprecated versions"
### Feature Request

Use case (version numbers are aribitrary, but recent):
* Deploy a Kubernetes cluster using 1.15.10
* After some time, 1.15.10 is deprecated because of a bug that is fixed in favor of 1.15.11.
* Clusters can only be made with versions 1.15.11, 1.15.12.

I would like to understand when my deployed 1.15.10 cluster is deprecated.  Either via `ManagedClusterProperties` or using the

[2020-07-20 13:13] Maarc-D commented on #4086
Hello,

Same need, I've try to find out where adding config file to let autorest mais the job of the services folder like said in https://github.com/Azure/azure-sdk-for-go/blob/master/CONTRIBUTING.md
I tried to start implementation on : https://github.com/Maarc-D/azure-sdk-for-go/tree/feat/graph-api-1.0 Because it's really needed on our side
But I can't find out where a stored the configfiles for

[2020-07-20 19:29] rushabh268 commented on #7738
@ArcturusZhang I am seeing this issue as well. Any chance when this can be fixed?

[2020-07-21 03:16] ArcturusZhang commented on #7738
Hi @rushabh268 sorry for the inconvenience but this has to be fixed on the service side rather than in this SDK. Therefore I have tagged this issue again with the `Service Attention` label which would send notifications to the corresponding service team and they may have a look at this issue

[2020-07-21 03:28] ArcturusZhang commented on #11763
Hi @run1et thanks for this issue! And thanks for @meowingtons for staying tuned!

I am not sure if this is exactly the same issue as #9510 since it is talking about issues raise when the service returns both empty `value` and non-empty next link, but this issue should be at least related.

Hi @jhendrixMSFT could you please have another review on [the fix in `autorest.go`](https://github.com/Azure/

[2020-07-21 08:18] ArcturusZhang commented on #11691
Hi @vasundhara785 thanks for this issue!

Unfortunately regarding on this topic I could only find [this documentation](https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-offline-bulk-data-upload), and by searching some of the key words, I do not find anything related in the current go SDK. This functionality should be supported by some data plane SDK of the datalake.

Hi @jhend

[2020-07-21 14:35] jhendrixMSFT commented on #11691
Hello!  We do have a package for datalake, you can find it here.

https://github.com/Azure/azure-sdk-for-go/tree/master/services/storage/datalake/2019-10-31/storagedatalake

Unfortunately we don't have a sample detailing how to use this package to upload/download content (the majority of the SDK is automatically generated from swagger files).

[2020-07-21 18:51] gapariha commented on #5412
Hi @jhendrixMSFT - I'm also seeing similar issue as above while trying to authN with certificate using Go auth SDK: "github.com/Azure/go-autorest/autorest/azure/auth"   NewAuthorizerFromEnvironment()

`"Error": "failed to get oauth token from certificate auth: failed to decode pkcs12 certificate while creating spt: pkcs12: expected exactly two safe bags in the PFX PDU"`

Wondering if there has bee

[2020-07-21 22:25] jhendrixMSFT commented on #2576
Done in track 2.

[2020-07-21 22:25] #2576 closed

[2020-07-21 22:26] jhendrixMSFT commented on #1716
Done in track 2.

[2020-07-21 22:26] #1716 closed

[2020-07-22 06:42] vasundhara785 commented on #11691
Hello!!!

So yeah i have written my application using  https://github.com/Azure/azure-sdk-for-go/tree/master/services/datalake/store/2016-11-01/filesystem.Its working fine.!

Much thanks!!!

[2020-07-22 08:50] ArcturusZhang commented on #11691
Hi @vasundhara785 glad it works and if you do not mind I will then close this issue. Thanks!

[2020-07-22 08:50] #11691 closed

[2020-07-22 18:32] jhendrixMSFT commented on #5412
No update here as we don't have a repro to investigate further.  How was your cert created?

[2020-07-22 20:57] anlatsko commented on #6374
I've been seeing this same error. Is there any movement on this issue and is there a workaround? We've had a volume that we've been unable to delete for multiple months with this exact same error. We've tried through the Python API and through the portal.

[2020-07-23 07:05] gapariha commented on #5412
I see. I have generated the cert in the KeyVault with OneCert CA.
In the PEM file, I can see one private key and but 3 certificate sections.

[2020-07-23 08:23] lukibahr opened #11868 "Provide example for listing subscriptions in a tenant"
### Feature Request

Could you provide a sample for listing subscriptions in a tenant? made it work by using manual api calls, but not using the azure-sdk.

Thanks in advance

[2020-07-23 14:43] fnocera commented on #11575
I believe this is resolved

[2020-07-23 14:47] rayanebel opened #11869 "[BUG][NEED HELP] Costmanagement Query wrong payload format (404 Bad request)"
Hello,

I'm trying to make a query on Azure Cost Management service by using the API and the Golang SDK. When I tried to execute it I have a `Bad Request` error and I don't understand what's going on.

Here you can find my code:

[code]

Here you can find the error:

[code]

I don't understand where is my error because, when I tried to make my query from the Azure Portal and retrieve the `http req

[2020-07-23 14:54] nickzhums commented on #11575
@fnocera thanks, we'll close this issue now

[2020-07-23 14:54] #11575 closed

[2020-07-23 19:02] joshfree opened #11870 "Azure Identity Extensions Support for using Go Azure.Identity with Track-1 SDKs"
Filing a tracking issue to investigate adding Go support for Azure Identity Extensions, and to see if there is any general feedback on the tracking issue from the community (e.g., is there a need)

https://github.com/jongio/azidext#azure-identity-extensions

[2020-07-23 19:03] joshfree commented on #11870
/cc @jongio

[2020-07-23 19:05] joshfree opened #11871 "Azure Identity Iron Semester for Go"
The Azure Identity library provides Azure Active Directory token authentication support across the Azure SDK. It provides a set of TokenCredential implementations which can be used to construct Azure SDK clients which support AAD token authentication.

This issue tracks the new features, reliability improvements, and the release of minor updates to Azure.Identity for the Go programming language du

[2020-07-23 22:46] joshfree opened #11873 "Move to latest App Services MSI API version"
- Move Azure.Identity to the latest App Services MSI API version.
- Update /sdk/e2e Azure Functions date parsing tests

[2020-07-23 22:47] joshfree opened #11874 "Support SubjectName/Issuer (SNI) certificate authentication for Service Principals"
Support SubjectName/Issuer (SNI) certificate authentication for Service Principals

[2020-07-23 22:48] joshfree opened #11875 "Add ADFS / Azure Stack Support"
- On-prem active directory instance support
- Requested by CLI / PSH for .NET and Python

[2020-07-23 22:50] joshfree opened #11876 "Azure.Identity Support for Managed Identity for Azure Arc Applications"
Managed identities for Azure resources provide Azure services with an automatically managed identity in Azure Active Directory. Using a managed identity, you can authenticate to any service that supports Azure AD authentication without having credentials in your code.

https://azure.microsoft.com/en-us/services/azure-arc/

https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-

[2020-07-23 23:03] joshfree opened #11877 "Add "Use Console" Option to DeviceCodeCredential"
Investigate adding a "Use Console" option for Device Code Credential

[2020-07-23 23:12] joshfree opened #11878 "Azure.Identity Support for Managed Identity for Service Fabric Applications"
A common challenge when building cloud applications is how to securely manage the credentials in your code for authenticating to various services without saving them locally on a developer workstation or in source control. Managed identities for Azure solve this problem for all your resources in Azure Active Directory (Azure AD) by providing them with automatically managed identities within Azure

[2020-07-23 23:30] CecileRobertMichon opened #11879 "Support for Tags CreateOrUpdateAtScope (resources API Version: 2019-10-01)"
### Feature Request

I don't see the 2019-10-01 API version for resources in https://github.com/Azure/azure-sdk-for-go/tree/master/services/resources/mgmt. I need it for CreateOrUpdate for tags (https://docs.microsoft.com/en-us/rest/api/resources/tags/createorupdateatscope). I am missing something or has support not been added yet?

[2020-07-24 00:04] #5915 closed

[2020-07-24 16:10] #9510 closed

[2020-07-24 16:18] ArcturusZhang commented on #11879
Hi @CecileRobertMichon thanks for this issue!

The package will soon be released after [this PR](https://github.com/Azure/azure-rest-api-specs/pull/10249) is merged

[2020-07-24 16:23] ArcturusZhang commented on #11868
Hi @lukibahr thanks for this issue!

You could find an example using this SDK in #11574 . To get a program calling pure REST API, you could just run that example by exporting environment variable `AZURE_GO_SDK_LOG_LEVEL=DEBUG`, and the REST API URL as well as its payload would be displayed to stdout, then you could use those information to write your own program using your own http client (you wil

[2020-07-24 16:32] CecileRobertMichon commented on #11879
Perfect thank you @ArcturusZhang !

[2020-07-26 13:43] akshaybabloo commented on #9956
Any update on this?

[2020-07-26 20:04] connor4312 opened #11916 "Provide a way to get a secret by identifier in KeyVault"
### Feature Request

Currently the (only) method to get a secret is defined as

[code]

There's no way to get a secret by its identifier (URI).

- The URI is the easy copy-able value given in the portal, so taking that is convenient
- In calling `GetSecretVersion`, the returned secret also includes its identifier only. If I want to then get th secret value after getting its version, I need to manu

[2020-07-27 08:57] rayanebel commented on #11869
Ping!
Anyone have any idea about my problem ?

[2020-07-27 15:46] meowingtons commented on #11763
@run1et @ArcturusZhang,

It looks like the fix for #9510 was merged, what's the easiest way to test this to see if it's fixed or related?

Thanks!

[2020-07-28 02:06] ArcturusZhang commented on #11763
Those changes should be applied in this month's major release

[2020-07-28 10:33] run1et commented on #11763
I've fixed this issue in https://github.com/StackExchange/dnscontrol/pull/791
Looks like it's not related to the SDK and my fix is working with `github.com/Azure/azure-sdk-for-go v43.3.0+incompatible`. I moved from `ListAllByDNSZoneComplete` to `ListAllByDNSZone` and a proper iterator usage.

I checked `ListAllByDNSZoneComplete` with SDK from `master` branch — the same behavior as I described in t

[2020-07-29 01:55] tamilmani1989 commented on #5412
@jhendrixMSFT i'm also hitting the same issue..i created sslcert from azure keyvault. Can you please let us know how you tested it?

[2020-07-29 06:04] jhendrixMSFT commented on #5412
Presumably your certificate contains multiple sections too.  Are these intermediate authorities?  I don't have a repro but this is my current assumption.

The guts of this code was written before I joined the Go SDK team.  Presumably the original authors tested it with a cert that contained only the root authority (will try to find more info).

[2020-07-29 06:35] tamilmani1989 commented on #5412
@jhendrixMSFT  Repro steps: create cert issued by ssladmin(choose integrated CA) from azure keyvault and download the pfx file. Then run the above sample code.

No issues with self signed certificate but certificates issued by integrated Authority CA are failing

we should have supporting api to decode pfx data issued by integrated authority CA

[2020-07-29 07:15] tamilmani1989 commented on #5412
I figured out a way. Since it contains more than one cert, we have to use pkscs.ToPEM and then convert to x509 certs.

[2020-07-29 09:46] MarkDordoy commented on #9714
Any idea when this bug will be fixed?

[2020-07-29 11:42] ArcturusZhang commented on #11916
Hi @connor4312 thanks for this issue!
Unfortunately the keyvault team does not provide such an API for this. And by the nature of the SDK, which is auto-generated from the swagger provided by the service team, we could do very little regarding on this.

But please check out [this implementation](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/helpers/azure/key

[2020-07-29 14:44] jhendrixMSFT commented on #5412
Thanks for the info, I will try to repro this.  Can you share the code changes you made that fixed it for you?

[2020-07-29 14:53] kosinsky opened #11967 "hdinsight.AutoscaleConfigurationUpdateParameter omits empty Autoscale"
### Bug Report

- import path of package in question, e.g. `...services/preview/hdinsight/mgmt/2018-06-01-preview/hdinsight`
- SDK version `latest`
  - new type was introduced in https://github.com/Azure/azure-sdk-for-go/pull/11841/
- output of `go version` `go version go1.14 darwin/amd64`

Autoscale field defined with `omitempty`
[code]
As a result when setting it to `nil` it will be serialized t

[2020-07-30 07:47] lukibahr commented on #11868
Thank you @ArcturusZhang !

Got a list of subscriptions, where a service principal is mapped on with the following go function:

`func listSubscriptions(authorizer autorest.Authorizer, ctx context.Context) {
	client := subscriptions.NewClient()
	client.Authorizer = authorizer
	resp, err := client.List(ctx)
	if err != nil {
		fmt.Print(err)
	}
	for _, r := range resp.Values() {
		subscriptionId :=

[2020-07-30 08:24] rogercoll opened #12024 "RecoveryPointTierType Unmarshalling JSON Error"
### Bug Report - RecoveryPointTierType Unmarshalling JSON Error

- import path:  `.../services/recoveryservices/mgmt/2020-02-02/backup`
- SDK version `master`
- Go version: `go version go1.13.4 linux/amd64`

If I try to list or get a Recovery Point I get and Unmarshalling Error. One example SDK call could be:
[code]
The error produced by the previous code is:

`2020/07/30 09:52:04 backup.RecoveryP

[2020-07-30 21:53] tamilmani1989 commented on #5412
func decodePkcs12(pkcs []byte, password string) (*x509.Certificate, *rsa.PrivateKey, error) {
        blocks, err:= pkcs12.ToPEM(pkcs,password)
        if err != nil {
                return nil, nil, err
        }

        var (
           cert *x509.Certificate
           priv *rsa.PrivateKey
       )

       for _, block := range blocks {
          if block.Type == "CERTIFICATE" {
            i

[2020-07-31 04:58] lilyjma commented on #10830
@armleads-azure any updates?

[2020-07-31 04:59] lilyjma commented on #10941
@ArcturusZhang any updates?

[2020-07-31 06:05] aim-for-better commented on #11967
I am checking.

[2020-07-31 08:35] Alex-Bowman-Aw commented on #3148
Looks like Microsoft are planning to retire support for ADAL and are recommending migration to MSAL

[2020-08-02 17:48] Segflow opened #12077 "resources: pin API version"
### Feature Request

Unlike other clients, the `resources.Client` [methods](https://godoc.org/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-05-01/resources) all expect an APIVersion parameter, which can be pinned like in the other clients.

[2020-08-03 02:37] ArcturusZhang commented on #12024
Hi @rogercoll thanks for this issue!

This should be a swagger issue - the swagger definition is not consistent with what the API returns.

I have tagged this issue so that the corresponding service team will have a look at this.

[2020-08-03 02:47] aim-for-better commented on #11967
@kosinsky  Yes the null property was emitted in json. But both `{}` and `{"autoscale": null}` can disable autoscale successfully.

Thanks for this issue. We will update the doc as soon as possible.

[2020-08-03 03:59] pvrk commented on #12024
"This should be a swagger issue - the swagger definition is not consistent with what the API returns."
@ArcturusZhang : Thanks for helping to narrow down the probable root cause.

Forwarding this to my service team for investigation.

[2020-08-03 04:00] pvrk commented on #12024
@pratimaupadhyay02: Can you please take a look at this issue?

[2020-08-03 06:11] ArcturusZhang commented on #12077
Hi @Segflow thanks for this issue!

Unfortunately those api-versions are by-designed and we will not fix them to a constant value.

I am going to take `CreateOrUpdateByID` as an example. The signature is
[code]
This function consumes a `resourceID`, an `APIVersion` and a resource parameter.

This method is used to create **any resource from any RP** by using the given ID and APIVersion. Internally

[2020-08-03 14:38] jhendrixMSFT commented on #7542
Fixed

[2020-08-03 14:38] #7542 closed

[2020-08-04 12:00] aim-for-better commented on #11967
@kosinsky  Could you please confirm that `{}` can work or not from you side?

[2020-08-04 15:51] kosinsky commented on #11967
@aim-for-better `{}` worked for me too. Could documentation at https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-autoscale-clusters#using-the-rest-api be updated to avoid confusion for next person?

[2020-08-05 06:20] deshriva commented on #11967
@kosinsky Thanks for the feedback. We usually document a way that is easily understood by all our customers (beginners and/or advanced). The document is listing one of the ways to disable autoscale, there can be other ways, like in this case {}. I would like to understand why was it confusing as both would have worked?

[2020-08-05 13:33] #11868 closed

[2020-08-05 13:33] lukibahr commented on #11868
issue closed as the thread above solved the problem.

[2020-08-05 14:38] AdamCoulterOz commented on #6498
I'm pretty sure its something like this .... but there is a problem with the bind ...

Step 1: Create Managed Certificate... which works perfectly
[code]

Step 2: get the {certificate_thumbprint} from the json object output from 1

Step 3: Bind the certificate to the website custom domain name

[code]

When running step 3 I get an error saying **`Certificate for thumbprint 'xxxx' not found`**. So

[2020-08-05 14:57] AdamCoulterOz commented on #6498
I was also able to get the bind to work with this newer api:

[code]

Body:
[code]

[2020-08-05 15:11] AdamCoulterOz commented on #6498
as for the managed cert creation, the az cli does this (using Azure-SDK-For-Python), and I've tested it working:

[code]

Body:
[code]

@tiwood have you tried setting the password to empty string? `""`

[2020-08-05 18:10] pearcec opened #12159 "Need LinkedServerDeleteFuture for redis model"
### Bug Report

Working on a terraform providered for linked servers for geo replication.  The test tears down the linked server and then quickly moved to tearing down the two redis caches.  The provisioningState on the linked server is "Deleting".  It would be handle to have a LinkedServerDeleteFuture.

https://github.com/Azure/azure-sdk-for-go/blob/f83744196dcfdff5667240eb855a76764ce3eb46/servic

[2020-08-05 18:11] AdamCoulterOz opened #12160 "App Service - Expose additional existing property: customDomainVerificationId"
### Service Package Request

We need to expose the `customDomainVerificationId` property for web/mgmt/web. It's a property already returned by the REST API, the go-sdk is just not exposing it in the SiteProperties struct. This is for use in the azurerm_app_service terraform resource, being tracked by https://github.com/terraform-providers/terraform-provider-azurerm/issues/7537 to enable automatic

[2020-08-05 19:18] lilyjma opened #12161 "test"
testtesttes

[2020-08-05 19:19] #12161 closed

[2020-08-06 01:08] rushabh268 commented on #11574
@anuragdalmia, @ShilpiGautam, @ramaganesan-rg Any update on this?

[2020-08-06 02:06] AdamCoulterOz commented on #12160
This is the reference in the azure-rest-api-specs:

https://github.com/Azure/azure-rest-api-specs/blob/503110cc867b221d5020fb3c50bc49b19f26f6d3/specification/web/resource-manager/Microsoft.Web/stable/2020-06-01/CommonDefinitions.json#L1832-L1835

[2020-08-06 02:28] ArcturusZhang commented on #11574
Hi @rushabh268 v45.0.0 has been released with the new changes to the LIST APIs, could you please have a try?

[2020-08-06 03:12] ArcturusZhang commented on #12159
Hi @pearcec thanks for this issue!

Since our go SDK is generated from the REST API specs, this is controlled here: https://github.com/Azure/azure-rest-api-specs/blob/50a94ccd66f49aed78efa24ceefd0d5c1186c8db/specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/redis.json#L1207
If you want this operation to be async, the service team has to update their swagger by adding a `x-ms-l

[2020-08-06 03:15] ArcturusZhang commented on #12160
Hi @AdamCoulterOz thanks for this issue!

But unfortunately we cannot backport this new property in 2020-06-01 to 2019-08-01 if it is not in 2019-08-01's swagger.
To solve this, we will release the new api-version of 2020-06-01 for the web RP in the next minor release.

[2020-08-06 03:51] AdamCoulterOz commented on #12160
@ArcturusZhang It is present in the actual older rest api version, just not in the swagger definition. Is that normal?

[2020-08-06 05:48] ArcturusZhang commented on #12160
Hi @AdamCoulterOz sometimes this happens. But it is unlikely to backport it to the old api-version since per our policy, adding new property in response is a breaking change to the swagger definition - which is something that the service team would try to avoid.

The next minor version should be released no later than next Wednesday

[2020-08-06 08:20] rogercoll commented on #12024
Hello, thank you very much for your responses. Is there any update regarding this issue? My team and I are working on a tool to automated recovery services backup restoration and this issue stop us to move on.

[2020-08-06 08:57] #4120 closed

[2020-08-06 12:31] pearcec commented on #12159
Hi @ArcturusZhang thanks for the quick reply.  I will open an issue and cross link it to this one.  Thanks.

Workaround in place. https://github.com/terraform-providers/terraform-provider-azurerm/pull/8026 addressing this feature request https://github.com/terraform-providers/terraform-provider-azurerm/issues/3294.

[2020-08-06 15:36] artem-shcherbatyuk-sp opened #12180 "Provide SDK for getting federation metadata XML file, please"
### Feature Request
In Azure Enterprise application we have XML metadata file which is used to configure SAML access to AWS Role.

For now Azure Golang SDK doesn't support getting this file, so we can get it only via GET request.
[code]

Is there any chance that we will get it in SDK?

P.S. We need this file to map Azure App to AWS Identity Provider.
Maybe the main question is **how to get known w

[2020-08-06 20:13] rishabhjaisw opened #12181 "Permission denied with user managed identity"
**Describe the bug**
Azure go sdk code gives permission denied for VMSS scale out/in when user managed identity is attached to the VM, but same VMSS scale out/in works with Azure cli commands with same user managed identity.

Role assigned to user managed identity - virtual machine contributor role for resource sparkworkers-vmss

These azure cli commands are working without any issue,
az login --i

[2020-08-06 22:57] joshfree opened #12183 "Create Identity e2e tests for running in Azure Functions"
Tracking item to create new /sdk/e2e Azure.Identity smoke tests for running in Azure Functions hosted environment.

1. Add new /sdk/e2e tests for Azure Functions
2. Update Parent issue https://github.com/Azure/azure-sdk/issues/899 with instructions for Test team

/cc @danieljurek

[2020-08-06 23:56] catalinaperalta opened #12184 "Add support for MSI resource ID"
Similar to: https://github.com/Azure/go-autorest/pull/544

[2020-08-07 03:46] ArcturusZhang commented on #12159
@pearcec thanks for the effort! Since this issue has been tracked [here](https://github.com/Azure/azure-rest-api-specs/issues/10364), I will close this issue in favor of the one in azure-rest-api-specs

[2020-08-07 03:46] #12159 closed

[2020-08-07 03:59] ArcturusZhang commented on #12180
Hi @artem-shcherbatyuk-sp thanks for this issue!

From the endpoint, this looks like an API related with authentication. @jhendrixMSFT could you please comment on this?

[2020-08-07 05:37] ArcturusZhang commented on #12181
Hi @rishabhjaisw thanks for this issue!

Actually neither `NewAuthorizerFromEnvironment()` nor `NewAuthorizerFromCLI()` is designed for the MSI authentication and sorry that we did not include this authorization flow in the documentation. But you could refer to [this code snippet as an example](https://github.com/hashicorp/go-azure-helpers/blob/9d4c9e656897742c8dae85299b72c4ea973170b2/authenticati

[2020-08-10 04:37] ArcturusZhang commented on #11967
Hi @kosinsky for your information, the current implementation of the go SDK generator has a shortage that we cannot support `null` in update. Please refer [this issue](https://github.com/Azure/autorest.go/issues/432) for further details.

[2020-08-10 07:15] aim-for-better commented on #11967
Hi @kosinsky , Thanks for your feedback .Although the go sdk can work well for disabling autoscale , so I just close it.
Let's use [this issue](https://github.com/Azure/autorest.go/issues/432)  to address emitting null property issue.

[2020-08-10 07:16] #11967 closed

[2020-08-10 17:54] sidheshdivekar29 opened #12198 "Extract RoutingStatue of vwan hub as part of get api"
### Feature Request
Get routing status of vwan hub.

[2020-08-12 22:26] sebansal commented on #7363
Can you share more business context @vdamle

[2020-08-12 23:09] lordjimoh opened #12217 "Azikiwe"
### Feature Request

[2020-08-12 23:10] lordjimoh commented on #12217
[![image](https://user-images.githubusercontent.com/69061865/90077172-0cbd6c80-dd34-11ea-9334-c67dbc6d49d4.jpeg)]()

[2020-08-12 23:33] Thraganux opened #12218 "Requesting the SDK support for the 2019-07-01-preview version of Microsoft.Cache (redismanagement)"
### Feature Request

Hey,

It looks like there is an updated preview spec for Redis management which contains some new functionality that we need going forward.  The functionality allows us to specify how many replicas per master for redundancy. Could someone generate a new version for azure-sdk-for-go/redis?
Here's the azure-rest-api-spec where that new feature is described :
https://github.com/A

[2020-08-13 12:13] rahulroshan96 opened #12226 "Azure Subnet Get Error: Failure preparing request: StatusCode=0 -- Original Error: autorest: No scheme detected in URL"
### Bug Report

- What happened?
Get subnet api is throwing error while preparing the request.
- What did you expect or want to happen?
Execute the request.
- How can we reproduce it?
Using mentioned code.
- Anything we should know about your environment.
go version go1.14 darwin/amd64

package main
import (
	"fmt"
	"context"
	"github.com/Azure/azure-sdk-for-go/services/network/mgmt/2018-10-01/net

[2020-08-13 18:28] viking66 opened #12227 "Loss of data when marshaling model types"
### Bug Report

- import path: github.com/Azure/azure-sdk-for-go/services/network/mgmt/2020-05-01/network
- SDK version: v45.0.0
- go version: go version go1.14.6 darwin/amd64

- What happened?
I'm working on a project that uses golang to call services within azure to collect data and then marshal that data and pass it to another service in the system which unmarshals that data and processes it. T

[2020-08-13 19:58] jhendrixMSFT commented on #5412
This has been fixed in autorest/azure/auth/v0.5.1.

[2020-08-13 19:58] #5412 closed

[2020-08-14 01:59] sburnwal opened #12229 "Cosmos db DatabaseAccountGetResults capability is not returning all types of capabilities"
### Bug Report

- import path of package in question "github.com/Azure/azure-sdk-for-go/services/cosmos-db/mgmt/2019-12-12/documentdb"
- SDK version 39.1
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`
go version go1.11 linux/amd64

- What happened?
Not able to get all the E

[2020-08-14 07:46] #12217 closed

[2020-08-14 07:50] ArcturusZhang commented on #12218
Hi @Thraganux thanks for this issue! I will include this package in the next version of go SDK, please stay tuned, thanks

[2020-08-14 08:00] ArcturusZhang commented on #12226
Hi @rahulroshan96 thanks for this issue!

The error is complaining the host URL in the request is missing the `scheme`, for instance `http` or `https`.

In your program, you are assigning the authorizer to the variable `subnet_client`, which should be fine, but when you invoke the get function, you use `client.subnet_client`. Are you sure this is the same client as the client you are assigning the

[2020-08-14 08:09] ArcturusZhang commented on #12227
Hi @viking66 thanks for this issue.

Sorry for the inconvenience but this is by our go SDK design.

In the definition of our REST API specs for Azure, there are a lot of `read-only` properties, which are not allowed to be in the request body. The custom marshaller functions are designed to serve the marshalling the models into a request body, therefore it omits any property that is marked as `read

[2020-08-14 12:27] Maarc-D commented on #4086
Hello,

Does someone know if I need to staticly put the go code generated by the swagger I created : https://github.com/Azure/azure-rest-api-specs/pull/10275

or does it will be automatic once merged ?

because I've test all the stack using the generated go files to code the missing feature on terraform provider : https://github.com/terraform-providers/terraform-provider-azuread/pull/297

it's wor

[2020-08-14 18:41] MehaKaushik commented on #12229
Hey @sburnwal Capabilities indicates the current account's capabilities. The account in picture is a Gremlin account, hence its capabilities would include EnableGremlin. EnabledApiTypes is not a supported param for REST API for CosmosDB ResourceProvider. (Please note Resource Provider operations are Control Plane operations.)
Our REST API are described here https://docs.microsoft.com/en-us/rest/ap

[2020-08-14 19:18] Thraganux commented on #12218
@ArcturusZhang  - Thanks!

[2020-08-14 23:39] sburnwal commented on #12229
When I create Private Endpoint for a Gremlin Cosmos account, it is asking me to choose 'Gremlin' or 'Sql' as the sub resource. From the Go SDK I do get the 'EnableGremlin' as the capability. Which API will also give me the other sub resource type 'Sql' ?

[2020-08-15 01:30] lordjimoh opened #12236 "SDK"
### Feature Request

![image](https://user-images.githubusercontent.com/69061865/90302599-ca359480-ded9-11ea-9007-543fe9aedd70.jpeg)

[2020-08-17 02:28] ArcturusZhang commented on #12236
Hi @lordjimoh thanks for this issue!

But the link to your image in your description is broken, could you please fix the link so that we could know what kind of feature requirement this is?

[2020-08-17 02:54] ArcturusZhang commented on #4086
Hi @Maarc-D once this swagger PR is merged, you could just open a new issue using the feature-request template, and then I will handle the release process.

But I am curious that would they approve a new swagger authored by outside of the service team?

[2020-08-17 08:39] #12077 closed

[2020-08-17 20:50] viking66 commented on #12227
The alias trick works as long as the fields of the struct you alias don't also have custom marshalers. For example, if I try to marshal `network.VirtualNetwork` using an alias in v45.0.0 of the sdk I still lose data but if I use v44.0.0 I'm not losing the data I care about.

The difference between v44.0.0 and v45.0.0 is how `network.VirtualNetwork`'s `network.VirtualNetworkPropertiesFormat` embedd

[2020-08-18 05:23] brondum opened #12249 "oauth2AllowIdTokenImplicitFlow separate from oauth2AllowImplicitFlow"
### Feature Request
**Azure AD Applications**
The ability to specify only ID tokens when using Implicit flow, as both the GUI and Manifest spec allows in Azure.

Would be extremely useful from the terraform-provider-azuread, as we could specify that we only want to enable implicit flow for the ID tokens.

The manifest spec: https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-

[2020-08-18 06:00] mpurusottamc opened #12250 "Azure REST API equivalent for az webapp list-runtimes"
I am unable to find any REST API equivalent for this azure cli command:
[code]
Any suggestions on how to fetch list of runtimes supported by Azure Function Apps?

[2020-08-18 06:25] ArcturusZhang commented on #12227
@viking66 you are totally correct. I overlooked this could be recursive.

And the reason why we have to make this change is that some services do not accept a request body with read-only field assigned - to be specific this time it is the loadbalancer is causing trouble. Please refer to [this issue](https://github.com/terraform-providers/terraform-provider-azurerm/issues/7691) and [this issue](htt

[2020-08-18 10:44] vipinvkmenon opened #12252 "Support Querying metrics for multiple resources"
### Support Querying metrics for multiple resources

This may well already be possible, however, I was not able to find or understand.

Is it possible to get metrics of multiple resources in a single call/query?

For eg. metrics for a list of VMs.
or
metrics for set of VMs of a given resource-group / subscription?

[2020-08-18 15:49] jhendrixMSFT commented on #12227
Our solution for track 2 is to add a tag to any read-only fields.

https://github.com/Azure/autorest.go/blob/track2/test/autorest/generated/complexgroup/models.go#L695

When creating the request, we recursively look for the tag, and if present, we clone the request object graph omitting all read-only fields.

https://github.com/Azure/azure-sdk-for-go/blob/master/sdk/azcore/request.go#L221

You cou

[2020-08-19 23:01] mpurusottamc commented on #12250
I see it's available under WebApps module. Using Providers client i am able to get available stacks.

[2020-08-19 23:01] #12250 closed

[2020-08-20 06:28] ArcturusZhang commented on #12227
Yeah, back-porting it to track 1 would be an elegant solution. For those are depending on the current behaviour, maybe they could also switch to the approach that are using the `cloneWithoutReadOnlyFields` method.

I will take a look if it is possible

[2020-08-20 15:07] jhendrixMSFT commented on #12227
By dependent on the old behavior, I meant that some customers might prefer that calls to json.Marshal exclude the R/O data.  While I think this is unlikely, I'm just speculating based on the complaints we've had with the current behavior.  We might need to provide a way to opt-in to this old behavior (I would prefer not to if possible).

[2020-08-20 19:43] mattduguid commented on #12160
We've been trying the "awverify" TXT/CNAME records path and not having any luck, for the "customDomainVerificationId" being added is it just a case of monitoring this URL/release notes for the minor release? -> https://github.com/hashicorp/terraform/releases

[2020-08-21 04:01] autom8ter commented on #10830
Bump

[2020-08-21 05:12] ArcturusZhang commented on #12160
Hi @AdamCoulterOz new minor version v45.1.0 has been released with this property added to 2020-06-01 api-version: https://github.com/Azure/azure-sdk-for-go/blob/d63896ea550a156efe80237d344930c856222427/services/web/mgmt/2020-06-01/web/models.go#L22234

Therefore I will close this issue. If you still have questions, please feel free to commend and/or reopen this issue, thanks

[2020-08-21 05:12] #12160 closed

[2020-08-21 08:11] AdamCoulterOz commented on #12160
@ArcturusZhang thanks for this!! :-)

[2020-08-21 08:45] tombuildsstuff commented on #12160
@ArcturusZhang

Surely if the Swagger doesn't match the API definition (e.g. it's always been incorrect) - adding a missing readonly field to the response can't be a breaking change? As such technically this field could be backported to those older API versions without being a breaking change - since unlike a new field in the Request (which /would/ be a breaking change if it's Required, but isn't

[2020-08-22 19:33] nyetwurk opened #12309 "Can't create DataDisk with `compute.CachingTypesReadWrite` or `compute.StorageAccountTypesStandardSSDLRS`"
### Bug Report

`github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2018-10-01/compute`

`github.com/Azure/azure-sdk-for-go v40.6.0+incompatible`

go1.14.6

[code]
I still end up with `CachingTypesNone` and `StandardHDD`

[2020-08-24 04:17] ArcturusZhang commented on #12252
Hi @vipinvkmenon thanks for this issue.

I am not quite sure what is metrics referring for, but as far as I know, Azure only supports get the instance view of one VM at a time.
You could LIST the VMs in a resource group or subscription, but it gives less information than instance view.

[2020-08-24 04:22] ArcturusZhang commented on #12249
Hi @brondum thanks for this issue!

Unfortunately this feature should belong to MS-graph, which is not supported in this SDK. I have heard they have a plan, but I do not know any timeline of this.

There is a community contributed swagger PR for ms-graph [here](https://github.com/Azure/azure-rest-api-specs/pull/10275), you could also track this PR for any progress.

@jhendrixMSFT do you know if th

[2020-08-24 04:32] ArcturusZhang commented on #12160
Hi @tombuildsstuff

Yes, adding a readonly field to the response is not considered as a breaking change. It may be possible to back-port to old api-version if the service team make it readonly in the old api-version

[2020-08-24 05:05] #12181 closed

[2020-08-24 10:02] vipinvkmenon commented on #12252
Hi @ArcturusZhang .

Maybe I'll give you a context.

Coming from the AWS world.....
If I were to run the command
[code]

From Cloudwatch I would get the metric-value CPUUtilization for all the VMS present that particular region.
And if run
[code]
Then all metrics related to VMs (at that time-instant)
(the cli is preconfigured with the region along with Credentials)

In their SDK the function is [G

[2020-08-24 20:34] r0kas opened #12325 "Cannot sign Azure Marketplace VM image licence"
### Bug Report

- package `.../services/marketplaceordering/mgmt/2015-06-01/marketplaceordering`
- SDK version - 'latest'
- go 1.14.4

- Was using SDK provided method `MarketplaceAgreementsClient.Sign` to sign Marketplace VM offer to use it programatically.
- Was expecting to get a response that Agreement Terms were signed successfully. Instead got following error:
```marketplaceordering.Marketpla

[2020-08-25 00:37] Drewm3 commented on #12252
For general metrics the Azure Monitor team is the right team to answer these questions.

[2020-08-25 17:43] alftio opened #12342 "Delay or bad response running ARM AZ commands - Mismatch"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

- What happened?

Current Behavior:
AZ Command is lost requesting to an

[2020-08-26 16:41] rogercoll commented on #12024
@pvrk @ArcturusZhang is there any update regarding the issue error?

[2020-08-27 07:55] ArcturusZhang commented on #12342
Hi @alftio thanks for this issue!

Sorry but I think I did not quite get your point by this issue. Could you please add more details about what is this issue in go SDK?

[2020-08-27 07:58] ArcturusZhang commented on #12325
Hi @r0kas thanks for this issue!

Based on the error message, it seems that the service behaviour requires you to accept the legal terms using the URL it gives you on portal, which may not be done by programmable approach.

Also I tagged this issue so that the corresponding service team could have a look and probably give you a valid solution or explanation.

[2020-08-27 20:05] toklive opened #12365 "DefaultAzureCredentials availability"
Looking for capabilies mentioned in the following blog,  https://devblogs.microsoft.com/azure-sdk/authentication-and-the-azure-sdk/. It seems Go SDK is not mentioned there. Any update on it?

[2020-08-28 00:02] viking66 commented on #12227
Is there any ETA for a solution to this problem?

[2020-08-28 03:06] ArcturusZhang commented on #12365
Hi @toklive thanks for this issue!

Based on the documentation link in this blog, I assume this `DefaultAzureCredentials` should come from `Azure.Identity` namespace, which belongs to go SDK track 2. @jhendrixMSFT could you please share some comment about this?

[2020-08-28 08:05] #12226 closed

[2020-08-28 09:40] pratimaupadhyay02 commented on #12024
Hi @rogercoll Sorry for the delayed response. The issue seems specific to Go-SDK so we have to loop in the go-sdk team for some expertise.

[2020-08-30 20:19] prasroy commented on #6485
I am also receiving an error while deleting a ANF volume from Azure portal. The error message is as below.
Can not delete resource before nested resources are deleted.

[2020-08-31 05:17] ArcturusZhang commented on #12024
Hi @pratimaupadhyay02 based on the swagger definition [here](https://github.com/Azure/azure-rest-api-specs/blob/e84a61630139738316ee8531960b5966e8f1baeb/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/bms.json#L4610), this property is meant to be not only a string, but an enum value among `Invalid`, `InstantRP` and `HardenedRP`. Therefore this iss

[2020-08-31 15:09] jhendrixMSFT commented on #12365
You are correct, this will be released as a part of `azidentity`.  We have released an early alpha, you can find it [here](https://github.com/Azure/azure-sdk-for-go/tree/master/sdk/azidentity) if you're curious.  It's not ready for general consumption, and you need an adapter to make it work with our track 1 SDK.

[2020-09-01 18:35] catalinaperalta commented on #10568
The new design was not approved in the end. So closing this issue now.

[2020-09-01 18:35] #10568 closed

[2020-09-01 18:41] catalinaperalta commented on #6505
Closing this for now. Feel free to re-open if not complete. The alpha release was made with tag `sdk/azidentity/v0.1.0`.

[2020-09-01 18:41] #6505 closed

[2020-09-01 18:45] catalinaperalta commented on #8465
Closing this. Issue was resolved in #10841.

[2020-09-01 18:45] #8465 closed

[2020-09-01 21:30] catalinaperalta commented on #12184
More info: https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet

[2020-09-01 23:28] jhendrixMSFT opened #12398 "HTTP requests with invalid header values are retried"
Create an HTTP request that contains a header with a key like "inval d" (note the space).  The standard lib HTTP transport will reject this (see `Transport.roundTrip()`, calls `httpguts.ValidHeaderField()`).

The transport returns this as a `url.Error`, so the retry policy will automatically retry.

Note that `url.Error` implements `Temporary() bool`.  In this case, the wrapped error doesn't imple

[2020-09-02 10:17] Sharmistha-Rai commented on #8705
We are planning to release a fix for this in our future updates.

[2020-09-02 11:27] Sharmistha-Rai commented on #8705
Please feel free to reopen for any additional queries.

[2020-09-03 03:15] lilyjma commented on #9561
@ArcturusZhang: Any updates on swagger change?

[2020-09-03 04:10] alftio commented on #12342
Hi @ArcturusZhang ,

Using the azure-sdk-for-go when trying to retrieve the vmss list it fails, there is not any value retrieved.

[2020-09-03 06:11] ArcturusZhang commented on #9561
@lilyjma sorry some of the comments may not be clear enough - we are expecting the service to return everything in a format of JSON rather than a plain string. But we did not get enough progress with the service team.

Please let me give them another ping on this.

[2020-09-03 14:33] jhendrixMSFT commented on #9561
@ArcturusZhang I might have been wrong about this requirement.  According to spec, `"some string"` is a valid JSON string and we have a lot of other places where this is returned (a lot in the test server).

I think the codegen might be wrong here, i.e. this might be a bug where LROs and operations that return scalar values intersect.  If you look at codegen in the test server for the non-LRO case

[2020-09-03 15:04] jhendrixMSFT commented on #9561
Actually, it looks like track 2 does the right thing here.

[2020-09-03 15:28] mackrorysd commented on #12342
This has been a big deal for me. We have an application that spans multiple regions, and have seen delays of up to 2 hours in the VMSS API. Previously this has been caused by system outages, but currently the only answer I have from Azure support is this: specifying the regional endpoint to use and ensuring that's consistent. However that does not appear to be possible in the Go SDK.

[2020-09-03 17:12] tombuildsstuff commented on #12342
@mackrorysd that should be possible with [the NewClientWithBaseUri method](https://github.com/Azure/azure-sdk-for-go/blob/master/services/signalr/mgmt/2020-05-01/signalr/signalr.go#L41) providing `https://westeurope.management.azure.com` as the BaseURI, fwiw?

[2020-09-03 22:10] CecileRobertMichon commented on #11879
/close

this is fixed in the latest release

[2020-09-03 22:10] #11879 closed

[2020-09-04 08:39] ArcturusZhang commented on #9561
Good to know. Let me have a look how to fix this in the code gen.

[2020-09-08 16:56] MehaKaushik commented on #12229
Sql is the default API, so you dont need to set any capability for it.

[2020-09-08 23:03] favoretti opened #12432 "Support for managing keys and feature flags in app configuration"
### Feature Request

Would be great if support for managing keys and feature flags in app configuration could be added. Terraform users like us would be super happy with it. :)

[2020-09-09 14:03] narph opened #12452 "Provide 2019-10-01 version of consumption APIs"
### Feature Request

Atm, we see the `/consumption/mgm`t api calls are mapped up to `2019-01-01` https://github.com/Azure/azure-sdk-for-go/tree/master/services/consumption/mgmt.
With `2019-10-01` new improvements were added as supporting more subscription types.
Any idea when we can see this version in the sdk?

[2020-09-09 22:29] MehaKaushik commented on #6603
Hey @SebRosander @rnagpal Apologies for the delay from our side. We are still investigating the issue. It looks like somewhere in the go sdk the capitalization is not being respected, we are working towards getting this triaged.

[2020-09-09 22:36] mackrorysd commented on #12342
That could work - we'll try that out. Thanks @tombuildsstuff!

[2020-09-10 02:26] ArcturusZhang commented on #12452
Hi @narph thanks for this issue!

We will release this API version in the next minor version after [this PR](https://github.com/Azure/azure-rest-api-specs/pull/10749) is merged. Thanks

[2020-09-10 11:32] SebRosander commented on #6603
No stress for me personally, I've have a workaround in place. Please just let me know when it's fixed and I'll be able to remove that workaround. Thanks for keeping us updated @MehaKaushik

[2020-09-11 01:34] jhendrixMSFT commented on #3158
Closing as we won't be making this change in the track 1 SDK.  Note that for track 2 we've decided to leave UUIDs in string format, allowing consumers to use their preferred helper package.

[2020-09-11 18:57] jhendrixMSFT commented on #12398
Fixed in `azcore/v0.10.0`

[2020-09-11 18:57] #12398 closed

[2020-09-12 15:37] lmorais opened #12482 "Unmarshall error when creating a new PublicIPAddress"
Bug Report
import path: github.com/Azure/azure-sdk-for-go/services/network/mgmt/2020-05-01/network

SDK version: v44.0.0

go version: go version go1.15 darwin/amd64

What happened?
When trying to create a new public ip address the bellow error is returned by **network.PublicIPAddressesClient.CreateOrUpdate** method

`pollingTrackerBase#updateRawBody: failed to unmarshal response body: StatusCode=0

[2020-09-12 16:39] #12482 closed

[2020-09-12 18:05] v-jaswel opened #12483 "[BUG][Face] OperationStatus does not deserialize correctly due to JSON property name mismatches"
### Bug Report
- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
".../services/cognitiveservices/v1.0/face"

- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
Latest commit is:
https://github.com/Azure/azure-sdk-fo

[2020-09-13 21:36] nyetwurk commented on #12309
I'm guessing those parameters are read only and have to create a storage account first with `storageAccountsClient.Create()`?

[2020-09-15 19:55] jhendrixMSFT commented on #6421
Include `armcore` and `azidentity`

[2020-09-15 21:00] catalinaperalta commented on #12184
Cross-language design pending

[2020-09-16 18:25] jhendrixMSFT commented on #11870
Done.  Released as module github.com/jongio/azidext/go/azidext

[2020-09-16 18:25] #11870 closed

[2020-09-16 20:41] timMSFT commented on #11094
The proper way to set DNS proxy is as below.

    "resources": [
        {
            "type": "Microsoft.Network/firewallPolicies",
            "apiVersion": "2020-05-01",
            "name": "[parameters('firewallPolicies_DatabasePolicy_name')]",
            "location": "eastus",
            "properties": {
                "threatIntelMode": "Deny",
                "threatIntelWhitelist": {

[2020-09-17 00:02] ivapplyr commented on #9484
#Acknowledging Apologies for the delay on this. Is the customer still experiencing this issue ?

[2020-09-17 01:20] AbelHu commented on #11094
I will give a try. Thanks @timMSFT

[2020-09-17 01:40] sidheshdivekar29 commented on #9484
Yes, it will be good to get this fixed sooner. Is it a quick fix ?

On Wed, Sep 16, 2020, 5:03 PM Ivens Applyrs <notifications@github.com>
wrote:

[2020-09-17 13:50] jim-minter opened #12534 "Unused SubscriptionID1 field added in 43.0.0?"
### Bug Report

In 43.0.0 (4f14e3d53f), it seems that a new unused SubscriptionID1 field was added in some clients, e.g. at https://github.com/Azure/azure-sdk-for-go/blame/master/services/cosmos-db/mgmt/2019-08-01/documentdb/client.go#L37

This seems to be entirely unused and is erroneous.  Do `grep -r SubscriptionID1` to see what I mean.

Can it be reverted in a future API version?

[2020-09-17 16:13] martinjt commented on #6498
Is anyone actively pushing this? it's blocking some other things by the look of it.

[2020-09-17 17:28] mms- commented on #8399
It is quite strange that Go lang support for IoT device client SDK is not higher priority. Given that it easily compiles to any architecture it should be near the top. Until .Net does actual AOT Go makes a lot of sense, lot more than .Net for IoT which does not support as many CPU architectures.

This lack of support is causing us to implement less Azure services than we would. We are rolling our

[2020-09-17 18:34] v-jaswel commented on #12483
Per sbowles, this is going to be fixed on the server side and not the SDK side. Therefore I am closing.

[2020-09-17 18:34] #12483 closed

[2020-09-18 11:33] sirlatrom opened #12547 "Add missing properties to BlobServicePropertiesProperties"
### Feature Request

https://github.com/Azure/azure-sdk-for-go/blob/master/storage/blobserviceclient.go implements the Blob Service Properties client including operations listed on [https://docs.microsoft.com/en-us/rest/api/storageservices/operations-on-the-account--blob-service-](https://docs.microsoft.com/en-us/rest/api/storageservices/operations-on-the-account--blob-service-).

However, the SDK

[2020-09-19 00:55] jongio opened #12552 "Create Auto Release Notes Script"
Take this .NET script that Pavel created and adapt it to Go

https://github.com/Azure/azure-sdk-for-net/blob/master/eng/scripts/Collect-Changelogs.ps1

[2020-09-21 12:24] Segflow opened #12562 "Add application.AddPassword"
### Feature Request

The API https://docs.microsoft.com/en-us/graph/api/application-addpassword?view=graph-rest-1.0&tabs=http is not implemented in the current SDK.

The current workflow is to use "UpdatePasswordCredentials" and provide a secret. Would be great if we can add that API to the sdk.

[2020-09-21 17:24] erstaples opened #12564 "How to add a VMSS to a backend pool of an Azure Loadbalancer using the SDK?"
I found [this issue](https://github.com/Azure/azure-sdk-for-go/issues/6504) regarding adding individual VMs to a backend pool, but the code examples do not seem applicable to scale sets. Can this be easily done?

[2020-09-21 19:07] MehaKaushik commented on #12229
Hey @sburnwal I hope your questions were answered. I am closing this issue, please re-open this if you have more queries.

[2020-09-21 19:07] #12229 closed

[2020-09-21 20:29] MehaKaushik commented on #12534
@jim-minter thanks for pointing this out. This was removed in our most recent api-version https://github.com/Azure/azure-sdk-for-go/blob/master/services/cosmos-db/mgmt/2020-04-01/documentdb/client.go

[2020-09-22 04:59] vijayrajah opened #12571 "Provide costmanagement version 2019-11-01"
### Feature Request
Please update the SDK to add cost management version, _2019-11-01_  to SDK. The most latest version available is _2019-10-01_

[2020-09-22 13:11] MarkDordoy commented on #9714
Any idea when this will be done?

[2020-09-22 21:29] thinkjk opened #12580 "Authorization ClassicAdministrator Query Returns 404 Namespace Not Found"
### Bug Report

- import path of package:  https://github.com/Azure/azure-sdk-for-go/tree/master/services/authorization/mgmt/2015-07-01/authorization
- SDK version: master

I'm trying to get the results from ListComplete from ClasicAdministrators. Currently the go SDK is returning a 404, though the CLI returns the list of classic administrators correctly. Upon further debugging both via CLI and ht

[2020-09-23 23:02] allegradomel commented on #7738
@anharazi, can you please take a look? This a service side issue

[2020-09-23 23:19] allegradomel commented on #6467
Not sure if service side issue or SDK issue, @ivapplyr can you look into this?

[2020-09-24 02:54] vijayrajah commented on #12452
@ArcturusZhang .. I see the PR was merged.. Any idea when this will be released?

[2020-09-24 10:08] pvrk commented on #5339
Closing this issue since the original issue is being tracked in the swagger repo.

[2020-09-24 10:08] #5339 closed

[2020-09-24 10:51] pvrk commented on #12024
We are working on the fix and will update the ETA soon. This might be fixed from a new API version to make sure older APIs are not broken if they took a dependency on existing behavior.

[2020-09-24 20:18] AdallomRoy commented on #12227
We are also experiencing this.
@viking66 as a workaround, you can first serialize the object using structs Map (https://github.com/fatih/structs) and then to json.

[2020-09-25 02:27] ArcturusZhang commented on #12452
Yeah, the PR has been merged. But we have to ask the corresponding service team to see if they want to release the SDK for a new api-version. Usually they will release this, but we have to confirm whether there is anything wrong in the current swagger before we could release this. Please stay tuned and sorry for the delay.

[2020-09-25 05:47] PaulCheng commented on #3502
The GO sdk ver 40.6.0+ enabled support for CosmosDB Table API endpoint.

[2020-09-25 06:59] vijayrajah commented on #12452
@ArcturusZhang . Thanks for the update.. Appreciate it

[2020-09-27 02:56] ArcturusZhang commented on #12534
Hi @jim-minter since this should have been resolved in the new version, I will then close this issue, please feel free to reopen or comment if you have other concerns

[2020-09-27 03:05] ArcturusZhang commented on #12547
Hi @sirlatrom thanks for this issue.

The go SDK in `services` directory is generated from `azure-rest-api-specs`, and I did not find any property that related with `logging` [here](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01). Therefore unfortunately we cannot help on this.

As for this client: https://github

[2020-09-27 03:06] ArcturusZhang commented on #12552
Hi @jhendrixMSFT could you please help on this?

[2020-09-27 03:10] ArcturusZhang commented on #12562
Hi @Segflow thanks for this issue.

Unfortunately the whole ms-graph SDK will not be included in this repo (as far as I know). You could find some unofficial SDK of msgraph for go on github, for instance [this one](https://github.com/yaegashi/msgraph.go) or [this one](https://github.com/open-networks/go-msgraph).

The msgraph officially does not have golang planned as far as I know. CCing @jhendri

[2020-09-27 03:19] ArcturusZhang commented on #12564
Hi @erstaples thanks for this issue!

To do this with go SDK, you will have to first use a GET function to get the definition of the VMSS, and append a new backendAddressPool Id to this slice [`vmss.VirtualMachineScaleSetProperties.VirtualMachineProfile.NetworkProfile.NetworkInterfaceConfigurations.IPConfigurations.VirtualMachineScaleSetIPConfigurationProperties.LoadBalancerBackendAddressPools`](h

[2020-09-27 03:21] ArcturusZhang commented on #12571
Duplicate of https://github.com/Azure/azure-sdk-for-go/issues/12452

[2020-09-27 03:21] #12571 closed

[2020-09-27 03:28] ArcturusZhang commented on #12580
Hi @thinkjk thanks for this issue.

By checking the code, I did not see anything suspicious and BTW the preview package 2018-09-01-preview actually is using [2015-06-01](https://github.com/Azure/azure-sdk-for-go/blob/8b1ae49e53332c534e4263b4d4160aeb81d9d497/services/preview/authorization/mgmt/2018-09-01-preview/authorization/classicadministrators.go#L88).

Could you please provide some more inform

[2020-09-28 07:17] sirlatrom commented on #12547
@ArcturusZhang Thank you for directing me to the right place, you are of course completely right that I should go to the https://github.com/tombuildsstuff/giovanni library instead.

[2020-09-28 07:17] #12547 closed

[2020-09-28 22:33] anharazi commented on #7738
https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md
The resource group names and resource names should be matched case insensitively. That means, for example, if a user creates a resource in resource group "rG1", and then calls a read operation on "RG1", the same resource should be returned even though the casing differs.
Additionally, the REST API MUST p

[2020-09-29 20:01] allegradomel commented on #7738
#please-close

[2020-09-30 04:47] tombuildsstuff commented on #7738
@allegradomel why is this closed? Has this issue been fixed?

[2020-09-30 08:28] beandrad opened #12633 "Missing ascLocation in JIT network access policies functions"
### Bug Report

- import path: `.../services/preview/security/mgmt/v3.0/security`
- go file: `.../services/preview/security/mgmt/v3.0/security/jitnetworkaccesspolicies.go`
- SDK version: 46.4.0
- Commit: https://github.com/Azure/azure-sdk-for-go/commit/e3b3fa36a8a194ac2914270c8f8ecc342d4a1ee5.

- What happened?
All the Jit Network Access Policies REST endpoints expect `ascLocation` as a path param

[2020-09-30 08:45] benc-uk opened #12634 "Security Center Automations - fields required by the API are omitted"
### Bug Report

- import path of package in question: `services/preview/security/mgmt/v1.0/security`
- SDK version`v46.4.0`
- Go version: `go1.15.1 linux/amd64`

### What happened?
When trying to create or update an automation using the SDK and the `CreateOrUpdate` function, the following error is returned
[code]
I expect this package within the SDK has never worked due to this error

### What did

[2020-09-30 21:47] DePinto opened #12639 "subscription ListComplete() returns inconsistent results"
### Bug Report

- import path `.../services/preview/subscription/mgmt/2019-10-01-preview/subscription`
- SDK version: `v45.0.0`
- go version: `go1.14.6 darwin/amd64`

- What happened?
  When retrieving a list of subscriptions for a given tenant, occasionally the first run returns no results and no errors, but subsequent runs all return the correct subscriptions.
- What did you expect or want to ha

[2020-09-30 22:09] MehaKaushik commented on #6603
Thanks for your understanding @SebRosander. To provide with you an update: We have reached out to the team which generates this sdk (from the specs specified azure-rest-api-specs) to look into what is causing this behavior. I will update once I have any more leads.

[2020-09-30 22:53] hotsnow commented on #2399
Already two years. I still get this problem. Any update on this?

[2020-10-01 15:06] fiunchinho commented on #2525
will the `List` function return all elements? or do I need to always use `ListComplete` and iterate if I need the full list?

[2020-10-01 20:50] hotsnow commented on #2399
I'm sending a PR for this bug: https://github.com/Azure/azure-sdk-for-go/pull/12641

    fix id missing for consumption

    1. when requesting the usage detail api with consumption package, it's ok
    for the first request, but it will failed when request for the next page
    with only skiptoken. The return error:
    {"error":{"code":"400","message":"id query parameter is not a valid Guid

[2020-10-01 21:37] jasonoxley-cai opened #12642 "Support appRoleAssignedTo on ServicePrincipal objects"
### Feature Request

I would like to view the app role assignments of a given service principal. This is supported by the Microsoft Graph as well as the Azure Graph with the [list app role assignments API](https://docs.microsoft.com/en-us/graph/api/serviceprincipal-list-approleassignedto?view=graph-rest-1.0&tabs=http).
 E.g. `GET https://graph.windows.net/<tenant id>/servicePrincipals/<service pri

[2020-10-02 01:36] sidheshdivekar29 opened #12645 "There is no api to create vhub virtual network connection individually."
### Feature Request

Currently there is no way to create incremental virtual network connection for a given vhub.
hubvirtualnetworkconnections.go does not have an api to create/delete virtualnetworkconnection for a given vhub.
The workaround is to get existing connections and use add/del new vnc & then call CreateOrUpdate vhub.
This might not work always if vhub client doesn't have permissions to

[2020-10-02 07:04] fgeckeler opened #12646 "authorization package does only support API version 2015-07-01"
### Bug Report

My goal is to create a custom role which can only read and write to a blob in a storage accounts container.
I was already successful using the azure cli with following json:

[code]

I am importing the package  with version `46.4.0+incompatible` (local go version is `go1.15.2 darwin/amd64`) as follows:
`import "github.com/Azure/azure-sdk-for-go/profiles/latest/authorization/mgmt/au

[2020-10-02 10:50] tombuildsstuff commented on #7738
ping @allegradomel

[2020-10-02 11:28] fgeckeler commented on #12646
Can be closed. I was pointed to: https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/authorization/mgmt/2018-09-01-preview/authorization/models.go

[2020-10-02 11:28] #12646 closed

[2020-10-02 22:37] catalinaperalta commented on #11873
Added in #12539.

[2020-10-02 22:37] #11873 closed

[2020-10-03 12:25] martinjt commented on #6498
@tombuildsstuff Don't suppose you have someone at Azure you could nudge to sort the dependent issue?

[2020-10-05 06:05] AdityaIIITB commented on #11869
Im seeing the exact issue with python sdk too.

[2020-10-05 16:24] panchagnula commented on #6498
@martinjt on the API end app service doesn't enforce the password option. A passoword is required when a cert (local) is being uploaded to a webapp. If its a managed certificate or certificate from a AKV - then you don't need the password info - the API has it optional. I am not aware of the GO SDK but I can ensure the API doesn't enforce - so please check the usage of the API. Thanks!

[2020-10-05 17:15] jhendrixMSFT commented on #2399
Sorry for the delay, I have a fix to encode the query parameters in `autorest.WithBaseURL()`.

[2020-10-05 17:44] jhendrixMSFT commented on #2399
The query params fix is in module `autorest/v0.11.8` if somebody can try it out.

[2020-10-05 19:57] manalivaltix opened #12656 "API to get default route table for every subnet"
### Feature Request

I am trying to figure out how to get information on the Default Route Table that is associated to every subnet. List RouteTables only returns the UserDefined Route Tables.

[2020-10-05 21:12] hotsnow commented on #2399
@jhendrixMSFT It doesn't works for me. Still respond the same error:
consumption.UsageDetailsClient#List: Failure responding to request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="400" Message="id query parameter is not a valid Guid (Request ID: 95ba4e09-0a08-4c1a-ae43-d6a23e15e8cb)"

my related go.mod
require (
¦   github.com/Azure/azure-sdk-for-

[2020-10-05 21:38] jhendrixMSFT commented on #2399
@hotsnow thanks for trying it out.  Would you mind stepping through the code to see if the query params aren't getting encoded for some reason?  Maybe there's something else at work here.  I don't have a repro of this at present (working on it).

[2020-10-07 04:50] tombuildsstuff commented on #7738
@ArcturusZhang can we re-open this until we can confirm if this has been fixed?

[2020-10-07 17:41] #11877 closed

[2020-10-08 02:16] g2vinay opened #12686 "[FEATURE REQ] Apply Device Code Credential Consistency Review Feedback"
- [ ] Add HTTPS validation for Auth Host.
- [ ] Make Client Id optional. Default to Developer Single Sign On Id (Azure CLI Id for now.)
- [ ] Add Tenant Id validation after confirming with Arch board.
- [ ] Make callback parameter optional. Default value should print to console/stdout.
- [ ] discuss parameter name with language team, possibly rename to userPrompt.
- [ ] Investigate if more than me

[2020-10-08 15:16] beandrad opened #12687 "Add `Enabled` to ASC setting resource"
### Feature Request

The [response schema](https://github.com/Azure/azure-rest-api-specs/blob/27cc07ddd294d98e05cb301e07a72378df9f87e8/specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/settings.json#L103) of `GET /subscriptions/{subscriptionId}/providers/Microsoft.Security/settings/{settingName}` doesn't include the `Enabled` flag, which is used to determine whether the

[2020-10-08 16:49] catalinaperalta commented on #6436
This was added in #12635.

[2020-10-08 16:49] #6436 closed

[2020-10-08 21:40] joshfree opened #12691 "Create Identity e2e tests for running in Azure Arc"
Tracking item to create new /sdk/e2e Azure.Identity smoke tests for running in Azure Arc hosted environment.

1. Add new /sdk/e2e tests for Azure Arc
2. Update Parent issue https://github.com/Azure/azure-sdk/issues/1908 with instructions for Test team

[2020-10-08 21:45] joshfree opened #12692 "Create Identity e2e tests for running in Azure Service Fabric"
Tracking item to create new /sdk/e2e Azure.Identity smoke tests for running in Azure Service Fabric hosted environment.

1. Add new /sdk/e2e tests for Azure Service Fabric
2. Update Parent issue https://github.com/Azure/azure-sdk/issues/901 with instructions for Test team

[2020-10-09 17:52] ramaganesan-rg commented on #6483
This is not a Billing issue, can you please route this to the right team?

[2020-10-09 18:10] mozts2005 opened #12700 "add customer-managed key for Container registry"
### Service Package Request

looking for support with customer-managed key for Container registry
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-customer-managed-keys

would like to have access to add this needed support to Terraform as well. Happy to help with a PR just new to the project and want to make sure what the process is first.

[2020-10-09 23:06] manalivaltix opened #12707 "Get of a Network Security Group doesn't return port-range."
### Bug Report

import path of the package is:
"github.com/Azure/azure-sdk-for-go/services/network/mgmt/2019-11-01/network"
SDK version: "v40.0.0"
go version go1.13.4 darwin/amd64

Get of a NetworkSecurityGroup that has a security group rule with  DestinationPortRange as 80,443 (seen in the UI)
is being returned with an empty string.
From my debugs:
SG rule DestinationPortRange

- What happened?
N

[2020-10-11 03:40] #12564 closed

[2020-10-12 06:18] ArcturusZhang commented on #12634
Hi @benc-uk thanks for this issue and sorry for the inconvenience.

I have identified the root cause of this issue, and this will be resolved in the next major version

[2020-10-12 06:53] ArcturusZhang commented on #12633
Hi @beandrad thanks for this issue! And you are right, [this](https://github.com/Azure/azure-rest-api-specs/blob/fb029cb8f596fbfd1a9c60802a7cf189cc2e0c00/specification/security/resource-manager/common/v1/types.json#L337) is the root cause of this issue and probably this is by the service team's design.

Therefore I have tagged this issue so that the service team could have a look at this, and they

[2020-10-12 06:56] ArcturusZhang commented on #12642
Hi @jasonoxley-cai thanks for this issue!

And unfortunately the ms-graph API will not be included in this SDK. Now we do not have any official go SDK released for msgraph, but there are some community made SDK for msgraph for example [this](https://github.com/yaegashi/msgraph.go) and [this](https://github.com/open-networks/go-msgraph).
Given the above reason, I am closing this issue, hope you wou

[2020-10-12 06:56] #12642 closed

[2020-10-12 07:14] ArcturusZhang commented on #12687
Hi @beandrad thanks for this issue!

I just checked the swagger for this API, this resource `Setting` has a [discriminator](https://github.com/Azure/azure-rest-api-specs/blob/27cc07ddd294d98e05cb301e07a72378df9f87e8/specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/settings.json#L227) with two possible values, which means this resource supports polymorphism. It should ha

[2020-10-12 07:14] #12687 closed

[2020-10-12 08:24] ArcturusZhang commented on #12700
Hi @mozts2005 thanks for this issue!

The CMK in container registry is only  supported in api-version 2019-12-01-preview, which is not released for go SDK yet. We are working on that and this should be released very soon. Please stay tuned for the update. Thanks

[2020-10-12 08:29] beandrad commented on #12687
Hi @ArcturusZhang, I'm not sure where the problem is exactly. It seems that the Get endpoint returns [`Setting`](https://github.com/Azure/azure-rest-api-specs/blob/27cc07ddd294d98e05cb301e07a72378df9f87e8/specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/settings.json#L264) in the response body, which in turns maps to [`SettingResource`](https://github.com/Azure/azure-re

[2020-10-12 08:37] benc-uk commented on #12634
Thanks @ArcturusZhang this is great news. I spotted v47 in the PR section, will this fix make that release or the one after?

[2020-10-12 08:39] ArcturusZhang commented on #12707
Hi @manalivaltix thanks for this issue!

Have you checked the `destinationPortRanges` property? The port range could also be stored in this property.

[2020-10-12 08:46] beandrad opened #12724 "Security Center DataExportSettingProperties not unmarshalled properly"
### Bug Report

- import path of package in question: github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v3.0/security
- SDK version: 46.4.0
  - Commit: https://github.com/Azure/azure-sdk-for-go/commit/e3b3fa36a8a194ac2914270c8f8ecc342d4a1ee5

- What happened?
[Setting](https://github.com/Azure/azure-sdk-for-go/blob/227ccd374f20c4f5f1b33b913c18132f1cb238c4/services/preview/security/m

[2020-10-12 09:31] ArcturusZhang commented on #12634
Should be included in this release, I am working on it

[2020-10-12 16:45] manalivaltix commented on #12707
Thanks, I never noticed destinationPortRanges. I see it there.

[2020-10-12 16:45] #12707 closed

[2020-10-13 02:28] ArcturusZhang commented on #12724
HI @beandrad thanks for this issue!

Yeah, now I see this API is problematic, if the resource itself is polymorphic, the returned model should have a discriminator. But in this case, the returned model `Setting` does not have a discriminator, but it directly inherit from `SettingResource` which has a discriminator and does not introduce more fields. This makes `Settings` and `SettingResource` effe

[2020-10-13 02:46] ArcturusZhang commented on #12724
I just had a quick test, the returned JSON from the service is
[code]
As you can see, this is clearly a `DataExportSettings` struct, but due to the reasons I explained above, we cannot actually cast this struct (its type is `Settings`) to `DataExportSettings`.

And unfortunately we do not have any workaround within the framework of the SDK. I will try to fix this by fixing the swagger, please stay

[2020-10-13 03:02] ArcturusZhang commented on #12724
Hi @beandrad I made some experiments refining the inheritance structure in the swaggers and generating new SDK, the following test code:
[code]
And it gives you this as expected:
[code]

[2020-10-13 03:04] ArcturusZhang commented on #12724
Well, I decide to reopen this and close this from the new release PR.

[2020-10-13 03:05] #12634 closed

[2020-10-13 03:41] ArcturusZhang commented on #12634
Hi @benc-uk the v47.0.0 has been released and the issue should have been resolved, please have a try, thanks!

[2020-10-13 04:14] #12580 closed

[2020-10-13 06:31] asergaz commented on #8399
Please vote for this feature here: "Offer Go as a language for Azure IoT SDK" https://feedback.azure.com/forums/321918-azure-iot-hub-dps-sdks/suggestions/32822650-go-sdk-for-azure-iot

[2020-10-13 06:56] benc-uk commented on #12634
@ArcturusZhang I just checked an v47 fixes this
Thanks for the speedy turn around on this one! Great stuff

[2020-10-13 06:57] beandrad commented on #12724
Thanks for looking into it @ArcturusZhang! :)

[2020-10-14 19:34] ieelleme commented on #8376
We would also like to be able to deploy Sendgrid using Terraform. Are there any plans to make this possible?

[2020-10-14 22:13] manicminer opened #12774 "Missing support for domainservices 2020-01-01"
### Service Package Request

The latest version of domainservices supported by the SDK is 2017-06-01. There is a newer version available 2020-01-01

https://github.com/Azure/azure-rest-api-specs/tree/master/specification/domainservices/resource-manager/Microsoft.AAD/stable/2020-01-01

[2020-10-15 05:17] ArcturusZhang commented on #12774
Hi @manicminer thanks for this issue!
We have received this and we are asking the corresponding service team to make a release request of this new package. Please stay tuned and we will let you know once this package is released. Thanks!

[2020-10-15 10:18] advancedwebdeveloper commented on #894
I hope to be able to get to experimenting with Azure functions, using [gollvm](https://go.googlesource.com/gollvm/)

[2020-10-15 17:46] catalinaperalta commented on #8107
Apparently, AzureKeyCredential belongs as part of the azcore credential types: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/AzureKeyCredential.cs

Seems

[2020-10-15 18:36] catalinaperalta commented on #8107
I've gotten more information about this. It is a credential type used by several services, such as Text Analytics, Search and FormRecognizer. It belongs in core because this will be integrated into TA, Search, FR, code. It doesn't belong in azidentity because it is not a Token Credential type and  is mean to be imported directly from core so other services do not take a dependency on identity.
Pyt

[2020-10-15 20:29] catalinaperalta commented on #8107
cc: @jhendrixMSFT

[2020-10-15 22:33] rakku-ms opened #12813 "Unable to install go SDK using cmd 'go get -u github.com/Azure/azure-sdk-for-go/...'"
### Bug Report

- SDK version `latest`
- output of `go version`
[code]
- repro
[code]

[2020-10-16 16:06] catalinaperalta commented on #12813
This was resolved in #12816. Will close for now, but please feel free to reopen if the issue persists.

[2020-10-16 16:06] #12813 closed

[2020-10-16 16:45] catalinaperalta commented on #8107
I will close this now, we can open an issue when we need this credential type.

[2020-10-16 16:45] #8107 closed

[2020-10-17 15:16] dnozay opened #12834 "issue mocking `containerservice.ManagedClustersClient`"
### Bug Report

- import path of package in question, `"github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-07-01/containerservice"`

- SDK version

[code]

Ok I have a piece of code that looks like this.
[code]

so then I want to add tests...
I poke around and find `containerserviceapi.ManagedClustersClientAPI` and now I'm happy
so I switch things around and use that so I can ha

[2020-10-19 04:04] ramaganesan-rg commented on #11869
Team is investigating the issue. Will get back to you.  thank you for your feedback.

[2020-10-19 16:12] anuragdalmia commented on #12639
Following up.

[2020-10-21 07:12] ArcturusZhang commented on #12834
Hi @dnozay thanks for this issue!

This is truly a problem in mocking. We could provide a constructor with full parameters, but since `mclr` is not a pointer and also private, it may not help a lot. Also maybe we could consider make some of the fields public or introduce more methods to this Iterator or Page? I am not quite sure.
@jhendrixMSFT thoughts?

[2020-10-21 16:50] jhendrixMSFT commented on #12834
First I will say that the paging/iteration design here is sub-optimal for mocking.  For our "track 2" SDK we've improved this by returning a "Pager" interface which should make it super-easy to mock.  Please see the [Go SDK Design Guidelines](https://azure.github.io/azure-sdk/golang_design.html) for more info on this new design.

I dug into this a bit, you are correct that without being able to se

[2020-10-21 23:02] manoj-guglani-sp opened #12892 "API for getting roles assignments at management group level"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
.../services/resources/mgmt/managementgroups/managementgroups.go

- What happened?
Need to list role assignments at managements group level. I cannot find the right API. When I used the API for subscriptions  I got the following error:
[code]
I could not find an API under management groups so

[2020-10-22 02:41] ArcturusZhang commented on #12892
Hi @manoj-guglani-sp thanks for this issue!

I wonder if [this API](https://github.com/Azure/azure-sdk-for-go/blob/b28cbb47f61f9a5cb407c390dcf3e86dd3e1fea1/services/preview/authorization/mgmt/2018-09-01-preview/authorization/roleassignments.go#L883) could meet your requirement? Please use the full mgmt group ID for the scope parameter, e.g. `/providers/Microsoft.Management/managementGroups/mgmtGro

[2020-10-22 04:48] djsly commented on #5024
@alexeldeib could you explain why this was closed ? was it fixed in the end ?

I'm running into a weird issues when the EndpointLocation isn't being accepted. I'm getting null configured all the time.

[2020-10-22 05:07] alexeldeib commented on #5024
looking at the relevant code (used by my old team, not oss), we ended up using the profile api (rather than the endpoint subresource) and seems like it worked? I didn't seem to find any threads resolving the issue, I don't recall closing it myself 😕 although, your issue does sound ever so slightly different

[2020-10-22 05:24] djsly commented on #5024
Thanks @alexeldeib  I found the source of my issue in the end !

[code]

My internal module was trying to be smart...

[2020-10-22 19:06] manoj-guglani-sp commented on #12892
@ArcturusZhang I did try that API with full mgmt group ID but got an empty list. When I checked the IAM roles at the root level in the portal there were two roles assigned at the root.

[2020-10-22 20:38] jhendrixMSFT opened #12930 "Add a doc.go file to azidentity"
Add a doc.go file to azidentity.  It should contain explanations and examples for how to use the module.

[2020-10-23 06:07] sebansal commented on #11916
@RandalliLama for key vault team would be looking into it

[2020-10-23 15:06] jhendrixMSFT commented on #2399
Per offline conversation with @hotsnow this has been resolved.

I've opened an issue about the missing `skiptokenver` and `id` query params in the swagger for manual paging.

https://github.com/Azure/azure-rest-api-specs/issues/11351

[2020-10-23 15:06] #2399 closed

[2020-10-23 15:28] dnozay commented on #12834
I'm not in tune with the release timeframe for this, but interfaces are great.

It's currently not useable outside of the sdk itself. So it's more of an un-breaking change.
Alternatives are to introduce an additional constructor or a setter.
If that's something I can use to fully test the loop then I should be happy with that.

[2020-10-23 15:36] jhendrixMSFT commented on #12834
I was thinking about the new constructor to avoid the breaking change, however it leaves the old, useless one which I think is confusing (we can add a deprecation notice I guess).

@ArcturusZhang can you please update the track 1 code generator to include this new param?

[2020-10-23 22:26] CecileRobertMichon opened #12965 "Missing support for dns 2018-09-01"
### Feature Request

Latest dns API version is 2018-05-01 (https://github.com/Azure/azure-sdk-for-go/tree/master/services/dns/mgmt) but no 2018-09-01 which is the latest and has support for private zones and virtual network links: https://docs.microsoft.com/en-us/rest/api/dns/privatedns/virtualnetworklinks

[2020-10-24 01:44] jlichwa commented on #11916
@ArcturusZhang can you elaborate what is the ask? Currently there is API to get secret by identifier (URI) with version or get latest version by passing null for version.

[2020-10-25 19:52] #2556 closed

[2020-10-26 06:06] ArcturusZhang commented on #11916
We are requesting a API `GetSecretByURI` with the parameter of a full URI, rather than the parsed pieces from the URI.
Now the Get API URL is exactly the full URI of the secret, but to use this API, we will have to parse it first, get every segment of the full URI (base URI of the keyvault, secret name and secret version), and before actually sending the request, the SDK will assemble those segmen

[2020-10-26 06:07] ArcturusZhang commented on #11916
By saying the above, it makes me feel that maybe this could be done on the SDK side. @jhendrixMSFT what do you think? Do we have similar functionality in track 2?

[2020-10-26 16:00] jhendrixMSFT commented on #11916
We haven't started work on a track 2 implementation of key vault.  If there are plans to add this functionality it would be owned by the service team, likely as part of the convenience layer implementation.

[2020-10-26 16:30] jlichwa commented on #11916
@jhendrixMSFT  service team provides REST API where full URI is used:
Example:
URI: https://jl-kv.vault.azure.net/secrets/Secret1/1551892c2fc44880aef50509d5e4bc91
API matches URI structure: GET https://jl-kv.vault.azure.net/secrets/Secret1/1551892c2fc44880aef50509d5e4bc91

https://docs.microsoft.com/en-us/rest/api/keyvault/getsecret/getsecret#getsecret

I'm a little confused what changes are you l

[2020-10-26 18:33] catalinaperalta commented on #6847
Resources is really only used for AAD v1. Managed identity is currently still using v1 of AAD, however since azidentity is mainly focusing on AAD v2 and want to take advantage of AAD v2 the fact that Managed Identity is still using resources is more of an implementation detail for us. Once Managed Identity moves to AAD v2 they will most likely be using scopes as well. For the common case we do not

[2020-10-26 18:34] #6847 closed

[2020-10-26 19:39] chlowell opened #12981 "UnsupportedApiVersion using managed identity in Azure Functions"
IDENTITY_ENDPOINT and IDENTITY_HEADER are set in Functions apps on Linux Consumption hosting plans. However, the endpoint returns an error for version 2019-08-01, for example: "(UnsupportedApiVersion) The HTTP resource that matches the request URI 'http://localhost:8081/msi/token?api-version=2019-08-01&resource=https://vault.azure.net' does not support the API version '2019-08-01'"

Lacking a way

[2020-10-27 03:17] samuelkoppes commented on #5855
Thank you again for reporting this issue. We will confirm that this fix is available and respond by 11/4/2020.

[2020-10-27 03:21] samuelkoppes commented on #5893
As mentioned in the commentary, this issue is by design. Thank you for bringing this issue to our attention, and in the future we will consider altering our internal design to decouple deletion of the DRC from the lifecycle of the primary namespace in this scenario. Unfortunately we cannot commit to a timeline at present due to resource constraints.

[2020-10-27 03:21] #5893 closed

[2020-10-27 21:38] MehaKaushik commented on #6603
We have root caused the issue, a change at service end is needed. We plan to do so in the coming months. I dont have a fixed timeline yet, once I have it I will update here.

[2020-10-27 22:09] Porges commented on #3158
@jhendrixMSFT at the moment we have a project that is correctly being flagged (internally) due to dependency on the `satori` package as it has [unremediated security problems](https://github.com/satori/go.uuid/issues/73) (reference WS-2018-0594). Could `azure-sdk-for-go` at least switch to the `gofrs` package so it is not using a broken library?

[2020-10-28 03:42] ArcturusZhang commented on #11916
Hi @jlichwa our SDK is generated from the rest api specs, now we did not define an API in the specs that consumes a full URI of a secret, instead we only have [this](https://github.com/Azure/azure-rest-api-specs/blob/c196ef04fa243b9b1dc92fcef87d85521273154f/specification/keyvault/data-plane/Microsoft.KeyVault/stable/2016-10-01/keyvault.json#L962) with a parameterized host, which requires the user

[2020-10-28 07:38] ArcturusZhang commented on #12965
Hi @CecileRobertMichon thanks for this issue.

The package requested is not DNS but privatedns. You could find the SDK package here: https://github.com/Azure/azure-sdk-for-go/tree/master/services/privatedns/mgmt/2018-09-01/privatedns
The corresponding swagger do not accept any update since 17 months ago, therefore I assume the SDK package is still update to date.

[2020-10-28 07:38] #12965 closed

[2020-10-28 14:40] jhendrixMSFT commented on #3158
After some internal discussion we've decided to make this fix.  I scanned the affected packages and it's only ~20% so we feel that the breaking change is low enough impact to be worth it.

[2020-10-28 14:41] jhendrixMSFT commented on #3158
@ArcturusZhang could you please update the code generator to replace `satori/go.uuid` with `gofrs/uuid` please?

[2020-10-28 20:17] khaliddermoumi opened #13012 "appinsights: support API version "2020-02-02-preview""
### Feature Request

Please support API version "2020-02-02-preview" for Application Insights.
There's a major new feature supported in this version, the workspace-based Application Insights resource. It allows integrating AI into a Log Analytics workspace, meaning that the Log Analytics workspace is the data back end for Application Insights.
I noticed the lack of this feature as I started implem

[2020-10-28 20:47] stephengroat-dd commented on #3080
Is there any movement on this?

i've been using https://godoc.org/github.com/Azure/go-autorest/autorest/azure#ParseResourceID, but it seems to be failing me on BlobContainer ResourceIDs, specifically with the ability to pull the StorageAccount from the ResourceID

[2020-10-28 21:52] g2vinay opened #13014 "Address Client Certificate Credential Consistency Review feedback"
Following changes need to be done, based on the review discussion:

- [x] Update Tenant ID Validation Message
- [ ] Add support for send certificate chain (SNI Auth)
- [x]  Investigate credential behavior when scope is passed as nil (How does the credential handle it ? , what error does user see?). if its appropriately handled then no action is needed.
- [x] Investigate Credential Unavailable Exce

[2020-10-29 03:04] #12834 closed

[2020-10-29 14:51] woehrl01 opened #13032 "EventHub for 2018-01-01-preview is using wrong API reference"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
services/preview/eventhub/mgmt/2018-01-01-preview/eventhub

- SDK version e.g. `master`, `latest`, `18.1.0`
  `master`

- What happened?

The API to use the 2018-01-01-preview is passing the wrong API Version:

https://github.com/Azure/azure-sdk-for-go/blob/b54cf2d8e4e1bdf621e7865562134c2f7aeb

[2020-10-29 14:57] jhendrixMSFT commented on #3080
Can you elaborate on the problem with parsing blob containers?

[2020-10-29 14:58] woehrl01 commented on #13032
This current implementation results in https://github.com/terraform-providers/terraform-provider-azurerm/issues/4872 not working.

[2020-10-29 19:41] MehaKaushik commented on #6603
Hey @SebRosander  looks like our Service is coded to have Indexingmode to start with small. To remain consistent with our data plane sdks, we will not change the behavior of the Service, instead we will fix the Swagger. Strictly speaking, we made a mistake while documenting the swagger. Since this will be  a breaking change,we will make this change in the next stable apiVersion. To track this issu

[2020-10-29 19:41] #6603 closed

[2020-10-29 19:43] MehaKaushik commented on #3502
Closing old issues, please reopen if you have any more questions.

[2020-10-29 19:43] #3502 closed

[2020-10-29 20:15] Segflow opened #13034 "forceDeletion query params when deleting resources"
### Feature Request

Some resources DELETE endpoints accept a `forceDeletion` query option (e.g: virtual machine delete) https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/delete

Currently it's not possible to use that query param in the Go SDK.

[2020-10-30 00:04] shaobovaltix opened #13038 "Is there a key vault List Certificates API?"
### Service Package Request

Hi, I'm using Azure Golang SDK to integrate Azure Key Vault certificates access. Is there any APIs I can use to implement something like ListCertificates() to get details of certificates stored in Key Vault?

From Azure CLI there is a command doing what I want:
az keyvault certificate list
https://docs.microsoft.com/en-us/cli/azure/keyvault/certificate?view=azure-cli-l

[2020-10-30 15:55] #13014 closed

[2020-10-30 22:13] catalinaperalta commented on #13014
If a nil scope is set we'll return the error from AAD saying that they need to set a scope.

Leaving this closed since the last point left to address if a duplicate of #11874

[2020-10-30 22:30] catalinaperalta commented on #6597
Done, test assets checked in under sdk/samples/manual-tests/

[2020-10-30 22:30] #6597 closed

[2020-10-30 22:31] catalinaperalta commented on #11876
Added in #12832.

[2020-10-30 22:31] #11876 closed

[2020-10-31 18:43] jim-minter commented on #12534
What I meant was, please could a future version of azure-sdk-for-go revert the change made such that *no* cosmosdb api-version client should erroneously have a SubscriptionID1 field in NewDatabaseAccountsClient?

[2020-10-31 18:44] jim-minter commented on #12534
@ArcturusZhang ^

[2020-11-02 08:31] ArcturusZhang commented on #12534
Hi

[2020-11-03 05:30] ArcturusZhang commented on #13034
Hi @Segflow thanks for this issue and we have it here now: https://github.com/Azure/azure-sdk-for-go/blob/ba145441a3950c78926e1e1dbbd269a20f8bbde0/services/compute/mgmt/2020-06-30/compute/virtualmachines.go#L463

[2020-11-03 05:31] #13034 closed

[2020-11-03 05:43] ArcturusZhang commented on #13032
Hi @woehrl01 thanks for this issue.

But unfortunately we do not have a api-version 2018-01-01-preview for creating the eventhub right now. Here is how this is defined in the specs: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/eventhub/resource-manager/readme.md#tag-package-2018-01-preview
The package you are using in go SDK is generated from [this tag](https://github.co

[2020-11-03 05:46] ArcturusZhang commented on #13032
Beside of the API version (which should not be the root cause of this issue), could you please provide some more details about in which ways https://github.com/terraform-providers/terraform-provider-azurerm/issues/4872 is not working as expected? I suppose someone from the service team may help.

[2020-11-03 06:06] ArcturusZhang commented on #13038
Hi @shaobovaltix thanks for this issue.

Actually we have [this function](https://github.com/Azure/azure-sdk-for-go/blob/ba145441a3950c78926e1e1dbbd269a20f8bbde0/services/keyvault/2016-10-01/keyvault/client.go#L1753), could you please have a look if this could meet your requirement?

[2020-11-03 06:09] ArcturusZhang commented on #13012
Hi @azmonapplicationinsights could you please open a release request for the particular api-version of application insights?

[2020-11-03 08:10] woehrl01 commented on #13032
Thanks @ArcturusZhang  it looks like it's a different issue. I'll investigate further.

[2020-11-03 08:10] #13032 closed

[2020-11-03 08:24] ArcturusZhang commented on #12834
Hi @dnozay despite that this issue should have been resolved, it will not take effect until we actually regenerate one of the packages that you want to mock.
Due to the releasing process we are following now, we only release those packages that are requested by the corresponding service team, in order to let them first ensure their swaggers are good to release since we get too many issues from a b

[2020-11-04 11:50] andyzhangx commented on #9510
anyone know how common is `Azure API returns empty values with non-empty nextLink`, it's corner case or common case?

[2020-11-04 19:06] MehaKaushik commented on #12534
Thanks @ArcturusZhang  for the fix.

[2020-11-04 20:10] greenms opened #13237 "Add GO SDK for new redisenterprise service"
### Service Package Request

Please generate the GO SDK for a new service currently in Public Preview: redisenterprise
Link to Swagger spec: https://github.com/Azure/azure-rest-api-specs/tree/master/specification/redisenterprise/resource-manager
API version: 2020-10-01-preview

This will be used downstream for Terraform.  There are currently no related Terraform issues to link here.

Note: the red

[2020-11-05 02:43] ArcturusZhang commented on #12534
Well, despite the PR in the swaggers would fix this in theory, it would not take effect until we regenerate the impacted packages. Therefore @MehaKaushik could you please open a release request after the fix is merged?

[2020-11-05 02:51] ArcturusZhang commented on #9510
Hi @andyzhangx it might be quite common especially in the cases that there are quite a lot results and a filter, either a filter by the user or the cases that service relies on a filter to get the values.
At least in the tests I have done with the compute RP, they implement the LIST API using filters - here is only my guessings - they have a full paginated list of all kinds of resources, when they

[2020-11-05 03:40] WodansSon opened #13268 "`Operational Insights` - `2020-03-01-preview` returns all fields in lower case"
### Bug Report

Import Path: `./services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights`
SDK version: `46.4.0`
go version : `go1.14 linux/amd64`

### Description of Issue:
Given the below `PUT` and `GET` calls you can see that the API is lower-casing **ALL** of the data returned from the RP. Since Terraform treats all fields as case sensitive this causes issue within the p

[2020-11-05 09:15] #12534 closed

[2020-11-05 18:47] sspeaks610 opened #13283 "Requesting SDK support for Azure Cache for Redis Api version 2020-06-01"
Hello,

We are getting customer asks for a new SDK version to support our newly released api version. What can I do to facilitate this going through?

Here's the azure-rest-api-spec for the new API version :
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/redis/resource-manager/Microsoft.Cache/stable/2020-06-01/redis.json

Thanks!

[2020-11-06 08:31] JoseFMP commented on #8376
Seriously, not supported in terraform? Really annoying now every time we deploy our infrastructure we need to quasi manually create the SendGrid resources

[2020-11-08 08:36] thebenwaters opened #13339 "Support for User Assigned Identity in MSI"
### Feature Request

When using

`NewAuthorizerFromEnvironment()`

I'm receiving

`No MSI found for specified ClientId/ResourceId`

[2020-11-08 12:13] thebenwaters commented on #12181
It looks go-autorest

https://godoc.org/github.com/Azure/go-autorest/autorest/azure/auth#NewMSIConfig

Supports MSI

[2020-11-09 07:42] ArcturusZhang commented on #13339
Hi @thebenwaters thanks for this issue!

I am not quite if this is the right solution, but you could have a try:
[code]
@jhendrixMSFT could you please have a look if the above code is the right way to use MSI authentication?

[2020-11-09 07:43] ArcturusZhang commented on #13283
Hi @sspeaks610 thanks for the issue!

@yegu-ms could you please create a release request if you find this swagger is good to release?

[2020-11-09 16:05] jhendrixMSFT commented on #13339
@ArcturusZhang your example is correct.  @thebenwaters can you please let us know if it works for you?

[2020-11-10 01:24] #13237 closed

[2020-11-10 12:07] kingli-crypto commented on #11692
Any ETA?

[2020-11-11 15:05] thebenwaters commented on #13339
I was having issue with this using a specific resource (Key Vault), but will test and try again

btw) msft: bewaters

[2020-11-11 16:18] mozts2005 commented on #12700
Any ETA?

https://github.com/terraform-providers/terraform-provider-azurerm/issues/8150

[2020-11-11 19:14] CecileRobertMichon commented on #12965
@ArcturusZhang using the 2018-0-01 I'm getting an error: `privatedns.PrivateZonesClient#CreateOrUpdate: Failure sending request: StatusCode=0 -- Original Error: autorest/azure: Service returned an error. Status=\u003cnil\u003e Code=\"MissingRegistrationForLocation\" Message=\"The subscription is not registered for the resource type 'privateDnsZones' in the location 'westus2'. Please re-register fo

[2020-11-11 19:24] CecileRobertMichon commented on #12965
Nevermind, I think it's because I specified a `Location`, looks like that's not required for private dns zones.

[2020-11-11 21:55] CecileRobertMichon commented on #12965
hmm scratch that, when I remove Location I get `privatedns.PrivateZonesClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code=\"LocationRequired\" Message=\"The location property is required for this definition.`

[2020-11-12 02:42] ArcturusZhang commented on #12700
The container registry service team is releasing a new api-version at the beginning of December. We will release a SDK correspondingly when they finish

[2020-11-13 11:29] manicminer opened #13604 "apimanagement: Broken/impossible validation rule for DiagnosticContract"
### Bug Report

- github.com/Azure/azure-sdk-for-go/services/apimanagement/mgmt/2019-12-01/apimanagement
- v47.0.0+incompatible
- go1.14.5 darwin/amd64 (also go1.13.15 darwin/amd64)

- Trying to create an API Diagnostic using `APIDiagnosticClient.CreateOrUpdate()`
- The validation for `DiagnosticContract.DiagnosticContractProperties.Sampling.Percentage` is invalid
- This field is a float. Both val

[2020-11-16 06:15] ArcturusZhang commented on #13604
Hi @manicminer thanks for this issue!

After a quite brief checking, this should be a code generator issue. I will take a look very shortly. This should be resolved in the next version.

[2020-11-16 11:12] AddySanto commented on #6310
Looking for appropriate owner for this.

BTW regarding this: "On a separate note - why does the Security service use a completely different versioning strategy to the rest of this SDK (e.g. 1.0/2.0 vs 2019-01-01/2019-06-01)?" - answer is that the Security service provides security for several products and they aligned to the versioning convention of one of the other products.

[2020-11-17 01:22] #13604 closed

[2020-11-17 06:53] #13038 closed

[2020-11-17 21:08] sebagomez opened #13641 "'unable to create vault authorizer: environment variable AZURE_AUTH_LOCATION is not set' when calling `NewAuthorizerFromFile`"
I'm trying to authenticate with the `NewAuthorizerFromFile` function and get the error from the subject.

[code]

- github.com/Azure/azure-sdk-for-go/services/keyvault/auth
- SDK version `latest`
- go version go1.15.2 darwin/amd64

Looking at the code I realized that the `NewAuthorizerFromFile` function gets the baseURI from the file but it's not doing anything with it. If in deed is expected to g

[2020-11-18 05:04] Sharmistha-Rai commented on #8705
This bug has been fixed an released. Please feel free to reopen in case you still face any issues.
#please-close

[2020-11-18 05:26] ArcturusZhang commented on #13604
Despite this issue was closed, this bug would not be actually resolved until a new SDK version was released.
We are planning to release a new SDK version with this change on this Thursday

[2020-11-18 06:37] Sharmistha-Rai commented on #8705
#please-close

[2020-11-18 08:37] Rajeswari-Mamilla commented on #8705
#please-close

[2020-11-18 08:38] Sharmistha-Rai commented on #8705
@allenjzhang - could you please close this issue? I'm unable to close it.

[2020-11-18 08:41] allenjzhang commented on #8705
Sure. Thank you for fixing the issue.

[2020-11-18 08:41] #8705 closed

[2020-11-18 11:19] aristosvo commented on #9561
@ArcturusZhang Any news?

[2020-11-18 16:08] AdamCoulterOz commented on #6498
So I've just tested this out, and it looks like it works if you set the password to an empty string like this:

[code]

This was my suspicion about three months ago when I posted earlier, but haven't had a chance till now to test my theory. I have created a PR to fix this for the new resource here:

https://github.com/terraform-providers/terraform-provider-azurerm/pull/9378

[2020-11-19 06:52] AdamCoulterOz opened #13665 "web.CertificatesClient.CreateOrUpdate always returns error due to not supporting 202 Accepted Rest Response"
### Bug Report

Paths:
`/services/web/mgmt/2019-08-01/web/certificates.go`
`/services/web/mgmt/2020-06-01/web/certificates.go`

Version: v48.1

**- What happened?**

When attempting to CreateOrUpdate a Certificate the AutoRest client always (at least for managed certificates) returns a `202 Accepted` asynchronous "future creation" response, which the client errors on in the following code, specifi

[2020-11-19 12:19] jackofallops commented on #13665
FWIW - I think this should be an LRO, meaning there's a `future` missing from the SDK that the `CreateOrUpdate` should return for us to poll for completion?

[2020-11-19 16:59] akahn opened #13700 "Metrics List does not use context for HTTP request"
### Feature Request

https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/monitor/mgmt/2019-06-01/insights/metrics.go#L85

The insights metrics package supports fetching metrics for Azure resources. The `List` method takes a context as a parameter. However, this context is not passed in to autorest's `ListSender`. This means that any deadline/timeout the user has set on the reque

[2020-11-21 08:37] AdamCoulterOz commented on #13665
Precisely what I was reporting as missing

[2020-11-22 20:19] frecke commented on #8376
+1 on this. I would also like to be able to deploy Sendgrid using Terraform.

[2020-11-23 06:21] ArcturusZhang commented on #13700
Hi @akahn thanks for this issue.

Actually the context is passing in with the request, see the code here: https://github.com/Azure/azure-sdk-for-go/blob/e6a7ee8b264373c1f827ce8e95a1e12cc8f97f1c/services/preview/monitor/mgmt/2019-06-01/insights/metrics.go#L143

CCing @jhendrixMSFT for more context about this.

[2020-11-23 06:29] ArcturusZhang commented on #13641
Hi @sebagomez thanks for this issue!

Actually go SDK internally uses this env variable to find the auth file, see code here: https://github.com/Azure/go-autorest/blob/e85e33a04d242eb0eba5408e4dadf8783047b62f/autorest/azure/auth/auth.go#L294
It is confusing but the parameter of [function `NewAuthorizerFromFile`](https://github.com/Azure/azure-sdk-for-go/blob/e6a7ee8b264373c1f827ce8e95a1e12cc8f97f1

[2020-11-23 14:18] akahn commented on #13700
My mistake. Thank you for the clarification.

[2020-11-23 14:18] #13700 closed

[2020-11-23 17:42] jlichwa commented on #11916
Thank you @ArcturusZhang. REST API already define that method (full URI as a method) and it is up to SDK to provide user friendly interface for their consumers. @jhendrixMSFT is @ArcturusZhang suggestion reasonable.

[2020-11-23 22:41] kyle-iot opened #13748 "This SDK doesn't support the new version of billing api (specifically tags flag)"
The new version of Azure billing API has a flag that includes tags and needs to be supported by this SDK

[2020-11-24 00:23] matthchr opened #13749 "Configuration is lacking an environment variable for MySQL DNS Suffix"
### Feature Request

Azure SQL has one: `config.Environment().SQLDatabaseDNSSuffix` (at least I think this is for Azure SQL).
MySQL's suffix is (based on their documentation): `mysql.database.azure.com`, but there is no such entry in `config.Environment` as far as I can tell.

[2020-11-24 18:38] sebagomez commented on #13641
Ok, it is a lot confusing in deed. Don't see the point of expecting a baseUri (which I assumed it was the file path) to be ignored and expect another environment variable, not mentioned anywhere. I chose the `NewAuthorizerFromFile` function over `NewAuthorizerFromEnvironment` because I didn't want to use environment variables in my implementation. I don't think there's a point on having two separa

[2020-11-25 06:35] #10566 closed

[2020-11-25 08:27] ArcturusZhang commented on #13641
@sebagomez yeah, actually the point of these two functions are where the credentials are stored.
Also the package `github.com/Azure/azure-sdk-for-go/services/keyvault/auth` is a wrapper of useful functions from `go-autorest` as a convenient layer for data plane keyvault SDK. The parameter of `kvauth.NewAuthorizerFromFile` might be a mistake...

@jhendrixMSFT any insights?

[2020-11-25 12:53] mrsheepuk commented on #12452
Any updated on when this is likely to be released? At the current version, as far as I can work out, it's impossible to filter by usage date for anything other than EA accounts...

[2020-11-26 00:28] mrsheepuk commented on #12452
@ArcturusZhang FYI, I tested the consumption API on this PR https://github.com/Azure/azure-sdk-for-go/pull/13208 and got errors unmarshalling JSON due to being unable to parse the values in the JSON for IsAzureCreditEligible on ModernUsageDetailProperties - the JSON has a value of `"1"` for this and the model defines it as a `*bool` - changing it in the model to `*string` let me get past the error

[2020-11-26 20:52] aristosvo opened #13793 "Support for Microsoft.Automanage"
### Service Package Request

Support for [Microsoft.Automanage](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/automanage/resource-manager/Microsoft.Automanage/preview/2020-06-30-preview)

Terraform issue: https://github.com/terraform-providers/terraform-provider-azurerm/issues/9461

[2020-11-26 20:53] #13793 closed

[2020-11-30 03:21] ArcturusZhang commented on #12452
Hi @mrsheepuk instead of changing the SDK, I suppose this is more of a problem that the service should not return a boolean value in string - it is a better solution if the service team could change their payload.
Could you please open an issue in the [azure-rest-api-specs repo](https://github.com/Azure/azure-rest-api-specs/issues) about this?

[2020-11-30 11:05] mrsheepuk commented on #12452
Thanks @ArcturusZhang - raised https://github.com/Azure/azure-rest-api-specs/issues/11849 for this.

[2020-11-30 17:58] jhendrixMSFT commented on #13641
The `baseURI` parameter is used by the SDK to calculate the underlying resource (management, key vault, etc).  Apparently the documentation for this was missed.  :(  That said, I think this API is pretty bad but we can't really change it now (we'd have to add a new one in parallel).  In addition, it really doesn't make any sense to have this param in the key vault auth API as we already know what

[2020-11-30 18:13] jhendrixMSFT commented on #11916
We will be doing this for the track 2 key vault implementation, but have no plans to introduce such a convenience layer in track 1.

[2020-12-01 04:50] mbfrahry opened #13821 "Data Factory - Validation Error when trying to change `PublicNetworkAccess`"
### Bug Report

- `azure-sdk-for-go/services/datafactory/mgmt/2018-06-01/datafactory`
- SDK Version `48.1.0`
- `go version go1.15 darwin/amd64`

I'm trying to adjust just the `PublicNetworkAccess` Data Factory attribute but I'm getting a validation error

[code]

I'm not specifying a `RepoConfiguration` and a `RepoConfiguration` isn't needed to change `PublicNetworkAccess`. Digging into the sdk sh

[2020-12-01 06:53] ArcturusZhang commented on #12452
Thanks! And I have labeled the issue to draw service team's attention.

[2020-12-01 07:27] ArcturusZhang commented on #13748
Hi @kyle-iot thanks for this issue.

The latest package for billing is here: https://github.com/Azure/azure-sdk-for-go/tree/master/services/preview/billing/mgmt/2020-05-01-preview/billing

[2020-12-01 07:29] ArcturusZhang commented on #13749
Hi @matthchr thanks for this issue!

Hi @jhendrixMSFT according to this, do we need to add something in `go-autorest`?

[2020-12-01 07:34] cuntoulishifu commented on #2822
I have the same problem,  my tf code as bellow:

**resource "azurerm_backup_policy_vm" "xxxx-ct-bpv" {
  //Frequency : once a week
  //Retention : one year
  name                = "${var.prefix}-xxxx-ct-bpv"
  resource_group_name = azurerm_resource_group.backup-xxxx-ct.name
  recovery_vault_name = azurerm_recovery_services_vault.xxxx-ct-rsv.name
  timezone = "UTC+8"

  backup {
    frequency = "We

[2020-12-01 08:10] kyle-iot commented on #13748
Hello,
Thank you @ArcturusZhang !
Please keep this issue open for a few days. I will check it out and get back to you shortly.

[2020-12-01 08:22] ArcturusZhang commented on #13821
Hi @mbfrahry thanks for this issue!

I could tell that this should be a bug in the validation part of `go-autorest`. I will go through this and probably provide a valid fix for this.

[2020-12-01 12:55] thebenwaters commented on #13339
Worked on VM, but need to test in Azure Functions (these was mainly where I had the issue)

[2020-12-01 15:36] jhendrixMSFT commented on #13749
Correct, it would go [here](https://github.com/Azure/go-autorest/blob/master/autorest/azure/environments.go#L54).

@matthchr is the DNS suffix the same for sovereign clouds, or is MySQL not supported there?

[2020-12-01 16:31] matthchr commented on #13749
I'm actually not sure @jhendrixMSFT - I'm not a developer of MySQL just a user.

[2020-12-02 10:47] AbelHu commented on #11094
@timMSFT If I use firewallpolicy, I cannot use traditional network rules and application rules. How can I use custom dns proxy settings with traditional rules?

https://docs.microsoft.com/en-us/azure/firewall-manager/policy-overview#traditional-rules-and-policies
Subject | Policy | Rules
-- | -- | --
Contains | NAT, Network, Application rules, custom DNS and DNS proxy settings, IP Groups, and Thre

[2020-12-02 11:41] AbelHu commented on #11094
Finally I found the solution. I really wish that there was a good document for it.
[code]

[2020-12-02 11:41] #11094 closed

[2020-12-03 15:51] yaegashi opened #13855 "applicationgroups not found in Microsoft.DesktopVirtualization for 2020-11-02-preview"
### Bug Report

- import path of package: `github.com/Azure/azure-sdk-for-go/profiles/preview/preview/desktopvirtualization/mgmt/desktopvirtualization`
- SDK version: v49.0.0
- output of `go version`: go version go1.15.5 linux/amd64 (on Windows 10 WSL2)

After upgraded to v49.0.0, the API request by `desktopvirtualization.ApplicationGroupsClient` is getting the following error:

[code]

I've had n

[2020-12-03 18:24] catalinaperalta opened #13856 "Check datetime string parsing failure in app service"
Check if padding characters need to be removed or if both variations need to be checked.

[2020-12-04 02:50] ArcturusZhang commented on #13855
Hi @yaegashi thanks for this issue!

The preview profile will automatically select the package that is latest in the `api-version` segment of the package path - therefore when a SDK version bump happens, the same profile might point to a different package, like in this version `v49.0.0`. In `v47.0.0`, the preview profile for `desktopvirtualization` points to `2019-12-10-preview`, and now it points

[2020-12-04 02:52] ArcturusZhang commented on #13855
Hi @Goxu92 do you have any insights on this error?

[2020-12-04 12:32] dimbleby opened #13882 "Error being swallowed when listing providers?"
### Bug Report

(I'm a terraform user rather than developer, sorry if I've got these details wrong)

- `services/resources/mgmt/2016-02-01/resources`?
- 48.1.0, I think

---

I'm using terraform, and seeing the azurerm provider hang at a point where it lists providers. I've raised https://github.com/terraform-providers/terraform-provider-azurerm/issues/9662, but they haven't got back to me yet, so

[2020-12-04 20:12] jochav commented on #11869
Try using dimensions instead of dimension:

`{
  "type": "ActualCost",
  "timeframe": "MonthToDate",
  "dataset": {
    "aggregation": {
      "totalCost": {
        "name": "PreTaxCost",
        "function": "Sum"
      },
      "totalCostUSD": {
        "name": "PreTaxCostUSD",
        "function": "Sum"
      }
    },
    "filter": {
      "and": [
        {
          "**dimensions**": {

[2020-12-04 20:38] jochav commented on #8318
@jinxue-w the values should be "tags" instead of "tag" and "dimensions" instead of "dimension". We will be updating our documentation to reflect these changes. Thanks!

[2020-12-05 21:22] simongottschlag opened #13893 "Question about azidentity"
Hi!

I've looked at azidentity and was wondering if it's something that's ready to be used?

I tried using it with resources but wasn't able to figure it out.

So the question is, should I wait to use azidentity? Or is it possible to use with the other parts of the SDK?

Thank you!

[2020-12-06 18:18] DavidGOrtega opened #13894 "VMMarketplaceInvalidInput using a marketplace image"
👋 Hi there! Im running into an issue, I have googled, looked all the examples, etc... but I might have overlooked how to setup this.
Any help will be truly appreciated

### Bug Report

[code]

[code]

When trying to setup a marketplace image
[code]

seems that Im missing something regarding to a plan.
The image that I want to setup is  ```nvidia:tensorflow_from_nvidia:tensorflow_nvidia_20_03_1:20.

[2020-12-08 19:34] catalinaperalta commented on #13856
Also update client_id param for the 2017 version to clientid

[2020-12-08 19:50] catalinaperalta commented on #13893
Hi! `azidentity` is in beta but you can use it to authenticate with your code.

If you're using the older version of the sdk that requires an `authorizer` you can use `azidentity` with the adapter found in the example [here](https://github.com/Azure/azure-sdk-for-go/blob/master/sdk/samples/azidentity/SDKV1Adapter/example_SDKV1_test.go).

If you are using the new management modules which can be fou

[2020-12-08 19:54] simongottschlag commented on #13893
@catalinaperalta thank you so much for the information! 😁

[2020-12-08 19:54] #13893 closed

[2020-12-08 21:37] jhendrixMSFT commented on #13821
This will require some changes in the code generator to fix.  In the meantime, I'm adding an escape-hatch to disable parameter validation https://github.com/Azure/go-autorest/pull/595

[2020-12-08 22:53] jhendrixMSFT commented on #13821
The flag to disable validation is in `autorest/validation/v0.3.1`

[code]

[2020-12-09 15:53] jhendrixMSFT commented on #13641
This should now be resolved.

[2020-12-09 15:53] #13641 closed

[2020-12-09 15:55] jhendrixMSFT commented on #13339
There were a few bugs with user-assigned identity and azure functions that I recently fixed.  Please be sure to use the latest versions of `adal` and `auth` modules before testing.

[2020-12-09 15:58] jhendrixMSFT commented on #13882
The missing return does seem suspicious.  @ArcturusZhang can you please take a look?

[2020-12-09 18:26] catalinaperalta commented on #13856
Fixed in #13912

[2020-12-09 18:26] #13856 closed

[2020-12-10 00:58] ArcturusZhang commented on #13882
Yes it is the root cause. I will fix this for all the RPs in the next version of SDK

[2020-12-10 01:23] ArcturusZhang commented on #13894
Hi @DavidGOrtega thanks for this issue!

Some market images require [a `plan` block](https://github.com/Azure/azure-sdk-for-go/blob/45baddab6265c95b9cac48d7e23628c95d581945/services/compute/mgmt/2020-06-30/compute/models.go#L9891), this is a requirement from the service itself.

[2020-12-10 02:36] ramaganesan-rg commented on #8318
@jinxue-w - thank you for the feedback. May i go ahead to archive the request, if there are no further questions? please let us know.

[2020-12-10 02:38] ramaganesan-rg commented on #11869
Hi Aditya, thank you for the feedback. May I go ahead to archive the request, if there are no further questions? please let us know.

[2020-12-10 04:00] anasokan opened #13946 "Redis 6 config support"
Hi Team,

I see that azure has started to support redis 6 in preview mode now.
To consume from script we need support for configuration of redis version from the API.
Can you check and provide the same

[2020-12-10 09:08] yogilad commented on #7916
Kusto Go is available:

- https://github.com/Azure/azure-kusto-go
- https://docs.microsoft.com/en-us/azure/data-explorer/kusto/api/golang/kusto-golang-client-library

[2020-12-10 09:09] vladikbr commented on #7916
Kusto data plane SDK for Go is published here: https://github.com/Azure/azure-kusto-go

[2020-12-10 12:22] DavidGOrtega commented on #13894
👋 @ArcturusZhang

I tried it also without any luck

[code]

Seems that I have to accept the agreement somehow.

[2020-12-10 12:53] dhimannext commented on #6206
you should select **none** in Body tab.....if you are hitting through **postman**

[2020-12-11 12:47] escortnotice opened #13954 "Creating Azure Firewall from GO SDK is not getting Private IP generated."
### Bug Report

When we are trying to create an "Azure FIrewall" using SDK for GO ( "github.com/Azure/azure-sdk-for-go/services/network/mgmt/2019-06-01/network" ) , the azure firewall get created but without a private IP address.
We would like Microsoft to investigate on this if the SDK has a bug or help us with a sample "GO" code for creating an azure firewall.
It also shows the same behaviour wi

[2020-12-12 00:03] xinyi-joffre commented on #9216
I can take a look at adding these to the specs for graphrbac here: https://github.com/Azure/azure-rest-api-specs as a first step.

Our team is also blocked on terraform-providers/terraform-provider-azuread#199

[2020-12-12 00:45] xinyi-joffre commented on #9216
I made a PR here: Azure/azure-rest-api-specs#12081

[2020-12-14 02:57] ArcturusZhang commented on #13821
Reopen this issue since this is only resolved when a new package for data factory is released.

[2020-12-14 08:26] ArcturusZhang commented on #13954
Hi @escortnotice thanks for this issue!

Could you please also share the code of creating this Azure Firewall?
Please note the creation of azure fire wall is async, you will have to explicitly wait for its completion in your code.
One very brief sample:
[code]
And I assume you are referring the `privateIPAddress` in `IPConfigurations`, but please note you will not get one if you did not explicitly

[2020-12-14 09:59] escortnotice commented on #13954
Hi Arcturus, Thank You for your response. We will try to investigate and see if the async code update is the issue on our end or not.

Below is our code for your reference.

`func (e *external) Create(ctx context.Context, mg resource.Managed) (managed.ExternalCreation, error) {
	v, ok := mg.(*v1alpha3.AzureFirewall)
	if !ok {
		return managed.ExternalCreation{}, errors.New(errNotAzureFirewall)
	}

[2020-12-14 20:19] catalinaperalta commented on #6599
Closing as we've done this review on our end in Go and we've participated in consistency reviews with the other languages.

[2020-12-14 20:19] #6599 closed

[2020-12-14 21:57] EugenMayer opened #13997 "Feature Request: Support Pipelines"
### Feature Request

It would be great to be able to run (start) specific pipelines of a project or and check the status of a run and such using and identifier.

I spotted https://github.com/Azure/azure-pipeline-go and i'am not sure if this can be incorporated or how those plans (why the projects have been splitted in the first place)

[2020-12-15 10:34] haflidif commented on #13012
Hi @azmonapplicationinsights any updates ?

[2020-12-15 16:01] #11874 closed

[2020-12-15 16:14] #12930 closed

[2020-12-16 06:04] ArcturusZhang commented on #13894
Hey @DavidGOrtega sorry things do not work, but this is not something wrong with the SDK itself.
As far as I know, they did not provide a function or something in the SDK to let you could accept the agreement - you will have to do it on the portal and then go back to your code.
But I do not know much about the detail of this. Therefore I have tagged this issue so that someone from the service team

[2020-12-16 06:33] ArcturusZhang commented on #13954
Hi @escortnotice thanks for the reply, and is it possible to print the variable `af` out before you send the request? Or could you confirm that you at least defined on IPConfiguration block in the request body.
Logging out the request body is another option - you could enable this by export a env var `AZURE_GO_SDK_LOG_LEVEL=DEBUG`

[2020-12-16 14:54] amshuman-kr opened #14010 "Generated interfaces for the various services are not self-complete"
### Bug Report

- import path of package in question, e.g. `.../services/XXX/mgmt/*/XXX/XXXapi`
- SDK version `master` (and older releases)

- What happened?
The API interface abstractions for the various services are not self-complete and cannot be used without using the corresponding concrete implementation structure. For example, the [`CreateOrUpdate`](https://github.com/Azure/azure-sdk-for-go/

[2020-12-16 19:08] avirishuv commented on #13894
Assigning to @axayjo for taking a look at the issue.

[2020-12-16 23:50] DavidGOrtega opened #14014 "CustomData is not working"
I try to setup customData in my machine

[code]
go1.15 darwin/amd64

[code]

where customData is generated by

[code]

The content of ```provision.sh``` is

[code]

if I do a ```terraform --help``` inside the machine the command is not there

If I use the decoded base64 generated by my code to provision a machine within the portal it works perfectly.

[2020-12-17 04:09] ArcturusZhang commented on #13997
Hi @EugenMayer thanks for this issue.

This repo is designed to store those SDKs that are auto-generated from [`azure-rest-api-specs`](https://github.com/Azure/azure-rest-api-specs). We cannot support the SDK of pipelines because we now do not have the corresponding rest api specs. This is also the reason why they have to use a different repo.

Based on the above reason, unfortunately I will close

[2020-12-17 04:09] #13997 closed

[2020-12-17 04:12] ArcturusZhang commented on #14010
Hi @amshuman-kr thanks for this issue!

Indeed now the SDKs in `services` directory have this issue because the API interfaces are introduced after the structure of the generated SDK is confirmed. To change those, quite big breaking changes will be introduced to all of the packages in the services directory.

@jhendrixMSFT Could you also provide some insights? For instance, are there some minor fe

[2020-12-17 04:16] ArcturusZhang commented on #14014
Hi @DavidGOrtega thanks for this issue!

Could you please enable the SDK request body logging to determine whether the customData field is in the REST API request body?
You could enable the logging by exporting an env var `AZURE_GO_SDK_LOG_LEVEL=DEBUG`

[2020-12-17 04:45] amshuman-kr commented on #14010
@ArcturusZhang Thanks for the quick response!

Couldn't making the following changes to the generated service API interfaces solve this without breaking compatibility?
1. Make the [`VirtualMachinesClientAPI`](https://github.com/Azure/azure-sdk-for-go/blob/1e83b2a03f378c916652ca802e5396c0a1b76592/services/compute/mgmt/2020-06-30/compute/computeapi/interfaces.go#L143-L171) extend the [`autorest.Send

[2020-12-17 06:30] ArcturusZhang commented on #14010
@amshuman-kr well, this solution has some problems.
First is that it does not make much sense to let VirtualMachinesClientAPI extend the Sender interface. But to solve the problem, maybe we could let it slide.
The biggest issue is that the third point will cause a cyclic import error. In this case, the `computeapi` is referencing a lot of models in the `compute` package, therefore the `compute` pa

[2020-12-17 06:30] jlk opened #14028 "pkg.go.dev not showing all API clients"
### Bug Report

Folks - I'm not positive if this is a godoc bug on the `azure-sdk-for-go` side, or an issue with the new pkg.go.dev. Either way, a heads up:

Looking at the future godoc home of https://pkg.go.dev/github.com/Azure/azure-sdk-for-go, it's currently only showing me about 48 directories. Many many API clients are missing.

If I look at https://godoc.org/github.com/Azure/azure-sdk-for-g

[2020-12-17 06:44] amshuman-kr commented on #14010
Given the current situation, I can't think of any way to avoid this other than changing the `GetResult` method even further (such as accepting client/sender as an additional parameter or embedding the client as a field in the `VirtualMachinesCreateOrUpdateFuture).

Is anyone currently using the XXXapi interfaces considering that they are not self-complete? Would the alternative of generating a fre

[2020-12-17 07:18] EugenMayer commented on #13997
Thank you for the clarification

[2020-12-17 09:19] ArcturusZhang commented on #14028
Hi @jlk thanks for this issue!

@jhendrixMSFT I see that `pkg.go.dev` only shows the track 2 modules, Is this issue caused by our track 1 SDK is not using modules?

[2020-12-17 09:32] #12724 closed

[2020-12-17 09:32] #13821 closed

[2020-12-17 09:32] #13882 closed

[2020-12-17 15:28] jhendrixMSFT commented on #14028
That's correct.  The content in `pkg.go.dev` is created by scanning the Go module mirror, and since track 1 doesn't use modules it won't show up there.

See https://go.dev/about for details.

[2020-12-17 16:43] jhendrixMSFT commented on #14010
I have a few ideas on how to implement this.  Here are some prototypes.

**Change `FooFuture` types to interfaces.**
https://github.com/jhendrixMSFT/azure-sdk-for-go/commit/c086ae5b19d8e226c863afa96e5405017e125a25

While it's technically a breaking change, I think this is pretty compatible.  It would also be the easiest way for callers to mock the future.  The downside is that it affects all publi

[2020-12-17 17:40] jhendrixMSFT commented on #14010
A variant to the second option would be to generate this as a new set of interfaces side-by-side with the existing ones.

[2020-12-17 19:22] jhendrixMSFT commented on #14010
A colleague suggested another approach which I think is best, and I'm pretty confident this wouldn't be a breaking change.

https://github.com/jhendrixMSFT/azure-sdk-for-go/commit/b36fda9a3c13e12e89a1f3a75e1ea541d9a2eccb

This changes the `FooFuture.Result()` method to a `func` field on the `FooFuture` type; it also embeds the `autorest.FutureAPI` interface instead of the `autorest.Future` concret

[2020-12-17 19:26] amshuman-kr commented on #14010
Yes, this indeed seems to solve the problem without breaking existing functionality.

[2020-12-17 21:30] curib commented on #13283
Hi @ArcturusZhang, please see the following: https://github.com/Azure/sdk-release-request/issues/1054

[2020-12-17 22:51] jhendrixMSFT commented on #14010
@alexeldeib I know you were interested in this in the past.

[2020-12-18 09:20] DavidGOrtega commented on #14014
@ArcturusZhang thanks for the response.
I have checked that the customData works. However, the ready state of the VM is way before the customData has been effectively put in place. As you may have been noticed I writing a TF provider. The issue is that the provider tests have TF provisioners (SSH) that are being executed after the VM is ready (i determine that using this lib).

Should not the ```f

[2020-12-18 16:36] AndriiOmelianenko opened #14032 "appRoleAssignments for groups"
Hello, I have a need to develop code that is going to attach role to a group like below:

[code]

Could you please let me know if there is an SDK for such operations?

If no - I need to develop it as well, so how do I properly go through login? I've logged in to az-cli like so:
[code]

[2020-12-21 02:49] ArcturusZhang commented on #14014
Hi @DavidGOrtega unfortunately I do not know the answer. Therefore I tagged this issue so that the corresponding service team could have a look at this issue and might provide an answer and/or solution for this.

[2020-12-22 01:31] amjads1 commented on #14014
@jaylabell Could you please look into this issue?

[2020-12-22 03:48] jinxue-w commented on #8318
ok

[2020-12-22 14:52] vijayrajah commented on #14032
@AndriiOmelianenko .. Please check [here](https://github.com/yaegashi/msgraph.go) for a SDK for MS Graph. This SDK does not support MS Graph operations.

[2020-12-22 15:31] AndriiOmelianenko commented on #14032
hi @vijayrajah , isn't this https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/master/authorization/authorization.go#L42 example doing something similar? I'm kind of new to Azure/Graph stack, sorry for dumb questions :)

I need to attach application role to AD group, according to Azure manifests

[2020-12-23 05:34] ArcturusZhang commented on #13283
Hi @sspeaks610 this package has been released in v49.1.0, therefore I will close this issue now. Thanks

[2020-12-23 05:34] #13283 closed

[2020-12-23 16:02] catalinaperalta opened #14051 "Consider adding optional port field to InteractiveBrowserCredential"
Some users might want to use a specific port.

[2020-12-23 18:40] amjads1 commented on #13894
@ArcturusZhang  Considering on-going holidays, hoping to get an update in the first week of Jan.

[2020-12-23 20:33] FelipeMFlores commented on #2838
@tariq1890 @anton-yurchenko
I found this:
https://docs.microsoft.com/en-us/azure/virtual-machines/states-lifecycle

[2020-12-24 11:05] DavidGOrtega commented on #13894
Thanks guys for the effort. Merry Christmas!

[2020-12-28 06:20] pvrk commented on #2824
Closing this bug due to lack of response. We have checked internally once again and doesn't see this issue getting re-produced after the fix was provided.

[2020-12-28 06:20] #2824 closed

[2020-12-31 04:54] #13954 closed

[2021-01-03 15:28] gowrisankar22 opened #14065 "Getting Groupid for private endpoint creation argument via golang SDK"
Hi,

Creating a private endpoint, I have to pass the Groupid **[1]** via `PrivateLinkServiceConnectionProperties`. This groupid is different for each and every service. How to identify the GroupId for the PrivateLinkServiceConnectionProperties??

**Example:**
To get the groupid via az cli, I am passing the serviceid like below, in the response, I am getting a groupId.

But I want to get that the s

[2021-01-03 17:41] gowrisankar22 opened #14066 "Identify right private dns zone for azure services for the private endpoint"
Hello All,

After creating a private endpoint for any of the azure services, we need to add the A record for the respective service to the custom Private DNS zone(if I don't select the default option). Consider I am doing this is using Kubernetes operator(using azure golang sdk).

Before creating the A record for any of the supported services, after creating a private endpoint, I need to identify

[2021-01-04 16:31] jhendrixMSFT commented on #14028
Closing as this is behaving as intended.

[2021-01-04 16:31] #14028 closed

[2021-01-06 01:31] ross-p-smith opened #14090 "Support Microsoft.Insights/preview/2019-10-17"
### Feature Request

Support Azure Monitor Private Link Scope by supporting this api - [https://github.com/Azure/azure-rest-api-specs/tree/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview)

[2021-01-07 04:27] ArcturusZhang commented on #14090
Hi @ross-p-smith thanks for opening this issue!

I notice that you are a member of MS Azure, therefore could you go to https://aka.ms/openapihub to open a release request? Now we only release the packages when we receive a release request (or want to roll out some big changes from the code generator)

[2021-01-07 04:31] ArcturusZhang commented on #14065
Hi @gowrisankar22 thanks for opening this issue!

Would [this API](https://github.com/Azure/azure-sdk-for-go/blob/833259e221a0b7bdfc44dcf496be6a6fd75102e3/services/postgresql/mgmt/2020-01-01/postgresql/privatelinkresources.go#L140) or [this API](https://github.com/Azure/azure-sdk-for-go/blob/833259e221a0b7bdfc44dcf496be6a6fd75102e3/services/postgresql/mgmt/2020-01-01/postgresql/privatelinkresource

[2021-01-07 04:32] ArcturusZhang commented on #14066
Hi @gowrisankar22 thanks for opening this issue!

But this seems like to be duplicate of https://github.com/Azure/azure-sdk-for-go/issues/14065, I am going to close this issue in favor of #14065

[2021-01-07 04:32] #14066 closed

[2021-01-07 05:14] shaobovaltix opened #14105 "SSHPublicKeys client.ListBySubscriptionComplete() returns an empty list"
### Bug Report

- import path of package in question
`github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2020-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
   v47.0.0
- output of `go version`
`go version go1.15.3 darwin/amd64`

- What happened?
The following code returns an empty list of ssh public keys, but actually I have a few keys stored in Azure.
        `client := compu

[2021-01-07 05:15] gowrisankar22 commented on #14066
@ArcturusZhang This is not a duplicate. Both are two different asks. How to identify the right DNS private zone from a serviceid ..

[2021-01-07 11:18] Tirke opened #14106 "Can't create App Insights workbook"
### Bug Report

- import path of package `../services/appinsights/mgmt/2015-05-01/insights/`
- SDK version v46.1.0
- go version go1.15.6 darwin/amd64

- What happened?
While trying to create an AppInsihgts Workbook with the `CreateOrUpdate` method I had the following error.

[code]

What I understand is that API Version 2015-05-01 is not supported for appinsights workbook creation. But it is hardc

[2021-01-08 16:23] raffaelespazzoli opened #14110 "[question] proper way to list machines"
This is a question, not a bug report

I'm trying to get a list of VMs, I'm running this call:

[code]
and I get an empty result, not an error.

If I do the same from the command line:
[code]
using the same resourceGroupName, I get the expected result?
What am I doing worng? Could this be a permission issue?
What role do I need to list machines?
Currently the account used to make the call has this

[2021-01-08 21:27] xinyi-joffre commented on #9216
The PR was merged to the azure-rest-api-specs repo 10 days ago. Is there anything I need to do to trigger generating the sdk update for graphrbac?

[2021-01-10 10:27] martenbohlin opened #14120 "ServerVulnerabilityAssessmentClient Delete returns error object even if successful"
### Bug Report

- import path of package in question, e.g. `github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v3.0/security`
- SDK version `31.1.0`
  - Specify the exact commit if possible: `397140cd20ce375b8da0534436fb918389917264`
- output of `go version` `go version go1.15.6 darwin/amd64`

- What happened?
When invoking Delete for a server vulnerability assessment the API an erro

[2021-01-10 17:31] shaunco opened #14121 "Device Provisioning Service"
### Service Package Request

Perhaps I'm just not finding it, but it appears there is no support for https://github.com/Azure/azure-rest-api-specs/tree/master/specification/deviceprovisioningservices/resource-manager in the azure-sdk-for-go.

[2021-01-11 04:19] ArcturusZhang commented on #14110
Hi @raffaelespazzoli thanks for opening this issue!

Could you also provide some request log related with this request for us to better debug this issue? You can enable the request log by exporting an environment variable `AZURE_GO_SDK_LOG_FILE=DEBUG`

[2021-01-11 04:30] ArcturusZhang commented on #14106
Hi @Tirke thanks for opening this issue!

Regarding the api-version issue, we do have a lot of other api-versions for appinsights, but the appinsights team did not release them in go SDK (taking `compute` as an example here, you can see a lot of api-versions here: https://github.com/Azure/azure-sdk-for-go/tree/master/services/compute/mgmt).
And also, if an API is not acceptable by the service, tha

[2021-01-11 04:37] ArcturusZhang commented on #14120
Hi @martenbohlin thanks for this issue!

This is a swagger bug - this API appears to be an async operation (otherwise it would not return 202 as response code), but it is not marked as `long-running-operation` in [the swagger](https://github.com/Azure/azure-rest-api-specs/blob/ffc5119f58e1e302748bd21aff7bc01acd2b6d13/specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/serv

[2021-01-11 04:38] ArcturusZhang commented on #14120
And also this issue has already been reported here: https://github.com/Azure/azure-rest-api-specs/issues/12308
Therefore close this issue in favor of the issue above.

[2021-01-11 04:38] #14120 closed

[2021-01-11 04:42] ArcturusZhang commented on #14121
Here you go:
https://github.com/Azure/azure-sdk-for-go/tree/master/services/provisioningservices/mgmt
and
https://github.com/Azure/azure-sdk-for-go/tree/master/services/preview/provisioningservices/mgmt/2017-08-21-preview/iothub

[2021-01-11 04:43] ArcturusZhang commented on #14105
Hi @shaobovaltix thanks for this issue!

Could you also provide some request log related with this request for us to better debug this issue? You can enable the request log by exporting an environment variable `AZURE_GO_SDK_LOG_FILE=DEBUG`

[2021-01-11 05:56] shaunco commented on #14121
Sorry @ArcturusZhang, but that only contains the DPS Certificate API and DPS Resource API. Where is:
- [Enrollment Groups](https://docs.microsoft.com/en-us/rest/api/iot-dps/getenrollmentgroup)
- [Individual Enrollments](https://docs.microsoft.com/en-us/rest/api/iot-dps/getindividualenrollment/getindividualenrollment)
- [Registrations](https://docs.microsoft.com/en-us/rest/api/iot-dps/querydevicere

[2021-01-11 13:19] raffaelespazzoli commented on #14110
It turned out I didn't have enough permissions. `Contributor` was needed. It's weird and I'd like to understand why. Also one would expect the call to return 401 if not enough permissions are available, not an empty result set.

[2021-01-11 13:47] ArcturusZhang commented on #14121
Hey @shaunco I just reopen this issue.
The newer api-versions are not released because the corresponding service team is not requesting them, we cannot release the SDK without the service team's request (it works as a confirmation of the swagger's productivity).
Therefore I tagged this issue so that the corresponding service team could come and have a look.

[2021-01-11 18:17] shaunco commented on #14121
Thanks!

Weird that APIs that are fully documented on docs.microsoft.com don't make it in to the SDK until the team owning the service specifically asks for it...

[2021-01-11 18:31] nberdy commented on #14121
@ArcturusZhang could you please contact me about the process for getting included in the Azure SDK?

[2021-01-11 22:38] catalinaperalta commented on #14051
Fixed in #14052

[2021-01-11 22:38] #14051 closed

[2021-01-12 01:00] #14010 closed

[2021-01-12 01:39] ArcturusZhang commented on #14110
Well, then this might turn into a service issue. Let me tag this issue so that the service team might have a look.

[2021-01-12 01:44] nberdy commented on #14121
Hi @shaunco, it sounds like you're looking to use data plane APIs in the Azure SDK. Unfortunately the Azure SDK only supports control plane APIs, so you will need to use the Azure IoT SDKs for data plane operations such as device enrollment. You can find the supported data plane SDKs here: [Azure IoT SDKs](https://github.com/Azure/azure-iot-sdks). Go is not one of the supported languages (sorry),

[2021-01-12 01:48] shaunco commented on #14121
Bummer, but I appreciate the quick response! We'll cobble something together with go-resty or go-autorest from the docs.

It is really weird to me how much support there is for the control plane on all these services with so little for the data plane. Most everyone uses Teraform or Pulumi on the control plane side and doesn't really need libraries. On the data plane side it would be really nice to

[2021-01-12 02:22] nberdy commented on #14121
Please leave this feedback in the IoT SDK repo!

[2021-01-12 12:32] Kumoservices commented on #6374
same thing for me !!

i have open a case on Nov 25 2020 but it has been close for dark reason : https://github.com/terraform-providers/terraform-provider-azurerm/issues/9479

[2021-01-12 14:47] tafs7 commented on #13012
Any updates?  @azmonapplicationinsights @ArcturusZhang

It has been nearly a month since last comment, and no news.  Would be nice to know whether this is coming soon or further down the road, so others can plan accordingly.

[2021-01-12 17:47] javierlga opened #14141 "Undefined azure.FutureAPI"
### Bug Report

- import path of package(s):
  - `services/apimanagement/mgmt/2017-03-01/apimanagement`
  - `services/eventhub/mgmt/2017-04-01/eventhub`
  - `services/preview/eventhub/mgmt/2018-01-01-preview/eventhub`
  - `services/servicebus/mgmt/2017-04-01/servicebus`

- SDK version: `v50.0.0`
- output of `go version`: `go version go1.15.3 darwin/amd64`

- What happened?
After creating a `go.mod

[2021-01-12 18:19] shaunco commented on #14121
@nberdy the https://github.com/Azure/azure-iot-sdks repo does not allow issues to be created in it.

[2021-01-13 03:50] shaunco commented on #14121
@nberdy Can we really not get a Swagger file for the DPS _(Individual & Group Enrollment)_ and IoT Hub _([Digital Twin Model Repository Service](https://docs.microsoft.com/en-us/rest/api/iothub/digitaltwinmodelrepositoryservice/arevalidmodels) and [Device](https://docs.microsoft.com/en-us/rest/api/iothub/device))_ APIs? I spent the the last 9 hours manually typing or copying + pasting type definit

[2021-01-13 07:40] Drewm3 commented on #14110
I am pretty sure this is the right design. Consider a scenario where there is a resource group with 3 VMs, but the caller only has access to list one of the 3 VMs. You do not expect to get two errors and one VM returned successfully. Instead you should expect to only see the one VM. In fact, if the error was returned indicating not enough access to list the VM, it would be an information leak secu

[2021-01-14 00:12] #12981 closed

[2021-01-14 05:10] ArcturusZhang commented on #13012
I just wrote some emails to the corresponding team, and we might get some updates soon! Sorry for the delay

[2021-01-14 08:54] kibnelbachyr commented on #13012
any updates on this ?

[2021-01-14 09:13] cohenjo commented on #12024
Hi, Is there an update on this? or even some workaround to get the recovery points?
Thanks

[2021-01-14 09:25] ArcturusZhang commented on #14141
Hi @javierlga thanks for this issue!

As we stated in the [note of CHANGELOG](https://github.com/Azure/azure-sdk-for-go/blob/master/CHANGELOG.md#v5000), you will have to use at least v0.11.15 of `github.com/go-autorest/autorest` module.
Please let me know if there are any further concerns.

[2021-01-14 14:08] #12325 closed

[2021-01-14 17:13] javierlga commented on #14141
Hello @ArcturusZhang, thanks for your answer but we don't use that package, we only use `github.com/Azure/go-autorest/autorest/azure/auth` version  0.5.5

[2021-01-14 20:52] jhendrixMSFT opened #14163 "Proposal: discontinue support for multiple API versions in the track 2 SDK"
Please add a :+1: reaction if you support this proposal.  If you do not, please leave a comment describing why.

In track 1, we added support for side-by-side API versions as a means to insulate customers against breaking changes across API versions.  Now that we have a solid versioning story via Go modules, the side-by-side model is somewhat obsolete for this purpose.

Simply put, each RP (comput

[2021-01-15 01:06] aronchick opened #14165 "Truncation on response"
### Bug Report

I'm using:
	"github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-12-01/containerservice"

When I went to create a new agent pool, I was able to connect properly with no issues.

But I made a mistake and named my agent pool more than 12 characters.

In the CLI, it tells me correctly
[code]

However, when I do the same using the Go SDK, I get the following:
![image]

[2021-01-15 06:36] ArcturusZhang commented on #14141
**Go SDK cannot work without `go-autorest/autorest` module, even in previous versions.**

One proof is that if you check one of the old version of Go SDK, you will find the `Future` types are using `azure.Future` - which is provided by `go-autorest/autorest`.

If you are not using this package directly (put it in `go.mod`), or you are not using any incompatible versions of `go-autorest` - it must

[2021-01-15 06:49] deepanreddy87 commented on #982
Is this Fixed yet ?

[2021-01-15 15:35] javierlga commented on #14141
Thanks, that fixed the issue.

[2021-01-15 15:35] #14141 closed

[2021-01-15 17:47] tombuildsstuff commented on #14163
(heads up I've not missed the request for feedback above, will post something early next week)

[2021-01-15 19:14] nberdy commented on #14121
@shaunco This should be the swagger: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2020-03-01/iotdps.json

[2021-01-15 19:30] shaunco commented on #14121
@nberdy that Swagger is missing all the data plane APIs (individual enrollments, group enrollments, device status)

[2021-01-15 22:09] simongottschlag opened #14170 "Option like az cli --allow-no-subscriptions"
### Feature Request

Hi!

I'm building automated tests for an Azure AD Kubernetes API reverse proxy, that converts access tokens from Azure AD to Kubernetes impersonation headers.

I've created a new Azure AD tenant just for my automated tests and found out that I'm not able to run them since the tenant doesn't have any subscriptions.

Would it be possible to add an option to the new (azcore / azi

[2021-01-15 22:43] simongottschlag commented on #14170
Never mind, I was just not thinking... I used a makefile and imported an env file where it was `TENANT_ID="<MY_TENANT_ID"` instead of `TENANT_ID=<MY_TENANT_ID>`. (no citation marks)

[2021-01-15 22:43] #14170 closed

[2021-01-18 08:16] ArcturusZhang commented on #14165
Hi @aronchick thanks for this issue!

By checking the code in `go-autorest`, I did not find any related logic to do the truncation. Could you please run your program again with the env var `AZURE_GO_SDK_LOG_LEVEL=DEBUG` to show the full response body?

[2021-01-19 15:57] catalinaperalta opened #14175 "Update azidentity docs comments"
Update doc.go examples, comments over credentials and their ctors.

[2021-01-20 02:42] #14065 closed

[2021-01-20 06:41] yoavfr commented on #6310
@katbyte - This has been languishing here for quite some time and I apologize for this.
Having said that I am wondering whether this is still relevant? Is it?

[2021-01-20 15:41] #14175 closed

[2021-01-20 16:14] katbyte commented on #6310
afaik this has not been fixed so yes

[2021-01-20 22:31] CaptainStealthy commented on #10830
@armleads-azure @ArcturusZhang Any updates on this?

[2021-01-22 07:16] manojampalam opened #14207 "Latest APIs of services/cosmos-db/mgmt no longer available"
### Bug Report

A handful of latest API versions of services/cosmos-db/mgmt have been deleted in release v47.0.0
https://github.com/Azure/azure-sdk-for-go/pull/12710/files?file-filters%5B%5D=.go#

Prior to this release, 3 newer versions were available:
https://github.com/Azure/azure-sdk-for-go/tree/v46.4.0/services/cosmos-db/mgmt

v47.0.0 and after - latest 3 have gone missing:
https://github.com/

[2021-01-22 18:59] Drewm3 commented on #14110
I am going to close this issue because it is the expected behavior and I believe I have answered the question. @raffaelespazzoli, please let me know if you still have questions on this one.

[2021-01-22 18:59] #14110 closed

[2021-01-22 20:23] jaylabell commented on #14014
Aiming to reproduce this issue before introducing development.
Will follow up with updates week of 1/26

[2021-01-22 22:12] Drewm3 commented on #14014
@DavidGOrtega, I believe you are saying that the issue here is that the VM is going to the ready state via the Azure Control plane before CloudInit executes your script that you provided via CustomData, and your expectation was that the VM would not be in the ready state until the script is executed. Is this the correct understanding of the issue?

Assuming the above is correct, then the behavior

[2021-01-23 01:32] gowrisankar22 opened #14211 "How to Verify the peering is established ?"
I have a below scenario, to check peering is established. Can you help me with how easily we can do it?

1. I have a first vnet called Vnet-A
2. I have a second vnet called Vnet-B where my Kubernetes operator is running.
Using golang SDK from my Vnet-B I want to check to peer with Vnet-A is established so that I can implement the same in my k8s operator. I am not sure currently how can I do it?

B

[2021-01-24 16:20] simongottschlag opened #14214 "Don't fail auth chain if one of the methods work"
Hi!

I've been hitting the same "issue" over and over now with the new azidentity package. This should most likely be classified as a feature request and not a bug, since I do think it's by design.

When I develop something using the azidentity and test it locally, I usually test it with one of the methods configured (none of them excluded). Often Azure CLI or Environment - and if both are configu

[2021-01-25 02:40] ArcturusZhang commented on #14207
Hi @manojampalam those are missing because those packages are actually preview ones and have been moved to the `preview` subdirectory. We mentioned this in the [CHANGELOG](https://github.com/Azure/azure-sdk-for-go/blob/v47.0.0/CHANGELOG.md#package-renames).

As explained above, I would close this issue. Please let me know if there are more concerns

[2021-01-25 02:40] #14207 closed

[2021-01-25 02:42] ArcturusZhang commented on #14214
Hi @simongottschlag thanks for opening this issue.

@jhendrixMSFT could you please take a look at this?

[2021-01-25 04:44] #14105 closed

[2021-01-25 07:28] ArcturusZhang commented on #14211
Hi @gowrisankar22 thanks for this issue!

I have tagged this issue so that someone from the corresponding service team might take a look at this issue and give you an API how to do it.

[2021-01-25 20:16] catalinaperalta commented on #14214
Hi @simongottschlag! Thanks for bringing this up! The design of DefaultAzureCredential is meant to give a default set of credentials to work with that will ideally just work in a properly configured environment. However, as I'm sure you've seen, this is actually just an instance of the ChainedTokenCredential with these specific credentials included in the chain. Once the GetToken() method is calle

[2021-01-25 21:52] miwithro commented on #14211
This issue is best handled by NW team.

[2021-01-25 21:58] ramaganesan-rg commented on #13748
hello kyle-iot  - Its Jan and we have not heard back from you. We will go ahead to close this, please feel free to reopen on any further clarifications needed. thank you!

[2021-01-25 21:58] #13748 closed

[2021-01-25 22:06] #8318 closed

[2021-01-26 00:31] #11869 closed

[2021-01-26 09:55] uditgaurav opened #14225 "Azure Go SDK for stopping an instance and restarting it"
### Description

I wanted to perform the following task using GO SDK for which I couldn't found any good example:

- Establishing Connection with Azure
- Stopping a VM instance
- Restarting the VM instance

1. The first part is establishing the connection for which I used:
[code]
not sure it is the correct one. Anything else we need to set up here.

2. For stopping the VM couldn't get the exact fu

[2021-01-26 17:08] simongottschlag commented on #14214
Hi @catalinaperalta !

I fully understand the use case and what's happening, I just think this may cause the end users (those who are using applications built with the package) some confusion. Especially nowdays when GitHub Actions is so wide spread and nearly everyone is using it - without actually understanding that an MSI is used underneath.

If you still don't think anything needs changing, yo

[2021-01-26 19:43] catalinaperalta opened #14228 "Look into Github actions MSI environment"
See how the github actions MSI environment works, consider adding a sample for using azidentity in this environment.

[2021-01-27 04:30] ramaganesan-rg commented on #12639
Routing this to ARM and removing Subscription tag

[2021-01-27 13:42] amshuman-kr commented on #14010
Thanks @jhendrixMSFT, @ArcturusZhang for so quickly addressing this and also making a release! ❤️

[2021-01-28 05:07] MehaKaushik commented on #6603
Just to update the fix will be released as a part of our upcoming apiVersion 2020-01-15

[2021-01-28 10:03] #7893 closed

[2021-01-28 15:11] darrelmiller commented on #7352
@jdelforno If you are looking for OpenAPI documents that will work with AutoREST, we have these here https://github.com/microsoftgraph/msgraph-sdk-powershell/tree/dev/openApiDocs that we use for the AutoREST PowerShell generation.
We can generate V2 versions of these if the Go generator requires V2.  We haven't made a commitment to do Go for Graph yet, but we are investing in our code generation t

[2021-01-28 21:09] jamisonhyatt opened #14238 "HDInsight Location Client Fails to Deserialize VersionSpec Model"
### Bug Report

- import path of package: `github.com/Azure/azure-sdk-for-go/profiles/latest/hdinsight/mgmt/hdinsight`
- SDK version e.g. `v50.0.2` ...but also all prior versions...I think it's been incorrect for 2+ years?
- go.mod:
[code]
- output of `go version` : `go version go1.15.7 darwin/amd64`

- Gist to reproduce: https://gist.github.com/jamisonhyatt/20e01c5837c15165fca566bf459516c7
- What

[2021-01-29 17:43] gowrisankar22 opened #14248 "Retrieve private link subresource and private dns zone via GO sdk"
Hello,

Is there any possible way available to retrieve the **subresource** and **private DNS Zone**  via golang SDK for the private endpoint creation?

Let me explain in detail.

1.  I have a Postgres created in subscription 1.

`/subscriptions/xxxx/resourceGroups/rg1/providers/Microsoft.DBforPostgreSQL/servers/demopostgresql`

2. Creating a private endpoint from subscription 2 using golang SDK.

[2021-01-30 05:15] feiyushi opened #14250 "Api version is wrong in the file directory for image builder"
### Bug Report
path of package:

- import path of package in question: `azure-sdk-for-go/services/virtualmachineimagebuilder/mgmt/2020-02-01/virtualmachineimagebuilder/`
- SDK version e.g. `latest`

- What happened?
  - api version should be `2020-02-14`, however the directory under `mgmt` is `2020-02-01`
- What did you expect or want to happen?
  - Is it possible to fix the path in a newer versio

[2021-01-30 08:25] twendt commented on #9216
There was a new major release today, but the change is not included.

[2021-02-02 09:40] MirzaSikander opened #14261 "New network API has model object with a different property type."
### Bug Report

- import path of package in question:
`azure-sdk-for-go/services/network/mgmt/2020-08-01/network/models.go`

- SDK version:
`v50.1.0`
- output of `go version`
`go version go1.15.6 linux/amd64`

- What happened?
`InterfacePropertiesFormat` has a property called `ProvisioningState` which used to be a pointer type before API version `2020-08-01`

[code]
- What did you expect or want t

[2021-02-03 05:22] MirzaSikander opened #14263 "MarshalJson is missing fields for `InterfacePropertiesFormat`"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`/Azure/azure-sdk-for-go/services/network/mgmt/2020-07-01/network/`
- SDK version e.g. `master`, `latest`, `18.1.0`
v50.1.0
- output of `go version`
`go version go1.15.6 linux/amd64`

- What happened?
Breaking change.
In the API version 2020-07-01, `InterfacePropertiesFormat` and its `MarshalJ

[2021-02-03 06:13] ArcturusZhang commented on #14250
Hi @feiyushi thanks for this issue.

This is truly a mistake - it should be in the `2020-02-14` directory instead of `2020-02-01`. But please note that the date-like version in a package of go SDK does not have to be an api-version, some packages may consist of multiple api-versions, and the date-like part might be one of those api-versions or in some cases none of them. In most cases, if one pack

[2021-02-03 06:19] ArcturusZhang commented on #14263
Hi @MirzaSikander thanks for this issue.

Unfortunately I have to say this is by design. Internally the SDK relies on the marshalling functionality to transform a go SDK struct into the JSON body in a REST API request in which we cannot have the `readOnly` properties. Therefore you might notice those missing parts in the marshaller all correspond to a `read only` property (you could find the read

[2021-02-03 06:19] #14263 closed

[2021-02-03 06:30] ArcturusZhang commented on #14248
Hi @gowrisankar22 thanks for this issue.

These two functions might help you:
1. https://github.com/Azure/azure-sdk-for-go/blob/e2799766f88d91bbf2b119e6fc9e7613aab4a4b7/services/postgresql/mgmt/2020-01-01/postgresql/privateendpointconnections.go#L52
2. https://github.com/Azure/azure-sdk-for-go/blob/e2799766f88d91bbf2b119e6fc9e7613aab4a4b7/services/postgresql/mgmt/2020-01-01/postgresql/privatelinkr

[2021-02-03 06:33] ArcturusZhang commented on #14225
Hi @uditgaurav thanks for this issue!

The following functions on the VirtualMachineClient should help you:
1. Start: https://github.com/Azure/azure-sdk-for-go/blob/e2799766f88d91bbf2b119e6fc9e7613aab4a4b7/services/compute/mgmt/2020-06-30/compute/virtualmachines.go#L2141
2. Restart: https://github.com/Azure/azure-sdk-for-go/blob/e2799766f88d91bbf2b119e6fc9e7613aab4a4b7/services/compute/mgmt/2020-0

[2021-02-03 06:35] ArcturusZhang commented on #12552
I am not sure whether exactly the same thing but we now also have changelogs per package, for instance: https://github.com/Azure/azure-sdk-for-go/blob/master/services/aad/mgmt/2017-04-01/aad/CHANGELOG.md

[2021-02-03 07:49] rapatchi opened #14264 "Get tls: no renegotiation error with interacting with ARM endpoint."
### Bug Report

- import path of package in question, e.g. `services/preview/hybridkubernetes/mgmt/2020-01-01-preview/hybridkubernetes/`
- SDK version e.g. `master`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

ARM calls are failing with below error when using Azure GO SD

[2021-02-03 07:57] ArcturusZhang commented on #14261
Hi @MirzaSikander thanks for this issue.

I checked the network package of 2020-08-01, [2020-07-01](https://github.com/Azure/azure-sdk-for-go/blob/e2799766f88d91bbf2b119e6fc9e7613aab4a4b7/services/network/mgmt/2020-07-01/network/models.go#L18821) and [2020-06-01](https://github.com/Azure/azure-sdk-for-go/blob/e2799766f88d91bbf2b119e6fc9e7613aab4a4b7/services/network/mgmt/2020-06-01/network/models.

[2021-02-03 08:00] MirzaSikander commented on #14261
You see this difference if u upgrade from 2019-06-01

On Tue, Feb 2, 2021, 11:57 PM Arcturus <notifications@github.com> wrote:

[2021-02-03 08:40] tombuildsstuff commented on #12552
@ArcturusZhang is there any plan to add behavioural differences to those changelogs?

[2021-02-03 14:53] ArcturusZhang commented on #12552
If the behavioural differences mean the change of a service behaviour, I am afraid we currently do not have any approach to get this change unfortunately. From the perspective of the SDK, the only differences we could get is the differences on the interfaces/signatures

[2021-02-04 03:34] ArcturusZhang commented on #14238
Hi @jamisonhyatt thanks for this issue and sorry for the inconvenience!

We do know this issue, which comes from a swagger mistake. We just fixed this in the swagger 6 days ago (see [this PR](https://github.com/Azure/azure-rest-api-specs/pull/12612)) but this fix causes breaking changes in this package, we have to release it in the next major version (end of this month). In the new version, this i

[2021-02-04 05:31] ArcturusZhang commented on #14261
@MirzaSikander It is a string in 2019-06-01: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/networkInterface.json#L828
Therefore we cannot really change this.

[2021-02-04 05:32] ArcturusZhang commented on #14264
Hi @rapatchi thanks for this issue!

I am tagging this issue so that some one from the service side might know and take a look.

[2021-02-04 05:40] rapatchi commented on #14264
@ArcturusZhang  we are observing this issue not only with operations of Microsoft.Kubernetes. I am observing this issue with other api as well. Like getting the resource group etc. And FYI I am from Connected Kubernetes team itself.

[2021-02-05 06:02] aim-for-better commented on #14238
Checking

[2021-02-05 07:36] njuCZ opened #14282 "making DeviceSecurityGroup sdk more precise and elegant"
RP: securitycenter
resource: DeviceSecurityGroup
swagger: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/security/resource-manager/Microsoft.Security/stable/2019-08-01/deviceSecurityGroups.json#L76
sdk: https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/security/mgmt/v3.0/security/devicesecuritygroups.go#L51

problem:
the model of deviceSecurityGroup co

[2021-02-05 08:04] ArcturusZhang opened #14283 "Migrate from satori/go.uuid to gofrs/uuid"
We are planning to replace the `github.com/satori/go.uuid` package with `github.com/gofrs/uuid` to resolve its [potential security issues](https://github.com/satori/go.uuid/issues/73) in a major version at the end of this month.
In major version release v53.0.0, you will have to replace all the import statements of the `uuid` in order to avoid compile errors.

Thank you!

[2021-02-05 08:06] aim-for-better commented on #14238
As Arcturus, this has been fixed from swagger spec side, we will update related sdk soon.

[2021-02-05 08:11] ArcturusZhang commented on #14282
@njuCZ thank you for opening this issue!

We know that the current implementation for the polymorphic types are not elegant enough, and the same topic has been discussed in https://github.com/Azure/azure-sdk-for-go/issues/8367.
Unfortunately we cannot change this right now, because changing this will be a massive breaking change which affects all downstream consumers. Our track 2 azure-sdk-for-go

[2021-02-05 08:11] #14282 closed

[2021-02-05 08:13] ArcturusZhang commented on #14238
I know that we have released a new version for hdinsight recently, but could you please make another release request to make sure that we would not miss this package in the next major version release?

[2021-02-05 16:20] jhendrixMSFT commented on #14264
The default it no TLS renegotiation.

https://github.com/Azure/go-autorest/blob/master/autorest/client.go#L193

If an endpoint requires TLS renegotiation they need to add a transform to their readme.go.md file.  Here's an example.

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/AnomalyDetector/readme.go.md

[2021-02-05 16:24] jhendrixMSFT commented on #14165
The truncation is a debugger setting.  Please see https://github.com/golang/vscode-go/blob/master/docs/debugging.md#configuration for info on how to change the default max length.

[2021-02-05 16:59] catalinaperalta opened #14284 "Add claims field to TokenRequestOptions"
Add claims field as part of CAE addition to azidentity.

[2021-02-05 20:21] utkarsh-extc commented on #14283
i would like to refactor code to use new module

[2021-02-08 04:00] bmperdue commented on #3155
I cannot access the Scheduler in the portal anymore and I am not able to migrate my changes. What do I do?

[2021-02-08 09:59] gowrisankar22 commented on #14211
any update on this ?

[2021-02-08 10:39] majuansari commented on #894
Any updates here from the Azure team? Or using custom handlers are the way to go? @ArcturusZhang  @joshgav

[2021-02-08 16:03] jhendrixMSFT commented on #14165
Closing as this is answered.

[2021-02-08 16:03] #14165 closed

[2021-02-10 22:58] mihaitodor opened #14295 "Emulate the Storage endpoint with Azurite"
### Bug Report

- What happened?

The Storage client from this library does not obey the `BlobEndpoint` part of the connection strings. This makes things quite awkward when trying to test things in a containerised environment (i.e. Kubernetes), where [Azurite](https://github.com/Azure/Azurite) can't be run alongside the app which needs to be tested.

- What did you expect or want to happen?

Eithe

[2021-02-16 12:44] meastp opened #14305 "An official Azure Monitor exporter for use by an opentelemetry-collector exporter"
Today, you have some language-specific exporters for opentelemetry (in [azure-sdk-for-python](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/monitor/azure-monitor-opentelemetry-exporter/README.md), [azure-sdk-for-js](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/monitor/monitor-opentelemetry-exporter/README.md) and you have an [exporter for .net in preview](https://githu

[2021-02-16 17:16] gowrisankar22 opened #14306 "creating the private-endpoint fails for cross subscriptions"
Hi,

I am creating a vnetprivate endpoint for a Postgres service which is running in a different subscription but it fails via golang SDK because it tries for auto-approval, ideally for cross subscriptions, it should be manual approval.

**Example:**

**Subscription A:** Postgres service has been created.

**Subscription B:** Trying to create a private endpoint for the Postgres service which is cr

[2021-02-16 20:45] krishna-birla opened #14311 "containerservice.ManagedClusterPropertiesAutoScalerProfile (AKS) does not accept some duration values which are otherwise valid"
### Bug Report

- `github.com/Azure/azure-sdk-for-go/profiles/latest/containerservice/mgmt/containerservice`
- azure-sdk-for-go@v46.1.0+incompatible
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- `go version go1.15.6 darwin/amd64`

- `containerservice.ManagedClusterPropertiesAutoScalerProfile.Sca

[2021-02-17 07:16] #14248 closed

[2021-02-17 08:35] MSSedusch commented on #14306
@gowrisankar22 can you share a code sample in golang?
The PrivateLinkServiceConnectionProperties type does have a request message. Is that what you mean by approval note?

[2021-02-17 11:57] uditgaurav commented on #14225
Thanks, @ArcturusZhang it was helpful. One more thing I wanted to ask. If we want to get the current status of the VM the  is there any function for that let suppose I want to get the status of VM if it is in `Running`,`Stopped`, or any other state the n how can we access the status?

[2021-02-18 01:15] gowrisankar22 commented on #14306
@MSSedusch  Yes right for approval note. I will share the code via email to you.

[2021-02-18 02:24] gowrisankar22 commented on #14306
after using `ManualPrivateLinkServiceConnections ` it worked but `approval note` is still not available

[2021-02-19 04:51] gowrisankar22 commented on #14306
The approval note also worked.  the property name is: `Request Message`

[2021-02-19 08:18] aim-for-better commented on #14238
Now we need to hold on the release request. there are still some ongoning changes.

[2021-02-19 08:58] rmaziarka commented on #13012
I've come across this problem today - no option to create workspace-based AI. Is there any progress in this matter?

[2021-02-19 12:26] tombuildsstuff opened #14329 "Remove support for the `$expand` querystring"
### Bug Report

Whilst some API's allow specifying the `$expand` query string to conditionally return extra fields in the response, due to the nature of the Azure SDK's (across all languages) there's no way of accessing these dynamic fields. Whilst one option would be to add a `map[string]interface{}` to each struct of "Additional Fields" (which has been done I think in Track2) - there's no compat

[2021-02-21 16:29] uditgaurav commented on #14225
I was able to do this using `InstanceView()`. Thanks for the sdk!

[2021-02-21 16:29] #14225 closed

[2021-02-21 18:00] gowrisankar22 opened #14334 "Error while creating an subnet network.SubnetsCreateOrUpdateFuture: asynchronous operation has not completed"
Hello,

I am creating a resource group,vnet, subnet, and nsg together using golang SDK but it is giving me the below error.

I took the examples from [1]

[code]

[1] https://github.com/Azure-Samples/azure-sdk-for-go-samples/tree/master/network

can someone help to fix the issue?

[2021-02-22 02:53] ArcturusZhang commented on #14329
Hi @tombuildsstuff thanks for opening this issue!

Since this involves massive breaking changes acrossing all packages, we might need to discuss more of this to avoid this kind of breaking changes.
Adding @jhendrixMSFT for discussion

[2021-02-22 03:04] ArcturusZhang commented on #14295
Hi @mihaitodor thanks for opening this issue!

@jhendrixMSFT could you please take a look at this?

[2021-02-22 03:07] ArcturusZhang commented on #14305
Hi @meastp thanks for opening this request!

I am not quite which exactly package you are requesting - but I have asked the corresponding service team's attention by tagging this issue. We would need them to initiate a release request anyway.

[2021-02-22 03:10] ArcturusZhang commented on #14311
Hi @krishna-birla thanks for this issue!

This sounds like an API issue rather than the SDK itself. Therefore I have tagged this issue so that the corresponding service team could have a look at this.

[2021-02-22 03:17] ArcturusZhang commented on #14334
Hi @gowrisankar22 thanks for this issue!

@jhendrixMSFT does this look like a SDK issue, `go-autorest` polling issue or API issue to you? In the example code, we invoke `future.Result` after the `future.WaitForCompletionRef`, but we still get an result of "not done" in the `DoneWithContext` function (only this call throws this error message)

[2021-02-22 08:44] yupwei68 opened #14336 "Fail to unmarshall StreamAnalytics ScalarFunctionProperties"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
https://github.com/Azure/azure-sdk-for-go/tree/master/services/preview/streamanalytics/mgmt/2020-03-01-preview

- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure

[2021-02-22 18:31] jhendrixMSFT commented on #14329
Hmm I wasn't aware of this param and its behavior.

I took a cursory look through the specs repo, this appears to be authored like any other param.  Unfortunately the authoring is of varying quality.  For example, in [`consumption`](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-01-01/consumption.json#L1406) th