[2018-06-27 05:47] kpfaulkner opened #2131 "Metrics for Azure"
Hi

This is probably/definitely the wrong place to ask but I can't figure anywhere better. I'm trying to get CPU/Memory stats for app services via Go. I'm assuming this repo/sdk doesn't cover this,  am I right?  If so, any suggestions on another repo might hold the answers?

Again, sorry for spam but unsure where else I can ask.

Ken

[2018-06-27 08:48] vladbarosan commented on #2130
@featheredtoast oh I see. Looking at it, https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/resource_arm_postgresql_server.go#L123 seems to validate strictly against the enum.

@tombuildsstuff is there a way to disable that validation function ?

[2018-06-28 00:56] featheredtoast commented on #2130
Thanks for pointing me in the right direction @vladbarosan - I've sent a PR to the Terraform provider plugin that allows a version specified as "10.0" here which should help alleviate things until enums are available: https://github.com/terraform-providers/terraform-provider-azurerm/pull/1457

[2018-06-28 07:22] WorldIsM opened #2140 "Storage Queue Update Message VisibilityTimeout set to 0"
VisibilityTimeout is mandatory field according to
https://docs.microsoft.com/en-us/rest/api/storageservices/update-message

But if I am setting it to 0 through: storage.UpdateMessageOptions{ VisibilityTimeout: 0}
VisibilityTimeout is removed from URI causing:
"error":"storage: service returned error: StatusCode=400, ErrorCode=InvalidQueryParameterValue,
ErrorMessage=Value for one of the query para

[2018-06-28 15:31] jhendrixMSFT commented on #2140
Thanks for reporting this, we'll get this fixed in the next release.
Also note that the queue functionality in this storage package has been deprecated, replaced by ```azqueue``` found [here](https://github.com/azure/azure-storage-queue-go).

[2018-06-28 15:38] jhendrixMSFT commented on #2131
Hello @kpfaulkner, is this what you're looking for?
https://github.com/Azure/azure-sdk-for-go/blob/master/services/web/mgmt/2018-02-01/web/appserviceenvironments.go#L2692

[2018-06-28 16:51] marstr commented on #2109
Closing this out, because I believe it's been answered. :)

[2018-06-28 16:51] #2109 closed

[2018-06-28 17:35] mxplusb commented on #894
@radu-matei & @joshgav, still looking for someone to test the golang worker?

[2018-06-28 19:48] jhendrixMSFT commented on #1772
Sounds like this has been resolved so closing.  Please reopen as required.

[2018-06-28 19:48] #1772 closed

[2018-06-28 20:55] MikhailTryakhov commented on #1996
As I can see in PS using protocols to "All" is expected scenario https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-configure-ha-ports

[2018-06-28 21:01] vladbarosan opened #2148 "Handle incomplete profile updates when intial update comes from a breaking change"
1. Commit A removes a type from an API version so its a breaking change. Profile is also updated as part of that.
2. Commit B comes and adds a new API version which also doesn't have the type that was removed in Commit A. This is a new api version so not a breaking change. The profile is updated to point to this new API version.

3. WE want to release a minor version. We dont pick up A, but we pic

[2018-06-28 21:03] vladbarosan opened #2149 "[picker] omitting 8dbc94de569bc1f251f46a31349f3f40d8a27ecc as it's an aggregate of breaking changes commit a96a3045629cb0149f5fd6c32f69c6510934c6a4"
Commit 8dbc94de569bc1f251f46a31349f3f40d8a27ecc introduces a new API version for a seperate service than a96a3045629cb0149f5fd6c32f69c6510934c6a4 .

For some reason 8dbc94de569bc1f251f46a31349f3f40d8a27ecc is reported as being based a96a3045629cb0149f5fd6c32f69c6510934c6a4 which introduced breaking changes, so 8dbc94de569bc1f251f46a31349f3f40d8a27ecc is rejected also when it shouldn't.

[2018-06-28 21:23] jhendrixMSFT commented on #1948
Fixed in https://github.com/Azure/go-autorest/releases/tag/v10.12.0

[2018-06-28 21:23] #1948 closed

[2018-06-28 22:59] joshgav commented on #2028
@tombuildsstuff noticed you thumbs-upped this - could you help us prioritize by pointing us to your use case? are you using user-assigned identities in Terraform? Thanks!

[2018-06-29 00:59] #2149 closed

[2018-06-29 01:57] waytai commented on #2110
thank you I have changed azure.PublicCloud.ResourceManagerEndpoint to azure.ChinaCloud.ResourceManagerEndpoint

[2018-06-29 08:22] kpfaulkner commented on #2131
Started using a similar method for app service plans.
I cannot get the filter working for the life of me. I cant leave it blank/empty-string. If I try something that I *think* should work, "(name.value eq 'CpuPercentage')" then it seems to hang on the

resp, err := client.ListMetricsSender(req)

line.

One thing (no idea if related) I've noticed the SDK has a hardcoded api-version that isn't valid

[2018-06-29 08:48] WorldIsM commented on #2140
Thanks, will take a look.

[2018-06-29 09:22] tombuildsstuff commented on #2028
@joshgav sure, [we use MSI via the endpoints in the `adal` package](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/config.go#L286), so we're not touching these directly; but I wondered if this was an API change or an SDK change? I don't believe this'll affect us either way, but I wanted to be sure :)

[2018-06-29 17:06] vladbarosan commented on #2148
Right now a workaround is just to ignore the profiles while the picker does the cherry picking and regenerate the profiles after the picker is done.

[2018-06-29 17:07] vladbarosan commented on #2148
@jhendrixMSFT can we document the regeneration of profiles after the picker runs for the minor version updates ?

[2018-06-30 05:31] huangpf commented on #1828
@hyonholee FYI.

[2018-06-30 05:31] huangpf commented on #1829
@hyonholee FYI.

[2018-06-30 13:37] ncw commented on #2119
I can confirm that the fix in PR #2123 works - thank you for fixing it :-)

What is the schedule for this hitting the master branch and a release?

Thanks

Nick

[2018-06-30 15:57] jhendrixMSFT commented on #2119
We're planning to release v18 first week of July (hopefully the 2nd), and that release will have the fix.

[2018-07-02 07:28] huangpf commented on #1828
@tombuildsstuff Can you provide the VM creation log, as to start digging? Thanks.

[2018-07-02 07:36] r7vme commented on #1828
@huangpf some logs can be found in this [issue](https://github.com/terraform-providers/terraform-provider-azurerm/issues/312).

[2018-07-02 07:45] huangpf commented on #1828
@r7vme The logs there seemed to be on the client side? Are you able to collect the REST API level logs as well?

Without the logs, we may have to engage the service API team by merely describing the client-side behavior, which may take some time to digest and understand. But is this what you're doing?
1) Create the VM-required resources, like NIC, etc.
2) Create the VM
3) Delete the VM -- do you a

[2018-07-02 10:54] tombuildsstuff commented on #1829
@huangpf the approach above was one example of this intended to aid diagnosis rather than for real usage - however we also see this when provisioning VHD's as new disks in a VM (e.g. using `create_option = "FromImage|Empty"` via the API) - so I believe this should be investigated either way (even if only to return a better error message). Based on your comments, it sounds like this would happen wh

[2018-07-02 12:53] r7vme commented on #1828
How can i do that? Can i do that from portal? I'll try on the next occurrence.

[2018-07-02 17:12] huangpf commented on #1828
@joshgav Are you one of the owners of this client repository? Any instruction on collecting the service API related logs from the Go client calls?

@r7vme If the same behavior can be reproduced by the Portal, yes that would be helpful. Since this report is about the Go client, if the logs can be collected within this scope, if would be more insightful and closer to showing the real cause.

[2018-07-02 17:19] huangpf commented on #1829
@tombuildsstuff
Right, I agree with you that it's likely related to the service API about how it handles the VHD files provisioned alongside with the VM, but I feel like it's more complicated to get it right, especially about how and when to determine the VHD is good to use, etc.

But to continue further on the 'unmanaged VHD' use case, may I know which 'ARM template' do you refer to?

[2018-07-02 17:34] tombuildsstuff commented on #1829
@huangpf we don't use an ARM Template - we make a tool called [Terraform](https://terraform.io) that allows users to achieve the same things as an ARM Template which uses this SDK.

Given the errors we get back (in the error message above) are from the Azure API - this isn't a bug in either the Go SDK or our code - this appears to be a bug in the API (from my .net days, this looks to be the defaul

[2018-07-02 17:42] huangpf commented on #1829
@tombuildsstuff Thanks for the info. Sure, we will try to triage it on the service side. But can you help confirm if these are the steps that you have done to see/reproduce the problem on your end? Thanks.
1) Call storage blob API to create a blob of a given size;
    ---- did you check the blob has been created in a valid state?
2) Call VM API to create a VM;
    --- again how did you check the V

[2018-07-02 18:12] tombuildsstuff commented on #1829
@huangpf we’re calling the CreateOrUpdate method in the Go SDK, waiting for the futures to be completed and then continuing onto the next step accordingly. As such API has returned that it’s in a good state to make this change.

We see this error in two ways:
1) provisioning a new VM from an existing image, or from a marketplace image to a new Unmanaged Blob (albeit inconsistently, since this is a

[2018-07-02 18:16] huangpf commented on #1829
@smotwani @changov for CRP VM APIs.

[2018-07-02 23:22] jhendrixMSFT commented on #1795
Added to the wiki https://github.com/Azure/azure-sdk-for-go/wiki/Release-Process

[2018-07-02 23:22] #1795 closed

[2018-07-03 16:15] jhendrixMSFT commented on #1996
Sounds like this has been resolved so closing, please reopen as required.

[2018-07-03 16:15] #1996 closed

[2018-07-03 20:04] vladbarosan opened #2174 "[generator] Automation 2018-01-preview has incorrectly handled name collision"
https://travis-ci.org/Azure/azure-sdk-for-go/jobs/399235066

[2018-07-03 20:05] vladbarosan commented on #2174
The name is `CountType1` but in the preparer it thinks it is `CountType`. note that its not obvious why the renaming occurred in the first place. we might just not need to rename it at all.

[2018-07-03 20:32] devigned opened #2175 "Panic when checking res.StatusCode"
[code]

When doing a GET to a resource group using the ARM v17 API, I received a panic when checking the response StatusCode. Since one must check the err and the http status code to tell if there has been a 404, I would never expect dereferencing the response would cause a panic.

You can reliably cause a panic if you set the `HTTP_PROXY` env variable to an address that fails in tcp dial as demon

[2018-07-03 21:47] lfshr opened #2176 "NetworkPolicyNotSupported error when supplying NetworkPolicy in kubernetesClustersClient.CreateOrUpdate method"
NetworkPolicyNotSupported is being thrown when kubernetesClustersClient.CreateOrUpdate is being called with NetworkPolicy specified.

[code]

[code]

[2018-07-03 21:49] lfshr opened #2177 "NetworkPolicy not being returned on kubernetesClustersClient.Get method"
NetworkPolicy not being returned on kubernetesClustersClient.Get method

Related to #2176

[2018-07-03 22:04] jhendrixMSFT commented on #2119
v18 is now available.  https://github.com/Azure/azure-sdk-for-go/releases/tag/v18.0.0

[2018-07-03 22:04] #2119 closed

[2018-07-03 22:05] jhendrixMSFT commented on #2140
The fix is in v18.  https://github.com/Azure/azure-sdk-for-go/releases/tag/v18.0.0

[2018-07-03 22:05] #2140 closed

[2018-07-03 22:14] lfshr opened #2178 "PodCidr is required even if "azure" networkPlugin is specified in kubernetesClustersClient.CreateOrUpdate method"
NetworkProfile.PodCidr is required even if "azure" network is specified in the NetworkProfile.NetworkPlugin field. As far as I know this is only a mandatory field when kubenet is used.

[2018-07-03 23:07] vladbarosan commented on #2099
@Ycallaer this is now available in v18 of the SDK https://github.com/Azure/azure-sdk-for-go/blob/v18.0.0/services/preview/eventhub/mgmt/2018-01-01-preview/eventhub/models.go

[2018-07-03 23:07] #2099 closed

[2018-07-04 07:21] ncw commented on #2119
@jhendrixMSFT  Thank you very much for this fix and all your hard work making a new release.

[2018-07-04 09:37] tombuildsstuff opened #2179 "LRO: PATCH/PUT initial response of 200 is considered valid"
:wave:

We're using v17.4.0 of the HDInsights SDK (version 2013-05-01-preview) and when an error occurs (such as selecting an incorrect size for a cluster) - it appears that errors aren't being surfaced correctly.

When an error's returned, the API's returning a 200 status code which contains an error block; which (IMO) should be being raised as an error. Here's the full API response that we're se

[2018-07-04 09:39] tombuildsstuff opened #2180 "HDInsights 2018-06-01-preview SDK is available but API isn't"
👋🏻

I've spent a few hours this morning upgrading to v18 of the SDK - and at the same time looked into moving over to `2018-06-01-preview` of the HDInsights SDK. Unfortunately whilst the SDK is available the API isn't (I've checked the Resource Provider and it's not exposed there) - is there a timeframe for this going live?
Thanks :)

[2018-07-04 12:18] lrxtom2 opened #2181 "StorageAccount id is lower case in container registry 'Classic' sku."
Hi team,
We found a issue that rest api always return lower case storage account id in container registry when sku set to 'Classic'. It's not make sense and the issue from rest api level.

Reference:
https://docs.microsoft.com/zh-cn/rest/api/containerregistry/registries/get#storageaccountproperties

Thanks,
Chang

[2018-07-04 12:21] lrxtom2 commented on #1987
Thanks for @muwaqar
Waiting for update.

[2018-07-04 13:03] tombuildsstuff commented on #2181
Duplicate of #1943

[2018-07-05 06:43] andyzhangx opened #2182 "Codegen is missing validation for enums"
Hi,
   I am working on kubernetes on Azure, recently I found a bug: [create azure storage account failed in azure file plugin](https://github.com/kubernetes/kubernetes/issues/65845), after investigation, I found it's due to our azure-sdk-for-go upgrade, there is a new field `Kind` which is required, so any sdk upgrade from and old version would break the storage account creation since old code won

[2018-07-05 08:11] feiskyer opened #2183 "Zones is missing in VirtualMachineScaleSetVM"
`Zones` is missing in VirtualMachineScaleSetVM. We need this to support availability zones in Kubernetes. Kubernetes is using 2017-12-01 compute api, but zones is also missing in latest 2018-04-01 version.

`Zones` has already been in VirtualMachineScaleSet, so we need add this also to VirtualMachineScaleSetVM.

https://github.com/Azure/azure-sdk-for-go/blob/fbe7db0e3f9793ba3e5704efbab84f51436c136

[2018-07-05 15:25] vladbarosan commented on #1932
Hi @lyda, correct you need to create the authorizer. Note that  oauth2 is using the AAD v2 endpoint which is not fully supported in Azure ( https://github.com/golang/oauth2/blob/master/microsoft/microsoft.go#L23 ) . Graph's spec seems to suggest that is the case for them also :  https://github.com/Azure/azure-rest-api-specs/blob/master/specification/graphrbac/data-plane/stable/1.6/graphrbac.json#L

[2018-07-05 15:57] jhendrixMSFT commented on #2181
Closing since this is a dupe (thanks Tom for pointing that out).

[2018-07-05 15:57] #2181 closed

[2018-07-05 16:29] muwaqar commented on #1987
@lrxtom2 : Sorry we have been trying to find out the right owner for this issue and the current behavior. Can you please confirm that when you issue this API call, is the NIC attached to the VM? If not, can you please attach it to the VM and issue this call again and see if the InternalFQDN is now populated?

[2018-07-05 17:07] jhendrixMSFT commented on #2182
Can you clarify the upgrade path so I can understand how this broke you, i.e. upgrading SDK versions, API versions etc.
Swagger doesn't let you specify a default value for required parameters so there's no way to default it.

[2018-07-05 17:08] jhendrixMSFT commented on #2180
@wawon-msft can you please comment?

[2018-07-05 17:20] vladbarosan commented on #1333
@lawrencegripper this has been fixed in v18 https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/operationsmanagement/mgmt/2015-11-01-preview/operationsmanagement/solutions.go . Also please use the package listed ( under `services/preview` since the one under `services/` is deprecated.

[2018-07-05 21:21] joshgav commented on #2183
This is a bug with the compute API spec, I opened an issue in the specs repo: https://github.com/Azure/azure-rest-api-specs/issues/3358 and will close this one.

[2018-07-05 21:21] #2183 closed

[2018-07-05 23:38] jhendrixMSFT commented on #2131
There is an older API version available however I don't know if it's supported in your region.
https://github.com/Azure/azure-sdk-for-go/tree/master/services/web/mgmt/2016-09-01/web
Let me know if that doesn't help and I'll loop in some folks from the service.

[2018-07-06 00:03] jhendrixMSFT commented on #2175
One of the principles for these APIs is that if the API receives an HTTP response then it will be propagated to the caller (barring bugs of course).  For your example using an invalid proxy, the response field is nil because there was no response; while personally I feel this is more descriptive than populating a zero-initialized HTTP response I can see that having it could make error checking a b

[2018-07-06 03:52] vladbarosan commented on #2130
@featheredtoast this is now available in the `latest` branch. This will be present in our next minor release if no breaking change is coming .

https://github.com/Azure/azure-sdk-for-go/blob/latest/services/postgresql/mgmt/2017-12-01/postgresql/models.go#L125

[2018-07-06 03:54] vladbarosan commented on #1932
Closing this. @lyda please reply if you have any follow up.

[2018-07-06 03:54] #1932 closed

[2018-07-06 03:55] vladbarosan commented on #935
the extra checks are present in `v18`

[2018-07-06 03:55] #935 closed

[2018-07-06 04:20] joshgav commented on #1828
@huangpf you can modify source in Terraform or in the vendored SDK to inspect requests per instructions in [the README](https://github.com/Azure/azure-sdk-for-go#inspecting-and-debugging).

I opened https://github.com/Azure/go-autorest/issues/298 to look into a less intrusive way to turn on tracing in the future.

[2018-07-06 05:00] joshgav commented on #2028
The details are that updating an identity should be a PATCH operation, which it already is in the Go SDK, see https://github.com/Azure/azure-sdk-for-go/blob/fbe7db0e3f9793ba3e5704efbab84f51436c136e/services/msi/mgmt/2015-08-31-preview/msi/userassignedidentities.go#L495, thus closing.

@tombuildsstuff as it turns out this is an internal update and there won't be an API or SDK change.

[2018-07-06 05:00] #2028 closed

[2018-07-06 05:03] joshgav commented on #1445
this was completed by #1911

[2018-07-06 05:03] #1445 closed

[2018-07-06 05:12] huangpf commented on #1828
@joshgav I actually don't have any expertise using the azure-go-SDK or Terraform, thus I need to rely on your help to properly acquire the logs. You can also contact the Azure customer support via portal, by your subscription ID, and also the time range that this issue happens.

For a client-side reference, I try the Azure PowerShell counterpart by creating a new VM, immediately trying to delete i

[2018-07-06 09:11] tombuildsstuff commented on #1828
@r7vme within Terraform it's possible to use `TF_LOG=DEBUG TF_LOG_PATH=foo.log terraform apply` which'll output the debug log to `foo.log` (beware this contains the Authorization header too, which needs to be removed before posting) - however this'll need to be run for all requests rather than just after it's failed.

Terraform will use exactly the same names - which is why I believe the API's got

[2018-07-06 09:22] tombuildsstuff commented on #2131
@jhendrixMSFT sorry to bundle onto this issue, but is there a timeframe for GA API's being rolled out to all supported regions?

Given this new API version's been out (e.g. not in Preview) for 4 months - IMO it's not great that it's still not fully rolled out across all supported (existing) regions; I'm specifically thinking in the context of when we should be adopting new API versions and how thi

[2018-07-06 09:23] tombuildsstuff commented on #2028
@joshgav oh cool, thanks for confirming :)

[2018-07-06 10:20] kpfaulkner commented on #2131
Hi

Ended up rolling my own code for getting the metrics. Will check out the older version of the SDK.

Cheers

Ken

[2018-07-06 16:00] jhendrixMSFT commented on #2131
@ruslany is this something you can answer?  I dug up your name from github history in the specs repo.
CC @joshgav

[2018-07-06 16:38] marstr commented on #984
Looks like this is done to me!

[2018-07-06 16:38] #984 closed

[2018-07-06 16:40] joshgav commented on #1246
Looks like we need to add a directive to the spec so the Go lib is generated: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/security/resource-manager/readme.md.

cc @vladbarosan

[2018-07-06 17:34] jhendrixMSFT commented on #2179
@tombuildsstuff I'm not sure how we can propagate this as an actual error since from the SDK's perspective the API call succeeded (i.e. this response is modeled as a success in the swagger).
@wawon-msft can we get some insight on the semantics here?  It seems very counter-intuitive that an HTTP 200 is actually an error.

[2018-07-09 15:55] torresdal opened #2199 "Subnet previously used by deleted api management service cannot be deleted"
I'm currently implementing support for the API Mangement service in Terraform and ran into an issue where our integration tests fail when trying to delete a subnet previously used by a deleted API Management service. (ref: https://github.com/terraform-providers/terraform-provider-azurerm/pull/1516)

The actual error :

`autorest/azure: Service returned an error. Status=400 Code="InUseSubnetCannotB

[2018-07-09 16:19] jhendrixMSFT commented on #2199
@promoisha is this something you can help with?

[2018-07-09 16:46] tariq1890 commented on #1587
Hi @jhendrixMSFT. On a similar note, can we get an error that conveys more information. Unknown service error is not that helpful :(.

[2018-07-09 16:57] jhendrixMSFT opened #2201 "Use error types specified in swagger"
Most, if not all, data-plane swaggers define their own error type which is different from the ARM ServiceError type.  Here's an example.
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/graphrbac/data-plane/stable/1.6/graphrbac.json#L1852
While we generate a type for this we don't actually use it during error handling and as a result the actual error information is lost (not

[2018-07-09 16:57] jhendrixMSFT commented on #1587
@tariq1890 this should be somewhat fixed in v10.11.3 of go-autorest.  There is a larger work item here though, I've opened https://github.com/Azure/azure-sdk-for-go/issues/2201 to track it.

[2018-07-09 18:09] tariq1890 commented on #1587
Thanks for your response, @jhendrixMSFT . I am assuming the Azure samples point to the latest version of go-autorest?

https://github.com/azure-samples/azure-sdk-for-go-samples

I get the same unknown service error when I try out the graphrbac API calls.

[2018-07-09 18:10] jhendrixMSFT commented on #1587
The sample is using v10.11.2 which doesn't contain this fix.

[2018-07-09 18:16] tariq1890 commented on #1587
My bad. Thanks for clarifying :).

[2018-07-11 16:43] katbyte opened #2213 "Cosmos DB Account deletion future fails to wait"
Hello,

So without changing anything, deletions of cosmos DBs in the terraform provider started to prematurely return around July 4th. This may have been triggered when we updated to v18.0.0 of Azure/azure-sdk-for-go / v10.12.0 of Azure/go-autorest.

[provider issue](https://github.com/terraform-providers/terraform-provider-azurerm/issues/1525)
[and pr that works around it](https://github.com/terr

[2018-07-11 19:13] kdomanski opened #2214 "InvalidApiVersionParameter when trying to create VNet with an empty resource group name"
I'm using `github.com/Azure/azure-sdk-for-go/services/network/mgmt/2018-04-01/network.VirtualNetworksClient#CreateOrUpdate` to create a virtual network. This works perfectly under normal circumstances, however at some point a bug in my code resulted in an empty `resourceGroupName` being passed to the call.

The call failed, of course, but instead of an error mentioning the missing parameter, I rec

[2018-07-11 20:07] vladbarosan commented on #2214
This would fail client side if the network spec would refer https://github.com/Azure/azure-rest-api-specs/blob/master/specification/common-types/resource-management/v1/types.json#L290

[2018-07-11 20:12] vladbarosan commented on #2148
Updated the wiki to reflect the additional step needed

[2018-07-11 20:12] #2148 closed

[2018-07-12 17:03] jhendrixMSFT commented on #2174
The adding of the '1' suffix is coming from the front-end, i.e. the modeler passes us JSON with a field name of "CountType1".

[2018-07-13 16:16] jhendrixMSFT commented on #2174
Fixed in the latest generator version.

[2018-07-13 16:16] #2174 closed

[2018-07-13 19:10] vladbarosan commented on #2130
This is available in [v18.1](https://github.com/Azure/azure-sdk-for-go/blob/v18.1.0/services/postgresql/mgmt/2017-12-01/postgresql/models.go#L125)

[2018-07-13 19:10] #2130 closed

[2018-07-13 23:46] vladbarosan commented on #2213
Hi @katbyte just tried this against our latest release and couldn't repro the issue. Also I took a look and it doesnt seem to be any change for this API in the new go-autorest version.

Also not sure how it gets inside the if statement you have there Is your context expiring (note that deleting the account can take some minutes ) or what is the error ?

[2018-07-16 12:35] tombuildsstuff commented on #2178
👋

Looking into this from our side - I wonder if we could work around this [if the validation wasn't present for this field](https://github.com/terraform-providers/terraform-provider-azurerm/pull/1479#issuecomment-405232273) and passing an empty string? Admittedly, I don't know if this field has server-side validation too; but that may allow this to work without changes in the service too?

[2018-07-17 13:24] tombuildsstuff opened #2239 "[Notification Hubs] API returns Tag keys in lower-case"
:wave:

I've been looking into the Notification Hubs API version `2017-04-01` via `v18.0.0` of the SDK and have noticed a bug in the Notification Hubs API.

When submitting tags for a Notification Hub Namespace - we submit the tags up Title Case; however in the response from the API the keys are returned in lower-case (with the value remaining in Title Case), which causes a perpectual diff at our

[2018-07-17 21:20] kylebrandt commented on #2131
I played some with the SDK today also in hopes in being able to query various metrics. Some issues I've run into:

- Not really a Go thing. I don't understand the term "insights" in the Azure world. Basic queries I see from inspecting Grafana's Azure data source have `microsoft.insights` in the url for things that are just "Azure Metrics"? Should all metrics one would see in Azure's portal be quer

[2018-07-17 21:52] joshgav commented on #1895
Thanks for the insightful feedback as always @tombuildsstuff, cc @ravbhatnagar from Resource Manager service team. Azure APIs don't automatically transform requests and use updated versions cause semantic consistency between versions isn't guaranteed and we may not get the user's intention right. Also, the old API version is still live and supported for *direct* (i.e. without transformation) use.

[2018-07-17 21:52] #1895 closed

[2018-07-18 05:46] tombuildsstuff opened #2246 "[Notification Hubs] Unable to remove APNS|GCM|... credentials from a Notification Hub"
### Bug Report

* import path of package in question: `github.com/Azure/azure-sdk-for-go/services/notificationhubs/mgmt/2017-04-01/notificationhubs`
* SDK version: `v18.0.0`
* output of `go version`: `go version go1.10.2 darwin/amd64`

---

:wave: me again!

So I've been looking into Notification Hubs and have found a bug in the SDK;

Looking to the Portal, it's possible to add APNS/GCM Credential

[2018-07-18 08:41] lfshr commented on #2178
@marstr do you have any updates on this? This issue is currently blocking https://github.com/terraform-providers/terraform-provider-azurerm/pull/1479

[2018-07-18 09:58] hbuckle opened #2248 "[Automation] RunbookClient.GetContent unmarshalling JSON error"
### Bug Report

* import path of package in question - `.../services/automation/mgmt/2015-10-31/automation`
* SDK version - `18.0.0`
* output of `go version` - `go1.10.2 windows/amd64`

I've created an automation runbook using a PowerShell script
[code]

When calling the GetContent method against this runbook it is returning an unmarshalling JSON error - the API seems to return the content as a st

[2018-07-18 14:12] kylebrandt commented on #2131
I was able to get a basic call working this morning. Some code snippets (sloppy since currently just sketching, but it gets a resposne) in case it helps someone:

[code]

[code]

[2018-07-18 18:30] tombuildsstuff opened #2254 "Notification Hub Namespaces Delete Future is broken"
### Bug Report

* import path of package in question: `github.com/Azure/azure-sdk-for-go/services/notificationhubs/mgmt/2017-04-01/notificationhubs`
* SDK version: `v18.0.0`
* output of `go version`: `go version go1.10.2 darwin/amd64`

---

👋

Whilst working on support for Notification Hubs within Terraform - I've noticed the delete future seems to hang for the lifetime of the context passed in, a

[2018-07-18 18:38] hdost opened #2256 "Azure Automation Expansion: Support Python Runbooks"
### Feature Request
As of right now there is no support for python run books
This would be needed for terraform-providers/terraform-provider-azurerm#1602

[2018-07-18 20:17] joshgav commented on #2178
Hi @tombuildsstuff, I believe the validation comes from the spec: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerservices/resource-manager/Microsoft.ContainerService/stable/2018-03-31/managedClusters.json#L913.

Following up with the containers team now.

[2018-07-18 21:23] vladbarosan opened #2259 "surface automation in icm for visibility"

[2018-07-19 19:05] marstr commented on #2178
I wonder if we could work around this if the validation wasn't present for this field and passing an empty string? Admittedly, I don't know if this field has server-side validation too; but that may allow this to work without changes in the service too?

Need help working around the validation to test this?

[2018-07-19 19:14] marstr commented on #2256
Thanks for the input. Doing a quick scan through the specs repository, it's not clear to me whether or not we have an OpenAPI Spec for what you're referring to. If we do, I'll help get it generated or find our existing generation.

The closest thing I've found is in the Azure Automation RP, where they define a runbook type:
[Azure/azure-rest-api-specs/specification/automation/resource-manager/Micr

[2018-07-19 19:22] hdost commented on #2256
That's a bummer, I am assuming this is because the Python Runbooks are still in preview :disappointed:

[2018-07-19 19:23] marstr commented on #2254
👋

Doesn't seem like a Swagger error to me! That means @jhendrixMSFT and I are on the case.

Looking at your PR, could you tell me a little bit more about how the `ARMClient.StopContext` is initialized and what its lifetime looks like? I want to rule out the error your seeing coming from a timeout or cancellation from your Context. :)

[2018-07-19 19:33] marstr commented on #2254
If you're pretty confident that `ARMClient.StopContext` isn't calling for cancellation, then it could be coming from this line: [Azure/go-autorest/autorest/azure/azync.go#L168](https://github.com/Azure/go-autorest/blob/e6d2a85bbb5cd2a3162e4942594e1e520e442b0b/autorest/azure/async.go#L168)

Mind checking your client's `PollingDuration` to ensure that it doesn't just need to be increased?

From ther

[2018-07-19 19:43] marstr commented on #2239
I did a quick scrub to make sure that we're not mucking with the case in the SDK. I'm pretty sure that this behavior is coming from the service. Between @joshgav and I, we'll get the right people involved.

[2018-07-19 19:46] marstr commented on #2246
I think this one is going to need some investigation. I'm going to leave it for team triage tomorrow.

[2018-07-19 20:51] marstr commented on #2256
Doing a little more digging with @joshgav, I feel pretty confident that what's missing is a type "Python" in the enum linked below or a subsequent API Version. I'm going to close the issue here and move it over to the Azure Rest API Specs repository.

[Azure/azure-rest-api-specs/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/runbook.json#L1083](https://github.com/

[2018-07-19 21:00] #2256 closed

[2018-07-19 23:21] vladbarosan commented on #2213
@katbyte we are closing this as no repro,,please let us know if it reemerges or/and if you have any further details.

[2018-07-19 23:21] #2213 closed

[2018-07-19 23:51] marstr commented on #2178
You are not confused, @Ifshr :) AutoRest generates the SDKs from specs. Even if the issue is ultimately one with AutoRest, I don't mind having the conversation here.

With regards to the default value, it's by design that it not get included by our client. It's in the Swagger for the sake of documentation only:

Declares the value of the parameter that the server will use if none is provided, for

[2018-07-19 23:58] marstr commented on #2178
The relevant validation line, just to speed anybody else up who's investigating.

https://github.com/Azure/azure-sdk-for-go/blob/7971189ecf5a584b9211f2527737f94bb979644e/services/containerservice/mgmt/2018-03-31/containerservice/managedclusters.go#L68

[2018-07-20 02:03] marstr commented on #2178
Here's the state of things as I understand them now, after reading this thread, terraform-providers/terraform-provider-azurerm#1479, and a tremendous amount of our code regarding validation (please pardon the redundancy):

- When Terraform creates a managed cluster with the "azure" mode, the "podCidr" field is not required.
- Terraform is therefor not providing "podCidr"
- This is unexpectedly cau

[2018-07-20 05:05] tombuildsstuff commented on #2254
👋🏻 hey @marstr

Sorry I’d meant to provide more info for how we ended up working around this; after some experimentation I noticed if we repeatedly call the Delete method (and then poll ourselves to verify this has gone) this seems to eventually take place, which makes me wonder if this is a service issue instead? Unfortunately I’ve not had time to investigate either way

Hope that helps!

[2018-07-20 05:58] tombuildsstuff commented on #2213
hey @vladbarosan

I've dug out the error message we saw from this:

FWIW whilst this error message is being returned upon Resource Group deletion, we were only seeing this in our CosmosDB Account tests - which makes us believe it's an issue with the CosmosDB Accounts?

Thanks

[2018-07-20 16:20] marstr commented on #2254
Oh oh, that's very interesting. So I've actually got it backwards (sorry about that), you're not having trouble with premature polling cancellation from the Future. You're having trouble with either:
a) The Future not recognizing that the namespace has indeed been deleted.
b) The namespace just legitimately isn't getting deleted by the service.

[2018-07-20 16:55] marstr commented on #2178
Hey @lfshr, could you expand on your comment here:

What error do you receive when you don't provide podCidr?

[2018-07-20 17:55] tombuildsstuff commented on #2178
@lfshr also out of interest does this work when the validation in the Go SDK is commented out locally?

[2018-07-20 20:56] ehotinger commented on #1943
Btw @tombuildsstuff - small update. This fix should be deployed in South Central US, global deployment 7/23. Give it a try around 7/24 and post an update.

[2018-07-21 18:03] lfshr commented on #2178
@marstr sure thing. Here is the output from Terraform when applying a plan without a podcidr:
[code]

Here is the plan:
[code]

@tombuildsstuff I can verify that removing the validation rule in managedclusters.go fixes the issue. I also see that there are validation rules on all the other IP fields. I'm not 100% sure what fields are required when using kubenet, but this may also be an issue with k

[2018-07-21 19:15] tombuildsstuff commented on #2178
@lfshr

So given that works with the validation disabled in the SDK it sounds like this is just incorrect Swagger (which in turn generates the invalid validation in the SDK) - as such it should be possible to fix this by sending a PR to remove the line which @marstr highlighted above: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerservices/resource-manager/Microso

[2018-07-22 12:19] lfshr commented on #2178
@tombuildsstuff the only issue with removing the field is that the fact that the validation pattern is a valid pattern for checking that the field is a valid IP Address with a CIDR notation.

What if the `required = false` flag was added to the parameter in the swagger. Would autorest generate code that allowed this to be nullable?

[2018-07-22 19:37] tombuildsstuff commented on #2178
@lfshr my understanding is that Required:false will allow a null value but not an empty string; which would mean it doesn’t handle this case, but @marstr could confirm for sure.

From our side that validation can be done within Terraform (I’m assuming that the same regex exists for non-empty strings at the API end too?)

[2018-07-23 07:03] #1333 closed

[2018-07-23 07:57] tombuildsstuff commented on #2178
@lfshr

nope, Terraform provides an empty string which would be caught by this validation.

In the case of the Swagger - unless the Regex applies to all uses of that field then the validation is incorrect - so whilst we're not the only consumer, this is currently broken for anybody who attempts this operation; as such `Required: false` wouldn't solve this unfortunately and I believe this validatio

[2018-07-23 11:47] tombuildsstuff commented on #1943
@ehotinger so I've just run out test suite against South Central US and this looks good - thanks for confirming, looking forward to this rolling out globally :)

[2018-07-23 16:59] jhendrixMSFT commented on #2180
Ping @wawon-msft, CC @joshgav

[2018-07-23 17:47] jhendrixMSFT commented on #2182
I did notice that the codegen is missing validation for enums, this is a bug that needs to be fixed.

[2018-07-23 21:08] tombuildsstuff opened #2284 "[Recovery Services] Service URI's don't support being URI Encoded"
:wave:

So we've been working through adding support for Recovery Services Protected Items to Terraform using the `2016-06-01` SDK from `v18.0.0`.

We've noticed an issue when calling methods in this SDK (currently CreateOrUpdate and Get, but presumably all of them are affected) - where the URI encoding used by AutoRest causes 404's to be returned. This particular API (and SDK) is considerably dif

[2018-07-23 21:39] mbrancato commented on #2178
In regards to the high-level request to expand on this comment by @marstr (https://github.com/Azure/azure-sdk-for-go/issues/2178#issuecomment-406661365), the `pod_cidr` shouldn't be required because with the 'azure' plugin it obviously pulls IPs from the assigned subnet. This affects multiple Azure SDKs.

I've done some initial tracing on how the Azure CLI does this, and being Python, it first set

[2018-07-24 10:34] carlca opened #2292 "`go get` errors in go 1.11 rc"
macOS 10.13.6
Golang 1.11 beta
AzureCLI 2.0.42
AzureSDK Latest commit 520918e Jul 23, 2018

I've tried to install using the command `go get -u github.com/Azure/azure-sdk-for-go/...`

I received the following...

[code]

Any ideas?

[2018-07-24 16:08] vladbarosan commented on #2292
@carlca I couldn't repro this with neither go 1.10 or go 1.11 , can you please try the command with the verbose flag and see if there is any additional info ? ( -v )

[2018-07-24 16:14] vladbarosan opened #2293 "Values() for pages with polymorphic types returns a slice of the base type instead of slice of the interface"
### Bug Report

* SDK version: v19.0.0

* When adding the security RP : https://github.com/Azure/azure-sdk-for-go/pull/2291/files#diff-d6ca748970862e17dba47c40b893ba31R2027 you can notice that the `Values()` function on a page
that has the values as polymorphic types returns a slice of base type instead of a slice of interfaces.

[2018-07-24 16:16] vladbarosan commented on #2293
should be a simple fix, Ill have a look today since its blocking security RP release.  Tag @jhendrixMSFT if you have any extra comments on the behavior here.

[2018-07-24 16:20] carlca commented on #2292
Here you go!...

[code]

That's pretty verbose, that's for sure! Interestingly, this time of running it, I cannot see anything that looks like an error so maybe it has worked this time. However, software that works intermittantly makes me nervous!

[2018-07-24 16:46] joshgav opened #2296 "add Azure support to go-cloud"
### Feature Request

Add Azure support to https://github.com/google/go-cloud.

Related: https://github.com/google/go-cloud/issues/76

[2018-07-24 16:56] marstr commented on #2178
Possible, yes. However, I believe moving to client-side defined defaults is probably not in conformance with the [Swagger spec](https://swagger.io/specification/v2/) as noted below:

If there were going to be any change, I'd prefer it be that Python/CLI moves to not send defaults. But that is another conversation. :)

[2018-07-24 17:38] vladbarosan commented on #2284
Hi @tombuildsstuff thanks for opening this issue. we will be reaching out to the Recovery Services Backup team.

[2018-07-24 17:54] vladbarosan commented on #2292
@carlca there can be numerous reasons for that error message based on your local setup. Given that we cannot repro this and its not an issue for you anymore will go ahead and close it here. If the issue reemerges and you have more details please let us know.

[2018-07-24 17:54] #2292 closed

[2018-07-24 18:19] carlca commented on #2292
Fair enough! Thanks for the response.

[2018-07-24 20:34] jhendrixMSFT commented on #2180
The squishy answer I got was "1-2 deployment cycles" which is pretty vague (Tom I think you're on that thread).  In the meantime the recommendation is to use the old API version.  Sorry I don't have a better answer.

[2018-07-24 20:34] #2180 closed

[2018-07-24 20:41] jhendrixMSFT commented on #2179
@tombuildsstuff sorry for the delay on this.  I just noticed that this operation is actually a long-running operation.  Which hdinsight package are you using?  The deprecated one under ```./services/hdinsight``` doesn't correctly model the operation as long-running.  The correct one is ```github.com/Azure/azure-sdk-for-go/services/preview/hdinsight/mgmt/2015-03-01-preview/hdinsight``` which models

[2018-07-24 21:37] marstr commented on #2178
Alright folks, I wrote up a little console application that just tries to create an AKS cluster with various Network Profiles to help repro/drive conversation around this bug. You can find the code here:
https://github.com/marstr/repro2178

I accept PRs to it, so if any body involved sees something that ought to be changed to more accurately reflect the problem, please send a PR!

[2018-07-24 21:45] joshgav commented on #2246
Hi @tombuildsstuff, have you considered the `notificationhubs#Client.Patch` method? ([godoc](https://godoc.org/github.com/Azure/azure-sdk-for-go/services/notificationhubs/mgmt/2017-04-01/notificationhubs#Client.Patch)).

Won't solve your problem but perhaps we can handle PATCH differently than PUT.

[2018-07-25 07:34] lfshr commented on #2178
@marstr there is also Azure/AKS#506 Azure/azure-sdk-for-go#2176 and Azure/azure-sdk-for-go#2177

[2018-07-25 08:05] tombuildsstuff commented on #2179
@jhendrixMSFT we're using the `"github.com/Azure/azure-sdk-for-go/services/preview/hdinsight/mgmt/2015-03-01-preview/hdinsight"` package for both [the Cluster](https://github.com/terraform-providers/terraform-provider-azurerm/pull/1267/files#diff-1aedf97365bdcfe0d1e6e56d89093829R11) and the Application; although we weren't seeing this raised as expected?

[2018-07-25 08:59] tombuildsstuff commented on #2176
@lfshr I'm unfamiliar with Network Policies, but are they perhaps only supported on a given version of Kubernetes?

[2018-07-25 10:55] lfshr commented on #2176
@tombuildsstuff none of the documentation indicated such. It may only be a thing on kubenet.

[2018-07-25 17:48] #2293 closed

[2018-07-25 17:49] vladbarosan commented on #1246
Blocked on https://github.com/Azure/azure-sdk-for-go/issues/2293

[2018-07-25 23:36] metacpp commented on #2178
@marstr the PR was merged, no action item from your side. You can close this issue.

[2018-07-26 04:13] vladbarosan commented on #1246
@russellds this is available now in the latest branch https://github.com/Azure/azure-sdk-for-go/tree/latest/services/preview/security/mgmt/2017-08-01-preview/security
In the next minor release it will be available.

[2018-07-26 04:16] vladbarosan commented on #894
@mxplusb thanks for the interest. We have started actively working on this so expect more news soon!

[2018-07-26 04:26] vladbarosan opened #2315 "Have single Azure Resource type definition that is shared between packages."
### Feature Request

We can at least try this for who is using the arm common types definitions in the specs repo to
make sure we don't hit any compatibility issues.

[2018-07-26 14:15] tombuildsstuff commented on #2178
@metacpp I believe there's still a behavioural bug in the API which needs to be fixed here - so I'd suggest we leave this issue open until that's resolved.

Other API's in Azure use conditional validation for fields such that the validation's only applied when the values are used - this allows empty strings to be sent for these values when they're not required (and they return a nil value from the

[2018-07-26 14:58] jhendrixMSFT commented on #2178
@tombuildsstuff Martin is out for the next few days so I'll answer.  The [swagger authoring](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerservices/resource-manager/Microsoft.ContainerService/stable/2018-03-31/managedClusters.json#L975) for the podCidr field indicates that if you don't want to send a value for it you must pass nil (non-nil values must match the r

[2018-07-26 15:18] tombuildsstuff opened #2322 "[Compute] Encrypted Disks on Virtual Machines"
### Bug Report

SDK version: `v18.0.0`
Package: `github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2017-12-01/compute`

[code]

---
:wave:

I've spent a couple of days looking at how we'd support encrypted disks within Virtual Machines. As a part of this I've taken two approaches:

1. Provisioning a Virtual Machine and then on-boot encrypting brand new disks by specifying the `EncryptionSett

[2018-07-26 18:43] jhendrixMSFT commented on #2179
@tombuildsstuff sorry I didn't read your initial report close enough.  :(  The non-conformant ```errors``` field is what's tripping up the SDK.  I'll work on a fix so that a ```Failed``` provisioning state returns an error however the RP needs to fix their service to be compliant.

[2018-07-26 20:05] vladbarosan commented on #2322
@tombuildsstuff we have this sample for disk encryption: https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/master/compute/encryption.go

Let us know if it helps.

[2018-07-27 06:35] tombuildsstuff commented on #2178
@jhendrixMSFT

thanks :)

Sure, technically the swagger matches the Resource Provider/API; the issue I'm raising is more that this RP fundamentally behaves differently to other RP's (which apply validation conditionally as needed when conditional logic is needed).

In addition the validation requirements for [the AKS API aren't documented](https://docs.microsoft.com/en-us/rest/api/aks/managedclust

[2018-07-27 08:03] tombuildsstuff commented on #2179
@jhendrixMSFT no worries :)

FYI there's a couple of API's (e.g. Compute) where "Failed" doesn't mean Failed - but instead means "the current operation failed but it may succeed" (from #2322) - which may be good edge-cases for testing that?

[2018-07-27 16:49] joshgav commented on #1798
Goal is to simplify relationships of preview and stable specs and packages.

[2018-07-27 17:20] vladbarosan commented on #1798
to clarify here there are 2 dimensions:
1. state of Specs/SDK's  which can be preview or stable .
2. state of the service API which can be preview or GA.

The question here is about the preview API with stable spec. This shouldn't happen very often but what do we want to do with them ? Put them also in the preview folder ?

[2018-07-27 20:21] jhendrixMSFT commented on #2175
This will be resolved in vNext following the same pattern we introduced in azblob; responses will be returned by reference e.g. ```(*FooThing, error)``` and if we receive no response we will return nil.

[2018-07-30 14:32] mblaschke opened #2340 "unmarshalling JSON error: network.NewUsagesClient returns float64 instead of int64"
### Bug Report

[code]

results in following error:
[code]

Might be a duplicate from #906 but it's still not working. When will this be fixed? The definition is still using int64 😞

[2018-07-30 15:41] vladbarosan commented on #1246
This has been released in [v19.10](https://github.com/Azure/azure-sdk-for-go/tree/v19.1.0/services/preview/security/mgmt/2017-08-01-preview/security)

[2018-07-30 15:41] #1246 closed

[2018-07-30 16:20] jhendrixMSFT commented on #2340
It looks like a bug in the swagger as it's been defined as int64.
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2018-06-01/usage.json#L111
The ```limit``` field also has the same problem.
I've opened issue https://github.com/Azure/azure-rest-api-specs/issues/3537 to track fixing the swagger.

[2018-07-30 16:52] jhendrixMSFT commented on #2315
Looks like a dupe of https://github.com/Azure/azure-sdk-for-go/issues/1437

[2018-07-30 16:52] #2315 closed

[2018-07-30 17:07] jhendrixMSFT commented on #2248
I suspect this is a bug in our code generator.  The swagger defines the operation to produce ```text/powershell``` with a return type of ```file```.
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/runbook.json#L45

[2018-07-30 17:13] jhendrixMSFT commented on #2248
I was wrong, this was a bug in the swagger that's been fixed.
https://github.com/Azure/azure-rest-api-specs/commit/8f83ec5b75c53f42d4d20f7913d507eec84bbf75#diff-8f0d2d3c6abd0d8e26f7fecfd7ddb25f
You can get the fix in v19 of the SDK.  Please reopen if this doesn't resolve your issue.

[2018-07-30 17:13] #2248 closed

[2018-07-30 21:57] jhendrixMSFT commented on #2254
Network trace seems to indicate that the portal and SDK do the same thing.  When experimenting with my test program I've noticed that sometimes if click on the namespace in the portal while the future is polling the delete succeeds.

[2018-07-30 22:57] jhendrixMSFT commented on #2239
I believe @matt-gibbs can route this to the correct owner.

[2018-07-30 23:01] jhendrixMSFT commented on #2254
@matt-gibbs to summarize, if I create a namespace then delete it the delete never happens and the SDK times out waiting for the async operation to complete.  When the ```DELETE``` is requested the API returns a 202 (accepted) and polling the URL in the ```Location``` header returns status ```InProgress``` so it seems like the delete starts but never finishes?

[2018-07-31 11:56] hbuckle opened #2350 "[Automation] RunbookDraftClient.ReplaceContentPreparer sending content as JSON"
### Bug Report

* import path of package in question - `.../services/automation/mgmt/2015-10-31/automation`
* SDK version - `19.1.0`
* output of `go version` - `go1.10.2 windows/amd64`

When updating a runbook draft with ReplaceContent the body is being sent as JSON, so line breaks and double quotes are not correctly passed:

[code]

Changing [`autorest.WithJSON`](https://github.com/Azure/azure-sd

[2018-07-31 15:59] jhendrixMSFT commented on #2350
This was fixed in the swagger unfortunately it didn't get merged in time for the v19 release.  The fix is already checked into the ```latest``` branch and will get rolled out in v20 since it's a breaking change.

[2018-07-31 17:52] tombuildsstuff commented on #2179
@jhendrixMSFT I don't but I can put one together if that's helpful? From memory trying to set an invalid  number of nodes should cause this (e.g. trying to submit 1-4 head nodes, I think?)

[2018-07-31 22:06] vladbarosan commented on #2322
@tombuildsstuff was the sample useful for you ?

[2018-08-01 04:54] DheerendraRathor commented on #2284
@tombuildsstuff Do you have request ids (x-ms-client-request-id header) for both scenarios? With that we can investigate in detail on service side.
I didn't find difference in final generated URL in both scenarios. Both have URL encoded semicolons.
Also both semicolon separated parts (container name & protected item name) are considered single value segment.

[2018-08-01 19:32] vsaroopchand commented on #632
I ran into this error recently, in my case I attempted to call an uninitialized client for Storage. Looking at your snippet, I see you initialize groupsClient but without specifying the base url. Try
resourceGroupsClient := resources.NewGroupsClientWithBaseURI(env.ResourceManagerEndpoint, subscriptionId)  where endpoint is from

env, envErr := azure.EnvironmentFromName("AzurePublicCloud") // chang

[2018-08-02 20:11] jhendrixMSFT commented on #2060
@schaabs from KeyVault should be able to help out.
Also I found some documentation about the algorithms, dunno how much it helps.
https://docs.microsoft.com/en-us/azure/key-vault/about-keys-secrets-and-certificates#BKMK_RSAAlgorithms

[2018-08-02 22:50] jhendrixMSFT commented on #2179
Finally got my repro working (I was missing some fields), investigating further...

[2018-08-03 16:05] jhendrixMSFT commented on #2179
OK, the initial PUT to create the cluster returns an HTTP 200 with a provisioning state of ```InProgress```.  It's during polling that we get a response with a provisioning state of ```Failed```; this does return an error object from ```future.WaitForCompletionRef()``` however the ```Code``` and ```Message``` fields are nil since the error object isn't OData v4.  At present the best we can do is t

[2018-08-06 00:06] TsuyoshiUshio opened #2397 "Key Management API for Function App"
### Feature Request

For the deployment of the FunctionApp, we frequently use Key Management API. However, there is no interface on the Azure SDK for go.

For more detail.
https://github.com/Azure/azure-functions-host/wiki/Key-management-API

it is used to fetch Azure Functions function keys, host keys, system keys.

I tried to contribute Terraform to enable this feature. The repo owner said that

[2018-08-06 04:47] svaroop opened #2399 "Error on List function of Consumption Usagedetails"
import path 'services/consumption/mgmt/2018-03-31/consumption'

--pseudo code
[code]

getting this error after first iterations using next token.
using top value as 1000
[code]

[2018-08-06 14:47] joshgav commented on #2397
Thanks for reporting this @TsuyoshiUshio, we'll look into how we can support Functions APIs. I noticed this one too: https://github.com/Azure/azure-functions-host/wiki/Admin-API, are there others?

Note to readers that this isn't directly related to support for Go functions themselves, but an ask for a Go package for *managing* functions. Please follow #894 if you're interested in Go functions.

c

[2018-08-06 17:40] tombuildsstuff commented on #2397
@joshgav admittedly I haven't had time to check it, but at a first glance the API responses look a lot like Kudu, so I'm wondering if that's what's powering this?

[2018-08-06 17:47] tombuildsstuff commented on #2284
@DheerendraRathor not to hand unfortunately - although this should be visible by using the Go SDK (or _presumably_ any of the other SDK's)?

Thanks!

[2018-08-06 21:30] jhendrixMSFT commented on #2179
More peeling (last I hope!).  I believe the problem is due to the initial 200 response to the PUT; it should be a 201.  I hacked up my repro to turn the 200 into a 201 and everything worked as expected.

[2018-08-06 22:10] jhendrixMSFT commented on #2179
The remaining work is in the swagger and RP which is tracked in https://github.com/Azure/azure-rest-api-specs/issues/3590.

[2018-08-07 00:38] matt-gibbs commented on #2239
investigating

[2018-08-07 00:40] matt-gibbs commented on #2254
investigating

[2018-08-07 07:46] tombuildsstuff commented on #2179
cool thanks @jhendrixMSFT :)

[2018-08-07 12:16] tombuildsstuff commented on #2397
@joshgav cool thanks for confirming; we are - but it's not something we need immediately, do you have a rough timeline for this? Thanks!

[2018-08-07 17:52] jhendrixMSFT commented on #1798
To close on this, swagger under a ```preview``` directory will generate packages under the ```preview``` directory in the SDK.  All swagger under the ```stable``` directory will go under their respective service directory (even if the API version has a ```-preview``` suffix).

[2018-08-07 17:52] #1798 closed

[2018-08-07 21:27] jhendrixMSFT opened #2414 "Move OData filter params into their own struct param"
### Feature Request

E.g. swagger https://github.com/Azure/azure-rest-api-specs/blob/master/specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-03-31/consumption.json#L42
E.g. codegen https://github.com/Azure/azure-sdk-for-go/blob/master/services/consumption/mgmt/2018-03-31/consumption/usagedetails.go#L58

We should group OData params into their own struct; this would prov

[2018-08-07 22:04] jhendrixMSFT commented on #2414
Somewhat related to https://github.com/Azure/azure-sdk-for-go/issues/1716 however we should group OData filter params separately from other optional params.

[2018-08-07 22:19] jhendrixMSFT commented on #2399
My internal subscription doesn't have access to this functionality so I can't repro this yet.

[2018-08-07 22:54] jhendrixMSFT commented on #1824
@katbyte sorry for the delay.
The [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/cosmos-db.json#L1772) doesn't appear to properly model the response body.  I'll follow up with the service team about this.
[code]

[2018-08-07 23:02] jhendrixMSFT commented on #1824
Opened https://github.com/Azure/azure-rest-api-specs/issues/3603 to track fixing the swagger.

[2018-08-07 23:35] TsuyoshiUshio commented on #2397
Thank you @joshgav and @tombuildsstuff

I didn't notice that API too. I'll ask the Azure Function Product team and share with you guys.

At least, https://github.com/Azure/azure-functions-host/wiki/Key-management-API is frequently used for automation of the deployment for Azure Functions function/host/system keys, Durable Functions status check and so on.  It is also used integration with Event Gr

[2018-08-08 17:59] joshgav commented on #2397
cc @jeffhollan from the Functions team to comment on plans for packages supporting Kudu APIs

[2018-08-09 09:53] tombuildsstuff commented on #2322
hey @vladbarosan I've not had a chance to circle back to this yet unfortunately, but that example 404's and I can't see it in the last few commits, is there another link? Thanks!

[2018-08-09 17:27] vladbarosan commented on #2322
Hey @tombuildsstuff . @joshgav  refactored the repo a little since then. I think this is what you are looking for https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/master/compute/vm_test.go

[2018-08-09 18:43] jhendrixMSFT commented on #2131
Regarding the hang, I wrote a repro for this and what I observe is the server sends back an HTTP 500 with an XML response body.  However we expect JSON in the response, so we don't detect the service returned an actual error object so the runtime treats this as a transient 500 and attempts to retry the request.

[2018-08-09 19:13] kpfaulkner commented on #2131
@jhendrixMSFT I ended up still using my hand rolled stuff but purely because I got that working and it was "good enough". Once I get a little bit of spare time (mythical stuff at the moment) I'll go back to investigating the SDK again.

Summary of current code is:

endTime := time.Now().UTC()
startTime := endTime.Add(time.Duration(-5) * time.Minute)
myURL := fmt.Sprintf("https://management.azure.c

[2018-08-09 21:59] jhendrixMSFT commented on #2131
@kpfaulkner thanks this is super helpful.  I believe the SDK API for this is here: https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/monitor/mgmt/2018-03-01/insights/metrics.go#L66
The one I pointed to in the ```web``` package appear to be broken so I don't think you'll have much luck with them, I'm following up on that separately.

[2018-08-09 23:00] kylebrandt commented on #2131
Used the SDK to add Azure metrics support for Bosun. Still an experimental feature so subject to change, but so far it seems to be working. Most of the code is in https://github.com/bosun-monitor/bosun/blob/master/cmd/bosun/expr/azure.go and some client creation in https://github.com/bosun-monitor/bosun/blob/master/cmd/bosun/conf/system.go in case that helps someone

I don't really know what I am

[2018-08-09 23:29] jhendrixMSFT commented on #2131
I've opened https://github.com/Azure/azure-rest-api-specs/issues/3621 to track getting the issue with the APIs in the ```web``` package fixed.

[2018-08-12 11:50] hbuckle opened #2445 "[DataFactory] RepoConfiguration validation failure"
### Bug Report

* import path of package in question - `.../services/datafactory/mgmt/2018-06-01/datafactory`
* SDK version - `18.0.0`
* output of `go version` - `go1.10.2 windows/amd64`

Trying to create a data factory with a repo configuration produces the following error

[code]

[code]

If I remove the `factory.FactoryProperties.RepoConfiguration` validation from CreateOrUpdate then the factor

[2018-08-13 16:35] marstr commented on #2445
@hbuckle, thanks for filing this. You definitely found a rough edge we should grind down.

By updating your `RepoConfiguration` to be a pointer as so:

[code]

What's tripping things up is that the methods `AsFactoryVSTSConfiguration`, `AsFactoryGitHubConfiguration`, and `AsFactoryRepoConfiguration`  found [here](https://github.com/Azure/azure-sdk-for-go/blob/4e8cbbfb1aeab140cd0fa97fd16b64ee18c3ca

[2018-08-13 16:44] #2445 closed

[2018-08-13 20:17] jhendrixMSFT opened #2451 "Figure out a way to eliminate `preview` directory"
Sometimes packages are released in the wrong parent dir (i.e. preview not under preview directory or vice versa).  Then you have to deprecate one and deal with the headache.  For vNext release strategy figure out a way to eliminate the need for a preview directory.

[2018-08-14 00:31] funkeyfreak commented on #1596
Hey @joshgav, what is the status of this task?

[2018-08-14 00:58] justinbarias commented on #1904
there's this now: https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/resources/mgmt/2018-03-01-preview/management/subscriptions.go

There are Create() and Delete() methods - have you tried these out?

[2018-08-14 02:42] vladbarosan commented on #2451
@jhendrixMSFT with a folder or not, we will need a way which package is stable or not ( i.e. sem ver doesnt apply to it ) as this is to reflect the API Specs repo.

Or we can decide not to pickup at all on the master release branch the preview packages

[2018-08-14 10:16] tombuildsstuff commented on #2451
@vladbarosan

Whilst it could cause complicate things - would it make sense to provide a "weekly" release for Preview API's in a separate repo using date based releases, rather than having them in the main repo? That would allow this repo to follow SemVer (and the currently fortnightly-ish releases) without having to worry about breaking changes

I can understanding API's needing to change during

[2018-08-14 22:29] jhendrixMSFT commented on #2179
The initial response of 200 is valid for PATCH/PUT so the LRO state machine needs to be updated.

[2018-08-14 23:15] joshgav commented on #1596
Hi @funkeyfreak, we will be adding [Open Census](https://opencensus.io) support to App Insights in the future as announced [here](https://open.microsoft.com/2018/06/13/microsoft-joins-the-opencensus-project/), but we won't be adding OpenTracing. I'll update the title accordingly.

cc @nikmd23 in case you have further feedback or questions on these plans. Thanks!

[2018-08-15 09:32] tombuildsstuff opened #2465 "Application Insights API now returns an undocumented 201"
### Bug Report

We're using v18.0.0 of the SDK and the package `github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2015-05-01/insights`

## What happened?

Prior to ~2018-08-14 the Application Insights API returned a HTTP 200 when an Application Insights Component had been successfully created, as is documented in the Swagger. From around this date onwards the API is now returning a HTTP

[2018-08-15 12:42] kargakis opened #2466 "VMSS wait for update errors out w/o any info"
I set a script with invalid size in cse.ProtectedSettings of a VMSS and get back an empty error in the client instead of a useful error message hinting that my update was invalid.
[code]

Relevant code (vmss includes the updated value):
[code]

[2018-08-15 12:59] hbuckle commented on #1904
That's for associating or removing subscriptions from management groups. @tombuildsstuff is correct, the subscription factory API doesn't currently offer a delete method, possibly because Azure itself doesn't offer the option to delete subscriptions, only to cancel them.
In addition the API to get subscriptions doesn't return the same information required to create them, so implementing this in Te

[2018-08-15 14:54] kargakis commented on #2466
When adding [debug logs in azure requests and responses](https://github.com/Azure/azure-sdk-for-go/blob/master/README.md#inspecting-and-debugging) I see that the VMSS switches to Updating provisioning state and then Failed/

[2018-08-15 22:17] jhendrixMSFT commented on #2465
Relevant operation: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/components_API.json#L165

[2018-08-16 06:42] lrxtom2 commented on #1987
@jhendrixMSFT  That's very kind of you.

[2018-08-16 13:37] tombuildsstuff commented on #2322
@vladbarosan so checking the code sample that'll have the same issue mentioned above where the Compute API returns that this has entered the Failed state (but may eventually boot) - at least for Windows machines (whereas [the code sample's for Linux](https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/a2170b5e69056df6fd680752946ef520a91f0ebe/compute/constants.go#L5-L7)). My understandin

[2018-08-16 13:47] kargakis commented on #2466
FWIW the issue with the VMSS upgrade failing was that the size of the script was higher than the upper limit.

[2018-08-16 15:58] pabowers commented on #630
I have run into this same error when trying to delete disk attachments. I see that the original poster either lost interest, or figured out a work around, but is there a known solution?

[2018-08-16 18:19] marstr commented on #630
Hey @pabowers, sorry to hear you're running into trouble. This is an old enough issue that huge swaths of the potential problem have been changed.

I'm going to close this issue out, but please feel free to open a new issue with details specific to your repro.

[2018-08-16 18:19] #630 closed

[2018-08-16 22:13] nikmd23 commented on #1596
You've got it covered @joshgav. Look for more support of OpenCensus coming soon.

[2018-08-17 14:45] TheoBrigitte opened #2480 "calling GroupsClient.List using $filter fails with InvalidFilterInQueryString"
### Bug Report

* import path: `github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-02-01/resources`
* SDK version: `v19.1.0` (commit `4e8cbbfb1aeab140cd0fa97fd16b64ee18c3ca6a`)
* go version: `go version go1.10.3 darwin/amd64`

* What happened?

Calling `GroupsClient.List(ctx, "name eq 'foo'", nil)`  fails with
[code]

* What did you expect or want to happen?

I would expect to get a li

[2018-08-17 17:28] jhendrixMSFT commented on #2466
@kargakis thanks for the additional info.  By chance do you have the JSON response body from the error case?  What I'd like to know is if the service returned an error and the SDK failed to parse it.

[2018-08-17 17:48] jhendrixMSFT commented on #2480
@chidmdxx what is the proper syntax here?  The [REST API docs](https://docs.microsoft.com/en-us/rest/api/resources/resourcegroups/list) for this don't have any examples.

[2018-08-17 23:27] JunyiYi opened #2482 "Not able to create a Functions App (App Service Client) with uppercase name"
### Bug Report

* import `"github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web"`
* Get a client instance of `web.AppsClient`
* Try to create a function app resource:

[code]

* SDK version `18.0.0`; `go version 1.9.1`

**Actual Behavior**
Failed to create the resource when `name` contains uppercase letters.

**Expected Behavior**
SDK should not complain about uppercase letters since

[2018-08-18 10:36] bgelens opened #2486 "Automation GetContent functions wrongly use ByUnmarshallingJSON"
### Bug Report

* import path of package - `.../services/automation/mgmt/2015-10-31/automation`
* SDK version - `18.0.0`
* output of `go version` - go version go1.10.3 windows/amd6

* What happened?
Trying to make use of ```GetContent``` from ```dscconfiguration```. The api call will return just a string and not a json body. ```GetContentResponder``` however is trying to [Unmarshal](https://github

[2018-08-20 02:11] fbilo commented on #2239
Hi Tom, can i know the exact method name of which class you used?  It will be helpful to identify the root cause.

Thanks,
fbilo

[2018-08-20 06:09] tombuildsstuff commented on #2239
@fbilo this is using [the `CreateOrUpdate`](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/resource_arm_notification_hub_namespace.go#L100-L114) and [`Get` API endpoints](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/resource_arm_notification_hub_namespace.go#L131-L138) within the Namespaces API/SDK (the Tags functional

[2018-08-20 11:16] lukasmrtvy commented on #2089
@neilpeterson: You have to also do `az ad sp create --id $SERVER_ID` to assign SP to App

[2018-08-20 14:56] zbynekbotlo commented on #2399
Any update on this? I'm getting similar error when trying to request consumption data with more than 1000 results. Fails on the second page (`page.Next()`) with following error:
`
consumption.UsageDetailsClient#listNextResults: Failure responding to next results request: StatusCode=400 -- Original Error: autorest/azure: error response cannot be parsed: "The request is badly formed."
error: invalid

[2018-08-20 15:44] TheoBrigitte commented on #2480
There are some filter examples under [`insights.ActivityLogsClient.List`](https://godoc.org/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights#ActivityLogsClient.List)

e.g.
[code]

[2018-08-20 16:12] marstr commented on #2482
Given that this is an error being returned by the server, I'm prone to believing that this is not an issue stemming from the Azure-SDK-for-Go. This issue probably belongs in the [Azure/azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs) repository. I'm going to triage it over there so the service team can take a look at it.

[2018-08-20 16:28] #2482 closed

[2018-08-20 17:30] jhendrixMSFT commented on #2486
I believe this is a problem with the swagger as the return type specified is [string](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/dscConfiguration.json#L306), needs confirmation.

[2018-08-20 20:04] vladbarosan commented on #2486
Investigating, it might be an issue with the generator. If so will have a fix in the next sdk release.

[2018-08-20 21:13] marinsalinas opened #2495 "DiagnosticsProfile field is missing in VirtualMachineScaleSetVMProfile on 2016-03-30 version"
### Bug Report

* import path of package in question. `.../services/compute/mgmt/2016-03-30/compute/models.go#L3498`
* SDK version `latest`, `master`
* output of `go version go1.10.1 darwin/amd64`

* What happened?
Trying to set the DiagnosticProfile field to CreateOrUpdate Request for VMScaleSet and this field does not exist.
* What did you expect or want to happen?
I would be able to set Diagnos

[2018-08-21 01:40] vladbarosan commented on #2495
Hi @marinsalinas . The API version you mentioned is not exposing the Diagnostics Profile property. This would be first available in the [2017-03-30 API Version](https://github.com/Azure/azure-sdk-for-go/blob/master/services/compute/mgmt/2017-03-30/compute/models.go#L6696).

Note that the latest API version from Compute is [2018-06-01](https://github.com/Azure/azure-sdk-for-go/blob/master/services/

[2018-08-21 06:26] vladbarosan commented on #2495
P

[2018-08-21 06:26] #2495 closed

[2018-08-21 06:27] vladbarosan commented on #2486
@bgelens out of curiosity are you receiving any content type header ?

[2018-08-21 08:57] bgelens commented on #2486
@vladbarosan I get ```text/powershell``` as content type

[2018-08-21 13:06] bgelens commented on #2486
Just fyi, with [runbookdraft](https://github.com/Azure/azure-sdk-for-go/blob/master/services/automation/mgmt/2015-10-31/automation/runbookdraft.go#L190) and [runbook](https://github.com/Azure/azure-sdk-for-go/blob/master/services/automation/mgmt/2015-10-31/automation/runbook.go#L363) there is no unmarshaling happening. The content type there is text/powershell as well.

[2018-08-21 17:37] JackQuincy opened #2502 "AKS update flow broken in 2018-03-31"
### Bug Report

* import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`../services/containerservice/mgmt./2018-03-31/`

* SDK version e.g. `master`, `latest`, `18.1.0`
    * Specify the exact commit if possible; one way to get this is the REVISION
      column output by `dep status "github.com/Azure/azure-sdk-for-go`.
`master`

* output of `go version`
irrelevan

[2018-08-21 20:38] vladbarosan commented on #2502
@JackQuincy the PUT operation is supposed to be idempotent and the swagger defines the property as required, so everything is correct here.

If you want server side validation ( and not client validation) then you should have the operation in the spec as not required ( although preferably to have the validation as early as possible ).

[2018-08-21 23:06] #2502 closed

[2018-08-22 02:43] feiskyer commented on #2502
@vladbarosan This doesn't seem right. See user's report here: https://github.com/kubernetes/autoscaler/issues/1105#issuecomment-413518236

[code]

[2018-08-22 03:29] vladbarosan commented on #2502
@feiskyer I had a look, still not sure what is incorrect in what I mentioned.
Also is the autoscale feature in that api verison ? there is a PR for adding a preview api version which seems to contain the auto scale feature https://github.com/Azure/azure-rest-api-specs/pull/3620

[2018-08-22 03:31] vladbarosan commented on #2502
To mention if the desire is to update an existing resource a PATCH operation should be implemented by the service

[2018-08-22 03:38] feiskyer commented on #2502
@vladbarosan Shouldn't `CreateOrUpdate` be treated as a patch on API server? e.g. if some parameters are not provided, what will do in api server?

That is based on cluster-autoscaler, and makes CA much more easier to setup.

[2018-08-22 17:10] vladbarosan commented on #2502
@feiskyer  not sure what you mean. The call is a PUT operation that has to be idempotent, i.e. having the resource being created before or not should be irrelevant. Also the property in question in the specs is marked as required. If that can be optional then you can make it optional and the SDK wont validate it but in that case Create needs to work without it.

Otherwise if you want PATCH semanti

[2018-08-22 18:06] JackQuincy commented on #2502
This is a bug in our swagger. we need to update it to behave like the service principle profile

[2018-08-22 21:05] metacpp opened #2519 "Linux profile should be optional for AKS creation"
### Bug Report

* Import package: `.../services/containerservice/mgmt/2018-03-31/containerservice`
* SDK version: `18.0.0`
* output of `go version`: go1.9 darwin/amd64

* What happened?
Try to create AKS without linuxProfile with below validation error message:
[code]

* What did you expect or want to happen?
From Azure portal, there's no way for end user to set the linuxProfile. The API should be

[2018-08-23 15:31] tiwood opened #2525 "GroupsClient.ListComplete only returns first 100 results"
### Bug Report

Package: github.com/Azure/azure-sdk-for-go/services/graphrbac/1.6/graphrbac
SDK version: latest
Go version: go version go1.10.3 darwin/amd64

I had the assumption GroupsClient/ListComplete should return all Azure AD group objects, but instead it just return the first 100.

In the following loop I only had access to the first 100 objects:
[code]

[2018-08-23 18:54] vladbarosan commented on #2525
Hi @tiwood the `ListComplete` is a convenience call we have that returns an iterator. The iterator will go across pages automatically when using it compared to the List call.

You can see an example in our samples repo:  https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/master/resources/groups.go#L98

[2018-08-23 18:54] #2525 closed

[2018-08-24 09:59] ac-astuartkregor opened #2534 "PostgreSQL virtual network rule gives incorrect response for invalid data"
### Bug Report

Affects terraform-providers/terraform-provider-azurerm#1774.

* import path: `services/postgresql/mgmt/2017-12-01/postgresql`
* SDK version: `v18.0.0`
* go version: `go version go1.10.3 darwin/amd64`

#### What happened?
Attempting to create a PostgreSQL virtual network rule from Terraform using `postgresql.VirtualNetworkRulesClient` with `IgnoreMissingVnetServiceEndpoint` set to `

[2018-08-24 12:46] olblak opened #2535 "Mysql Service api should return database password information"
### Feature Request
When we use a tool like Terraform to manage mysql services, it's not possible at the moment to detect if the database password was changed via another way than the api, it would be interesting to return such informations. cfr. the azure terraform provder issue [Azure Terraform Provider](https://github.com/terraform-providers/terraform-provider-azurerm/issues/1823) for a context

[2018-08-24 16:34] vladbarosan commented on #2535
@olblak thanks for opening this. I followed the issue you mentioned. To be clear the ask here is not for the password itself, but for some metadata about it ( e.g. last time changed etc) ?

[2018-08-24 21:54] vladbarosan commented on #2534
Hi @ac-astuartkregor this seems to be an issue with the service. I moved the issue in the specs repo for tracking and will be closing here

[2018-08-24 21:54] #2534 closed

[2018-08-24 22:04] #2535 closed

[2018-08-27 17:21] neilpeterson opened #2544 "Add Azure Container Instances Secured Environment Variables"
### Feature Request

Add Azure Container Instances Secured Environment Variables to the Azure GO SDK.

It seems like perhaps the current SDK (2018-06-01) was generated before the ACI secured environment variables were merged into the REST spec.

[Azure REST spec for container instances environment variables](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerinstance/

[2018-08-28 17:02] flyinprogrammer opened #2556 "Client Testing"
### Feature Request

At this point in maturity, there are a series of clients that we should expect to always exist  in this project. Would there be value in testing that these clients always exist, and support some basic functionality?

For example, https://github.com/Azure-Samples/azure-sdk-for-go-samples/pull/212, where the `compute.DisksClient` was removed from the 2018-06-01 compute API.

It

[2018-08-28 19:48] jeffw-wherethebitsroam opened #2560 "Batch PoolAddParameter.ResizeTimeout format"
import path: github.com/Azure/azure-sdk-for-go/services/batch/2018-03-01.6.1/batch
version: v19.1.0

I am trying to set the timeout when creating a batch pool, but I can't work out the format.

The documentation for the field says:

[code]

I was a bit surprised that it expected a string. I have tried:

[code]

The error I get each time is:

[code]

I'm just getting started with this API, so there

[2018-08-28 21:42] jhendrixMSFT commented on #2556
We can look into having a branch of the samples that targets the ```latest``` profile so it always targets the latest API version.

[2018-08-28 22:05] jhendrixMSFT opened #2564 "Swagger->SDK will need to understand breaking changes in order to work with vgo"
Once we adopt vgo we'll need to swagger->SDK process to understand breaking changes so that they are correctly versioned.

[2018-08-29 15:49] todd-davenport opened #2569 "Implement group owner operations in graphrbac"
### Feature Request

It would be very useful to have group management operations from Microsoft Graph implemented in the Azure SDK . Currently you can perform CRUD operations on [Azure AD groups with the SDK](https://github.com/Azure/azure-sdk-for-go/blob/master/services/graphrbac/1.6/graphrbac/groups.go) but you cannot manage the Owners of groups.

Can the following be implemented?
https://develo

[2018-08-29 23:36] jhendrixMSFT opened #2576 "Fix generation of discriminated types"
The modeling/naming of the discriminator can lead to poor naming and breaking changes.  Here's an example.

https://github.com/Azure/azure-sdk-for-go/pull/2545

The big problem is that autorest.common removes the discriminator field from the Setting type so we can't check the Setting type for it, and since the discriminator field "kind" is named different from the discriminator enum "SettingType"

[2018-08-30 15:04] tombuildsstuff commented on #2397
ping @jeffhollan :)

[2018-08-30 18:42] jeffhollan commented on #2397
I wouldn't build this out yet with the current APIs that exist. We have work planned for later this year that will surface the APIs in a much more friendly way.  Any work we do in the interim would likely be throwaway.

[2018-08-30 19:45] jhendrixMSFT commented on #2179
Fixed in https://github.com/Azure/go-autorest/releases/tag/v10.15.3 which will be included in the v20 SDK.

[2018-08-30 21:45] jhendrixMSFT commented on #2179
Fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v20.0.0

[2018-08-30 21:45] #2179 closed

[2018-08-30 21:46] jhendrixMSFT commented on #2350
Fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v20.0.0

[2018-08-30 21:46] #2350 closed

[2018-08-30 21:47] jhendrixMSFT commented on #2486
This has been fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v20.0.0

[2018-08-30 21:47] #2486 closed

[2018-08-31 05:54] bgelens commented on #2486
Awesome! Thanks 👍

[2018-08-31 18:10] jhendrixMSFT commented on #2569
I've ported this to the following issue. https://github.com/Azure/azure-rest-api-specs/issues/3790

[2018-08-31 18:10] #2569 closed

[2018-08-31 20:33] jhendrixMSFT commented on #2544
Fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v20.0.0.

[2018-08-31 20:33] #2544 closed

[2018-08-31 20:34] neilpeterson commented on #2544
@jhendrixMSFT thanks a bunch.

[2018-08-31 20:42] jhendrixMSFT commented on #2480
@TheoBrigitte Unfortunately that syntax doesn't work for [resources.GroupsClient.List](https://github.com/Azure/azure-sdk-for-go/blob/master/services/resources/mgmt/2018-02-01/resources/groups.go#L423).  I tried updating the filter to ```resourceGroupName eq 'foo'``` but I still get a ```InvalidFilterInQueryString``` error.

[2018-09-01 07:43] torresdal commented on #2199
@jhendrixMSFT @promoisha Any update on this?

[2018-09-02 11:35] rezamt opened #2608 "Update Microsoft.Network /NetworkInterface Tag property fails"
### Bug Report

* import `"github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources"`
* SDK version `master`
* `go version  go1.10.3 darwin/amd64`

I am trying to update the resource (Microsoft.Network/networkInterfaces) Tags and getting the following error:

resources.Client#UpdateByID: Failure sending request: StatusCode=0 -- Original Error: autorest/azure: Service returned

[2018-09-03 15:32] nphmuller opened #2610 "Allow auth.NewAuthorizerFromEnvironment() to pick up Azure CLI credentials"
### Feature Request

If we want to use to Azure Go SDK for developer tooling, the user has to jump through some hoops to get authenticated:
- When using `auth.NewAuthorizerFromEnvironment()` there are multiple environment variables that have to be set manually.
- When using `auth.NewAuthorizerFromFile()` the user has to first explicitly create a set of credentials and create an environment variabl

[2018-09-04 08:03] nphmuller commented on #2610
The Azure SDK for .NET has implemented this in their [AppAuthentication](https://github.com/Azure/azure-sdk-for-net/tree/cad93fea6a56879c88172492023a2fca595279ba/src/SdkCommon/AppAuthentication) package. Specifically the [AzureCliAccessTokenProvider](https://github.com/Azure/azure-sdk-for-net/blob/cad93fea6a56879c88172492023a2fca595279ba/src/SdkCommon/AppAuthentication/Azure.Services.AppAuthentica

[2018-09-04 08:13] nphmuller commented on #2610
The Python SDK for Azure has also implemented this: https://docs.microsoft.com/en-us/python/azure/python-sdk-azure-authenticate?view=azure-python#mgmt-auth-cli

It even uses the Azure CLI's config file. They cheated a bit though, because they simply called functions of the Azure CLI code directly, since it's also written in Python.

[2018-09-04 08:35] nphmuller commented on #2610
I've created this issue on the Azure CLI side of things: https://github.com/Azure/azure-cli/issues/7217

[2018-09-05 10:34] kargakis opened #2617 "Question: how can I filter out resources from an ARM template"
I want to iterate over an ARM template, filter out resources of a specific type, and apply the filtered template. How can I do this via the SDK? An example would be nice (btw this repo used to have examples but not anymore?)

[2018-09-05 17:52] marstr commented on #2617
Howdy,

To answer half of your question, you can find our examples regarding resources (including ARM Template deployment) here: https://github.com/Azure-Samples/azure-sdk-for-go-samples/tree/master/resources.

That said, I don't believe we have much tooling to support that scenario in our SDK. Could you tell me more about why you want to only deploy a partial template?

[2018-09-05 18:46] kargakis commented on #2617
Our template includes NSGs which are getting updated post-deploy by Azure as the LB services are created. When we try to apply the same template during an upgrade, the NSG updates performed by Azure are getting overwritten, resulting in a temporary outage (see https://github.com/openshift/openshift-azure/issues/329) so I wanted to filter out NSGs. Since we use a Golang template to generate the ARM

[2018-09-05 20:12] marstr commented on #2617
Thanks for expanding on this. I think the scenario you're describing warrants some attention from our Azure Networking team. Tools like Terraform work around this by not overwriting existing NSGs, and I'd love to see that same logic reproduced when an ARM deployment is issued.

Mind opening an issue in the [Azure/azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs) repository descr

[2018-09-05 20:17] kargakis commented on #2617
@amanohar and @jim-minter should have more info about it

[2018-09-06 10:02] AndreasHaure opened #2627 "[ADLS] Request for Storage package for Azure Data Lake Store"
### Service Package Request

Similar to the storage packages that are currently offered: [Storage - Blobs](https://github.com/Azure/azure-storage-blob-go),  [Storage - Files](https://github.com/Azure/azure-storage-file-go) and [Storage - Queues](github.com/Azure/azure-storage-queue-go) we would love to have a storage package specifically for the **Azure Data Lake Storage**.

Most of our data is st

[2018-09-06 17:01] thetonymaster opened #2628 "Template Deployment Delete errors on `2016-02-01`"
### Bug Report

"github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2016-02-01/resources"

go version
go version go1.9.4 darwin/amd64

* What happened?

Error when deleting a Template Deployment

* What did you expect or want to happen?

A Template Deployment successfully deleted, error received

pollingTrackerBase#updateRawBody: failed to unmarshal response body: StatusCode=0 -- Original E

[2018-09-06 19:39] seyadava commented on #2628
Can you provide the fiddler trace please? I want to look at the raw response to identify source of issue.

[2018-09-06 20:18] bganapa commented on #2628
@marstr / @joshgav  anything known here?

[2018-09-07 15:35] seyadava commented on #2628
This is failing on go-autorest package. I've created another issue on go-autorest package to track this issue: https://github.com/Azure/go-autorest/issues/318

[2018-09-08 06:12] weinong opened #2645 "Delete Resource Group fails with updatePollingState error"
### Bug Report

* import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`services/resources/mgmt/2018-05-01/resources` though, its more like a bug in `github.com/Azure/go-autorest/autorest/azure/async.go`
* SDK version e.g. `master`, `latest`, `18.1.0`
    * Specify the exact commit if possible; one way to get this is the REVISION
      column output by `dep statu

[2018-09-08 18:37] asubmani commented on #1996
Request that this be re-opened. This was never fixed, the workaround suggested by @EtienneDeneuve does not work any more (it never really used HA ports).
This should be fixed in the Azure Go SDK so that the provider maintainers can implement the fix for
https://github.com/terraform-providers/terraform-provider-azurerm/issues/372

[2018-09-10 07:59] kargakis commented on #409
This is a must for unit-testing code that uses azure clients. Please consider reopening.

[2018-09-10 17:27] jhendrixMSFT commented on #2627
Is this what you're looking for?
https://github.com/Azure/azure-sdk-for-go/tree/master/services/datalake/store/2016-11-01/filesystem

[2018-09-10 17:27] jhendrixMSFT commented on #2628
Closing since we're tracking via the issue in go-autorest.

[2018-09-10 17:27] #2628 closed

[2018-09-10 18:56] jhendrixMSFT commented on #2480
Per an offline conversation with @chidmdxx the [resources.GroupsClient.List](https://github.com/Azure/azure-sdk-for-go/blob/master/services/resources/mgmt/2018-02-01/resources/groups.go#L423) operation supports filtering on tags only.  I've opened issue https://github.com/Azure/azure-rest-api-specs/issues/3853 to track getting the docs updated with this info.  Sorry for the confusion.

[2018-09-10 18:56] #2480 closed

[2018-09-11 07:31] AndreasHaure commented on #2627
Hadn't noticed that you've already build such a client for the ADLS. Thank you!

[2018-09-11 07:31] #2627 closed

[2018-09-11 16:10] jhendrixMSFT commented on #2645
Fixed in https://github.com/Azure/go-autorest/releases/tag/v10.15.4

[2018-09-11 16:10] #2645 closed

[2018-09-11 17:43] jhendrixMSFT commented on #2131
I've created a small sample using the ```monitor/insights``` package for retrieving metric data, hopefully somebody finds it useful.
https://github.com/Azure-Samples/azure-sdk-for-go-samples/pull/222

[2018-09-11 17:43] #2131 closed

[2018-09-11 18:46] jhendrixMSFT commented on #2465
Per offline conversation with the service team this change was reverted on 8/30 so it should be returning 200 again.  Please re-open if still an issue.

[2018-09-11 18:46] #2465 closed

[2018-09-11 20:56] jhendrixMSFT commented on #1587
I have not been able to find a solution to the original issue here.  :(  If this is still an issue please re-open.

[2018-09-11 20:56] #1587 closed

[2018-09-11 21:04] jhendrixMSFT commented on #1987
Tracked in https://github.com/Azure/azure-sdk-for-go/issues/1987.

[2018-09-11 21:04] #1987 closed

[2018-09-11 21:06] jhendrixMSFT commented on #2340
@mblaschke finally heard back from the service team, they're working on a fix now.

[2018-09-13 18:49] junhuac commented on #353
It looks like this issue still haven't been resolved yet. When I deployed Selenium Grid in Azure Dev Test Lab using the lab sample script, all VMs have been instructed to be created in same Resource Group, however, the end result is that all of the resources for the VMS have been created in their separate Resource Groups:
https://github.com/Azure/azure-devtestlab/tree/master/Samples/201-dtl-create

[2018-09-13 22:14] tariq1890 commented on #2617
+1 on this. My team would benefit from this as well.

[2018-09-14 07:52] jcorioland opened #2695 "Application Insights -> AdditionalProperties not unmarshalled on MetricsResultInfoType"
### Bug Report

* import path: `github.com/Azure/azure-sdk-for-go/services/appinsights/v1/appinsights`
* SDK version `20.1.0` (dep ensure)
* output of `go version`

[code]

## Bug

I am currently exploring the Application Insights Go SDK, trying to retrieve Metrics from App Insights, doing the following:

[code]

The AdditionalProperties map on the segment is always empty. I’ve put an http proxy t

[2018-09-17 21:31] greensombrero opened #2718 "Unable to create MySQL server via the create method on the SDK"
### Bug Report

import path: "github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2017-12-01/mysql"
SDK Version: v20.1.0

dep status github.com/Azure/azure-sdk-for-go
PROJECT                            CONSTRAINT     VERSION        REVISION  LATEST    PKGS USED
github.com/Azure/azure-sdk-for-go  ^20.1.0        v20.1.0        2935c02   v20.1.0   4
github.com/Azure/go-autorest       ^10.15.4

[2018-09-17 22:18] ramankumarlive commented on #353
Looping DTL Team.

Regards
Raman Kumar
Senior Program Manager
Azure Storage

From: Junhua Chang <notifications@github.com>
Sent: Thursday, September 13, 2018 11:50 AM
To: Azure/azure-sdk-for-go <azure-sdk-for-go@noreply.github.com>
Cc: Raman Kumar <Raman.Kumar@microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [Azure/azure-sdk-for-go] DevTest Labs vms completely ignore resourcegroup

[2018-09-17 22:20] greensombrero commented on #2718
I've done some more digging into the SDK code and I've found the validation is searching for a Properties field on the ServerPropertiesForDefaultCreate struct which doesn't have a Properties field.  It also appears to look for it on the ServerForCreate struct which does have that property.  I'm unclear why it is searching for it on the first struct (ServerPropertiesForDefaultCreate) as it isn't de

[2018-09-17 22:35] sindhu-nagesh commented on #353
This is by design and there is no issue that we are working on. We do not have an ETA on when we will support user specifying a resource group to create the VMs in.

[2018-09-18 02:40] tombuildsstuff commented on #2718
@greensombrero taking a look at the code above I think you're missing a `&` from the start of the Properties assignment (to make this `Properties: &mysql.ServerPropertiesForDefaultCreate{...}`).

For reference - here's how we (Terraform) provision MySQL Servers via the Azure SDK for Go for example: https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/resource_arm_m

[2018-09-18 02:57] greensombrero commented on #2718
Thanks that is a weird one because normally I would expect the compiler to complain about not passing something as a pointer where it is needed.  The interface implementation doesn't take a pointer receiver so I'm kind of surprised that works but it definitely does.  I've probably been staring at it for too long.

[2018-09-18 02:57] #2718 closed

[2018-09-20 14:29] paulschwarzenberger opened #2775 "Security Rule support for Service Tags"
### Feature Request

Support for service tags in security rules for network security groups, see screenshot for example configuration using the Azure portal. Looking at lines 15559 onwards in the[ network API](https://github.com/Azure/azure-sdk-for-go/blob/master/services/network/mgmt/2018-07-01/network/models.go) this does not appear to currently be supported.
![image](https://user-images.githubu

[2018-09-20 17:35] tariq1890 opened #2776 "Requesting an azure-sdk-for-go release with go-autorest V.10.15.4"
Title says it all! We were hoping the latest release included that.

[2018-09-20 21:50] jhendrixMSFT commented on #931
Fixed by adding `changelog` command to apidiff.

[2018-09-20 21:50] #931 closed

[2018-09-20 22:48] jhendrixMSFT commented on #2776
We'll be releasing v21.0.0 next week (targeting 9/24) and it will have v10.15.4 of go-autorest.

[2018-09-21 01:16] jhendrixMSFT commented on #2776
Note that if you run `dep ensure -update` it will automatically update to `v10.15.4` of go-autorest.

[2018-09-21 10:27] sch00lb0y opened #2790 "username password based auth not working"
### Bug Report

* import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
* SDK version e.g. `master`, `latest`, `18.1.0`
    * Specify the exact commit if possible; one way to get this is the REVISION
      column output by `dep status "github.com/Azure/azure-sdk-for-go`.
	"github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network"
	"github.com/Azu

[2018-09-21 15:47] paulschwarzenberger commented on #2775
I raised this due to an[ issue with Terraform](https://github.com/terraform-providers/terraform-provider-azurerm/issues/1629). Following further testing, I have resolved the issue by setting service tags using Terraform such as Sql.WestEurope as a string, whereas tags such as Internet, VirtualNetwork are set as a list.

Assuming this is all supported by the Azure SDK for Go, it would be useful to

[2018-09-21 15:48] #2776 closed

[2018-09-21 18:08] pdumais opened #2794 "RouteTable field of SubnetPropertiesFormat is emtpy"
with the sdk from  master, when I cal SubnetsClient.ListComplete and iterate thru the subnets and read "subnet.SubnetPropertiesFormat.RouteTable" I get an object that is only populated with the ID field. All other fields are nil.

I'm thinking this might be because it is lazy-loaded but I can't find any examples or information about deeply nested objects being lazy loaded.

[2018-09-21 18:28] #2790 closed

[2018-09-21 19:37] marstr commented on #2617
I'm going to close this issue, but we'll note that there is demand for being able to work with ARM Templates in Go.

[2018-09-21 19:37] #2617 closed

[2018-09-21 19:42] marstr opened #2797 "Generator ignores if inherited attributes are required"
In Azure/autorest#1540 @mcardosos says:

[2018-09-21 19:48] marstr opened #2798 "Add `--go` AutoRest command-line help"

[2018-09-24 21:13] jhendrixMSFT commented on #2794
I observe the same thing.  @mikhailtryakhov can you comment on this?  For reference this is the operation.  https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/virtualNetwork.json#L489

[2018-09-24 21:14] jhendrixMSFT commented on #2794
And to clarify, I don't see the data coming across the wire so I don't believe this is an issue with the SDK.

[2018-09-24 22:05] jhendrixMSFT commented on #2695
This has been fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v21.0.0.  Note though that the package name has changed, it's now `github.com/Azure/azure-sdk-for-go/services/appinsights/v1/insights`.  Unfortunately the old package wasn't cleaned up, I'll get this resolved for the next release.

[2018-09-24 22:05] #2695 closed

[2018-09-26 01:38] katbyte opened #2822 "[Recovery Services] Vague error messages when updating a policy"
### Bug Report

* import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`"github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup"`

* SDK version e.g. `master`, `latest`, `18.1.0`
[code]
* output of `go version`
`go version go1.10.3 darwin/amd64`

* What happened?
I am trying to update a recovery service policy retention days via this n

[2018-09-26 06:41] katbyte opened #2824 "[Recovery Services] ProtectedItemsClient returns some azure resource ID's with Subscriptions capitalized."
### Bug Report

* import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
```"github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup"```
* SDK version e.g. `master`, `latest`, `18.1.0`
[code]
* output of `go version`
[code]

* What happened?
`backup.ProtectedItemsClient` returns its response.ID and `response.Properties.PolicyID` in an une

[2018-09-26 16:52] jhendrixMSFT commented on #2822
@katbyte curious if you can try the 2016-12-01 API version.  I mention this because this API version contains examples in the swagger which might help.  In the meantime I'll track down the service owner so they can chime in.

[2018-09-26 16:54] jhendrixMSFT commented on #2824
@sumitmal can you please comment on this?

[2018-09-26 16:55] jhendrixMSFT commented on #2822
@sumitmal can the error message be improved?

[2018-09-26 17:27] tariq1890 opened #2825 "Method to delete multiple role assignments by ID in authorization API"
### Feature Request

Currently we delete roleAssignments by ID one at a time

`func (client RoleAssignmentsClient) DeleteByID(ctx context.Context, roleAssignmentID string) (result RoleAssignment, err error) ` (roleassignments.go L279)

It would be a nice pass an slice of roleAssignmentIDs instead and achieve the deletions through a single SDK call.

[2018-09-27 07:51] himanshu219 opened #2837 "How does Azure Go SDK compared with Azure Python SDK?"
Is there any documentation comparing the Azure Go SDK and Azure Python SDK?
It would be better to have list of supported azure services and features?

[2018-09-27 08:54] lsytj0413 opened #2838 "How can i get the virtual machine power on status?"
As the title, how can i get the virtual machine status, such as power off, deallocated from the sdk?

[2018-09-27 20:44] katbyte commented on #2822
@jhendrixMSFT,

I tried both the `2017-07-01` and `1016-12-01` versions of he API and am getting the same error.

[2018-09-28 08:58] tombuildsstuff opened #2855 "[Shared Image Galleries] Exposing the `regions` field in the response"
:wave:

We're using SDK v20.1.0 with the Shared Image Galleries from this package:

[code]

When creating a version of an image - it's possible to specify the regions in which this should be replicated to as a slice of strings:

[code]

However this field isn't directly exposed in the API response - instead being returned as `targetRegions`:

[code]

Whilst this `targetRegions` field is being retu

[2018-09-28 22:39] jhendrixMSFT commented on #2838
I believe you want `InstanceView()` but not totally sure.  Can you try it?  If it doesn't work we can engage somebody from the compute team to answer.
https://github.com/Azure/azure-sdk-for-go/blob/master/services/compute/mgmt/2018-10-01/compute/virtualmachines.go#L574

[2018-09-28 22:43] katbyte opened #2864 "[CosmosDB] Unable to set any MongoDB preview feature/capabilities"
### Bug Report

* import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
```github.com/Azure/azure-sdk-for-go/services/cosmos-db/mgmt/2015-04-08/documentdb```

* SDK version e.g. `master`, `latest`, `18.1.0`
`20.1.0`

* output of `go version`
`go version go1.10.3 darwin/amd64`

* What happened?
When attempting to set one of: `EnableAggregationPipeline` `MongoDBv3.4

[2018-09-28 22:49] lsytj0413 commented on #2838
yes, i have seen that the InstanceView returns **statues[1].code** with the value **PowerState/running**, but i'm not sure it is the right answer because it is un-documented.

[2018-09-28 22:52] jhendrixMSFT commented on #2838
@hyonholee can you help answer?

[2018-09-28 22:58] jhendrixMSFT commented on #2837
I'm not aware of any such documentation.
Regarding list of supported services the best we have at present is the docs on [godoc.org](https://godoc.org/github.com/Azure/azure-sdk-for-go) but I'm guessing you're looking for something higher level?
@lmazuel can comment on the Python side.

[2018-10-01 01:58] tombuildsstuff commented on #2855
@jhendrixMSFT good spot, we've upgraded and this looks good to us - thanks :)

[2018-10-01 01:58] #2855 closed

[2018-10-01 16:34] lmazuel commented on #2837
Hi @himanshu219
If you're question is supported Azure services and Azure features, most of the SDK now are auto-generated from a common meta-description of the service ([called a Swagger](https://github.com/Azure/azure-rest-api-specs)). This coverage is equivalent. It might happen that Go merge something a little before I released on PyPI, but in most cases that's not critical (and at worst open a

[2018-10-01 18:02] himanshu219 commented on #2837
Thanks guys, appreciate your help. So the usecase is that I am writing a common module for azure services and I was thinking to choose between one of the two and wanted to know if there is any major differences in supported azure services in both the SDK's to avoid any hiccups(feature not supported in current SDK version like issues) in future. It's good to know that  both the SDK's are auto gener

[2018-10-01 18:02] #2837 closed

[2018-10-02 18:11] vladbarosan commented on #2864
@katbyte can you try setting the capability through a Patch. @arsalana-microsoft, @dmakwana can you help us with what is the proper way of enabling this feature?

Vlad

[2018-10-03 14:39] hardy047 opened #2899 "Updating non-allowed property of deployment is not giving proper error message"
I have tried github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-02-01/resources package.

When I try to update deployment input parameter which is not allowed to update 'future.WaitForCompletionRef' is giving "Code="" Message=""" error.

Expected Error message is:
"code": "Conflict",
 "message": "{\r\n  \"error\": {\r\n    \"code\": \"PropertyChangeNotAllowed\",\r\n    \"target\": \"ad

[2018-10-03 16:01] lawrencegripper opened #2900 "Azure Frontdoor Support"
### Feature Request

Hi,

Can we add the Azure Frontdoor service to the SDK - API Spec is available here: https://github.com/Azure/azure-rest-api-specs/tree/master/specification/frontdoor/resource-manager

Looks like there is an auto branch here, if I wait does this get merged automatically? https://github.com/Azure/azure-sdk-for-go/tree/restapi_auto_frontdoor/resource-manager

[2018-10-03 16:07] lawrencegripper commented on #2900
Woop's it's already in here - https://github.com/Azure/azure-sdk-for-go/tree/master/services/preview/frontdoor/mgmt/2018-08-01-preview/frontdoor

Sorry, I'll close this one out!

[2018-10-03 16:07] #2900 closed

[2018-10-03 16:46] jhendrixMSFT commented on #2899
Hi @hardy047 can you please provide an example of the API call with the parameters you're passing?

[2018-10-03 22:17] jhendrixMSFT commented on #1596
resolved via github.com/microsoft/applicationinsights-localforwarder

[2018-10-03 22:17] #1596 closed

[2018-10-03 22:23] joshgav opened #2902 "emit OpenCensus traces for API calls"
### Feature Request

Instrument service calls with an OpenCensus span, possibly using https://github.com/census-instrumentation/opencensus-go.

Describe and write sample showing how to export to https://github.com/Microsoft/ApplicationInsights-LocalForwarder and App Insights.

[2018-10-03 23:32] tariq1890 commented on #2825
@jhendrixMSFT Any thoughts on this?

[2018-10-04 05:42] hardy047 commented on #2899
@jhendrixMSFT  I have used https://github.com/Azure/azure-quickstart-templates/tree/master/101-vm-simple-linux template with following inputs while deploying:

'''json
 "parameters": {
    "adminUsername": {
      "value": "azureuser"
    },
    "adminPassword": {
      "value": "xxxxxx"
    },
    "dnsLabelPrefix": {
      "value": "xxxxx"
    }
  }
'''

while updating I used following parameters

[2018-10-04 16:07] vladbarosan commented on #2322
@tombuildsstuff coming back to this ? are you still blocked. we dont have a sample for enrypting machines on boot.
Regarding Windows please note that you can't encrypt the data volume without encrypting the OS volume first. ( [See here](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-faq#can-i-encrypt-both-boot-and-data-volumes-with-azure-disk-encryption)  )

Let us

[2018-10-04 16:12] vladbarosan commented on #1370
with this release https://github.com/Microsoft/vscode-go/releases/tag/0.6.90 , the extension uses Delve API v2

[2018-10-04 16:12] #1370 closed

[2018-10-04 16:53] vladbarosan commented on #1727
@danielhelfand there is an SDK call for https://github.com/Azure/azure-sdk-for-go/blob/master/services/graphrbac/1.6/graphrbac/groups.go#L121 , is there anything pending on the go SDK here ? Otherwise I would go ahead and close this issue.

[2018-10-04 17:03] vladbarosan commented on #2176
@lfshr is this related ? https://github.com/Azure/AKS/issues/435

[2018-10-04 17:04] jhendrixMSFT opened #2904 "Improve enum names for . values"
Found while investigating PR https://github.com/Azure/azure-rest-api-specs/pull/4016

This PR contains a discriminator value `Microsoft.Azure.Monitor.MultipleResourceMultipleMetricCriteria` which the generator changes to `MicrosoftAzureMonitorMultipleResourceMultipleMetricCriteria` for the enum name and value.  The removal of the `.` from the enum value is problematic as it doesn't match the value

[2018-10-04 17:05] danielhelfand commented on #1727
@vladbarosan Thanks for pointing this out. This looks like exactly what I'm looking for with this issue. I have another [issue](https://github.com/Azure-Samples/azure-sdk-for-go-samples/issues/186) open with `azure-sdk-for-go-samples` to show how to use it that I'll keep open, but this issue can be closed.

[2018-10-04 17:05] #1727 closed

[2018-10-04 17:14] vladbarosan commented on #2214
Closing in favor of https://github.com/Azure/azure-rest-api-specs/issues/4073

[2018-10-04 17:14] #2214 closed

[2018-10-04 17:16] vladbarosan commented on #2340
Closing as it is tracked in  Azure/azure-rest-api-specs#2366

[2018-10-04 17:16] #2340 closed

[2018-10-04 17:18] vladbarosan commented on #2466
Closing this as stale. @kargakis if you have any updates provide them please.

[2018-10-04 17:18] #2466 closed

[2018-10-04 17:22] vladbarosan commented on #2775
This seems to be solved. Closing please let us know if there is any action item left on the go sdk https://github.com/terraform-providers/terraform-provider-azurerm/issues/1629

[2018-10-04 17:22] #2775 closed

[2018-10-04 19:42] jhendrixMSFT commented on #2899
Forgot to add that once I fixed the password to meet the requirements and put a sane value for the `dnsLabelPrefix` the deployment was successful.

[2018-10-04 19:48] jhendrixMSFT commented on #1824
Closing this, will track via the specs issue.

[2018-10-04 19:48] #1824 closed

[2018-10-04 20:26] jhendrixMSFT opened #2907 "Add package validation to CI"
Add a CI task to catch some common mistakes we see.

- Package and directory name mismatch
- Upper-case letters in package directories
- Using build tag instead of API version in package directory
- Incomplete API version in package directory (e.g. `2018-01` instead of `2018-01-01`)
- Incorrect package directory (e.g. /services/< not supposed to be here >/foo/mgmt/...)
- Preview packages not being

[2018-10-04 20:36] jhendrixMSFT commented on #2904
On further investigation the values are correct (i.e. the `.` isn't being removed) however the names are just terrible and should be shortened.

[2018-10-04 21:53] #2610 closed

[2018-10-04 22:06] jhendrixMSFT commented on #2825
It seems this would best be served by a new API from the service that accepts a list of assignment IDs.  @ifross89 is this API owned by your team?

[2018-10-04 22:47] vladbarosan commented on #2904
After investigating, this would bring breaking changes and also wouldn't be safe for a couple of discriminator values. Closing for now.

[2018-10-04 22:47] #2904 closed

[2018-10-04 22:51] vladbarosan commented on #1904
@tombuildsstuff yes can we move this to the specs repo?  We are trying to keep here SDK specific asks.  You can reference this issue there.

[2018-10-04 22:51] #1904 closed

[2018-10-04 22:56] vladbarosan commented on #2560
@jeffw-wherethebitsroam closing here as is not an sdk specific issue. Can you open this in https://github.com/Azure/azure-rest-api-specs ?

[2018-10-04 22:56] #2560 closed

[2018-10-04 23:00] vladbarosan commented on #2397
@jeffhollan any updates on the new API being available  ?

[2018-10-04 23:31] vladbarosan commented on #2178
Hi @tombuildsstuff since there is no action the Go SDK ill close this. Please open this issue in the specs repo and provide an exact ask for the Service team ( or you can reference this issue if you think its enough )

[2018-10-04 23:31] #2178 closed

[2018-10-04 23:32] vladbarosan commented on #2177
@lfshr is this issue resolved by https://github.com/Azure/azure-sdk-for-go/issues/2178 resolution ?

[2018-10-04 23:32] vladbarosan commented on #2176
@lfshr is this issue resolved by #2178 resolution ?

[2018-10-05 05:30] hardy047 commented on #2899
@jhendrixMSFT
I am using 4650843026a7fdec254a8d9cf893693a254edd0b for github.com/Azure/azure-sdk-for-go
and 1f7cd6cfe0adea687ad44a512dfe76140f804318 for github.com/Azure/go-autorest

[2018-10-05 10:33] lfshr commented on #2176
@vladbarosan this issue is unrelated. It's also low priority as there is only one network policy at the minute (calico), which is default when not specified. Same goes for #2177

[2018-10-06 00:23] JunyiYi opened #2920 "`MetricAlertMultipleResourceMultipleMetricCriteria` type is missing in Azure monitor metric alerts"
### Feature Request

Now we can only create an Azure metric alert using [`MetricAlertSingleResourceMultipleMetricCriteria`](https://docs.microsoft.com/en-us/rest/api/monitor/metricalerts/createorupdate#request-body). But from the documentation as well as the error message returned by Azure (`Scopes property is invalid. Only single resource is allowed for criteria type SingleResourceMultipleMetricC

[2018-10-07 14:07] hardy047 commented on #2899
@jhendrixMSFT Thanks it worked.

[2018-10-08 03:11] tariq1890 commented on #2825
Any update on this?

[2018-10-08 16:16] a-h commented on #894
@vladbarosan - Is work still in progress for this functionality? Just wondering if it had been rescheduled given the removal of the "in progress" label.

[2018-10-08 18:53] karthiksubraveti opened #2922 "Method to delete OsDisk which is created during vm creation"
Hello,

I find that the OsDisk automatically created through the following option
	osDisk := compute.OSDisk{
		CreateOption: "fromImage",
		ManagedDisk:  &managedDisk,
		OsType:       "linux",
	}

during vm creation doesn't get deleted on vm deletion. Could someone advise me the right way to delete the OSDisk which is automatically created during vm creation.

..
Thanks
Karthik

[2018-10-08 19:46] mattfarina commented on #2610
@vladbarosan Was this closed because it was implemented? I don't see it and I'm in the same position as @nphmuller.

[2018-10-08 19:52] nphmuller commented on #2610
@mattfarina It's implemented since version 11.1.0 of go-autorest :)
A possible reason you're not seeing it is because the azure sdk for go has not updated its go-autorest dependency to that version yet.

[2018-10-08 21:33] nphmuller commented on #2610
The ‘latest’ branch of the sdk has just been updated. So the next release will probably contain the new auth method.

[2018-10-09 06:00] #2922 closed

[2018-10-09 07:17] njangir2 opened #2926 "Azure Key Vault intermittent 401 dependency errors"
I am fetching secret values from key vault for my azure stateless service fabric application and getting intermittent 401 dependency errors (if I check via connected application insight) for only 2 key vault secrets out of 100s key vault secrets.
Below given is the screenshot of dependency error shown via application insight for one of the key vault secret.

![image](https://user-images.githubuser

[2018-10-09 15:19] mattfarina commented on #2610
@nphmuller When I look at https://github.com/Azure/azure-sdk-for-go/blob/f27fc0e7e6fb0b34a2a6229fcd46f36ed471f88f/services/keyvault/auth/auth.go I don't see it. Where should I be looking? You can change the commit id for latest. I just grabbed it so we see the same thing.

[2018-10-09 15:30] nphmuller commented on #2610
@mattfarina When I wrote the response yesterday it was only available here:
https://github.com/Azure/go-autorest/blob/ea233b6412b0421a65dc6160e16c893364664a95/autorest/azure/auth/auth.go

https://github.com/Azure/azure-sdk-for-go/pull/2927 just got merged, so now it's also available in the file you mentioned (latest branch only for now).

[2018-10-09 16:01] joshgav commented on #894
Hi all and thank you for your interest! Looking forward to your feedback and to refining the Azure Go Functions experience to meet your needs.

**You can now sign up for the preview** at <https://aka.ms/gofunc-signup>. We'll then invite you to the private repo and send instructions for getting started. 🎉🥂

[2018-10-09 21:52] brydavis commented on #397
I'm experiencing is issue as @PSRai23
Something happened to method `ListBlobs`
Strangely, `storage.ListBlobsParameters` still exists

[2018-10-09 22:19] brydavis commented on #397
API has changed since 2016 if you install latest version of SDK.
In example below are two examples of listing blobs.
One loops through all containers, while other just uses specified container.
*Note: I'm ignoring all errors.*

[code]

[2018-10-09 23:32] mattfarina commented on #2610
@nphmuller thanks.

Because there are now two methods... is there a best way to use the two methods together? Wait for one to return an error and then try the other?

[2018-10-10 06:55] nphmuller commented on #2610
The ones in go-autorest are the default one. It requires the azure resource url to be passed as a parameter. Since for many resources the same url is used (https://management.azure.com/), there’s an overload which uses that url by default.

KeyVault has it’s own resource url. So the KeyVault authorizer contains a couple of methods which call the methods in go-autorest with the KeyVault resource UR

[2018-10-11 22:52] jhendrixMSFT commented on #2907
Also update CI to verify that there are no modified files.

[2018-10-12 01:33] jhendrixMSFT commented on #2907
Fixed.

[2018-10-12 01:33] #2907 closed

[2018-10-12 15:23] joshgav opened #2993 "add go.mod and separate services into independent modules"
### Feature Request

Investigate and adopt modules for this and the [go-autorest](https://github.com/Azure/go-autorest) repo.

Strongly consider splitting every service in `./services` into separate modules/packages so they can be versioned independently.

[2018-10-12 15:23] joshgav commented on #2993
cc @tombuildsstuff @feiskyer

[2018-10-12 21:05] jjmartin opened #3002 "Support for Partner Center SDK"
### Feature Request

I'd like to see support for the Partner Center SDK - specifically the Scenarios described here:
https://docs.microsoft.com/en-us/partner-center/develop/manage-invoices

(if there is already support, i'd like to see better documentation showing me how to get there)

[2018-10-14 03:17] katbyte opened #3007 "Security Center Workspace API silently fails when subscription pricing is Free"
### Bug Report

* import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
[code]
* SDK version e.g. `master`, `latest`, `18.1.0`
[code]
* output of `go version`
[code]

* What happened?
When trying to update or create the security centre workspace when the subscription pricing tier is `Free` it silently fails and sets the workspace id to "". When the subscription is

[2018-10-16 18:56] marstr opened #3036 "Missing Go API Version Configuration in Swagger Spec Repository"
Swagger to SDK for Go relies on AutoRest `batch` mode to generate all of the Go bits. However, when new API Versions are added the Go configuration often goes stale. In order to provide a more consistent experience between Go and other languages, we should either:
- Abandon the current approach of relying on `batch`
- Build tooling to detect when Go config has gone stale so that we can update it.

[2018-10-16 21:49] vladbarosan opened #3042 "Improve doc for LRO's and Paginated responses"
Right now there is no documentation on how to use SDK's that make use of these. You have to go to the samples.

[2018-10-17 17:13] marstr commented on #3002
Howdy @jjmartin,

I poked around in our [Open API Spec repository](https://github.com/Azure/azure-rest-api-specs) (from which the vast majority of this repository is auto-generated) and didn't find this service marked-up. My best guess is that this functionality is provided by the Billing RP.

I'm going to move this issue over to the specs repository for further action.

[2018-10-17 17:17] marstr commented on #3002
Closing this in favor of Azure/azure-rest-api-specs#4252.

[2018-10-17 17:17] #3002 closed

[2018-10-19 17:03] marstr commented on #3036
@bsiegel, we're talking about this at Go triage, and are sorta wanting to sit on it until we understand if there are big changes coming to the way that Swagger-To-SDK works. Think this work makes sense to start on now, or should we wait?

[2018-10-19 17:17] marstr commented on #2926
Howdy, this looks like it is a service related issue. However, given that the repro is in C#, mind re-opening this issue in the [Azure/azure-sdk-for-net](https://github.com/Azure/azure-sdk-for-net)?

[2018-10-19 17:17] #2926 closed

[2018-10-19 18:04] bsiegel commented on #3036
@marstr I think the approach I'm going to take is to have a configuration file or script file in each language repo which codifies:
- The version of autorest to use
- The correct flags and all other needed parameters to run autorest for the language
- The set of actions to take after running autorest

As the language SDK maintainers, please feel free to construct the process you want/need, includi

[2018-10-19 20:01] praveenvaltix opened #3080 "[Go] Provide sdk api for using resource ids"
### Service Package Request

Hi,

I have a question on how resources are linked and exposed in Azure through the REST APIs/Go SDK. From my understanding every resource has a name and a resource ID. What I am noticing is that the Get APIs take the resource name while the references within a resource may refer to other resources through an ID.

As an example, the compute.virtualmachines.Get() return

[2018-10-19 21:57] praveenvaltix commented on #3080
I got some ideas after looking at https://gist.github.com/vladbarosan/fb2528754cbd97df51ca11fe7be27d2f

This is written by @vladbarosan

[2018-10-19 22:39] joshgav commented on #2399
We're working on getting a repro still, sorry for the delay!

cc @parisa-naeimi

[2018-10-21 00:34] praveenvaltix commented on #3080
Thanks @vladbarosan for confirming.

I guess my follow up question is, to reduce boiler plate code for us developers, there should ideally be a Get APIs which take the resource id instead of the name.

See below for e.g -

		resource, err := ParseResourceID(nicID)
		if err != nil {
			log.Printf("Error parsing resource id %v", err)
			return nil, err
		}

		// get nic info
		nicInfo, err := nicCli

[2018-10-22 18:51] vladbarosan commented on #3080
Thanks @praveenvaltix for the feedback. We are considering various improvements for our next iteration and this is one of them.

[2018-10-22 19:41] marstr commented on #2864
Absolutely.

In general it looks like you have a lot of threads open that are tagged as being server-side issues. Let me work with @mozehgir to make sure that these are actually getting seen by the relevant teams.

For this one specifically, I'll try to build out a stand-alone min-repro that we can distribute.

[2018-10-22 21:33] leitzler opened #3103 "Contributing.md file is stale"
I was about to create a PR when I read the CONTRIBUTING document. It says that PRs should target `master` when in preview, and `dev` after release. How am I supposed to know if this repo is in preview?

Even better, the github pull request template asks me to check that I’m targeting `latest`..

All three exists. And I’d be glad to submit a PR to fix this confusion, if I only knew where to target

[2018-10-22 22:11] #2902 closed

[2018-10-22 22:18] vladbarosan commented on #3103
Hi @leitzler , thanks for opening the issue. We will update the Contributing document. If you intend to make a PR please make it against the `latest` branch.  Please note, don't target the auto generated code since that will be overwritten.

[2018-10-23 03:47] tombuildsstuff commented on #3080
@vladbarosan given that Resource ID's _shouldn't_ be case-sensitive (but are in a bunch of places) - I feel like it'd be more helpful to expose a function which parses and returns the items needed for the Get call as a struct - rather than just accepting an ID (which, could fail given the casing is incorrect)? FWIW we have support for this within Terraform as [the `parseAzureResourceID` function](

[2018-10-23 17:58] flyinprogrammer opened #3111 "breaking api changes post-release"
### Bug Report
https://github.com/Azure/azure-sdk-for-go/commit/b253a0ed38da9645a818bbb6e491c1f7ec1f0bd7

Is a breaking change for our 2018-06-01 API release.

So are these dates completely meaningless? And should we only rely on the package version `v21.3.0` ?

In which case, why even bother with dating these packages since their model contracts can change at any time.

[2018-10-23 21:07] lagalbra opened #3114 "Resource Group creation/update does not support Unicode names"
### Bug Report

- import path of package in question: `.../services/resources/mgmt/2018-05-01/resources`
- SDK version: `master` (commit ID 100a309838ef6b0878b014e5ae541c83a7cbdfaa as of this post)
- output of `go version`: n/a

- What happened?
    - Creating a Resource Group with `CreateOrUpdate` fails when the resource group name contains Unicode characters (such as Chinese characters)
- What d

[2018-10-24 03:33] michael1011101 opened #3117 "How to get the NewVirtualMachinesClient?"
Hi,
I want to create a NewVirtualMachinesClient to list all of the virtual machines in my resource group.
Is there any useful samples for this problem?

And I have tried to write the code, and set the environment, AZURE_SUBSCRIPTION_ID, AZURE_TENANT_ID, AZURE_CLIENT_ID, AZURE_CLIENT_SECRET.
Code
`
        vm := compute.NewVirtualMachinesClient(subscriptionID)
        authorizer, err := auth.NewAut

[2018-10-24 05:39] katbyte commented on #2824
@marstr, any updates on this one?

[2018-10-24 14:36] flyinprogrammer commented on #3111
is simply not true:
https://cl.ly/657ceac352f6

`VirtualMachineSizeTypes` was added as a prefix to all the constants virtual machine size type constants, and the old names were removed.

i.e.

[code]

now becomes:

[code]

Which broke my build - which validates that `you should rely on a specific API version` is just untrue with our current code generators, PR process, and lack of testing.

[2018-10-24 14:38] flyinprogrammer commented on #3111
this isn't the first time either that these generators have completely broken things, and our lack of testing has caused breaking releases: https://github.com/Azure/azure-sdk-for-go/issues/2556

[2018-10-24 15:32] jhendrixMSFT commented on #3114
I believe our codegen should emit this regex as `^[-\p{L}\._\(\)]+$`.  Will investigate.

[2018-10-24 15:56] vladbarosan commented on #3111
@flyinprogrammer please read my reply fully. What you linked is from the profile which,  like I mentioned, is expected to change  [as the readme specifies](https://github.com/Azure/azure-sdk-for-go#profiles).

Also as mentioned there:

Also please read my previous reply about how to go about the SDK versions and the Service API versions to avoid breaking changes.

If here is anything unclear left

[2018-10-24 15:56] #3111 closed

[2018-10-24 16:16] flyinprogrammer commented on #3111
[code]

So this import is not considered to be versioned under a `Service API version` of `2018-06-01` ?

[2018-10-24 16:22] flyinprogrammer commented on #3111
https://github.com/Azure/azure-sdk-for-go/releases/tag/v20.0.0

you guys noted it as a breaking change in the change log, my apologies. i'll work on a kind PR to the readme.

[2018-10-24 16:24] vladbarosan commented on #3111
@flyinprogrammer Indeed that version is considered a stable **API version**. Ideally those should not have breaking changes but it does happen that either the service specs were incorrect or the service makes changes to an API version although its stable. There is a big effort for that to stop but as of now that is the situation.

So like I mentioned, to avoid breaking changes, lock into a stable

[2018-10-24 16:30] flyinprogrammer commented on #3111
This makes sense, again my sincerest apologies.

[2018-10-24 16:33] vladbarosan commented on #3111
No worries, glad we could help!

[2018-10-24 21:39] marstr commented on #2824
I have a thread going internally. I'm still being routed to the correct owner, so no update yet.

[2018-10-25 18:00] joshgav commented on #3117
@michael1011101 you'll need to assign one of the Virtual Machine roles to the service principal. Here's a way to do that with az CLI, the second command is what you must run or automate:

[code]

[2018-10-25 20:08] tombuildsstuff commented on #1065
@joshgav are there any updated plans here? As it stands we're blocked from implementing https://github.com/terraform-providers/terraform-provider-azurerm/issues/1104

[2018-10-25 21:08] nclandrei commented on #2798
Hi @marstr! Can I take this one on? 🙂

[2018-10-26 19:18] jhendrixMSFT commented on #2920
This support was added in `v21.2.0` of the SDK, see https://github.com/Azure/azure-sdk-for-go/blob/v21.2.0/services/preview/monitor/mgmt/2018-03-01/insights/models.go#L3292 for reference.

[2018-10-26 19:18] #2920 closed

[2018-10-26 20:25] joshgav opened #3148 "support authn/z via AADv2 & OpenIDConnect; support MS Graph API authorization"
### Feature Request

* Port Microsoft Authentication Library package from [C#](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet) for use with Go.
* Support OpenIDConnect flows.
    * Provide the ID token or a `user` struct when the OIDC flow completes.
* Support [AADv2](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-overview) flows.
    * But continue to supp

[2018-10-26 22:17] scschneider opened #3151 "Getting 0.00000000 values when trying to query metrics against my Event Hub"
### Bug Report

Imported Package:
"github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights"

Azure SDK for Go Master branch

go version go1.11.1 darwin/amd64

I am trying to use "https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/master/insights/insights.go" to pull IncomingMessages from my Event Hub, but end up getting 0.00000000 results for each time serie

[2018-10-27 19:37] tombuildsstuff commented on #2993
@joshgav sorry for the delayed reply here - is the intention/thought here that we'd be able to have SemVer within a version of an RP within the services folder, or to split these packages out altogether?

[2018-10-27 22:06] jhendrixMSFT commented on #2993
@tombuildsstuff Each API version within an RP will be its own module since they independently rev.

[2018-10-28 01:18] katbyte opened #3155 "[Scheduler] Entire API has been deprecated in favour of an entirely different service"
Hello,

It appears that between v21.1 and v21.3 of the SDK the scheduler api has been deprecated in favour of the Logic Apps service. I am wondering if this is a mistake as the service doesn't appear to have been [discontinued](https://azure.microsoft.com/en-us/services/scheduler/)

I also feel like this is not an appropriate use of the deprecation keyword as the API still functions and logic apps

[2018-10-29 10:41] tombuildsstuff commented on #3155
Checking [the PR which deprecated this SDK](https://github.com/Azure/azure-sdk-for-go/pull/2888) I also don't see any information about the deprecation plan - @jhendrixMSFT would it be possible to give some more context here?

Thanks!

[2018-10-29 13:36] leitzler opened #3158 "Migrate from satori/go.uuid to gofrs/uuid"
### Bug Report
The version azure-sdk-for-go currently use do have a critical flaw when creating UUID:s. This package doesn't create UUID:s, but since it is a flawed version that is brought in, there is a risk of future bugs or bugs in projects that use azure-sdk-for-go.

Gofrs is a community-driven effort to provide maintainers for valuable projects. They forked satori/go.uuid after it appeared to

[2018-10-29 15:04] jhendrixMSFT commented on #3155
You're right we didn't do a good job documenting this.  I've found the following resources that hopefully provide more context.
https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-overview
https://docs.microsoft.com/en-us/azure/scheduler/migrate-from-scheduler-to-logic-apps
Looks like the scheduler APIs will be available until September 2019.
CC @joshgav

[2018-10-29 18:41] kmachspeed opened #3164 "Setter functions for Azure SDK Go? | Used for unit testing"
### General Question

Hi, few questions:

Looking to mock some functions for unit testing but could not find an interface for the functions in `services/network/mgmt/2018-08-01/network` (i.e. ListComplete). If it isn't in there somewhere, are there plans to add one?

It also seems like the return values which are structs have unexported fields, which makes it difficult to mock the response of the

[2018-10-29 18:42] parikhamol opened #3165 "Deletion of user assigned identities not supported"
__import path__ :`github.com/Azure/azure-sdk-for-go/services/msi/mgmt/2015-08-31-preview/msi/userassignedidentities.go`

__SDK version__ : master

 `commit id: 100a309838ef6b0878b014e5ae541c83a7cbdfaa`

__Go version__: `1.10.1 darwin/amd64`

On calling the delete api for user assigned identities i get the following error message :

`Error deleting MSI. Error: msi.UserAssignedIdentitiesClient#Delet

[2018-10-29 23:19] jhendrixMSFT commented on #3151
@scschneider What's the PS command you're using to retrieve the data?

[2018-10-30 14:02] sylr opened #3171 "Azure can return Int instead string"
### Bug Report

[code]

I've been getting this error since yesterday using [`PoolClient.ListByBatchAccount(...)`](https://github.com/sylr/prometheus-azure-exporter/blob/master/pkg/azure/batch.go#L76)

```Original Error: Error occurred unmarshalling JSON - Error = 'json: cannot unmarshal number into Go struct field ResizeOperationStatus.nodeDeallocationOption of type batch.ComputeNodeDeallocationOp

[2018-10-30 16:19] jhendrixMSFT commented on #3171
Thanks for reporting this, it's a problem with the swagger definition.  I've ported this issue to the specs repo, https://github.com/Azure/azure-rest-api-specs/issues/4356.

[2018-10-30 16:19] #3171 closed

[2018-10-30 17:13] scschneider commented on #3151
After creating the header as `$authHeader`, I run this command:
[code]

Then I can display the data with `$result.value.timeseries.data`

[2018-10-30 22:38] marstr commented on #2798
Sounds great to me! Sorry for the delayed response.

[2018-10-30 22:38] marstr commented on #2798
@jhendrixMSFT, @vladbarosan for visibility

[2018-10-31 05:09] apratina commented on #3164
@jhendrixMSFT : Any suggestion on this one? Is there a setter function available for setting the un-exported fields in the struct?

[2018-10-31 06:00] vladbarosan commented on #3103
Will be fixed in v22

[2018-10-31 06:00] #3103 closed

[2018-10-31 16:02] bostrowski13 commented on #2322
from a consumer of both azure and terraform (via the sdk for go), whats being done to move this forward?

[2018-10-31 17:29] shelleybess commented on #3151
I am also getting occasional zero/nil values. It is not consistent. One request will succeed and the follow a minute later will return only some values.

One request the following fail:

ServerErrors
UserErrors
OutgoingBytes
ConnectionsClosed
IncomingMessages

After a few successful requests the following fail:

SuccessfulRequests
QuotaExceededErrors
ThrottledRequests
IncomingRequests
IncomingMess

[2018-10-31 21:40] shelleybess opened #3192 "Event Hub Namespace Metrics occasionally return nil values"
### Bug Report

- Package and other info:

github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights
PROJECT: github.com/Azure/azure-sdk-for-go
VERSION: v19.1.0
REVISION: 4e8cbbf
Go Version: 1.10.2 darwin/amd64

- What happened?

Using the SDK to get metrics results in intermittent nil values. The metrics with no value are not consistent. For example, one pull results in

[2018-11-01 13:50] polarking opened #3200 "Feature Request: Support setting shared access policies in IoT Hub"
### Feature Request

Hi!

It would be great to support setting up Shared access policies for IoT Hub through the SDK.
Initially it would be great to use as part of terraform, and is initially why I'm requesting this feature: https://github.com/terraform-providers/terraform-provider-azurerm/issues/2201

Thanks!

[2018-11-01 17:09] jhendrixMSFT commented on #3114
This has been fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v22.0.0

[2018-11-01 17:09] #3114 closed

[2018-11-01 18:18] jhendrixMSFT commented on #3165
Can you please provide the request headers and body for the API call that's failing?  Easiest way to do that is to enable built-in logging through environment variables, see the instructions [here](https://github.com/azure/azure-sdk-for-go#built-in-basic-requestresponse-logging).  Once we have the request payload I can forward it on to the service team so they can investigate.

[2018-11-02 17:27] jomeier opened #3214 "Resource group names can't contain numbers anymore since v22.0.0"
Hi,

with Version v22.0.0 resource group names can't contain numbers anymore. Escpecially if I create a deployment with

https://github.com/Azure/azure-sdk-for-go/blob/v22.0.0/services/resources/mgmt/2018-02-01/resources/deployments.go

CreateOrUpdate(...)

the validation of my resource group name fails because it contains letters and numbers.

Versions below v22 work as expected.

The problem see

[2018-11-02 17:51] tombuildsstuff commented on #2864
@marstr 👋 did you hear back from the Service Team on this issue?

[2018-11-02 18:36] jhendrixMSFT commented on #3114
Please us https://github.com/Azure/azure-sdk-for-go/releases/tag/v22.1.0 instead as v22.0.0 introduced a regression in the regex.

[2018-11-02 18:40] jhendrixMSFT commented on #3214
Just posted a fix in https://github.com/Azure/azure-sdk-for-go/releases/tag/v22.1.0, terribly sorry about that!

[2018-11-02 18:40] #3214 closed

[2018-11-02 20:01] jhendrixMSFT opened #3220 "Update swagger->sdk PRs with installation instructions"
The swagger->sdk auto-PRs should include instructions for installing the build along with a link to the archive containing the changes.
See https://github.com/Azure/azure-sdk-for-python/pull/2293 for an example of what it looks like for Python.

[2018-11-05 15:16] fantyz opened #3231 "Convenience layer for uploading file to ADLS"
Hi,

We're having issues uploading files to ADLS using the SDK.

We're using:
- `github.com/Azure/azure-sdk-for-go/services/datalake/store/2016-11-01/filesystem` (v21.1.0, `6d20bdbae88c06c36d72eb512295417693bfdf4e`)
- `github.com/Azure/go-autorest` (v10.15.5, `9bc4033dd347c7f416fca46b2f42a043dc1fbdf6`)

When doing `client.Create` we get the following error consistently:
[code]

It only happens wit

[2018-11-05 15:18] fantyz commented on #3231
A quick test of only creating an empty file with `Create` and write the data with `Append` resulted in the same error:
[code]

[2018-11-05 22:14] jhendrixMSFT commented on #3231
I don't think this is specific to the Go SDK as I can repro this same behavior using powershell.  @joshgav can you please loop in somebody from the data lake store team to help?

[2018-11-05 23:31] jhendrixMSFT commented on #2608
This looks to be a codegen bug, working on a fix.

[2018-11-06 18:15] jhendrixMSFT commented on #3164
Regarding interfaces, this has come up before: https://github.com/Azure/azure-sdk-for-go/issues/409.  One issue that became apparent is that some of the interfaces could be quite large making them tedious to mock (I don't think splitting into multiple smaller interfaces is a feasible solution).  Happy to hear any feedback/suggestions.
Regarding pageable types unfortunately I don't have a good answ

[2018-11-06 20:20] jhendrixMSFT commented on #2608
This has been fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v22.1.1.

[2018-11-06 20:20] #2608 closed

[2018-11-06 20:57] jhendrixMSFT commented on #3151
For event hubs the metrics don't report a min/max value which is why they're always zero.  Instead they report a total for that interval.  Here's an example of the raw response.
[code]
The sample is very basic and doesn't take this into account.

[2018-11-06 21:19] jhendrixMSFT commented on #3151
Digging into this a bit more, if you run the `ListMetricDefinitions()` you'll find the following for `IncomingMessages`.
[code]
The default aggregation type is `Total` which is why min/max are omitted in the response.  If I specify `"Minimum,Maximum"` for the aggregation parameter I see the following in the response.
[code]
I'll update the sample to specify this aggregation.

[2018-11-06 21:34] jhendrixMSFT commented on #3151
Sample has been updated.  Thanks for reporting this.

[2018-11-06 21:34] #3151 closed

[2018-11-06 22:11] jhendrixMSFT commented on #2199
This will be tracked in https://github.com/Azure/azure-rest-api-specs/issues/4409.

[2018-11-06 22:11] #2199 closed

[2018-11-07 21:38] jhendrixMSFT commented on #3200
Hello!  Looking at the [REST API docs]https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-security) I believe you can do this through the [IotHubResourceClient.CreateOrUpdate method](https://github.com/Azure/azure-sdk-for-go/blob/master/services/iothub/mgmt/2018-04-01/devices/iothubresource.go#L217), specifically by setting the [AuthorizationPolicies](https://github.com/Azure/azure-sdk

[2018-11-08 11:54] fantyz commented on #3231
It would be great if someone could take a look at this?
We have a release blocked by this issue making it somewhat urgent for us.

[2018-11-08 16:11] tombuildsstuff commented on #1065
@joshgav unfortunately [I've just discovered another requirement for Kudu support](https://github.com/terraform-providers/terraform-provider-azurerm/issues/2254) - are there any updated plans here, or should we look to write a Kudu client? :)

Thanks!

[2018-11-08 17:18] jhendrixMSFT commented on #3231
@fantyz I'm trying to find somebody from the service team to take a look.

[2018-11-09 16:03] joshgav commented on #1065
Checking into this again @tombuildsstuff, sorry for the frustration.

cc @stefsch

Related: https://github.com/Azure/azure-sdk-for-go/issues/2397

[2018-11-09 16:38] tombuildsstuff commented on #1065
no worries - thanks @joshgav :)

[2018-11-12 18:43] marstr commented on #1066
Putting this back in the triage bucket

[2018-11-12 22:13] jhendrixMSFT commented on #409
@kargakis this was added to the code generator today and will ship in the next major version of the SDK.

[2018-11-13 10:30] kargakis commented on #409
@jhendrixMSFT great news! Can you please let me know the exact version this change will be part of?

[2018-11-13 18:53] parikhamol commented on #3165
https://github.com/Azure/azure-sdk-for-go/blob/ca4654c50e30248fa542c1f0dd07fbde21d9b9a2/services/preview/msi/mgmt/2015-08-31-preview/msi/userassignedidentities.go#L167

If you look at this line, the API version is hardcoded. Since this API version isn't part of the supported version i don't see how this API call will work.

[2018-11-13 22:21] tiwood opened #3285 "AAD Domain Service creation fails with 400/InvalidRequestContent"
### Bug Report

- github.com/Azure/azure-sdk-for-go/services/domainservices/mgmt/2017-01-01/aad
- SDK version v21.3.0
- go version go1.11.2 darwin/amd64

I'm trying to create Azure AD Domain Services with the SDK.

I'm doing the following:

[code]

The following error is returned:

aad.DomainServicesClient#CreateOrUpdate: Failure sending request: StatusCode=0 -- Original Error: autorest/azure: Ser

[2018-11-13 22:56] jhendrixMSFT commented on #3165
The packages in the Go SDK are generated from OpenAPI specs.  For this API, defined [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/msi/resource-manager/Microsoft.ManagedIdentity/preview/2015-08-31-preview/ManagedIdentity.json#L282), it explicitly states API version `2015-08-31-preview` [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/ms

[2018-11-13 23:55] jhendrixMSFT commented on #409
@kargakis It will ship in v23 of the SDK at the end of this month.  Take a look at https://github.com/Azure/azure-sdk-for-go/pull/3282 to see the changes, should merge into `latest` later today.

[2018-11-14 05:29] svaroop opened #3294 "Unable to get response Via Proxy server"
Client : resources.GroupsClient
package : /azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources
Sdk version : v15.1.1
Not getting data via proxy.

We are trying to get resource group information which is not working via proxy. is there a specific configuration to make it work via proxy ?

pseudo code

token, _ := azauth.GetResourceManagementToken(subscription)
groupsClient := resources.Ne

[2018-11-14 16:30] jhendrixMSFT commented on #3231
OK, the issue here is that the service only supports uploads in 4MB chunks.  This is documented [here](https://docs.microsoft.com/en-us/rest/api/datalakestore/webhdfs-filesystem-apis) however is easy to overlook; see the `buffersize` parameter.  I have asked the service team to update the service to return a meaningful error message.
As for code changes to make it work, I will investigate now that

[2018-11-14 17:56] jhendrixMSFT commented on #3231
Here's a working example.
[code]

[2018-11-14 18:09] vladbarosan commented on #3285
@tiwood it seems there was an issue with the service specs. this has been fixed here https://github.com/Azure/azure-rest-api-specs/pull/4353

Since its a breaking change for the sdk its going to make its way in the next major bump of the sdk at the end of the month,.

[2018-11-14 18:49] jhendrixMSFT commented on #3231
Opened https://github.com/Azure/azure-rest-api-specs/pull/4464 to update the SDK docs.

[2018-11-14 18:50] jhendrixMSFT commented on #3117
@michael1011101 were you able to get this working?

[2018-11-14 18:52] jhendrixMSFT commented on #3164
This is scheduled to ship in v23 of the SDK later this month.

[2018-11-14 23:09] tiwood commented on #3285
@vladbarosan thank you for the heads up.

[2018-11-14 23:09] #3285 closed

[2018-11-15 00:49] vladbarosan commented on #3294
@svaroop  not sure what is the question here, can you please give some details. This is probably has to do with how your proxy is configured, not with the sdk.

[2018-11-15 11:08] fantyz commented on #3231
Thanks - we'll do the work-around.

I would avoid doing the `flag = filesystem.CLOSE` as port of the loop though and handle it afterwards (or in the `io.EOF` case). `Read` does not provide any guarantee that `n == len(buffer)` (in fact quite the opposite) and in the case where the last call to `Read` before `io.EOF` returns a full buffer.

I was kinda hoping for such low level code as calls to `Re

[2018-11-15 16:52] vladbarosan commented on #3294
@tombuildsstuff as of the latest go-autorest version we are using this the `tracing.Transport` which is the `ochttp.Transport` which by default has a base in `http.DefaultTransport` which if I am not mistaken has by default the `Proxy` field set to `ProxyFromEnvironment`.

[2018-11-15 17:12] jhendrixMSFT commented on #3231
Sorry I should have prefaced my sample as non-production code.
Agreed that this functionality belongs in the SDK.  For some context, the packages we have are generated from our [OpenAPI specs](https://github.com/azure/azure-rest-api-specs) which is what we refer to as the "protocol layer".  Functionality like this would go into a hand-written "convenience layer" built on top of the protocol layer

[2018-11-16 04:57] svaroop commented on #3294
solved the issue by setting environment variables,

[2018-11-17 09:51] tariq1890 commented on #2838
I'd like this as well. Please let it not be added to the list of issues that will be ignored.

[2018-11-19 19:06] hyonholee commented on #2838
Statuses[1].DisplayStatus of InstanceViewStatus will show power state.

[2018-11-19 19:08] tariq1890 commented on #2838
Are there links to documentation which will display all the valid values of InstanceViewStatus/DisplayStatus?

[2018-11-21 21:25] katbyte opened #3373 "Virtual Machine Managed Disks Azure Stack"
### Service Package Request

Hi, We are looking to implement managed disk support in the Azure Stack provider for terraform as it was added in the 2018-08 Stack API update. However it appears that in the latest versioned profile (2017-03-09) support isn't there and the 2018 profiles haven't been added yet.

[2018-11-25 01:31] jbw976 commented on #596
Just a note for future users, the second link from the [previous comment](https://github.com/Azure/azure-sdk-for-go/issues/596#issuecomment-392813961) from @joshgav looks to have been moved to https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/master/authorization/authorization.go.

[2018-11-26 08:16] HasnainRaza14 opened #3395 "Loadbalancer, backend pool allocation through sdk failure"
I am trying to create a loadbalancer using this code:

https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/master/network/loadbalancer.go

The loadbalancer gets created but, I do not see any support available for backend pools for the loadbalancer in sdk, like how to configure backend pool IP's where the load balancer will be sending requests.

I need to create a new backend pool for my

[2018-11-26 17:56] jhendrixMSFT commented on #3373
Related to https://github.com/Azure/azure-sdk-for-go/issues/2027.

[2018-11-26 20:47] jhendrixMSFT commented on #3395
Looking at [LoadBalancersClient.CreateOrUpdate](https://github.com/Azure/azure-sdk-for-go/blob/master/services/network/mgmt/2017-09-01/network/loadbalancers.go#L48) it looks to me that you specify it in the `LoadBalancer` parameter, specifically in the `LoadBalancerPropertiesFormat.BackendAddressPools` slice.  Can you try it?

[2018-11-28 17:17] jhendrixMSFT commented on #3164
Fix is available in https://github.com/Azure/azure-sdk-for-go/releases/tag/v23.0.0

[2018-11-28 17:17] #3164 closed

[2018-12-02 11:08] philippgille opened #3502 "Using Cosmos DB with Table Storage API"
### Bug Report

I would like to use Cosmos DB as key-value store, and therefore I chose to use the Table Storage API, because according to the documentation of the "multi-model" capabilities the Table Storage API is the key-value store model.

But:

1. The documentation regarding the use of Table Storage with this Go SDK is not very extensive. For example:
    - I couldn't find any examples of how

[2018-12-03 23:50] d-fault opened #3558 "ApproxMessageCount in package storage shows zero value"
Hello,
- package storage ("github.com/Azure/azure-sdk-for-go/storage")
- SDK latest `24.0.0`
[code]
- go version: `go1.10.4 linux/amd64`

I'm using SAS for connecting to queue storage, Connection is ok, i can get 32 messages from queue, but everytime i get zero value in ApproxMessageCount in Queue type
[code]

[2018-12-04 18:01] jhendrixMSFT commented on #2027
Fixed in the `latest` branch and will be included in the December release.

[2018-12-04 18:01] #2027 closed

[2018-12-04 18:50] jhendrixMSFT commented on #3558
Hello!  I can't repro this, do you have a repro you can share?

[2018-12-04 20:21] jhendrixMSFT commented on #3373
The 2018 profile is in the `latest` branch and will be included with v24 of the SDK later this month.

[2018-12-04 21:37] d-fault commented on #3558
@jhendrixMSFT Hello, yes, simple example:
[code]
It's just for looking ApproxMessageCount. We can update main func with some code to see messages in the queue (for now just hardcoded some vars)
[code]

[2018-12-04 23:04] jhendrixMSFT commented on #3558
Thanks!  You need to call `queue.GetMetadata(nil)` to populate the value of `AproxMessageCount` (not very intuitive).
Also I would like to point out that the queues functionality in the `storage` package will be superseded by the `azqueue` package which can be found [here](https://github.com/azure/azure-storage-queue-go).  We won't be removing this existing functionality but it's basically in main

[2018-12-05 02:12] d-fault commented on #3558
Thanks @jhendrixMSFT, it works! I'm just here after guys suggestion in slack channel, and they recommend me use the old one package.
Nevertheless, assume need update doc with that

[2018-12-05 16:12] jhendrixMSFT commented on #3558
We have this doc'ed [here](https://github.com/azure/azure-sdk-for-go#other-azure-go-packages).  Once `azqueue` goes GA we will mark the content in the `storage` package as deprecated with a link to the new package.

[2018-12-05 23:49] jhendrixMSFT commented on #3502
Hello!  Unfortunately our support for connection strings isn't very good.  What steps in the portal did you take to get such a connection string?  If I click on my Cosmos DB account in a resource group then click Keys I see a slightly different connection string.
That said I don't believe that the tables functionality in this package is going to work with Cosmos DB; it was designed to be used with

[2018-12-05 23:51] jhendrixMSFT commented on #3502
CC @joshgav

[2018-12-06 21:04] philippgille commented on #3502
Dashboard -> Azure Cosmos DB -> <MyDbName> -> Connection String (under *Settings*) -> PRIMARY CONNECTION STRING

It's the same that's shown under Dashboard -> Azure Cosmos DB -> <MyDbName> -> Quickstart -> CONNECTION STRING

Are there any internal performance benchmarks for simple use-cases for the different Cosmos DB models (key-value, document, graph, SQL) for the other SDKs that have better sup

[2018-12-11 05:51] tariq1890 opened #3682 "Requesting metrics insights API version 2018-01-01"
The azure management endpoint of metrics insights is available for use with API version 2018-01-01.

This should be made available in azure-go-sdk as well.

[2018-12-11 18:04] jhendrixMSFT commented on #3682
We have `2018-09-01` here:
`
github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-09-01/insights
`
It's incorrectly classified as `preview` which I'll get fixed.  Can you use this API version or do you need `2018-01-01`?

[2018-12-11 18:45] tariq1890 commented on #3682
Any new version that is in a `not preview` stage would be fine I guess :)

[2018-12-11 18:46] tariq1890 commented on #3682
Looking forward to the moving of the 2018-09-01 version

[2018-12-11 20:46] jhendrixMSFT commented on #3682
Unfortunately this isn't as clear-cut as I thought.  The `2018-09` package is marked as `preview` because a subset of it contains preview content, see the authoring [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/readme.md#tag-package-2018-09).

[2018-12-13 11:20] marioanton commented on #2322
This would be of really interest of all of us i think.

[2018-12-13 23:19] vladbarosan commented on #2322
hey guys, this thread had diverged in a couple directions, can you let us know of a specific ask here please?

There is a [sample for linux here](https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/master/compute/vm_test.go#L191).

Is that what you are looking for ? or is there any specific API call that is failing ?

[2018-12-17 18:40] jhendrixMSFT commented on #1066
Fixed in `latest`, will ship in v24.

[2018-12-17 18:40] #1066 closed

[2018-12-19 18:12] jhendrixMSFT commented on #3373
The 2018-03-01 stack profile is now available in v24 of the SDK.

[2018-12-19 18:12] #3373 closed

[2018-12-19 18:14] jhendrixMSFT commented on #3165
Note that there's a new, stable, API version for identity management.  Can you take a look and see if it resolves your issue?
github.com/Azure/azure-sdk-for-go/services/msi/mgmt/2018-11-30/msi

[2018-12-19 19:58] tqtruong95 opened #3765 "CostManagement API: Function QueryResourceGroup returns nil"
Hello,

I am using `github.com/Azure/azure-sdk-for-go/services/preview/costmanagement/mgmt/2018-08-01-preview/costmanagement` and wanted to get cost based on resource group. I’ve encountered an issue where I’m unable to get the list of `QueryResult`, instead it returns `nil`.

Currently using:
Azure SDK Golang Version:`23.2.0`
Go Version: `go1.11.3 darwin/amd64`

### Here is my code:
[code]

Howev

[2018-12-19 22:41] jhendrixMSFT commented on #3765
Hello @tqtruong95, could you please provide a sample response body?  I suspect there's a mismatch between what's modeled in the code and what's retrieved on the wire.

[2018-12-20 00:45] tqtruong95 commented on #3765
@jhendrixMSFT

Sure, here are the details

### POST Request URL
https://management.azure.com/subscriptions/{{subscriptionID}}/resourcegroups/{{resourceGroupName}}/providers/Microsoft.CostManagement/Query?api-version=2018-08-01-preview

### Request Body
[code]
### Response
[code]

[2018-12-20 15:46] sylr opened #3772 "Support Go modules"
### Feature Request

Equivalent of  https://github.com/Azure/go-autorest/issues/353

[2018-12-20 17:33] jhendrixMSFT commented on #3765
Thanks.  Looks like the service and the swagger don't agree on the response payload format as the swagger states it should be an array (see [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-08-01-preview/costmanagement.json#L3381)).
@yaborens can you please take a look?

[2018-12-23 11:41] yaborens commented on #3765
The issue is not under my domain, I forwarded it to the right person

[2018-12-27 10:41] alonrolnik opened #3780 "Download function content"
### Service Package Request

Hi,
I'm trying to find out how to download through the SDK a function content similar to what in the UI
![image](https://user-images.githubusercontent.com/2459199/50477282-6264ca00-09d4-11e9-9519-d262eb493a3b.png)
Any help will be appreciated

I tried already what described in [here](https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zip-push#download-yo

[2018-12-28 23:12] katbyte commented on #2239
Hi @fbilo,

Just wondering if there has been any progress on this?

Thanks!

[2018-12-28 23:42] katbyte commented on #2239
It appears this may have been fixed, i can successfully add tags to a namespace now.

[2018-12-29 01:04] katbyte opened #3782 "in v24 SDK actiongroups 2018-03-01 API is incorrectly using unsupported 2018-09-01 API"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights`

- SDK version e.g. `master`, `latest`, `18.1.0`
`v24.0.0`

- output of `go version`
`go version go1.11.2 darwin/amd64`

- What happened?
After upgrading from `v21` of the SDK to `v24` calls to the `actiongro

[2018-12-29 20:42] katbyte commented on #2239
I can confirm that this bug still exists.

[2019-01-03 17:46] vladbarosan commented on #3782
Hi @katbyte it seems that the service owner [updated the sdk packages to refer the new API version](https://github.com/Azure/azure-rest-api-specs/pull/4268/files#diff-2b00729832aaa281f27464f7f1b17d9cL127) for that specific package.

[2019-01-04 16:33] tombuildsstuff commented on #3782
@vladbarosan FYI [I've opened a meta issue on the Swagger repo](https://github.com/Azure/azure-rest-api-specs/issues/4977) since this feels like API definitions should only call API versions <= their publish date?

[2019-01-04 21:06] vladbarosan commented on #3782
@tombuildsstuff AFAIK there is no hard rule for that. I checked the ARM resource registrations and the main issue seems to be that the `ActionGroup` resource has not been enabled for the 2018-09-01 api version. Will update when this is resolved

[2019-01-05 16:46] KarlGW opened #3804 "Get authentication details when using SDK"
### Feature Request

This might already be implemented, but I have read the docs and cannot seem to find anything about it.

When using:

[code]

Is there some way to get the access & refresh token when using these (For usage with my own custom REST calls)? All examples are quite sparse, and I cannot find any further examples on how to use the authentication after I have authenticated.

[2019-01-05 22:12] katbyte opened #3805 "operationalinsights API returning all linked workspace service properties as lowercase"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
  ```github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2015-11-01-preview/operationalinsights```

- SDK version e.g. `master`, `latest`, `18.1.0`
  ```v21.3.0```
- output of `go version`
  ```go version go1.11.2 darwin/amd64```

- What happened?
It seems this API is r

[2019-01-07 01:35] fbilo commented on #2239
Sorry for later reply. The bug's situation is a little complex, so i need to confirm it with other ones.

The final status shows it will be fix in NH v2 as fixing this bug in current version is a potential breaking change -- think of some other customers maybe have their code rely on it-- and also the fix will need Service Bus team to increase their API version first.

[2019-01-07 17:25] vladbarosan commented on #3780
Hi @alonrolnik, those actions refer to the Kudu Deployment API which is not exposed currently in this SDK.
There is an issue tracking this #1065.

Meanwhile I would suggest taking a look at the [Kudu API](https://github.com/projectkudu/kudu/wiki/REST-API#zip) and in case of any problem opening an issue in the Kudu repo.

[2019-01-07 17:25] #3780 closed

[2019-01-07 18:03] jhendrixMSFT commented on #3804
Unfortunately there isn't right now, you'd basically have to copy most of the implementation for `DeviceFlowConfig.Authorizer()`, omitting the last part acquiring a bearer authorizer.  I will add this functionality to `DeviceFlowConfig` to avoid having to copy the code.

[2019-01-07 19:14] KarlGW commented on #3804
@jhendrixMSFT a that sounds great! I was afraid I had missed something basic and was making a fool out of myself. Thank you for looking into it!

[2019-01-07 23:22] jhendrixMSFT commented on #3804
This has been added in https://github.com/Azure/go-autorest/releases/tag/v11.3.0 of go-autorest.  Sample code is as follows (error checking omitted for brevity).
[code]
The call to `EnsureFresh()` will only hit the network on the initial call and when the token is about to expire.

[2019-01-07 23:22] #3804 closed

[2019-01-08 17:41] jhendrixMSFT commented on #3558
Closing as I believe this has been resolved.  Please re-open if I'm mistaken.

[2019-01-08 17:41] #3558 closed

[2019-01-08 17:42] jhendrixMSFT commented on #3165
@parikhamol wondering if this is still a problem for you and/or the new API version resolved it for you?

[2019-01-08 17:43] jhendrixMSFT commented on #3117
Closing as stale.  Please re-open if you need further assistance.

[2019-01-08 17:43] #3117 closed

[2019-01-08 18:15] jhendrixMSFT commented on #2254
@matt-gibbs any update?

[2019-01-08 18:18] jhendrixMSFT commented on #3805
@katbyte does this repro with the stable 2015-03-20 API version?

[2019-01-08 18:21] jhendrixMSFT commented on #3782
@katbyte @tombuildsstuff according to the service provider this should now be fixed.  Can either of you verify it's working?

[2019-01-08 21:09] jhendrixMSFT commented on #3765
@yaborens I've ported the issue to the specs repo, see https://github.com/Azure/azure-rest-api-specs/issues/5005.  Can you please let me know the correct person I should assign this to?

[2019-01-08 21:21] jhendrixMSFT commented on #3765
Closing in favor of https://github.com/Azure/azure-rest-api-specs/issues/5005

[2019-01-08 21:21] #3765 closed

[2019-01-11 19:07] tomasaschan commented on #1065
*bump* 😃

I, too, came here from https://github.com/terraform-providers/terraform-provider-azurerm/issues/1104, which I found because Kudu keeps changing the SCM type of my App Service to `VSTSRM`, which is currently not supported by the Terraform provider, so after each deployment of my app, my infrastructure config detects drift...

[2019-01-11 19:19] katbyte commented on #2864
👋 @jhendrixMSFT, any word on this issue?

[2019-01-11 19:20] katbyte commented on #2822
👋 @jhendrixMSFT, any updates on this issue?

[2019-01-13 09:12] kpfaulkner opened #3861 "go get ./... fails"
[code]

[2019-01-14 10:33] tqtruong95 commented on #3861
@kpfaulkner

I fix that error by updating `Gopkg.lock` and `Gopkg.toml` package version specifically for `github.com/golang/protobuf` to the current version (1.2.0) and was able to surpass the error you've encountered.

[2019-01-14 18:02] vladbarosan commented on #3861
@kpfaulkner  you mentioned you are using `go get`. can you try vendoring the sdk using `dep` as mentioned [here](https://github.com/Azure/azure-sdk-for-go#install)

[2019-01-14 18:13] jhendrixMSFT commented on #2822
Sorry for the delay, I can follow up with the service team about this.  Do you have a sample JSON body of the failing request that I can provide to them?

[2019-01-14 18:54] kpfaulkner commented on #3861
@vladbarosan I haven't setup any dep files yet, so couldn't use dep. Once I set that up I'll let you know.

[2019-01-14 18:54] kpfaulkner commented on #3861
@tqtruong95 cheers, worked perfectly!

[2019-01-14 22:49] jhendrixMSFT commented on #2864
I was able to get this working by subsequently calling the `Patch` operation.  Here's sample code.
[code]
I will follow up with the service team about why it doesn't work during creation.  Would you be able to use this workaround in the meantime?

[2019-01-15 12:53] hbuckle opened #3874 "Incorrect/missing property in SwiftVirtualNetwork"
### Bug Report

- import path of package in question - `.../services/web/mgmt/2018-02-01/web`
- SDK version - `master`
- output of `go version` - `go version go1.11.4 windows/amd64`

The `SwiftVirtualNetwork` struct is missing a `Location` property which is expected by the API

[code]

After replacing `Kind` (which doesn't appear to be needed) with `Location` the request succeeds

[code]

[2019-01-15 22:47] metacpp opened #3883 "`LinkedServicesClient` does return `tags` in LinkedService object"
### Bug Report

- import path of package:
`.../services/preview/operationalinsights/mgmt/2015-11-01-preview/operationalinsights`

- SDK version: `24.0.0`
  - REVISION: 1951233eb944a49aa5f7278cba8e3e32a8c958af

- output of `go version`: 1.11.0

- What happened?
Get API does not return tags in `LinkedService` object.

- What did you expect or want to happen?
tags should be contained in `LinkedServic

[2019-01-15 23:09] jhendrixMSFT commented on #3874
Ported to the specs repo https://github.com/Azure/azure-rest-api-specs/issues/5041

[2019-01-15 23:09] #3874 closed

[2019-01-15 23:10] jhendrixMSFT commented on #3883
@metacpp do you see them in the response body?

[2019-01-17 19:05] katbyte commented on #2822
No, but there are some failing tf acc tests that it could be gathered from. Next time i work on that resource I'll try and grab some, but its pretty easy to trigger by changing the retention types.

[2019-01-18 21:51] katbyte commented on #2864
That worked! Thank you very much @jhendrixMSFT

[2019-01-19 18:12] tariq1890 opened #3917 "Need getter method for networkInterface by ID"
I am currently using the apiVersion "2018-10-01". There seems to be no Getter method for NIC's by ID. All I see is a getter method for NIC by name where one would also have to specify a resource group Name.

My use case is the following:

i) List all Virtual Machines.
ii) Iterate through each VM
iii) In every iteration, query the VM's networkProfile and retrieve the NIC ID (this is the only field

[2019-01-21 21:13] #3861 closed

[2019-01-21 21:19] kpfaulkner opened #3921 "Updating SecurityGroup"
Hi

I'm writing up a tool to help update securitygroups (specifically inbound IP whitelists). Given I want to update multiple security groups at once (based on the rule name), I initially had a naive (but working) process of:

1) retrieve all resource groups in subscription
2) get all security groups in each resource group
3) find rules, update where appropriate and call the securitygroup client f

[2019-01-21 21:53] kpfaulkner commented on #3921
I suppose I could extract the RG from the "ID" field returned in the SG. Will attempt that for now, but if anyone has any better approach when using this SDK I'm all ears.

Cheers

Ken

[2019-01-22 10:55] tiwood opened #3924 "AAD Domain Service create/update fails with Request_InvalidDataContractVersion"
### Bug Report

- import path: "github.com/Azure/azure-sdk-for-go/services/domainservices/mgmt/2017-06-01/aad"
- SDK version: v24.1.0
- go version go1.11.4 darwin/amd64

I'm trying to create a Azure AD Domain Service resource, but the API returns Request_InvalidDataContractVersion while using the azure-sdk-for-go@v24.1.0

/subscriptions/{subscriptionid}/resourceGroups/{resourceGroup}/providers/Mic

[2019-01-22 17:35] jhendrixMSFT commented on #3917
@MikhailTryakhov is it possible to retrieve a network interface by ID?

[2019-01-22 17:40] jhendrixMSFT commented on #3924
In what region are you making this API call?

[2019-01-22 18:00] tiwood commented on #3924
West Europe

[2019-01-22 18:24] jhendrixMSFT commented on #3924
@jihochang can you please take a look?

[2019-01-24 03:04] metacpp commented on #3883
@jhendrixMSFT sorry for the late response.

Yes. we're using preview API, but its version is higher than `2015-03-20`. I did a quick experimentation, looks like `2015-03-20` is not supported in `west europe`. Any idea for me to find a supported region of this API?

[2019-01-24 17:09] tariq1890 commented on #2825
Hi @jhendrixMSFT . The person that you tagged Ian is not a member of the AAD/Identity team. Who do we reach out to ?

[2019-01-24 17:23] jhendrixMSFT commented on #2825
@joshgav can you help route this?

[2019-01-24 19:34] joshgav commented on #2825
Role definitions and assignments are actually a feature of Azure Resource Manager (RM) as described [here](https://docs.microsoft.com/en-us/azure/role-based-access-control/overview). While the identities usually come from AAD, authorization via roles is configured within RM.

Per that including @ravbhatnagar from RM - can you add this to the Authorization RP API?

[2019-01-25 22:24] Caiyeon opened #3942 "TLS config"
Hi, is there a way to configure tls settings? Specifically, I would like to enforce TLS1.2 as a minimum, and restrict the list of ciphersuites used in client https calls.

[2019-01-25 22:35] tiwood commented on #3924
Hi @jhendrixMSFT, @jihochang - any updates on the matter? Can I provide more details?

[2019-01-25 23:35] jhendrixMSFT commented on #3924
@tiwood I'm following up with the service team about this.  By change do you have a sample JSON request body?  You can use the built-in logging facility to generate this, see [here](https://github.com/azure/azure-sdk-for-go#built-in-basic-requestresponse-logging) for info on how to do this.

[2019-01-26 00:03] jhendrixMSFT commented on #3942
I'm not an expert in this topic but I believe you'll need to replace the default HTTP client with your own that specifies the TLS version in the transport.  Something like this.
[code]
Looking at `http.DefaultClient` etc you probably need to set more than the fields listed here but this should give you a direction I think.

[2019-01-26 00:10] Caiyeon commented on #3942
Thank you for the timely response and example. So it's completely safe to overwrite the sender with a custom http client?

[2019-01-26 03:52] jhendrixMSFT commented on #3942
As long as the provided type implements the `Sender` interface yes.

[2019-01-26 09:40] Quasilyte opened #3944 "storage: client_test call to regexp.Compile"
https://github.com/Azure/azure-sdk-for-go/blob/392ea0b046cfb0cb05942ea92baf22af9ff7f9df/storage/client_test.go#L262-L265

If const-pattern (from literal string) regexp compilation failed, code should probably panic, since it's programmer error and pattern should be fixed.
Right now it just returns false silently.

I propose using `regexp.Must` there.
This way, code is simpler and more robust at th

[2019-01-28 07:52] invasionofsmallcubes opened #3948 "Having a STREAMID 1 CANCEL when trying to read a file from ADLS"
Hello,

I'm having the following issue: I wrote a go program that is scheduled on k8s to read files from ADLS, one at the time. The file structure follows a typical offset pattern so I just consume them following this offset.

I also can reproduce the problem on my laptop so it's not a k8s issue.

If I run `file -I filename` on these files I get `application/octet-stream; charset=binary`

I'm havi

[2019-01-28 08:08] invasionofsmallcubes commented on #3948
Forgot to add that I'm using
[code]
from
[code]

[2019-01-28 15:50] kylebrandt opened #3949 "Wrong type for Count int CPU Credits Consumed"
Import:

[code]

Querying Count on CPU Credits consumed returns JSON unmarshalling error. Similar to https://github.com/Azure/azure-sdk-for-go/issues/2340

[code]

Count is an int, but the JSON is a float:

```error occurred unmarshalling JSON - Error = 'json: cannot unmarshal number 4.0 into Go struct field MetricValue.count of type int64' ```, json looks like ... `{"timeStamp":"2019-01-27T04:32:

[2019-01-28 21:30] ritazh opened #3956 "Add AddToUserAgent for keyvault client"
### Feature Request

We need to be able to add our own userAgent header to keyvault client to identify callers for telemetry and reporting. Similar to https://github.com/Azure/azure-sdk-for-go/blob/master/storage/client.go#L424 for storage.

cc @jhendrixMSFT @khenidak

[2019-01-28 21:32] jhendrixMSFT commented on #3956
This is a dupe of https://github.com/Azure/go-autorest/issues/360 and was resolved in go-autorest version 11.4.0.

[2019-01-28 21:34] jhendrixMSFT commented on #3956
Ooops my mistake not a dupe of 360 but this should already work?

[2019-01-28 21:35] jhendrixMSFT commented on #3956
@ritazh which keyvault client are you referring to?

[2019-01-28 22:02] ritazh commented on #3956
@jhendrixMSFT This one: https://github.com/Azure/azure-sdk-for-go/blob/master/services/keyvault/2016-10-01/keyvault/client.go

[2019-01-28 22:09] jhendrixMSFT commented on #3956
After you create your client you should be able to call `AddToUserAgent()` to append custom data.  Here's an example.
[code]
Any API calls made via that client will have the "custom user agent stuff" appended to the standard SDK user-agent string.

[2019-01-28 22:14] ritazh commented on #3956
oh oops! I only saw the `AddToUserAgent` from storage client. Thanks for the tip!

[2019-01-28 22:14] #3956 closed

[2019-01-29 11:04] tiwood commented on #3924
Hi @jhendrixMSFT, I've captured the request:

PUT /subscriptions/92807d76-6b48-4482-9e6d-bf034fede571/resourceGroups/adds_test/providers/Microsoft.AAD/domainServices/AlexanderBeissneroutlook.onmicrosoft.com?api-version=2017-06-01 HTTP/1.1

[code]

and this is the response:

[code]

[2019-01-29 17:48] jhendrixMSFT commented on #3924
@tiwood thanks I've passed this on to the service team for investigation.

[2019-01-29 18:04] jihochang commented on #3924
I am not sure why the error is related to api-version. The api-version 2017-06-01 looks correct.

As for the property inputs, you should not provide the VnetSiteId and tenantId. These are fields populated by the backend service. The tenant id is derived from the caller context and the vnetSiteId is used for classic virtual networks in the past. Please try removing these and only pass the domainNam

[2019-01-29 20:11] tiwood commented on #3924
Hi @jihochang,

Thank you for your response. I've tried the following, but unfortunately it produced the same error message:

[code]

[2019-01-30 00:01] jhendrixMSFT commented on #3942
Closing as I believe this is answered.  Please reopen if you have more questions.

[2019-01-30 00:01] #3942 closed

[2019-01-30 19:14] jihochang commented on #3924
@jhendrixMSFT - The api-version being passed is correct and supported on the Domain Services resource provider. Could this be an issue on the SDK GO version or inputs?

[2019-01-31 00:09] arluca opened #3975 "Managed Identity: Configurable timeout based on time"
### Feature Request

Currently, the retry logic in the Azure SDKs for Managed Identity token generation supports a configurable time out based on counts. For response time sensitive services this has not been enough. Per customer feedback, they would like to have timeout configuration based on time (i.e. milliseconds)
This will allow for quicker fail after certain.
Can we make the retry max config

[2019-01-31 21:14] jhendrixMSFT commented on #3944
Thanks for the suggestion.  I agree with you however the `storage` package has been deprecated, replaced by [azblob](https://github.com/Azure/azure-storage-blob-go/tree/master/azblob), so we aren't actively fixing issues in it.

[2019-01-31 21:14] #3944 closed

[2019-01-31 21:40] jhendrixMSFT commented on #3948
Hello @invasionofsmallcubes I'm routing this to some folks on the ADLS team to help investigate.

[2019-01-31 21:56] jhendrixMSFT commented on #3975
@arluca to make sure I understand, the ask is to add a cap to the max time spanning retries?  E.g. it might retry N number of times within X amount of time?  So whichever value is exceeded first fails token generation.

[2019-02-01 12:22] cmendible opened #3990 "Listing Activity Logs does not return event data for the ResourceHealth or ServiceHealth categories"
### Bug Report

- import path:
"github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights"
"github.com/Azure/go-autorest/autorest/azure/auth"

- output of `go version`
go version go1.11.4 windows/amd64

- What happened?
Listing events for Activity Logs do not show results for ResourceHealth or ServiceHealth categories. I can see activity in  the portal but listing all eve

[2019-02-01 19:15] jhendrixMSFT commented on #3990
According to the [docs](https://docs.microsoft.com/en-us/rest/api/monitor/activitylogs/list) for this API I don't believe the `category` keyword is allowed in the filter.  I realize this doesn't answer your question, I will contact somebody from the service team to see if they can clarify.

[2019-02-01 19:47] cmendible commented on #3990
True (It works with Administrative category).

If you remove that filter and browse through the results no event for the ServiceHealth or ResourceHealth categories are shown.

Thanks for looking in to it

[2019-02-03 12:52] invasionofsmallcubes commented on #3948
Thanks Joel.
What I found out was this, but please correct me if I'm wrong. The "problem" is here:
[code]
inside that method I'm doing some data transformation and than sending the record to a grpc server, which of course, takes some network time.

The timeout seems to be quite linear to the filesize, a bigger size will take the connection open longer.

So I tried to transform my method to just re

[2019-02-04 16:45] jhendrixMSFT commented on #3924
@tiwood could you please share the full URL from your PUT request?

[2019-02-04 18:20] jhendrixMSFT commented on #3924
@tiwood also if you have a request ID (the `x-ms-request-id` header value) that would be helpful for the service team to find the request on the back-end.

[2019-02-05 06:39] seym45 opened #4026 ""Storage - Table" package is not available"
### Service Package Request

I didn't find any package for Azure storage -Table. Can we have one compatible with Golang?

[2019-02-05 15:48] jhendrixMSFT commented on #4026
There is limited table functionality mixed in the `storage` package, https://github.com/Azure/azure-sdk-for-go/blob/master/storage/table.go
Take a look at some of the tests https://github.com/Azure/azure-sdk-for-go/blob/master/storage/table_test.go for examples of how they work.

[2019-02-05 16:06] jhendrixMSFT commented on #3948
Still trying to get somebody from the service team to comment on this, the extra data point will help.  How much extra time is added when performing the processing?

[2019-02-05 16:19] jhendrixMSFT commented on #3990
@Adarsh1994-MS are you the right person to help answer this question?

[2019-02-05 16:42] tiwood commented on #3924
@jhendrixMSFT here are the requested details:

- Full URL: https://graph.windows.net/subscriptions/92807d76-6b48-4482-9e6d-bf034fede571/resourceGroups/adds_test/providers/Microsoft.AAD/domainServices/AlexanderBeissneroutlook.onmicrosoft.com?api-version=2017-06-01

Content:
[code]

And the full response with headers:
[code]

Thanks again for looking into it.

[2019-02-05 17:23] jhendrixMSFT commented on #3924
@tiwood Is the host really `graph.windows.net`?  That doesn't seem right.  If you look at the [client](https://github.com/Azure/azure-sdk-for-go/blob/master/services/domainservices/mgmt/2017-06-01/aad/client.go#L29) for `aad` it should be `management.azure.com`.  Do you have repro code to share?

[2019-02-05 18:01] Adarsh1994-MS commented on #3990
@jhendrixMSFT No, I do not have context about this.

[2019-02-05 18:03] jhendrixMSFT commented on #3990
@Adarsh1994-MS do you know who can help?  To summarize, how to "Get the even data for the Service Health and Resource Health Categories."

[2019-02-05 20:04] arluca commented on #3975
Yes. But also the ability to just set the time, without having to set the number of tries. Apologies for the delay in responding.

Thanks,
-Arturo
Managed Service Identity<http://aka.ms/msidocs>

From: Joel Hendrix <notifications@github.com>
Reply-To: Azure/azure-sdk-for-go <reply@reply.github.com>
Date: Thursday, January 31, 2019 at 1:56 PM
To: Azure/azure-sdk-for-go <azure-sdk-for-go@noreply.git

[2019-02-06 19:22] tariq1890 commented on #2825
@ravbhatnagar Can you help us with this?

[2019-02-11 20:42] jhendrixMSFT commented on #3975
Actually I think you can achieve this today by setting `MaxMSIRefreshAttempts` to 1 and using a context with the required deadline (sample code below).  Are you able to try this out and verify it works as required?
[code]

[2019-02-12 04:15] arluca commented on #3975
Let me chat with the customer.

Arturo Lucatero [LinkedIn<https://na01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.linkedin.com%2Fin%2Farturo-lucatero&data=04%7C01%7C%7C1f19e83c655c43523fb208d61833ec23%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C636723008644823124%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwifQ%3D%3D%7C-1&sdata=RKgUrONgQDBbP4wIa0fUm3K1n%2

[2019-02-12 13:19] tiwood commented on #3924
@jhendrixMSFT, thank you for assisting me with my issue.
It turns out that I made a mistake in the initialization, which resulted in the wrong host uri. As soon as I used `management.azure.com` the creation was successful.

Sorry for the noise

[2019-02-12 13:19] #3924 closed

[2019-02-12 17:10] jhendrixMSFT commented on #3924
No worries I'm following up with the service team to see if the error message can be improved as it wasn't clear what the underlying problem actually was.

[2019-02-14 03:58] daniel-simpson opened #4086 "Create Invitation API request"
### Service Package Request

Very interested in support for the MS Graph API [invitations endpoint](https://docs.microsoft.com/en-us/graph/api/invitation-post?view=graph-rest-1.0).  My apologies if I'm missing an existing implementation, but I'm unable to see any reference to this API within the source of this repo.

I would like to be able to use this invitation endpoint (along with the already i

[2019-02-14 13:35] invasionofsmallcubes commented on #3948
for a 50MB file it's about 5 minutes, etc...

[2019-02-14 16:11] jhendrixMSFT commented on #4086
@joshgav I don't see a swagger for this API, can you please contact the endpoint owner to see if they have a plan for creating one?

[2019-02-14 23:33] jhendrixMSFT commented on #3948
So just to make sure I understand, you read a chunk of the file from ADLS, process, then read the next chunk  and repeat the process etc, and the processing make the total read of the 50MB file take 5 minutes?  So as a result the connection gets closed presumably because the read is taking too long?

[2019-02-15 16:51] jhendrixMSFT commented on #3948
OK I discussed this with the service team, their recommendation is to repeatedly call `Open()` on 4MB chunks of the file, and each call should be able to handle transient network failures.  Can you give this a try?

[2019-02-16 13:12] invasionofsmallcubes commented on #3948
Honestly this should be done at go sdk level. I mean, yes, one of my options was to keep track of the offset and just recover but doesn't really seems something that should escape from sdk API.

At the moment I'm fine with my solution.

Can you confirm is some kind of safe guard to avoid keep the connection open?

[2019-02-16 14:15] andyzhangx opened #4093 "[question] where is azure file snapshot API"
I could find azure file create API here:
https://github.com/Azure/azure-sdk-for-go/blob/master/storage/file.go#L136-L137

But where is the snapshot-share API?
https://docs.microsoft.com/en-us/rest/api/storageservices/snapshot-share

https://github.com/Azure/azure-sdk-for-go/blob/master/storage/ directory only contains blob snapshot API

I would like to implement azure file snapshot functionality o

[2019-02-19 18:31] jhendrixMSFT commented on #3948
Agreed it belongs in the SDK, it would be a hand-written "convenience" layer on top of our swagger-generated code.  We've had a similar request, see also https://github.com/Azure/azure-sdk-for-go/issues/3231.
The service team has confirmed it does not close the connection.  Are you using the default transport in your HTTP client?  I wonder if it needs to be reconfigured to allow for longer delays

[2019-02-19 18:57] jhendrixMSFT commented on #4093
The `storage` package is currently in maintenance mode so we haven't added this new support.  For files, the functionality is being replaced by `azfile`.  You can find this specific API at https://github.com/Azure/azure-storage-file-go/blob/master/azfile/url_file.go#L53

[2019-02-20 11:08] andyzhangx commented on #4093
@jhendrixMSFT
thanks for letting me know this. I have another question: kubernetes azure cloud provider is still depending on the old `storage` package(see below), are you suggesting we should upgrade to the new SDK? The simple question could be will the API of the old `storage` package will always work on Azure?

https://github.com/kubernetes/kubernetes/blob/master/Godeps/Godeps.json#L56
[code]

[2019-02-20 13:58] invasionofsmallcubes commented on #3948
@jhendrixMSFT can you be more specific on what I should do given the code I pasted in the first post?

[2019-02-20 16:24] jhendrixMSFT commented on #4093
It will work as long as API version 2016-05-31 is supported.  You should be able to mix both SDKs and slowly migrate old code to `azfile`.

[2019-02-20 17:26] imavroukakis opened #4111 "Support resources in cdn endpoint"
### Feature Request
In order to unblock https://github.com/terraform-providers/terraform-provider-azurerm/issues/398 and enable custom domains, please consider adding `resources` support to the `Endpoint` struct.

[2019-02-20 20:00] jhendrixMSFT commented on #3948
If you want to keep the code as-is (i.e. don't read in 4MB chunks) can you try setting the idle connection timeout to zero (no timeout) or some reasonable upper bound based on your use case.  You'd create a custom HTTP client and assign it to the `Sender` field on the `filesystem.Client` object, something like this.
[code]

[2019-02-21 01:35] katbyte opened #4119 "Consider replacing satori/go.uuid with gofrs/uuid"
We wish to switch the AzureRM provider over to `gofrs/uuid` but cannot at the moment as the SDK expects UUID types from `satori/go.uuid`.

[satori/go.uuid](https://github.com/satori/go.uuid) does not seem to be maintained anymore as per https://github.com/satori/go.uuid/issues/83 (and mentioned in a few other issues).

It looks like the communities pick is https://github.com/gofrs/uuid, which is a

[2019-02-21 02:42] lsytj0413 opened #4120 "[question] how can i get the price for vmsize?"
I notice the compute.ResourceSku and skus.ResourceSku can help list the available vmsize in which location, and the return's type definition has such field:

[code]

but it always be nil in the response. so the question is, how can i get the price for which vmsize?

[2019-02-21 05:10] andyzhangx commented on #4093
Thanks, it's clear to me now.

[2019-02-21 05:10] #4093 closed

[2019-02-21 06:17] katbyte opened #4121 "insights monitor scheduled query rule LogToMetricAction.Criteria is the wrong type"
### Bug Report

- import path of package in question:
`github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-09-01/insights`
but also the `2018-03-01` and `2018-11-01` are the same.

- SDK version e.g. `master`, `latest`, `18.1.0`
v24, but v25 seems to have the same issue.

- output of `go version`
`go version go1.11.5 darwin/amd64`

- What happened?
The SDK sends the wrong payload.

[2019-02-22 13:30] tombuildsstuff opened #4124 "Media Service Account ID's (not Resource ID's) don't get deserialized correctly"
### Bug Report

Using v25.1.0 of the Azure SDK and this package:

[code]

We've noticed that when creating a Media Services Account, we get the following response back from the Create/Get API calls:

[code]

However when deserializing this, it appears [the `resp.ServiceProperties.MediaServiceID` field](https://github.com/Azure/azure-sdk-for-go/blob/v25.1.0/services/mediaservices/mgmt/2018-07-01/me

[2019-02-22 14:56] invasionofsmallcubes commented on #3948
Ok, I'll try. Thank you.

[2019-02-22 14:56] #3948 closed

[2019-02-22 16:01] v1r7u opened #4125 "Azure IoT Hub device-2-cloud messages are not received by cloud"
We experience an issue with Azure IoT Hubs created by terraform, that consumes sdk-for-go.

### Issue Description

One of Azure IoT Hub features is secure communication channel between devices and cloud, that can be done with [direct methods](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-direct-methods):
1. cloud side invokes direct methods to send commands or query data from dev

[2019-02-25 22:09] edesai commented on #2399
Any updates here ? What was the resolution or workaround ?

[2019-02-25 22:20] jhendrixMSFT commented on #2399
Sadly there hasn't been any resolution yet.  :(  If you have a repro it would help out to set `AZURE_GO_SDK_LOG_LEVEL` to `Debug` and provide the complete request/response so we can investigate.  Note that this requires `go-autorest` version v10.15.0 or greater to work.

[2019-02-25 22:37] edesai commented on #2399
Enabled the debug logs.

[code]

[2019-02-25 23:16] jhendrixMSFT commented on #2399
Thanks this is helpful.  Can you please post the code you're using?

[2019-02-25 23:22] edesai opened #4142 "Pagination for UsageDetails List api requires parsing Response().NextLink to get the skiptoken"
### Feature Request

[2019-02-26 00:07] jhendrixMSFT commented on #4111
@hytao can you please comment, is this missing from the swagger?

[2019-02-26 00:26] jhendrixMSFT commented on #4119
Closing as a dupe of https://github.com/Azure/azure-sdk-for-go/issues/3158.
I would like to make this change but am worried about breaking changes.  However it might not be so bad, I will discuss with the team and update 3158.

[2019-02-26 00:26] #4119 closed

[2019-02-26 14:10] kung-foo opened #4147 "The TumblingWindowTrigger struct is missing the `Annotations` field"
### Bug Report

- `services/datafactory/mgmt/2018-06-01/datafactory/models.go`
- `23.0.0`
- `go version go1.11.4 linux/amd64`

- What happened?
The `TumblingWindowTrigger` struct is missing the `Annotations` field.
- What did you expect or want to happen?
To set the `Annotations` field.
- How can we reproduce it?
Try setting the `Annotations` field.
- Anything we should know about your environment

[2019-02-26 16:10] tariq1890 commented on #3158
@jhendrixMSFT Is there anything we can do about this? I'd really prefer using `gofrs/uuid`. Injecting `satori/go.uuid` as a type is really problematic as it creates a hard dependency on that library. The library lacks the required maintenance and security fixes.

[2019-02-26 21:26] jhendrixMSFT commented on #4147
Ported to https://github.com/Azure/azure-rest-api-specs/issues/5274

[2019-02-26 21:26] #4147 closed

[2019-02-27 01:47] edesai commented on #2399
Code snippet below:

[code]

[2019-02-27 01:54] edesai commented on #2399
Another code snippet that I tried out today using NextWithContext(). I am not sure if I am using it the right way though. It returned a different error.
[code]

The request and response as below:
[code]

[2019-02-27 04:36] yesswap commented on #2399
Error occurred when i was trying to get usage of enterprise account using csp rest api.  got correct values when  i used rest api specified in below  link

https://docs.microsoft.com/en-us/rest/api/billing/enterprise/billing-enterprise-api-usage-detail

[2019-02-27 04:37] svaroop commented on #2399
Error occurred when i was trying to get usage of enterprise account using csp rest api. got correct values when i used rest api specified in below link

https://docs.microsoft.com/en-us/rest/api/billing/enterprise/billing-enterprise-api-usage-detail

[2019-02-27 07:55] sopatwar opened #4166 "Add support for resourceLocation in ActivityLogAlertLeafCondition"
This is related to [API feature request](https://github.com/Azure/azure-rest-api-specs/issues/5281)

Please add support for resourceLocation in the Go SDK once the API feature request is resolved.

Thanks,
Sourabh

[2019-02-27 09:43] PreethamTK opened #4167 "Authentication using SharedKeyCredential throws an error when correct username and wrong secret key is given but getting stuck when wrong account name is given"
**credential, err := azblob.NewSharedKeyCredential(accountName, accountKey)**
Error is thrown when wrong account key is given but when the account Name is wrong there is no error thrown but the program eventually times out.

[2019-02-27 17:55] jhendrixMSFT commented on #3158
I would too, the issue is it's a pretty big breaking change.  We need to coordinate with our large partners and "get the message out" that we'll be making this change.

[2019-02-27 22:03] jhendrixMSFT commented on #4167
Moved to https://github.com/Azure/azure-storage-blob-go/issues/103

[2019-02-27 22:03] #4167 closed

[2019-02-27 22:31] edesai commented on #2399
^Not using for an enterprise account.

[2019-02-27 23:30] jhendrixMSFT commented on #2399
@edesai thanks I was going to suggest you use the methods on the returned page type to iterate over the results.
It looks to me that the problem here is the query params in the returned URL for the next link aren't properly encoded.  In the consumption/models.go file could you replace the existing method with this version.
[code]
This will properly encode the query parameters and will prove/dispro

[2019-02-28 01:08] tariq1890 commented on #3158
Now that I really think about this. Is it possible to just use the `string` type?  This way we are not at the mercy of any library. The only possible con here is that there would need to be user-side validation and pattern enforcement, which isn't too bad IMO.

Thoughts @jhendrixMSFT ?

[2019-02-28 02:56] lsytj0413 opened #4182 "client Get return non-err but the object.property pointer is nil"
When I try to use the aks in azure, get the aks managed cluster use the code example:

[code]

this works fine when the aksName isn't empty. but when the aksName is empty, there is no err returned and the aks.ManagedClusterProperties is nil. I also check the image.Get, it has the same behavior.

So, why not return the NotFound(or another err) in the scenario?

[2019-02-28 03:23] jhendrixMSFT commented on #3158
It would be a significant breaking change, more than switching to gofrs/uuid.  Also depending on who you ask one could also make the argument it should be a byte array since technically that's what a UUID is (but then parsing, helpers to convert to string, etc now you're back to using a UUID type).

[2019-02-28 04:32] tariq1890 commented on #3158
I understand, but I feel `[]byte` or `string` is the best middle ground. While the breaking change is inevitable, I am certain that there are enough consumers who are heads deep in dependency lock-ins and they will not be able to forego their dependency on `satori/uuid. Changing it to `gofrs` would force them to directly/indirectly on an additional uuid dependency which is just fodder for an even

[2019-02-28 17:48] jhendrixMSFT commented on #3158
Is it though?  gofrs/uuid is a fork of satori/go.uuid and is API compatible, so in theory it should simply be a matter of changing imports.

[2019-03-01 18:25] edesai commented on #2399
That did the work! Thanks. So how does this work .. will a new version come out with the fix ?

[2019-03-01 18:44] jhendrixMSFT commented on #2399
So to summarize I think there are several issues here.
- The `List` API taking just a skip token isn't sufficient (you need to pass the ID and likely the skip token version as well).
- Parsing the skip token out of the next URL is not user-friendly (there might be some ways to simplify this, like getting the `skiptoken` value directly from the HTTP response object but it's still not ideal).
- The

[2019-03-01 22:46] jhendrixMSFT commented on #4142
Related to https://github.com/Azure/azure-sdk-for-go/issues/2399

[2019-03-01 22:54] jhendrixMSFT commented on #4120
Hello @lsytj0413 can you please specify which API you're calling and in which region?

[2019-03-01 23:27] jhendrixMSFT commented on #4121
Just to make sure I have this correct.  This is the [ScheduledQueryRulesClient.CreateOrUpdate](https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/monitor/mgmt/2018-09-01/insights/scheduledqueryrules.go#L49) API you're calling with a [LogToMetricAction](https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/monitor/mgmt/2018-09-01/insights/models.go#L3088) type b