[2021-12-17 11:13] syedhassaanahmed commented on #15987
Thanks @lirenhe I created an [issue](https://github.com/Azure/azure-rest-api-specs/issues/17131) in the REST API Specs repo.

[2021-12-17 16:16] dnozay commented on #16678
Opened issue: https://github.com/Azure/azure-rest-api-specs/issues/17134

[2021-12-17 17:23] manalivaltix commented on #16373
// GetRoleAssignmentsClient - Get azure role definitions client
func (s *AzureService) GetRoleAssignmentsClient() (*authorization.RoleAssignmentsClient, error) {
	roleClient := authorization.NewRoleAssignmentsClient(s.subscriptionID)
	authorizer, err := s.GetAuthorizer()
	if err != nil {
		log.Printf("Error while getting authorizer %v", err)
		return nil, err
	}
	roleClient.Authorizer = authorizer

[2021-12-17 17:59] RickWinter commented on #16658
Seems reasonable to block the PR and require the user to address.  Each file we touch would need to be brought into compliance as we touch them.

[2021-12-17 18:31] jhendrixMSFT commented on #16685
Migration guide is updated, thanks for reporting this issue.

[2021-12-17 18:31] #16685 closed

[2021-12-17 19:18] seankane-msft commented on #16676
Thanks for reporting this issue @daniel-weisse . Can you try using the `azidentity.NewClientSecretCredential`? I have a PR to update all of our documentation to suggest this as well. The difference between the ClientSecretCredential and DefaultAzureCredential is you will have to specify the tenant ID, client ID, and client secret upon instantiation.

[code]

The PR with the changes is in #16689

[2021-12-17 20:08] jhendrixMSFT commented on #16108
Fixed in the pending v0.21.0 release.

[2021-12-17 20:08] #16108 closed

[2021-12-18 21:49] berndverst commented on #16679
I just came here to report the same issue. For example ContentMD5 property isn't returned from the List Response.

Here is a complete way to reproduce specifically for the ContentMD5 property:

[code]

[2021-12-18 21:52] berndverst commented on #16679
@RickWinter @jhendrixMSFT FYI I am currently rewriting the **Dapr** Blob Storage Output Binding component to use the Track 2 SDK and I encountered this issue in my tests.

Until the List response contains all the properties I will not be able to certify this component as Stable as far as Dapr is concerned.

[2021-12-18 22:05] berndverst commented on #16679
Thanks for the tip @jkowalski it seems the data type for Content MD5 is wrong also. I used your approach to make it work:

The following code depends on my code snippet from above.

[code]

[2021-12-18 23:29] vangent commented on #16088
I'm in the process of trying to upgrade from the old "azure-service-bus-go" package, and I think this is also a change in behavior.

In the old package, when I try to send a message to a nonexistent topic, I would get an error back (not a great one, but at least it said "404" somewhere in it). Now, it just hangs until the context expires (if ever).

Same deal for trying to receive messages from a

[2021-12-20 01:18] serbrech opened #16692 "[servicebus sdk] missing name on entities datamodel returned from admin client"
### Bug Report

admin client seem to be missing some properties when getting entities.

in .net the entity types contain name, and systemdata :
https://github.com/Azure/azure-sdk-for-net/blob/c92daee4c73eb7cbeb8f7b4ac461dd07710e2f73/sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/ServiceBusSubscriptionData.Serialization.cs#L100-L103

in go there isn't even the name, only the `

[2021-12-20 08:02] asafg6 commented on #16401
Thank you @ArcturusZhang
What is the official data plane sdk?
I thought that this is it..

[2021-12-20 08:49] lirenhe commented on #16401
@asafg6, here is the list of client libraries for GO:  https://azure.github.io/azure-sdk/releases/latest/go.html

[2021-12-20 09:04] daniel-weisse commented on #16676
Using `azidentiy.NewClientSecretCredential()` I get the following error on `azkeys.Client.CreateOCTKey()`:
[code]

A similar Issue is encountered when calling `crypto.Client.WrapKey()` on a key I previously using the Azure CLI:
[code]

[2021-12-20 09:06] asafg6 commented on #16401
@lirenhe Which one of those is the recommended sdk for Data Lake ???

[2021-12-20 09:08] lirenhe commented on #14800
i found the Swagger for 2021-09-01-preview was already merged. @Alancere, could you help to follow up on the SDK release?
@dosegal, we will need your team to create the release request.

[2021-12-20 09:10] lirenhe commented on #16401
There is no data lake now, that is why @ArcturusZhang mentioned,  'there is really no alternative of this package out there now'.
We will have a review and merge your PR to unblock you.

[2021-12-20 09:12] Alancere commented on #14800
Hi @dosegal could you please confirm the status of securityinsight swagger and submit a release request via https://aka.ms/openapihub?

[2021-12-20 09:13] asafg6 commented on #16401
Ok thanks :)  !

[2021-12-20 09:15] lirenhe commented on #16678
Close this one as we will use https://github.com/Azure/azure-rest-api-specs/issues/17134 to track this issue

[2021-12-20 09:15] #16678 closed

[2021-12-20 09:17] magodo commented on #14800
@dosegal Unrelated, I'm wondering whether there is any progress of the all in one Swagger spec for the sentinel? Last time I heard that the preview one will be released around Dec.2021 or Jan.2022, and the stable one will be released after that?

[2021-12-20 16:23] seankane-msft opened #16694 "[KeyVault] Add Managed HSM to live tests"

[2021-12-20 18:52] seankane-msft commented on #16676
@daniel-weisse I have a fix for this issue in [this PR](https://github.com/Azure/azure-sdk-for-go/pull/16689). If you would like to try to run from the branch (using a replace directive would be easiest) to confirm that it works for your resources that would be great. If that PR does not work for you instance of Key Vault, you might have a permissions issue. I've been able to use verify my fix for

[2021-12-21 03:17] lirenhe commented on #15835
@shaobovaltix, the service behaviour is not controlled by SDK, could you create an issue in https://github.com/Azure/azure-rest-api-specs/issues/new?
We will close this one as the SDK is auto generated from the Swagger and type VirtualMachineProperties correctly mapped to the Swagger definition.

[2021-12-21 03:24] lirenhe commented on #15784
@xingtanzjr ,  this is a service issue and it is not related to the SDK, please create a support ticket for Azure. https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request
Please provide this track Id '5aa230ad-8cca-4f10-9c74-6cc8824e62fb' when you create the issue.

[2021-12-21 03:24] #15784 closed

[2021-12-21 03:37] lirenhe commented on #15702
@bigdatasourav, could you use the api version of 2020-06-25 to workaround this issue?

[2021-12-21 03:39] lirenhe commented on #15656
@adeturner, thanks for your update. We will close this item.

[2021-12-21 03:39] #15656 closed

[2021-12-21 04:57] lirenhe commented on #15407
API version of 2020-10-01 released.
https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/services/operationalinsights/mgmt/2020-10-01/operationalinsights

[2021-12-21 04:57] #15407 closed

[2021-12-21 05:57] lirenhe commented on #15229
From Swagger, https://github.com/Azure/azure-rest-api-specs/blob/88e7838a09868a51de3894114355c75929847a46/specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/privateLinkService.json#L874, name in PrivateLinkServiceIpConfiguration is not marked as required.   So for this swagger issue, could you create a issue in https://github.com/Azure/azure-rest-api-specs/issues/new?

For

[2021-12-21 06:08] lirenhe commented on #15042
@favoretti, could you create a support ticket as this is a service issue and there is no much work on the SDK side.

[2021-12-21 08:02] #16050 closed

[2021-12-21 09:13] daniel-weisse commented on #16676
Thanks @seankane-msft, using your branch made it work.
I can create keys and perform wrapping/unwrapping operations.
I am also able to successfully create and use my client using `azidentity.NewDefaultAzureCredentials(nil)`.

Feel free to close once the change is merged :+1:

[2021-12-21 15:01] seankane-msft commented on #16676
Glad to hear that @daniel-weisse . I will leave this issue open until the release goes out at which point I'll update this.

[2021-12-21 19:01] cghiban commented on #16394
Not sure if it's related, but we're getting this message when we try to send a message:

If it isn't a bug, how should handle this? Or try reconnecting?

I'm using these versions:

In the past ( using `github.com/Azure/azure-service-bus-go v0.11.3`) there was a way to recover:

[code]

Any ideas would help. Thank you

[2021-12-22 01:37] cghiban opened #16695 "amqp[:]link:detach-forced errors (servicebus)"
Not sure if it's bug, but we're getting these message when we try to send a message:

or

Initially the messages are sent, but after a while we see one of these errors..

If it isn't a bug, how should handle this? Or try reconnecting?

I'm using these packages:

In the past ( using `github.com/Azure/azure-service-bus-go v0.11.3`) there was a way to recover:

[code]

Any ideas would help. Thank you

[2021-12-22 01:56] Alancere commented on #15645
@magodo containerregistry latest preview version is https://github.com/Azure/azure-sdk-for-go/tree/main/services/preview/containerregistry/mgmt/2021-08-01-preview/containerregistry

[2021-12-22 02:01] magodo commented on #15645
Closing this since the 2020-11-01 version and its successors are fixed.

[2021-12-22 02:01] #15645 closed

[2021-12-22 03:44] lirenhe commented on #15002
@jackofallops, as this is a Swagger issue for compute RP, i have created https://github.com/Azure/azure-rest-api-specs/issues/17160 and use it to track this issue.
I will close this item.

[2021-12-22 03:44] #15002 closed

[2021-12-22 05:03] lirenhe commented on #14915
@Robert-Stam, the latest version of containerservice is 2021-10-01 but please note The ContainerServices RPv2 consists of two similar services: ContainerServices and ManagedClusters. Each service has its own swagger spec.
So if you want to use ContainerServices,  2020-09-01 is the targeting one to use.
https://github.com/Azure/azure-rest-api-specs/tree/main/specification/containerservice/resource-

[2021-12-22 05:13] lirenhe commented on #14655
@amishra-dev, as this is a service issue, you could open a support ticket for it. https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request
Close this item as this is not related to the SDK.

[2021-12-22 05:13] #14655 closed

[2021-12-22 05:18] lirenhe commented on #14531
@wheelerjl, could you try to use the latest version of the GO SDK for compute?  The latest version is 2021-07-01.

[2021-12-22 05:27] lirenhe commented on #13946
@anasokan, the latest version is  https://pkg.go.dev/github.com/Azure/azure-sdk-for-go@v60.2.0+incompatible/services/redis/mgmt/2020-12-01/redis

Does it meet your need?

[2021-12-22 05:34] lirenhe commented on #13855
@yaegashi，as this is the service behaviour, please try the workaround @ArcturusZhang  provided.
BTW, you could also use this latest package https://pkg.go.dev/github.com/Azure/azure-sdk-for-go@v60.2.0+incompatible/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization to have a try.
Close this issue as this is not related to SDK

[2021-12-22 05:34] #13855 closed

[2021-12-22 05:44] lirenhe commented on #13665
@AdamCoulterOz, from Swagger, creating certificate is not defined as LRO. https://github.com/Azure/azure-rest-api-specs/blob/main/specification/web/resource-manager/Microsoft.Web/stable/2021-02-01/Certificates.json#L154
 As the SDK is generated from Swagger,  could you create an issue in https://github.com/Azure/azure-rest-api-specs/issues/new?

[2021-12-22 05:52] lirenhe commented on #12645
@sidheshdivekar29, it seems you are asking a feature request for Azure network service.
The SDK repo may not be the best way for that feature.
So could you post your question in https://docs.microsoft.com/en-us/answers/products/azure?product=networking?

[2021-12-22 05:52] #12645 closed

[2021-12-22 05:54] lirenhe commented on #12656
@manalivaltix, as GO SDK is auto generated from Swagger which is defined by service team, and it seems you are asking a feataure request for the service behaviour, could you post your question in https://docs.microsoft.com/en-us/answers/products/azure?product=networking?
I will close this item as this is not related to SDK, let me know if you have any questions.

[2021-12-22 05:54] #12656 closed

[2021-12-22 06:02] lirenhe commented on #12342
@mackrorysd, looks there is a solution for the question you ask, so we will close this item and let me know if you have other feedback. Thanks.

[2021-12-22 07:05] lirenhe commented on #12198
@sidheshdivekar29, could you help to post your feature request in  https://docs.microsoft.com/en-us/answers/products/azure?product=networking?  From SDK side, we are unable to provide this function without this feature is supported in service side. Thanks

[2021-12-22 07:05] #12198 closed

[2021-12-22 07:41] lirenhe commented on #11764
@ncole, from https://docs.microsoft.com/en-us/azure/aks/supported-kubernetes-versions?tabs=azure-cli, you could only get the supported Kubernets versions, I didn't see that info is included in ManagedClusterProperties or UpgradeProfile.
Please confirm the details in https://docs.microsoft.com/en-us/answers/topics/azure-kubernetes-service.html
Close this item as this is not related to SDK. Let me k

[2021-12-22 07:41] #11764 closed

[2021-12-22 07:43] lirenhe commented on #11574
@rushabh268,  do you have any update with the latest SDK?

[2021-12-22 08:00] lirenhe commented on #10712
@matthchr, we will close this item and please let us know if you have furthur question related to this.

[2021-12-22 22:55] TomerHeber opened #16699 "The resource type 'roleAssignments' could not be found in the namespace."
### Bug Report

- https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/resourcemanager/authorization/armauthorization/zz_generated_roleassignments_client.go
- SDK version: latest.
- go version go1.17.5 darwin/amd64

The error message is:
`InvalidResourceType","message":"The resource type 'roleAssignments' could not be found in the namespace 'Microsoft.Authorization' for api version '2020-10-01-

[2021-12-22 23:03] TomerHeber commented on #16699
Seems to be a duplicate of:
https://github.com/Azure/azure-sdk-for-go/issues/15624

[2021-12-23 03:50] tadelesh commented on #15802
Postpone to post GA. Cut for now.

[2021-12-23 09:03] magodo commented on #16371
This issue still remains, reopening it.

[2021-12-23 11:48] akhilesh2410 opened #16703 "How to create Azure AD app using service principal credentials with Microsoft Graph API"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

- What happened?
- I am getting 403 error with below code:
error i am ge

[2021-12-23 12:14] akhilesh2410 commented on #10501
Hi @haani-niyaz ,

Did this solvethe issue, i am facing same issue while creating Azure AD app using azure-sdk-for-go and getting 403 error:
`"error": "graphrbac.ApplicationsClient#Create: Failure responding to request: StatusCode=403 -- Original Error: autorest/azure: Service returned an error. Status=403 Code=\"Unknown\" Message=\"Unknown service error\" Details=[{\"odata.error\":{\"code\":\"Aut

[2021-12-24 06:52] lirenhe commented on #16703
@akhilesh2410, could you check this sample on how to use graphrbac APIs? https://github.com/Azure-Samples/azure-sdk-for-go-samples/tree/master/graphrbac
Please note, Azure AD Graph API is now deprecated and please check this comment:   https://github.com/Azure/azure-sdk-for-python/issues/18131#issuecomment-834861564

Let me know if you have any questions. thanks

[2021-12-24 07:05] lirenhe commented on #8083
@mbfrahry, we didn't get service team's reply on this, to solve the problem, could you create a support ticket in Azure directly?
https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request
I don't think there is any change needed on the SDK side. So please let me know if you have other questions. Thanks

[2021-12-24 07:15] lirenhe commented on #7265
@jaredmoo and @scgbear, do you have any conclusion about what the correct behavior is for SQL database of name "azure"?

[2021-12-24 07:19] lirenhe commented on #6882
@timja, could you help to confirm whether this problem is fixed in the latest version of the SDK?
https://github.com/Azure/azure-sdk-for-go/tree/main/services/frontdoor/mgmt/2020-11-01/frontdoor

[2021-12-24 07:33] akhilesh2410 commented on #16703
Hi @lirenhe ,
Thanks for the reply, but I was earlier using AAD Api for the code mentioned above and it was working fine, but since Azure AD API are deprecated i need to use Microsoft Graph API to create Azure AD App using go sdk. Can we do that using existing code i.e. https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/b49c4162aa1d96bc2b1b42afecbf4a21b420e568/graphrbac/graph.go#L53.
I

[2021-12-24 07:35] lirenhe commented on #4829
@dmitsh, @szymon3 , @jaydrue,  this issue has been here for years and as this is a feature request for the virtual network service, could you post your question directly in https://docs.microsoft.com/en-us/answers/topics/azure-virtual-network.html

[2021-12-24 08:02] timja commented on #6882
From @chamons comment it's not fixed.

Nothing appears to have changed:
https://github.com/Azure/azure-sdk-for-go/blob/da4167617ea762d2b4e17f8c0798073c679251a2/services/frontdoor/mgmt/2020-11-01/frontdoor/models.go#L277

According to @jhendrixMSFT this should just be a constant and not be settable.

(note I haven't tried to upgrade and I raised this nearly 2 years ago so just doing my best from ch

[2021-12-24 08:49] lirenhe commented on #16703
The sample code will also be deprecated . There is an old issue discussing this https://github.com/Azure/azure-sdk-for-go/issues/7352 and you could find some information there.
So far, GO SDK is not supported in the Code Generator of MS Graph.  I suggest you to communicate with MS Graph team directly.  https://docs.microsoft.com/en-us/answers/topics/128347/microsoft-graph-sdk.html

[2021-12-24 08:54] lirenhe commented on #16699
@TomerHeber, we are contacting service team for the service update but currently, there is no ETA of that.
We will close this one as it is duplicate of https://github.com/Azure/azure-sdk-for-go/issues/15624.
Let me know if you have further questions. Thanks

[2021-12-24 09:06] akhilesh2410 commented on #16703
Thanks for the update, will reach out to MS Graph team.

[2021-12-24 15:29] kaovd commented on #16389
Thank you that makes it more clear why it is in preview

[2021-12-24 15:29] #16389 closed

[2021-12-25 21:58] radekg opened #16714 "Limit the interface requirement for BlockBlobClient.UploadStreamToBlockBlob body"
### Feature Request

The `body` argument of the `BlockBlobClient.UploadStreamToBlockBlob` method is currently defined as `io.ReadSeekCloser`: https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/storage/azblob/highlevel.go#L601. It should be `io.Reader` only because:

- the `body` argument is passed to `copyFromReader` as `from io.ReadSeekCloser`: https://github.com/Azure/azure-sdk-for-go/blob/

[2021-12-27 02:44] vijayrajah opened #16715 "[armresourcegraph] Error while un-marshilling response"
### Bug Report

Module: github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resourcegraph/armresourcegraph
version: 0.1.0 (latest -- as of 27-dec-2021)

The query response [here](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resourcegraph/armresourcegraph#QueryResponse) is defined as
[code]

instead it should be (a slice) or it should be a `interface {}` as defined in

[2021-12-27 02:57] vijayrajah opened #16716 "Resource Health -- Events API"
### Bug Report
Neither the mgmt sdks, or the new module SDKs (t2) implement the event API for resource health. Defined [here](https://docs.microsoft.com/en-us/rest/api/resourcehealth/events)

both of these SDK's implement `2017-07-01` version of this API & it apparently does not include events APIs

can we get this added, please?

[2021-12-27 10:22] dosegal commented on #14800
@lirenhe @Alancere - Thanks, we submitted a release request.
@magodo, the 2021-09-01-preview version already contains all the Sentinel RP capabilities, if that's what you mean by "all in one spec". A similar stable version is expected to be released during January.

[2021-12-28 04:09] josh-barker commented on #16388
Hi @lirenhe, I'll raise an issue in that repo.

Thanks!

[2021-12-28 18:31] RickWinter opened #16719 "Ensure all components are registered"
Need to setup component governance to monitor all 3rd party dependencies.

[2021-12-29 08:02] #15957 closed

[2021-12-29 14:48] #16699 closed

[2021-12-29 14:48] TomerHeber commented on #16699
Closing as duplicate.

[2021-12-29 17:15] AdallomRoy commented on #15108
@jhendrixMSFT any news?

[2021-12-29 18:33] RickWinter commented on #6463
The code and module for latest azservicebus is available at: https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus

[2021-12-29 18:33] #6463 closed

[2021-12-29 18:44] RickWinter commented on #16054
aztemplate is using latest azcore and azidentity.

[2021-12-29 18:44] #16054 closed

[2021-12-30 05:28] andyliuliming opened #16722 "the InternalError can not be converted to "StorageError""
### Bug Report
get, downloadError := blockBlob.Download(ctx, nil)
stgError := azblob.StorageError{}

if the blob not found, both
errors.As(downloadError, &stgError)
errors.Is(downloadError, &stgError)

will be false.

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; on

[2021-12-30 05:54] discentem opened #16723 "InteractiveBrowserCredentialOptions does not have ClientSecret field"
### Bug Report

- Import path: `github.com/Azure/azure-sdk-for-go/sdk/azidentity`
- SDK version: `master`
- go version: `go version go1.17.3 darwin/amd64`

- What happened?

I can use `azidentity.NewInteractiveBrowserCredential` to successfully create a `azblob.NewContainerClient` but when I try to do `container.NewBlobClient("someBlob").GetProperties` this fails with the following error

[code]

[2021-12-30 17:28] RickWinter commented on #16722
You have mentioned the package in question is the previous release of the compute resource manager.  The api you are having trouble with is a storage api, `blockblob.Download`.  Which storage package are you using?

[2022-01-01 05:03] discentem opened #16726 "downloadBlobToWriterAt() does not execute Progress() function"
### Bug Report

- Import path: sdk/storage/azblob

but more specifically https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/storage/azblob/highlevel.go#L284

- SDK version: master

- What happened?
Setting `Progress` on `HighLevelDownloadFromBlobOptions` for `DownloadBlobToFile` does not work. The function does not appear to get executed.

I think this is because [`o.Progress(progress) is com

[2022-01-03 07:38] mohsha-msft commented on #16714
Hey @radekg ,

Thanks for reaching out!

We've already addressed this issue.
[code]
Can you please take a pull from `dev-azblob` instead of `main` i.e. `go get github.com/Azure/azure-sdk-for-go/sdk/storage/azblob@dev-azblob`.

Please reach out if you need more clarification on this.

[2022-01-03 07:38] #16714 closed

[2022-01-03 07:39] mohsha-msft commented on #16726
Hey @discentem ,

Thanks for pointing this out!
I've merged the changes in our development branch `dev-azblob` and we'll include these changes in the next release.
Can you please use `dev-azblob` branch in the meantime. i.e. `go get github.com/Azure/azure-sdk-for-go/sdk/storage/azblob@dev-azblob`

[2022-01-03 16:05] #16491 closed

[2022-01-03 18:06] joshfree opened #16728 "Azure Identity January - April 2022 Releases"
# Azure.Identity January - April 2022 Releases

## Milestone 1: February Release Cycle - (January 3rd - February 4th)

### **Beta-1 Features**

1.  **Feature: Web Account Manager (WAM) Support [.NET Only, separate package]**
    - MSAL supports [Web Account Manager (WAM)](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/wam) now. Azure PowerShell is asked to WAM support

[2022-01-03 18:21] chlowell commented on #16723
InteractiveBrowserCredentialOptions has no ClientSecret field because we don't intend to support browser authentication for Azure AD applications requiring a client secret to authenticate ("confidential" applications). So, that's a deliberate omission.

That doesn't mean browser auth is impossible for your application though. Have you configured a redirect URI (see [Azure AD documentation](https:/

[2022-01-03 18:58] richardpark-msft commented on #16695
Hi @cghiban, this is a bug on our side - the Sender needs to recover these errors internally. This is one change we're making in the newer SDKs to avoid people having to write recovery code or really inspect the errors by hand.

I'll be working on this.

[2022-01-03 19:07] richardpark-msft commented on #16088
@vangent, I'll be working on this, this is definitely unintentional and is just us misclassifying errors error types.

[2022-01-03 19:34] chlowell opened #16729 "Add example for user assigned managed identity"
i.e. a snippet in `example_test.go` demonstrating `ResourceID` and `ClientID`

[2022-01-03 21:00] jhendrixMSFT commented on #6882
Unfortunately, I misspoke earlier.  When the enum is marked as `modelAsString: true`, it means that this enum should be treated as extensible, i.e. more values might be added in the future.  In this case, it's not treated as a constant, so callers are expected to provide the value, even if there's only one to choose from.

[2022-01-03 21:07] jhendrixMSFT commented on #15108
Now that I'm back from vacation, I believe I found an owner.  Will post an update when I have more info.

[2022-01-03 21:10] discentem commented on #16723
Hey @chlowell, thanks for the detailed reply!

After changing my redirect URI configuration from web to desktop app, as you suggested, `NewInteractiveBrowserCredential` works as expected.

Two things that are a bit curious. Please confirm if these are expected

- the landing page for successful auth (`You have logged into Microsoft Azure!`) is listening on a different port than the URI I specified

[2022-01-03 21:59] kurtzeborn commented on #16493
@danieljurek, this is an interesting request.  My guess is we'd have to relay it to the docs team though since I don't think this is a feature we can add or would own.

(also, ignore all those linked PRs.  That's an overzealous automation script from the CLI team making that noise)

[2022-01-03 22:00] radekg commented on #16714
Awesome, thank you.

[2022-01-03 22:25] danieljurek commented on #16658
We'll do that in the next phase of the maturity model. That requires scanning the repo, analyzing the detections, cleaning up any obvious false positives, and opening up issues to address... There are other considerations like whether to exclude generated code.

https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/367/Capabilities-and-State

[2022-01-03 22:33] chlowell commented on #16723
Both are expected. azidentity starts a web server on an arbitrary port to receive the redirect, and Azure AD doesn't always require that port to match the app registration. (If it did, you would set `InteractiveBrowserCredentialOptions.RedirectURL` with the registered URL.)

[2022-01-03 22:39] #16078 closed

[2022-01-04 03:30] discentem commented on #16726
@mohsha-msft thanks so much for the merge! using `dev-azblob` branch works as expected. Not sure what the protocol here is but you can close the issue if it makes sense. Or will it stay open till the next release?

[2022-01-04 03:43] mohsha-msft commented on #16726
Hey @discentem ,

Thanks for the confirmation. The issue will stay open till we make next release of  the SDK.

[2022-01-04 14:13] favoretti commented on #15042
Re-tested this on `2021-08-01-preview` behavior is still the same, will open up a support request to work with someone on MSFT side.

[2022-01-04 14:16] favoretti commented on #15042
[code]

[2022-01-04 14:55] sthordall opened #16734 "armpolicy - Error when unmarshalling PolicyAssignment"
# Bug Report

Module: `github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resources/armpolicy`
Version: `v0.1.1`
SDK Version: `v61.0.0`
Go Version output:  `go version go1.17.5 linux/amd64`

## What happened?
Unmarshalling errors when requesting PolicyAssignments, via `PolicyAssignmentsClient->ListForManagementGroup`

Both for strings and arrays in parameters, which are both standard for policy

[2022-01-04 16:22] chlowell commented on #14931
Blocked on https://github.com/AzureAD/microsoft-authentication-library-for-go/issues/263

[2022-01-04 17:13] chlowell opened #16736 "Make AuthenticationFailedError consistent with other client errors"
Credentials return `AuthenticationFailedError` when authentication fails. That type has a `RawResponse()` method which returns any response the credential received. Naively, it seems `AuthenticationFailedError` should instead wrap [`azcore.ResponseError`](https://github.com/Azure/azure-sdk-for-go/blob/6264636169251df0ea48912167b417c2a9c108ce/sdk/azcore/internal/shared/response_error.go#L90), to en

[2022-01-04 20:53] juliusl commented on #15042
@ArcturusZhang Hello, I am from the ACR Service team, I took a look at the sdk code and I noticed a couple of things.

First for clarification, I notice that the client code has a Responder but does not use it in the either the Create/Delete methods, is this intentional?

Second, in ARM Delete is an async operation, meaning the client code needs to poll for the operation status before returning. T

[2022-01-04 23:37] #16729 closed

[2022-01-05 00:18] jhendrixMSFT commented on #16734
This looks to be an issue with the service swagger.  The [spec](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/resources/resource-manager/Microsoft.Authorization/stable/2021-06-01/policyAssignments.json#L800) states that `value` is a JSON object which is clearly not the case.  This is likely being uncovered now due to strict conformance made in the updated modeler some time

[2022-01-05 02:51] lirenhe commented on #16716
@Alancere , could you help to follow up on this?  From the readme file, https://github.com/Azure/azure-rest-api-specs/blob/main/specification/resourcehealth/resource-manager/readme.md#basic-information, the default tag is always 'package-2017-07' which is quite out-of-date.

[2022-01-05 02:59] lirenhe commented on #16703
@akhilesh2410, just found this library,https://github.com/microsoftgraph/msgraph-sdk-go  and could you have a try?

[2022-01-05 03:09] lirenhe commented on #16715
@vijayrajah, this seems to be a Swagger issue.
If the value for Data is an array of Json object, the definition should be

    "Data": {
      "type": "array",
      "items": {
        "type": "object",
        "description": ""
      }

And the current definition is not correct.  https://github.com/Azure/azure-rest-api-specs/blob/7b89a1a3fcb08b6f9f12ee67049b6b8d561ad684/specification/resourcegrap

[2022-01-05 03:45] ArcturusZhang commented on #15042
[This function](https://github.com/Azure/azure-sdk-for-go/blob/a979cf7de738a563a4675ca5e6ef9a04871df64d/services/preview/containerregistry/mgmt/2021-08-01-preview/containerregistry/agentpools.go#L137) returns a future which indicates this is a long-running operation.
If an operation is a LRO, the caller should call its `WaitForCompletionRef` method in which the SDK will do the polling as python SD

[2022-01-05 06:17] akhilesh2410 commented on #16703
@lirenhe : I already tried that out and there is nothing I found which we can use to create an app. I am in touch with MS Graph team to get into this issue.

[2022-01-05 07:21] favoretti commented on #15042
@ArcturusZhang Yep, I am calling `WaitForCompletionRef` indeed: https://github.com/hashicorp/terraform-provider-azurerm/pull/14790/files#diff-f6764132d0fc067d88469fea293e2010a129184291d121243d34695fe39c2e77R252

[2022-01-05 07:33] bigdatasourav opened #16751 "ContainerProperties values are absent in BlobContainer List and get API"
### Bug Report

- import path of package in question - `github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage`
- SDK version- `v58.0.0+incompatible` and `v61.0.0+incompatible`
- output of `go version` - 1.17

- What happened? - In BlobContainer List and get API, for ContainerProperties values like `ImmutabilityPolicy`, `Version` always comes as `null` even if the value is asso

[2022-01-05 16:30] RickWinter commented on #16751
Thank you for reporting this issue.  We will look into the issue.  In the interim you may want to consider switching to our new storage resource manager sdks.  They are currently in preview and will be GA'ing soon.
https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/storage/armstorage

[2022-01-05 19:31] #16694 closed

[2022-01-06 00:01] chlowell commented on #16736
Action items from offline discussion:
- make AuthenticationFailedError a struct
  - with a RawResponse field
  - Error() should return a string like ResponseError.Error()

[2022-01-06 02:41] juliusl commented on #15042
Also, I double checked our code and the response includes a RetryAfter and Location header, so it should have everything needed for LRO polling.

[2022-01-06 15:39] UnwashedMeme opened #16765 "Add managed identity token caching"
### Feature Request

**Scenario**: I'm currently creating many SDK clients because I'm working with many different resource types on many different subscriptions. However each client has its own pipeline with separate BearerTokenPolicy instances with separate token caches, each for the same scope (often management.azure.com). I'm running into MSI rate limits.

Example callstack (all links are to h

[2022-01-06 18:52] jhendrixMSFT commented on #16765
@chlowell I believe our migration to MSAL will solve this yes?

[2022-01-06 20:21] seankane-msft opened #16767 "[Epic] Key Vault Certificates"

[2022-01-06 20:29] seankane-msft opened #16768 "[KeyVault] Add Client Methods for Certificates"
- [x] `BackupCertificate`
- [x] `BeginCreateCertificate`
- [x] `BeginDeleteCertificate`
- [x] `BeginRecoverDeletedCertificate`
- [x] `CreateContacts`
- [x] `CreateIssuer`
- [X] `DeleteCertificateOperation`
- [x] `DeleteContacts`
- [x] `DeleteIssuer`
- [x] `GetCertificate`
- [x] `GetCertificateOperation`
- [x] `GetCertificatePolicy`
- [x] ~~`GetCertificateVersion`~~ (GetCertificate has an optional

[2022-01-06 20:30] seankane-msft opened #16769 "[KeyVault] Add tests, documentation, and examples for Certificates"

[2022-01-07 00:33] ArcturusZhang opened #16772 "Remove the `go_mod_tidy_hack` from mgmt plane packages if possible"
### Feature Request

The `go_mod_tidy_hack` in our mgmt plane packages and some data plane packages is importing the track 1 package into them to keep we away from the ambiguous import issues. But it is importing a 300M package but it is not actually using it.

We should consider remove it if possible as a refinement

[2022-01-07 01:59] Alancere commented on #16716
Hi @vijayrajah thanks for this issue!

Releasing a new package will require the service to submit a new SDK release request, I have added the label on this issue so that the corresponding service team could take this a look.
I also sent some internal emails to the contact of the corresponding service team about this.

[2022-01-07 16:04] seankane-msft opened #16775 "[KeyVault] - Add support for OKP key type"
...and the EdDSA signature algorithm, when Key Vault supports them.

[2022-01-07 16:28] chlowell commented on #16765
Correct, the managed identity implementation is entirely ours (no MSAL supports it) and doesn't use a cache. As noted above, clients have a caching layer (a simple performance optimization really, not a proper token cache) in their authentication policies, which doesn't help an application using many clients because each has its own policy instance. We do intend to add a proper token cache to mana

[2022-01-08 00:50] #15396 closed

[2022-01-08 00:50] #16116 closed

[2022-01-08 08:02] #15798 closed

[2022-01-10 01:47] deiter opened #16781 "Unable to get azblob.StorageError for block blob operations"
### Unable to get azblob.StorageError for block blob operations

**Steps to reproduce**
- Download the latest versions of github.com/Azure/azure-sdk-for-go
- Run simple block blob client and try to get properties for non-existing block blob:
[code]

**Expected results**
[code]

**Actual results: azblob.InternalError**
[code]

And I didn't find a way to get the original error code - azblob.StorageE

[2022-01-10 02:12] deiter commented on #16781
Related issue: https://github.com/Azure/azure-storage-blob-go/issues/58

[2022-01-10 08:29] AsafMah opened #16783 "azblob - low memory mode?"
azblob used to allocate a static buffer which was hundreds of MB in memory - https://github.com/Azure/azure-storage-blob-go/issues/233

This was solved by adding a TransferManager option - https://github.com/Azure/azure-storage-blob-go/pull/234, and with that a SyncPool type that should save in memory.

That did reduce the memory usage for us from 800mb to ~80mb

But that's still a lot.

Even with

[2022-01-10 09:00] favoretti commented on #15042
@ArcturusZhang any thoughts on what @juliusl provided above?

[2022-01-10 10:14] ArcturusZhang commented on #15042
The discussions here raise the concerns from me of the no-responder thing.
@jhendrixMSFT do you have some insights on this particular issue? And how is that implemented in track 2?

[2022-01-10 13:05] tombuildsstuff commented on #15042
@juliusl from what I can see this appears to be a Swagger issue rather than a Go SDK issue - most other API's define both `x-ms-long-running-operation` and `x-ms-long-running-operation-options`, however it appears that this API only defines `x-ms-long-running-operation` for LRO's?

https://github.com/Azure/azure-rest-api-specs/blob/d8242e83bad59e45d5bb1dad769a185504f5fde3/specification/containerre

[2022-01-10 16:44] cghiban commented on #16695
Thanks, Not to be pushy, but do you have an estimate on when this is going to be fixed?

[2022-01-10 17:08] chlowell commented on #15923
That gets "DefaultAzureCredential" into the message, which helps but doesn't address "missing" credentials. This is the error message I get today from DefaultAzureCredential.GetToken:
[code]
If I believed I had set environment configuration, I'd wonder how managed identity and the CLI enter into it. With this issue I'm after something similar to the Python SDK's error, which looks like this:

[cod

[2022-01-10 17:14] JeffreyRichter commented on #15923
Can the error for EnvironmentCredential indicate exactly what env var name it is looking for?
Anything to help customers self-diagnose any issues is a significant improvement in customer satisfaction.

[2022-01-10 17:36] chlowell commented on #15923
It could, but such a message is unwieldy when no variables are set because the credential requires one of 3 sets of overlapping variables. When we last reviewed errors across languages we decided to link to the [troubleshooting guide](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azidentity/troubleshoot.md#troubleshoot-environment-credential-authentication-issues) instead (my Python exam

[2022-01-10 18:16] richardpark-msft commented on #16695
Sorry about that @cghiban, I had a larger PR that it was part of. I'll pull that out and see if I can merge a mini-version of it for this issue.

[2022-01-10 19:04] JeffreyRichter commented on #15923
The link is fine with me. Will you add it to the error message?

[2022-01-10 19:44] jhendrixMSFT opened #16786 "azblob house-keeping"
`azblob` is missing an autorest.md file for easy rebuilds.  There is `swagger/README.md` however it's incomplete.

- referenced branch is missing
- swagger reference must be a commit hash, not HEAD

In addition, this is using an old version of the code generator.

[2022-01-10 22:27] richardpark-msft opened #16788 "Azure Service Bus Commitments for GO (Jan-March 2022)"

[2022-01-10 22:55] josh-barker commented on #16388
@Alancere @lirenhe : when can recoveryservices backup stable 2021-07-01 be published?

[2022-01-11 00:32] sadasant commented on #15923
(Thank you so much for the feedback! I’m still catching up after resuming from the PTO. I’ll give a more detailed answer soon)

[2022-01-11 02:02] juliusl commented on #15042
@tombuildsstuff I don't see that defined for any other api in that document. Is delete supposed to be a special case?

[2022-01-11 02:43] juliusl commented on #15042
So I noticed for example, vmms has the same type of definition in their swagger spec,

https://github.com/Azure/azure-rest-api-specs/blob/88e7838a09868a51de3894114355c75929847a46/specification/compute/resource-manager/Microsoft.Compute/stable/2021-04-01/compute.json#L5445

and then in the corresponding go sdk model,

https://github.com/Azure/azure-sdk-for-go/blob/ec2ed6d8450ad53978efa96822bf9c9431

[2022-01-11 02:56] Alancere commented on #16388
@josh-barker Here is the recovery services backup https://github.com/Azure/azure-sdk-for-go/tree/main/services/recoveryservices/mgmt/2021-07-01/backup -track1, track2 released https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/recoveryservices/armrecoveryservicesbackup , but that is stabe package-2021-08-01 version

[2022-01-11 04:01] #16723 closed

[2022-01-11 05:19] jaisonjose89m opened #16791 "Metadata key case is changed while using BlobClient.GetProperties"
### Bug Report
- import path of package in question - "github.com/Azure/azure-sdk-for-go/sdk/storage/azblob" v0.2.0
- go version go1.17.5 darwin/amd64

- Issue
We have set a metadata for our block blob object during upload. Metadata set is `correlation_id` with value `D8681D0D-86D1-E91E-0016-7939CB6694D2`. (Note: Verified the metadata by connecting to the container using Azure storage explorer. It

[2022-01-11 08:02] #15835 closed

[2022-01-11 08:09] Kowiste opened #16792 "Use a token to connect to a container"
I'm trying to connect to a blobstorage using a token that I get like this:

`cred, err := azidentity.NewClientSecretCredential(tenantID, clientID, clientSecret, nil)`

I can use this function and see that return me a token:

`
policy := policy.TokenRequestOptions{
		Scopes: []string{clientID + "/.default"},
}
resp, err := ced.GetToken(context.Background(), policy)
`

In the program I call to this

[2022-01-11 09:23] favoretti commented on #15042
@juliusl from what I can see VMSS tests are passing successfully, so deletes are good there.

[2022-01-11 09:26] favoretti commented on #15042
Or actually... nevermind, it does fail as well:
[code]

[2022-01-11 15:14] #16658 closed

[2022-01-11 16:33] mjudeikis commented on #14915
This is still an issue if you want to keep your code consistent vendoring
You can Cluster using `ManagedClusters` client but if you want to list available versions of AKS RP you need `ContainerServicesClient` and so vendoring different version of clients

Its just bit messy. Would be really nice if AKS RP team could iterate on clients in the same group on the same pace and not like

[code]
As this

[2022-01-11 17:15] RickWinter opened #16796 "Revise Identity troubleshooting guide"
Create a troubleshooting document.
o	Review and update content for use by support agents

[2022-01-11 17:17] RickWinter opened #16797 "Azure Identity Commitments for GO (Jan-March 2022)"

[2022-01-11 18:41] kenieva commented on #16734
Hi @sthordall, thanks for bringing this up to our attention. I do have some clarifying questions? What representation are you trying to convert to? Also, does this work on other areas of Policy SDK?

[2022-01-11 18:53] #16268 closed

[2022-01-11 19:22] #16736 closed

[2022-01-11 21:34] RickWinter opened #16800 "Rename method and comment in azblob"
Not critical for this change, but this functional should be renamed.

_Originally posted by @RickWinter in https://github.com/Azure/azure-sdk-for-go/pull/16784#r782541958_

[2022-01-11 23:47] chlowell commented on #16792
Scopes are handled internally by clients, and `https://storage.azure.com/.default` is the only one for Azure Storage. I'm not so familiar with Storage (I'll assign someone who is) but that error suggests the problem is with authorization, that is to say the service principal isn't authorized to perform the operation.

[2022-01-11 23:50] zezha-msft commented on #16783
Hi @AsafMah, thanks for reaching out!

I took a look at your memory profile and it indeed looks like the sync pool is using more memory than expected.

Have you considered using `NewStaticBuffer` instead? It has a tight control on how much memory is used.

[2022-01-12 00:54] sadasant commented on #15923
@JeffreyRichter yes, the idea is to use aka links to point people to the troubleshooting guide! I can make the troubleshooting guide for go as part of this effort (copying other languages) 👍

[2022-01-12 01:00] chlowell commented on #6600
Closing this because there's nothing in it and it's been superseded by other epics

[2022-01-12 01:00] #6600 closed

[2022-01-12 01:06] chlowell commented on #6602
Closing this as complete, we've either implemented or decided not to implement each item

[2022-01-12 01:06] #6602 closed

[2022-01-12 08:02] #15702 closed

[2022-01-12 08:02] #15652 closed

[2022-01-12 08:02] #15229 closed

[2022-01-12 12:58] simongottschlag opened #16803 "Ability to change User-Agent for azkeys"
### Feature Request

Hi!

I've been trying to figure out how to set the User-Agent header for the new azkeys client: https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/keyvault/azkeys

With the previous client, it was possible using the following:
[code]

Is there a way to do this today that I am missing?

[2022-01-12 18:08] #16695 closed

[2022-01-12 18:31] maorleger opened #16811 "Key Vault for Go (March 2022)"

[2022-01-12 18:31] maorleger opened #16812 "Key Vault for Go (April 2022)"

[2022-01-12 21:53] zezha-msft commented on #16792
@Kowiste could you please make sure that you've assigned the right permissions to the service principal on the account? e.g. Storage Blob Data Contributor

[2022-01-12 21:59] thomasyip-msft opened #16816 "ContainerClient.GetSASToken doesn't allow list permission"
[https://github.com/Azure/azure-sdk-for-go/blob/16752c62d9ad97894169573d56c6c1f5133a5467/sdk/storage/azblob/zc_container_client.go#L220](url)
func (c ContainerClient) GetSASToken(permissions BlobSASPermissions, start time.Time, expiry time.Time) (SASQueryParameters, error)

Since this getSASToken is at the container level, it should use ContainerSASPermissions instead of BlobSASPermissions so that

[2022-01-12 22:46] zezha-msft commented on #16791
Hi @jaisonjose89m, thanks for reaching out!

That is unfortunately a known limitation caused by a combination of how the service implemented metadata and how the httpclient in Golang chooses to canonicalize HTTP headers.

The Storage service implemented metadata using HTTP headers, which are case-preserving. In other words, the casing given to the service would be sent back when you do a GET, but

[2022-01-13 00:43] juliusl commented on #15042
@tombuildsstuff @ArcturusZhang So it looks like this is a problem for any team that doesn't have that property.

Would it make sense for the sdk to default to a `x-ms-long-running-operation-options` during auto generation?

[2022-01-13 00:57] TheOnlyWei opened #16819 "Inconsistent Tenant Id requirements?"
### Bug Report

Adal requires "adfs" as tenant Id for an ADFS environment:
https://github.com/Azure/go-autorest/blob/a46566dfcbdc41e736295f94e9f690ceaf50094a/autorest/adal/config.go#L49

Keyvault only allows tenant UUID as tenant Id for an ADFS environment:
https://github.com/Azure/azure-sdk-for-go/blob/292117ae0883b3b8a8b2e2a06648e7ef09edc99e/services/keyvault/mgmt/2019-09-01/keyvault/models.go#L

[2022-01-13 02:20] TheOnlyWei opened #16820 "Error Creating Key Vault For Azure Stack ADFS Environment"
### Bug Report

Error thrown from here:
https://github.com/Azure/azure-sdk-for-go/blob/292117ae0883b3b8a8b2e2a06648e7ef09edc99e/services/keyvault/mgmt/2019-09-01/keyvault/vaults.go#L186

Error:
[code]

go.mod file:
[code]
Golang version: go1.17.6

The error above occurred when creating Key Vault in Azure Stack ADFS environment. I used the tenant UUID as the tenant Id. Usually for ADFS environments

[2022-01-13 08:02] #13946 closed

[2022-01-13 08:02] #13665 closed

[2022-01-13 08:02] #12342 closed

[2022-01-13 08:02] #11574 closed

[2022-01-13 08:02] #11475 closed

[2022-01-13 08:02] #10975 closed

[2022-01-13 08:02] #10712 closed

[2022-01-13 08:31] jaisonjose89m commented on #16791
Thanks @zezha-msft
We will be handling the metadata in a case-insensitive way. Hence closing the incident.

[2022-01-13 08:31] #16791 closed

[2022-01-13 10:40] balann opened #16826 "No azure-sdk-for-go Support Found for Azure Automation Service with Version '2021-06-22'"
### Service Package Request

Unable to find the azure-sdk-for-go support for Azure Automation Service with version '2021-06-22'.
https://github.com/Azure/azure-sdk-for-go/tree/main/services/automation/mgmt
Latest version available is 2019-06-01 which lacks few properties in the SDK.

[2022-01-13 15:11] ryepup commented on #15610
My team is working on a servicebus integration, and running into a problem differentiating recoverable and unrecoverable errors.

Specifically we're writing a function to ensure a topic is defined, calling `GetTopic` to see if it exists, and a `CreateTopic` if needed. We're not seeing an official way to differentiate between recoverable "topic not found" errors and unrecoverable network errors.

[

[2022-01-13 15:26] jhendrixMSFT commented on #16803
It is a bit different in the new SDKs.  The general pattern is that the clients are created with mandatory/optional params and are then immutable.

When creating the client, the [`ClientOptions`](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/azcore@v0.21.0/policy#ClientOptions) allows you to specify an `ApplicationID` in the [`TelemetryOptions`](https://pkg.go.dev/github.com/Azure/azure

[2022-01-13 15:27] jhendrixMSFT commented on #16800
This was done as part of the pending v0.3.0 release.

[2022-01-13 15:27] #16800 closed

[2022-01-13 16:02] mohsha-msft commented on #16816
@thomasyip-msft ,

Thanks for reaching out! You're right. I'll fix the issue and we'll try include this in the upcoming release

[2022-01-13 17:19] RickWinter commented on #16826
The latest service is available in beta based on the new sdk design guidelines.
https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/automation/armautomation

[2022-01-13 17:21] RickWinter commented on #16820
Have you tried your code with the latest resource manager sdks?
https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/keyvault/armkeyvault

[2022-01-13 17:25] RickWinter commented on #16819
We are in the process of updating all the resource manager SDKs in Go.  These are standardized on the azIdentity module for authentication.
https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/keyvault/armkeyvault

[2022-01-13 17:38] jhendrixMSFT commented on #16722
This is about `azblob`.  The bug report template wasn't completed.

[2022-01-13 18:24] TheOnlyWei commented on #16820
Hi @RickWinter, we usually don't use the latest SDK resource manager versions for Azure Stack. Profile versions are used for Azure Stack according to this documentation:
https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-version-profiles-go?view=azs-2108

[2022-01-13 18:35] TheOnlyWei commented on #16819
Hi @RickWinter, Azure Stack uses Profiles versions:
https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-version-profiles-go?view=azs-2108

[2022-01-13 19:00] #16640 closed

[2022-01-13 19:47] richardpark-msft commented on #15610
@ryepup, I'll need to look at it a bit more. The admin client could use some more work to get it consistent with how the rest of the Azure SDK's http based clients work, which should involve exporting a standard error type to look at the HTTP resp and status code, directly.

[2022-01-13 21:50] simongottschlag commented on #16803
@jhendrixMSFT thanks! I was in there looking, but didn't figure out that the ApplicationID was related to the User-Agent. 😊👍

[2022-01-13 21:50] #16803 closed

[2022-01-13 21:55] jhendrixMSFT commented on #16803
Good point.  I've opened a PR to clarify the doc string.

[2022-01-13 23:23] jhendrixMSFT commented on #15042
Setting env var `AZURE_GO_SDK_LOG_LEVEL` to `debug` is the best way to debug LROs as you can see all the HTTP requests and responses.

@juliusl it looks to me that the behavior for delete here is non-conformant.

Here's the last successful poll on the Location header (I've omitted some content for brevity).

[code]

Note that the LRO status is non-terminal `Deleting`.  Now we poll again.

[code]

[2022-01-14 00:35] jhendrixMSFT opened #16830 "Add support for profiles"
Investigate adding profile support to track 2.  Ideally this would be based on resource type, not resource provider like we did in track 1.

cc: @kimprice @mikekistler

[2022-01-14 02:25] sadasant commented on #15923
So, I think linking to the troubleshooting guidelines is something I can do right after resolving this specific issue. In that regard, I have a question:

- Is there an issue regrading what’s missing to align Go with other languages on the usage of the troubleshooting guideline for Identity?

Besides that, I have improved my previous attempt taking in consideration the example that @chlowell share

[2022-01-14 03:28] lirenhe commented on #15895
Close this for MQ.

[2022-01-14 03:28] #15895 closed

[2022-01-14 03:46] lirenhe commented on #16240
@Coffee-007, sorry for the late reply. It seems to be a feature request for the service instead of a bug in the SDK.
So could you post your questions in https://docs.microsoft.com/en-us/answers/topics/azure-sentinel.html directly?

[2022-01-14 03:51] lirenhe commented on #16528
Close this item as there is no further action on the SDK side. We are waiting for a stable api version for SDK generation

[2022-01-14 03:51] #16528 closed

[2022-01-14 05:21] tadelesh commented on #16819
@TheOnlyWei As the related issue discussed, it can be more user friendly if we consolidate the type of tenant in keyvault and auth. But I think it will not block user as we can also pass uuid to the auth method for ad treat them as the same, right? As we are working on the new version of the go sdk, the change for the old version may be low priority. @jhendrixMSFT What do you think?

[2022-01-14 05:24] tadelesh commented on #16820
Related with this [issue](https://github.com/Azure/azure-sdk-for-go/issues/16819).

[2022-01-14 08:02] #16371 closed

[2022-01-14 10:17] tombuildsstuff commented on #16528
@lirenhe where is that request tracked?

[2022-01-14 16:52] chlowell commented on #15923
#16796 tracks any content revisions to help support agents onboard. There's no issue tracking linking to the guide in error messages.

Looks reasonable but let's not add any public API, e.g. `ChainedTokenCredentialOptions.ChainedCredentialName`

[2022-01-14 19:21] chlowell commented on #16296
Thanks for opening this! The authentication content in the wiki has been superseded by package docs and the [Azure SDK for Go docs](https://docs.microsoft.com/azure/developer/go/azure-sdk-authentication). I replaced it with a notice to that effect. The updated example you're looking for is in the package docs: https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/azidentity#example-NewClientCer

[2022-01-14 19:21] #16296 closed

[2022-01-14 19:33] richardpark-msft commented on #15678
Just to refresh this discussion a bit, we'll probably remove our direct dependency on 'tab' and just create a light pluggable abstraction, similar to what we provide in `github.com/Azure/azure-sdk-for-go/sdk/azcore/log`.

[2022-01-14 19:37] TheOnlyWei commented on #16819
@tadelesh, yes I agree it is more user friendly if we just used the UUID, but that is not the case currently. But when I pass the UUID as tenant ID, I get error described here:
https://github.com/Azure/azure-sdk-for-go/issues/16820

Note that obviously I cannot pass "adfs" as `TenantID *uuid.UUID` because of type mismatch. But I am not sure if the error is caused by a different issue.

[2022-01-14 21:09] #15676 closed

[2022-01-14 21:12] #15588 closed

[2022-01-14 22:09] heaths opened #16841 "Key Vault for Go (February 2022)"

[2022-01-14 22:10] heaths opened #16842 "Regenerate, make sure immutable property is added"
Now that https://github.com/Azure/azure-rest-api-specs/pull/17270 has been merged for 7.3-preview, please regenerate and make sure that the `immutable` property has been correctly added.

Testing might include setting a release policy and marking immutable `true`, then trying to change or remove the release policy which should err.

[2022-01-14 22:50] deiter commented on #16679
Hello,

I have the same issue. Could you please review my fix:
[code]

and the blob properties is:
[code]

Thank you!

[2022-01-14 22:58] sadasant opened #16843 "[Identity] Add references to the troubleshooting guide on the error messages"
In other languages, the Identity clients point to each language’s troubleshooting guide on the errors. We should do the same in Go.

We also should take this opportunity to ensure that Go throws a similar set of errors as of other languages.

[2022-01-14 22:58] sadasant commented on #15923
I have made a new issue! https://github.com/Azure/azure-sdk-for-go/issues/16843 If that helps 🙂

[2022-01-14 23:00] sadasant commented on #15923
@chlowell I have made a PR 🙂 https://github.com/Azure/azure-sdk-for-go/pull/16844

[2022-01-14 23:07] JeffreyRichter commented on #15678
Whatever happened to the tracing design we discussed?
Did this ever get prioritized and assigned to anyone?

[2022-01-15 00:52] deiter commented on #16679
And of course we can decode `base64` to `[]byte`:
[code]

[2022-01-15 01:16] ronsun8 opened #16845 "Unable to use graph on AzureGovernment tenant"
### Bug Report

- ./github.com/microsoftgraph/msgraph-beta-sdk-go/graph_service_client.go
- graph sdk ## [0.4.2] - 2021-12-07
- azidentity ## 0.12.0 (2021-11-02)
- go version go1.16.2 darwin/amd64

I'm on a gov azure tenant and I'm unable to use `result, err := client.ServicePrincipals().Get(nil)`

I'm explicitly declaring `AuthorityHost: azidentity.AzureGovernment` but the error message says the

[2022-01-15 08:02] #8083 closed

[2022-01-17 02:27] tadelesh commented on #16820
@TheOnlyWei It seems related to auth progress. Could you please paste the auth code here?

[2022-01-17 03:46] ArthurMa1978 commented on #15895
65 open issues

[2022-01-17 06:59] lirenhe commented on #16826
@balann, please let us know if the above package could meet your requirement. Thanks.

[2022-01-17 07:41] Kowiste commented on #16792
Thanks @zezha-msft, I just check with the dev ops, we change the role for the app to contributor but it still give the same error. I can have a token with  azidentity.NewClientSecretCredential . I use it  in azblob.NewContainerClient and with the client when try to write I have the same error.

[2022-01-17 09:00] lirenhe commented on #16528
I created https://github.com/Azure/azure-rest-api-specs/issues/17376 to track the request.

[2022-01-17 09:19] #16401 closed

[2022-01-17 10:01] benjamin37 commented on #16192
@ArcturusZhang Any news on that? Would really like to have API version `2021-05-01-preview` of `diagnosticsettings` in the azure-sdk-for-go to add `categoryGroup` in the regarding terraform provider resource, see https://github.com/hashicorp/terraform-provider-azurerm/issues/14333

[2022-01-17 11:45] sthordall commented on #16734
Hi @kenieva.

Can you clarify what you mean with representation conversion? I experience the error, just by calling the SDK.

I've experienced the same error with Policy Definitions; I haven't tried the rest.

[2022-01-17 14:57] balann commented on #16826
@lirenhe  above package is having the latest properties, but when I tried updating the azure sdk for go(v61.1.0+incompatible) from IDE it is not showing this path inside sdk folder. I could find only the data folder inside sdk. With latest available azure sdk version (v61.2.0+incompatible)  the sdk folder itself is not there.

[2022-01-17 18:31] TheOnlyWei commented on #16820
@tadelesh The auth is also in the sample:
Getting Key Vault Client
https://github.com/Azure-Samples/Hybrid-Golang-Samples/blob/03824a553017f2e3dbc63c3b498ad20a2888896e/keyvault/hybridkeyvault/keyvault.go#L21

Getting Token
https://github.com/Azure-Samples/Hybrid-Golang-Samples/blob/03824a553017f2e3dbc63c3b498ad20a2888896e/keyvault/iam/oath.go#L28

[2022-01-18 05:09] tadelesh commented on #16820
@TheOnlyWei Have you tried to use "adfs" to check whether the token fresh step is success?

[2022-01-18 07:25] t-bzhan commented on #15914
Released: https://github.com/Azure/azure-sdk-for-go/releases/tag/v60.3.0

[2022-01-18 14:24] ryepup commented on #15610
@richardpark-msft  including a status code would be great

[2022-01-18 18:53] TheOnlyWei commented on #16820
@tadelesh that is what I am using.

https://github.com/Azure-Samples/Hybrid-Golang-Samples/blob/03824a553017f2e3dbc63c3b498ad20a2888896e/keyvault/app.go#L59

[2022-01-18 19:28] TheOnlyWei commented on #16820
@tadelesh Seems passing "adfs" as tenant ID resolved the issue. So for that function I needed both versions of tenant ID, the "adfs" string and the tenant UUID. Still not sure why we need both versions, which is related to the issue https://github.com/Azure/azure-sdk-for-go/issues/16819.

https://github.com/Azure-Samples/Hybrid-Golang-Samples/blob/80fc40684cc0b4c0ede358cbc2872b67b53c679c/keyvault/

[2022-01-18 19:46] JeffreyRichter opened #16854 "Review for renaming of stuttering collision of GO track2 SDK"
I think as part of this exercise we’ll need to distill what exactly that guideline is.  We don’t have one in place as originally we weren’t planning on removing stuttering.

I need to look at these in more detail, but my knee-jerk is that we shouldn’t be renaming the ones where the names had stuttering removed.  i.e. ‘DataBoxJobDetails’ => ‘JobDetails’ should remain ‘JobDetails’ so that its fully

[2022-01-18 19:48] JeffreyRichter opened #16855 "Consider a way to prevent enum values from being at the top level of a package"
Maybe use Jeff's enum package or @jhendrixMSFT might have an idea with generics.

[2022-01-18 20:17] #15914 closed

[2022-01-18 20:23] Robert-Stam commented on #14915
Imo the issue isn’t solved, please let me know which API I need to call to the supported K8s version as the latest ContainerServiceClient doesn’t support it anymore, and the ManagedClusterClient never supported this. I see this as regression.

[2022-01-18 21:51] zezha-msft commented on #16792
@Kowiste I don't think the Contributor is the correct one. Please try "Storage Blob Data Contributor" instead.

Useful reading: https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-app?tabs=dotnet#assign-a-role-to-an-azure-ad-security-principal

[2022-01-19 02:14] ronsun8 commented on #16845
Had to update the following line `azure.NewAzureIdentityAuthenticationProviderWithScopes(cred, []string{})` to `azure.NewAzureIdentityAuthenticationProviderWithScopes(cred, []string{"https://graph.microsoft.us/.default"})`

Thanks Vincent Biret!

[2022-01-19 02:14] #16845 closed

[2022-01-19 02:29] tadelesh commented on #16820
@TheOnlyWei Thanks for the feedback. We may continue with the discussion of discrepancy at [#16819](https://github.com/Azure/azure-sdk-for-go/issues/16819).

[2022-01-19 02:29] #16820 closed

[2022-01-19 02:34] tadelesh commented on #16819
@jhendrixMSFT From the issue [#16820](https://github.com/Azure/azure-sdk-for-go/issues/16820) solution, it seems customer need to use different value of TenantID when doing auth or calling key vault operation if using `adfs` auth method for azure stack. Is it by design as it may cause some misleading?

[2022-01-19 10:38] rajlearner17 commented on #14509
Is there any progress for this?

[2022-01-19 16:30] jhendrixMSFT commented on #16819
`TenantID` is generated as a `UUID` as that's what the swagger specifies.

https://github.com/Azure/azure-rest-api-specs/blob/main/specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/keyvault.json#L1244-L1248

At this point, I think somebody from the service team needs to chime in about this.

[2022-01-19 17:19] RickWinter commented on #16819
attn: @RandalliLama , @schaabs , @jlichwa

[2022-01-19 17:47] seankane-msft opened #16856 "[KeyVault] Change `map[string]*string` to `map[string]string`"
Needed in `azkeys`

[2022-01-19 22:52] #16797 closed

[2022-01-19 23:15] richardpark-msft commented on #16164
This was fixed in https://github.com/Azure/azure-sdk-for-go/pull/16790. Closing.

[2022-01-19 23:15] #16164 closed

[2022-01-20 00:47] richardpark-msft commented on #15642
The dependency on backoff will be gone in PR#16831.

For the most part the retries are all using the same retry counts and retry algorithm except for cbs.NegotiateClaim(), which is still using the RetryableRPC() function. I'll create a separate issue to track that much smaller amount of work. Since there's no persistent state for the individual links between calls it's slightly less important than

[2022-01-20 00:51] jhendrixMSFT commented on #16855
Current thinking is to expose enum values as methods on the enum type.  We'd then export a constant for easy access.
[code]
Consumers we access the values via `IntEnumVals` (how to name these constants is still being discussed).
[code]

[2022-01-20 00:56] richardpark-msft opened #16860 "[azservicebus] Fix cbs.negotiateClaim()"
cbs.NegotiateClaim() (from the `sdk/messaging/internal` package) needs some work, to simplify it and make it cooperate better with the rest of the code in azservicebus.

Here are some bits we can fix:
- [x] It uses the older RetryableRPC() mechanism, rather than the newer internal.Retry() from azservicebus. This means it's using a different algorithm and it also stringizes the returned errors. Fix

[2022-01-20 00:57] richardpark-msft commented on #15642
Issue filed to track further cbs.NegotiateClaim() work: https://github.com/Azure/azure-sdk-for-go/issues/16860

[2022-01-20 00:59] jhendrixMSFT commented on #16854
The guiding principle should be that the type that was renamed to not stutter should _not_ further be renamed to avoid a name collision.

Using DataBoxEdge as the example, there are types "DataBoxEdgeSku" and "Sku".  The former type is renamed to "Sku" to avoid stuttering which collides with the preexisting "Sku" type.  To avoid the collision, the preexisting "Sku" type should be appropriately ren

[2022-01-20 01:01] richardpark-msft commented on #15091
We need a bug fix for this to work in the Go repo, to configure the Docker build folder: https://github.com/Azure/azure-sdk-tools/issues/2569

[2022-01-20 01:13] richardpark-msft commented on #15736
The panic was likely a result of a bad lock check around the management link recovery, which we fixed in https://github.com/Azure/azure-sdk-for-go/pull/16790.

[2022-01-20 01:53] dmoeff commented on #8399
Any update on this feature request?

[2022-01-20 04:16] chunyu3 opened #16863 "Move 'codegen_to_sdk_config.json' to eng folder"

[2022-01-20 04:17] chunyu3 commented on #16863
Follow up of https://github.com/Azure/azure-sdk-for-go/pull/16782

[2022-01-20 05:17] ArcturusZhang commented on #16826
Hi @balann sorry for the confusion here, our SDK is moving to a next generation which introduces new designed APIs under the `sdk` directory.
You could try it by using this command to install:
[code]
The new generation of the SDK is versioned individually one for one RP.
Since the new generation of the SDK is using a new API to authenticate, and if you still want to use our old SDK version under t

[2022-01-20 05:33] Alancere commented on #15020
released in https://github.com/Azure/azure-sdk-for-go/tree/main/services/preview/automation/mgmt/2020-01-13-preview/automation

[2022-01-20 05:33] #15020 closed

[2022-01-20 06:38] ArcturusZhang commented on #16192
Let me follow up with someone from the monitor team. We are planning to solve the messy swagger of monitor recently. Stay tuned

[2022-01-20 07:43] tadelesh commented on #16854
Update for the renaming:

**cdn**
directive:
- rename-model:
    from: 'CdnEndpoint'
    to: 'LinkedEndpoint'

**databox**
directive:
- rename-model:
    from: 'JobDetails'
    to: 'BaseJobDetails'
- rename-model:
    from: 'JobSecrets'
    to: 'BaseJobSecrets'
- rename-model:
    from: 'ScheduleAvailabilityRequest'
    to: 'BaseScheduleAvailabilityRequest'

**databoxedge**
directive:
- rename-mod

[2022-01-20 10:28] tadelesh commented on #16715
@vijayrajah We've released the 0.3.0 version of `armresourcegraph` which has resolved this issue. Could you please upgrade your dependency? Thanks.

[2022-01-20 10:28] tadelesh commented on #16734
@sthordall We've released the 0.3.0 version of `armpolicy` which has resolved this issue. Could you please upgrade your dependency? Thanks.

[2022-01-20 13:39] yoannMoreau opened #16871 "[Azure.AzBlob] UploadBufferToBlockBlob InvalidHeaderValue"
### Bug Report

"github.com/Azure/azure-sdk-for-go/sdk/storage/azblob"

Go.mod
github.com/Azure/azure-sdk-for-go/sdk/storage/azblob v0.2.0

Go version
go version go1.16.13 linux/amd64

- What happened?

I try to upload a file using SAS token.

[code]

I've no problem to download element from container. Despite I get those erreur when trying to upload

===== RESPONSE ERROR (ErrorCode=InvalidHeaderV

[2022-01-20 13:51] asergaz commented on #8399
The feature is here and you can vote for it: https://feedback.azure.com/d365community/idea/4c9766ab-f924-ec11-b6e6-000d3a4f0da0

[2022-01-20 16:29] RickWinter opened #16872 "Should pageable operations return a Response/error like non-pageable operations"
It’s an interesting point, and comes at a good time as we’re thinking about making some slight changes to the Pager types.

I was going to say that changing an operation from non-paged to paged is a breaking change.  But I suppose it doesn’t have to be.

I assume this is the case where some swagger forgot to annotate the operation as x-ms-pageable so it only returns the first page?  Or are there o

[2022-01-20 16:38] jhendrixMSFT commented on #16872
One downside I see is that this adds some complexity to the calling code as you now have to handle the error in two places.
[code]

[2022-01-20 17:07] seankane-msft opened #16873 "[Tables] Arch Board for Tables"
Final step before GA release. This will happen after the GA of `azcore` with generics.

[2022-01-20 17:14] #16856 closed

[2022-01-20 19:25] grzn commented on #15108
Hi @jhendrixMSFT , do you have an updated on this for us?

[2022-01-20 20:19] yoannMoreau commented on #16871
All my sincere apologized.
I was testing https://xxx.**file**.core.windows.net VS https://xxx.**blob**.core.windows.net

I close that issue with hope it could help someone distracted has I am!

Best regards team!

[2022-01-20 20:19] #16871 closed

[2022-01-20 21:27] JeffreyRichter commented on #16872
It is breaking for a non-pageable operation to change to pageable. Azure services should never do this. Having a different programming model pattern IS desired because it is different. LROs also have a different programming model and this is also desired.

[2022-01-20 23:35] JeffreyRichter commented on #16872
Also, we don't want 2 errors to deal with.

[2022-01-20 23:38] josh-barker commented on #16388
I've been able to use track1.

Thanks @Alancere ! 🚀

[2022-01-20 23:38] #16388 closed

[2022-01-21 00:01] jhendrixMSFT opened #16874 "LRO responses are not mockable"
The fact that we mix exported fields and methods makes it very difficult to mock LRO responses.

[2022-01-21 00:06] jhendrixMSFT opened #16875 "Improve Pager implementation"
Pager is currently following the pattern from scanner in the standard library which is suboptimal.  Here's the suggested changes.

[code]

The removes the `Err() error` method, combining its behavior into `NextPage()` which now returns the error.  It also moves the check for more pages to `More()`.

[2022-01-21 00:36] jhendrixMSFT opened #16877 "Move models and responses into their own sub-packages"
In an effort to reduce the number of symbols in the root package namespace, we could move the response and model types into their own sub-packages.

- Response/result types would move to the `responses` package.
- Constants and models would move to the `types` package.

A complete prototype can be found [here](https://github.com/jhendrixMSFT/autorest.go/tree/track2_refactor/test/autorest/extenumsg

[2022-01-21 02:40] tadelesh opened #16879 "Add automation to upgrade codegen/testgen version"
### Feature Request

Adding some automation that will submit a PR to increment codegen/testgen version in eng scripts whenever a new version is published

[2022-01-21 02:49] tadelesh commented on #16734
@sthordall We've released the 0.3.0 version of armpolicy which has resolved this issue. Could you please upgrade your dependency? Thanks.

[2022-01-21 06:07] juliusl commented on #15042
@jhendrixMSFT That 404 that is coming from ARM itself. If you notice the Location URL is:

` https://management.azure.com/subscriptions/6d3860f6-8a11-431d-b3fa-1b3c4a8b888a/resourceGroups/jhendrixtest1/providers/Microsoft.ContainerRegistry/registries/jhendrixacr2/agentPools/jhendrixpool1/operationResults/92110f9b-3ad7-4132-a6ae-164c77a8e178?api-version=2019-06-01-preview`

which is under

`https:/

[2022-01-21 06:42] juliusl commented on #15042
@jhendrixMSFT One thing that still doesn't make sense, from your logs you're getting a 404, and from @favoretti's code he's calling `response.WasNotFound` on the error that's coming back from WaitForCompletionRef.

https://github.com/hashicorp/terraform-provider-azurerm/pull/14790/files#diff-f6764132d0fc067d88469fea293e2010a129184291d121243d34695fe39c2e77R253

Which specifically is checking the er

[2022-01-21 11:11] kaovd commented on #14800
@dosegal  @magodo
If I am correct this is released ? https://github.com/Azure/azure-sdk-for-go/tree/main/services/preview/securityinsight/mgmt/2021-09-01-preview/securityinsight

[2022-01-21 15:22] jhendrixMSFT commented on #16854
This has been resolved.

[2022-01-21 15:22] #16854 closed

[2022-01-21 15:46] seankane-msft opened #16893 "[KeyVault] `DownloadCertificate` helper method"
Consider adding a `Client.DownloadCertificate` method that is a helper which downloads the entire certificate and returns a `*x509.Certificate`

.NET Example: https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs#L299-L342

[2022-01-21 17:01] weshaggard commented on #16879
As a reference the autorest.csharp update happens as part of their release pipeline https://github.com/Azure/autorest.csharp/blob/feature/v3/eng/pipelines/build.yml#L129.

[2022-01-21 18:47] jhendrixMSFT commented on #16830
Sketching out an implementation (not comprehensive but conveys the general pattern).
[code]

[2022-01-21 19:02] jhendrixMSFT commented on #16830
One problem I see is for the data-plane packages (key vault and blob storage).  Our data-plane packages typically have a hand-written convenience layer on top of the generated code.  Scaling this to all profiles isn't sustainable.  For key vault, we could probably get away with a 100% codegen solution, although it would mean that the profile versions of key vault would have a slightly different AP

[2022-01-21 20:13] #10567 closed

[2022-01-22 00:52] richardpark-msft opened #16896 "[azservicebus] Cleanup and remove differentiated errors"
There are some error types that can be culled from errors.go as they're not really used internally for anything useful (mostly they're just used to format nice error strings):
- ErrMalformedMessage
- ErrMissingField
- ErrIncorrectType
- ErrAMQP
- ErrNoMessages
- ErrNotFound
- ErrConnectionClosed

We do generically have `ErrNonRetriable` internally to flag certain scenarios but otherwise we can eli

[2022-01-22 01:38] richardpark-msft opened #16897 "[azservicebus] Improve logging quality"
I've added/swapped out logging to the Azure logger, which means we have slightly less context at each logging site.

For instance, here, we don't have a link ID or something similar to identify if it's a single link restarting or the _same_ link restarting each time:

[code]

In other spots we should just make a distinction between a normal occurrence and an error:

[code]

[2022-01-22 01:38] richardpark-msft commented on #16897
(typical usage of the azservicebus library isn't going to involvea lot of parallel receivers/senders so this isn't urgent for release, but it's a nice to have in some of our artificial stress scenarios)

[2022-01-22 20:17] taljundi opened #16898 "2022/01/22 21:06:26 MSI not available"
### Bug Report

- import path of package in question:
[code]

[2022-01-23 04:50] bganapa commented on #16830
Current AzureStack SDKs have resource types that are not supported in the AzureStack cloud.  Main reason being autorest generates based on the input files given. Core resource providers like compute has not split the swagger files in to per resource type  files. However wherever possible, we include only the resource types supported while generating the SDK. e.g Network has per resource type files

[2022-01-24 05:06] magodo commented on #14800
@kaovd Yes, I've submit a PR to upgrade the API version of sentinel for Terraform: https://github.com/hashicorp/terraform-provider-azurerm/pull/14983

[2022-01-24 15:26] jhendrixMSFT commented on #16898
`auth.NewAuthorizerFromEnvironment()` will look for either your Azure CLI installation or certain environment variables to create an authorizer.  If it can't find either of those it will fall back to using Azure Managed Service Identity for authorization (works on Azure VMs only).  See the [doc comments](https://github.com/Azure/go-autorest/blob/master/autorest/azure/auth/auth.go#L59-L63) for more

[2022-01-24 15:31] whati001 commented on #16295
I have faced the same issue when executing the sample code from the README.md
Pulling the dev release `go get github.com/Azure/azure-sdk-for-go/sdk/storage/azblob@dev-azblob`fixed the issue for me. Is there already a date fixed when this fix will be merged into the official release?

[2022-01-24 21:13] jhendrixMSFT commented on #16855
Other option would be to move the const types and their values into a sub-package.  This would have to be done along-side the models.

[2022-01-24 21:15] juliusl commented on #15042
@favoretti got it, so that's probably why jhendrix might've not run into the error.

Well in any case, from my side I'm currently in the process of adding a new api to our RP for the operation result polling. It will take a bit to deploy, but it should fix the 404. I'm crossing my fingers that it will address your issue as well.

For now, have you considered adding a 5-min grace period whenever th

[2022-01-24 22:00] favoretti commented on #15042
Thanks! I'll try adding a sleep to see if that helps. Not ideal of course.

[2022-01-24 22:44] adamyager opened #16909 "[Redis Cache] Managed Identity Support for Service and backups"
### Feature Request
Now that Redis Support Managed Identity, we need to be able to configure this via the API. In addition, and part of this, the persistence feature today can only use storage account keys via the API but can now leverage the same managed identity
There are other benefits in the release below.

[2022-01-24 22:48] juliusl commented on #15042
@favoretti Another thing I thought of, I could try testing my changes w/ Terraform but I'm not too familiar with Terraform. Is it pretty straightforward to run the conformance tests on my own?

[2022-01-24 22:58] favoretti commented on #15042
Not too difficult. Clone provider, check out my PR branch, set a few env vars and run a command. I am not at my computer now, but I can add a set of commands for you tomorrow?

[2022-01-24 23:08] juliusl commented on #15042
@favoretti That would be much appreciated thanks 🙏

[2022-01-25 05:34] mikekistler commented on #16855
I like the "type per enum" idea, but here are a few things to consider:

- This doesn't address plain old consts. In the azblob package, the majority (8 of 15) const values fall into this category.  So for azblob, the "type per enum" approach would only reduce the number of top-level symbols from 15 to 14.  Maybe that's okay, because in other packages we'll get big wins, but I thought it was worth

[2022-01-25 05:41] MartinForReal opened #16914 "Azure storage account list result return empty when object is marshalled"
Bug report

following function should be removed.

https://github.com/Azure/azure-sdk-for-go/blob/7327e7c8961c371a6bcb300bda711717e9f00cb6/services/storage/mgmt/2019-06-01/storage/models.go#L336-L339

[2022-01-25 08:02] #16397 closed

[2022-01-25 08:22] sthordall commented on #16734
I can confirm that it works as expected on version 0.3.0. Thanks!

[2022-01-25 08:22] #16734 closed

[2022-01-25 08:59] MartinForReal commented on #16914
checked release note and found following comments:
https://github.com/Azure/azure-sdk-for-go/blob/main/CHANGELOG.md#v5500

[2022-01-25 09:56] andrholt opened #16915 "[azservicebus] Possibility for setting retryOptions when creating a new sender"
I encounter a problem if the sender has been idle for > 10 minutes, then the link recovery and message sending will take ~5 seconds, which is a long time. My suspect is that the default retryDelay is set to 4 seconds. NewSenderOptions is currently empty, it should be possible to set retryOptions when creating a new sender.

[2022-01-25 10:45] andrholt commented on #16915
I see that this issue is solved in [#16831](https://github.com/Azure/azure-sdk-for-go/pull/16831)

[2022-01-25 11:59] tadelesh commented on #16914
@MartinForReal Yes, it is by design. As all the result param is read-only, it will marshal to an empty object when doing request.

[2022-01-25 14:13] alexg-axis opened #16916 "azblob - implement UserDelegationCredential"
### Feature Request

This feature request is for the "new" `azblob` package.

#### Background

In order to create a SAS token, one uses the `azblob.BlobSASSignatureValues.NewSASQueryParameters` function:

https://github.com/Azure/azure-sdk-for-go/blob/8c965f7cbb93f9fdf1fec8df5416f193e0bd465e/sdk/storage/azblob/zc_sas_service.go#L33-L36

It specifies that it is compatible with `UserDelegationCreden

[2022-01-25 20:12] zezha-msft commented on #16781
@mohsha-msft I believe a relevant change just happened but it's not released yet, does it address this issue?

[2022-01-25 20:12] #15170 closed

[2022-01-25 20:12] #15610 closed

[2022-01-25 20:12] #15642 closed

[2022-01-25 20:12] #15644 closed

[2022-01-25 21:55] taljundi commented on #16898
Thanks @jhendrixMSFT !  it didn't occur to me that MSI stands for managed system identity, nor that it is coming from `auth.NewAuthorizerFromEnvironment()`.

Nevertheless, I am logged in with `az login`, and `az account get-access-token` shows the token and the same subscriptionId I defined as an environment variable in here:

`subscriptionID := os.Getenv("AZURE_SUB_ID")`, any idea why it is not d

[2022-01-25 21:57] richardpark-msft commented on #16855
Even if we do the `function enums` could we still put them into a sub package? That would at least keep them from being at the "top level types" area, which would be nice but since we wouldn't have to have a sub-package per enum it wouldn't be too horrible.

Also, if we call the subpackage 'enum' or similar we wouldn't need to suffix each thing with enum.

[2022-01-25 22:02] jhendrixMSFT commented on #16855
We could, and if fact I have a prototype of that [here](https://github.com/jhendrixMSFT/autorest.go/tree/track2_refactor/test/autorest/extenumsgroup).  This was the next thing on the list to discuss once we landed on our enums design.

[2022-01-25 22:05] jhendrixMSFT commented on #16898
Sorry I misspoke earlier.  `NewAuthorizerFromEnvironment()` will not attempt to use the CLI.  For that, you have to call [`auth.NewAuthorizerFromCLI`](https://github.com/Azure/go-autorest/blob/master/autorest/azure/auth/auth.go#L281).

[2022-01-26 01:48] tadelesh commented on #16914
@MartinForReal Does this change block your upgrade? I guess you want to marshal it completely in your own code instead of we try to ignore all the read-only param in the SDK request.

[2022-01-26 02:04] MartinForReal commented on #16914
yes. It's blocking my upgrade.

[2022-01-26 08:02] #4829 closed

[2022-01-26 09:10] #16898 closed

[2022-01-26 09:28] bcho opened #16920 "azblob: wrong example in error casting for StorageError"
### Bug Report

- import path of package in question:`.../sdk/storage/azblob`
- SDK version: `main`
- output of `go version`: `go version go1.17.3 darwin/amd64`

- What happened?

In [zt_examples_test](https://github.com/Azure/azure-sdk-for-go/blob/916bcb2ef21f111dfde135817e902f9f0116cd3e/sdk/storage/azblob/zt_examples_test.go#L183), the doc states that we can extract the `StorageError` from respo

[2022-01-26 12:30] MartinForReal commented on #16914
I cherrypicked a workround and get pr merged.
Thanks for following up. @tadelesh

[2022-01-26 19:46] peterzeller opened #16923 "[azservicebus] panic in ReceiveMessages on context timeout (invalid memory address or nil pointer dereference)"
### Bug Report

- import path of package in question: ``"github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus"`
- SDK version (from Go.mod):

[code]

- output of `go version`: `go version go1.17.3 linux/amd64`

- What happened?

I call `ReceiveMessages(ctx, 95, &azservicebus.ReceiveMessagesOptions{})` and get the following panic:

[code]

- How can we reproduce it?

The error seems to happ

[2022-01-26 19:57] richardpark-msft opened #16924 "[azservicebus] Update nhooyr/websocket once it moves to the next rev (test dep only)"
We use the nhooyr/websocket package as part of our examples/tests (only). It needs to update to the latest gin-gonic for a security update, which is getting flagged on our side by dependabot. Once this PR merges we should be okay to update:

https://github.com/nhooyr/websocket/pull/310

[2022-01-26 21:50] jhendrixMSFT opened #16926 "Examples generation doesn't always reference strongly typed enum"
https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/resourcemanager/compute/armcompute/ze_generated_example_capacityreservationgroups_client_test.go#L74

[code]

Should be

[code]

[2022-01-27 05:15] tadelesh commented on #16914
@MartinForReal We are working on the new version of GO SDK (packages [here](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager), quick start [here](https://github.com/Azure/azure-sdk-for-go/blob/main/documentation/new-version-quickstart.md), migration guide [here](https://github.com/Azure/azure-sdk-for-go/blob/main/documentation/MIGRATION_GUIDE.md)) which has resolved such pro

[2022-01-27 08:02] #16751 closed

[2022-01-27 15:47] ryepup commented on #15610
Thanks for the fixes, definitely will solve my problem!

Any idea when the changes from #16831 will get a release?

[2022-01-27 16:44] mohsha-msft commented on #16916
Hey @alexg-axis,

Thanks for reaching out!
We're planning to add that feature in march release most likely!

[2022-01-27 17:24] gsosin88 commented on #15624
Any updates on this one?

[2022-01-27 17:35] specterz commented on #14768
Any update on this team?

[2022-01-27 20:40] evenh commented on #16679
I'm encountering this issue as well. Had to apply @deiter's fix to a fork of mine in order to get `Content-MD5` in properties response. How can the community best help in order to get this bug fixed?

[2022-01-27 21:19] richardpark-msft commented on #15678
Nothing's moved forward here, beyond the original sketch that you shared with @lmolkova and I.

[2022-01-28 03:24] Alancere commented on #14768
Regarding track2 has been released on https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/marketplaceordering/armmarketplaceordering@v0.2.0, track1 has not been updated for the time being.

[2022-01-28 07:42] #16915 closed

[2022-01-28 18:22] heaths opened #16934 "Add TROUBLESHOOTING.md for sdk/keyvault"
Add a TROUBLESHOOTING.md file (case-sensitive for consistency) to sdk/keyvault and/or package directories. You can use Azure/azure-sdk-for-net#26636 as a template. Feel free to copy whatever you want, but please be sure to change anything that is language- or SDK-specific.

For .NET I decided to have a single TSG inside the service directory and link bacvk to it from each package since most troubl

[2022-01-28 20:42] bvwells opened #16939 "Service Bus: Support for push-based messaging"
### Feature Request

It would be good to have support for push-based messaging in the new Service Bus client. At the moment the lack of this functionality makes migration from https://github.com/Azure/azure-service-bus-go to this new client more involved than need be.

Reading the migration document [here](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/messaging/azservicebus/migrationguid

[2022-01-28 22:06] richardpark-msft commented on #16939
Hi @bvwells, thanks for taking the time to file an issue!

I'd be interested in this. There is definitely a difference but, for me, the migration was typically just moving the contents of the callback into the body of a for loop.

I want to make that as easy for people as possible so I'd love to get any feedback from you about what kind of things you had to do. This could be a total conceptual mis

[2022-01-29 00:41] richardpark-msft commented on #16923
Hi @peterzeller,

I've got a PR out for the panic (#16941).

The deadlock is interesting - we did have a fix in go-amqp v0.17 for a potential deadlock around drain. I'll try out your test case and see if I can reproduce it - we had some discussions about how to make that bit more robust.

[2022-01-29 02:09] #15923 closed

[2022-01-31 17:53] #16872 closed

[2022-02-01 13:07] SebastianBalle opened #16953 "Azure Pipeline - Go test bug"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

- What happened?

I noticed in your Azure Pipelines named 'Azure.azure-s

[2022-02-02 08:02] #6882 closed

[2022-02-02 14:50] kynrai opened #16957 "Return confidence levels for text OCR in cognitive services go SDK"
### Feature Request

The API for cognitive services returns word confidences, but the go SDK returns a enum with High or Low,

https://github.com/Azure/azure-sdk-for-go/blob/main/services/cognitiveservices/v2.1/computervision/models.go#L526

This differs from the return spec in the docs and I would even argue High/Low is not as useful the percentage confidence as High/Low is subjective and can be

[2022-02-02 19:14] richardpark-msft opened #16960 "[azservicebus] Add in MessageState property to `ReceivedMessage`"
MessageState is a useful property and can be used by consumers when they peek messages
to tell what state a message is in.

MessageState can be:
- Active
- Deferred
- Scheduled

The value comes from SystemProperties with the key `x-opt-message-state`.

(PR adding this in M.A.S .NET lib): https://github.com/Azure/azure-sdk-for-net/pull/25158

[2022-02-02 19:34] richardpark-msft opened #16961 "[azservicebus] set ReceivedMessage.MessageState from the system properties"
MessageState is a useful property for consumers when they get a message from an API like peek,.

MessageState can be:
- Active
- Deferred
- Scheduled

The value comes from SystemProperties with the key `x-opt-message-state`.

(PR adding this in M.A.S .NET lib): https://github.com/Azure/azure-sdk-for-net/pull/25158

[2022-02-02 19:47] jhendrixMSFT opened #16964 "Should all APIs in core return an error even if it's presently unused"
For versioning tolerance, seems like we should have all core APIs return `(foo, error)` to accommodate future error expansion.  We document the APIs where `error` is always `nil`.

[2022-02-02 21:25] JeffreyRichter commented on #16964
I'd prefer not to do this. Returning (foo, error) hurts usability dramatically: variables must be defined, an if is required and you can't dot-compose the result with anything.

The result is part of the method's contract. When creating a contract, if we think we can live forever with returning a single value, we should opt for this. I think there are many methods where this is true. If we can't d

[2022-02-02 22:33] jhendrixMSFT commented on #16964
I agree.  I only bring this up as the recent work for the `cloud` package required a few breaking changes to some constructors.

We could avoid this by adding a new API side-by-side with the new behavior.

[2022-02-03 01:18] richardpark-msft commented on #16964
I feel like this mildly bit us with UUID generation where we weren't sure what to do with the "rand fails" error.

Just curious what APIs you're thinking of here. Are there some that might need the error? And if we did need to add some function side-by-side would it be similar to regexp.Compile/MustCompile?

[2022-02-03 01:25] jhendrixMSFT commented on #16964
The feature for the `cloud` package required that pipeline's constructor return an error (it doesn't at present).  This makes me wonder if future feature work might require a similar change (e.g. tracing).

I don't think that the MustCompile pattern would be good here, as it means that something that was previously no-fail now has the potential to panic.

In some cases, you might be able to rework

[2022-02-03 01:26] richardpark-msft opened #16965 "[azservicebus] Receive 'prefetched' messages, even on error"
This is a bit of an investigation, mostly just to see if this can happen (and if so, make sure we handle it).

The scenario is:

1. ReceiveMessages() is called
2. While we're waiting the link detaches (which comes back as an error from amqpLink.Receive()

What I'm wondering about is if it's possible for there to be messages stored in the internal channel of go-amqp if Receive() has returned an err

[2022-02-03 16:44] JeffreyRichter commented on #16964
I took at the crypto Rand Read function to see why it returns an error. My strong belief is that it never will. The reason its signature returns an error is because the Read method implements the io.Reader interface whose Read method returns an error. So, this was done to match the interface and I strongly believe that it will ALWAYS return a nil error.

[2022-02-03 17:39] #16893 closed

[2022-02-03 19:44] jhendrixMSFT commented on #16964
To clarify, I was thinking about the APIs under `azcore/runtime` and `azcore/arm/runtime` that are mostly used by generated code.

I took a look at those APIs, the only ones that don't are `NewPipeline()` and the various constructors for the pipeline policies.

[2022-02-03 21:46] chlowell opened #16972 "azblob constructors should return clients by reference"
That is to say, they should return a pointer to a client instance. They currently return an instance by value. For example:
https://github.com/Azure/azure-sdk-for-go/blob/63f64be5fb3cd021b6064e8b0f20eb7746b53017/sdk/storage/azblob/zc_blob_client.go#L22

[2022-02-04 00:17] lilyjma opened #16977 "❓Survey: Your experience in this repo"
Whether you're a frequent visitor or a relatively new visitor of the repo, please tell us about your experience with our issue support and/or PR contribution process. The survey should only take a few minutes, and you can answer for up to 3 repos:

https://www.surveymonkey.com/r/8QTQTGJ?Source=azure-sdk-for-go

[2022-02-04 16:32] chlowell commented on #6602
Are you interested in a particular item? Of the ones above, these are implemented:
- authentication via Azure CLI, Cloud Shell
- better error messages for DefaultAzureCredential and ChainedTokenCredential
- credentials observe AZURE_AUTHORITY_HOST

[2022-02-04 18:46] jhendrixMSFT opened #16982 "Revert fork of gocov in CI once the original has been updated for generics"
Tracking issue to back out various temporary changes in CI that were necessary for generics bring-up.

[2022-02-04 18:47] jhendrixMSFT commented on #16982
- https://github.com/Azure/azure-sdk-for-go/pull/16975
 - https://github.com/Azure/azure-sdk-for-go/pull/16979

[2022-02-04 18:55] weinong commented on #6602
@chlowell we need token cache support for interactive browser credential. Is it implemented?

[2022-02-04 19:05] chlowell commented on #6602
Depends on the sort of cache you want. That credential has an in-memory cache today. We plan to add an optional persistent cache but have no ETA for that.

[2022-02-04 19:11] weinong commented on #6602
any chance to accelerate that? i'm the maintainer of https://github.com/Azure/kubelogin which is a client side tool just like az cli. in memory cache will not help

[2022-02-04 19:35] chlowell commented on #6602
I really don't know when we could ship persistent caching. We're waiting on https://github.com/AzureAD/microsoft-authentication-library-for-go/issues/58. I'll take your comment as a vote for increasing its priority and pass it along to the MSAL team (feel free to comment on the MSAL issue as well). I expect they will still want to implement their current high priority features first though.

[2022-02-04 19:38] weinong commented on #6602
should we open an issue for this particular feature?

[2022-02-04 20:25] chlowell commented on #6602
We're already tracking it with #16643

[2022-02-05 04:33] ArnavPrasadMicrosoft opened #16987 "errors.As fails to match any error in the chain of *azblob.InternalError with azcore.HTTPResponse or azblob.StorageError"
### Bug Report

- path of package in question: `https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/storage/azblob`
- SDK version: `0.2.0`
- output of `go version`: 1.16

- What happened?
  - I was trying to check for a "BlobAlreadyExists" error in my project through the following piece of code:
[code]
  - Currently, the generated azblob code that actually sends requests returns azcore.HTTPRes

[2022-02-05 08:02] #16722 closed

[2022-02-05 08:02] #16240 closed

[2022-02-06 11:48] floriankoch opened #16988 "[azblob] go get too many arguments in call to runtime.NewResponseError"
### Bug Report

Go Version
`go version go1.17.6 windows/amd64`

I try to import github.com/Azure/azure-sdk-for-go/sdk/storage/azblob and get the following errors:

[code]

[2022-02-07 02:07] magodo commented on #15042
@juliusl We've also noticed that updating the `agentCount` (e.g.) from 2 to 1 sometimes finished quickly, but sometimes didn't even finish in one hour, which results into timeout in the client side. Then a later deletion on this agent pool failed with:

[2022-02-07 03:14] mgingios commented on #16988
Hello,

I have encountered the same issue, today.

// GO VERSION
go version go1.17.5 darwin/amd64

// GO.MOD
`module github.com/xxxxxx/yyyyyy

go 1.17

require (
	github.com/Azure/azure-sdk-for-go v61.1.0+incompatible // indirect
	github.com/Azure/azure-sdk-for-go/sdk/azcore v0.21.0
	github.com/Azure/azure-sdk-for-go/sdk/azidentity v0.13.0
	github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/res

[2022-02-08 09:37] RafaelTomelin opened #16997 "Validate Azure UUUID"
Hi,

Can I validate if Azure UUID is correct?

I creating inventory system with input and collect in Azure and when I'm going to collect or create Azure resource I need validate the UUID is validate.

Is possible to create a UUID with the Azure package and use this UUID with an index of my DB?

[2022-02-08 12:27] mdrakiburrahman opened #16998 "Support for SQL Managed Instance - User Assigned Managed Identity"
SQL Managed Instance now supports [User Assigned Managed Identity](https://docs.microsoft.com/en-us/azure/azure-sql/database/authentication-azure-ad-user-assigned-managed-identity). This feature is especially great because for Azure AD login, Customers can provide the UAMI [minimum reqd permissions](https://docs.microsoft.com/en-us/azure/azure-sql/database/authentication-azure-ad-user-assigned-man

[2022-02-08 12:52] aristosvo commented on #16998
I think we should change this to ‘UserAssigned ánd SystemAssigned at the same time’

[2022-02-08 12:58] mdrakiburrahman commented on #16998
Updated issue

[2022-02-08 13:33] tombuildsstuff commented on #16998
@aristosvo @mdrakiburrahman just to confirm, is it possible to create both at the same time using the API? The API would need to support "SystemAssigned, UserAssigned" if not

[2022-02-08 13:35] aristosvo commented on #16998
As far as I see it is supported in the spec. Might be wrong here, but the `ResourceIdentity` supports both at the same time.

[2022-02-08 13:42] mdrakiburrahman commented on #16998
Hey @tombuildsstuff, @aristosvo  - yea you can. So what happens is, when you create a SQL MI named `aiasqlmisvr01`, Azure already gives it a `SystemAssigned` Identity in Azure AD by default, without you doing anything, also named `aiasqlmisvr01`.

So then what you can do - prior to the SQL MI deployment, is create a `UserAssigned` Managed Identity (external to your creation of the SQL MI, you just

[2022-02-08 15:18] jhendrixMSFT commented on #16997
We don't provide any facilities for generating UUIDs as there are multiple packages available that do this, and we didn't want to favor any specific implementation as that doesn't always match with what existing codebases use.

Take a look at [these results](https://pkg.go.dev/search?q=uuid) for some popular implementations.

[2022-02-08 15:25] balann opened #17000 "Azure Automation change tracking and inventory feature GO SDK support"
### Service Package Request

Is there any API or azure-sdk-for-go support  available for Azure Automation change tracking and inventory feature?

[2022-02-08 18:19] #16961 closed

[2022-02-08 18:24] dagoroz commented on #15624
The 2020-10-01-preview issue is “expected” as it includes changes that turned out to be problematic.
That version has been exposed and unexposed multiple times.

For the 2021-04-01-preview that is also expected that is a version for internal use and ARM does not have a way to expose versions exclusively to Microsoft services.

[2022-02-08 22:36] richardpark-msft commented on #16923
Hi @peterzeller, 0.3.4 has been released and will fix the panic issue you mentioned.

The drain issue is still being worked on, but I hope to have something within this week.

[2022-02-08 23:01] chlowell opened #17010 "Run all release validation steps before failing"
Currently, a failure in any step of the "Create release tab" job will cause it to fail and halt immediately. This means that when a module has an invalid changelog and a replace directive, the changelog validation step will halt the job before the replace directive check, and I won't notice the replace directive until I fix the changelog and run the release pipeline again 😅

It would be great if t

[2022-02-08 23:31] richardpark-msft commented on #16521
I've got a PR to address various readme issues for the `azservicebus` package (ie: data plane):

https://github.com/Azure/azure-sdk-for-go/pull/17009

@lirenhe, is all the feedback above addressed in `armservicebus`? If so, I'll close this issue after my PR merges.

[2022-02-09 05:30] magodo opened #17013 "Firewall Delete failure"
### Bug Report

The [`Delete`](https://github.com/hashicorp/terraform-provider-azurerm/blob/281664823315bc743bcb1e7fc8c845ebb715c907/vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2021-05-01/network/azurefirewalls.go#L128) method of Azure Firewall now always fail with following error:

This issue is impacting the Terraform AzureRM provider: hashicorp/terraform-provider-azurerm#1496

[2022-02-09 06:17] lirenhe commented on #16521
@richardpark-msft, yes, the feedback for armservicebus is addressed.

[2022-02-09 08:40] praminda opened #17017 "[azservicebus] Timeout in ReceiveMessages"
### Bug Report

- pkg: `github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus`
- SDK version: `v0.3.2`
- go version: `go 1.16.2`

- What happened?
We recently moved from `azure-service-bus-go` and implemented an asb client using `azure-sdk-for-go`. This implementation was working fine for few days and then started to give below timeout error frequently. A manual service restart seem to fix

[2022-02-09 09:19] tadelesh opened #17018 "About poller freq limitation"
I found there exists a limit for the LRO polling interval. When I use the test proxy to do the scenario test, it will be hard to work around it for playback and cause the test duration too long. I know the way to handle it is to remove all the redundant polling tries in recording file, but it is not so convenient. I wonder this limit can be removed or any other better solution?

[2022-02-09 15:00] maaft commented on #16988
same error here..

[2022-02-09 15:23] jhendrixMSFT commented on #17018
We set a floor to ensure that customers didn't accidentally specify too small a value and flood the endpoint with requests.

If this is problematic, the only solution is to write your own polling loop and not use `PollUntilDone()`.

[2022-02-09 15:37] Duffney opened #17021 "BeginDeleteKey response returns invalid memory address or nil pointer dereference for key attributes"
### Bug Report

- import path of package: github.com/Azure/azure-sdk-for-go/sdk/keyvault/azkeys
- SDK version `v0.3.0`
 - Go version: `go version go1.17.6 windows/amd64`

- What happened? When attempting to output the Key.ID from the `BeginDeleteKey` response I get the following error:

[code]

- What did you expect or want to happen? I expected that I'd be able to output the Key.ID from the respo

[2022-02-09 15:52] #16193 closed

[2022-02-09 15:52] #16223 closed

[2022-02-09 15:52] #16254 closed

[2022-02-09 15:52] #16295 closed

[2022-02-09 15:52] #16816 closed

[2022-02-09 15:55] jhendrixMSFT commented on #16679
Fixed in `sdk/storage/azblob/v0.3.0`

[2022-02-09 15:57] jhendrixMSFT commented on #16988
Fixed in `sdk/storage/azblob/v0.3.0`.

[2022-02-09 15:58] #16726 closed

[2022-02-09 16:07] jhendrixMSFT commented on #17013
We still need to root-cause when/why the service team made this change.  It's a breaking change within a deployed API version which they shouldn't be doing and impacts all languages.

[2022-02-09 16:13] tombuildsstuff commented on #17013
@jhendrixMSFT based on our logs this change started rolling out (at least to West Europe) on January 9/10th (as the test failures start on the 11th UTC), which then appears to have been rolled back, and subsequentially re-released on the 25/26th Jan (as our tests failed on the 27th UTC):

![Screenshot 2022-02-09 at 17 11 20](https://user-images.githubusercontent.com/666005/153241637-6939341a-b541-

[2022-02-09 16:22] jhendrixMSFT commented on #17013
@tombuildsstuff thanks for the info, I've passed this along to the service team.

[2022-02-09 16:23] mohsha-msft commented on #16223
Fixed in `sdk/storage/azblob/v0.3.0`

[2022-02-09 16:23] mohsha-msft commented on #16254
Fixed in `sdk/storage/azblob/v0.3.0`

[2022-02-09 16:23] mohsha-msft commented on #16295
Fixed in `sdk/storage/azblob/v0.3.0`

[2022-02-09 16:23] mohsha-msft commented on #16542
Fixed in `sdk/storage/azblob/v0.3.0`

[2022-02-09 16:24] mohsha-msft commented on #16816
Fixed in `sdk/storage/azblob/v0.3.0`

[2022-02-09 17:36] seankane-msft commented on #17018
@tadelesh can you provide a sample or PR for the issue you are seeing?

@jhendrixMSFT what is the floor for the time between requests? Can't we use the floor when we're in playback mode and otherwise use a more reasonable value?

[2022-02-09 17:48] jhendrixMSFT commented on #17018
The floor is one second and is baked into the [internal poller type](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azcore/internal/pollers/poller.go#L171-L173).  I suppose we could detect if we're running a test and disable the check.

[2022-02-09 17:54] seankane-msft commented on #17018
[code]

It's not the cleanest code, but this can be put into a function and re-used I think. We can also look at adding it to the `internal` package.

[2022-02-09 17:54] chlowell commented on #16765
The MSAL team is designing a caching API. I expect that design to be complete before we can roll our own cache here in the SDK, so it will probably make more sense to wait for, or contribute to, MSAL than to implement our own cache. I'm moving this issue to the April milestone, which is optimistic but I believe the earliest we could finish the work.

[2022-02-09 17:56] jhendrixMSFT commented on #17018
Good idea, and generics should make this reusable.

[2022-02-09 18:07] joshfree opened #17024 "fix filename casing of Azure Identity TSG"
The file https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azidentity/troubleshoot.md should be renamed from troubleshoot.md to TROUBLESHOOTING.md to be consistent with the other SDKs / repos.

Also any aka.ms links should be updated accordingly so they still reach the new filename

https://aka.ms/azsdk/go/identity/azclicredential/troubleshoot
https://aka.ms/azsdk/go/identity/vscodecredentia

[2022-02-09 18:20] richardpark-msft commented on #16521
Closing, all feedback is addressed.

[2022-02-09 18:20] #16521 closed

[2022-02-09 19:29] maaft commented on #16988
@jhendrixMSFT v0.3.0 is not released yet. How to install that version?

`go get github.com/Azure/azure-storage-blob-go/azblob@v0.3.0`

[2022-02-09 21:36] #17021 closed

[2022-02-09 21:40] #14789 closed

[2022-02-09 22:07] #16676 closed

[2022-02-09 22:07] #16768 closed

[2022-02-09 22:08] #16767 closed

[2022-02-10 00:24] arussellf5 opened #17029 "[azservicebus] nil pointer dereference in GetRecoveryKind()"
- pkg: github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus
- version: v0.3.4
- go version: go 1.17

**Description**

In testing I'm seeing a nil pointer dereference error generated by [this](https://github.com/Azure/azure-sdk-for-go/blob/2bb27d4b7ddec29b5a58291c1f2206865846d377/sdk/messaging/azservicebus/internal/errors.go#L157) line within `errors.go`.

Even though other functions callin

[2022-02-10 03:11] magodo commented on #15042
@juliusl I've reproduced it just now. The `x-ms-correlation-request-id` is 72f9c7e5-29b1-6b6f-2575-63fc54c16d74.

From my side, the API sequence is as below:

- A `GET` on the agent pool shows it has `count: 2`.
- A `PATCH` with following payload sent and returned 201:

[code]
- Keeps polling on the long-running operation URL returned via above `PATCH`, until timeout (1 hr).
- A `DELETE` operation

[2022-02-10 10:54] tadelesh commented on #17018
@jhendrixMSFT Thanks for the solution.
@seankane-msft The sample is [here](https://github.com/tadelesh/azure-sdk-for-go/blob/mgmt_test/sdk/resourcemanager/signalr/armsignalr/scenario_test/signalr/zt_generated_signalr_test.go). For now, I need to add custom loop to handle response when playback. It can be abstract to a reusable func after generics support of poller.

[2022-02-10 10:57] #17018 closed

[2022-02-10 11:20] evenh commented on #16679
0.3.0 doesn't seem different in this regard than 0.2.0 to me

[2022-02-10 11:25] mohsha-msft commented on #16679
Are you able to reproduce this issue again @evenh ?

Here's a test which I added to make sure this issue isn't happening again. https://github.com/Azure/azure-sdk-for-go/blob/a616d27573e7bb97cf35994448013ff70c31843a/sdk/storage/azblob/zt_container_client_test.go#L1234

[2022-02-10 11:29] evenh commented on #16679
I see that I wasn't specific enough about mye use case. I'm specifically interested in the `Content-MD5` property, which in my testing always is `[]`. I've fixed it using @deiter's fix in https://github.com/evenh/azure-sdk-for-go/commit/5d716a1d24c2e4ede5543f73fd2270d2b462f59f for my own purposes.

[2022-02-10 15:15] ryepup commented on #17029
I think I'm running into a similar "non-nil interface pointing at nil" issue, seeing a lot of these in my logs:

[2022-02-10 15:30] ryepup commented on #17029
This might be related to https://github.com/Azure/go-amqp/pull/123

[2022-02-10 15:42] jhendrixMSFT commented on #16679
This is a codegen issue, I've opened https://github.com/Azure/autorest.go/issues/774 to track it.

For now, @mohsha-msft can you fix this up manually?  I don't know how many locations we improperly unmarshal base-64 strings.

[2022-02-10 16:59] mohsha-msft commented on #16679
Thanks Joel. I'll keep track of this. I'll fix it manually for now. Do we have any transform to fix this?

[2022-02-10 17:03] dunnry opened #17033 "[azservicebus] Support SAS connections"
Right now, it does not appear to be possible to use `CBSTokenTypeSAS` in the SDK.  I have not been able to find an example of anyone using a `SharedAccessSignature` connection.

However, I could be wrong here and someone might have an example of how that would work.  Thanks!

[2022-02-11 00:06] #17029 closed

[2022-02-11 01:11] richardpark-msft commented on #17033
@dunnry, just checking - are you referring to the same feature requested here?

https://github.com/Azure/azure-sdk-for-go/issues/16641

[2022-02-11 01:18] dunnry commented on #17033
Yes, I think that is the same thing - you can close this as duplicate.  I take it based on that, it is not currently possible

Thanks!

[2022-02-11 02:03] richardpark-msft commented on #17033
Closed in favor of https://github.com/Azure/azure-sdk-for-go/issues/16641.

[2022-02-11 02:03] #17033 closed

[2022-02-11 02:03] richardpark-msft commented on #17033
It's not done yet, but it's still planned.

[2022-02-11 02:13] richardpark-msft opened #17041 "[azservicebus] Recreate the ATOM client using the autorest generator"
The ATOM client in the azservicebus package was generated from an older client, and is not standardized like the rest of our autogenerated libraries (for instance, it has it's own "custom" retry policy, etc..).

We need to regenerate this, based on the swagger for the API.

My first pass at this has shown that it does generate _some_ parts of the client correctly. This has been done in Python and

[2022-02-11 08:02] #16715 closed

[2022-02-11 08:58] ZejiaJiang opened #17047 "[servicebus] Check SDK support described types in message serialization and deserialization"
We received a [bug report](https://github.com/Azure/azure-sdk-for-java/issues/26065) in java SDK. Customer cannot cast property attribute from servicebus messages which are sent by .net SDK.

After investigation, we found that .net SDK support `Uri`, `DateTimeOffset` and `TimeSpan` object by using described types in amqp. But java SDK haven't mapped any of these described types.

Here is .net doc:

[2022-02-11 10:10] krowlandson commented on #17013
I can also confirm that this impacts deletion of both `AZFW_Hub` and `AZFW_VNet` Firewall SKUs.

[2022-02-11 13:52] ryepup commented on #17029
Thanks for the quick response @richardpark-msft !

[2022-02-11 16:45] dunnry commented on #16641
In the other referenced thread, this was commented on as being planned still.

Is there a workaround today that we could implement while we wait for this?  For instance, how hard would it be to add the CBS claims to another AMQP provider like Qpid Proton?  Has anyone looked at this?  I have only seen this done in the AMQPlite (C#) project.

[2022-02-11 17:49] eugkonon commented on #17033
Also, here's a related issue: https://github.com/Azure/azure-sdk-for-go/issues/16641

[2022-02-11 18:33] richardpark-msft commented on #17029
No problem, thanks to both of you for reporting it!

@arussellf5, @ryepup: This fix has been released in v0.3.5 of azservicebus: [link](https://github.com/Azure/azure-sdk-for-go/releases/tag/sdk%2Fmessaging%2Fazservicebus%2Fv0.3.5)

[2022-02-11 23:11] jhendrixMSFT commented on #16638
The fits in nicely with the work that @chlowell did for the `cloud` package.

[2022-02-12 01:35] richardpark-msft commented on #16965
Related investigation in go-amqp: https://github.com/Azure/go-amqp/issues/125

[2022-02-12 01:36] richardpark-msft commented on #16960
Fixed by #16985

[2022-02-12 01:36] #16960 closed

[2022-02-13 13:14] RafaelTomelin opened #17051 "Collection Tags from resource"
Hi,

I'm used this module "github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resources/armresources" to list the Resource Groups em collection the key and value form Tagsbut the return is not good.

The values from tags "*rg.Tags" I can't get the values from Tags
My code is:
`
func listResources(subscriptionId string, credential azcore.TokenCredential) {

	// rgInfo := make(map[string]interfac

[2022-02-14 11:40] bvwells opened #17058 "[servicebus] Topic name not returned from list subscriptions when paging"
### Bug Report

The AzureService bus admin client (package github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus/admin) does not return the topic name when using the ListSubcriptions method to page over subscriptions.

To reproduce run the test here
Ran test https://github.com/Azure/azure-sdk-for-go/blob/edc69c25160e028b592dc707115f61686379e7a7/sdk/messaging/azservicebus/admin/admin_client_

[2022-02-14 11:41] bvwells commented on #17058
Submitted a fix. Hope this is useful.

[2022-02-14 12:19] SpaWn2KiLl opened #17060 "[azservicebus] Receiving duplicated messages when maxMessages is greater than 1"
### Bug Report

ServiceBus receiver freezes for a minute (the message lock period) and then receives two duplicated messages (one of them with expired lock).

[code]

As you can see from the above logs, the consumer froze for a minute (`2022-02-14T10:45:46Z` until `2022-02-14T10:46:50Z`), then received 2 messages with the same MessageID, one of them with the lock already expired (`2022-02-14 10:46

[2022-02-14 13:14] patrickrad opened #17061 "Metadata not uploaded with UploadStreamToBlockBlob"
### Bug Report

"github.com/Azure/azure-sdk-for-go/sdk/storage/azblob"
sdk/storage/azblob/v0.3.0
go version go1.16.3 linux/amd64

When using UploadStreamToBlockBlob to upload a blob, any added metadata is not uploaded. If I instead use UploadBufferToBlockBlob it works as expected and the metadata is uploaded as expected.

The following code demonstrates the problem. The stream upload will not resu

[2022-02-14 19:07] richardpark-msft commented on #17060
Thank you for submitting this @SpaWn2KiLl.

I think this is a result of a few things - overzealous message returning and connection recovery. I'll take a look and see if I can make that more useful - returning two of the same message in a batch makes me think it needs a bit more work.

[2022-02-14 21:08] bvwells opened #17065 "[servicebus] Best way to determine if topic/subscription exists"
This is a request to have a documented way to determine whether a topic/subscription exists or not.

I've been trying to work out the best way to determine if a service bus topic/subscription exists or not. I might be missing something, but I was hoping to be able to call GetTopic/GetSubscription on the ServiceBus admin client and infer the topic/subscription existence from error returned. i.e.

[

[2022-02-14 21:53] #17058 closed

[2022-02-14 21:54] bvwells commented on #17058
Thanks @richardpark-msft for the review and merge!

[2022-02-14 22:13] RickWinter commented on #17047
@richardpark-msft we need to address if this is an issue in the Go SDK

[2022-02-15 00:20] richardpark-msft commented on #16939
One thing we've done in the SDK is try to make this kind of error identification unneeded. Most errors, by the time they land in user code, mean "this entire thing is dead". So the only remediation at that point would be to print the error and restart the connection entirely. Ie, if an error has finally come back recovery just plain wasn't possible.

We allow configuration of this via the azservic

[2022-02-15 00:21] richardpark-msft commented on #17065
I'll take a look. The normal expectation is that the service would return a 404 if the asked-for-entity does not exist. I'll look at what's going on there.

[2022-02-15 09:29] maaft opened #17070 "How to get all available VersionIDs for a blob?"
The API does not give a clear answer on this.

Anyone knows how to do this?

My goal is to delete all available VersionIDs for specific blobs.

[2022-02-15 10:52] bvwells commented on #17065
Thanks, I traced one of the requests through for GetSubscription and I can see that a 200 response is returned from the http request.  It suprised me that a 404 was not being returned.

[2022-02-15 11:11] DamirZelenic opened #17071 "InvalidResourceType when creating new RBAC assignment using SDK"
### Bug Report

- import path of package in question
github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/authorization/armauthorization"

- SDK version e.g. `master`, `latest`, `18.1.0`
 v0.3.0

- output of `go version`
go version go1.17.6 darwin/arm64

- What happened?
When trying to create new RBAC role assignment using Create method I got:
[code]

- What did you expect or want to happen?
 Exp

[2022-02-15 14:24] s-bauer commented on #15615
Hey any eta on when this will be added?

[2022-02-15 17:06] chlowell commented on #15615
May at the earliest, in the current plan. #16902 has an example you could follow in the meantime if you want to implement it yourself.

[2022-02-15 23:38] RafaelTomelin opened #17075 "Problem with return armresources/zz_generated_client - ClientListOptions"
Hi,

I'm creating the code to list all resources from Azure in the subscription and I'm used this package and functions:

packages
`	"github.com/Azure/azure-sdk-for-go/sdk/azidentity"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resources/armresources"
	"github.com/Azure/go-autorest/autorest/to"
`

The code to call list resources
`
	cred, err := azidentity.NewDefaultAzureCredential(nil)

[2022-02-16 01:44] zezha-msft commented on #17070
Hi @maaft, thanks for reaching out!

Listing all available versions can be achieved by calling the [list blob API](https://docs.microsoft.com/en-us/rest/api/storageservices/list-blobs) with a _prefix_ equal to the blob name, and _include_ set to versions.

If you have blobs that are prefixes of others, you'll need to filter those out as you are processing the results.

Please let us know if you ha

[2022-02-16 01:44] #17070 closed

[2022-02-16 06:34] ArcturusZhang commented on #17075
Hi @RafaelTomelin thanks for this issue.
The case is that when you call a `List` function, it returns a `Pager` to you. No API calls happen until you actually iterate over it.
You could iterate it like this:
[code]
For more samples, you could refer this document: https://github.com/Azure/azure-sdk-for-go/blob/main/documentation/new-version-quickstart.md#L222
Or you could visit this repo: https://g

[2022-02-16 06:39] ArcturusZhang commented on #17071
Hi @DamirZelenic thanks for this issue and sorry for the inconvenience!

We will confirm this with the corresponding service team to see if this api-version has been deployed to all the regions. Stay tuned.
As a workaround, we could downgrade the api-version in this package to 2021-08-01-preview to ensure everything could work properly here

[2022-02-16 07:50] ArcturusZhang commented on #16266
close this since this has been released

[2022-02-16 07:50] #16266 closed

[2022-02-16 08:12] tadelesh commented on #17051
@RafaelTomelin With the latest version of `armresources`, I think you did the right thing except a redundant pointer.
[code]

[2022-02-16 08:53] DamirZelenic commented on #17071
Hi  @ArcturusZhang
It is default AzureCloud. Subscription and RBAC role doesn't have any specific region?
Subscription location placement id:
[code]
In error message I see newer api being available "...2020-08-01-preview,2021-04-01-preview", only 10-01 is missing.
I can share Role Assignment Id if needed.

[2022-02-16 18:44] seankane-msft opened #17083 "[Recording] Add per-test sanitization options"
Expanded the `RecordingOptions` struct to include `*testing.T` param. The recording ID can be used to set the `x-recording-ID` header

[2022-02-16 21:42] amishra-dev commented on #17061
Thanks for the bug report @patrickrad
As you are aware this is a prerelease SDK, we are continuously working on improving the quality of the SDK, we will pick this up as soon as we can.

[2022-02-16 22:30] djdongjin commented on #15957
Hi @RickWinter ,

We are also investigating this feature. While checking the traffic in azure portal, we found that vmss uses some of the batch operations to complete some tasks (e.g., stop multiple vms, etc). The traffic and URL is shown as below:

<img width="528" alt="image" src="https://user-images.githubusercontent.com/28295179/154368282-e49a25a2-d48f-4845-9906-1bda30508e8b.png">

The request

[2022-02-16 22:35] djdongjin commented on #15957
The same issue can also be found in the python sdk repo, which has more context.

https://github.com/Azure/azure-sdk-for-python/issues/9271

[2022-02-16 23:23] zezha-msft commented on #17061
Thanks for reaching out!

The bug is here: https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/storage/azblob/highlevel.go#L594

[2022-02-16 23:47] richardpark-msft commented on #17047
Yeah, I can add a simple test in for this. @jhendrixMSFT , might be some work incoming but I recall we had good primitive type mapping to AMQP types happening in the serializer in go-amqp.

[2022-02-17 10:19] tadelesh commented on #16926
Fixed in new version of testgen. Examples will be updated during next round of refresh.

[2022-02-17 10:19] #16926 closed

[2022-02-17 10:41] praminda commented on #17017
Thanks for the fix @richardpark-msft.
When we will be able to get the fixed pkg released?

[2022-02-17 18:19] RickWinter opened #17095 "Add a CI check that flags all exported symbols that are missing doc comments."
We really need a CI check that flags all exported symbols that are missing doc comments.

_Originally posted by @jhendrixMSFT in https://github.com/Azure/azure-sdk-for-go/pull/17093#r809211410_

[2022-02-17 18:58] victorien-a commented on #16641
I managed!

Just create a new "credential provider" local package. Where you put the code that renews your connection string.

`package sasCredentials

import (
	"context"
	"strconv"
	"time"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
)

type SasCredential struct {
	cred azcore.TokenCredential
}

func NewSasCredential() (*SasCredential, e

[2022-02-17 22:01] #16997 closed

[2022-02-18 03:00] #16914 closed

[2022-02-18 06:58] patrickrad opened #17102 "Query Blob Contents"
### Feature Request

Are there any plans on adding support for the Query Blob Contents functionality? I see that there is an internal function, Query in the file zz_generated_blob_client.go, but no public (which I guess should be in zc_blob_client.go?)
Functionality for unpacking the returned Avro formatted data would also be needed.

[2022-02-18 08:44] Teiktos opened #17103 "InvalidResourceType when requesting resource reservation order list"
### Bug Report

- Module: `github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/reservations/armreservations`
- SDK Version: `v61.5.0+incompatible`
   - Commit: edc69c25160e028b592dc707115f61686379e7a7
- Go Version: `go1.17.7 linux/amd64`

#### What happened?

A ReservationOrderClient was created and the List function was called ([link to function in file](https://github.com/Azure/azure-sdk-for-g

[2022-02-18 15:25] jhendrixMSFT commented on #17103
Unrelated to the issue, but I have a question.  From the details you provided, I see you're importing version `v61.5.0+incompatible`.  All of our new packages under the `/sdk` directory are individual modules.  Are you unable to import module `armreservations` directly?  Or perhaps we haven't clearly documented this modularization.  Any insight into how you're handling imports/versions would be ve

[2022-02-19 21:56] drakkan opened #17109 "[storage] panic if the server is not reachable while uploading"
### Bug Report

- "github.com/Azure/azure-sdk-for-go/sdk/storage/azblob"
- sdk/storage/azblob/v0.3.0
- go version go1.17.7 linux/amd64

I use the azurite emulator and upload a large file using `UploadStreamToBlockBlob`, while the upload is still in progress I shutdown azurite to simulate a server unreachable status. After some seconds my application crash with this stacktrace:

[code]

please fix,

[2022-02-20 07:27] drakkan commented on #17109
If you try to stop azurite while a download is in progress if you use `blockBlob.Download` the connection failure is detected as expected while if you use `blockBlob.DownloadBlobToWriterAt` it seems to hang forever (I waited for 10 minutes), so basically the high level APIs seem not really usable.

I noticed the same thing also using the old SDK, for example for multipart uploads I used my own wra

[2022-02-20 23:56] amishra-dev commented on #17102
Hi @patrickrad,
The Go library is still under development, we do plan to add the query api to the Go SDK in the future.

Thanks

[2022-02-21 09:07] chunyu3 commented on #16863
PR: https://github.com/Azure/azure-sdk-for-go/pull/17129

[2022-02-21 09:07] #16863 closed

[2022-02-21 09:25] drakkan commented on #17109
This is not an issue for me, I'll continue to use the low level APIs as with the old SDK

[2022-02-21 09:25] #17109 closed

[2022-02-21 10:01] benjamin37 commented on #16192
@ArcturusZhang Since some time has past now. Are there any news on that topic?

[2022-02-21 15:18] ezavgorodniy commented on #16987
Yes, and related issue was closed due to inactivity :(

[2022-02-21 20:04] ItalyPaleAle opened #17131 "UploadStreamToBlockBlob: file doesn't appear in Azure Storage"
### Bug Report

- import path of package in question: `github.com/Azure/azure-sdk-for-go/sdk/storage/azblob v0.3.0`
- output of `go version`: go version go1.17.5 linux/arm64

Using UploadStreamToBlockBlob to upload a block blob from a stream doesn't seem to work. The method returns no error, but the file doesn't appear in Azure Storage.

This is an extract of the code that I'm using, and I'm conne

[2022-02-22 01:54] ArcturusZhang commented on #16192
We are introducing a new api-version in [this PR](https://github.com/Azure/azure-rest-api-specs/pull/17599), I will try to make sure this could be fixed in that PR.

[2022-02-22 02:59] ArcturusZhang commented on #17071
Please share that as well if possible. Thank you!

[2022-02-22 06:50] ArcturusZhang commented on #14944
Hi @rebecca-makar sorry for the delay of response.

Since quite a few time passes, the paths that report error in your log now no longer exist in our repo. You could have another try on this. I am pretty sure no error will happen during the `go get` command.

As for run, could you please be a bit more specific? If you want to run `go build` to build the SDK, for starter, I would like to say that w

[2022-02-22 06:55] ArcturusZhang commented on #9393
Hey @oWretch it is quite frustrated for me as well because I do not hear from the `appservice` swagger owners for quite a long time.
We will be actively pinging them - not only this issue, we kind of have other issues also depending on their changes as well.
Sorry for the inconvenience.

[2022-02-22 08:06] lirenhe commented on #16772
All mgmt. SDK are refreshed to remove go_mod_tidy_hack

[2022-02-22 08:06] #16772 closed

[2022-02-22 09:21] pubudu538 commented on #17017
Hi team, Can we get a release with the latest fixes?

[2022-02-22 10:28] paul2u commented on #17017
Thank you @richardpark-msft for checking this issue. Would you update us the latest status? Thank you so much for you help.

[2022-02-22 13:44] #17083 closed

[2022-02-22 15:19] baywet commented on #7352
Hey everyone 👋
Stumbled on this issue by luck. I'm the main maintainer for the [Microsoft Graph Go SDK](https://github.com/microsoftgraph/msgraph-sdk-go) currently in preview.
Go try it out and don't hesitate to leave feedback over there!

[2022-02-22 15:22] baywet commented on #9911
@manicminer alternatively you could use the [Microsoft Graph Go SDK](https://github.com/microsoftgraph/msgraph-sdk-go) to do that.

[2022-02-22 15:24] jhendrixMSFT opened #17139 "aztables APIs missing doc comments for returned error types"
The APIs for the table clients don't document that they return an `*azcore.ResponseError` when the service returns a non-successful HTTP status code.

[2022-02-22 18:32] benbp commented on #17095
This does not appear to be a simple fix (see https://github.com/golangci/golangci-lint/issues/456), but I'm digging into config updates/workarounds for linting.

[2022-02-22 18:35] #16953 closed

[2022-02-22 18:36] joshfree opened #17143 "Azure Arc test pass: Azure Identity For Go Client Library"
Tracking issue to follow up with @zzkaii to unblock manual test pass of Azure Identity for Go Client Library running on Azure Arc:

https://github.com/Azure/azure-sdk/issues/1908
https://github.com/Azure/azure-sdk/issues/1908#issuecomment-1047450255

[2022-02-22 18:37] joshfree commented on #17143
@chlowell could you please follow up with @zzkaii?

[2022-02-22 18:41] richardpark-msft commented on #17017
(sorry for the late response, was on vacation)

For this fix you can do a `go get` on the commit hash.

[code]

[2022-02-22 18:56] pleska opened #17144 "DefaultAzureCredential causes race data condition in goroutines"
### Bug Report

Package: github.com/Azure/azure-sdk-for-go/sdk/azidentity
SDK version: latest
Package version: v0.13.1
go version go1.17.6 darwin/arm64

Using DefaultAzureCredential in more than one goroutine at the same time can cause a race data condition to be raised. The problem seems to be the NewChainedTokenCredential overwriting the stored credential from another routine vs. finding the cac

[2022-02-22 19:53] chlowell opened #17145 "Add azidentity migration guide"
Document how azidentity credentials line up with adal and provide an example of any new API patterns in track 2.

[2022-02-22 22:18] #17139 closed

[2022-02-23 01:47] chlowell commented on #17143
@zzkaii your test run is failing because azidentity wasn't able to configure the server we use to play back test recordings. This test case doesn't use that proxy--it's an offline test using fakes--but test runs always begin with configuring the proxy. Usually, this error means the proxy isn't running. You can start it with the `docker-start-proxy.ps1` script in `eng/common/testproxy`.

All that s

[2022-02-23 06:22] xboxeer opened #17148 "Add deprecate package information in this repo"
Due to the limitation of go package manager, there is not a very good way to mark a package is deprecated, therefore, in our readme file, add a new link and a new file, that includes the deprecated package information.
### Service Package Request

A file to list all the deprecated packages in Azure Golang SDK

[2022-02-23 09:19] zezha-msft commented on #17131
Hi @ItalyPaleAle, thanks for reaching out!

Receiving a successful HTTP status indicates that the blob was most likely created successfully. How are you checking the existence of the blob btw? If it's with the portal or Azure Storage Explorer, could you please refresh just to double check?

Please let us know and we'll open an investigation accordingly upon your confirmation. Thanks.

[2022-02-23 10:20] darrenparkinson commented on #15678
With regards tracing, what is the appropriate way currently to achieve propagation between services using open telemetry and service bus?  From the [service bus docs](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-end-to-end-tracing?tabs=net-standard-sdk-2) it says:

I'm assuming this only works with .Net at the moment?

Thanks for any information you can provide.

[2022-02-23 16:02] ItalyPaleAle commented on #17131
@zezha-msft  I'm looking at the Azure Portal and the blob doesn't appear in the container.

[2022-02-23 16:05] kimprice opened #17149 "Always allow “nil” to set default values for options"
This issue came up from the November Blob Storage UX study.

For any options parameters, we should always allow "nil" to be passed in to set the default options. Doc comments should also specify something to the effect of “pass ‘nil’ to accept default values.” There were several instances where users were required to pass an empty instance to set the default options.

For example: UploadFileToBloc

[2022-02-23 16:12] kimprice opened #17150 "Rename methods Upload*ToBlockBlob -> Upload*"
This issue came up from the November Blob Storage UX study.

We should remove "ToBlockBlob" from all the Upload methods since they are methods on the BlockBlobClient. "ToBlockBlob" makes the methods unnecessarily verbose and caused confusion for users.

[2022-02-23 16:17] kimprice opened #17151 "Modify Upload function to take ReadSeeker instead of ReadSeekCloser"
This issue came up from the November Blob Storage UX study.

Modify Upload function to take ReadSeeker instead of ReadSeekCloser, removing the need for people to use NopCloser. Participants were unfamiliar with NopCloser.

[2022-02-23 16:57] ItalyPaleAle commented on #17131
I've been trying to repro this outside of my own code's test environment but I can't repro it correctly yet. I'm going to close this for now assuming that's a bug in my code. Will reopen if I can create a reliable repro environment :)

[2022-02-23 16:57] #17131 closed

[2022-02-23 17:09] chlowell commented on #17144
Thanks for opening this issue! I'll get it fixed for the next release.

[2022-02-23 17:22] ItalyPaleAle commented on #17131
@zezha-msft I figured out what the issue is. There is a bug in the SDK that I can now repro, although it's different that I originally thought. The file is created, but my tests were then deleting it because of a bug somewhere else.

In essence, when using `UploadStreamToBlockBlob`, the blob access conditions are ignored. You can see in my code above that I use `IfNoneMatch: &ifNoneMatch` to only

[2022-02-23 17:27] ItalyPaleAle opened #17152 "UploadStreamToBlockBlob: blob access conditions are ignored"
### Bug Report

- import path of package in question: `github.com/Azure/azure-sdk-for-go/sdk/storage/azblob v0.3.0`
- output of `go version`: go version go1.17.5 linux/arm64

(This is a spin-off from #17131 which identified the error as something different than I originally thought)

You can repro with the code below (fill the constants at the top):

[code]

Expected result:

- First file should b

[2022-02-23 18:41] rebecca-makar commented on #14944
@ArcturusZhang  On Azure Devops. it still has a problem with the go get.
Here is failure.
[code]

[2022-02-23 19:21] kimprice opened #17153 "Pager response design for containers and blobs should be improved"
This issue came up from the November Blob Storage UX study in a post discussion with @JeffreyRichter

[code]

[2022-02-23 22:35] djdongjin opened #17155 "batch Rest API requests (azure portal uses this) using the GO SDK"
### Feature Request

The issue is the same as #15957. We are also investigating this feature. While checking the traffic in azure portal, we found that vmss uses some of the batch operations to complete some tasks (e.g., stop multiple vms, etc). The traffic and URL is shown as below:

![image](https://user-images.githubusercontent.com/28295179/155420619-11b49b6e-3771-450f-af3d-b116b2656ec9.png)

T

[2022-02-23 23:11] zezha-msft commented on #17131
Thanks @ItalyPaleAle for the confirmation, much appreciated.

[2022-02-24 08:30] magodo opened #17159 "Support ARM cross-tenant authentication"
### Bug Report

When using the Client Secret Auth method, the multitenant authentication (a.k.a auxiliary tenant) doesn't work as expected. The ultimate bear token that is set in the header as `x-ms-authorization-auxiliary` is actually signed by the primary tenant.

With some debugging, it appears the problem comes from: https://github.com/Azure/azure-sdk-for-go/blob/8379ab2ff08eb677863373331cdaa9

[2022-02-24 13:27] 3u13r opened #17162 "Ability to create ConfidentialVMs with compute package"
### Feature Request

Currently it is possible to create confidential VMs via the Azure portal. Yet the "ConfidentialVM" enum field for security type as well as other fields are missing inside the latest release of this SDK. I already saw the features implemented in the `github.com/Azure/azure-sdk-for-go/profiles/latest/compute/mgmt/compute` package.
When will those features be exposed inside the S

[2022-02-24 19:14] RickWinter commented on #17148
Can you clarify what you are requesting to happen here.

cc: @kimprice @mikekistler

[2022-02-24 20:16] #16841 closed

[2022-02-24 20:23] RickWinter commented on #5855
@samuelkoppes Is this issue fixed, can this be closed.

[2022-02-24 21:57] sadasant opened #17166 "[Identity] Add `AllowLoggingAccountIdentifiers` to the credential options"
This is a copy of the same issue in JS: https://github.com/Azure/azure-sdk-for-js/issues/20502

Draft PR in JS: https://github.com/Azure/azure-sdk-for-js/pull/20516

---

While investigating what sensitive logging to add to our credentials, we have determined that the most useful information we could log are the account identifiers after retrieving a token. This issue describes a flexible approach

[2022-02-24 21:57] sadasant commented on #17166
I assigned this issue to myself preemptively, but let me know if someone else should take it 🙂

[2022-02-24 23:16] mikeharder opened #17167 ""go fmt" converts line endings on Windows"
The `.gitattributes` in this repo is currently configured for `auto`, which means files are checked out with CRLF on Windows:

https://github.com/Azure/azure-sdk-for-go/blob/e1930a769288691d96159f4ec367d4825769f307/.gitattributes#L1-L2

This doesn't play well with `go fmt`, which always converts files to LF (https://github.com/golang/go/issues/16355).  If you run `go fmt` on unchanged source files

[2022-02-25 14:40] seankane-msft opened #17175 "[Performance] Handle results in a background thread"

[2022-02-25 14:41] seankane-msft opened #17176 "[Performance] ops/s should be printed as a float"

[2022-02-25 14:41] seankane-msft opened #17177 "[Performance] Cancel context at end of tests"
Perf framework should cancel context at end of warmup/duration, and tests should best-effort respect the cancellation request

[2022-02-25 16:06] kimprice commented on #17148
Technically though we wouldn't list any packages as deprecated until we have a stable package to replace it, right?

[2022-02-25 19:00] adamyager opened #17179 "Add Kusto(Data Explorer) for synapse"
### Feature Request

Currently the REST API does support Kusto Clusters for synpase
https://github.com/Azure/azure-rest-api-specs/tree/main/specification/synapse/resource-manager/Microsoft.Synapse/preview/2021-06-01-preview
"kustoPool.json"

We would please ask this be supported for Go as well and is currently not.
https://github.com/Azure/azure-sdk-for-go/tree/main/services/preview/synapse/mgmt/2

[2022-02-25 21:59] ryepup opened #17182 "[azservicebus] infrequently called `SendMessage` is very slow"
### Bug Report

- import path of package in question:  `github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus`
- SDK version:  `v0.3.5`
- go version: 1.17.6

#### What happened?

My application pauses for 3-5s when calling [Sender.SendMessage](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus@v0.3.5?utm_source=gopls#Sender.SendMessage) after a period of idle ti

[2022-02-25 23:08] chlowell commented on #17159
Thanks for opening this! We have API in place for ARM cross-tenant authentication but, as you've seen, the implementation is incomplete in that credentials always authenticate in the tenant set at construction. MSAL clients have the same limitation, so it's awkward for us to implement this today. It is technically feasible though--each credential could maintain a map of tenants to MSAL client inst

[2022-02-26 03:51] richardpark-msft commented on #17065
Hi @bvwells, just wanted you to know I haven't ghosted you on this, we're still trying to understand what the right way is to expose this in the SDK as it's a bit of an unusual API. Will update this issue when I've got a conclusion/patch.

[2022-02-26 04:04] richardpark-msft opened #17183 "[azservicebus] Client.Close() needs to close the namespace.Client()"
The client close is closing all the links, leaving an idle connection but it must _also_ close the client as well or else it'll leave the connection open.

There is some potential lock interaction here with the amqpLinks recovery, so we need to be careful to avoid deadlock if:

1. amqpLinks is recovering the connection (thus closing namespace.Client)
2. user calls client.Close()
3. client.Close()

[2022-02-26 20:35] bvwells commented on #17065
Thanks for the update @richardpark-msft. There is no rush with this one as I have a workaround for the issue by listing topics and subscriptions to see whether they exist or not.

[2022-02-28 05:32] djdongjin commented on #17155
Hi @RickWinter @lirenhe

Any update on this? Thanks.

Also, I saw the `Batch` label is attached. However, the `batch` in question seems not related to the Azure `Batch` service. It's more like just an Azure API that batches multiple API calls within one request.

Thanks!

[2022-02-28 05:43] xboxeer commented on #17148
Yes, I think we can deliver this message after we have GO T2 GA, let me close this issue for now.

[2022-02-28 05:43] #17148 closed

[2022-02-28 09:09] hy3 opened #17188 "[azblob] BlobURLParts does not support VersionID"
### Bug Report

- import path of package: `.../sdk/storage/azblob`
- SDK version: `v0.3.0`
- go version: `go1.17.6 darwin/amd64`

I'm using Azure Blob Storage with version management, and want to download old version with this SDK. So, I tried to use `BlobClient.WithVersionID()` or `BlobURLParts.VersionID` , but both of them didn't work.
Because `BlobURLParts` outputs URL without VersionID, nevert

[2022-02-28 16:45] RickWinter commented on #17155
@djdongjin Can you confirm which API you invoked to trigger this behavior.  Any details you can share would be helpful.

[2022-02-28 16:49] #17176 closed

[2022-02-28 20:17] jhendrixMSFT opened #17192 "What is x-ms-original-file comment used for when generating examples"
Example: https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/resourcemanager/compute/armcompute/ze_generated_example_virtualmachines_client_test.go#L46

This shows up in the documentation which looks a little weird.  Navigate to https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/compute/armcompute#VirtualMachinesClient and expand one of the examples.

[2022-02-28 20:21] djdongjin commented on #17155
Hi @RickWinter ,

I used the vmss (flexible) API in azure portal. For example, the below figure shows a request to `stop` two vmss instances in the portal.

<img width="2298" alt="image" src="https://user-images.githubusercontent.com/28295179/156052974-5ede4b2b-4823-4ac3-946e-4f20a5f93528.png">

I believe the batch API is used extensively while accessing azure portal, since I saw many of these bat

[2022-02-28 21:15] billwert opened #17193 "Unify behavior of clientId and resourceId"
Recently we added the ability to set both a `clientId` and `resourceId` for user assigned managed identity lookups. This exposes the problem that if an environment sets `AZURE_CLIENT_ID` while the deployed code sets `resourceId` we'll hit an exception.

The work item here is two parts:
- [ ] decide what the correct behavior is when the environment variable is set. Do we throw? Do we always prefer

[2022-02-28 21:31] richardpark-msft commented on #17182
Hi @ryepup, thank you for submitting this.

I'll take a look. The trick here is mostly in the azservicebus code understanding that the error might be "old" and thus a reconnect immediately would be okay. I'll be brainstorming some ideas on this.

[2022-02-28 23:11] ryepup opened #17194 "[azservicebus] unexpected error handling for "connection reset by peer""
### Bug Report

- import path of package in question:  `github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus`
- SDK version:  `v0.3.5`
- go version: 1.17.6

#### What happened?

Something as yet undetermined cuts the long-lived TCP connection, and leaves our `azservicebus.Client` in an unhealthy state. The error we've been seeing looks like:

Different parts of `azservicebus` are affected

[2022-03-01 01:38] xqinca opened #17195 "GetVirtualMachinesClient().List API does not returning all VMs in cloud"
### Bug Report

- import path of package in question
"github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2020-06-30/compute"

- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
github.com/Azure/azure-sdk-for-go v55.7.0+incompatible

- output of `go v

[2022-03-01 02:28] zzkaii commented on #17143
@chlowell so how can i run this test, I tried to start docker-start-proxy.ps1 script in eng/common/testproxy before I run the test, but the test still can't run. The reason i mention internal 0.8.x is that this error appeared after https://github.com/Azure/azure-sdk-for-go/commit/b509a3746c241234ddf116193fa9979cae667a3c and this version use internal 0.8.2 ,my test version is the latest version.
![

[2022-03-01 05:42] magodo opened #17196 "Track1 async LRO for PUT operation doesn't accept bodyless response"
I'm not sure whether this is a SDK issue or service issue.

The [automation runbook draft content API](https://github.com/Azure/azure-rest-api-specs/blob/953c26995780b043102a8941a07e8175ffad4428/specification/automation/resource-manager/Microsoft.Automation/stable/2018-06-30/runbook.json#L164-L164) is a LRO, while when I try to create it via [`ReplaceContent()`](https://github.com/Azure/azure-sdk-

[2022-03-01 08:36] ArcturusZhang commented on #17103
This issue looks like the API is in the swagger but it is actually not implemented on the service side. We might need someone from the service side to answer this.

[2022-03-01 08:47] ArcturusZhang commented on #17162
Hi @3u13r thanks for this issue.

I might need some clarification. You said

which means this `ConfidentialVM` is not implemented in our SDK, but you saw the features implemented in the latest profiles.
The profile is just aliasing our SDKs in the `services` directory, right now, the latest profile of compute is aliasing this package: https://github.com/Azure/azure-sdk-for-go/tree/main/services/co

[2022-03-01 09:48] Alancere commented on #16826
Hi @balann
released in https://github.com/Azure/azure-sdk-for-go/tree/main/services/preview/automation/mgmt/2021-06-22-preview/automation

[2022-03-01 09:48] #16826 closed

[2022-03-01 09:50] 3u13r commented on #17162
Hi @ArcturusZhang,
I basically want to have the the possibility to create ConfidentialVMs with the SDK. From what I can see, an user should only use `github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/compute/armcompute` to create VMs. This package currently does not allow to create ConfidentialVMs because some fields are missing and `ConfidentualVM` is not part of the SecurityTypes e

[2022-03-01 10:13] Alancere commented on #17179
Hi @adamyager
Is this [link](https://github.com/Azure/azure-sdk-for-go/tree/main/services/preview/synapse/mgmt/v2.0/synapse) what you need?

[2022-03-01 10:13] #17179 closed

[2022-03-01 11:04] tadelesh commented on #17196
It seems the service did not return poll url either in location or in header. Could you please help to paste the detail log here?

[2022-03-01 11:07] tadelesh commented on #17195
Could you help to give some logs or detailed info for the missing situation as it may caused by too many reasons.

[2022-03-01 11:13] tadelesh commented on #17192
It is for code extraction used for some tooling for msdoc. I'll discuss with the tool author to try to make it more meaningful.

[2022-03-01 14:33] adamyager commented on #17179
correct. Quite confused on the naming convention here, but thats the one I need.

[2022-03-01 16:50] chlowell commented on #17143
The script does nothing when not given a parameter. Try this:
[code]

[2022-03-01 17:30] amishra-dev commented on #17188
Thanks for this report @hy3. Currently there maynot be a way to do this other than edit URL @mohsha-msft to confirm.

[2022-03-01 19:18] chlowell commented on #17193
This problem doesn't arise in the Go SDK because `azidentity` doesn't read `AZURE_CLIENT_ID` for managed identity configuration.

[2022-03-01 19:18] #17193 closed

[2022-03-01 19:53] lilyjma commented on #16977
Thank you for your interest in the experience survey. The survey has now been closed.
If you didn't get a chance to provide feedback this time, please look out for future surveys.

[2022-03-01 19:53] #16977 closed

[2022-03-01 21:50] seankane-msft commented on #17175
azblob tests are broken at the moment.

[2022-03-01 21:50] seankane-msft commented on #17175
Add `go build .` to the CI

[2022-03-01 23:51] #16923 closed

[2022-03-01 23:51] #17060 closed

[2022-03-02 01:27] magodo commented on #17196
I can confirm that the service returned that in the header.

[2022-03-02 02:23] Alancere commented on #16297
released in https://github.com/Azure/azure-sdk-for-go/tree/main/services/preview/botservice/mgmt/2021-05-01-preview/botservice

[2022-03-02 02:23] #16297 closed

[2022-03-02 02:59] lirenhe commented on #17155
@djdongjin, if you take a look at the swagger repo, https://github.com/Azure/azure-rest-api-specs, all mgmt plane api would include the resource provider name like Microsoft.RPName.
For https://management.azure.com/batch, this does not seem to belong to any RP.  You may check with ARM team directly for this API

[2022-03-02 03:42] tadelesh commented on #17196
It should be a service issue as the follow up polling request should return a file response if operation completed. @zjalexander Could you help to have a look?

[2022-03-02 06:41] mohsha-msft commented on #17188
Hey @hy3 ,

Thanks for reaching out!

Yes this is indeed a bug at our end. Somehow it got escaped from our tests. I apologize for inconvenience. I've raised a request to fix it and added more tests to make sure this doesn't happen in future. We'll ship it in next release. In the meantime, you can pull the changes from my branch by using the command

`go get github.com/Azure/azure-sdk-for-go/sdk/st

[2022-03-02 07:57] ArcturusZhang commented on #17162
Hi @3u13r thanks for the clarification!
This `CredentialVM` enumeration should be added recently and we did not update our SDK in time. We will release a new version very soon, and before that, you could use
[code]
as a workaround. All the enumerations in our SDK is extensible in this way if you find a value the service supports not in the SDK. Anyhow, we will release a new version of this module

[2022-03-02 15:22] seankane-msft opened #17213 "[Perf] Port pipeline client GET test"
* Python example: https://github.com/Azure/azure-sdk-for-python/blob/bedff8a444413458c84bcc8d08caa7b7e84f2b80/tools/azure-devtools/src/azure_devtools/perfstress_tests/system_perfstress/pipeline_client_get_test.py

[2022-03-02 16:03] jhendrixMSFT commented on #16786
The change in behavior is by design and comes from the autorest modeler itself (i.e. not the Go code generator) so we can't really fix it.  Ideally the swagger is fixed as the change affects all languages.

That said, there is a switch for M4 to enable the old, broken, behavior.  In the autorest.md file, I think you'd add it like this.

[code]

Please note that per the [docs](https://github.com/Az

[2022-03-02 18:31] richardpark-msft commented on #16965
(Note: we've provided this guarantee in azservicebus, but it'd be nice to know it exists directly in go-amqp)

[2022-03-02 18:44] ryepup commented on #17182
That PR looks pretty good to me.

I got some more logs and I'm seeing one other error that probably doesn't need a sleep:

I think #17205 handles this nil error too.

[2022-03-02 19:38] richardpark-msft commented on #16228
This one is a bit tough because the reason it exists is to make sure users don't accidentally use the simplified contract when the body is potentially bogus (ie, the caller encoded multiple data bodies, or they used .Value or .Sequence instead).

I don't have a good solution for this yet, but it'd be nice to provide one if possible.

[2022-03-02 19:53] richardpark-msft commented on #16228
(mostly I worry about accidentally "slicing" the message, where we lose subsequent encoded Data bodies or entirely lose the .Value and .Sequence bodies if the client resends the message).

[2022-03-02 21:02] richardpark-msft commented on #16228
Another item, that @halspang brought up, is that the SB library for track 2 does not have built-in support for prefetching. There was already code in dapr to do it's own style of prefetching, but it'd be nice to think about how we support that.

There are some optimizations that can be done at the AMQP level (not huge) but implementing it outside of the SB library is also possible.

[2022-03-02 22:37] ryepup commented on #17194
I got some more logs catching this error.

My process has two goroutines, both using the same `Client`:

- loop sending a "heartbeat" message every 9m, exiting on unexpected error
- loop calling ReceiveMessages with a 30s context deadline, exiting on unexpected error

The heartbeat azsb logs looked like this:

[code]

The receiver logs looked like this, with line breaks where I think my context de

[2022-03-02 23:00] djdongjin commented on #17155
@lirenhe

Hi, thanks for replying. Could you please provide contact with the ARM team? GitHub repos, emails, etc.

Thanks.

[2022-03-02 23:39] #17182 closed

[2022-03-03 01:39] juliusl commented on #15042
@magodo Thanks for the repro, I should be able to take a deeper dive,

Also a status update from our side that should be able to address some of these issues, cc: @favoretti

We're in the process of rolling out a new operation status api to our resource provider that internally should allow for a better polling experience. Last week we merged the change and so now it's just a matter of enabling th

[2022-03-03 01:53] richardpark-msft commented on #17182
Yes, those should be fine too - all detach errors are treated as immediately retryable (for a single iteration), just to guard against the potential stale link.

There are still some potential scenarios where a SendMessage() can be slow - if the connection has to be recreated, or on first call (since the call itself is lazily initialized). Still, it should work better for your scenario, at the ver

[2022-03-03 03:40] tadelesh commented on #17192
Will change to `generated by example file: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute/CreateALinuxVmWithPatchSettingAssessmentModeOfImageDefault.json` after next round of refresh.

[2022-03-03 03:55] hy3 commented on #17188
@mohsha-msft @amishra-dev
Thanks for your reply. I got it. I'm looking forward to next release.

[2022-03-03 04:14] hy3 commented on #17188
@mohsha-msft
I found same bug in `NewBlobURLParts()` not only in `BlobURLParts.URL()` .
[Your commit](https://github.com/Azure/azure-sdk-for-go/commit/a822686cbc1f0551fc057569262847133d278af8) does not include it. Please fix it too.

This is example in `azure-storage-blob-go` .
https://github.com/Azure/azure-storage-blob-go/blob/b32b5e3579400739418747a71c4bffaf8a19c4a0/azblob/parsing_urls.go#L98-L

[2022-03-03 09:07] zzkaii commented on #17143
@chlowell , Thank you for your help. The result of this test is **pass** after execute the command you provided.

[2022-03-03 14:08] vgtswork commented on #17194
Same exact behavior here, but sometimes the TCP error is not "read: connection reset by peer" but "i/o timeout", example:

`"read tcp 10.116.24.21:52748->13.69.106.69:5671: i/o timeout"`

I could easly replicate this on my local, just use the old'good method of wifi/LAN disconnection while the service is running, and after a bit, if the services is listening or try to send a message, you will see

[2022-03-03 18:53] chlowell opened #17221 "Support polling relative URLs"
Today, pollers reject relative URLs:
https://github.com/Azure/azure-sdk-for-go/blob/fc95da9cfa30aa95bb62d59950267634db929195/sdk/azcore/internal/pollers/util.go#L50-L53

I don't think anything other than autorest.testserver cases is blocked by this but grepping the Python repo I see that Azure Communication Services and Cognitive Services return relative URLs for polling, so it could be a future o

[2022-03-03 19:12] jhendrixMSFT commented on #17221
It could be that this requirement is specific to ARM, I'd have to go read their spec to confirm.

[2022-03-03 19:47] xqinca commented on #17195
Here are the logs. The .List API doesn't work but the .Get API works.   Words after "<<<" are comments.

{“time":"2022-03-03T13:03:47.4472003Z","message":"[Fetching VMs for RG:  CAPIC_tn_intervpc_vrf1_westus2]"}
	<<< Calling azclient.GetVirtualMachinesClient().List(context.Background(), resGrp.name)
	<<< No VM in result

{“time":"2022-03-03T13:06:51.5738723Z","message":"[Fetching VM for:  /subscri

[2022-03-03 20:44] juliusl commented on #15042
@magodo so good news, we were able to track your issue down on our side and we're working on a fix

[2022-03-04 00:16] jhendrixMSFT commented on #17221
Confirmed, the ARM RPC [spec](https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/async-api-reference.md#asynchronous-operations) requires the polling URIs to be absolute.

[2022-03-04 03:32] #17192 closed

[2022-03-04 03:45] tadelesh commented on #17195
@xqinca I didn't find anything wrong from your code. If the problem happened occasionally, it seems caused by some corner case with the compute service. Could you please create a support ticket for azure directly?

[2022-03-04 18:22] #17144 closed

[2022-03-04 21:26] richardpark-msft opened #17232 "[apiview] Update the go parser to output more metadata for APIView"
As per a conversation with @praveenkuttappan when discussing APIView showing all of the Go reviews under 'other':

This is cosmetic, but it's a good chance for someone to see if we're missing any other exported metadata and improve it.

[2022-03-07 08:40] #16909 closed

[2022-03-07 16:30] jhendrixMSFT commented on #17151
IIRC the issue is slightly different.  The `http.Request` body takes an `io.ReadCloser`.  We (the Go SDK) added the requirement of `io.Seeker` so that we can rewind the body when we need to retry.  So we require an `io.ReadSeekCloser`.  The `io.NopCloser` in the standard library returns an `io.ReadCloser` which isn't compatible with our SDKs.  So we added our own `streaming.NopCloser` that returns

[2022-03-07 16:36] #16796 closed

[2022-03-07 16:36] #17024 closed

[2022-03-07 17:54] davidandradeduarte commented on #14750
Hi, 👋

Reoping this issue, since I've only got the chance to get back to this now.

While migrating to the new SDK, I found that we still have an issue with Go when using **batch mode** with **Azurite**.

The returned error is `unexpected EOF`.

Again, the same code works with a real storage account.

Code can be found here:
https://github.com/davidandradeduarte/azurite-insert-batch-bugs/blob/main

[2022-03-07 18:07] chlowell commented on #17143
I'll close this then, since we're past the original problem. However, note again that the test in question is an offline one that fakes an Azure Arc environment. If you intended to run a live test on a real Arc VM, follow [these instructions](https://github.com/Azure/azure-sdk/issues/1908#issuecomment-1060972307).

[2022-03-07 18:07] #17143 closed

[2022-03-07 18:13] #17065 closed

[2022-03-07 20:15] davidandradeduarte commented on #14750
@seankane-msft @jhendrixMSFT @ArcturusZhang ^

[2022-03-07 21:32] seankane-msft commented on #14750
@davidandradeduarte what version of azurite are you running?

[2022-03-07 21:33] davidandradeduarte commented on #14750
latest from docker hub

[2022-03-07 22:39] seankane-msft commented on #14750
@davidandradeduarte does this error reproduce for you when you target a Storage/Cosmos account? This only occurs for Azurite, which leads me to believe that this issue is which Azurite and not the SDK.

[2022-03-07 22:44] davidandradeduarte commented on #14750
Exactly, only happens with Azurite. It works with a real Azure Storage account.

I'm not sure it is an issue with Azurite alone, since batch insert with the C# SDK works (using the same Azurite version), which leads me to think that in the go sdk the Azurite response is not being properly handled (only for batch insert mode).

[2022-03-07 23:26] davidandradeduarte commented on #14750
Actually, looking at the Azurite debug logs of a C# batch insert request VS a Go batch insert request, they do look different. Both the request and response.

I've upload the logs to: https://github.com/davidandradeduarte/azurite-insert-batch-bugs/blob/main/azurite-logs/batch-csharp-vs-go.log

Hopefully you have a better understanding of Azurite's API than me 😄

[2022-03-08 22:45] ryepup commented on #17182
Thanks!  I re-ran my test from above, the numbers are looking better:

[code]

[2022-03-08 23:41] vangent commented on #16088
Which module + version contains this fix?

[2022-03-09 00:33] richardpark-msft commented on #17065
Thanks for your patience on that - this should be a bit more efficient.

[2022-03-09 00:35] richardpark-msft commented on #16088
Hi @vangent,

You can install the latest release [v0.3.6](https://github.com/Azure/azure-sdk-for-go/releases/tag/sdk%2Fmessaging%2Fazservicebus%2Fv0.3.6) and get this fix and several others that impacted reliability and recoverability.

[2022-03-09 01:17] vangent commented on #16088
Thanks!
I can't find any documentation about error handling in the new library. The old one had constants like servicebus.ErrorNotImplemented, servicebus.ErrorNotFound, etc., but all I can find in the new one is
https://github.com/Azure/azure-sdk-for-go/blob/sdk/messaging/azservicebus/v0.1.0/sdk/messaging/azservicebus/errors.go

Given that I made a call, and I got an error back, is there any struc

[2022-03-09 01:19] vangent commented on #16088
BTW, I confirmed that I now do get an error back when sending to a nonexistent topic, although it takes > 60s to return. Maybe it's retrying internally for some time? Nonexistent topic seems like it should be non-retryable.

[code]

[2022-03-09 01:53] richardpark-msft commented on #17194
Hi @ryepup (and @vgtswork).

We've just released [v0.3.6](https://github.com/Azure/azure-sdk-for-go/releases/tag/sdk%2Fmessaging%2Fazservicebus%2Fv0.3.6), which fixes this (and other) recovery errors.

This reclassifies several timeouts to be connection restart, rather than link restart. This will rebuild the internals of the client, which will properly reset the connection after it receives an er

[2022-03-09 08:02] #16792 closed

[2022-03-09 10:29] pubudu538 commented on #17017
Hi @richardpark-msft ,

We did the version upgrade based on your above comment. But still we see the connectivity issues. This time we don't see any issues in the application side. The app stopped receiving messages from ASB. When we check the subscription, we can see the queued messages. Could you please help with this?

Thank you!

[2022-03-09 12:27] yarinm opened #17259 "[azservicebus] Configure cloud environment?"
We've been using the old library [azure-service-bus-go](https://github.com/Azure/azure-service-bus-go/) and using that SDK we were able to configure the cloud environment by using `servicebus.NamespaceWithEnvironmentBinding` or  just modifying the `servicebus.Namespace` attribute `Environment`

I couldn't find a way to do the same in the new SDK, what am I missing?

[2022-03-09 12:33] pubudu538 commented on #17017
---- Update ----

We thought of doing upgrading the client sdk to [1] as it has fixed some of the issues.

[1] - https://github.com/Azure/azure-sdk-for-go/releases/tag/sdk%2Fmessaging%2Fazservicebus%2Fv0.3.6

[2022-03-09 15:29] jhendrixMSFT commented on #17259
Richard can correct me if I'm wrong, but I don't believe this is supported yet.  Related to https://github.com/Azure/azure-sdk-for-go/issues/8328

CC @chlowell

[2022-03-09 16:00] vgtswork commented on #17194
Hi @richardpark-msft, thanks a lot for the release! I will try as soon as i have a chance on my local and also in our develop envs.

+1 thanks @ryepup for the detailed issue

[2022-03-09 18:20] richardpark-msft commented on #17194
Closing as I believe we've resolved all the issues. Please re-open if you see this again.

[2022-03-09 18:20] #17194 closed

[2022-03-09 19:00] seankane-msft opened #17263 "[Blob] Clients should be returned by pointer"
Joshua Duffney pointed out that all of the clients are returning by value, this should be changed to returning by reference.

[2022-03-09 19:10] antkmsft opened #17264 "App Configuration: Setting semantics"
But this argument is for getting a setting - it has different semantics than ListSetting().

Is there a reason we're not just using 'key' as a positional argument?

_Originally posted by @richardpark-msft in https://github.com/Azure/azure-sdk-for-go/pull/17240#discussion_r822956769_

[2022-03-09 19:16] antkmsft commented on #17264
Then the key will be duplicated in the `Setting`, and as a parameter, I think it will be confusing.
If you look at the Java or .NET SDK, they have either methods with this semantics, taking `Setting`, or an overload with string key and optional string label, but not a mix.

As of ideas, initially, I had `Setting` being a struct with private fields, which you could only create as `NewSetting()` wit

[2022-03-09 19:54] richardpark-msft commented on #17017
@pubudu538 - v0.3.6 definitely has more reliability fixes so it's worth upgrading - we recategorized some more errors as "connection-reset required". However, the error you're describing was expected to be fixed with the commit you installed.

Do you mind installing the latest package (was just released yesterday) and turning on debug logging as described here? It can be a bit verbose but it'll gi

[2022-03-09 22:38] richardpark-msft commented on #17047
I've added in some tests. There are two types that we can't handle today - 'TypeCodeDecimal', which doesn't have a supported decode/encode path in go-amqp and 'TypeCodeChar'.

@ZejiaJiang  - are there any types from the AMQP primitives that can't support? And if so, how are you documenting that?

[2022-03-09 23:06] richardpark-msft commented on #17047
@ZejiaJiang, one of the types (TypeCodeChar) is actually 4 bytes long. Java has a 2-byte char type, so what do you map it too? (and do you also support round-tripping)?

[2022-03-09 23:08] richardpark-msft commented on #17047
(also, closing this issue as we don't have immediate plans to add support, but can if customers need it)

[2022-03-09 23:08] #17047 closed

[2022-03-10 00:12] richardpark-msft commented on #17259
Hi @yarinm, in the previous library the cloud binding was used to auto-add a suffix to the namespace name.

In azservicebus we no longer do that - you can just pass the entire hostname verbatim (<namespace>.servicebus.windows.net, for instance) if you want to use a TokenCredential, or just pass in a connection string, which will contain the full hostname in it automatically.

[2022-03-10 00:42] vangent commented on #16088
Thanks! Any response to my question in https://github.com/Azure/azure-sdk-for-go/issues/16088#issuecomment-1062454958 ?

[2022-03-10 01:37] richardpark-msft commented on #16088
We've tried to not redefine/recreate error types that exist, so for the most part the errors you'll see will be actual Go network related errors, or errors returned from go-amqp, which is our AMQP layer. It's not something we anticipate customers having to do, as most of the time an error returned from the library is a fatal one and there's no actual programmatic intervention possible.

We also al

[2022-03-10 05:09] ZejiaJiang commented on #17047
@richardpark-msft

I've checked the source code of proton-j which is the AMQP implemetion in java language.

The proton-j support these two types that you mentioned above. Here is the related code:

Decimal:
https://github.com/apache/qpid-proton-j/blob/b51cac846a2f8f72f8dbb838bcd1d755de8110ad/proton-j/src/main/java/org/apache/qpid/proton/codec/Decimal128Type.java#L60-L101
Proton-j seprates decimal

[2022-03-10 06:01] pubudu538 commented on #17017
@richardpark-msft We will install the latest package and update the status.

[2022-03-10 13:20] mbarnes commented on #7352
With the Azure Graph deprecation deadline approaching, I'm looking for guidance on how to proceed.

@baywet, was your last comment here addressed to developers or users of [azure-sdk-for-go](https://github.com/Azure/azure-sdk-for-go)?

I'm not sure whether I'm supposed to abandon [azure-sdk-for-go](https://github.com/Azure/azure-sdk-for-go) for [Microsoft Graph Go SDK](https://github.com/microsoft

[2022-03-10 15:56] ryepup commented on #17194
Thanks for the new version! Our initial tests look great, and based on @vgtswork 's repro advice I was able to confirm v0.3.6 fixes it.

This sample program sends a message every 10s, during which we manually disconnect our network (pull the plug, disable wifi, whatever), and observe the behavior.

[code]

My procedure was:

1. `go run .`
2.  watch the program send a couple of messages
3. disconne

[2022-03-10 16:10] mohsha-msft commented on #17188
Fixed in main. Target release for next release.

@hy3, can you give it a try and let me know if the issue is persisting?

[2022-03-10 17:43] seankane-msft commented on #17264
Based on the swagger, it looks like the setting value is the only required value. You could put the rest of the values in the `GetSettingOptions` struct and if a user does provide them the `Setting` struct can be constructed with them, otherwise it can be a Setting with just the value field set.

[2022-03-10 18:48] richardpark-msft commented on #17264
I'd had a discussion with @jhendrixMSFT for a similar function in Service Bus. I wonder if this is a possible signature:

[code]

Which I believe would match what is expected from the user.

[2022-03-10 21:26] vangent commented on #16088
OK, thanks. By the way, as I mentioned above I do get an error sending to a non-existent topic now (after 1m), but I still don't get anything but "context deadline exceeded" when trying to receive from a non-existent subscription (`servicebus.Receiver`.`ReceiveMessages`).

[2022-03-10 21:40] benbp commented on #17095
Fixed by https://github.com/Azure/azure-sdk-for-go/issues/17095

[2022-03-10 22:34] richardpark-msft commented on #16088
Yes, I'm definitely looking at that. I've got the test brewing and trying to see what I missed.

[2022-03-11 06:33] sylashsu commented on #8132
Hi, guys

We found  same issue in models.go, line 1339-1365, struct  QueryFilter and MarshalJSON():
"tag" and "dimension" should be "tag**s**" and "dimension**s**"

Thanks.

[2022-03-11 15:57] jhendrixMSFT commented on #7352
While I'll defer to @baywet (I don't work on the MS Graph SDK), the MS Graph SDK is to replace our [`graphrbac`](https://github.com/Azure/azure-sdk-for-go/tree/main/services/graphrbac/1.6/graphrbac) package.  So you'd use MS Graph in conjunction with this SDK.

[2022-03-11 16:09] jhendrixMSFT commented on #16088
@richardpark-msft we should make this a strong guarantee (i.e. not "most" but "always") and document this behavior.

[2022-03-12 00:43] richardpark-msft opened #17283 "[azservicebus] Provide a Service Bus error type that customers can use for actionable errors."
(This has come up in a few different customer issues (ex: [#16088](https://github.com/Azure/azure-sdk-for-go/issues/16088#issuecomment-1062454958)), and it's worth a discussion.)

From looking at a few customers programs, I've seen a pattern that basically looks like this:

[code]

Where basically any error is treated as a "restart the client". This is probably typical and is basically a variant o

[2022-03-12 00:45] richardpark-msft commented on #16088
ErrorNotFound is a good example of a useful errors - it'd be nice to at least provide some differentiation. I've filed https://github.com/Azure/azure-sdk-for-go/issues/17283 for further discussion.

[2022-03-14 06:06] andyzhangx opened #17287 "FileServicesClient.SetServiceProperties does not work from around 3/8/2022"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`
`go version go1.17 linux/amd64`

- What happened?
From around 3/8/2022, w

[2022-03-14 08:07] ArcturusZhang commented on #17287
Hi @andyzhangx , thank you for opening this issue.
Based on the error message you posted here, it is very likely that the service returns this error and the SDK is just bubbling it up. Therefore is it possible you could share some more information about the request you are making here as well as the response so that we could better identify if this is a service issue?

[2022-03-14 08:12] rtrompier opened #17288 "Add support for RuntimeVersion Java_17"
### Feature Request

Support for Java 17 will be great :)

![image](https://user-images.githubusercontent.com/2504924/158131032-d17fd180-d6ad-474f-83b9-11891f435447.png)

[2022-03-14 08:20] andyzhangx commented on #17287
@ArcturusZhang thanks, do you know how to open debug mode with this go sdk? I actually looped azure file service team to take a look, while they said it's sdk issue, if we could get some back and forth debug info, that could narrow down the issue quickly, thanks.

[2022-03-14 08:58] hy3 commented on #17188
@mohsha-msft
It works 🎉

However, through my trying, I found that `BlobClient.WithVersionID()` returns not `BlobClient` but `BlockBlobClient` .
Is it right ?

[2022-03-14 09:29] mohsha-msft commented on #17188
Yes that's correct. It'll be fixed too.

[2022-03-14 10:40] NamrataJha opened #17291 "Signed url support with SAS token"
Currently for creating a [signed url](https://pkg.go.dev/gocloud.dev/blob#Bucket.SignedURL) we need a SharedAccessKey credential which in turn requires azure access key.

Is there any way to generate this signed url only with SAS token. Currently we are unable to do so as SAS token url takes anonymous credential while opening the bucket - [https://pkg.go.dev/gocloud.dev/blob/azureblob#example-Open

[2022-03-14 15:14] jhendrixMSFT commented on #17287
If you enable debug logging it will dump the request body so we can see if the XML is malformed.  See [here](https://github.com/Azure/azure-sdk-for-go/blob/17a7d28cf7abb60cedc99823e3a1d5550db8b525/README.md#inspecting-and-debugging) for instructions.

[2022-03-14 18:40] jhendrixMSFT commented on #16855
We will be keeping our present const pattern for enumerations.

[2022-03-14 18:40] #16855 closed

[2022-03-14 18:41] jhendrixMSFT commented on #16877
We have decided to not do this.

[2022-03-14 18:41] #16877 closed

[2022-03-15 00:21] JeffreyRichter commented on #17283
I think we'd need a complete list of errors that "go away by restarting the client" is guaranteed (or at least really likely) to fix the problem? I wouldn't want an SDK function to get into an infinite loop - customer will blame us for this.

[2022-03-15 04:50] hy3 commented on #17188
Thanks a lot !

The SDK is already a big help for me. I'll continue to use it and give feedback on it.
I'm looking forward to its stable release :+1:

[2022-03-15 05:02] mohsha-msft commented on #17291
Hey @NamrataJha ,

Thanks for reaching out!

SAS Key is an encrypted string. The only way to decode it or verify it is  to use private key (i.e. Azure Access Key used to encrypt it). SAS is just like a document signed with private key. So you can check whether SAS is valid or not if you have public key but you cannot decode it. That's the whole point of Assymmetric key encryption. You can check [t

[2022-03-15 05:02] #17291 closed

[2022-03-15 05:12] mohsha-msft commented on #17291
Based on your use-case, I suggest you use [AzCopy](https://github.com/Azure/azure-storage-azcopy). It's a command line tool to upload/download/transfer data to and from Azure.
[Public Documentation](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10)

[2022-03-15 05:44] NamrataJha commented on #17291
Oh we are using it as blob store for a go service, not sure if azcopy would be suitable for that.
Is there any alternative available for signed Url that can be generated with SAS token?
Correct me if I am wrong here, but as per my understanding SAS url is kind of like a pre-signed url. Can we generate a new url for download purpose from a SAS but for a short duration of time?

[2022-03-15 05:49] mohsha-msft commented on #17291
No,

You cannot edit a SAS. As I mentioned, it is pre-signed string. We use start time, end time, resource type, etc. parameters to create a string and sign it with your Access Key. So editing a SAS would mean decoding it, changing the parameters, and sign it again. It's equivalent to creating a new SAS.

I suggest you create SAS for short duration directly instead of trying to change the SAS itse

[2022-03-15 06:16] NamrataJha commented on #17291
Thanks @mohsha-msft.
One more thing is there any method in azure go sdk, using which I can download with my existing SAS url. No changes made. Like can I use this [blobUrl here](https://github.com/Azure/azure-storage-blob-go/blob/b32b5e3579400739418747a71c4bffaf8a19c4a0/azblob/zt_examples_test.go#L396), to download the same way we do with signed url?

[2022-03-15 09:21] mohsha-msft commented on #17291
Hey @NamrataJha ,

I would suggest you to use [GetSASToken()](https://github.com/Azure/azure-sdk-for-go/blob/be7dabfd93b625114b3a3ac7724affc3e7c0cabd/sdk/storage/azblob/zc_container_client.go#L233) method to create the SAS. We don't have methods to deal with already created SAS.

[2022-03-15 10:09] andyzhangx commented on #17287
@jhendrixMSFT thanks, I have set `AZURE_GO_SDK_LOG_LEVEL=DEBUG` and below are all the go sdk debug logs:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_azurefile-csi-driver/939/pull-azurefile-csi-driver-e2e/1503653286425661440/build-log.txt

[code]

[2022-03-15 17:23] NamrataJha commented on #17291
Thanks @mohsha-msft, something like this would be really helpful for us and help to remove a dependency on access key for simple read and write operations on blob store.

[2022-03-15 17:57] JeffreyRichter commented on #17283
Is this the kind of thing we can ship without today and perhaps add later?
Joel & I had a similar design for errors that are HTTP-retryable and it never felt good and so we got rid of it.
This is practically identical to that and this also does not feel good to me.

[2022-03-15 18:19] richardpark-msft commented on #15678
@lmolkova, can you answer this question? This particular issue is about Go and what we're considering but, assuming we fall in line with the rest of the SDKs, will this solve @darrenparkinson's requirement as well?

[2022-03-15 18:28] richardpark-msft commented on #17283
There are some distinctions that I think are notable:

1. HTTP response errors are standardized as http.ResponseError and further, they have a `StatusCode` field with a documented range of errors (just HTTP). This means we've already (implicitly) documented how a customer can distinguish a 404 from a 401, for instance.

In AMQP, our errors can come from multiple places for the same operation (the

[2022-03-15 20:47] jeffpatton1971 commented on #2822
Forgot to paste in the template

[code]

[2022-03-15 22:17] benbp opened #17313 "Scope internal resource manager ci to not trigger for eng/common changes"
The new internal resource manager pipeline will trigger for all `/eng` changes. There are likely reasons I am not aware of. I would like to exclude `/eng/common` changes (made via the sync PR process) from triggering this pipeline as I think it unnecessary.

https://github.com/Azure/azure-sdk-for-go/blob/04000266f5b36085ebf02b4fd97a3684d63d9415/sdk/resourcemanager/internal/ci.resourcemanager.yml#L

[2022-03-16 00:47] #16641 closed

[2022-03-16 07:55] richardpark-msft commented on #16965
Closing this, as we added code into azservicebus to ensure the net effect is the same.

There's already an issue filed in go-amqp to track more. "Fixing" it there would not break us.

[2022-03-16 07:55] #16965 closed

[2022-03-16 07:57] richardpark-msft commented on #16924
A little note about this - some systems might incorrectly flag this if they see the transitive oudated gin-gonic dependency show up in their go.sum file. If you run `go list -m all`, however, you'll see that the `replace` we've added in does properly force the version to be the patched gin-gonic.

So this is cosmetic and annoying, but not customer affecting.

[2022-03-16 08:02] richardpark-msft commented on #16860
I'm going to close this one as complete as of #17299 - the retryableRPC() part was the biggest issue with it since it was obscuring errors and adding in improper retry logic.

[2022-03-16 08:02] #16860 closed

[2022-03-16 08:02] #17051 closed

[2022-03-16 08:04] richardpark-msft commented on #16394
There have been a few meaningful fixes in this area and I've not seen this bug in the latest packages in our long term testing. Closing for now, will reopen later if it reappears.

[2022-03-16 08:04] #16394 closed

[2022-03-16 08:05] richardpark-msft commented on #15758
I think we can meaningfully say this is complete - we have several stress tests, executing regularly and adhoc. I can file future issues if we decide to enhance it further, and some stress work is also coming in naturally as part of other bug fixes.

[2022-03-16 08:05] #15758 closed

[2022-03-16 08:08] richardpark-msft commented on #15332
We've removed this entirely since we only take the full namespace name (including the DNS suffix).

[2022-03-16 08:08] #15332 closed

[2022-03-16 08:10] richardpark-msft commented on #15169
This has been done for awhile - we have _many_ tests in azservicebus related to testing. Both adhoc and regular running.

[2022-03-16 08:10] #15169 closed

[2022-03-16 08:11] richardpark-msft commented on #15736
Closing this issue.

[2022-03-16 08:11] #15736 closed

[2022-03-16 08:13] richardpark-msft commented on #15563
Moving to backlog. The key issue here was the session ID, which should have been allowed to be the empty string. That fix has been rolled into go-amqp and having to specify a MessageID, while interesting, is not customer affecting.

[2022-03-16 08:21] tadelesh commented on #17313
It's OK. I've deleted it with his [PR](https://github.com/Azure/azure-sdk-for-go/pull/17317).

[2022-03-16 08:21] #17313 closed

[2022-03-16 17:30] #16090 closed

[2022-03-16 17:30] #15562 closed

[2022-03-16 17:56] seankane-msft commented on #17177
Closed with #17296

[2022-03-16 17:56] #17177 closed

[2022-03-16 17:56] seankane-msft commented on #17175
Closed with https://github.com/Azure/azure-sdk-for-go/pull/17296

[2022-03-16 22:01] #16039 closed

[2022-03-17 00:08] richardpark-msft commented on #17283
Okay, some more offline discussion happened and I think we have some approaches we can take.

The core problem to solve here is how the customer can determine what is wrong, and whether they have to do something about it. In HTTP libraries we solve this easily by just having azcore.ResponseError, which has an HTTP status code that tells a customer a _lot_ about what's happened, by virtue of these

[2022-03-17 02:28] richardpark-msft opened #17325 "[azservicebus] Sessions detach can be inconsistent"
After a link detach it seems like there's a delay between the session lock expiring and me being able to reconnect to it.

This makes it so recovery is difficult - our current error code just assumes that attempting to open a session either works because we obtain the lock, or fails because the session is already locked. It doesn't attempt to account for a potential delay until the session becomes

[2022-03-17 06:28] adityabalaji-msft commented on #2822
Hi @jeffpatton1971 - thanks for reaching out and apologies for the inconvenience. We will look into the template that you shared. Just to clarify the scenario, are you looking to backup the system state of windows server using MARS agent backup solution (via ARM template)?

[2022-03-17 10:45] alexg-axis commented on #16916
@mohsha-msft Is it still planned for release in March?

[2022-03-17 15:53] jeffpatton1971 commented on #2822
@adityabalaji-msft honestly, I am just attempting to sort through the combinations and determine what is actually supported via the template. The list of WorkloadTypes does not sync with what is available via the portal, so there is some confusion within the documentation. It's also not really covered where and under what circumstances you could use each of the workloads. Of the 15 types available

[2022-03-17 15:57] jeffpatton1971 commented on #2822
For clarification, you can see in this [documentation](https://docs.microsoft.com/en-us/azure/templates/microsoft.recoveryservices/2021-08-01/vaults/backuppolicies?tabs=bicep#protectionpolicy-objects) that there are several different ways to configure the backup policies, the AzureIaasVm works for sure, but when we move into other scenarios that involve workload type, most of these fail. I've atte

[2022-03-17 16:25] richardpark-msft commented on #17283
@jhendrixMSFT, I know we're talking about final stages for go-amqp, what do you think of this?

[2022-03-17 18:40] rtrompier opened #17329 "Add support for RuntimeVersion Java_17"
### Feature Request

Support for Java 17 will be great :)

![image](https://user-images.githubusercontent.com/2504924/158131032-d17fd180-d6ad-474f-83b9-11891f435447.png)

[2022-03-17 19:00] #17329 closed

[2022-03-18 00:43] jberry777 opened #17330 "policyInsights: Missing Authorization Header"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
  - Import Path: "github.com/azure/azure-sdk-for-go/services/policyinsights/mgmt/2018-04-04/policyinsights"

- SDK version e.g. `master`, `latest`, `18.1.0`
  - Fresh pull of master branch.
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep

[2022-03-18 07:39] #15215 closed

[2022-03-18 09:29] tadelesh commented on #17330
@jberry777 Thanks for your feedback. It seems you didn't do the authentication before called the operation. You can reference this [doc](https://github.com/Azure/azure-sdk-for-go/blob/main/documentation/previous-versions-quickstart.md#authentication) to see how to do the authentication.

[2022-03-18 09:32] csandanov opened #17331 "Add support for MySQL/PostgreSQL flexible server API endpoints"
### Feature Request

I'd like to list available tiers for the flexible server deployment option, right now only single server supported.

[2022-03-18 15:18] mario-guerra opened #17332 "Enable Azure Table Storage cross-tenant support"
Library name
sdk/data/aztables

Please describe the feature.
Customer description of issue:

We are trying to enable cross-tenant OAuth based access to customer Azure Tables from our application. As of now, to enable OAuth based Table access between cross-tenant Storage Accounts would require prior knowledge of both tenants. However, with Tenant Discovery enabled for Tables we wouldn’t need the pr

[2022-03-19 01:05] #17183 closed

[2022-03-20 20:24] slightnerd opened #17334 "unmarshal error using armdatafactory QueryByPipelineRun api"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
-> 'Azure\azure-sdk-for-go\sdk\resourcemanager\datafactory\armdatafactory'

- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.

-> 'master'

- output

[2022-03-21 02:02] lirenhe commented on #17331
@csandanov, could you provide more detail of the ask? e.g.
1. What version of the SDK that lacks of this feature
2. What API did you call and what is the expected behavior v.s. the actual behaviour?

[2022-03-21 05:35] csandanov commented on #17331
Oh, I'm sorry, after updating to v62.2.0 I see these APIs have already been added. Thank you for your response!

[2022-03-21 05:35] #17331 closed

[2022-03-21 05:36] csandanov commented on #14915
I have the same issue, used `ListOrchestrators` in v46.0, updated to v62.2.0 and now it's gone

[2022-03-21 08:15] tadelesh commented on #17196
@jhendrixMSFT For `PUT LRO`, if operation finish, the body must be non-empty according to the [code](https://github.com/Azure/go-autorest/blob/82fc42f340cec32d30ce97f9277f9b8aaf8885df/autorest/azure/async.go#L882-L900). But as the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/953c26995780b043102a8941a07e8175ffad4428/specification/automation/resource-manager/Microsoft.Automation/stab

[2022-03-21 08:45] andrewbaxter opened #17335 "Nil pointer exception if nil options passed in ListBlobsFlat"
### Bug Report

On azblob v0.3.0

The code was changed to reuse the passed in options for subsequent pagination requests here: https://github.com/Azure/azure-sdk-for-go/pull/16992

However, if `nil` is passed in for options this causes a panic when the advancer tries to set the new marker.  This conflicts with conventions elsewhere in the code that allow nil values to be passed in (and previously

[2022-03-21 09:34] tombuildsstuff commented on #17196
This can also be found in the API Management API: https://github.com/Azure/azure-sdk-for-go/issues/17196#issuecomment-1073591633 - and I recall seeing this in a number of other API's, so I believe this is SDK limitation rather than an API issue?

[2022-03-21 14:50] tombuildsstuff commented on #17196
@jhendrixMSFT in the case mentioned above this is async, we're seeing a Location header with no body - @manicminer should be able to clarify in this specific case, but IIRC the API is defining both a 200 (non-LRO) and a 201 (LRO)

[2022-03-21 15:10] seankane-msft opened #17338 "[Tables] Update README samples"
example_test.go is up to date, README is inaccurate

[2022-03-21 17:41] maorleger opened #17339 "KeyVault - regenerate from 7.3 stable, prep for release"
In order to prepare for GA release, ensure the following have been considered for all KV packages (I assume 4, but your actual count might be less):

- [ ] Regenerate code from the stable 7.3 swagger when available for all 4 libraries
- [ ] API view is approved (all 4 likely will have changes - either due to new RBAC roles or just service version change)
- [ ] Version constants are updated to remo

[2022-03-21 17:44] maorleger commented on #17339
You can use https://github.com/Azure/azure-rest-api-specs/commit/e2ef44b87405b412403ccb005bfb3975411adf60 to regenerate from

[2022-03-21 19:48] lmolkova commented on #15678
@darrenparkinson As @richardpark-msft mentioned, ServiceBus Go SDK does not yet support opentelemtery yet, but we're working on it.

In the meantime, the best option would be to write your own instrumentation:
1. Follow [Otel messaging semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/messaging.md) to create spans

[2022-03-21 20:28] seankane-msft opened #17342 "[KeyVault] Verify samples in README.md"
@kimprice pointed out in the List keys example it should be `key.ID` instead of `key.KID`. Verify the secrets, keys, and certificates readmes have accurate samples

[2022-03-22 02:48] tadelesh commented on #17330
@jberry777 Could you put the detailed rest call info and SDK call info here? I could take a look whether it is an SDK issue.

[2022-03-22 02:56] tadelesh commented on #17196
@jhendrixMSFT It is an async operation. But the final response is a 200 empty-body response which I suppose is a valid result for empty file.

[2022-03-22 10:38] tadelesh commented on #17334
@slightnerd We have updated the type for some open object. Could you please try the new version [here](https://github.com/Azure/azure-sdk-for-go/releases/tag/sdk%2Fresourcemanager%2Fdatafactory%2Farmdatafactory%2Fv0.3.0)? Thanks for the feedback.

[2022-03-22 11:31] manicminer commented on #17196
FWIW I'm seeing this with API Management - when restoring a soft-deleted instance with a PUT request, the LRO poll on conclusion returns a 200 with no body, which is failing [this check](https://github.com/Azure/go-autorest/blob/master/autorest/azure/async.go#L896-L898) in go-autorest.

[2022-03-22 16:01] jhendrixMSFT commented on #17196
The are two types of LRO polling.  Resource location (RELO for short), and status monitor.  For the former, an example would be creating a VM.  You PUT the resource and then GET on the resource URL which includes the resource and its provisioning state.  For status monitor, you PUT the resource, and a polling URL, _different_ from the resource URL, is returned.  GET on the polling URL _must_ alway

[2022-03-22 16:36] RickWinter opened #17349 "Add Changelog entries for azservicebus"
Add entries for the fixes/features we've added since the last release.

[2022-03-22 17:25] benbp opened #17351 "Restore auto-release stage behavior for mgmt plane pipelines"
See https://github.com/Azure/azure-sdk-for-go/pull/17312#issuecomment-1074998790

[2022-03-22 19:20] slightnerd commented on #17334
New version works great.

[2022-03-22 19:45] mt35-rs commented on #16916
I also need this functionality.  We are trying to obey the "principle of least privilege" here, but not being able to (easily) work with service principals makes this really difficult.  Having to use a very privileged access key to create signed URLs seems totally backward.

[2022-03-22 21:04] #17339 closed

[2022-03-23 03:10] tadelesh commented on #17334
@slightnerd Thanks. I'll close the issue then.

[2022-03-23 03:10] #17334 closed

[2022-03-23 07:05] zezha-msft commented on #17335
Thanks for reaching out!

We will take a look and make a fix in the next release.

[2022-03-23 08:02] #17075 closed

[2022-03-23 08:04] mibo-fdc opened #17357 "azservicebus dependency update fails"
### Bug Report

go get -u ./...

fails with

github.com/edeka-digital/nemo/pkg/queue imports
	github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus imports
	github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus/internal imports
	github.com/Azure/azure-sdk-for-go/sdk/messaging/internal/cbs: cannot find module providing package github.com/Azure/azure-sdk-for-go/sdk/messaging/internal/c

[2022-03-23 08:36] tadelesh commented on #17330
It might caused by the legacy api version of SDK. @jberry777 If possible, could you use our [new version](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/policyinsights/armpolicyinsights) of SDK which is under preview but use the same api version with your rest call. You can ref to the [migration guide](https://github.com/Azure/azure-sdk-for-go/blob/main/documentation/MIGR