[2019-03-01 23:45] jhendrixMSFT commented on #4124
Using your provided response body, I tried to unmarshal it into a Service struct and it works as expected.  Maybe there's more to the repro?
The decision to use `uuid.UUID` instead of `string` was before my time on the SDK so I don't know why this decision was made.  Unfortunately changing to `string` would be a pretty significant breaking change so I suspect we're stuck with this for now (if we e

[2019-03-01 23:50] jhendrixMSFT commented on #4182
Hello @lsytj0413 can you please specify the API you're calling?

[2019-03-01 23:58] jhendrixMSFT commented on #4125
While I don't know anything about IoT Hubs I'll help as best I can.  Is it possible to compare what's created by CLI and Terraform to see if there are differences?  I suspect the next step is to get Terraform looking at this to confirm/deny if there's a bug in how they create IoT Hubs.

[2019-03-02 19:03] pragnagopa opened #4207 "Implement all the message types in StreamingMessage"
Functions host will start sending various messages defined under StreamingMessage: https://github.com/Azure/azure-functions-language-worker-protobuf/blob/dev/src/proto/FunctionRpc.proto#L20

To avoid breaking language worker, please implement all of them otherwise grpc will start throwing errors.
Note: only dummy implementations needed for now to avoid breaking changes

[2019-03-02 19:04] #4207 closed

[2019-03-03 03:36] lsytj0413 commented on #4182
I use the package **github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice** and contruct the client as:

[code]

[2019-03-03 03:39] lsytj0413 commented on #4120
I have tried the packages:

[code]
and construct the cilent as:

[code]

the region we use is azure-china.

[2019-03-04 09:33] tombuildsstuff commented on #4125
@jhendrixMSFT we've not had time to look into this from our side yet, but I'd agree that we probably need to pass some extra fields here/use a different API version to enable this functionality.

Since this is a feature enhancement for Terraform (and isn't yet a feature request/bug in the SDK) - is it worth closing this in favour of https://github.com/terraform-providers/terraform-provider-azurerm

[2019-03-04 09:49] JunyiYi opened #4211 "Bug Report: `Resource ID` is missing in API Management Logger response"
### Bug Report

[`Resource ID`](https://docs.microsoft.com/en-us/rest/api/apimanagement/logger/createorupdate#loggercontract) is missing in [API Management Logger response](https://github.com/Azure/azure-sdk-for-go/blob/master/services/apimanagement/mgmt/2018-01-01/apimanagement/models.go#L5564).

[2019-03-04 11:27] v1r7u commented on #4125
@tombuildsstuff are you sure that this is enhancement? I haven't seen such _property_ nor in ARM templates, neither azure cli.

[2019-03-04 11:50] tombuildsstuff commented on #4211
@JunyiYi it looks like it's available in the top level object: https://github.com/Azure/azure-sdk-for-go/blob/master/services/apimanagement/mgmt/2018-01-01/apimanagement/models.go#L5485 :)

[2019-03-04 12:02] tombuildsstuff commented on #4125
@v1r7u

I don't without further investigation, unfortunately.

The ARM template in your example uses API version `2018-04-01` whereas we use version `2018-12-01-preview` - as such it's likely this functionality requires some work to support (for example, perhaps the new API version has this behaviour disabled by default, or requires a separate call to enable) such that this would be an enhancement

[2019-03-04 18:22] jhendrixMSFT commented on #4211
Tom is correct, please see here https://github.com/Azure/azure-sdk-for-go/blob/master/services/apimanagement/mgmt/2018-01-01/apimanagement/models.go#L5485

[2019-03-04 18:22] #4211 closed

[2019-03-04 18:35] JunyiYi commented on #4211
Hi @tombuildsstuff @jhendrixMSFT , it is my fault of not explaining it clearly. The Resource ID here represents `properties.resourceId`, not the `ID` of the logger.

For example, in the response body of [this example](https://docs.microsoft.com/en-us/rest/api/apimanagement/logger/createorupdate#apimanagementcreateehlogger), I mean the `resourceId` property is missing.

[code]

[2019-03-04 18:57] jhendrixMSFT commented on #4182
@yangl900 can you please comment on this?  For reference this maps the the following API in swagger https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2018-03-31/managedClusters.json#L334

[2019-03-04 20:49] jhendrixMSFT commented on #4120
Can you please attach the HTTP request/response?  Easiest way is to set environment var `AZURE_GO_SDK_LOG_LEVEL` to `debug` then run your repro.  This way we will know if the value is being sent over the wire or not.

[2019-03-04 20:54] jhendrixMSFT commented on #4211
Thanks for clarifying.  Since this is an issue with the swagger I've ported this issue to https://github.com/Azure/azure-rest-api-specs/issues/5318

[2019-03-04 21:53] jhendrixMSFT commented on #4125
@v1r7u here's a simple Go program to create a basic IoT hub.
https://gist.github.com/jhendrixMSFT/55054fb733bf89304b24627024cc3baa
It will create an Azure authorizer from your environment so you need to set the following environment variables before running.
[code]

[2019-03-05 01:06] lsytj0413 commented on #4120
[computesku.log](https://github.com/Azure/azure-sdk-for-go/files/2928837/computesku.log)
this is the log when compute.SkusClient.List is called.

[2019-03-05 07:13] v1r7u commented on #4125
@jhendrixMSFT many thanks! I'll do that during the week

[2019-03-05 16:28] jhendrixMSFT commented on #4120
Thanks, I don't see this info coming over the wire.
@hylee do you know why we don't receive the cost info here?

[2019-03-05 17:33] katbyte commented on #4121
Correct @jhendrixMSFT

[2019-03-05 22:21] jhendrixMSFT commented on #4121
I've ported this to the specs repo, see https://github.com/Azure/azure-rest-api-specs/issues/5326

[2019-03-05 22:21] #4121 closed

[2019-03-07 19:51] yangl900 commented on #697
I see this issue has been closed and it will work. However I think the fix rely on client sending a request and get 401 response, then correct the resource string. Why don't we just fix the KV resource string?

KeyVaultEndpoint:             "https://vault.azure.net/",

https://github.com/Azure/go-autorest/blob/1f7cd6cfe0adea687ad44a512dfe76140f804318/autorest/azure/environments.go#L70

[2019-03-07 19:56] jhendrixMSFT commented on #697
@yangl900 `KeyVaultEndpoint` is the URL endpoint, not the resource ID.  Sadly they are almost identical which is what made this confusing (and even more confusing, for some RPs the endpoint and resource ID are identical).  Removing the trailing '/' would likely break a lot of other code so we can't do that.

[2019-03-07 20:06] yangl900 commented on #697
Possible we define separate KeyVaultResourceUri in the SDK? I would be good if we can avoid making 401s. I understand each service may have different authentication logic, some cares about the trailing slash and some doesn't. But I'm hoping for the core Azure services, we just make it right for user.

[2019-03-07 20:08] jhendrixMSFT commented on #697
We could do that, please open an issue in this repo to track that (and of course we accept PRs too :)).

[2019-03-07 22:36] yangl900 opened #4234 "Define core Azure services resource Uri (audience) in SDK"
### Feature Request
It would be convenient if we define common core Azure services resource Uri (audience) in SDK. This is related to issue #697, that the service endpoint may not exact match the resource Uri when acquiring access tokens. While #697 fixed the issue, it requires client to make one unauthenticated request first and parse the resource Uri from response header. This is additional over

[2019-03-08 09:16] karataliu commented on #697
@jhendrixMSFT @yangl900
Can you take a review: https://github.com/Azure/go-autorest/pull/367/files

[2019-03-10 20:58] v1r7u commented on #4125
@jhendrixMSFT I tried your snippet and resulting IoT Hub works fine with my tests 👍

I also briefly looked at code, that creates IoT Hub in Terraform library. The only suspicion for me part is [`expandIoTHubEndpoints`](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/resource_arm_iothub.go#L554)  method. It creates empty slice for event-hub-endpoint.

I'll try

[2019-03-10 21:29] v1r7u commented on #4125
And BANG!

I reproduced the same behavior for IoT Hub created by ARM template. Commit with a change to my samples-repository is [here](https://github.com/deepnetworkgmbh/azure-iot-directmethod-sample/commit/9c420faf7af981f1f7a7db86c3125e101cfedc61)

To summarize my understanding of the problem.
1. Azure Resource Manager by default creates IoT Hub with built-in routing of device-2-cloud events. Thi

[2019-03-10 22:57] avarabyeu opened #4248 "Unable to create bot registration"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`

[code]

- SDK version e.g. `master`, `latest`, `18.1.0`
`latest`
- output of `go version`
`go version go1.12 darwin/amd64`

- What happened?
Unable to create bot channel registration
- What did you expect or want to happen?
Registration is created
- How can we reproduce it?
[code]
Please note

[2019-03-11 15:05] jhendrixMSFT commented on #4125
I will find somebody from the service team to look into this but I suspect this by design, i.e. specifying empty routes is probably how one would express removal of endpoints.

[2019-03-11 15:08] v1r7u commented on #4125
The problem with this design, that it also removes route (my favorite device-2-cloud events), that is out of user control.
The worst part - this removal is not possible to track from end-user perspective: the route is not displayed not before the action, not after.

[2019-03-11 16:46] jhendrixMSFT commented on #4248
I can repro this too, I'm following up with the service team about it.

[2019-03-12 09:58] orlangure opened #4262 "Committing vendor directories broke Environment type"
Since `go-autorest` and `azure-sdk-for-go` committed `vendor` directories (https://github.com/Azure/azure-sdk-for-go/commit/b99be020a281cae39761deadb8672d22f44b89eb, https://github.com/Azure/go-autorest/commit/ce88814cecd48039e38c31553e7499883ae95d8c), the signature of `NewAccountSASClient` changed unexpectedly, making the following code failing to compile:
[code]
[code]
If useful, the project doe

[2019-03-12 15:48] jhendrixMSFT commented on #4262
It's not that the signature changed, it's that the types are different; i.e. the vendored copy of `azure.Environment` is a different type than your local copy of `azure.Environment` even though the signatures are identical.

[2019-03-12 16:22] orlangure commented on #4262
Signature includes parameter types, so I guess if the type changed, the signature changed as well.

More importantly, any idea how can I fix it?

[2019-03-12 16:25] smoser opened #4263 "support compression of upload data via content-encoding gzip"
### Feature Request
I find the azure-vhd-utils to be extremely useful for uploading VHD.  We are using it to upload large disks and it works great.  We currently have a workflow of:

  1. copy and extract a .tar.gz file with .vhd files inside from build system to instance in azure
  2. upload the .vhd file from the instance.

Uploading the compressed content out of the build system is necessary as

[2019-03-12 16:28] jhendrixMSFT commented on #4262
I was discussing this with @vladbarosan, unfortunately `go get` and `dep` are somewhat diametrically opposed so finding a solution that works for both is difficult.  We highly recommend using a package version management system like `dep` but I guess this isn't always desirable.

[2019-03-12 16:29] orlangure commented on #4262
Can using go modules (the official way) solve the issue? We will still use `go get`, but it'll be module-aware.

[2019-03-12 16:33] jhendrixMSFT commented on #4262
Modules will solve this and is ultimately where we want to land although that's at least a month out.  In the meantime I believe the other options are to either switch your projects to use `dep` for package management or we remove `go-autorest` (and a few other packages) from the `vendor` directory.

[2019-03-12 17:01] smoser commented on #4263
If anyone sees this, and wants to "vote", Please do so on the Azure Storage Service forum issue [here](https://feedback.azure.com/forums/217298-storage/suggestions/3388309-http-compression-support-for-azure-storage-service)

[2019-03-12 19:46] grrtrr opened #4265 "azure-sdk: build broken after exposing vendor/ directory"
_This was observed after exposing the `vendor/` directory in `v26.3.0` via b99be020a281cae39761deadb8672d22f44b89eb_

## Problem

Apparently due to `dep` problems, the `vendor` directory has been exposed in b99be020a281cae39761deadb8672d22f44b89eb

This causes problems with builds that import `github.com/Azure/go-autorest/autorest/...` manually, since the `github.com/Azure/azure-sdk-for-go/` will

[2019-03-12 21:55] jhendrixMSFT commented on #4265
Dupe of https://github.com/Azure/azure-sdk-for-go/issues/4262.  Should have a fix later today, sorry for the hassle.

[2019-03-12 21:55] #4265 closed

[2019-03-12 23:07] jhendrixMSFT commented on #4262
This has been fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v26.3.1, sorry for the hassle.

[2019-03-13 07:44] aviaoh commented on #4262
@jhendrixMSFT - thanks for the quick fix! 🎉
will be great if you can also add an example with the above code to make sure compilation will not break with next dependencies fix :)

[2019-03-13 12:15] tariq1890 commented on #3917
Do we have the Go SDK equivalent of `az vmss nic list` ?

[2019-03-13 14:31] jhendrixMSFT commented on #4262
@aviaoh thanks for reminding me, will look into that today.

[2019-03-13 16:51] jhendrixMSFT commented on #3917
Yes the API you want is `InterfacesClient.ListVirtualMachineScaleSetNetworkInterfaces`, see https://github.com/Azure/azure-sdk-for-go/blob/master/services/network/mgmt/2018-12-01/network/interfacesgroup.go#L958.

[2019-03-13 18:21] tariq1890 commented on #3917
Thanks. I don't see a similar method for VirtualMachines though.

[2019-03-13 18:24] tariq1890 commented on #3917
To rephrase my earlier, I don't see an equivalent for `az vm nic list`. Thanks for the responses @jhendrixMSFT  :)

[2019-03-13 18:48] jhendrixMSFT commented on #3917
I think the equivalent to `az vm nic list` would be to call `VirtualMachinesClient.Get()` then iterate over the `VirtualMachine.VirtualMachineProperties.NetworkProfile.NetworkInterfaces` slice.
For reference, you can see how the python CLI commands work for VM by looking at the following file.
https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-vm/azure/cli/command_modules/vm

[2019-03-13 19:03] tariq1890 commented on #3917
@jhendrixMSFT We use a similar method to what we do in the python flows. But `NetworkProfile.NetworkInterfaces` returns only a reference to the NICs not the complete struct which encapsulates all the fields of the NIC object.

`ListVirtualMachineScaleSetNetworkInterfaces` fits the bill in this regard though. We just need something similar for `VMs`

[2019-03-14 10:30] tiwood opened #4280 "Add support for managing Azure AD Directory roles (graphrbac)"
### Feature Request

Can you add support for managing Azure AD Directory Roles to the SDK? (graphrbac)

MS Graph links:

https://docs.microsoft.com/en-us/graph/api/resources/directoryrole?view=graph-rest-beta
https://docs.microsoft.com/en-us/graph/api/resources/directoryroletemplate?view=graph-rest-beta

And here are the links for Azure AD API:

https://docs.microsoft.com/en-us/previous-versions/a

[2019-03-14 10:43] tiwood commented on #4280
This is currently blocked by https://github.com/Azure/azure-rest-api-specs/issues/5383

[2019-03-17 01:54] fchazel2 opened #4301 "Add compute.VirtualMachineScaleSetVMNetworkInterfaceClient"
### Feature Request

Can you please add the required Client & structs to get Network Interfaces of Scale Set Virtual Machines?

The network interfaces IDs can be retrieved using the 'compute.VirtualMachineScaleSetVMsClient' client, but there is currently no SDK client to retrieve network interfaces details for theses IDs

The use case is to retrieve the allocated IPs of all the VM instances in a s

[2019-03-18 12:06] mjudeikis opened #4305 "Add vmss compute.ListInstancePublicIPs"
### Feature Request

CLI has an option:
[code]

Could we add SDK method to compute library:
[code]

[2019-03-19 15:58] seyadava opened #4316 "Go SDK fails to install with dependency error"
Install Go SDK fails with the following error:

package go.opencensus.io/exemplar: cannot find package "go.opencensus.io/exemplar" in any of:
        C:\Go\src\go.opencensus.io\exemplar (from $GOROOT)
        C:\Users\<user>\go\src\go.opencensus.io\exemplar (from $GOPATH)

[2019-03-19 16:00] jhendrixMSFT commented on #4316
This is a known upstream issue, please see https://github.com/census-instrumentation/opencensus-go/pull/1067#issuecomment-474279057.
Is there a reason you're not using `dep` for package management?

[2019-03-19 16:13] seyadava commented on #4316
Thanks for your quick response @jhendrixMSFT

There is no technical reason. Go SDK document gives two options to install Go SDK and at the time we wrote our tests we chose to use Git instead of dep to install the SDK (mainly because we have Git installed on our environments and didn't want to install additional tools).
I can see the upstream fix is being merged 6 hours ago. But issue still repros

[2019-03-19 16:29] orlangure commented on #4316
@seyadava, the PR with a fix was merged 20 minutes ago (or 6 minutes before you posted your comment).

[2019-03-19 16:29] songy23 commented on #4316
https://github.com/census-instrumentation/opencensus-go/pull/1071 should temporarily fix this. Sorry for the inconvenience.

If you're using Go1.11+, maybe consider pinning a released version of `go.opencensus.io`, for example https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver/blob/ab5a58af316a529613aadf9f50eeed1b6f044b2f/go.mod#L11.

[2019-03-19 16:31] jhendrixMSFT commented on #4316
@songy23 thanks for the update.
@seyadava I highly recommend using `dep` to manage your dependencies to avoid such issues.  It's what we test with so everything should always just work.

[2019-03-19 18:55] simongdavies opened #4322 "Logging Constants in README are wrong"
In the README.md the values for info and debug log values for the environment variable are wrong they should be INFO and DEBUG not LogInfo and LogDebug

[2019-03-19 20:37] jhendrixMSFT commented on #4316
Closing as the fix has been made upstream.

[2019-03-19 20:37] #4316 closed

[2019-03-19 22:55] jhendrixMSFT commented on #4305
That CLI command maps to API `PublicIPAddressesClient.ListVirtualMachineScaleSetPUblicIPAddresses`.
https://github.com/Azure/azure-sdk-for-go/blob/master/services/network/mgmt/2018-12-01/network/publicipaddresses.go#L609
So you should be able to do something like this.
[code]
Let me know if that works.

[2019-03-19 22:56] jhendrixMSFT commented on #4322
Fixed in v26.5.0.

[2019-03-19 22:56] #4322 closed

[2019-03-19 23:01] jhendrixMSFT commented on #4301
I believe you can do this via the `InterfacesClient.GetVirtualMachineScaleSetNetworkInterface` in the `network` package.
https://github.com/Azure/azure-sdk-for-go/blob/master/services/network/mgmt/2018-12-01/network/interfacesgroup.go#L452
Can you please take a look and let me know if it works?

[2019-03-20 06:38] zed-rishabh opened #4336 "src/contrib.go.opencensus.io/exporter/ocagent/transform_stats_to_metrics.go:257:5: cannot use exmplr.Attachments (type metricdata.Attachments) as type map[string]string in field value"
While doing **go get github.com/Azure/azure-sdk-for-go/storage**

contrib.go.opencensus.io/exporter/ocagent
My_GOPATH/src/contrib.go.opencensus.io/exporter/ocagent/transform_stats_to_metrics.go:257:5: cannot use exmplr.Attachments (type metricdata.Attachments) as type map[string]string in field value

[2019-03-20 06:43] zed-rishabh commented on #4336
https://github.com/census-ecosystem/opencensus-go-exporter-ocagent/issues/52

[2019-03-20 11:23] mjudeikis commented on #4305
@jhendrixMSFT awesome as always :100:

[2019-03-20 11:23] #4305 closed

[2019-03-20 16:19] songy23 commented on #4336
The fix in upstream (https://github.com/census-ecosystem/opencensus-go-exporter-ocagent/pull/53) is merged, feel free to close this issue. Moving forward, if Go modules is introduced to this project (I believe it's being discussed in https://github.com/Azure/azure-sdk-for-go/issues/2993), hopefully this kind of issues can be minimized.

[2019-03-20 16:27] jhendrixMSFT commented on #4336
In the meantime I'd suggest using `dep` to manage your dependencies until we've implemented support for modules.

[2019-03-20 16:27] #4336 closed

[2019-03-20 21:27] jhendrixMSFT commented on #1922
Using a custom `RequestInspector` works better than preparer/sender/responder
[code]

[2019-03-20 23:51] fchazel2 commented on #4301
Thanks a lot, this worked for me.
I had missed this API.

Using `InterfacesClient.ListVirtualMachineScaleSetNetworkInterfaces` I can retrieve all allocated IPs for a scale set with a single call successfully.

[2019-03-21 03:09] #4301 closed

[2019-03-21 10:21] tombuildsstuff commented on #3373
@jhendrixMSFT 👋 sorry to re-raise an old issue; whilst profile `2018-03` got added during v24 of the SDK, this issue was originally about the `2018-08` profile, which features support for Managed Disks. Would it be possible to re-open this and add support for that profile?

Thanks!

[2019-03-21 14:29] jhendrixMSFT commented on #3373
I don't see a `2018-08` profile defined.
https://github.com/Azure/azure-rest-api-specs/tree/master/profile
Do you have a link to this profile?  I can follow up with the stack team about it.

[2019-03-21 17:14] tombuildsstuff commented on #3373
@jhendrixMSFT it's documented here: https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-version-profiles

Given that timeline I'm assuming that a `2018-08` Profile exists (but is missing from the Swagger repo) and that there's a `2019-03` Profile coming in the not-too-distant future, but I maybe mis-understanding that?

[2019-03-22 16:23] jhendrixMSFT commented on #3373
@bganapa to comment

[2019-03-22 17:05] bganapa commented on #3373
Thanks @jhendrixMSFT for looping me in. @tombuildsstuff , we do not have 2018-08 profile for azurestack. 2018-03 profile got released only in august of 2018 though we started coining that in March of 2018 for various reasons.  So the managed disk support is available in 2018-03-01-hybrid profile itself.  2019-03-01-hybrid profile is in the works and we expect that to be released by May first week.

[2019-03-23 07:35] tombuildsstuff commented on #2824
@jhendrixMSFT - is there any update here? :)

[2019-03-26 15:44] AmudhaPalani opened #4381 "Add support for setting up SSO for Service Principal"
### Feature Request

Add support for setting up SSO for Service Principal.

Please add methods to configure azure AD SSO as mentioned in this document:
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/amazon-web-service-tutorial#configure-azure-ad-single-sign-on

[2019-03-26 18:29] tiny-dancer commented on #4381
@AmudhaPalani do you mean setting up SSO for an `enterprise application`?

[2019-03-27 03:57] arluca commented on #3975
@jhendrixMSFT : This helps with limiting the number of tries; however, what about limiting the period of time before it times out (even within a single try?)

[2019-03-27 15:59] jhendrixMSFT commented on #3975
In this sample the context should time out after 500ms and cancel the in-flight request.  Are you saying that isn't happening?

[2019-03-27 16:25] jhendrixMSFT commented on #2824
@tombuildsstuff looks like the email thread died.  :(  Working on it...

[2019-03-27 17:35] jeffhollan commented on #2397
Just pinging this thread - the updates aren't out yet but they are on the way so this is likely a good time to look at what the new API surface will be in the coming weeks. @mattchenderson is the point of contact on the API side from our side.

[2019-03-27 21:46] katbyte opened #4407 "Shared Image API calls with version `2018-06-01` no longer function"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`"github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2018-06-01/compute"`
- SDK version e.g. `master`, `latest`, `18.1.0`
`github.com/Azure/azure-sdk-for-go v25.1.0+incompatible`
- output of `go version`
`go version go1.12 darwin/amd64`

Starting on march 14th all our Shared Image and Sha

[2019-03-27 22:07] jhendrixMSFT opened #4408 "Document how to configure retries etc"
There are various knobs we can set on the client, we should doc this in the README along with a sample.

[2019-03-29 09:41] sschu commented on #4280
Isn't the Azure AD Graph API deprecated and the MS Graph API should be used instead anyways?

[2019-03-29 22:20] jhendrixMSFT commented on #4407
@savyasachisamal can you please route this to the RP owner to take a look?

[2019-04-01 21:53] cmendible commented on #3990
Hi guys any news on this one?

[2019-04-02 02:55] jim-minter commented on #409
Hi @jhendrixMSFT, is there more to this than just the interface definitions?  Do you supply any sort of mock/fake classes which implement those interfaces?

[2019-04-03 14:55] drosseau opened #4473 "Storage Account CustomDomain has the wrong type"
### Bug Report

github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2018-11-01/storage

- What happened?

The JSON and Go type don't match up for [CustomDomains](https://godoc.org/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2018-11-01/storage#CustomDomain). The Go type is `*bool`, but the JSON contains a string.

- What did you expect or want to happen?

Types match.

- How can we

[2019-04-04 10:56] DavidR91 opened #4478 "Applications - parity with oauth2AllowIdTokenImplicitFlow as separate from oauth2AllowImplicitFlow"
**Feature request**
Both in the portal and in the resulting manifest, AD applications can now separate implicit flow into allowing access tokens and/or ID tokens:

![image](https://user-images.githubusercontent.com/282737/55550459-24acc700-56d0-11e9-823f-e9e353519579.png)

![image](https://user-images.githubusercontent.com/282737/55550486-2f675c00-56d0-11e9-87c8-780d468d0ba0.png)

whereas this SDK

[2019-04-04 14:55] javiersoriano commented on #1828
Hi @vladbarosan @huangpf what is the blocker for this issue? I have a customer blocked because of terraform taint being unavailable on Azure. Thanks

[2019-04-05 20:03] lewinski opened #4485 "Need anyOf and containsAny support for ActivityLogAlertLeafCondition"
### Feature Request

In order to interact with Service Health Activity Log Alerts that are created in the portal, this SDK needs support for compound anyOf conditions as well as support for the containsAny property in leaf conditions.

Here is an example JSON fragment that is returned from the API but which most of the data is currently dropped by the SDK:

[code]

The second (anyOf), third (Servi

[2019-04-05 23:38] sopatwar opened #4486 "Error when calling GetAll() and GetByID() APIs"
### Bug Report

**- import path of package in question,**
"github.com/Azure/azure-sdk-for-go/profiles/latest/alertsmanagement/mgmt/alertsmanagement"

**- SDK version**
~/go/src/github.com/Azure/azure-sdk-for-go$ cat version/version.go
package version

// Copyright (c) Microsoft and contributors.  All rights reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may

[2019-04-08 16:36] jhendrixMSFT commented on #409
@jim-minter at present no although I'm open to suggestions.  Does something like this work for you?
[code]

[2019-04-08 16:51] jhendrixMSFT commented on #3990
Sorry for the delay, trying to find the right person to get you an answer.

[2019-04-08 18:09] jhendrixMSFT commented on #4486
This is due to missing `host` information in the swagger spec.  I've opened https://github.com/Azure/azure-rest-api-specs/pull/5580 to fix this.

[2019-04-09 14:55] ksemba opened #4505 "Authentication example needed"
I've seen a bunch of examples on how to authenticate but non of those worked for me. Maybe someone could look at my code and provide a hint on what I'm doing wrong:

[code]

This is the error I get:

Thanks

[2019-04-10 17:21] OffColour opened #4516 "SoftwareUpdateConfigurationsClient"
### Bug Report

"github.com/Azure/azure-sdk-for-go/services/automation/mgmt/2017-05-15-preview/automation"

I'm new to the SDK, so I could be wrong here on naming standards, but it seems odd that SoftwareUpdateConfiguration has the plural SoftwareConfiguration**s**Client

[2019-04-10 21:03] jhendrixMSFT commented on #4505
From what I see here it looks to me that the context returned from `request.Context()` has been cancelled.  What is the origin of this context?

[2019-04-10 21:04] jhendrixMSFT commented on #4505
There is also some documentation on authentication in the [README](https://github.com/Azure/azure-sdk-for-go#authentication).

[2019-04-10 21:12] jhendrixMSFT commented on #4516
Hello!  The packages in this SDK, excluding the `storage` package, are generated from [swagger specs](https://swagger.io/docs/specification/about/).  In our swagger authoring, the convention for operation IDs is to use a `noun_verb` pattern where the `noun` is plural; you can find out more about why we recommend this [here](https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/op

[2019-04-11 08:29] ksemba commented on #4505
This is the request context provided by the `gorilla mux` router when the client calls the REST API. Not sure if this is the right type of context that the Azure API expects?!

Yes, I've seen the examples on the README file and that is where I have my code from ;) I just had to (or think I have to) set those auth environment variables using golang's os package since I couldn't find a mechanism in

[2019-04-11 10:27] imavroukakis commented on #4111
Hey there, would appreciate any updates on this :)

[2019-04-11 12:05] lukasmalkmus opened #4521 "Wrong Go type for field "documentdb.Usage.Limit""
### Bug Report

- Import: `github.com/Azure/azure-sdk-for-go/services/cosmos-db/mgmt/2015-04-08/documentdb`
- SDK version: `v27.0.0`
- Go version: `go version go1.12.3 darwin/amd64`

### What happened?

We saw errors in CI due to the `documentdb.DatabaseAccountsClient#ListUsages` returning an error:

[code]

The value `107374182400` does not fit an `int32`.

### What did you expect or want to happ

[2019-04-11 12:08] ronoc commented on #4521
I have ran into similar issues come to think of it, any chance someone could take a look  ?

[2019-04-11 16:13] jhendrixMSFT commented on #4505
The context passed to the various APIs in the SDK is used for specifying a deadline/timeout for the API call.  If a deadline/timeout isn't required I suggest passing `context.Background()` for the value (passing a context from an unrelated HTTP request seems dubious).
If you want to programmatically create an authorizer from client credentials have a look at `ClientCredentialsConfig.ServicePrincip

[2019-04-11 16:14] jhendrixMSFT commented on #4111
@hytao ping

[2019-04-11 18:51] ksemba commented on #4505
Thanks @jhendrixMSFT. I need to spend more time on figuring out what "context" is in my Go app... the request.Context() from gorilla mux has not "Background" propertyfunction. I'm still new to Go.

Your hint regarding the ServicePrincipalToken() function didn't help me since it requires things like `AADEndpoint` and `Resource` and I have no clue on where to get those.

It is really unfortunate tha

[2019-04-11 18:56] jhendrixMSFT commented on #4505
I agree that embedding credentials in the app is more work as we have not optimized for this (anti) pattern.  Could you explain a little more why `auth.NewAuthorizerFromEnvironment()` doesn't work for you?

[2019-04-12 09:02] cbananth commented on #894
Do we know if there is any work on this front? Any idea when the go functions might be available on Azure?

[2019-04-12 13:21] ksemba commented on #4505
@jhendrixMSFT the `auth.NewAuthorizerFromEnvironment()` doesn't work for me because I cannot get it to work ;) which could be related to the `context` that I don't know how to properly provide. Any suggestions?

Maybe some more background on why I want to use that "anti-pattern": I'm writing a service that pulls resource data from any Azure account. The consumer of that service just needs to provi

[2019-04-12 15:04] jeffrey-joel-walls opened #4533 "Cannot unmarshal ServicePrincipalListResult in call to graphrbac client.List"
### Bug Report
- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
github.com/Azure/azure-sdk-for-go/services/graphrbac/1.6/graphrbac

- SDK version e.g. `master`, `latest`, `18.1.0`
27.0

- Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
d659f2a91175cac99aa5627d09b

[2019-04-12 17:06] jhendrixMSFT commented on #4505
The context is to control the lifetime of the request.  If you don't want to explicitly place a deadline/timeout on it, i.e. you want to wait for it to complete with the default timeout, you want to pass `context.Background()`.
Thanks for the explanation about your auth scenario, agreed that using `auth.NewAuthorizerFromEnvironment()` is not the right tool for this scenario (it's intended for apps

[2019-04-12 18:27] sopatwar commented on #4486
@jhendrixMSFT Is this issue fixed?
If yes, what do I need to update on my end ?

Thanks,
Sourabh

[2019-04-12 18:34] jhendrixMSFT commented on #4486
Just tagged the fix, https://github.com/Azure/azure-sdk-for-go/releases/tag/v27.1.0.  Let me know if you still have problems.

[2019-04-12 19:18] sopatwar commented on #4486
@jhendrixMSFT thanks!
It works now.

[2019-04-12 19:18] #4486 closed

[2019-04-15 16:27] jhendrixMSFT commented on #4521
@shurd looks like the `limit` field is incorrectly defined as `integer` in the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/cosmos-db.json#L1976), it should be `long` instead.  Can you confirm this is correct?

[2019-04-15 16:32] jhendrixMSFT commented on #4533
@ankushbindlish2 @yugangw-msft looks like the `accountEnabled` field is incorrectly defined in the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json#L3606).  Can you confirm?

[2019-04-15 16:59] ronoc commented on #4521
Yep, that's correct.

On Mon, 15 Apr 2019, 17:27 Joel Hendrix, <notifications@github.com> wrote:

[2019-04-16 16:13] vladbarosan commented on #894
Hi @cbananth this is still in private preview. Please signup using the form if you would like access. Tagging @asavaritayal to comment on a timeline for a public preview. @eduardolaureano

[2019-04-16 16:14] vladbarosan commented on #894
also @joshgav  can you please give me and @asavaritayal  access to https://aka.ms/gofunc-signup ?

[2019-04-17 13:59] mamoorkhan commented on #1020
is there any update on this one?

[2019-04-18 14:23] LaurentLesle opened #4573 "Adding support for dnsZoneId and privacy properties for App Service Domain"
### Feature Request

The latest REST API can link an App Service Domain to an existing Azure DNS id through the dnsZoneId property

The privacy property is also missing.

https://docs.microsoft.com/en-us/rest/api/appservice/domains/createorupdate

Current implementation:
https://github.com/Azure/azure-sdk-for-go/blob/master/services/web/mgmt/2018-02-01/web/domains.go

[2019-04-18 18:23] stevedumais commented on #4120
I've run in to the same thing - please let me know if any more log info would be of any assistance and I'll pass it along.

[2019-04-18 19:04] ILoveGolang123 opened #4579 "azure structs are missing Done method"
### Bug Report

go-autorest latest commit breaks azure sdk.
https://github.com/Azure/go-autorest/commit/fe1ebaab71ae2a2ab8a55f62ebe54cffd842acc2

## v12.0.0

### Breaking Changes
In preparation for modules the following deprecated content has been removed.

  - async.NewFuture()
  - async.Future.Done()

All instances of "future.Done()" need to be changed to DoneWithContext

[2019-04-19 14:45] P0NE commented on #894
Hi @joshgav, can I have access to https://aka.ms/gofunc-signup ?

[2019-04-19 21:11] TheYorkshireDev commented on #4111
I am interested in this feature for the same reason as @imavroukakis it would be great to get an update on progress.

[2019-04-20 12:42] kpfaulkner opened #4601 "Application insights frustration"
Hi

As much as I love this project, sometimes I really feel like I'm fighting the SDK as opposed to using it to develop my software.

I've recently needed to start coding against the app insights set of APIs. I've setup an AD app, set perms in IAM etc etc.... but I always end up with:

insights.MetricsClient#GetMetadata: Failure responding to request: StatusCode=403 -- Original Error: autorest/azu

[2019-04-22 04:03] hytao commented on #4111
Hi, we are currently updating the cdn swagger? What do we need to do to unblock this issue?

[2019-04-22 15:14] imavroukakis commented on #4111
Hi @hytao from what I can tell, the `Endpoint` struct is missing `resources` as per the API

[2019-04-22 23:28] jhendrixMSFT commented on #4601
This is for package `github.com/Azure/azure-sdk-for-go/services/appinsights/v1/insights` yes?  Since this is data-plane I guess it doesn't use a bearer authorizer like most of the management-plane packages do.  I will work on getting the appropriate authorizer for this package implemented in `go-autorest`.
Looking at our [samples repo](https://github.com/azure-samples/azure-sdk-for-go-samples) I d

[2019-04-22 23:31] kpfaulkner commented on #4601
Hi Joel,

Yes, that's the package in question. Ideally I'd like to use the API that can be created specifically for App Insights, but I'll take anything on offer. Sorry if I came across grumpy in the original post, just that I'd been fighting for ages against it and the fact 10 lines of non SDK code does the job. I'm working on a PR for a 3rd party application that uses integrates with Azure. I su

[2019-04-24 07:20] bahlo commented on #4521
Same goes for `currentValue`, (see [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/cosmos-db.json#L4402)).

[2019-04-26 21:07] sopatwar opened #4686 "Add support for Identity-related APIs for LogicApp"
This is related to [5579](https://github.com/Azure/azure-rest-api-specs/issues/5779)

Please add support for Identity-related APIs in the Go SDK once the API feature request is resolved.

Thanks,
Sourabh

[2019-04-26 21:47] jhendrixMSFT commented on #4579
Resolved in https://github.com/Azure/azure-sdk-for-go/releases/tag/v28.0.0

[2019-04-26 21:47] #4579 closed

[2019-04-28 07:04] aviaoh opened #4690 "`go get` latest fails due to UUID usage"
### Bug Report
PR https://github.com/Azure/azure-sdk-for-go/pull/4640 override some change made in https://github.com/Azure/azure-sdk-for-go/pull/948, and cause `go get` to fail with following error:
[code]

- import path of package in question, e.g. `storage/table_batch.go`
- SDK version: `latest`
- output of `go version`:  `go1.12.4 linux/amd64`

- What happened?
`go get` latest fails due to UUI

[2019-04-29 08:25] gourlaa commented on #4690
We have the same problem

[2019-04-29 15:01] jhendrixMSFT commented on #4690
The problem here is that HEAD and tag v1.2.0 (the version we reference) have different signatures for uuid.NewV1(). If you're not using dep to manage dependencies can you please pin your module dependency to v1.2.0 to uuid?

[2019-04-29 22:17] jhendrixMSFT commented on #4601
I think this will get you a little closer.
[code]
Unfortunately the return object `results.Value` is of type `interface{}` which is not super-helpful (presumably it's a free-form JSON object of some kind).

[2019-04-29 23:12] jhendrixMSFT commented on #4690
Resolved in https://github.com/Azure/azure-sdk-for-go/releases/tag/v28.1.0

[2019-04-29 23:12] #4690 closed

[2019-04-30 15:30] katbyte opened #4705 "v26.7 -> v28.1 seems to break List() service principals"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`"github.com/Azure/azure-sdk-for-go/services/graphrbac/1.6/graphrbac"`
- SDK version e.g. `master`, `latest`, `18.1.0`
upgrade was from v26.7 to v28.1

- output of `go version`
[code]

- What happened?
we updated the SDK to the latest, fixed the build and tests started to fail:

[code]
the cod

[2019-04-30 16:05] jhendrixMSFT commented on #4705
@katbyte do you have the response body?  You can enable [debug logging](https://github.com/azure/azure-sdk-for-go#built-in-basic-requestresponse-logging) to dump it to stderr.

[2019-04-30 18:09] katbyte commented on #4705
@jhendrixMSFT from charles:
[code]

[2019-04-30 18:10] katbyte commented on #4705
@jhendrixMSFT from charles:
[code]

[2019-04-30 20:09] jhendrixMSFT commented on #4705
Thanks!  The problem appears to be this
[code]
According to the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json#L3533) this is supposed to be a string, and from the history it's always been that way.  My guess is that the endpoint changed but the swagger didn't, I'm going to follow up on this.

[2019-04-30 20:16] jhendrixMSFT commented on #4705
Correction, this is a regression introduced in the following commit.
https://github.com/Azure/azure-rest-api-specs/commit/5a3fb7cc7cb3adb16f9da603e91c1c55048129d1#diff-143a2f7b8a78aa4d5b81df25bc12f77a

[2019-04-30 20:19] jhendrixMSFT commented on #4705
One thing I don't understand yet is why the underlying error message "json: cannot unmarshal bool into Go value of type string" is lost in the output.

[2019-04-30 20:42] katbyte commented on #4705
I think it may have to do with it is a `List()` command, i've noticed a `.Get()` will show the unmarshal error.

[2019-05-02 16:31] jakebjorkekato opened #4733 "Whole numbers that are `float64` are being interpreted as ints"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
   - github.com/Azure/azure-sdk-for-go/storage/entity.go
   - github.com/Azure/azure-sdk-for-go/storage/odata.go

- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azu

[2019-05-03 09:26] kmoe opened #4745 "Application Insights Continuous Export: How to get Export ID on create?"
## Environment

Import path: `.../services/appinsights/mgmt/2015-05-01/insights`
SDK version: 75f8b5f681677ab9f5d8c27c25b7169d46a37e7e
Go version: `go version go1.12.4 linux/amd64`

## What I am trying to do

I want to use the Azure Go SDK to create a Continuous Export configuration for an existing Application Insights component. I need to save the Export ID on creation so I can use it later.

##

[2019-05-03 17:14] jhendrixMSFT commented on #4733
@jakebjorkekato could you give the change in https://github.com/Azure/azure-sdk-for-go/pull/4737 a try and verify it fixes your scenario?

[2019-05-03 18:06] jakebjorkekato commented on #4733
@jhendrixMSFT see the below test using the update.  Seems to have done the trick.

FYI we tested `float32` as well just to see if the same behavior existed.

![image](https://user-images.githubusercontent.com/15744759/57156671-24255000-6da4-11e9-9c48-3f34abd2d97c.png)

[2019-05-03 18:17] jhendrixMSFT commented on #4733
Thanks for the info.  Seems like this should be expanded to cover float32 as well (I was thinking about this as I coded it up yesterday).  I'm not familiar with table storage and usage though so let me know if you disagree.

[2019-05-03 18:18] jakebjorkekato commented on #4733
If it is not a big deal to add it.  I know it is outside the requirements of the issue.

[2019-05-06 18:33] kalafut commented on #4705
I just ran into this as well, going from 26.7 -> 27.0, with:
[code]

I'm getting back: `graphrbac.ServicePrincipalsClient#Create: Failure responding to request: StatusCode=201 -- Original Error: Error occurred unmarshalling JSON - Error = 'json: cannot unmarshal bool into Go value of type string'`

[2019-05-06 19:31] AsgharGhori commented on #2822
Hi, I am getting the same error when I try to create a weekly policy. My code is:

resource "azurerm_recovery_services_protection_policy_vm" "backup_policy" {
  name                = "${var.RG4VM}-bkp-policy"
  resource_group_name = "${var.RG4VM}"
  recovery_vault_name = "${azurerm_recovery_services_vault.backup_vault.name}"
  depends_on          = ["azurerm_recovery_services_vault.backup_vault"]

[2019-05-07 14:13] jhendrixMSFT commented on #4705
This has been fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v29.0.0.

[2019-05-07 14:13] #4705 closed

[2019-05-07 14:13] jhendrixMSFT commented on #4733
Fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v29.0.0, thanks for reporting.

[2019-05-07 14:13] #4733 closed

[2019-05-07 14:24] jhendrixMSFT commented on #4745
Hello!  I spoke with the service team about this, unfortunately there is no support for this right now and no real workaround :(.  Their suggestion is to open an issue on https://feedback.azure.com/forums/357324-application-insights to track this.  Please let me know if you have further questions.

[2019-05-07 14:24] #4745 closed

[2019-05-07 15:07] jhendrixMSFT commented on #4573
I see the properties here:
https://github.com/Azure/azure-sdk-for-go/blob/master/services/web/mgmt/2018-02-01/web/models.go#L9686
https://github.com/Azure/azure-sdk-for-go/blob/master/services/web/mgmt/2018-02-01/web/models.go#L9665
Do these work or am I looking at the wrong thing?

[2019-05-07 15:42] #4516 closed

[2019-05-08 01:45] jhendrixMSFT commented on #4533
This has been fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v29.0.0

[2019-05-08 01:45] #4533 closed

[2019-05-10 06:00] eCraftExtensions opened #4772 "Databricks deployment to custom vnet"
### Feature Request

Databricks on Azure supports deployment to custom virtual network. This is not yet supported on Azure sdk for go. Details and ARM templates for this can be found on these links:

https://docs.azuredatabricks.net/administration-guide/cloud-configurations/azure/vnet-inject.html
https://github.com/Azure/azure-quickstart-templates/tree/master/101-databricks-workspace-with-vnet-inj

[2019-05-12 18:49] katbyte opened #4780 "Automation Job Schedule API randomly changes case of parameters"
### Bug Report

github.com/Azure/azure-sdk-for-go/services/automation/mgmt/2015-10-31/automation @ SDK v1.26

taken from user @draggeta: https://github.com/terraform-providers/terraform-provider-azurerm/pull/3386

 Here is a real (redacted) production example I have. These are the parameters in my runbook:
[code]
This is my tf file:
[code]
This is what happens every time when I apply it if I don't

[2019-05-12 19:29] katbyte opened #4781 "Network Water Flow Log throws an internal server error when enabling traffic analysis"
### Bug Report

`github.com/Azure/azure-sdk-for-go/services/network/mgmt/2018-12-01/network @ 1.29.-`

- What happened?
when attempting to enable network water flow logs an internal server error occurred.
payload sent:
[code]

error:
[code]

- What did you expect or want to happen?
Not get an error, or get an error that was more informative.

- How can we reproduce it?
[run tf tests](https://githu

[2019-05-14 13:42] kmoe commented on #4745
Thank you. I've created an issue: https://feedback.azure.com/forums/357324-application-insights/suggestions/37643014-return-export-id-on-application-insights-continuou

[2019-05-15 18:03] jhendrixMSFT commented on #4772
@botang-databricks do you know if this is planned to be added to the swagger for databricks?

[2019-05-15 20:35] tombuildsstuff commented on #4780
heads up that we're also seeing this with User Assigned Identities now too: https://github.com/terraform-providers/terraform-provider-azurerm/issues/3443

[2019-05-15 23:18] draggeta commented on #4780
Just to test it out, I removed all the resources I had and deployed them with a different name. The issue remained. The odd thing is that the changes to camelCase are exactly the same. The same three parameters have the casing issue. There is probably some constant in the Azure backend that causes it.

[2019-05-19 05:20] dmitsh opened #4828 "VirtualMachinesClient.ListAll does not return InstanceView object"
### Bug Report

- import path of package in question:
`.../services/compute/mgmt/2018-10-01/compute`
- SDK version:
`master`

This is an issue that has been already discussed in #543

The problem is that `VirtualMachinesClient.ListAll()` does not populate `InstanceView` for the VMs.

The work-around is to call `VirtualMachinesClient.InstanceView()` for each VM in the list.
This is obviously not op

[2019-05-19 15:56] dmitsh opened #4829 "InterfacesClient.Get() results with network.Interface containing nil for public IP"
### Bug Report

- import path of package in question:
.../services/compute/mgmt/2018-10-01/network

- What happened?
I'm trying to mitigate throttling of ARM requests.
I need to retrieve private and public IP for a NIC.
However, `InterfacesClient.Get()` returns `nil` for `ipConfigurations[].publicIpAddress.ipAddress`

The workaround is to make another API call `PublicIPAddressesClient.Get()`. Howe

[2019-05-20 17:29] jhendrixMSFT commented on #4828
@nitinbps are you the right person to answer this question?

[2019-05-20 18:49] praries880 commented on #4829
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-05-20 18:50] praries880 commented on #4828
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-05-20 18:50] praries880 commented on #4781
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-05-21 12:01] benjamin37 opened #4842 "Typo in Json Validation BlobServiceProperties"
Hi,

in the client to set additional blob settings for an Azure Storage Account there is a Typo in the JSON validation which leads to the error that every request is invalid. See [blobservices.go](https://github.com/Azure/azure-sdk-for-go/blob/master/services/storage/mgmt/2019-04-01/storage/blobservices.go#L169-L173), it should be `parameters.BlobServicePropertiesProperties` instead of `parameters

[2019-05-21 15:24] jhendrixMSFT commented on #4828
I spoke with the service team about this, there are plans to add a new "bulk list" API that will include the `InstanceView` data (sorry I can't be specific on the date).

[2019-05-21 18:05] LukeBayler opened #4845 "sporadic nil pointer dereference"
### Bug Report

- SDK version: 	"github.com/Azure/azure-sdk-for-go/services/cognitiveservices/v2.0/computervision"

- output of `go version`: go version go1.12.5 windows/amd64

- What happened? Sporadic nil pointer dereference. Here is the output:
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x8 pc=0x8d2a06]

goroutine 1 [running]:
main.m

[2019-05-21 22:25] jhendrixMSFT commented on #4845
The problem is the `NotStarted` enum, the value sent over the wire is the string `NotStarted` however in the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/ComputerVision/stable/v2.0/Ocr.json#L310) the value is defined as `Not Started`.  As a result your `for` loop exits early causing the nil pointer dereference.  I'll follow up with

[2019-05-22 02:07] toothache commented on #4845
Thanks for reporting this issue! We've confirmed that it's a swagger issue and is now tracked by https://github.com/Azure/azure-rest-api-specs/issues/6057.

[2019-05-22 19:52] jhendrixMSFT commented on #4473
Hello!  If you have an easy repro could you please provide the JSON response body of the failed request?  You can use the built in [logging](https://github.com/azure/azure-sdk-for-go#built-in-basic-requestresponse-logging) facility to log request/response bodies to get this info.  Thanks!

[2019-05-22 19:54] jhendrixMSFT commented on #4407
@katbyte is this still an issue?

[2019-05-23 21:02] sopatwar opened #4867 "Feature request: API to provide metrics for multiple resources"
### Feature Request

Refer [Insights API](https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/monitor/mgmt/2019-03-01/insights/insightsapi/interfaces.go)

// MetricsClientAPI contains the set of methods on the MetricsClient type.
type MetricsClientAPI interface {
	List(ctx context.Context, resourceURI string, timespan string, interval *string, metricnames string, aggregation str

[2019-05-23 23:14] jhendrixMSFT commented on #4473
@drosseau according to the RP this should be resolved, now when you call the API the value for `useSubDomainName` is no longer sent across the wire.  Can you confirm it works for you now?

[2019-05-28 02:09] ryancrawcour commented on #1637
We need this for Terraform support, so we're able to spin up not only the account, but also the database and the collection. Now that ARM supports database and collection, it makes sense to add this to Terraform as well. In order to do this we need it in the Azure GO SDK.

Anyone mind if i contribute basic functionality to the Azure GO SDK for this?
@shireeshthota @kirillg

[2019-05-28 06:16] tombuildsstuff commented on #1637
@ryancrawcour FWIW Terraform supports creating CosmosDB Collections and Databases now: https://www.terraform.io/docs/providers/azurerm/r/cosmosdb_mongo_collection.html

[2019-05-28 06:28] ryancrawcour commented on #1637
Thanks, but not interested in the Mongo API

[2019-05-28 09:08] pvrk commented on #2824
@katbyte, @tombuildstuff: I want to understand, if the sequence failing because the Subscription is returned in uppercase? Because this issue is marked as blocked, I want to understand more on this scenario. Adding @adittulasi for information.

[2019-05-28 09:10] pvrk commented on #2824
#customer-response-expected

[2019-05-28 09:12] pvrk commented on #2822
We have made improvements in the error messages such that the relevant piece/section which is invalid is pointed out. Can you please retry and see if these are helpful? @AsgharGhori, @katbyte

[2019-05-28 09:12] pvrk commented on #2822
#customer-response-expected

[2019-05-28 09:19] pvrk commented on #2284
@tombuildsstuff: We still need the request ids for both scenarios. Any idea if you can repro and get it? It would greatly help.

Also, since you pointed out that this particular SDK is different, can you please share some of the standard/expected behaviors? I see that you have already mentioned two points.

1) "Subscriptions" component should be lowercase: Is this a best practice or is something f

[2019-05-28 09:19] pvrk commented on #2284
#customer-response-expected

[2019-05-28 16:54] praries880 commented on #4867
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-05-28 20:05] jhendrixMSFT commented on #4842
Fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v30.0.0

[2019-05-28 20:05] #4842 closed

[2019-05-28 20:06] jhendrixMSFT commented on #4521
Fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v30.0.0

[2019-05-28 20:06] #4521 closed

[2019-05-29 13:18] tombuildsstuff commented on #2284
@pvrk we're mostly AFK this week - but will try and provide a couple next week

[2019-05-29 19:41] numkem opened #4899 "go get module no matching versions for query "latest"
### Bug Report

Hello,

I've been trying to do `go get` on the SDK with go modules turned on with Go 1.12.5 and I get this error:

[code]

This is running on Linux (Debian testing).

Thanks!

[2019-05-30 10:53] kpfaulkner commented on #4026
Will we get a similar repo to azure-storage-blob-go but for tables?

[2019-05-30 14:24] numkem commented on #4899
Would appear to be linked to https://github.com/golang/go/issues/27215

I managed to make it work by doing `go get golang.org/dl/gotip && gotip download` than `gotip get -u github.com/Azure/azure-sdk-for-go/...` in my project.

[2019-05-30 14:24] #4899 closed

[2019-05-30 17:33] jhendrixMSFT commented on #4026
I haven't heard any plans to do this, doesn't mean it won't happen though.  Is there specific functionality you're looking for that is missing from the current implementation?

[2019-05-30 20:39] kpfaulkner commented on #4026
No, not missing any specific functionality. I was merely curious since the other parts of storage were extracted out to their own projects, I was wondering if table would also get that treatment. This SDK does everything I need.

[2019-06-03 08:55] kheiakiyama opened #4934 "Three ApplicationGatewayCipherSuite are missing."
### Bug Report

- import path of package in question, e.g. `.../services/network/mgmt/2018-12-01/network`
- SDK version e.g. `master`

- When I use [terraform-provider-azurerm](https://github.com/terraform-providers/terraform-provider-azurerm), I find it doesn't exists three ApplicationGatewayCipherSuite below.
  - `TLS_DHE_DSS_WITH_3DES_EDE_CBC_SHA`
  - `TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384`
  -

[2019-06-03 18:16] pvrk commented on #2822
Closing this issue since we already made some improvements and customer can always re-open the issue if the improvements are not enough.
#please-close

[2019-06-04 14:43] stevedumais commented on #4120
Hey all - just wanted to check in and see if there was any movement on this?

[2019-06-04 15:56] jhendrixMSFT commented on #4934
Fix is coming, see https://github.com/Azure/azure-rest-api-specs/pull/6212/files

[2019-06-04 16:03] jhendrixMSFT commented on #4120
Waiting to hear back from the service team, sorry for the delay.

[2019-06-04 17:17] jhendrixMSFT commented on #3975
Per offline discussion this works for the customer so closing.

[2019-06-04 17:17] #3975 closed

[2019-06-04 17:55] hyonholee commented on #4120
Does service return costs ?  Please get the response body of the REST call and see if the response body contains costs information.

[2019-06-04 18:00] stevedumais commented on #4120
I went on the REST try-it-now site to validate what I was seeing in the go-sdk, and didn't get any cost information back in the response.

[2019-06-04 18:09] hyonholee commented on #4120
Thanks, so it looks like the service (either CRP or ARM) does not send the information.  We will check if this is expected.

[2019-06-05 17:23] #2259 closed

[2019-06-05 17:45] jhendrixMSFT commented on #4234
This has been resolved in v11.9.0 of go-autorest.

[2019-06-05 17:45] #4234 closed

[2019-06-05 18:06] jhendrixMSFT commented on #1969
Work to split each RP/API version tuple into modules is in progress, tracked in https://github.com/Azure/azure-sdk-for-go/issues/2993

[2019-06-05 18:06] #1969 closed

[2019-06-05 19:31] #2037 closed

[2019-06-05 19:35] jhendrixMSFT commented on #2296
Initial part of the work is done, remaining work is tracked elsewhere (see linked work item).

[2019-06-05 19:35] #2296 closed

[2019-06-05 19:37] jhendrixMSFT commented on #2993
Related: https://github.com/Azure/azure-sdk-for-go/issues/2564

[2019-06-06 05:33] kheiakiyama commented on #4934
Appreciate it!

[2019-06-06 15:10] pvrk commented on #2824
#please-close
since we didn't receive a response. Can re-open if the sequence is failing.

[2019-06-06 18:24] drosseau commented on #4473
Yep, I don't see `useSubDomain` anymore.

[2019-06-06 18:26] jhendrixMSFT commented on #4473
Closing as this is now resolved, thanks for helping.

[2019-06-06 18:26] #4473 closed

[2019-06-06 18:34] drosseau opened #4968 "Return the minimum TLS version with Redis Cache GET and LIST requests"
### Feature Request

It would be helpful for some automation if the `MinimumTLSVersion` field (seen [here](https://godoc.org/github.com/Azure/azure-sdk-for-go/services/redis/mgmt/2018-03-01/redis#Properties)) was populated on GET and LIST requests.

I'm not sure where that change would need to be made since I don't see it mentioned in the documentation [here](https://docs.microsoft.com/en-us/rest/

[2019-06-06 19:15] jhendrixMSFT commented on #4968
@TimLovellSmith is it possible to retrieve this info?

[2019-06-06 19:19] TimLovellSmith commented on #4968
@jhendrixMSFT It should be being included in the response, if you use api-version 2018-03-01 and *if* you configured the property on the cache. It is not included in the response when it is left unconfigured.

[2019-06-06 19:27] drosseau commented on #4968
Ah, so if it is the default value it will be left empty? I didn't think about that; I will check in a bit.

[2019-06-06 21:27] dmitsh commented on #4829
any updates on this issue?

[2019-06-06 23:39] shurd commented on #2864
Hi @katbyte are you still seeing this issue? I can take a look to determine if it is a client problem if it persists. Adding capabilities when provisioning an account works on other SDKs, so the server correctly handles capabilities.

[2019-06-11 06:15] zhongyi-zhang opened #4993 "Failed to delete App Insights API key"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2015-05-01/insights`

- SDK version e.g. `master`, `latest`, `18.1.0`
Tried either `25.1.0` or `30.0.0`.

- output of `go version`
`go version go1.9.2 linux/amd64`

**The App Insights client can create API Key but can't delete it.**

[2019-06-11 18:38] katbyte commented on #2864
hi @shurd

Checked our tests and while patching it doesn't fail, it does seem like it doesn't stick and subsequent reads fail:
[code]

[2019-06-11 18:39] katbyte commented on #2824
This is still an issue @pvrk. Yes this causes issues and other APIs to fail because they expect subscriptions to be lowercase and we are getting it as uppercase.

[2019-06-11 18:40] katbyte commented on #2822
Hi @pvrk, @jhendrixMSFT

This is still an issue as of today and the error message we get is the exact same:
[code]

[2019-06-11 18:42] katbyte commented on #4780
@jhendrixMSFT, any word on this one as its blocking a PR?

[2019-06-11 19:53] jhendrixMSFT commented on #4993
I looked into this, the value in `apiKeyName` is not the key ID which is why the API call fails.  The key ID is a GUID at the end of `result.ID`, so you have to do something like this.
[code]
Not very intuitive from the docs unfortunately.  :(

[2019-06-11 20:18] jhendrixMSFT commented on #4780
Following up with the RP about this...

[2019-06-12 02:26] zhongyi-zhang commented on #4993
Thanks a lot for the clarification! It works for me.

[2019-06-12 02:26] #4993 closed

[2019-06-12 07:37] shurd commented on #2864
@katbyte I just validated that I could set those capabilities through our API, which the Go SDK uses, so they should both be valid. Could you provide a test account name that saw this failure? I can look at our logs to see if there is any data on what is happening.

You should also be able to set capabilities at create-time, so if you are still interested in setting capabilities when you create an

[2019-06-12 16:49] jhendrixMSFT commented on #4780
@katbyte to clarify, are the items that are having their case changed keys in the `Runbook.Tags` map?

[2019-06-12 17:14] seppi91 commented on #2397
@mattchenderson can you give us some update when the new API will be available?

[2019-06-12 17:16] ernstae commented on #4780
I've been following the terraform provider PR, and I believe the primary issue is with the parameters map having inconsistent casing.

see https://github.com/terraform-providers/terraform-provider-azurerm/pull/3386#issuecomment-491455692

[2019-06-12 17:21] jhendrixMSFT commented on #4780
Ah ok `RunbookProperties.Parameters`?

[2019-06-12 21:32] draggeta commented on #4780
From what I can see (had to look at the PR again), it's the `JobScheduleProperties.Parameters`.

[2019-06-13 01:13] shurd commented on #1020
We are looking into this issue. I will update as I find out more.

[2019-06-13 11:10] lwilts commented on #4934
Hi, that PR https://github.com/Azure/azure-rest-api-specs/pull/6212/files has been merged - looks like the cipher suites also need adding here?
https://github.com/Azure/azure-sdk-for-go/blob/784a56e5c68f892e337b82c8e1feb5fb6cd7a58a/services/network/mgmt/2018-04-01/network/models.go#L198

[2019-06-14 12:01] caotruonghoang commented on #2822
Hello,

I have the same error today.
Could you please fix it ? Thansk,

Terraform v0.12.1
+ provider.azurerm v1.30.1

Error: Error creating/updating Recovery Service Protection Policy "weekly" (Resource Group "testcao"): backup.ProtectionPoliciesClient#CreateOrUpdate: Failure responding to request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="BMSUse

[2019-06-14 18:52] shurd commented on #2864
I just tried to replicate the original error, and the account create completed with all 3 capabilities in 8 minutes. Subsequent GETs on the account show that they are still on the account. I copied the [Azure sample for Cosmos DB](https://github.com/Azure-Samples/azure-sdk-for-go-samples/tree/master/cosmosdb) and made slight modifications to make it have those capabilities.

Creating Client
[code]

[2019-06-15 04:17] alexeldeib commented on #4601
@jhendrixMSFT @kpfaulkner Stumbled on this issue, wish I'd seen it sooner. You're correct it doesn't use an ARM bearer token. That API accept tokens requested using resource = https://api.applicationinsights.io. Not sure how you are trying to authenticate but all the standard Go SDK authentication techniques should expose a resource parameter. And yes, we of course support API keys with that API.

[2019-06-15 04:19] alexeldeib commented on #4120
SKUs client does not expose pricing information. You want Rate Card API (pay as you go, free trial) or Consumption/Billing API (enterprise customers).

SKUs client can be used to filter restricted resources in a given location/subscription.

[2019-06-15 04:19] alexeldeib commented on #4120
(not in PG but had this exact conversation a few days ago coincidentally, sharing the answer I got).

[2019-06-15 07:01] alexeldeib opened #5024 "Traffic Manager SDK strips out name/type info on endpoints?"
### Bug Report

- /services/trafficmanager/mgmt/2018-04-01/trafficmanager

my go.mod:
[code]
`go version go1.12.4 linux/amd64`

- What happened?
I'm trying to use TrafficManger SDK to change endpoints on a traffic manager. Using both the profile and endpoint SDK, it seems Name and Type info is stripped out? I can dump out all the variables I pass right up until it's inside the Azure SDK. I can com

[2019-06-15 15:57] alexeldeib commented on #5024
I've confirmed I can manually write a drop-in HTTP client accepting the exact same values in my code. Using the following code, requests work.
[code]

[2019-06-17 03:09] horpek commented on #2822
Hi,
Our code works well since Feb and the last run was 5 Jun that ended OK.  We however experienced this error when we run it in 2 new builds yesterday.

We are using the older provider.azurerm v1.21.0 but it serves us well so far.  We are open to using newer provider if it helps but like to understand if this is the cause or something else.

Appreciate any info if you have.

[2019-06-17 14:27] caotruonghoang commented on #2822
Hello,

Thank you for your feedback.

I currently use terraform v.0.12.1. And this version is not compatible with the azure provider v.1.21.0.
I also cannot roll back to older version of terraform because the older version have some bugs for example: bug on the list value.
Hope that you can correct this issue on the recents Azure provider.

Thanks,
Best regards,
Cao

[2019-06-17 16:13] jhendrixMSFT commented on #4934
Should be released this week.

[2019-06-17 22:13] jhendrixMSFT commented on #4780
@katbyte @draggeta have either of you tried adding additional logging to debug this further?  I wrote a sample app to call `JobScheduleClient.Create` followed by `JobScheduleClient.Get` using the same parameter values above and I see them returned with the case preserved.  Also note that in the provided output the three items with their case munged have duplicate entries in the list, once with the

[2019-06-17 22:33] praries880 commented on #5024
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-18 07:21] mikhailshilkov commented on #2397
The new API has been deployed and the upstream issue https://github.com/Azure/azure-functions-host/issues/3994 is closed. I suppose the issue isn't blocked anymore.

[2019-06-18 07:39] gkakanauskas commented on #2822
Hi,

What are your retention policies? We have just found out that for whatever reason, $retPol.DailySchedule.DurationCountInDays that is less than 7 will not work.
This has worked perfectly fine for 3-4 years, and suddenly stopped a week or so ago.

[2019-06-18 09:02] horpek commented on #2822
Hi @gkakanauskas ,  You are right.  We opened a case with Azure support today and they came back with this:
_[Initial analysis]
From the latest update, "Retention range" needs to be set more than or equal to 7 days.
Could you check whether the creating new backup policy would work if you use more than or equal to 7 days?

If you have backup policies that have been set less than 7 days, it works. B

[2019-06-18 09:06] draggeta commented on #4780
@jhendrixMSFT to be honest, I havent. I'll try and do that when I have time.
I've just looked at the runbook via resources.azure.com and it seems that the parameters go wrong there right from the start. Here is a gif where I add a new runbook (same PowerShell script as before) and then check how the parameters look in Azure.

![runbook_params](https://user-images.githubusercontent.com/12998822/596

[2019-06-18 09:10] draggeta commented on #4780
That is basically Terraform showing the diff. It receives the camel case variables from the API and those are not defined by me. That is why Terraform is planning to remove those.
TF also notices that the Pascal case counterparts were not in the API return and plans to add those.

[2019-06-18 12:33] caotruonghoang commented on #2822
Hello,

I had this error when I tried to create a weekly backup policy. The daily backup policy work well.
Here is my terraform script for the creation of this weekly policy.

resource "azurerm_recovery_services_protection_policy_vm" "weekly" {
  name                = "${var.recovery_weekly_policy_vm_name}"
  resource_group_name = "${var.rg_name}"
  recovery_vault_name = "${module.azother.recovery

[2019-06-18 16:53] jhendrixMSFT commented on #4780
After re-running my repro I noticed that while the three items cited here have their case preserved the item `containerName` does not.  So there does appear to be something going on with the REST endpoint.  I'll follow up with the service team about this.

[2019-06-18 17:16] feiyushi opened #5041 "New API method needed for Graph service"
### Feature Request
Graph service is missing latest service principal endpoints.
Go sdk file: https://github.com/Azure/azure-sdk-for-go/blob/master/services/graphrbac/1.6/graphrbac/serviceprincipals.go
API spec: https://github.com/Azure/azure-rest-api-specs/blob/e280b0a088439ed82a46e3b470d8da487de51037/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json#L1287

Didn't f

[2019-06-18 19:18] shurd commented on #1020
It looks like the problem on "get" might be that there is a space (%20) between PartitionKey and RowKey in the URI:

account.table.cosmosdb.azure.com/table%28PartitionKey=%27tree%27,%20RowKey=%27car%27%29?%24select=other&timeout=1000

Make sure you are using an updated APIVersion (2018-03-28). The API version you originally provided would give 400 if the URL was encoded.

The Cosmos DB team does n

[2019-06-18 19:18] #1020 closed

[2019-06-18 21:43] jhendrixMSFT commented on #5041
Based on the linked swagger the API can be found here.
https://github.com/Azure/azure-sdk-for-go/blob/master/services/graphrbac/1.6/graphrbac/applications.go#L363
Let me know if that works.

[2019-06-18 22:54] feiyushi commented on #5041
Thanks, @jhendrixMSFT ! I'll close the issue.

[2019-06-18 22:54] #5041 closed

[2019-06-19 11:44] ranokarno opened #5051 "splitting application gateway into multiple modules"
### Feature Request

Is it possible to separate `application gateway` SDK into multiple modules similar with loadbalancer.
[code]

this will help us in updating or modifying existing `application gateway`

[2019-06-19 15:53] dmitsh commented on #4828
Hello! Are there any updates for this issue?

[2019-06-19 15:54] dmitsh commented on #4829
Hello again, any updates on this issue?

[2019-06-19 16:09] jhendrixMSFT commented on #4828
The new API is in progress but unfortunately right now I can't be specific on the date when it will be available.

[2019-06-19 22:56] Bpoe commented on #4780
The issue is on the service side and not in the SDK code. The underlying DB schema was over normalized and does not take casing into account when deduping the parameter name in a given region. This effectively means that the first user to create a parameter in a region is the one that determines its casing. The service itself is case insensitive so everything operates as expected.

[2019-06-20 03:39] jhendrixMSFT commented on #4780
On an internal thread @bpoe suggested a workaround of adding a prefix to the parameter names, e.g. `<AccountName>_` or `<RunbookName>_` (or maybe even both).  How hard would this be?  Given the nature of the bug it might not get fixed any time soon.

[2019-06-20 06:57] draggeta commented on #4780
@Bpoe, @jhendrixMSFT That is quite a funny cause. For me it is ok to change the casing to match what is returned or make the parameters case insensitive on TF's side, but I'm just a contributor.

@katbyte let me know what the next steps are and I'll make it so 😊

[2019-06-20 16:14] shurd commented on #2864
I am going to close this issue now since there is a working example. If you have a subscription Id and account name that you saw the issue with, you can reopen it with those details and I can take a look at the logs.

[2019-06-20 16:14] #2864 closed

[2019-06-23 13:29] juho9000 opened #5082 "Subnet / network profile previously used by deleted container group in a virtual network cannot be deleted"
I am implementing deployment of container groups in virtual networks for Terraform and ran into an issue where the deletion of subnet and/or network profile fails when trying to delete either the network profile or subnet that were used by a container group that has been deleted.

`Code="InUseSubnetCannotBeDeleted" Message="Subnet examplesubnet is in use by /subscriptions/foo-bar/resourceGroups/fo

[2019-06-24 15:02] zhouxiaojian1985 opened #5087 "The create lock API always got 403 AuthorizationFailed"
[code]
This is the code snip I used to test the create lock API. Those `aaa~fff` are replaced.
My issue is the get works fine while the create always failed with 403. The two API just use the same auth. And I can create the lock from the azure portal UI or from azure cli like this
[code]

Some of my env info
1. `github.com/Azure/azure-sdk-for-go` version is v30.0.0
2. go version is `go version go1

[2019-06-24 21:18] dbaroncelli opened #5091 "Change InterfaceIPConfiguration by name"
### Feature Request

In case of multiple InterfaceIPConfigurations of a NIC, It would be very useful to amend a single InterfaceIPConfiguration, by name, without resubmitting the whole slice of InterfaceIPConfigurations:

Currently, it seems you need to resubmit the whole slice every time:
https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/master/network/nic.go

[2019-06-24 22:14] kurtzeborn commented on #5051
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-24 22:25] kurtzeborn commented on #5082
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-24 22:30] kurtzeborn commented on #5087
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-24 22:37] kurtzeborn commented on #5091
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-25 05:27] apratina opened #5099 "How to determine the price of Virtual Machine"
1) I came across one of the [endpoint](https://azure.microsoft.com/api/v2/pricing/virtual-machines-software/calculator/) which provides the price of virtual machine. What is the equivalent approach in azure go sdk to determine the price of VMs?

2) In this [endpoint](https://azure.microsoft.com/api/v2/pricing/virtual-machines-software/calculator/), there is something called `baseOfferSlug` that wi

[2019-06-27 17:42] loarabia commented on #5099
Hey thanks for reporting the issue. I've reached out to the team to try to get it to the right engineers.

[2019-06-28 06:09] katbyte commented on #4407
Well now we are getting the error:
[code]

so at least its something else now

[2019-06-28 06:11] katbyte opened #5157 "Cosmos DB CheckNameExists failing with 500"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
"github.com/Azure/azure-sdk-for-go/services/cosmos-db/mgmt/2015-04-08/documentdb"
- SDK version e.g. `master`, `latest`, `18.1.0`
github.com/Azure/azure-sdk-for-go v30.0.0+incompatible
- output of `go version`
go version go1.12.6 darwin/amd64

With no code changes all our cosmos DB tests start

[2019-06-28 16:56] jhendrixMSFT commented on #5157
Thanks I can repro this, it also takes a really long time before the 500 is returned.

[2019-06-28 17:12] andysworkshop opened #5161 "Parameters cannot be set in blueprint properties"
### Bug Report

In the 2018-11-01-preview of the blueprint API there are a number of *Properties structures that contain a parameters map. [Here's one](https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/models.go#L2353). The `Parameters` are declared as:

[code]

`ParameterValueBase` is declared as:

[code]
There is no way to set or r

[2019-06-28 17:15] jhendrixMSFT commented on #5157
Known issue, RP is working on a fix.  Will update when I have more info.

[2019-06-28 18:16] katbyte commented on #5157
thanks for the update @jhendrixMSFT, we are going to release 1.31 today with an unideal fix (ignore 500s) but it'll unblock users

[2019-06-28 22:33] loarabia commented on #5161
@andysworkshop thanks for reporting this. I've tagged what I think are the right teams so they can take a look.

[2019-07-01 15:51] jhendrixMSFT commented on #5157
@katbyte RP has fixed this and I confirmed it's working now.  Please let me know if you still have issues.

[2019-07-01 15:51] #5157 closed

[2019-07-02 14:44] s27y opened #5179 "Type error in compute models.go VirtualMachineScaleSetVMProperties"
### Bug Report

When i make a List request using compute.VirtualMachineScaleSetVMsClient. i got the following error.

[code]

VirtualMachineScaleSetVMProperties.**ProvisioningState** is returned as an integer from Azure API, but it is declared as a string in models.go

Link to the line:
https://github.com/Azure/azure-sdk-for-go/blob/master/services/compute/mgmt/2018-10-01/compute/models.go#L10028

[2019-07-02 20:59] katbyte opened #5181 "Container registry network access profile VNET rule property is silently ignored on create/update"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`"github.com/Azure/azure-sdk-for-go/services/containerregistry/mgmt/2018-09-01/containerregistry"`
- SDK version e.g. `master`, `latest`, `18.1.0`
[code]
- output of `go version`
`go version go1.12.6 darwin/amd64`

- What happened?
When creating or updating a Container Register with a `Network

[2019-07-02 22:40] maggiepint commented on #5179
Thanks for reporting this - we have routed to an appropriate team for follow up.

[2019-07-02 22:42] maggiepint commented on #5181
Thanks for letting us know about this issue. We have routed to the appropriate team for follow up.

[2019-07-03 00:36] zhouxiaojian1985 commented on #5087
@kurtzeborn Is there any update from the team for this issue?

[2019-07-03 09:08] stuartleeks opened #5190 "storage.ManagementPoliciesClient.CreateOrUpdate Failed with RequestIsNotValidJson"
### Bug Report

- import path of package in question, e.g. `.../services/storage/mgmt/2019-04-01/storage`
- SDK version `31.0.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`: `go version go1.12.6 linux/amd64`

Attempting to create a `ManagementPolicyRule` results in an er

[2019-07-03 09:17] stuartleeks commented on #5190
It looks like this is an issue with the swagger for storage: https://github.com/Azure/azure-rest-api-specs/issues/6549

[2019-07-03 20:55] katbyte commented on #4407
Checking out logs this was resolved before the new issue started. As such am going to close this & open a new one if the problem isn't on our side.

Thanks!

[2019-07-03 20:55] #4407 closed

[2019-07-03 21:04] katbyte commented on #4780
@draggeta, @jhendrixMSFT, prefixes aren't a viable solution and ideally we would want the bug fixed. I'm not sure how feasible it would be to ignore case here as it's both the key and value that needs to be case insensitive.

The only thing we can do on the TF side is *try* add a `DiffSuppressFunc` that ignores case for both the key & values in the map (and validate that there are no duplicate ent

[2019-07-03 21:08] katbyte commented on #2822
@gkakanauskas, @horpek, the tests failing are 7 or more days/weeks for retention. Really what the service needs to do is have actional/detailed error messages returned.

@jhendrixMSFT, this is still an issue as of today for us:

[code]

[2019-07-04 06:42] draggeta commented on #4780
@katbyte I believe it's only the key that has to be case insensitive. The value doesn't seem to be normalized.

[2019-07-04 06:43] draggeta commented on #4780
Also, PowerShell is case insensitive, so you cannot have two parameters in same file named count and Count.

[2019-07-08 22:48] jhendrixMSFT commented on #2822
@pvrk can you please take a look?

[2019-07-09 17:12] apratina commented on #5099
@loarabia : Any update on this ?

[2019-07-10 00:11] v-jaswel opened #5214 "[BUG][LUIS] AddCustomPrebuiltDomain throws because of missing tokenizerVersion"
### Bug Report

- **Package Name**: github.com/Azure/azure-sdk-for-go/services/cognitiveservices/v2.0/luis/authoring
- **Package Version**: 31.1.0
- **Operating system**: Windows 10 Enterprise 1803
- **Go version**: 1.12.6
- Output of `dep status "github.com/Azure/azure-sdk-for-go`
[code]

**Describe the bug**
Calling AddCustomPrebuiltDomain gets a 400 response from the server because no tokenizer

[2019-07-10 01:31] maggiepint commented on #5214
Thanks for the bug report. I have routed to the appropriate team for follow-up.

[2019-07-10 07:46] zhouxiaojian1985 commented on #5087
I have found the root cause
Should use clientId/clientSecret with explicit sp role `Owner`
[code]

[2019-07-10 07:46] #5087 closed

[2019-07-10 08:15] stuartleeks commented on #5190
Found [another issue ](https://github.com/Azure/azure-rest-api-specs/issues/6554) that also needs addressing for Management Policies

[2019-07-10 21:15] arbourd opened #5222 "UpdatePasswordCredentials no longer works"
### Bug Report

- Import path: `services/graphrbac/1.6/graphrbac`
- Function: `UpdatePasswordCredentials`
- SDK version: `v29.0.0`, `v31.1.0`

#### What happened?

`UpdatePasswordCredentials` successfully creates (or updates) a credential attached to a service principal and the API can retrieve it after creating it. This credential does not appear to work with AKS, nor does it appear in the UI aft

[2019-07-11 01:15] AprilZhaoWY commented on #4408
Is the documentation ready? It would be really helpful to have a sample?

[2019-07-11 08:48] omerlh opened #5226 "Create storage client using AAD token"
### Feature Request

Azure storage now supports [authentication using AAD token](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad). I couldn't find a method that allows creating a client from an existing token - is this supported by the SDK?

[2019-07-11 17:51] praries880 commented on #5226
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-07-11 23:16] maggiepint commented on #5087
Hi @zhouxiaojian1985 , Im glad you figured out what you needed! Just want to apologize that we accidentally let this one sit. I'm sorry for any inconvenience this may have caused. We will have a look at possible docs improvements.

Maggie

[2019-07-11 23:29] jhendrixMSFT commented on #4408
The README has been updated in the `latest` branch with this documentation, will flow to `master` later this month.

[2019-07-11 23:29] #4408 closed

[2019-07-12 13:38] DanielMabbett opened #5233 "Bastion Host creation returns InvalidRequestFormat"
### Bug Report
#### Bastion Host creation returns InvalidRequestFormat

- import path of package in question, e.g. `.../services/compute/mgmt/2019-04-01/network`
- SDK version e.g. `latest`
- output of `go version`

- What happened?
When using the  bastionHostsClient.CreateOrUpdate() function, you see an error:
[code]
When I marshalled the JSON, it was noticeable that the "Name" property for the B

[2019-07-12 13:56] steve-hawkins opened #5235 "Service Bus Namespace zone redundant parameter missing"
### Feature Request

This appears to be part of the [2018-01-01-preview REST API specs](https://github.com/Azure/azure-rest-api-specs/blob/80bd59aa5166da3e4036765e0d88462a8027c24b/specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/servicebus-preview.json#L997-L1000)

[2019-07-12 22:48] ajayshekar opened #5243 "Too many open files"
### Bug Report
name = "github.com/Azure/azure-sdk-for-go"

    packages = [
    "profiles/latest/compute/mgmt/compute",
    "profiles/latest/keyvault/keyvault",
    "profiles/latest/keyvault/mgmt/keyvault",
    "profiles/latest/network/mgmt/network",
    "profiles/preview/keyvault/mgmt/keyvault",
    "profiles/preview/preview/monitor/mgmt/insights",
    "profiles/preview/storage/mgmt/storage",

[2019-07-15 22:17] kurtzeborn commented on #5222
Thanks for reporting this issue!  We'll get this routed to the correct team for further investigation.

[2019-07-15 22:30] kurtzeborn commented on #5233
Thank you for opening this issue.  I've routed it to the appropriate team that I think can help investigate it for you.

[2019-07-15 22:32] kurtzeborn commented on #5235
Thanks for opening this issue!  I've routed it to an appropriate team that I think will be able to investigate this further.

[2019-07-15 22:36] kurtzeborn commented on #5243
Thanks for opening this issue!  CC'ing @jhendrixMSFT who investigated the related issue.

[2019-07-16 14:58] jhendrixMSFT commented on #5243
@ajayshekar looking through the code there are a few places where we don't properly drain the HTTP response body.  I will have a fix today, would you be able to test it out to ensure it resolves the issue?

[2019-07-16 17:33] jhendrixMSFT commented on #4968
Hello @drosseau were you able to confirm this?

[2019-07-16 19:39] ajayshekar commented on #5243
@kurtzeborn @jhendrixMSFT Thank you for the response! @jhendrixMSFT yes, I'll be able to this out and confirm if the fix worked.

[2019-07-16 19:42] ajayshekar commented on #5243
Just out of curiosity, what services were the bugs in?

[2019-07-16 19:51] jhendrixMSFT commented on #5243
The bugs are in `go-autorest` so all services are affected.

[2019-07-16 21:23] jhendrixMSFT commented on #5243
@ajayshekar I've posted https://github.com/Azure/go-autorest/pull/432 with the fix, please test it out and let me know if you still observe any leaks.  I will wait for your ack before merging.

[2019-07-16 21:46] ajayshekar commented on #5243
@jhendrixMSFT We only see this issue with the load we have in our production environment. As a result, it is going to take a couple of days for me to confirm if the fix works. Apologies for the delay! I'll post an update on this in a couple of days :)

[2019-07-16 21:47] jhendrixMSFT commented on #5243
No worries, please take your time and thanks for testing it out.

[2019-07-17 11:54] SirWayne commented on #4934
Any news?

[2019-07-17 16:17] jhendrixMSFT commented on #4934
Sorry for the delay, this was released in v31.0.0 of the SDK.

[2019-07-17 16:17] #4934 closed

[2019-07-17 17:13] vladbarosan commented on #972
this effort has went a different direction. will be closing this issue as stale

[2019-07-17 17:13] #972 closed

[2019-07-17 17:14] #2322 closed

[2019-07-17 18:03] atecce opened #5277 "endpoint returns 500 instead of 400 with missing Content-Type header"
### Service Package Request

hai! I'm trying to programmatically register devices in IoT Hub with [this http endpoint](https://docs.microsoft.com/en-us/rest/api/iothub/service/createorupdatedevice) and am getting `500`s (which I think should _probably_ be 400's?) for the following request body

[code]

which will return something like this:

[code]

is there already API somewhere in here which abs

[2019-07-17 22:15] kurtzeborn commented on #5277
Thanks for opening this issue!  I'm routing it to the correct team so they can take a deeper look.

[2019-07-18 00:22] atecce commented on #5277
tyvm! :D

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Scott Kurtzeborn <notifications@github.com>
Sent: Wednesday, July 17, 2019 6:15:59 PM
To: Azure/azure-sdk-for-go <azure-sdk-for-go@noreply.github.com>
Cc: atecce <atecce@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [Azure/azure-sdk-for-go] failing to register devices in IoT Hub with HTTP en

[2019-07-22 09:46] stuartleeks commented on #5190
Bump - the swagger has been updated (see [here](https://github.com/Azure/azure-rest-api-specs/issues/6554)) - what needs to happen to create a new release of the SDK from the updated swagger?

Thanks!

[2019-07-23 19:00] jhendrixMSFT commented on #1804
We have moved to devops.

[2019-07-23 19:00] #1804 closed

[2019-07-23 19:03] jhendrixMSFT commented on #2175
Closing as the HTTP status code response helpers should simplify this case.

[2019-07-23 19:03] #2175 closed

[2019-07-23 20:55] jhendrixMSFT commented on #4845
This has been fixed in v31.0.0 of the SDK.

[2019-07-23 20:55] #4845 closed

[2019-07-23 22:41] jeffzabel commented on #4780
Correcting the over normalization of parameter names that @bpoe mentioned would be a risky fix for us to take in the product.  If the casing of the parameter name causes anyone difficulty, you can make your parameter unique by pre-pending a string to it such as your automation account id, a guid, etc.

[2019-07-23 23:28] jlian commented on #5277
Please label this as a question

[2019-07-24 04:56] katbyte commented on #5082
@jhendrixMSFT, and word on this?

[2019-07-24 16:00] rezasherafat commented on #5277
@atecce, can you make sure you have `Content-Type: application/json` in your request header.

[2019-07-24 16:26] jhendrixMSFT commented on #5082
@yangl900 Is [ContainerGroups_Delete](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-10-01/containerInstance.json#L257) an async operation and the swagger just needs to be updated?

[2019-07-24 17:25] atecce commented on #5277
@rezasherafat ohhhhhhhhhh. heh. I suppose I got a bit too minimal. tyvm! :D

I guess that changes the nature of this ticket to a much lower priority one about status codes?

[2019-07-25 00:12] atecce commented on #5277
closing since this is on a codebase of client libraries anyways

[2019-07-25 00:12] #5277 closed

[2019-07-25 09:18] jkrajniak opened #5339 "Error = 'json: cannot unmarshal number into Go struct field JobResourceList.value of type backup.JobSupportedAction'"
### Bug Report

I would like to list the backup jobs, therefore I am using call `backup.JobsClient.ListComplete`. However, this cause the following error:
`backup.JobsClient#List: Failure responding to request: StatusCode=200 -- Original Error: Error occurred unmarshalling JSON - Error = 'json: cannot unmarshal number into Go struct field JobResourceList.value of type backup.JobSupportedAction'`

[2019-07-26 19:08] loarabia commented on #5099
Hi @apratina , I've reached out to folks and I had a brief chat with @mjconnection and think he might have the right next steps or know the next set of people to pull into the conversation here.

[2019-07-27 06:40] yangl900 commented on #5082
The container group deletion API is a sync API, so swagger is correct. The network resource clean up is indeed an async process after the resource gets deleted. It's a good feedback the product team should consider. Right now the only way is probably by reading the network profile and see if there are connected IP configurations.

[2019-07-28 00:56] axm commented on #894
Any update on this?

[2019-07-29 10:53] pvrk commented on #5339
@AdityaTulasi, @TAdityaAnirudh: can you please take a look at this?

[2019-07-30 01:37] mguglani opened #5379 "MarshalJSON for EvenData return nil"
### Bug Report
- What happened?
I am using Rest API to get Activity Logs(github.com/Azure/azure-sdk-for-go/profiles/preview/preview/monitor/mgmt/insights) between two Timestamps for a given correlation Id. I successfully get the data. Here is the call sequence:

activityClient = insights.NewActivityLogsClient(subscriptionId)
activityClient.BaseClient.Authorizer = authorizer
// get all activitylogs

[2019-07-30 18:45] jfggdl commented on #5235
steve-hawkins, We have added this feature to our backlog and we will communicate later when this should be ready. Thanks for creating this issue.

[2019-07-30 22:59] kurtzeborn commented on #5379
Thanks for opening this issue to ask the question.  I'm routing this to an appropriate team for further follow up and hopefully we'll get you an answer to this.

[2019-07-31 11:05] invidian opened #5391 "Support for client-side blob encryption"
### Feature Request

It seems that Blob Encryption is currently only supported in [.Net](https://azure.microsoft.com/en-in/resources/samples/storage-dotnet-client-side-encryption/). It would be great if Go SDK could support is as well, so people can encrypt their data client-side.

(If I missed, that it IS supported, could one point me to some examples/source?)

[2019-08-01 07:12] pvrk commented on #2284
@tombuildsstuff: Do we have an update?

[2019-08-01 07:14] pvrk commented on #2822
Sorry for the delay. Will take a look and come back.

[2019-08-01 16:47] mbfrahry opened #5407 "Get App Service Plan 404 does not return an error"
### Bug Report

- import path of package in question `github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web
`
- SDK version e.g. `31.0.0`
- `go version go1.12.5 darwin/amd64`

### Issue

I ran into an issue where I used the Get method for an app service plan and received a nil object with a 404 response but no error. I expected an error to occur because that is how the majority of thi

[2019-08-01 22:08] loarabia commented on #5407
Hi @mbfrahry  It looks like the team will merge the pull request you wrote up to help you work around this temporarily. I'm leaving this to track the real fix.

[2019-08-01 22:23] udbhav-sharma opened #5412 "Authenticating with Azure using Certificate"
I am trying to authenticate with Azure Active Directory using Certificate. I get following error when I try authentication using SDK
`Authorizer failed: failed to get oauth token from certificate auth: failed to decode pkcs12 certificate while creating spt: pkcs12: expected exactly two safe bags in the PFX PDU`

Same certificate works if I use powershell commandlet to login to azure.

[Code Link](

[2019-08-02 09:41] andysworkshop opened #5418 "Budgets API is not maintaining case on dictionary keys"
### Bug Report

Using [this SDK](https://github.com/Azure/azure-sdk-for-go/tree/master/services/consumption/mgmt/2019-01-01/consumption).

Budget `PUT` operation from client logs:
[code]
Immediately followed by GET operation from client logs:
[code]

Note how the first 3 letters of the notification key have been mutated to lower case and the filter tag keys have been completely mutated.

This brea

[2019-08-02 20:15] katbyte commented on #5082
@yangl900,

It sounds like the deletion API should become async, or not return until the resource cleanup is complete as right now it is returning before deletion is complete.

[2019-08-02 22:09] loarabia commented on #5412
Hi @udbhav-sharma  I've tagged this bug so that the right team member can take a look.

[2019-08-02 22:18] loarabia commented on #5418
Hi @andysworkshop  I've tagged this so the right person on the team can find it.

[2019-08-03 18:38] djyou opened #5425 "Table query not extracting and following continuation token properly"
### Bug Report

Azure Storage table query may return results with non-empty `x-ms-continuation-NextPartitionKey` but empty `x-ms-continuation-NextRowKey`, see https://docs.microsoft.com/en-us/rest/api/storageservices/query-timeout-and-pagination

The current Go SDK implementation couldn't extract and follow the continuation token for these cases due to the assumption that both have to exist https:

[2019-08-04 15:06] katbyte commented on #2824
@pvrk, @jhendrixMSFT, any progress on this? we have another PR that has uncovered many many more case differences with the recovery services API: https://github.com/terraform-providers/terraform-provider-azurerm/pull/4003/files

[2019-08-04 20:42] kulkarnisonia16 commented on #894
Hello, we are evaluating next steps for Go Azure Functions at this time. Stay tuned for updates. Alternatively, you can also sign up for the private preview - https://aka.ms/goazurefunctions. Thanks for the continued interest.

[2019-08-05 12:14] benjamin37 opened #5435 "DatabaseVulnerabilityAssessmentRuleBaselinesClient always return "Default" as baseline"
### Bug Report

- import path of package in question github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2017-03-01-preview/sql
- SDK version `v32.0.0` (Commit ` 7a9d276`)
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`:   `go version go1.12 linux/amd64`

- What happ

[2019-08-05 17:17] jhendrixMSFT commented on #5425
Fixed in https://github.com/Azure/azure-sdk-for-go/releases/tag/v32.1.0

[2019-08-05 17:17] #5425 closed

[2019-08-05 19:00] ashjain commented on #5233
Hi Daniel,  I am a PM from the Azure Bastion team.  Thank you for reporting the issue.  We will take a look and circle back.

[2019-08-05 21:20] jhendrixMSFT commented on #5243
Hello @ajayshekar, were you able to verify this resolves your issue?

[2019-08-06 00:35] adamday2 commented on #4781
Any headway on this issue?

[2019-08-06 00:43] djsly opened #5443 "BootDiagnostics is missing for the ManagedCluster and AgentPool"
### Feature Request

We would like to be able to control the DiagnosticSettings of the AgentPool when creating an AKS cluster.

Right now: both https://github.com/Azure/azure-sdk-for-go/blob/master/services/containerservice/mgmt/2019-06-01/containerservice/models.go#L1747-L1784 and https://github.com/Azure/azure-sdk-for-go/blob/master/services/containerservice/mgmt/2019-06-01/containerservice/mode

[2019-08-06 08:03] DanielMabbett commented on #5233
Thanks for looking guys. I tried to raise a PR about it with the fix. This may help your team:
https://github.com/Azure/azure-sdk-for-go/pull/5234/commits/1f064ee12e44d952213728d928bb8319dc7b4481

[2019-08-06 11:23] metrue commented on #2822
Met the same issue, here is my dumped data. @gkakanauskas and `days` is bigger than 7.
[code]

[2019-08-06 18:27] amishra-dev commented on #5391
Thank you for this feature request. I have added it to our backlog and we will get to it in priority order.

[2019-08-06 18:27] #5391 closed

[2019-08-06 18:28] amishra-dev commented on #5391
btw: here is the dataplane sdk repo for go https://github.com/Azure/azure-storage-blob-go

[2019-08-06 23:29] msabansal commented on #5233
@DanielMabbett I would have to look into this but these files should be auto-generated from our swagger specs. The swagger specs have these correct https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/bastionHost.json

[2019-08-07 13:56] dansanabria commented on #4086
Did you ever get a reply from the endpoint owner @daniel-simpson ?

[2019-08-07 22:26] jhendrixMSFT commented on #4111
The APIs for manipulating custom domains are in [customdomains.go](https://github.com/Azure/azure-sdk-for-go/blob/master/services/cdn/mgmt/2019-04-15/cdn/customdomains.go).

[2019-08-08 03:28] daniel-simpson commented on #4086
@dansanabria unfortunately not, and as I was only doing investigation at that point we ended up having to park this piece of work :(

[2019-08-08 07:07] ArcturusZhang commented on #5233
@DanielMabbett Is this issue resolved? Since the `Name` property in `IPConfigurations` is not read-only now, it should be unmarshalled properly.

[2019-08-08 10:04] tombuildsstuff commented on #5082
@juho9000 any idea of a timeframe for when this'll be fixed?

[2019-08-08 10:59] DanielMabbett commented on #5233
Urm I am having a strange issue now so can't really test it.
[code]

My go environment is going, for the lack of better words, crazy:
[code]

[2019-08-08 23:19] ajayshekar commented on #5243
Hey @jhendrixMSFT, sorry it's taking longer than expected to verify the fix. I hope to get to it within the next week.

[2019-08-08 23:27] jhendrixMSFT commented on #5243
No worries thanks for the update.

[2019-08-09 00:51] mjconnection commented on #5099
Hello @apratina, I am working to identify the correct resource to help answer your questions.

[2019-08-09 10:19] landro commented on #4280
Unfortunately, there is no golang binding yet for the MS Graph API yet. Vote for it on https://microsoftgraph.uservoice.com/forums/920506-microsoft-graph-feature-requests/suggestions/37576909-graph-api-golang-sdk

[2019-08-12 02:28] ArcturusZhang commented on #5190
Hi @stuartleeks , this issue should be resolved in version 32.0.0

[2019-08-12 04:54] Drewm3 commented on #5099
Hi @apratina, the following documentation provides details on the Azure Rate Card API (and other billing APIs) which can be used to get pricing details for many subscription types. If your subscription is using an "Enterprise Agreement", then I do not believe there is an existing API provided to get pricing details.

Rate Card APIs: [https://docs.microsoft.com/en-us/azure/billing/billing-usage-rat

[2019-08-12 04:54] #5099 closed

[2019-08-12 06:52] ArcturusZhang commented on #5235
I submit a [PR](https://github.com/Azure/azure-rest-api-specs/pull/6931) that could resolve this issue

[2019-08-12 08:52] DanielMabbett commented on #5233
This is working now! Many thanks everyone for your help on this. Please close

[2019-08-12 08:52] #5233 closed

[2019-08-12 21:36] amishra-dev commented on #5190
Kindly reactivate if you find the issue is not resolved in v32.0.0

[2019-08-12 21:36] #5190 closed

[2019-08-13 03:59] kahing opened #5502 "Unable to use `storagedatalake#PathClient.Create`"
### Bug Report

package: `services/storage/datalake/2018-11-09/storagedatalake`
version: go-autorest/v12.4.2 Azure-SDK-For-Go/v32.1.0

`storagedatalake#PathClient.Create` takes many parameters, one of which is `xMsLeaseID`, which according to https://docs.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen2/path/create is optional. However the sdk validates that it follows some regex:

[2019-08-13 04:53] kahing commented on #5502
`X-Ms-Client-Request-Id`'s validation is similarly incorrect. Also, int64 pointers are not marshaled correctly and instead are marshaled like `Content-Length: 0xpointervalue`. Is this package actually used?

[2019-08-13 18:55] mguglani commented on #5379
I decided to use the auto rest API as I only needed the json output. I no longer need help on this issue.

[2019-08-13 18:55] #5379 closed

[2019-08-13 20:51] junyezhu commented on #4781
Hey, this issue should already been fixed now. Please retry, if the issue persist, let me know. Thank you.

[2019-08-15 01:49] #5235 closed

[2019-08-15 09:13] ArcturusZhang commented on #5502
This seems to be related with `go-autorest`, hi @jhendrixMSFT do you have any idea against this issue?

[2019-08-15 13:54] jhendrixMSFT commented on #4111
With the APIs available I believe this issue is resolved.  Please let me know if you have further questions.

[2019-08-15 13:54] #4111 closed

[2019-08-15 14:20] jhendrixMSFT commented on #5502
This looks to be a codegen bug, [here](https://github.com/Azure/azure-sdk-for-go/blob/master/services/storage/datalake/2018-11-09/storagedatalake/path.go#L1309) the code should dereference `contentLength`, I'll get this fixed.
As for the headers, they're marked as optional but the codegen isn't treating them as such; I'm still investigating that one.

[2019-08-15 18:40] ajayshekar commented on #5243
@jhendrixMSFT I was working on rolling this out and ran into an issue. We are using azure-sdk-go@27.3.0 which has a dependence on go-autorest@11.9.0. How do you recommend tackling this?

[2019-08-16 00:15] kahing commented on #5502
I found a few other issues:

For `List()`, `isDirectory` is returned as a string (ie: `"true"`) and cannot be default json unmarshalled into a golang `bool`

similarly, `contentLength` is returned as a string (ie: `"123"`) and cannot be unmarshalled into golang `int64`

during rename, the source object needs to be url escaped (`url.PathEscape`)

[2019-08-16 02:48] ArcturusZhang commented on #5502
Feel free to create new issues about these bad guys

[2019-08-16 21:30] udbhav-sharma commented on #5412
Is there a update?

[2019-08-16 22:03] kahing opened #5549 "incorrect deserialization for `storagedatalake#PathClient.List`"
From https://github.com/Azure/azure-sdk-for-go/issues/5502#issuecomment-521840401

For List(), isDirectory is returned as a string (ie: "true") and cannot be default json unmarshalled into a golang bool

similarly, contentLength is returned as a string (ie: "123") and cannot be unmarshalled into golang int64

[2019-08-16 22:04] kahing opened #5550 "Rename doesn't work for `storagedatalake#PathClient.Create`"
From https://github.com/Azure/azure-sdk-for-go/issues/5502#issuecomment-521840401

during rename, the source object needs to be url escaped (url.PathEscape), otherwise you get 400 InvalidSourceUri

[2019-08-16 22:07] loarabia commented on #5549
Triaging and assigning out given comments in the other bug.

[2019-08-16 22:08] loarabia commented on #5550
Triaging and assigning out per comment in other issue.

[2019-08-17 23:40] #2825 closed

[2019-08-17 23:41] #3917 closed

[2019-08-19 11:17] tombuildsstuff opened #5557 "Breaking changes in minor releases of the SDK"
👋

Taking a look through [the last few releases](https://github.com/Azure/azure-sdk-for-go/releases) it appears there's been a few breaking changes in minor releases of the SDK:

https://github.com/Azure/azure-sdk-for-go/commit/8c472686968f1d7b29df3d4bb9435a2db9eacbe7#diff-84e58a944451296f0308ed309e92e03fL410-R438

https://github.com/Azure/azure-sdk-for-go/commit/8c472686968f1d7b29df3d4bb9435a2db9

[2019-08-19 11:55] jrauschenbusch opened #5558 "Support for Kusto API version 2019-05-15"
### Feature Request

Please integrate the Go Client Implementation for Kusto API v2019-05-15 to support the following features:

- virtualNetworkConfiguration
- optimizedAutoscale
- enableDiskEncryption
- enableStreamingIngest

Path: `/services/kusto/mgmt/2019-05-15/kusto`

[2019-08-19 14:49] selvik opened #5559 "SDK equivalent for CLI "az aks install-connector""
Hello,

Is there an equivalent for "az aks install-connector" in the Azure SDK for Go? I have looked under containerservices and containerinstance but can't seem to spot the relevant call.

Thank you for any hints!

[2019-08-19 21:53] ehashman opened #5563 "Please include serviceRequestId in error messages"
### Feature Request

We wrap the azure-sdk-for-go in [openshift-azure](https://github.com/openshift/openshift-azure/) (currently using v24.0.0). Occasionally, we hit internal Azure service errors like this one:

[code]

(from https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1853/pull-ci-azure-master-upgrade-v7.0/1/build-log.txt)

As you can see from the message

[2019-08-20 02:25] ArcturusZhang commented on #5557
Hi @tombuildsstuff , in our release practice, preview packages will be considered as version 0 and always unstable, therefore breaking changes are allowed in minor version for preview packages.
See [wiki page](https://github.com/Azure/azure-sdk-for-go/wiki/SDK-Update-Practices)

[2019-08-20 02:27] #5557 closed

[2019-08-20 02:35] ArcturusZhang commented on #5558
Hi @jrauschenbusch , as far as I know, there is not an api version 2019-05-15 for azure-kusto yet. All available version lists [here](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/azure-kusto/resource-manager/Microsoft.Kusto).

[2019-08-20 05:27] ArcturusZhang commented on #5161
Hi @andysworkshop , according to the swagger [definition](https://github.com/Azure/azure-rest-api-specs/blob/ae48ce6edc05501e9b78d93d6e36862599cdedb5/specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintAssignment.json#L431), the `ParameterValue` is a subclass of `ParameterValueBase`, and actually the map stores `ParameterValue`. You can try cast the val

[2019-08-20 05:42] ArcturusZhang commented on #4781
Hi @katbyte could you please have a test if this issue persists? Thanks

[2019-08-20 05:44] ArcturusZhang commented on #4573
Hi @LaurentLesle , does the advice above work?

[2019-08-20 06:55] metrue opened #5568 "Could not set ScheduleRunTimes of backup.SimpleSchedulePolicy"
### Bug Report

- import path of package in question
github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-12-01/backup

- SDK version e.g. `master`, `latest`, `18.1.0`

[code]

- output of `go version`
[code]

- What happened?
I'm creating a backup schedule policy, which requires ScheduleRunTimes (an array of date.Time) `*[]date.Time`,  and I generate date.Time with time.Time usin

[2019-08-20 07:25] jrauschenbusch commented on #5558
@ArcturusZhang You can get all available API versions via executing the following shell script:

Precondition: Azure CLI installed an account logged in

[code]

Extracted Kusto api versions from result:

[code]

Hence the API is already live, but no spec yet.

Especially for Kusto you can show the resource properties via:

[code]

[2019-08-20 16:11] jhendrixMSFT commented on #5243
@ajayshekar good point, it wouldn't be compatible.
I've created a PR for a back-port against v11,  see https://github.com/Azure/go-autorest/pull/460

[2019-08-20 20:10] jhendrixMSFT commented on #5549
This is has been ported to https://github.com/Azure/azure-rest-api-specs/issues/7003

[2019-08-20 20:10] #5549 closed

[2019-08-20 22:25] jhendrixMSFT commented on #5550
Unfortunately swagger doesn't have a way to describe that a value should be URL-encoded and we cannot simply URL-encode all header values.  I suspect the best we'll be able to do here is update the description for this header indicating that it must be URL-encoded.

[2019-08-21 02:40] ArcturusZhang commented on #4505
It seems the problem is resolved, closing this one.
Feel free to reopen if any other question got raised

[2019-08-21 02:40] #4505 closed

[2019-08-21 02:41] #4573 closed

[2019-08-21 02:43] ArcturusZhang commented on #4601
Feel free to reopen or raise new issues if any other questions occur, thanks!

[2019-08-21 02:43] #4601 closed

[2019-08-21 02:45] ArcturusZhang commented on #4182
Do not get further respond from the custom, closing this one.
Feel free to reopen if there are any other questions, or raise new issues in this repo, thanks

[2019-08-21 02:45] #4182 closed

[2019-08-21 02:47] ArcturusZhang commented on #4381
No further response from the customer, closing this one.
Feel free to reopen or raise new issues if any other questions occur.

[2019-08-21 02:47] #4381 closed

[2019-08-21 02:47] #4280 closed

[2019-08-21 02:50] ArcturusZhang commented on #4124
No further response from the customer, closing this one.
Feel free to reopen or raise new issues if any other questions occur.

[2019-08-21 02:50] #4124 closed

[2019-08-21 03:03] ArcturusZhang commented on #4026
Hi @seym45 and @kpfaulkner , we have a repo for [azure-storage-blob-go](https://github.com/Azure/azure-storage-blob-go), if this could meet your expectation.

[2019-08-21 03:03] #4026 closed

[2019-08-21 03:05] kpfaulkner commented on #4026
@ArcturusZhang For me it doesn't meet the criteria (need table storage access not blob). This SDK is good enough for what I need, was merely curious to see if Table was getting the same support as blob.

[2019-08-21 05:06] ArcturusZhang commented on #4026
Sorry about that. There is no storage-table data plane SDK within Microsoft. But there is an open source sdk that seems to cover some storage table functionalities, which was made by a community contributor, you can check this one [here](https://github.com/tombuildsstuff/giovanni)

[2019-08-21 06:23] Azee77 opened #5575 "no buildable fo source file for dns/mgmt/dns"
Log : github.com/coredns/coredns/plugin/azure/azure.go:16:2: no buildable Go source files in /some_path/src/github.com/Azure/azure-sdk-for-go/profiles/latest/dns/mgmt/dns

Building was started externally into this directory via coredns and got above error.

[2019-08-21 07:35] #4781 closed

[2019-08-21 07:47] ArcturusZhang commented on #5575
Hi @Azee77 , this should be a dependency issue not an issue caused by go sdk. I noticed `github.com/coredns/coredns` uses go modules, so please make sure the dependencies are in their right places, conventionally should be `$GOPATH/src/github.com/Azure/azure-sdk-for-go`. You can try `go get -u github.com/Azure/azure-sdk-for-go/...` in your working directory to update your dependencies, or just clo

[2019-08-21 08:26] Azee77 commented on #5575
@ArcturusZhang thanks. I did the same, still faced the error. Maybe due to profile/latest. I commented the azure code from coredns.

[2019-08-21 15:07] mbrancato commented on #5226
Any update on this @praries880 or there is work ongoing?

[2019-08-21 22:25] jhendrixMSFT commented on #5550
Looks like the docs already mention that this must be URL-encoded.

// "/{filesystem}/{path}".  If "x-ms-properties" is specified, the properties will overwrite the existing
// properties; otherwise, the existing properties will be preserved. This value must be a URL percent-encoded
// string. Note that the string may only contain ASCII characters in the ISO-8859-1 character set.

[2019-08-21 22:25] #5550 closed

[2019-08-22 02:12] #5575 closed

[2019-08-22 21:44] WilliamMortlMicrosoft opened #5598 "Error in services/preview/sql/mgmt/2015-05-01-preview/sql/models.go"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

services/preview/sql/mgmt/2015-05-01-preview/sql/models.go

in this code

[2019-08-22 21:53] WilliamMortlMicrosoft commented on #5598
This code works without issue:

// CreateOrUpdateSQLServer creates a SQL server in Azure
func (sdk GoSDKClient) CreateOrUpdateSQLServer(properties SQLServerProperties) (result sql.Server, err error) {
	serversClient := getGoServersClient()
	serverProp := SQLServerPropertiesToServer(properties)

	// check to see if the server exists, if it does then short-circuit
	server, err := serversClient.Get(

[2019-08-23 08:27] mjudeikis opened #5603 "ARM as a code does not work"
`Goal`:

To be able to construct all `Azure` objects in code and Marsal/Unmarshal them in a transparent way while interacting with ARM API and constructing versioned payload for ARP API to consume

1. We would like to be able to construct versioned JSON from Objects and interact with ARM Templates instead of individual versioned APIS.
2. We would like to be able to generate ARM Templates from code

[2019-08-25 11:51] bwplotka commented on #5603
I would vote for this. (e g adding those Version fields to structs). It makes internal data model structs an external API, but that would help a lot users who use Go to automate/define their infrastructure.

[2019-08-26 15:31] Devin-Holland opened #5616 "Azure AD Graph API User query?"
I'm looking for a way to query users within our AD based on email. Similar to this from the graph api documentation:

https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/api/users-operations

GET https://graph.windows.net/myorganization/users?api-version[&$filter]

However, I am not seeing anywhere that this is an option in the generated sdk. I have found https://github.com/Azure/azu

[2019-08-28 01:47] ArcturusZhang commented on #5502
This bug has been fixed, closing

[2019-08-28 01:47] #5502 closed

[2019-08-28 18:19] nexxai opened #5642 "Support ICMP in Network Security Group rules"
### Feature Request

The GUI currently allows for rules to be created with the ICMP traffic type.  models.go in the most recent version (network/mgmt/2019-06-01) does not currently support this.

[2019-08-30 02:15] metrue opened #5654 "Trigger "Backup Now""
### Feature Request

It seems like there is not "Backup Now" for `virtual machine`,  I can enable backup schedule policy on a virtual machine though.

[2019-08-30 02:18] metrue commented on #5568
It turns the time should be full or half clock only.

[2019-08-30 02:18] #5568 closed

[2019-08-30 03:49] #5654 closed

[2019-08-30 07:59] metrue opened #5662 "There is no GetPolicyOperationResult API ?"
### Service Package Request

The API document says there is an API `GetPolicyOperationResult` to check result of a backup policy modification or creation, But I search all the code, did not find any.
https://github.com/Azure/azure-sdk-for-go/blob/7a9d2769e4a581b0b1bc609c71b59af043e05c98/services/recoveryservices/mgmt/2016-06-01/backup/protectionpolicies.go#L44
[code]

[2019-09-02 10:27] ashemedai commented on #5222
Hi @kurtzeborn, has there been any update on this front that you can share?

[2019-09-03 03:31] silencev commented on #4829
I need this fix too

[2019-09-03 05:25] #5024 closed

[2019-09-03 17:34] kaerm commented on #5662
Thanks @metrue for checking in - I am routing it to the right team to take a look at this

[2019-09-05 00:56] katbyte commented on #2822
@pvrk @jhendrixMSFT, any progress on this?

[2019-09-05 01:05] katbyte opened #5699 "Compute: AvailabilitySetsClient, VirtualMachinesClient, VirtualMachineScaleSetsClient return incorrect casing for the Proximity placement group ID (resource group name is lower cased)"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`"github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2018-06-01/compute"`
- SDK version e.g. `master`, `latest`, `18.1.0`
`	github.com/Azure/azure-sdk-for-go v32.5.0+incompatible`
- output of `go version`
[code]

- What happened?
The clients AvailabilitySetsClient, VirtualMachinesClient,

[2019-09-05 03:17] ArcturusZhang commented on #5662
Hi @metrue there is no such method named `GetPolicyOperationResult` in go sdk. After a search in [swagger specs repo](https://github.com/Azure/azure-rest-api-specs), this method `GetPolicyOperationResult` only appears in description of the `CreateOrUpdate`, `Get` and `Delete` operation.
Actually, despite the comments said that this method is an asynchronous operation, but it apparently is not. In

[2019-09-05 03:49] metrue commented on #5662
Thanks @ArcturusZhang,

Actually `Trigger` API also mentions using `GetProtectedItemOperationResult` to get result.
https://github.com/Azure/azure-sdk-for-go/blob/7a9d2769e4a581b0b1bc609c71b59af043e05c98/services/recoveryservices/mgmt/2017-07-01/backup/backups.go#L52

And according to my test, normally these APIs like `CreateOrUpdate` and `Trigger`, they don't return an error when options of API a

[2019-09-05 05:55] seanmck commented on #5559
No, this is a pure client side command in the CLI that wraps a helm deployment. It was an interim solution until 1st class support was added via virtual nodes. I'm afraid we don't have great docs on how to enable virtual nodes from the SDK but it should be fairly straightforward. It's just an add-on profile that looks like this (in JSON):

"addonProfiles": {
    "aciConnectorLinux": {
      "confi

[2019-09-05 05:55] #5559 closed

[2019-09-05 06:30] anton-yurchenko commented on #2838
@tariq1890 have you found a list of possible values?

[2019-09-05 12:00] gabrielmcf commented on #5222
Any news about this issue? We are having the same problem trying to create a secret to use with HPA in AKS.

[2019-09-05 17:59] pvrk commented on #2284
@tombuildsstuff : Another gentle reminder. Any update, please?

[2019-09-05 18:04] pvrk commented on #2822
@TAdityaAnirudh: can you please check this?

[2019-09-05 18:06] pvrk commented on #2824
@TAdityaAnirudh: can you please check this?

[2019-09-06 02:18] ArcturusZhang commented on #5662
Hi @dheerendrarathor @dragonfly91 @sonathan do you guys have more information about this?

[2019-09-06 16:36] lpuskas opened #5710 "reflect the restricted vm sizes in the sdk"
### Bug Report

- import path:
github.com/!azure/azure-sdk-for-go@v24.1.0+incompatible/services/containerservice/mgmt/2018-03-31/containerservice/models.go

- SDK version
 affects most versions

- What happened?
AKS cluster creation failed due to invalid machine type

- What did you expect or want to happen?
the SDK provides only machine types supported by the container service (the ones listed as

[2019-09-09 02:56] mybayern1974 opened #5719 "mssql 2018-06-01-preview is not included in Go SDK"
### Service Package Request

The desired service spec: [https://github.com/Azure/azure-rest-api-specs/blob/master/specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/ServerVulnerabilityAssessments.json](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/ServerVulnerabilityAssessments.json)

T

[2019-09-09 03:23] ArcturusZhang commented on #5719
This will be fixed by [this pr](https://github.com/Azure/azure-rest-api-specs/pull/7150)

[2019-09-09 06:03] ArcturusZhang commented on #5710
Hi @lpuskas sorry about the inconvenience, but this behaviour is defined by the [rest api](https://github.com/Azure/azure-rest-api-specs/blob/5c0a27ed2b2048cfcfea5f201bc3bb2d62dd75b7/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2018-03-31/managedClusters.json#L1282), which does not separate the VMSize that is acceptable for different scenes of usage.

[2019-09-09 06:50] ArcturusZhang commented on #5699
Hi @katbyte could you please provide some more detailed information? Such as the parameters you are using and the response the service returns, etc.

[2019-09-09 06:52] stoader commented on #5710
@ArcturusZhang we're using [containerservice.PossibleVMSizeTypesValues](https://github.com/Azure/azure-sdk-for-go/blob/v33.1.0/services/containerservice/mgmt/2018-03-31/containerservice/models.go#L468) to determine what VMSize is valid for AKS.

Should we use the list stored in `containerservice.PossibleVMSizeTypesValues` for querying VMSizes for AKS or a different API? If the later what API shoul

[2019-09-09 07:07] ArcturusZhang commented on #5642
There is a type of enum `AzureFirewallNetworkRuleProtocol` in `services/network/mgmt/2019-06-01/module.go` line 423-434 with values `Any`, `ICMP`, `TCP` and `UDP`. Are you referring to this?

[2019-09-09 14:29] ArcturusZhang commented on #5710
Actually, this kind of method exists for every enum type, which just returns all possible values for that enum type. To acheive what you want, you may have to write a method that filters the valid enum by your self.

[2019-09-09 14:53] stoader commented on #5710
@ArcturusZhang where the values of this enum type are generated from? are these from https://github.com/Azure/azure-rest-api-specs/blob/5c0a27ed2b2048cfcfea5f201bc3bb2d62dd75b7/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2018-03-31/managedClusters.json#L783 ?

[2019-09-10 00:03] #5719 closed

[2019-09-10 00:06] ArcturusZhang commented on #5710
Yes, everything in the services folder is generated from the spec swagger json.

[2019-09-10 06:27] stoader commented on #5710
@ArcturusZhang than if I understand it correctly if this https://github.com/Azure/azure-rest-api-specs/issues/7153 is addressed then the enum in the services folder will reflect those changes.

[2019-09-10 17:29] #5616 closed

[2019-09-11 01:59] ArcturusZhang commented on #5710
Sure, thanks!

[2019-09-11 02:56] ArcturusZhang commented on #5598
Hi @WilliamMortlMicrosoft I tried some code on my computer, and I did not reproduce the error you encountered.
The code snippet I use:
[code]
Please note that before you use `future.Result(client)` to retrieve the actual result, you must call `future.WaitForCompletionRef(ctx, client.Client)` first to wait for the long-term operation to complete.

[2019-09-11 03:03] ArcturusZhang commented on #5558
Thanks for the clarification. But if the spec is not released, there will not be a SDK generated.
Closing this issue.

[2019-09-11 03:03] #5558 closed

[2019-09-11 03:04] ArcturusZhang commented on #5563
Hi @ehashman I added the `Service Attention` label so the service team will get informed about this.

[2019-09-11 03:08] ArcturusZhang commented on #5412
@jhendrixMSFT Hi would you please check if this is related with auth in go-autorest?

[2019-09-11 03:13] ArcturusZhang commented on #5214
Hi @v-jaswel according to the comment in this [issue](https://github.com/Azure/azure-sdk-for-js/issues/4221), this problem should be solved on LUIS side. Please feel free to confirm the status.
Closing this one.

[2019-09-11 03:13] #5214 closed

[2019-09-11 03:22] ArcturusZhang commented on #5179
This is very strange, I checked the corresponding [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2018-10-01/compute.json), all the ProvisioningState field has the type of string. This bug (if still exists) should be caused on the service side.

[2019-09-11 03:22] #5161 closed

[2019-09-11 03:27] #5407 closed

[2019-09-11 03:30] #4772 closed

[2019-09-11 03:30] ArcturusZhang commented on #4772
Staled issue, closing

[2019-09-11 03:30] ArcturusZhang commented on #4686
Staled issue, closing

[2019-09-11 03:30] #4686 closed

[2019-09-11 03:32] ArcturusZhang commented on #3200
Staled issue, closing

[2019-09-11 03:32] #3200 closed

[2019-09-11 03:34] ArcturusZhang commented on #4166
Staled issue, closing

[2019-09-11 03:34] #4166 closed

[2019-09-11 03:34] ArcturusZhang commented on #4263
Staled issue, closing

[2019-09-11 03:34] #4263 closed

[2019-09-11 03:34] ArcturusZhang commented on #4478
Staled issue, closing

[2019-09-11 03:34] #4478 closed

[2019-09-11 16:19] jhendrixMSFT commented on #5412
Yes this is from the `adal` package in `go-autorest`.  Do you have a code sample how you're using the API?

[2019-09-11 16:50] jhendrixMSFT commented on #5412
Thanks.  We use `pkcs12.Decode()` to extract the cert/private key which expects there to be only one cert/private key pair in the data.  How are you creating the cert?

Regarding authentication with certificate thumbprint I've opened https://github.com/Azure/go-autorest/issues/468 to track it.

[2019-09-14 06:36] mybayern1974 commented on #5603
@jhendrixMSFT to possibly comment

[2019-09-14 15:07] jhendrixMSFT commented on #5603
The SDK is generated from swagger files, so removing any fields would require them to be removed from the swagger definition which I think is unlikely (it's also likely that somebody depends on them anyways).  Is it just the `Type` field that's causing problems?  The fact it's `READ-ONLY`?  Something else?
Regarding missing version info, I could update the codegen to add an `APIVersion()`, possibl

[2019-09-16 07:27] ArcturusZhang commented on #4829
Hi @dmitsh sorry for the delay.
I tried with the [rest api](https://github.com/Azure/azure-rest-api-specs/blob/09aacbbf37cfe7d26cfe5b8c88c70dc4e59d7b98/specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/networkInterface.json#L91).
Its response does not contains a field of `publicIpAddress`, therefore in SDK the value of `publicIpAddress` is `nil`.
This problem lies in the s

[2019-09-16 12:26] m1kola commented on #5603
@jhendrixMSFT I think, the summary of the issue is: there is currently no *official* way to build an [ARM template](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authoring-templates) as code using Azure SDK and a workaround gets broken after upgrading SDK version.

The workaround is to use types from the SDK that were designed to work with REST API, but not with ARM.

[2019-09-16 16:57] tombuildsstuff commented on #5603
I vaguely recall API's within Azure (maybe AKS/App Service?) that will return a BadRequest when some of these fields (e.g. Type or Kind) are set - as such I'd suggest against serialising the `kind` and `type` fields in the SDK Structs. Instead it might be better for the SDK to expose a struct containing the common properties needed for resources within an ARM Template, which can then take the inne

[2019-09-17 14:31] mjudeikis commented on #5603
@tombuildsstuff I think `type TemplateDeploymentObject struct` would not work as proposed as each resource is versioned individually, and is treated as a separate object in the payload.

We already wrapping this in the work of:
[code]
| out of interest since you're importing the SDK to build up the structs anyway - have you considered using the SDK's Clients (and associated waiters) rather than ge

[2019-09-17 15:19] steve-hawkins opened #5793 "SQL Elastic Pool zone redundant parameter missing"
### Feature Request

This appears to be part of the [2017-10-01-preview REST API specs](https://github.com/Azure/azure-rest-api-specs/blob/3b9c0d0747954e8c8e9e4fbe8de8e37de78c0e16/specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/elasticPools.json#L342-L345)

[2019-09-18 03:40] ArcturusZhang commented on #5793
Hi @steve-hawkins is [this](https://github.com/Azure/azure-sdk-for-go/blob/7577651eb4127da06c3cb42126e22d70ad974b12/services/preview/sql/mgmt/2017-10-01-preview/sql/models.go#L2615) what you want?

[2019-09-18 09:22] steve-hawkins commented on #5793
Hi @ArcturusZhang that's it, apologies I was looking in the wrong place

[2019-09-18 09:22] #5793 closed

[2019-09-18 13:29] TAdityaAnirudh commented on #2824
Thanks for the clarification @katbyte . We will fix it in upcoming release.

Out of curiosity, why are those APIs expecting Subscription ID in lower case only? Shouldn't we be fixing those APIs instead of updating every other response?

[2019-09-18 13:32] TAdityaAnirudh commented on #2822
We have improved our error handling and response messages in latest deployment. Can you please try again and let us know if you see gaps?

[2019-09-18 15:49] jhendrixMSFT commented on #5603
Tom is right; some services will reject REST calls that provide properties marked as R/O, and this pattern will become more prevalent over time.
I think generating separate types used solely for constructing a template is the likely solution; it would probably go in a sub-package to keep all template-specific code grouped together, e.g. `github.com/Azure/azure-sdk-for-go/services/network/mgmt/2019

[2019-09-18 15:51] mjudeikis commented on #5603
Any pointers where this should be "stabbed" ? Where do the definitions are located and hw generations works? :)

[2019-09-18 16:04] m1kola commented on #5603
I was thinking about it today. I think I have an idea how to make something like `TemplateDeploymentObject` (from https://github.com/Azure/azure-sdk-for-go/issues/5603#issuecomment-531864556) work. I'm happy to do the hand-written prototype.

@jhendrixMSFT could you please point me into the direction of ARM API specs? Are the specs public? They are not necessary for me to do the prototype, but the

[2019-09-18 21:03] katbyte commented on #2822
@pvrk & @TAdityaAnirudh, we are still seeing the exact same error as of today:
[code]

[2019-09-18 21:05] katbyte commented on #2824
@TAdityaAnirudh & @pvrk, most if not every other azure api we work with returns it in lowercase (or expects it to be). recovery services seems to be the exception here so it stands to reason recovery services should change to be consistent with the rest of azure.

[2019-09-18 21:07] katbyte commented on #5699
It happens no matter what parameter we send, the service always returns it in lower case. see discussion here: https://github.com/terraform-providers/terraform-provider-azurerm/pull/4020

[2019-09-19 01:15] Drewm3 commented on #4829
I believe this is part of the networking APIs not the VM APIs. So I have routed to the appropriate networking team.

[2019-09-19 01:25] Drewm3 commented on #5179
I am working to get the right dev owner engaged to this issue to provide a fix.

[2019-09-19 03:10] ArcturusZhang commented on #5179
Thanks a lot!

[2019-09-19 03:10] ArcturusZhang commented on #4829
Thanks!

[2019-09-19 06:55] Drewm3 commented on #5699
Is the problem in the casing of the resource group name or the PPG? The resource group name casing is not guaranteed in the responses from the Microsoft.Compute resource provider.

[2019-09-19 07:29] metrue commented on #5339
met same issue,

[code]

[2019-09-19 09:49] metrue commented on #5339
Create a PR here https://github.com/Azure/azure-sdk-for-go/pull/5831

[2019-09-19 17:18] sfiguemsft commented on #4829
@jhendrixMSFT can you look into this please?
seems to be related to this:
https://github.com/Azure/azure-sdk-for-go/blob/master/services/network/mgmt/2018-10-01/network/publicipaddresses.go

[2019-09-19 18:38] midacts opened #5835 "AzureAD: Missing Group Parameters"
### Feature Request

I'm new to this world (I am more of an ops guys).
I've been using Terraform's AzureAD provider and was noticing little things about the AzureAD groups that can be __set in the portal__, but __not__ via Terraform and the __go sdk__.

When I create a group, there is not an option to:
- Set a description
- Specify the membership type (assigned, dyn user, dyn device)
- License ass

[2019-09-19 20:05] midacts opened #5836 "AzureAD: Missing User Paramters"
### Feature Request

I'm new to this world (I am more of an ops guys).
I've been using Terraform's AzureAD provider and was noticing little things about the AzureAD groups that can be set in the portal, but not via Terraform and the go sdk.

When I create a user, there is not an option to:

- License assignment

Job info
- Job title
- Department
- Manager

Contact Info
  - Street Address
  - State

[2019-09-20 00:54] Drewm3 commented on #1829
Cleaning up old issues from 2016 - 2018. Please let us know if this issue is still a concern.

[2019-09-20 00:54] #1829 closed

[2019-09-20 02:20] ArcturusZhang commented on #5339
I create a new [issue](https://github.com/Azure/azure-rest-api-specs/issues/7268) in the swagger repo.
The service team will take care of this.

[2019-09-20 13:03] Oicho opened #5841 "Support mysql server 8.0"
### Feature Request
Hello,

Currently  Azure Database for MySQL support version 5.7, 5.6 and 8.0. Sadly supports only the first two version.

I ll try to add the 8.0 version it should not take too long.

[2019-09-20 15:55] andysworkshop opened #5843 "Create budget at management group level with service-principal login fails with 400"
### Bug Report

**Import:**
[code]
Attempting to create a budget at management group level _and_ with a service principal login fails with code `400` message `The Principal Id cannot be null/empty in the header`.

* Creating at subscription instead of management group level works fine with service principal login.
* Switching to a user login instead of a service principal login works fine at subsc

[2019-09-23 05:08] ArcturusZhang commented on #5841
There is no version 8.0 publish in the [swagger definition](https://github.com/Azure/azure-rest-api-specs/blob/b73e672a41f4a2f0b7c8ed0d996f8dabd2e4c3d5/specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/mysql.json#L1302) yet. I will let you know if the service team release new versions about this.

[2019-09-23 07:51] loveship00 opened #5853 "The api-version '2017-04-26' is invalid????"
customerinsights.RoleAssignmentsClient#ListByHub: Failure responding to request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="InvalidApiVersionParameter" Message="The api-version '2017-04-26' is invalid. The supported versions are '2019-08-01,2019-07-01,2019-06-01,2019-05-10,2019-05-01,2019-03-01,2018-11-01,2018-09-01,2018-08-01,2018-07-01,2018-06-0

[2019-09-23 18:17] wangjun-jwa commented on #5179
@s27y , does it always repro on your VMSS or it happened once. Can you provide the timestamp when you hit the issue?

[2019-09-23 20:20] katbyte opened #5855 "Eventhub Namespace Network Ruleset vnet rule Subnet ID returns ID with resource group name in lowercase"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`"github.com/Azure/azure-sdk-for-go/services/eventhub/mgmt/2017-04-01/eventhub"`

- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
[code]
- output

[2019-09-23 21:06] cliffkoh commented on #5855
test

[2019-09-23 23:25] loarabia commented on #5853
@loveship00  did you run into this when calling an endpoint directly or using a specific client library? Do you have more code by any chance that shows it off?

[2019-09-24 02:08] loveship00 commented on #5853
version:	github.com/Azure/azure-sdk-for-go v33.4.0+incompatible

fake code:
[code]

[2019-09-24 05:42] ArcturusZhang commented on #5855
Hi @katbyte I reproduced this using rest api. and I am tagging this issue for the service team's information

[2019-09-24 06:02] sajayantony commented on #5181
Please assign this to @adewaleo

[2019-09-24 06:08] ArcturusZhang commented on #3080
Staled issue, closing

[2019-09-24 08:25] TAdityaAnirudh commented on #2824
Fix has been checked-in. It should be deployed by end of November.

[2019-09-24 08:26] tombuildsstuff commented on #3080
@ArcturusZhang since this is a feature request, can this be re-opened? It'd be great to see this added to the Generator - since at the moment we're having [to do this ourselves](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/internal/services/network/network_security_group.go#L9-L31) in each resource (which would also allow this SDK to subsequently validate a

[2019-09-24 16:52] jhendrixMSFT commented on #5603
Sorry for the delay.  I'm not sure which ARM APIs you're looking for, do you mean [these](https://docs.microsoft.com/en-us/rest/api/resources/deployments)?

[2019-09-24 23:44] ganeshvaltix opened #5871 "Expose resource manager limits through SDK"
We would like to view the resource manager throttling limits that are exposed via http headers through the SDK.

For reference: https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-request-limits

[2019-09-25 18:40] jfggdl commented on #5853
@ramya-rao-a, we need your team support on this. We probably need to understand how is that a released version of a Go client can lead to an error condition in which the API used is invalid.

[2019-09-25 18:44] jfggdl commented on #5855
@katbyte, thank you for creating this issue. We are working on identifying the root cause of the problem. You should be hearing from us soon.

[2019-09-26 07:55] ArcturusZhang commented on #3080
Reopened by request.

[2019-09-26 08:10] ArcturusZhang commented on #5598
Do not get responds, closing

[2019-09-26 08:10] #5598 closed

[2019-09-26 16:33] m1kola commented on #5603
@jhendrixMSFT Thanks. I was looking for [this](https://github.com/Azure/azure-resource-manager-schemas).

I think, having separate types will work for use cases when you construct template from scratch. But, will be tricky for use cases when you want to get some existing resource from the REST API and create a template based on it: there will be type mismatch and the SDK user will have to do a lot

[2019-09-26 17:02] katbyte commented on #5699
@Drewm3, the problem is the casing of the resource group name does not match the actual case of the resource group name. This behaviour does not match the majority of azure APIs.

[2019-09-26 17:10] katbyte opened #5893 "Evenhub Disaster Recovery Config with alternate name cannot be deleted"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`"github.com/Azure/azure-sdk-for-go/services/eventhub/mgmt/2017-04-01/eventhub"`
- SDK version e.g. `master`, `latest`, `18.1.0`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
[code]
- output o

[2019-09-27 00:59] Drewm3 commented on #5699
Thanks for the feedback. I do understand it is a bit challenging when the casing is inconsistent, but this is "by design" currently for VMs and associated resources. The development team does have a replacement design that will support retaining case in the future, but this is unfortunately a very large work item due to the current backend implementation. So I do not know when we will be able to u

[2019-09-27 06:05] katbyte commented on #5699
@Drewm3, @jhendrixMSFT,

I'm not sure why this issue was closed? I don't see any resolution other then an explanation for why a fix will take a while. Could we please keep this issue open for tracking until it is actually fixed as it is linked to in code & PRs?

[2019-09-27 06:08] katbyte commented on #2824
Thanks @TAdityaAnirudh!

[2019-09-27 06:14] benjamin37 opened #5899 "Pagination Support for Storage Account List (nextLink)"
### Bug Report

- import path of package in question, e.g. `.../services/storage/mgmt/2019-04-01/storage/account.go`
- SDK version e.g. `master`
- output of `go version`: go version go1.12 linux/amd64

- What happened?

I used the List function for storage accounts to List all storage accounts of my subscription. I have about 20 storage accounts in my subscription. It returned a paginated response

[2019-09-27 07:23] katbyte opened #5900 "Unable to provision a Data Catalog with the SDK and a service principal (plus unhelpful error message)"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`github.com/Azure/azure-sdk-for-go/services/datacatalog/mgmt/2016-03-30/datacatalog`
- SDK version e.g. `master`, `latest`, `18.1.0`
`github.com/Azure/azure-sdk-for-go v33.2.0+incompatible`
- output of `go version`
`go version go1.12.6 darwin/amd64`

- What happened?

When attempting to provis

[2019-09-27 15:35] codyseavey opened #5904 "SubscriptionRequired on apimanagement.APICreateOrUpdateParameter does not seem to work as expected."
### Bug Report

- github.com/Azure/azure-sdk-for-go/services/apimanagement/mgmt/2019-01-01/apimanagement
- versions:
  - github.com/Azure/azure-sdk-for-go v32.6.0
  - github.com/Azure/go-autorest/autorest/azure/auth v0.3.0
  - github.com/Azure/go-autorest/autorest/to v0.3.0 // indirect
  - github.com/Azure/go-autorest/autorest/validation v0.2.0 // indirect
- go version go1.12.5 linux/amd64

- What

[2019-09-28 18:57] katbyte commented on #5900
I presume this is because i am using a service pricipal, logging in with the CLI and using that auth method seems to work. The error message should state as much rather then the unhelpful one returned.

[2019-09-28 19:03] katbyte opened #5915 "DataCatalog SDK does not update admins/users & object has invalid & mis named properties"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
`github.com/Azure/azure-sdk-for-go/services/datacatalog/mgmt/2016-03-30/datacatalog`
- SDK version e.g. `master`, `latest`, `18.1.0`
`github.com/Azure/azure-sdk-for-go v33.2.0+incompatible ``
- output of `go version`
`go version go1.12.6 darwin/amd64`

- What happened?
When provisioning a data

[2019-09-29 09:20] ArcturusZhang opened #5921 "Unmarshalling error when calling `Generatevpnclientpackage` method in virtual network gateway"
### Bug Report

An error is raised when calling go SDK corresponding to [rest api](https://docs.microsoft.com/en-us/rest/api/network-gateway/virtualnetworkgateways/generatevpnclientpackage)
[code]
Note that the response of this api is string instead of json, but in [go SDK](https://github.com/Azure/azure-sdk-for-go/blob/088b4d484d58bba14d62f1de59a49272aecf7845/services/network/mgmt/2019-06-01/netw

[2019-09-29 09:21] ArcturusZhang commented on #5921
@jhendrixMSFT is this bug related with code gen? Thanks

[2019-09-29 22:06] Drewm3 commented on #5699
This is closed because it is by design. Please feel free to open design changes or feature requests here: https://feedback.azure.com/forums/216843-virtual-machines.

Unfortunately, it is exceptionally difficult to manually manage feature requests for the entire surface of the VM product in GitHub.

[2019-09-29 22:06] #5699 closed

[2019-09-30 16:20] m1kola commented on #5603
Hi @jhendrixMSFT. After several discussions with my collegues and some experiments, I see the following solutions and potential issues with them.

I'm happy to arrange a call to discuss ways forward with you (with posting an update here for visibility, after the call).

Termenology I use below:

* REST types - structs that already exist in the SDK (`VirtualNetwork`, `PublicIPAddress`, etc).
* ARM

[2019-09-30 20:17] jhendrixMSFT commented on #5921
Per internal discussion the REST endpoint should be returning the value as a JSON object.
[code]
Long-term the REST endpoint should be updated to conform to this requirement.
I don't have a good short-term solution for this as autorest assumes request/response bodies are valid JSON objects.

[2019-10-01 21:31] sopatwar commented on #409
@jhendrixMSFT This would very useful for me.
Is there any plan to add these kind of mockXXClient APIs for Microsoft.Network APIs ?

Thanks,
Sourabh

[2019-10-01 23:00] jhendrixMSFT commented on #409
@sopatwar take a look at https://github.com/Azure/azure-sdk-for-go/blob/master/services/network/mgmt/2019-07-01/network/networkapi/interfaces.go

[2019-10-01 23:05] sopatwar commented on #409
@jhendrixMSFT
I was actually referring to mock/fake classes as mentioned in this comment.

[2019-10-01 23:48] jhendrixMSFT commented on #409
Oh I see, you must provide your own mock types.  Here's a sample, mocking one of the APIs.
[code]

[2019-10-01 23:53] sopatwar commented on #409
Ok, I see how this can be done for Get() or List() APIs.

Any pointers on how to mock CreateOrUpdate() or Delete() APIs?
Typically, such APIs would return a Future object.

Thanks,
Sourabh

[2019-10-02 00:06] jhendrixMSFT commented on #409
Hmm this is where it gets a little more complicated.  I think the only way to achieve this at present is to mock up a JSON response then unmarshal that into the future.  Take a look at https://github.com/Azure/go-autorest/blob/master/autorest/azure/async.go#L319 for the JSON format.
Please feel free to open an issue in the go-autorest repo to simplify mocking future responses however I don't know

[2019-10-03 00:01] yamaszone opened #5941 "local error: tls: no renegotiation"
### Bug Report

- import path of package in question: `github.com/Azure/azure-sdk-for-go/services/apimanagement/mgmt/2019-01-01/apimanagement`
- SDK version: `v34.0.0`
[code]

- output of `go version` `go1.12.4 darwin/amd64`

- What happened?
I have the following env vars configured:
[code]
I have the following sample code to print the list of API Management Subscriptions for my instance:
[code]
W

[2019-10-04 18:06] maggiepint commented on #5941
HI! Thanks for a well written bug report. I'm routing to the proper team for follow-up.

[2019-10-04 18:59] solankisamir commented on #5941
@jhendrixMSFT  do we have guidance on how to use the Go clients. This customer is trying to hit the wrong endpoint in this client.
He is hitting `https://{foobar}.management.azure-api.net` when he should be hitting `https://management.azure.com` as he is using AAD authentication.

[2019-10-04 19:05] jhendrixMSFT commented on #5941
@yamaszone you want [NewSubscriptionClient](https://github.com/Azure/azure-sdk-for-go/blob/master/services/apimanagement/mgmt/2019-01-01/apimanagement/subscription.go#L35), it will specify the correct URL.

[2019-10-04 19:42] yamaszone commented on #5941
@jhendrixMSFT Thanks for your reply. With `NewSubscriptionClient`, I am seeing the following error:
[code]
I am trying to use "Client credentials" auth method as documented [here](https://docs.microsoft.com/en-us/azure/go/azure-sdk-go-authorization#use-environment-based-authentication). [NewSubscriptionClient](https://github.com/Azure/azure-sdk-for-go/blob/master/services/apimanagement/mgmt/2019-0

[2019-10-04 19:49] solankisamir commented on #5941
@yamaszone have you tried the Azure Samples repo for the pattern. This might help
`https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/master/network/ipaddress.go`

[2019-10-04 20:20] jhendrixMSFT commented on #5941
@yamaszone Please also see the Authorization section in the README https://github.com/azure/azure-sdk-for-go#authentication

[2019-10-04 22:52] JacksonSanders opened #5956 "Panic String in GoLang API (Azure)"
This bug causes a panic in our code and is stopping us from listing out all the instances in a VMSS.  We need this ability in order to find and start deallocated machines.

Here's a code snippet that causes the panic:
    client := compute.NewVirtualMachineScaleSetVMsClient(subscriptionID)

    res, err := client.List(ctx, group, vmss,
        "startswith(instanceView/statuses/code, 'PowerState')

[2019-10-04 22:54] sopatwar commented on #409
@jhendrixMSFT I tried to code up a sample implementation.
The code as written will not compile because of the "ERROR" lines.
Is there any good way to avoid type checks when using the mock client in the code below:

`package main

import (
	"context"
	"fmt"
	"net/http"
	"testing"

	"github.com/Azure/azure-sdk-for-go/profiles/latest/eventhub/mgmt/eventhub"
	"github.com/Azure/azure-sdk-for-go/profile

[2019-10-04 23:01] sopatwar commented on #409
@jhendrixMSFT
I tried to code up a sample implementation.
The code as written will not compile because of the "ERROR" lines.
Is there any good way to avoid type checks when using the mock client in the code below:

[code]

[2019-10-05 01:14] yamaszone commented on #5941
@jhendrixMSFT Thanks for the pointer. I did try it previously but it didn't work because of hitting incorrect URL. I was switching between SAS auth (which needed FQDN) and Client credentials auth and overlooked the endpoint difference. I re-attempted it and it works! I wish the error message for bad URL was more informative instead of just saying `local error: tls: no renegotiation` to help me deb

[2019-10-05 01:14] #5941 closed

[2019-10-07 09:13] stuartleeks commented on #5190
Apologies - I was juggling this in tandem with some other work. I appreciate your help getting this fixed and release - the Terraform provider work that this unblocked has now been released :-) Thanks!

[2019-10-07 19:40] rebecca-makar opened #5964 "v34.0.0 - installs break go-autorest"
### Bug Report

Running a `go build` on the new release has breaking changes for go-autorest.
Missing packages for go-autorest:
[code]

- All installs/tests were running fine until the latest release once those packages were removed. I could not run a gobuild on my file that had imported go-autorest auth. Once in my env (run on azure devops ubuntu) I also installed all dependencies for go-autorest

[2019-10-08 01:43] justaugustus opened #5968 "Azure Compute API is not properly validating which VM types can deployed in an Availability Zone"
### Bug Report

I'm going to preface this with, "I have no clue where the best place to file this is, so apologies if it's in the wrong tracker".

- import path of package in question: `github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute`
- SDK version:
[code]
- output of `go version`: `go version go1.12.9 linux/amd64`

### What happened?
This was originally filed in https:/

[2019-10-08 02:04] devigned commented on #5968
I just tried to build a VM in `southcentralus` and UI popped a [link to docs for regions and services with zones support](https://docs.microsoft.com/en-us/azure/availability-zones/az-overview#regions-that-support-availability-zones). `southcentralus` wasn't listed amongst the regions. I'm thinking the API is sending back lies.

@jhendrixMSFT, I think this is a compute team issue.

[2019-10-08 02:23] ArcturusZhang commented on #5964
Sorry for the inconvenience, I am investigating this issue and may release a patch version to fix this.

[2019-10-08 02:54] ArcturusZhang commented on #5964
Hi @rebecca-makar
I wrote a brief sample project trying to reproduce this issue, but it seems fine for me, there is no error reported on my side.
I must admit that in v34.0.0, these three packages are indeed redundant to the SDK. SDK is not using them but they remained in the `Gopkg.toml`, which will be fixed in the next patch coming in next a few days. But the sample I wrote does not reproduce th

[2019-10-08 03:11] ArcturusZhang commented on #5956
Hi @JacksonSanders
usually the roor cause of these kind of unmarshalling error lies on the service side. But in this case, it is very peculiar that the struct VirtualMachineScaleSetVMListResult does not have a field of `value` (small v) as the error you posted, but it has a field of `Value` with type of an array (not string).
And I notice the error message you posted is not complete, would please

[2019-10-08 03:14] ArcturusZhang commented on #5968
Actually similar issue [here](https://github.com/Azure/azure-sdk-for-go/issues/5710) if I did not get your point wrong.

[2019-10-08 05:55] Drewm3 commented on #5968
I will check with the team to determine why the AZs are showing up in the SKUs API even though AZs are not currently enabled in South Central US.

[2019-10-08 09:23] m1kola commented on #5603
@jhendrixMSFT, any feedback on the above? Please, let me know if you would like to have a call to discuss it.

[2019-10-08 13:24] rebecca-makar commented on #5964
Hm strange. So I do a fresh go install
[code]

and get:
[code]

but if I add this before it works fine (didnt have to do that before):
`    go get -v -u github.com/Azure/go-autorest/...
`

I just wanted to share my experience incase others go through it. Thanks for the help! @ArcturusZhang

[2019-10-08 15:30] jhendrixMSFT commented on #409
Looks like completely mocking the future isn't really possible.  This is tracked in https://github.com/Azure/go-autorest/issues/469

[2019-10-08 15:47] jhendrixMSFT commented on #5921
One option for this broken operation is to set the `produces` section to `text/plain` for this specific operation ID.  I don't know if all generators support this though.

[2019-10-08 16:36] jhendrixMSFT commented on #5603
Sorry for the delay.  This is a great write-up, thanks for putting it together.

We won't be able to get rid of at least some of the custom marshalling/unmarshalling as we use it to support discriminated types in swagger.  While we could potentially change the implementation it's a fragile part of the code so I'd prefer to not do this unless there was no other choice.

Out of the three options I p

[2019-10-08 18:55] adewaleo commented on #5181
Can this be assigned to me here?

[2019-10-08 20:04] justaugustus commented on #5968
@Drewm3 -- sounds good! Just as a note, it could very well be multiple locations that are returning incorrect results. I just stopped w/ `southcentralus` once I realized it was a Compute API thing and not a downstream Cluster API Azure thing.

[2019-10-08 20:51] danieladams456 opened #5974 "Support Custom CA Certificate Chain"
### Feature Request
I am trying to use the Azure AD Terraform provider, but seemed like here would be a better place to file a request.

I am behind a corporate proxy that does SSL interception.  For AWS Terraform provider, I set `AWS_CA_BUNDLE` environment variable to override the certificate verification process.  I am not finding an analog for Azure go SDK.  The CLI works since I am setting `RE

[2019-10-09 04:50] maggiepint commented on #5974
Thanks for the feedback! @mozehgir can you help get this routed?

[2019-10-09 10:02] manya0393 opened #5985 "too many arguments to return have (string) want ()"
when try to run the terraform command to execute terraform code through GOLANG and want to return the id of the resource from the function and use it in other function. Kindly get through the code i am using.

func TestTerraformDataFactory(t *testing.T) {

terraformOptions := &terraform.Options{
	TerraformDir: *terraformDir ,
	VarFiles: []string{*varFiles},
}
terraform.InitAndApply(t, terraformOpt

[2019-10-09 21:30] sfiguemsft commented on #5921
@anzaman can you look into this please?

[2019-10-10 00:56] Drewm3 commented on #5968
After some additional research I have found out that for a VM to be available for a zonal deployment it must be available in the VM SKUs API and the resource must have a zone mapping in the Get Providers API (https://docs.microsoft.com/en-us/rest/api/resources/providers/get).

In the case of SouthCentralUS VMs are not available in any zones which is why you are seeing the failure. The behavior tha

[2019-10-10 02:00] justaugustus commented on #5968
@Drewm3 -- I've been staring at this for a bit and I'm not seeing `zoneMappings` exposed in the resources API (for Azure SDK for Go):

https://github.com/Azure/azure-sdk-for-go/blob/8c372e6e1243e0427dffb2d750099ee3ed161a44/services/resources/mgmt/2019-05-01/resources/models.go#L1775-L1789

Here's some sample code:

<details>

[code]

</details>

...and the output:
[code]

Any insights?

[2019-10-10 02:47] katbyte opened #5990 "devspaces API `host_suffix` property is ignored in API version `2019-04-01`"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
works in: `github.com/Azure/azure-sdk-for-go/services/preview/devspaces/mgmt/2018-06-01-preview/devspaces`
breaks in: `github.com/Azure/azure-sdk-for-go/services/devspaces/mgmt/2019-04-01/devspaces`

- SDK version e.g. `master`, `latest`, `18.1.0`
[code]

- output of `go version`
`go version g

[2019-10-10 03:17] ArcturusZhang commented on #5964
This is really strange. `go-autorest` is a dependency of go sdk, so go get sdk will recursively get go-autorest.
After the minor version is released, could you please do another test for this then? Thanks in advance.

[2019-10-10 03:21] ArcturusZhang commented on #5921
There is a workaround we are using, that we take over the part of response handling.
@njuCZ could you please share something about your workaround on this issue?

[2019-10-10 05:52] maggiepint commented on #5985
@mozehgir

[2019-10-10 13:04] pvrk commented on #2822
Apologies for the inconvenience. Will check and come back.

[2019-10-10 13:08] pvrk commented on #2284
Closing this bug since we didn't get an update. Can re-open if updates are available

[2019-10-10 13:08] #2284 closed

[2019-10-10 17:10] techiechap commented on #1504
Can some pls share the configuration block for soft delete?

[2019-10-10 17:30] jhendrixMSFT commented on #1504
@techiechap please see https://github.com/Azure/azure-sdk-for-go/commit/cdf51db824e96eb7b402324f229fd7cb828ec087#diff-ddecebdea58b5f264d27f1f7909bab74 for where it was added, I believe it's the `DeleteRetentionPolicy` field.

[2019-10-10 19:23] techiechap commented on #1504
Thank you Jeol,

its kinda confusing, below is my snippet for existing storage account, now
i would like to refer to the storage account and enable (soft_delete,
https_traffic)
any help appreciated.

#Refer to RG
data "azurerm_resource_group" "resource_gp" {
  name      = "dev-storage-test"
}
#Refer to Storage Account
data "azurerm_storage_account" "st_ac1" {
  name                = "cvstaccounton

[2019-10-10 19:57] jhendrixMSFT commented on #1504
For management operations you'll want to use the the management APIs, see https://github.com/Azure/azure-sdk-for-go/tree/master/services/storage/mgmt/2019-04-01/storage.  [SetProperties](https://github.com/Azure/azure-sdk-for-go/blob/master/services/storage/mgmt/2019-04-01/storage/blobservices.go#L239) to enable soft delete and [Update](https://github.com/Azure/azure-sdk-for-go/blob/master/service

[2019-10-10 21:13] techiechap commented on #1504
I appreciate Joel,
I would be grateful if that configuration is available as sample, would you
pls elaborate how could i get set properties on above configuration,

Thanks
Ashish

On Thu, 10 Oct 2019 at 14:57, Joel Hendrix <notifications@github.com> wrote:

[2019-10-11 00:05] devigned commented on #5968
Looks like the `zoneMappings` keys is not available in the latest specification, thus is not generated in each of the languages: https://github.com/Azure/azure-rest-api-specs/blob/a5edf3b757d2c06091a5389b053a8cfa562525a0/specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/resources.json#L4246-L4285

@Drewm3, I can see it clear enough via the REST response from Providers

[2019-10-11 01:24] BrendanThompson opened #6003 "Azure Firewall Application Rule Collection Mssql Support"
### Feature Request

According to the API documentation for Azure Firewall Application Rule Collections the supported `protocol` options are `Http`, `Https`, & `Mssql` ( https://docs.microsoft.com/en-us/rest/api/firewall/azurefirewalls/createorupdate#azurefirewallapplicationruleprotocoltype ) this however is not reflected in the API client and thus not reflected in the Terraform Provider.

The ask

[2019-10-11 01:51] BrendanThompson commented on #6003
Okay, so it seems this is actually declared in the `2019-07-01` version of the `models.go`. As such, this can be closed I believe.

[2019-10-11 01:51] #6003 closed

[2019-10-11 02:23] ArcturusZhang commented on #5964
Hi @rebecca-makar v34.1.0 is released, please feel free to have a test again

[2019-10-11 02:25] ArcturusZhang opened #6006 "Module implementation breaks pkgchk"
### Bug Report

Here is an [example](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=135344&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9) for this.
Currently, pkgchk expects the `v2` folder to contain a package of `v2`.

[2019-10-11 02:29] ArcturusZhang commented on #5985
Hi @manya0393 I do not quite get your point. But should this issue belong to terraform rather than go sdk?
In addition, I suppose the code snippet you gave cannot compile. You have a function `func TestTerraformDataFactory(t *testing.T)` but called it as `id := TestTerraformDataFactory()`.

[2019-10-11 02:39] rebecca-makar commented on #5964
@ArcturusZhang I will run it tomorrow morning and send you an update! Thank you

[2019-10-11 06:06] tombuildsstuff commented on #1504
@techiechap unfortunately Soft Delete support isn't available in Terraform yet - but [is being tracked in this issue](https://github.com/terraform-providers/terraform-provider-azurerm/issues/1329) - please subscribe to that issue for updates

[2019-10-11 12:51] techiechap commented on #1504
Awesome, thanks, many latest feature are not available, thats bit tedious,
hope they make terraform as first option.

 i was wondering whey some of the issue were closed?

https://github.com/terraform-providers/terraform-provider-azurerm/issues/1070
https://github.com/Azure/azure-storage-blob-go/issues/37

Thanks again
Ashish

On Fri, 11 Oct 2019 at 01:06, Tom Harvey <notifications@github.com> wro

[2019-10-11 14:22] rebecca-makar commented on #5964
@ArcturusZhang it worked! Install of just sdk worked.
[code]
 I was able to remove
[code]

Thank you!!

[2019-10-11 16:25] Drewm3 commented on #5968
Thanks for the update. I will work with the owners of this API to ensure zoneMappings are added to the spec so they show up in the SDKs.

[2019-10-11 16:28] maggiepint commented on #5990
Thanks for the feedback - I have routed to the appropriate team for follow up.

[2019-10-11 18:27] justaugustus commented on #5968
Thanks for working on this, Drew!

[2019-10-11 22:21] anavinahar commented on #5642
NSG's now support ICMP: https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#security-rules

[2019-10-12 02:15] #6006 closed

[2019-10-12 09:17] #5964 closed

[2019-10-12 09:18] ArcturusZhang commented on #5642
Closed due to no response from the issue author

[2019-10-12 09:18] #5642 closed

[2019-10-14 04:31] ArcturusZhang commented on #5990
Hi @katbyte according to the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/b5c5da5888eb6ae81108161be58c88b583197d2a/specification/devspaces/resource-manager/Microsoft.DevSpaces/stable/2019-04-01/devspaces.json#L576) of devspaces, the hostSuffix is labeled of `readOnly: true` now, which indicates it is managed by azure now rather than user-provided.

[2019-10-14 04:50] ArcturusZhang commented on #5956
Closed due to no response from the author.
Please feel free to leave a comment to notice me if anything new you want to add, and I will reopen this issue then. Thanks

[2019-10-14 04:50] #5956 closed

[2019-10-14 06:41] ArcturusZhang commented on #5904
Hi @codyseavey I just tried this api with similar code you posted here, everything is fine.
I tweaked your code a little bit.
[code]
After executed this piece of code, I use rest api GET to verify the `SubscriptionRequired` field, which is false. Please have a try.
If you have further questions, please feel free to comment below, I will reopen this issue then.

[2019-10-14 06:41] #5904 closed

[2019-10-14 06:45] ArcturusZhang commented on #5900
Hi @jhendrixMSFT do you have any clue about this?

[2019-10-14 06:59] ArcturusZhang commented on #5899
In go SDK, the `List` call often returns a `ResultPage` struct, it may contains only one page, or multiple pages. How the results are paginated is controlled on the service side. Since the api will not return all results all in one object, you may always need to iterate all pages of the ResultPages to collect all results. Therefore I thought on the SDK side, it makes no difference. Let us see if t

[2019-10-14 07:04] ArcturusZhang commented on #5893
This seems to be a problem with the service side.

[2019-10-14 12:08] m1kola commented on #5603
@jhendrixMSFT sorry for the delay on my side now :)

Yes, this approach will work for our use case and hopefully for other SDK users. But I worry about it's maintainability in the SDK itself. Going this route means that SDK will have `N * Z` copies of the same top-level type just for ARM consumption (where `N` is the version of the REST API type and `Z` is the version of ARM schema).

For example,

[2019-10-14 15:46] tombuildsstuff opened #6021 "Security API version 2019-08-01"
### Service Package Request

👋

We've been asked (offline) if we can migrate to a stable version of the Security API, rather than using the Preview API (2017-08-01-preview) that we're currently using. As a part of [this we've had a PR opened to update Terraform to use API version 2019-08-01](https://github.com/terraform-providers/terraform-provider-azurerm/pull/4509)) - however it appears that mos

[2019-10-14 15:53] jhendrixMSFT commented on #5900
@ArcturusZhang I think you'll need to loop in somebody from the data catalog team to help investigate.

[2019-10-14 20:32] jfggdl commented on #5893
@katbyte, we are looking at this issue and we will share our findings/request for more information.

[2019-10-15 09:50] cloudpea commented on #5222
Is there any updates or workarounds for this? This is currently preventing us from using Terraform to automate our AKS cluster deployments as we can't create a client secret for the SPN.

[2019-10-16 08:32] manya0393 opened #6052 "runtime error: invalid memory address or nil pointer dereference [recovered]"
Getting error on running the test cases
**Error-**
TestFordiagsettingscategory
Logs that are enable-
--- FAIL: TestFordiagsettingscategory (70.92s)
panic: runtime error: invalid memory address or nil pointer dereference [recovered]
        panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x28 pc=0x6e087a]

goroutine 7 [running]:
testing.tRunn

[2019-10-16 12:01] katbyte commented on #5990
thanks @ArcturusZhang

[2019-10-16 12:01] #5990 closed

[2019-10-17 03:47] #5985 closed

[2019-10-17 09:37] katbyte commented on #5699
@Drewm3,

I'm not sure what by "design" implies but as a consumer of this API & SDK this is very much a bug. The service is changing the resource group name in a way inconsistent with the rest of Azure so i'm not sure why this is a feature request?

[2019-10-18 00:58] Drewm3 commented on #5699
I cannot speak for the behavior of other resources. However, for VMs the behavior is the expected behavior from the backend system. Changing the expected behavior is going to be a design change which we typically call a feature. I cannot say that I 100% agree that the current expectation is the best. I am only sharing that the current behavior is what is expected.

[2019-10-18 03:08] mybayern1974 commented on #5974
Hi @danieladams456 , could you please provide the full chain of your Az CLI calling, covering all involved CLI cmd and parameters?

[2019-10-18 11:40] thanasisk opened #6082 "InvalidApiVersionParameter - 2018-09-30"
### Bug Report

Azure-SDK-via kubernetes

my team checked 4 kubernetes releases: 1.13.12, 1.14.7, 1.14.8, 1.15.5. All of them use incompatible azure api calls (vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/disks.go):

	pathParameters := map[string]interface{}{
		"diskName":          autorest.Encode("path", diskName),
		"resourceGroupName": autorest.Encode("path"

[2019-10-18 11:55] thanasisk commented on #6082
https://github.com/kubernetes/kubernetes/commit/4fbdb08f98946be4a1277f59a32ab92b74670abe#diff-96b1e3f28bae5519329faeac2defcc8d

[2019-10-18 12:00] thanasisk commented on #6082
https://github.com/kubernetes/kubernetes/blob/release-1.14/vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/disks.go#L87

[2019-10-18 14:00] danieladams456 commented on #5974
I'm using the [azure ad terraform provider](https://github.com/terraform-providers/terraform-provider-azuread).  I figured the Go SDK would be the better place to file an issue for alternate CA support since it didn't seem to be currently supported at this level.

[2019-10-18 23:01] ingave commented on #5915
This is not a supported SDK, we never published SDK for Azure Data Catalog.

[2019-10-18 23:03] ingave commented on #5900
This is not a supported SDK, we never published SDK for Azure Data Catalog.

[2019-10-19 07:13] ArcturusZhang commented on #5900
There is a [rest api spec](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/datacatalog/resource-manager/Microsoft.DataCatalog/stable/2016-03-30/datacatalog.json) published for data catalog, which means there will be a corresponding SDK generated.
I suppose in this bug report, `Service returned an error` may means something is wrong on the service side. Please have a look.

[2019-10-21 13:26] katbyte commented on #5915
@ingave,

This is an official Azure SDK built from the published rest API specs. Nonetheless the error here i presume is from the specs used to generate this SDK not matching what the API actually expects.

[2019-10-21 14:56] djsly commented on #5443
@ArcturusZhang  any update on this request ? Is this something we should be expecting to come available ?

[2019-10-21 15:18] tombuildsstuff commented on #5443
cc @jluk

[2019-10-21 20:27] ingave commented on #5900
ARM templates for creating Catalogs are not supported. There's no RST API SDK that is officially supported by MS.

[2019-10-21 22:39] jhendrixMSFT commented on #5603
In swagger, a discriminator is used to define polymorphic types (see [here](https://swagger.io/specification/v2/) for more details, search for the word `discriminator`).  For an example see the [BasicEventSourceCreateOrUpdateParameter](https://github.com/Azure/azure-sdk-for-go/blob/master/services/timeseriesinsights/mgmt/2017-11-15/timeseriesinsights/models.go#L1207) type.  In the func [unmarshalB

[2019-10-21 22:49] jhendrixMSFT commented on #5603
You bring up a good point about the code explosion.  Is `MarshalJSON` the only problematic method?  Perhaps we can come up with a way to toggle the behavior; by default the R/O fields would be excluded.  Easiest place to put it would be a toggle on the clients, but then you have to set it for each client.

[2019-10-22 10:38] seviourl opened #6110 "graphrbac.ServicePrincipalsClient - Failure responding to request: StatusCode=401"
### Bug Report

Hello,

When using the GraphRBAC API I always receive the error:

[code]

Here is the code that creates this:

[code]
I am expecting to be able to query Azure AD via this SDK.

[2019-10-23 05:30] ArcturusZhang commented on #6082
Hi @jhendrixMSFT do you have any insight about this? I suppose we may need more knowledge about how this [code](https://github.com/kubernetes/kubernetes/blob/release-1.14/vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/disks.go#L87) is generated

[2019-10-23 09:12] #6052 closed

[2019-10-23 09:33] itavy opened #6125 "Deployment validation and create does not return error"
### Bug Report

- import path of package in question: `.../services/resources/mgmt/2018-05-01/resources`
- SDK versio: `v34.2.0`
- output of `go version`:
[code]

i followed steps in example sdk to make a deployment
both `Validate` and `CreateOrUpdate` methods of DeploymentClient return no error, although the site responds  back with 400 status code:
[code]

[code]
it seems the problem is [this li

[2019-10-23 13:42] thanasisk commented on #6082
Here is the root cause for this on our side. In azure.json we did NOT specify resourceGroup and location. So when the API request was formed, the resourceGroupName was not present. I assume this request got routed to a different API for which the version was not valid.

[2019-10-23 15:11] jhendrixMSFT commented on #6082
@thanasisk thanks for the info, does this mean the issue is resolved?

[2019-10-23 15:13] thanasisk commented on #6082
From our side yes, however, a bit more expressive error messages would have gone a long way to help us. In any case, please consider the issue resolved.

[2019-10-23 20:09] smartip-io commented on #894
Is there any ETA on when this reaches general public availability?

[2019-10-23 20:50] kpfaulkner commented on #894
I've tried to sign up a few times (but never got anywhere). Guessing there is some criteria that I'm not meeting (will try and not take that personally ;)  ). Just wondering if it's possible to confirm that my application was submitted (but rejected)... or if there is no trace of my applications.

[2019-10-24 01:40] #6082 closed

[2019-10-24 01:41] ArcturusZhang commented on #6082
Happy to see this get resolved!

[2019-10-24 17:40] SimplyCodin commented on #894
It seems like they only accept  Microsoft employees in the beta and it seems like the person leading the project left.

[2019-10-24 19:35] jakepearson commented on #5179
I am also able to reproduce this issue consistently. Is there an ETA on a fix for the problem?

[2019-10-24 19:48] kpfaulkner commented on #894
Ahh thanks for the update. So itching to use Go with AF's, woul be so useful :(

[2019-10-24 19:51] joshgav commented on #894
I'm no longer at Microsoft so unfortunately can't tell you the current state of this anymore. We'll have to wait for the current team to reply.

[2019-10-25 06:43] itavy commented on #6125
as for this [suggestion](https://github.com/terraform-providers/terraform-provider-azurerm/pull/4704#issuecomment-545959014) we can use this workaround although the error returned from the site you cannot be sure it is because of template or because you didn't send proper request

for this it will be clear if the examples are updated to check for response error instead of relying on sdk trigger th

[2019-10-28 02:20] ArcturusZhang commented on #6110
Hi @jhendrixMSFT would you please check on this? Seems something wrong with authorization or something wrong with the service.

[2019-10-28 02:26] ArcturusZhang commented on #6125
A fix for this issue (if needed) will need the service team to come in. I have tagged this issue so the right team will see.

[2019-10-28 05:56] #5841 closed

[2019-10-28 05:58] ArcturusZhang commented on #5836
Hi @midacts there is a `AdditionalProperties` field in `UserCreateParameters` struct, maybe this could satisfy your demand.

[2019-10-28 05:58] #5836 closed

[2019-10-28 05:59] ArcturusZhang commented on #5835
Hi @midacts there is a `AdditionalProperties` in `GroupCreateParameters` struct, maybe you can use this map to store these additional properties.

[2019-10-28 05:59] #5835 closed

[2019-10-28 16:02] alex-frankel commented on #6125
@itavy is the issue that the SDK does not return an error? Or is that you can't distinguish between a poorly authored template and a malformed request because they both return 4xx?

[2019-10-28 16:18] itavy commented on #6125
my issue was the fact i cannot distinguish between 2 cases; but this was not my initial problem, but the actual [example sdk](https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/4e95ecd68b1c0969dc8e7b6bf3a3b2f7e5ecdc76/resources/deployment_test.go) that is misleading

so after investigating this a bit more there are 2 issues:
1. misleading documentation
2. no options to distinguish betw

[2019-10-28 16:22] itavy commented on #6125
btw they return 400 code, not any 4xx code. for any other 4xx request except 400 it will rise an error

[2019-10-28 16:36] jhendrixMSFT commented on #6110
The problem here is that the resource ID for the authorizer is incorrect; it should be the graph resource ID (the default is the resource manager ID).
[code]
Taken from the example code [here](https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/master/internal/iam/authorizers.go#L91).

[2019-10-28 18:15] alex-frankel commented on #6125
We just had a discussion about this.

You are right that the issue is in the autorest logic, but to make a change there would be a significant breaking change. Since you have a workaround to parse the error object to see if a 400 is present, we don't feel we need to make a breaking change like that at this time.

We will take an action to update the example sdk that you linked to. We agree it is m

[2019-10-28 21:08] itavy commented on #6125
Hi,

Sorry for the late reply, i agree with your suggestion.
You can close the issue.

Regards,
Octavian

On Mon, Oct 28, 2019, 20:15 Alex Frankel <notifications@github.com> wrote:

[2019-10-29 02:53] #6125 closed

[2019-10-29 09:00] seviourl commented on #6110
Issue closed, after changing the authorizer I can successfully authenticate with the Graph API.

Thanks @jhendrixMSFT

[2019-10-29 09:00] #6110 closed

[2019-10-30 16:41] wangjun-jwa commented on #5179
@ArcturusZhang , please close the issue.

[2019-10-31 11:34] tombuildsstuff commented on #6021
@loarabia is there any update available here? :)

[2019-10-31 14:28] wojtii opened #6206 "VirtualMachinesClient.ListAll statusOnly parameter behavior."
### Bug Report

- import path of package `../services/compute/mgmt/2019-07-01/compute`
- SDK version `v35.0.0` (via go modules)
- output of `go version` `go version go1.13 darwin/amd64`

- What happened?
I have used the new parameter `statusOnly string` with value `"true"` in this function: https://godoc.org/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute#VirtualMachines

[2019-11-01 14:38] ArcturusZhang commented on #5179
Thanks a lot!

[2019-11-01 14:38] #5179 closed

[2019-11-02 01:24] loarabia commented on #6021
@tombuildsstuff let me ping the team on email.

[2019-11-04 04:29] mbfrahry opened #6244 "Data Factory Schedule Trigger - Timezone doesn't appear to do anything"
### Bug Report

- import path of package in question `github.com/Azure/azure-sdk-for-go/services/datafactory/mgmt/2018-06-01/datafactory`
- SDK version e.g. `34.1.0`
- `go version go1.12.5 darwin/amd64`

### Issue

The Data Factory Schedule Trigger has a timezone attribute in `ScheduleTriggerRecurrence` but it doesn't appear to do anything. No matter the value I pass, whether a valid timezone or n

[2019-11-06 01:55] ArcturusZhang commented on #6206
@wojtii Thanks for the issue!

This should be a service bug. I tried to use rest api `ListAll`, when there is not query parameter `statusOnly`, everything is fine. The request URI is
[code]
When I add `statusOnly` query parameters, the service returns an error. The request URI is
[code]
The response is
[code]

I have tagged this issue so the service team will have a look at this.

[2019-11-06 03:56] Drewm3 commented on #6206
I believe the documentation for the statusOnly functionality was published before the service APIs were actually ready. Let me double check this and get back.

[2019-11-06 04:29] djsly opened #6271 "containerservice.AgentPoolsClient#CreateOrUpdate force the ManagedClusterAgentPoolProfileProperties.Count to be set"
### Bug Report

- import path of package in question, e.g. `.../services/containerservice/mgmt/2019-08-01/containerservice`
- SDK version `github.com/Azure/azure-sdk-for-go v35.0.0+incompatible`
  - Specify the exact commit if possible; one way to get this is the REVISION
    column output by `dep status "github.com/Azure/azure-sdk-for-go`.
- output of `go version`

- What happened?
[code]
- What

[2019-11-06 12:57] pvrk commented on #5662
Not sure if I am responding the right way. In the response for Async operations, you have 2 headers (Azure-AsyncOperation) or (Location). Tracking either of them should track the asynchronous operation.

[2019-11-06 17:38] katbyte opened #6276 "There is no available SQL API with all supported clients & operations"
### Bug Report

- What happened?

We have to import upwards of three different SQL api versions to fully support the sql resources:
`github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2017-03-01-preview/sql`
`github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2017-10-01-preview/sql`
`github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql`

so we get th

[2019-11-06 18:42] jfggdl commented on #5893
@katbyte,

Would you be able to provide the code snippet you are using? Please do not share anything sensitive. Are you setting up an alias with the primary and secondary pointing to the same namespace?

[2019-11-06 18:59] jfggdl commented on #5855
@katbyte, we should be releasing a fix for this lowercase issue by the end of the year.

[2019-11-06 19:08] AliMohsen commented on #5893
@katbyte This is actually by design. If you set your alias to be the same as your primary namespace name, the alias/DRC cannot be deleted. This is because the DNS entry is cleaned up as part of the delete and this will make the namespace inaccessible if a delete was done in this particular case.

What was the reason for setting the alias name to be the same as the primary namespace?

[2019-11-06 19:08] katbyte commented on #5893
@jfggdl, The terraform config that trigger it is:
[code]

So it is two separate namespaces. And there seems to be no way to "unset" an alternate name

[2019-11-06 19:30] AliMohsen commented on #5893
@katbyte Based on your config, it looks like you are setting the DR config name to the primary namespace name. Which is why you are unable to delete it, as explained in my previous comment.

If you don't actually need your alias connection string to be the same as your primary connection string, you should set the DR config name (AKA alias) to something other than the primary namespace name. In th

[2019-11-06 22:34] katbyte commented on #3805
The `2015-03-20` version doesn't seem to exist:
[code]

and i can confirm this is an issue as of today:
[code]

[2019-11-07 10:03] chlahav commented on #3007
hi @katbyte,
can you please respond with a set of commands that replicate this issue?
we did not manage to replicate it for further investigation
what we did:
- selected a free ASC subscription
- changed the workspace settings to use a manual workspace
- when we used Get workspace settings everything looks as expected (workspaceId field was updated)
- logs from a newly created VMs appeared in the

[2019-11-07 10:10] chlahav commented on #6021
hi @tombuildsstuff,
The API is indeed additive and the last API version of each type should be used.
we will keep this behavior in the future, but we're going to reduce the number of versions that we use (currently we are aligning towards "2019-01-01-preview" and "2019-01-01")

you can follow the latest composite to see the most current subset of types and versions (currently it is [package-compos

[2019-11-07 14:11] katbyte commented on #5855
Fantastic! thanks for the update @jfggdl

[2019-11-07 15:12] katbyte commented on #3007
Hi @chlahav,

We are using the rest API via the GO SDK.

So we basically call the create or update functions it provide and then do a get right after to make sure the requested changes were made. I can see fom our nightly tests that the workspace change is not always reflected, as well as ripping out the retry code and trying them with free. Below is the payloads sent to azure:

put:
[code]

read

[2019-11-07 15:16] katbyte commented on #5893
@AliMohsen,

I'm not sure i follow. If i set the name to something other than the primary namespace's name i'm not allowed to set an alternate name. And if i set an alternate name i can no longer delete the namespace...

[code]

and if i try to change the name to something else:
[code]

Maybe i am doing things in the wrong order or missing something?

[2019-11-07 17:32] adewaleo commented on #5181
@katbyte, I’m looking into this issue. My guess is it’s a service side issue. But will confirm and provide updates and hopefully a work around.

I do have a few questions to help with this investigation.

What method / operation did you call. Create or update? If you tried create, please try using update.

create uses the POST method on the ACR REST API whilst update uses PATCH. It could be that t

[2019-11-07 18:36] AliMohsen commented on #5893
@katbyte That's correct, the alternate name is only supported when the alias and primary namespace are the same. Do not set the alternate name if you want to be able to delete your DR config (along with a different alias than the primary namespace name).

The alternate name is basically there to allow you to make requests to your namespace post-failover in the case where the alias and primary name

[2019-11-07 19:33] katbyte commented on #5893
@AliMohsen,

But that is the problem, how does one delete an EH DRC once you've set an alternate name?

[2019-11-08 14:03] tombuildsstuff commented on #6271
PR to fix this: https://github.com/Azure/azure-rest-api-specs/pull/7746

[2019-11-08 15:35] djsly commented on #6271
thanks @tombuildsstuff, I didn't know about this spec repo and was looking where this definitions was managed!

[2019-11-08 16:22] AliMohsen commented on #5893
@katbyte Unfortunately it's just not something that's currently possible, for the reasons I mentioned in my first comment.

Can I ask what you're trying to achieve? Do you want to delete the DR config for your namespace, so you can set up a new one?

[2019-11-08 16:38] katbyte commented on #5181
@adewaleo, I just fired up our tests and it seems to work now! looks like something was fixed on your side 🙂 Thank you so much for looking into it

[2019-11-08 16:38] #5181 closed

[2019-11-08 20:51] katbyte commented on #5893
@AliMohsen, that seems like a bug.. if i understand correctly once you provision this resource and then add an alternate name then there is no way to remove the alternate name or delete it? - what is the reason the alternate name cannot be removed?

We are personally testing it so users of our tool (terraform) can provision, update, and delete resources.

[2019-11-08 22:04] katbyte opened #6305 "postgresql API allows capitals & invalid chars in server name/returns incorrect casing."
### Bug Report

[code]

- What happened?
the API accepts uppercase letters for sql server name but then returns the server name in all lowercase.
put: `https://management.azure.com/subscriptions/1a6092a6-137e-4025-9a7c-ef77f76f2c02/resourceGroups/acctestRG-postgres-191108135158564028/providers/Microsoft.DBforPostgreSQL/servers/acctest-PGSQL-server-191108135158564028?api-version=2017-12-01`
get: `h

[2019-11-08 23:50] ShubhaVijayasarathy commented on #5893
@katbyte , you can delete the alias if it is not associated with any secondary. Make sure that no dependencies exist and deleting the primary namespace will delete the alias as well

[2019-11-09 17:00] katbyte commented on #5893
@ShubhaVijayasarathy, could youj elaborate on the steps to delete a DRC with an alternate name then?

Lets say i have created one and added a alternate name, what are the next steps to delete the DRC?

[2019-11-10 02:40] katbyte opened #6310 "security center: Cannot delete a cosmos DB after enabling Advanced Threat Protection (API also has no update/create metholds)"
### Bug Report

- import path of package in question, e.g. `.../services/compute/mgmt/2018-06-01/compute`
- SDK version e.g. `master`, `latest`, `18.1.0`
- output of `go version`
[code]

- What happened?
After enabling & then disabling ATP on a cosmos DB account i am unable to delete the cosmosDB. I get the following error:

[code]

Also there is a spelling error in the error message: `exlusive`

[2019-11-10 03:39] mvansoens commented on #5082
Any update on this?

I can't redeploy the same arm template twice even if i'm adding other unrelated resources and  ACI and VNET resources remain unchanged.

[2019-11-11 22:45] adewaleo commented on #5181
Thanks @katbyte happy this was resolved! 😄 thanks for your patience!

[2019-11-12 05:53] Drewm3 commented on #5968
This issue has been resolved at the resource manager layer by suppressing zonal details in regions which are not ready for zones yet. For example South Central US is no longer showing any sizes available for deployment to Availability Zones.

[2019-11-12 05:53] #5968 closed

[2019-11-12 06:00] Drewm3 commented on #6206
@wojtii, I was able to confirm that this flag is something that is coming soon, but not available publicly yet. I'll update this thread once the feature is enabled for public usage.

[2019-11-12 11:49] wojtii commented on #6206
Okay, thanks for help 👍

[2019-11-12 15:22] djsly commented on #5443
@jluk what's you take here ?

[2019-11-12 17:52] jluk commented on #5443
Thanks for tagging and bumping - @djsly could you open this request on the azure/aks repo with the scenario and properties that require exposure of it? This would need to be a new feature for us to discover and investigate. There's a set of VMSS properties which we want to expose and some we do not in the hopes of being able to simplify the IaaS mgmt within AKS.

We're definitely open to discussin

[2019-11-13 01:39] ArcturusZhang commented on #6276
Yes, this is truly a problem now. However, they currently have a tag `package-composite-v3` in the sql service [readme](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/sql/resource-manager/readme.md), which is a combination of all existing api-version of sql. I could submit a release for this tag called `v3`. Similar situation happens to the security service ([readme](https

[2019-11-13 01:46] ArcturusZhang commented on #6305
Hi @katbyte I have tagged this issue so the corresponding service team will have a look at this.

[2019-11-13 01:53] djsly commented on #5443
Created: https://github.com/Azure/AKS/issues/1310

[2019-11-13 02:03] Drewm3 commented on #6310
Removing the compute label because the compute label here is generally interpreted as Virtual Machines or Scale Sets.

[2019-11-13 04:31] ArcturusZhang commented on #5853
In go SDK, api-version is hard coded. Such as
[code]
But I do a thorough search in the `services/customerinsights/mgmt/2017-01-01` directory, no `2017-04-26` is found.

[2019-11-13 16:39] jluk commented on #5443
Thank you! @djsly do you mind if we close this issue on the sdk in favor of discussing merits of the feature within AKS first?

[2019-11-13 18:22] shurd commented on #6310
Hi @katbyte thank you for opening this issue. From our logs, I can see that the operation to disable ATP on the account was running from 2:33:53 to 2:36:30. This operation has an exclusive lock on the database account. The request to delete the database account was sent at 2:34:55, while the account was locked for the other operation. Please wait for the disable ATP operation to complete before at

[2019-11-13 18:23] djsly commented on #5443
Sure no problem.  If you feel like it is worth tracking there only.

[2019-11-14 12:50] #5662 closed

[2019-11-14 15:08] GeertVL commented on #894
What is the status on this?
A good opportunity to open it up and let us contribute.

[2019-11-14 16:08] brunhil opened #6336 "Add Enrollment Group to Device Provisioning Service"
### Feature Request

Looking at the REST API for Device Provisioning Service, one can [Create or Update Enrollment Groups](https://docs.microsoft.com/en-us/rest/api/iot-dps/createorupdateenrollmentgroup/createorupdateenrollmentgroup). It would be great to have the latest version of the API supported so that functionality cold be used.

API Version is 2019-03-31

[2019-11-15 00:39] catalinaperalta opened #6342 "Add DefaultAzureCredentialOption"
Add DefaultAzureCredentialOptions type that will include fields for:
- scopes
- environment credentials
- managed identity credentials

These options will be used in the Default Credential type in azidentity

[2019-11-15 00:40] catalinaperalta opened #6344 "Add TokenRequestOptions"
Add TokenRequestOptions type and use in every GetToken call for TokenCredentials.
This option type will include a scopes field

[2019-11-15 00:42] catalinaperalta opened #6345 "Add ManagedIdentityCredentialOptions"
Add ManagedIdentityCredentialOptions type and use it to configure the Managed Identity Credential

[2019-11-15 00:43] catalinaperalta opened #6346 "Add init functions in azidentity"
Create init functions for URL initialization for AAD Identity Client authority host and for Managed Identity Client IMDS endpoint.

[2019-11-15 00:46] catalinaperalta opened #6347 "Fix ChainedTokenCredential logic and error handling"
The loop should only continue if it received a Credential Unavailable error, otherwise it should return the Token or the other error.
Fix error handling to return a credential unavailable error that includes the slice of errors. Return a nice message stating which credential failed and why.

[2019-11-15 00:47] catalinaperalta opened #6348 "Make sure GUID params are always in the same order"
Make sure GUID params are always in the same order:
tenant ID, client ID, etc...

[2019-11-15 00:49] catalinaperalta opened #6349 "Create a separate pipeline for IMDS case for azidentity"
Create a separate default pipeline for IMDS case with a custom retry policy and taking into account the recommended timeout for this case in azidentity.

Probably should be a singleton pipeline to create only one upon initializing the project.

[2019-11-15 00:52] catalinaperalta opened #6350 "Add separate handling for different Access Tokens"
Add functionality to parse the information returned in the expires_in field of the access token returned from MSI.

[2019-11-15 01:01] catalinaperalta opened #6351 "Add testing for credential types in azidentity"
Implement tests for AAD identity client and Client Secret, Client Certificate, Environment, Default Azure and Chained Token Credentials.
Implement tests for ManagedIdentityCredential

[2019-11-15 22:20] catalinaperalta opened #6360 "Fix problem when passing non-nil Identity Client Options"
When passing non-nil Identity Client Options the authority host needs to be set or else the application will panic. Add appropriate checks when creating the new AAD identity client and look into the corresponding changes in MSI client.

[2019-11-15 22:23] catalinaperalta opened #6362 "Fix problem for GetToken calls with nil TokenRequestOptions"
If we send nil TokenRequestOptions to the GetToken call for a credential, the application will panic when trying to access the scopes.

[2019-11-15 22:25] catalinaperalta opened #6363 "Fix problem when sending nil to AuthenticationFailedError constructor"
Panic when sending nil response payload to newAuthenticationFailedError()

[2019-11-17 13:36] tombuildsstuff commented on #6310
@shurd thanks for taking a look / getting back to us here.

Given the CosmosDB API is seeing the ATP Resource still kicking around, it sounds like the ATP API isn't actually disabling the ATP functionality before returning it as "Deleted". As such could we re-open this so that the Security/ATP Team could take a look here?

From our side @katbyte has mentioned there's no Update/Delete API in either

[2019-11-18 02:54] #6271 closed

[2019-11-18 08:24] neil-yechenwei opened #6374 "Failed to delete resource NetApp Account when the delete API of NetApp Pool returns 404"
### Bug Report

- Import path of package in question: https://github.com/Azure/azure-sdk-for-go/tree/master/services/netapp/mgmt/2019-06-01/netapp
- SDK version: v35.0.0
- Output of `go version`: go version go1.12.7 windows/amd64

- **What happened?**
The resource NetApp Pool depends on the resource NetApp Account. Although the delete API returns 404 which means the NetApp Pool resource has been d

[2019-11-19 04:22] #6276 closed

[2019-11-19 07:23] ArcturusZhang commented on #6276
Hi @katbyte I released package of sql v3.0:
`github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/v3.0/sql`

[2019-11-19 12:45] chlahav commented on #3007
Hi @katbyte,
is this a new workspace?
we did find an edge case that might explain your issue
if you create a new workspace and set the workspaceSettings soon afterwards it takes a little bit of time until it will show the workspace ID.
This issue does not affect the agents that are installed or any functionality aside for the "workspaceId" field in our API.